<md-input-container flex class="nv-p" ng-class="{'confirmed': confirm(), 'disabled': disabled }">

    <label for="{{::id}}" class="nv-small">{{label | translate}}</label>

    <i class="material-icons input-invalid" ng-if="form[id].$invalid">error_outline</i>

    <input type="text"
           name="{{::id}}"
           id="{{::id}}"
           aria-label="{{label | translate}}"
           ng-model="dummyModel"
           ng-maxlength="maxLength"
           ng-minlength="minLength"
           ng-model-options="{}"
           ng-click="onClick($event)"
           ng-blur="onBlur()">

    <div ng-if="!!form" ng-messages="form[id].$error" role="alert">
        <div ng-message="required">{{'commons.required-field' | translate}}</div>
    </div>

    <div class="help-text" ng-if="helpText && !confirm()">{{helpText}}</div>

    <div ng-if="!form[id].$invalid && confirm()" class="confirmation-text" role="alert">
      <div>{{::confirmText}}</div>
    </div>

</md-input-container>
