<div class="details">
  <p class="header collected-orders">{{ 'container.route-inbound.collected-orders' | translate }}</p>
  <div class="table-container">
    <nv-table
      class="collected-orders-table"
      param="ctrl.collectedOrdersTableParams"
      controller-as="ctrl">
      <nv-table-row
        use="order"
        use-virtual-repeat='false'>
        <nv-td column="processedCodAmount">
          {{ order.processedCodAmount }}
        </nv-td>
        <nv-td column="processedCodCollected">
          {{ order.processedCodCollected }}
        </nv-td>
        <nv-td column="tracking_id">
          {{ order.tracking_id }}
        </nv-td>
        <nv-td column="stamp_id">
          {{ order.stamp_id }}
        </nv-td>
        <nv-td column="customType">
          {{ order.customType }}
        </nv-td>
        <nv-td column="location">
          {{ order.location }}
        </nv-td>
        <nv-td column="contact">
          {{ order.contact }}
        </nv-td>
        <nv-td column="name">
          {{ order.name }}
        </nv-td>
      </nv-table-row>
    </nv-table>
  </div>

  <p class="header">{{ 'container.route-inbound.uncollected-orders' | translate }}</p>
  <div class="table-container">
    <nv-table
      class="uncollected-orders-table"
      param="ctrl.uncollectedOrdersTableParams"
      controller-as="ctrl">
      <nv-table-row
        use="order"
        use-virtual-repeat='false'>
        <nv-td column="processedCodAmount">
          {{ order.processedCodAmount }}
        </nv-td>
        <nv-td column="tracking_id">
          {{ order.tracking_id }}
        </nv-td>
        <nv-td column="stamp_id">
          {{ order.stamp_id }}
        </nv-td>
        <nv-td column="customType">
          {{ order.customType }}
        </nv-td>
        <nv-td column="issue">
          {{ order.issue }}
        </nv-td>
        <nv-td column="location">
          {{ order.location }}
        </nv-td>
      </nv-table-row>
    </nv-table>
  </div>

  <p class="header">{{ 'container.route-inbound.reservation-fees' | translate }}</p>
  <div class="table-container">
    <nv-table
      class="collected-reservation-fees-table"
      param="ctrl.collectedReservationFeesTableParams"
      controller-as="ctrl">
      <nv-table-row
        use="reservation"
        use-virtual-repeat='false'>
        <nv-td column="totalCollectedAmount">
          {{ reservation.totalCollectedAmount }}
        </nv-td>
        <nv-td column="shipper_name">
          {{ reservation.shipper_name }}
        </nv-td>
        <nv-td column="id">
          {{ reservation.id }}
        </nv-td>
      </nv-table-row>
    </nv-table>
  </div>
</div>