<div class="history">
  <p class="header history">{{ 'container.route-inbound.history' | translate }}</p>
  <div class="table-container">
    <nv-table
      class="cash-inbound-history-table"
      param="ctrl.cashInboundHistoryTableParams"
      controller-as="ctrl">
      <nv-table-row
        use="row"
        use-virtual-repeat='false'>
        <nv-td column="processedAmount">
          {{ row.processedAmount }}
        </nv-td>
        <nv-td column="processedType">
          {{ row.processedType }}
        </nv-td>
        <nv-td column="inbounded_by">
          {{ row.inbounded_by }}
        </nv-td>
        <nv-td column="processedCreatedAt">
          {{ row.processedCreatedAt }}
        </nv-td>
        <nv-td column="receipt_no">
          {{ row.receipt_no }}
        </nv-td>
      </nv-table-row>
    </nv-table>
  </div>
</div>