<div class="input">
  <div>
    <div class="expected-total-holder">
      <nv-input-text
        class="md-block"
        label="container.route-inbound.expected-total"
        model="ctrl.inputForm.expectedTotalText"
        readonly="true">
      </nv-input-text>
    </div>
    <div class="outstanding-amount-holder">
      <nv-input-text
        ng-if="ctrl.inputForm.outstandingAmount > 0"
        class="md-block"
        label="container.route-inbound.outstanding-amount"
        model="ctrl.inputForm.outstandingAmountText"
        readonly="true">
      </nv-input-text>

      <div ng-if="ctrl.inputForm.outstandingAmount <= 0"
           class="fully-collected">
        <i class="material-icons">done</i>
        <p>{{ 'container.route-inbound.fully-collected' | translate }}</p>
      </div>
    </div>
  </div>
  <div layout="row" layout-sm="column" layout-xs="column">
    <div flex="45" flex-sm="100" flex-xs="100">
      <nv-input-number
        class="md-block"
        currency="{{ ctrl.getCurrencySymbol() }}"
        label="container.route-inbound.cash-collected"
        name="cash-collected"
        model="ctrl.inputForm.cashCollected"
        on-change="ctrl.validateCashOrCreditCollected()"
        error-msgs="ctrl.FORM_VALIDATION.cashCollected"
        form="ctrl.inputForm.form">
      </nv-input-number>

      <nv-input-text
        class="md-block"
        name="receipt-number"
        label="container.route-inbound.receipt-number-optional"
        model="ctrl.inputForm.receiptNumber"
        form="ctrl.inputForm.form">
      </nv-input-text>
    </div>

    <div flex hide-sm hide-xs></div>

    <div flex="45" flex-sm="100" flex-xs="100">
      <nv-input-number
        class="md-block"
        currency="{{ ctrl.getCurrencySymbol() }}"
        label="container.route-inbound.credit-collected"
        name="credit-collected"
        model="ctrl.inputForm.creditCollected"
        on-change="ctrl.validateCashOrCreditCollected()"
        error-msgs="ctrl.FORM_VALIDATION.creditCollected"
        form="ctrl.inputForm.form">
      </nv-input-number>

      <nv-input-text
        ng-show="ctrl.inputForm.creditCollected > 0"
        class="md-block"
        name="receipt-or-transaction-id"
        label="container.route-inbound.receipt-or-transaction-id"
        model="ctrl.inputForm.transactionId"
        required="ctrl.inputForm.isTransactionIdRequired"
        form="ctrl.inputForm.form">
      </nv-input-text>
    </div>
  </div>
</div>