@import "../../../../../lib/ninja-commons/styles/variables";
@import "../../../../../styles/variables";

.route-group-bulk-delete {
  md-dialog {
    md-dialog-content {
      $sectionMargin: 2.8rem;

      .table-holder {
        margin-bottom: $sectionMargin;

        .table {
          > thead > tr > th {
            border-bottom: 0;
            font-weight: normal;
            font-size: 1.2rem;
            color: $nv-text-black-2;
          }

          > tbody > tr > td {
            border-top: 0;
          }
        }
      }

      .password-holder {
        padding-top: $nv-baseline-grid;
        padding-bottom: $nv-baseline-grid;

        md-input-container {
          .md-errors-spacer {
            display: none;
          }
        }
      }
    }

    md-dialog-actions {
      nv-api-text-button {
        button.md-button {
          text-transform: none;
        }
      }
    }
  }
}