<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <h2 class="md-title">{{ 'container.route-group.delete-route-groups' | translate }}</h2>
      <div>
        {{ 'container.route-group.delete-route-groups-confirmation-text' | translate }}
      </div>

      <div class="table-holder">
        <table class="table table-condensed">
          <thead>
          <tr>
            <th>{{ 'commons.sn' | translate }}</th>
            <th>{{ 'commons.model.group-name' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="routeGroup in ctrl.routeGroups">
            <td>{{ routeGroup.id }}</td>
            <td>{{ routeGroup.name }}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="password-holder">
        <nv-input-password
          class="md-block"
          label="{{'commons.password' | translate}}"
          model="ctrl.formPassword"
          form="modelForm">
        </nv-input-password>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        name="commons.go-back"
        on-click="ctrl.onCancel()">
      </nv-icon-text-button>
      <nv-api-text-button
        md-theme="nvRed"
        class="flat"
        state="ctrl.formSubmitState"
        name="container.route-group.delete-route-groups"
        disabled="!ctrl.formPassword"
        on-click="ctrl.onSave($event)">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>