<nv-dialog-header title="{{mode=='edit'?('container.reservations.edit-reservation' | translate) :('container.reservations.create-reservation' | translate)}}" 
    on-cancel="::onCancel($event)" md-theme="nvGreen"
    ng-class="{'md-nvBlue-theme': mode=='edit'}" 
    ng-cloak
>
</nv-dialog-header>
<form name="reservationForm" ng-submit="::onSave()" novalidate>
  <md-dialog-content >
    <div class="md-dialog-content" layout="row" layout-wrap layout-padding>
       <div flex="100" layout="row" layout-wrap>
            <md-input-container flex="25" class="nv-p" >
                <label  class="nv-small">{{'commons.date' | translate}}</label>
                <div class="readonly">
                    {{selectedDate | nvTime : 'operator' : 'DD MMM Y (ddd)'}}
                </div>
            </md-input-container>
            <nv-input-text
                readonly="true"
                model="reservationType"
                label="{{'container.reservations.reservation-type' | translate}}"
                flex="25">
            </nv-input-text>
       </div>

       <div flex="100" layout="row" layout-wrap>
            <nv-autocomplete
                placeholder= "{{'container.reservations.pick-up-address' | translate}}"
                flex="100"
                delegate-handle="pickup-address"
                item-types="Address"
                form="reservationForm"
                required="true"
                on-select="findNearestDp(address)"
                selected-item="address">
            </nv-autocomplete>
       </div>

       <div flex="100" layout="row" layout-wrap layout-padding>
            <nv-icon-text-button
                class="raised h6 dense" 
                md-theme="nvGreen"
                name="{{'container.reservations.add-address' | translate}}"
                show-tool-tip="false"
                ng-click="::openAddAddressDialog($event)">
            </nv-icon-text-button>
            
            <nv-icon-text-button
                class="ghost h6 dense"
                md-theme="nvGreen"
                name="{{'container.reservations.manage-addresses' | translate}}"
                show-tool-tip="false"
                ng-click="::openManageAddressDialog($event)">
            </nv-icon-text-button>
       </div>
       <div flex="100" layout="row" layout-wrap>
            <nv-autocomplete
                placeholder= "{{'container.reservations.dp-location' | translate}}"
                flex="80"
                delegate-handle="dp"
                item-types="DP"
                form="reservationForm"
                on-select="onManualChangeDp(dp)"
                required="true"
                selected-item="dp">
            </nv-autocomplete>


            <md-input-container flex="20" class="nv-p">
                <label  class="nv-small">{{'container.reservations.est-pick-up-time' | translate}}</label>
                <div class="readonly" ng-if="nearestDp.estimated_minutes">
                        {{nearestDp.estimated_minutes}}
                        {{"container.reservations.minutes" | translate}}
                </div>
            </md-input-container>
       </div>

       <div flex="100" layout="row" layout-wrap>
            <nv-input-text
                label="{{'container.reservations.shipper-name' | translate}}"
                model="reservation.name"
                form="reservationForm"
                required="true"
                flex="60">
            </nv-input-text>
            <nv-input-tel
                label="{{'container.reservations.shipper-contact' | translate}}"
                model="reservation.contact"
                form="reservationForm"
                required="true"
                flex="40">
            </nv-input-tel>
       </div>

       <div flex="100" layout="row" layout-wrap>
            <nv-input-select
                model="reservation.approxVolume"
                model-options="{}"
                label="{{'container.reservations.approx-vol-label' | translate}}"
                options="volumes"
                form="reservationForm"
                required="true"
                set-default="false"
                flex="50">
            </nv-input-select>
            <nv-input-select
                model="reservation.routeGroupId"
                model-options="{}"
                label="{{'container.reservations.select-route-group' | translate}}"
                options="nearestDp.route_group_ids"
                form="reservationForm"
                required="true"
                set-default="false"
                flex="50">
            </nv-input-select>
       </div>

       <div flex="100" layout="row" layout-wrap>
            <nv-input-textarea
                flex="100"
                model="reservation.comments"
                label="{{'container.reservations.comments' | translate}}"
                model-options={}
                form="reservationForm">
            </nv-input-textarea>
       </div>





    </div>
  </md-dialog-content>
  <md-dialog-actions ng-show="mode=='add'">
      <nv-api-text-button
            class="raised"
            md-theme="nvGreen"
            name="{{'container.reservations.create-reservation' | translate }}"
            state="state"
            form="reservationForm"
            on-click="::createReservation()"
            buttonId="create-reservation"
        >
        </nv-api-text-button>
    </md-dialog-actions>
    <md-dialog-actions ng-show="mode=='edit'">
        <nv-api-text-button
            class="ghost"
            md-theme="nvGreen"
            name="{{'container.reservations.cancel-reservation' | translate }}"
            icon="close"
            state="deleteState"
            on-click="::deleteReservation(reservation)"
            buttonId="cancel-reservation"
        >
        </nv-api-text-button>
        <div flex></div>
        <nv-api-text-button
            class="raised"
            md-theme="nvGreen"
            name="{{'commons.save-changes' | translate }}"
            icon="done"
            state="state"
            form="reservationForm"
            on-click="::saveReservation()"
            buttonId="save-reservation"
        >
        </nv-api-text-button>
    </md-dialog-actions>

</form>
