<nv-dialog-header title="{{ 'container.cod-list.cod-edit' | translate }}" on-cancel="::onCancel($event)"></nv-dialog-header>

<form name="modelForm" ng-submit="::onSave()" md-theme="nvBlue">

    <md-dialog-content>
        <div class="md-dialog-content">
            <nv-input-text
                class="md-block"
                label="{{fields.id.displayName | translate}}"
                model="fields.id.value"
                form="modelForm"
                readonly="::true">
            </nv-input-text>

            <nv-input-number
                class="md-block"
                label="{{fields.routeId.displayName | translate}}"
                model="fields.routeId.value"
                form="modelForm"
                required="::true">
            </nv-input-number>

            <nv-input-number
                class="md-block"
                label="{{fields.amountCollected.displayName | translate}}"
                model="fields.amountCollected.value"
                form="modelForm"
                currency="{{currency}}"
                step="::0.01"
                min="0"
                required="::true">
            </nv-input-number>

            <nv-input-text
                class="md-block"
                label="{{fields.receiptNo.displayName | translate}}"
                model="fields.receiptNo.value"
                form="modelForm"
                required="::true">
            </nv-input-text>
        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <nv-button-save name="Submit" form="modelForm" state="saveButtonState"></nv-button-save>
    </md-dialog-actions>

</form>
