nv-status-box {

}

nv-status-box .quick-button.small.content {
  padding: 0.1rem;
}

nv-status-box .content .count {
  font-size: 1.2rem;
  color: #808080;
}

nv-status-box .content .description {
  text-transform: capitalize;
}

nv-status-box .is-selected {
  background-color: #add8e6;
}
