<div class="quick-button small content" ng-class="{'is-selected': isSelected}" ng-click="onClick()" title="{{tooltip}}">
    <div class="count">{{count}}</div>
    <i class="{{iconClass}}"></i>
    <div class="description">{{description}}</div>
</div>
