.nv-container-set-aside {
  height: 100%;

  .loaded {
    height: 100%;

    .setting-page {
      .horizontal-padding { padding: 0 0.8rem; }
      .vertical-padding { padding: 0.8rem 0; }
      .custom-padding-1 { padding: 0.2rem 0.8rem; }

      .row-container {
        border-style: solid;
        border-color:  grey;
        border-width: 0.1rem 0;
        margin: 0.2rem, 0.4rem;
        padding: 0;

        .dnrs {
          border-style: solid;
          border-color:  grey;
          border-width: 0 0.1rem;

          .dnrs-name {
            margin-left: 0.4rem;
          }

          span.bold {
            font-weight: 800;
          }
        }
      }

      .fetch-select {

        md-input-container {
          padding: 0.2rem 0;

          > label {
            padding-left: 0;
          }
        }
      }
    }

    .content-page {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;

      .navigation {

      }

      .table-container {
        position: relative;
        flex: 1;
        
        nv-table {
          // column width
          @include nv-table-column-width(order-id, 20rem);
          @include nv-table-column-width(transaction-id, 28rem);
          @include nv-table-column-width(order-status, 10rem);
          @include nv-table-column-width(transaction-status, 14rem);
          @include nv-table-column-width(granular-status, 18rem);
          @include nv-table-column-width(start-time, 18rem);
          @include nv-table-column-width(end-time, 14rem);
          @include nv-table-column-width(route-id, 16rem);
          @include nv-table-column-width(dnr, 20rem);

          @include nv-table-row-height(8rem);
        }
      }
    }
  }
}
