<md-content 
  class="nv-container-set-aside"
  nv-load="ctrl.function.init"
  loading-message="{{'container.set-aside.load-data' | translate}}">
  
  <div class="setting-page" layout="column" layout-padding ng-if="ctrl.state.page === 0">
    <div class="settings" layout layout-align="space-between">
      <h5>Current Settings</h5>
      <nv-icon-text-button
        class="raised"
        md-theme="nvGreen"
        name="commons.settings"
        icon="settings"
        on-click="::ctrl.function.openSettings($event)">
      </nv-icon-text-button>
    </div>
    <div class="row-container" ng-repeat="arr in ctrl.data.dnrs.containerChunked" layout>
      <div class="dnrs" ng-repeat="child in arr" flex layout layout-align="space-around">
        <div class="dnrs-name" flex="66"><span class="bold">{{ 'commons.group' | translate }}: </span>{{child.name}}</div>
        <div class="dnrs-value" flex="33"><span class="bold">{{ 'commons.size' | translate }}: </span>{{child.counter}}</div>
      </div>
    </div>
    <div class="fetch-select">
      <h5 class="vertical-padding">{{ 'container.set-aside.fetch-transactions-by-dnr' | translate }}</h5>
      <div layout>
        <md-input-container class="field-container" flex="60">
          <label>{{ 'container.set-aside.set-aside-group' | translate }}</label>
          <md-select ng-model="ctrl.data.selectedDnr" ng-model-options="{trackBy: '$value.id'}" aria-label="dnr-select">
            <md-option ng-value="opt.value" ng-repeat="opt in ctrl.data.dnrs.asOptions">
              {{ opt.displayName }}
            </md-option>
          </md-select>
        </md-input-container>
        <div class="custom-padding-1">
          <nv-api-text-button
            md-theme="nvBlue"
            name="commons.fetch"
            class="raised"
            state="ctrl.state.fetch"
            on-click="ctrl.function.fetchTransactions($event, ctrl.data.selectedDnr)"
            disabled="ctrl.function.isTransactionDisabled()">
          </nv-api-text-button>
        </div>
      </div>
    </div>
  </div>

  <div class="content-page" ng-if="ctrl.state.page === 1">
    <div class="navigation" layout="row" layout-padding layout-align="space-between none">
      <nv-icon-text-button
        icon="arrow_back"
        name="commons.back"
        on-click="::ctrl.function.switchToPage(0)"
        md-theme="nvBlue"
        class="raised">
      </nv-icon-text-button>
    </div>
    <div class="table-container">
      <nv-table
        param="ctrl.data.tableParam"
        controller-as="ctrl"
        selectable="true">
        <nv-table-row use="data">
          <nv-index></nv-index>
          <nv-td column="orderId">
            {{data.orderId || '-'}}
          </nv-td>
          <nv-td column="transactionId">
            {{data.transactionId || '-'}}
          </nv-td>
          <nv-td column="orderStatus">
            {{data.orderStatus || '-'}}
          </nv-td>
          <nv-td column="transactionStatus">
            {{data.transactionStatus || '-'}}
          </nv-td>
          <nv-td column="granularStatus">
            {{data.granularStatus || '-'}}
          </nv-td>
          <nv-td column="startTime">
            {{data.startTime || '-'}}
          </nv-td>
          <nv-td column="endTime">
            {{data.endTime || '-'}}
          </nv-td>
          <nv-td column="routeId">
            {{data.routeId || '-'}}
          </nv-td>
          <nv-td column="dnr">
            {{data.dnr || '-'}}
          </nv-td>
        </nv-table-row>
      </nv-table>
    </div>
  </div>
</md-content>