@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../lib/ninja-commons/styles/mixins/typography.mixins";

.nv-container-tags {
  height: 100%;
  padding: 1rem;

  @include nv-media-query-md-min {
    padding: 2rem;
  }

  .fill-height {
    height: 100%;
  }

  div[class*="flex"] {
    margin: auto;
  }

  > div {
    height: 100%;

    md-content {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;

      .header {
        margin-bottom: 1rem;

        h4 {
          margin-top: 5px;
          span {
            @include nv-font-color(black, 2);
          }
        }
      }

      .table-container {
        position: relative;
        flex: 1;

        nv-table {
          // column width
          @include nv-table-column-width(name, 18rem);
          @include nv-table-column-width(description, 100%);

          // action columns
          @include nv-table-action-columns(nv-table-action-width("two-dense-p"));

          tr.last-row td.end-of-result {
            .end-of-table {
              height: 5rem !important;

              p {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}