<md-content class="nv-container-tags"
            nv-load="ctrl.getTags" loading-message="{{'container.tag-management.load-tags' | translate}}">
  <div layout="row" class="fill-height">
    <div flex flex-gt-sm="66" class="fill-height">
      <md-content>
        <div class="header">
          <div layout="row">
            <h4 ng-bind-html="'container.tag-management.x-tags' | translate:'{count:'+ctrl.tableParam.getLength()+'}'"></h4>
            <span flex></span>
            <nv-create-button
              name="container.tag-management.create-tag"
              on-click="::ctrl.addTag($event)">
            </nv-create-button>
          </div>
        </div>

        <div class="table-container" ng-if="!ctrl.tableParam.empty">
          <nv-table
            param="ctrl.tableParam"
            controller-as="ctrl">
            <nv-table-row
              use="tag">
              <nv-index></nv-index>
              <nv-td column="name" filter="false">
                {{tag.name}}
              </nv-td>
              <nv-td column="description" filter="false">
                {{tag.description}}
              </nv-td>
              <nv-action column="actions">
                <div class="nv-icon-button-group" layout="row" layout-align="center center">
                  <nv-icon-button
                    md-theme="nvBlue"
                    class="ghost dense"
                    name="commons.edit"
                    icon="edit"
                    on-click="ctrl.editTag($event, tag.id)">
                  </nv-icon-button>
                </div>
              </nv-action>
            </nv-table-row>
          </nv-table>
        </div>

        <div class="nv-p" ng-if="ctrl.tableParam.empty">{{'container.tag-management.no-tag-exist' | translate}}</div>
      </md-content>
    </div>
  </div>
</md-content>