<md-content class="nv-container-qrcode-printing md-padding">

  <div class="input-container" layout="row" layout-align="space-around start">
    <nv-input-text
      class="md-block"
      label="container.qrcode-printing.input-text"
      model="ctrl.value">
    </nv-input-text>

    <nv-icon-button
      class="raised"
      md-theme="nvBlue"
      name="container.qrcode-printing.print"
      icon="print"
      on-click="ctrl.print()"
      disabled="!ctrl.isValid()">
    </nv-icon-button>
  </div>

  <div ng-if="ctrl.isValid()">
    <nv-qrcode value="ctrl.value" size="16" show-value show-border></nv-qrcode>
  </div>

</md-content>
