@import "../../../../../lib/ninja-commons/styles/mixins/table.mixins";

md-dialog.print-airway-bills {
  $defaultWidth: 600px !important;

  width: $defaultWidth;

  md-dialog {
    max-width: $defaultWidth;

    .button-holder {
      text-align: right;

      nv-icon-text-button {
        display: inline-block;
      }
    }

    .table-container {
      nv-table {
        // column width
        @include nv-table-column-width(id, 100%);
        @include nv-table-column-width(total, 12rem);

        // action columns
        @include nv-table-action-columns(nv-table-action-width("two-dense-p"));

        .total {
          text-align: center;
        }

        .actions {
          text-align: center;
        }

        .last-row:not(.last-row-no-result) {
          $lastRowHeight: 5rem !important;

          height: $lastRowHeight;

          .end-of-result {
            height: $lastRowHeight;

            .end-of-table {
              height: $lastRowHeight;

              p {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}