<nv-dialog-header
  title="{{ 'container.order.list.print-waybills' | translate }}"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <div layout="row" layout-xs="column">
        <div flex>
          <nv-input-select
            name="select-printing-size"
            class="md-block"
            label="container.order.list.choose-your-printing-size"
            model="ctrl.printingSize"
            model-options="{}"
            options="ctrl.printingSizeSelectionOptions"
            form="modelForm">
          </nv-input-select>
        </div>
        <div flex="50" flex-xs="100"
             class="button-holder">
          <nv-icon-text-button
            button-id="button-download-selected"
            class="raised"
            icon="print"
            name="container.order.list.download-selected"
            disabled="ctrl.getSelectedCount() <= 0"
            on-click="ctrl.bulkPrintAirwayBills($event)">
          </nv-icon-text-button>
        </div>
      </div>

      <div class="table-container">
        <nv-table
          selectable="true"
          param="ctrl.ordersToChunksTableParams"
          controller-as="ctrl">
          <nv-table-row
            use="ordersToChunk"
            use-virtual-repeat='false'>
            <nv-index></nv-index>
            <nv-td column="id" filter="false">
              {{ ctrl.getFileName(ordersToChunk.id) }}
            </nv-td>
            <nv-td column="total" filter="false">
              {{ ordersToChunk.total }}
            </nv-td>
            <nv-action column="actions">
              <div layout="row" layout-align="center center">
                <nv-icon-button
                  ng-if="!ordersToChunk.isDownloading"
                  md-theme="nvYellow"
                  class="ghost dense"
                  name="container.order.list.print-waybills"
                  icon="print"
                  on-click="ctrl.printAirwayBills(ordersToChunk)">
                </nv-icon-button>
                <md-progress-circular class="md-primary"
                                      md-mode="indeterminate"
                                      md-diameter="30px"
                                      ng-if="ordersToChunk.isDownloading">
                </md-progress-circular>
              </div>
            </nv-action>
          </nv-table-row>
        </nv-table>
      </div>
    </md-dialog-content>
  </md-dialog>
</form>