<div class="autocomplete-container">

  <md-icon class="add">
    <i class="material-icons">add</i>
  </md-icon>

  <md-autocomplete
      md-search-text="searchText"
      md-items="item in querySearch(searchText)"
      md-item-text="item.displayName"
      md-selected-item-change="::onSelectedItemChange(item)"
      md-min-length="0"
      md-no-cache="::true"
      md-autoselect="::true"
      placeholder="{{::placeholder}}">

    <md-item-template>
      <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.displayName}}</span>
    </md-item-template>

    <md-not-found>
      No matches.
    </md-not-found>

  </md-autocomplete>

  <md-icon class="arrow-drop-down" ng-show="!searchText">
    <i class="material-icons">arrow_drop_down</i>
  </md-icon>

</div>

<div class="list-container">
  <div ng-repeat="item in selectedOptions" layout="row">

    <div class="nv-text-ellipsis name" flex>{{item.displayName}}</div>

    <div flex="none">
      <md-checkbox
          aria-label="Selected"
          ng-model="item._selected">
      </md-checkbox>
    </div>

  </div>
</div>

<div class="button-container" ng-show="selectedOptions.length > 0" layout="row" layout-align="space-between center">

  <md-button
      aria-label="Select All"
      ng-click="::onClickSelectAll()">
    Select All
  </md-button>

  <md-button
      aria-label="Unselect All"
      ng-click="::onClickUnSelectAll()">
    Unselect All
  </md-button>

</div>
