<nv-dialog-header title="{{'container.parcel-sweeper.sync-orders-by-destination-hub' | translate}}" 
on-cancel="::ctrl.onCancel($event)" cancel-text="{{'commons.discard-changes' | translate }}"></nv-dialog-header>


<md-dialog-content layout="row" layout-padding layout-wrap>
  <md-tabs md-dynamic-height class="hub-tab" md-border-bottom>
    <!--tab 1 start-->
    <md-tab label="Hubs" ng-click="ctrl.func.onTabChanged(0)">
      <md-content class="md-padding hubs">
        <!--1st row-->
        <div layout="row" layout-xs="column" class="hub-autocomplete-container">
          <nv-autocomplete            
                  class="md-block"
                  placeholder="{{'commons.hub' | translate}}"
                  search-text="ctrl.searchText"
                  selected-options="ctrl.selectedHubs"
                  display-by="displayName"
                  delegate-handle="hubs-auto"
                  item-types="hub"
                  multiple="true"
                  show-suggestion-when-empty="true">
        </div>
        <div layout="row" class="hub-name-container" layout-wrap>
          <div ng-repeat="hub in ctrl.selectedHubs">
            <nv-icon-text-button
              name="{{hub.displayName}}"
              icon-position="right"
              icon="close"
              md-theme="nvRed"
              class="ghost dense hub-pill"
              aria-label="{{hub.name}}"            
              on-click="ctrl.onRemoveItem(hub)">
            </nv-icon-text-button>
          </div>
        </div>
      </md-content>
    </md-tab>
    <!--tab 1 end-->

    <!--tab 2 start-->
    <md-tab label="Hub Groups" ng-click="ctrl.func.onTabChanged(1)">
      <md-content class="md-padding hub-groups">
        <!--1st row-->
        <div layout="row">
          <nv-input-text
            label="container.parcel-sweeper.hub-group"
            name="container.parcel-sweeper.hub-group"
            model="hubGroupSearch.name"
            on-change="ctrl.onSearchHubGroup()">
          </nv-input-text>
        </div>
        <!--box-->
        <div class="border" layout="row" layout-wrap>
          <table class="hub-group-table">
            <thead>
              <tr>
                <th class="hub-group-name">{{'container.parcel-sweeper.hub-group-name' | translate}}</th>
                <th class="hub-name">{{'container.parcel-sweeper.hub-names' | translate}}</th>
                <th class="selector">
                  <nv-input-checkbox model="ctrl.selectAll" on-change="ctrl.onSelectAll(ctrl.selectAll)"></nv-input-checkbox>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="hubGroup in ctrl.hubGroups | filter:hubGroupSearch">
                <td class="hub-group-name">{{hubGroup.name}}</td>
                <td class="hub-name">{{hubGroup.hubsName}}</td>
                <td class="selector">
                  <nv-input-checkbox model="hubGroup.selected"></nv-input-checkbox>
                </td>
              </tr>
              <tr ng-if="ctrl.data.hubGroups.length === 0">
                <td colspan="3">
                  {{'container.parcel-sweeper.no-data' | translate}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </md-content>
    </md-tab>
    <!--tab 2 end-->
  </md-tabs>
</md-dialog-content>
<md-dialog-actions layout="row">
  <div flex></div>
  <nv-api-text-button
    class="raised"
    name="container.parcel-sweeper.sync"
    state="ctrl.state"    
    on-click="ctrl.onSync()">
  </nv-api-text-button>
</md-dialog-actions>
