<nv-dialog-header title="{{'container.same-day-route-engine.failed-to-save-some-of-the-timeslot' | translate}}" on-cancel="subCtrl.onCancel()" cancel-text="commons.cancel">
</nv-dialog-header>

<md-dialog-content class="nv-sdre-failed-upload-container">
    <div layout="row" layout-wrap>
        <div flex="100">
            <p>{{"container.same-day-route-engine.the-following-timeslots-are-failed-to-save" | translate }}</p>
        </div>           
    </div>

    <div class="failed-upload-table-container">
            <nv-table class="failed-table" param="subCtrl.tableParam" controller-as="subCtrl">
                <nv-table-row use="timeslot">
                    <nv-index></nv-index>
                    <nv-td column="tracking_id">
                        {{timeslot.tracking_id}}
                    </nv-td>
                    <nv-td column="message">
                        {{timeslot.message || '-'}}
                    </nv-td>
                </nv-table-row>
            </nv-table>
    </div>
</md-dialog-content>
<md-dialog-actions>
    <nv-icon-text-button
        text="commons.close"
        on-click="subCtrl.onCancel()"
        class="ghost"
        md-theme="nvBlue">
    </nv-icon-text-button>
</md-dialog-actions>