<nv-dialog-header title="Unrouted Waypoint Details" on-cancel="::ctrl.onCancel($event)" md-theme="nvBlue" cancel-text="commons.cancel"></nv-dialog-header>

<md-dialog-content class="nv-sdre-waypoint-detail" >
        <div layout="row" layout-wrap layout-padding>
            <div flex="20">
                <span>{{"container.same-day-route-engine.number-of-waypoints" | translate}}</span>
                <p><b>{{ctrl.wpIDs.length}}</b></p>
            </div>
        </div>


        <div class="waypoint-table-container">
            <nv-table
                class="waypoint-table"
                param="ctrl.tableParam"
                controller-as="ctrl"
            >
                <nv-table-row use="wp">
                    <nv-td column="seq">
                        {{wp.seq}}
                    </nv-td>
                    <nv-td column="wpId">
                        {{wp.id}}
                    </nv-td>
                    <nv-td column="type">
                        {{wp.type}}
                    </nv-td>
                    <nv-td column="shipper">
                        {{wp.shipper}}
                    </nv-td>
                    <nv-td column="address">
                        {{wp.address}}
                    </nv-td>
                    <nv-td column="tracking_id">
                        {{wp.tracking_id}}
                    </nv-td>
                    <nv-td column="originalStart">
                        {{wp.originalStart | nvTime:'operator':'datetime'}}
                    </nv-td>
                    <nv-td column="originalEnd">
                        {{wp.originalEnd | nvTime:'operator':'datetime'}}
                    </nv-td>
                </nv-table-row>

            </nv-table>
        </div>
</md-dialog-content>