<nv-dialog-header title="Waypoint Details" on-cancel="::ctrl.onCancel($event)" md-theme="nvBlue" cancel-text="commons.cancel"></nv-dialog-header>

<md-dialog-content class="nv-sdre-waypoint-detail" >
        <div layout="row" layout-wrap layout-padding>
            <div flex="20">
                <span>{{"container.same-day-route-engine.route-group" | translate }}</span>
                <p><b>{{ctrl.routeName}}</b></p>
            </div>

            <div flex="20">
                <span>{{"container.same-day-route-engine.number-of-waypoints" | translate}}</span>
                <p><b>{{ctrl.wpData.length}}</b></p>
            </div>
            <div flex></div>
            <div flex="20" ng-if="ctrl.problem_type=='BULKY_PICKUP_DELIVERY'">
                <md-datepicker                
                    ng-model="ctrl.suggested_date"
                    md-placeholder="{{'container.route-group.enter-date' | translate}}">
                </md-datepicker>
            </div>
            <nv-api-text-button
                ng-if="ctrl.problem_type=='BULKY_PICKUP_DELIVERY'"
                icon="save"
                text="container.same-day-route-engine.update-timeslot"
                on-click="ctrl.onSaveSuggestedRoute()"
                state="ctrl.savingState"
                class="raised"
                md-theme="nvBlue"
            >
            </nv-api-text-button>
            <nv-download-csv-button
                        ng-if="ctrl.tableParam.getLength()>0"
                        id="button-download-as-csv"
                        class="raised"
                        md-theme="nvGreen"
                        name="Download CSV"
                        filename="{{ctrl.csvFileName}}"
                        data="ctrl.tableParam.getTableData()"
                        csv-header="{{ctrl.csvHeader}}"
                        csv-column-order="{{ctrl.csvField}}">
            </nv-download-csv-button>

        </div>


        <div class="waypoint-table-container">
            <nv-table
                class="waypoint-table"
                param="ctrl.tableParam"
                controller-as="ctrl"
            >
                <nv-table-row use="wp">
                    <nv-td column="seq">
                        {{wp.seq}}
                    </nv-td>
                    <nv-td column="wpId">
                        {{wp.id || '-'}}
                    </nv-td>
                    <nv-td column="type">
                        {{wp.type || '-'}}
                    </nv-td>
                    <nv-td column="shipper">
                        {{wp.shipper || '-'}}
                    </nv-td>
                    <nv-td column="address">
                        {{wp.address || '-'}}
                    </nv-td>
                    <nv-td column="tracking_id">
                        {{wp.tracking_id || '-'}}
                    </nv-td>
                    <nv-td column="originalStart">
                        {{wp.originalStart? (wp.originalStart | nvTime:'operator':'datetime') : '-' }}
                    </nv-td>
                    <nv-td column="suggestedStart">
                        {{wp.suggestedStart | nvTime:'operator':'datetime'}}
                    </nv-td>
                    <nv-td column="originalEnd">
                        {{wp.originalEnd? (wp.originalEnd | nvTime:'operator':'datetime') : '-'}}
                    </nv-td>
                    <nv-td column="suggestedEnd">
                        {{wp.suggestedEnd | nvTime:'operator':'datetime'}}
                    </nv-td>
                    <nv-td column="trackingUrl">
                        <a target="_blank" href="{{wp.trackingUrl}}">{{wp.trackingUrl}}</a>
                    </nv-td>
                </nv-table-row>

            </nv-table>
        </div>
</md-dialog-content>