.shipper-pickups-bulk-priority-edit-dialog {
  $defaultWidth: 70rem;
  $label-color: rgba(33, 33, 33, 0.67);
  $tag-padding: 0.4rem;

  width: $defaultWidth !important;

  .horizontal-padding {
    padding: 0rem 1.4rem;
  }

  .md-dialog-content {
    min-height: 15rem;
    max-height: 45rem;

    .table-holder {
      margin-top: $nv-baseline-grid;
      margin-bottom: $nv-baseline-grid;

      .table {

        > thead > tr > th {
          border-bottom: 0;
          font-weight: normal;
          font-size: 1.2rem;
          color: $nv-text-black-2;
        }

        > tbody > tr > td {
          border-top: 0;
          vertical-align: middle;

          > span {
            @include nv-font-color(black, 2);
            padding-left: 0.4rem;
            min-height: 2.8rem;
            display: inline-block;
          }

          md-input-container {
            margin: 0;

            label {
              display: none;
            }

            .md-errors-spacer {
              min-height: 0;
            }
          }
        }

        .field-container {
          md-select {
            margin: 0;
          }
        }

        .custom-input-style {
          margin: 0rem;

          .md-errors-spacer {
            min-height: 0.1rem;
          }
        }

        .custom-button-style {
          margin-top: 0.4rem;
        }
      }
    }
  }
}
