<nv-dialog-header
  title="Bulk Priority Edit"
  on-cancel="ctrl.function.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>
<form name="modelForm">
  <md-dialog-content>
    <!-- LOADING -->
    <div class="md-dialog-content" ng-if="ctrl.state.view === 0">
      <h5>{{ 'commons.load-data' | translate }}</h5>
    </div>
    <!-- CONTENT -->
    <div class="md-dialog-content" ng-if="ctrl.state.view === 1">
      <h2 class="md-title">{{ 'container.non-inbounded.update-priority-level.title' | translate }}</h2>
      <div>{{ 'container.non-inbounded.update-priority-level.description' | translate }}</div>

      <div layout layout-align="end">
        <nv-icon-text-button
          md-theme="nvBlue"
          class="ghost dense"
          name="container.shipper-pickups.dialog.set-to-all"
          icon="{{ ctrl.state.isSetToAll ? 'check_box' : 'check_box_outline_blank' }}"
          on-click="ctrl.state.isSetToAll = !ctrl.state.isSetToAll">
        </nv-icon-text-button>
      </div>
      <div class="plain-separator"></div>
      
      <div class="table-holder">
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th>{{ 'commons.reservation-id' | translate }}</th>
            <th>{{ 'container.non-inbounded.update-priority-level.priority-level' | translate }}</th>
          </tr>
          </thead>
        <tbody>
          <tr ng-repeat="data in ctrl.data.reservations">
            <td>{{ data.id }}</td>
            <td>
              <div layout ng-if="(ctrl.state.isSetToAll && $index <= 0) || !ctrl.state.isSetToAll">
                <nv-input-number
                  name="Priority Level"
                  label="Priority Level"
                  model="data.priorityLevel"
                  form="modelForm"
                  required="true"
                  min="{{data.minPriorityLevel}}"
                  max="10000"
                  on-change="ctrl.function.priorityUpdateChanged(data)">
                </nv-input-number>
              </div>
              <div ng-if="ctrl.state.isSetToAll && $index > 0">
                {{ data.priorityLevel }} 
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- ERROR -->
    <div class="md-dialog-content" ng-if="ctrl.state.view === 2">
      <h5>ERROR</h5>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <nv-api-text-button
      md-theme="nvGreen"
      name="commons.save-changes"
      icon="check"
      class="raised"
      state="ctrl.state.saveButtonState"
      form="modelForm"
      disabled="ctrl.function.isAnyFieldsEmpty()"
      on-click="ctrl.function.onSave($event)">
    </nv-api-text-button>
  </md-dialog-actions>
</form>