.set-aside-configurations-dialog {
  .horizontal-padding { padding: 0 0.8rem; }
  .vertical-padding { padding: 0.8rem 0; }
  
  .main-settings {
    md-input-container>md-select>md-select-value {
      padding: 0.2rem 0.2rem 0;
    }
  }

  .tag-filter-holder {
    $tag-padding: 0.4rem;
    $length: 15;

    display: table;
    width: 100%;
    white-space: nowrap;
    padding-bottom: $tag-padding;

    nv-icon-text-button {
      display: inline-block;
      float: left;
      margin-left: $tag-padding;
      margin-top: $tag-padding;
      @for $i from 1 to $length {
        $idx: ($i % $length);
        &:nth-child(#{$length}n+#{$idx}) .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors, $idx + 1); border-color: nth($nv-colors, $idx + 1); &:hover { border-color: darken(nth($nv-colors, $idx + 1), 10%); } }
      }
    }
  }
}