<nv-dialog-header
  title="container.set-aside.set-aside-configurations"
  on-cancel="ctrl.function.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>
<form name="modelForm">
  <md-dialog-content ng-if="ctrl.state.view === ctrl.view.lce.LOADING">
    <h5>Loading</h5>
  </md-dialog-content>
  <md-dialog-content ng-if="ctrl.state.view === ctrl.view.lce.CONTENT" layout="column" layout-padding>
    <!-- MAIN SETTINGS -->
    <div class="main-settings">
      <div layout class="vertical-padding">
        <h5>{{ 'container.set-aside.set-aside-group' | translate }}</h5>
      </div>
      <div layout>
        <md-input-container class="field-container" flex="60">
          <label>{{ 'container.set-aside.set-aside-group' | translate }}</label>
          <md-select ng-model="ctrl.data.main.selectedDnr" ng-model-options="{trackBy: '$value.id'}" aria-label="dnr-select">
            <md-option ng-value="opt.value" ng-repeat="opt in ctrl.view.main.dnrOptions">
              {{ opt.displayName }}
            </md-option>
          </md-select>
        </md-input-container>

        <nv-input-number flex="30"
          name="container.set-aside.set-aside-max-deliv-days"
          label="container.set-aside.set-aside-max-deliv-days"
          model="ctrl.data.main.maxDeliveryDays"
          form="modelForm"
          required="true">
        </nv-input-number>
      </div>
      <div layout>
        <div class="md-block field-container" layout="column" flex="40">
          <label>{{ 'commons.hubs' | translate }}</label>
          <nv-autocomplete
            search-text="ctrl.data.main.hubSearchText"
            delegate-handle="set-aside-hubs-autocomplete"
            item-types="hub"
            multiple="true"
            hide-search-icon="::true">
          </nv-autocomplete>
        </div>
      </div>
      <div layout layout-wrap class="tag-filter-holder">
        <nv-icon-text-button
          ng-repeat="item in ctrl.function.getSelectedHubs()"
          name="{{::item.displayName}}"
          icon-position="right"
          icon="close"
          class="ghost dense filter-button custom"
          aria-label="{{::item.displayName}}"
          on-click="::ctrl.function.removeHub(item)">
        </nv-icon-text-button>
      </div>

      <div layout class="vertical-padding">
        <div class="md-block field-container" layout="column" flex="40">
          <label>{{ 'commons.zones' | translate }}</label>
          <nv-autocomplete
            search-text="ctrl.data.main.zoneSearchText"
            delegate-handle="set-aside-zones-autocomplete"
            item-types="zone"
            multiple="true"
            hide-search-icon="::true">
          </nv-autocomplete>
        </div>
      </div>
      <div layout layout-wrap class="tag-filter-holder">
        <nv-icon-text-button
          ng-repeat="item in ctrl.function.getSelectedZones()"
          name="{{::item.displayName}}"
          icon-position="right"
          icon="close"
          class="ghost dense filter-button custom"
          aria-label="{{::item.displayName}}"
          on-click="::ctrl.function.removeZone(item)">
        </nv-icon-text-button>
      </div>

      <div layout class="vertical-padding">
        <div>
          <nv-api-text-button
            md-theme="nvRed"
            name="commons.disable"
            class="raised"
            state="ctrl.state.main.disable"
            on-click="ctrl.function.disableSetAside()">
          </nv-api-text-button>
        </div>
        <div class="horizontal-padding">
          <nv-api-text-button
            md-theme="nvBlue"
            name="commons.update"
            class="raised"
            disabled="!ctrl.function.isValidSetAsideSettings()"
            state="ctrl.state.main.update"
            on-click="ctrl.function.updateSetAside()">
          </nv-api-text-button>
        </div>
      </div>
    </div>

    <!-- RESET SETTINGS -->
    <div class="reset-set-aside">
      <div layout class="vertical-padding">
        <h5>{{ 'container.set-aside.set-aside-reset' | translate }}</h5>
      </div>
      <div layout>
        <md-input-container class="field-container" flex="60">
          <label>{{ 'container.set-aside.set-aside-reset' | translate }}</label>
          <md-select ng-model="ctrl.data.reset.selectedDnr" ng-model-options="{trackBy: '$value.id'}" aria-label="shipper-type">
            <md-option ng-value="opt.value" ng-repeat="opt in ctrl.view.reset.dnrOptions">
              {{ opt.displayName }}
            </md-option>
          </md-select>
        </md-input-container>
        <div class="horizontal-padding">
          <nv-api-text-button
            md-theme="nvRed"
            name="commons.reset"
            class="raised"
            state="ctrl.state.reset.reset"
            disabled="ctrl.function.isResetSetAsideDisabled()"
            on-click="ctrl.function.resetSetAside()">
          </nv-api-text-button>
        </div>
      </div>
    </div>

    <!-- RESET COUNTER SETTINGS -->
    <div class="reset-set-aside-counter">
      <div layout class="vertical-padding">
        <h5>{{ 'container.set-aside.set-aside-reset-counter' | translate }}</h5>
      </div>
      <div layout class="vertical-padding">
        <div class="md-block field-container" layout="column" flex="40">
          <label>{{ 'container.set-aside.set-aside-group' | translate }}</label>
          <nv-autocomplete
            search-text="ctrl.data.resetCounter.hubSearchText"
            delegate-handle="set-aside-dnr-autocomplete"
            item-types="hub"
            multiple="true"
            hide-search-icon="::true">
          </nv-autocomplete>
        </div>
      </div>
      <div layout layout-wrap class="tag-filter-holder">
        <nv-icon-text-button
          ng-repeat="item in ctrl.function.getSelectedDnrs()"
          name="{{::item.displayName}}"
          icon-position="right"
          icon="close"
          class="ghost dense filter-button custom"
          aria-label="{{::item.displayName}}"
          on-click="::ctrl.function.removeDnr(item)">
        </nv-icon-text-button>
      </div>
      <div layout class="vertical-padding">
        <div>
          <nv-api-text-button
            md-theme="nvRed"
            name="commons.reset"
            class="raised"
            state="ctrl.state.resetCounter.reset"
            disabled="ctrl.function.isResetCounterDisabled()"
            on-click="ctrl.function.resetSetAsideCounter()">
          </nv-api-text-button>
        </div>
        <div class="horizontal-padding">
          <nv-api-text-button
            md-theme="nvBlue"
            name="commons.recalc"
            class="raised"
            state="ctrl.state.resetCounter.recalc"
            disabled="ctrl.function.isRecalcCounterDisabled()"
            on-click="ctrl.function.recalcCounter()">
          </nv-api-text-button>
        </div>
      </div>
    </div>

    <!-- SOFT LIMIT SETTINGS -->
    <div class="set-aside-soft-limit">
      <div layout class="vertical-padding">
        <h5>{{ 'container.set-aside.set-aside-soft-limit' | translate }}</h5>
      </div>
      <div layout>
        <nv-input-number
          name="container.set-aside.set-aside-soft-limit"
          label="container.set-aside.set-aside-soft-limit"
          model="ctrl.data.softLimit.value"
          min="0"
          max="9999"
        ></nv-input-number>
        <nv-api-text-button
          md-theme="nvRed"
          name="commons.set"
          class="raised"
          state="ctrl.state.softLimit.set"
          disabled="ctrl.function.isSoftLimitDisabled()"
          on-click="ctrl.function.setSoftLimit()">
        </nv-api-text-button>
      </div>
    </div>
  </md-dialog-content>
</form>