@import "../../../lib/ninja-commons/styles/variables";
@import "../../../styles/variables";

.nv-container-singtel-parcel-status {
  .backdrop-loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $nv-text-black-3;
    z-index: 10000;

    md-progress-circular {
      width: 5rem;
      height: 5rem;
      margin: auto !important;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  nv-icon-text-button {
    display: inline-block;
  }

  md-card {
    padding : 1.5rem;
    max-height: 30rem;
    overflow-y: auto;

    &.success-container {
      margin-bottom: $nv-baseline-grid*2;
    }

    &.error-container {
      background: $nv-normal-hover-red;
    }
  }
}
