<div class="nv-container-singtel-parcel-status">
  <div class="backdrop-loading" ng-if="ctrl.backdropLoading">
    <md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>
  </div>

  <div layout="column" layout-padding>
    <div flex class="nv-text-center">
      <h5>{{"container.singtel-parcel-status.upload-your-csv-here" | translate}}</h5>
    </div>
    <div flex class="nv-text-center">
      <nv-icon-text-button
        class="raised h5"
        md-theme="nvBlue"
        name="{{'commons.upload-csv' | translate}}"
        on-click="ctrl.openUploadDialog($event)">
      </nv-icon-text-button>
    </div>
    <div flex class="nv-text-center">
      <nv-icon-text-button
        md-theme="nvBlue"
        class="ghost"
        name="container.singtel-parcel-status.download-sample-file"
        icon="file_download"
        on-click="ctrl.downloadSampleCsv()">
      </nv-icon-text-button>
    </div>

    <div flex
         ng-if="ctrl.successTrackingIds.length > 0 || ctrl.errorTrackingIds.length > 0">
      <md-card class="success-container"
               ng-if="ctrl.successTrackingIds.length > 0">
        <h5>{{'container.singtel-parcel-status.success-upload-following-tracking-id' | translate}}</h5>
        <ul>
          <li ng-repeat="trackingId in ctrl.successTrackingIds">
            {{ trackingId }}
          </li>
        </ul>
      </md-card>

      <md-card class="error-container"
               ng-if="ctrl.errorTrackingIds.length > 0">
        <h5>{{'container.singtel-parcel-status.error-upload-following-tracking-id' | translate}}</h5>
        <ul>
          <li ng-repeat="trackingId in ctrl.errorTrackingIds">
            {{ trackingId }}
          </li>
        </ul>
      </md-card>
    </div>
  </div>
</div>