<div class="header-container" layout="row" layout-align="start center">
	<div class="main-title">
		<p class="medium nv-text-ellipsis">{{ mainTitle | translate }}</p>
	</div>

	<div class="text-container" layout="row" layout-align="start center" flex>
    <nv-input-text
      label="{{ mainTitle | translate }}"
      placeholder="{{::placeholder}}"
      model="model">
    </nv-input-text>
	</div>

	<div class="primary-button-container"
			 ng-if="!isMandatory">
		<nv-icon-button class="flat dense" name="commons.remove-filter" icon="close" on-click="::onClose()">
		</nv-icon-button>
	</div>
</div>