<md-dialog>
  <md-dialog-content class="md-dialog-content">
    <h2 class="md-title">{{ 'container.reservation-preset-management.selection-error' | translate }}</h2>
    <div>{{ 'container.reservation-preset-management.selection-error-description' | translate }}</div>

    <div layout="column">
      <div flex>
        <div class="data-blocks">
          <div class="data-block">
            <label>{{ 'commons.process' | translate }}</label>
            <p>{{ ctrl.groupsValidationErrorData.action | translate }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="table-holder">
      <table class="table table-condensed">
        <thead>
        <tr>
          <th>{{ 'container.reservation-preset-management.group' | translate }}</th>
          <th>{{ 'commons.reason' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in ctrl.groupsValidationErrorData.errors">
          <td>{{ row.name }}</td>
          <td>{{ row.errorMessage | translate }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div layout="column">
      <div flex>
        <p>{{ 'container.reservation-preset-management.selection-error-instruction' | translate }}</p>
      </div>
    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <nv-icon-text-button
      class="flat"
      name="commons.go-back"
      on-click="ctrl.onCancel()">
    </nv-icon-text-button>
    <nv-icon-text-button
      md-theme="nvRed"
      class="flat"
      name="commons.continue"
      on-click="ctrl.onProceed()">
    </nv-icon-text-button>
  </md-dialog-actions>
</md-dialog>