<md-content
        class="nv-container-linehaul-dates"
        nv-load="ctrl.getLinehauls" >
    <div layout="row">
        <div flex="60">
            <nv-calendar
                md-theme="nvBlue"
                class="calendar linehaul-calendar"
                ng-model="ctrl.selectedDate"
                on-change-month="ctrl.onChangeMonth"
                on-day-click="ctrl.onDayClicked"
                delegate-handle="linehaul"
                clear-data-cache-on-load="true"
                template-url="views/container/linehaul/tabs/linehaul-date/linehaul-date-calendar.html"
                >
            </nv-calendar>
        </div>
        <div flex="40">
            <md-card class="selected-date-linehaul">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <span>{{'container.linehaul.entries.route' | translate}}</span>
                    </div>
                </md-toolbar>
                <md-card-content>
                    <h5>
                        {{ctrl.selectedLinehaulDate}}
                    </h5>
                    <md-list>
                        <md-list-item ng-repeat="linehaul in ctrl.linehaulsForDate" class="linehaul-list-item">
                            <md-card>
                                <md-card-content layout="row" layout-wrap>
                                    <div flex="100" layout="row">
                                        <h5>{{linehaul.name}}</h5>
                                        <div flex></div>
                                        <nv-icon-text-button class="flat" name="enable"></nv-icon-text-button>
                                    </div>
                                    <div flex="100">
                                        <span class="small">Linehaul ID : {{linehaul.id}}</span>
                                    </div>
                                    <div flex="100">
                                        {{linehaul.linehaulLegsString}}
                                    </div>
                                    <div flex="100">
                                        {{linehaul.frequency}}
                                    </div>
                                    <div flex="100" layout="row">
                                        <nv-icon-text-button class="ghost" name="disable selected date" ng-click="ctrl.onDisable()"></nv-icon-text-button>
                                        <nv-icon-text-button class="ghost" name="edit linehaul" ng-click="ctrl.onEdit(linehaul,$event)"></nv-icon-text-button>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </md-list-item>
                    </md-list>
                    <nv-icon-text-button icon="add" class="raised" ng-click="ctrl.onCreate($event)" name="create linehaul"></nv-icon-text-button>
                </md-card-content>
            </md-card>
        </div>
    </div>
</md-content>
