<div class="linehaul-calendar-item">
   <div class="linehaul-date-item-cal">
       <p  ng-repeat="lh in $calendar.linehauls track by $index" class="nv-p">
           {{$index+1}}. {{lh}}
       </p>
   </div>
</div>
