@import "../../../../../lib/ninja-commons/styles/variables";
@import "../../../../../styles/variables";
@import "../../../../../views/container/order/order.mixins";

.order-edit-reschedule {
  $defaultWidth: 800px !important;

  width: $defaultWidth;

  // commons
  .fill-width {
    width: 100%;
  }

  // custom
  md-dialog {
    max-width: $defaultWidth;

    md-dialog-content {
      padding: $nv-baseline-grid*2;

      .box {
        margin-top: $nv-baseline-grid*2;
        margin-bottom: $nv-baseline-grid*2;
        border: 1px solid $nv-light3;
        -webkit-border-radius: $nv-baseline-grid/2;
        -moz-border-radius: $nv-baseline-grid/2;
        border-radius: $nv-baseline-grid/2;

        h5 {
          color: $nv-text-black-2;
          font-weight: normal;
        }

        @include data-blocks;
        .data-blocks {
          .data-block {
            margin-top: $data-block-top-spacing;
            margin-bottom: $data-block-top-spacing;
            max-width: 300px;
          }

          &:first-child {
            margin-top: 0;
          }
        }

        md-input-container {
          .md-errors-spacer {
            display: none;
          }

          &.shipper-requested {
            margin-top: -$nv-baseline-grid*2;
          }
        }
      }

      .change-address-btn-holder {
        nv-icon-text-button {
          margin-left: $nv-baseline-grid;
          margin-right: $nv-baseline-grid;
        }
      }

      .change-new-address-holder {
        nv-icon-text-button {
          &:not(:last-child) {
            margin-right: $nv-baseline-grid;
          }

          margin-bottom: $nv-baseline-grid/2;
        }
      }
    }
  }
}