<nv-dialog-header
  title="{{ ctrl.key.dialogTitle | translate}}"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<form name="modelForm" ng-submit="ctrl.onSave()">
  <md-dialog>
    <md-dialog-content ng-if="ctrl.pageState === ctrl.PAGE_STATE.CONTENT">
      <div layout="row" layout-xs="column" layout-wrap layout-padding
           class="box">
        <div flex="100">
          <h5>{{ ctrl.key.basicDetails | translate }}</h5>
        </div>
        <div flex="33" flex-xs="100">
          <nv-input-text
            class="md-block"
            label="{{ ctrl.key.labelName }}"
            model="ctrl.order._form.name"
            form="modelForm">
          </nv-input-text>
        </div>
        <div flex="33" flex-xs="100">
          <nv-input-text
            class="md-block"
            label="{{ ctrl.key.labelContact }}"
            model="ctrl.order._form.contact"
            form="modelForm">
          </nv-input-text>
        </div>
        <div flex="33" flex-xs="100">
          <nv-input-text
            class="md-block"
            label="{{ ctrl.key.labelEmail }}"
            model="ctrl.order._form.email"
            form="modelForm">
          </nv-input-text>
        </div>
      </div>
      <div layout="column" layout-wrap layout-padding
           class="box">
        <div>
          <h5>{{ 'commons.schedule' | translate }}</h5>
        </div>
        <div layout="row">
          <nv-input-date ng-if="!ctrl.isUseDp"
            label="{{ ctrl.key.inputDate }}"
            model="ctrl.order._form.date"
            required="true"
            form="modelForm">
          </nv-input-date>

          <nv-input-select flex="40"
            label="{{ ctrl.key.inputTimeslot }}"
            model="ctrl.order._form.timewindowId"
            model-options="{}"
            required="true"
            options="ctrl.timeslotOptions"
            form="modelForm">
          </nv-input-select>
        </div>

        <div layout="row" ng-if="ctrl.isUseDp">
          <nv-input-select flex="40"
            label="container.order.edit.edit-dp-management-dp-name"
            show-label="::true"
            model="ctrl.order._form.selectedDp"
            model-options="{}"
            options="ctrl.dpOptions"
            on-change="ctrl.onDpChanged()"
            searchable="true"
          ></nv-input-select>
          <nv-input-select flex="40" ng-if="ctrl.dateOptions.length > 0"
            label="container.order.edit.edit-dp-management-dropoff-date"
            show-label="::true"
            model="ctrl.order._form.selectedDropOffDate"
            model-options="{}"
            options="ctrl.dateOptions"
          ></nv-input-select>
        </div>

        <div>
          <md-checkbox ng-model="ctrl.isUseDp" aria-label="use-dp">
            Use DP
          </md-checkbox>
        </div>
      </div>
      <div layout="column" layout-padding
           class="box">
        <div flex>
          <h5>{{ 'container.order.edit.current-address' | translate }}</h5>
        </div>
        <div flex>
          <div class="data-blocks">
            <div class="data-block">
              <label>{{ 'commons.country' | translate }}</label>
              <p>{{ ctrl.order._form.oldCountry || '-' }}</p>
            </div>
            <div class="data-block">
              <label>{{ 'commons.city' | translate }}</label>
              <p>{{ ctrl.order._form.oldCity || '-' }}</p>
            </div>
          </div>

          <div class="data-blocks">
            <div class="data-block">
              <label>{{ 'commons.address1' | translate }}</label>
              <p>{{ ctrl.order._form.oldAddress1 || '-' }}</p>
            </div>
            <div class="data-block">
              <label>{{ 'commons.address2' | translate }}</label>
              <p>{{ ctrl.order._form.oldAddress2 || '-' }}</p>
            </div>
          </div>

          <div class="data-blocks">
            <div class="data-block">
              <label>{{ 'commons.postcode' | translate }}</label>
              <p>{{ ctrl.order._form.oldPostcode || '-' }}</p>
            </div>
          </div>
        </div>
      </div>
      <div layout="column"
           class="change-address-btn-holder"
           ng-if="!ctrl.order._form.isChangeNewAddress">
        <nv-icon-text-button
          class="ghost fill-width "
          name="container.order.edit.change-address"
          on-click="ctrl.toggleChangeNewAddress()">
        </nv-icon-text-button>
      </div>
      <div layout="column" layout-padding
           class="box change-new-address-holder"
           ng-if="ctrl.order._form.isChangeNewAddress && !ctrl.order._form.isAddressFinder">
        <div flex>
          <div layout="row" layout-sm="column" layout-xs="column">
            <h5>{{ 'container.order.edit.new-address' | translate }}</h5>
            <span flex></span>
            <nv-icon-text-button
              class="ghost dense"
              name="container.order.edit.cancel-address-change"
              on-click="ctrl.toggleChangeNewAddress()">
            </nv-icon-text-button>
            <nv-icon-text-button
              class="ghost dense"
              name="commons.address-finder"
              icon="search"
              on-click="ctrl.order._form.isAddressFinder = !ctrl.order._form.isAddressFinder">
            </nv-icon-text-button>
          </div>
        </div>
        <div flex>
          <nv-input-text
            label="commons.country"
            model="ctrl.order._form.country"
            form="modelForm"
            required="true">
          </nv-input-text>
          <nv-input-text
            label="commons.city"
            model="ctrl.order._form.city"
            form="modelForm"
            required="true">
          </nv-input-text>
        </div>
        <div flex>
          <div layout="row" layout-sm="column" layout-xs="column">
            <div flex>
              <nv-input-text
                class="md-block"
                label="commons.address1"
                model="ctrl.order._form.address1"
                form="modelForm"
                required="true">
              </nv-input-text>
            </div>
            <div flex>
              <nv-input-text
                class="md-block"
                label="commons.address2"
                model="ctrl.order._form.address2"
                form="modelForm">
              </nv-input-text>
            </div>
          </div>
        </div>
        <div flex>
          <nv-input-text
            label="commons.postcode"
            model="ctrl.order._form.postcode"
            form="modelForm"
            required="true">
          </nv-input-text>
        </div>
      </div>
      <div layout="column" layout-padding
           class="box address-finder-holder"
           ng-if="ctrl.order._form.isChangeNewAddress && ctrl.order._form.isAddressFinder">
        <nv-address-finder
          on-search-mode-changed="ctrl.onAddressFinderSearchModeChanged(mode)"
          callback="ctrl.onAddressFinderCallback(address)">
        </nv-address-finder>
      </div>
    </md-dialog-content>
    <md-dialog-content ng-if="ctrl.pageState === ctrl.PAGE_STATE.LOADING">
      <md-progress-circular md-mode="indeterminate" md-diameter="100"></md-progress-circular>
    </md-dialog-content>
    <md-dialog-actions>
      <nv-api-text-button
        md-theme="nvGreen"
        name="commons.save-changes"
        icon="check"
        class="raised"
        state="ctrl.formSubmitState"
        disabled="!ctrl.isAbleToSubmit()"
        on-click="ctrl.onSave()">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>