.input-time-select{
    md-input-container{
        margin:0;
    }
    md-select{
        text-align: right;
        md-select-value{
            min-width: 42px;
        }
    }
    span.hour-separator{
        margin-top:1rem;
        text-align: center;
    }
}