<div layout="row" layout-wrap class="input-time-select">
    <label ng-if="label" for="select-hour" flex="100" class="nv-small">{{label | translate}}</label>    
    <nv-input-select
            name="select-hour"
            label="select-hour"
            show-label="false"
            flex="45"
            model="hour"
            set-default="false"
            disabled="disabled"
            placeholder="-"
            model-options="{}"
            options="hourValues">
    </nv-input-select>
    <span class="hour-separator" flex="10">:</span>
    <nv-input-select
            name="select-minute"
            label="select-minute"
            show-label="false"
            set-default="false"
            disabled="disabled"
            flex="45"
            placeholder="-"
            model="minute"
            model-options="{}"
            options="minuteValues">
    </nv-input-select>
</div>