@import "../../../ninja-commons/styles/classes/color.classes";

.nv-hint {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0.4rem;
  border-radius: 0.2rem;

  md-icon {
    margin-right: 0.7rem;
  }
}

.nv-hint.info {
  background: $nv-highlight-blue;
  color: $nv-dark-blue;
  p, md-icon {
    color: $nv-dark-blue;
  }
}

.nv-hint.error {
  background: $nv-highlight-yellow;
  color: $nv-dark-yellow;
  p, md-icon {
    color: $nv-dark-yellow;
  }
}

.nv-hint.warning {
  background: $nv-highlight-red;
  color: $nv-dark-red;
  p, md-icon {
    color: $nv-dark-red;
  }
}