<div layout="row" layout-wrap class="nv-hint {{type}}">
        <md-icon flex="5">
            <i class="material-icons">{{icon}}</i>
        </md-icon>
        <p flex ng-bind-html="text | translate">            
        </p>
</div>
