<div class="header-container" layout="row" layout-align="start center">
	<div class="main-title">
		<p class="medium nv-text-ellipsis">{{ mainTitle | translate }}</p>
	</div>

	<div class="text-container" layout="row" layout-align="start center" flex="50" layout-padding>
        <md-input-cotainer>
            <input type="number" ng-model="fromModel"></md-input-cotainer>
        </md-input-cotainer>    
		<p>{{unit}}  <b>{{'commons.to' | translate}}</b></p>
		<md-input-cotainer>
            <input type="number" ng-model="toModel"></md-input-cotainer>
        </md-input-cotainer>  
		<p>{{unit}}</p>  

	</div>

	<div class="primary-button-container" layout="row" layout-align="end center" flex>
		<nv-icon-button class="flat dense" name="commons.remove-filter" icon="close" on-click="::onClose()">
		</nv-icon-button>
	</div>
</div>