@import "../../../../../lib/ninja-commons/styles/variables";
@import "../../../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../../../styles/variables";

md-dialog.order-add-to-route {
  // commons
  .fill-width {
    width: 100%;
  }

  // custom
  md-dialog-content {
    display: block;

    md-input-container {
      .md-errors-spacer {
        display: none;
      }
    }

    .route-tags-selection {
      md-select {
        md-select-value {
          span {
            white-space: normal;
            .md-container {
              display: none;
            }
          }
        }
      }
    }

    &.non-multiselect {
      .box {
        margin-top: $nv-baseline-grid*2;
        margin-bottom: $nv-baseline-grid*2;
        border: 1px solid $nv-light3;
        -webkit-border-radius: $nv-baseline-grid/2;
        -moz-border-radius: $nv-baseline-grid/2;
        border-radius: $nv-baseline-grid/2;

        h5 {
          color: $nv-text-black-2;
          font-weight: normal;
        }

        nv-api-text-button {
          display: inline-block;
          margin-top: 1rem;
        }
      }
    }

    &.multiselect {
      .buttons-holder {
        text-align: right;
        margin-top: $nv-baseline-grid*2;

        nv-icon-text-button, nv-api-text-button {
          display: inline-block;
          vertical-align: bottom;
        }
      }

      .table-holder {
        margin-top: $nv-baseline-grid;
        margin-bottom: $nv-baseline-grid;

        .table {
          width: 100%;
          margin: 0;
          &.table-virtual-container{
            max-height: 30rem !important;
            min-height: 20rem !important;
            .md-virtual-repeat-offsetter {
              margin-right: 10px;
            }
          }
          .table-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 3.5rem;
            &:nth-child(odd) {
              background: #f9f9f9;
            }
            & > div {
              border-top: 0;
              vertical-align: middle;
              & > span {
                @include nv-font-color(black, 2);
                padding-left: 0.4rem;
                min-height: 2.8rem;
                display: inline-block;
              }            
              md-input-container {
                margin: 0;  
                label {
                  display: none;
                }
                input {
                  border-bottom-color: #DFDFDF;
                }
              }
            }
          }
          .table-row-end {
            background: #253746;
            width: 100%;
            text-align: center;            
            height: 4rem;
            p {
              color: #ffffff;
              font-size: 12px;
              line-height: 40px;
            }
          }

          th.table-tracking-id, div.table-tracking-id{
            width: 25rem !important;
            word-break: break-all;
          }
          th.table-type, div.table-type{
            width: 15rem !important;
          }

          th.table-edit-route, div.table-edit-route{
            width: 15rem !important;
          }

          th.table-edit-route-tag, div.table-edit-route-tag{
            width: 30rem !important;
          }

          > thead > tr > th {
            border-bottom: 0;
            font-weight: normal;
            font-size: 1.2rem;
            color: $nv-text-black-2;
          }         
        }
      }
    }
  }
}