<form name="modelForm">
  <md-dialog nv-load="ctrl.getAll"
             loading-message="{{'container.order.edit.load-data' | translate}}">
    <md-dialog-content ng-if="!ctrl.settings.isMultiSelect"
                       class="md-dialog-content non-multiselect">
      <!-- non multiselect version -->
      <h2 class="md-title">{{ 'container.order.edit.add-to-route' | translate }}</h2>
      <div>{{ 'container.order.edit.add-to-route-confirmation-text' | translate }}</div>

      <div layout="row" layout-xs="column" layout-padding>
        <div flex>
          <nv-input-text
            class="md-block"
            label="container.order.edit.route"
            model="ctrl.formData.orders[0].routeId"
            on-change="ctrl.resetWaypointIndex(ctrl.formData.orders[0])"
            form="modelForm">
          </nv-input-text>
        </div>
        <div flex="33" flex-xs="100">
          <nv-input-select
            class="md-block"
            class="transaction-type-selection"
            label="commons.type"
            model="ctrl.formData.orders[0].transactionType"
            model-options="{}"
            options="ctrl.transactionTypeSelectionOptions"
            on-change="ctrl.resetWaypointIndex(ctrl.formData.orders[0])"
            form="modelForm">
          </nv-input-select>
        </div>
      </div>

      <div class="box"
           layout="column" layout-padding>
        <div flex>
          <h5>{{ 'container.order.edit.route-finder' | translate }}</h5>
        </div>
        <div flex>
          <div layout="row">
            <div flex>
              <nv-input-select
                class="route-tags-selection md-block"
                label="container.order.edit.route-tags"
                model="ctrl.formData.orders[0].tags"
                model-options="{}"
                options="ctrl.tagSelectionOptions"
                set-default="false"
                multiple="true">
              </nv-input-select>
            </div>
            <div>
              <nv-api-text-button
                md-theme="nvBlue"
                class="raised dense"
                state="ctrl.formData.routeFinder.submitState"
                name="container.order.edit.suggest-route"
                disabled="ctrl.formData.routeFinder.isSubmitDisabled()"
                on-click="ctrl.formData.routeFinder.suggestRoute()">
              </nv-api-text-button>
            </div>
          </div>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-content ng-if="ctrl.settings.isMultiSelect"
                       class="md-dialog-content multiselect">
      <!-- multiselect version -->
      <h2 class="md-title">{{ 'container.order.edit.add-to-route' | translate }}</h2>
      <div>{{ 'container.order.edit.add-to-route-confirmation-text' | translate }}</div>

      <div layout="row">
        <div>
          <p>{{ctrl.formData.orders.length}} {{'commons.orders' | translate}}</p>
        </div>
        <div flex
             class="buttons-holder">
          <nv-icon-text-button
            md-theme="nvBlue"
            class="ghost dense"
            name="container.order.edit.set-to-all"
            icon="{{ ctrl.formData.isSetToAll ? 'check_box' : 'check_box_outline_blank' }}"
            on-click="ctrl.formData.isSetToAll = !ctrl.formData.isSetToAll">
          </nv-icon-text-button>

          <nv-icon-text-button
            ng-if="!ctrl.formData.routeFinder.isViewActive"
            class="ghost dense"
            name="container.order.edit.route-finder"
            on-click="ctrl.formData.routeFinder.isViewActive = !ctrl.formData.routeFinder.isViewActive">
          </nv-icon-text-button>

          <nv-api-text-button
            ng-if="ctrl.formData.routeFinder.isViewActive"
            md-theme="nvGreen"
            class="raised dense"
            state="ctrl.formData.routeFinder.submitState"
            name="container.order.edit.suggest-routes"
            disabled="ctrl.formData.routeFinder.isSubmitDisabled()"
            on-click="ctrl.formData.routeFinder.suggestRoute()">
          </nv-api-text-button>
          <nv-icon-text-button
            ng-if="ctrl.formData.routeFinder.isViewActive"
            class="ghost dense"
            name="commons.close"
            on-click="ctrl.formData.routeFinder.isViewActive = !ctrl.formData.routeFinder.isViewActive">
          </nv-icon-text-button>
        </div>
      </div>

      <div class="table-holder">
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th class="table-tracking-id">{{ 'commons.tracking-id' | translate }}</th>
            <th class="table-type" ng-if="!ctrl.formData.routeFinder.isViewActive">{{ 'commons.type' | translate }}</th>
            <th class="table-edit-route" ng-if="!ctrl.formData.routeFinder.isViewActive">{{ 'container.order.edit.route' | translate }}</th>
            <th class="table-edit-route-tag" ng-if="ctrl.formData.routeFinder.isViewActive">{{ 'container.order.edit.route-tags' | translate }}</th>
          </tr>
          </thead>
        </table>                
        <div class="table table-condensed table-striped table-virtual-container" md-virtual-repeat-container>
          <div class="table-row" md-virtual-repeat="order in ctrl.formData.orders">
                  <div class="table-tracking-id">{{ order.trackingId }}</div>
                  <div class="table-type" ng-if="!ctrl.formData.routeFinder.isViewActive">
                    <nv-input-select
                      ng-if="(ctrl.formData.isSetToAll && $index <= 0) || !ctrl.formData.isSetToAll"
                      class="md-block"
                      class="transaction-type-selection"
                      label="commons.type"
                      model="ctrl.formData.orders[$index].transactionType"
                      model-options="{}"
                      options="ctrl.transactionTypeSelectionOptions"
                      on-change="ctrl.transactionTypeChanged(ctrl.formData.orders[$index])"
                      form="modelForm">
                    </nv-input-select>
      
                    <span ng-if="ctrl.formData.isSetToAll && $index > 0">
                      {{ ctrl.getTxnTypeName(ctrl.formData.orders[$index].transactionType) | translate }}
                    </span>
                  </div>
                  <div class="table-edit-route" ng-if="!ctrl.formData.routeFinder.isViewActive">
                    <nv-input-text
                      ng-if="(ctrl.formData.isSetToAll && $index <= 0) || !ctrl.formData.isSetToAll"
                      class="md-block"
                      label="container.order.edit.route"
                      model="ctrl.formData.orders[$index].routeId"
                      on-change="ctrl.routeIdChanged(ctrl.formData.orders[$index])"
                      form="modelForm">
                    </nv-input-text>
      
                    <span ng-if="ctrl.formData.isSetToAll && $index > 0">
                      {{ ::ctrl.formData.orders[$index].routeId || '&nbsp;' }}
                    </span>
                  </div>
                  <div class="table-edit-route-tag" ng-if="ctrl.formData.routeFinder.isViewActive">
                    <nv-input-select
                      ng-if="(ctrl.formData.isSetToAll && $index <= 0) || !ctrl.formData.isSetToAll"
                      class="route-tags-selection md-block"
                      label="container.order.edit.route-tags"
                      model="ctrl.formData.orders[$index].tags"
                      model-options="{}"
                      options="ctrl.tagSelectionOptions"
                      on-change="ctrl.routeTagsChanged(ctrl.formData.orders[$index])"
                      set-default="false"
                      multiple="true">
                    </nv-input-select>
      
                    <span ng-if="ctrl.formData.isSetToAll && $index > 0">
                      {{ ctrl.getTagsName(ctrl.formData.orders[$index].tags) || '&nbsp;' }}
                    </span>
                  </div>
          </div>
          <div class="table-row-end">
            <p>{{ 'directive.table.end-of-table' | translate }}</p>
          </div>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        name="commons.go-back"
        on-click="ctrl.onCancel()">
      </nv-icon-text-button>
      <nv-api-text-button
        class="flat"
        state="ctrl.formSubmitState"
        name="{{ctrl.submitButtonName}}"
        disabled="ctrl.isFormSubmitDisabled()"
        on-click="ctrl.onSave($event)">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>