.nv-container-dp-administration-dps {

  height: 100%;

  .loaded {
    height: 100%;

    .main-container {
      height: 100%;

      .table-container {
        position: relative;
        flex: 1;
        
        nv-table {
          // column width
          @include nv-table-column-width(dpms_id, 8rem);
          @include nv-table-column-width(name, 20rem);
          @include nv-table-column-width(short_name, 16rem);
          @include nv-table-column-width(hub, 18rem);
          @include nv-table-column-width(address, 34rem);
          @include nv-table-column-width(directions, 24rem);
          @include nv-table-column-width(activity, 12rem);
  
          @include nv-table-row-height(8rem);
  
          // action columns
          @include nv-table-action-columns(nv-table-action-width("two-dense-p"));

          .inactive { color: red; }
          .active { color: green; }
        }
      }
    }
  }

}
