<md-content
  class="nv-container-dp-administration-dps"
  nv-load="ctrl.getDPs" loading-message="Loading distribution points...">

  <div layout="column" flex class="main-container">
    <div md-theme="nvBlue" class="filter-breadcrumbs" layout="row" layout-padding>
      <nv-filter-breadcrumb
        title="{{::ctrl.dpPartnerName}}"
        subtitle="{{'commons.partner' | translate}}"
        on-click="::ctrl.goBackToDPPartners()">
      </nv-filter-breadcrumb>
    </div>
    <div layout layout-align="space-between" layout-padding>
      <div>
        <h5>{{ 'container.dp-administration.dps.title' | translate }}</h5>
      </div>
      <div layout layout-padding>
        <nv-icon-text-button
          name="commons.download-csv"
          label="commons.download-csv"
          on-click="ctrl.downloadCsv()"
          class="raised"
          md-theme="nvBlue">
        </nv-icon-text-button>
        <nv-icon-text-button
          name="container.dp-administration.dps.add-title"
          class="raised"
          md-theme="nvGreen"
          icon="add"
          text="container.dp-administration.dps.add-title"
          on-click="ctrl.addDP()"
        ></nv-icon-text-button>
      </div>
    </div>
    <div class="table-container">
      <nv-table
        param="ctrl.tableParam"
        controller-as="ctrl">
        <nv-table-row use="data">
          <nv-td column="dpms_id">
            {{data.id || '-'}}
          </nv-td>
          <nv-td column="name">
            {{data.name || '-'}}
          </nv-td>
          <nv-td column="short_name">
            {{data.short_name || '-'}}
          </nv-td>
          <nv-td column="hub">
            {{data.hub.displayName || '-'}}
          </nv-td>
          <nv-td column="address">
            {{data._address || '-'}}
          </nv-td>
          <nv-td column="directions">
            {{data.directions || '-'}}
          </nv-td>
          <nv-td column="activity" ng-class="{ 'inactive': !data.is_active, 'active': data.is_active }">
            {{data._is_active || '-'}}
          </nv-td>
          <nv-action column="actions">
            <nv-icon-button
              md-theme="nvBlue"
              class="ghost dense"
              name="Edit"
              icon="edit"
              on-click="ctrl.editDP($event, data)">
            </nv-icon-button>
            <nv-icon-button
              md-theme="nvGreen"
              class="ghost dense"
              name="View DPs"
              icon="arrow_forward"
              on-click="ctrl.viewDPUsers(data)">
            </nv-icon-button>
          </nv-action>
        </nv-table-row>
      </nv-table>
    </div>
  </div>
</md-content>
