<nv-dialog-header 
  title="{{ 'container.third-party-shipper.add-shipper' | translate }}" 
  on-cancel="::onCancel($event)" 
  cancel-text="commons.cancel">
</nv-dialog-header>

<form name="modelForm" ng-submit="::onSave()" md-theme="nvBlue">
  <md-dialog-content>
    <div class="md-dialog-content">
      <div class="md-block multi-input-row" layout="row" layout-xs="column">
        <nv-input-text
          class="md-block"
          flex="80" flex-xs="100"
          label="{{::fields.name.displayName}}"
          model="fields.name.value"
          form="modelForm"
          required="::true">
        </nv-input-text>

        <nv-input-text
          class="md-block"
          flex="20" flex-xs="100"
          label="{{::fields.code.displayName}}"
          model="fields.code.value"
          form="modelForm">
        </nv-input-text>
      </div>

      <nv-input-text
        class="md-block"
        label="{{::fields.url.displayName}}"
        model="fields.url.value"
        form="modelForm"
        required="::true">
      </nv-input-text>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <nv-button-save name="Submit" form="modelForm" state="saveButtonState"></nv-button-save>
  </md-dialog-actions>
</form>
