<nv-dialog-header title="{{'container.third-party-shipper.edit-shipper' | translate }}" on-cancel="::onCancel($event)"></nv-dialog-header>
<form name="modelForm" ng-submit="::onSave()" md-theme="nvBlue">
  <md-dialog-content>
    <div class="md-dialog-content">
      <div class="md-block multi-input-row" layout="row" layout-xs="column">
        <nv-input-text
          class="md-block"
          flex="60" flex-xs="100"
          label="{{::fields.name.displayName}}"
          model="fields.name.value"
          form="modelForm"
          required="::true">
        </nv-input-text>

        <nv-input-text
          class="md-block"
          flex="20" flex-xs="100"
          label="{{::fields.code.displayName}}"
          model="fields.code.value"
          form="modelForm">
        </nv-input-text>

        <nv-input-text
          class="md-block id"
          flex
          label="{{::fields.id.displayName}}"
          model="fields.id.value"
          form="modelForm"
          required="::true"
          readonly="::true">
        </nv-input-text>
      </div>
        
      <nv-input-text
        class="md-block"
        label="{{::fields.url.displayName}}"
        model="fields.url.value"
        form="modelForm"
        required="::true">
      </nv-input-text>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <nv-button-save name="Submit Changes" form="modelForm" state="saveButtonState"></nv-button-save>
  </md-dialog-actions>
</form>
