<md-content
  class="nv-container-outbound-route-load-monitoring">
  <div class="backdrop-loading" ng-if="ctrl.backdropLoading">
    <md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>
  </div>

  <md-tabs md-no-select-click="true">
    <md-tab md-active="ctrl.isActive('container.outbound-route-load.outbound-monitoring')"
            ng-click="ctrl.switchTab('container.outbound-route-load.outbound-monitoring')">'
      <md-tab-label>
        {{ 'container.outbound-route-load-monitoring.outbound-monitoring' | translate }}
      </md-tab-label>
    </md-tab>
    <md-tab md-active="ctrl.isActive('container.outbound-route-load.route-load-monitoring')"
            ng-click="ctrl.switchTab('container.outbound-route-load.route-load-monitoring')">
      <md-tab-label>
        {{ 'container.outbound-route-load-monitoring.route-load-monitoring' | translate }}        
      </md-tab-label>
    </md-tab>
  </md-tabs>

  <div class="content-view">
    <div class="content-loading"
         ng-if="ctrl.contentLoading">
      <md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>
      {{ 'commons.load-data' | translate }}
    </div>
    <ui-view></ui-view>
  </div>
</md-content>