<nv-dialog-header
  title="{{'container.order.edit.edit-pickup-details' | translate}}"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<form name="modelForm" ng-submit="ctrl.onSave()">
  <md-dialog>
    <md-dialog-content>
      <div layout="row" layout-xs="column" layout-wrap layout-padding
           class="box">
        <div flex="100">
          <h5>{{ 'commons.sender-details' | translate }}</h5>
        </div>
        <div flex="33" flex-xs="100">
          <nv-input-text
            class="md-block"
            label="commons.sender-name"
            model="ctrl.order._form.name"
            form="modelForm">
          </nv-input-text>
        </div>
        <div flex="33" flex-xs="100">
          <nv-input-text
            class="md-block"
            label="commons.sender-contact"
            model="ctrl.order._form.contact"
            form="modelForm">
          </nv-input-text>
        </div>
        <div flex="33" flex-xs="100">
          <nv-input-text
            class="md-block"
            label="commons.sender-email"
            model="ctrl.order._form.email"
            form="modelForm">
          </nv-input-text>
        </div>
        <div flex>
          <nv-input-textarea
            class="md-block"
            label="container.order.edit.internal-notes"
            model="ctrl.order._form.routeComments"
            form="modelForm">
          </nv-input-textarea>
        </div>
      </div>
      <div layout="row" layout-wrap layout-padding
           class="box">
        <div flex="100">
          <h5>{{ 'commons.schedule' | translate }}</h5>
        </div>
        <div flex>
          <nv-input-date
            label="commons.model.pickup-date"
            model="ctrl.order._form.date"
            required="true"
            form="modelForm">
          </nv-input-date>

          <nv-input-select
            label="container.order.edit.pickup-timeslot"
            model="ctrl.order._form.timewindowId"
            model-options="{}"
            options="ctrl.pickupTimeslotOptions"
            form="modelForm">
          </nv-input-select>
        </div>
        <div layout flex="100">
          <nv-input-checkbox
            class="shipper-requested"
            model="ctrl.order._form.shipperRequested"
            label="{{'container.order.edit.shipper-requested' | translate}}"
            form="modelForm">
          </nv-input-checkbox>
          <nv-input-checkbox ng-if="ctrl.isReturnOrder()"
            class="add-waypoint"
            disabled="ctrl.pickupRequiredLock"
            model="ctrl.order._form.pickupRequired"
            label="{{'container.order.edit.assign-pickup-location' | translate}}"
            form="modelForm">
          </nv-input-checkbox>
        </div>
      </div>
      <div layout="column" layout-padding
           class="box">
        <div flex>
          <h5>{{ 'container.order.edit.current-address' | translate }}</h5>
        </div>
        <div flex>
          <div class="data-blocks">
            <div class="data-block">
              <label>{{ 'commons.country' | translate }}</label>
              <p>{{ ctrl.order.fromCountry || '-' }}</p>
            </div>
            <div class="data-block">
              <label>{{ 'commons.city' | translate }}</label>
              <p>{{ ctrl.order.fromCity || '-' }}</p>
            </div>
          </div>

          <div class="data-blocks">
            <div class="data-block">
              <label>{{ 'commons.address1' | translate }}</label>
              <p>{{ ctrl.order.fromAddress1 || '-' }}</p>
            </div>
            <div class="data-block">
              <label>{{ 'commons.address2' | translate }}</label>
              <p>{{ ctrl.order.fromAddress2 || '-' }}</p>
            </div>
          </div>

          <div class="data-blocks">
            <div class="data-block">
              <label>{{ 'commons.postcode' | translate }}</label>
              <p>{{ ctrl.order.fromPostcode || '-' }}</p>
            </div>
          </div>
        </div>
      </div>
      <div layout="column"
           class="change-address-btn-holder"
           ng-if="!ctrl.order._form.isChangeNewAddress">
        <nv-icon-text-button
          class="ghost fill-width"
          name="container.order.edit.change-address"
          on-click="ctrl.toggleChangeNewAddress()">
        </nv-icon-text-button>
      </div>
      <div layout="column" layout-padding
           class="box change-new-address-holder"
           ng-if="ctrl.order._form.isChangeNewAddress && !ctrl.order._form.isAddressFinder">
        <div flex>
          <div layout="row" layout-sm="column" layout-xs="column">
            <h5>{{ 'container.order.edit.new-address' | translate }}</h5>
            <span flex></span>
            <nv-icon-text-button
              class="ghost dense"
              name="container.order.edit.cancel-address-change"
              on-click="ctrl.toggleChangeNewAddress()">
            </nv-icon-text-button>
            <nv-icon-text-button
              class="ghost dense"
              name="commons.address-finder"
              icon="search"
              on-click="ctrl.order._form.isAddressFinder = !ctrl.order._form.isAddressFinder">
            </nv-icon-text-button>
          </div>
        </div>
        <div flex>
          <nv-input-text
            label="commons.country"
            model="ctrl.order._form.country"
            form="modelForm"
            required="true">
          </nv-input-text>
          <nv-input-text
            label="commons.city"
            model="ctrl.order._form.city"
            form="modelForm"
            required="true">
          </nv-input-text>
        </div>
        <div flex>
          <div layout="row" layout-sm="column" layout-xs="column">
            <div flex>
              <nv-input-text
                class="md-block"
                label="commons.address1"
                model="ctrl.order._form.address1"
                form="modelForm"
                required="true">
              </nv-input-text>
            </div>
            <div flex>
              <nv-input-text
                class="md-block"
                label="commons.address2"
                model="ctrl.order._form.address2"
                form="modelForm">
              </nv-input-text>
            </div>
          </div>
        </div>
        <div layout ng-if="ctrl.isProvinceListAvailable()">
          <nv-input-select flex="30"
            label="commons.province"
            model="ctrl.order._form.province"
            model-options="{}"
            options="ctrl.provinces"
            form="modelForm"
            set-default="false"
            on-change="ctrl.onProvinceChange()"
            required="true">
          </nv-input-select>
          <nv-input-select flex="30" ng-if="ctrl.isL2ListAvailable()"
            label="commons.l2-name"
            model="ctrl.order._form.l2"
            model-options="{}"
            options="ctrl.l2Options"
            form="modelForm"
            set-default="false"
            on-change="ctrl.onL2Change()">
          </nv-input-select>
          <nv-input-select flex="30" ng-if="ctrl.isL3ListAvailable()"
            label="commons.l3-name"
            model="ctrl.order._form.l3"
            model-options="{}"
            options="ctrl.l3Options"
            form="modelForm"
            set-default="false">
          </nv-input-select>
        </div>
        <div flex>
          <nv-input-text
            label="commons.postcode"
            model="ctrl.order._form.postcode"
            form="modelForm"
            required="true">
          </nv-input-text>
        </div>
      </div>
      <div layout="column" layout-padding
           class="box address-finder-holder"
           ng-if="ctrl.order._form.isChangeNewAddress && ctrl.order._form.isAddressFinder">
        <nv-address-finder
          on-search-mode-changed="ctrl.onAddressFinderSearchModeChanged(mode)"
          callback="ctrl.onAddressFinderCallback(address)">
        </nv-address-finder>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <nv-api-text-button
        md-theme="nvGreen"
        name="commons.save-changes"
        icon="check"
        class="raised"
        state="ctrl.formSubmitState"
        disabled="!ctrl.isAbleToSubmit()"
        on-click="ctrl.onSave()">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>