@import "../../../../../styles/variables";

md-dialog.order-edit-instructions {
  $defaultWidth: 60rem !important;

  width: $defaultWidth;

  md-dialog {
    max-width: $defaultWidth;
    padding-top: $nv-baseline-grid;
  }
}