<nv-dialog-header
  title="{{ 'container.order.edit.edit-instructions' | translate}}"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<form name="modelForm" ng-submit="ctrl.onSave()">
  <md-dialog>
    <md-dialog-content>
      <div layout="column" layout-padding>
        <div flex>
          <nv-input-textarea
            class="md-block"
            label="container.order.edit.pickup-instruction"
            model="ctrl.formData.pickup.instruction"
            help-text="container.order.edit.pickup-instruction-description"
            form="modelForm">
          </nv-input-textarea>
        </div>
        <div flex>
          <nv-input-textarea
            class="md-block"
            label="container.order.edit.delivery-instruction"
            model="ctrl.formData.delivery.instruction"
            help-text="container.order.edit.delivery-instruction-description"
            form="modelForm">
          </nv-input-textarea>
        </div>
        <div flex>
          <nv-input-textarea
            class="md-block"
            label="container.order.edit.order-instruction"
            model="ctrl.formData.order.instruction"
            help-text="container.order.edit.order-instruction-description"
            form="modelForm">
          </nv-input-textarea>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <nv-api-text-button
        md-theme="nvGreen"
        name="commons.save-changes"
        icon="check"
        class="raised"
        state="ctrl.formSubmitState"
        on-click="ctrl.onSave()">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>