md-dialog.file-select {

  width: 70rem;

  md-dialog-content {
    & {
      flex-grow: 1;
      height: 70rem;
    }

    md-list-item.file-list-item {
      z-index: 90;
      width: 100%;

      &:hover, &:focus {
        background-color: $nv-light1;
      }

      &:nth-child(n+2) {
        border-top: 1px solid $nv-light3;
      }

      h4 {
        .description {
          margin-left: 10px;
          font-size: 1.6rem;
        }
      }
    }

    .image-thumbnail{
      float: left;
      width: 12.8rem;
      height: 15rem;
      margin: .8rem;
      .thumbnail {
        box-shadow: 0 .1rem .2rem #333333;
        cursor: pointer;
        img{
          width: 12.8rem;
          height: 12.8rem;
        }        
      }
      .caption{          
        height: 1.5rem;
        p{
          font-size: .8rem;
          color: #333333;
          word-wrap: break-word;
        }
        .delete-button{
          z-index: 10;
        }
      }        

    }
  }

  md-dialog-actions {
    button.nv-button {
      margin-left: 0.5rem;
    }
  }
}
