<nv-dialog-header title="{{::title}}" on-cancel="::onCancel($event)"></nv-dialog-header>

<form name="modelForm" ng-submit="::onFinishSelect()" md-theme="nvBlue">
<md-dialog-content>
  <div class="md-dialog-content">

    <md-list-item ng-if="!isImagePicker" class="file-list-item secondary-button-padding" ng-repeat="file in fileSelected">
      <div class="md-list-item-text nv-text-no-select" ng-click="onFileClicked($event, file, $index)" flex="1">
        <h4>
          <!-- <i class="fa fa-file-o"></i> -->
          <span>{{ file.name }}</span>
          <span class="description">{{ file.size | nvByte }}</span>
        </h4>
      </div>
      <md-button
            type="button"
            class="nv-button flat"
            aria-label="Cancel"
            ng-click="removeFile($event, file, $index)">
        <i class="material-icons">close</i>
      </md-button>
    </md-list-item>


    <div class="thumbnails-container"  ng-if="isImagePicker" flex="100">
        <div class="image-thumbnail" ng-repeat="file in fileSelected">
            <div class="thumbnail" ng-click="onFileClicked($event, file, $index)">              
              <img id="img-thumbnail-{{$index}}">
              </img>
            </div>
            <div class="caption" layout="row" layout-align="space-between bottom">
              <p>{{file.name}}</p>
              <nv-icon-button
                icon="close"
                label="commons.delete"
                class="delete-button small dense flat"
                on-click="removeFile($event, file, $index)">
              </nv-icon-button>              
            </div>            
        </div>      
    </div>
    
    <div layout="row" layout-align="center" ng-show="fileSelected.length === 0">
      <h4>Drop files or click '{{ ::buttonChooseTitle }}' to select files</h4>
    </div>

  </div>

  <nv-file-drop
    accept="{{ fileSelectOptions.accept }}"
    disabled="fileSelected.length >= fileSelectOptions.maxFileCount"
    disabled-label="Maximum number of files allowed exceeded"
    on-file-select="::onFileSelect($file)"
    on-file-reject="::onFileReject($file)">
  </nv-file-drop>
</md-dialog-content>

<md-dialog-actions>
    <div class="additional" ng-if="sampleCSV">
      <nv-download-csv-button
        name="commons.download-sample-csv"
        md-theme="nvBlue"
        data="sampleCSV.data"
        csv-header="{{sampleCSV.header}}"
        csv-column-order="{{sampleCSV.columnOrder}}"
        filename="{{sampleCSV.filename}}">
      </nv-download-csv-button>
    </div>
    <!-- Small hack to test if a number is Number.MAX_VALUE -->
    <md-button
      ng-hide="fileSelectOptions.maxFileCount === fileSelectOptions.maxFileCount + 1"
      class="nv-button flat"
      md-no-ink=""
      ng-class="{'md-warn': fileSelected.length >= fileSelectOptions.maxFileCount }"
      >
      <md-tooltip md-direction="top">
          Number of files allowed
      </md-tooltip>
      ({{fileSelected.length}}/{{::fileSelectOptions.maxFileCount}})
    </md-button>
    <nv-button-file-picker
      class="raised"
      label="{{ ::buttonChooseTitle }}"
      accept="{{ ::fileSelectOptions.accept }}"
      multiple="{{ fileSelectOptions.maxFileCount > 1 }}"
      disabled="fileSelected.length >= fileSelectOptions.maxFileCount"
      on-file-select="::onFileSelect($file)"
      on-file-reject="::onFileReject($file)">
    </nv-button-file-picker>
    <nv-button-save name="{{ buttonOkTitle }}" form="modelForm" state="saveButtonState" is-disabled="false"></nv-button-save>
</md-dialog-actions>
</form>