//== Variables
//## These variables are used to configure:
//## 1. Vendor library properties (see comment next to the variable).
//## 2. App-specific properties.
//##
//## Some variables here may be shared between vendor and app properties.

@import "../lib/ninja-commons/styles/functions/utils";

$fa-font-path          : "../lib/node_modules/font-awesome/fonts"; // font-awesome
$nv-images-path        : "../lib/ninja-commons/assets/images";         // ninja-commons
$nv-mapbox-images-path : "../lib/node_modules/mapbox.js/dist/images";  // mapbox
$nv-leaflet-draw-images-path : "../lib/node_modules/leaflet-draw/dist/images";  // mapbox

$font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; // bootstrap
$font-size-base        : 10px; // bootstrap

$nv-sidenav-width      : 22rem;
$nv-navbar-height      : 5.8rem;
$nv-navbar-padding     : 0.7rem;
$nv-baseline-grid      : 0.7rem;
$sidenav-desktop-width : rem-to-px($nv-sidenav-width); // angular-material
$sidenav-mobile-width  : rem-to-px($nv-sidenav-width); // angular-material
$sidenav-min-space     : 0px; //angular-material
$data-block-spacing-between: $nv-baseline-grid*4;
$data-block-top-spacing: $nv-baseline-grid*2;