//== App
//## Contains all the app-specific and ninja-commons styles.

//## Globals ##################################################

html {
  overflow: hidden;
}

.background {
  background-color: #e8e8e8;
}

[ui-view] {
  height: 100%;
}

body {
  font-size: 14px;
}

//## ninja-commons styles ##################################################

@import "../lib/ninja-commons/styles/classes/color.classes";
@import "../lib/ninja-commons/styles/classes/typography.classes";
@import "../lib/ninja-commons/styles/classes/navigation.classes";
@import "../lib/ninja-commons/styles/classes/table.classes";
@import "../lib/ninja-commons/styles/classes/toolbar.classes";
@import "../lib/ninja-commons/styles/classes/button.classes";
@import "../lib/ninja-commons/styles/classes/shadow.classes";
@import "../lib/ninja-commons/styles/classes/autocomplete.classes";
@import "../lib/ninja-commons/styles/classes/link.classes";
@import "../lib/ninja-commons/styles/classes/toast.classes";
@import "../lib/ninja-commons/styles/classes/menu.classes";

//## ninja-commons directive styles ##################################################

@import "../lib/ninja-commons/directives/load/load.directive";
@import "../lib/ninja-commons/directives/forms/buttons/button-save/button-save.directive";
@import "../lib/ninja-commons/directives/forms/buttons/button-working/button-working.directive";
@import "../lib/ninja-commons/directives/forms/buttons/button-cancel/button-cancel.directive";
@import "../lib/ninja-commons/directives/forms/buttons/button-group/button-group.directive";
@import "../lib/ninja-commons/directives/forms/buttons/button-group-radio/button-group-radio.directive";
@import "../lib/ninja-commons/directives/forms/buttons/btn-grp/btn-grp.directive";
@import "../lib/ninja-commons/directives/forms/buttons/button-file-picker/button-file-picker.directive";
@import "../lib/ninja-commons/directives/forms/buttons/drop-button-select/drop-button-select.directive";
@import "../lib/ninja-commons/directives/forms/inputs/inputs.directive";
@import "../lib/ninja-commons/directives/forms/inputs/input-checkbox/input-checkbox.directive";
@import "../lib/ninja-commons/directives/forms/inputs/input-date/input-date.directive";
@import "../lib/ninja-commons/directives/forms/inputs/input-emails/input-emails.directive";
@import "../lib/ninja-commons/directives/forms/inputs/input-select/input-select.directive";
@import "../lib/ninja-commons/directives/forms/inputs/input-switch/input-switch.directive";
@import "../lib/ninja-commons/directives/forms/inputs/input-time/input-time.directive";
@import "../lib/ninja-commons/directives/forms/labels/label-small/label-small.directive";
@import "../lib/ninja-commons/directives/dialogs/dialog-header/dialog-header.directive";
@import "../lib/ninja-commons/directives/drag-and-drop/drag-and-drop.directive";
@import "../lib/ninja-commons/directives/container-box/container-box.directive";
@import "../lib/ninja-commons/directives/buttons/api-text-button/api-text-button.directive";
@import "../lib/ninja-commons/directives/buttons/api-icon-button/api-icon-button.directive";
@import "../lib/ninja-commons/directives/buttons/table-button/table-button.directive";
@import "../lib/ninja-commons/directives/buttons/icon-button/icon-button.directive";
@import "../lib/ninja-commons/directives/buttons/download-csv-button/download-csv-button.directive";
@import "../lib/ninja-commons/directives/buttons/toggle-button/toggle-button.directive";
@import "../lib/ninja-commons/directives/buttons/icon-toggle-button/icon-toggle-button.directive";
@import "../lib/ninja-commons/directives/breadcrumbs/filter-breadcrumb/filter-breadcrumb.directive";
@import "../lib/ninja-commons/directives/filter-box/filter-box.directive";
@import "../lib/ninja-commons/directives/filter-box-container/filter-box-container.directive";
@import "../lib/ninja-commons/directives/filter-preset/dialogs/filter-preset.dialog";
@import "../lib/ninja-commons/directives/tables/nv-table/nv-table.directive";
@import "../lib/ninja-commons/directives/tables/nv-table-description/nv-table-description.directive";
@import "../lib/ninja-commons/directives/tag/tag.directive";
@import "../lib/ninja-commons/directives/type-ahead/type-ahead.directive";
@import "../lib/ninja-commons/directives/address-finder/address-finder.directive";
@import "../lib/ninja-commons/directives/autocomplete/autocomplete.directive";
@import "../lib/ninja-commons/directives/autocomplete-list/autocomplete-list.directive";
@import "../lib/ninja-commons/directives/search-input/search-input-filter/search-input-filter.directive";
@import "../lib/ninja-commons/directives/search-input/search-input-progressive/search-input-progressive.directive";
@import "../lib/ninja-commons/directives/file-drop/file-drop.directive";
@import "../lib/ninja-commons/directives/calendar/calendar/calendar.directive";
@import "../lib/ninja-commons/directives/calendar/list/list.directive";
@import "../lib/ninja-commons/directives/pagination/pagination.directive";
@import "../lib/ninja-commons/directives/filter-preset/filter-preset.directive";
@import "../lib/ninja-commons/directives/forms/inputs/input-time-select/input-time-select.directive";
@import "../lib/ninja-commons/directives/hint/hint.directive";
@import "../lib/ninja-commons/directives/selectable-image/selectable-image.directive";
@import "../lib/ninja-commons/directives/multi-input/multi-input.directive";
//## ninja-commons service styles ##################################################

@import "../lib/ninja-commons/services/maps/maps.service";
@import "../lib/ninja-commons/services/maps/mapbox/mapbox.service";
@import "../lib/ninja-commons/services/google-maps/google-maps.service";
@import "../lib/ninja-commons/services/panels/panel.service";
@import "../lib/ninja-commons/services/utils/request-utils/request-utils.service";

//## ninja-commons template styles ##################################################

@import "../lib/ninja-commons/templates/dialogs/dialog";
@import "../lib/ninja-commons/templates/dialogs/address-lookup/address-lookup.dialog";
@import "../lib/ninja-commons/services/dialogs/file-select/file-select.dialog";
@import "../lib/ninja-commons/services/dialogs/bulk-action-progress/bulk-action-progress.dialog";
@import "../lib/ninja-commons/templates/menus/contact-info/contact-info.menu";

//## app directive styles ##################################################

@import "../directives/sidenav/sidenav.directive";
@import "../directives/side-nav-driver-messaging/side-nav-driver-messaging.directive";
@import "../directives/brandnav/brandnav.directive";
@import "../directives/clock/clock.directive";
@import "../directives/profilenav/profilenav.directive";
@import "../directives/data-header/data-header.directive";
@import "../directives/route-inbound-summary/route-inbound-summary.directive";
@import "../directives/search/search.directive";
@import "../directives/search-with-count/search-with-count.directive";
@import "../directives/search-with-x/search-with-x.directive";
@import "../directives/filter/filter.directive";
@import "../directives/waypoint-bar/waypoint-bar.directive";
@import "../directives/waypoint-bar-container/waypoint-bar-container.directive";

//## app view styles ##################################################

@import "../views/login/login";
@import "../views/container/container";
@import "../views/container/settings/settings";
@import "../views/container/style-guide/style-guide";
@import "../views/container/style-guide/table/table";
@import "../views/container/style-guide/filter/filter";
@import "../views/container/add-parcel-to-route/add-parcel-to-route";
@import "../views/container/aged-parcel-management/aged-parcel-management";
@import "../views/container/same-day-route-engine/same-day-route-engine";
@import "../views/container/blocked-dates/blocked-dates";
@import "../views/container/batch-order/batch-order";
@import "../views/container/batch-order/dialog/rollback/rollback.dialog";
@import "../views/container/bulk-order/bulk-order";
@import "../views/container/bulk-order/dialog/rollback/rollback.dialog";
@import "../views/container/bulk-order/dialog/order-list/order-list.dialog";
@import "../views/container/cod-report/cod-report";
@import "../views/container/ninja-pack-tid-generator/ninja-pack-tid-generator";
@import "../views/container/ninja-pack-tid-generator/dialog/confirmation.dialog";
@import "../views/container/cod-list/cod-list";
@import "../views/container/reservations/reservations";
@import "../views/container/dp-administration/dp-administration";
@import "../views/container/dp-administration/dp-partners/dp-partners";
@import "../views/container/dp-administration/dps/dps";
@import "../views/container/dp-administration/dp-users/dp-users";
@import "../views/container/dp-administration/dialog/distribution-point-partner/distribution-point-partner.dialog";
@import "../views/container/dp-administration/dialog/distribution-point/distribution-point.dialog";
@import "../views/container/dp-administration/dialog/distribution-point-user/distribution-point-user.dialog";
@import "../views/container/dp-tagging/dp-tagging";
@import "../views/container/driver-reports/driver-reports";
@import "../views/container/driver-strength/driver-strength";
@import "../views/container/driver-strength/dialog/driver.dialog";
@import "../views/container/driver-seeding/driver-seeding";
@import "../views/container/driver-type-management/driver-type-management";
@import "../views/container/driver-type-management/dialog/driver-type.dialog";
@import "../views/container/vehicle-type-management/vehicle-type-management";
@import "../views/container/contact-type-management/contact-type-management";
@import "../views/container/failed-delivery-management/failed-delivery-management";
@import "../views/container/failed-delivery-management/dialog/failed-delivery-management.dialog";
@import "../views/container/failed-pickup-management/failed-pickup-management";
@import "../views/container/failed-pickup-management/dialog/failed-pickup-management.dialog";
@import "../views/container/rf-prebidding-management/rf-prebidding-management";
@import "../views/container/route-logs/route-logs";
@import "../views/container/route-logs/dialog/route-logs.dialog";
@import "../views/container/route-logs/dialog/selection-error/selection-error.dialog";
@import "../views/container/route-manifest/route-manifest";
@import "../views/container/route-manifest/dialog/edit-waypoint/edit-waypoint.dialog";
@import "../views/container/route-manifest/dialog/collect-cod/collect-cod.dialog";
@import "../views/container/route-manifest/dialog/waypoint-details.dialog";
@import "../views/container/route-manifest/dialog/pod.dialog";
@import "../views/container/pricing-scripts-v2/list/pricing-script-list";
@import "../views/container/pricing-scripts-v2/manage/pricing-script-manage";
@import "../views/container/pricing-scripts-v2/manage/tab-content/pricing-scripts-v2-write-script.tab";
@import "../views/container/pricing-scripts-v2/manage/tab-content/pricing-scripts-v2-check-script.tab";
@import "../views/container/pricing-scripts-v2/verify/pricing-script-verify";
@import "../views/container/pricing-scripts-v2/dialog/pricing-scripts-link-shippers/pricing-scripts-link-shippers.dialog";
@import "../views/container/pricing-scripts-v2/dialog/pricing-scripts-update-past/pricing-scripts-update-past.dialog";
@import "../views/container/pricing-scripts-v2/time-bounded/pricing-script-time-bounded";
@import "../views/container/printers/printers";
@import "../views/container/printers/dialog/printer.dialog";
@import "../views/container/printer-templates/printer-templates";
@import "../views/container/order-level-tag-management/order-level-tag-management";
@import "../views/container/order-level-tag-management/filter/filter";
@import "../views/container/order-level-tag-management/result/result";
@import "../views/container/order-level-tag-management/dialog/add-tags/add-tags.dialog";
@import "../views/container/hub-list/hub-list";
@import "../views/container/hub-list/dialog/hub.dialog";
@import "../views/container/hub-group-management/hub-group-management";
@import "../views/container/inbound-scanning/inbound-scanning";
@import "../views/container/route-cleaning-report/route-cleaning-report";
@import "../views/container/route-group/route-group";
@import "../views/container/route-group/dialog/bulk-delete/bulk-delete.dialog";
@import "../views/container/route-group/dialog/route-group.dialog";
@import "../views/container/route-monitoring/route-monitoring";
@import "../views/container/route-monitoring/filter/filter";
@import "../views/container/route-monitoring/result/result";
@import "../views/container/outbound-route-load-monitoring/outbound-route-load-monitoring";
@import "../views/container/route-load-monitoring/route-load-monitoring";
@import "../views/container/shipper-pickups/shipper-pickups";
@import "../views/container/shipper-pickups/dialogs/reservation-details/reservation-details.dialog";
@import "../views/container/shipper-pickups/dialogs/reservation-summary/reservation-summary.dialog";
@import "../views/container/shipper-pickups/dialogs/route-edit/route-edit.dialog";
@import "../views/container/shipper-pickups/dialogs/pod-details/pod-details.dialog";
@import "../views/container/shipper-pickups/dialogs/bulk-reservation-create/bulk-reservation-create.dialog";
@import "../views/container/shipper-pickups/dialogs/bulk-route-edit/bulk-route-edit.dialog";
@import "../views/container/shipper-pickups/dialogs/bulk-priority-edit/bulk-priority-edit.dialog";
@import "../views/container/shipper-pickups/dialogs/finish-reservation/_finish-reservation.dialog";
@import "../views/container/success-billings/success-billings";
@import "../views/container/shipper-billing/shipper-billing";
@import "../views/container/outbound-monitoring/outbound-monitoring";
@import "../views/container/order/dialog/add-to-route/add-to-route.dialog";
@import "../views/container/order/dialog/cancel-order/cancel-order.dialog";
@import "../views/container/order/dialog/cancel-rts/cancel-rts.dialog";
@import "../views/container/order/dialog/csv-find-orders/csv-find-orders.dialog";
@import "../views/container/order/dialog/delete-order/delete-order.dialog";
@import "../views/container/order/dialog/edit-cash-collection-details/edit-cash-collection-details.dialog";
@import "../views/container/order/dialog/edit-instructions/edit-instructions.dialog";
@import "../views/container/order/dialog/edit-order-details/edit-order-details.dialog";
@import "../views/container/order/dialog/edit-delivery-details/edit-delivery-details.dialog";
@import "../views/container/order/dialog/edit-pickup-details/edit-pickup-details.dialog";
@import "../views/container/order/dialog/edit-rts-details/edit-rts-details.dialog";
@import "../views/container/order/dialog/edit-stamp/edit-stamp.dialog";
@import "../views/container/order/dialog/order-create-uuids/order-create-uuids.dialog";
@import "../views/container/order/dialog/reschedule-order/reschedule-order.dialog";
@import "../views/container/order/dialog/print-airway-bills/print-airway-bills.dialog";
@import "../views/container/order/dialog/proof-of-delivery/proof-of-delivery.dialog";
@import "../views/container/order/dialog/pull-from-route/pull-from-route.dialog";
@import "../views/container/order/dialog/resume-order/resume-order.dialog";
@import "../views/container/order/dialog/complete-order/complete-order.dialog";
@import "../views/container/order/dialog/selection-error/selection-error.dialog";
@import "../views/container/order/dialog/edit-priority-level/edit-priority-level.dialog";
@import "../views/container/order/dialog/dp-management/dp-management.dialog";
@import "../views/container/order/dialog/print-pod/print-pod.dialog";
@import "../views/container/order/dialog/order-photos/order-photos.dialog";
@import "../views/container/order/dialog/order-pin/order-pin.dialog";
@import "../views/container/order/dialog/update-status/update-status.dialog";
@import "../views/container/order/panel/shipper-ref-metadata/shipper-ref-metadata.panel";
@import "../views/container/order/order";
@import "../views/container/order/order-create-combine/order-create-combine";
@import "../views/container/order/order-create-v4/order-create-v4";
@import "../views/container/order/order-create-v4/dialog/preset-sample.dialog";
@import "../views/container/order/order-edit/order-edit";
@import "../views/container/order/order-list/order-list";
@import "../views/container/order-weight-update/order-weight-update";
@import "../views/container/stamp-disassociation/stamp-disassociation";
@import "../views/container/stamp-disassociation/dialog/stamp-disassociation-print.dialog";
@import "../views/container/recovery-tickets/recovery-tickets";
@import "../views/container/recovery-tickets/dialog/recovery-tickets.dialog";
@import "../views/container/recovery-tickets/dialog/bulk-edit/recovery-bulk-edit";
@import "../views/container/relabel-stamp/relabel-stamp";
@import "../views/container/third-party-order/third-party-order";
@import "../views/container/third-party-shipper/third-party-shipper";
@import "../views/container/transactions-v2/transactions-v2";
@import "../views/container/transactions-v2/dialog/transaction.dialog";
@import "../views/container/transactions-v2/dialog/transaction-id-errors.dialog";
@import "../views/container/polygon-drawing/polygon-drawing";
@import "../views/container/ninja-hub-provisioning/ninja-hub-provisioning";
@import "../views/container/change-delivery-timings/change-delivery-timings";
@import "../views/container/recovery-ticket-scanning/recovery-ticket-scanning";
@import "../views/container/shipment-scanning/shipment-scanning";
@import "../views/container/shipment-management/shipment-management";
@import "../views/container/shipment-management/dialog/create-shipment/create-shipment";
@import "../views/container/shipment-management/page/shipment-details/shipment-details";
@import "../views/container/shipment-global-inbound/shipment-global-inbound";
@import "../views/container/shippers/shippers";
@import "../views/container/shippers/list/list";
@import "../views/container/shippers/dialog/errors/errors.dialog";
@import "../views/container/shippers/dialog/shipper-billing/shipper-billing.dialog";
@import "../views/container/shippers/shipper-create/shipper-create";
@import "../views/container/shippers/shipper-create/dialog/address/shipper-create-address.dialog";
@import "../views/container/shippers/shipper-edit/shipper-edit";
@import "../views/container/shippers/shipper-edit/dialog/address/shipper-edit-address.dialog";
@import "../views/container/singtel-parcel-status/singtel-parcel-status";
@import "../views/container/tag-management/tag-management";
@import "../views/container/tag-management/dialog/tag-management.dialog";
@import "../views/container/lat-lng-cleanup/lat-lng-cleanup";
@import "../views/container/lat-lng-cleanup/dialog/waypoint-edit/waypoint-edit.dialog";
@import "../views/container/user-management/user-management";
@import "../views/container/role-management/role-management";
@import "../views/container/rollover/rollover";
@import "../views/container/user-management/dialog/user.dialog";
@import "../views/container/role-management/dialog/role.dialog";
@import "../views/container/inbound-scanning/inbound-scanning";
@import "../views/container/linehaul/linehaul";
@import "../views/container/linehaul/tabs/linehaul-entries/dialogs/linehaul-entries-dialog";
@import "../views/container/zonal-routing/assignment/assignment";
@import "../views/container/zonal-routing/routing/routing";
@import "../views/container/zonal-routing/assignment-improved/assignment";
@import "../views/container/zonal-routing/routing-improved/routing";
@import "../views/container/zonal-routing/routing-edit/routing-edit";
@import "../views/container/zonal-routing/zonal-routing";
@import "../views/container/zonal-routing/dialog/auto-assign/auto-assign.dialog";
@import "../views/container/zonal-routing/dialog/bulk-edit-tags/bulk-edit-tags.dialog";
@import "../views/container/zonal-routing/dialog/delete-routes/delete-routes.dialog";
@import "../views/container/zonal-routing/dialog/error-routes/error-routes.dialog";
@import "../views/container/zonal-routing/dialog/purge-routes/purge-routes.dialog";
@import "../views/container/zonal-routing/dialog/set-hub-for-routes/set-hub-for-routes.dialog";
@import "../views/container/zonal-routing/dialog/set-parcels-aside/set-parcels-aside.dialog";
@import "../views/container/zonal-routing/dialog/select-filters/select-filters.dialog";
@import "../views/container/zonal-routing/dialog/submitted-routes/submitted-routes.dialog";
@import "../views/container/zonal-routing/dialog/suggest-drivers/suggest-drivers.dialog";
@import "../views/container/zonal-routing/dialog/view-waypoints/view-waypoints.dialog";
@import "../views/container/zonal-routing/panel/map-view-options/map-view-options.panel";
@import "../views/container/zones/zones";
@import "../views/container/zones/dialog/zone-form.dialog";
@import "../views/container/inbound-scanning/dialogs/change-date/change-date.dialog";
@import "../views/container/bulk-address-verification/bulk-address-verification";
@import "../views/container/payment-processing/payment-processing";
@import "../views/container/payment-processing/dialog/edit-payment.dialog";
@import "../views/container/payment-processing/dialog/bulk-edit-payment.dialog";
@import "../views/container/addressing/addressing";
@import "../views/container/addressing/dialogs/edit-address/edit-address";
@import "../views/container/unverified-address-assignment/unverified-address-assignment";
@import "../views/container/warehousing/warehousing";
@import "../views/container/qrcode-printing/qrcode-printing";
@import "../views/container/sms/sms";
@import "../views/container/bulky-batch/bulky-batch";
@import "../views/container/global-settings/global-settings";
@import "../views/container/non-inbounded-list/non-inbounded-list";
@import "../views/container/non-inbounded-list/dialog/pickup-failed-webhook/pickup-failed-webhook.dialog";
@import "../views/container/amazon-parcel-status/amazon-parcel-status";
@import "../views/container/lazada-3pl/lazada-3pl";
@import "../views/container/label-printer/label-printer";
@import "../views/container/priority-levels/priority-levels";
@import "../views/container/priority-levels/dialog/priority-level-edit.dialog";
@import "../views/container/set-aside/set-aside";
@import "../views/container/set-aside/dialog/set-aside-configurations.dialog";
@import "../views/container/reservation-preset-management/dialog/create-route/create-route.dialog";
@import "../views/container/reservation-preset-management/dialog/grouping-form/grouping-form.dialog";
@import "../views/container/reservation-preset-management/dialog/route-pending-reservations/route-pending-reservations.dialog";
@import "../views/container/reservation-preset-management/dialog/selection-error/selection-error.dialog";
@import "../views/container/reservation-preset-management/dialog/unlink-or-assign/unlink-or-assign.dialog";
@import "../views/container/reservation-preset-management/dialog/move-shipper-form/move-shipper-form.dialog";
@import "../views/container/reservation-preset-management/reservation-preset-management";
@import "../views/container/reservation-preset-management/edit-groupings/edit-groupings";
@import "../views/container/reservation-preset-management/edit-pickup-sequence/edit-pickup-sequence";
@import "../views/container/reservation-preset-management/overview/overview";
@import "../views/container/reservation-preset-management/pending/pending";
@import "../views/container/reservation-rejection/reservation-rejection";
@import "../views/container/reservation-rejection/dialog/rejection-form/rejection-form.dialog";
@import "../views/container/reservation-rejection/dialog/verify-pickup-address/verify-pickup-address.dialog";
@import "../views/container/route-inbound/route-inbound";
@import "../views/container/route-inbound/filter/filter";
@import "../views/container/route-inbound/inbounding/inbounding";
@import "../views/container/route-inbound/result/result";
@import "../views/container/route-inbound/dialog/address-verification/address-verification.dialog";
@import "../views/container/route-inbound/dialog/comments/comments.dialog";
@import "../views/container/route-inbound/dialog/choose-route-id/choose-route-id.dialog";
@import "../views/container/route-inbound/dialog/end-incomplete-route/end-incomplete-route.dialog";
@import "../views/container/route-inbound/dialog/money-collection/money-collection.dialog";
@import "../views/container/route-inbound/dialog/reservation-pickups/reservation-pickups.dialog";
@import "../views/container/route-inbound/dialog/view-details/view-details.dialog";
@import "../views/container/van-inbound/van-inbound";
@import "../views/container/outbound-breakroute/outbound-breakroute";
@import "../views/container/implanted-manifest/implanted-manifest";
@import "../views/container/global-inbound/global-inbound";
@import "../views/container/shipment-inbound/shipment-inbound";
@import "../views/container/parcel-sweeper/parcel-sweeper";
@import "../views/container/parcel-sweeper-live/parcel-sweeper-live";
@import "../views/container/parcel-sweeper-with-hub/parcel-sweeper-with-hub";
@import "../views/container/global-inbound/dialogs/prefix/prefix";
@import "../views/container/global-inbound/dialogs/scan-settings/scan-settings";
@import "../views/container/reports/reports";
@import "../views/container/sales-person/sales-person";
@import "../views/container/sales-person/dialog/edit-sales-person/edit-sales-person.dialog";
@import "../views/container/sales-person/dialog/upload-sales-person/upload-sales-person.dialog";
