//== Vendor
//## Contains all the vendor-specific styles.

@import "variables";

@import "../lib/node_modules/font-awesome/scss/font-awesome";

@import "../lib/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../lib/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../lib/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../lib/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../lib/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "../lib/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "../lib/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
@import "../lib/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/pagination";

@import "../lib/node_modules/toastr/toastr";

// sets the default font size for toastr
.toast { font-size: 1.4rem; }

@import "../lib/node_modules/angular-material/angular-material";

// rules for sizing the material icon
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

// centers the material icon inside its container
i.material-icons { line-height: inherit; }

.test { display: block; }

html {
  // mapbox image referencing
  .leaflet-control-attribution:after,
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out,
  .leaflet-popup-close-button,
  .leaflet-control-layers-toggle,
  .leaflet-container.dark .map-tooltip .close,
  .map-tooltip .close,
  .mapbox-icon {
    background-image:url('#{$nv-mapbox-images-path}/icons-000000@2x.png');
  }
  .leaflet-container.dark .leaflet-control-attribution:after,
  .mapbox-button-icon:before,
  .leaflet-container.dark .leaflet-control-zoom-in,
  .leaflet-container.dark .leaflet-control-zoom-out,
  .leaflet-container.dark .leaflet-control-layers-toggle,
  .leaflet-container.dark .mapbox-icon {
    background-image:url('#{$nv-mapbox-images-path}/icons-ffffff@2x.png');
  }

  // leaflet-draw referencing
  .leaflet-draw-toolbar a {
    background-image: url('#{$nv-leaflet-draw-images-path}/spritesheet.png');
    background-image: linear-gradient(transparent, transparent), url('#{$nv-leaflet-draw-images-path}/spritesheet.svg');
    background-repeat: no-repeat;
    background-size: 270px 30px;
  }

  .leaflet-retina .leaflet-draw-toolbar a {
    background-image: url('#{$nv-leaflet-draw-images-path}/spritesheet-2x.png');
    background-image: linear-gradient(transparent, transparent), url('#{$nv-leaflet-draw-images-path}/spritesheet.svg');
  }
}

.md-datepicker-calendar-pane {
  .md-datepicker-calendar {
    table tr, table tr th, table tr td {
      box-sizing: content-box;
    }
  }
}