@import "../../../lib/ninja-commons/styles/variables";

.nv-parcel-sweeper-container{
  .loading-sheet {
    left: 0;
    top: 0;
    position: fixed;
    background-color: rgba(#CFCFCF, 0.67);
    z-index: 11;
    height: 100%;
    width: 100%;
  }

  .hub-selection-container{
    form.hub-selection-form {
      
      h5.hub-selection-title {
        font-size: 1.4rem;
      }
      margin-top: 10rem;
      width: 25rem;
    }
  }

  .scan-container {

    .different-date{
      background: #796961;
    }
  
    .scan-error{
      background: #f45050 !important;
    }
  
    .default-box{
      background: #e8e8e8;
    }
  
    .rts{
      background: #3b444b;
    }
  
    .default-color-box{
      background: #73deec;
    }
  
    .priority{
      background: #f8cf5c;
    }
  
    .scan-sidebar{
      padding: 1.4rem;
      .inbound-sync-btn{
        margin-left: .8rem;
      }
      md-card{
        width: 20rem;
        md-toolbar{
          height: 2.8rem !important;
          min-height: 2.4rem !important;
          padding: 1rem;
          
          .material-icons{
            font-size: 1.6rem;
          }
          h5{
            font-size: 1.4rem;
          }
          &.disconnected {
            background: #f45050 !important;
            color: #000000;
          }
        
          &.connected {
            background: #f2f2f2 !important;
          }
        }
        md-card-content{
          font-size: 1rem;
          color: #333333;
        }
      }
  
    }
    .scan-main-container {
      .main-action-buttons{
        height: 6rem;
      }

      .panel{
        width: 53.6rem;
        min-height: 4rem;
        font-weight: 500;
        font-size: 1.1rem;
        margin-bottom: .5rem;
        padding: 1.6rem;
        text-transform: uppercase;
      }

      .inbound-data-info{
        text-align: center;
      }

      .priority-container{
        background: #e8e8e8;
        &.yellow {
          background: yellow;
        }
        &.orange {
          background: orange;
        }
        &.red {
          background: red;
        }
      }

      .rts-info-container {
        background: #e8e8e8;
        text-align: center;
        div {
          text-align: center;
          
        }
        &.display{
          background: #3b444b !important;          
          color: #ffffff;
        }
      }
      .display {
        visibility: visible;
      }
      

      .route-info-container{
        height: 8.4rem;
        background: #73deec;
        &.unsynced, &.empty{
          background: #e8e8e8 !important;
        }
      }

      .zone-info-container{
        height: 5.6rem;
        background: #73deec;
        &.unsynced, &.empty{
          background: #e8e8e8 !important;
        }
      }

      .different-date-container {
        background: #796961;
        height: 4rem;
        color: #ffffff;
        text-transform: none;
        font-size: 1.6rem;
        padding: 1.2rem;
        text-align: center;
        visibility: hidden;
        &.display {
          visibility: visible;
        }
      }

      .selected-hub-container,.destination-hub-container {
        background: #e8e8e8;
        height: 8rem;
        h5 {
          font-size: 1.1rem;
        }
        h4 {
          font-size: 1.6rem;
        }
        .header{
          padding: .8rem;
        }
        .selected-hub, .destination-hub {
          text-align: center;
          margin-bottom: 1.4rem;          
        }
      }

      .selected-hub-container {
        width: 35%;
        margin-right: 1rem;
        padding: 0 !important;
        text-transform: uppercase;        
        .change-hub-link{
          text-decoration: none;
          background: #ffffff;
          border-radius: 1rem;
          box-shadow: 0 0 .3rem #000000;
          font-size: 1.1rem;
          padding: 0 1rem 0 1rem;
          margin-left: .6rem;
        }

        nv-icon-text-button button {          
          padding: 0 !important;
          border-radius: 1rem;    
          margin: 0;      
          div{
            font-size: 1.1rem !important;
            font-weight: 200 !important;
          }
        }
      }

      .destination-hub-container{
        width: 60%;
        text-transform: uppercase;
        div {
          text-align: center;
        }

        &.diff-hub {
          background: #73deec;
        }
      }
      .scan-card-container{
        md-card{
          width: 40rem;
          height: 15.5rem;
          md-toolbar{
            height: 3.5rem !important;
            min-height: 3.5rem !important;
            padding: 1rem;
            background: #e8e8e8 !important;
          }

          .last-scanned-tracking-id{
            font-size: 1.4rem;
          }

          .add-prefix {
            &.prefixed {
              color: $nv-dark-blue;
              border-color: $nv-dark-blue;
            }
          }
        }
      }
    }
  }

  
  
  

}