@import "../../../lib/ninja-commons/styles/variables";
@import "../../../styles/variables";

.nv-van-inbound-container{
  .route-selection-container{
    width: 50rem;
    margin: 5rem auto;

    .route-id-info-box{
      background: $nv-dark-red;
      text-align: center;
      vertical-align: middle;
      p, h2{
        color: white;
      }
    }

    .route-id-entry, .tracking-id-entry{
      md-input-container{
        width: 100%;
      }
    }

    .tracking-id-info-box{
      background: $nv-dark-blue;
      p {
        color: white;
      }
    }

    
  }
  .inbounding-container{
    .route-driver-info-container{
      font-size: 1.6rem;
    }

    .last-scanned-trackingid {
      font-size: 1rem;
      color: #333333;
      margin-top: -1.5rem;
      margin-bottom: 1.5rem;
    }

    .route-parcel-info{
      margin: 0 !important;
    }
    .boxie{
      height: 10rem;
      box-shadow: .1rem 0 #eaeaea;
      background: black;
      color: white;
      padding: 1rem;
      h3, h5{
        color: white;
      }
    }

    .boxie-clickable{
      cursor: pointer;
    }
    .no-queue{
      background: $nv-dark-green;
    }
    .scanned {
      background: $nv-dark-blue;
    }

    .unscanned {
      background: $nv-dark-red;
    }

    .scanning-container {
      .scanning-box{
        .status-box{
          padding: 2.5rem;
          height: 15rem;
          background: pink;
          text-align: center;
          vertical-align: middle;
          h1{
            color: black;
            font-size: 10rem;
          }

          &.empty{
            background: $nv-dark-red;
          }

          &.success{
            background: $nv-dark-green;
          }
        }
      }
      .tracking-id-text{
        width: 100%;
      }

      .incorrect-tracking-id-box{
        table{
          thead, tbody { display: block; }
          tbody {
            height: 20rem;       
            overflow-y: auto;    
            overflow-x: hidden;  
          }
          th,td{
            width: 25rem;
          }
        }
        
      }
    }
    
  }
}

.nv-van-inbound-view-parcels{
  width: 100rem !important;
  table{
    th.tracking-id, td.tracking-id{
      width: 20rem;
    }
    th.name, td.name{
      width: 5rem;
    }
    th.contact, td.contact{
      width: 10rem;
    }
    th.address, td.address{
      width: 20rem;
    }
    th.granular-status, td.granular-status{
      width: 15rem;
    }
    th.status, td.status{
      width: 5rem;
    }
    th.view, td.view{
      width: 5rem;
    }

  }
}