<md-content class="nv-van-inbound-container">
  <div class="route-selection-container" ng-if="ctrl.pageState == 'fetch'" layout="row" layout-wrap layout-padding>
    <div flex="100" class="route-id-info-box">
      <h2>{{'container.van-inbound.route-id' | translate}}</h2>
      <p>{{'container.van-inbound.enter-youre-route-id-here' | translate}}</p>
    </div>
    <div flex="100" class="route-id-entry">
      <nv-input-text
        model="ctrl.routeId"
        name="route-id"
        on-keypress="ctrl.onKeypressRouteId(event, text)"        
      >
      </nv-input-text>
    </div>

    <div flex="100" class="tracking-id-info-box" layout-align="center center" layout="row">
      <p>{{'container.van-inbound.or-enter-your-tracking-id-here-to-detect-route' | translate}}</p>
    </div>

    <div flex="100" class="tracking-id-entry">
      <nv-input-text
        model="ctrl.trackingId"
        name="tracking-id"
      >

      </nv-input-text>
    </div>

    <div flex="100" layout-align="center center" layout="row">
      <nv-api-text-button
        on-click="ctrl.fetchRoute()"
        name="container.van-inbound.fetch"
        state="ctrl.fetchState"
        class="h3 raised"
        md-theme="nvGreen"
        disabled="!ctrl.routeId && !ctrl.trackingId"
      >
      </nv-icon-text-button>
    </div>


  </div>
  <div class="inbounding-container" ng-if="ctrl.pageState == 'scan'" layout="row" layout-padding layout-wrap>
    <div flex="100" layout="row" class="route-driver-info-container">
      <div flex="25">
        {{'container.van-inbound.route-id-x' | translate: { x: ctrl.routeId } }}
      </div>
      <div flex="30">
        {{'container.van-inbound.driver-x' | translate: { x: ctrl.driverIdName } }}
      </div>
    </div>
    <div flex="100" class="route-parcel-info" layout="row" layout-margin>
      <div flex="50" class="boxie">
        <h3>{{'container.van-inbound.status' | translate}}</h3>
        <h5>{{'container.van-inbound.x-y-parcels' | translate: {x: ctrl.countScannedOrder, y: ctrl.countOrder} }}</h5>
      </div>
      <div flex="50" class="boxie" ng-class="{ 'no-queue': ctrl.queue.length === 0 }">
        <h3>{{'container.van-inbound.queue-status' | translate}}</h3>
        <h5>{{'container.van-inbound.x-parcels' | translate: {x: ctrl.queue.length || ctrl.queueOnProgressIdx.length} }}</h5>
      </div>
      
    </div>

    <div flex="100" class="route-parcel-info" layout="row" layout-margin>
        <div flex="50" class="boxie boxie-clickable scanned" href="" ng-click="ctrl.openParcelListDialog(true, $event)">
            <h3>{{'container.van-inbound.scanned-parcels' | translate}}</h3>
            <h5>{{'container.van-inbound.x-y-parcels' | translate: {x: ctrl.countScannedOrder, y: ctrl.countOrder} }}</h5>
        </div>
        <div flex="50" class="boxie boxie-clickable unscanned" href="" ng-click="ctrl.openParcelListDialog(false, $event)">
            <h3>{{'container.van-inbound.parcels-yet-to-scan' | translate}}</h3>
            <h5>{{'container.van-inbound.x-y-parcels' | translate: {x: ctrl.countUnscannedOrder, y: ctrl.countOrder} }}</h5>
        </div>
    </div>

    <div class="scanning-container" flex="100" layout="row" layout-wrap layout-padding>
      <div flex="66" class="scanning-box">
        <div flex="100" class="status-box" ng-class="{ 'success': ctrl.scanStatus === 'SUCCESS', 'empty': ctrl.scanStatus === 'EMPTY' }">
          <h1>{{ctrl.scanStatus}}</h1>
        </div>
        <div flex="100">
          <nv-input-text
            class="tracking-id-text"
            name="tracking-id-scan"
            class="tracking-id-input"
            flex="100"
            id="tracking_input"
            disabled="ctrl.wait"
            on-keypress="ctrl.onKeyPressScanTrackingId(event)"
            model="ctrl.scannedTrackingId">
          </nv-input-text>
        </div>
        <div flex="100" class="last-scanned-trackingid">
          {{'container.van-inbound.last-scanned-tracking-id' | translate}} : {{ctrl.lastScannedTrackingId}}
        </div>
        
        <div  flex="100" layout-align="center center" layout="row">
          <nv-api-text-button flex="100"
            name="container.van-inbound.route-start"
            label="container.van-inbound.route-start"
            state="ctrl.routeStartState"
            class="raised h2"
            md-theme="nvBlue"
            on-click="ctrl.startRoute()"
          >
          </nv-api-text-button>
        </div>
        

      </div>
      <div flex="33" class="incorrect-tracking-id-box">
        <table class="table table-stripped">
          <thead>
              <tr>
                <th>{{"container.van-inbound.incorrect-tracking-id-input" | translate}}</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="trackingId in ctrl.invalidTrackingIds track by $index">
                <td>{{trackingId}}</td>
              </tr>
          </tbody>          
        </table>
      </div>
    </div>

  </div>

  <audio media-player="successSound" data-playlist="success"></audio>
  <audio media-player="errorSound" data-playlist="error"></audio>


</md-content>