@import "../../../../styles/mixins/form.mixins";
@import "../../../../styles/functions/utils";

md-input-container {
  &.checkbox-container {
    @each $key, $colors in $themeColor {
      &#{toThemeClass($key)}:not([disabled]) {
        md-checkbox.md-checked {
          .md-icon {
            background-color: map-get($colors, 'dark');
          }
        }
      }
    }

    &.ghost:not([disabled]) {
      line-height: 2.8rem;
      border: $button-ghost-border solid;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      padding: 0;

      md-checkbox {
        display: block;
        padding-left: 1rem;
        padding-right: 1rem;

        .md-container {
          margin-left: 1rem;
        }
      }

      @include nv-forms-inputs-input-checkbox($nv-dark2, $nv-dark4, $nv-light3, transparent, transparent, $nv-dark2);

      &.inverse {
        @include nv-forms-inputs-input-checkbox($nv-light0, $nv-light2, $nv-dark3, transparent, transparent, $nv-light0);
      }
    }
  }

  md-checkbox {
    margin: 0;
  }

}
