<div class="flexible-container" layout="row" layout-align="start start">
	<div class="main-title" layout="row" layout-align="start center">
		<p class="medium nv-text-ellipsis">{{ mainTitle | translate }}</p>
	</div>

	<div class="number-container" layout="row" flex layout-align="start center">
    <div flex="40">
      <nv-input-select
        label="number-container"
        placeholder="Type"
        model="model.type"
        model-options="{ trackBy: '$value.code'}"
        options="typeOptions">
      </nv-input-select>
    </div>
    <!--range-->
    <div class="number-param-container" layout="row" flex layout-align="start center" ng-if="model.type.code == 0">
      <nv-input-decimal
        flex="25"
        label="from"
        model="model.from"
        extra="::numberExtra">
      </nv-input-decimal>

      <div class="number-label">{{model.unit}} {{'commons.to' | translate}}</div>

      <nv-input-decimal
        flex="25"
        label="to"
        model="model.to"
        extra="::numberExtra">
      </nv-input-decimal>
      <div class="number-label">{{model.unit}}</div>
    </div>

    <!--value-->
    <div class="number-param-container" layout="row" flex layout-align="start center" ng-if="model.type.code == 1">
      <nv-input-select
        flex="15"
        label="operator-container"
        placeholder="OP"
        model="model.operator"
        model-options="{ trackBy: '$value.code'}"
        options="operatorOptions">
      </nv-input-select>

      <div class="number-label"></div>

      <nv-input-decimal
        flex="25"
        label="to"
        model="model.operand"
        extra="::numberExtra">
      </nv-input-decimal>
      <div class="number-label">{{model.unit}}</div>
    </div>
	</div>

  <div class="primary-button-container" layout="column" layout-align="end center">
    <div layout="column" layout-fill>
      <nv-icon-button class="flat dense" name="commons.remove-filter" icon="close" on-click="::onClose()"></nv-icon-button>
    </div>
  </div>
</div>
