.nv-container-bulk-order-order-list {
  $defaultWidth: 100rem;

  width: $defaultWidth !important;

  .table-holder {
    margin-top: $nv-baseline-grid;
    margin-bottom: $nv-baseline-grid;

    .table {

      > thead > tr > th {
        border-bottom: 0;
        font-weight: normal;
        font-size: 1.2rem;
        color: $nv-text-black-2;
      }

      > tbody > tr > td {
        border-top: 0;
        vertical-align: top;

        > span {
          padding-left: 0.4rem;
          min-height: 2.8rem;
          display: inline-block;
        }
      }

      .bold {
        font-weight: bold;
      }
    }
  }
}