<nv-dialog-header
  title="{{'container.bulk-order.dialog-order-list-title' | translate: { num: ctrl.bulkId } }}"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>
<form name="modelForm">
  <md-dialog-content>
    <div class="md-dialog-content">
      <div class="table-holder">
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th>{{ 'commons.no' | translate }}</th>
            <th>{{ 'commons.tracking-id' | translate }}</th>
            <th>{{ 'commons.type' | translate }}</th>
            <th>{{ 'commons.from' | translate }}</th>
            <th>{{ 'commons.to' | translate }}</th>
            <th>{{ 'commons.status' | translate }}</th>
            <th>{{ 'commons.created-at' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="order in ctrl.orders">
            <td>{{ order.no }}</td>
            <td><a class="link"
                   ui-sref="container.order.edit({orderId: order.id})"
                   target="_blank">{{ order.trackingId }}<a/></td>
            <td>{{ order.type }}</td>
            <td><span class="bold">{{ order.fromName }}</span> <br />{{ order.from }} <br />{{ order.fromPostcode }}</td>
            <td><span class="bold">{{ order.toName }}</span> <br />{{ order.to }} <br />{{ order.toPostcode }}</td>
            <td>{{ order.status }}<br /><br />{{ order.granularStatus }}</td>
            <td>{{ order.createdAt }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </md-dialog-content>
</form>