<md-input-container flex class="nv-p">

    <label for="{{id}}">{{label}}</label>

    <md-select
            name="{{id}}"
            id="{{id}}"
            aria-label="{{label}}"
            ng-model="model"
            ng-model-options="modelOptions"
            ng-change="::onChange({model: model})"
            ng-disabled="disabled"
            ng-required="required"
            multiple
            md-container-class="{{::mdContainerClass}}">

        <md-option
                ng-repeat="option in options"
                ng-value="option.value">
            {{option.displayName}}
        </md-option>

    </md-select>

    <div ng-if="!!form" ng-messages="form[id].$error" role="alert">
        <div ng-message="required">This field is required.</div>
        <div class="help-text" ng-if="helpText">{{helpText}}</div>
    </div>

</md-input-container>
