@import "../../../../../styles/variables";

md-dialog.route-inbound-end-incomplete-route {
  h2 {
    margin-bottom: $nv-baseline-grid*4;
  }

  md-input-container[name="other-comment"] {
    margin-top: $nv-baseline-grid*4;
  }
}