<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <h2 class="md-title">{{ 'container.route-inbound.incomplete-route' | translate }}</h2>
      <p>{{ 'container.route-inbound.explain-why-not-completed' | translate }}</p>

      <div>
        <nv-input-select
          class="md-block"
          label="commons.reason"
          model="ctrl.formReasonValue"
          model-options="{}"
          options="ctrl.reasonOptions"
          form="modelForm">
        </nv-input-select>

        <nv-input-text
          ng-if="ctrl.REASON[ctrl.formReasonValue] === ctrl.REASON.OTHER_REASON"
          class="md-block"
          name="other-comment"
          label="container.route-inbound.enter-details-here"
          model="ctrl.formOtherComment"
          required="true"
          form="modelForm">
        </nv-input-text>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        name="commons.go-back"
        on-click="ctrl.onCancel()">
      </nv-icon-text-button>
      <nv-api-text-button
        class="flat"
        state="ctrl.formSubmitState"
        name="commons.submit"
        on-click="ctrl.onSubmit()"
        disabled="!ctrl.isAbleToSubmit()"
        form="modelForm">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>