md-dialog.zonal-routing-bulk-edit-tags {
  $defaultWidth: 40rem !important;

  width: $defaultWidth;

  md-dialog {
    max-width: $defaultWidth;

    .route-tags-selection {
      width: 100%;

      md-select {
        md-select-value {
          span {
            white-space: normal;

            .md-container {
              display: none;
            }
          }
        }
      }
    }
  }
}