<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <h2 class="md-title">{{ 'container.zonal-routing.bulk-edit-tags' | translate }}</h2>

      <div class="tags-holder">
        <nv-input-select
          class="route-tags-selection"
          label="container.zonal-routing.select-tag"
          model="ctrl.selectedTags"
          model-options="{}"
          options="ctrl.tagsSelectionOptions"
          set-default="false"
          multiple="true">
        </nv-input-select>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        name="commons.cancel"
        on-click="ctrl.onCancel()">
      </nv-icon-text-button>
      <nv-api-text-button
        class="flat"
        state="ctrl.formSubmitState"
        name="commons.update"
        on-click="ctrl.onSave($event)">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>