@import "../../../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../../../styles/variables";

.nv-shipment-details{
  > div {
    width: 100%;
    height: 100%;
  }
  div#missing {
    width: 100%;
    height: 40rem;
    max-height: 40rem;
    display: flex;
    flex-direction: column;
    div.table-missing-orders-container {
      position: relative;
      flex: 1;
      nv-table {
        // column width
        @include nv-table-column-width(tracking_id, 15rem);
        @include nv-table-column-width(granular_status, 22rem);
        @include nv-table-column-width(last_hub, 15rem);
        @include nv-table-column-width(created_at, 15rem);      
      }
    }
  }
  
  div#extra-scan{
    width: 100%;
    height: 40rem;
    max-height: 40rem;
    display: flex;
    flex-direction: column;
    div.table-extra-scan-container {
      position: relative;
      flex: 1;
      nv-table {
        // column width
        @include nv-table-column-width(tracking_id, 15rem);
        @include nv-table-column-width(last_hub, 22rem);
        @include nv-table-column-width(last_scan, 15rem); 
      }
    }
  }

  div#removed{
    width: 100%;
    height: 40rem;
    max-height: 40rem;
    display: flex;
    flex-direction: column;
    div.table-removed-order-container {
      position: relative;
      flex: 1;
      nv-table {
        // column width
        @include nv-table-column-width(tracking_id, 15rem);
        @include nv-table-column-width(granular_status, 22rem);
        @include nv-table-column-width(last_hub, 15rem);
        @include nv-table-column-width(created_at, 15rem);      
      }
    }
  }
  
  div#orders {
    width: 100%;
    height: 40rem;
    max-height: 40rem;
    display: flex;
    flex-direction: column;
    div.table-orders-container {
      position: relative;
      flex: 1;
      nv-table {
        // column width
        @include nv-table-column-width(tracking_id, 15rem);
        @include nv-table-column-width(granular_status, 22rem);
        @include nv-table-column-width(last_hub, 15rem);
        @include nv-table-column-width(created_at, 15rem);    
      }
    }
  }
  
  div#scan{
    width: 100%;
    height: 40rem;
    max-height: 40rem;
    display: flex;
    flex-direction: column;
    div.table-scan-container {
      position: relative;
      flex: 1;
      nv-table {
        // column width
        @include nv-table-column-width(source, 15rem);
        @include nv-table-column-width(user_id, 20rem);
        @include nv-table-column-width(result, 22rem);
        @include nv-table-column-width(hub, 15rem);
        @include nv-table-column-width(created_at, 15rem);    
      }
    }  
  }
}