<md-content 
    nv-load="ctrl.shipmentDetailsPromise" 
    loading-message="Loading the shipment details..."
    class="nv-shipment-details" 
    layout="row" 
    layout-wrap 
    layout-padding>
    <div flex="100" layout="row" layout-align="space-between end">    
      <div>
          <h3>{{"container.shipment-management.shipment-id-x" | translate: { x: ctrl.shipmentId } }}</h3>
      </div>  
        
      <nv-icon-text-button
          on-click="ctrl.downloadReport()"
          name="container.shipment-management.download-report"
          icon="file_download"
          class="raised"
          md-theme="nvBlue">
      </nv-icon-text-button>
    </div>
    <div flex="100" id="missing" layout="row" layout-wrap>
        <div layout="row" layout-padding layout-align="space-between end">
            <h4>{{'container.shipment-management.missing-orders' | translate}}</h4>
            <p>
                {{"container.shipment-management.x-orders" | translate: { x: ctrl.tableParamMissingOrders.getLength() } }}
            </p>
        </div>
        <div class="table-missing-orders-container">
            <nv-table
                param="ctrl.tableParamMissingOrders"
                controller-as="ctrl" >
                <nv-table-row use="p">
                    <nv-td column="tracking_id">{{p.tracking_id}}</nv-td>
                    <nv-td column="granular_status">{{p.granular_status}}</nv-td>
                    <nv-td column="last_hub">{{p.last_hub}}</nv-td>
                    <nv-td column="created_at">{{p.created_at | nvTime: 'operator' : 'datetime'}}</nv-td>
    
                </nv-table-row>
            </nv-table>
        </div>
    </div>

    <div id="extra-scan" flex="100" layout="row" layout-wrap>
        <div layout="row" layout-padding layout-align="space-between end">
            <h4>{{'container.shipment-management.extra-scans' | translate}}</h4>
            <p>
                {{"container.shipment-management.x-scans" | translate: { x: ctrl.tableParamExtraScans.getLength() } }}
            </p>
        </div>
        <div class="table-extra-scan-container">
            <nv-table
                param="ctrl.tableParamExtraScans"
                controller-as="ctrl"                    
            >
                <nv-table-row use="p">
                    <nv-td column="tracking_id">{{p.tracking_id}}</nv-td>
                    <nv-td column="last_hub">{{p.last_hub}}</nv-td>
                    <nv-td column="last_scan">{{p.last_scan | nvTime: 'operator' : 'datetime'}}</nv-td>
                </nv-table-row>
            </nv-table>
    
        </div>
    </div>

    <div id="removed" flex="100" layout="row" layput-wrap>
        <div layout="row" layout-padding layout-align="space-between end">
            <h4>{{'container.shipment-management.orders-removed-from-shipment' | translate}}</h4>
            <p>
                {{"container.shipment-management.x-orders" | translate: { x: ctrl.tableParamOrdersRemoved.getLength() } }}
            </p>
        </div>
        <div class="table-removed-order-container">
            <nv-table
                param="ctrl.tableParamOrdersRemoved"
                controller-as="ctrl"                    
            >
                <nv-table-row use="p">
                    <nv-td column="tracking_id">{{p.tracking_id}}</nv-td>
                    <nv-td column="granular_status">{{p.granular_status}}</nv-td>
                    <nv-td column="last_hub">{{p.last_hub}}</nv-td>
                    <nv-td column="created_at">{{p.created_at | nvTime: 'operator' : 'datetime'}}</nv-td>
                </nv-table-row>
            </nv-table>
        </div>
    </div>
    
    <div id="orders" flex="100" layout="row" layout-wrap>
        <div layout="row" layout-padding layout-align="space-between end">
            <h4>{{'container.shipment-management.current-orders' | translate}}</h4>
            <p>
                {{"container.shipment-management.x-orders" | translate: { x: ctrl.tableParamOrders.getLength() } }}
            </p>
        </div>
        <div class="table-orders-container">
            <nv-table
                param="ctrl.tableParamOrders"                    
                controller-as="ctrl"                    
            >
                <nv-table-row use="p">
                    <nv-td column="tracking_id">{{p.tracking_id}}</nv-td>
                    <nv-td column="granular_status">{{p.granular_status}}</nv-td>
                    <nv-td column="last_hub">{{p.hub_name || '-'}}</nv-td>
                    <nv-td column="created_at">{{p.created_at ? (p.created_at | nvTime: 'operator' : 'datetime') : '-'}}</nv-td>
                </nv-table-row>
            </nv-table>
        </div>
    </div>
   
    <div id="scan" flex="100" layout="column" layout-wrap>
        <div layout="row" layout-padding layout-align="space-between end">
            <h4>{{'container.shipment-management.shipment-scan' | translate}}</h4>
            <span>
                {{"container.shipment-management.x-scans" | translate: { x: ctrl.tableParamScans.getLength() } }}
            </span>
        </div>
        <div class="table-scan-container">
            <nv-table
                param="ctrl.tableParamScans"
                controller-as="ctrl">
                <nv-table-row use="p">
                    <nv-td column="source">{{p.source}}</nv-td>
                    <nv-td column="user_id">{{p.user_id}}</nv-td>
                    <nv-td column="result">{{p.result}}</nv-td>
                    <nv-td column="hub">{{p.hub}}</nv-td>
                    <nv-td column="created_at">{{p.created_at | nvTime: 'operator' : 'datetime'}}</nv-td>
                </nv-table-row>
            </nv-table>
        </div>
    </div>    
</md-content>