@import "../../../../styles/variables";
@import "../../../../styles/functions/utils";

.nv-btn-grp {

  $width: 2rem;
  $height: 2rem;
  $border-width: 0.3rem;
  $border-inner-width: 0.2rem;
  $transition-duration: 300ms;

  border: $border-width solid $nv-dark-blue;
  padding: $border-inner-width;
  border-radius: $border-width * 2;

  &.disabled {
    border-color: rgba(33, 33, 33, .33);
  }

  &.dark {
    @each $key, $colors in $themeColor{
      &[md-theme="#{$key}"] {
        border-color: map-get($colors, 'light');
      }
    }
  }

  button.md-button {
    color: $nv-dark-blue;
    text-transform: capitalize;
    min-width: $width;
    height: $height;
    line-height: $height - 2 * $border-width - 2 * $border-inner-width;
    min-height: $height - 2 * $border-width - 2 * $border-inner-width;
    outline: none !important;
    margin: 0;
    border: 0;
    border-radius: $border-width !important;
    transition: color $transition-duration ease, background-color $transition-duration ease;
    display: inline-block;

    &:not(:first-child) {
      margin-left: $border-inner-width;
    }

    &.active {
      color: $nv-text-white;
      background-color: $nv-dark-blue;

      &:hover,
      &:not([disabled]).md-focused {
        background-color: rgba($nv-dark-blue, 0.2);
      }
    }
  }

  // Theming
  @each $key, $colors in $themeColor{
    &[md-theme="#{$key}"] {
      border-color: map-get($colors, 'dark');

      button.md-button {
        &.ghost {
          -webkit-box-shadow: none !important;
          -moz-box-shadow: none !important;
          box-shadow: none !important;
          border-color: transparent !important;

          color: map-get($colors, 'dark') !important;
          &.dark {
            color: map-get($colors, 'light') !important;
          }
        }
        &:hover,
        &:not([disabled]).md-focused {
          color: map-get($colors, 'dark');
          background-color: rgba(map-get($colors, 'dark'), 0.2);
        }
      }
    }
  }

}
