@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../lib/ninja-commons/styles/mixins/typography.mixins";



.nv-hub-group-management-container{
 height: 100%;
 width: 100%; 
 display: flex;
 flex-direction: column;
  .table-container{
    position: relative;
    flex:1;
    nv-table{
      @include nv-table-column-width(id, 10rem); 
      @include nv-table-column-width(name, 20rem); 
      @include nv-table-column-width(hubs, 30rem); 
      // action columns
      @include nv-table-action-columns(10rem);
    }
  }
  .loading-sheet {
    left: 0;
    top: 0;
    position: fixed;
    background-color: rgba(#CFCFCF, 0.67);
    z-index: 11;
    height: 100%;
    width: 100%;
  }
  a.hub-link{
    border-radius: .5rem;
    border: .2rem solid #DA6037;
    text-decoration: none;
    color: #DA6037;
    font-weight: 600;
    padding: .3rem;
    margin: .2rem;
    display: inline-block;
  }
}
.nv-hub-group-add-dialog{
  md-dialog-content{
    padding: 1.4rem;

    .selected-hub-list{
      max-height: 30rem !important;
      md-list-item{
        padding-left: 0rem;
        p{
          color: #333333;
          font-size: 1.2rem;
        }
      }
    }
    .hub-selection-container{
      nv-icon-button{
        padding-left: 1.2rem !important;
      }
    }
    
  }  
}