<div class="nv-hub-group-management-container">
    <div class="action-toolbar" layout="row" layout-padding layout-align="end center">
      <nv-icon-text-button
        icon="add"
        on-click="ctrl.createHubGroupDialog($event)"
        theme="nvGreen"
        name="container.hub-group-management.create-hub-group"
        class="raised">
      </nv-icon-text-button>
    </div>
    <div class="table-container">
      <nv-table
        class="hub-group-table"
        param="ctrl.tableParam"
        controller-as="ctrl">
        <nv-table-row use="hubGroup">          
          <nv-td column="id">
            {{hubGroup.id}}
          </nv-td>
          <nv-td column="name">
            {{hubGroup.name}}
          </nv-td>
          <nv-td column="hubs">
            <a class="hub-link" href="javascript:void" ng-click="ctrl.showHubInfo($event, hub)" ng-repeat="hub in hubGroup.hubs">{{hub.name}} </a>
          </nv-td>
          <nv-action column="actions">
            <nv-icon-button
              md-theme="nvBlue"
              class="ghost nv-margin-auto dense"
              name="Edit"
              icon="edit"
              on-click="ctrl.editHubGroupDialog($event, hubGroup)">
            </nv-icon-button>
            <nv-icon-button
              md-theme="nvRed"
              class="ghost nv-margin-auto dense"
              name="Delete"
              icon="delete"
              on-click="ctrl.deleteSelectedHubGroup($event, hubGroup)">
            </nv-icon-button>
          </nv-action>
        </nv-table-row>
      
      </nv-table>
    </div>   
    <div class="loading-sheet" ng-if="ctrl.loadingSheet === true" layout layout-align="center center">
        <md-progress-circular md-theme="nvBlue" class="md-primary" md-mode="indeterminate" md-diameter="64px"></md-progress-circular>
    </div>
</div>