@import "../../../../../lib/ninja-commons/styles/variables";
@import "../../../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../../../styles/variables";

md-dialog.zonal-routing-suggest-drivers {
  $defaultWidth: 70rem !important;

  @mixin driver-list-column {
    display: table-cell;
    padding: $nv-baseline-grid;
    vertical-align: middle;
    outline: none;

    &.driver-name {
      width: 100%;

      .nv-text-ellipsis {
        max-width: 20rem;
      }
    }

    &.action {
      text-align: center;
    }
  }

  width: $defaultWidth;

  md-dialog {
    max-width: $defaultWidth;

    md-dialog-content {
      padding: $nv-baseline-grid*2 $nv-baseline-grid*2 0;

      h5 {
        @include nv-font-color(black, 2);
        @include nv-font-weight(regular);
        font-size: 1.6rem;
        margin-bottom: $nv-baseline-grid*2;
      }

      .filter-settings {
        .filter-box-container {
          padding-left: 0;
          padding-right: 0;

          .filter-container {
            min-width: 0;

            .header-container {
              .main-title {
                min-width: 11rem;
                width: 11rem;
              }

              .utility-section {
                margin-left: $nv-baseline-grid*2;

                > *:not(.primary-button-container) {
                  flex: 1;
                  max-width: none;
                }
              }

              .primary-button-container {
                flex: none;
              }
            }
          }

          .search-filter-container {
            margin-top: 0;
            min-width: 0;
          }
        }

        .load-suggestions-holder {
          nv-icon-text-button {
            margin-top: $nv-baseline-grid * 3;
            display: inline-block;
          }
        }
      }

      .driver-boxes-holder {
        margin-top: $nv-baseline-grid * 3;

        .driver-box {
          border: 1px solid $nv-light4;
          -webkit-border-radius: $nv-baseline-grid / 2;
          -moz-border-radius: $nv-baseline-grid / 2;
          border-radius: $nv-baseline-grid / 2;
          min-height: 20rem;
          padding: $nv-baseline-grid*2;
          margin-bottom: $nv-baseline-grid * 3;

          .driver-header {
            display: table;
            border: 1px solid $nv-light4;
            background: $nv-light2;
            width: 100%;

            .row {
              display: table-row;

              @include nv-font-color(black, 2);
              @include nv-font-weight(medium);

              > div {
                @include driver-list-column;

                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
              }
            }
          }

          .driver-list {
            height: 16rem;
            overflow-x: hidden;
            overflow-y: auto;

            md-virtual-repeat-container {
              height: 100%;

              .row {
                background-color: $nv-light0;
                height: 4.3rem;
                border-bottom: 1px solid $nv-light4;
                border-left: 1px solid $nv-light4;
                border-right: 1px solid $nv-light4;

                &.green {
                  background-color: $nv-highlight-green;
                }

                > div {
                  @include driver-list-column;

                  &.action {
                    nv-icon-text-button {
                      display: inline-block;
                      opacity: 0.8;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    md-dialog-actions {
      border-top: 1px solid $nv-light4;
    }
  }
}