<nv-dialog-header
  title="{{'container.zonal-routing.suggest-drivers' | translate}}"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<form name="modalForm">
  <md-dialog>
    <md-dialog-content>
      <div class="filter-settings">
        <h5>{{ 'container.zonal-routing.filter-settings' | translate }}</h5>
        <nv-filter-box-container
          possible-filters="ctrl.driverFilters.possibleFilters"
          selected-filters="ctrl.driverFilters.selectedFilters"
          search-by="mainTitle">
        </nv-filter-box-container>

        <div class="load-suggestions-holder nv-text-center">
          <nv-icon-text-button
            class="ghost"
            name="container.zonal-routing.load-filter-suggestions"
            on-click="ctrl.loadFilterSuggestions()">
          </nv-icon-text-button>
        </div>
      </div>

      <div class="driver-boxes-holder"
           layout="row" layout-sm="column" layout-xs="column">
        <div flex>
          <div class="driver-box">
            <h5>{{ 'container.zonal-routing.suggested-drivers' | translate }}</h5>

            <div class="driver-header">
              <div class="row">
                <div class="driver-name"
                     ng-click="ctrl.performSortDriver(ctrl.suggestedDriversParam, ctrl.SORT_OPTION.NAME)">
                  <i class="fa" ng-class="ctrl.showDriversSortIcon(ctrl.suggestedDriversParam, ctrl.SORT_OPTION.NAME)"></i>
                  <span>{{ 'commons.driver-name' | translate }}</span>
                </div>
                <div class="action"></div>
              </div>
            </div>
            <div class="driver-list">
              <md-virtual-repeat-container ng-if="ctrl.suggestedDriversParam.list.length > 0">
                <div md-virtual-repeat="driver in ctrl.suggestedDriversParam.list"
                     class="row">
                  <div class="driver-name"
                       title="{{ driver.name }}">
                    <div class="nv-text-ellipsis">
                      {{ driver.name }}
                    </div>
                  </div>
                  <div class="action">
                    <nv-icon-text-button
                      class="flat dense"
                      name="container.zonal-routing.add"
                      on-click="ctrl.addDriver(driver)">
                    </nv-icon-text-button>
                  </div>
                </div>
              </md-virtual-repeat-container>
            </div>
          </div>
        </div>
        <div flex="5"
             hide-sm hide-xs>
        </div>
        <div flex>
          <div class="driver-box">
            <h5>{{ 'container.zonal-routing.added-drivers' | translate }}</h5>

            <div class="driver-header">
              <div class="row">
                <div class="driver-name"
                     ng-click="ctrl.performSortDriver(ctrl.addedDriversParam, ctrl.SORT_OPTION.NAME)">
                  <i class="fa" ng-class="ctrl.showDriversSortIcon(ctrl.addedDriversParam, ctrl.SORT_OPTION.NAME)"></i>
                  <span>{{ 'commons.driver-name' | translate }}</span>
                </div>
                <div class="action"></div>
              </div>
            </div>
            <div class="driver-list">
              <md-virtual-repeat-container ng-if="ctrl.addedDriversParam.list.length > 0">
                <div md-virtual-repeat="driver in ctrl.addedDriversParam.list"
                     class="row green">
                  <div class="driver-name"
                       title="{{ driver.name }}">
                    <div class="nv-text-ellipsis">
                      {{ driver.name }}
                    </div>
                  </div>
                  <div class="action">
                    <nv-icon-text-button
                      class="flat dense"
                      name="commons.remove"
                      on-click="ctrl.removeAddedDriver(driver)">
                    </nv-icon-text-button>
                  </div>
                </div>
              </md-virtual-repeat-container>
            </div>
          </div>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        name="commons.cancel"
        on-click="ctrl.onCancel()">
      </nv-icon-text-button>

      <nv-icon-text-button
        md-theme="nvGreen"
        class="raised"
        name="commons.update"
        on-click="ctrl.onSave()">
      </nv-icon-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>