@import "../../lib/ninja-commons/styles/variables";
@import "../../lib/ninja-commons/styles/mixins/media-query.mixins";

.data-header {

  $data-header-height: 3.6rem;

  margin-bottom: 2rem;

  h4, .nv-h4 {
    line-height: $data-header-height;

    @include nv-media-query-lg-max {
      font-size: 2.3rem;
    }

    @include nv-media-query-md-max {
      font-size: 2.2rem;
    }
  }

  > :nth-child(n+2) {
    margin-left: 7px;
  }

  .total-count .nv-h4 {
    padding-right: 0.5rem;
  }

}
