<div class="data-header" layout="row">

  <h4>{{mainTitle}}</h4>

  <span flex></span>

  <ng-transclude></ng-transclude>

  <nv-create-button
    name="{{addTitle}}"
    on-click="::onAdd({$event: $event})">
  </nv-create-button>

  <nv-download-csv-button
    md-theme="nvBlue"
    data="data"
    csv-header="{{::csvHeader}}"
    csv-column-order="{{::csvColumnOrder}}"
    filename="{{::filename}}">
  </nv-download-csv-button>

  <div class="total-count" layout="row">
    <span class="nv-h4">Total:</span>
    <span class="nv-h3">{{data.length}}</span>
  </div>

</div>
