<md-button 
  class="nv-button full section-head nv-text-ellipsis" 
  ng-class="{ 'is-active': state.isExpanded }"
  ng-click="toggleExpand()">
  <md-tooltip md-direction="right" md-delay="500">{{translatedTitle}}</md-tooltip>
  <span>{{translatedTitle}}</span>
  <i class="material-icons"></i>
</md-button>