<md-dialog-content class="md-dialog-content">
  <div class="nv-text-center">
    <h5 ng-if="ctrl.currentState === ctrl.STATE.UPDATING">
      {{ctrl.payload.messages.updating | translate: {index: ctrl.payload.currentIndex, totalCount: ctrl.payload.totalCount} }}
    </h5>
    <h5 ng-if="ctrl.currentState === ctrl.STATE.UPDATED">
      {{ctrl.payload.messages.updated | translate: {successCount: ctrl.payload.successCount, totalCount: ctrl.payload.totalCount} }}
    </h5>
  </div>

  <div ng-if="ctrl.currentState === ctrl.STATE.UPDATING">
    <md-progress-linear md-mode="determinate" value="{{ ctrl.getProgressPercentage() }}"></md-progress-linear>
  </div>

  <div ng-if="ctrl.payload.errors.length > 0"
       class="error-box">
    <div layout="column">
      <div flex>
        <div class="title">{{ctrl.payload.messages.error | translate: {errorCount: ctrl.payload.errors.length} }}</div>
      </div>

      <div flex>
        <div ng-repeat="error in ctrl.payload.errors track by $index"
             class="content">
          <span>{{$index+1}}.</span>{{error}}
        </div>
      </div>

      <i class="material-icons">error</i>
    </div>
  </div>

  <div ng-if="ctrl.currentState === ctrl.STATE.UPDATED"
       class="nv-text-center">
    <nv-icon-text-button
      class="flat"
      name="{{'commons.close' | translate}}"
      ng-click="ctrl.onHide()">
    </nv-icon-text-button>
  </div>
</md-dialog-content>