@import "../../lib/ninja-commons/styles/variables";

.filter {

  $transition-duration: 400ms;

  padding: 0.5rem;
  border: 0.1rem solid $nv-light2;

  .main-title {
    margin: 0 0.4rem;
    line-height: 3rem;
    color: $nv-tb32;
    font-size: $font-size-p;
    letter-spacing: $letter-spacing-h4;
    font-weight: $font-weight-h5;
  }

  .clear-button {
    margin: 0;
    min-height: 3rem;
    line-height: 3rem;
    color: $nv-tb32;
    text-transform: none;
    letter-spacing: $letter-spacing-h4;
    font-weight: $font-weight-h5;
    min-width: 7rem;
  }

  button {
    text-transform: capitalize;
    margin: 0.4rem;
  }

  .filter-buttons-container .filter-button {
    transition: color $transition-duration ease, background-color $transition-duration ease;
    min-width: 0;
    text-overflow: ellipsis;
    margin: 0.4rem 0.5%;
    border: 0.1rem solid $nv-light2;
  }

  .filter-buttons-container .filter-button.active {
    &:nth-child(15n+1)  { background-color: #da6037; color: white; &:hover { background-color: darken(#da6037, 10%); } }
    &:nth-child(15n+2)  { background-color: #c67b1e; color: white; &:hover { background-color: darken(#c67b1e, 10%); } }
    &:nth-child(15n+3)  { background-color: #59791d; color: white; &:hover { background-color: darken(#59791d, 10%); } }
    &:nth-child(15n+4)  { background-color: #3cb00b; color: white; &:hover { background-color: darken(#3cb00b, 10%); } }
    &:nth-child(15n+5)  { background-color: #3b79be; color: white; &:hover { background-color: darken(#3b79be, 10%); } }
    &:nth-child(15n+6)  { background-color: #594673; color: white; &:hover { background-color: darken(#594673, 10%); } }
    &:nth-child(15n+7)  { background-color: #cf64a7; color: white; &:hover { background-color: darken(#cf64a7, 10%); } }
    &:nth-child(15n+8)  { background-color: #dc506a; color: white; &:hover { background-color: darken(#dc506a, 10%); } }
    &:nth-child(15n+9)  { background-color: #89421f; color: white; &:hover { background-color: darken(#89421f, 10%); } }
    &:nth-child(15n+10) { background-color: #8d8c14; color: white; &:hover { background-color: darken(#8d8c14, 10%); } }
    &:nth-child(15n+11) { background-color: #365218; color: white; &:hover { background-color: darken(#365218, 10%); } }
    &:nth-child(15n+12) { background-color: #279541; color: white; &:hover { background-color: darken(#279541, 10%); } }
    &:nth-child(15n+13) { background-color: #616ca7; color: white; &:hover { background-color: darken(#616ca7, 10%); } }
    &:nth-child(15n+14) { background-color: #ae67e8; color: white; &:hover { background-color: darken(#ae67e8, 10%); } }
    &:nth-child(15n+15) { background-color: #8b3350; color: white; &:hover { background-color: darken(#8b3350, 10%); } }
  }

}
