<div class="filter">

  <div layout="row" layout-align="space-between center">
    <div class="main-title nv-text-ellipsis">{{mainTitle}}</div>
    <md-button class="clear-button" ng-click="onClearAll()">Clear All</md-button>
  </div>

  <div class="filter-buttons-container">
    <md-button ng-repeat="item in titles"
     type="button"
     class="filter-button"
     aria-label="' + title + '"
     ng-click="onClick($index)" ng-class="{'active': +model[$index]}">
      {{item}}</md-button>
  </div>

</div>
