@import "../../../../../lib/ninja-commons/styles/variables";

md-dialog.route-inbound-choose-route-id {
  .table-holder {
    .table {
      > thead > tr > th {
        border-bottom: 0;
        font-weight: normal;
        font-size: 1.2rem;
        color: $nv-text-black-2;

        &.actions {
          width: 20%;
          text-align: center;
        }
      }

      > tbody > tr > td {
        border-top: 0;
        vertical-align: middle;

        &.actions {
          text-align: center;
        }
      }
    }
  }

  md-dialog-actions {
    nv-icon-text-button {
      width: auto !important;
    }
  }
}