<md-dialog>
  <md-dialog-content class="md-dialog-content">
    <h2 class="md-title">{{ 'container.route-inbound.choose-a-route' | translate }}</h2>
    <div>{{ 'container.route-inbound.choose-a-route-confirmation-text' | translate:{ total: ctrl.routeIds.length } }}</div>

    <div class="table-holder">
      <table class="table table-condensed table-striped">
        <thead>
        <tr>
          <th>{{ 'commons.model.route-id' | translate }}</th>
          <th class="actions">{{ 'commons.actions' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="routeId in ctrl.routeIds">
          <td>{{ routeId }}</td>
          <td class="actions">
            <nv-icon-button
              class="raised dense"
              icon="arrow_forward"
              name="commons.proceed"
              on-click="ctrl.onFetch(routeId)">
            </nv-icon-button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <nv-icon-text-button
      class="flat"
      name="commons.go-back"
      on-click="ctrl.onCancel()">
    </nv-icon-text-button>
  </md-dialog-actions>
</md-dialog>