@import "../../styles/variables";

nv-autocomplete-list-with-x,
nv-autocomplete-list-with-checkbox {

  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  position: relative;

  .autocomplete-container {
    position: relative;
    margin-bottom: 0.5rem;
    border-bottom: 0.2rem solid $nv-dark4;

    md-icon.add,
    md-icon.arrow-drop-down {
      position: absolute;
      top: 0.5rem;
      color: $nv-dark4;
      pointer-events: none;
      width: 2rem;
      height: 2rem;

      &, i {
        font-size: 2rem;
      }
    }

    md-icon.add {
      left: 0.3rem;
    }

    md-icon.arrow-drop-down {
      right: 0.5rem;
    }

    md-autocomplete {
      background: none;
      width: 100%;
      min-width: 0;
      height: 3rem;

      md-autocomplete-wrap {
        box-shadow: none;
        height: 3rem;

        input:not(.md-input) {
          height: 3rem;
          padding: 0 0.5rem 0 2.8rem;
        }
      }

      button {
        margin: 0;
      }
    }
  }

  .list-container {
    padding: 0 0.5rem;
    position: absolute;
    top: 4.2rem;
    left: 0;
    right: 0;
    bottom: 3.5rem;
    overflow: auto;

    .name {
      margin: 0 0.5rem;
      line-height: 2rem;
      font-size: $font-size-p;
    }

    .close-button {
      display: block;
      margin: 0;
      padding: 0;
      width: 2rem;
      min-width: 2rem;
      height: 2rem;
      line-height: 2rem;
      min-height: 2rem;
      font-size: 0;

      &:not([disabled]):hover {
        background-color: darken($nv-dark3, 10%);
      }

      md-icon {
        width: 2rem;
        height: 2rem;
        color: $nv-dark4;

        &, i {
          font-size: 2rem;
        }
      }

    }

    md-checkbox {
      margin: 0;
      width: 2.5rem;

      .md-icon {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0.25rem;

        &:after {
          top: 0;
          left: 0.4rem;
        }
      }

      .md-ripple-container {
        width: 2.5rem;
        height: 2.5rem;
        left: -0.25rem;
        top: -0.25rem;
      }

      .md-ink-ripple:after {
        width: 2.5rem;
        height: 2.5rem;
        left: -0.25rem;
        top: -0.25rem;
      }
    }
  }

  .button-container {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 0.5rem;
    bottom: 0.5rem;
    text-align: right;

    button {
      min-width: 6.5rem;
      height: 2.5rem;
      min-height: 2.5rem;
      line-height: 2.5rem;
      margin: 0;
      text-transform: capitalize;
      color: $nv-tb32;
      background-color: $nv-dark3;

      &:not([disabled]):hover {
        background-color: darken($nv-dark3, 10%);
      }
    }
  }

}
