@import "../../styles/variables";
@import "../../styles/mixins/shadow.mixins";
@import "../../styles/functions/utils";

// for alert, prompts, single input dialog
// == Dialog classes
// ## The standard dialog styles, according to the ninja style guide:
// ## https://drive.google.com/open?id=0B3zzwgMtKLmcSC03eWFVY0hLZXM
md-dialog, md-dialog.nv-dialog {
  max-width: 600px;
  max-height: 600px;
  $dialog-content-padding: 28px;
  $dialog-actions-padding: 14px;

  @each $key, $colors in $themeColor {
    &#{toThemeClass($key)} {
      h2.md-title, .nv-dialog-title {
        color: map-get($colors, 'dark');
      }
    }

    md-dialog-actions {
      > button, > nv-icon-text-button > button {
        &#{toThemeClass($key)} {
          color: map-get($colors, 'dark');
        }
      }

      > button:first-child {
        &#{toThemeClass($key)} {
          color: $nv-text-black-2 !important;
        }
      }

      nv-icon-text-button:first-child > button {
        &#{toThemeClass($key)} {
          color: $nv-text-black-2 !important;
        }
      }
    }
  }

  md-dialog-content.md-dialog-content {
    padding: $dialog-content-padding;
    > * {
      margin-bottom: 14px;
    }
    > *:last-child, p:last-child {
      margin-bottom: 0;
    }
  }

  md-dialog-actions {
    padding: $dialog-actions-padding;

    button.md-button {
      text-transform: inherit;
    }
  }
}

//for dataset dialog
// == Dataset Dialog classes
// ## The standard dataset dialog styles, according to the ninja style guide:
// ## https://drive.google.com/open?id=0B3zzwgMtKLmcb3JPdVR6RHB5b1E
md-dialog.nv-dataset-dialog {

  $md-dialog-actions-padding: 7px;

  width: 600px;
  max-width: 98%;
  max-height: 90%;

  @include nv-shadow(24dp);
  border-radius: 2px;

  md-dialog-actions {
    padding: $md-dialog-actions-padding;
  }

  /* Make the button full width if it is the only button */
  md-dialog-actions > *:only-child {
    width: 100%;

    /* Target for those button wrappers and md-buttons */
    &.md-button.nv-button,
    & .md-button.nv-button {
      width: 100%;
    }
  }

  /* Make the margin between the buttons */
  md-dialog-actions {
    > *:not(:last-child) {
      margin-right: 7px;
    }
    > .additional {
      flex: 1;
      display: flex;
      > *:not(:first-child) {
        margin-left: 7px;
      }
    }
  }

}
