<div class="header-container" layout="row" layout-align="start center">
    
        <div class="main-title">
            <p class="medium nv-text-ellipsis">{{ mainTitle | translate }}</p>
        </div>
    
        <div class="text-container" layout="row" flex layout-align="end center">
            <md-input-container md-no-float class="md-block" flex="33">
                <input
                        ng-model="search"
                        placeholder="Type in here.."
                        ng-keypress="::onKeypress($event)">
            </md-input-container>
    
            <div flex class="spacer"></div>
    
            <div class="primary-button-container" layout="row" layout-align="end center">
                <!-- Show Selected Filters button-->
                <nv-icon-text-button
                        ng-if="model.length > 0"
                        ng-class="{'active': !showAll}"
                        class="flat dense"
                        name="{{showAll ? 'Hide (' + model.length + ')' :
                                'Show (' + model.length + ')'}}"
                        icon-position="right"
                        icon="{{showAll ? 'arrow_drop_up': 'arrow_drop_down'}}"
                        on-click="toggleState()">
                </nv-icon-text-button>
    
                <nv-icon-button
                        ng-if="onClose !== undefined && model.length === 0 && !isMandatory"
                        class="flat dense"
                        name="commons.remove-filter"
                        icon="close"
                        on-click="::onClose()">
                </nv-icon-button>
    
                <!-- Clear All button-->
                <nv-icon-button
                        ng-if="model.length > 0"
                        class="flat dense primary-button"
                        name="commons.clear-all"
                        icon="clear_all"
                        on-click="::onClearAll()">
                </nv-icon-button>
            </div>
        </div>
    
    </div>
    <md-divider ng-if="showAll && model.length > 0">
    </md-divider>
    <div class="button-container" ng-if="model.length && showAll">
        <nv-icon-text-button
                name="{{::item.displayName}}"
                icon-position="right"
                icon="close"
                class="ghost dense filter-button custom"
                aria-label="{{::item.displayName}}"
                ng-repeat="item in model"
                on-click="::onRemove(item.id)">
        </nv-icon-text-button>
    </div>