<nv-dialog-header title="{{'container.recovery-tickets.take-photo' | translate}}" 
on-cancel="::ctrl.onCancel($event)" cancel-text="{{'commons.discard-changes' | translate }}"></nv-dialog-header>
<md-dialog-content class="resolution-detect" ng-if="ctrl.undetected" layout="row" layout-wrap layout-padding>
  <video style="visibility:hidden" id="detector" autoplay playsinline height="0" width="0"></video>
  <p flex="100">{{"container.recovery-tickets.system-will-detect-the-maximum-resolution-of-the-camera" | translate}}</p>
  <div flex="100" layout="row" layout-align="center none">
      <nv-icon-text-button
      class="detect-button raised"
      icon="autorenew"
      md-theme="nvBlue"
      label="Auto Detect"
      name="detect"
      on-click="ctrl.detectMaxResolution()">
    </nv-icon-text-button>
  </div>  
</md-dialog-content>

<md-dialog-content layout="row" layout-wrap ng-if="!ctrl.undetected">
  <div flex="100" id="camera-container" layout="row" layout-align="center center">
    <div id="my_camera" style="height: 480px; width: 640px"></div>
  </div>
  <div flex="100" id="camera-shutter-button-container" layout="row" layout-padding layout-align="center center">
    <nv-icon-button
      class="primary raised h4"      
      icon="camera"
      label="container.recovery-tickets.take-photo"
      name="container.recovery-tickets.take-photo"
      md-theme="nvGreen"
      disabled="ctrl.images.length == 10"
      on-click="ctrl.takePhoto()">
    </nv-icon-button>
  </div>
  <div flex="100" layout="row" layout-padding layout-align="space-between none">
    <h5>{{"container.recovery-tickets.taken-photos" | translate}}</h5>
    <nv-icon-button
      icon="settings"
      name="camera setting"
      class="small dense flat"
      on-click="ctrl.changeCameraSetting()"
    />
  </div>
  <div flex="100" id="taken-image">
    <div class="image" ng-repeat="image in ctrl.images">
      <img ng-src="{{image}}" width="56" height="32"/>
      <nv-icon-button
        icon="close"
        label="commons.delete"
        class="delete-button small dense flat"
        on-click="ctrl.removeImage($index)">
      </nv-icon-button>  
    </div>
    <p ng-if="ctrl.images.length == 0">
      {{"container.recovery-tickets.no-photos-taken" | translate}}
    </p>
  </div>
</md-dialog-content>
<md-dialog-actions layout="row">
  <nv-icon-text-button
    class="flat close-btn"
    label="commons.close"
    name="commons.close"
    on-click="ctrl.onCancel()"
  >
  </nv-icon-text-button>
  <nv-icon-text-button    
    ng-if="!ctrl.undetected"
    label="container.recovery-tickets.upload"
    class="primary raised"
    label="commons.upload"
    on-click="ctrl.onClose()"
    md-theme="nvGreen">
  </nv-icon-text-button>
</md-dialog-actions>
