.nv-container-sales-person {
  width: 100%;
  height: 100%;

  .loaded {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .actions-container {
      margin: 1.2rem;
    }

    .table-container {
      position: relative;
      flex: 1;
      
      nv-table {
        // column width
        @include nv-table-column-width(code, 20rem);
        @include nv-table-column-width(name, 100%);

        @include nv-table-row-height(8rem);

        @include nv-table-action-columns(nv-table-action-width("two-dense-p"));
      }
    }
  }
}