<md-content class="nv-container-sales-person"
  nv-load="ctrl.init">

  <div class="actions-container" layout layout-align="end">
    <nv-icon-text-button
      name="container.sales-person.create-by-csv-upload"
      mdTheme="nvGreen"
      class="ghost"
      icon="file_upload"
      on-click="ctrl.openCsvUploadDialog($event)"
      text="container.sales-person.create-by-csv-upload"
    ></nv-icon-text-button>
  </div>

  <nv-table-description
    table-param="ctrl.tableParam"
    title-display="mainTitle">
  </nv-table-description>
  <div class="table-container">
    <nv-table
      param="ctrl.tableParam"
      controller-as="ctrl">
      <nv-table-row use="data">
        <nv-index></nv-index>
        <nv-td column="code">
          {{data.code || '-'}}
        </nv-td>
        <nv-td column="name">
          {{data.name || '-'}}
        </nv-td>
        <nv-action column="actions">
          <nv-icon-button
            md-theme="nvBlue"
            class="ghost dense"
            name="container.sales-person.edit-sales-person"
            icon="edit"
            on-click="ctrl.editSalesPerson($event, data)">
          </nv-icon-button>
        </nv-action>
      </nv-table-row>
    </nv-table>
  </div>
</md-content>