<md-dialog class="role-add" ng-cloak nv-load="ctrl.onLoadPage" aria-label="role-add-dialog">

    <!--TOOLBAR SETION-->
    <md-toolbar md-theme="nvGreen">
        <div class="md-toolbar-tools md-menu-toolbar" >
            <h1 class="md-title font-light" style="color: #fff;">Add Role</h1>
            <span flex></span>
            <md-button id="button-cancel-dialog" style="color: #fff;" class="cancel-button font-light" ng-click="ctrl.onCancel()">
                Cancel
                <md-icon style = "color: white" aria-label="Close dialog">
                    close
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <!--<md-toolbar md-theme="nvGreen">-->
        <!--<nv-dialog-header md-theme="nvGreen" title="Add Role" on-cancel="::ctrl.onCancel($event)"></nv-dialog-header>-->
    <!--</md-toolbar>-->
    <form name="modelForm" ng-submit="::ctrl.onSave()" md-theme="nvBlue" layout="column" layout-align="space-between stretch">
        <md-dialog-content>
            <div class="md-dialog-content">
                <!--<nv-container-box class="role-details">-->
                <div class="md-block no-margins-bottom" layout="row">
                    <nv-input-text
                            class="md-block" flex="40"
                            label="{{::ctrl.fields.name.displayName}}"
                            model="ctrl.newRole.name"
                            form="modelForm" required="::true" disabled="::false">
                    </nv-input-text>
                </div>
                <div class="md-block no-margins-bottom" layout="row">
                    <nv-input-text
                            class="md-block" flex="100"
                            label="{{::ctrl.fields.description.displayName}}"
                            model="ctrl.newRole.description"
                            form="modelForm" required="::false" disabled="::false">
                    </nv-input-text>
                </div>
                <div class="md-block no-margins-bottom" layout="row" style="padding-top: 10px" layout-fill >
                    <nv-container-box flex="100" >
                        <div class="table-container" >
                            <div layout = "row" layout-gt-sm layout-sm layout-md layout-align ="space-between center">
                                <label flex="33" class="table-label">{{ctrl.scopeTableData.length}} Scope(s)</label>
                                <app-search  flex="33"
                                             nv-focus-first-input
                                             id="field-search-scope"
                                             on-search="ctrl.onScopesSearch(searchText)"
                                             placeholder="Find existing scopes">
                                </app-search>
                            </div>
                            <table ng-table="ctrl.scopeTableParams" class="table table-condensed table-striped" ng-show="ctrl.scopeTableData.length > 0">
                                <tr ng-repeat="scope in ctrl.scopeTableData">
                                    <td data-title="ctrl.table.serialNo" class="col-sm-2 col-md-2 col-lg-2">
                                        {{ctrl.scopeTableData.indexOf(scope)+1}}
                                    </td >
                                    <td data-title="ctrl.table.scope" class="col-sm-6 col-md-6 col-lg-6" >
                                        {{ ::scope.name }}
                                    </td>
                                    <td class="col-sm-4 col-md-4 col-lg-4" align ="right">
                                        <md-button class ="p" style="margin: 0;min-height: 2rem;line-height: 1rem;color: lightgrey;text-transform: none;letter-spacing: $letter-spacing-h4;font-weight: $font-weight-h5;min-width: 7rem; padding-top: 0px;padding-right: 0px" ng-click="ctrl.removeScope(scope)">Remove</md-button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </nv-container-box>
                </div>
                <nv-container-box label="Add Scope">
                    <div layout="row" layout-margin layout-fill layout-align="space-between start" style="padding-top:0.3cm">
                        <nv-autocomplete flex="100" required
                                         search-text="ctrl.searchText"
                                         placeholder="Search Scope To Add"
                                         icon="search"
                                         delegate-handle="role-add-scopes"
                                         display-by="name"
                                         sort-by="name"
                                         multiple="true">
                        </nv-autocomplete>
                    </div>
                </nv-container-box>
            </div>
        </md-dialog-content>
        <div class="nv-p" flex="100" ng-class = "strong-normal" layout="row" layout-align="center center">
            {{ctrl.errorMessage}}
        </div>
        <md-dialog-actions>
            <div layout="row" layout-fill>
                <div flex="100" >
                    <nv-api-text-button  md-theme="nvGreen" button-id="button-update" class="raised full" state="'idle'" name="Add Role" disabled="ctrl.newRole.name == null" on-click="ctrl.createOne()"></nv-api-text-button>
                </div>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>

