.nv-container-recovery-ticket-scanning{
  #ticket-scanning-container{
    width: 80rem;
    margin: 5rem auto;
    font-size: 1.5rem;

    label{
    }

    .successScan{
      background: #90EE90;
    }
    .line_separator{
      width:100%;
      height: 0;
      border-top: 1px solid #ebebeb;
      margin-top: .5rem;
      margin-bottom: .5rem;
    }
    #ticket_count_wrapper{
      padding: 1.4rem;
    }

    #scan_barcode_container{
      height:12rem;
      background: #EAF4F9;
      border-radius: 5px;
      padding : 1.4rem;
      h4{
        font-size: 1.8rem;
      }
      md-input-container{
        margin-top: 0;
        input{
          background: white;
          text-align: center;
          height: 4rem;
          font-size:1.8rem;
          margin-top: 1.1rem;
        }
      }
      .message{
        color: #000;
      }

    }

    #scan_barcode_container.duplicate{
      background: #FFE7EC;
      md-input-container{

        input{
          border-color: #BC042B;
        }
      }
      .message{
        color: red;
      }

    }

    #scan_barcode_container.error{

      background: #E1F6E0;

      md-input-container{

        input{
          border-color: #257226;
        }
      }
      .message{
        color: red;;
      }

    }

    #table-container{
      margin-bottom: 1.4rem;
      font-size: 1.2rem;
      tbody{
        height: 30rem;
        max-height: 30rem;
        overflow-y: scroll;
      }
      th{
        background: #eaeaea;
        height: 5rem;
        vertical-align: middle;
      }
      th,td{
        text-align: center;
      }

      td.trackingId, th.trackingId{
        width:15rem;
      }
      td.trackingId{
        text-align: left;
      }
      td.investigatingGroup, th.investigatingGroup{
        width: 15rem;
      }
      td.issueType, th.issueType{
        width:15rem;
      }
      td.subIssueType, th.subIssueType{
        width:15rem;
      }
      td.entrySource, th.entrySource{
        width:12rem;
      }
      td.check, th.check{
        text-align: center;

        .ticket-checkbox{
          margin-top: -1.1rem;
        }
        
      }

    }


  }




}