<div class="nv-container-recovery-ticket-scanning" ng-cloak nv-load="ctrl.onLoad">
   <md-card id="ticket-scanning-container" md-theme="nvGreen">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span>{{'container.recovery-ticket-scanning.title' | translate}}</span>
            </div>
        </md-toolbar>

       <md-card-content>
           <form layout="column" layout-padding name="ctrl.scanForm">
               <md-card>
                   <md-card-content layout="row" layout-padding layout-wrap>
                       <nv-input-select
                            flex="50"
                            label="{{'container.recovery-ticket-scanning.ticket-type' | translate}}"
                            form="ctrl.scanForm"
                            name="ticketType"
                            model-options="{}"
                            options="ctrl.ticketTypes"
                            required="true"
                            on-close="ctrl.onChangeTicketType(ctrl.ticket.ticketType.value)"
                            model="ctrl.ticket.ticketType.value"
                            set-default="false">
                        </nv-input-select>
                       <nv-input-select
                            flex="50"
                            label="{{'container.recovery-ticket-scanning.entry-source' | translate}}"
                            name="entrySource"
                            form="ctrl.scanForm"
                            model-options="{}"
                            options="ctrl.entrySources"
                            required="true"
                            model="ctrl.ticket.entrySource.value"
                            set-default="false">
                        </nv-input-select>
                       <nv-input-select
                            ng-if="ctrl.subTypeExist"
                            flex="50"
                            label="{{'container.recovery-ticket-scanning.ticket-subtype' | translate}}"
                            name="subTicketType"
                            form="ctrl.scanForm"
                            model-options="{}"
                            options="ctrl.ticketSubTypes"
                            required="true"
                            model="ctrl.ticket.subTicketType.value"
                            set-default="false">
                        </nv-input-select>
                       <div flex="50" ng-if="ctrl.subTypeExist"></div>
                       <nv-input-select
                            flex="50"
                            label="{{'container.recovery-ticket-scanning.investigating-dept' | translate}}"
                            name="investigatingGroup"
                            form="ctrl.scanForm"
                            model-options="{}"
                            options="ctrl.investigatingParties"
                            required="true"
                            model="ctrl.ticket.investigatingParty.value"
                            set-default="false">
                        </nv-input-select>
                        <nv-input-select
                            flex="50"
                            label="{{'container.recovery-ticket-scanning.investigating-hub' | translate}}"
                            name="investigatingHub"
                            form="ctrl.scanForm"
                            model-options="{}"
                            options="ctrl.hubs"
                            required="true"
                            model="ctrl.ticket.investigatingHub.value"
                            set-default="false">
                        </nv-input-select>
                       
                   </md-card-content>

               </md-card>

               <md-card>
                   <md-card-content layout="row" layout-padding layout-wrap>
                           <nv-input-textarea
                               flex="100"
                               label="{{'container.recovery-tickets.comments' | translate}}"
                               name="comments"
                               model="ctrl.ticket.SCAN_COMMENTS.value"
                               required="false"
                               ></nv-input-textarea>
                   </md-card-content>
                </md-card>

               <div layout="row">
                   <div flex="100" id="scan_barcode_container" ng-class="{'error': ctrl.scanState=='error', 'success': ctrl.scanState=='success','duplicate': ctrl.scanState=='duplicate'}" layout="row" layout-wrap>
                       <div flex="100"><h4>{{'container.recovery-ticket-scanning.scan-barcode' | translate}}</h4></div>
                       <div flex="100">
                           <md-input-container md-no-float class="md-block" >
                               <input
                                name="trackingId"
                                form="scanForm"
                                type="text"
                                id="trackingId-input"
                                ng-model="ctrl.ticket.trackingId.value"
                                aria-label="tracking id"
                                required
                                ng-keypress="ctrl.onKeyPressed($event)"/>
                               <div ng-messages="ctrl.scanForm.trackingId.$error">
                                 <div ng-message="required">
                                     {{'container.recovery-ticket-scanning.tracking-id-required' | translate}}
                                 </div>
                               </div>

                               <div class="message" ng-if="ctrl.scanState=='SUCCESS'">
                                   {{'container.recovery-ticket-scanning.success-add-to-table' | translate}}
                               </div>
                           </md-input-container>
                       </div>
                   </div>
               </div>
               <div layout="row">
                   <nv-input-checkbox
                   label="{{'container.recovery-ticket-scanning.prompt-invalid-tracking-id' | translate }}"
                   model="ctrl.promptInvalid">
                   </nv-input-checkbox>
                </div>
               

           </form>
       </md-card-content>
       <div class="line_separator"></div>
       <div id="ticket_count_wrapper">
           <h5>{{"container.recovery-ticket-scanning.scanned-tracking-ids" | translate }}</h5>
       </div>
       <div id="table-container">
               <table class="table table-condensed table-bordered table-striped" id="scanned-ticket">
                   <thead>
                   <tr>

                       <th class="trackingId">
                           <span>{{'commons.tracking-id' | translate}}</span>
                       </th>

                       <th class="investigatingGroup">
                           <span>{{'container.recovery-ticket-scanning.investigating-group' | translate}}</span>
                       </th>

                       <th class="issueType">
                           <span>{{'container.recovery-ticket-scanning.issue-type' | translate}}</span>
                       </th>

                       <th class="subIssueType">
                           <span>{{'container.recovery-ticket-scanning.issue-subtype' | translate}}</span>
                       </th>

                       <th class="entrySource">
                           <span>{{'container.recovery-ticket-scanning.entry-source' | translate}}</span>
                       </th>
                        <th class="check">
                            <span>
                                <nv-input-checkbox
                                    model="ctrl.isCheckAll"
                                    on-change="ctrl.onCheckAllChange()"></nv-input-checkbox>
                            </span>
                        </th>

                   </tr>
                   </thead>

                   <tbody>
                   <tr ng-if="ctrl.tickets.length ==0">
                       <td colspan="6">{{'container.recovery-ticket-scanning.no-ticket-exist' | translate}}</td>
                   </tr>
                   <tr ng-repeat="ticket in ctrl.tickets track by $index">
                       <td class="trackingId">
                           {{ticket.trackingId.value}}
                       </td>

                       <td class="investigatingGroup">
                           {{ ticket.investigatingGroupName || '-'}}
                       </td>

                       <td class="issueType">
                           {{ticket.ticketTypeName || '-'}}
                       </td>

                       <td class="subIssueType">
                           {{ticket.ticketSubTypeName || '-'}}
                       </td>

                       <td class="entrySource">
                           {{ticket.entrySourceName || '-'}}
                       </td>

                       <td class="check">
                           <nv-input-checkbox
                               class="ticket-checkbox"
                               model="ticket.check"></nv-input-checkbox>
                           <nv-icon-button
                                    md-theme="nvRed"
                                    class="ghost dense delete-scanned-btn"
                                    name="Delete"
                                    icon="delete"
                                    on-click="ctrl.deleteScanned(ticket)">
                            </nv-icon-button>
                       </td>
                   </tr>
                   </tbody>
               </table>
       </div>
       <div id="submit-container"
            layout-align="center center"
            layout="row" layout-padding>
           <nv-api-text-button
            class="raised"
            on-click="ctrl.onSubmit()"
            disabled="ctrl.tickets.length==0"
            name="{{'container.recovery-tickets.create-ticket' | translate }}"
            state="ctrl.state"
            button-id="submit-button"
           ></nv-api-text-button>
       </div>
       </md-card>
</div>
