<md-dialog class="user-add" ng-cloak nv-load="ctrl.onLoadPage" aria-label="user-add-dialog">

    <!--TOOLBAR SETION-->
    <md-toolbar md-theme="nvGreen">
        <div class="md-toolbar-tools md-menu-toolbar">
            <h1 class="md-title font-light h3" style="color: #fff; font-weight: 300">Add User</h1>
            <span flex></span>
            <md-button id="button-cancel-dialog" class="cancel-button font-light h5" ng-click="ctrl.onCancel()">
                Cancel
                <md-icon style = "color: white" class ="md-light" aria-label="Close dialog">
                    close
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <form name="modelForm" ng-submit="::onSave()" md-theme="nvBlue" nv-load="ctrl.getAllUserGroups" loading-message="Loading Groups...">

      <md-dialog-content>
        <div class="md-dialog-content">
            <div class="md-block multi-input-row reduce-margin-bottom" layout="row" layout-align = "space-between start">
              <nv-input-text
                class="md-block" flex="50"
                label="{{::ctrl.fields.firstName.displayName}}"
                model="ctrl.newUser.firstName"
                form="modelForm" required="::true">
              </nv-input-text>

              <nv-input-text
                class="md-block" flex="50"
                label="{{::ctrl.fields.lastName.displayName}}"
                model="ctrl.newUser.lastName"
                form="modelForm">
              </nv-input-text>
            </div>

            <div class="md-block multi-input-row reduce-margin-bottom" layout="row" layout-align = "space-between start">
              <nv-input-select
                class="md-block" flex="50"
                label="{{::ctrl.fields.grantType.displayName}}"
                model="ctrl.newUser.grantType" model-options="{trackBy: '$value'}"
                options="ctrl.fields.grantType.options"
                form="modelForm" required="::false" disabled="::true">
              </nv-input-select>
                <nv-input-email
                        class="md-block" flex="50"
                        label="{{::ctrl.fields.email.displayName}}"
                        model="ctrl.newUser.email"
                        form="modelForm" required="::true" >
                </nv-input-email>
            </div>

            <div class="md-block no-margins-bottom" layout="row" style="padding-top: 10px" layout-fill >
                <nv-container-box flex="100" >
                    <div class="table-container">
                        <div layout = "row" layout-gt-sm layout-sm layout-md layout-align ="space-between center">
                            <label flex="33" class="table-label">{{ctrl.roleTableData.length}} Role(s) </label>
                            <app-search  flex="33"
                                         class = "p"
                                         nv-focus-first-input
                                         id="field-search-scope"
                                         on-search="ctrl.onRolesSearch(searchText)"
                                         placeholder="Find existing roles">
                            </app-search>
                        </div>
                        <table ng-table="ctrl.countryGroupsTableParams" class="table table-condensed table-striped" ng-show="ctrl.roleTableData.length > 0">
                            <tr ng-repeat="role in ctrl.roleTableData">
                                <td data-title="ctrl.table.serialNo" class="col-sm-2 col-md-2 col-lg-2">
                                    {{ctrl.roleTableData.indexOf(role)+1}}
                                </td >
                                <td data-title="ctrl.table.role" class="col-sm-5 col-md-5 col-lg-5" >
                                    {{ ::role.groupName }}
                                </td>
                                <td data-title="ctrl.table.country" class="col-sm-2 col-md-2 col-lg-2" >
                                    {{ ::role.country }}
                                </td >
                                <td class="col-sm-3 col-md-3 col-lg-3" align ="right">
                                    <md-button class="p" style="margin: 0;min-height: 2rem;line-height: 1rem;color: lightgrey;text-transform: none;letter-spacing: $letter-spacing-h4;font-weight: $font-weight-h5;min-width: 7rem; padding-top: 0px;padding-right: 0px" ng-click="ctrl.removeRole(role)">Remove</md-button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </nv-container-box>
            </div>
            <nv-container-box label="Add Role">
                <div layout="row" layout-margin layout-fill layout-padding layout-align="space-between center" >
                    <md-input-container flex = "30">
                        <label>Country Authentication</label>
                        <md-select ng-model="ctrl.selectedCountry">
                            <!--<md-option><em>None</em></md-option>-->
                            <md-option ng-repeat="country in ctrl.serviceIds" ng-value="country" >
                                {{country}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <nv-autocomplete flex="70" required
                                     search-text="ctrl.searchText"
                                     placeholder="Search Role To Add"
                                     icon="search"
                                     delegate-handle="user-add-roles"
                                     display-by="name"
                                     sort-by="name"
                                     multiple="true">
                    </nv-autocomplete>
                </div>
            </nv-container-box>
        </div>
      </md-dialog-content>
        <div class="nv-p" flex="100" ng-class = "strong-normal" layout="row" layout-align="center center">
            {{ctrl.errorMessage}}
        </div>
      <md-dialog-actions>
          <div layout="row" layout-fill>
              <div flex="100">
        <!--<nv-button-save name="Submit" form="modelForm" state="saveButtonState" ></nv-button-save>-->
                  <nv-api-text-button  md-theme="nvGreen" button-id="button-update" class="raised full" state="'idle'" name="Add User" disabled="ctrl.newUser.firstName == null || ctrl.newUser.email == null" on-click="ctrl.createOne()"></nv-api-text-button>
              </div>
          </div>
      </md-dialog-actions>

    </form>
</md-dialog>