.nv-container-third-party-order {
  height: 100%;
  width: 100%;

  > div {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  div.table-container {
    position: relative;
    flex: 1;

    nv-table {
      // column width
      @include nv-table-column-width(tracking-id, 20rem);
      @include nv-table-column-width(third-party-order-third-party-shipper-name, 20rem);
      @include nv-table-column-width(third-party-order-third-party-tracking-id, 20rem);
      @include nv-table-column-width(third-party-order-_moment-on-boarded-date-time, 20rem);
      @include nv-table-column-width(third-party-order-day-since-transferred, 24rem);
      @include nv-table-column-width(status, 20rem);

      @include nv-table-row-height(5rem);
      // action columns
      @include nv-table-action-columns(nv-table-action-width("two-dense-p"));
    }
  }
}
