<md-content
  nv-load="ctrl.loadShippers"
  loading-message="{{'commons.load-data' | translate}}"
  class="nv-container-third-party-order">
  <div class="title" layout="row" layout-padding>
    <div flex="1"></div>
    <nv-icon-text-button
      md-theme="nvGreen"
      class="raised"
      icon="file_upload"
      name="container.third-party-order.create-multiple-mapping"
      on-click="::ctrl.uploadCSV($event)">
    </nv-icon-text-button>
    <nv-create-button
      md-theme="nvGreen"
      class="raised"
      name="container.third-party-order.create-single-mapping"
      on-click="::ctrl.uploadOne($event)">
    </nv-create-button>
    <nv-download-csv-button
      md-theme="nvBlue"
      data="ctrl.tableParam.getTableData"
      csv-header="['{{'commons.model.tracking-id'|translate}}', '{{'commons.model.third-party-provider'|translate}}', '{{'commons.model.third-party-tracking-id'|translate}}', '{{'commons.model.third-party-onboarding-time'|translate}}', '{{'commons.model.working-day-since-transferred'|translate}}', '{{'container.third-party-order.order-status'|translate}}']"
      csv-column-order="['trackingId', 'thirdPartyOrder.thirdPartyShipper.name', 'thirdPartyOrder.thirdPartyTrackingId', 'thirdPartyOrder._momentOnBoardedDateTime', 'thirdPartyOrder.daySinceTransferred', 'status']"
      filename="3pl-orders.csv">
    </nv-download-csv-button>
  </div>
  
  <div class="table-container">
    <nv-table
      distance="1"
      param="ctrl.tableParam"
      controller-as="ctrl">
      <nv-table-row 
        use="order"
        row-height="50">
        <nv-index></nv-index>
        <nv-td column="trackingId">
          <a href="javascript:;"
             ng-click="ctrl.editOrder(order.id)">
            {{ order.trackingId }}
          </a>
        </nv-td>
        <nv-td column="thirdPartyOrder.thirdPartyShipper.name">
          <a ui-sref="container.third-party-shipper({name: order.thirdPartyOrder.thirdPartyShipper.name})">{{order.thirdPartyOrder.thirdPartyShipper.name}}</a>
        </nv-td>

        <nv-td column="thirdPartyOrder.thirdPartyTrackingId">
          {{order.thirdPartyOrder.thirdPartyTrackingId}}
        </nv-td>

        <nv-td column="thirdPartyOrder._momentOnBoardedDateTime">
          {{order.thirdPartyOrder._momentOnBoardedDateTime|nvTime:'operator':'datetime'}}
        </nv-td>

        <nv-td column="thirdPartyOrder.daySinceTransferred">
          {{order.thirdPartyOrder.daySinceTransferred}}
        </nv-td>

        <nv-td column="status">
          {{order.status}}
        </nv-td>

        <nv-action column="actions">
          <nv-icon-button
            md-theme="nvBlue"
            class="ghost dense"
            name="commons.edit"
            icon="edit"
            on-click="ctrl.updateOne($event, order)">
          </nv-icon-button>

          <nv-icon-button
            md-theme="nvRed"
            class="ghost dense"
            name="commons.delete"
            icon="delete"
            on-click="ctrl.untagOne($event, order)">
          </nv-icon-button>
        </nv-action>
      </nv-table-row>
    </nv-table>
  </div>
</md-content>
