@import "../../../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../../../styles/variables";

md-dialog.route-inbound-view-details {
  width: 80rem;

  md-dialog-content {
    .chosen-shipper {
      padding: $nv-baseline-grid*2 $nv-baseline-grid;

      p.header {
        @include nv-font-weight(medium);
        @include nv-font-color(white);
        margin-bottom: 0;
        margin-top: $nv-baseline-grid;
        background-color: map-get(map-get($themeColor, 'nvBlue'), 'dark');
        padding: 1.4rem;
        font-size: 1.6rem;
      }
    }

    nv-icon-text-button {
      display: inline-block;
      margin-top: $nv-baseline-grid*2;
    }

    .print-label-loading {
      display: inline-block;
      vertical-align: middle;
    }

    .table-container {
      nv-table {
        .last-row:not(.last-row-no-result) {
          $lastRowHeight: 5rem;

          height: $lastRowHeight;

          .end-of-result {
            height: $lastRowHeight;

            .end-of-table {
              height: $lastRowHeight;

              p {
                display: none;
              }
            }
          }
        }

        &.by-shipper-table {
          // column width
          @include nv-table-column-width(name, 100%);
          @include nv-table-column-width(scanned, 15rem);
          @include nv-table-column-width(total, 10rem);

          // action columns
          @include nv-table-action-columns(nv-table-action-width("two-dense-p"));

          .actions {
            text-align: center;
          }
        }

        &.shipper-reservations-table {
          // column width
          @include nv-table-column-width(id, 14rem);
          @include nv-table-column-width(location, 25rem);
          @include nv-table-column-width(ready-to-latest-time, 18rem);
          @include nv-table-column-width(approx_volume, 18rem);
          @include nv-table-column-width(translated-status, 12rem);
          @include nv-table-column-width(total-pickup-count, 14rem);
        }

        &.shipper-orders-table {
          // column width
          @include nv-table-column-width(tracking_id, 18rem);
          @include nv-table-column-width(stamp_id, 18rem);
          @include nv-table-column-width(location, 25rem);
          @include nv-table-column-width(custom-type, 11rem);
          @include nv-table-column-width(translated-status, 12rem);
          @include nv-table-column-width(cmi_count, 10rem);
          @include nv-table-column-width(scan-status, 19rem);

          // action columns
          @include nv-table-action-columns(nv-table-action-width("two-dense-p"));

          .actions {
            text-align: center;

            md-progress-circular {
              display: inline-block;
            }
          }
        }
      }
    }
  }

  md-dialog-actions {
    nv-icon-text-button {
      width: auto !important;
    }
  }
}