<nv-dialog-header
  title="{{ ctrl.title | translate}}"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<md-dialog-content>
  <div class="table-container"
       ng-if="ctrl.chosenShipper === null">
    <nv-table
      class="by-shipper-table"
      param="ctrl.byShippersTableParams"
      controller-as="ctrl">
      <nv-table-row
        use="shipper"
        use-virtual-repeat='false'>
        <nv-index></nv-index>
        <nv-td column="name">
          {{ shipper.name }}
        </nv-td>
        <nv-td column="scanned">
          <span ng-if="shipper.scanned <= 0">{{ shipper.scanned }}</span>
          <a href="javascript:;"
             ng-if="shipper.scanned > 0"
             ng-click="ctrl.viewOrdersOrReservations(shipper, true)">
            {{ shipper.scanned }}
          </a>
        </nv-td>
        <nv-td column="total">
          {{ shipper.total }}
        </nv-td>
        <nv-action column="actions">
          <nv-icon-button
            md-theme="nvBlue"
            class="ghost dense"
            name="container.route-inbound.view-orders-or-reservations"
            icon="remove_red_eye"
            on-click="ctrl.viewOrdersOrReservations(shipper)">
          </nv-icon-button>
        </nv-action>
      </nv-table-row>
    </nv-table>
  </div>

  <div ng-if="ctrl.chosenShipper !== null"
       class="chosen-shipper">
    <h5>{{ ctrl.chosenShipper.name }}</h5>

    <div ng-if="ctrl.shipperReservationsTableParams && !ctrl.shipperReservationsTableParams.empty">
      <p class="header">{{ 'container.route-inbound.reservations' | translate }}</p>
      <div class="table-container">
        <nv-table
          class="shipper-reservations-table"
          param="ctrl.shipperReservationsTableParams"
          controller-as="ctrl">
          <nv-table-row
            use="reservation"
            use-virtual-repeat='false'>
            <nv-index></nv-index>
            <nv-td column="id">
              {{ reservation.id }}
            </nv-td>
            <nv-td column="location">
              {{ reservation.location }}
            </nv-td>
            <nv-td column="readyToLatestTime">
              {{ reservation.readyToLatestTime }}
            </nv-td>
            <nv-td column="approx_volume">
              {{ reservation.approx_volume }}
            </nv-td>
            <nv-td column="translatedStatus">
              {{ reservation.translatedStatus }}
            </nv-td>
            <nv-td column="totalPickupCount">
              {{ reservation.totalPickupCount }}
            </nv-td>
          </nv-table-row>
        </nv-table>
      </div>
    </div>

    <div ng-if="ctrl.shipperOrdersTableParams && !ctrl.shipperOrdersTableParams.empty">
      <div class="nv-text-right">
        <div class="print-label-loading" ng-if="ctrl.isPrintLabelsLoading">
          <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="24px"></md-progress-circular>
        </div>

        <nv-icon-text-button
          class="raised"
          name="container.route-inbound.print-labels"
          disabled="ctrl.shipperOrdersTableParams.getSelection().length <= 0 || ctrl.isPrintLabelsLoading"
          on-click="ctrl.printShippingLabels($event)">
        </nv-icon-text-button>
      </div>

      <p class="header">{{ 'container.route-inbound.orders' | translate }}</p>
      <div class="table-container">
        <nv-table
          selectable="true"
          class="shipper-orders-table"
          param="ctrl.shipperOrdersTableParams"
          controller-as="ctrl">
          <nv-table-row
            use="order"
            use-virtual-repeat='false'>
            <nv-index></nv-index>
            <nv-td column="tracking_id">
              <a href="javascript:;"
                 ng-click="ctrl.editOrder(order)">
                {{ order.tracking_id }}
              </a>
            </nv-td>
            <nv-td column="stamp_id">
              {{ order.stamp_id }}
            </nv-td>
            <nv-td column="location">
              {{ order.location }}
            </nv-td>
            <nv-td column="customType">
              {{ order.customType }}
            </nv-td>
            <nv-td column="translatedStatus">
              {{ order.translatedStatus }}
            </nv-td>
            <nv-td column="cmi_count">
              {{ order.cmi_count }}
            </nv-td>
            <nv-td column="scanStatus">
              {{ order.scanStatus }}
            </nv-td>
            <nv-action column="actions">
              <md-progress-circular class="md-primary"
                                    md-mode="indeterminate"
                                    md-diameter="30px"
                                    ng-if="order.isPrinting">
              </md-progress-circular>

              <nv-icon-button
                ng-if="!order.isPrinting"
                md-theme="nvYellow"
                class="ghost dense"
                name="container.route-inbound.print-label"
                icon="receipt"
                on-click="ctrl.printShippingLabel(order)">
              </nv-icon-button>
            </nv-action>
          </nv-table-row>
        </nv-table>
      </div>
    </div>
  </div>
</md-dialog-content>

<md-dialog-actions ng-if="ctrl.chosenShipper !== null">
  <nv-icon-text-button
    class="flat"
    name="commons.go-back"
    on-click="ctrl.viewShippers()">
  </nv-icon-text-button>
</md-dialog-actions>