@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../lib/ninja-commons/styles/mixins/button.mixins";
@import "../../../lib/ninja-commons/styles/mixins/typography.mixins";

.nv-container-route-logs {
  height: 100%;

  > md-content {
    height: 100%;
    background-color: $nv-background-color;

    .loaded {
      height: 100%;
    }
  }

  .filter-page {
    padding: 1rem;
    @include nv-media-query-md-min {
      padding: 2rem;
    }

    @include nv-media-query-lg-min {
      padding: 3rem;
    }

    @include nv-media-query-xl-min {
      padding: 4rem;
    }

    .filter-header {
      padding-left: 1.4rem;
      padding-right: 1.4rem;
      margin-bottom: 1.4rem;
    }

    h4.filter-title {
      vertical-align: middle;
      margin: auto;
      color: $nv-text-black-2;
    }

    .filter-page-create-route-container {
      padding-left: 1rem;
    }
  }

  .result-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .title p {
      padding: 0;
    }

    div.table-container {
      position: relative;
      flex: 1;

      nv-table {
        // column width
        @include nv-table-column-width(_date, 18rem);
        @include nv-table-column-width(id, 12rem);
        @include nv-table-column-width(status, 12rem);
        @include nv-table-column-width(_driver-name, 18rem);
        @include nv-table-column-width(route-password, 18rem);
        @include nv-table-column-width(_hub-name, 18rem);
        @include nv-table-column-width(_zone-name, 18rem);
        @include nv-table-column-width(_driver-type-name, 18rem);
        @include nv-table-column-width(comments, 25rem);

        // row height
        @include nv-table-row-height(8rem);

        // action columns
        @include nv-table-action-columns(nv-table-action-width("four-dense-p"), 16rem);

        .route-tags-selection {
          width: 100%;

          md-select {
            md-select-value {
              span {
                white-space: normal;

                .md-container {
                  display: none;
                }
              }
            }
          }
        }

        .actions {
          text-align: center;
        }
      }
    }
  }

}

// separate this style, which is appended to the body element
.md-open-menu-container md-menu-content.actions-holder {
  padding: 1rem 0;

  &.dark {
    background-color: $nv-dark3;
  }

  md-menu-item {
    height: 4rem;

    .md-button {
      height: 4rem;
      line-height: 4rem;
      @include nv-button-no-border-radius;
    }

    i.material-icons {
      margin-right: 0.5rem;
    }
  }
}

.md-open-menu-container md-menu-content.actions-holder.light {
  .md-button.nv-button.flat {
    color: $nv-text-black-2;
  }
}