<md-content class="nv-container-route-logs">
  <md-content
    nv-load="ctrl.getAll" loading-message="{{'container.route-logs.load-data' | translate}}">

    <div class="filter-page" ng-if="ctrl.isPage(ctrl.PAGES.FILTER)">
      <form name="ctrl.form">
        <div layout="row" class="filter-header">
          <h4 class="filter-title">{{'commons.select-filter' | translate}}</h4>
          <nv-filter-preset
              layout-align="end"
              filter-presets="ctrl.filterPresets"
              selected-preset="ctrl.selectedPreset"
              selected-filters="ctrl.selectedFilters"
              possible-filters="ctrl.possibleFilters"
              on-save="ctrl.savePreset(body)"
              on-delete="ctrl.deletePreset(id)"
              on-check-name="ctrl.checkPresetName(name)">
          </nv-filter-preset>
          <div class="filter-page-create-route-container" layout layout-align="start center">
            <nv-create-button
              md-theme="nvGreen"
              class="raised"
              name="{{'container.route-logs.create-route' | translate}}"
              on-click="::ctrl.createRoute($event, true)">
            </nv-create-button>
          </div>
        </div>
        <nv-filter-box-container
          form="ctrl.form"
          possible-filters="ctrl.possibleFilters"
          selected-filters="ctrl.selectedFilters"
          on-change="ctrl.onChangeFilter()"
          search-by="mainTitle">
        </nv-filter-box-container>
        <div layout="row" layout-align="center">
          <nv-api-text-button
            class="raised"
            state="ctrl.getRoutesState"
            name="commons.load-selection"
            form="ctrl.form"
            on-click="ctrl.onLoadSelection()">
          </nv-api-text-button>
        </div>
      </form>
    </div>

    <div class="result-page" ng-if="ctrl.isPage(ctrl.PAGES.RESULT)">
      <div class="title" layout="row" layout-padding>
        <nv-icon-text-button
          md-theme="nvBlue"
          class="raised"
          icon="filter_list"
          name="container.route-logs.edit-filters"
          on-click="ctrl.goToPage(ctrl.PAGES.FILTER)">
        </nv-icon-text-button>
        <div flex="1"></div>
        <p translate="container.route-logs.x-selected"
          translate-values="{count: ctrl.getSelectedCount()}">
        </p>
        <md-menu-bar>
          <md-menu md-position-mode="target-right target">
            <md-button
              class="nv-button raised"
              type="button"
              aria-label="Action"
              ng-click="$mdOpenMenu($event)"
              ng-disabled="ctrl.getSelectedCount() <= 0">
              <span class="nv-text-ellipsis nv-text-left">{{'container.route-logs.apply-action' | translate}}</span>
              <i class="material-icons">arrow_drop_down</i>
            </md-button>
            <md-menu-content class="actions-holder dark" width="3">
              <md-menu-item>
                <md-button class="nv-button flat alternate"
                           type="button"
                           aria-label="{{'commons.bulk-edit-details' | translate}}"
                           ng-click="ctrl.bulkEditDetails($event, ctrl.routesTableParam.getSelection())">
                  <span>{{'commons.bulk-edit-details' | translate}}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button class="nv-button flat alternate"
                           type="button"
                           aria-label="{{'container.route-logs.edit-driver-types-selected' | translate}}"
                           ng-click="ctrl.editDriverTypes($event, ctrl.routesTableParam.getSelection())">
                  <span>{{'container.route-logs.edit-driver-types-selected' | translate}}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button class="nv-button flat alternate"
                           type="button"
                           aria-label="{{'container.route-logs.edit-route-selected' | translate}}"
                           ng-click="ctrl.editRouteSelected($event, ctrl.routesTableParam.getSelection())">
                  <span>{{'container.route-logs.edit-route-selected' | translate}}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button class="nv-button flat alternate"
                           type="button"
                           aria-label="{{'container.route-logs.merge-transactions-selected' | translate}}"
                           ng-click="ctrl.mergeTransactions($event, ctrl.routesTableParam.getSelection())">
                  <span>{{'container.route-logs.merge-transactions-selected' | translate}}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button class="nv-button flat alternate"
                           type="button"
                           aria-label="{{'container.route-logs.optimize-selected' | translate}}"
                           ng-click="ctrl.optimizeSelected($event, ctrl.routesTableParam.getSelection())">
                  <span>{{'container.route-logs.optimize-selected' | translate}}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button class="nv-button flat alternate"
                           type="button"
                           aria-label="{{'container.route-logs.print-password-selected' | translate}}"
                           ng-click="ctrl.printPassword($event, ctrl.routesTableParam.getSelection())">
                  <span>{{'container.route-logs.print-password-selected' | translate}}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button class="nv-button flat alternate"
                           type="button"
                           aria-label="{{'container.route-logs.print-route-selected' | translate}}"
                           ng-click="ctrl.printRoute($event, ctrl.routesTableParam.getSelection())">
                  <span>{{'container.route-logs.print-route-selected' | translate}}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button class="nv-button flat alternate"
                           type="button"
                           aria-label="{{'container.route-logs.archive-selected' | translate}}"
                           ng-click="ctrl.archive($event, ctrl.routesTableParam.getSelection())">
                  <span>{{'container.route-logs.archive-selected' | translate}}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button class="nv-button flat alternate"
                           type="button"
                           aria-label="{{'container.route-logs.unarchive-selected' | translate}}"
                           ng-click="ctrl.unarchive($event, ctrl.routesTableParam.getSelection())">
                  <span>{{'container.route-logs.unarchive-selected' | translate}}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button class="nv-button flat alternate"
                           type="button"
                           aria-label="{{'commons.delete-selected' | translate}}"
                           ng-click="ctrl.deleteSelected($event, ctrl.routesTableParam.getSelection())">
                  <span>{{'commons.delete-selected' | translate}}</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-menu-bar>
        <nv-create-button
          md-theme="nvGreen"
          class="raised"
          name="{{'container.route-logs.create-route' | translate}}"
          on-click="::ctrl.createRoute($event)">
        </nv-create-button>
      </div>

      <nv-table-description
        table-param="ctrl.routesTableParam"
        filters="ctrl.selectedFilters"
        title-display="mainTitle">
      </nv-table-description>
      <div class="table-container">
        <nv-table
          param="ctrl.routesTableParam"
          selectable="true"
          filters="ctrl.routesTableFilterText"
          controller-as="ctrl">
          <nv-table-row
            use="route"
            row-height="80">
            <nv-index></nv-index>
            <nv-td column="_date">
              {{route._date}}
            </nv-td>
            <nv-td column="id">
              <a class="link" ui-sref="container.route-manifest({routeId: route.id})" target="_blank">{{route.id}}</a>
            </nv-td>
            <nv-td column="status">
              {{route.status}}
            </nv-td>
            <nv-td column="_driverName">
              {{route._driverName}}
            </nv-td>
            <nv-td column="routePassword">
              {{route.routePassword}}
            </nv-td>
            <nv-td column="_hubName">
              {{route._hubName}}
            </nv-td>
            <nv-td column="_zoneName">
              {{route._zoneName}}
            </nv-td>

            <nv-td column="_driverTypeName">
              {{route._driverTypeName}}
            </nv-td>

            <nv-td column="comments">
              {{route.comments}}
            </nv-td>

            <nv-action column="tags" sortable="true" filter="true">
              <nv-input-select
                class="route-tags-selection"
                label="container.route-logs.select-tag"
                model="route.tags"
                model-options="{}"
                on-close="ctrl.updateTag(route)"
                options="ctrl.tagsSelectionOptions"
                set-default="false"
                multiple="true">
              </nv-input-select>
            </nv-action>

            <nv-action column="actions">

              <nv-icon-button
                md-theme="nvBlue"
                class="ghost dense"
                name="container.route-logs.edit-details"
                icon="edit"
                on-click="ctrl.editDetails($event, route)">
              </nv-icon-button>

              <nv-icon-button
                md-theme="nvBlue"
                class="ghost dense"
                name="container.route-logs.edit-route"
                icon="timeline"
                on-click="ctrl.editRoute($event, route)">
              </nv-icon-button>

              <nv-icon-button
                md-theme="nvBlue"
                class="ghost dense"
                name="container.route-logs.optimize-route"
                icon="call_merge"
                on-click="ctrl.optimizeRoute($event, route)">
              </nv-icon-button>

              <nv-icon-button
                md-theme="nvBlue"
                class="ghost dense"
                name="container.route-logs.verify-route-address"
                icon="refresh"
                on-click="ctrl.reverifyAddress($event, route)">
              </nv-icon-button>

            </nv-action>
          </nv-table-row>
        </nv-table>
      </div>


    </div>

  </md-content>
</md-content>