nv-calendar-list {
	display: flex;
	flex-direction: row;
	flex: 1;

  //arrange the calendar and list by ratio 8:4
  > .calendar{
  	flex: 8;
  	margin-right: 28px;
  }
  
  > .list{
  	flex: 4;
  }	

  //list styling
  > .list {
    position: relative;

    md-toolbar + md-content {
      margin-top: $toolbar_height;
    }

    .list-content {
      $padding: 28px;
      $top-bar-height: 36px;
      //to prevent the list overflow of the container
      position: absolute;
      top: $padding; 
      bottom: $padding; 
      left: $padding; 
      right: $padding;

      //top bar
      > div {
        font-size: 2rem;
        min-height: $top-bar-height;
        height: $top-bar-height;

        label {
          line-height: 36px;
          display: inline-block;
          vertical-align: bottom;
          margin-right: 16px;
        }

        //clear margin so that the padding and margin-bottom is correct
        md-select, md-input-container {
          margin: 0px;
        }
      }

      md-list {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        overflow-y: scroll;
        margin-top: $top-bar-height + $padding;

        md-list-item {
          padding-right: 1em;
          padding-left: 1em;

          &.newItem.ng-enter {
            transition: 5s linear background-color;
            background-color: $nv-highlight-green;
          }

          &.newItem.ng-enter.ng-enter-active {
            background-color: none;
          }

        }
      }
    }
  }
}
