<nv-calendar
	class="calendar"
	ng-model="calendarListData.dates"
	disable-selection="disabled"
	delegate-handle="{{::delegateHandle}}">
</nv-calendar>

<div 
	class="list md-whiteframe-4dp">
		<md-toolbar md-theme="nvBlue">
			<div class='md-toolbar-tools' layout='row'>
				<h2>
					<span>{{label}}</span>
				</h2>
			</div>
		</md-toolbar>
		<md-content class="list-content">

			<div>
				<label>Year</label>
				<md-input-container>
					<md-select ng-model="year" placeholder="Year">
						<md-option ng-value="m" ng-repeat="m in yearList">{{m}}</md-option>
					</md-select>
				</md-input-container>
			</div>

			<md-list>
				<md-list-item ng-repeat="date in calendarListData.dates | nvFilterByYear:year | orderBy" ng-class="{ newItem: calendarListData.isNew(date)}">
					<p>
						<span>{{$index + 1}}. {{ date|nvTime:'no-timezone' }}</span>
						<span>{{ calendarData.getDayContent(date) }}</span>
					</p>
					<md-button 
						class="nv-button flat"
						ng-disabled="disabled"
						ng-click="removeDate(date, $event)"
						md-theme="default">Remove</md-button>
				</md-list-item>
			</md-list>
		</md-content>
</div>