@import "../../../../../styles/variables";

md-dialog.route-manifest-edit-waypoint {
  $defaultWidth: 52rem !important;

  width: $defaultWidth;

  md-dialog {
    max-width: $defaultWidth;

    md-dialog-content {
      .md-title {
        margin-bottom: 0;
      }

      .buttons-holder {
        margin-bottom: 0;

        nv-icon-text-button > button {
          margin-bottom: 1rem;
          white-space: normal;
          height: auto;
          padding: 1rem;
          text-transform: none;
          
          &.fade {
            opacity: 0.3;
          }
        }
      }

      md-divider {
        margin-bottom: $nv-baseline-grid*2;
      }

      .failure-reason-selection {
        margin-bottom: $nv-baseline-grid*2;
      }

      .nv-hint {
        >p { margin-bottom: 1.4rem; margin-left: 0.7rem; }
      }
    }
  }
}