@import "../../styles/variables";
@import "../../lib/ninja-commons/styles/variables";
@import "../../lib/ninja-commons/styles/mixins/button.mixins";
@import "../../lib/ninja-commons/styles/mixins/typography.mixins";

app-sidenav {

  $transition-duration: 400ms;
  $section-header-height: 42px;
  $section-height: 42px;
  $section-header-padding: 14px;
  $section-padding: $section-header-padding * 2;
  $section-active-border: 7px;
  $gotov1-extra-height: 14px;

  md-sidenav {
    &, md-content {
      background-color: $nv-brand-grey;
    }

    .md-button.nv-button {
      @include nv-button-no-border-radius;
      height: $section-height;
      text-rendering: optimizeLegibility;

      > div, > span {
        flex: 1;
        text-align: left;
      }

      &.section-item {
        padding: 0 $section-padding;
        background-color: $nv-brand-grey;
        color: $nv-text-white;
        &:hover,
        &.md-focused {
          background-color: map-get(map-get($themeColor, 'nvBlue'), 'dark');
        }
        &:active, &.is-active {
          background-color: mix($nv-brand-grey, white, 90%);
          padding-left: $section-padding - $section-active-border;
          border-left: $section-active-border $nv-text-white solid;
        }
        &.hide {
          display: none;
        }
      }

      &.section-head {
        height: $section-header-height;
        padding: 0 $section-header-padding;
        @include nv-font(p);
        @include nv-font-weight(regular);
        font-style: italic;
        color: $nv-text-white;
        background-color: $nv-brand-grey;

        &:hover,
        &.md-focused {
          background-color: map-get(map-get($themeColor, 'nvBlue'), 'dark');
        }
        &:active, &.is-active {
          @include nv-font-weight(light);
          background-color: $nv-brand-grey;
        }
        &.is-active {
          i.material-icons:after {
            content: 'expand_less';
          }
        }
        &:not(.is-active) {
          i.material-icons:after {
            content: 'expand_more';
          }
        }
      }

      &.go-to-v1 {
        border-bottom: 1px solid $nv-dark4;
        padding: 0 $section-header-padding;
        height: $section-header-height + $gotov1-extra-height;

        &:active {
          border-left: 0px;
          padding: 0 $section-header-padding;
        }
      }
    }

    .sidenav-search {
      background-color: $nv-brand-red;
      position: relative;

      md-icon.autocomplete-search, button {
        position: absolute;
        height: 100%;
        outline: 0;
      }
      input, button {
        background: none;
        border: none;
        outline: none;
      }
      input {
        color: $nv-text-white;
        margin-left: 3.4rem;
        line-height: 40px;
        height: 40px;
        @include placeholder-color($nv-text-white-3);
        &:focus {
          @include hide-placeholder();
          ~ md-icon i {
            color: $nv-light-red;
          }
        }
      }
      button {
        right: 0;
        i, &:active {
          color: $nv-light-red;
        }

      }
      md-icon.autocomplete-search {
        top: 0.8rem;
        left: 0.5rem;
        > i {
          color: $nv-text-white-2;
        }
      }
    }

    .active .md-button.nv-button.section-item {
      background-color: mix($nv-brand-grey, white, 90%);
    }

    &, &.md-locked-open, &.md-closed.md-locked-open-add-active {
      min-width: $nv-sidenav-width !important;
      max-width: $nv-sidenav-width !important;
      width: $nv-sidenav-width !important;
    }

    md-content {

      md-list {
        padding: 0;
        background-color: $nv-brand-grey;
      }
    }
  }

}
