<md-sidenav class="md-sidenav-left md-whiteframe-z2" flex md-component-id="sidenav-main-menu"
  md-is-locked-open="$mdMedia('gt-sm') && ctrl.isConfigLockedOpen()">

  <div class="sidenav-search">
    <label>
      <input placeholder="Search Function or Id" ng-model="ctrl.search" ng-keydown="ctrl.onKeydown($event)"
        type="text" />
      <md-icon class="autocomplete-search">
        <i class="material-icons">search</i>
      </md-icon>
      <button type="button" tabindex="-1" ng-if="ctrl.search" ng-click="ctrl.search = ''">
        <md-icon>
          <i class="material-icons">close</i>
        </md-icon>
      </button>
    </label>
  </div>

  <md-button class="nv-button section-item full dark go-to-v1" ng-if="ctrl.isSaas()" ng-click="ctrl.navigateToV1()">
    <span class="nv-text-ellipsis" translate="container.sidenav.operatorv1"></span>
    <i class="material-icons">exit_to_app</i>
  </md-button>

  <md-content class="dark" flex>
    <md-list layout="column">

      <div class="search-container">
      </div>

      <div ng-hide="ctrl.sidenavSection.globalState.isSearching">
        <nv-section-header header="shipper-support" section-title="container.sidenav.shipper-support.title">
        </nv-section-header>

        <nv-section-item parent="shipper-support" ng-click="ctrl.navigateTo('container.blocked-dates', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.blocked-dates$')"
          section-title="commons.blocked-dates">
        </nv-section-item>

        <nv-section-item parent="shipper-support" ng-click="ctrl.navigateTo('container.reservations', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.reservations$')"
          section-title="container.sidenav.shipper-support.reservations">
        </nv-section-item>

        <nv-section-item parent="shipper-support"
          ng-click="ctrl.navigateTo('container.change-delivery-timings', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.change-delivery-timings$')"
          section-title="commons.change-delivery-timings">
        </nv-section-item>

        <nv-section-item parent="shipper-support" ng-click="ctrl.navigateTo('container.success-billings', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.success-billings$')"
          section-title="container.sidenav.shipper-support.order-billing">
        </nv-section-item>

        <nv-section-item parent="shipper-support" ng-click="ctrl.navigateTo('container.shipper-billing', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.shipper-billing$')"
          section-title="container.sidenav.shipper-support.shipper-billing">
        </nv-section-item>

        <nv-section-item parent="shipper-support"
          ng-click="ctrl.navigateTo('container.failed-pickup-management', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.failed-pickup-management(\.|$)')"
          section-title="container.sidenav.shipper-support.failed-pickup-management">
        </nv-section-item>

        <nv-section-item parent="shipper-support"
          ng-click="ctrl.navigateTo('container.failed-delivery-management', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.failed-delivery-management(\.|$)')"
          section-title="container.sidenav.shipper-support.failed-delivery-management">
        </nv-section-item>

        <nv-section-item parent="shipper-support" ng-click="ctrl.navigateTo('container.aged-parcel-management', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.aged-parcel-management(\.|$)')"
          section-title="container.sidenav.shipper-support.aged-parcel-management">
        </nv-section-item>

        <nv-section-header header="dp" section-title="container.sidenav.dp.title"></nv-section-header>

        <nv-section-item parent="dp" ng-click="ctrl.navigateTo('container.dp-administration.dp-partners', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.dp-administration(\.|$)')"
          section-title="container.sidenav.dp.dp-admin">
        </nv-section-item>

        <nv-section-item parent="dp" ng-click="ctrl.navigateTo('container.dp-tagging', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.dp-tagging$')"
          section-title="container.sidenav.dp.tagging">
        </nv-section-item>

        <nv-section-header header="hub" section-title="commons.hubs"></nv-section-header>

        <nv-section-item parent="hub" ng-click="ctrl.navigateTo('container.hub-group-management', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.hub-group-management')"
          section-title="container.sidenav.hubs-group-management">
        </nv-section-item>

        <nv-section-item parent="hub" ng-click="ctrl.navigateTo('container.hub-list', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.hub-list')"
          section-title="container.sidenav.hubs.admin">
        </nv-section-item>

        <nv-section-header header="inbounding" section-title="commons.inbounding"></nv-section-header>

        <nv-section-item parent="inbounding" ng-click="ctrl.navigateTo('container.van-inbound', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.van-inbound')"
          section-title="container.sidenav.van-inbound">
        </nv-section-item>

        <nv-section-item parent="inbounding" ng-click="ctrl.navigateTo('container.global-inbound', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.global-inbound')"
          section-title="container.sidenav.global-inbound">
        </nv-section-item>

        <nv-section-item parent="inbounding" ng-click="ctrl.navigateTo('container.route-inbound.filter', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.route-inbound(\.|$)')"
          section-title="container.sidenav.route-inbound">
        </nv-section-item>

        <nv-section-header header="fleet" section-title="commons.fleet"></nv-section-header>

        <nv-section-item parent="fleet" ng-click="ctrl.navigateTo('container.driver-strength.filter', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.driver-strength(\.|$)')"
          section-title="container.sidenav.fleet.driver-strength">
        </nv-section-item>

        <nv-section-item parent="fleet" ng-click="ctrl.navigateTo('container.driver-seeding', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.driver-seeding(\.|$)')"
          section-title="container.sidenav.fleet.driver-seeding">
        </nv-section-item>

        <nv-section-item parent="fleet" ng-click="ctrl.navigateTo('container.driver-type-management', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.driver-type-management(\.|$)')"
          section-title="container.sidenav.fleet.driver-type-management">
        </nv-section-item>

        <nv-section-item ng-if="ctrl.isSaas()" parent="fleet"
          ng-click="ctrl.navigateTo('container.driver-reports', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.driver-reports(\.|$)')"
          section-title="container.sidenav.fleet.driver-report">
        </nv-section-item>

        <nv-section-item parent="fleet" ng-click="ctrl.navigateTo('container.cod-list', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.cod-list$')"
          section-title="container.sidenav.fleet.cod-list">
        </nv-section-item>

        <nv-section-item parent="fleet" ng-click="ctrl.navigateTo('container.contact-type-management', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.contact-type-management(\.|$)')"
          section-title="commons.contact-type-management">
        </nv-section-item>

        <nv-section-item parent="fleet" ng-click="ctrl.navigateTo('container.vehicle-type-management', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.vehicle-type-management(\.|$)')"
          section-title="commons.vehicle-type-management">
        </nv-section-item>

        <nv-section-item parent="fleet" ng-click="ctrl.navigateTo('container.rf-prebidding-management', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.rf-prebidding-management(\.|$)')"
          section-title="commons.rf-prebidding-management">
        </nv-section-item>

        <nv-section-header header="shipper" section-title="commons.shipper"></nv-section-header>

        <nv-section-item parent="shipper" ng-click="ctrl.navigateTo('container.shippers.list', $event)" is-active="!!ctrl.$state.current.name.match('container\.shippers.edit$') ||
                   !!ctrl.$state.current.name.match('container\.shippers.list$')"
          section-title="container.sidenav.shipper.all-shippers">
        </nv-section-item>

        <nv-section-item parent="shipper" ng-click="ctrl.navigateTo('container.v2-pricing-scripts-active', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.v2-pricing-scripts(\.|$)')"
          section-title="commons.pricing-scripts-v2">
        </nv-section-item>

        <nv-section-item parent="shipper" ng-click="ctrl.navigateTo('container.sales-person', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.sales-person(\.|$)')"
          section-title="container.sidenav.shipper.sales">
        </nv-section-item>

        <nv-section-header header="routing" section-title="container.sidenav.routing.title"></nv-section-header>

        <nv-section-item parent="routing" ng-click="ctrl.navigateTo('container.transactions-v2', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.transactions-v2$')"
          section-title="container.sidenav.routing.transactions-v2">
        </nv-section-item>

        <nv-section-item parent="routing" ng-click="ctrl.navigateTo('container.route-group', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.route-group$')"
          section-title="container.sidenav.routing.route-groups">
        </nv-section-item>

        <nv-section-item parent="routing" ng-click="ctrl.navigateTo('container.zonal-routing.assignment', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.zonal-routing(\[^\-].|$)')"
          section-title="container.sidenav.routing.zonal-routing">
        </nv-section-item>

        <nv-section-item parent="routing" ng-click="ctrl.navigateTo('container.add-parcel-to-route', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.add-parcel-to-route(\.|$)')"
          section-title="container.sidenav.routing.add-parcel">
        </nv-section-item>

        <nv-section-item parent="routing" ng-click="ctrl.navigateTo('container.same-day-route-engine', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.same-day-route-engine$')"
          section-title="container.sidenav.same-day-route-engine">
        </nv-section-item>

        <nv-section-item parent="routing"
          ng-click="ctrl.navigateTo('container.zonal-routing-improved.assignment', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.zonal-routing-improved(\.|$)')"
          section-title="container.sidenav.routing.zonal-routing-improved">
        </nv-section-item>

        <nv-section-item parent="routing" ng-click="ctrl.navigateTo('container.route-logs', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.route-logs(\.|$)')"
          section-title="container.sidenav.routing.route-logs">
        </nv-section-item>

        <nv-section-item parent="routing" ng-click="ctrl.navigateTo('container.route-monitoring.filter', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.route-monitoring(\.|$)')"
          section-title="container.sidenav.routing.route-monitoring">
        </nv-section-item>

        <nv-section-item parent="routing" ng-click="ctrl.navigateTo('container.route-monitoring-paged', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.route-monitoring-paged$')"
          section-title="container.sidenav.routing.route-monitoring-paged">
        </nv-section-item>

        <nv-section-item parent="routing" ng-click="ctrl.navigateTo('container.tag-management', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.tag-management$')"
          section-title="container.sidenav.tag-management">
        </nv-section-item>

        <nv-section-item parent="routing" ng-click="ctrl.navigateTo('container.zones.all', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.zones(\.|$)')" section-title="commons.zones">
        </nv-section-item>

        <nv-section-item parent="routing" ng-click="ctrl.navigateTo('container.parcel-sweeper', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.parcel-sweeper$')"
          section-title="container.sidenav.parcel-sweeper">
        </nv-section-item>

        <nv-section-item parent="routing" ng-click="ctrl.navigateTo('container.parcel-sweeper-with-hub', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.parcel-sweeper-with-hub$')"
          section-title="container.sidenav.parcel-sweeper-by-hub">
        </nv-section-item>

        <nv-section-item parent="routing" ng-click="ctrl.navigateTo('container.parcel-sweeper-live', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.parcel-sweeper-live$')"
          section-title="container.sidenav.parcel-sweeper-live">
        </nv-section-item>

        <nv-section-header header="analytics" section-title="container.sidenav.analytics.title"></nv-section-header>

        <nv-section-item parent="analytics" ng-click="ctrl.navigateTo('container.reports', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.reports$')"
          section-title="container.sidenav.analytics.reports">
        </nv-section-item>

        <nv-section-item parent="analytics" ng-click="ctrl.navigateTo('container.cod-report', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.cod-report$')"
          section-title="container.sidenav.analytics.cod-report">
        </nv-section-item>

        <nv-section-header header="new-features" section-title="container.sidenav.new-features"></nv-section-header>

        <nv-section-item parent="new-features"
          ng-click="ctrl.navigateTo('container.outbound-route-load.outbound-monitoring', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.outbound-route-load\.outbound-monitoring$')"
          section-title="container.sidenav.new-features.outbound-route-load">
        </nv-section-item>

        <nv-section-item parent="new-features" ng-click="ctrl.navigateTo('container.stamp-disassociation', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.stamp-disassociation$')"
          section-title="container.sidenav.new-features.stamp-disassociation">
        </nv-section-item>

        <nv-section-item parent="new-features" ng-click="ctrl.navigateTo('container.non-inbounded-list', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.non-inbounded-list$')"
          section-title="container.sidenav.new-features.non-inbounded-list">
        </nv-section-item>

        <nv-section-item parent="new-features" ng-click="ctrl.navigateTo('container.bulk-order', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.bulk-order$')"
          section-title="container.sidenav.new-features.bulk-order">
        </nv-section-item>

        <nv-section-item parent="new-features" ng-click="ctrl.navigateTo('container.batch-order', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.batch-order$')"
          section-title="container.sidenav.new-features.batch-order">
        </nv-section-item>

        <nv-section-item parent="new-features" ng-click="ctrl.navigateTo('container.label-printer', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.label-printer$')"
          section-title="container.sidenav.label-printer">
        </nv-section-item>

        <nv-section-item parent="new-features" ng-click="ctrl.navigateTo('container.priority-levels', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.priority-levels$')"
          section-title="container.sidenav.new-features.priority-levels">
        </nv-section-item>

        <nv-section-item parent="new-features" ng-click="ctrl.navigateTo('container.set-aside', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.set-aside$')"
          section-title="container.sidenav.new-features.set-aside">
        </nv-section-item>

        <nv-section-item parent="new-features" ng-click="ctrl.navigateTo('container.implanted-manifest', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.implanted-manifest$')"
          section-title="container.sidenav.new-features.implanted-manifest">
        </nv-section-item>


        <nv-section-header header="order" section-title="commons.order"></nv-section-header>

        <nv-section-item parent="order" ng-click="ctrl.navigateTo('container.order.list', $event)" is-active="!!ctrl.$state.current.name.match('container\.order.edit$') ||
                   !!ctrl.$state.current.name.match('container\.order.list$')"
          section-title="container.sidenav.order.all-orders">
        </nv-section-item>

        <nv-section-item parent="order" ng-click="ctrl.navigateTo('container.order.create-combine', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.order.create-combine$')"
          section-title="container.sidenav.order.create-combine">
        </nv-section-item>

        <nv-section-item parent="order" ng-click="ctrl.navigateTo('container.order.create-v4', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.order.create-v4$')"
          section-title="container.sidenav.order.create-v4">
        </nv-section-item>

        <nv-section-item parent="order"
          ng-click="ctrl.navigateTo('container.order-level-tag-management.filter', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.order-level-tag-management(\.|$)')"
          section-title="container.sidenav.order-level-tag-management">
        </nv-section-item>

        <!--todo - temporarily disabled, until we migrate from Google Maps to MapBox-->
        <!--<nv-section-item-->
        <!--parent=""-->
        <!--ng-click="ctrl.navigateTo('container.driver-waypoints-map')"-->
        <!--is-active="!!ctrl.$state.current.name.match('container\.driver-waypoints-map(\.|$)')">-->
        <!--<i class="fa fa-map"></i>-->
        <!--Driver Waypoints Map</div>-->
        <!--</nv-section-item>-->

        <nv-section-header header="pickup" section-title="container.sidenav.pick-ups.title"></nv-section-header>

        <nv-section-item parent="pickup" ng-click="ctrl.navigateTo('container.shipper-pickups', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.shipper-pickups(\.|$)')"
          section-title="container.sidenav.pick-ups.shipper-pickups">
        </nv-section-item>

        <nv-section-item parent="pickup"
          ng-click="ctrl.navigateTo('container.reservation-preset-management.overview', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.reservation-preset-management(\.|$)')"
          section-title="container.sidenav.pick-ups.reservation-preset-management">
        </nv-section-item>

        <nv-section-item parent="pickup" ng-click="ctrl.navigateTo('container.reservation-rejection', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.reservation-rejection')"
          section-title="container.sidenav.pick-ups.reservation-rejection">
        </nv-section-item>

        <nv-section-header header="recovery" section-title="container.sidenav.recovery.title"></nv-section-header>

        <nv-section-item parent="recovery" ng-click="ctrl.navigateTo('container.recovery-tickets', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.recovery-tickets')"
          section-title="commons.recovery-tickets">
        </nv-section-item>

        <nv-section-item parent="recovery" ng-click="ctrl.navigateTo('container.recovery-ticket-scanning', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.recovery-ticket-scanning')"
          section-title="container.sidenav.recovery.tickets-scanning">
        </nv-section-item>

        <nv-section-item ng-if="ctrl.isSaas()" parent="recovery"
          ng-click="ctrl.navigateTo('container.route-cleaning-report', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.route-cleaning-report')"
          section-title="container.sidenav.recovery.route-cleaning-report">
        </nv-section-item>

        <nv-section-header header="interhub" section-title="container.sidenav.interhub.title"></nv-section-header>

        <nv-section-item parent="interhub" ng-click="ctrl.navigateTo('container.shipment-management', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.shipment-management')"
          section-title="container.sidenav.interhub.shipper-management">
        </nv-section-item>

        <nv-section-item parent="interhub" ng-click="ctrl.navigateTo('container.shipment-scanning', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.shipment-scanning')"
          section-title="container.sidenav.interhub.shipment-scanning">
        </nv-section-item>

        <nv-section-item parent="interhub" ng-click="ctrl.navigateTo('container.shipment-inbound-scanning', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.shipment-inbound-scanning$')"
          section-title="container.sidenav.interhub.shipment-inbound-scanning">
        </nv-section-item>

        <!-- container.shipment-global-inbound -->
        <nv-section-item parent="interhub" ng-click="ctrl.navigateTo('container.shipment-global-inbound', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.shipment-global-inbound')"
          section-title="container.sidenav.interhub.shipment-global-inbound">
        </nv-section-item>

        <nv-section-item parent="interhub" ng-click="ctrl.navigateTo('container.linehaul.entries', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.linehaul\.entries')"
          section-title="container.sidenav.interhub.linehaul-management">
        </nv-section-item>

        <nv-section-item parent="interhub" ng-click="ctrl.navigateTo('container.shipment-inbound', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.shipment-inbound$')"
          section-title="container.sidenav.shipment-inbound">
        </nv-section-item>

        <nv-section-header header="third-party" section-title="container.sidenav.third-party.title"></nv-section-header>

        <nv-section-item parent="third-party" ng-click="ctrl.navigateTo('container.third-party-shipper', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.third-party-shipper')"
          section-title="container.sidenav.third-party.third-party-shipper">
        </nv-section-item>

        <nv-section-item parent="third-party" ng-click="ctrl.navigateTo('container.third-party-order', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.third-party-order')"
          section-title="container.sidenav.third-party.third-party-order">
        </nv-section-item>

        <nv-section-header header="thermal-printing" section-title="container.sidenav.thermal-printing.title">
        </nv-section-header>

        <nv-section-item parent="thermal-printing" ng-click="ctrl.navigateTo('container.relabel-stamp', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.relabel-stamp(\.|$)')"
          section-title="container.sidenav.thermal-printing.relabel-stamp">
        </nv-section-item>

        <nv-section-item parent="thermal-printing" ng-click="ctrl.navigateTo('container.printer-templates', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.printer-templates(\.|$)')"
          section-title="container.sidenav.thermal-printing.printer-templates">
        </nv-section-item>

        <nv-section-header header="settings" section-title="container.sidenav.system-settings.title">
        </nv-section-header>

        <nv-section-item parent="settings" ng-click="ctrl.navigateTo('container.global-settings', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.global-settings(\.|$)')"
          section-title="container.sidenav.system-settings.global-settings">
        </nv-section-item>

        <nv-section-item parent="settings" ng-click="ctrl.navigateTo('container.printers', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.printers(\.|$)')"
          section-title="container.sidenav.system-settings.printer">
        </nv-section-item>

        <nv-section-header header="utilities" section-title="container.sidenav.utilities.title"></nv-section-header>

        <nv-section-item parent="utilities" ng-click="ctrl.navigateTo('container.lat-lng-cleanup', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.lat-lng-cleanup$')"
          section-title="container.sidenav.utilities.lat-lng-cleanup">
        </nv-section-item>
        <nv-section-item parent="utilities" ng-click="ctrl.navigateTo('container.bulk-address-verification', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.bulk-address-verification$')"
          section-title="container.sidenav.utilities.bulk-address-verification">
        </nv-section-item>
        <nv-section-item parent="utilities" ng-click="ctrl.navigateTo('container.address-verification', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.address-verification$')"
          section-title="container.sidenav.utilities.address-verification">
        </nv-section-item>

        <nv-section-item parent="utilities" ng-click="ctrl.navigateTo('container.claim', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.claim$')"
          section-title="container.sidenav.utilities.claim">
        </nv-section-item>

        <nv-section-item ng-if="ctrl.isSaas()" parent="utilities"
          ng-click="ctrl.navigateTo('container.rollover', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.rollover$')"
          section-title="container.sidenav.utilities.rollover">
        </nv-section-item>

        <nv-section-item parent="utilities" ng-click="ctrl.navigateTo('container.ninja-hub-provisioning', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.ninja-hub-provisioning$')"
          section-title="container.sidenav.utilities.ninja-hub-provisioning">
        </nv-section-item>

        <nv-section-item parent="utilities" ng-click="ctrl.navigateTo('container.warehousing', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.warehousing$')"
          section-title="container.sidenav.utilities.warehousing">
        </nv-section-item>

        <nv-section-item parent="utilities" ng-click="ctrl.navigateTo('container.qrcode-printing', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.qrcode-printing$')"
          section-title="container.sidenav.utilities.qrcode-printing">
        </nv-section-item>

        <nv-section-item parent="utilities" ng-click="ctrl.navigateTo('container.ninja-pack-tid-generator', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.ninja-pack-tid-generator$')"
          section-title="container.sidenav.utilities.ninja-pack-tid-generator">
        </nv-section-item>

        <nv-section-header header="access-control" section-title="container.sidenav.access-control.title">
        </nv-section-header>

        <nv-section-item parent="access-control" ng-click="ctrl.navigateTo('container.user-management', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.user-management')"
          section-title="container.sidenav.access-control.user-management">
        </nv-section-item>

        <nv-section-item parent="access-control" ng-click="ctrl.navigateTo('container.role-management', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.role-management')"
          section-title="container.sidenav.access-control.role-management">
        </nv-section-item>

        <nv-section-header header="addressing" section-title="container.sidenav.addressing.title"></nv-section-header>

        <nv-section-item parent="addressing" ng-click="ctrl.navigateTo('container.addressing', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.addressing')"
          section-title="container.sidenav.addressing.addressing">
        </nv-section-item>

        <nv-section-item parent="addressing"
          ng-click="ctrl.navigateTo('container.unverified-address-assignment', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.unverified-address-assignment')"
          section-title="container.sidenav.addressing.unverified-address-assignment">
        </nv-section-item>

        <nv-section-header header="nco" section-title="container.sidenav.nco.title"></nv-section-header>

        <nv-section-item parent="nco" ng-click="ctrl.navigateTo('container.payment-processing', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.payment-processing')"
          section-title="container.sidenav.payment-processing">
        </nv-section-item>

        <nv-section-header header="special-pages" section-title="container.sidenav.special-pages.title">
        </nv-section-header>

        <nv-section-item parent="special-pages" ng-click="ctrl.navigateTo('container.bulky-batch', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.bulky-batch')"
          section-title="container.sidenav.special-pages.bulky-batch">
        </nv-section-item>

        <nv-section-item parent="special-pages" ng-click="ctrl.navigateTo('container.amazon-parcel-status', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.amazon-parcel-status')"
          section-title="container.sidenav.special-pages.amazon-parcel-status">
        </nv-section-item>

        <nv-section-item parent="special-pages" ng-click="ctrl.navigateTo('container.cmi-global-inbound', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.cmi-global-inbound')"
          section-title="container.sidenav.special-pages.global-inbound-cmi-override">
        </nv-section-item>

        <nv-section-item parent="special-pages" ng-click="ctrl.navigateTo('container.order-weight-update', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.order-weight-update')"
          section-title="container.sidenav.special-pages.order-weight-update">
        </nv-section-item>

        <nv-section-header header="mass-communication" section-title="container.sidenav.mass-communications">
        </nv-section-header>

        <nv-section-item parent="mass-communication" ng-click="ctrl.navigateTo('container.sms', $event)"
          is-active="!!ctrl.$state.current.name.match('container\.sms')"
          section-title="container.sidenav.mass-communication.messaging">
        </nv-section-item>

      </div>
    </md-list>
  </md-content>

</md-sidenav>