.order-edit-dp-management {
  $common-padding: 1.4rem;

  .plain-separator { margin: 1.4rem 0rem }

  .horizontal-padding {
    padding-right: $common-padding;
    padding-left: $common-padding;

    >* {
      padding-right: $common-padding;
      padding-left: $common-padding;
    }
  }

  .vertical-padding {
    padding-top: $common-padding;
    padding-bottom: $common-padding;

    >* {
      padding-top: $common-padding;
      padding-bottom: $common-padding;
    }
  }

  .padding-bottom { padding-bottom: $common-padding; }
  .padding-top { padding-top: $common-padding; }
  .nv-hint { width: 100%; margin: 0; }
  .date-select-container md-input-container { padding: 0; margin: 0; }
}