<nv-dialog-header
  title="{{'container.order.edit.edit-dp-management' | translate}}"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<form name="modelForm" ng-submit="ctrl.onSave()">
  <md-dialog>
    <md-dialog-content>
      <div class="md-dialog-content" ng-if="ctrl.mainState === ctrl.lceView.LOADING">
        {{ 'commons.load-data' | translate }}
      </div>
      <div class="md-dialog-content" ng-if="ctrl.mainState === ctrl.lceView.IDLE">
        <div layout class="padding-bottom">
          <nv-hint text="Please select appropriate Drop Off DP ID or deselect any to remove"></nv-hint>
        </div>
        <div layout>
            <div class="md-block vertical-padding-6" layout="column" flex="50">
              <label>{{ 'container.order.edit.edit-dp-management-dp-name' | translate }}</label>
              <nv-autocomplete
                search-text="ctrl.dpSearchText"
                delegate-handle="order-edit-dps"
                item-types="DP"
                selected-item="ctrl.selectedDp"
                hide-search-icon="::true"
                on-change="ctrl.onDpChanged()">
              </nv-autocomplete>
            </div>
            <div class="md-block date-select-container vertical-padding-6" layout="column" flex="40"
              ng-if="ctrl.dateOptions.length > 0">
              <label>{{ 'container.order.edit.edit-dp-management-dropoff-date' | translate }}</label>
              <nv-input-select
                label="container.order.edit.edit-dp-management-dropoff-date"
                show-label="::false"
                model="ctrl.selectedDropOffDate"
                model-options="{}"
                options="ctrl.dateOptions"
              ></nv-input-select>
            </div>
        </div>
      </div>
      <div class="md-dialog-content" ng-if="ctrl.mainState === ctrl.lceView.ERROR">
        ERROR
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <nv-api-text-button
        md-theme="nvGreen"
        name="commons.save-changes"
        icon="check"
        class="raised"
        form="modelForm"
        disabled="ctrl.isDpEmpty()"
        state="ctrl.formSubmitState"
        on-click="ctrl.onSave()">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>
