@import "../../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../../views/container/order/order.mixins";
@import "../../../../styles/variables";

.nv-container-order-edit {
  // variables
  $lightOpacity: 90%;
  $disabledOpacity: 70%;
  $pageThemeColors: (
    'grey': (
      'dark': #3E4447,
      'light': mix(#3E4447, #fff, $lightOpacity),
      'disabled': mix(#3E4447, #fff, $disabledOpacity)
    ),
    'red': (
      'dark': map-get(map-get($themeColor, 'nvRed'), 'dark'),
      'light': mix(map-get(map-get($themeColor, 'nvRed'), 'dark'), #fff, $lightOpacity),
      'disabled': mix(map-get(map-get($themeColor, 'nvRed'), 'dark'), #fff, $disabledOpacity)
    ),
    'blue': (
      'dark': map-get(map-get($themeColor, 'nvBlue'), 'dark'),
      'light': mix(map-get(map-get($themeColor, 'nvBlue'), 'dark'), #fff, $lightOpacity),
      'disabled': mix(map-get(map-get($themeColor, 'nvBlue'), 'dark'), #fff, $disabledOpacity)
    ),
    'green': (
      'dark': map-get(map-get($themeColor, 'nvGreen'), 'dark'),
      'light': mix(map-get(map-get($themeColor, 'nvGreen'), 'dark'), #fff, $lightOpacity),
      'disabled': mix(map-get(map-get($themeColor, 'nvGreen'), 'dark'), #fff, $disabledOpacity)
    ),
    'yellow': (
      'dark': map-get(map-get($themeColor, 'nvYellow'), 'dark'),
      'light': mix(map-get(map-get($themeColor, 'nvYellow'), 'dark'), #fff, $lightOpacity),
      'disabled': mix(map-get(map-get($themeColor, 'nvYellow'), 'dark'), #fff, $disabledOpacity)
    ),
  );

  @mixin page-themes($mode) {
    @each $pageThemeColor in $pageThemeColors {
      $key: nth($pageThemeColor, 1);
      $colors: nth($pageThemeColor, 2);

      &.#{$key} {
        @if $mode == background {
          background-color: map-get($colors, 'dark');

          &.light {
            background-color: map-get($colors, 'light');
          }

          &.disabled {
            background-color: map-get($colors, 'disabled');
          }
        } @else if $mode == md-menu-bar {
          md-menu {
            > button {
              &:focus {
                background-color: map-get($colors, 'light');
              }
            }

            &.md-open {
              > button {
                background-color: map-get($colors, 'light');
              }
            }
          }
        } @else if $mode == arrow-concave {
          &:before {
            border-top-color: map-get($colors, 'dark');
            border-bottom-color: map-get($colors, 'dark');
          }

          &.disabled {
            &:before {
              border-top-color: map-get($colors, 'disabled');
              border-bottom-color: map-get($colors, 'disabled');
            }
          }
        } @else if $mode == arrow-convex {
          &:after {
            border-left-color: map-get($colors, 'dark');
          }

          &.disabled {
            &:after {
              border-left-color: map-get($colors, 'disabled');
            }
          }
        }
      }
    }
  }

  @mixin section-title {
    color: $nv-text-black-2;
    font-weight: normal;
  }

  @mixin padding-left-right-settings($multiply: 1) {
    padding-left: $nv-baseline-grid*$multiply;
    padding-right: $nv-baseline-grid*$multiply;

    @include nv-media-query-md-min {
      padding-left: $nv-baseline-grid*2*$multiply;
      padding-right: $nv-baseline-grid*2*$multiply;
    }
  }

  @mixin end-of-table {
    $lastRowHeight: 5rem;

    .last-row {
      &:not(.last-row-no-result) {
        height: $lastRowHeight;

        .end-of-result {
          height: $lastRowHeight;

          .end-of-table {
            background-color: $nv-light2;
            height: $lastRowHeight;

            h5, p {
              color: $nv-text-black-2;
            }

            p {
              display: none;
            }
          }
        }
      }
    }
  }

  // commons
  width: 100%;
  height: 100%;

  > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    .header-holder {
      flex-shrink: 0;
      z-index: 5;
    }

    .content-holder {
      flex-grow: 1;
      overflow: auto;
      min-height: 30rem;
    }
  }

  @include data-blocks;

  .layout-padding {
    padding: $nv-baseline-grid;
    @include padding-left-right-settings;

    > * {
      padding: $nv-baseline-grid;
      @include padding-left-right-settings;
    }
  }

  .header-theme {
    @include page-themes(background);
    color: $nv-light0;

    p, h4, h5 {
      color: $nv-light0;
    }
  }

  .sub-header-theme {
    @include page-themes(background);

    &.custom-black {
      background-color: $nv-dark3;
    }

    &.custom-dark-blue {
      background-color: map-get(map-get($themeColor, 'nvBlue'), 'dark');
    }

    color: $nv-light0;
    p, h4, h5 {
      color: $nv-light0;
    }

    nv-icon-text-button, md-menu-bar.right-navigation {
      display: inline-block;
      height: 0;
      margin-top: -$nv-baseline-grid;
      padding: 0;
      position: relative;
      top: -1px;
    }
  }

  .footer {
    background-color: $nv-dark2;
    height: 56px;
  }

  .box {
    border: 1px solid $nv-light2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: $nv-baseline-grid;
    margin-bottom: $nv-baseline-grid;
    padding-top: $nv-baseline-grid*2;
    padding-bottom: $nv-baseline-grid*2;

    h5 {
      color: $nv-text-black-2;
      font-weight: normal;
      font-size: 16px;
    }
  }

  .icon-text {
    margin-bottom: 4px;
    display: table;

    > i, > span {
      vertical-align: middle;
      display: table-cell;
    }

    > i {
      color: $nv-text-black-3;
      line-height: normal;
      width: 30px;
      vertical-align: top;
    }
  }

  .no-margin {
    margin: 0 !important;
  }

  .margin-left {
    margin-left: $nv-baseline-grid*8;
  }

  // section styling
  #header {
    @include nv-media-query-md-min {
      .data-blocks + .data-blocks {
        margin-top: $data-block-top-spacing;
      }
    }

    @include nv-media-query-lg-min {
      .data-blocks {
        display: inline-block;

        +.data-blocks {
          margin-top: $data-block-top-spacing;
        }

        .data-block {
          p, a {
            line-height: 1.6;
          }
        }
      }
    }

    @include nv-media-query-xl-min {
      .data-blocks {
        display: inline-block;

        +.data-blocks {
          margin-top: $data-block-top-spacing;
        }

        .data-block {
          p, a {
            line-height: 1.6;
          }
        }
      }
    }

    label {
      color: $nv-text-white-2;

      +p, +h3, +h5, +a {
        color: $nv-light0;
        @include nv-font-weight(medium);
      }

      +p, +a {
        @include nv-media-query-md-min {
          @include nv-font(h5);
        }
      }

      @include nv-media-query-sm-max {
        margin-top: $data-block-top-spacing;
      }
    }

    #order-tags-container.data-blocks {
      display: flex;

      nv-tag > span.md-nvBlue-theme {
        height: 2.8rem;
        line-height: 1.2;
        font-size: 1.5rem;
        color: #253746;
        background-color: #ffffff;
        padding: 0.55rem 2.4rem;
      }
    }
  }

  #action-bar {
    $action-bar-height: 4rem;

    .data-blocks {
      .data-block {
        .menu-bar-title {
          color: $nv-text-white-2;

          button {
            text-transform: uppercase;
            background-color: transparent;
            border: 0;
            height: $action-bar-height;
            padding: 0;
          }

          @include padding-left-right-settings(2);
          @include nv-media-query-md-min {
            margin-right: -$data-block-spacing-between/2;
          }
        }

        md-menu-bar {
          @include page-themes(md-menu-bar);
          padding: 0;

          md-menu {
            > button {
              padding: 0 $data-block-spacing-between/2 0 $data-block-spacing-between/2;
              height: $action-bar-height;

              &[disabled] {
                opacity: 0.4;
              }
            }
          }
        }
      }
    }
  }

  #order-summary {
    padding-top: $nv-baseline-grid*2;

    h4, h5 {
      @include section-title;
    }

    nv-icon-text-button {
      display: inline-block;
      vertical-align: top;
    }

    .data-blocks {
      &.overflow {
        overflow: hidden;
      }

      .data-block {
        $local-data-block-top-spacing: 0.4rem;
        max-width: 18rem;
        margin-top: $local-data-block-top-spacing;
        margin-bottom: $local-data-block-top-spacing;

        &.ticket-box{
          max-width: 60rem;
        }

        p {
          -ms-word-wrap: break-word;
          word-wrap: break-word;
        }
        .ticket-id-link {
          font-size: 1.2rem;
          // &::after {
          //   content: ', ';
          // }
          // &.last::after{
          //   content: '';
          // }
        }
      }
    }

    .menu-item {
      width: 33rem;
      margin: 0.4rem;
    }

    .underline {
      text-decoration: underline;
    }
  }

  #original-details {
    background-color: $nv-light1;
    padding-top: $nv-baseline-grid;
    padding-bottom: $nv-baseline-grid;

    h4 {
      @include section-title;
    }

    .data-blocks {
      margin-top: $data-block-top-spacing;

      &.data-blocks-horizontal {
        .data-block {
          label {
            width: 32%;
          }
        }
      }
    }
  }

  #pickup-and-delivery-details {
    $arrow-width: 24px;
    $arrow-height: 48px;

    .data-blocks {
      padding-top: $data-block-top-spacing;

      &.data-blocks-horizontal {
        .data-block {
          label {
            width: 32%;
          }
        }
      }
    }

    .sub-header-theme {
      +div {
        padding-bottom: $nv-baseline-grid;
      }
    }

    #pickup-details {
      position: relative;

      .sub-header-theme {
        position: relative;
        &:after {
          content: ' ';
          background-color: #fff;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          border-top: $arrow-height/2 solid transparent;
          border-bottom: $arrow-height/2 solid transparent;
          border-left: $arrow-width/2 solid transparent;

          @include nv-media-query-sm-max {
            content: normal;
          }
        }

        @include page-themes(arrow-convex);
      }
    }

    #delivery-details {
      position: relative;

      .sub-header-theme {
        position: relative;
        &:before {
          content: ' ';
          background-color: #fff;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          border-top: $arrow-height/2 solid transparent;
          border-bottom: $arrow-height/2 solid transparent;
          border-left: $arrow-width/2 solid transparent;

          @include nv-media-query-sm-max {
            content: normal;
          }
        }

        @include page-themes(arrow-concave);

        h5 {
          margin-left: $nv-baseline-grid;

          @include nv-media-query-sm-max {
            margin-left: 0;
          }
        }
      }
    }
  }

  #transactions {
    .table-container {
      nv-table {
        // column width
        @include nv-table-column-width(_service-end-time, 16rem);
        @include nv-table-column-width(type, 12rem);
        @include nv-table-column-width(status, 10rem);
        @include nv-table-column-width(_driver, 14rem);
        @include nv-table-column-width(route-id, 12rem);
        @include nv-table-column-width(_route-date, 12rem);
        @include nv-table-column-width(distribution-point-id, 8rem);
        @include nv-table-column-width(failure_reason_code, 14rem);
        @include nv-table-column-width(priority-level, 12rem);
        @include nv-table-column-width(dnr, 13rem);
        @include nv-table-column-width(name, 16rem);
        @include nv-table-column-width(contact, 12rem);
        @include nv-table-column-width(email, 16rem);
        @include nv-table-column-width(_address, 100%);

        @include end-of-table;

        span {
          &.dark-red {
            @include nv-font-color(dark-red);
          }
        }

        th, td {
          &._address {
            min-width: 22rem;
          }
        }
      }
    }
  }

  #events {
    .right-navigation-help-text {
      margin-right: $nv-baseline-grid*2;
      color: $nv-text-white-3;
      @include nv-font(p);
    }

    .btn-apply-action {
      > span {
        flex-grow: 1;
      }
    }

    .table-container {
      nv-table {
        // column width
        @include nv-table-column-width(_event_time, 12rem);
        @include nv-table-column-width(_tags, 14rem);
        @include nv-table-column-width(name, 18rem);
        @include nv-table-column-width(user_type, 10rem);
        @include nv-table-column-width(_user, 18rem);
        @include nv-table-column-width(_scan_id, 14rem);
        @include nv-table-column-width(_route_id, 12rem);
        @include nv-table-column-width(_hub_name, 12rem);
        @include nv-table-column-width(_description, 100%);

        @include end-of-table;

        th, td {
          &._description {
            min-width: 18rem;
          }
        }
      }
    }
  }
}

// separate this style, which is appended to the body element
.recovery-ticket-add-holder {
  background-color: transparent !important;
}

.recovery-ticket-edit-holder {
  width: 100rem !important;
}
