<md-content class="nv-container-order-edit"
            nv-load="ctrl.getAll" loading-message="{{'container.order.edit.load-order' | translate}}"
            nv-window-resize="ctrl.windowSizeChanged()">

  <div class="header-holder"
       ng-class="{'md-whiteframe-16dp': !ctrl.isContentScrollTopZero}">
    <div layout="column" layout-padding
         class="header-theme light"
         ng-class="ctrl.getThemeClass(ctrl.order)"
         id="header">
      <div flex>
        <div layout="row" layout-xs="column">
          <div class="flex" layout="column">
            <div class="data-blocks">
              <div class="data-block">
                <label>{{'commons.tracking-id' | translate}}</label>
                <h3>{{ ctrl.order.trackingId }}</h3>
              </div>
              <div class="data-block">
                <label>&nbsp;</label>
                <span>
                  <nv-tag name="commons.international"
                          nv-class="nv-tag-light-purple"
                          ng-if="Order.isInternational(ctrl.order)">
                  </nv-tag><!--
                  --><nv-tag name="commons.priority"
                             nv-class="nv-tag-yellow"
                             ng-if="ctrl.isPriorityOrder(ctrl.order)">
                  </nv-tag><!--
                  --><nv-tag name="commons.on-demand"
                             nv-class="nv-tag-light-blue"
                             ng-if="ctrl.isOnDemandOrder(ctrl.order)">
                  </nv-tag><!--
                  --><nv-tag name="commons.linehaul"
                             nv-class="nv-tag-orange"
                             ng-if="ctrl.isLinehaulOrder(ctrl.order)">
                  </nv-tag>
                  <nv-tag name="COD {{ ctrl.order._totalCashToCollect }}"
                          nv-class="nv-tag-orange"
                          ng-if="ctrl.isCodOrder(ctrl.order)">
                  </nv-tag>
                  <nv-tag name="COP {{ ctrl.order._totalCashPickup }}"
                          nv-class="nv-tag-orange"
                          ng-if="ctrl.isCopOrder(ctrl.order)">
                  </nv-tag>
                </span>
              </div>
              <div class="data-block">
                <label>{{'commons.status' | translate}}</label>
                <h3>{{ ctrl.order._status }}</h3>
              </div>
              <div class="data-block">
                <label>{{ 'container.order.edit.granular' | translate }}</label>
                <h3>{{ ctrl.order._granularStatus }}</h3>
              </div>
              <div class="data-block" ng-if="ctrl.order._granularStatus === Order.GRANULAR_STATUS.ARRIVED_AT_SORTING_HUB">
                <label>{{ 'container.order.edit.country-hub' | translate }}</label>
                <h3>{{ctrl.order._lastHubCountry}}-{{ctrl.order._lastHubCity}}-{{ctrl.order._lastHub}}</h3>
              </div>
              <div class="data-block">
                <label>{{ 'commons.zone' | translate }}</label>
                <h3>{{ ctrl.order.rackSector }}</h3>
              </div>
              <div class="data-block">
                <label>{{ 'commons.model.destination-hub' | translate }}</label>
                <h3>{{ ctrl.order.destinationHub  }}</h3>
              </div>
              <div class="data-block">
                <label>{{ 'container.order.edit.latest-event' | translate }}</label>
                <h3>{{ctrl.latestEventData.name || '-'}}</h3>
              </div>
              <div class="data-block">
                <label>{{ 'container.order.edit.latest-route-id' | translate }}</label>
                <h3>{{ctrl.latestEventDataWithRoute._route_id || '-'}}</p>
              </div>
              <div class="data-block">
                <label>{{ 'container.order.edit.current-priority' | translate }}</label>
                <h3>{{ ctrl.order._priorityLevel }}</h3>
              </div>
            </div>
            <div layout>
              <div class="data-blocks" layout flex="50">
                <div class="data-block">
                  <label>{{ 'commons.stamp-id' | translate }}</label>
                  <p>{{ ctrl.order.stampId || '-' }}</p>
                </div>
                <!--<div class="data-block">-->
                <!--<label>{{ 'container.order.edit.latest-hub' | translate }}</label>-->
                <!--<p>-</p>-->
                <!--</div>-->
                <div class="data-block">
                  <label>{{ 'container.order.edit.current-dnr-group' | translate }}</label>
                  <p>{{ ctrl.order._dnrName }}</p>
                </div>
  
                <div class="data-block" ng-if="ctrl.cancelledByPetsMessage">
                    <label>{{ 'container.order.edit.cancelation-reason' | translate }}</label>
                    <p>{{ ctrl.cancelledByPetsMessage }}</p>
                </div>
  
                <div class="data-block" ng-if="ctrl.order.thirdPartyTrackingId">
                  <label>{{'commons.third-party-tracking-id' | translate}}</label>
                  <p>{{ ctrl.order.thirdPartyTrackingId || '-' }}</p>
                </div>
                <div class="data-block" ng-if="ctrl.order.thirdPartyShipperUrl">
                  <label>{{'commons.third-party-tracking-url' | translate}}</label>
                  <a href="{{ ctrl.order.thirdPartyShipperUrl }}" target="_blank">{{ ctrl.order.thirdPartyShipperUrl }}</a>
                </div>
              </div>
              <div id="order-tags-container" class="data-blocks" layout layout-align="end" flex="50">
                <nv-tag ng-repeat="tag in ctrl.orderTags"
                  md-theme="nvBlue"
                  name="{{ tag }}">
                </nv-tag>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div layout="row"
       class="sub-header-theme"
       ng-class="ctrl.getThemeClass(ctrl.order)"
       id="action-bar">
    <div class="data-blocks flex">
      <div class="data-block no-margin">
        <div class="menu-bar-title">
          <button disabled>
            {{ 'commons.actions' | translate }}:
          </button>
        </div>
      </div>
      <div class="data-block">
        <md-menu-bar ng-class="ctrl.getThemeClass(ctrl.order)">
          <md-menu>
            <button ng-click="$mdOpenMenu($event)">
              {{ 'container.order.edit.order-settings' | translate }}
            </button>

            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="ctrl.showEditOrderDetailsDialog($event)">
                  {{ 'container.order.edit.edit-order-details' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.showEditCashCollectionDetailsDialog($event)">
                  {{ 'container.order.edit.edit-cash-collection-details' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.showEditInstructionsDialog($event)">
                  {{ 'container.order.edit.edit-instructions' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.completeOrder($event)"
                           ng-disabled="Order.isStatusEnum(ctrl.order, Order.STATUS.COMPLETED)">
                  {{ 'container.order.edit.manually-complete-order' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.cancelOrder($event)"
                           ng-disabled="!Order.isGranularStatusesEnum(ctrl.order,
                           [Order.GRANULAR_STATUS.PENDING_PICKUP,
                            Order.GRANULAR_STATUS.STAGING,
                            Order.GRANULAR_STATUS.VAN_ENROUTE_TO_PICKUP,
                            Order.GRANULAR_STATUS.PICKUP_FAIL,
                            Order.GRANULAR_STATUS.PENDING_PICKUP_AT_DISTRIBUTION_POINT,
                            Order.GRANULAR_STATUS.CROSS_BORDER_IN_TRANSIT,
                            Order.GRANULAR_STATUS.CROSS_BORDER_CUSTOMS_HELD ])">
                  {{ 'container.order.edit.cancel-order' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.resumeOrder($event)"
                           ng-disabled="!Order.isStatusEnum(ctrl.order, Order.STATUS.CANCELLED)">
                  {{ 'container.order.edit.resume-order' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.rescheduleOrder($event)"
                           ng-disabled="!ctrl.isAbleToRescheduleOrder(ctrl.order)">
                  {{ 'container.order.edit.reschedule-order' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.showCreateRecoveryTicketDialog($event)"
                           ng-disabled="!ctrl.getEnableCreateNewTicket()">
                  {{ 'container.order.edit.create-recovery-ticket' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.showEditRecoveryTicketDialog($event)"
                           ng-disabled="!(ctrl.recoveryTickets && ctrl.recoveryTickets.length)">
                  {{ 'container.order.edit.edit-recovery-ticket' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.showEditPirorityLevelDialog($event)">
                  {{ 'container.order.edit.edit-priority-level' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.addOrUpdateStampId($event)">
                  {{ 'container.order.edit.edit-order-stamp' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.updateStatus($event)">
                  {{ 'container.order.edit.update-status' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button ng-click="ctrl.deleteOrder($event)"
                           ng-disabled="!ctrl.isAbleToDeleteOrder(ctrl.order)">
                  <span ng-class="{'nv-text-dark-red': ctrl.isAbleToDeleteOrder(ctrl.order)}">
                    {{ 'container.order.edit.delete-order' | translate }}
                  </span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="$mdOpenMenu($event)">
              {{ 'commons.model.pickup' | translate }}
            </button>

            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="ctrl.showEditPickupDetailsDialog($event)"
                           ng-disabled="!ctrl.isAbleToEditPickupDetails(ctrl.order)">
                  {{ 'container.order.edit.edit-pickup-details' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.reverifyTransaction(ctrl.order._lastPPNT)"
                           ng-disabled="!ctrl.isAbleToReverifyTransaction(ctrl.order._lastPPNT)">
                  {{ 'container.order.edit.reverify-pickup-address' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.pullFromRoute($event, Transaction.TYPE_NAME.PICKUP)"
                           ng-disabled="!ctrl.isAbleToPullFromRoute(ctrl.order._lastPPNT)">
                  {{ 'container.order.edit.pull-from-route' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.addToRoute($event, Transaction.TYPE.PICKUP)"
                           ng-disabled="!ctrl.isAbleToAddToRoute(ctrl.order._lastPPNT)">
                  {{ 'container.order.edit.add-to-route' | translate }}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu ng-if="!ctrl.order.rts">
            <button ng-click="$mdOpenMenu($event)">
              {{ 'commons.delivery' | translate }}
            </button>

            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="ctrl.showEditDeliveryDetailsDialog($event)">
                  {{ 'container.order.edit.edit-delivery-details' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.reverifyTransaction(ctrl.order._lastDDNT)"
                           ng-disabled="!ctrl.isAbleToReverifyTransaction(ctrl.order._lastDDNT)">
                  {{ 'container.order.edit.reverify-delivery-address' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.pullFromRoute($event, Transaction.TYPE_NAME.DELIVERY)"
                           ng-disabled="!ctrl.isAbleToPullFromRoute(ctrl.order._lastDDNT)">
                  {{ 'container.order.edit.pull-from-route' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.addToRoute($event, Transaction.TYPE.DELIVERY)"
                           ng-disabled="!ctrl.isAbleToAddToRoute(ctrl.order._lastDDNT)">
                  {{ 'container.order.edit.add-to-route' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.showEditRtsDetailsDialog($event)"
                           ng-disabled="!ctrl.isAbleToEditRtsDetails(ctrl.order)">
                  {{ 'commons.return-to-sender' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.showDpManagementDialog($event)">
                  {{ 'container.order.edit.edit-dp-management' | translate }}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="$mdOpenMenu($event)">
                {{ 'commons.storage' | translate }}
            </button>
            <md-menu-content>
                <md-menu-item>
                  <md-button
                    ng-disabled="!ctrl.isAbleToRemoveFromStorage(ctrl.order)"
                    ng-click="ctrl.removeFromWarehouse($event, ctrl.order.id)">
                    {{ 'container.order.edit.remove-from-storage' | translate }}
                  </md-button>
                </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu ng-if="ctrl.order.rts">
            <button ng-click="$mdOpenMenu($event)">
              {{ 'commons.return-to-sender' | translate }}
            </button>

            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="ctrl.showEditDeliveryDetailsDialog($event)">
                  {{ 'container.order.edit.edit-rts-details' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.reverifyTransaction(ctrl.order._lastDDNT)"
                           ng-disabled="!ctrl.isAbleToReverifyTransaction(ctrl.order._lastDDNT)">
                  {{ 'container.order.edit.reverify-rts-address' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.pullFromRoute($event)"
                           ng-disabled="!ctrl.isAbleToPullFromRoute(ctrl.order._lastDDNT)">
                  {{ 'container.order.edit.pull-from-route' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.addToRoute($event)"
                           ng-disabled="!ctrl.isAbleToAddToRoute(ctrl.order._lastDDNT)">
                  {{ 'container.order.edit.add-to-route' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.cancelRts()">
                  {{ 'container.order.edit.cancel-rts' | translate }}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="$mdOpenMenu($event)">
              {{ 'commons.shipment' | translate }}
            </button>

            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="ctrl.navigateToShipmentManagementPage()">
                  {{ 'container.order.edit.edit-current-shipment' | translate }}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="$mdOpenMenu($event)">
              {{ 'container.order.edit.view-or-print' | translate }}
            </button>

            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="ctrl.showPODDialog($event)">
                  {{ 'container.order.edit.view-all-pods' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.printAirwayBill(ctrl.order)">
                  {{ 'container.order.edit.print-airway-bill' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.showOrderPhotosDialog($event)">
                  {{ 'container.order.edit.view-photos' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.printShippingLabel(ctrl.order)">
                  {{ 'container.order.edit.print-shipping-label' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item ng-if="ctrl.isSaas()">
                <md-button ng-click="ctrl.loginShipper(ctrl.order.shipper)">
                  {{ 'container.order.edit.login-to-shipper-dashboard' | translate }}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-menu-bar>
      </div>
    </div>
  </div>
  </div>
  <div class="content-holder">
    <div layout="row"
         id="order-summary">
      <div flex>
        <div layout="column" layout-padding>
          <div flex>
            <div layout="row">
              <div flex>
                <h4>{{ 'container.order.edit.order-summary' | translate }}</h4>
              </div>
            </div>
          </div>
          <div flex>
            <div class="data-blocks"
                 ng-class="{'overflow': !ctrl.isOrderSummaryShowAllDetails}"
                 ng-style="ctrl.orderSummaryDataBlocksStyle()">
              <div class="data-block">
                <label>{{ 'commons.shipper-id' | translate }}</label>
                <p ng-if="ctrl.order.shipper">{{ ctrl.order.shipper.name }} ({{ ctrl.order.shipper.id }})</p>
                <p ng-if="!ctrl.order.shipper">{{'container.order.edit.shipper-deleted' | translate}}</p>
              </div>
              <div class="data-block">
                <label>{{ 'container.order.edit.shipper-reference' | translate }}</label>
                <p>{{ ctrl.order.shipperOrderRefNo || '-' }}</p>
              </div>
              <div class="data-block">
                <label>{{ 'container.order.edit.order-source' | translate }}</label>
                <p ng-if="ctrl.order.bulkId">
                  <a href="javascript:;" ng-click="ctrl.navigateToBulkOrderPage(ctrl.order.bulkId)">
                    {{ ctrl.order.sourceId + ' - ' + ctrl.order.bulkId }}
                  </a>
                </p>
                <p ng-if="!ctrl.order.bulkId">
                  {{ ctrl.order.sourceId }}
                </p>
              </div>
              <div class="data-block">
                <label>{{ 'container.order.edit.order-type' | translate }}</label>
                <p>{{ ctrl.order.type }}</p>
              </div>
              <div class="data-block">
                <label>{{ 'commons.delivery-type' | translate }}</label>
                <p>{{ ctrl.order.deliveryType }}</p>
              </div>
              <div class="data-block">
                <label>{{ 'commons.comments' | translate }}</label>
                <p>{{ ctrl.order.comments || '-' }}</p>
              </div>
              <div class="data-block">
                <label>{{ 'container.order.edit.charge-to' | translate }}</label>
                <p>{{ ctrl.printChargeTo(ctrl.order.pricingInfo.charge_to) | translate }}</p>
              </div>
              <div class="data-block" ng-class="{ 'ticket-box': ctrl.recoveryTickets && ctrl.recoveryTickets.length > 0 }">
                <label>{{ 'container.order.edit.recovery-ticket' | translate }}</label>
                <p ng-if="ctrl.recoveryTickets[0]" layout="row" layout-wrap>
                  <a  href="javascript:;"
                    class="ticket-id-link"
                    ng-click="ctrl.showEditRecoveryTicketDialog($event, ctrl.recoveryTickets[0])">
                    {{ "container.order.edit.ticket-x-status-y-ticket-type-z" | translate: { x: ctrl.recoveryTickets[0].id, y: ctrl.recoveryTickets[0].status, z: ctrl.recoveryTickets[0].ticketType } }}
                  </a>                  
                </p>
                <nv-icon-text-button 
                  icon="keyboard_arrow_down" 
                  name="container.order.edit.show-more"                  
                  ng-if="!ctrl.showMore && ctrl.recoveryTickets && ctrl.recoveryTickets.length > 1"
                  on-click="ctrl.showMore = true" 
                  class="flat dense">
                </nv-icon-text-button>
                <p ng-if="!(ctrl.recoveryTickets && ctrl.recoveryTickets.length)">-</p>
                <div ng-if ="ctrl.showMore" layout="column">
                  <a ng-repeat="ticket in ctrl.recoveryTickets" 
                    href="javascript:;"
                    class="ticket-id-link"
                    ng-if="$index > 0"
                    ng-click="ctrl.showEditRecoveryTicketDialog($event, ticket)">
                    {{ "container.order.edit.ticket-x-status-y-ticket-type-z" | translate: { x: ticket.id, y: ticket.status, z: ticket.ticketType } }}
                  </a>
                  <nv-icon-text-button 
                    icon="keyboard_arrow_up" 
                    name="container.order.edit.show-less"                  
                    ng-if="ctrl.showMore && ctrl.recoveryTickets && ctrl.recoveryTickets.length > 1"
                    on-click="ctrl.showMore = false" 
                    class="flat dense">
                  </nv-icon-text-button>
                </div>
              </div>
              <div class="data-block">
                <label>{{ 'commons.multi-parcel' | translate }}</label>
                <md-menu>
                  <p ng-click="ctrl.openMultiParcelMenu($mdOpenMenu, $event)"
                    ng-class="{ underline: ctrl.order.multiParcelOrders && ctrl.order.multiParcelOrders.length }">
                    {{ ctrl.order.multiParcelOrders && ctrl.order.multiParcelOrders.length ?
                    'container.order.edit.yes-and-click-for-details' : 'commons.no' | translate }}
                  </p>
                  <md-menu-content width="12">
                    <md-menu-item ng-repeat="order in ctrl.order.multiParcelOrders">
                      <md-button ng-click="ctrl.goToOrder(order)">
                          {{ order.trackingId }} - {{ order.granularStatus }}
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </div>
              <div class="data-block">
                <label>{{ 'commons.created-on' | translate }}</label>
                <p>{{ ctrl.order.createdAt | nvTime:'operator':'datetime' }}</p>
              </div>
              <div class="data-block">
                <label>{{ 'commons.international' | translate }}</label>
                <p>{{ Order.isInternational(ctrl.order) ? 'commons.yes' : 'commons.no' | translate }}</p>
              </div>
              <div class="data-block">
                <label>{{ 'commons.shipper-order-data' | translate }}</label>
                <p ng-click="ctrl.openShipperRefMetada($event)"
                   ng-if="ctrl.checkStrLen(ctrl.parseShipperRefMetadata(ctrl.order.shipperRefMetadata)) > 255"
                   class="underline">
                  {{ 'container.order.edit.click-for-details' | translate }}
                </p>
                <p ng-bind-html="ctrl.parseShipperRefMetadata(ctrl.order.shipperRefMetadata)"
                   ng-if="ctrl.checkStrLen(ctrl.parseShipperRefMetadata(ctrl.order.shipperRefMetadata)) <= 255">
                </p>
              </div>
            </div>
          </div>
          <div flex layout="row">
            <div layout="column">
              <!-- DIMENSIONS START -->
              <div flex ng-if="ctrl.isOrderSummaryShowAllDetails">
                <h4>{{ 'container.order.edit.dimensions' | translate }}</h4>
              </div>
              <div flex ng-if="ctrl.isOrderSummaryShowAllDetails">
                <div class="data-blocks">
                  <div class="data-block">
                    <label>{{ 'commons.size' | translate }}</label>
                    <p>{{ ctrl.order.parcelSize }}</p>
                  </div>
                  <div class="data-block">
                    <label>{{ 'commons.weight' | translate }}</label>
                    <p>{{ ctrl.printWeight(ctrl.order.weight) || '-' }}</p>
                  </div>
                  <div class="data-block">
                    <label>{{ 'commons.dimensions' | translate }}</label>
                    <p>{{ ctrl.order._dimensions || '-' }}</p>
                  </div>
                </div>
              </div>
              <!-- DIMENSIONS END -->
            </div>
            <div layout="column" class="margin-left">
              <!-- PRICING START -->
              <div flex ng-if="ctrl.isOrderSummaryShowAllDetails">
                <h4>{{ 'container.order.edit.pricing' | translate }}</h4>
              </div>
              <div flex ng-if="ctrl.isOrderSummaryShowAllDetails">
                <div class="data-blocks">
                  <div class="data-block">
                    <label>{{ 'commons.total' | translate }}</label>
                    <p><strong>{{ ctrl.getCurrencyWithPrice(ctrl.order.pricingInfo.total) }}</strong></p>
                  </div>
                  <div class="data-block">
                    <label>{{ 'commons.delivery-fee' | translate }}</label>
                    <p>{{ ctrl.order.pricingInfo.delivery_fee || '-' }}</p>
                  </div>
                  <div class="data-block">
                    <label>{{ 'commons.cod-fee' | translate }}</label>
                    <p>{{ ctrl.order.pricingInfo.cod_fee || '-' }}</p>
                  </div>
                  <div class="data-block">
                    <label>{{ 'commons.insurance-fee' | translate }}</label>
                    <p>{{ ctrl.order.pricingInfo.insurance_fee || '-' }}</p>
                  </div>
                  <div class="data-block">
                    <label>{{ 'commons.handling-fee' | translate }}</label>
                    <p>{{ ctrl.order.pricingInfo.handling_fee || '-' }}</p>
                  </div>
                  <div class="data-block">
                    <label>{{ 'commons.gst' | translate }}</label>
                    <p>{{ ctrl.order.pricingInfo.gst || '-' }}</p>
                  </div>
                  <div class="data-block">
                    <label>{{ 'commons.insured-value' | translate }}</label>
                    <p>{{ ctrl.order.insurance || '-' }}</p>
                  </div>
                </div>
              </div>
              <!-- PRICING END -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div layout="row" layout-sm="column" layout-xs="column"
         id="original-details"
         ng-if="ctrl.isOrderSummaryShowAllDetails">
      <div flex>
        <div layout="column" layout-padding>
          <div flex>
            <h4>{{ 'container.order.edit.original-pickup' | translate }}</h4>
          </div>
          <div flex>
            <h5>-</h5>
          </div>
          <div flex>
            <div class="icon-text">
              <i class="material-icons">markunread</i>
              <span>-</span>
            </div>
            <div class="icon-text">
              <i class="material-icons">phone</i>
              <span>-</span>
            </div>
            <div class="icon-text">
              <i class="material-icons">location_on</i>
              <span>-</span>
            </div>
          </div>
          <div flex class="box">
            <h5>{{ 'container.order.edit.provided-sizing' | translate }}</h5>
            <div class="data-blocks">
              <div class="data-block">
                <label>{{ 'commons.parcel-size' | translate }}</label>
                <p>-</p>
              </div>
              <div class="data-block">
                <label>{{ 'commons.weight' | translate }}</label>
                <p>{{ ctrl.printWeight(ctrl.order._originalDetails.weight) || '-' }}</p>
              </div>
              <div class="data-block">
                <label>{{ 'commons.dimensions' | translate }}</label>
                <p>-</p>
              </div>
            </div>
          </div>
          <div flex class="box">
            <h5>{{ 'container.order.edit.original-timeslot' | translate }}</h5>
            <div class="data-blocks data-blocks-horizontal">
              <div class="data-block">
                <label>{{ 'container.order.edit.start-datetime' | translate }}</label>
                <p>-</p>
              </div>
              <div class="data-block">
                <label>{{ 'container.order.edit.end-datetime' | translate }}</label>
                <p>-</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div flex>
        <div layout="column" layout-padding>
          <div flex>
            <h4>{{ 'container.order.edit.original-delivery' | translate }}</h4>
          </div>
          <div flex>
            <h5>-</h5>
          </div>
          <div flex>
            <div class="icon-text">
              <i class="material-icons">markunread</i>
              <span>-</span>
            </div>
            <div class="icon-text">
              <i class="material-icons">phone</i>
              <span>-</span>
            </div>
            <div class="icon-text">
              <i class="material-icons">location_on</i>
              <span>-</span>
            </div>
          </div>
          <div flex class="box">
            <h5>{{ 'container.order.edit.cash-to-collect' | translate }}</h5>
            <div class="data-blocks">
              <div class="data-block">
                <label>{{ 'commons.cash-on-delivery' | translate }}</label>
                <p>-</p>
              </div>
            </div>
          </div>
          <div flex class="box">
            <h5>{{ 'container.order.edit.original-timeslot' | translate }}</h5>
            <div class="data-blocks data-blocks-horizontal">
              <div class="data-block">
                <label>{{ 'container.order.edit.start-datetime' | translate }}</label>
                <p>-</p>
              </div>
              <div class="data-block">
                <label>{{ 'container.order.edit.end-datetime' | translate }}</label>
                <p>-</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div layout="row" layout-sm="column" layout-xs="column"
         id="pickup-and-delivery-details">
      <div flex id="pickup-details">
        <div layout="row" layout-padding
             class="sub-header-theme"
             ng-class="[ctrl.getThemeClass(ctrl.order), {disabled: Transaction.isPending(ctrl.order._lastPPNT)}]">
          <div flex>
            <h5>{{ 'commons.model.pickup' | translate }}</h5>
          </div>
          <div flex>
            <h5 class="nv-text-right">
              {{ 'container.order.edit.status-xxx' | translate:'{status: "'+ ctrl.order._lastPPNT.status +'"}' }}
            </h5>
          </div>
        </div>
        <div layout="row">
          <div flex>
            <div layout="column" layout-padding>
              <div flex>
                <div layout="row">
                  <div flex>
                    <h5>{{ ctrl.order.fromName }}</h5>
                  </div>
                  <div flex="25"
                       class="nv-text-right"
                       ng-if="ctrl.order._lastPPNT.distributionPointId || ctrl.order._lastPPNT._isHyperlocal">
                    <nv-tag name="commons.ninja-collect"
                            md-theme="nvRed"
                            ng-if="ctrl.order._lastPPNT.distributionPointId">
                    </nv-tag><!--
                    --><nv-tag name="commons.hyperlocal"
                           md-theme="nvYellow"
                           ng-if="ctrl.order._lastPPNT._isHyperlocal">
                    </nv-tag>
                  </div>
                </div>
              </div>
              <div flex>
                <div class="icon-text">
                  <i class="material-icons">markunread</i>
                  <span>{{ ctrl.order.fromEmail || '-' }}</span>
                </div>
                <div class="icon-text">
                  <i class="material-icons">phone</i>
                  <span>{{ ctrl.order.fromContact || '-' }}</span>
                </div>
                <div class="icon-text">
                  <i class="material-icons">location_on</i>
                  <span>{{ ctrl.order._fromAddress }}</span>
                </div>
              </div>
              <div flex class="box">
                <h5>{{ 'container.order.edit.pickup-details' | translate }}</h5>
                <div class="data-blocks">
                  <div class="data-block">
                    <label>{{ 'commons.model.route-id' | translate }}</label>
                    <p>{{ ctrl.order._lastPPNT.routeId || '-' }}</p>
                  </div>
                  <div class="data-block">
                    <label>{{ 'commons.model.route-date' | translate }}</label>
                    <p>{{ ctrl.order._lastPPNT._routeDate || '-' }}</p>
                  </div>
                  <div class="data-block">
                    <label>{{ 'commons.waypoint-id' | translate }}</label>
                    <p>{{ ctrl.order._lastPPNT.waypointId || '-' }}</p>
                  </div>
                  <div class="data-block">
                    <label>{{ 'commons.driver' | translate }}</label>
                    <p>{{ ctrl.order._lastPPNT.driverName || '-' }}</p>
                  </div>
                </div>
                <div class="data-blocks data-blocks-horizontal">
                  <div class="data-block">
                    <label>{{ 'container.order.edit.start-datetime' | translate }}</label>
                    <p>{{ ctrl.order._lastPPNT._startTime || '-' }}</p>
                  </div>
                  <div class="data-block">
                    <label>{{ 'container.order.edit.end-datetime' | translate }}</label>
                    <p>{{ ctrl.order._lastPPNT._endTime || '-' }}</p>
                  </div>
                  <div class="data-block">
                    <label>{{ 'container.order.edit.last-service-end' | translate }}</label>
                    <p>{{ ctrl.order._lastPPNT._serviceEndTime || '-' }}</p>
                  </div>
                  <div class="data-block">
                    <label>{{ 'container.order.edit.failed-attempts' | translate }}</label>
                    <p>{{ ctrl.order._lastPPNT._failedAttemptsCount }}</p>
                  </div>
                  <div class="data-block">
                    <label>{{ 'container.order.edit.pick-up-instructions' | translate }}</label>
                    <p>{{ ctrl.order._lastPPNT._instructions || '&nbsp;' }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div flex id="delivery-details">
        <div layout="row" layout-padding
             class="sub-header-theme"
             ng-class="[ctrl.getThemeClass(ctrl.order), {disabled: Transaction.isPending(ctrl.order._lastDDNT)}]">
          <div flex>
            <h5 ng-if="!ctrl.order.rts">{{ 'commons.delivery' | translate }}</h5>
            <h5 ng-if="ctrl.order.rts">{{ 'commons.return-to-sender' | translate }}</h5>
          </div>
          <div flex>
            <h5 class="nv-text-right">
              {{ 'container.order.edit.status-xxx' | translate:'{status: "'+ ctrl.order._lastDDNT.status +'"}' }}
            </h5>
          </div>
        </div>
        <div layout="row">
          <div flex>
            <div layout="column" layout-padding>
              <div flex>
                <div layout="row">
                  <div flex>
                    <h5>{{ ctrl.order.toName }}</h5>
                  </div>
                  <div flex="30"
                       class="nv-text-right"
                       ng-if="ctrl.order._lastDDNT._isNinjaCollect || ctrl.order._lastDDNT._isNinjaEarlyCollect || ctrl.order._lastDDNT._isHyperlocal || ctrl.order.rts">
                    <nv-tag name="commons.ninja-collect"
                            md-theme="nvRed"
                            ng-if="ctrl.order._lastDDNT._isNinjaCollect">
                    </nv-tag><!--
                    --><nv-tag name="commons.ninja-early-collect"
                            md-theme="nvRed"
                            ng-if="ctrl.order._lastDDNT._isNinjaEarlyCollect">
                    </nv-tag><!--
                    --><nv-tag name="commons.hyperlocal"
                               md-theme="nvYellow"
                               ng-if="ctrl.order._lastDDNT._isHyperlocal">
                    </nv-tag><!--
                    --><nv-tag name="commons.rts"
                               nv-class="nv-tag-purple"
                               ng-if="ctrl.order.rts">
                    </nv-tag>
                  </div>
                </div>
              </div>
              <div flex>
                <div class="icon-text">
                  <i class="material-icons">markunread</i>
                  <span>{{ ctrl.order.toEmail || '-' }}</span>
                </div>
                <div class="icon-text">
                  <i class="material-icons">phone</i>
                  <span>{{ ctrl.order.toContact || '-' }}</span>
                </div>
                <div class="icon-text">
                  <i class="material-icons">location_on</i>
                  <span>{{ ctrl.order._toAddress }}</span>
                </div>
              </div>
              <div flex class="box">
                <h5>{{ 'container.order.edit.delivery-details' | translate }}</h5>
                <div class="data-blocks">
                  <div class="data-block">
                    <label>{{ 'commons.model.route-id' | translate }}</label>
                    <p>{{ ctrl.order._lastDDNT.routeId || '-' }}</p>
                  </div>
                  <div class="data-block">
                    <label>{{ 'commons.model.route-date' | translate }}</label>
                    <p>{{ ctrl.order._lastDDNT._routeDate || '-' }}</p>
                  </div>
                  <div class="data-block">
                    <label>{{ 'commons.waypoint-id' | translate }}</label>
                    <p>{{ ctrl.order._lastDDNT.waypointId || '-' }}</p>
                  </div>
                  <div class="data-block">
                    <label>{{ 'commons.driver' | translate }}</label>
                    <p>{{ ctrl.order._lastDDNT.driverName || '-' }}</p>
                  </div>
                </div>
                <div class="data-blocks data-blocks-horizontal">
                  <div class="data-block">
                    <label>{{ 'container.order.edit.start-datetime' | translate }}</label>
                    <p>{{ ctrl.order._lastDDNT._startTime || '-' }}</p>
                  </div>
                  <div class="data-block">
                    <label>{{ 'container.order.edit.end-datetime' | translate }}</label>
                    <p>{{ ctrl.order._lastDDNT._endTime || '-' }}</p>
                  </div>
                  <div class="data-block">
                    <label>{{ 'container.order.edit.last-service-end' | translate }}</label>
                    <p>{{ ctrl.order._lastDDNT._serviceEndTime || '-' }}</p>
                  </div>
                  <div class="data-block">
                    <label>{{ 'container.order.edit.failed-attempts' | translate }}</label>
                    <p>{{ ctrl.order._lastDDNT._failedAttemptsCount }}</p>
                  </div>
                  <div class="data-block">
                    <label>{{ 'container.order.edit.delivery-instructions' | translate }}</label>
                    <p>{{ ctrl.order._lastDDNT._instructions || '&nbsp;' }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div layout="column"
         id="transactions">
      <div flex>
        <div layout="row" layout-sm="column" layout-xs="column" layout-padding
             class="sub-header-theme custom-black">
          <div flex>
            <h5>{{ 'commons.transactions' | translate }}</h5>
          </div>
        </div>
      </div>
      <div flex>
        <div class="table-container">
          <nv-table
            param="ctrl.transactionsTableParam"
            controller-as="ctrl">
            <nv-table-row
              use-virtual-repeat='false'
              use="transaction">
              <nv-td column="_serviceEndTime">
                <span ng-class="{'dark-red': transaction._isLate}">
                  {{transaction._serviceEndTime}}
                </span>
              </nv-td>
              <nv-td column="type">
                {{transaction.type}}
              </nv-td>
              <nv-td column="status">
                <span ng-class="{'dark-red': transaction._isFailed}">
                  {{transaction.status}}
                </span>
              </nv-td>
              <nv-td column="_driver">
                {{transaction._driver}}
              </nv-td>
              <nv-td column="routeId">
                <a href="javascript:;" ng-click="ctrl.navigateToAdminManifestPage(transaction.routeId)">
                  {{transaction.routeId}}
                </a>
              </nv-td>
              <nv-td column="_routeDate">
                {{transaction._routeDate}}
              </nv-td>
              <nv-td column="distributionPointId">
                {{transaction.distributionPointId}}
              </nv-td>
              <nv-td column="failure_reason_code">
                {{transaction.failure_reason_code}}
              </nv-td>
              <nv-td column="priorityLevel">
                {{transaction.priorityLevel}}
              </nv-td>
              <nv-td column="dnr">
                {{transaction.dnr}}
              </nv-td>
              <nv-td column="name">
                {{transaction.name}}
              </nv-td>
              <nv-td column="contact">
                {{transaction.contact}}
              </nv-td>
              <nv-td column="email">
                {{transaction.email}}
              </nv-td>
              <nv-td column="_address">
                {{transaction._address}}
              </nv-td>
            </nv-table-row>
          </nv-table>
        </div>
      </div>
    </div>

    <div layout="column"
         id="events">
      <div flex>
        <div layout="row" layout-sm="column" layout-xs="column" layout-padding
             class="sub-header-theme custom-black">
          <div flex>
            <h5>{{ 'commons.events' | translate }}</h5>
          </div>
          <div flex
               class="nv-text-right">
            <span class="right-navigation-help-text">{{ 'container.order.edit.displaying' | translate }}:</span><!--
            --><md-menu-bar class="right-navigation">
              <md-menu md-position-mode="target-right target">
                <md-button
                  class="nv-button dark btn-apply-action"
                  ng-class="{ghost: !ctrl.selectedEventIsRaisedButtonStyle(ctrl.selectedEventsFilterModeId), raised: ctrl.selectedEventIsRaisedButtonStyle(ctrl.selectedEventsFilterModeId)}"
                  type="button"
                  aria-label="Action"
                  ng-click="$mdOpenMenu($event)">
                  <span class="nv-text-ellipsis nv-text-left">{{ctrl.selectedEventsFilterModeId | translate}}</span>
                  <i class="material-icons">arrow_drop_down</i>
                </md-button>

                <md-menu-content class="actions-holder" width="3">
                  <md-menu-item>
                    <md-button class="nv-button flat"
                               type="button"
                               aria-label="{{ctrl.EVENTS_FILTER_MODES.ALL.id | translate}}"
                               ng-click="ctrl.filterEvents(ctrl.EVENTS_FILTER_MODES.ALL.id)">
                      <span>{{ctrl.EVENTS_FILTER_MODES.ALL.id | translate}}</span>
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button class="nv-button flat"
                               type="button"
                               aria-label="{{ctrl.EVENTS_FILTER_MODES.SCANS_ONLY.id | translate}}"
                               ng-click="ctrl.filterEvents(ctrl.EVENTS_FILTER_MODES.SCANS_ONLY.id)">
                      <span>{{ctrl.EVENTS_FILTER_MODES.SCANS_ONLY.id | translate}}</span>
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button class="nv-button flat"
                               type="button"
                               aria-label="{{ctrl.EVENTS_FILTER_MODES.CHANGES_ONLY.id | translate}}"
                               ng-click="ctrl.filterEvents(ctrl.EVENTS_FILTER_MODES.CHANGES_ONLY.id)">
                      <span>{{ctrl.EVENTS_FILTER_MODES.CHANGES_ONLY.id | translate}}</span>
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </md-menu-bar>
          </div>
        </div>
      </div>
      <div flex>
        <div class="table-container">
          <nv-table
            param="ctrl.eventsTableParam"
            controller-as="ctrl">
            <nv-table-row
              use-virtual-repeat='false'
              use="event">
              <nv-td column="_event_time">
                {{event._event_time}}
              </nv-td>
              <nv-td column="_tags">
                {{event._tags}}
              </nv-td>
              <nv-td column="name">
                {{event.name}}
              </nv-td>
              <nv-td column="user_type">
                {{event.user_type}}
              </nv-td>
              <nv-td column="_user">
                {{event._user}}
              </nv-td>
              <nv-td column="_scan_id">
                {{event._scan_id}}
              </nv-td>
              <nv-td column="_route_id">
                <a href="javascript:;"
                   ng-if="event._route_id"
                   ng-click="ctrl.navigateToAdminManifestPage(event._route_id)">
                  {{event._route_id}}
                </a>
              </nv-td>
              <nv-td column="_hub_name">
                {{event._hub_name}}
              </nv-td>
              <nv-td column="_description">
                <span ng-bind-html="event._description | translate:event.data"></span>
              </nv-td>
            </nv-table-row>
          </nv-table>
        </div>
      </div>
    </div>
    <div class="footer"></div>
  </div>

</md-content>
