@import "../../../styles/mixins/table.mixins";
@import "../../../styles/mixins/layout.mixins";
@import "../../../styles/variables";

nv-table {
  // z-index
  $z-index-action: 1;
  $z-index-column-divider: 1;
  $z-index-row-divider: 2;
  $z-index-shadow-column-divider: 3;
  $z-index-end-of-table: 4;

  $scrollbar-width: $nv-table-scrollbar-width;
  $scrollbar-color: #FAFAFA;

  .table-with-locks-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-left: $nv-table-border-width solid $nv-table-border-color;
    border-right: $nv-table-border-width solid $nv-table-border-color;
    border-bottom: $nv-table-border-width solid $nv-border-color;

    overflow: hidden;

    md-virtual-repeat-container {
      position: absolute;
      top: $nv-table-header-height;
      bottom: $scrollbar-width;
      left: 0;
      right: 0;
      background-color: #ffffff;

      table tbody tr {
        position: relative;
        // important!!!!
        &:not([md-item-size]) {
          height: (($button-height / 1em) * map-get(map-get($typography, 'p'), 'size')) + $nv-table-cell-padding * 2;
          min-height: (($button-height / 1em) * map-get(map-get($typography, 'p'), 'size')) + $nv-table-cell-padding * 2;
        }
      }
    }

    table {
      display: block;
      overflow: auto;
      border-color: $nv-light3;

      th, td {
        border: $nv-table-border-width solid $nv-light3;

        &.column-locked-right,
        &.column-checkbox {
          position: absolute;
          border-left-width: 0;
          border-right-width: 0;
          z-index: $z-index-action;

          /*
          Force chrome to continuously draw the element using hardware acceleration
          Source: http://stackoverflow.com/questions/11258877/fixed-element-disappears-in-chrome
          */
          -webkit-transform: translateZ(0);
        }
        &.column-checkbox {
          right: $scrollbar-width;
          width: $nv-table-checkbox-column-width;
          min-width: $nv-table-checkbox-column-width;
          max-width: $nv-table-checkbox-column-width;
          md-menu .nv-button.md-button.dense {
            $width: $nv-table-checkbox-column-width;
            $height: 2.8rem;
            $margin: 0.4rem;
            height: $height - $margin * 2;
            min-height: $height - $margin * 2;
            width: $width - $margin * 2;
            margin: $margin;
            line-height: 1;
            i.material-icons {
              line-height: $height - $margin * 2;
            }
            &.show-selected, &.has-selected {
              background-color: $nv-highlight-blue;
            }
            &.show-selected i {
              font-size: $nv-table-checkbox-width;
            }
          }
        }
        &.column-index {
          width: 5rem;
          min-width: 5rem;
        }
      }

      td {
        @include nv-font(p);
        color: $nv-text-black;
        padding: $nv-table-cell-padding;
        border-top: 0;
        border-bottom: 0;
        word-wrap: break-word;
        vertical-align: top;

        &.column-checkbox {
          md-checkbox {
            margin: 0;
            width: $nv-table-checkbox-width;
            .md-container {
              width: $nv-table-checkbox-width;
              height: $nv-table-checkbox-width;
            }
            &.md-checked .md-icon:after {
              left: $nv-table-checkbox-width / 3;
              top: $nv-table-checkbox-width / 9;
              width: $nv-table-checkbox-width / 3;
              height: $nv-table-checkbox-width * 2 / 3;
            }
            &.md-indeterminate .md-icon:after {
              width: $nv-table-checkbox-width * 0.6;
            }
          }
        }
      }

      th {
        @include nv-font(p);
        color: $nv-text-black-2;
        background-color: $nv-table-header-color;
        padding: $nv-table-header-title-padding-top $nv-table-header-padding 0;
        height: $nv-table-header-height;
        vertical-align: top;
        outline: none;
        // sort icon
        > md-icon {
          height: 1.4rem;
          width: 0.8rem;
        }
        &.active {
          background-color: $nv-dark-blue;
          > span,
          > md-icon {
            color: $nv-text-white;
          }
        }
        &.column-checkbox {
          padding: 0;
          right: $scrollbar-width;
          width: $nv-table-checkbox-column-width;
          min-width: $nv-table-checkbox-column-width;
          max-width: $nv-table-checkbox-column-width;
          md-menu .nv-button.md-button.dense {
            $width: $nv-table-checkbox-column-width;
            $height: 2.8rem;
            $margin: 0.4rem;
            height: $height - $margin * 2;
            min-height: $height - $margin * 2;
            width: $width - $margin * 2;
            margin: $margin;
            line-height: 1;
            padding: 0;
            i.material-icons {
              line-height: $height - $margin * 2;
            }
            &.show-selected, &.has-selected {
              background-color: $nv-light-blue;
              color: $nv-dark-blue;
            }
          }
          &.show-selected {
            background-color: $nv-dark-blue;
          }
        }
      }

      // selected row style
      tr.is-selected {
        td {
          background-color: $nv-highlight-blue;
          &.table-row-divider {
            border-color: $nv-light-blue;
          }
        }
        // color the top border of the next row as well
        + tr {
          td.table-row-divider {
            border-color: $nv-light-blue;
          }
        }
      }
      tr.highlight td{
        background: $nv-highlight-red !important;
      }
      tr.highlight-new td{
        background: $nv-highlight-green !important;
        animation: fadeout 2s forwards;
        -webkit-animation: fadeout 2s forwards;
        animation-delay: 2s;
        -webkit-animation-delay: 2s;
      }
      @keyframes fadeout {
        to {
          background: none;
        }
      }

      @-webkit-keyframes fadeout {
        to {
          background: none;
        }
      }




      // end of table result
      tr.last-row {
        min-height: $nv-table-end-of-data-height;
        height: $nv-table-end-of-data-height;
        max-height: $nv-table-end-of-data-height;

        td:not(.end-of-result) {
          // hide them
          display: none;
        }

        td.end-of-result {
          position: absolute;
          left: 0;
          width: 100%;
          height: $nv-table-end-of-data-height;
          text-align: center;
          background-color: $nv-light0;
          z-index: $z-index-end-of-table;
          padding: 0;
          border: 0;

          $padding: 1.4rem;

          .load-more-data {
            background-color: $nv-light0;
            md-progress-linear {
              .md-container {
                background-color: $nv-light-blue;
              }
              .md-bar {
                background-color: $nv-dark-blue;
              }
            }
            h5 {
              padding: $padding;
              color: $nv-dark-blue;
            }
          }

          .end-of-filter,
          .end-of-table {
            padding: $padding;
            background-color: $nv-dark-blue;
            height: 7.7rem;
            h5, p {
              color: $nv-text-white;
            }
            p {
              margin-top: 0.5em;
            }
          }

          .no-result {
            padding: $padding;
            padding-top: 2.8rem;
            height: 10.4rem;
            background-color: $nv-light0;
            h5, p {
              color: $nv-text-black-2;
            }
          }
        }
      }

      //striped element magic
      &.table-body:not(.noStripe) {
        tr:first-child {
          &.even {
            ~ tr:nth-child(odd),
            & {
              &:not(.is-selected) td:not(.end-of-result) {
                background-color: $nv-light0;
              }
            }
            ~ tr:nth-child(even) {
              &:not(.is-selected) td:not(.end-of-result) {
                background-color: $nv-light1;
              }
            }
          }
          &:not(.even) {
            ~ tr:nth-child(odd),
            & {
              &:not(.is-selected) td:not(.end-of-result) {
                background-color: $nv-light1;
              }
            }
            ~ tr:nth-child(even) {
              &:not(.is-selected) td:not(.end-of-result) {
                background-color: $nv-light0;
              }
            }
          }
        }
      }
    }

    // divider
    // column divider
    .table-column-divider,
    .table-column-shadow-divider,
    .table-checkbox-column-divider {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      border-left: $nv-table-border-action solid $nv-table-border-color;
      z-index: $z-index-column-divider;
    }
    .table-column-shadow-divider {
      z-index: $z-index-shadow-column-divider;
    }
    .table-head-container {
      .table-column-divider,
      .table-column-shadow-divider,
      .table-checkbox-column-divider {
        height: $nv-table-header-height;
      }
    }
    // row divider
    table .table-row-divider {
      z-index: $z-index-row-divider;
      position: absolute;
      left: 0;
      right: 0;
      padding: 0;
      height: 0;
      border-bottom: $nv-table-border-width solid $nv-border-color;
      min-height: 0;
    }

    // with selectable checkbox
    md-checkbox .md-icon {
      height: $nv-table-checkbox-width;
      width: $nv-table-checkbox-width;
    }
    &.with-checkbox{
      th.column-locked-right,
      td.column-locked-right,
      .table-column-divider,
      .table-column-shadow-divider,
      .table-horizontal-scroller,
      table {
        margin-right: $nv-table-checkbox-column-width + $scrollbar-width;
      }
      .table-checkbox-column-divider{
        right: $nv-table-checkbox-column-width + $scrollbar-width;
      }
    }
    // filter
    &.has-filter {
      md-virtual-repeat-container {
        top: $nv-table-header-height + $nv-table-header-filter-height;
      }
      .table-head-container {
        .table-column-divider,
        .table-column-shadow-divider,
        .table-checkbox-column-divider {
          height: $nv-table-header-height + $nv-table-header-filter-height;
        }
      }
      table th {
        height: $nv-table-header-height + $nv-table-header-filter-height;
      }
      .table-vertical-scroller {
        top: $nv-table-header-height + $nv-table-header-filter-height;
      }
      .table-vertical-scroller-end {
        height: $nv-table-header-height + $nv-table-header-filter-height;
      }
      $height: 2em;
      $icon-height: 2rem;
      nv-search-input-filter{
        margin-top: $nv-table-header-title-padding-bottom;
        outline: 0;
        md-input-container.md-has-icon {
          background-color: $nv-light0;
          md-icon {
            top: ($nv-table-header-height - 0.7rem - $icon-height) / 2;
          }
          &.bar input.md-input[type="text"] {
            line-height: $height;
            height: $height;
          }
          > div button.clear-button {
            height: $height;
          }
          &.md-input-focused,
          &.input-has-text {
            > md-icon {
              display: none;
            }
            padding-left: 0.75rem;
          }
        }
      }
    }

    // hide scrollbar
    table,  /* horizontal */
    .md-virtual-repeat-scroller, /* vertical */
    .table-with-locks-container  {
      @include hideScrollbar();
    }
    // horizontal scroll-bar
    .table-horizontal-scroller {
      height: $scrollbar-width;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      overflow-x: scroll;
      background-color: $scrollbar-color;
      border: $nv-table-border-width solid $nv-table-border-action-color;
      div {
        height: 0.1rem;
      }
    }
    .table-horizontal-scroller-end {
      height: $scrollbar-width;
      position: absolute;
      bottom: 0;
      right: 0;
      width: $scrollbar-width;
      background-color: $nv-table-header-color;
      border: $nv-table-border-width solid $nv-table-border-action-color;
      border-left: 0;
    }
    // vertical scroll-bar
    th.column-locked-right,
    td.column-locked-right,
    .table-column-divider,
    .table-column-shadow-divider,
    .table-horizontal-scroller,
    table {
      margin-right: $scrollbar-width;
    }
    .table-vertical-scroller {
      width: $scrollbar-width;
      background-color: $scrollbar-color;
      position: absolute;
      top: $nv-table-header-height;
      bottom: $scrollbar-width;
      right: 0;
      overflow-y: scroll;
      border: $nv-table-border-width solid $nv-table-border-action-color;
      div {
        width: 0.1rem;
      }
    }
    .table-vertical-scroller-end {
      position: absolute;
      top: 0;
      right: 0;
      width: $scrollbar-width;
      height: $nv-table-header-height;
      background-color: $nv-table-header-color;
      border: $nv-table-border-width solid $nv-table-border-action-color;
    }

    &.no-virtual-repeat {
      position: relative;

      .no-virtual-repeat-container {
        margin-bottom: $scrollbar-width;
        background-color: #ffffff;

        .last-row {
          height: 7rem;

          &.last-row-no-result {
            $lastRowNoResultHeight: 14rem;

            min-height: $lastRowNoResultHeight;
            height: $lastRowNoResultHeight;
          }
        }
      }

      table {
        th, td {
          &.column-checkbox {
            right: 0;
          }
        }
      }

      &.with-checkbox{
        th.column-locked-right,
        td.column-locked-right,
        .table-column-divider,
        .table-column-shadow-divider,
        .table-horizontal-scroller,
        table {
          margin-right: $nv-table-checkbox-column-width;
        }
        .table-checkbox-column-divider{
          right: $nv-table-checkbox-column-width;
        }
      }

      // vertical scroll-bar
      th.column-locked-right,
      td.column-locked-right,
      .table-column-divider,
      .table-column-shadow-divider,
      .table-horizontal-scroller,
      table {
        margin-right: 0;
      }

      .table-vertical-scroller-end, .table-vertical-scroller {
        display: none;
      }
    }
  }
  // when scroll to the end, there'll be no shadow on the action panel
  &:not(.scroll-x-end) {
    .table-column-shadow-divider {
      border-left: $nv-table-border-action solid $nv-table-border-action-color;
      box-shadow: -0.1rem 0rem 0.2rem 0rem $nv-table-shadow-action;
    }
  }
  .none-available {
    padding: 0.8rem 1rem;
  }
  span.highlight {
    background-color: $nv-light-yellow;
  }
}

md-menu-item.has-selected .nv-button.md-button {
  background-color: $nv-highlight-blue;
}
