<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <h2 class="md-title">{{'container.shipper-pickups.dialog.reschedule-selected-reservations' | translate}}</h2>
      <div>
        {{'container.shipper-pickups.dialog.reschedule-selected-reservations-detail' | translate:'{count:' + selectedReservationsCount + '}' }}
      </div>
      <div>
        <div layout="row" layout-xs="column">
          <div flex>
            <nv-input-date
              label="commons.model.date"
              model="fields.date"
              required="true"
              form="modelForm">
            </nv-input-date>
          </div>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        name="commons.cancel"
        on-click="onCancel()">
      </nv-icon-text-button>

      <nv-icon-text-button
        ng-if="!state.isRescheduleUpdating"
        class="flat"
        name="commons.rescreate"
        on-click="::onSubmit()">
      </nv-icon-text-button>
      <div class="loading"
           ng-if="state.isRescheduleUpdating">
        <md-progress-circular class="md-primary"
                              md-mode="indeterminate"
                              md-diameter="30px">
        </md-progress-circular>
      </div>
    </md-dialog-actions>
  </md-dialog>
</form>