.shipment-add, .shipment-edit{
  .route-card{
    padding: 1rem;
  }  
  .card-button-bottom{
    margin: 2px;
    position: absolute;
    bottom: 0px;
    width: 98%;
    padding: 1rem;
    height: 10rem;
  }
  .small-icon{
    font-size: 1.2rem;
  }
  .eta-time{
    margin-top: -1.7rem;
    margin-left: 1rem;
    label{
      color: rgba(33, 33, 33, 0.67);
    }
  }

  .notif-row{
    padding: .8rem;
    div p{
      i {
        font-size: 1.2rem;
      }
      padding: .2rem;
      font-size: 1.2rem;
      background: #FFEABA;
      color: #A9712F;
    }
  }
}
.nv-shipment-upload-order-result-dialog{
  md-dialog-content{
    padding: 1.8rem;

    .failed-table-container, .success-table-container {
      table{
        border: .1rem solid #000;
        thead, tbody{
          display: block;
        }
        tbody {
          max-height: 20rem;
          overflow-x: hidden;
          overflow-y: auto;
        }

        th, td {
          &.tracking-id {
            width: 25rem;
          }

          &.reason {
            width: 25rem;
          }
        }
      }
    }
  }
  
}

