<nv-dialog-header title="{{ctrl.mode=='edit'?('container.shipment-management.edit-shipment' | translate) :('container.shipment-management.create-shipment' | translate)}}" on-cancel="::ctrl.onCancel($event)" cancel-text="{{'container.shipment-management.discard-changes' | translate }}"></nv-dialog-header>
<form name="ctrl.modelForm" ng-submit="::ctrl.onSave()" novalidate>

  <md-dialog-content >
    <div class="md-dialog-content" layout="row" layout-wrap layout-padding>
        <div flex="100" layout="row" layout-padding>
            <nv-input-text
                ng-if="ctrl.mode == 'edit'"
                name="container.shipment-management.shipment-id"
                model="ctrl.shipment.id"
                label="container.shipment-management.shipment-id"
                flex="30"
                readonly="true">
            </nv-input-text>
            <nv-input-select 
                flex="50"
                model="ctrl.shipment.shipment_type" 
                model-options="{}"
                set-default="false"
                form="ctrl.modelForm"
                required="true"
                disabled="ctrl.shipment.status=='Cancelled' || ctrl.isWaitingForConfirm"
                label="{{'container.shipment-management.select-type' | translate }}" 
                id="select-shipment-type"
                options="ctrl.shipmentTypes">                    
            </nv-input-select >
        </div>
        <div flex="100" layout="row" layout-padding>
            <nv-input-select 
                flex="50"
                model="ctrl.shipment.orig_hub_id" 
                model-options="{}"
                set-default="false"
                form="ctrl.modelForm"
                searchable="true"
                required="true"
                disabled="ctrl.shipment.status=='Cancelled' || ctrl.isWaitingForConfirm"
                label="{{'container.shipment-management.start-hub-title' | translate}}" 
                id="select-orig-hub"
                options="ctrl.hubs">                    
            </nv-input-select >
            
            <nv-input-select 
                flex="50"
                model="ctrl.shipment.dest_hub_id" 
                model-options="{}"
                set-default="false"
                form="ctrl.modelForm"
                searchable="true"
                required="true"
                disabled="ctrl.shipment.status=='Cancelled' || ctrl.isWaitingForConfirm"
                label="{{'container.shipment-management.end-hub-title' | translate }}" 
                id="select-dest-hub"
                options="ctrl.hubs">                    
            </nv-input-select >
        </div>
        <p flex="100">
                {{"container.shipment-management.set-the-estimated-arrival-date-and-time" | translate}}
        </p>       
        <div flex="100" layout="row" layout-padding>
            <nv-input-date
                class="eta-date"
                label="container.shipment-management.eda"
                model="ctrl.shipment.eda"
                form="ctrl.modelForm"
                flex="33"
                max-date="ctrl.shipment.endDateObj"
                show-alert="::true"
                disabled="ctrl.shipment.status=='Cancelled' || ctrl.isWaitingForConfirm">
            </nv-input-date>
            <nv-input-time-select
                class="eta-time"
                flex="33"
                label="ETA"
                disabled="ctrl.shipment.status=='Cancelled' || ctrl.isWaitingForConfirm"
                model="ctrl.shipment.eta"                
                name="eta">
            </nv-input-time-select>            
        </div> 
        <div flex="100" ng-if="ctrl.mode=='edit'">
            <p>
                {{"container.shipment-management.changing-the-routing-date-info" | translate}}
            </p>
        </div>
        <div flex="100" ng-if="ctrl.mode=='edit'" layout="row" layout-wrap>
            <nv-input-date
                class="routing-date"
                show-alert="::true"
                label="container.shipment-management.routing-date"
                model="ctrl.shipment.endDateObj"
                min-date="ctrl.shipment.eda"
                form="ctrl.modelForm"
                disabled="ctrl.shipment.status=='Cancelled' || ctrl.isWaitingForConfirm"
                flex="33">
            </nv-input-date>
            <div flex="33" ng-if="ctrl.endDateChanged">
                <small><i class="material-icons small-icon">info</i> {{"container.shipment-management.routing-date-changed" | translate}}</small> 
            </div>
        </div>
        <div flex="100" ng-if="ctrl.mode=='edit'">
            <nv-input-text
                flex="75"
                name="master-awb"
                disabled="ctrl.shipment.status=='Cancelled' || ctrl.isWaitingForConfirm"
                label="container.shipment-management.master-awb-optional"
                model="ctrl.shipment.mawb"
                form="ctrl.modelForm">
            </nv-input-text>
        </div>
        
        <nv-input-textarea
            label="container.shipment-management.comments-optional"
            model="ctrl.shipment.comments"
            disabled="ctrl.shipment.status=='Cancelled' || ctrl.isWaitingForConfirm"
            id="comment"
            flex="100">
        </nv-input-textarea>
        
    </div>
  </md-dialog-content>
    <md-dialog-actions>
        <div ng-if="ctrl.mode=='create'">
            <div layout="row" layout-padding layout-align="end none">                    
                    <nv-api-text-button
                        class="outline" 
                        md-theme="nvGreen" 
                        aria-label="Create Another" 
                        state="ctrl.createState"
                        on-click="ctrl.onSave(true)" 
                        name="{{'container.shipment-management.create-another' | translate }}" 
                        icon="add" 
                        disabled="ctrl.isWaitingForConfirm"
                        form="ctrl.modelForm"
                        button-id="createAnotherButton">
                    </nv-api-text-button>                                

                    <nv-api-text-button
                        class="raised" 
                        md-theme="nvGreen" 
                        aria-label="Create" 
                        form="ctrl.modelForm"
                        state="ctrl.createState"
                        on-click="ctrl.onSave()" 
                        disabled="ctrl.isWaitingForConfirm"
                        name="{{'commons.create' | translate }}" 
                        icon="add" 
                        button-id="createButton">
                    </nv-api-text-button>                                
            </div>
            
        </div>

        <div ng-if="ctrl.mode=='edit'">
            <div layout="row center" layout-padding layout-align="center">
                <nv-icon-text-button 
                    flex="30" 
                    class="md-raised ghost"  
                    md-theme="nvGreen" 
                    aria-label="Force Success" 
                    disabled="ctrl.shipment.status=='Cancelled' || ctrl.isWaitingForConfirm"
                    ng-click="ctrl.onForceSuccess()" 
                    name="{{'container.shipment-management.force-success' | translate }}" 
                    icon="done_all" id="forceButton">
                </nv-icon-text-button>
                <nv-button-file-picker  
                    class="ghost" 
                    md-theme="nvBlue" 
                    label="{{'commons.upload-file' | translate}}" 
                    icon="file_upload"
                    disabled="ctrl.shipment.status=='Cancelled' || ctrl.isWaitingForConfirm"
                    multiple="true"
                    accept="{{ctrl.nvButtonFilePickerType.CSV}}" 
                    on-file-select="ctrl.onFileSelect($file)"
                    on-file-reject="ctrl.onFileReject()">
                </nv-button-file-picker>
                <div flex></div>
                <nv-icon-text-button 
                    flex="30" 
                    ng-if="ctrl.shipment.status != 'Cancelled' || ctrl.isWaitingForConfirm"
                    md-theme="nvGreen" 
                    form="ctrl.modelForm"
                    class="raised primary" 
                    aria-label="Save Changes" 
                    ng-click="ctrl.onUpdate()" 
                    name="{{'container.shipment-management.save-changes' | translate}}" 
                    icon="done" 
                    id="saveChangesButton">
                </nv-icon-text-button>  
                <nv-icon-text-button
                    flex="30" 
                    ng-if="ctrl.shipment.status == 'Cancelled' || ctrl.isWaitingForConfirm"
                    md-theme="nvGreen" 
                    class="raised primary" 
                    aria-label="Ok"
                    icon="" 
                    ng-click="::ctrl.onCancel($event)" 
                    name="{{'commons.ok' | translate}}"                     
                    id="okButton">
                </nv-icon-text-button>                  
            </div>
        </div>
    </md-dialog-actions>

</form>
