@import "../../../../../lib/ninja-commons/styles/variables";
@import "../../../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../../../styles/variables";

.shipper-pickups-bulk-route-edit-dialog {
  $defaultWidth: 85rem;
  $label-color: rgba(33, 33, 33, 0.67);
  $tag-padding: 0.4rem;

  width: $defaultWidth !important;
  
  .horizontal-padding {
    padding: 0rem 1.4rem;
  }

  .md-dialog-content {
    min-height: 15rem;
    max-height: 45rem;
    // overflow: hidden;

    .border {
      border: 0.1rem solid $nv-text-black-3;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      margin: -1rem;
      padding: 1rem;

      .title {
        color: $nv-text-black-3;
        margin-top: 0rem;
        margin-bottom: 1.4rem;
      }

      .field-container {
        label { 
          color: $label-color;
          font-size: 1.2rem;
        }

        md-select {
          margin: 0;
        }
      }

      .tag-filter-holder {
        padding: 0.8rem 0rem;
        display: table;
        width: 100%;
        white-space: nowrap;
        padding-bottom: $tag-padding;

        nv-icon-text-button {
          display: inline-block;
          float: left;
          margin-left: $tag-padding;
          margin-top: $tag-padding;

          &:nth-child(15n+1)  .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,2); border-color: nth($nv-colors,2); &:hover { border-color: darken(nth($nv-colors,2), 10%); } }
          &:nth-child(15n+2)  .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,3); border-color: nth($nv-colors,3); &:hover { border-color: darken(nth($nv-colors,3), 10%); } }
          &:nth-child(15n+3)  .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,4); border-color: nth($nv-colors,4); &:hover { border-color: darken(nth($nv-colors,4), 10%); } }
          &:nth-child(15n+4)  .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,5); border-color: nth($nv-colors,5); &:hover { border-color: darken(nth($nv-colors,5), 10%); } }
          &:nth-child(15n+5)  .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,6); border-color: nth($nv-colors,6); &:hover { border-color: darken(nth($nv-colors,6), 10%); } }
          &:nth-child(15n+6)  .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,7); border-color: nth($nv-colors,7); &:hover { border-color: darken(nth($nv-colors,7), 10%); } }
          &:nth-child(15n+7)  .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,8); border-color: nth($nv-colors,8); &:hover { border-color: darken(nth($nv-colors,8), 10%); } }
          &:nth-child(15n+8)  .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,9); border-color: nth($nv-colors,9); &:hover { border-color: darken(nth($nv-colors,9), 10%); } }
          &:nth-child(15n+9)  .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,10); border-color: nth($nv-colors,10); &:hover { border-color: darken(nth($nv-colors,10), 10%); } }
          &:nth-child(15n+10) .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,11); border-color: nth($nv-colors,11); &:hover { border-color: darken(nth($nv-colors,11), 10%); } }
          &:nth-child(15n+11) .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,12); border-color: nth($nv-colors,12); &:hover { border-color: darken(nth($nv-colors,12), 10%); } }
          &:nth-child(15n+12) .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,13); border-color: nth($nv-colors,13); &:hover { border-color: darken(nth($nv-colors,13), 10%); } }
          &:nth-child(15n+13) .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,14); border-color: nth($nv-colors,14); &:hover { border-color: darken(nth($nv-colors,14), 10%); } }
          &:nth-child(15n+14) .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,15); border-color: nth($nv-colors,15); &:hover { border-color: darken(nth($nv-colors,15), 10%); } }
          &:nth-child(15n+15) .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,1); border-color: nth($nv-colors,1); &:hover { border-color: darken(nth($nv-colors,1), 10%); } }
        }
      }
    }

    .table-holder {
      margin-top: $nv-baseline-grid;
      margin-bottom: $nv-baseline-grid;

      .table {
        table-layout: fixed;
        width: 100%;

        > thead > tr > th {
          border-bottom: 0;
          font-weight: normal;
          font-size: 1.2rem;
          color: $nv-text-black-2;
        }

        > tbody > tr > td {
          border-top: 0;
          vertical-align: middle;

          > span {
            @include nv-font-color(black, 2);
            padding-left: 0.4rem;
            min-height: 2.8rem;
            display: inline-block;
          }

          md-input-container {
            margin: 0;

            label {
              display: none;
            }
          }
        }
        > thead > tr> th ,> tbody > tr > td {
          &.reservation-id { width: 10%}
          &.shipper-name { width: 20% }
          &.address { width: 30% }
          &.route { width: 25% }
          &.route-index { width: 10% }
          &.status { width: 5% }
        }

        .field-container {
          md-select {
            margin: 0;
          }
        }

        .custom-input-style {
          margin: 0rem;

          .md-errors-spacer {
            min-height: 0.1rem;
          }
        }

        .custom-button-style {
          margin-top: 0.4rem;
        }
      }
    }
  }
  
  .plain-separator {
    padding: 1.4rem 0rem
  }
}