<nv-dialog-header
  title="Bulk Route Assignment"
  on-cancel="ctrl.function.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>
<form name="modelForm">
  <md-dialog-content>
    <!-- LOADING -->
    <div class="md-dialog-content" ng-if="ctrl.state.view === 0">
      <h5>{{ 'commons.load-data' | translate }}</h5>
    </div>
    <!-- CONTENT -->
    <div class="md-dialog-content" ng-if="ctrl.state.view === 1">
      <div class="border" layout="row" layout-wrap>
        <h5 class="title" layout="row" flex="100">{{ 'container.shipper-pickups.dialog.select-route-tags' | translate:'{ number:' +ctrl.function.getReservationsLength()+ '}' }}</h5>
        <div layout="row" flex="100">
          <div class="md-block field-container" layout="column" flex="40">
            <label>{{ 'commons.model.route-tags' | translate }}</label>
            <nv-autocomplete
              search-text="ctrl.view.tagSearchText"
              delegate-handle="shipper-edit-route-tags"
              item-types="route tag"
              multiple="true"
              hide-search-icon="::true">
            </nv-autocomplete>
          </div>
        </div>
        <div layout="row" flex="100" layout-wrap class="tag-filter-holder">
          <nv-icon-text-button
            name="{{::item.displayName}}"
            icon-position="right"
            icon="close"
            class="ghost dense filter-button custom"
            aria-label="{{::item.displayName}}"
            ng-repeat="item in ctrl.function.getSelectedRouteTags()"
            on-click="::ctrl.function.removeTag(item)">
          </nv-icon-text-button>
        </div>
        <div layout="row" layout-align="end none" flex="100">
          <nv-api-text-button
            md-theme="nvGreen"
            name="container.shipper-pickups.dialog.suggest"
            class="raised"
            disabled="ctrl.function.isSuggestRouteDisabled()"
            state="ctrl.state.suggestButtonState"
            on-click="ctrl.function.onSuggestRoute()">
          </nv-api-text-button>
        </div>
      </div>
      <div class="plain-separator"></div>
      <div class="table-holder">
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th class="reservation-id">{{ 'commons.rsvn-id' | translate }}</th>
            <th class="shipper-name">{{ 'commons.shipper' | translate }}</th>
            <th class="address">{{ 'commons.address' | translate }}</th>
            <th class="route">{{ 'commons.route' | translate }}</th>
            <th class="route-index">{{ 'commons.route-index' | translate }}</th>
            <th class="status">{{ 'commons.status' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="reservation in ctrl.data.reservations">
            <td class="reservation-id">{{ reservation.id }}</td>
            <td class="shipper-name">{{ reservation._name | nvLimitTo:128 }}</td>
            <td class="address">{{ reservation.pickupAddress | nvLimitTo:128 }}</td>
            <td class="route">
              <nv-autocomplete
                search-text="reservation.serviceSearchText"
                delegate-handle="shipper-pickups-select-route-{{reservation.idx}}"
                item-types="driver"
                selected-item="reservation.serviceSelectedItem"
                hide-search-icon="::true"
                form="modelForm">
              </nv-autocomplete>
            </td>
            <td class="route-index"> 
              <nv-input-number
                class="custom-input-style"
                name="Route Index"
                label="Route Index"
                model="reservation.routeIndex"
                required="true"
                form="modelForm">
              </nv-input-number>
            </td>
            <td class="status">
              <nv-icon-button
                ng-if="ctrl.function.isManuallyAssigned(reservation)"
                name="container.shipper-pickups.dialog.warning-route-different"
                icon="warning"
                md-theme="nvYellow"
                class="custom-button-style flat">
              </nv-icon-button>
              <nv-icon-button
                ng-if="ctrl.function.isReservationEmpty(reservation)"
                name="container.shipper-pickups.dialog.error-route-empty"
                icon="error"
                md-theme="nvRed"
                class="custom-button-style flat">
              </nv-icon-button>
              <nv-icon-button
                ng-if="ctrl.function.isAutomaticallyAssigned(reservation)"
                name="container.shipper-pickups.dialog.accept-route-good"
                icon="check_circle"
                md-theme="nvGreen"
                class="custom-button-style flat">
              </nv-icon-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- ERROR -->
    <div class="md-dialog-content" ng-if="ctrl.state.view === 2">
      <h5>ERROR</h5>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <nv-api-text-button
      md-theme="nvGreen"
      name="commons.save-changes"
      icon="check"
      class="raised"
      state="ctrl.state.saveButtonState"
      form="modelForm"
      disabled="!ctrl.function.isAnyFilled()"
      on-click="ctrl.function.onSave($event)">
    </nv-api-text-button>
  </md-dialog-actions>
</form>