.nv-edit-address-container{
    md-dialog-content{
        padding : 2.8rem;

        h5{
            font-weight: 300;
            color: #999;
        }
        .container{
            border-radius: .3rem;
            border: 1px solid #eaeaea;
            margin-bottom: 1.4rem;
            padding: 1.4rem;
        }

        .section-header-container{
            margin-bottom: 1.4rem;
        }
        
        .country-selector{
            md-select{
                margin-top: -.2rem;
            }
        }

        .country-selector{
            md-select{
                margin-top: -.2rem;
            }
        }

        .formatted-address-container{
            .address_copyable {
                width: 100%;
                border-radius: .3rem;
                border: 1px solid #eaeaea;
                padding: .8rem;
                margin-bottom: .1rem;
                cursor: pointer;
        }
            .copy-info {
                color: #999;
                opacity: 0;
                visibility: hidden;
            }
            .copy-info.copy-info-show {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}