<nv-dialog-header
title="{{ctrl.mode=='edit'?('container.addressing.edit-address' | translate) :('container.addressing.add-address' | translate)}}"
cancel-text="{{'commons.discard-changes' | translate }}"
on-cancel="::ctrl.onCancel($event)"
>
</nv-dialog-header>
<form name="modelForm"  novalidate>

<md-dialog-content layout="row" layout-wrap>
<md-content class="address-container container" layout="row" flex="100" layout-wrap>
    <div class="section-header-container"flex="100" layout="row" layout-wrap>
        <h5 flex>{{"container.addressing.address" | translate }}</h5>
    </div>
    <div flex="100" layout="row" layout-wrap  >
        <nv-input-select
                label="{{'container.addressing.country' | translate }}"
                name= "country"
                class="md-block country-selector"
                model= "ctrl.country"
                set-default= "false"
                options= "ctrl.countries"
                model-options="{}"
                form="modelForm"
                flex="33"
                required="true"
        >
        </nv-input-select>


        <nv-input-text
                label="{{'container.addressing.province' | translate}}"
                name="province"
                form="modelForm"
                model="ctrl.address.province"
                flex="33"
                ng-if="ctrl.showField('province')">
        </nv-input-text>

        <nv-input-text
                label="{{'container.addressing.city' | translate}}"
                name="city"
                form="modelForm"
                model="ctrl.address.city"
                flex="33"
                ng-if="ctrl.showField('city')">
        </nv-input-text>
    </div>

    <div flex="100" layout="row" layout-wrap  >
         <nv-input-text
                label="{{'container.addressing.state' | translate}}"
                name="state"
                form="modelForm"
                model="ctrl.address.state"
                flex="33"
                ng-if="ctrl.showField('state')">
        </nv-input-text>

        <nv-input-text
                label="{{'container.addressing.district-optional' | translate}}"
                name="district"
                form="modelForm"
                model="ctrl.address.district"
                flex="33"
                ng-if="ctrl.showField('district')">
        </nv-input-text>
        <nv-input-text
                label="{{'container.addressing.community-optional' | translate}}"
                name="community"
                form="modelForm"
                model="ctrl.address.community"
                flex="33"
                ng-if="ctrl.showField('community')">
        </nv-input-text>

        <nv-input-text
                label="{{'container.addressing.area-optional' | translate}}"
                name="area"
                form="modelForm"
                model="ctrl.address.area"
                flex="33"
                ng-if="ctrl.showField('area')">
        </nv-input-text>

        <nv-input-text
                label="{{'container.addressing.ward-optional' | translate}}"
                name="ward"
                form="modelForm"
                model="ctrl.address.ward"
                flex="33"
                ng-if="ctrl.showField('ward')">
        </nv-input-text>

        <nv-input-text
                label="{{'container.addressing.subdistrict-optional' | translate}}"
                name="subdistrict"
                form="modelForm"
                model="ctrl.address.subdistrict"
                flex="33"
                ng-if="ctrl.showField('subdistrict')">
        </nv-input-text>

        <nv-input-text
                label="{{'container.addressing.subdivision-optional' | translate}}"
                name="subdivision"
                form="modelForm"
                model="ctrl.address.subdivision"
                flex="33"
                ng-if="ctrl.showField('subdivision')">
        </nv-input-text>

        <nv-input-text
                label="{{'container.addressing.township-optional' | translate}}"
                name="township"
                form="modelForm"
                model="ctrl.address.township"
                flex="33"
                ng-if="ctrl.showField('township')">
        </nv-input-text>


    </div>

    <div flex="100" layout="row" layout-wrap  >
        <nv-input-text
                label="{{'container.addressing.postcode' | translate}}"
                name="postcode"
                form="modelForm"
                disabled="ctrl.mode=='edit'"
                model="ctrl.address.postcode"
                flex="33"
        >
        </nv-input-text>

        <nv-input-text
                label="{{'container.addressing.street' | translate}}"
                name="street"
                form="modelForm"
                model="ctrl.address.street"
                flex="33"
        >
        </nv-input-text>
    </div>
    <div flex="100" layout="row" layout-wrap  >
        <nv-input-text
                label="{{'container.addressing.building-optional' | translate}}"
                name="building_name"
                form="modelForm"
                model="ctrl.address.building"
                flex="33">
        </nv-input-text>
        <nv-input-text
                label="{{'container.addressing.building-number-optional' | translate}}"
                name="building_number"
                form="modelForm"
                model="ctrl.address.building_no"
                flex="33">
        </nv-input-text>
    </div>


</md-content>

<md-content class="details-container container" layout="row" flex="100" layout-wrap>
    <div class="section-header-container" flex="100" layout="row" layout-wrap>
        <h5 flex>{{'Details'}}</h5>
    </div>
    <div flex="100" layout="row"  >
        <nv-input-number
                flex="40"
                form="modelForm"
                label="{{'container.addressing.latitude' | translate }}"
                name="latitude"
                min="-90"
                max="90"
                required="true"
                help-text="{{'container.addressing.latitude-range-is-between' | translate}}"
                model="ctrl.address.latitude">
        </nv-input-number>
        <nv-input-number
                flex="40"
                form="modelForm"
                label="{{'container.addressing.longitude' | translate}}"
                name="longitude"
                min="-180"
                max="180"  
                required="true"                      
                help-text="{{'container.addressing.longitude-range-is-between' | translate}}"
                model="ctrl.address.longitude">
        </nv-input-number>
    </div>
    <div flex="100" layout="row"  >
        <nv-input-select
                flex="40"
                label="{{'container.addressing.address-type' | translate}}"
                name="address_type"
                model="ctrl.address.address_type"
                options="ctrl.addressTypes"
                set-default="false"
                required="true"
                form="modelForm"
                model-options="{}"
        ></nv-input-select>
        <nv-input-select
                flex="40"
                label="{{'container.addressing.source' | translate}}"
                name="source"
                form="modelForm"
                model="ctrl.address.source"
                model-options="{}"
                required="true"
                disabled="!ctrl.addressSourceEnabled"
                options="ctrl.addressSource">
        </nv-input-select>
    </div>


</md-content>

<md-content class="formatted-address-container container"
    ng-if="ctrl.mode=='edit'" layout="row" flex="100" layout-wrap>
    <div class="section-header-container" flex="100" layout="row" layout-wrap>
        <h5 flex>{{"container.addressing.formatted-address" | translate}}</h5>
    </div>
    <div flex="100">
        <p>
            <small>{{"container.addressing.click-address-below-to-copy" | translate}}</small>
        </p>
        <p class="address_copyable"
           ngclipboard
           data-clipboard-text="{{ctrl.address.formatted_address}}"
           ngclipboard-success="ctrl.onSuccessCopy(e)">
            {{ctrl.address.formatted_address}}
        </p>
        <small class="copy-info" ng-class="{'copy-info-show':ctrl.copied}">
            {{"container.addressing.success-copy-address" | translate}}
        </small>
    </div>
</md-content>
</md-dialog-content>
<md-dialog-actions>
<div ng-if="ctrl.mode=='create'" layout-wrap layout="row">
    <div flex></div>
    <nv-api-text-button
                        flex="20"
                        md-theme="nvGreen"
                        class="raised"
                        state="ctrl.state"
                        name="{{'container.addressing.add-address' | translate }}"
                        text="{{'container.addressing.add-address' | translate }}"
                        icon="add"
                        form="modelForm"
                        on-click="ctrl.onSave($event)">
    </nv-api-text-button>
</div>

<div ng-if="ctrl.mode=='edit'">
    <div layout="row" layout-align="space-between none" layout-wrap>        
        <nv-api-text-button flex class="md-raised ghost" md-theme="nvGreen" aria-label="Delete Address"
                             ng-click="ctrl.onDelete($event)"
                             state="ctrl.deleteState"
                             form="modelForm"
                             name="{{'container.addressing.delete-address' | translate }}" icon="delete"
                             id="deleteButton">
        </nv-api-text-button>
        <div flex></div>
        <nv-api-text-button
                        flex
                        md-theme="nvGreen"
                        class="raised"
                        state="ctrl.state"
                        name="Save Changes"
                        text="{{'commons.save-changes' | translate}}"
                        icon="done"
                        form="modelForm"
                        on-click="ctrl.onUpdate($event)">
        </nv-api-text-button>
    </div>
</div>
</md-dialog-actions>

</form>
