@import "../../../../../styles/variables";

.nv-panel {
  background-color: $nv-brand-white;
  border-radius: 0.2rem;
  min-width: 5rem;
  outline: none;

  .data {
    padding: $nv-menu-item-padding;
    outline: none;
    max-width: 50rem;
    max-height: 15rem;
    overflow: auto;

    p {
      margin: 0;
    }
  }
}
