@import "../../../../lib/ninja-commons/styles/variables";
@import "../../../../lib/ninja-commons/styles/mixins/layout.mixins";

.nv-container-order-order-create-combine {
  padding: 1rem;

  @include nv-media-query-md-min {
    padding: 2rem;
  }

  @include nv-media-query-lg-min {
    padding: 3rem;
  }

  @include nv-media-query-xl-min {
    padding: 4rem;
  }

  nv-download-csv-button > button.nv-button {
    width: 200px;
  }

  table {
    tr {
      &.fail {
        background-color: $nv-light-red !important;
      }
    }
  }
}