<md-content
  class="nv-container-order-order-create-combine">

  <div class="data-header" layout="row">

  <h4>{{'commons.order' | translate}}</h4>

  <span flex></span>

  <nv-download-csv-button
    name="{{'commons.download-sample-csv' | translate}}"
    md-theme="nvBlue"
    data="ctrl.SAMPLE_CSV"
    csv-header="{{::ctrl.SAMPLE_CSV_HEADER}}"
    csv-column-order="{{::ctrl.SAMPLE_CSV_HEADER}}"
    filename="sample_csv">
  </nv-download-csv-button>


  <nv-create-button
    name="{{'commons.create-order' | translate}}"
    on-click="::ctrl.create($event)">
  </nv-create-button>

  </div>

  <div>
    <div class="table-container" ng-if="ctrl.dataTableParam">
      <table ng-table="ctrl.dataTableParam" class="table table-condensed table-bordered table-striped">
        <tr ng-class="::{ fail: (row.status || '').toLowerCase() !== 'success' }" ng-repeat="row in $data">
          <td data-title="'commons.number-shortform' | translate">
            {{ $index }}
          </td>

          <td data-title="'container.order.create.line-number' | translate"
              sortable="'line_no'"
              class="line_no">
            {{row.handle}}
          </td>

          <td data-title="'commons.status' | translate"
              sortable="'status'"
              class="status">
            {{row.status}}
          </td>

          <td data-title="'commons.message' | translate"
              sortable="'message'"
              class="message">
            {{row.message || '-'}}
          </td>

          <td data-title="'commons.tracking-id' | translate"
              sortable="'tracking_id'"
              class="tracking_id">
            {{row.tracking_id}}
          </td>

          <td data-title="'commons.order-ref-no' | translate"
              sortable="'order_ref_no'"
              class="order_ref_no">
            {{row.order_ref_no  || '-'}}
          </td>

        </tr>
      </table>
    </div>
    <div class="table-container" ng-if="ctrl.errorTableParam">
      <table ng-table="ctrl.errorTableParam" class="table table-condensed table-bordered table-striped">
        <tr ng-class="::{ fail: (row.status || '').toLowerCase() !== 'success' }" ng-repeat="row in $data">
          <td data-title="'commons.number-shortform' | translate">
            {{ $index }}
          </td>

          <td data-title="'container.order.create.line-number' | translate"
              sortable="'line'"
              class="line_no">
            {{row.line}}
          </td>

          <td data-title="'commons.message' | translate"
              sortable="'message'"
              class="message">
              <span ng-repeat="msg in row.message">{{msg}}<br /></span>
          </td>
        </tr>
      </table>
    </div>
  </div>

</md-content>
