$dropdown-menu-padding: 0.5rem;

md-menu-item.choice-menu {
  min-height: 0;
  height: auto;

  > button.choice-button {
    border-radius: 0;
  }

  &:not(:last-child) {
    > button.choice-button {
      margin-bottom: $dropdown-menu-padding;
    }
  }
}

.menu-content {
  padding-bottom: $dropdown-menu-padding;
  padding-top: $dropdown-menu-padding;
}