<md-menu md-position-mode="target-right bottom">
	<md-button
		ng-click="$mdOpenMenu($event)"
		class="nv-button raised dense">
		{{model[selected].displayName}}
		<i class="material-icons">arrow_drop_down</i>
	</md-button>
	<md-menu-content class="menu-content" width="2">
		<md-menu-item class="choice-menu" ng-repeat="item in model">
			<md-button class="flat nv-button choice-button" ng-class="{'active': model[$index].selected}"
			           ng-click="onClick($index)">
				<div layout="row" layout-align="end">
					{{item.displayName}}
				</div>
			</md-button>
		</md-menu-item>
	</md-menu-content>
</md-menu>