@import "../../../styles/variables";

md-menu-content.contact-info {

  max-height: none;
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;

  .contact-info-title,
  .contact-info-details,
  .contact-info-contacts-title,
  .contact-info-contacts,
  .contact-info-comments {
    height: auto;
    min-height: 0;

    .label {
      color: $nv-tb59;
      font-size: $font-size-p-capt;
    }
  }

  .contact-info-title {
    height: 3.2rem;
    line-height: 3.2rem;
    color: $nv-tb59;

    > * {
      padding: 0;
    }
  }

  .contact-info-details > div,
  .contact-info-comments > div {
    margin: 0;
    padding: 1rem 0.5rem;
    font-size: $font-size-p;
  }

  .contact-info-contacts-title > div {
    margin: 0;
    padding: 0 0.5rem;
  }

  .contact-info-contacts > div {
    margin: 0;
    padding: 0 0.5rem;
    font-size: $font-size-p;

    &.type {
      line-height: 2rem;
    }
  }

  .contact-info-comments > div {
    padding-bottom: 0;
  }

}
