md-dialog.distribution-point-user-add,
md-dialog.distribution-point-user-edit {

  width: 80rem;
  
}

md-dialog.distribution-point-user-add {

  md-dialog-content {
    height: 30.6rem; // workaround for the initial flash when the dialog elements aren't fully loaded yet
  }

  .md-dialog-content .username,
  .md-dialog-content .password md-input-container {
    margin-bottom: 0;
  }

}

md-dialog.distribution-point-user-edit {

  md-dialog-content {
    height: 28rem; // workaround for the initial flash when the dialog elements aren't fully loaded yet
  }

  .md-dialog-content .password {

    md-input-container {
      margin-bottom: 0;
    }
  }
  .disable-password {
    p:first-child {
      color: $nv-text-black-2;
      transform: translate3d(0, 4px, 0) scale(1);
      padding-left: 0.3rem;
    }
    p:last-child {
      color: $nv-dark-red;
      padding-left: 0.3rem;
      font-weight: bold;
    }
  }
}
