<nv-dialog-header title="Add User" on-cancel="::onCancel($event)" cancel-text="commons.cancel"></nv-dialog-header>

<form name="modelForm" ng-submit="::onSave()" md-theme="nvBlue">

    <md-dialog-content>
        <div class="md-dialog-content">

            <div class="md-block" layout="row">
                <nv-input-text
                        label="{{::fields.first_name.displayName}}"
                        model="fields.first_name.value"
                        form="modelForm"
                        required="::true">
                </nv-input-text>

                <nv-input-text
                        label="{{::fields.last_name.displayName}}"
                        model="fields.last_name.value"
                        form="modelForm"
                        required="::true">
                </nv-input-text>
            </div>

            <div class="md-block" layout="row">
                <nv-input-tel
                        label="{{::fields.contact_no.displayName}}"
                        model="fields.contact_no.value"
                        form="modelForm"
                        required="::true">
                </nv-input-tel>

                <nv-input-email
                        class="md-block"
                        label="{{::fields.email.displayName}}"
                        model="fields.email.value"
                        form="modelForm"
                        required="::true">
                </nv-input-email>
            </div>

            <nv-input-text
                    class="md-block username"
                    label="{{::fields.username.displayName}}"
                    model="fields.username.value"
                    form="modelForm"
                    required="::true">
            </nv-input-text>

            <nv-input-password
                    class="md-block password"
                    label="{{::fields.password.displayName}}"
                    model="fields.password.value"
                    form="modelForm"
                    required="::true">
            </nv-input-password>

        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <nv-button-save name="Submit" form="modelForm" state="saveButtonState"></nv-button-save>
    </md-dialog-actions>

</form>
