<nv-dialog-header title="Edit User" on-cancel="::onCancel($event)"></nv-dialog-header>

<form name="modelForm" ng-submit="::onSave()" md-theme="nvBlue">

    <md-dialog-content>
        <div class="md-dialog-content">

            <div class="md-block" layout="row">
                <nv-input-text
                        label="{{::fields.first_name.displayName}}"
                        model="fields.first_name.value"
                        form="modelForm">
                </nv-input-text>

                <nv-input-text
                        label="{{::fields.last_name.displayName}}"
                        model="fields.last_name.value"
                        form="modelForm">
                </nv-input-text>
            </div>

            <div class="md-block" layout="row">
                <nv-input-tel
                        label="{{::fields.contact_no.displayName}}"
                        model="fields.contact_no.value"
                        form="modelForm">
                </nv-input-tel>

                <nv-input-email
                        class="md-block"
                        label="{{::fields.email.displayName}}"
                        model="fields.email.value"
                        form="modelForm">
                </nv-input-email>
            </div>

            <div class="md-block" layout="row">
                <nv-input-text
                        class="username"
                        label="{{::fields.username.displayName}}"
                        model="fields.username.value"
                        form="modelForm"
                        required="::true"
                        readonly="::true">
                </nv-input-text>

                <nv-input-text
                        label="{{::fields.id.displayName}}"
                        model="fields.id.value"
                        form="modelForm"
                        readonly="::true">
                </nv-input-text>
            </div>
            <div class="disable-password">
                <p class="nv-small">Password</p>
                <p>Please contact it-support if you want to change the password.</p>
            </div>

        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <nv-button-save name="Submit" form="modelForm" state="saveButtonState"></nv-button-save>
    </md-dialog-actions>

</form>
