<nv-dialog-header
  title="{{'container.zonal-routing.set-parcels-aside' | translate}}"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<form name="ctrl.form" ng-submit="ctrl.onSave()">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <div layout="row">
        <nv-input-number
          class="flex"
          label="{{'container.zonal-routing.set-aside' | translate}}"
          model="ctrl.buffer"
          min="0"
          max="{{ ctrl.getMaxBuffer() }}"
          on-change="ctrl.setAsideOnchange(id)"
          error-msgs="ctrl.errors"
          form="ctrl.form">
        </nv-input-number>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        name="commons.cancel"
        on-click="ctrl.onCancel()">
      </nv-icon-text-button>

      <nv-button-save name="commons.submit"
                      form="ctrl.form"
                      state="ctrl.saveButtonState"></nv-button-save>
    </md-dialog-actions>
  </md-dialog>
</form>