<md-card class="nv-container-drivers">
    <md-card-content>
        <h2 class="md-title">Hello Drivers</h2>
        <md-button class="raised" ng-click="ctrl.getDriverTypes()">Get Driver Types</md-button>
    </md-card-content>
</md-card>
