<div class="filter">

  <div layout="row" layout-align="space-between center">
    <div class="main-title nv-text-ellipsis">{{mainTitle}}</div>
    <md-button class="nv-button flat dense alternate" ng-click="onClearAll()">Clear All</md-button>
  </div>

  <div class="filter-buttons-container"></div>

</div>
