md-dialog.order-photos-dialog.nv-dataset-dialog {
  width: 79rem;

  .loading-container {
    width: 100%;
    height: 40rem;
  }

  .main-container {
    width: 100%;
    height: 40rem;

    .photos-container {
      width: 100%;
      height: 100%;
      overflow-y: auto;

      .nv-selectable-image {
        margin: 0.4rem 0.2rem;
        width: 24rem;
        height: 13.5rem;
      }
    }
  }
}