<nv-dialog-header
  title="commons.photos"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>
<md-dialog-content layout layout-padding>
  <div class="loading-container" ng-if="ctrl.loading" layout layout-align="center center">
    <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="96px"></md-progress-circular>
  </div>
  <div class="main-container" ng-if="!ctrl.loading" layout>
    <div ng-if="!ctrl.isPhotosAvailable()">
      <h3>{{ 'container.order.edit.no-photos-available' | translate }}</h3>
    </div>
    <div class="photos-container" ng-if="ctrl.isPhotosAvailable()" layout layout-wrap>
      <nv-selectable-image
        ng-repeat="photo in ctrl.photos"
        source="{{ photo.url }}"
        title="{{ photo.title }}"
        id="photo.id"
        active="photo.isActive"
      ></nv-selectable-image>
    </div>
  </div>
</md-dialog-content>
