<md-content layout-padding>
  <md-checkbox ng-model="ctrl.disabled" aria-label="Checkbox 1">
    Disabled: {{ctrl.disabled}}
  </md-checkbox>
  <md-content layout-padding>
    <nv-autocomplete flex
      search-text="ctrl.shipperSearchText"
      placeholder="Search or Select Shipper"
      icon="search"
      delegate-handle="reservations-shipper"
      item-types="shipper"
      display-by="name"
      disabled="ctrl.disabled"
      sort-by="name">
    </nv-autocomplete>

    <nv-search-input-progressive
      search-text="ctrl.searchProgressive"
      placeholder="Progressive Search Input"
      delegate-handle="progressive"
      display-by="name"
      sort-by="name"
      disabled="ctrl.disabled"
      on-click="ctrl.goto($selected)">
    </nv-search-input-progressive>

    <nv-search-input-filter
      search-text="ctrl.searchFilter1"
      placeholder="Filter Search Filter"
      disabled="ctrl.disabled"
      type="bar">
    </nv-search-input-filter>

    <nv-search-input-filter
      search-text="ctrl.searchFilter2"
      placeholder="Filter Search Filter"
      disabled="ctrl.disabled"
      type="text">
    </nv-search-input-filter>
  </md-content>

  <md-content class="dark" layout-padding>
    <nv-autocomplete flex
      theme="dark"
      search-text="ctrl.shipperSearchTextDark"
      placeholder="Search or Select Shipper"
      icon="search"
      delegate-handle="reservations-shipper-dark"
      item-types="shipper"
      display-by="name"
      disabled="ctrl.disabled"
      sort-by="name">
    </nv-autocomplete>

    <nv-search-input-progressive
      search-text="ctrl.searchProgressiveDark"
      placeholder="Progressive Search Input"
      delegate-handle="progressive-dark"
      display-by="name"
      sort-by="name"
      theme="dark"
      disabled="ctrl.disabled"
      on-click="ctrl.goto($selected)">
    </nv-search-input-progressive>

    <nv-search-input-filter
      search-text="ctrl.searchFilter3"
      placeholder="Filter Search Filter"
      disabled="ctrl.disabled"
      type="bar">
    </nv-search-input-filter>

    <nv-search-input-filter
      search-text="ctrl.searchFilter4"
      placeholder="Filter Search Filter"
      disabled="ctrl.disabled"
      type="text">
    </nv-search-input-filter>
  </md-content>
</md-content>