@import "../../../lib/ninja-commons/styles/variables";
@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../lib/ninja-commons/styles/mixins/media-query.mixins";
@import "../../../lib/ninja-commons/styles/mixins/table.mixins";

.nv-container-bulk-order {
  height: 100%;

  .page-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .content-container {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;

      .table-container {
        position: relative;
        flex: 1;
        
        nv-table {
          // column width
          @include nv-table-column-width(id, 16rem);
          @include nv-table-column-width(shipper-id, 16rem);
          @include nv-table-column-width(qty, 12rem);
          @include nv-table-column-width(auto-reschedule-days, 18rem);
          @include nv-table-column-width(pickup-date, 16rem);
          @include nv-table-column-width(pickup-timewindow-id, 18rem);
          @include nv-table-column-width(delivery-timewindow-id, 18rem);
          @include nv-table-column-width(has-daynight, 16rem);
          @include nv-table-column-width(process-status, 18rem);
          @include nv-table-column-width(rollback-time, 18rem);
          @include nv-table-column-width(created-at, 18rem);

          @include nv-table-row-height(8rem);

          // action columns
          @include nv-table-action-columns(nv-table-action-width("four-dense-p"));

          md-progress-circular {
            display: inline-block;
            vertical-align: top;
          }
        }
      }
    }
  }
}