<md-content 
  class="nv-container-bulk-order">
  <div class="page-container">
    <div layout="row" layout-padding>
      <div layout flex="100">
        <md-input-container md-no-float class="md-block" flex="33">
          <input 
            ng-model="ctrl.bulkId" 
            placeholder="Bulk ID"
            type="number"
            min="0"
            ng-keypress="ctrl.onKeypress($event)">
        </md-input-container>
        <nv-api-text-button
          md-theme="nvBlue"
          name="Search"
          class="raised"
          icon="search"
          state="ctrl.searchState"
          disabled="!ctrl.isSearchEnabled()"
          on-click="ctrl.search(ctrl.bulkId)">
        </nv-api-text-button>
      </div>
    </div>
    <!-- INITIAL VIEW -->
    <div layout="row" ng-if="ctrl.resultState === 'init'" layout-padding>
      <h3>Please Enter Bulk ID</h3>
    </div>
    <!-- LOADING -->
    <div layout="row" ng-if="ctrl.resultState === 'loading'" layout-padding>
      <div>
        <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="48px"></md-progress-circular>
      </div>
    </div>
    <!-- CONTENT -->
    <div class="content-container" layout="row" ng-if="ctrl.resultState === 'content'">
      <div class="table-container">
        <nv-table
          param="ctrl.tableParam"
          controller-as="ctrl">
          <nv-table-row use="data">
            <nv-td column="id">
              {{data.id || '-'}}
            </nv-td>
            <nv-td column="shipperId">
              {{data.shipper_id || '-'}}
            </nv-td>
            <nv-td column="qty">
              {{data.qty || '-'}}
            </nv-td>
            <nv-td column="autoRescheduleDays">
              {{data.auto_reschedule_days || '-'}}
            </nv-td>
            <nv-td column="pickupDate">
              {{data.pickup_date || '-'}}
            </nv-td>
            <nv-td column="pickupTimewindowId">
              {{data.pickup_timewindow_id || '-'}}
            </nv-td>
            <nv-td column="deliveryTimewindowId">
              {{data.delivery_timewindow_id || '-'}}
            </nv-td>
            <nv-td column="hasDaynight">
              {{data.has_daynight || '-'}}
            </nv-td>
            <nv-td column="processStatus">
              {{data.process_status || '-'}}
            </nv-td>
            <nv-td column="rollbackTime">
              {{data.rollback_time || '-'}}
            </nv-td>
            <nv-td column="createdAt">
              {{data.created_at || '-'}}
            </nv-td>

            <nv-action column="actions">
              <nv-icon-button
                md-theme="nvBlue"
                class="ghost dense"
                name="commons.details"
                icon="edit"
                disabled="!data.orders || data.orders.length === 0"
                on-click="ctrl.seeDetails($event, data)">
              </nv-icon-button>
              <nv-icon-button
                md-theme="nvBlue"
                class="ghost dense"
                name="commons.rollback"
                icon="settings_backup_restore"
                on-click="ctrl.rollback($event, data.id)">
              </nv-icon-button>
              <nv-icon-button
                md-theme="nvBlue"
                class="ghost dense"
                name="container.bulk-order.print-label"
                icon="print"
                on-click="ctrl.print($event, data.orders)">
              </nv-icon-button>
              <nv-icon-button
                ng-if="!data.isDownloadingCsv"
                md-theme="nvBlue"
                class="ghost dense"
                name="commons.download-csv"
                icon="file_download"
                on-click="ctrl.downloadCsv(data)">
              </nv-icon-button>
              <md-progress-circular class="md-primary"
                                    md-mode="indeterminate"
                                    md-diameter="30px"
                                    ng-if="data.isDownloadingCsv">
              </md-progress-circular>
            </nv-action>
          </nv-table-row>
        </nv-table>
      </div>
    </div>
    <!-- ERROR -->
    <div layout="row" ng-if="ctrl.resultState === 'error'" layout-padding>
      <h3>Error, Bulk ID {{ctrl.bulkIdCopy}} not found</h3>
    </div>
  </div>
</md-content>