@import "../../../../../lib/ninja-commons/styles/variables";
@import "../../../../../views/container/order/order.mixins";

md-dialog.route-selection-error {
  $sectionMargin: 2.8rem;

  .table-holder {
    margin-top: $sectionMargin;
    margin-bottom: $sectionMargin;

    .table {
      > thead > tr > th {
        border-bottom: 0;
        font-weight: normal;
        font-size: 1.2rem;
        color: $nv-text-black-2;
      }

      > tbody > tr > td {
        border-top: 0;
      }
    }
  }

  div[layout] {
    margin-top: $sectionMargin;
    margin-bottom: $sectionMargin;

    p {
      margin-top: 0;
    }

    @include data-blocks;
  }

  > * {
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}