<md-content ng-if="ctrl.state=='SHOW_TABLE'" class="nv-container-zones"
            nv-load="ctrl.getAll" loading-message="{{'container.zones.load-zones' | translate}}">
    <div class="loading-sheet" ng-if="ctrl.stateRefresh === 'waiting'" layout="column" layout-align="center center">
        <md-progress-circular md-mode="indeterminate" md-diameter="150"></md-progress-circular>
        <h5>{{ 'container.zones.zones-updating' | translate }}</h5>
    </div>
    <app-data-header
            main-title="{{'commons.zones' | translate}}"
            add-title="{{'container.zones.add-zone' | translate}}"
            on-add="::ctrl.addZone($event)"
            data="ctrl.tableParam.data"
            csv-header="['Id', 'Short Name', 'Name', 'Hub Name', 'Latitude', 'Longitude', 'Description']"
            csv-column-order="['id', 'short_name', 'name', 'hubName', 'latitude', 'longitude', 'description']"
            filename="zones.csv">
        <div flex layout="row" class="additional-toolbar">
            <nv-icon-button
                    class="raised"
                    md-theme="nvYellow"
                    name="commons.refresh"
                    icon="refresh"
                    disabled="ctrl.refreshZonesCacheDisabled"
                    on-click="ctrl.refreshZonesCache()">
            </nv-icon-button>

            <nv-icon-text-button
                    class="raised"
                    md-theme="nvBlue"
                    name="View Selected Polygons"
                    disabled="!!ctrl.tableParam.getSelectionCount() == 0"
                    on-click="ctrl.editPolygons($event)">
            </nv-icon-text-button>
        </div>
    </app-data-header>

    <div class="table-container" ng-if="!ctrl.tableParam.empty">
        <nv-table
                param="ctrl.tableParam"
                selectable="true"
                controller-as="ctrl">
            <nv-table-row
                    use="zone">
                <nv-td column="id">
                    {{zone.id}}
                </nv-td>
                <nv-td column="short_name">
                    {{zone.short_name}}
                </nv-td>
                <nv-td column="name">
                    {{zone.name}}
                </nv-td>
                <nv-td column="hubName">
                    {{zone.hubName}}
                </nv-td>
                <nv-td column="latLng">
                    {{zone.latLng}}
                </nv-td>
                <nv-td column="description">
                    {{zone.description}}
                </nv-td>
                <nv-action column="actions">
                    <div class="nv-icon-button-group" layout="row" layout-align="center center">
                        <nv-icon-button
                                md-theme="nvBlue"
                                class="ghost dense"
                                name="Edit Polygon"
                                icon="label"
                                on-click="ctrl.editPolygon($event, zone)">
                        </nv-icon-button>
                        <nv-icon-button
                                md-theme="nvBlue"
                                class="ghost dense"
                                name="commons.edit"
                                icon="edit"
                                on-click="ctrl.editZone($event, zone)">
                        </nv-icon-button>
                        <nv-icon-button
                                md-theme="nvRed"
                                class="ghost dense"
                                name="commons.delete"
                                icon="delete"
                                on-click="ctrl.deleteZone($event, zone)">
                        </nv-icon-button>
                    </div>
                </nv-action>
            </nv-table-row>
        </nv-table>
    </div>



</md-content>