@import "../../../../../styles/variables";

md-dialog.ocv4-preset-sample {
  .main-container {
    .padding-top { padding-top: 1.4rem; }
    .time-container { width: 16rem; }
    .time-to-label { width: 4rem; }

    md-radio-group md-radio-button .md-container {
      .md-on{ background-color: rgba($nv-dark-blue ,0.87); }
      .md-ripple { color: $nv-dark-blue ; }
    }

    md-radio-group md-radio-button.md-checked .md-container.md-ink-ripple {
      color: rgba($nv-dark-blue , 0.26);

      .md-off { border-color: rgba($nv-dark-blue ,0.87); }
      .md-on { transform: scale(0.5); background-color: rgba($nv-dark-blue ,0.87); }
    }
  }
}