<nv-dialog-header
  title="{{'container.order.create.dialog.preset-title' | translate}}"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>
<form name="modelForm">
  <md-dialog-content class="main-container" layout-padding>
    <!-- service type -->
    <div layout="column" ng-show="ctrl.currentStep.name === ctrl.stepName.SERVICE_TYPE">
      <div class="md-block autocomplete-label vertical-padding-6" layout="column" flex="50">
        <label>{{ 'container.order.create.dialog.select-shipper' | translate }}</label>
        <nv-autocomplete 
          search-text="ctrl.shipperText"
          delegate-handle="shipper-autocomplete"
          item-types="shipper"
          selected-item="ctrl.currentStep.selectedShipper"
          hide-search-icon="::true">
        </nv-autocomplete>
      </div>

      <h5 class="padding-top">{{ 'container.order.create.dialog.select-order-type' | translate }}</h5>
      <md-radio-group ng-model="ctrl.currentStep.selectedServiceType" ng-change="ctrl.onServiceTypeChanges(ctrl.currentStep.selectedServiceType)" class="padding-top">
        <md-radio-button ng-repeat="opt in ctrl.currentStep.options" value="{{ opt.value }}">{{ opt.displayName }}</md-radio-button>
      </md-radio-group>

      <h5 class="padding-top">{{ 'container.order.create.dialog.select-extra-configurations' | translate }}</h5>
      <div class="padding-top">
        <md-checkbox 
          ng-model="ctrl.state.isPickupRequired"
          aria-label="{{ 'container.order.create.dialog.pickup-required' | translate }}">
          {{ 'container.order.create.dialog.pickup-required' | translate }}
        </md-checkbox>
        <md-checkbox 
          ng-model="ctrl.state.isCashEnabled"
          aria-label="{{ 'container.order.create.dialog.cash-enabled' | translate }}">
          {{ 'container.order.create.dialog.cash-enabled' | translate }}
        </md-checkbox>
        <md-checkbox 
          ng-model="ctrl.state.isStampShipper"
          aria-label="{{ 'container.order.create.dialog.stamp-shipper' | translate }}">
          {{ 'container.order.create.dialog.stamp-shipper' | translate }}
        </md-checkbox>
      </div>

      <div layout layout-align="end">
        <nv-icon-text-button
          class="raised"
          name="{{ctrl.state.buttonName}}"
          on-click="ctrl.onNextStep(ctrl.currentStep.callback(
            ctrl.currentStep.selectedServiceType,
            ctrl.currentStep.selectedShipper,
            ctrl.state.isStampShipper), true)"
          disabled="!ctrl.isAbleToSubmit()">
        </nv-icon-text-button>
      </div>
    </div>

    <!-- service level -->
    <div layout="column" ng-show="ctrl.currentStep.name === ctrl.stepName.SERVICE_LEVEL">
      <h5>{{ 'container.order.create.dialog.select-service-level' | translate }}</h5>
      <div class="padding-top" layout flex>
        <nv-input-select
          name="container.order.create.dialog.service-level"
          label="container.order.create.dialog.service-level"
          model="ctrl.currentStep.selected"
          model-options="{}"
          options="ctrl.currentStep.options">
        </nv-input-select>
      </div>

      <div layout layout-align="space-between">
        <nv-icon-text-button
          class="raised"
          name="commons.prev"
          on-click="ctrl.onPrevStep()">
        </nv-icon-text-button>

        <nv-icon-text-button
          class="raised"
          name="{{ctrl.state.buttonName}}"
          on-click="ctrl.onNextStep(ctrl.currentStep.callback(ctrl.currentStep.selected))"
          disabled="!ctrl.isAbleToSubmit()">
        </nv-icon-text-button>
      </div>
    </div>

    <div layout="column" ng-if="ctrl.currentStep.name === 'delivery'">
      <h5>{{ 'container.order.create.dialog.select-delivery-timeslot' | translate }}</h5>
      <div class="padding-top" layout flex>
        <md-datepicker ng-model="ctrl.currentStep.date" md-placeholder="Enter date"></md-datepicker>
      </div>
      <div class="padding-top" layout flex>
        <nv-input-select
          name="container.order.create.dialog.delivery-timeslot"
          label="container.order.create.dialog.delivery-timeslot"
          model="ctrl.currentStep.selected"
          options="ctrl.currentStep.options"
          model-options="{}">
        </nv-input-select>
      </div>

      <h5 class="padding-top">{{ 'container.order.create.dialog.select-extra-configurations' | translate }}</h5>
      <div class="padding-top">
        <md-checkbox 
          ng-model="ctrl.state.isAllowDoorstepDropoff"
          aria-label="{{ 'container.order.create.dialog.allow-doorstep-dropoff' | translate }}">
          {{ 'container.order.create.dialog.allow-doorstep-dropoff' | translate }}
        </md-checkbox>
        <md-checkbox 
          ng-model="ctrl.state.isEnforceDeliveryVerification"
          aria-label="{{ 'container.order.create.dialog.enforce-delivery-verification' | translate }}">
          {{ 'container.order.create.dialog.enforce-delivery-verification' | translate }}
        </md-checkbox>
      </div>

      <div layout layout-align="space-between">
        <nv-icon-text-button
          class="raised"
          name="commons.prev"
          on-click="ctrl.onPrevStep()">
        </nv-icon-text-button>
        <nv-icon-text-button
          class="raised"
          name="{{ctrl.state.buttonName}}"
          on-click="ctrl.onNextStep(ctrl.currentStep.callback(
            ctrl.currentStep.date,
            ctrl.currentStep.selected,
            ctrl.state.isAllowDoorstepDropoff,
            ctrl.state.isEnforceDeliveryVerification))">
        </nv-icon-text-button>
      </div>
    </div>

    <!-- pickup -->
    <div layout="column" ng-if="ctrl.currentStep.name === ctrl.stepName.PICKUP">
      <h5>{{ 'container.order.create.dialog.select-pickup-timeslot' | translate }}</h5>
      <div class="padding-top" layout flex>
        <md-datepicker ng-model="ctrl.currentStep.date" md-placeholder="Enter date"></md-datepicker>
      </div>

      <div class="padding-top" layout flex>
        <nv-input-select
          name="container.order.create.dialog.pickup-type"
          label="container.order.create.dialog.pickup-type"
          model="ctrl.currentStep.selectedServiceType"
          options="ctrl.currentStep.pickupServiceTypeOptions"
          model-options="{}">
        </nv-input-select>
      </div>
      
      <div layout flex>
        <nv-input-select
          name="Pickup Level"
          label="Pickup Level"
          model="ctrl.currentStep.selectedServiceLevel"
          options="ctrl.currentStep.pickupServiceLevelOptions"
          model-options="{}">
        </nv-input-select>
      </div>

      <div class="padding-top" layout flex>
        <nv-input-select
          ng-if="ctrl.currentStep.selectedServiceLevel === 'Standard'"
          name="Pickup Timeslot"
          label="Pickup Timeslot"
          model="ctrl.currentStep.selectedTimewindow"
          options="ctrl.currentStep.timewindowOptions"
          model-options="{}">
        </nv-input-select>
  
        <div layout ng-if="ctrl.currentStep.selectedServiceLevel === 'Premium'" flex>
          <div layout="column" class="time-container">
            <label>{{ 'commons.ready-by' | translate }}</label>
            <nv-input-time
              label="Start Time"
              form="modelForm"
              ng-model="ctrl.state.startTime"
              required="true"
              require-later="ctrl.state.startTimeMin"
              require-before="ctrl.state.startTimeMax">
            </nv-input-time>
          </div>
          <span class="time-to-label">{{ 'to' | translate }}</span>
          <div layout="column" class="time-container">
            <label>{{ 'commons.last-by' | translate }}</label>
            <nv-input-time
              label="End Time"
              form="modelForm"
              ng-model="ctrl.state.endTime"
              required="true"
              require-before="ctrl.state.endTimeMax"
              require-later="ctrl.state.endTimeMin">
            </nv-input-time>
          </div>
        </div>
      </div>
      
      <nv-input-select
        name="container.order.create.dialog.reservation-volume"
        label="container.order.create.dialog.reservation-volume"
        model="ctrl.currentStep.selectedReservationVolume"
        options="ctrl.currentStep.reservationVolumeOptions"
        model-options="{}">
      </nv-input-select>

      <div layout layout-align="space-between">
        <nv-icon-text-button
          class="raised"
          name="commons.prev"
          on-click="ctrl.onPrevStep()">
        </nv-icon-text-button>
        <nv-icon-text-button
          class="raised"
          name="{{ctrl.state.buttonName}}"
          on-click="ctrl.onNextStep(ctrl.currentStep.callback(
            ctrl.currentStep.date,
            ctrl.currentStep.selectedTimewindow,
            ctrl.state.startTime,
            ctrl.state.endTime,
            ctrl.currentStep.selectedServiceType,
            ctrl.currentStep.selectedServiceLevel,
            ctrl.currentStep.selectedReservationVolume
            ))">
        </nv-icon-text-button>
      </div>
    </div>

    <div layout="column" ng-if="ctrl.currentStep.name === ctrl.stepName.MARKETPLACE">
      <nv-input-text
        name="Seller ID"
        label="Seller ID"
        placeholder="Seller ID"
        required="true"
        form="modelForm"
        model="ctrl.currentStep.sellerId">
      </nv-input-text>
      <nv-input-text
        name="commons.company-name"
        label="commons.company-name"
        placeholder="commons.company-name"
        required="true"
        form="modelForm"
        model="ctrl.currentStep.companyName">
      </nv-input-text>

      <div layout layout-align="space-between">
        <nv-icon-text-button
          class="raised"
          name="commons.prev"
          on-click="ctrl.onPrevStep()">
        </nv-icon-text-button>
        <nv-icon-text-button
          class="raised"
          form="modelForm"
          name="{{ctrl.state.buttonName}}"
          on-click="ctrl.onNextStep(ctrl.currentStep.callback(ctrl.currentStep.sellerId, ctrl.currentStep.companyName))">
        </nv-icon-text-button>
      </div>
    </div>

    <div layout="column" ng-if="ctrl.currentStep.name === ctrl.stepName.CASH">
      <h5>{{ 'container.order.create.dialog.fill-cash-details' | translate }}</h5>
      <div class="padding-top" layout flex>
        <nv-input-number
          name="commons.cash-amount"
          label="commons.cash-amount"
          placeholder="commons.cash-amount"
          min="0"
          max="999999999"
          model="ctrl.currentStep.amount">
        </nv-input-number>
      </div>
      
      <h5>{{ 'container.order.create.dialog.select-cash-collection-transaction' | translate }}</h5>
      <md-radio-group ng-model="ctrl.currentStep.selectedTxnAt" ng-change="ctrl.onCashTxnAtChanges(ctrl.currentStep.selectedTxnAt)" class="padding-top">
        <md-radio-button ng-repeat="opt in ctrl.currentStep.txnAtOptions" value="{{ opt.value }}">{{ opt.displayName }}</md-radio-button>
      </md-radio-group>

      <h5>{{ 'container.order.create.dialog.select-cash-collection-type' | translate }}</h5>
      <md-radio-group ng-model="ctrl.currentStep.selectedType" ng-change="ctrl.onCashTypeChanges(ctrl.currentStep.selectedType)" class="padding-top">
        <md-radio-button ng-repeat="opt in ctrl.currentStep.typeOptions" value="{{ opt.value }}">{{ opt.displayName }}</md-radio-button>
      </md-radio-group>

      <div layout layout-align="space-between">
        <nv-icon-text-button
          class="raised"
          name="commons.prev"
          on-click="ctrl.onPrevStep()">
        </nv-icon-text-button>
        <nv-icon-text-button
          class="raised"
          name="{{ctrl.state.buttonName}}"
          on-click="ctrl.onNextStep(ctrl.currentStep.callback(ctrl.currentStep.amount, ctrl.currentStep.selectedTxnAt, ctrl.currentStep.selectedType))">
        </nv-icon-text-button>
      </div>

    </div>
  </md-dialog-content>
</form>
