@import "../../../../../lib/ninja-commons/styles/mixins/table.mixins";

.zonal-routing-auto-assign {
  md-dialog-content {
    .table-container {
      height: 60rem;
      position: relative;
      flex: 1;

      nv-table.zone-assignment-table {
        // column width
        @include nv-table-column-width(name, 100%);
        @include nv-table-column-width(total-parcels, 9rem);
        @include nv-table-column-width(buffer, 16rem);

        // row height
        @include nv-table-row-height(8rem);

        thead th {
          vertical-align: middle;
        }

        tbody td, tbody th {
          &.name {
            md-checkbox .md-icon {
              width: 100%;
              height: 100%;
            }
          }

          &.total-parcels {
            .dl-horizontal {
              margin: 0;

              dt {
                float: left;
              }

              dd {
                margin-left: 20px;
              }
            }
          }

          &.buffer {
            .input-number {
              margin-top: 1.4rem;

              .md-errors-spacer {
                display: none;
              }
            }
          }
        }

        .last-row:not(.last-row-no-result) {
          $lastRowHeight: 5rem;

          height: $lastRowHeight;

          .end-of-result {
            height: $lastRowHeight;

            .end-of-table {
              height: $lastRowHeight;

              p {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}