<nv-dialog-header
  title="{{'container.zonal-routing.auto-assign-drivers-to-zones' | translate}}"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<form name="ctrl.form">
  <md-dialog>
    <md-dialog-content>
      <div class="table-container" ng-if="ctrl.zonesTableParams && !ctrl.zonesTableParams.empty">
        <nv-table
          class="zone-assignment-table"
          param="ctrl.zonesTableParams"
          selectable="true"
          controller-as="ctrl">
          <nv-table-row
            use="zone"
            row-height="80">
            <nv-td column="name" filter="false">
              {{ zone.name }}
            </nv-td>
            <nv-td column="totalParcels" filter="false">
              <span>{{ 'container.zonal-routing.total' | translate }}: <strong>{{ zone.totalParcels }}</strong></span>
              <dl class="dl-horizontal">
                <dt>{{ 'container.zonal-routing.priority-abbr' | translate }}</dt>
                <dd>: {{ zone.priority }}</dd>

                <dt class="light-black">{{ 'container.zonal-routing.non-priority-abbr' | translate }}</dt>
                <dd class="light-black">: {{ zone.nonPriority }}</dd>
              </dl>
            </nv-td>
            <nv-td column="buffer" filter="false">
              <div layout="row">
                <nv-input-number
                  class="flex input-number"
                  label="{{'container.zonal-routing.set-aside' | translate}}"
                  model="zone.buffer"
                  min="0"
                  max="{{ ctrl.getMaxBuffer(zone) }}"
                  on-change="ctrl.setAsideOnchange(zone, id)"
                  error-msgs="ctrl.errors"
                  form="ctrl.form">
                </nv-input-number>
              </div>
            </nv-td>
          </nv-table-row>
        </nv-table>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        name="commons.cancel"
        on-click="ctrl.onCancel()">
      </nv-icon-text-button>

      <nv-icon-text-button
        md-theme="nvGreen"
        class="raised"
        name="commons.submit"
        disabled="ctrl.isSaveButtonDisabled()"
        on-click="ctrl.autoAssignDrivers()">
      </nv-icon-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>