 .role-add,
 .role-edit {
   width: 60rem;

   .table-container{
     max-height: 18.75rem;
     overflow: auto
   }

   .button-remove{
     margin: 0;
     min-height: 2rem;
     line-height: 1rem;
     color: $nv-tb32;
     text-transform: none;
     letter-spacing: $letter-spacing-h4;
     font-weight: $font-weight-h5;
     min-width: 7rem;
     padding-top: 0rem
   }

   .cancel-button{
     text-transform: none;
   }

   .table th, .table td {
     border-top: none;
   }

   .filter-scopes {
     border-radius: 0rem;
   }

   .table-label {
     font-size: $font-size-p;
     line-height: 1.8rem;
     color: rgba(0, 0, 0, 0.54);
   }
   .nv-button.md-button.ghost.md-nvBlue-theme:not([disabled]).filter-button-selected {
     background-color: $nv-alternate-hover-blue;
   }
   .nv-button.md-button.ghost.md-nvBlue-theme:not([disabled]).filter-button-notselected {
     background-color: $nv-light0;
   }
 }
 md-checkbox.md-nvBlue-theme.md-checked .md-icon {
   background-color: $nv-dark-blue ;
 }
