@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../lib/ninja-commons/styles/mixins/typography.mixins";

.nv-container-shipping-management{
  height: 100%;
  div.loaded {
    height: 100%;
  }

  .match {
    background: yellow;
  }
  .create-shipment{
      color : #fff !important;
  }

  .shipping-management-filter-container{
    padding: 1rem;
    @include nv-media-query-md-min {
      padding: 2rem;
    }

    @include nv-media-query-lg-min {
      padding: 3rem;
    }

    @include nv-media-query-xl-min {
      padding: 4rem;
    }

    .filter-header {
      padding-left: 1.4rem;
      padding-right: 1.4rem;
      margin-bottom: 1.4rem;
    }

    h4.filter-title {
      vertical-align: middle;
      margin: auto;
      color: $nv-text-black-2;
    }
  }

  .shipping-management-table-container{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      .condensed-row-space{
        padding-top: .4rem;
        padding-bottom: .4rem;
        margin:0;
      }
      .filter-info-container{
        .filter-info-wrap{
          margin-bottom: 0;
          height: 6rem;
          max-height: 6rem;
          .filter-info{
            h6{
              font-weight: normal;
              margin: 0;
            }
            p{
              margin: 0;
              font-size: 0.9rem;
            }
          }
        }
      }

      .filter-table{
        background: #fff;
        md-icon i.material-icons:after{
          content: 'filter_list';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: white;
        }

      }

      div.table-container{
        position: relative;
        flex: 1;
        nv-table {
        // column width
          @include nv-table-column-width(shipment_type, 15rem);
          @include nv-table-column-width(id, 15rem);
          @include nv-table-column-width(created_at, 20rem);
          @include nv-table-column-width(transit_at, 15rem);
          @include nv-table-column-width(status, 10rem);
          @include nv-table-column-width(orig_hub_name, 20rem);
          @include nv-table-column-width(curr_hub_name, 20rem);        
          @include nv-table-column-width(dest_hub_name, 20rem);
          @include nv-table-column-width(arrival_datetime, 15rem);  
          @include nv-table-column-width(completed_at, 20rem);        
          @include nv-table-column-width(mawb, 15rem);
          @include nv-table-column-width(orders_count, 15rem);
          @include nv-table-column-width(comments, 25rem);
          @include nv-table-row-height(8rem);

          // action columns
          @include nv-table-action-columns(22rem);
        }
      }
  }
}
