<md-content layout-wrap 
    nv-load="ctrl.onLoad"
    loading-message="{{'container.route-logs.load-data' | translate}}"
    class="nv-container-shipping-management">
    <div class="shipping-management-filter-container" ng-if="ctrl.showFilter">
        <div layout="row" layout-align="end none" layout-padding>                        
            <nv-create-button
                id="create-shipment-1"
                md-theme="nvGreen"
                class="raised create-shipment"
                name="{{'container.shipment-management.create-shipment' | translate }}"
                on-click="ctrl.createOne($event)">
            </nv-create-button>
        </div>

        <div layout="row" class="filter-header">
            <h4 class="filter-title">{{'commons.select-filter' | translate}}</h4>
            <nv-filter-preset
                    layout-align="end"
                    filter-presets="ctrl.filterPresets"
                    selected-preset="ctrl.selectedPreset"
                    possible-filters="ctrl.possibleFilters"
                    selected-filters="ctrl.selectedFilters"
                    on-save="ctrl.savePreset(body)"
                    on-delete="ctrl.deletePreset(id)"
                    on-update="ctrl.updatePreset(id,body)"
                    filter-path="payload">
            </nv-filter-preset>
        </div>
        <nv-filter-box-container
                possible-filters="ctrl.possibleFilters"
                selected-filters="ctrl.selectedFilters"
                on-change="ctrl.onChangeFilter()"
                search-by="mainTitle">
        </nv-filter-box-container>
        <div layout="row" layout-align="center">
            <nv-api-text-button class="raised" state="ctrl.searchState" name="commons.load-selection" on-click="ctrl.onSearch()"></nv-api-text-button>
        </div>
    </div>

    <div class="shipping-management-table-container" ng-if="!ctrl.showFilter">
        <div class="action-toolbar">
            <div flex="100" layout="row" layout-padding layout-align="space-between center">
                <nv-icon-text-button
                        icon="filter_list"
                        class="raised"
                        on-click="ctrl.openFilter()"
                        name="{{'container.shipment-management.edit-filter' | translate }}">
                </nv-icon-text-button>
                
                
                <div layout="row" layout-wrap>
                        <md-menu-bar>
                                <md-menu md-position-mode="target-right target">
                                  <md-button
                                    class="nv-button raised btn-apply-action"
                                    type="button"
                                    aria-label="Action"
                                    ng-click="$mdOpenMenu($event)"
                                    ng-disabled="ctrl.tableParam.getSelection().length <= 0">
                                    <span class="nv-text-ellipsis nv-text-left">{{'commons.apply-action' | translate}}</span>
                                    <i class="material-icons">arrow_drop_down</i>
                                  </md-button>
                        
                                  <md-menu-content class="actions-holder dark" width="3">
                                    <md-menu-item>
                                      <md-button class="nv-button flat alternate"
                                                 type="button"
                                                 aria-label="{{'container.shipment-management.generate-report' | translate}}"
                                                 ng-click="ctrl.generateReports($event, ctrl.tableParam.getSelection())">
                                        <i class="material-icons">list</i>
                                        <span>{{'container.shipment-management.generate-report' | translate}}</span>
                                      </md-button>
                                    </md-menu-item>
                                  </md-menu-content>
                                </md-menu>
                        </md-menu-bar>
                        <nv-create-button
                            id="create-shipment"
                            md-theme="nvGreen"
                            class="raised create-shipment"
                            name="{{'container.shipment-management.create-shipment' | translate }}"
                            on-click="ctrl.createOne($event)">
                        </nv-create-button>
                </div>                                                     
            </div>
        </div>

        <nv-table-description
                table-param="ctrl.tableParam"
                filters="ctrl.selectedFilters"
                title-display="mainTitle">
        </nv-table-description>
        <div class="table-container">
            <nv-table
                param="ctrl.tableParam"
                selectable="true"
                on-infinite-scroll="ctrl.loadMore()"
                controller-as="ctrl"
            >
            <nv-table-row use="shipment">
                <nv-index></nv-index>
                <nv-td column="shipment_type">
                    {{shipment.shipment_type}}
                </nv-td>
                <nv-td column="id">
                    {{shipment.id}}
                </nv-td>
                <nv-td column="created_at">
                        {{shipment.created_at? ( shipment.created_at | nvTime:'operator':'datetime') : '-'}}
                </nv-td>
                <nv-td column="transit_at">
                    {{shipment.transit_at? ( shipment.transit_at | nvTime:'operator':'datetime') : '-'}}
                </nv-td>
                <nv-td column="status">
                    {{shipment.status }}
                </nv-td>
                <nv-td column="orig_hub_name">
                    {{shipment.orig_hub_name}}
                </nv-td>
                <nv-td column="curr_hub_name">
                    {{shipment.curr_hub_name}}
                </nv-td>                        
                <nv-td column="dest_hub_name">
                    {{shipment.dest_hub_name}}
                </nv-td>
                <nv-td column="arrival_datetime">
                    {{shipment.arrival_datetime ? ( shipment.arrival_datetime | nvTime:'operator':'datetime' ) : '-'}}
                </nv-td>
                <nv-td column="completed_at">
                        {{shipment.completed_at ? ( shipment.completed_at | nvTime:'operator':'datetime' ) : '-'}}
                </nv-td>                        
                <nv-td column="orders_count">
                    {{shipment.orders_count}}
                </nv-td>
                <nv-td column="comments">
                    {{shipment.comments_f}}
                </nv-td>
                <nv-td column="mawb">
                        {{shipment.mawb || '-'}}
                </nv-td>
                <nv-action column="actions">
                    <nv-icon-button
                            md-theme="nvBlue"
                            class="ghost nv-margin-auto"
                            name="Edit"
                            icon="edit"
                            on-click="ctrl.updateOne($event, shipment)">
                    </nv-icon-button>

                    <nv-icon-button
                            md-theme="nvBlue"
                            class="ghost nv-margin-auto"
                            name="Details"
                            icon="list"
                            on-click="ctrl.showDetails($event, shipment)">
                    </nv-icon-button>

                    <nv-icon-button
                            md-theme="nvBlue"
                            class="ghost nv-margin-auto"
                            name="Force"
                            icon="done_all"
                            on-click="ctrl.onForceSuccess($event, shipment)">
                    </nv-icon-button>

                    <nv-icon-button
                            md-theme="nvRed"
                            class="ghost nv-margin-auto"
                            name="Print"
                            icon="print"
                            on-click="ctrl.printAwb(shipment.id)">
                    </nv-icon-button>

                    <nv-icon-button
                            md-theme="nvRed"
                            class="ghost nv-margin-auto"
                            name="Cancel"
                            icon="cancel"
                            disabled="shipment.status == 'Cancelled' || shipment.status == 'Completed'"
                            on-click="ctrl.deleteOne($event, shipment)">
                    </nv-icon-button>
                </nv-action>
            </nv-table-row>
        </nv-table>
        </div>
    </div>
</md-content>