@import "../../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/input.mixins";
@import "../../../../views/container/zonal-routing/zonal-routing.mixins";
@import "../../../../views/container/order/order.mixins";

.nv-container-zr-routing-edit {
  @include data-blocks;
  @include action-toolbar;

  @mixin polygon-tools-menu {
    .data-blocks {
      .data-block {
        margin-top: $nv-baseline-grid / 2;

        label {
          &.dark-red {
            @include nv-font-color(dark-red);
          }
        }

        .menu {
          text-align: right;
          padding-top: $nv-baseline-grid / 2;
          padding-bottom: $nv-baseline-grid / 2;

          nv-icon-text-button {
            margin: 0;
            vertical-align: top;

            button {
              border-right-color: transparent;
              padding-left: 0.5rem;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;

              div {
                margin-top: 0;
              }
            }
          }

          nv-icon-button {
            margin-left: -0.4rem;

            button {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }
        }
      }
    }
  }

  > div.content {
    padding: 0 !important;
    position: relative;
    overflow: hidden;

    @include nv-media-query-sm-max {
      overflow: auto;
    }

    nv-icon-text-button {
      display: inline-block !important;
    }

    > div {


      .left-pane {
        height: 100%;

        > div {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;

          #routing-map {
            height: 55rem;

            .leaflet-draw-actions-top a, .leaflet-draw-actions-bottom a {
              color: $nv-text-white;
            }

            .leaflet-draw {
              .leaflet-draw-toolbar {
                &.leaflet-draw-toolbar-top {
                  border-bottom: 0;
                  border-bottom-left-radius: 0;
                  border-bottom-right-radius: 0;
                }

                &:not(.leaflet-draw-toolbar-top) {
                  border-top: 0;
                  border-top-left-radius: 0;
                  border-top-right-radius: 0;
                  margin-top: 0;
                }
              }
            }

            .leaflet-control-cluster-group {
              > a {
                text-align: center;
                @include nv-font-color(black);

                &.active {
                  @include nv-font-color(black, 3);
                }
              }

              i {
                font-size: 1.6rem;
                margin-top: 0.5rem;
              }
            }

            .mapbox-logo {
              display: none;
            }

            .leaflet-control-attribution {
              display: none;
            }
          }

          .bottom-pane {
            #waypoint-details-table-holder {
              background: $nv-dark3;
              @include nv-font-color(white, 2);
              padding: 0.8rem;
              height: 14rem;
              display: flex;
              flex-flow: column;

              .header-info {
                display: inline-block;
                margin-right: $nv-baseline-grid*2;
                vertical-align: middle;

                i {
                  font-size: 1.6rem;
                  vertical-align: middle;
                }

                span {
                  @include nv-font-color(white);
                }

                &.large {
                  font-size: 1.6rem;

                  i {
                    font-size: 1.6rem;
                  }
                }

                &:last-child {
                  margin-right: 0;
                }
              }

              nv-icon-text-button {
                margin-bottom: 0;
              }

              .table-responsive {
                $header-border-color: $nv-dark4;
                $content-border-color: $nv-light3;

                margin-bottom: 0;
                flex: 1;
                margin-top: $nv-baseline-grid;

                table {
                  margin-bottom: 0;
                  border-color: $header-border-color;

                  thead {
                    tr {
                      background-color: $nv-dark2;

                      th {
                        @include nv-font-weight(regular);
                        border-color: $header-border-color;
                        border-bottom-width: 0.1rem;

                        &.tracking-id {
                          max-width: 15rem;
                          -ms-word-wrap: break-word;
                          word-wrap: break-word;
                        }

                        &.shipper-name {
                          max-width: 15rem;
                          -ms-word-wrap: break-word;
                          word-wrap: break-word;
                        }

                        &.timeslot {
                          min-width: 15rem;
                        }
                      }
                    }
                  }

                  tbody {
                    tr {
                      background: $nv-light0;
                      @include nv-font-color(black);

                      td {
                        border-color: $content-border-color;

                        &.type {
                          text-transform: capitalize;
                        }
                      }
                    }
                  }

                  &.no-record {
                    border-bottom: 0;
                    border-left: 0;
                    border-right: 0;

                    tbody {
                      tr.no-record {
                        background-color: transparent;
                        @include nv-font-color(white, 2);

                        td {
                          border: 0;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .right-pane {
        flex-basis: 40rem;
        width: 40rem;
        background: $nv-dark2;
        position: relative;

        @include nv-media-query-sm-max {
          width: 100%;
        }

        @include nv-media-query-lg-min {
          flex-basis: 50rem;
          width: 50rem;
        }

        md-tabs {
          min-height: 100%;

          md-tabs-wrapper {
            md-tab-item {
              color: $nv-text-white;
              background-color: $nv-dark4;

              &:not(.md-active) {
                > span {
                  color: $nv-text-white-2;
                }
              }
            }

            md-ink-bar {
              color: $nv-text-white;
              background: $nv-text-white;
            }
          }

          md-tab-content {
            > div {
              height: 100%;
            }

            md-content {
              height: 100%;

              .filter-box-container {
                margin-top: $nv-baseline-grid*2;
                padding-left: $nv-baseline-grid;
                padding-right: $nv-baseline-grid;

                .filter-container {
                  min-width: 0;
                  width: 100%;

                  .header-container {
                    .main-title {
                      min-width: 11rem;
                      width: 11rem;
                    }

                    .utility-section {
                      margin-left: $nv-baseline-grid*2;

                      > *:not(.primary-button-container) {
                        flex: 1;
                        max-width: none;
                      }
                    }

                    .boolean-container {
                      margin-left: $nv-baseline-grid*2;
                    }

                    .primary-button-container {
                      flex: none;

                      > nv-icon-text-button:first-child {
                        display: none !important;
                      }
                    }

                    .btn-group {
                      button {
                        padding: 0 $nv-baseline-grid;
                      }
                    }
                  }
                }

                .search-filter-container {
                  display: none;
                }
              }

              .filter-submit-button-holder {
                text-align: right;
                margin-top: $nv-baseline-grid;
                margin-right: $nv-baseline-grid;
              }

              // common styling (use in several places inside .right-pane)
              .content-title {
                text-transform: uppercase;
                margin-top: $nv-baseline-grid;
                margin-bottom: 0.2rem;
                font-size: 1.2rem;

                i {
                  @include nv-font-color(black, 2);
                  font-size: 1.6rem;
                  vertical-align: middle;
                  line-height: normal;
                }

                &.dark {
                  font-size: 1.4rem;

                  @include nv-font-color(white, 2);
                  @include nv-font-weight(medium);

                  i {
                    @include nv-font-color(white, 2);
                  }
                }
              }

              .content-row {
                display: inline-block;
                vertical-align: middle;

                margin-right: $nv-baseline-grid;
                &:last-child {
                  margin-right: 0;
                }

                .text-with-icon {
                  display: table;
                  max-width: 17rem;

                  > * {
                    display: table-cell;
                    vertical-align: middle;
                    line-height: normal;
                  }

                  .material-icons {
                    font-size: 1.4rem;
                    vertical-align: middle;
                    padding-right: $nv-baseline-grid / 2;
                  }

                  &.small {
                    font-size: 1.2rem;

                    .material-icons {
                      font-size: 1.2rem;
                    }
                  }
                }

                i {
                  @include nv-font-color(black, 2);
                }

                &.dark {
                  @include nv-font-color(white);

                  i {
                    @include nv-font-color(white);
                  }
                }
              }

              // holder styling
              .active-route-selection-holder {
                &.has-active-route {
                  border: 1px solid #f0f0f0;
                  padding-top: 0;
                  padding-bottom: 0;

                  .data-block {
                    > label {
                      text-transform: capitalize;
                      @include nv-font-weight(medium);

                      > span {
                        vertical-align: middle;

                        &.color-indication {
                          display: inline-block;
                          width: 2rem;
                          height: 2rem;
                          margin-right: $nv-baseline-grid / 2;
                        }
                      }
                    }
                  }

                  .selection-holder {
                    md-input-container {
                      display: block;
                    }
                  }
                }
              }

              .polygon-tools-holder {
                border: 1px solid #f0f0f0;
                @include polygon-tools-menu;

                .menu {
                  nv-icon-text-button {
                    button {
                      width: 16rem;
                    }
                  }
                }

                .add-nps-holder {
                  nv-icon-text-button {
                    button {
                      width: 18.7rem;
                    }
                  }
                }

                .add-nps-holder {
                  text-align: right;
                  padding-top: $nv-baseline-grid / 2;
                  padding-bottom: $nv-baseline-grid / 2;
                }
              }

              .active-route-card {
                $tag-width: 2.4rem;
                $border-color: #f0f0f0;

                position: relative;
                padding: 0;
                border: 1px solid $border-color;

                .tag-color {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: $tag-width;
                  height: 100%;
                  background-color: #a5a5a5;
                  outline: none;
                }

                .route-content {
                  margin-left: $tag-width;

                  .data-blocks {
                    .data-block {
                      > label {
                        width: 8rem;
                      }
                    }
                  }

                  .header-content {
                    border-bottom: 1px solid $border-color;

                    > * {
                      padding: 0;
                    }

                    nv-icon-button {
                      button {
                        height: 100%;
                        -webkit-box-shadow: none !important;
                        -moz-box-shadow: none !important;
                        box-shadow: none !important;
                      }
                    }
                  }

                  .driver-content {
                    border-bottom: 1px solid $border-color;

                    > * {
                      padding: 0;
                    }
                  }

                  .waypoint-content {
                    > * {
                      padding: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .divider {
        background: $nv-dark0;
        padding: $nv-baseline-grid/2;
      }

      .route-list-pane {
        background: $nv-dark3;
        padding: $nv-baseline-grid*2 $nv-baseline-grid 21rem;

        .route-tables-holder {
          overflow-x: auto;
          overflow-y: hidden;
          white-space: nowrap;

          .route-table-holder {
            width: 24rem;
            display: inline-block;
            vertical-align: top;
            margin: 0 $nv-baseline-grid*2 $nv-baseline-grid;
            white-space: normal;

            .active-holder {
              height: 3rem;
              text-align: center;

              .active-route-indication {
                color: $nv-light0;
                background-color: #06765d;
                border: 0.1rem solid #00ff7d;
                font-weight: bold;
                text-transform: uppercase;
                display: inline-block;
                padding: $nv-baseline-grid/2 $nv-baseline-grid*2;
                font-size: 12px;
                max-height: 2.6rem;
              }
            }

            .route-table {
              $route-table-padding: 0.8rem;

              border: 0.5rem solid #a5a5a5;
              border-top-width: $nv-baseline-grid*1.5;
              background-color: #f1f3f5;

              .route-header {
                .header-content {
                  outline: none;
                  line-height: normal;
                  vertical-align: middle;
                  padding: $route-table-padding;
                  color: #4a4a4a;
                  font-size: 1.6rem;
                  @include nv-font-weight(medium);
                }

                nv-icon-button {
                  margin-right: $nv-baseline-grid / 2;
                  button {
                    -webkit-box-shadow: none !important;
                    -moz-box-shadow: none !important;
                    box-shadow: none !important;
                  }
                }
              }

              .route-content {
                @mixin horizontal-input {
                  > * {
                    display: inline-block;
                    margin-right: 0.3rem;
                    vertical-align: middle;

                    &:last-child {
                      margin-right: 0;
                    }
                  }

                  > i {
                    font-size: 1.4rem;
                    vertical-align: middle;
                    @include nv-font-color(black, 2);
                  }

                  > span {
                    width: 4.5rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }

                border-top: 1px solid $nv-border-color;

                .polygon-tools-holder {
                  padding: $route-table-padding;

                  @include polygon-tools-menu;
                }

                .tools-holder {
                  margin: $nv-baseline-grid 0;
                  padding: 0 $route-table-padding;

                  nv-icon-text-button {
                    button {
                      border-width: 0.1rem;

                      &.clear-wps {
                        border-color: #b01628;
                      }
                    }
                  }
                }

                nv-drag-and-drop {
                  padding: $nv-baseline-grid $route-table-padding;

                  div[dnd-list] {
                    $item-height: 14rem;

                    min-height: $item-height;

                    .dndPlaceholder {
                      min-height: $item-height;
                    }

                    .item {
                      background-color: #f1f3f5;
                      display: block;
                      height: $item-height;
                      border: 1px solid $nv-light4;
                      border-radius: 0.2rem;
                      padding: $nv-baseline-grid / 2;
                      overflow: hidden;

                      > .template-with-close-btn-holder {
                        height: $item-height;

                        .priority {
                          font-size: 18px;
                          line-height: normal;
                          position: absolute;
                          left: 0.4rem;
                          top: 0.4rem;
                        }

                        .waypoint-content {
                          padding: 2rem 1.5rem 1rem;
                          line-height: normal;

                          .waypoint-id {
                            font-size: 1.2rem;
                            margin-bottom: $nv-baseline-grid / 2;

                            span {
                              color: #7f7f7f;
                            }
                          }

                          .timewindow {
                            font-size: 1.1rem;
                            color: #7f7f7f;
                            white-space: nowrap;

                            margin-bottom: $nv-baseline-grid / 2;
                          }

                          .address {
                            font-size: 1.2rem;
                            @include nv-font-weight(medium);

                            margin-bottom: $nv-baseline-grid;
                            line-height: 1.4rem;
                            height: 2.8rem;
                            overflow: hidden;
                          }

                          .shipper-name {
                            font-size: 1.1rem;
                            color: #7f7f7f;
                            margin-bottom: $nv-baseline-grid;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                          }

                          .comments {
                            font-size: 1.1rem;
                            color: #7f7f7f;
                            line-height: 1.2rem;
                            height: 2.4rem;
                            overflow: hidden;
                          }
                        }
                      }
                    }
                  }
                }

                .autocomplete-holder {
                  margin-top: $nv-baseline-grid / 2;
                  margin-bottom: $nv-baseline-grid * 2;
                  padding: 0 $route-table-padding;

                  @include horizontal-input;

                  .driver-label {
                    small {
                      @include nv-font-weight(medium);
                    }
                  }

                  nv-autocomplete {
                    $autocomplete-height: 2.4rem;

                    .autocomplete-container {
                      md-autocomplete {
                        height: $autocomplete-height;

                        md-autocomplete-wrap {
                          height: $autocomplete-height;

                          input:not(.md-input) {
                            padding-right: 0;
                            height: $autocomplete-height;
                            font-size: 1.2rem;
                          }
                        }
                      }
                    }
                  }
                }

                .waypoints-statistic-holder {
                  margin-top: $nv-baseline-grid / 2;
                  padding: 0 $route-table-padding;

                  .title {
                    font-size: 1.6rem;
                    @include nv-font-weight(medium);
                    margin-bottom: $nv-baseline-grid;
                  }

                  p {
                    margin-top: 0;
                    margin-bottom: $nv-baseline-grid / 2;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}