<div class="nv-container-zr-routing-edit">
  <div class="action-toolbar" ng-if="!ctrl.contentLoading.hideActionBar">
    <div layout="row">
      <div flex class="nv-text-center">
        <nv-icon-text-button
          class="flat dark alternate pull-left"
          name="commons.discard-changes"
          icon="arrow_back"
          on-click="ctrl.discardChanges($event)">
        </nv-icon-text-button>

        <nv-icon-text-button
          md-theme="nvGreen"
          class="raised dark pull-right"
          name="container.zonal-routing.update-routes"
          on-click="ctrl.preSubmitRoutes($event)"
          disabled="nvZonalRouting.routesSubmitted || nvZonalRouting.assignedRoutes.length <= 0">
        </nv-icon-text-button>

      </div>
    </div>
  </div>
  <div class="content">
    <div layout="row" layout-sm="column" layout-xs="column">
      <div class="left-pane"
           flex flex-xs="none" flex-sm="none">
        <div>
          <div id="routing-map" class="nv-map"></div>

          <div class="bottom-pane">
            <div id="waypoint-details-table-holder"
                 class="md-whiteframe-6dp">
              <div layout="row" layout-align="start center">
                <div flex="75">
                  <div class="header-info large">
                    {{ 'commons.waypoint' | translate }}
                    <span>{{ ctrl.waypointDetailsTableParams.waypointId || '-' }}</span>
                  </div>
                  <div class="header-info">
                    <i class="material-icons">picture_in_picture</i>
                    <span>{{ ctrl.waypointDetailsTableParams.sizeCounter || '-' }}</span>
                  </div>
                  <div class="header-info">
                    <i class="material-icons">place</i>
                    <span>{{ ctrl.waypointDetailsTableParams.address || '-' }}</span>
                  </div>
                </div>
                <div flex
                     class="nv-text-right">
                  <nv-icon-text-button
                    md-theme="nvYellow"
                    class="ghost dense dark"
                    name="{{ ctrl.hotkeyEvents.isWaypointDetailsTableLocked ? 'container.zonal-routing.key-l-unlock-info' : 'container.zonal-routing.key-l-lock-info' }}"
                    icon="{{ ctrl.hotkeyEvents.isWaypointDetailsTableLocked ? 'lock' : 'lock_open' }}"
                    disabled="!ctrl.hotkeyEvents.isWaypointDetailsTableLocked"
                    on-click="ctrl.toggleIsWaypointDetailsTableLocked()">
                  </nv-icon-text-button>
                </div>
              </div>


              <div class="table-responsive">
                <table
                  ng-if="ctrl.waypointDetailsTableParams.isTransactionWp"
                  class="table table-condensed table-bordered transaction-table"
                  ng-class="{'no-record': ctrl.waypointDetailsTableParams.list.length <= 0}">
                  <thead>
                  <tr>
                    <th class="tracking-id nv-text-ellipsis">{{ 'commons.tracking-id' | translate }}</th>
                    <th class="shipper-name nv-text-ellipsis">{{ 'commons.model.shipper-name' | translate }}</th>
                    <th class="type nv-text-ellipsis">{{ 'commons.type' | translate }}</th>
                    <th class="priority nv-text-ellipsis">{{ 'commons.priority' | translate }}</th>
                    <th class="priority-level nv-text-ellipsis">{{ 'container.zonal-routing.priority-level-short' | translate }}</th>
                    <th class="timeslot nv-text-ellipsis">{{ 'container.zonal-routing.transaction-time' | translate }}</th>
                    <th class="parcel-size nv-text-ellipsis">{{ 'commons.size' | translate }}</th>
                    <th class="cod nv-text-ellipsis">{{ 'container.zonal-routing.cod' | translate }}</th>
                    <th class="order-comments nv-text-ellipsis">{{ 'container.zonal-routing.order-comments' | translate }}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr
                    ng-if="ctrl.waypointDetailsTableParams.list.length > 0"
                    ng-repeat="txn in ctrl.waypointDetailsTableParams.list">
                    <td class="tracking-id">
                      <a href="javascript:;" ng-click="ctrl.navigateToEditOrderPage(txn.orderId)">{{ txn.trackingId }}</a>
                    </td>
                    <td class="shipper-name">{{ txn.shipperName }}</td>
                    <td class="type">{{ txn.type }}</td>
                    <td class="priority">{{ (txn.isPriority ? 'commons.yes' : 'commons.no') | translate }}</td>
                    <td class="priority-level">{{ txn.priorityLevel }}</td>
                    <td class="timeslot">{{ txn.startTime | nvTime:'operator':'datetime' }} - {{ txn.endTime | nvTime:'operator':'datetime' }}</td>
                    <td class="parcel-size">{{ (ctrl.getParcelSizeShortName(txn.parcelSize) || '-') | translate }}</td>
                    <td class="cod">{{ txn.cod }}</td>
                    <td class="order-comments">{{ txn.orderComments }}</td>
                  </tr>
                  <tr ng-if="ctrl.waypointDetailsTableParams.list.length <= 0"
                      class="no-record">
                    <td class="nv-text-center" colspan="10">
                      {{ 'container.zonal-routing.show-waypoint-details-hint' | translate }}
                    </td>
                  </tr>
                  </tbody>
                </table>

                <table
                  ng-if="!ctrl.waypointDetailsTableParams.isTransactionWp"
                  class="table table-condensed table-bordered table-striped reservation-table"
                  ng-class="{'no-record': ctrl.waypointDetailsTableParams.list.length <= 0}">
                  <thead>
                  <tr>
                    <th class="shipper-name nv-text-ellipsis">{{ 'commons.model.shipper-name' | translate }}</th>
                    <th class="timeslot nv-text-ellipsis">{{ 'commons.timeslot' | translate }}</th>
                    <th class="approx-vol nv-text-ellipsis">{{ 'container.zonal-routing.approx-vol' | translate }}</th>
                    <th class="comments nv-text-ellipsis">{{ 'commons.comments' | translate }}</th>
                    <th class="dp nv-text-ellipsis">{{ 'container.zonal-routing.dp' | translate }}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr
                    ng-if="ctrl.waypointDetailsTableParams.list.length > 0"
                    ng-repeat="reservation in ctrl.waypointDetailsTableParams.list">
                    <td>{{ reservation.shipperName }}</td>
                    <td>{{ txn.startTime | nvTime:'operator':'datetime' }} - {{ txn.endTime | nvTime:'operator':'datetime' }}</td>
                    <td>{{ reservation.approxVolume }}</td>
                    <td>{{ reservation.comments }}</td>
                    <td>{{ reservation.dp }}</td>
                  </tr>
                  <tr ng-if="ctrl.waypointDetailsTableParams.list.length <= 0"
                      class="no-record">
                    <td class="nv-text-center" colspan="8">
                      {{ 'container.zonal-routing.show-waypoint-details-hint' | translate }}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="right-pane md-whiteframe-6dp">
        <md-tabs md-stretch-tabs="always">
          <md-tab label="{{ 'container.zonal-routing.filter-settings' | translate }}">
            <md-content>
              <nv-filter-box-container
                possible-filters="ctrl.routingFilters.possibleFilters"
                selected-filters="ctrl.routingFilters.selectedFilters"
                search-by="mainTitle">
              </nv-filter-box-container>

              <div class="filter-submit-button-holder">
                <nv-icon-text-button
                  md-theme="nvGreen"
                  class="raised"
                  name="commons.save-changes"
                  on-click="ctrl.filterMarkerSubmit($event)">
                </nv-icon-text-button>
              </div>
            </md-content>
          </md-tab>
          <md-tab label="{{ 'container.zonal-routing.active-route' | translate }}">
            <md-content>
              <div layout-padding>
                <div class="active-route-selection-holder"
                     ng-class="{'has-active-route': ctrl.activeRouteId}">
                  <div class="data-blocks data-blocks-horizontal"
                       ng-if="ctrl.activeRouteId">
                    <div class="data-block">
                      <label>
                        <span ng-style="ctrl.routeStyling.backgroundColor(ctrl.activeRoute)"
                              class="color-indication"></span>
                        <span>{{ 'container.zonal-routing.active-route' | translate }}</span>
                      </label>
                      <div class="selection-holder">
                        <nv-input-select
                          class="active-route-selection"
                          label="commons.route"
                          show-label="false"
                          model="ctrl.selectionActiveRouteId"
                          model-options="{}"
                          on-change="ctrl.activeRouteSelectionChanged()"
                          options="ctrl.assignedRoutesSelectionOptions"
                          set-default="false">
                        </nv-input-select>
                      </div>
                    </div>
                  </div>

                  <div class="nv-text-center"
                       ng-if="!ctrl.activeRouteId">
                    {{ 'container.zonal-routing.no-active-route' | translate }}
                  </div>
                </div>
              </div>
              <div layout-padding
                   ng-if="ctrl.activeRouteId">
                <div class="polygon-tools-holder">
                  <div class="data-blocks data-blocks-horizontal">
                    <div class="data-block">
                      <label></label>
                      <div class="add-nps-holder">
                        <nv-icon-text-button
                          class="ghost dense add-nps"
                          name="container.zonal-routing.add-np-wps"
                          show-tool-tip="false"
                          on-click="ctrl.addRelated(ctrl.activeRoute)">
                        </nv-icon-text-button>
                      </div>
                    </div>

                    <div class="data-block"
                         ng-repeat="(key, actionObject) in ctrl.POLYGON_TOOLS_ACTION">
                      <label ng-class="{'dark-red': ctrl.POLYGON_TOOLS_ACTION.REMOVE.icon == actionObject.icon}">
                        {{ actionObject.text | translate }}
                      </label>
                      <div class="menu">
                        <nv-icon-text-button
                          class="ghost dense"
                          name="{{ ctrl.activeRoute.polygonSelection[key] }}"
                          on-click="ctrl.polygonToolsPerformAction(key, ctrl.activeRoute.polygonSelection[key], ctrl.activeRoute)">
                        </nv-icon-text-button>
                        <nv-icon-button
                          class="ghost dense"
                          name="commons.actions"
                          icon="expand_more"
                          tooltip="false"
                          on-click="ctrl.openPolygonToolsActionMenu($event, key, ctrl.activeRoute)">
                        </nv-icon-button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div layout-padding
                   ng-if="ctrl.activeRouteId">
                <div class="active-route-card">
                  <div class="tag-color"
                       ng-style="ctrl.routeStyling.backgroundColor(ctrl.activeRoute)">
                  </div>

                  <div class="route-content">
                    <div layout="row" layout-align="start center" layout-padding
                         class="header-content">
                      <div flex>
                        <div class="data-blocks data-blocks-horizontal">
                          <div class="data-block">
                            <label>
                              {{ 'commons.route' | translate }}
                            </label>
                            <p>
                              {{ ctrl.activeRouteId }}
                            </p>
                          </div>
                        </div>
                      </div>

                      <nv-icon-button
                        class="dense"
                        name="commons.more"
                        icon="more_vert"
                        on-click="ctrl.openRouteMenu($event, ctrl.activeRoute)">
                      </nv-icon-button>
                    </div>

                    <div layout="row" layout-align="start center" layout-padding
                         class="driver-content">
                      <div flex>
                        <div class="data-blocks data-blocks-horizontal">
                          <div class="data-block">
                            <label>
                              {{ 'commons.driver' | translate }}
                            </label>
                            <div>
                              <nv-autocomplete
                                placeholder="{{ 'commons.search-or-select' | translate }}"
                                delegate-handle="right-pane-select-driver-{{ ctrl.activeRoute.id }}"
                                multiple="false"
                                search-text="ctrl.activeRoute.driverSelection.searchText"
                                hide-search-icon="true"
                                item-types="{{ 'commons.driver' | translate }}"
                                selected-item="ctrl.activeRoute.driverSelection.driver"
                                possible-options="ctrl.driversSelectionOptions">
                              </nv-autocomplete>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div layout="row" layout-align="start center" layout-padding
                         class="waypoint-content">
                      <div flex>
                        <div class="data-blocks data-blocks-horizontal">
                          <div class="data-block">
                            <label>
                              {{ 'commons.waypoints' | translate }}
                            </label>
                            <p>
                              {{ ctrl.activeRoute.priority + ctrl.activeRoute.nonPriority }}
                            </p>
                          </div>
                        </div>
                      </div>

                      <span>{{ 'container.zonal-routing.priority-x-non-priority-y' | translate:{x: ctrl.activeRoute.priority, y: ctrl.activeRoute.nonPriority} }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </md-tab>
        </md-tabs>
      </div>
    </div>

    <div layout="column">
      <div class="divider"></div>
      <div class="route-list-pane">
        <div class="route-tables-holder no-padding">
          <div ng-repeat="route in nvZonalRouting.assignedRoutes"
               class="route-table-holder">
            <div class="active-holder">
              <div class="active-route-indication"
                   ng-if="ctrl.activeRouteId === route.id">
                {{ 'container.zonal-routing.active' | translate }}
              </div>
            </div>

            <div class="route-table"
                 ng-style="ctrl.routeStyling.borderColor(route)">
              <div class="route-header"
                   layout="row" layout-align="start center">
                <div class="header-content flex"
                     ng-click="ctrl.setActiveRoute(route)">
                  {{ 'container.zonal-routing.route-x' | translate:{ x: route.id } }}
                </div>

                <nv-icon-button
                  class="dense"
                  name="commons.delete"
                  icon="close"
                  tooltip-direction="left"
                  on-click="ctrl.deleteRoute($event, route)">
                </nv-icon-button>
              </div>
              <div class="route-content">
                <div layout="column"
                     class="waypoints-statistic-holder">
                  <div>
                    <div class="title">
                      {{ 'container.zonal-routing.x-waypoints' | translate:{ x: route.priority + route.nonPriority } }}
                    </div>
                    <p class="light-black">
                      {{ 'container.zonal-routing.priority-x-non-priority-y' | translate:{ x: route.priority, y: route.nonPriority } }}
                    </p>
                  </div>
                </div>

                <div class="autocomplete-holder"
                     layout="row" layout-align="start center">
                  <span class="driver-label">
                    <small>{{ 'commons.driver' | translate }}</small>
                  </span>
                  <nv-autocomplete
                    flex
                    placeholder="{{ 'commons.search-or-select' | translate }}"
                    delegate-handle="route-list-pane-select-driver-{{ route.id }}"
                    multiple="false"
                    search-text="route.driverSelection.searchText"
                    hide-search-icon="true"
                    item-types="{{ 'commons.driver' | translate }}"
                    selected-item="route.driverSelection.driver"
                    possible-options="ctrl.driversSelectionOptions">
                  </nv-autocomplete>
                </div>

                <md-divider></md-divider>

                <div class="polygon-tools-holder">
                  <div class="data-blocks data-blocks-horizontal">
                    <div class="data-block"
                         ng-repeat="(key, actionObject) in ctrl.POLYGON_TOOLS_ACTION">
                      <label ng-class="{'dark-red': ctrl.POLYGON_TOOLS_ACTION.REMOVE.icon == actionObject.icon}">
                        {{ actionObject.shortText | translate }}
                      </label>
                      <div class="menu">
                        <nv-icon-text-button
                          class="ghost dense"
                          name="{{ route.polygonSelection[key] }}"
                          on-click="ctrl.polygonToolsPerformAction(key, route.polygonSelection[key], route)">
                        </nv-icon-text-button>
                        <nv-icon-button
                          class="ghost dense"
                          name="commons.actions"
                          icon="expand_more"
                          tooltip="false"
                          on-click="ctrl.openPolygonToolsActionMenu($event, key, route)">
                        </nv-icon-button>
                      </div>
                    </div>
                  </div>
                </div>

                <md-divider></md-divider>

                <div class="tools-holder"
                     layout="row" layout-align="start center">
                  <div flex>
                    <nv-icon-text-button
                      class="ghost dense add-nps"
                      name="container.zonal-routing.add-nps"
                      icon="add"
                      show-tool-tip="false"
                      on-click="ctrl.addRelated(route)">
                    </nv-icon-text-button>
                  </div>

                  <nv-icon-text-button
                    class="ghost dense clear-wps"
                    name="container.zonal-routing.clear-wps"
                    icon="delete"
                    show-tool-tip="false"
                    on-click="ctrl.resetRouteMarkers(route)">
                  </nv-icon-text-button>
                </div>

                <md-divider></md-divider>

                <nv-drag-and-drop
                  id="{{ route.id }}"
                  list="route.addedDndLabels"
                  template-with-close-btn="true"
                  disable-splice-on-moved="true"
                  on-drop="ctrl.refreshWaypointOnDrop"
                  on-close="ctrl.dndLabelOnClose(item)"
                  allowed-types="ctrl.waypointsDndAllowedTypes"
                  dropzone="true">
                  <span ng-bind-html="'container.zonal-routing.drag-drop-waypoints-here' | translate"></span>
                </nv-drag-and-drop>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>