.filter-preset-container {

  // nv-input-select styling
  md-input-container {
    margin-right: 1.4rem;
    bottom: -0.5rem;
  }

  md-input-container label:not(.md-no-float):not(.md-container-ignore) {
    transform: translate3d(0, 4px, 0) scale(1)
  }

  md-input-container .md-placeholder {
    opacity: 1;
    top: auto;
  }

  // action button styling
  .nv-button.md-button.ghost span, .nv-button.md-button.ghost i {
    margin-top: 0;
  }
}