<div class="filter-preset-container" flex layout="row">

    <nv-input-select
            label="commons.preset.load-filter-preset"
            placeholder="commons.preset.select-preset"
            flex-gt-sm="20"
            flex="40"
            model-options="{}"
            md-theme="nvGreen"
            options="ctrl.presetOptions"
            searchable="true"
            model="ctrl.selectedPreset"
            on-change="ctrl.loadFilterPreset()">
    </nv-input-select>

    <md-menu>

        <md-button
                class="nv-button ghost"
                aria-label="Action"
                ng-click="$mdOpenMenu($event)">

            <span class="nv-text-ellipsis nv-text-left">{{'commons.preset.preset-actions' | translate}}</span>
            <i class="material-icons">arrow_drop_down</i>

        </md-button>

        <md-menu-content class="actions-holder light">

            <md-menu-item>
                <md-button class="nv-button flat"
                           aria-label="{{'commons.preset.save-current-as-preset' | translate}}"
                           ng-click="ctrl.savePreset($event)">
                    <i class="material-icons">save</i>
                    <p>{{'commons.preset.save-current-as-preset' | translate}}</p>
                </md-button>
            </md-menu-item>

            <md-menu-item ng-if="ctrl.onUpdate && ctrl.selectedPreset">
                <md-button class="nv-button flat"
                           aria-label="{{'commons.preset.update-preset' | translate}}"
                           ng-click="ctrl.updatePreset($event)">
                    <i class="material-icons">update</i>
                    <p>{{'commons.preset.update-preset' | translate}}</p>
                </md-button>
            </md-menu-item>

            <md-menu-item>
                <md-button class="nv-button flat"
                           aria-label="{{'commons.preset.delete-preset' | translate}}"
                           ng-click="ctrl.deletePreset($event)">
                    <i class="material-icons">delete</i>
                    <p>{{'commons.preset.delete-preset' | translate}}</p>
                </md-button>
            </md-menu-item>

        </md-menu-content>

    </md-menu>
</div>