<md-content
  class="nv-container-lat-lng-cleanup"
  layout-padding>
  <div>
    <div class="nv-text-right">
      <nv-icon-text-button
        class="raised"
        icon="mode_edit"
        name="container.lat-lng-cleanup.edit-waypoint-details"
        on-click="ctrl.editWaypointDetails($event)">
      </nv-icon-text-button>
    </div>
  </div>
</md-content>
