<md-dialog class="user-edit" ng-cloak nv-load="ctrl.onLoadPage" aria-label="user-edit-dialog">

  <!--<nv-dialog-header title="Edit User" on-cancel="::ctrl.onCancel($event)"></nv-dialog-header>-->

    <md-toolbar md-theme="nvBlue">
        <div class="md-toolbar-tools md-menu-toolbar" >
            <h1 class="md-title font-light h3" style="color: #fff; font-weight: 300">Edit User</h1>
            <span flex></span>
            <md-button id="button-cancel-dialog" style="color: #fff;" class="cancel-button font-light h5" ng-click="ctrl.onCancel()">
                Discard Changes
                <md-icon style = "color: white" aria-label="Close dialog">
                    close
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>

  <form name="modelForm" ng-submit="::ctrl.onSave()" md-theme="nvBlue">
    <md-dialog-content>
      <div class="md-dialog-content">
          <!--<nv-container-box class="user-details">-->
              <div class="md-block no-margins-bottom" layout="row">
                  <nv-input-text
                          style = "font-size: small"
                          class="md-block small" flex="50"
                          readonly="true"
                          label="{{::ctrl.fields.firstName.displayName}}"
                          model="ctrl.selectedUser.firstName"
                          form="modelForm" required="::true" disabled="::false">
                  </nv-input-text>
                  <nv-input-text
                          class="md-block" flex="50"
                          label="{{::ctrl.fields.lastName.displayName}}"
                          model="ctrl.selectedUser.lastName"
                          readonly="true"
                          form="modelForm" required="::false" disabled="::false">
                  </nv-input-text>
              </div>
              <div class="md-block no-margins-bottom" layout="row">
                  <nv-input-text
                          class="md-block" flex="50"
                          label="{{::ctrl.fields.grantType.displayName}}"
                          model="ctrl.selectedUser.grantType"
                          form="modelForm" required="::true" disabled="::true">
                  </nv-input-text>
                  <nv-input-email
                          class="md-block" flex="50"
                          label="{{::ctrl.fields.email.displayName}}"
                          model="ctrl.selectedUser.emailId"
                          readonly="true"
                          form="modelForm" required="::false" disabled="::false">
                  </nv-input-email>
              </div>
          <!--</nv-container-box>-->

          <nv-container-box label="Additional ID(s)"ng-show="ctrl.ownerInfo.length > 0">
              <div layout="row">
                  <div class="table-container"  style="width: 500px">
                      <table ng-table="ctrl.commentsTableParams" class="table table-condensed">
                          <tr ng-repeat="ownerInfo in ctrl.ownerInfo">
                              <td data-title="ctrl.table.country" class="col-sm-3 col-md-3 col-lg-3">
                                  {{ ::ownerInfo.country }}
                              </td>
                              <td data-title="ctrl.table.appCode" class="col-sm-6 col-md-6 col-lg-6">
                                  {{ ::ownerInfo.appCode }}
                              </td >
                              <td data-title="ctrl.table.appId" class="col-sm-3 col-md-3 col-lg-3">
                                  {{ ::ownerInfo.appUserId }}
                              </td >
                          </tr>
                      </table>
                  </div>
              </div>
          </nv-container-box>
          <div class="md-block no-margins-bottom" layout="row" style="padding-top: 10px" layout-fill >
              <nv-container-box flex="100" >
                  <div class="table-container">
                      <div layout = "row" layout-gt-sm layout-sm layout-md layout-align ="space-between center">
                          <label flex="33" class="table-label">{{ctrl.roleTableData.length}} Role(s) </label>
                          <app-search  flex="33"
                                       nv-focus-first-input
                                       id="field-search-scope"
                                       on-search="ctrl.onRolesSearch(searchText)"
                                       placeholder="Find existing roles">
                          </app-search>
                      </div>
                      <table ng-table="ctrl.countryGroupsTableParams" class="table table-condensed table-striped" ng-show="ctrl.roleTableData.length > 0">
                          <tr ng-repeat="role in ctrl.roleTableData">
                              <td data-title="ctrl.table.serialNo" class="col-sm-2 col-md-2 col-lg-2">
                                  {{ctrl.roleTableData.indexOf(role)+1}}
                              </td >
                              <td data-title="ctrl.table.role" class="col-sm-5 col-md-5 col-lg-5" >
                                  {{ ::role.groupName }}
                              </td>
                              <td data-title="ctrl.table.country" class="col-sm-2 col-md-2 col-lg-2" >
                                  {{ ::role.country }}
                              </td >
                              <td class="col-sm-3 col-md-3 col-lg-3" align ="right">
                                  <md-button class ="p" style="margin: 0;min-height: 2rem;line-height: 1rem;color: lightgrey;text-transform: none;letter-spacing: $letter-spacing-h4;font-weight: $font-weight-h5;min-width: 7rem; padding-top: 0px" ng-click="ctrl.removeGroup(role)">Remove</md-button>
                              </td>
                          </tr>
                      </table>
                  </div>
              </nv-container-box>
          </div>
          <nv-container-box label="Add Role">
              <div layout="row" layout-margin layout-fill layout-padding layout-align="space-between center" >
                  <md-input-container flex = "30">
                      <label>Country Authentication</label>
                      <md-select ng-model="ctrl.selectedCountry" ng-change="ctrl.onChangeCountry(ctrl.selectedCountry)">
                          <!--<md-option><em>None</em></md-option>-->
                          <md-option ng-repeat="country in ctrl.serviceIds" ng-value="country" >
                              {{country}}
                          </md-option>
                      </md-select>
                  </md-input-container>
                  <nv-autocomplete flex="70" required
                                   search-text="ctrl.searchText"
                                   placeholder="Search Role To Add"
                                   icon="search"
                                   delegate-handle="user-edit-roles"
                                   display-by="name"
                                   sort-by="name"
                                   multiple="true">
                  </nv-autocomplete>
              </div>
          </nv-container-box>
      </div>
    </md-dialog-content>
      <div class="nv-p" flex="100" ng-class = "strong-normal" layout="row" layout-align="center center">
          {{ctrl.errorMessage}}
      </div>
    <md-dialog-actions>
     <div layout="row" flex="100" layout-align="space-between center" layout-padding>
          <div layout="row">
              <nv-api-text-button class="nv-hollow nv-margin-auto"  state="'idle'" icon = "power_settings_new" name="{{ctrl.selectedUser.active? 'De-activate' : 'Activate'}}" disabled="ctrl.selectedUser === null" on-click="ctrl.changeStatus($event)"></nv-api-text-button>
              <nv-api-text-button class="nv-hollow nv-margin-auto" style="padding-left: 10px;" state="'idle'" icon = "input" name="Log Out of All Apps" disabled="ctrl.selectedUser === null" on-click="ctrl.forceLogout($event)"></nv-api-text-button>
          </div>
         <div>
            <nv-api-text-button md-theme="nvGreen" button-id="button-update" icon="check" class="raised" style="padding-right: 10px;" state="'idle'" name="Save Changes" disabled="ctrl.selectedUser === null" on-click="ctrl.updateOne()"></nv-api-text-button>
        </div>
     </div>
    </md-dialog-actions>
  </form>
</md-dialog>

