<nv-dialog-header title="{{'container.recovery-tickets.edit-ticket' | translate}}" on-cancel="::ctrl.onCancel($event)" cancel-text="{{'commons.discard-changes' | translate }}"></nv-dialog-header>
<form name="ctrl.modelForm" novalidate class="wide">
    <md-dialog-content
        class="dialog-wide" layout="row"  layout-wrap>
            <div flex="50" class="setting-container">


                <div flex class="border" layout-wrap layout="row" layout-padding>
                    <div flex="100">
                        <h5 class="header">{{"container.recovery-tickets.ticket-settings" | translate}}</h5>
                    </div>
                    <div flex="100" layout="row" layout-wrap layout-padding>
                        <nv-input-text flex="20" label="{{'container.recovery-tickets.ticket-id' | translate}}" readonly="true" form="ctrl.modelForm"
                            model="::ctrl.ticketProps.ticketDetails.id">
                        </nv-input-text>
                        <nv-input-text flex="40" label="{{'container.recovery-tickets.last-instruction' | translate}}" readonly="true" form="ctrl.modelForm"
                            model="::ctrl.ticketProps.ticketNotes.value">
                        </nv-input-text>
                    </div>
                    <div flex="100" layout="row" layout-wrap layout-padding>
                        <nv-input-select 
                            flex="40" 
                            label="{{ctrl.fields.investigatingParty.displayName | translate}}" 
                            model="ctrl.investigatingParty"
                            model-options="{}" 
                            ng-if="ctrl.isFormEnabled"
                            set-default="false"
                            options="ctrl.investigatingParties"
                            form="ctrl.modelForm">
                        </nv-input-select>

                        <nv-input-text
                            readonly="::true"
                            label="{{ctrl.fields.investigatingParty.displayName | translate}}"
                            flex="40"
                            model="ctrl.ticketProps.ticketDetails.investigatingParty"
                            ng-if="!ctrl.isFormEnabled">
                        </nv-input-text>

                        <nv-input-select
                            flex="40" 
                            label="{{ctrl.fields.investigatingHub.displayName | translate}}" 
                            model="ctrl.investigatingHub"
                            model-options="{}"
                            disabled="!ctrl.isFormEnabled"
                            options="ctrl.hubs"
                            set-default="false"
                            form="ctrl.modelForm">
                        </nv-input-select>

                    </div>



                    <div flex="100" layout="row" layout-wrap layout-padding>
                        <nv-input-select disabled='!ctrl.isFormEnabled' flex="33" options="ctrl.ticketProps.ticketStatus.options" model-options="{}" label="container.recovery-tickets.ticket-status"
                            on-change="ctrl.onChangeTicketStatus()"
                            form="ctrl.modelForm" model="ctrl.ticketProps.ticketStatus.value" set-default="false">
                        </nv-input-select>

                        <nv-input-select disabled='!ctrl.isFormEnabled' flex="33" options="ctrl.ticketProps.orderOutcome.options" model-options="{}" label="container.recovery-tickets.order-outcome"
                            required="ctrl.ticketProps.ticketStatus.value == 'RESOLVED'"
                            name="order-outcome"
                            form="ctrl.modelForm" model="ctrl.ticketProps.orderOutcome.value" set-default="false">
                        </nv-input-select>

                        <nv-input-select disabled='!ctrl.isFormEnabled' flex="33" options="ctrl.ticketProps.ticketCommentUser.options" model-options="{}" label="container.recovery-tickets.assign-to"
                            form="ctrl.modelForm" model="ctrl.ticketProps.ticketCommentUser.value" set-default="false">
                        </nv-input-select>
                    </div>
                    <div flex="100" layout="row" layout-wrap layout-padding>
                        <nv-input-text disabled='!ctrl.isFormEnabled' flex="100" label="container.recovery-tickets.enter-new-instruction" help-text="{{'container.recovery-tickets.this-will-replace-the-last-instruction' | translate }}"
                            form="ctrl.modelForm" model="ctrl.ticketProps.newInstructions">
                        </nv-input-text>
                    </div>
                </div>

                <div flex class="border" layout-wrap layout="row" layout-padding>
                    <div flex="100">
                        <h5 class="header">{{"container.recovery-tickets.additional-settings" | translate}}</h5>
                    </div>
                    <div flex="100" layout="row" layout-wrap layout-padding>
                        <nv-input-text readonly="true" label="container.recovery-tickets.recovery-issue" model-options="{}" model="::ctrl.ticketProps.ticketDetails.ticketType"
                            flex="33">
                        </nv-input-text>
                        <nv-input-text disabled='!ctrl.isFormEnabled' flex="33" model="ctrl.ticketProps.custZendeskId.value" model-options="{}" label="container.recovery-tickets.customer-zendesk-id">
                        </nv-input-text>
                        <nv-input-text disabled='!ctrl.isFormEnabled' flex="33" model="ctrl.ticketProps.shipperZendeskId.value" model-options="{}" label="container.recovery-tickets.shipper-zendesk-id">
                        </nv-input-text>
                    </div>
                    <div flex="100" layout="row" layout-wrap layout-padding>
                        <nv-input-text disabled='!ctrl.isFormEnabled' flex="33" label="container.recovery-tickets.tracking-id" model="ctrl.ticketProps.ticketDetails.trackingId"
                            label="container.recovery-tickets.tracking-id">
                        </nv-input-text>

                        <nv-input-text disabled='!ctrl.isFormEnabled' flex="66" label="container.recovery-tickets.ticket-comments" model="ctrl.ticketProps.ticketComment" model-options="{}">
                        </nv-input-text>
                    </div>

                </div>

                <div flex class="border" layout-wrap layout="row" layout-padding layout-padding ng-if="ctrl.ticketProps.customFields && ctrl.ticketProps.customFields.length > 0">
                    <div flex="100">
                        <h5 class="header capitalize-case">{{"container.recovery-tickets.x-details" | translate: {x: ctrl.ticketProps.ticketDetails.ticketType.toLowerCase()}
                            }}</h5>
                    </div>
                    <nv-custom-field-gen field="field" model-name="ctrl.ticketProps.customFields[{{$index}}].value" flex="100" class="md-block"
                        form="ctrl.modelForm" ng-repeat="field in ctrl.ticketProps.customFields">
                    </nv-custom-field-gen>
                </div>
            </div>
            <div flex="50" layout="row" class="ticket-info-container recovery-scrollable" layout-wrap>                
                <div layout="row" flex="100" layout-wrap class="info-container border">
                    <div flex="100" layout="row" layout-wrap>
                        <md-input-container class="nv-p breakable" flex="33">
                            <span class="label">{{"container.recovery-tickets.tracking-id" | translate }}</span>
                            <p>{{::ctrl.ticketProps.ticketDetails.trackingId}}</p>
                        </md-input-container>

                        <md-input-container class="nv-p breakable" flex="33">
                            <span class="label">{{"container.recovery-tickets.shipper" | translate }}</span>
                            <p>{{::ctrl.ticketProps.orderDetails.shipper}}</p>
                        </md-input-container>

                        <md-input-container class="nv-p breakable" flex="33">
                            <span class="label">{{"container.recovery-tickets.entry-source" | translate }}</span>
                            <p>{{::ctrl.ticketProps.ticketDetails.sourceOfEntry}}</p>
                        </md-input-container>
                    </div>
                    <div flex="100" layout="row" layout-wrap>
                        <md-input-container class="nv-p breakable" flex="50">
                            <span class="label">{{"container.recovery-tickets.related-tickets" | translate}}</span>
                            <p>
                                <a href="javascript:;" ng-click="ctrl.openOtherTicket(ticket)" ng-repeat="ticket in ctrl.anotherTicket">
                                    {{ticket.id}}
                                    {{!$last ? ', ': ''}}
                                </a>
                            </p>
                            <p ng-if="ctrl.anotherTicket.length === 0">
                                -
                            </p>
                        </md-input-container>
                    </div>

                    <div flex="100" layout="row" layout-wrap>
                        <md-input-container class="nv-p breakable" flex="33">
                            <span class="label">{{"container.recovery-tickets.ticket-type-sub-type" | translate }}</span>
                            <p>{{::ctrl.ticketProps.ticketDetails.ticketType}}</p>
                            <p>{{::ctrl.ticketProps.ticketDetails.subTicketType}}</p>
                        </md-input-container>

                        <md-input-container class="nv-p breakable" flex="33">
                            <span class="label">{{"container.recovery-tickets.ticket-creator" | translate }}</span>
                            <p>{{::ctrl.ticketProps.ticketDetails.creatorUserId}}</p>
                        </md-input-container>
                    </div>

                    <div flex="100" layout="row" layout-wrap>
                        <md-input-container class="nv-p breakable" flex="33">
                            <span class="label">{{"commons.model.last-scan-type" | translate }}</span>
                            <p>{{::ctrl.ticketProps.orderDetails.last_scan_type}}</p>
                        </md-input-container>

                        <md-input-container class="nv-p breakable" flex="33">
                            <span class="label">{{"container.recovery-tickets.last-hub-name" | translate}}</span>
                            <p>{{::ctrl.ticketProps.orderDetails.last_hub_name}}</p>
                        </md-input-container>

                        <md-input-container class="nv-p breakable" flex="33">
                            <span class="label">{{"container.recovery-tickets.last-scan-time" | translate}}</span>
                            <p ng-show="ctrl.ticketProps.orderDetails._momentLast_scan_time && ctrl.ticketProps.orderDetails._momentLast_scan_time._isValid">{{ctrl.ticketProps.orderDetails._momentLast_scan_time | nvTime:'operator':'datetime'}}</p>
                        </md-input-container>
                    </div>

                    <div flex="100" layout="row" layout-wrap>
                        <md-input-container class="nv-p breakable" flex="33">
                            <span class="label">{{"commons.model.route-id" | translate}}</span>
                            <p>{{::ctrl.ticketProps.orderDetails.latest_route_id}}</p>
                        </md-input-container>

                        <md-input-container class="nv-p breakable" flex="33">
                            <span class="label">{{"container.recovery-tickets.route-date" | translate}}</span>
                            <p>{{::ctrl.ticketProps.orderDetails.latest_route_date}}</p>
                        </md-input-container>

                        <md-input-container class="nv-p breakable" flex="33">
                            <span class="label">{{"commons.driver-name" | translate}}</span>
                            <p>{{::ctrl.ticketProps.orderDetails.route_driver}}</p>
                        </md-input-container>
                    </div>

                    <div flex="100" layout="row" layout-wrap>
                        <md-input-container class="nv-p breakable" flex="33">
                            <span class="label">{{"container.recovery-tickets.order-status" | translate}}</span>
                            <p>{{::ctrl.ticketProps.orderDetails.status}}</p>
                        </md-input-container>

                        <md-input-container class="nv-p breakable" flex="33">
                            <span class="label">{{"container.recovery-tickets.order-granular" | translate}}</span>
                            <p>{{::ctrl.ticketProps.orderDetails.granular_status}}</p>
                        </md-input-container>

                        <md-input-container class="nv-p breakable" flex="33">
                            <span class="label">{{"container.recovery-tickets.tracking-id-comments" | translate}}</span>
                            <p>{{::ctrl.ticketProps.orderDetails.tracking_id_comments}}</p>
                        </md-input-container>
                    </div>

                </div>

                <div layout="row" flex="100" layout-wrap class="ticket-images-container border">
                    <div flex="100" layout="row" layout-wrap layout-align="space-between none">
                        <h5>{{'container.recovery-tickets.attach-images' | translate }}</h5>
                        <div layout="row" class="image-tool-container">
                            <nv-icon-text-button
                                label="container.recovery-tickets.attach"
                                name="container.recovery-tickets.attach"
                                disabled='!ctrl.isFormEnabled'
                                on-click="ctrl.openUploadDialog($event)"                        
                                class="dense raised"
                                icon="attach_file"
                                md-theme="nvBlue">
                            </nv-icon-text-button>
                            <nv-icon-text-button
                                label="container.recovery-tickets.take-photo"
                                name="container.recovery-tickets.take-photo"
                                disabled='!ctrl.isFormEnabled'
                                on-click="ctrl.openTakePhotoDialog($event)"                        
                                class="dense raised"
                                icon="camera"
                                md-theme="nvBlue">
                            </nv-icon-text-button>    
                        </div>                        
                    </div>
                    
                    <div flex="100" layout="row" layout-wrap layout-padding>
                        <nv-selectable-image
                            ng-repeat="photo in ctrl.ticketImages"
                            source="{{ photo.photo_url }}"
                            thumbnail="{{ photo.thumbnail_url }}"
                            title="{{ photo.file_name }}"
                            id="photo.id"
                            flex="20"
                            showcheckbox="::false"
                            showdelete="ctrl.isFormEnabled"
                            ondelete="ctrl.onDeleteImage(photo.id)">
                        </nv-selectable-image>
                    </div>
                </div>

                <div layout="row" flex="100" class="updates-container border" layout-wrap layout-padding>
                    <div flex="100" layout="row" layout-wrap layout-align="none center">
                        <h5 flex class="header">{{'container.recovery-tickets.updates' | translate }}</h5>
                        <nv-input-select flex="30" label="commons.select" options="ctrl.updateTypes" model-options="{}" model="ctrl.updateType" on-close="ctrl.changeCommentsFilter()">
                        </nv-input-select>
                    </div>
                    <div flex="100">
                        <table class="table comment-table">
                            <thead>
                                <tr>
                                    <th class="date">
                                        {{ "container.recovery-tickets.date-time" | translate}}
                                    </th>
                                    <th class="user">
                                        {{"container.recovery-tickets.user" | translate}}
                                    </th>
                                    <th class="comments">
                                        {{"container.recovery-tickets.changes-comments" | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="comments in ctrl.ticketProps.comments">
                                    <td data-title="'Date/Time'" class="date">
                                        {{ ::comments.timestamp | date : 'yyyy-MM-dd HH:mm:ss'}}
                                    </td>
            
                                    <td data-title="'User'" class="user">
                                        {{ ::comments.user }}
                                    </td>
                                    <td data-title="'Changes/Comments'" class="comments">
                                        <span ng-if="comments.type=='comments'">&#x25b8;</span>
                                        <span ng-if="comments.type=='log'">&#x25cf;</span> {{ ::comments.action || comments.log}}
                                    </td>
                                </tr>
                                <tr ng-if="ctrl.ticketProps.comments.length === 0">
                                    <td colspan="3">
                                       {{"container.recovery-tickets.no-data" | translate}}
                                    </td>
                                </tr>
                            </tbody>                                                        
                        </table>
                    </div>
                </div>
            </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between center">
        <nv-api-text-button  disabled="ctrl.ticketStatusRef === 'RESOLVED' || ctrl.ticketStatusRef === 'CANCELLED' " class="ghost" md-theme="nvGreen" aria-label="cancel ticket" on-click="ctrl.onCancelTicket($event,ctrl.tickets)"
            name="{{'container.recovery-tickets.cancel-ticket' | translate}}" id="cancelButton" form="ctrl.modelForm" state="ctrl.cancelState"
            icon="close">
        </nv-api-text-button>

        <nv-api-text-button  disabled='!ctrl.isFormEnabled' icon="done" class="raised" md-theme="nvGreen" aria-label="Update Tickets" on-click="ctrl.onEdit($event)"
            name="{{'container.recovery-tickets.update-ticket' | translate }}" id="updateButton" form="ctrl.modelForm" state="ctrl.state">
        </nv-api-text-button>
    </md-dialog-actions>
</form>
<div class="loading-sheet" ng-if="ctrl.loadingSheet === true" layout layout-align="center center">
    <md-progress-circular md-theme="nvBlue" class="md-primary" md-mode="indeterminate" md-diameter="64px"></md-progress-circular>
</div>