@import "../../../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../../../styles/variables";

md-dialog.order-find-by-csv {
  .upload-button-holder {
    text-align: center;

    > span {
      margin-right: $nv-baseline-grid;

      &.nv-text-red {
        @include nv-font-color(dark-red);
      }
    }

    nv-button-file-picker, nv-icon-text-button {
      display: inline-block;
      vertical-align: middle;
    }
  }
}