<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <h2 class="md-title">
        {{ 'container.zonal-routing.delete-routes' | translate }}
      </h2>

      <div>
        {{ 'container.zonal-routing.delete-routes-description' | translate }}
      </div>

      <nv-label-small
        label="commons.routes">
      </nv-label-small>

      <div class="table-container" ng-if="ctrl.routesTableParams && !ctrl.routesTableParams.empty">
        <nv-table
          param="ctrl.routesTableParams"
          selectable="true"
          controller-as="ctrl">
          <nv-table-row
            use-virtual-repeat='false'
            use="route">
            <nv-td column="routeName" filter="false">
              {{ route.routeName }}
            </nv-td>
            <nv-td column="driverName" filter="false">
              <span ng-if="route.driverName">
                {{ route.driverName }}
              </span>
              <span ng-if="!route.driverName"
                    class="dark-red">
                {{ 'container.zonal-routing.unassigned' | translate }}
              </span>
            </nv-td>
            <nv-td column="capacity" filter="false">
              {{ route.capacity }}
            </nv-td>
          </nv-table-row>
        </nv-table>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        name="commons.go-back"
        on-click="ctrl.onCancel()">
      </nv-icon-text-button>

      <nv-icon-text-button
        class="flat"
        name="container.zonal-routing.delete-routes"
        disabled="ctrl.isDeleteButtonDisabled()"
        on-click="ctrl.deleteRoutes()">
      </nv-icon-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>