@import "../../lib/ninja-commons/styles/variables";
@import "../../lib/ninja-commons/styles/mixins/button.mixins";

app-side-nav-driver-messaging {

  $transition-duration: 400ms;

  md-sidenav {

    width: 40rem;
    max-width: 40rem;

    > md-content, > md-content > md-tabs {
      height: 100%;
    }

    > md-content > md-tabs {
      border-radius: 0;
      border-top: 0.2rem solid $nv-dark2;
      border-left: 0.2rem solid $nv-dark2;
    }

    md-tabs-wrapper {
      background-color: $nv-dark2;

      .md-tab {
        color: $nv-tb05;
        text-transform: capitalize;

        &.md-active {
          color: $nv-alternate-blue;
        }
      }

      md-ink-bar {
        height: 0.4rem;
        color: $nv-alternate-blue;
        background: $nv-alternate-blue;
      }
    }

    .compose-recipients,
    .history {
      color: $nv-tb05;
    }

    .title {
      margin: auto;
      line-height: 2rem;
      color: $nv-tb05;
    }

    nv-button-working > .nv-button.md-button {
      min-width: 10rem;
      height: 2.8rem;
      min-height: 2.8rem;
      line-height: 2.8rem;
      color: $nv-tb86;
      background-color: $nv-dark4;

      &:not(:disabled) {
        background-color: $nv-alternate-green;
      }

      .working md-progress-circular .md-inner .md-gap {
        border-top-color: $nv-alternate-blue;
        border-bottom-color: $nv-alternate-blue;
      }

      .working md-progress-circular .md-inner .md-left .md-half-circle {
        border-left-color: $nv-alternate-blue;
      }

      .working md-progress-circular .md-inner .md-right .md-half-circle {
        border-right-color: $nv-alternate-blue;
      }

      .working md-progress-circular .md-inner .md-left .md-half-circle,
      .working md-progress-circular .md-inner .md-right .md-half-circle {
        border-top-color: $nv-alternate-blue;
      }

      .success md-icon {
        color: $nv-alternate-green;
      }

      .failure md-icon {
        color: $nv-alternate-red;
      }
    }

    .compose-clear-all-button {
      min-width: 6.5rem;
      height: 2.8rem;
      min-height: 2.8rem;
      line-height: 2.8rem;
      margin: 0;
      text-transform: capitalize;
      color: $nv-tb86;
      background-color: $nv-dark4;

      &:hover {
        background-color: lighten($nv-dark4, 10%);
      }
    }

    .compose-recipients {
      background-color: $nv-dark3;

      .compose-recipients-title-container {
        margin: 1rem;
      }

      .compose-lists {
        margin: 0.6rem 0.6rem 1rem;

        .compose-list {
          border: 0.1rem solid $nv-dark4;
          border-radius: 0.2rem;
          height: 20rem;
          overflow: auto;

          &:first-child {
            margin-right: 0.6rem;
          }

          &[nv-load] .loading {
            margin-top: 4.5rem;
          }

          &[nv-load] .error {
            margin-top: 2rem;
            text-align: center;
          }

          &[nv-load] .loaded {
            height: 100%;
          }
        }
      }
    }

    .compose-message {
      border-top: 0.1rem solid $nv-dark4;

      .compose-message-title-container {
        padding: 1.2rem;
        background-color: $nv-dark3;

        .high-priority-checkbox {
          margin: 0.8rem 0 0.5rem 0;

          .md-label {
            line-height: 2rem;
            font-size: 1.3rem;
          }

          md-checkbox          { color: $nv-tb32;        }
          md-checkbox .md-icon { border-color: $nv-tb32; }

          md-checkbox.md-checked                { color: $nv-normal-orange;            }
          md-checkbox.md-checked .md-icon       { background-color: $nv-normal-orange; }
          md-checkbox.md-checked .md-icon:after { border-color: $nv-dark0;             }
        }
      }

      .compose-message-container {
        padding: 0 1.2rem;
        font-size: $font-size-p;

        textarea {
          border-bottom: none;
        }

        .md-errors-spacer {
          position: absolute;
          top: -1.8rem;
          right: 0.2rem;
        }
      }
    }

    .history {
      background-color: $nv-dark3;

      .history-title-container {
        padding-left: 1.5rem;
        padding-right: 1.4rem;
        padding-top: 1rem;
        width: 100%;

        .refresh md-icon .material-icons {
          color: $nv-light2;
        }
        .refresh md-icon:focus {
          outline: none;
        }
      }

      .red-font {
        color : red;
        font-weight: bold;
      }

      .green-font {
        color : green;
        font-weight: bold;
      }

      .search-message-container {

        width: 100%;
        margin: 0.5rem;
        padding-bottom: 1rem;
        padding-right: 1rem;

        md-icon {
          color: $nv-light4;
        }

        input {
          color: $nv-light4;
          border-color: $nv-light4;
        }

        md-input-container:not(.md-input-invalid).md-input-focused .md-input {
          border-color: $nv-light2;
          color: $nv-light2;
        }

        md-input-container:not(.md-input-invalid).md-input-focused md-icon {
          border-color: $nv-light2;
          color: $nv-light2;
        }
      }

      .messages-list-header {
        background-color: $nv-dark3;
        color: $nv-tb05;
        padding: 0.5rem;

        .priority-header {
          padding-left: 0.8rem;
        }
      }

      .messages-pagination{

        md-menu {
          width: 100%;
          padding: 0;

          .message-detail-button {
            width: 100%;
            height: 100%;
            padding: 0;
            background: transparent;
            border: none;
            color: $nv-text-black;
            text-align: inherit;

            .message {
              width: 100%;
              max-height: 3rem;

              .sent-time {
                font-size: 1.1rem;
                margin-left: 0.5rem;
              }

              .priority md-icon .material-icons {
                font-size: 16px;
                vertical-align: top;
              }

              .text {
                font-size: 1.1rem;
              }
            }
          }

          .message-detail-button:focus {
            background-color: #eaf4f9;
            outline: none;
          }

        }
      }
    }

  }

}

.receipt-container {
  width: 30rem;
  min-height: 30rem;

  .recipient-title {
    color: $nv-tb59;
    font-size: 13px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .recipient-header {
    color: $nv-tb32;
    margin-bottom: 0.5rem;
  }

  .recipients-list-container {
    max-height: 12rem;
    overflow: scroll;

    .recipients-container:nth-of-type(even) {
      background-color: $nv-tb05;
    }

    .recipients-container:nth-of-type(odd) {
      background-color: $nv-light0;
    }

    .recipients-container {
      min-height: 2rem;
      overflow: hidden;

      .seen {
        md-icon {
          margin: 0;

          .material-icons {
            font-size: 1.6rem;
          }
        }
      }
    }
  }

  .recipients-message-divider {
    margin-top: 1rem;
  }

  .message-title-container {

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    .message-title {
      color: $nv-tb59;
      font-size: 13px;
    }

    .priority {

      md-icon {
        width: 1.4rem;

        .material-icons {
          font-size: 1.4rem;
        }
      }

      .priority-label {
        color: $nv-tb32;
      }
    }
  }

  .message-message {
    line-height: 1.5;
    font-size: 1.1rem;
    max-height: 15rem;
    overflow: scroll;
  }
}
