<md-sidenav
    class="md-sidenav-right md-whiteframe-z2" flex
    md-component-id="sidenav-driver-messaging"
    md-is-locked-open="false">

  <md-content ng-if="ctrl.isSideNavOpen">
    <md-tabs>

      <md-tab label="{{'container.side-nav-driver-msg.compose' | translate}}">

        <md-content class="compose-recipients">

          <div class="compose-recipients-title-container" layout="row">
            <p class="title" flex>{{'container.side-nav-driver-msg.recipients' | translate}}</p>
            <div flex="none"><md-button class="compose-clear-all-button" ng-click="ctrl.onClearAll()">{{'commons.clear-all' | translate}}</md-button></div>
          </div>

          <div class="compose-lists" layout="row">

            <div flex="50" class="compose-list" nv-load="ctrl.loadingPromise"
                 loading-message="{{'commons.load-driver-types' | translate}}">
              <nv-autocomplete-list-with-x
                  search-text="ctrl.recipients.driverTypes.searchText"
                  possible-options="ctrl.recipients.driverTypes.possibleOptions"
                  selected-options="ctrl.recipients.driverTypes.selectedOptions"
                  on-append-one="ctrl.recipients.driverTypes.onAppendOneFn(item)"
                  on-remove-one="ctrl.recipients.driverTypes.onRemoveOneFn(item)"
                  on-unload-all="ctrl.recipients.driverTypes.onUnloadAllFn(items)"
                  placeholder="{{'container.side-nav-driver-msg.add-group' | translate}}">
              </nv-autocomplete-list-with-x>
            </div>

            <div flex="50" class="compose-list" nv-load="ctrl.loadingPromise"
                 loading-message="{{'commons.load-drivers' | translate}}">
              <nv-autocomplete-list-with-checkbox
                  search-text="ctrl.recipients.drivers.searchText"
                  possible-options="ctrl.recipients.drivers.possibleOptions"
                  selected-options="ctrl.recipients.drivers.selectedOptions"
                  on-append-one="ctrl.recipients.drivers.onAppendOneFn(item)"
                  placeholder="{{'container.side-nav-driver-msg.add-driver' | translate}}">
              </nv-autocomplete-list-with-checkbox>
            </div>

          </div>

        </md-content>

        <md-content class="compose-message">

          <div class="compose-message-title-container" layout="column">
            <div layout="row">
              <p class="title" flex>{{'commons.message' | translate}}</p>
              <div flex="none">
                <nv-button-working
                  name-default="{{'container.side-nav-driver-msg.send' | translate}}"
                  name-working="{{'container.side-nav-driver-msg.send-working' | translate}}"
                  name-success="{{'container.side-nav-driver-msg.send-success' | translate}}"
                  name-failure="{{'container.side-nav-driver-msg.send-failure' | translate}}"
                  state="ctrl.sendState"
                  on-click="::ctrl.onSend()"
                  is-disabled="ctrl.isSendDisabled()">
                </nv-button-working>
              </div>
            </div>

            <nv-input-checkbox
                class="nv-text-no-select high-priority-checkbox"
                label="{{'container.side-nav-driver-msg.priority-message' | translate}}"
                model="ctrl.isHighPriorityMessage">
            </nv-input-checkbox>
          </div>

          <md-input-container class="md-block compose-message-container" md-no-float>
            <textarea
              placeholder="{{'container.side-nav-driver-msg.input-description' | translate}}"
              aria-label="Message"
              md-maxlength="1000"
              ng-model="ctrl.message">
            </textarea>
          </md-input-container>

        </md-content>

      </md-tab>

      <md-tab label="{{'container.side-nav-driver-msg.history' | translate}}">

        <md-content class="history">

            <div class="history-title-container" layout="row">
              <p class="title" flex>{{ctrl.messages.numFilteredItems}} Messages Found</p>
                <div flex="none" class="refresh">
                    <md-icon class="md-primary" ng-click="ctrl.refreshMessage()">
                        <i class="material-icons">refresh</i>
                    </md-icon>
                </div>
            </div>

            <app-search-with-x
                    class="search-message-container"
                    nv-focus-first-input
                    on-search="ctrl.filterMessage(searchText)"
                    placeholder="{{'container.side-nav-driver-msg.search-messages' | translate}}">
            </app-search-with-x>

            <div class="messages-list-header" layout="row">
                <div class="sent-time-header" flex="20">
                    {{ctrl.messageHistoryHeader.sentTime}}
                </div>
                <div class="priority-header" flex="10">
                    {{ctrl.messageHistoryHeader.priority}}
                </div>
                <div class="text-header" flex="55">
                    {{ctrl.messageHistoryHeader.text}}
                </div>
                <div class="seen-no-header" flex="15" layout="column" layout-align="center center">
                    {{ctrl.messageHistoryHeader.seenNo}}
                </div>
            </div>

            <nv-pagination class="messages-pagination"
                           collection="ctrl.messages"
                           on-refresh-collection="ctrl.refreshMessage"
                           on-fetch-page-promise="ctrl.onFetchPagePromise"
                           on-get-item="ctrl.onGetItem"
                           on-click-item="ctrl.onSearchReceipts"
                           post-click-item="ctrl.receiptsList">

                <md-menu md-position-mode="target-right target" md-offset="-7 4">
                    <button class="message-detail-button" ng-click="onClickItem($mdOpenMenu, $event, item)">
                        <div class="message" layout="row" flex>
                            <!-- dummy element as the origin of the menu target -->
                            <div flex="0" md-menu-origin></div>
                            <div class="sent-time" flex="20">
                                {{item.sentTime}}
                            </div>
                            <div class="priority" flex="10">
                                <md-icon ng-if="item.priority" md-theme="nvYellow" class="md-primary">
                                    <i class="material-icons">priority_high</i>
                                </md-icon>
                            </div>
                            <div class="text nv-text-ellipsis" flex="55">
                                {{item.message}}
                            </div>
                            <div class="seenNo" flex="15" layout="column" layout-align="center center"
                                 ng-class="(item.readCount == item.sentCount) ? 'green-font' : 'red-font'">
                                {{item.readCount}}/{{item.sentCount}}
                            </div>
                        </div>
                    </button>
                    <md-menu-content width="4" class="receipt-container">
                        <md-menu-item>
                            <div layout="column" flex>
                                <div class="recipient-title" layout="row" flex layout-align="start center">{{'container.side-nav-driver-msg.recipients' | translate}}</div>
                                <div class="recipient-header" layout="row" flex>
                                    <div class="recipient-driver-header" flex="80">{{'container.side-nav-driver-msg.driver' | translate}}</div>
                                    <div class="recipient-seen-header" flex="20" layout="row" layout-align="end">{{'container.side-nav-driver-msg.seen' | translate}}</div>
                                </div>
                                <div class="recipients-list-container">
                                    <div layout="row" layout-align="start center" class="recipients-container" flex
                                         ng-repeat="receipt in postClickItem">
                                        <div class="driver-name" flex="80">{{receipt.driverName}}</div>
                                        <div class="seen" flex="20" ng-if="receipt.readTime" layout="row" layout-align="end">
                                            <md-icon md-theme="nvGreen" class="md-primary">
                                                <i class="material-icons">done_all</i>
                                            </md-icon>
                                        </div>
                                    </div>
                                </div>
                                <md-divider class="recipients-message-divider"></md-divider>
                                <div class="message-title-container" layout="row" flex>
                                    <div flex layout="row" layout-align="start end" class="message-title">{{'commons.message' | translate}}</div>
                                    <div layout="row" layout-align="end end" class="priority" ng-if="item.priority">
                                        <div class="priority-icon">
                                            <md-icon md-theme="nvYellow" class="md-primary">
                                                <i class="material-icons">priority_high</i>
                                            </md-icon>
                                        </div>
                                        <div class="priority-label">{{'container.side-nav-driver-msg.high-priority' | translate}}</div>
                                    </div>
                                </div>
                                <div class="message-message">{{item.message}}</div>
                            </div>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </nv-pagination>

        </md-content>

      </md-tab>

    </md-tabs>
  </md-content>

</md-sidenav>
