<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <h2 class="md-title">{{ 'container.order.edit.cancel-rts' | translate }}</h2>
      <div>
        {{ 'container.order.edit.cancel-rts-confirmation-text' | translate }}
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        name="commons.go-back"
        on-click="ctrl.onCancel()">
      </nv-icon-text-button>
      <nv-api-text-button
        md-theme="nvRed"
        class="flat"
        state="ctrl.formSubmitState"
        name="container.order.edit.cancel-rts"
        on-click="ctrl.onSave()">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>