@import "../../../lib/ninja-commons/styles/variables";
@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../lib/ninja-commons/styles/mixins/media-query.mixins";
@import "../../../lib/ninja-commons/styles/mixins/table.mixins";

.nv-container-driver-type-management {

  @include nv-card-no-margin;
  @include nv-card-filter;

  .filter.delivery-type,
  .filter.reservation-size {
    width: 59%;
  }

  .filter.priority-level,
  .filter.parcel-size {
    width: 39%;
  }

  .filter.timeslot {
    width: 99%;
  }

  @include nv-media-query-xs-max {
    .filter.delivery-type,
    .filter.reservation-size,
    .filter.priority-level,
    .filter.parcel-size {
      width: 99%;
    }
  }

  .filter.delivery-type .filter-buttons-container button {
    width: 32%;

    &:nth-child(2) {
      margin-left: 1%;
      margin-right: 1%;
    }
  }

  .filter.priority-level .filter-buttons-container button {
    width: 49%;
  }

  .filter.reservation-size .filter-buttons-container button {
    width: 32%;

    &:nth-child(2),
    &:nth-child(5) {
      margin-left: 1%;
      margin-right: 1%;
    }
  }

  .filter.timeslot .filter-buttons-container button {
    width: 16%;

    &:not(:first-child) {
      margin-left: 0.3%;
    }

    &:not(:last-child) {
      margin-right: 0.3%;
    }

    @include nv-media-query-xs-max {
      width: 32%;

      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(6) {
        margin-left: 0.5%;
        margin-right: 0.5%;
      }

      &:nth-child(2),
      &:nth-child(5) {
        margin-left: 1%;
        margin-right: 1%;
      }
    }
  }

  .filter.parcel-size .filter-buttons-container button {
    width: 24%;
  }

  md-card:last-child {
    top: 65.4rem;

    @include nv-media-query-sm-min {
      top: 41.6rem;
    }

    @include nv-media-query-md-min {
      top: 42.1rem;
    }

    @include nv-media-query-lg-min {
      top: 42.6rem;
    }

    @include nv-media-query-xl-min {
      top: 43.1rem;
    }
  }

  .hidden md-card:first-child md-card-content {
    display: none;
  }

  .hidden md-card:last-child {
    top: 7.2rem;

    @include nv-media-query-md-min {
      top: 7.7rem;
    }

    @include nv-media-query-lg-min {
      top: 8.2rem;
    }

    @include nv-media-query-xl-min {
      top: 8.7rem;
    }
  }

  md-card-content .none-available {
    margin: 0.8rem 1rem;
  }

  md-card-title :nth-child(n+2) {
    margin-left: 0.7rem;
  }

  @include nv-table-with-locked-right-columns(7.5rem);
  @include nv-table-square-hollow-buttons(3rem, actions);

  .table-with-locks-container {
    top: 4.4rem;
  }

  th.id,
  td.id {
    width: 4.5rem;
    min-width: 4.5rem;
  }

  th.name,
  td.name {
    width: 25rem;
    min-width: 25rem;
  }

  th.delivery-type,
  td.delivery-type {
    width: 16rem;
    min-width: 16rem;
  }

  th.priority-level,
  td.priority-level {
    width: 12rem;
    min-width: 12rem;
  }

  th.reservation-size,
  td.reservation-size {
    width: 30rem;
    min-width: 30rem;
  }

  th.parcel-size,
  td.parcel-size {
    width: 10rem;
    min-width: 10rem;
  }

  th.timeslot,
  td.timeslot {
    width: 12rem;
    min-width: 12rem;
  }

  th.actions,
  td.actions {
    text-align: center;
  }

  .table-with-locks-container table td.actions {
    line-height: 0;
    padding: 1rem 0.5rem;
  }

}
