<md-content
  class="nv-container-driver-type-management"
  nv-load="ctrl.searchAll" loading-message="{{'commons.load-driver-types' | translate}}">

  <div ng-class="{'hidden': ctrl.isHidden}">

    <md-card>

      <md-card-title layout="row" layout-align="space-between center">

        <md-card-title-text>
          <span class="md-headline">{{'commons.filters' | translate}}</span>
        </md-card-title-text>

        <nv-icon-toggle-button
          md-theme="nvYellow"
          class="raised show-hide-button"
          state="ctrl.isHidden"
          icon-active="expand_more"
          icon-inactive="expand_less"
          text-active="commons.show-filters"
          text-inactive="commons.hide-filters">
        </nv-icon-toggle-button>

        <nv-create-button
          name="{{'container.driver-type-management.create-driver-type' | translate}}"
          on-click="::ctrl.createOne($event)">
        </nv-create-button>

        <nv-download-csv-button
          md-theme="nvBlue"
          data="ctrl.driverTypeProps"
          csv-header="['Id', 'Name', 'Delivery Type', 'Priority Level', 'Reservation Size', 'Parcel Size']"
          csv-column-order="['id', 'name', '_conditions.0', '_conditions.1', '_conditions.2', '_conditions.3']"
          filename="driver-types.csv">
        </nv-download-csv-button>

      </md-card-title>

      <md-card-content>

        <app-filter
          class="delivery-type"
          main-title="{{'container.driver-type-management.delivery-type' | translate}}"
          option-title-0="{{'container.driver-type-management.delivery-type-0' | translate}}"
          option-title-1="{{'container.driver-type-management.delivery-type-1' | translate}}"
          option-title-2="{{'container.driver-type-management.delivery-type-2' | translate}}"
          model="ctrl.filters.conditions[0]">
        </app-filter>

        <app-filter
          class="priority-level"
          main-title="{{'container.driver-type-management.priority-level' | translate}}"
          option-title-0="{{'container.driver-type-management.priority' | translate}}"
          option-title-1="{{'container.driver-type-management.non-priority' | translate}}"
          model="ctrl.filters.conditions[1]">
        </app-filter>

        <app-filter
          class="reservation-size"
          main-title="{{'container.driver-type-management.reservation-size' | translate}}"
          option-title-0="{{'container.driver-type-management.reservation-size-0' | translate}}"
          option-title-1="{{'container.driver-type-management.reservation-size-1' | translate}}"
          option-title-2="{{'container.driver-type-management.reservation-size-2' | translate}}"
          option-title-3="{{'container.driver-type-management.reservation-size-3' | translate}}"
          option-title-4="{{'container.driver-type-management.reservation-size-4' | translate}}"
          option-title-5="{{'container.driver-type-management.reservation-size-5' | translate}}"
          model="ctrl.filters.conditions[2]">
        </app-filter>

        <app-filter
          class="parcel-size"
          main-title="{{'container.driver-type-management.parcel-size' | translate}}"
          option-title-0="{{'container.driver-type-management.small' | translate}}"
          option-title-1="{{'container.driver-type-management.medium' | translate}}"
          option-title-2="{{'container.driver-type-management.large' | translate}}"
          option-title-3="{{'container.driver-type-management.extra-large' | translate}}"
          model="ctrl.filters.conditions[3]">
        </app-filter>

        <app-filter
          class="timeslot"
          main-title="{{'container.driver-type-management.timeslot' | translate}}"
          option-title-0="{{'container.driver-type-management.timeslot-0' | translate}}"
          option-title-1="{{'container.driver-type-management.timeslot-1' | translate}}"
          option-title-2="{{'container.driver-type-management.timeslot-2' | translate}}"
          option-title-3="{{'container.driver-type-management.timeslot-3' | translate}}"
          option-title-4="{{'container.driver-type-management.timeslot-4' | translate}}"
          option-title-5="{{'container.driver-type-management.timeslot-5' | translate}}"
          model="ctrl.filters.conditions[4]">
        </app-filter>

      </md-card-content>

    </md-card>

    <md-card>

      <md-card-content class="nv-padding-none">

        <app-search-with-count
          nv-focus-first-input
          ng-if="ctrl.driverTypeProps.length > 0"
          on-search="::ctrl.filterAll(searchText)"
          count="ctrl.tableData.length"
          when="{'1': '1 Driver Type Shown', 'other': '{} Driver Types Shown'}"
          placeholder="{{'container.driver-type-management.search-driver-types' | translate}}">
        </app-search-with-count>

        <div class="table-with-locks-container" ng-if="ctrl.driverTypeProps.length > 0">

          <div class="table-head-container">
            <table class="table-head nv-text-no-select">
              <thead>
              <tr>

                <th class="id"
                    ng-class="{'active': ctrl.isSortActive('byId')}"
                    ng-click="::ctrl.sort('byId')">
                  <i class="fa" ng-class="ctrl.showSortIcon('byId')"></i><span>{{'commons.id' | translate}}</span>
                </th>

                <th class="name"
                    ng-class="{'active': ctrl.isSortActive('byName')}"
                    ng-click="::ctrl.sort('byName')">
                  <i class="fa" ng-class="ctrl.showSortIcon('byName')"></i><span>{{'commons.name' | translate}}</span>
                </th>

                <th class="delivery-type"
                    ng-class="{'active': ctrl.isSortActive('byDeliveryType')}"
                    ng-click="::ctrl.sort('byDeliveryType')">
                  <i class="fa" ng-class="ctrl.showSortIcon('byDeliveryType')"></i><span>{{'container.driver-type-management.delivery-type' | translate}}</span>
                </th>

                <th class="priority-level"
                    ng-class="{'active': ctrl.isSortActive('byPriorityLevel')}"
                    ng-click="::ctrl.sort('byPriorityLevel')">
                  <i class="fa" ng-class="ctrl.showSortIcon('byPriorityLevel')"></i><span>{{'container.driver-type-management.priority-level' | translate}}</span>
                </th>

                <th class="reservation-size"
                    ng-class="{'active': ctrl.isSortActive('byReservationSize')}"
                    ng-click="::ctrl.sort('byReservationSize')">
                  <i class="fa" ng-class="ctrl.showSortIcon('byReservationSize')"></i><span>{{'container.driver-type-management.reservation-size' | translate}}</span>
                </th>

                <th class="parcel-size"
                    ng-class="{'active': ctrl.isSortActive('byParcelSize')}"
                    ng-click="::ctrl.sort('byParcelSize')">
                  <i class="fa" ng-class="ctrl.showSortIcon('byParcelSize')"></i><span>{{'container.driver-type-management.parcel-size' | translate}}</span>
                </th>

                <th class="timeslot"
                    ng-class="{'active': ctrl.isSortActive('byTimeslot')}"
                    ng-click="::ctrl.sort('byTimeslot')">
                  <i class="fa" ng-class="ctrl.showSortIcon('byTimeslot')"></i><span>{{'container.driver-type-management.timeslot' | translate}}</span>
                </th>

                <th class="actions column-locked-right">
                  {{'commons.actions' | translate}}
                </th>

              </tr>
              </thead>
            </table>
          </div>

          <md-virtual-repeat-container>
            <table class="table-body">
              <tbody>
              <tr md-virtual-repeat="driverTypeProp in ctrl.tableData">

                <td class="table-row-divider"></td>

                <td class="id">
                  {{driverTypeProp.id || '-'}}
                </td>

                <td class="name">
                  {{driverTypeProp.name || '-'}}
                </td>

                <td class="delivery-type">
                  {{driverTypeProp._conditions[0] || '-'}}
                </td>

                <td class="priority-level">
                  {{driverTypeProp._conditions[1] || '-'}}
                </td>

                <td class="reservation-size">
                  {{driverTypeProp._conditions[2] || '-'}}
                </td>

                <td class="parcel-size">
                  {{driverTypeProp._conditions[3] || '-'}}
                </td>

                <td class="timeslot">
                  {{driverTypeProp._conditions[4] || '-'}}
                </td>

                <td class="actions column-locked-right">
                  <nv-icon-button
                      md-theme="nvBlue"
                      class="ghost nv-margin-auto"
                      name="Edit"
                      icon="edit"
                      on-click="ctrl.updateOne($event, driverTypeProp.id)">
                  </nv-icon-button>

                  <nv-icon-button
                      md-theme="nvRed"
                      class="ghost nv-margin-auto"
                      name="Delete"
                      icon="delete"
                      on-click="ctrl.deleteOne($event, driverTypeProp)">
                  </nv-icon-button>
                </td>

              </tr>
              </tbody>
            </table>
          </md-virtual-repeat-container>

          <span class="table-column-divider"></span>

        </div>

        <div class="nv-p none-available" ng-if="ctrl.driverTypeProps.length === 0">{{'container.driver-type-management.no-driver-type-exist' | translate}}</div>

      </md-card-content>

    </md-card>

  </div>

</md-content>
