<div class="search-with-x" layout="row">

    <md-input-container md-no-float
                        md-theme="nvBlue"
                        class="md-block search"
                        layout="row" flex="100">

        <md-icon>
            <i class="material-icons">search</i>
        </md-icon>

        <input class="nv-p"
               type="text"
               ng-model="searchText"
               ng-model-options="{debounce: 100}"
               ng-keypress="onKeypressed($event)"
               placeholder="{{placeholder}}">

    </md-input-container>

    <md-button class="md-icon-button close-button"
               aria-label="Close"
               ng-click="onClearSearchText()">
        <md-icon class="md-primary">
            <i class="material-icons">close</i>
        </md-icon>
    </md-button>

</div>
