@import "../../../lib/ninja-commons/styles/variables";
@import "../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../lib/ninja-commons/styles/mixins/table.mixins";

.nv-container-route-manifest {

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .route-detail-container {
    background-color: $nv-dark-blue;

    .route-detail {
      padding: 1rem 2rem;
      min-height: 6.2rem;

      div:first-child {
        @include nv-font(p);
        color: $nv-tb32;
      }

      div:last-child {
        @include nv-font(pmed);
        color: $nv-tb05;
      }
    }
  }

  .route-summary-container {
    background-color: $nv-light1;
    padding: 2rem;

    .route-summary-header {
      > div:first-child {
        @include nv-font(h4);
        font-weight: $nv-font-weight-light;
        color: $nv-text-black-2;
      }

      .nv-btn-grp {
        margin: auto 0.7rem;
      }
    }

    .route-summary-content {
      overflow-x: auto;
      margin-top: 1.4rem;

      .route-summary {
        background-color: $nv-light0;
        min-height: 18.2rem;

        padding: 0.7rem;
        margin-right: 1.4rem;

        border: 0.1rem $nv-light2;
        border-radius: 0.2rem;

        > div:first-child {
          @include nv-font(h5);
          font-weight: $nv-font-weight-light;
          color: $nv-text-black-2;

          white-space: nowrap;
          margin-bottom: 1rem;
          margin-left: 0.7rem;
        }

        td, th {
          @include nv-font(small);
          white-space: nowrap;
          min-width: 4.2rem;
          padding: 0.7rem;

          &.dark-green {
            color: $nv-dark-green;
          }
          &.dark-yellow {
            color: $nv-dark-yellow;
          }
          &.dark-red {
            color: $nv-dark-red;
          }
          &.light-grey {
            color: $nv-text-black-3;
          }
        }

        td {
          text-align: right;
        }
      }
    }
  }

  div.table-container {
    position: relative;
    flex: 1;

    nv-table {
      // column width
      @include nv-table-column-width(sequence, 5.5rem);
      @include nv-table-column-width(id, 11rem);
      @include nv-table-column-width(count-d, 5.8rem);
      @include nv-table-column-width(count-p, 5.8rem);
      @include nv-table-column-width(status, 11rem);
      @include nv-table-column-width(priority, 9rem);
      @include nv-table-column-width(address, 35rem);
      @include nv-table-column-width(time-window, 10rem);
      @include nv-table-column-width(service-end, 16rem);
      @include nv-table-column-width(distance, 10rem);
      @include nv-table-column-width(reason, 18rem);
      @include nv-table-column-width(addressee, 15rem);
      @include nv-table-column-width(contact, 15rem);
      @include nv-table-column-width(cod, 13rem);
      @include nv-table-column-width(comments, 30rem);

      @include nv-table-row-height(8.5rem);

      // action columns
      @include nv-table-action-columns(nv-table-action-width("two-dense-p"), 20rem);

      .table-with-locks-container table.table-body tr:nth-child(odd) td:not(.end-of-result),
      .table-with-locks-container table.table-body tr:nth-child(even) td:not(.end-of-result) {
        &.is-success {
          background-color: $nv-light-green !important;
        }
        &.is-failure {
          background-color: $nv-light-red !important;
        }
        &.is-priority {
          background-color: $nv-light-yellow !important;
        }
        &.is-far {
          color: $nv-dark-red !important;
          background-color: $nv-light-red !important;
          @include nv-font(pmed);
        }
        &.is-not-in-time-window {
          color: $nv-dark-red !important;
          background-color: $nv-light-red !important;
          @include nv-font(pmed);
        }
        &.is-in-time-window {
          color: $nv-dark-green !important;
          background-color: $nv-light-green !important;
          @include nv-font(pmed);
        }
        &.multi-lines-text {
          white-space: pre-line;
        }
      }
    }
  }

}
