<md-content class="nv-container-route-manifest">

  <div class="route-detail-container md-whiteframe-2dp" layout="row" layout-align="start center">

    <div class="route-detail">
      <div>{{'container.route-manifest.route-id' | translate}}</div>
      <div>{{ctrl.routeId}}</div>
    </div>

    <div class="route-detail">
      <div>{{'container.route-manifest.driver-name' | translate}}</div>
      <div>{{ctrl.driverName}}</div>
    </div>

    <div class="route-detail">
      <div>{{'container.route-manifest.date' | translate}}</div>
      <div>{{ctrl.routeDate}}</div>
    </div>

  </div>

  <div class="route-summary-container" layout="column" ng-if="ctrl.tableParam.ready && !ctrl.loading">

    <div class="route-summary-header" layout="row" layout-align="start center">

      <div>{{ctrl.showRouteSummary ? 'container.route-manifest.route-summary' : 'container.route-manifest.route-summary-hidden' | translate}}</div>

      <div flex="1"></div>

      <div ng-if="ctrl.showRouteSummary && ctrl.isSummaryAvailable()" layout="row" layout-align="start center">
        <h5>{{'container.route-manifest.view' | translate}}</h5>

        <nv-btn-grp
          model="ctrl.showNumberModel"
          default-selection="'10'"
          label-for-model-idx-0="Numbers"
          label-for-model-idx-1="Percentage"></nv-btn-grp>
      </div>

      <nv-icon-text-button
        class="flat"
        icon-position="right"
        ng-clazz="{'active': !ctrl.showRouteSummary}"
        on-click="ctrl.showRouteSummary = !ctrl.showRouteSummary"
        name="{{ctrl.showRouteSummary ? 'container.route-manifest.hide-summary' : 'container.route-manifest.show-summary'}}"
        icon="{{ctrl.showRouteSummary ? 'arrow_drop_up': 'arrow_drop_down'}}">
      </nv-icon-text-button>

    </div>

    <div class="route-summary-content" layout="row" ng-if="ctrl.showRouteSummary && ctrl.isSummaryAvailable()">
      <div class="route-summary" ng-if="::ctrl.showParcelCount()">
        <div>{{'container.route-manifest.parcel-count' | translate}}</div>
        <table>
          <tr>
            <th></th>
            <th>{{'commons.pending' | translate}}</th>
            <th class="dark-green">{{'commons.success' | translate}}</th>
            <th class="dark-red">{{'commons.failure' | translate}}</th>
            <th>{{'commons.all' | translate}}</th>
          </tr>
          <tr ng-repeat="(row, column) in ctrl.parcelCount" ng-if="column.All.value">
            <th>{{row}}</th>
            <td ng-class="{'light-grey': column.Pending.value === 0}">{{ctrl.showNumberModel === '10' ? column.Pending.value : column.Pending.percent}}</td>
            <td ng-class="{'light-grey': column.Success.value === 0}">{{ctrl.showNumberModel === '10' ? column.Success.value : column.Success.percent}}</td>
            <td ng-class="{'light-grey': column.Fail.value === 0, 'dark-red': column.Fail.value !== 0}">{{ctrl.showNumberModel === '10' ? column.Fail.value : column.Fail.percent}}</td>
            <td ng-class="{'light-grey': column.All.value === 0}">{{ctrl.showNumberModel === '10' ? column.All.value : column.All.percent}}</td>
          </tr>
        </table>
      </div>

      <div class="route-summary" ng-if="::ctrl.showWaypointType()">
        <div>{{'container.route-manifest.waypoint-type' | translate}}</div>
        <table>
          <tr>
            <th></th>
            <th>{{'commons.pending' | translate}}</th>
            <th class="dark-green">{{'commons.success' | translate}}</th>
            <th class="dark-red">{{'commons.failure' | translate}}</th>
            <th>{{'commons.all' | translate}}</th>
          </tr>
          <tr ng-repeat="(row, column) in ctrl.waypointType" ng-if="column.All.value">
            <th>{{row}}</th>
            <td ng-class="{'light-grey': column.Pending.value === 0}">{{ctrl.showNumberModel === '10' ? column.Pending.value : column.Pending.percent}}</td>
            <td ng-class="{'light-grey': column.Success.value === 0}">{{ctrl.showNumberModel === '10' ? column.Success.value : column.Success.percent}}</td>
            <td ng-class="{'light-grey': column.Fail.value === 0, 'dark-red': column.Fail.value !== 0}">{{ctrl.showNumberModel === '10' ? column.Fail.value : column.Fail.percent}}</td>
            <td ng-class="{'light-grey': column.All.value === 0}">{{ctrl.showNumberModel === '10' ? column.All.value : column.All.percent}}</td>
          </tr>
        </table>
      </div>

      <div class="route-summary" ng-if="::ctrl.showTimeslot()">
        <div>{{'container.route-manifest.timeslot' | translate}}</div>
        <table>
          <tr>
            <th></th>
            <th>{{'commons.pending' | translate}}</th>
            <th class="dark-yellow">{{'commons.early' | translate}}</th>
            <th class="dark-green">{{'commons.on-time' | translate}}</th>
            <th class="dark-red">{{'commons.late' | translate}}</th>
          </tr>
          <tr ng-repeat="(row, column) in ctrl.timeslot">
            <th>{{row}}</th>
            <td ng-class="{'light-grey': column.pending.value === 0}">{{ctrl.showNumberModel === '10' ? column.pending.value : column.pending.percent}}</td>
            <td ng-class="{'light-grey': column.early.value === 0, 'dark-yellow': column.early.value !== 0}">{{ctrl.showNumberModel === '10' ? column.early.value : column.early.percent}}</td>
            <td ng-class="{'light-grey': column.onTime.value === 0}">{{ctrl.showNumberModel === '10' ? column.onTime.value: column.onTime.percent}}</td>
            <td ng-class="{'light-grey': column.late.value === 0, 'dark-red': column.late.value !== 0}">{{ctrl.showNumberModel === '10' ? column.late.value : column.late.percent}}</td>
          </tr>
        </table>
      </div>

      <div class="route-summary" ng-if="::ctrl.showCodCollection()">
        <div>{{'container.route-manifest.cod-collection' | translate}}</div>
        <table>
          <tr>
            <th></th>
            <th>{{'commons.amount' | translate}}</th>
          </tr>
          <tr ng-repeat="(key, number) in ctrl.codCollection">
            <th>{{key}}</th>
            <td ng-class="{'light-grey': number.value === 0}">{{ctrl.showNumberModel === '10' ? (number.value | number:2) : number.percent}}</td>
          </tr>
        </table>
      </div>

      <div class="route-summary" ng-if="::ctrl.showLocationAccuracy()">
        <div>{{'container.route-manifest.location-accuracy' | translate}}</div>
        <table>
          <tr>
            <th></th>
            <th>{{'commons.total' | translate}}</th>
          </tr>
          <tr ng-repeat="(key, number) in ctrl.locationAccuracy">
            <th>{{key}}</th>
            <td ng-class="{'light-grey': number.value === 0, 'dark-red': key !== 'Accurate' && number.value !== 0}">{{ctrl.showNumberModel === '10' ? number.value : number.percent}}</td>
          </tr>
        </table>
      </div>
    </div>

  </div>

  <div class="table-container" ng-if="!ctrl.loading">
    <nv-table param="ctrl.tableParam" selectable="false" controller-as="ctrl">
      <nv-table-row use="waypoint" row-height="85">

        <nv-td column="sequence">
          {{waypoint.sequence}}
        </nv-td>

        <nv-td column="address">
          {{waypoint.address}}
        </nv-td>

         <nv-td column="status"
               ng-class="{'is-success': waypoint.status === 'Success', 'is-failure': waypoint.status === 'Fail'}">
          {{waypoint.status}}
        </nv-td>

        <nv-td column="priority" ng-class="{'is-priority': waypoint.priority[0] === 'P'}">
          {{waypoint.priority}}
        </nv-td>

        <nv-td column="timeWindow">
          {{waypoint.timeWindow}}
        </nv-td>

        <nv-td column="serviceEnd"
               ng-class="{'is-not-in-time-window': waypoint._isNotInTimeWindow, 'is-in-time-window': waypoint.serviceEnd !== '-' && !waypoint._isNotInTimeWindow}">
          {{waypoint.serviceEnd}}
        </nv-td>

        <nv-td column="distance" ng-class="{'is-far': waypoint.distance && waypoint.distance > 1000}">
          {{waypoint.distance | nvSmartDistance}}
        </nv-td>

        <nv-td column="id">
          {{waypoint.id}}
        </nv-td>

        <nv-td column="countD">
          {{waypoint.countD}}
        </nv-td>

        <nv-td column="countP">
          {{waypoint.countP}}
        </nv-td>

        <nv-td column="reason">
          {{waypoint.reason | nvLimitTo:60}}
        </nv-td>

        <nv-td column="addressee">
          {{waypoint.addressee | nvLimitTo:60}}
        </nv-td>

        <nv-td column="contact">
          {{waypoint.contact}}
        </nv-td>

        <nv-td column="cod">
          {{waypoint.cod || '0'}}
        </nv-td>

        <nv-td column="comments">
          {{waypoint.comments}}
        </nv-td>

        <nv-action column="trackingIds" sortable="true" filter="true" class="multi-lines-text">{{waypoint.trackingIds | nvLimitTo:60}}</nv-action>

        <nv-action column="actions">
          <nv-icon-button
            md-theme="nvBlue"
            class="ghost dense"
            name="Waypoint Details"
            icon="list"
            on-click="ctrl.viewWaypointDetails($event, waypoint.id)">
          </nv-icon-button>

          <nv-icon-button
            md-theme="nvYellow"
            class="ghost dense"
            name="container.route-manifest.choose-outcome-for-waypoint"
            icon="mode_edit"
            on-click="ctrl.showEditWaypointDialog($event, waypoint)">
          </nv-icon-button>
        </nv-action>

      </nv-table-row>
    </nv-table>
  </div>

  <div ng-if="ctrl.loading"
       class="loading" layout="column" layout-align="center center">
    <md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>
    <div class="md-body-2 message">{{ 'commons.load-data' | translate }}</div>
  </div>

</md-content>
