<md-content class="nv-container-zone-polygon" layout="column"  layout-wrap layout-gt-sm="row">

    <div class="map-container" layout="column" flex>
        <div class="floating-bar" layout="row" layout-wrap layout-align="space-between start">
            <div flex>
                <nv-icon-button
                    ng-if="!ctrl.hasUnsavedChanges()"
                    icon="arrow_back"
                    on-click="ctrl.onClickback($event)"
                    class="raised"
                    md-theme="nvBlue">
                </nv-icon-button>
    
                <nv-icon-text-button
                    ng-if="ctrl.hasUnsavedChanges()"
                    icon="arrow_back"
                    on-click="ctrl.onClickback($event)"
                    name="commons.discard-changes"
                    class="raised"
                    md-theme="nvBlue">
                </nv-icon-text-button>
    
                <nv-icon-button
                    icon="touch_app"
                    on-click="ctrl.revealMode(!ctrl.isRevealMode)"
                    class="raised"
                    md-theme="nvBlue"
                    disabled="ctrl.isCreating"
                    name="Click to reveal zone">
                </nv-icon-button>
            </div>
            
            <div class="map-legend" ng-if="ctrl.isEditing">
                <p>
                    <i class="fa fa-circle white" aria-hidden="true"></i> <strong>{{'container.zones.polygon.white-circles' | translate}}</strong>
                    : {{'container.zones.polygon.click-hold-to-reposition' | translate}}
                </p>
                <p>
                    <i class="fa fa-circle black" aria-hidden="true"></i> <strong>{{'container.zones.polygon.black-circles' | translate}}</strong>
                    : {{'container.zones.polygon.click-to-add-vertex' | translate}}
                </p>
            </div>

            <div flex></div>


        </div>

        <div class="map" id="map"></div>
    </div>

    <div class="controls-container" flex="nogrow" layout-padding >
        <div layout="row" layout-wrap>
            <div flex="50">
                <h5>{{'container.zones.polygon.zone-drawing' | translate}}</h5>
            </div>
            <nv-icon-text-button flex
                icon="done"
                name="commons.save-changes"
                md-theme="nvGreen"
                class="raised dark"
                ng-if="ctrl.hasUnsavedChanges()"
                on-click="ctrl.saveChanges($event)"
            >
            </nv-icon-text-button>
        </div>
        <div class="wp-filter-statistic-holder" layout="row" layout-wrap>
            <div flex="100">
                {{'container.zones.polygon.current-selection' | translate}}
            </div>
            <div flex="100" ng-if="ctrl.editingZone" class="zone-detail-container" layout="row" layout-wrap>
                <div flex="70">
                    {{ctrl.editingZone.name}}
                </div>
                <div flex="10">
                    <nv-icon-button
                        icon="undo"
                        ng-if="ctrl.editingZone.isOptimized && ctrl.editingZone.polygon"
                        name="container.zones.polygon.undo-optimize"
                        on-click="ctrl.undoOptimize($event, ctrl.editingZone)"
                        class="dark dense h6">
                    </nv-icon-button>
                    <nv-icon-button
                            icon="timeline"
                            ng-if="!ctrl.editingZone.isOptimized && ctrl.editingZone.polygon"
                            name="container.zones.polygon.optimize-vertices"
                            on-click="ctrl.optimizeVertices($event, ctrl.editingZone)"
                            class="dark dense h6">
                    </nv-icon-button>
                </div>
                <div flex="10">
                    <nv-icon-button
                        icon="location_on"
                        name="container.zones.polygon.edit-coordinate"
                        on-click="ctrl.openEditCoordinateDialog($event, ctrl.editingZone)"
                        class="dark dense h6">
                    </nv-icon-button>
                </div>
                <div flex="10">
                    <nv-icon-button
                            ng-if="ctrl.editingZone.polygon"
                            icon="delete"
                            name="container.zones.polygon.delete-polygon"
                            on-click="ctrl.onClickDeletePolygon($event, ctrl.editingZone)"
                            class="dark dense h6">
                    </nv-icon-button>
                </div>
            </div>
            <div flex="100" ng-if="ctrl.editingZone" class="lat-lng-container">
                <i class="material-icons">location_on</i> {{ctrl.editingZone.latitude | nvLimitTo : 10 }} , {{ctrl.editingZone.longitude | nvLimitTo : 10 }}
            </div>

        </div>

        <div class="wp-filter-holder ghost-holder" layout-padding>
            <div layout="row" class="wp-filter-header ghost-header" layout-align="space-between start">
                <div flex class="content-title dark">
                    <i class="material-icons">remove_red_eye</i> {{'container.zones.polygon.displayed-zones' | translate}}
                </div>
                <nv-icon-text-button
                    icon="clear_all"
                    class="flat dense dark"
                    name="commons.clear-all"
                    on-click="ctrl.onClickClearAllPolygons($event)"
                >
                </nv-icon-text-button>
            </div>
            <div layout="row">
                <div flex="33">
                    {{'container.zones.polygon.x-zone' | translate : {x : ctrl.selectedZones.length} }}
                </div>
                <div flex="66">
                    {{'container.zones.polygon.x-of-y-vertices' | translate : {x : ctrl.getTotalVertexFromZone(), y : ctrl.maximumVertexCount} }}
                </div>
            </div>
            <div layout="row" class="vertex-limit-container" ng-if="ctrl.getTotalVertexFromZone() >= ctrl.maximumVertexCount"
                layout-align="none center">
                <div flex="15">
                    <i class="material-icons">info</i>
                </div>
                <div flex>
                    <p><b>{{'container.zones.polygon.vertex-count-limit-reached' | translate}}</b></p>
                    <p>
                        {{'container.zones.polygon.vertex-count-limit-reached-text' | translate}}
                    </p>
                </div>
            </div>


            <div layout="row">
                <div flex="60">
                    {{'container.zones.polygon.zone-name' | translate}}
                </div>
                <div flex="40">
                    {{'container.zones.polygon.ver-count' | translate}}
                </div>
            </div>
            <div layout="column" class="zone-info-container">                
                    <div  class="zone-info" ng-class="{ 'selected' : zone.isEditing }" ng-repeat="zone in ctrl.selectedZones" layout-align="end center" layout="row" layout-wrap>
                        <div flex class="clickable-zone" layout="row" layout-align="none center" ng-click="ctrl.onEditZone(zone)">
                            <i class="material-icons edit-icon" ng-class="{ 'on-edit': zone.isEditing }">edit</i>                
                            <div flex="50">
                                {{zone.name}}
                            </div>
                            <div flex="30">
                                {{zone.vertexCount}}
                            </div>

                        </div>
                        
                        <nv-icon-button
                            icon="close"
                            on-click="ctrl.removeZone(zone)"
                            class="flat dense"
                            md-theme="nvGreen">
                        </nv-icon-button>
        
                    </div>
            </div>


        </div>

        <div class="wp-filter-holder ghost-holder" layout-padding>
            <div layout="row" layout-wrap class="wp-filter-header ghost-header">
                <div flex="100" layout-wrap layout="row" layout-align="space-between center">
                        <div flex="80" class="content-title dark">
                                <i class="material-icons">list</i>
                                {{'container.zones.polygon.find-zones-by-name' | translate}}
                        </div>

                        <div flex class="search-result-counter" ng-if="ctrl.searchZoneResult && ctrl.searchZoneResult.length > 0">
                                {{'container.zones.polygon.x-results' | translate : {x : ctrl.totalFilteredZones} }}
                        </div>
                </div>
                <div flex="100" layout-wrap layout="row">
                    <nv-input-text
                        model="searchTextZone"
                        name="zone-name"
                        class="md-block seach-zone-text dark"
                        placeholder="Search here.."
                    >
                    </nv-input-text>
                    <nv-icon-button
                        icon="search"
                        on-click="ctrl.onSearchZone($event, searchTextZone)"
                        name="search"
                        class="dense dark raised"
                    >
                    </nv-icon-button>
                </div>
            </div>

            <div layout="row" class="wp-filter-statistic-holder">
                <div ng-if="ctrl.searchZoneResult && ctrl.searchZoneResult.length > 0">
                    <table class="zone-search-table">
                        <thead>
                            <tr>
                                <th class="zone-name">{{'container.zones.polygon.zone-name' | translate}}</th>
                                <th class="ver-count">{{'container.zones.polygon.ver-count' | translate}}</th>
                                <th class="selection"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="zone in ctrl.searchZoneResult">
                                <td class="zone-name">
                                    {{zone.name}}
                                </td>
                                <td class="ver-count">
                                    {{zone.vertexCount}}
                                </td>
                                <td class="selection">
                                    <nv-input-checkbox class="dark" model="zone.isSelectedToEdit"> </nv-input-checkbox>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div layout="row" layout-align="space-between none">
                        <div>
                            <nv-icon-button
                                name="commons.prev-page"
                                class="raised dense dark"
                                on-click="ctrl.onSearchZone($event, searchTextZone, ctrl.searchPage - 1)"
                                icon="arrow_back"
                                disabled="ctrl.searchPage == 1"
                                md-theme="nvBlue">
                            </nv-icon-button>
                            <nv-icon-button
                                name="commons.next-page"
                                on-click="ctrl.onSearchZone($event, searchTextZone, ctrl.searchPage + 1)"
                                class="raised dense dark"
                                icon="arrow_forward"
                                md-theme="nvBlue"
                                disabled="ctrl.searchPage == ctrl.maxPage"
                            ></nv-icon-button>
                            <div>
                                Page {{ctrl.searchPage}} of {{ctrl.maxPage}}
                            </div>
                        </div>                          
                            

                            <nv-icon-text-button
                                name="container.zones.polygon.add-selected-to-list"
                                on-click="ctrl.addSelectedZoneToList()"
                                class="raised dense dark">
                            </nv-icon-text-button>
                    </div>
                    
                </div>

                <div ng-if="ctrl.searchZoneResult == null || ctrl.searchZoneResult.length == 0">
                    {{'container.zones.polygon.no-results-loaded' | translate}}
                </div>


            </div>

        </div>




    </div>

</md-content>
