@import "../../../../styles/variables";
@import "../../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/media-query.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../../views/container/route-inbound/route-inbound.mixins";

.nv-container-route-inbound-result {
  $content-section-margin: $nv-baseline-grid*5;

  // start
  height: 100%;

  > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    // common
    .limit-width {
      max-width: 80rem;
      margin-left: auto;
      margin-right: auto;

      @include nv-media-query-sm-max {
        max-width: none;
      }
    }

    // section
    .content-holder {
      flex-grow: 1;
      overflow: auto;
      min-height: 30rem;
      padding: $nv-baseline-grid;

      // common
      .section-title {
        margin-bottom: $nv-baseline-grid;

        i {
          @include icon-color;
          font-size: 2.4rem;
          vertical-align: middle;
          margin-right: $nv-baseline-grid / 2;
        }

        h5 {
          @include nv-font-color(black, 2);
          display: inline-block;
          vertical-align: middle;
        }
      }

      @include big-button;

      .table-title {
        @include nv-font(small);
        @include nv-font-color(black, 2);
        @include nv-font-weight(medium);

        margin-top: $nv-baseline-grid / 2;
        margin-bottom: $nv-baseline-grid / 2;
      }

      .table-container {
        nv-table {
          th {
            vertical-align: middle;
          }

          .last-row:not(.last-row-no-result) {
            display: none;
          }
        }
      }

      // section
      h4.title {
        @include nv-font-color(black, 2);
        margin-top: $nv-baseline-grid;
        margin-bottom: $nv-baseline-grid*4;
      }

      .waypoint-performance {
        margin-bottom: $content-section-margin;

        .table-container {
          nv-table {
            // column width
            @include nv-table-column-width(shipper_name, 15rem);
            @include nv-table-column-width(location, 27rem);
            @include nv-table-column-width(type, 12rem);
            @include nv-table-column-width(issue, 20rem);

            .issue {
              width: 100% !important;
            }
          }
        }
      }

      .collection-summary {
        margin-bottom: $content-section-margin;

        .table-container {
          nv-table {
            // column width
            @include nv-table-column-width(tracking_id, 16rem);
            @include nv-table-column-width(shipper_name, 13rem);
            @include nv-table-column-width(location, 24rem);
            @include nv-table-column-width(custom-type, 11rem);
            @include nv-table-column-width(issue, 10rem);

            .issue {
              width: 100% !important;
            }
          }
        }
      }
    }

    .footer-holder {
      flex-shrink: 0;
      border-top: 1px solid $nv-border-color;

      .footer {
        padding: $nv-baseline-grid*2 $nv-baseline-grid;

        @include nv-media-query-sm-max {
          > div[layout="row"] {
            > div {
              margin-bottom: $nv-baseline-grid*2;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}