<md-content class="nv-container-route-inbound-result">
  <div>
    <div class="content-holder">
      <div class="limit-width">
        <h4 class="title">{{ 'container.route-inbound.route-summary' | translate }}</h4>
      </div>
      <div class="limit-width">
        <app-route-inbound-summary
          route-id="{{ ctrl.parentCtrl.inboundSummaryResult.route_id }}"
          driver-name="{{ ctrl.parentCtrl.inboundSummaryResult.driver_name }}"
          hub-name="{{ ctrl.parentCtrl.selectedHub.name }}"
          route-date="{{ ctrl.parentCtrl.inboundSummaryResult.route_date | nvTime:'operator':'date' }}">
        </app-route-inbound-summary>
      </div>
      <div class="waypoint-performance limit-width">
        <div class="section-title">
          <i class="material-icons">location_on</i>
          <h5>{{ 'container.route-inbound.waypoint-performance' | translate }}</h5>
        </div>

        <div class="big-button-holder">
          <div class="big-button"
               md-whiteframe="2"
               ng-click="ctrl.viewDetails($event, ctrl.DETAILS_TYPE.WAYPOINT_PENDING)">
            <div class="statistic">
              <i class="material-icons">info_outline</i>
              <p>{{ ctrl.waypointPerformanceCount.pending }}</p>
            </div>
            <div class="info">
              {{ ctrl.DETAILS_TYPE.WAYPOINT_PENDING | translate }}
            </div>
          </div>

          <div class="big-button"
               md-whiteframe="2"
               ng-click="ctrl.viewDetails($event, ctrl.DETAILS_TYPE.WAYPOINT_PARTIAL)">
            <div class="statistic">
              <i class="material-icons">flip</i>
              <p>{{ ctrl.waypointPerformanceCount.partial }}</p>
            </div>
            <div class="info">
              {{ ctrl.DETAILS_TYPE.WAYPOINT_PARTIAL | translate }}
            </div>
          </div>

          <div class="big-button"
               md-whiteframe="2"
               ng-click="ctrl.viewDetails($event, ctrl.DETAILS_TYPE.WAYPOINT_FAILED)">
            <div class="statistic">
              <i class="material-icons">close</i>
              <p>{{ ctrl.waypointPerformanceCount.failed }}</p>
            </div>
            <div class="info">
              {{ ctrl.DETAILS_TYPE.WAYPOINT_FAILED | translate }}
            </div>
          </div>

          <div class="big-button"
               md-whiteframe="2"
               ng-click="ctrl.viewDetails($event, ctrl.DETAILS_TYPE.WAYPOINT_SUCCESS)">
            <div class="statistic">
              <i class="material-icons">done</i>
              <p>{{ ctrl.waypointPerformanceCount.completed }}</p>
            </div>
            <div class="info">
              {{ ctrl.DETAILS_TYPE.WAYPOINT_SUCCESS | translate }}
            </div>
          </div>

          <div class="big-button"
               md-whiteframe="2"
               ng-click="ctrl.viewDetails($event, ctrl.DETAILS_TYPE.WAYPOINT_TOTAL)">
            <div class="statistic">
              <i class="material-icons">drag_handle</i>
              <p>
                {{
                  ctrl.waypointPerformanceCount.pending +
                  ctrl.waypointPerformanceCount.partial +
                  ctrl.waypointPerformanceCount.failed +
                  ctrl.waypointPerformanceCount.completed
                }}
              </p>
            </div>
            <div class="info">
              {{ ctrl.DETAILS_TYPE.WAYPOINT_TOTAL | translate }}
            </div>
          </div>
        </div>

        <p class="table-title"
           ng-if="ctrl.problematicWaypointsTableParams && !ctrl.problematicWaypointsTableParams.empty">
          {{ 'container.route-inbound.problematic-waypoints' | translate }}
        </p>
        <div class="table-container"
             ng-if="ctrl.problematicWaypointsTableParams && !ctrl.problematicWaypointsTableParams.empty">
          <nv-table
            param="ctrl.problematicWaypointsTableParams"
            controller-as="ctrl">
            <nv-table-row
              use="waypoint"
              use-virtual-repeat='false'>
              <nv-index></nv-index>
              <nv-td column="shipper_name" filter="false" sortable="false">
                {{ waypoint.shipper_name }}
              </nv-td>
              <nv-td column="location" filter="false" sortable="false">
                {{ waypoint.location }}
              </nv-td>
              <nv-td column="type" filter="false" sortable="false">
                {{ waypoint.type }}
              </nv-td>
              <nv-td column="issue" filter="false" sortable="false">
                {{ waypoint.issue }}
              </nv-td>
            </nv-table-row>
          </nv-table>
        </div>
      </div>
      <div class="collection-summary limit-width">
        <div class="section-title">
          <i class="material-icons">archive</i>
          <h5>{{ 'container.route-inbound.collection-summary' | translate }}</h5>
        </div>

        <div class="big-button-holder">
          <div class="big-button"
               md-whiteframe="2"
               ng-click="ctrl.viewMoneyCollection($event)">
            <div class="statistic">
              <p>$ {{ ctrl.collectionSummaryCount.cash.toFixed(2) }}</p>
            </div>
            <div class="info">
              {{ 'container.route-inbound.cash' | translate }}
            </div>
          </div>

          <div class="big-button"
               md-whiteframe="2"
               ng-click="ctrl.viewDetails($event, ctrl.DETAILS_TYPE.COLLECT_FAILED)">
            <div class="statistic">
              <i class="material-icons">close</i>
              <p>{{ ctrl.collectionSummaryCount.failed }}</p>
            </div>
            <div class="info">
              {{ 'container.route-inbound.failed-parcels' | translate }}
            </div>
          </div>

          <div class="big-button"
               md-whiteframe="2"
               ng-click="ctrl.viewDetails($event, ctrl.DETAILS_TYPE.COLLECT_C2C_AND_RETURN)">
            <div class="statistic">
              <i class="material-icons">undo</i>
              <p>{{ ctrl.collectionSummaryCount.successfulC2CAndReturnPickup }}</p>
            </div>
            <div class="info">
              {{ 'container.route-inbound.c2c-and-return' | translate }}
            </div>
          </div>

          <div class="big-button"
               md-whiteframe="2"
               ng-click="ctrl.viewDetails($event, ctrl.DETAILS_TYPE.RESERVATIONS)">
            <div class="statistic">
              <i class="material-icons">local_shipping</i>
              <p>{{ ctrl.collectionSummaryCount.reservation }}</p>
            </div>
            <div class="info">
              {{ 'container.route-inbound.reservations' | translate }}
            </div>
          </div>
        </div>

        <p class="table-title"
           ng-if="ctrl.problematicParcelsTableParams && !ctrl.problematicParcelsTableParams.empty">
          {{ 'container.route-inbound.problematic-parcels' | translate }}
        </p>
        <div class="table-container"
             ng-if="ctrl.problematicParcelsTableParams && !ctrl.problematicParcelsTableParams.empty">
          <nv-table
            param="ctrl.problematicParcelsTableParams"
            controller-as="ctrl">
            <nv-table-row
              use="parcel"
              use-virtual-repeat='false'>
              <nv-index></nv-index>
              <nv-td column="tracking_id" filter="false" sortable="false">
                {{ parcel.tracking_id }}
              </nv-td>
              <nv-td column="shipper_name" filter="false" sortable="false">
                {{ parcel.shipper_name }}
              </nv-td>
              <nv-td column="location" filter="false" sortable="false">
                {{ parcel.location }}
              </nv-td>
              <nv-td column="customType" filter="false" sortable="false">
                {{ parcel.customType }}
              </nv-td>
              <nv-td column="issue" filter="false" sortable="false">
                {{ parcel.issue }}
              </nv-td>
            </nv-table-row>
          </nv-table>
        </div>
      </div>
    </div>
    <div class="footer-holder md-whiteframe-4dp">
      <div class="footer limit-width">
        <div layout="row" layout-sm="column" layout-xs="column" layout-align="center center">
          <div>
            <nv-icon-text-button
              class="ghost"
              name="commons.go-back"
              icon="arrow_back"
              on-click="ctrl.goToFilterPage()">
            </nv-icon-text-button>
          </div>
          <div flex
               hide-xs>
          </div>
          <div>
            <nv-icon-text-button
              class="raised"
              name="container.route-inbound.continue-to-inbound"
              icon="arrow_forward"
              icon-position="right"
              on-click="ctrl.goToInboundPage()">
            </nv-icon-text-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</md-content>