<nv-dialog-header
  title="{{ 'container.sales-person.edit-sales-person' | translate }}"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>
<form name="modelForm">
  <md-dialog>
    <md-dialog-content>
      <div class="content-container">
        <div layout class="content">
          <nv-input-text flex
            name="commons.name"
            label="commons.name"
            model="ctrl.salesPerson.name"
            form="modelForm"
            required="true">
          </nv-input-text>
        </div>
        <div layout class="content">
          <nv-input-text flex
            name="commons.code"
            label="commons.code"
            model="ctrl.salesPerson.code"
            form="modelForm"
            required="true">
          </nv-input-text>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <nv-api-text-button
        md-theme="nvGreen"
        name="commons.save"
        icon="check"
        class="raised"
        form="modelForm"
        state="ctrl.saveState"
        on-click="ctrl.onSave()">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>