@import "../../../styles/variables";

nv-icon-button {

  display: inline-block;

  .md-button.nv-button {
    width: $button-height;
    padding: 0;

    &.dense {
      width: $button-dense-height;
    }
  }
}
