<md-button
  class="nv-button"
  type="button"
  aria-label="{{::name | translate}}"
  ng-class="ngChildClass"
  ng-click="onClickWrapper({$event: $event})"
  ng-disabled="disabled">

  <i class="{{iconSet === 'fa' ? 'fa ' + icon : 'material-icons'}}">{{ iconSet === 'fa' ? '' : icon }}</i>

  <md-tooltip md-direction="{{::tooltipDirection}}" md-delay="::tooltipDelay">{{name | translate}}</md-tooltip>

</md-button>
