@import "../../../../../lib/ninja-commons/styles/variables";
@import "../../../../../styles/variables";

.order-edit-complete-order {
  .table-holder {
    margin-top: 2.8rem;
    margin-bottom: 2.8rem;

    .warning {
      color: $nv-dark-red;
    }

    md-checkbox          { color: $nv-tb32; }
    md-checkbox .md-icon { border-color: $nv-tb32; }
    md-checkbox.md-checked                { color: $nv-normal-blue; }
    md-checkbox.md-checked .md-icon       { background-color: $nv-normal-blue; }
    md-checkbox.md-checked .md-icon:after { border-color: $nv-light0; }

    .button-container {
      padding: 1rem 0rem;

      .spacer {
        padding: 0rem 0.4rem;
      }
    }

    .table {
      > thead > tr > th {
        border-bottom: 0;
        font-weight: normal;
        font-size: 1.2rem;
        color: $nv-text-black-2;
      }

      > tbody > tr > td {
        border-top: 0;
      }
    }
  }
}
