<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <h2 class="md-title">{{ 'container.order.edit.manually-complete-order' | translate }}</h2>
      <div>
        {{ 'container.order.edit.manually-complete-order-confirmation-text' | translate }}
      </div>

      <div ng-if="ctrl.ordersWithCod.length > 0"
           class="table-holder">
        <div class="warning">{{ 'container.order.edit.manually-complete-order-warning' | translate }}</div>
        <div class="warning">{{ 'container.order.edit.manually-complete-order-warning-list' | translate }}</div>
        <div layout class="button-container">
          <nv-icon-text-button
            class="raised"
            name="commons.mark-all"
            label="commons.mark-all"
            md-theme="nvGreen"
            on-click="ctrl.markAll()">
          </nv-icon-text-button>
          <div class="spacer"></div>
          <nv-icon-text-button
            class="raised"
            name="commons.unmark-all"
            label="commons.unmark-all"
            md-theme="nvRed"
            on-click="ctrl.unmarkAll()">
          </nv-icon-text-button>
        </div>
        <table class="table table-condensed">
          <thead>
          <tr>
            <th>{{ 'commons.tracking-id' | translate }}</th>
            <th>{{ 'commons.cod-collected' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="order in ctrl.ordersWithCod">
            <td>{{ order.trackingId }}</td>
            <td>
              <span>
                <md-checkbox 
                  md-no-ink="{{ order.rts ? 'true' : 'false' }}"
                  ng-change="ctrl.codCollectedOnChange(order)"
                  ng-model="order.isCodCollected" 
                  aria-label="{{ order.trackingId }}">
                </md-checkbox>
                <md-tooltip ng-if="order.rts">{{ 'container.order.edit.unable-to-check-cod-collected-for-rts-order' | translate }}</md-tooltip>
              </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        name="commons.go-back"
        on-click="ctrl.onCancel()">
      </nv-icon-text-button>
      <nv-api-text-button
        md-theme="nvGreen"
        class="flat"
        state="ctrl.formSubmitState"
        name="container.order.edit.complete-order"
        on-click="ctrl.onSave($event)">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>