@import "../../styles/mixins/button.mixins";

nv-drag-and-drop {
  display: block;
  height: 100%;

  div[dnd-list], .dnd-list {
    $min-height: 32px;

    height: 100%;

    /**
    * The dnd-list should always have a min-height,
    * otherwise you can't drop to it once it's empty
    */
    min-height: $min-height;
    padding-left: 0;

    /**
    * The dndDraggingSource class will be applied to
    * the source element of a drag operation. It makes
    * sense to hide it to give the user the feeling
    * that he's actually moving it.
    */
    .dndDraggingSource {
      border: 1px dashed nth($nv-colors, 1);
      -webkit-border-radius: $button-border-radius;
      -moz-border-radius: $button-border-radius;
      border-radius: $button-border-radius;

      > * {
        visibility: hidden;
      }
    }

    /**
    * An element with .dndPlaceholder class will be
    * added to the dnd-list while the user is dragging
    * over it.
    */
    .dndPlaceholder {
      display: block;
      background-color: $nv-light2;
      min-height: $min-height;
    }

    /**
      * The dnd-lists's child elements currently MUST have
      * position: relative. Otherwise we can not determine
      * whether the mouse pointer is in the upper or lower
      * half of the element we are dragging over. In other
      * browsers we can use event.offsetY for this.
      */
    .item {
      position: relative;
      height: 3rem;
      display: inline-block;
      z-index: 1;
      margin: 0.1rem;

      .item-label {
        position: static;
        display: block;
        width: 100%;
        cursor: -webkit-grab;

        &[disabled] {
          cursor: default;
        }
      }

      &:active {
        .item-label:not([disabled]), &.template-with-close-btn:not([disabled]) {
          cursor: -webkit-grabbing;
        }
      }

      &.selected {
        .item-label {
          color: $nv-light-blue !important;
        }
      }

      &.template-with-close-btn {
        cursor: -webkit-grab;

        .template-with-close-btn-holder {
          &[disabled] {
            cursor: default;
          }

          .close-btn {
            color: $nv-dark1;
            float: right;
            line-height: normal;

            .material-icons {
              font-size: 2rem;
            }
          }
        }
      }
    }

    &.dropzone {
      $dropzone-min-height: 132px;

      display: flex;
      background-color: transparent;
      border: 1px dashed $nv-light4;
      color: $nv-light4;
      -webkit-border-radius: $button-border-radius;
      -moz-border-radius: $button-border-radius;
      border-radius: $button-border-radius;
      min-height: $dropzone-min-height;
      cursor: default;

      &.dndDragover {
        background-color: $nv-light2;
      }

      .placeholder {
        position: relative;
        margin: auto;
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.8rem;
        height: 2rem;
        background-color: transparent;
        border: none;
        padding: 0;
      }

      .dndPlaceholder {
        min-height: $dropzone-min-height;
      }
    }

    ng-transclude {
      width: 100%;
    }
  }
}