<div
  dnd-list="list"
  dnd-allowed-types="allowedTypes"
  dnd-drop="onItemDrop(item, type, index, event)"
  ng-class="{dropzone: dropzone && list.length <= 0}">
  <div ng-repeat="item in list"
       dnd-draggable="getSelectedItems(item)"
       dnd-dragstart="onDragstart(event)"
       dnd-type="item.dndType"
       dnd-disable-if="itemDisableIf(item)"
       dnd-moved="onItemMoved($index)"
       dnd-effect-allowed="move"
       dnd-selected="onItemSelected(item)"
       ng-class="{'selected': item.dndSelected}"
       class="item">
  </div>
  <div class="placeholder"
       layout="row" layout-align="center center"
       ng-if="dropzone && list.length <= 0">
    <ng-transclude></ng-transclude>
  </div>
</div>