md-dialog.save-preset {
  .filter-holder {
    margin: 1.4rem 0;
    margin-left: 1rem;

    .condition {
      color: $nv-text-black-2;
    }
  }

  .name-input-holder {
    .name-input {
      width: 100%;
    }
  }

  md-input-container.name-input .help-text {
    color: $nv-dark-red;
  }
}

md-dialog.delete-preset {
  width: 35rem;
  .filter-preset-selection {
    width: 100%;
  }
}