<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <h2 class="md-title">{{'commons.preset.delete-preset' | translate}}</h2>
      <div>{{'commons.preset.select-preset-delete' | translate}}</div>
      <div class="filter-preset-selection-holder">
        <nv-input-select
          label="Select preset"
          class="filter-preset-selection"
          model="fields.selectedPreset"
          model-options="{}"
          options="filterPresetOptions"
          required="true"
          set-default="false">
        </nv-input-select>
      </div>
      <div ng-if="fields.selectedPreset" translate="commons.preset.confirm-delete-x" translate-values=" {x: filterPresetsMap[fields.selectedPreset].name} ">
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        name="commons.cancel"
        on-click="onCancel()">
      </nv-icon-text-button>

      <nv-icon-text-button
        class="flat"
        name="commons.delete"
        form="modelForm"
        on-click="onSave()">
      </nv-icon-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>