<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <h2 class="md-title">{{'commons.preset.save-preset' | translate}}</h2>
      <div>{{'commons.preset.save-conditions-as-preset' | translate}}</div>
      <div class="filter-holder"> 
        <div ng-repeat="filter in selectedFilters">
          <small class="condition">{{::getCompactDisplay(filter)}}</small>
        </div>
      </div>
      <div>{{'commons.preset.name-preset' | translate}}</div>
      <div class="name-input-holder">
        <nv-input-text
          class="name-input"
          label="Preset Name"
          model="fields.name"
          options="filterPresetOptions"
          required="true">
        </nv-input-text>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        name="commons.cancel"
        on-click="onCancel()">
      </nv-icon-text-button>

      <nv-icon-text-button
        class="flat"
        name="commons.save"
        form="modelForm"
        on-click="onSave()">
      </nv-icon-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>