<md-content layout-padding>
  <md-checkbox ng-model="ctrl.disabled" aria-label="Checkbox 1">
    Disabled: {{ctrl.disabled}}
  </md-checkbox>
  <md-content layout-padding>  
    <div class="button-group">
      <nv-icon-text-button
        class="raised" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Raised Button"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-text-button>
    </div>
    <div class="button-group">
      <nv-icon-button
        class="raised h5" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Raised Button"
        icon="delete"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-button>
    </div>
    <div class="button-group">
      <nv-icon-text-button
        class="flat h4" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Flat Button"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-text-button>
    </div>
    <div class="button-group">
      <nv-icon-button
        class="flat" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Flat Button"
        icon="delete"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-button>
    </div>
    <div class="button-group">
      <nv-icon-text-button
        class="ghost h5" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Ghost Button"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-text-button>
    </div>
    <div class="button-group">
      <nv-icon-text-button
        class="ghost h5" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Ghost Button"
        icon="close"
        icon-position="right"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-text-button>
    </div>
    <div class="button-group">
      <nv-icon-button
        class="ghost h4" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Ghost Button"
        icon="delete"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-button>
    </div>

    <div class="button-group">
      <nv-icon-text-button
        class="raised dense" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Raised Dense Button"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-text-button>
    </div>
    <div class="button-group">
      <nv-icon-text-button
        class="raised dense" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Raised Dense Button"
        icon="save"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-text-button>
    </div>
    <div class="button-group">
      <nv-icon-button
        class="raised dense h5" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Raised Dense Button"
        icon="delete"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-button>
    </div>
    <div class="button-group">
      <nv-icon-text-button
        class="flat dense h4" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Flat Dense Button"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-text-button>
    </div>
    <div class="button-group">
      <nv-icon-text-button
        class="flat dense h4" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Flat Dense Button"
        icon="edit"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-text-button>
    </div>
    <div class="button-group">
      <nv-icon-button
        class="flat dense" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Flat Dense Button"
        icon="delete"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-button>
    </div>
    <div class="button-group">
      <nv-icon-text-button
        class="ghost dense h5" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Ghost Dense Button"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-text-button>
    </div>
    <div class="button-group">
      <nv-icon-text-button
        class="ghost dense h5" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Ghost Dense Button"
        icon="close"
        icon-position="right"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-text-button>
    </div>
    <div class="button-group">
      <nv-icon-button
        class="ghost dense" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Ghost Dense Button"
        icon="delete"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-button>
    </div>
    <div class="button-group">
      <nv-icon-text-button
        class="ghost dense" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="GHOST DENSE BUTTON"
        icon="close"
        icon-position="right"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-text-button>
    </div>
  </md-content>

  <md-content class="dark" layout-padding>
    <div class="button-group">
      <nv-icon-text-button
        class="raised" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Raised Button"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-text-button>
    </div>
    <div class="button-group">
      <nv-icon-button
        class="raised h5" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Raised Button"
        icon="delete"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-button>
    </div>
    <div class="button-group">
      <nv-icon-text-button
        class="flat h4" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Flat Button"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-text-button>
    </div>
    <div class="button-group">
      <nv-icon-button
        class="flat" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Flat Button"
        icon="delete"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-button>
    </div>
    <div class="button-group">
      <nv-icon-text-button
        class="ghost h5" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Ghost Button"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-text-button>
    </div>
    <div class="button-group">
      <nv-icon-button
        class="ghost h4" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Ghost Button"
        icon="delete"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-button>
    </div>

    <div class="button-group">
      <nv-icon-text-button
        class="raised dense" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Raised Dense Button"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-text-button>
    </div>
    <div class="button-group">
      <nv-icon-button
        class="raised dense h5" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Raised Dense Button"
        icon="delete"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-button>
    </div>
    <div class="button-group">
      <nv-icon-text-button
        class="flat dense h4" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Flat Dense Button"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-text-button>
    </div>
    <div class="button-group">
      <nv-icon-button
        class="flat dense" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Flat Dense Button"
        icon="delete"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-button>
    </div>
    <div class="button-group">
      <nv-icon-text-button
        class="ghost dense h5" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Ghost Dense Button"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-text-button>
    </div>
    <div class="button-group">
      <nv-icon-button
        class="ghost dense" 
        md-theme="{{theme}}"
        ng-repeat="theme in ['nvGreen', 'nvYellow', 'nvRed', 'nvBlue']"
        disabled="ctrl.disabled"
        name="Ghost Dense Button"
        icon="delete"
        on-click="::ctrl.openDialog($event)">
      </nv-icon-button>
    </div>
  </md-content>
</md-content>