 <div class="nv-container-shipper-create">
  <div layout="column" class="header-section">
    <div class="action-toolbar">
      <div layout="row" layout-align="space-between center" class="nv-text-center">
        <nv-icon-text-button
          class="flat dark alternate"
          name="container.shippers.back-to-shipper-list"
          icon="arrow_back"
          on-click="ctrl.function.discardChanges($event)">
        </nv-icon-text-button>
        <div>{{ 'container.shippers.create-shipper' | translate}}</div>
        <nv-icon-text-button
          md-theme="nvGreen"
          class="raised"
          icon="add"
          form="basicForm"
          name="container.shippers.create-shipper"
          disabled="ctrl.state.laodingSheet === true"
          on-click="ctrl.function.saveChanges($event)">
        </nv-icon-text-button>
      </div>
    </div>
    <tabs-wrapper layout="row" layout-align="center center">
      <tab-item ng-repeat="item in ctrl.view.tabs" ng-class="{active: ctrl.state.tab === item.id}" ng-click="ctrl.function.onTabChanged(item.id)">
        {{ item.displayName | translate }}
      </tab-item>
    </tabs-wrapper>
  </div>
  <div class="loading-sheet" ng-if="ctrl.state.laodingSheet === true" layout layout-align="center center">
    <md-progress-circular md-theme="nvBlue" class="md-primary" md-mode="indeterminate" md-diameter="64px"></md-progress-circular>
  </div>
  <div class="content-section">
    <tab-content class="full-height" ng-show="ctrl.state.tab === 0" layout="row" layout-align="center start">
      <div flex-gt-sm="70" flex="100" ng-include="'views/container/shippers/shipper-create/page-content/shipper-create-basic-settings.html'" nv-include-replace></div>
    </tab-content>
    <tab-content class="full-height" ng-show="ctrl.state.tab === 1" layout="row" layout-align="center start">
      <div flex-gt-sm="70" flex="100" ng-include="'views/container/shippers/shipper-create/page-content/shipper-create-more-settings.html'" nv-include-replace></div>
    </tab-content>
    <tab-content class="full-height" ng-show="ctrl.state.tab === 2" layout="row" layout-align="center start">
      <div flex-gt-sm="70" flex="100" ng-include="'views/container/shippers/shipper-create/page-content/shipper-create-integrations.html'" nv-include-replace></div>
    </tab-content>
    <tab-content class="full-height" ng-show="ctrl.state.tab === 3" layout="row" layout-align="center start">
      <div flex-gt-sm="70" flex="100" ng-include="'views/container/shippers/shipper-create/page-content/shipper-create-marketplace.html'" nv-include-replace></div>
    </tab-content>    
  </div> 
</div> 