<md-content class="nv-container-failed-pickup-management"
            nv-load="ctrl.getAll" loading-message="{{'container.failed-pickup-management.load-data' | translate}}">
  <div layout="row" class="fill-height">
    <div flex class="fill-height">
      <md-content>
        <div class="navigation">
          <div layout="row" layout-sm="column" layout-xs="column">
            <div flex class="right-container nv-text-right">
              <p translate="container.failed-pickup-management.x-selected"
                 translate-values="{count: ctrl.getSelectedCount()}">
              </p>
              <md-menu-bar>
                <md-menu md-position-mode="target-right target">
                  <md-button
                    class="nv-button raised btn-apply-action"
                    type="button"
                    aria-label="Action"
                    ng-click="$mdOpenMenu($event)"
                    ng-disabled="ctrl.getSelectedCount() <= 0">
                    <span class="nv-text-ellipsis nv-text-left">{{'container.failed-pickup-management.apply-action' | translate}}</span>
                    <i class="material-icons">arrow_drop_down</i>
                  </md-button>

                  <md-menu-content class="actions-holder dark" width="3">
                    <md-menu-item>
                      <md-button class="nv-button flat alternate"
                                 type="button"
                                 aria-label="{{'container.failed-pickup-management.cancel-selected' | translate}}"
                                 ng-click="ctrl.cancelSelected($event)">
                        <i class="material-icons">cancel</i>
                        <span>{{'container.failed-pickup-management.cancel-selected' | translate}}</span>
                      </md-button>
                    </md-menu-item>

                    <md-menu-item>
                      <md-button class="nv-button flat alternate"
                                 type="button"
                                 aria-label="{{'container.failed-pickup-management.reschedule-selected' | translate}}"
                                 ng-click="ctrl.rescheduleSelected($event)">
                        <i class="material-icons">restore</i>
                        <span>{{'container.failed-pickup-management.reschedule-selected' | translate}}</span>
                      </md-button>
                    </md-menu-item>

                    <md-menu-item>
                      <md-button class="nv-button flat alternate"
                                 type="button"
                                 aria-label="{{'commons.download-csv' | translate}}"
                                 ng-click="ctrl.downloadCsvSelected($event)">
                        <i class="material-icons">file_download</i>
                        <span>{{'commons.download-csv' | translate}}</span>
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-menu-bar>
            </div>
          </div>
        </div>

        <nv-table-description
          table-param="ctrl.tableParam"
          title-display="mainTitle">
        </nv-table-description>
        <div class="table-container" ng-if="!ctrl.tableParam.empty">
          <nv-table
            param="ctrl.tableParam"
            selectable="true"
            controller-as="ctrl">
            <nv-table-row
              use="failedPickup">
              <nv-index></nv-index>
              <nv-td column="tracking_id">
                <a href="javascript:;"
                   ng-click="ctrl.editOrder(failedPickup)">
                  {{ failedPickup.tracking_id }}
                </a>
              </nv-td>
              <nv-td column="_shipperName">
                {{ failedPickup._shipperName }}
              </nv-td>
              <nv-td column="_lastAttemptTime">
                {{ failedPickup._lastAttemptTime }}
              </nv-td>
              <nv-td column="_failureReasonComments">
                {{ failedPickup._failureReasonComments }}
              </nv-td>
              <nv-td column="attempt_count">
                {{ failedPickup.attempt_count }}
              </nv-td>
              <nv-td column="_invalidFailureCount">
                {{ failedPickup._invalidFailureCount }}
              </nv-td>
              <nv-td column="_validFailureCount">
                {{ failedPickup._validFailureCount }}
              </nv-td>
              <nv-td column="_failureReasonCodeDescriptions">
                {{ failedPickup._failureReasonCodeDescriptions }}
              </nv-td>
              <nv-td column="_daysSinceLastAttempt">
                {{ failedPickup._daysSinceLastAttempt }}
              </nv-td>
              <nv-td column="_priorityLevel">
                {{ failedPickup._priorityLevel }}
              </nv-td>
              <nv-action column="actions">
                <div class="nv-icon-button-group" layout="row" layout-align="center center">
                  <nv-icon-button
                    ng-if="!failedPickup._isUpdating"
                    md-theme="nvGreen"
                    class="ghost dense"
                    name="container.failed-pickup-management.reschedule-next-day"
                    icon="{{ failedPickup._isUpdating ? 'restore' : 'restore' }}"
                    on-click="ctrl.rescheduleToNextDay(failedPickup)">
                  </nv-icon-button>
                  <md-progress-circular class="md-primary"
                                        md-mode="indeterminate"
                                        md-diameter="30px"
                                        ng-if="failedPickup._isUpdating">
                  </md-progress-circular>
                </div>
              </nv-action>
            </nv-table-row>
          </nv-table>
        </div>
      </md-content>
    </div>
  </div>
</md-content>