.nv-container-shipper-billing {
  width: 100%;
  height: 100%;

  .container-main {
    position: relative;
    .backdrop { 
      z-index: 4; 
      height: 100%; 
      width: 45%;
      position: absolute; 
      left: 0px; 
      top: 0px;
      background-color: #E0E0E090;
      line-height: 100%;
      text-align: center;

      p { 
        padding-top: 8rem;
        font-size: 4.8rem;
        font-weight: bold;
        color: #CACACA;
        vertical-align: middle;
        line-height: 1.5;
      }
    }
    .container-switch { padding: 1.6rem 0 }

    .amount-holder {
      span.currency { padding-top: 1.3rem; }
      md-input-container>label { margin-left: -3.8rem; }
    }

    .reason-holder { padding: 0rem 0rem 1.3rem; }
  }
}