<md-content class="nv-container-shipper-billing">

  <div class="container-main" layout="row" layout-wrap>
    <form name="modelForm" flex="45" layout>
      <md-card flex="100">
        <div class="backdrop" ng-if="ctrl.isReviewAvailable">
          <p>LOCKED</p>
        </div>
        <md-card-title>
          <h5>{{ 'container.shipper-billing.update-shipper-billing' | translate }}</h5>
        </md-card-title>
        <md-card-content layout="column">
          <div>
            <label>{{ commons.shipper | translate }}</label>
            <nv-autocomplete flex
              search-text="ctrl.shipperSearchText"
              placeholder="Search or Select Shipper"
              icon="search"
              delegate-handle="shipper-billing"
              item-types="shipper"
              hide-dropdown-icon="true"
              delay="300"
              display-by="displayName"
              sort-by="name"
              form="modelForm">
            </nv-autocomplete>
          </div>
          <div class="container-switch">
            <nv-btn-grp
              model="ctrl.transferMode"
              select-multiple="false"
              select-none="false"
              default-selection="01"
              show-selected="false"
              label-for-model-idx-0="+ Add"
              label-for-model-idx-1="- Deduct"
              onchange="ctrl.onTransferModeChange(index)"
              form="modelForm"
            ></nv-btn-grp>
          </div>

          <div layout class="amount-holder">
            <span class="currency">{{ ctrl.currencyText }}</span>
            <md-input-container class="md-block">
              <label>{{ 'commons.amount' | translate }}</label>
              <input ng-model="ctrl.amount" type="number" step="0.01">
            </md-input-container>
          </div>

          <div layout class="reason-holder">
            <nv-input-select
              name="commons.reason"
              label="commons.reason"
              model="ctrl.reasonId"
              model-options="{}"
              options="ctrl.reasonOption"
              required="true"
              form="modelForm"
              set-default="true"
            ></nv-input-select>
          </div>

          <nv-input-text ng-if="ctrl.reasonId === ctrl.reasonIds.BANK_TRANSFER"
            name="commons.shipper-billing.bank-transfer-details"
            label="commons.shipper-billing.bank-transfer-details"
            model="ctrl.bankTransferDetails"
            form="modelForm"
          ></nv-input-text>

          <div ng-show="ctrl.reasonId === ctrl.reasonIds.REFUND_SERVICE_RECOVERY || ctrl.reasonId === ctrl.reasonIds.DELIVERY_FEE">
            <label>{{ 'commons.shipper-billing.tracking-id-of-order' | translate }}</label>
            <nv-autocomplete flex
              search-text="ctrl.orderSearchText"
              placeholder="Search or Select Tracking ID"
              icon="search"
              delegate-handle="order-shipper-billing"
              item-types="order"
              hide-dropdown-icon="true"
              delay="300"
              display-by="displayName"
              sort-by="name">
            </nv-autocomplete>
          </div>

          <nv-input-text ng-if="ctrl.reasonId === ctrl.reasonIds.PICKUP_SURCHARGE"
            name="container.shipper-billing.pickup-surcharge-details"
            label="container.shipper-billing.pickup-surcharge-details"
            placeholder="container.shipper-billing.pickup-surcharge-details-placeholder"
            model="ctrl.pickupSurchargeDetails"
            required="true"
            form="modelForm"
          ></nv-input-text>
        </md-card-content>

        <md-card-actions>
          <nv-api-text-button
            name="commons.review"
            class="raised"
            text="commons.review"
            state="'idle'"
            md-theme="nvBlue"
            disabled="ctrl.isReviewDisabled()"
            on-click="ctrl.onReview()"
            form="modelForm"
          ></nv-api-text-button>
        </md-card-actions>
      </md-card>
    </form>

    <md-card flex="45" ng-if="ctrl.isReviewAvailable">
      <md-card-title layout layout-align="space-between">
        <h5>{{ 'container.shipper-billing.reservation-details' | translate }}</h5>
        <nv-icon-button
          name="commons.cancel"
          icon="cancel"
          class="flat dense"
          on-click="ctrl.onCancel()"
        ></nv-icon-button>
      </md-card-title>
      <md-card-content>
        <div layout>
          <nv-input-text
            name="commons.shipper-id"
            label="commons.shipper-id"
            model="ctrl.review.shipperId"
            readonly="::true"
          ></nv-input-text>
        </div>
        
        <div layout>
          <nv-input-text
            name="commons.model.shipper-name"
            label="commons.model.shipper-name"
            model="ctrl.review.shipperName"
            readonly="::true"
          ></nv-input-text>
        </div>

        <div layout>
          <nv-input-text
            name="container.shipper-billing.review-deduct-add"
            label="container.shipper-billing.review-deduct-add"
            model="ctrl.review.mode"
            readonly="::true"
          ></nv-input-text>
          <nv-input-text
            name="commons.amount"
            label="commons.amount"
            model="ctrl.review.amount"
            readonly="::true"
          ></nv-input-text>
        </div>

        <nv-input-text
          name="commons.reason"
          label="commons.reason"
          model="ctrl.review.reason"
          readonly="::true"
        ></nv-input-text>
      </md-card-content>
      <md-card-actions>
        <nv-api-text-button
          name="commons.submit"
          text="commons.submit"
          class="raised"
          state="ctrl.submitState"
          md-theme="nvGreen"
          on-click="ctrl.onSubmit($event)"
        ></nv-api-text-button>
      </md-card-actions>
    </md-card>
  </div>
</md-content>