md-dialog.driver-type-add,
md-dialog.driver-type-edit {

  width: 70rem;
  height: 70rem;

  .md-dialog-content {
    nv-button-group,
    nv-button-group-radio {
      margin-bottom: 1rem;
    }
  }

}
