<nv-dialog-header title="Add Driver Type" on-cancel="::onCancel($event)" cancel-text="commons.cancel"></nv-dialog-header>

<form name="modelForm" ng-submit="::onSave()" md-theme="nvBlue">

  <md-dialog-content>
    <div class="md-dialog-content">

      <nv-input-text
        class="md-block"
        label="{{::fields.name.displayName}}"
        model="fields.name.value"
        form="modelForm"
        required="::true">
      </nv-input-text>

      <nv-button-group
        form="modelForm"
        label="{{::fields.conditions[0].displayName}}"
        title-for-model-idx-0="Normal Delivery"
        title-for-model-idx-1="C2C + Return Pick Up"
        title-for-model-idx-2="Reservation Pick Up"
        ng-model="fields.conditions[0].value"
        required="::true">
      </nv-button-group>

      <nv-button-group-radio
        form="modelForm"
        label="{{::fields.conditions[1].displayName}}"
        title-for-model-idx-0="Priority Only"
        title-for-model-idx-1="Non-Priority Only"
        title-for-all="Both"
        ng-model="fields.conditions[1].value"
        required="::true">
      </nv-button-group-radio>

      <nv-button-group
        form="modelForm"
        label="{{::fields.conditions[2].displayName}}"
        title-for-model-idx-0="Less than 3 Parcels"
        title-for-model-idx-1="Less than 10 Parcels"
        title-for-model-idx-2="Trolley Required"
        title-for-model-idx-3="Half Van Load"
        title-for-model-idx-4="Full Van Load"
        title-for-model-idx-5="Larger than Van Load"
        ng-model="fields.conditions[2].value"
        required="::true">
      </nv-button-group>

      <nv-button-group
        form="modelForm"
        label="{{::fields.conditions[3].displayName}}"
        title-for-model-idx-0="Small"
        title-for-model-idx-1="Medium"
        title-for-model-idx-2="Large"
        title-for-model-idx-3="Extra Large"
        ng-model="fields.conditions[3].value"
        required="::true">
      </nv-button-group>

      <nv-button-group
        form="modelForm"
        label="{{::fields.conditions[4].displayName}}"
        title-for-model-idx-0="9AM to 6PM"
        title-for-model-idx-1="9AM to 10PM"
        title-for-model-idx-2="9AM to 12PM"
        title-for-model-idx-3="12PM to 3PM"
        title-for-model-idx-4="3PM to 6PM"
        title-for-model-idx-5="6PM to 10PM"
        ng-model="fields.conditions[4].value"
        required="::true">
      </nv-button-group>

    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <nv-button-save name="Submit" form="modelForm" state="saveButtonState"></nv-button-save>
  </md-dialog-actions>

</form>
