<md-dialog-content layout="column" layout-padding>
  <h3>{{'commons.warning' | translate}}</h3>
  <p class="nv-p" ng-bind-html="'container.order.edit.this-order-has-no-open-ticket' | translate"></p>
</md-dialog-content>
<md-dialog-actions>
  <nv-icon-text-button
    name="commons.ok"
    label="commons.ok"
    on-click="onCancel()">
  </nv-icon-text-button>
</md-dialog-actions>

