@import "../../../../../lib/ninja-commons/styles/mixins/table.mixins";

.order-create-uuids {
  $defaultWidth: 800px !important;

  width: $defaultWidth;

  md-dialog {
    max-width: $defaultWidth;
    overflow: hidden;
    max-height: none;

    .table-container {
      nv-table {
        @include nv-table-column-width(uuid, 100%);
        @include nv-table-column-width(failure_reason, 40rem);

        tr.last-row td.end-of-result {
          .end-of-table {
            height: 5rem !important;

            p {
              display: none;
            }
          }
        }
      }
    }
  }
}