<nv-dialog-header
  title="{{ctrl.title | translate}}"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<md-dialog>
  <md-dialog-content>
    <div class="table-container">
      <nv-table
        param="ctrl.tableParam"
        controller-as="ctrl">
        <nv-table-row
          use-virtual-repeat='false'
          use="order">
          <nv-index></nv-index>
          <nv-td column="uuid">
            {{order.uuid}}
          </nv-td>
          <nv-td column="failure_reason" show-if="ctrl.title === 'container.order.create.failed-orders'">
            {{order.failure_reason}}
          </nv-td>
        </nv-table-row>
      </nv-table>
    </div>
  </md-dialog-content>
</md-dialog>