@import "../../../../styles/variables";
@import "../../../../lib/ninja-commons/styles/mixins/typography.mixins";

.nv-container-route-inbound-filter {
  label {
    &.large {
      @include nv-font(h4);
      opacity: 0.8;
      margin-bottom: -$nv-baseline-grid;
      display: block;
    }
  }

  md-card {
    margin: 0;
  }

  md-input-container {
    label {
      display: none;
    }

    .md-errors-spacer {
      display: none;
    }
  }

  nv-api-text-button {
    display: block;

    > button {
      margin-left: auto !important;
    }
  }

  .hub-holder {
    margin-top: $nv-baseline-grid*4;
    margin-bottom: $nv-baseline-grid*4;

    .error-hint {
      display: block;
      margin-top: -$nv-baseline-grid;
      margin-bottom: $nv-baseline-grid;
      margin-left: $nv-baseline-grid*4;
    }
  }

  .autocomplete-input-holder {
    margin-top: -0.2rem;

    nv-autocomplete {
      margin-top: 1rem;
      margin-bottom: 0.8rem;
    }
  }

  .filter-holder {
    .or {
      margin-top: $nv-baseline-grid*7;
      @include nv-font(h5);
      opacity: 0.8;
    }

    .route-search-section {
      nv-icon-text-button {
        margin-top: $nv-baseline-grid;
      }
    }
  }
}