<md-content class="nv-container-route-inbound-filter">
  <form name="ctrl.form">
    <div layout="row" layout-sm="column" layout-xs="column" layout-padding
         class="hub-holder">
      <div flex
           hide-xs>
      </div>
      <div flex="50" flex-sm="100" flex-xs="100">
        <div class="autocomplete-input-holder">
          <label class="large">{{"container.route-inbound.select-hub-for-inbounding" | translate}}</label>
          <nv-autocomplete
            placeholder="{{ 'commons.search-or-select' | translate }}"
            delegate-handle="route-inbound-select-hub"
            multiple="false"
            search-text="ctrl.hubSelection.searchText"
            selected-item="ctrl.parentCtrl.selectedHub"
            display-by="name"
            sort-by="name"
            on-change="ctrl.hubSelectionOnChange($selectedOptions)"
            form="ctrl.form">
          </nv-autocomplete>
          <small class="dark-red error-hint"
                 ng-if="ctrl.hubSelection.errorHubRequired">
            {{ 'container.route-inbound.please-select-hub-first' | translate }}
          </small>
        </div>
      </div>
      <div flex
           hide-xs>
      </div>
    </div>

    <div layout="row" layout-sm="column" layout-xs="column" layout-padding
         class="filter-holder">
      <div flex>
        <md-card>
          <md-card-content>
            <label class="large">{{"container.route-inbound.enter-the-route-id" | translate}}</label>
            <nv-input-text
              class="md-block"
              name="route-id"
              label="container.route-inbound.enter-the-route-id"
              model="ctrl.formRouteId"
              form="ctrl.form">
            </nv-input-text>

            <nv-api-text-button
              disabled="!ctrl.formRouteId"
              state="ctrl.formRouteIdSubmitState"
              class="raised"
              name="container.route-inbound.continue"
              on-click="ctrl.routeIdSubmit($event)">
            </nv-api-text-button>
          </md-card-content>
        </md-card>
      </div>
      <div flex="5" flex-sm="100" flex-xs="100"
           class="nv-text-center or">
        {{ 'container.route-inbound.or' | translate }}
      </div>
      <div flex>
        <md-card>
          <md-card-content>
            <label class="large">{{"container.route-inbound.scan-a-tracking-id" | translate}}</label>
            <nv-input-text
              class="md-block"
              name="tracking-id"
              label="container.route-inbound.scan-a-tracking-id"
              model="ctrl.formTrackingId"
              form="ctrl.form">
            </nv-input-text>

            <nv-api-text-button
              disabled="!ctrl.formTrackingId"
              state="ctrl.formTrackingIdSubmitState"
              class="raised"
              name="container.route-inbound.continue"
              on-click="ctrl.trackingIdSubmit($event)">
            </nv-api-text-button>
          </md-card-content>
        </md-card>
      </div>
      <div flex="5" flex-sm="100" flex-xs="100"
           class="nv-text-center or">
        {{ 'container.route-inbound.or' | translate }}
      </div>
      <div flex
           class="route-search-section">
        <md-card>
          <md-card-content>
            <div class="autocomplete-input-holder">
              <label class="large">{{"container.route-inbound.search-by-driver" | translate}}</label>
              <nv-autocomplete
                placeholder="{{ 'commons.search-or-select' | translate }}"
                delegate-handle="route-inbound-route-search"
                multiple="false"
                search-text="ctrl.driverSearch.searchText"
                selected-item="ctrl.driverSearch.driver"
                display-by="driverName"
                sort-by="driverName"
                form="ctrl.form">
              </nv-autocomplete>
            </div>

            <nv-api-text-button
              disabled="!ctrl.driverSearch.driver"
              state="ctrl.driverSearch.submitState"
              class="raised"
              name="container.route-inbound.continue"
              on-click="ctrl.driverSubmit($event)">
            </nv-api-text-button>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </form>
</md-content>