<md-button
    id="{{::id}}"
    type="button"
    class="nv-button"
    aria-label="{{::name | translate}}"
    ng-disabled="isDisabled()"
    layout layout-align = "center center"
    ng-click="::onClickWrapper({$event: $event})">

    <i class="idle material-icons" ng-if="state === 'idle' || state === 'failed'">{{::icon}}</i>

    <div class="waiting" ng-if="state === 'waiting'" layout layout-align = "center center">
        <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="24px"></md-progress-circular>
    </div>

    <md-tooltip md-direction="{{::tooltipDirection}}" md-delay="::tooltipDelay">{{name | translate}}</md-tooltip>
</md-button>
