@import "../../../../../lib/ninja-commons/styles/variables";

md-dialog.bulk-route-removal-dialog {
  small.fake-input-label {
    color: $nv-text-black-2;
  }

  .loading {
    display: inline-block;
    width: 6rem;

    md-progress-circular {
      margin: auto;
    }
  }
}