<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <h2 class="md-title">{{'container.shipper-pickups.dialog.bulk-remove-route' | translate}}</h2>
      <div>
        {{'container.shipper-pickups.dialog.bulk-remove-route-detail' | translate:'{count:' + selectedReservationsCount + '}' }}
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        name="commons.cancel"
        on-click="onCancel()">
      </nv-icon-text-button>

      <nv-icon-text-button
        ng-if="!state.isRouteRemovalUpdating"
        class="flat"
        md-theme="nvRed"
        name="commons.remove"
        on-click="::onSubmit()">
      </nv-icon-text-button>
      <div class="loading"
           ng-if="state.isRouteRemovalUpdating">
        <md-progress-circular class="md-primary"
                              md-mode="indeterminate"
                              md-diameter="30px">
        </md-progress-circular>
      </div>
    </md-dialog-actions>
  </md-dialog>
</form>