@import "../../../styles/variables";
@import "../../../styles/mixins/typography.mixins";

md-dialog md-toolbar.dialog-header {

  background: none;

  div.md-toolbar-tools {
    
    padding-left: 2.8rem;
    padding-right: 0.7rem;

    .md-button {
      &:hover {
        background-color: rgba(158, 158, 158, 0.2); // reset to Angular Material button defaults
      }
    }
    .hint-text {
      pointer-events: none;
      opacity: 0;
      @include nv-font('h5');
      @include nv-font-weight('light');
      position: absolute;
      right: 5.9rem;
      top: 0;
      transition: opacity 1s ease;
    }

    :hover + .hint-text {
      opacity: 1;
    }
  }

  &.md-nvBlue-theme .hint-text {
    color: $nv-light-blue;
  }
  &.md-nvGreen-theme .hint-text {
    color: $nv-light-green;
  }
}
