<md-toolbar class="dialog-header" md-theme-watch="true">
  <div class="md-toolbar-tools">
    <h4>{{title | translate }}</h4>
    <span flex></span>
    <div>
      <nv-icon-button
        tooltip="false"
        md-theme-watch="true"
        class="flat dark alternate h5"
        name="Cancel"
        on-click="onCancel({$event: $event})"
        icon="close">
      </nv-icon-button>
      <p class="hint-text">{{::cancelText | translate}}</p>
    </div>
  </div>
</md-toolbar>
