@import "../../../../../styles/variables";
@import "../../../../../lib/ninja-commons/styles/mixins/typography.mixins";

md-dialog.route-inbound-address-verification {
  h2 {
    margin-bottom: $nv-baseline-grid*4;
  }

  md-input-container {
    .md-errors-spacer {
      display: none;
    }
  }

  p {
    @include nv-font(small);
  }
}