<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <h2 class="md-title">{{ 'container.route-inbound.reverify-delivery-address' | translate }}</h2>

      <div>
        <nv-input-text
          class="md-block"
          name="reverify-tracking-id"
          label="commons.tracking-id"
          model="ctrl.formTrackingId"
          on-keypress="ctrl.trackingIdOnKeypress(event)"
          form="modelForm">
        </nv-input-text>
      </div>

      <p ng-if="ctrl.previousTrackingId"
         ng-bind-html="'container.route-inbound.previously-scanned-tracking-id' | translate: { trackingId: ctrl.previousTrackingId }">
      </p>
    </md-dialog-content>

    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        name="commons.go-back"
        on-click="ctrl.onCancel()">
      </nv-icon-text-button>
      <nv-api-text-button
        class="flat"
        state="ctrl.formSubmitState"
        name="commons.submit"
        on-click="ctrl.onSubmit()"
        disabled="!ctrl.isAbleToSubmit()"
        form="modelForm">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>