.nv-global-inbound{
  height: 100%;
  $width: 60rem;

  .hub-selection-container{
    width: 40rem;    
    margin: 4.7rem auto;

    h4{
      font-size: 1.75rem;
      margin-bottom: 1.4rem;
    }

    .hub-selector{
      nv-autocomplete{
        md-autocomplete{
          margin-left: 0;
        }
      }
      .input-device-id{
        margin-top: 1.6rem;
      }
    }
  }

  .scan-container{
    height: 100%;
    min-height: 65rem !important;
    &.weight-diff{
      background: #FBD5F7 !important;
      .weight-diff-info{
        margin-top: 2rem;
        text-align: center;
        span{
          font-weight: 500;
          font-size: 1.6rem;
        }
      }
    }
    &.weight-exceed-max-limit {
      background: #DC143C !important;
      .weight-exceed-max-limit-info{
        margin-top: 2rem;
        text-align: center;
        span{ font-weight: 500; font-size: 1.6rem; }
      }
    }

    .panel{
      width: $width;
      text-transform: uppercase;
      margin: .5rem auto 0 auto;
    }
    .priority-container{
      font-size: 1.1rem;
      font-weight: 500;
      padding: 1.2rem 0 1.2rem 1.2rem;
      background: #e8e8e8;
      margin-right: .4rem;
      .inbound-data-info {
        text-align: center;
        font-size: 2rem;
      }
      &.yellow {
        background: yellow;
      }
      &.orange {
        background: orange;
      }
      &.red {
        background: red;
      }
    }

    .order-tags-container{
      font-size: 1.1rem;
      font-weight: 500;
      padding: 1.2rem 0 1.2rem 1.2rem;
      margin-left: .4rem;
      background: #DAE6F7;
    }

    .active-state {
      background: rgba(155, 225, 152, 0.75) !important;
    }
    .device-connecting{
      background: #ffe7b2;      
      & p, &{
        color: #9b5a1a !important;
      }
    }
    .device-connected{
      background:  #e1f6e0;
      & p, &{
        color: #035f1d !important;
      }
      
    }
    .device-disconnected {
      background: #ffe7ec;      
      & p, &{
        color: #ba0c2f !important;
      }
    }

    .no-device{
      background: #dbdbdb;      
      & p, &{
        color: #212121 !important;
      }
    }

    md-card.scan-card-top{
      width: $width;
      margin: .5rem auto;
      padding: 0;
      md-card-content{
        padding: 0;
        .status-bar {        
          .state{
            padding: .4rem;
            p{
              padding: 0;
              margin: 0;
              margin-left: .4rem;
              margin-right: .4rem;
              font-size: 1.2rem;
              font-weight: 500;
            }
            .icon{
              font-size: 1.4rem;
            }
          }
          
        }
        .hub-info-bar {
          p{
            margin-top: 0;
            margin-bottom: 0;
            font-size: 1.1rem;
          }
          h4{
            font-size: 1.4rem;
          }
          .action-container{
            nv-icon-button {
              padding: .4rem;
            }
          }
        }
        .dimming-sizing-setting, .dimming-sizing-container{
          .settings-box {
            background: #f5f5f5;
            border: solid .1rem #9be198;            
            .sizing-icons{
              padding: .4rem;
              height: 2.5rem;
              width: 2.5rem;
            }

            &.device-connected {
              background: #e1f6e0;
              border: solid .1rem #dbdbdb;
            }

            &.no-device-connected {
              background: #f5f5f5;
              border: solid .1rem #dbdbdb;
            }

            &.device-disconnected {
              background: #ffe7b2;
            }

            &.device-error {
              background: #ffe7ec;
            }

            &.manual-blank {
              background: #f5f5f5;
            }

            &.manual-filled {
              background: #eaf4f9;
            }
          }          
        }
        .dimming-sizing-setting {
          height: 4.8rem;
        }
        .dimming-sizing-container {
          .settings-box{            
            padding: .4rem;
            height: 3.5rem;

            &.dimension-error {
              background: #af0606;
            }

            &.manually-filled {
              border: .2rem solid #253746;
              &.success {
                background: #c9ebff;
              }
            }

            .auto-value {
              display: block;
              margin: .3rem;
            }

            &.auto-filled {
              background-color: #b0ffad;
              border: solid .1rem #9be198;
            }

            .multiply-by{
              text-align: center;
              padding-top: .4rem;
            }


            input {
              width: 100%;
              max-width: 100%;
            }
            md-input-container {
              margin: 0;
              padding: 0;
            }
          }

        }
      }      
    }

    .rack-container{
      flex: 1;
      width: 100%;
      height: 30rem;
      min-height: 20rem !important;
      margin: 0 auto 0 auto;
      .rack-sector{
        p, h1{
          text-align: center;
        }
        .rack-info {
          font-size: 8rem;
          font-weight: 500;
          height: 10rem;
          &.is-recovery {
            font-size: 6rem;
          }
        }
      }
      
      .hub-info{
        font-size: 3.5rem;
        font-weight: 500;
        height: 4rem;
      }

      .set-aside-info{
        font-size: 2.0rem;
        font-weight: 500;
      }
    }

    .manual-info {
      width: $width;
      margin: .5rem auto;
      text-align: center;

    }
    md-card.scanning-card{      
      width: $width;
      margin: 0 auto;
      background: #f5f5f5;
      .prefix-button-container {
        .prefixed {
          button {
            border: .2rem solid #253746 !important;
            color: #253746 !important;
          }
          
        }
      }
    }


  }
  .cheatsheet-side{
    height: 100%;
    width: 20rem;
    padding-top: 6rem;
    border: .1rem solid #000000;
    z-index: 2;
    position: fixed;
    right: 0;
    top: 0;
    p {
      padding: .4rem;
      font-size: 1.2rem;
      margin: 0;
      .boxed{
        border-radius: .3rem;
        background: #fdfdfd;        
        padding: .4rem;
        border: .1rem solid #eaeaea;
        font-style: normal;
      }
    }
    .section-title {
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
  .cheatsheet-side.ng-enter, .cheatsheet-side.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  }
  
  .cheatsheet-side.ng-enter,
  .cheatsheet-side.ng-leave.ng-leave-active {
    opacity:0;
  }
  
  .cheatsheet-side.ng-leave,
  .cheatsheet-side.ng-enter.ng-enter-active {
    opacity:1;
  }

  .loading-sheet {
    left: 0;
    top: 0;
    position: fixed;
    background-color: rgba(#CFCFCF, 0.67);
    z-index: 11;
    height: 100%;
    width: 100%;
  }
}