.nv-edit-payment-container{


  table.txn-table{
    th.date,td.date{
      width: 12rem;
    }
    th.transaction-type, td.transaction-type{
      width:25rem;
    }
    th.comments, td.comments{
      width: 23rem;
    }
  }
}