<nv-dialog-header title="{{'container.payment-processing.bulk-edit-payment-details' | translate}}" on-cancel="::ctrl.onCancel($event)"
    cancel-text="{{'commons.discard-changes' | translate }}"></nv-dialog-header>
<form name="modelForm" ng-submit="::ctrl.saveChanges(ctrl.payment)" novalidate>

    <md-dialog-content>
        <div class="md-dialog-content" layout="row" layout-wrap layout-padding>
            <div flex="100" layout="row" layout-padding layout-wrap>
                <nv-input-text readonly="true" label="{{'container.payment-processing.qty-of-selected-trx' | translate}}" name="transReqId"
                    model-options="{}" model="ctrl.payments.length" flex="50" form="modelForm">
                </nv-input-text>
                <div flex></div>
                <nv-input-select label="{{'container.payment-processing.status' | translate }}" 
                    name="status" 
                    model-options="{}" 
                    model="ctrl.status"
                    disabled="ctrl.isStatusDisabled()"
                    options="ctrl.statuses" flex="30" form="modelForm">
                </nv-input-select>
            </div>
            <div flex="100" layout="row" layout-wrap>
                <table class="table table-condensed table-bordered table-striped bulk-payments-table">
                    <thead>
                        <tr>
                            <th class="trans-req-id">
                                {{"container.payment-processing.withdrawal-ref" | translate}}
                            </th>
                            <th class="nco-user-id">
                                {{"container.payment-processing.nco-user-id" | translate}}
                            </th>
                            <th class="acc-holder">
                                {{"container.payment-processing.acc-holder" | translate}}
                            </th>
                            <th class="bank-account-no">
                                {{"container.payment-processing.bank-account-no" | translate}}
                            </th>
                            <th class="req-amount">
                                {{"container.payment-processing.req-amount" | translate}}
                            </th>
                            <th class="currency">
                                {{"container.payment-processing.currency" | translate}}
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="p in ctrl.payments">
                            <td class="trans-req-id">
                                {{p.ref }}
                            </td>
                            <td class="nco-user-id">
                                {{p.seller_user_id}}
                            </td>
                            <td class="acc-holder">
                                {{p.account_holder_name}}
                            </td>
                            <td class="bank-account-no">
                                {{p.bank_account_no}}
                            </td>
                            <td class="req-amount">
                                {{p.amount}}
                            </td>
                            <td class="currency">
                                {{p.currency}}
                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>
            <div flex="100" layout="row" layout-padding layout-wrap>
                <nv-input-textarea
                    label="{{'container.payment-processing.bulk-comment-to-be-added' | translate }}"
                    name="comments"
                    model-options="{}"
                    form ="modelForm"
                    model="ctrl.comments"
                    flex="100"></nv-input-textarea>
            </div>

            <div flex="100" layout="row" layout-padding layout-wrap>
                <nv-input-checkbox
                    label="{{'container.payment-processing.i-confirm-that-these-are-the-transaction' | translate}}"
                    model="ctrl.isChecked"
                ></nv-input-checkbox>
            </div>
        </div>


    </md-dialog-content>
    <md-dialog-actions>
         <nv-api-text-button
                class="raised" 
                md-theme="nvGreen" 
                aria-label="Save Withdrawal" 
                on-click="ctrl.saveChanges()" 
                name="{{'commons.save-changes' | translate }}"  
                id="createButton"
                form="modelForm"
                disabled="!ctrl.isChecked"
                state="ctrl.state"
            >
            </nv-api-text-button>
    </md-dialog-actions>

</form>