<nv-dialog-header title="{{'container.payment-processing.edit-payment-details' | translate}}" 
    on-cancel="::ctrl.onCancel($event)" cancel-text="{{'commons.discard-changes' | translate }}"></nv-dialog-header>
<form name="modelForm" ng-submit="::ctrl.saveChanges(ctrl.payment)" novalidate>

    <md-dialog-content >
        <div class="md-dialog-content" layout="row" layout-wrap layout-padding>
            <div flex="100" layout="row" layout-padding layout-wrap>
                <nv-input-text
                    readonly="true"
                    label="{{'container.payment-processing.withdrawal-ref' | translate}}"
                    name="ref"
                    model-options="{}"
                    model="ctrl.payment.ref"
                    flex="30"
                    form="modelForm"></nv-input-text>
            </div>
            <div flex="100" layout="row" layout-padding layout-wrap>
                <nv-input-text
                    readonly="true"
                    label="{{'container.payment-processing.bank-account-no' | translate}}"
                    name="bankAccNo"
                    model-options="{}"
                    model="ctrl.payment.bank_account_no"
                    flex="30"
                    form="modelForm"></nv-input-text>

                <nv-input-text
                        readonly="true"
                        label="{{'container.payment-processing.acc-holder-name' | translate}}"
                        name="bankAccNo"
                        model-options="{}"
                        model="ctrl.payment.account_holder_name"
                        flex="30"
                        form="modelForm"></nv-input-text>
                <nv-input-select
                        label="{{'container.payment-processing.status' | translate }}"
                        name="status"
                        model-options="{}"
                        model="ctrl.payment.status"
                        disabled ="ctrl.isStatusDisabled()"
                        options="ctrl.statuses"
                        flex="30"
                        form="modeForm"></nv-input-select>
            </div>

            <div flex="100" layout="row" layout-padding layout-wrap>
                <nv-input-textarea
                    label="{{'container.payment-processing.comments' | translate }}"
                    name="comments"
                    model-options="{}"
                    form ="modelForm"
                    model="ctrl.payment.comments"
                    flex="100"></nv-input-textarea>
            </div>

            <div flex="100" layout="row" layout-padding layout-wrap>
                <h5>Transaction Log</h5>
                <div flex="100">
                    <table class="txn-table table table-condensed table-bordered table-striped">
                        <thead>
                            <th class="date">
                                {{'commons.date' | translate }}
                            </th>
                            <th class="transaction-type">
                                {{'container.payment-processing.transaction-type' | translate }}
                            </th>
                            <th class="comments">
                                {{'commons.comments' | translate}}
                            </th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="txn in ctrl.payment.transactions">
                                <td class="date">
                                    {{txn.created_at | nvTime : operator : date}}
                                </td>
                                <td class="transaction-type">
                                    {{txn.event}}
                                </td>
                                <td class="comments">
                                    {{txn.comments}}
                                </td>
                            </tr>
                        </tbody>

                    </table>

                </div>
            </div>
            <div flex="100" layout="row" layout-padding layout-wrap>
                <nv-input-checkbox
                    label="{{'container.payment-processing.i-confirm-that-these-are-the-transaction' | translate}}"
                    model="ctrl.isChecked"
                ></nv-input-checkbox>
            </div>
        </div>


    </md-dialog-content>
    <md-dialog-actions>
            <nv-api-text-button
                class="raised" 
                md-theme="nvGreen" 
                aria-label="Save Withdrawa;" 
                on-click="ctrl.saveChanges(ctrl.payment)" 
                name="{{'commons.save-changes' | translate }}"  
                id="createButton"
                form="modelForm"
                disabled="!ctrl.isChecked"
                state="ctrl.state"
            >
            </nv-api-text-button>
            
    </md-dialog-actions>

</form>
