.nv-container-bulk-order-rollback {
  .password-holder {
    padding-top: $nv-baseline-grid;
    padding-bottom: $nv-baseline-grid;

    md-input-container {
      .md-errors-spacer {
        display: none;
      }
    }
  }
}
