<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <h2 class="md-title">{{ 'container.bulk-order.dialog-rollback-title' | translate }}</h2>
      <div>
        {{ 'container.bulk-order.dialog-rollback-body' | translate }}
      </div>
      <div class="password-holder">
        <nv-input-password
          class="md-block"
          label="{{'commons.password' | translate}}"
          model="ctrl.formPassword"
          required="true"
          form="modelForm">
        </nv-input-password>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        name="commons.go-back"
        on-click="ctrl.onCancel()">
      </nv-icon-text-button>
      <nv-api-text-button
        md-theme="nvRed"
        class="flat"
        state="ctrl.submitState"
        name="commons.rollback"
        form="modelForm"
        on-click="ctrl.onSubmit()">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>