@import "../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../styles/variables";

.nv-container-reservation-rejection {
  height: 100%;

  > div.loaded {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .title {
      h5 {
        @include nv-font-color(black);
      }

      small {
        @include nv-font-color(black, 2);
      }
    }

    .connection-status {
      display: none;
      color: #20a661;
      font-size: 1.6rem;

      @include nv-font-weight(medium);

      i {
        margin-right: $nv-baseline-grid;
      }
    }

    div.table-container {
      position: relative;
      flex: 1;

      nv-table {
        // column width
        @include nv-table-column-width(c_time-rejected, 13rem);
        @include nv-table-column-width(c_pickup, 25rem);
        @include nv-table-column-width(priority_level, 12rem);
        @include nv-table-column-width(c_timeslot, 16rem);
        @include nv-table-column-width(rejection_reason, 25rem);
        @include nv-table-column-width(c_driver, 20rem);
        @include nv-table-column-width(route_id, 12rem);
        @include nv-table-column-width(c_hub-name, 100%);

        th, td {
          &.c_pickup {
            .bold {
              @include nv-font-weight(medium);
            }
          }

          &.c_hub-name {
            min-width: 16rem;
          }
        }

        // row height
        @include nv-table-row-height(5rem);

        // action columns
        @include nv-table-action-columns(nv-table-action-width("three-dense-p"));

        tr.last-row td.end-of-result {
          .end-of-table {
            height: 5rem !important;

            p {
              display: none;
            }
          }
        }
      }
    }
  }
}