<md-content
  class="nv-container-reservation-rejection"
  nv-load="ctrl.getAll"
  loading-message="{{'commons.load-data' | translate}}"
  ng-cloak>
  <div class="title"
       layout="row" layout-xs="column" layout-padding layout-align="start center">
    <div>
      <h5>{{ 'container.sidenav.pick-ups.reservation-rejection' | translate }}</h5>
      <small>{{ 'container.reservation-rejection.last-updated' | translate: { date: ctrl.lastUpdated.date, time: ctrl.lastUpdated.time } }}</small>
    </div>
    <div flex="1"></div>

    <div>
      <div layout="row" layout-align="center center" class="connection-status">
        <i class="material-icons">check_circle</i> {{ 'container.reservation-rejection.connected-to-server' | translate }}
      </div>
    </div>
  </div>

  <div class="table-container">
    <nv-table
      param="ctrl.rejectedReservationsTableParam"
      controller-as="ctrl">
      <nv-table-row
        use="rejectedReservation"
        row-height="50">
        <nv-td column="c_timeRejected">
          <div>{{ rejectedReservation.c_dateRejected }}</div>
          <div>{{ rejectedReservation.c_timeRejected }}</div>
        </nv-td>
        <nv-td column="c_pickup">
          <div class="bold">
            {{ rejectedReservation.c_pickup.name }}
          </div>
          <div>
            {{ rejectedReservation.c_pickup.address }}
          </div>
        </nv-td>
        <nv-td column="priority_level">
          {{ rejectedReservation.priority_level }}
        </nv-td>
        <nv-td column="c_timeslot">
          <div>{{ rejectedReservation.c_dateslot }}</div>
          <div>{{ rejectedReservation.c_timeslot }}</div>
        </nv-td>
        <nv-td column="rejection_reason">
          {{ rejectedReservation.rejection_reason }}
        </nv-td>
        <nv-td column="c_driver">
          <div class="nv-text-ellipsis">
            {{ rejectedReservation.c_driver.name }}
          </div>
          <div class="nv-text-ellipsis" ng-repeat="contact in rejectedReservation.c_driver.contacts">
            {{ contact.details }}
          </div>
        </nv-td>
        <nv-td column="route_id">
          {{ rejectedReservation.route_id }}
        </nv-td>
        <nv-td column="c_hubName">
          {{ rejectedReservation.c_hubName }}
        </nv-td>

        <nv-action column="actions">
          <nv-icon-button
            md-theme="nvBlue"
            class="ghost dense"
            name="container.reservation-rejection.reassign-reservation"
            icon="swap_calls"
            on-click="ctrl.showRejectionFormDialog($event, rejectedReservation, ctrl.REJECTION_FORM_ACTION.REASSIGN)">
          </nv-icon-button>

          <nv-icon-button
            md-theme="nvBlue"
            class="ghost dense"
            name="container.reservation-rejection.verify-address"
            icon="check_circle"
            on-click="ctrl.showVerifyAddressDialog($event, rejectedReservation)">
          </nv-icon-button>

          <nv-icon-button
            md-theme="nvYellow"
            class="ghost dense"
            name="container.reservation-rejection.fail-pickup"
            icon="close"
            on-click="ctrl.showRejectionFormDialog($event, rejectedReservation, ctrl.REJECTION_FORM_ACTION.FAIL_PICKUP)">
          </nv-icon-button>
        </nv-action>
      </nv-table-row>
    </nv-table>
  </div>
</md-content>