.nv-container-warehousing {

  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  div.md-padding > div {

    display: flex;

    .nv-button.md-button {
      margin-right: 1rem;
    }

    &.form {
      margin-top: 1rem;

      md-input-container:not(.disabled):not(.md-input-invalid) label {
        top: -1.6rem;
        opacity: 1;
      }

      .zone-selection md-select md-select-value span {
        white-space: normal;

        .md-container {
          display: none;
        }
      }
    }
  }

  div.table-container {
    position: relative;
    flex: 1;

    nv-table.table1 {
      // column width
      @include nv-table-column-width(id, 8rem);
      @include nv-table-column-width(title, 16rem);
      @include nv-table-column-width(sortation_factors, 18rem);
      @include nv-table-column-width(override_factors, 18rem);
      @include nv-table-column-width(active, 18rem);

      @include nv-table-action-columns(9rem);

      // row height
      @include nv-table-row-height(5.6rem);
    }

    nv-table.table2 {
      @include nv-table-column-width(arms, 10rem);
      @include nv-table-column-width(routes, 40rem);
      @include nv-table-column-width(zones, 20rem);
      @include nv-table-column-width(sizes, 20rem);
      @include nv-table-column-width(descriptions, 20rem);

      @include nv-table-action-columns(nv-table-action-width("one-dense-p"));

      div {
        &.even {
          color: $nv-dark-green;
        }

        &.odd {
          color: $nv-dark-red;
        }
      }

      .table-with-locks-container table.table-body tr:nth-child(odd) td:not(.end-of-result).lastRow,
      .table-with-locks-container table.table-body tr:nth-child(even) td:not(.end-of-result).lastRow {
        background-color: $nv-light-blue;
      }
    }
  }
}
