<md-content class="nv-container-warehousing">
  <div class="md-padding">
    <div>
      <nv-input-text
        class="md-block"
        label="container.warehousing.ip-address"
        model="ctrl.ipAddress">
      </nv-input-text>
      <nv-input-select
        label="container.warehousing.belt"
        placeholder="commons.select"
        model="ctrl.belt"
        model-options="{ trackBy: '$value'}"
        options="ctrl.belts">
      </nv-input-select>
    </div>
    <div>
      <nv-api-text-button
        class="raised"
        aria-label="Grey Orange"
        state="ctrl.uploadInboundState"
        on-click="::ctrl.uploadInboundData()"
        name="container.warehousing.upload-inbound-data">
      </nv-api-text-button>

      <nv-api-text-button
        class="raised"
        aria-label="Grey Orange"
        state="ctrl.uploadParcelState"
        on-click="::ctrl.uploadParcelSortData()"
        name="container.warehousing.upload-parcel-sort-data">
      </nv-api-text-button>

      <nv-api-text-button
        class="raised"
        aria-label="Grey Orange"
        state="ctrl.loadMappingDataState"
        on-click="::ctrl.loadParcelSortMappingData($event)"
        name="container.warehousing.load-parcel-sort-mapping-data">
      </nv-api-text-button>

      <nv-api-text-button
        class="raised"
        aria-label="Grey Orange"
        state="ctrl.loadConfigState"
        on-click="::ctrl.loadConfig()"
        name="container.warehousing.load-config">
      </nv-api-text-button>
    </div>

    <div class="form" ng-if="ctrl.parcelSortData">
      <nv-input-select
        class="zone-selection"
        form="modelForm"
        placeholder="commons.select"
        label="container.warehousing.zone"
        model="ctrl.zone"
        multiple="true"
        model-options="{ trackBy: '$value'}"
        options="ctrl.zones">
      </nv-input-select>
      <nv-input-number
        form="modelForm"
        label="{{'container.warehousing.arm-size' | translate }}"
        min="4"
        model="ctrl.armSize">
      </nv-input-number>
      <md-button
        class="nv-button raised"
        md-theme="nvBlue"
        ng-click="ctrl.selectZoneChunk()">
        {{ 'container.warehousing.get-data' | translate }}
      </md-button>
    </div>
  </div>
  <div ng-if="ctrl.tableParam" class="table-container">
    <nv-table class="table1" param="ctrl.tableParam" controller-as="ctrl">
      <nv-table-row use="config" row-height="41">
        <nv-td column="id">{{ config.id }}</nv-td>
        <nv-td column="title">{{ config.title }}</nv-td>
        <nv-td column="override_factors">{{ (config.override_factors || []).join(', ') || '-' }}</nv-td>
        <nv-td column="sortation_factors">{{ (config.sortation_factors || []).join(', ') || '-' }}</nv-td>
        <nv-td column="active">{{ (config.active ? 'container.warehousing.active' : 'container.warehousing.not-active') | translate }}</nv-td>
        <nv-action column="set-active">
          <nv-icon-button
            md-theme="nvGreen"
            class="ghost dense"
            name="Active"
            icon="grade"
            on-click="ctrl.setActive(config.id)">
          </nv-icon-button>
        </nv-action>
      </nv-table-row>
    </nv-table>
  </div>

  <div ng-if="ctrl.tableParam2" class="table-container">
    <nv-table class="table2" param="ctrl.tableParam2" controller-as="ctrl">
      <nv-table-row use="config">
        <nv-index />
        <nv-td column="arms" filter="false" sortable="false" ng-class="{ lastRow: ctrl.lastSelectedRow === $index }">
          <div ng-repeat="arm in config.arms track by $index"
            ng-class-even="'even'"
            ng-class-odd="'odd'">
            {{::arm}}
          </div>
        </nv-td>
        <nv-td column="routes" filter="false" sortable="false" ng-class="{ lastRow: ctrl.lastSelectedRow === $index }">
          <div ng-repeat="route in config.routes track by $index"
               class="nv-text-ellipsis"
               ng-class-even="'even'"
               ng-class-odd="'odd'">
            {{::route}}
          </div>
        </nv-td>
        <nv-td column="zones" filter="false" sortable="false" ng-class="{ lastRow: ctrl.lastSelectedRow === $index }">
          <div ng-repeat="zone in config.zones track by $index"
               class="nv-text-ellipsis"
               ng-class-even="'even'"
               ng-class-odd="'odd'">
            {{::zone}}
          </div>
        </nv-td>
        <nv-td column="sizes" filter="false" sortable="false" ng-class="{ lastRow: ctrl.lastSelectedRow === $index }">
          <div ng-repeat="size in config.sizes track by $index"
               class="nv-text-ellipsis"
               ng-class-even="'even'"
               ng-class-odd="'odd'">
            {{::size}}
          </div>
        </nv-td>
        <nv-td column="descriptions" filter="false" sortable="false" ng-class="{ lastRow: ctrl.lastSelectedRow === $index }">
          <div ng-repeat="description in config.descriptions track by $index"
               ng-class-even="'even'"
               ng-class-odd="'odd'">
            {{::description}}
          </div>
        </nv-td>
        <nv-action column="action" ng-class="{ lastRow: ctrl.lastSelectedRow === $index }">
          <nv-icon-button
            md-theme="nvGreen"
            class="ghost dense"
            name="Active"
            icon="send"
            on-click="ctrl.publishMapping(config.request, $index)">
          </nv-icon-button>
        </nv-action>
      </nv-table-row>
    </nv-table>
  </div>
</md-content>
