<md-content class="nv-global-inbound">
  <div class="hub-selection-container" ng-if="ctrl.showPage == 'filter'">
    <form name="ctrl.hubForm" layout="row" layout-wrap>
        <h4>{{"container.global-inbound.select-the-following-to-begin" | translate}}:</h4>
        <div flex="100" layout="row" class="hub-selector" >
            <div class="md-block field-container" layout="column" flex="60">
                <label class="nv-small">{{"container.global-inbound.hub" | translate}}</label>
                <nv-autocomplete            
                  class="md-block"
                  placeholder="{{'container.global-inbound.select-hub' | translate}}"
                  search-text="ctrl.hubSearchText"
                  selected-item="ctrl.data.hub"
                  icon=""
                  form="ctrl.hubForm"
                  display-by="displayName"
                  delegate-handle="hubs-auto"
                  item-types="hub"
                  required="true"
                  show-suggestion-when-empty="true">
                </nv-autocomplete>        
              </div>
                     
            <nv-input-text
              model="ctrl.data.deviceId"
              class="input-device-id"
              name="container.global-inbound.device-id-optional"   
              label="container.global-inbound.device-id-optional"
            >
            </nv-input-text>
        </div>
        <div flex="100" layout="row" layout-align="end none">
          <nv-api-text-button
            name="{{'container.global-inbound.continue' | translate }}"
            state="ctrl.loadState"
            on-click="ctrl.startInbounding()"
            class="raised"
            disabled="!ctrl.data.hub"
            form="ctrl.hubForm"
            theme="nvBlue">
          </nv-api-text-button>
        </div>
    </form>    
  </div>
  <div layout="column" class="scan-container" ng-if="ctrl.showPage == 'scanning'" 
    ng-class="{ 'weight-diff': ctrl.state.weightDiff && !ctrl.state.weightExceedMaxLimit,
                'set-aside-exceeded': ctrl.state.setAsideExceed,
                'weight-exceed-max-limit': ctrl.state.weightExceedMaxLimit }">
      <div layout="row" class="panel priority-container {{ctrl.data.priorityLevelColorCode}}" layout-align="none center">
        <div flex="45">
          {{"container.parcel-sweeper.priority-level" | translate}}
        </div>
        <div class="inbound-data-info" flex="10">
          <span>{{ctrl.data.priorityLevel || '-'}}</span>
        </div>
        <div class="leftover" flex="45">
        </div>
      </div>
      <md-card class="scan-card-top">
          <md-card-content layout="row" layout-wrap>
            <div flex="100" layout="row" layout-wrap class="status-bar">
              <div flex="50" class="connection-state state" layout="row" layout-align="start center"
                ng-class="{                 
                  'device-connected': ctrl.state.internetConnection,
                  'device-disconnected': !ctrl.state.internetConnection                  
                }">
                  <i class="material-icons icon" ng-if="ctrl.state.internetConnection">brightness_1</i> 
                  <i class="material-icons icon" ng-if="!ctrl.state.internetConnection">panorama_fish_eye</i>
                  <p>{{ctrl.state.internetConnectionMessage | translate}}</p>                
              </div>
              <div flex="50" layout-align="end center" layout="row" class="device-state state"
                ng-class="{ 
                  'device-connecting': (ctrl.state.deviceStatus === ctrl.DEVICE_STATUS.CONNECTING),
                  'device-connected': (ctrl.state.deviceStatus === ctrl.DEVICE_STATUS.DEVICE_CONNECTED),
                  'device-disconnected': (ctrl.state.deviceStatus === ctrl.DEVICE_STATUS.DISCONNECTED),
                  'no-device': (ctrl.state.deviceStatus === ctrl.DEVICE_STATUS.NO_DEVICE)  
                }">                
                <p>{{ctrl.state.deviceStatus}}</p>                  
                <i class="material-icons icon">sync</i>
              </div>
            </div>
            <div flex="100" layout="row" layout-wrap class="hub-info-bar">
              <div flex="20" layout="column" layout-padding>
                <p class="nv-small">{{"container.global-inbound.hub" | translate}}</p>
                <h4>{{ctrl.data.hub.displayName}}</h4>
              </div>
              <div flex="20" layout="column" layout-padding>
                  <p class="nv-small">{{"container.global-inbound.device-id" | translate}}</p>
                  <h4>{{ctrl.data.deviceId}}</h4>
              </div>
              <div flex="15" layout="column" layout-padding>
                  <p class="nv-small">{{"container.global-inbound.scanned" | translate}}</p>
                  <h4>{{ctrl.data.scanCounter}}</h4>
              </div>
              <div flex="20" layout="column" layout-padding>
                  <p class="nv-small">{{"container.global-inbound.set-aside" | translate}}</p>
                  <h4>{{ctrl.data.setAsideCounter}}</h4>
              </div>
              <div flex></div>
              <div flex="20" class="action-container" layout="column" layout-padding>
                <p>{{"container.global-inbound.actions" | translate}}</p>
                <div layout="row">
                  <nv-icon-button
                    icon="settings"
                    class="dense ghost"
                    name="commons.settings"
                    on-click="ctrl.openSettings($event)"
                    md-theme="nvGreen">
                  </nv-icon-button>
                  <nv-icon-button
                    icon="keyboard"
                    class="dense ghost"
                    name="? {{ (ctrl.showCheatsheet ? 'container.global-inbound.hide-hotkeys' : 'container.global-inbound.show-hotkeys') | translate}}"
                    on-click="ctrl.openCheatsheet($event)"
                    md-theme="nvGreen">
                  </nv-icon-button>                    
                </div>
              </div>
            </div>
            <div flex="100" layout="row" class="dimming-sizing-setting">
              <div flex="25" class="sizing-setting settings-box" 
                ng-class="{ 'manually': !ctrl.state.sizingStateAuto,
                            'device-connected': ctrl.state.sizingStateAuto,
                          }"
                layout="row" layout-wrap layout-padding  layout-align="center center">
                <img class="sizing-icons" src="lib/ninja-commons/assets/images/sizing.png">
                <nv-icon-text-button
                  class="ghost h6 dense active-state"
                  ng-if="ctrl.state.sizingStateAuto"
                  on-click="ctrl.toggleState('sizingStateAuto')"
                  name="container.global-inbound.retain"
                  md-theme="nvGreen">
                </nv-icon-text-button>                
                <nv-icon-text-button
                  class="ghost h6 dense"
                  name="container.global-inbound.manual"
                  ng-if="!ctrl.state.sizingStateAuto"
                  on-click="ctrl.toggleState('sizingStateAuto')"
                  md-theme="nvGreen">
                </nv-icon-text-button>
              </div>             
              <div flex="25" class="weighting-setting settings-box" 
                ng-class="{ 'manual-blank': !ctrl.state.weightingStateAuto, 
                            'manual-filled': !ctrl.state.weightingStateAuto && ctrl.data.weight,
                            'device-connecting': ctrl.state.weightingStateAuto && (ctrl.state.deviceStatus === ctrl.DEVICE_STATUS.CONNECTING),
                            'device-connected': ctrl.state.weightingStateAuto && (ctrl.state.deviceStatus === ctrl.DEVICE_STATUS.DEVICE_CONNECTED),
                            'device-disconnected': ctrl.state.weightingStateAuto && (ctrl.state.deviceStatus === ctrl.DEVICE_STATUS.DISCONNECTED),
                            'no-device': ctrl.state.weightingStateAuto && (ctrl.state.deviceStatus === ctrl.DEVICE_STATUS.NO_DEVICE)  
                          }"
                layout="row" layout-wrap layout-padding  layout-align="center center">
                <img class="sizing-icons" src="lib/ninja-commons/assets/images/weighting.png">
                <nv-icon-text-button
                  class="ghost h6 dense active-state"
                  name="container.global-inbound.auto"
                  ng-if="ctrl.state.weightingStateAuto"
                  on-click="ctrl.toggleState('weightingStateAuto')"
                  md-theme="nvGreen">
                </nv-icon-text-button>
                <nv-icon-text-button
                  class="ghost h6 dense"
                  name="container.global-inbound.manual"
                  ng-if="!ctrl.state.weightingStateAuto"
                  on-click="ctrl.toggleState('weightingStateAuto')"
                  md-theme="nvGreen">
                </nv-icon-text-button>
              </div>
              <div flex="50" class="dimming-setting settings-box" 
                ng-class="{ 'manual-blank': !ctrl.state.dimensionStateAuto, 
                            'manual-filled': !ctrl.state.dimensionStateAuto && (ctrl.data.height || ctrl.data.width || ctrl.data.length ),
                            'device-connecting': ctrl.state.dimensionStateAuto && (ctrl.state.deviceStatus === ctrl.DEVICE_STATUS.CONNECTING),
                            'device-connected': ctrl.state.dimensionStateAuto && (ctrl.state.deviceStatus === ctrl.DEVICE_STATUS.DEVICE_CONNECTED),
                            'device-disconnected': ctrl.state.dimensionStateAuto && (ctrl.state.deviceStatus === ctrl.DEVICE_STATUS.DISCONNECTED),
                            'no-device': ctrl.state.dimensionStateAuto && (ctrl.state.deviceStatus === ctrl.DEVICE_STATUS.NO_DEVICE)  
                          }"
                layout="row" layout-wrap layout-padding  layout-align="center center">
                <img class="sizing-icons" src="lib/ninja-commons/assets/images/dimming.png">
                <nv-icon-text-button
                  class="ghost h6 dense active-state"
                  ng-if="ctrl.state.dimensionStateAuto"
                  name="container.global-inbound.auto"
                  on-click="ctrl.toggleState('dimensionStateAuto')"
                  md-theme="nvGreen">
                </nv-icon-text-button>
                <nv-icon-text-button
                  class="ghost h6 dense"
                  ng-if="!ctrl.state.dimensionStateAuto"
                  name="container.global-inbound.manual"
                  on-click="ctrl.toggleState('dimensionStateAuto')"
                  md-theme="nvGreen">
                </nv-icon-text-button>
              </div>
            </div>
            <div flex="100" layout="row" class="dimming-sizing-container" layout-align="none end">
              <div flex="25" layout layout-align="end center" class="settings-box"
                ng-class="{ 'manually-filled': (!ctrl.state.sizingStateAuto && ctrl.data.size), 
                            'auto-filled': (ctrl.state.sizingStateAuto && ctrl.data.size),
                            'success': !ctrl.state.ready }"
              >
                  <span class="auto-value" ng-if="ctrl.state.sizingStateAuto">{{ctrl.data.size || '-'}}</span>
                  <nv-input-select 
                    model-options="{}"
                    model="ctrl.data.size"
                    label="size"
                    show-label="false"
                    name=""
                    ng-if="!ctrl.state.sizingStateAuto"
                    options="ctrl.const.sizes"
                    set-default="false">
                  </nv-input-select>
              </div>
              <div flex="25" layout="row" layout-wrap class="settings-box auto-able"
              ng-class="{ 'manually-filled': (!ctrl.state.weightingStateAuto && ctrl.data.weight), 'success': !ctrl.state.ready }"
              >
                <div flex>
                    <span class="auto-value" ng-if="ctrl.state.weightingStateAuto">{{ctrl.data.weight || "-"}}</span>
                    <nv-input-number                      
                      model="ctrl.data.weight"                    
                      min="0"
                      name="input-weight"
                      on-keypress="ctrl.onKeyPressManualInput(event)"
                      label=""
                      ng-if="!ctrl.state.weightingStateAuto"/>  
                </div>
                
                <h5>{{"container.global-inbound.kg" | translate}}</h5>
              </div>
              <div flex="50" layout="row" layout-wrap class="settings-box auto-able"
                ng-class="{ 'manually-filled': (!ctrl.state.dimensionStateAuto && (ctrl.data.height || ctrl.data.width || ctrl.data.length )) , 
                            'success': !ctrl.state.ready,
                            'dimension-error': ctrl.state.dimensionsError
                          }"
              >
                <div flex="20">
                  <span class="auto-value" ng-if="ctrl.state.dimensionStateAuto">{{ctrl.data.height || '-'}}</span>
                  <nv-input-number
                    label=""
                    name="input-height"
                    model="ctrl.data.height"                    
                    min="0"
                    on-keypress="ctrl.onKeyPressManualInput(event)"
                    ng-if="!ctrl.state.dimensionStateAuto"/>
                </div>
                <div flex="10" class="multiply-by">X</div>
                <div flex="20">
                  <span class="auto-value" ng-if="ctrl.state.dimensionStateAuto">{{ctrl.data.width || '-'}}</span>
                  <nv-input-number
                    label=""
                    name="input-width"
                    model="ctrl.data.width"                    
                    min="0"
                    on-keypress="ctrl.onKeyPressManualInput(event)"
                    ng-if="!ctrl.state.dimensionStateAuto"/>                  
                </div>
                <div flex="10" class="multiply-by">X</div>
                <div flex="20">
                  <span class="auto-value" ng-if="ctrl.state.dimensionStateAuto">{{ctrl.data.length || '-'}}</span>
                  <nv-input-number
                    label=""
                    name="input-length"
                    model="ctrl.data.length"                    
                    min="0"
                    ng-if="!ctrl.state.dimensionStateAuto"/>                  
                </div>
                <div flex="20">
                  <h5>{{"container.global-inbound.cm" | translate}}</h5>
                </div>
              </div>
              
            </div>
          </md-card-content>
        </md-card>
    
  
      <div class="manual-info" ng-show="!(ctrl.state.dimensionStateAuto && ctrl.state.weightingStateAuto && ctrl.state.sizingStateAuto)">
        {{"container.global-inbound.for-manual-mode-only-filled-values" | translate}}
      </div>
  
  
      <div class="rack-container" layout="row" layout-wrap layout-align="center center">
        <h3 flex="100" class="hub-info" layout layout-align="center center" ng-if="ctrl.state.ready">  
          {{"container.global-inbound.scan-enter-to-begin" | translate}}
        </h3>
        <h3 flex="100" class="hub-info" layout layout-align="center center" ng-if="!ctrl.state.ready">
          {{"container.global-inbound.hub-x" | translate: { x: ctrl.data.responsibleHub } }}
        </h3>
        <div flex="100" layout="row" class="rack-sector" style="background: {{ctrl.state.errorCodeColor}}" layout-wrap layout-align="center center">
          <p flex="100" >
            {{"container.global-inbound.rack-sector" | translate}} :
          </p>
          <h1 class="rack-info" ng-class="{ 'is-recovery': ctrl.state.isRecovery }" flex="100">
            {{ctrl.data.rackSector}}
          </h1>
        </div>
      </div>
      <div ng-if="ctrl.state.weightDiff && !ctrl.state.weightExceedMaxLimit" class="weight-diff-info" layout="row" layout-align="center none">
        <span>Weight is {{ctrl.state.weightDiffData.higher ? 'Higher': 'Lower' }} than original by {{ctrl.state.weightDiffData.diffBy}} kg</span>
      </div>    
      <div ng-if="ctrl.state.weightExceedMaxLimit" class="weight-exceed-max-limit-info" layout="row" layout-align="center none">
        <span>{{ 'container.global-inbound.weight-exceeds-limit' | translate }}</span>
      </div>   
      <div flex></div>
      <md-card class="scanning-card">
        <md-card-content layout="row" layout-wrap layout-padding >
          <div flex="100">
            {{"container.global-inbound.last-scanned" | translate }} : {{ctrl.data.lastScanned || "-"}}
          </div>
          <div flex="100" layout="row" layout-wrap>
            <div flex="10" class="prefix-button-container">
              <nv-icon-button
                icon="add"
                label="Prefix"
                name="Prefix"
                class="ghost dense h6"
                ng-class="{ 'prefixed' : ctrl.state.isPrefixSet }"
                md-theme="nvGreen"
                on-click="ctrl.openPrefix($event)">
              </nv-icon-button>
            </div>
            <nv-input-text
                flex="90"
                name="scan"
                disabled="!ctrl.state.internetConnection || (ctrl.state.deviceStatus === ctrl.DEVICE_STATUS.DISCONNECTED)"
                label="container.global-inbound.scan-a-new-parcel-enter-a-tracking-id"
                model="ctrl.data.trackingId"
                on-keypress="ctrl.onKeyPressTrackingId(event, text)"
                class="ghost h4"
                >
            </nv-input-text>
          </div>

        </md-card-content>
      </md-card>
    </div>

    <audio media-player="mediaPlayer" playlist="audioPlaylist"></audio>

    <div class="cheatsheet-side" ng-if="ctrl.showCheatsheet" layout="column" layout-padding>
      <div layout="row" layout-align="space-between none">
        <h3>{{"container.global-inbound.hotkeys" | translate}}</h3>
        <nv-icon-button
          icon="close"
          on-click="ctrl.closeCheatsheet($event)"
          class="flat dense h3">
        </nv-icon-button>
      </div>
      <p class="section-title">
        {{"container.global-inbound.change-scan" | translate}}
      </p>
      <p>
        <i class="boxed">.</i> + <i class="boxed">i</i> {{"container.global-inbound.change-device-id" | translate}}
      </p>
      <p class="section-title">
        {{"container.global-inbound.weight-input" | translate}}
      </p>
      <p>
        <i class="boxed">.</i> + <i class="boxed">w</i> {{"container.global-inbound.weight" | translate}}
      </p>
      <p class="section-title">
        {{"container.global-inbound.size-input" | translate}}
      </p>
      <p>
        <i class="boxed">.</i> + <i class="boxed">k</i> {{"container.global-inbound.keep-original" | translate}}        
      </p>
      <p>
        <i class="boxed">.</i> + <i class="boxed">s</i> {{"container.global-inbound.small" | translate}}        
      </p>
      <p>
        <i class="boxed">.</i> + <i class="boxed">m</i> {{"container.global-inbound.medium" | translate}}        
      </p>
      <p>
        <i class="boxed">.</i> + <i class="boxed">l</i> {{"container.global-inbound.large" | translate}}        
      </p>
      <p>
        <i class="boxed">.</i> + <i class="boxed">x</i> {{"container.global-inbound.x-large" | translate}}        
      </p>
      <p>
        {{"container.global-inbound.dimension-input" | translate}}
      </p>
      <p>
        <i class="boxed">.</i> + <i class="boxed">e</i> {{"container.global-inbound.length" | translate}}        
      </p>
      <p>
        <i class="boxed">.</i> + <i class="boxed">r</i> {{"container.global-inbound.width" | translate}}        
      </p>
      <p>
        <i class="boxed">.</i> + <i class="boxed">t</i> {{"container.global-inbound.height" | translate}}        
      </p>
    </div>
    <div class="loading-sheet" ng-if="ctrl.loadingSheet === true" layout layout-align="center center">
      <md-progress-circular md-theme="nvBlue" class="md-primary" md-mode="indeterminate" md-diameter="64px"></md-progress-circular>
    </div>
</md-content> 
