<nv-dialog-header title="{{'container.vehicle-type-management.add-veh-type' | translate}}" on-cancel="::onCancel($event)" cancel-text="commons.cancel"></nv-dialog-header>

<form name="modelForm" ng-submit="::onSave()" md-theme="nvBlue">

    <md-dialog-content>
        <div class="md-dialog-content">
            <div class="md-block multi-input-row" layout="row">
                <nv-input-text
                        label="{{::fields.name.displayName}}"
                        model="fields.name.value"
                        form="modelForm"
                        required="::true">
                </nv-input-text>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <nv-button-save name="Submit" form="modelForm" state="saveButtonState"></nv-button-save>
    </md-dialog-actions>
</form>