@import "../../../styles/variables";
@import "../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../views/container/order/order.mixins";

// variables
$content-section-margin: $nv-baseline-grid*5;

// mixin
@mixin icon-color {
  @include nv-font-color(black);
  opacity: 0.8;
}

@mixin big-button {
  .big-button-holder {
    margin-bottom: $nv-baseline-grid;

    @content;

    &.big-button-horizontal {
      .big-button {
        display: block;
        text-align: left;
        margin-bottom: $nv-baseline-grid*2;
        margin-right: 0;
        padding-left: $nv-baseline-grid*3;
        padding-right: $nv-baseline-grid*3;

        .title {
          @include nv-font-color(black, 2);
          @include nv-font-weight(medium);

          font-size: 1.6rem;
        }

        .count-over-total {
          @include nv-font-weight(medium);

          font-size: 2.4rem;
        }

        &.large {
          .title {
            font-size: 2rem;
          }

          .count-over-total {
            font-size: 2.8rem;
          }
        }

        @include nv-media-query-sm-max {
          display: inline-block;
          margin-right: $nv-baseline-grid;
        }
      }
    }

    .big-button {
      display: inline-block;
      padding: $nv-baseline-grid*1.5 $nv-baseline-grid;
      border: 1px solid #b7bbc0;
      -webkit-border-radius: $button-border-radius;
      -moz-border-radius: $button-border-radius;
      border-radius: $button-border-radius;
      min-width: 12rem;
      text-align: center;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-transition: background-color 0.5s ease;
      -moz-transition: background-color 0.5s ease;
      -ms-transition: background-color 0.5s ease;
      -o-transition: background-color 0.5s ease;
      transition: background-color 0.5s ease;
      margin-right: $nv-baseline-grid;
      margin-bottom: $nv-baseline-grid;
      cursor: pointer;
      outline: none;

      &:hover {
        background-color: #f5f5f5;
      }

      &:last-child {
        margin-right: 0;
      }

      .statistic {
        $statistic-icon-size: 3.2rem;

        i {
          @include icon-color;
          vertical-align: middle;
          font-size: $statistic-icon-size;
          line-height: normal;
          margin-right: $nv-baseline-grid / 1.5;
        }

        p {
          @include nv-font-color(black, 2);
          @include nv-font-weight(medium);

          display: inline-block;
          vertical-align: middle;
          font-size: 2rem;
          line-height: $statistic-icon-size;
          margin: 0;
        }
      }

      .info {
        @include nv-font-color(black, 2);
        @include nv-font-weight(medium);
      }
    }
  }
}