<md-content
  class="nv-container-route-inbound"
  nv-load="ctrl.getAll"
  loading-message="{{'commons.load-data' | translate}}"
  nv-cloak>
  <div class="backdrop-loading" ng-if="ctrl.backdropLoading">
    <md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>
  </div>

  <ui-view></ui-view>
</md-content>