@import "../../../../../lib/ninja-commons/styles/variables";
@import "../../../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../../../lib/ninja-commons/styles/mixins/media-query.mixins";
@import "../../../../../styles/variables";

.zonal-routing-select-filters {
  $defaultWidth: 1259px !important;
  width: $defaultWidth;

  md-dialog {
    max-width: $defaultWidth;

    md-dialog-content {
      padding: $nv-baseline-grid*2 $nv-baseline-grid*2 $nv-baseline-grid*3;

      .btn-group {
        button {
          padding: 0 $nv-baseline-grid;
        }
      }

      .filter-mode-holder {
        margin-bottom: $nv-baseline-grid*5;

        label {
          @include nv-font-color(black, 2);
          font-size: 1.2rem;
          display: block;

          + .btn-group-holder {
            display: inline-block;
            margin-right: $nv-baseline-grid/2;

            .btn-group {
              min-width: 0 !important;
            }
          }
        }
      }

      .filter-settings {
        h5 {
          @include nv-font-color(black, 2);
          @include nv-font-weight(regular);
          font-size: 1.6rem;
          margin-bottom: $nv-baseline-grid*2;
        }

        .filter-box-container {
          padding-left: 0;
          padding-right: 0;

          .filter-container {
            width: 49.5%;
            min-width: 0;

            @include nv-media-query-sm-max {
              width: 100%;
            }

            .header-container {
              .main-title {
                min-width: 11rem;
                width: 11rem;
              }

              .utility-section {
                margin-left: $nv-baseline-grid*2;

                > *:not(.primary-button-container) {
                  flex: 1;
                  max-width: none;
                }
              }

              .boolean-container {
                margin-left: $nv-baseline-grid*2;
              }

              .primary-button-container {
                flex: none;
              }
            }
          }
        }
      }
    }

    md-dialog-actions {
      border-top: 1px solid $nv-light4;
    }
  }
}