<nv-dialog-header
  title="{{'container.zonal-routing.map-view-settings' | translate}}"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<form name="ctrl.form">
  <md-dialog>
    <md-dialog-content>
      <div class="filter-mode-holder"
           layout="row" layout-xs="column" layout-sm="column">
        <div flex>
          <label>{{'container.zonal-routing.filter-mode' | translate}}</label>
          <nv-btn-grp
            class="btn-group-holder"
            model="ctrl.routingFilters.filterMode"
            label-for-model-idx-0="{{'container.zonal-routing.show-wps' | translate}}"
            label-for-model-idx-1="{{'container.zonal-routing.hide-wps' | translate}}"
            form="ctrl.form"
            select-multiple="false"
            select-none="false"
            default-selection="ctrl.routingFilters.filterMode">
          </nv-btn-grp>
          <span>{{ 'container.zonal-routing.that-match-the-settings' | translate }}</span>
        </div>
      </div>

      <div class="filter-settings">
        <h5>{{ 'container.zonal-routing.filter-settings' | translate }}</h5>
        <nv-filter-box-container
          possible-filters="ctrl.routingFilters.possibleFilters"
          selected-filters="ctrl.routingFilters.selectedFilters"
          search-by="mainTitle">
        </nv-filter-box-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        name="commons.cancel"
        on-click="ctrl.onCancel()">
      </nv-icon-text-button>

      <nv-icon-text-button
        md-theme="nvGreen"
        class="raised"
        name="commons.save-changes"
        on-click="ctrl.onSave()">
      </nv-icon-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>