<div layout="row" class="input-address">

    <md-input-container class="nv-p" flex>

        <label for="{{id}}" class="nv-small">{{label}}</label>

        <input type="text"
               name="{{id}}"
               id="{{id}}"
               aria-label="{{label}}"
               ng-model="model"
               ng-disabled="disabled"
               ng-required="required">

        <div ng-messages="form[id].$error" role="alert">
            <div ng-message="required">This field is required.</div>
            <div class="help-text" ng-if="helpText">{{helpText}}</div>
        </div>

    </md-input-container>

    <div class="secondary-button-container material-icon">
        <md-button
                type="button"
                aria-label="Address Lookup"
                class="nv-button raised secondary-button"
                ng-click="openDialogCallback()">
            <i class="material-icons">search</i>
        </md-button>
    </div>

</div>
