@import "../../../lib/ninja-commons/styles/variables";
@import "../../../styles/variables";
@import "../../../views/container/order/order.mixins";

.nv-container-stamp-disassociation {
  height: 100%;

  .section-search {
    height: 15%;
    margin: 0rem 4rem;

    .input-stamp-id {
      width: 25rem;
    }

    .label {
      padding-bottom: 4rem;
      padding-left: 3rem;
    }

    .message {
      &.success {
        color: green;
      }
      &.error {
        color: red;
      }
    }
  }

  .section-details {
    height: 75%;
    overflow: wrap;
    border: 0.1rem solid $nv-text-black-3;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    border-radius: 0.4rem;
    margin: 0rem 2rem 0rem;
    padding: 2rem 2rem 0rem;

    .order-details-title {
      color: $nv-text-black-3;
    }

    .margin-8 {
      margin-left: 0.8rem;
    }
    
    .order-details-container {
      height: 90%;
      overflow: auto;
      
      .red {
        color: red;
      }

      .content-container {
        .sub-title {
          color: $nv-text-black-2;
          padding: 1rem 0rem;
        }

        .content-row {
          min-height: 3rem;
          border-style: solid;
          border-width: 0.1rem 0.1rem 0rem 0.1rem;
          border-color: #E5E5E5;

          &:nth-child(odd) {
            background-color: #F5F5F5;
          }

          &:nth-child(even) {
            background-color: #FFFFFF;
          }

          .key {
            padding: 0.5rem 0rem 0rem 1rem;
          }

          .value {
            padding: 0.5rem 1rem 0rem 0rem;
          }
        }
      }

      .success {
        color: green;
      }

      .error {
        color: red;
      }
    }
  }

  .section-navigation {
    height: 10%;
    margin: 0rem 4rem;
  }
}
