<md-content class="nv-container-stamp-disassociation">
  <div class="section-search" layout="row" layout-align="start end">
    <form name="ctrl.form" class="input-stamp-id" nv-focus-first-input>
      <md-input-container md-no-float class="md-block">
        <input
          name="stampId"
          form="form"
          type="text"
          id="stamp-id"
          ng-model="ctrl.input.search"
          aria-label="stamp id"
          required
          placeholder="Stamp ID"
          ng-click="ctrl.function.selectAll($event)"
          ng-keypress="ctrl.function.onScan($event)"/>

        <div ng-messages="ctrl.form.stampId.$error">
          <div ng-message="required">Please scan stamp or tracking id</div>
        </div>
        <div class="message success" ng-if="ctrl.state.loadTimer === 1">
          {{ 'commons.found' | translate }}!
        </div>
        <div class="message error" ng-if="ctrl.state.loadTimer === -1">
          {{ ctrl.input.stampId }} {{ 'container.new-features.stamp-disassociation.not-found' | translate }}
        </div>
      </md-input-container>
    </form>
    <div class="label">{{ 'container.new-features.stamp-disassociation.scan-stamp-id' | translate }}</div>
  </div>

  <div class="section-details" layout="row" layout-wrap>
    <h5 class="order-details-title margin-8">
      {{ 'container.new-features.stamp-disassociation.order-details' | translate }}
    </h5>
    <!-- IDLE -->
    <div class="order-details-container margin-8" ng-if="ctrl.state.load === 0" flex="100">
      {{ 'container.new-features.stamp-disassociation.scan-stamp-tracking' | translate }}
    </div>

    <!-- LOADING -->
    <div class="order-details-container margin-8" ng-if="ctrl.state.load === 2" flex="100">
      <div layout="row" layout-align="center center">
        <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="64px"></md-progress-circular>
      </div>
      <div layout="row" layout-align="center center">
        {{ 'container.new-features.stamp-disassociation.fetching-order' | translate }}...
      </div>
    </div>

    <!-- SUCCESS -->
    <div class="order-details-container" ng-if="ctrl.state.load === 1" layout="row" flex="100" layout-wrap>
      <div flex-sm="100" flex="50" layout="column" ng-repeat="order in ctrl.data.orders track by $index">
        <md-card class="content-container">
          <md-card-title layout="column">
            <h5>#{{order.id}} - {{order.trackingId}}</h5>
            <nv-tag name="stamp id {{order.stampId}}"
              md-theme="nvGreen"
              ng-if="ctrl.function.isStampIdAvailable(order)">
            </nv-tag>
            <nv-tag name="stamp id not available"
              md-theme="nvRed"
              ng-if="!ctrl.function.isStampIdAvailable(order)">
          </nv-tag>
          </md-card-title>
          <md-card-content>
            <div class="sub-title">{{order.deliveryType}}</div>
            <div>{{order.from}}</div>
            <div>{{order.fromAddress}}</div>
            <div>{{order.to}}</div>
            <div>{{order.toAddress}}</div>
          </md-card-content>
          <md-card-actions layout layout-align="end none">
            <nv-api-text-button
              md-theme="nvGreen"
              class="raised"
              state="order.disassociateButtonState"
              name="Disassociate Stamp"
              disabled="!ctrl.function.isStampIdAvailable(order)"
              on-click="::ctrl.function.disassociateStamp(order)">
            </nv-api-text-button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
    
    <!-- ERROR -->
    <div class="order-details-container" ng-if="ctrl.state.load === -1" flex="100">
      <br />
      <h5 class="red" layout="row" layout-align="center center">
        {{ 'container.new-features.stamp-disassociation.not-found' | translate }}
      </h5>
    </div>
  </div>

  <div class="section-navigation" layout="row" layout-align="end center" layout-padding ng-if="ctrl.state.load === 1">
    <nv-api-text-button
      md-theme="nvBlue"
      name="Print Label"
      class="raised"
      state="ctrl.state.print"
      disable="ctrl.data.orders.length < 1"
      on-click="ctrl.function.print($event)">
    </nv-api-text-button>
  </div>
</md-content>
