<md-dialog>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row" layout-xs="column" layout-wrap layout-padding>
                    <div flex="100">
                        <h5>{{ 'container.zones.polygon.delete-polygon' | translate }}</h5>
                    </div>
                    <div flex="100">
                        <p>
                            {{ "container.zones.polygon.delete-polygon-text" | translate }}
                        </p>
                    </div>                      
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <nv-icon-text-button
                name="commons.back"
                on-click="onCancel($event)"
                class="flat"
                md-theme="nvBlue">                
            </nv-icon-text-button>
            <nv-icon-text-button
                name="commons.delete"
                on-click="onSave($event)"
                class="flat"
                md-theme="nvBlue">
            </nv-icon-text-button>            
        </md-dialog-actions>
    </md-dialog>