<md-content class="nv-container-filter" layout-padding>
	<h5> Select Filters Conditions</h5>
	<nv-filter-box-container
		possible-filters="ctrl.possibleFilters"
		selected-filters="ctrl.selectedFilters"
		search-by="mainTitle">
	</nv-filter-box-container>
	<div layout="row" layout-align="center">
		<nv-icon-text-button class="raised" name="Load Selection" on-click="ctrl.onClick()"></nv-icon-text-button>
	</div>
</md-content>
