@import "../../../styles/variables";

.nv-container-add-parcel-to-route {
  .route-date {
    margin-right: $nv-baseline-grid;

    md-datepicker {
      md-datepicker-input-container {
        background: #fff;
      }
    }
  }

  .route-group-selector {
    margin-bottom: 2rem;

    md-select {
      md-select-value {
        span {
          white-space: normal;

          .md-container {
            display: none;
          }
        }
      }
    }
  }

  .submit-button {
    width: 100%;
    margin-top: 0.5rem;
  }

  th:nth-child(2),
  td.route_id {
    max-width: 5rem;
    text-align: center;
  }

  th:nth-child(3),
  td.order_id {
    max-width: 5rem;
    text-align: center;
  }

  .none-available {
    margin-top: 2rem;
  }

}
