<md-content
    class="nv-container-add-parcel-to-route"
    nv-load="ctrl.getData"
    loading-message="{{'container.add-parcel-to-route.load-route-groups' | translate}}">

  <md-card>
    <md-card-content>
      <form name="modelForm" layout="column" layout-align="center stretch">
        <div layout="row">
          <nv-input-date
            class="route-date"
            label="commons.model.route-date"
            model="ctrl.routeDate"
            required="true"
            form="modelForm">
          </nv-input-date>

          <nv-input-select
              class="route-group-selector"
              label="{{'commons.select.route-groups' | translate}}"
              model="ctrl.routeGroupSelections"
              model-options="{}"
              on-close="ctrl.onChange()"
              options="ctrl.routeGroupOptions"
              form="modelForm"
              multiple="true"
              required="::true">
          </nv-input-select>
        </div>

        <div md-theme="nvGreen" layout="row" layout-wrap>
          <nv-input-switch
              flex="nogrow"
              class="is-default-switch"
              ng-repeat="tag in ctrl.tags"
              on-change="ctrl.onChange()"
              label="{{::tag.name}}"
              model="tag._value"
              form="modelForm">
          </nv-input-switch>
        </div>

        <nv-api-text-button
            class="raised submit-button"
            md-theme="nvBlue"
            name="commons.submit"
            state="ctrl.submitButtonState"
            disabled="ctrl.isSubmitButtonDisabled"
            on-click="ctrl.onSubmit()"
            form="modelForm">
        </nv-api-text-button>

      </form>
    </md-card-content>
  </md-card>

  <md-card ng-if="ctrl.isSubmitSuccess && ctrl.submissionResults.length > 0">

    <md-card-content>

      <app-search-with-count
          on-search="::ctrl.onSearch(searchText)"
          count="ctrl.submissionResults.length"
          when="{'1': '1 {{&quot;container.add-parcel-to-route.result-updated&quot; | translate}}',
        'other': '{} {{&quot;container.add-parcel-to-route.results-updated&quot; | translate}}'}"
          placeholder="{{'container.add-parcel-to-route.search-results' | translate}}">
      </app-search-with-count>

      <div class="table-container">
        <table ng-table="ctrl.tableParams"
               class="table table-condensed table-bordered table-striped">
          <tr ng-repeat="row in $data">

            <td data-title="'commons.driver-name' | translate"
                sortable="'driver_name'"
                class="driver_name">
              {{row.driver_name}}
            </td>

            <td data-title="'container.add-parcel-to-route.header-route-id' | translate"
                sortable="'route_id'"
                class="route_id">
              {{row.route_id}}
            </td>

            <td data-title="'commons.order-id' | translate"
                sortable="'order_id'"
                class="order_id">
              {{row.order_id}}
            </td>

            <td data-title="'commons.tracking-id' | translate"
                sortable="'tracking_id'"
                class="tracking_id">
              {{row.tracking_id}}
            </td>

          </tr>
        </table>
      </div>

    </md-card-content>

  </md-card>

  <div class="nv-p none-available nv-text-center"
       ng-if="ctrl.isSubmitSuccess && ctrl.submissionResults.length === 0">
    {{'container.add-parcel-to-route.no-result-exist' | translate}}
  </div>

</md-content>
