@import "../../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../../lib/ninja-commons/styles/variables";
@import "../../../../views/container/reservation-preset-management/reservation-preset-management.mixins";
.nv-container-reservation-preset-management-edit-groupings {
  @mixin add-bottom-border() {
    border-bottom: .1rem solid $default-border-color;
  }

  $font-color: #5C6166;
  .groups-container {
    .group-container{
      margin: .6rem;
      border: .1rem solid $default-border-color;
      .group-header{
        background: #EFF3F6;
        padding: .4rem;
        .group-name {
          padding: .4rem;
          border-radius: .2rem;
          border: .1rem solid $default-border-color;
          background: #F7F9FA;
          font-weight: bold;
          input{
            border: none;
          }
          input:active{
            border-bottom: .3rem
          }
          .md-errors-spacer{
            display: none;
            height: 0 !important;
            width: 0 !important;
          }
        }
        .group-member-count span{
          font-weight: bold;
        }
      }
      .group-driver-info-container{
        padding: .4rem;
        @include add-bottom-border();
        .material-icons{
          color: $font-color;
        }
      }
      .pickup-location-search-container {
        padding: .4rem;
        @include add-bottom-border();
        nv-search-input-filter {        
          md-input-container.md-has-icon {
            padding-left: 0;
            input { margin-left: 1.2rem; }
  
            &.bar { border-radius: 0.4rem 0 0 0.4rem; }
          }
        }
        .search-icon {
          border-top: 0.1rem solid rgba(33, 33, 33, 0.33);
          border-right: 0.1rem solid rgba(33, 33, 33, 0.33);
          border-bottom: 0.1rem solid rgba(33, 33, 33, 0.33);
          border-radius: 0 0.4rem 0.4rem 0;
          width: 4.8rem;
          height: 3.5rem;
          text-align: center;
          outline: none;
  
          .material-icons { font-size: 2.52rem; }
        }
      }      
      .shipper-pickup-locations-container{
        padding: .4rem;
        font-size: 1.2rem;
        font-weight: 500;
        color: $font-color;
        padding-left: 1.2rem;
        @include add-bottom-border();        
        nv-icon-button{
          margin: .4rem;
        }
      }
      md-list.shipper-info-list{
        max-height: 40rem;
        color: $font-color;
        overflow-x: auto;
        md-list-item{          
          border-bottom: .1rem solid #D1D3D4;
          font-size: 1rem;
          padding: .4rem;
        }

        @include reservation-timing;
        .address-info{
          font-size: 1.4rem;
          padding: 1rem;
        }
        md-list-item.selected{
          background: #ececec;
        }
      }
    }
  }

  .alert {
    background-color: #d3e6f7;
    border: solid .05rem #96b7cb;    
    font-weight: 500;
    color: #06284a;
    font-size: 1.8rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}