<md-content class="nv-container-reservation-preset-management-edit-groupings">
  <div ng-if="!ctrl.parentCtrl.contentLoading">
    <div class="alert alert-primary" role="alert" ng-if="ctrl.showAlert">
      <p>
        <i class="material-icons">
          done
        </i>
        {{ctrl.message}}
      </p>
    </div>
    <div class="title" layout="row" layout-padding>
      <h4>{{ 'container.reservation-preset-management.edit-groups' | translate }}</h4>
      <div flex="1"></div>
      <nv-icon-text-button
        md-theme="nvGreen"
        class="raised primary"
        name="container.reservation-preset-management.groupings.confirm-groupings"
        on-click="ctrl.confirmGrouping($event)">
      </nv-icon-text-button>
    </div>
    <div class="groups-container" layout="row">
      <div class="group-container" ng-repeat="group in ctrl.data.groups track by $index" flex="25">
        <div flex="100" class="group-header" layout="row" layout-align="space-between none">
          <nv-input-text class="group-name"
            name="group-name"
            flex="50"
            model="group.name">
          </nv-input-text>

          <div class="group-member-count" flex="10">
            <p>
                {{group.sams_ids.length}}
            </p>
          </div>
        </div>
        <div flex="100" class="group-driver-info-container" layout="row" layout-align="none center">
          <i class="material-icons">local_shipping</i>
          <nv-input-select
            options="ctrl.data.drivers"
            model="group.driver_id"
            model-options="{}"
            label="container.reservation-preset-management.driver-name"
            show-label="false"
            searchable="true"
          >

          </nv-input-select>
          <i class="material-icons">account_balance</i>
          <nv-input-select
            options="ctrl.data.hubs"
            model="group.hub_id"
            model-options="{}"
            label="container.reservation-preset-management.hub-name"
            show-label="false"
            searchable="true"
          >

          </nv-input-select>
        </div>
        <div flex="100" class="shipper-pickup-locations-container" layout="row" layout-align="none center">
          <div flex="70">
            {{ 'container.reservation-preset-management.groupings.shippers-pick-up-locations' | translate}}
          </div>
          <div flex="30" layout="row" layout-alignment="center center">
            <nv-icon-button
              icon="delete"
              md-theme="nvBlue"
              name="delete"
              disabled="!ctrl.isAbleToMoveGroup(group)"
              on-click="ctrl.deleteSamData($event, group)"
              class="dense raised">
            </nv-icon-button>
            <nv-icon-button
              icon="reorder"
              name="reorder"
              class="dense raised"
              disabled="!ctrl.isAbleToMoveGroup(group)"
              on-click="ctrl.openMoveShipperDialog($event, group)"
              md-theme="nvGreen">
            </nv-icon-button>
          </div>          
        </div>

        <div flex="100" class="pickup-location-search-container" layout="row" layout-align="center center">
          <nv-search-input-filter flex="80"
            search-text="ctrl.searchTextGrp[$index]"
            placeholder="{{ 'commons.search' | translate }}"
            ng-click="$event.stopPropagation()"
            type="bar"
            on-change="angular.noop()"
            hide-icon="true">
          </nv-search-input-filter>
          <div class="search-icon" flex="10" ng-click="ctrl.onSearch()"><i class="material-icons md-light">search</i></div>
        </div>
        
        <md-list flex="100" class="shipper-info-list">
          <md-list-item  ng-class="{ 'selected': location.selected }" layout="row" layout-align="none start" ng-repeat="sams in group.sams_data | filter:ctrl.searchTextGrp[$index]">
            <div flex="10">
              <nv-input-checkbox model="sams.selected"></nv-input-checkbox>
            </div>
            <div flex="90" layout="row" layout-wrap>
              <div flex="100" class="address-info" layout="row">
                  <div>{{$index + 1}}. </div>
                  <div>{{ sams.address.shipperName || '-' }} {{::sams.address._address}}</div>
              </div>
              <div flex="100" layout-align="space-between none" layout="row">
                <span class="day-container">
                  <span class="day"
                    ng-class="{ 'marked': ctrl.parentCtrl.contains(sams.days, reservationDay.id) }"
                    ng-repeat="reservationDay in ctrl.parentCtrl.RESERVATION_DAYS">
                    {{ reservationDay.name }}
                  </span>
                </span>
                <div class="timeslot-info">
                    {{sams.start_time}}-{{sams.end_time}}
                </div>
              </div>
            </div>
          </md-list-item>          
        </md-list>
      </div>
    </div>
  </div>
</md-content>