@import "../../../../lib/ninja-commons/styles/mixins/table.mixins";

.nv-container-order-level-tag-management-result {
  width: 100%;
  height: 100%;

  .loaded {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .actions-container {
      margin: 1.6rem;

      .selected { margin: 0.6rem 1.6rem 0; }
    }

    .table-container {
      position: relative;
      flex: 1;
      nv-table {
        @include nv-table-column-width(order-id, 20rem);
        @include nv-table-column-width(tracking-id, 24rem);
        @include nv-table-column-width(granular-status, 16rem);
        @include nv-table-column-width(shipper-id, 14rem);
        @include nv-table-column-width(status, 18rem);

        @include nv-table-row-height(8rem);
      }
    }
  }
}
