<md-content class="nv-container-order-level-tag-management-result"
  nv-load="ctrl.function.init"
  loading-message="{{'commons.load-data' | translate}}">
  <div class="actions-container" layout layout-align="space-between">
    <nv-icon-text-button
      name="back to filter page"
      icon="arrow_back"
      text="back to filter page"
      class="raised"
      md-theme="nvBlue"
      on-click="ctrl.function.backToFilter()">
    </nv-icon-text-button>
    <div layout>
      <div class="selected">
        <h5>{{ 'container.order-level-tag-management.selected-x' | translate: { n: ctrl.function.getSelectedNumber() } }}</h5>
      </div>
      <nv-icon-text-button
        name="Tag Selected Orders"
        text="Tag Selected Orders"
        disabled="ctrl.function.isBulkActionDisabled()"
        class="raised"
        md-theme="nvBlue"
        on-click="ctrl.function.openOrderTagDialog()">
      </nv-icon-text-button>
    </div>
    
  </div>
  <nv-table-description
    table-param="ctrl.table.param"
    filters="ctrl.parentCtrl.selectedFilters"
    title-display="mainTitle">
  </nv-table-description>
  <div class="table-container" >
    <nv-table
      param="ctrl.table.param"
      controller-as="ctrl"
      on-infinite-scroll="ctrl.table.lazyLoad()"
      selectable="true">
      <nv-table-row use="data">
        <nv-index></nv-index>
        <nv-td column="orderId">
          {{data.orderId || '-'}}
        </nv-td>
        <nv-td column="trackingId">
          {{data.trackingId || '-'}}
        </nv-td>
        <nv-td column="granularStatus">
          {{data.granularStatus || '-'}}
        </nv-td>
        <nv-td column="shipperId">
          {{data.shipperId || '-'}}
        </nv-td>
        <nv-td column="status">
          {{data.status || '-'}}
        </nv-td>
      </nv-table-row>
    </nv-table>
  </div>
  
</md-content>