@import "../../../lib/ninja-commons/styles/variables";
@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../lib/ninja-commons/styles/mixins/media-query.mixins";
@import "../../../lib/ninja-commons/styles/mixins/table.mixins";


.nv-container-shipping{
  padding: 2.8rem;
  height: 100%;
  width: 100%;
  .shipment-select{
    h5{
      font-weight:300;
      color: #555555;
      margin-top:1.4rem;
      margin-bottom: 1.5rem;
    }
    .message{
      font-size: 1.2rem;
      color: red;
    }
    .container-shipment-selector{
      margin-top: 1.4rem;
      margin-bottom: 1.4rem;
      padding : 0;
      md-select {
        margin: 0 .5rem;
      }
      md-button{
        margin-top:0;
        margin-bottom:0;
      }
      button.select-shipment-btn{
        margin-top:0;
        margin-bottom:0;
        text-transform: none;
        color: white;
      }
      p.nv-p{
        margin-top:.6rem;
      }
    }
  }

  .shipment-edit{
    md-card.shipment-edit-container{
      width:80rem;
      display: flex;
      flex-direction: column;
      height: 100%;
      margin:2rem auto;
      md-toolbar{
        .md-button{
          text-transform: none;
        }
      }
      .boxed{
        border: 1px solid #F1F1F1;
        border-radius: .3rem;
      }

      .line_separator{
        width: 100%;
        height: 0;
        border-top: 1px solid #EBEBEB;
        margin-top: .5rem;
        margin-bottom: .5rem;
      }
      .shipment-detail-card{
          h4{
            font-size: 1.8rem;
          }
          p.shipment-info{
            font-weight:bold;
            margin-top: .5rem;
          }
      }
      .rack-sector-card{
        text-align: center;
        background: none;
      }
      .rack-sector-card.error{
        background: #FCB8C7;
      }
      .rack-sector-card.success{
        background: #A5E5A2;
      }
      .rack-sector-card.error-border{
        border: 2px solid #C81F47 !important;
      }
      .rack-sector-card.success-border{
        border: 2px solid #10772E;
      }


      .scan-barcode-container, .tracking-id-remove{
        height:12rem;
        background: #EAF4F9;
        border-radius: .3rem;
        border:1px solid #D2E7F2;
        h4{
          font-size: 1.8rem;
        }
        md-input-container{
          margin-top: 0;
          input{
            background: white;
            text-align: center;
            height: 4rem;
            font-size:1.8rem;
          }
        }
        .message{
          color: #000;
        }
        .message.duplicate,.message.error{
          color: red;
        }
        .message.success{
          color:#418841;
        }

      }
      .scan-barcode-container.success{
        background: #E0F6DF;
        border: 1px solid #CEF0CC;
        md-input-container{
          input{
            border-color: #146C14;
          }
        }
      }

      .scan-barcode-container.duplicate{
        background: #FFE7EC;
        border: 1px solid #FED8DF;
        md-input-container{
          input{
            border-color: #257226;
          }
        }
      }

      .scan-barcode-container.error{
        background: #FFE7EC;
        border: 1px solid #FED8DF;
        md-input-container{

          input{
            border-color: #257226;
          }
        }

      }

      .parcel-count-wrapper{
        padding: 1rem;
        margin-bottom: .5rem;
        h5{
          margin-top: 1rem;
        }
        .shortcuts{
          margin: 0;
          > * {
            margin: .4rem;
          }
        }
        nv-api-icon-button{
          button{
            text-align: center;
            padding: 0;
          }
        }
      }

      .tracking-id-search{
        height:12rem;
        background: #EAF4F9;
        border-radius: .3rem;
        border:1px solid #D2E7F2;
        h4{
          font-size: 1.8rem;
        }

        md-autocomplete-wrap{
          box-shadow: none;
          border:rgba(0,0,0,0.12);
        }


      }
      .complete-shipment-container{
        text-align: center;
        button{
          width: 70rem;
          margin:.5rem 5rem .5rem 5rem;
          color: white;
          text-transform: none;
        }
      }

      .remove-all-button{
        text-transform: none !important;
      }
      div.table-container{
        height: 40rem;
        position: relative;
        flex: 1;
        nv-table {
          @include nv-table-column-width(tracking-id, 20rem);
          @include nv-table-column-width(destination, 15rem);
          @include nv-table-column-width(addressee, 12rem);
          @include nv-table-column-width(rack-sector, 10rem);
          @include nv-table-column-width(deliver-by, 15rem);
          @include nv-table-action-columns(7rem);

          tr.highlight{
           background: #FE5C5C;
           td, td.actions{
             background: #FE5C5C !important;
           }
          }
        }
      }
    }
    .cheatsheet-side{
      height: 100%;
      width: 20rem;
      padding-top: 6rem;
      border: .1rem solid #666666;
      background: rgba($color: #ffffff, $alpha: .6);
      z-index: 2;
      position: fixed;
      right: 0;
      top: 0;
      p {
        padding: .4rem;
        font-size: 1.2rem;
        margin: 0;
        .boxed{
          border-radius: .3rem;
          background: #fdfdfd;        
          padding: .4rem;
          border: .1rem solid #eaeaea;
          font-style: normal;
        }
      }
      .section-title {
        font-size: 1.4rem;
        font-weight: 500;
      }
    }
    .cheatsheet-side.ng-enter, .cheatsheet-side.ng-leave {
      transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    }
    
    .cheatsheet-side.ng-enter,
    .cheatsheet-side.ng-leave.ng-leave-active {
      opacity:0;
    }
    
    .cheatsheet-side.ng-leave,
    .cheatsheet-side.ng-enter.ng-enter-active {
      opacity:1;
    }
  }

}

.nv-shipment-scanning-settings {
  padding: 1.4rem;
  width: 30rem !important;
}