<div class="nv-container-shipping">
   <md-content ng-if="ctrl.showPickShipment" class="shipment-select" ng-cloak nv-load="ctrl.onLoad">
       <div layout="row" class="container-shipment-selector" layout-wrap layout-align="none center">            
            <nv-input-select
                label="commons.hub"
                flex="15"
                searchable="::true"
                model="ctrl.hub"
                model-options="{}"
                options="ctrl.hubs"
                on-close="ctrl.fetchShipment()"
                set-default="::false">
            </nv-input-select>            
            <nv-input-select
                label="container.shipment-scanning.shipment-type"
                flex="15"                
                model="ctrl.shipmentType"
                model-options="{}"
                options="ctrl.shipmentTypes"
                set-default="::false"
                on-close="ctrl.fetchShipment()">
            </nv-input-select>
            
            <nv-input-select
                flex="15"
                label="container.shipment-management.shipment-id"
                ng-if="ctrl.hub && ctrl.shipmentsExists && ctrl.shipmentType"
                model="ctrl.shipment"
                model-options="{}"
                options="ctrl.shipments">
            </nv-input-select>
            <span class="message" ng-if="ctrl.hub && !ctrl.shipmentsExists && ctrl.shipmentType" flex="15">
                    {{"container.shipment-scanning.no-shipment-for-this-hub" | translate}}
            </span>
            <nv-api-text-button
                flex="15"
                ng-if="ctrl.hub && ctrl.shipmentType" 
                md-theme="nvGreen"
                label="container.shipment-scanning.select-shipment"
                name="container.shipment-scanning.select-shipment"
                class="primary raised select-shipment-btn"
                on-click="ctrl.onSelectShipment()"
                state="ctrl.loadShipmentState"
                disabled="!ctrl.shipment">
            </nv-api-text-button>            
       </div>
   </md-content>

    <md-content ng-if="!ctrl.showPickShipment" class="shipment-edit">
        <md-card class="shipment-edit-container">
            <md-toolbar>
                <div class="md-toolbar-tools" >
                    <span>Shipment ID: {{ctrl.shipment.id}}</span>
                    <span flex></span>
                    <md-button class="nv-button flat dark alternate h5" ng-click="ctrl.onChangeShipment()">
                        {{"container.shipment-scanning.change-shipment" | translate}}
                    </md-button>
                </div>
            </md-toolbar>

            <md-card-content>
                <div layout="row" layout-wrap>
                    <div layout="row" flex="100" layout-margin>
                        <div flex="70" layout="row" layout-wrap
                             layout-padding class="shipment-detail-card boxed">
                                <div flex="100">
                                    <h4>Shipment Details</h4>
                                </div>
                                <div flex="100">
                                    <div layout="row">
                                        <div flex="25">
                                            Shipment ID
                                            <p class="shipment-info">
                                                {{ctrl.shipment.id}}
                                            </p>
                                        </div>
                                        <div flex="25">
                                            Start Hub
                                            <p class="shipment-info">
                                                {{ctrl.shipment.orig_hub_country}} - {{ctrl.shipment.orig_hub_name}}
                                            </p>
                                        </div>
                                        <div flex="25">
                                            End Hub
                                            <p class="shipment-info">
                                                {{ctrl.shipment.dest_hub_country}} - {{ctrl.shipment.dest_hub_name}}
                                            </p>
                                        </div>

                                    </div>
                                </div>
                        </div>
                        <div flex="30" class="rack-sector-card boxed"
                             ng-class="{'error-border': ctrl.showErrorBorder(),
                             'success-border': ctrl.showSuccessBorder(),
                             'error': (ctrl.scanState ==='error' || ctrl.scanState === 'diffhub' || ctrl.scanState === 'duplicate'),
                             'success': ctrl.scanState === 'success'
                             }"
                             layout="row" layout-wrap layout-padding>
                                <div flex="100"><span>Rack Sector</span></div>
                                <div flex="100"><h2 ng-show="ctrl.rackInfo">{{ctrl.rackInfo}}</h2></div>
                                <div flex="100"><span ng-show="ctrl.scannedTrackingId">
                                    {{ctrl.scannedTrackingId}}</span>
                                </div>
                        </div>
                    </div>

                    <form name="scan_form">

                    <div layout="row" flex="100" layout-margin>
                        <div flex="50" class="scan-barcode-container"
                             ng-class="{'error': ctrl.scanState=='error', 'success': ctrl.scanState=='success','duplicate': ctrl.scanState=='duplicate'}"
                             layout="row" layout-wrap layout-padding>
                            <div flex="100">
                                <h4>{{"container.shipment-scanning.scan-barcode" | translate}}</h4>
                            </div>
                            <div flex="100">
                                <md-input-container md-no-float class="md-block" >
                                    <input type="text" placeholder="Scan Barcode Here" ng-model="ctrl.trackingId"
                                           ng-blur="ctrl.searchTrackingId()"
                                           ng-keypress="ctrl.searchTrackingId($event)"
                                           ng-model-options="{}"
                                           nv-autofocus id="scan_barcode_input" aria-label="scan_barcode"
                                    >
                                    <div class="message" flex="100"
                                         ng-class="{'error': ctrl.scanState=='error', 'success': ctrl.scanState=='success','duplicate': ctrl.scanState=='duplicate'}" >
                                        <small>{{ctrl.scanMessage}}</small>
                                    </div>
                                </md-input-container>
                            </div>


                        </div>
                        <div flex="50" class="tracking-id-remove"
                             layout="row" layout-wrap layout-padding>
                            <div flex="100">
                                <h4>{{"container.shipment-scanning.remove-order-from-shipment" | translate}}</h4>
                            </div>
                            <div flex="100">
                                <md-input-container md-no-float class="md-block" >
                                    <input type="text" placeholder="Scan Barcode Here to remove" ng-model="ctrl.trackingIdRemove"
                                           ng-keypress="ctrl.removeTrackingId($event, ctrl.trackingIdRemove)"
                                           ng-model-options="{}"
                                           nv-autofocus id="scan_barcode_input_remove" aria-label="scan_barcode_remove"/>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    </form>



                </div>

            </md-card-content>

            <div class="line_separator"></div>
            <div class="parcel-count-wrapper" layout="row" layout-align="space-between">
                <div flex="40">
                    <h5>{{ctrl.orders.length}} {{"container.shipment-scanning.parcels-in-shipment" | translate }}</h5>
                </div>
                <div flex="20" layout="row" layout-align="end center" class="shortcuts">
                   <nv-icon-button
                        icon="settings"
                        name="commons.settings"
                        label="commons.settings"
                        class="dense ghost"
                        md-theme="nvGreen"
                        on-click="ctrl.openSettingsDialog($event)">
                   </nv-icon-button>
                   <nv-icon-button
                        icon="keyboard"
                        class="dense ghost"
                        name="? {{ (ctrl.showCheatsheet ? 'container.global-inbound.hide-hotkeys' : 'container.global-inbound.show-hotkeys') | translate}}"
                        on-click="ctrl.onOpenCheatsheet($event)"
                        md-theme="nvGreen">
                  </nv-icon-button>      
                   <nv-icon-text-button
                        class="remove-all-button flat dense"
                        disabled="ctrl.tableParam.getLength === 0"
                        on-click="ctrl.removeAll($event)"
                        label="container.shipment-scanning.remove-all"
                        name="container.shipment-scanning.remove-all">
                    </nv-icon-text-button>
                </div>
            </div>

            <div class="table-container">
                <nv-table
                    param="ctrl.tableParam"
                    selectable="false"
                    controller-as="ctrl"
                >
                <nv-table-row use="scan">
                    <nv-index></nv-index>
                    <nv-td column="trackingId">
                        {{scan.trackingId}}
                    </nv-td>
                    <nv-td column="destination">
                        {{scan.destination}}
                    </nv-td>
                    <nv-td column="addressee" >
                        {{scan.addressee}}
                    </nv-td>
                    <nv-td column="rackSector">
                        {{scan.rackSector}}
                    </nv-td>
                    <nv-td column="deliverBy">
                        {{scan.deliverBy}}
                    </nv-td>
                    <nv-action column="actions">
                         <nv-api-icon-button
                                        button-id="button-remove-parcel_{{scan.sn}}"
                                        class="ghost nv-margin-auto"
                                        md-theme="nvBlue"
                                        name="commons.remove"
                                        icon="close"
                                        state="'idle'"
                                        tooltip-delay="1200"
                                        on-click="ctrl.onDelete($event, scan)">
                         </nv-api-icon-button>
                    </nv-action>
                </nv-table-row>
                </nv-table>
            </div>

            <div class="complete-shipment-container">
                <md-button id="complete_shipment_btn" class="nv-button raised" md-theme="nvGreen" ng-click="ctrl.onCompleteShipment($event)"><i class="fa fa-check" aria-hidden="true"></i>
                    {{"container.shipment-scanning.complete-scan" | translate}}</md-button>
            </div>
        </md-card>
        <div class="cheatsheet-side" ng-if="ctrl.showCheatsheet" layout="column" layout-padding>
                <div layout="row" layout-align="space-between none">
                  <h3>{{"container.global-inbound.hotkeys" | translate}}</h3>
                  <nv-icon-button
                    icon="close"
                    on-click="ctrl.onCloseCheatsheet($event)"
                    class="flat dense h3">
                  </nv-icon-button>
                </div>            
                <p>
                    <i class="boxed">.</i> + <i class="boxed">s</i> {{"container.shipment-scanning.focus-to-scan" | translate}}
                </p>
                <p>
                    <i class="boxed">.</i> + <i class="boxed">r</i> {{"container.shipment-scanning.focus-to-remove" | translate}}
                </p>
              </div>

    </md-content>
    <audio media-player="rackSound" data-playlist="playlistRack"></audio>
    <audio media-player="successSound" data-playlist="playlist1">
        <source src="../../../resources/sounds/success.wav" type="audio/wav">
    </audio>

    <audio media-player="errorSound" data-playlist="playlist">
        <source src="../../../resources/sounds/error.wav" type="audio/wav">
    </audio>

    <audio media-player="diffHubSound" data-playlist="diffHubPlaylist">
            <source src="../../../resources/sounds/-.mp3" type="audio/mp3">
    </audio>

    <audio media-player="duplicateSound" data-playlist="playlist2">
        <source src="../../../resources/sounds/duplicate.wav" type="audio/wav">
    </audio>

    <audio media-player="petsSound" data-playlist="playlist3">
        <source src="../../../resources/sounds/recovery.mp3" type="audio/mp3">
    </audio>
</div>
