<nv-dialog-header title="Add Printer" on-cancel="::onCancel($event)" cancel-text="commons.cancel"></nv-dialog-header>

<form name="modelForm" ng-submit="::onSave()" md-theme="nvBlue">

  <md-dialog-content>
    <div class="md-dialog-content">

      <div class="md-block multi-input-row" layout="row">

        <nv-input-text
          class="md-block"
          label="{{::fields.name.displayName}}"
          model="fields.name.value"
          form="modelForm"
          required="::true">
        </nv-input-text>

        <nv-input-text
          class="md-block"
          label="{{::fields.ip_address.displayName}}"
          model="fields.ip_address.value"
          form="modelForm"
          required="::true">
        </nv-input-text>

        <nv-input-number
          class="md-block"
          label="{{::fields.version.displayName}}"
          model="fields.version.value"
          form="modelForm"
          required="::true">
        </nv-input-number>

        <nv-input-switch
          class="is-default-switch"
          md-theme="nvGreen"
          label="{{::fields.is_default.displayName}}"
          model="fields.is_default.value"
          form="modelForm"
          switch-enabled-text="Default"
          switch-disabled-text="Not">
        </nv-input-switch>

      </div>
    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <nv-button-save name="Submit" form="modelForm" state="saveButtonState"></nv-button-save>
  </md-dialog-actions>

</form>
