<nv-dialog-header
  title="{{'container.order.edit.edit-order-stamp' | translate}}"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>
<form name="modelForm">
  <md-dialog-content>
    <div layout="row" layout-padding>
      <nv-input-text
        class="md-block"
        name="commons.stamp-id"
        label="commons.stamp-id"
        placeholder="commons.stamp-id"
        model="ctrl.stampId"
        required="true"
        form="modelForm">
      </nv-input-text>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <div layout layout-align="space-between">
      <div class="dummy" ng-if="!ctrl.initialState"></div>
      <nv-api-text-button
        ng-if="ctrl.initialState"
        class="flat"
        md-theme="nvRed"
        state="ctrl.apiState"
        name="commons.remove"
        on-click="ctrl.onRemoveStamp()">
      </nv-api-text-button>
      <nv-api-text-button
        md-theme="nvBlue"
        class="raised"
        state="ctrl.apiState"
        name="commons.save"
        form="modelForm"
        on-click="ctrl.onUpdateStamp(ctrl.stampId)">
      </nv-api-text-button>
    </div>
  </md-dialog-actions>
</form>
