@import "../../../lib/ninja-commons/styles/variables";
@import "../../../styles/variables";

@mixin data-blocks {
  .data-blocks {
    $data-block-spacing-between: $nv-baseline-grid*4;

    .data-block {
      display: inline-block;
      margin-right: $data-block-spacing-between;
      vertical-align: top;

      label {
        color: $nv-text-black-2;
        display: block;
        font-size: 12px;

        +p, +h4, +h5 ,+md-menu > p {
          margin-top: 0;
          margin-bottom: 0; 
        }
        
        +md-menu > p {
          outline: none;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &.data-blocks-horizontal {
      display: table;
      width: 100%;

      .data-block {
        display: table-row;
        margin-right: 0;
        float: none;

        > * {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }
}