@import "../../../styles/mixins/typography.mixins";

md-dialog.address-lookup {

  width: 90%;
  height: 69.4rem;

  .database-search {
    padding-right: 2.4rem;

    md-input-container .md-errors-spacer {
      display: none;
    }

    .table-container {
      max-height: 49rem;

      th div {
        @include nv-font(pmed);
      }

      th:first-child,
      td.score {
        min-width: 4.8rem;
      }

      th:nth-child(2),
      td.building-no {
        min-width: 9rem;
      }

      th:nth-child(3),
      td.street {
        min-width: 9rem;
      }

      th:nth-child(4),
      td.postcode {
        min-width: 7.3rem;
      }

      th:nth-child(5),
      td.city {
        min-width: 3.7rem;
      }

      th:last-child,
      td.action {
        min-width: 7rem;
        width: 7rem;
        vertical-align: middle;
        text-align: center;
      }

      td.action .md-button {
        min-width: 6rem;
      }
    }
  }

  .coordinates-search {
    padding-left: 2.4rem;

    md-input-container {
      margin-right: 1rem;

      .md-errors-spacer {
        display: none;
      }
    }

    .md-button {
      min-height: 3rem;
    }

    .google-map {
      height: 49rem;
    }

    .google-map-poi-input {
      width: 60%;
      height: 3.15rem;
      margin: 1rem 1rem 0 0;
      @include nv-font(p);
      padding: 0 1rem;
      // temporarily hide the input off-screen
      // these styles are overwritten after the map loads
      position: absolute;
      top: -10rem;
    }
  }

}
