<nv-dialog-header title="Search Address" on-cancel="::onCancel($event)"></nv-dialog-header>

<md-dialog-content>
    <div class="md-dialog-content" layout="row">

        <div class="database-search" flex="50">
            <div class="nv-p-med">Database search</div>

            <md-input-container md-no-float md-theme="nvBlue" class="md-block">
                <md-icon>
                    <i class="material-icons">search</i>
                </md-icon>
                <input class="nv-p"
                       type="text"
                       ng-model="searchText"
                       ng-change="onAddressChange(searchText)"
                       ng-model-options="{debounce: 100}"
                       placeholder="Enter address information">
            </md-input-container>

            <div nv-load="addressLookupPromise" loading-message="Searching for matching addresses...">
                <div class="table-container" ng-if="addresses.length > 0">
                    <table ng-table="addressesTableParams" class="table table-condensed table-bordered table-striped">
                        <tr ng-repeat="address in $data">

                            <td data-title="'Score'"
                                class="score">
                                {{address._jaro_winkler_score}}
                            </td>

                            <td data-title="'Building No.'"
                                class="building-no">
                                {{address.building_no}}
                            </td>

                            <td data-title="'Street Name'"
                                class="street">
                                {{address.street}}
                            </td>

                            <td data-title="'Postcode'"
                                class="postcode">
                                {{address.postcode}}
                            </td>

                            <td data-title="'City'"
                                class="city">
                                {{address.city}}
                            </td>

                            <td data-title="'Action'" class="action">
                                <nv-table-button
                                        md-theme="nvGreen"
                                        class="nv-primary"
                                        name="Save"
                                        on-click="onDone(address)">
                                </nv-table-button>
                            </td>

                        </tr>
                    </table>
                </div>

                <div class="nv-p nv-text-center nv-text-color-dark-secondary" ng-if="addresses.length === 0">No results found</div>
            </div>
        </div>

        <div class="coordinates-search" flex="50">
            <div class="nv-p-med">Coordinates search</div>
            <form md-theme="nvBlue" layout="row" layout-align="center center" ng-submit="onSubmit(address)">
                <nv-input-text
                        label="Latitude"
                        model="address.latitude"
                        readonly="::true">
                </nv-input-text>
                <nv-input-text
                        label="Longitude"
                        model="address.longitude"
                        readonly="::true">
                </nv-input-text>
                <div md-theme="nvGreen">
                    <md-button class="nv-button raised" type="submit" ng-disabled="!address.latitude && !address.longitude">Save</md-button>
                    <md-button class="nv-button" type="button" ng-click="onReset()">Reset</md-button>
                </div>
            </form>
            <div class="google-map" id="google-map"></div>
            <input class="google-map-poi-input" type="text" id="google-map-poi-input" placeholder="Search address.." ng-model="placesSearchText">
        </div>

    </div>
</md-dialog-content>
