@import "../../../../../lib/ninja-commons/styles/variables";
@import "../../../../../styles/variables";
@import "../../../../../views/container/order/order.mixins";

.order-edit-cash-collection-details {
  $defaultWidth: 70rem !important;

  width: $defaultWidth;

  .plain-separator {
    margin: 1.4rem 0rem
  }

  .md-padding {
    padding: 2.8rem;
  }

  // general
  .border {
    border: 0.1rem solid $nv-text-black-3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: -1rem;
    padding: 1rem;

    .title {
      color: $nv-text-black-3;
      margin-top: 0rem;
      margin-bottom: 1.4rem;
    }
    
    .content {

      .nv-label-small {
        color: $nv-label-color;
        font-size: 1.2rem;
      }

      md-input-container {
        margin: 1.4rem 0rem;

        label {
          bottom: 98%;
        }

        .readonly {
          padding-top: 0.6rem;
        }
      }

      .container-currency {
        max-width: 3.6rem;
        width: 3.6rem;
      }

      .shift-label {
        label {
          left: -3.6rem;
        }

        input {
          padding-top: 0.6rem;
        }
      }

      .label {
        color: $nv-text-black-3;
        margin-right: 1.4rem;
        padding-top: 1.4rem;
      }

      .md-errors-spacer {
        min-height: 0rem;
        height: 0rem;
      }

      .md-input {
        border-bottom-color: rgba(0,0,0,0.12);
      }

      .md-select-value {
        padding: 1px 2px 0px 2px; 
      }
    }
  }
}