<nv-dialog-header
  title="{{'container.order.edit.edit-cash-collection-details' | translate}}"
  on-cancel="ctrl.func.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<form name="modelForm">
  <md-dialog-content>
    <div class="md-dialog-content">
      <!--1st box-->
      <div class="border" layout="row" layout-wrap>
        <h5 class="title" layout="row" flex="100">Cash on Pickup</h5>

        <div class="content" layout="row" flex="100">
          <div class="md-block with-non-input" flex="20">
            <nv-label-small label="Cash on Pickup"></nv-label-small>
            <nv-btn-grp
              model="ctrl.view.pickup.boolean"
              label-for-model-idx-0="No"
              label-for-model-idx-1="Yes"
              select-multiple="false"
              select-none="false"
              default-selection="'01'">
            </nv-btn-grp>
          </div>

          <div layout="row" flex="33" ng-if="ctrl.view.pickup.boolean === '01'">
            <nv-input-text
              class="container-currency"
              id="field-cop-currency-1"
              readonly = "::true"
              label = ""
              model = "ctrl.view.currency"
              required = "::false">
            </nv-input-text>
            <nv-input-decimal
              class="shift-label"
              id="field-cop-amount"
              flex="75"
              name="Amount"
              label="Amount"
              model="ctrl.view.pickup.amount"
              extra="ctrl.view.decimal"
              required="::false">
            </nv-input-decimal>
          </div>
        </div>
      </div>

      <!--separaotr-->
      <div class="plain-separator" layout="row"></div>

      <!--2nd box-->
      <div class="border" layout="row" layout-wrap>
        <h5 class="title" layout="row" flex="100">Cash on Delivery</h5>
        <div class="content" layout="row" flex="100">
          <div class="md-block with-non-input" flex="20">
            <nv-label-small label="Cash on Delivery"></nv-label-small>
            <nv-btn-grp
              model="ctrl.view.delivery.boolean"
              label-for-model-idx-0="No"
              label-for-model-idx-1="Yes"
              select-multiple="false"
              select-none="false"
              default-selection="'01'">
            </nv-btn-grp>
          </div>

          <div layout="row" flex="33" ng-if="ctrl.view.delivery.boolean === '01'">
            <nv-input-text
              class="container-currency"
              id="field-cod-currency-1"
              readonly="::true"
              label=""
              model="ctrl.view.currency"
              required="::false">
            </nv-input-text>
            <nv-input-decimal
              class="shift-label"
              id="field-cod-amount"
              flex="75"
              name="Amount"
              label="Amount"
              model="ctrl.view.delivery.amount"
              extra="ctrl.view.decimal"
              required="::false">
            </nv-input-decimal>
          </div>
        </div>
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <nv-api-text-button
      md-theme="nvGreen"
      name="commons.save-changes"
      icon="check"
      class="raised"
      state="ctrl.state.saveButtonState"
      disabled="!ctrl.func.isAbleToSubmit()"
      on-click="ctrl.func.onSave()">
    </nv-api-text-button>
  </md-dialog-actions>
</form>
