<form name="modelForm" ng-submit="::onSave()">
    <md-dialog>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row" layout-xs="column" layout-wrap layout-padding>
                    <div flex="100">
                        <h5>{{ 'container.zones.dialog.set-point-coordinates' | translate }}</h5>
                    </div>

                    <div flex="100">
                        <p>
                            {{ "container.zones.dialog.set-point-coordinates-text" | translate }}
                        </p>
                    </div>
                    
                    <div flex="33" flex-xs="100">
                        <nv-input-number
                                class="md-block"
                                label="commons.latitude"
                                model="fields.latitude.value"
                                form="modelForm"
                                step="0.00000000000000001"
                                min="-90"
                                max="90"
                                help-text="{{'container.zones.dialog.sample-latitude' | translate}}">
                        </nv-input-number>
                    </div>

                    <div flex="33" flex-xs="100">
                        <nv-input-number
                            class="md-block"
                            label="commons.longitude"
                            model="fields.longitude.value"
                            form="modelForm"
                            step="0.00000000000000001"
                            min="-180"
                            max="180"
                            help-text="{{'container.zones.dialog.sample-longitude' | translate}}">
                        </nv-input-number>
                    </div>


                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <nv-icon-text-button
                name="commons.cancel"
                on-click="onCancel($event)"
                class="flat"
                md-theme="nvBlue">                
            </nv-icon-text-button>
            <nv-button-save 
                name="commons.enter" 
                form="modelForm" 
                class="flat"
                state="saveButtonState"
                md-theme="nvBlue">
            </nv-button-save>
        </md-dialog-actions>
    </md-dialog>
</form>