@import "../../../../../lib/ninja-commons/styles/mixins/table.mixins";

md-dialog.zonal-routing-view-waypoints {
  $defaultWidth: 80rem !important;

  width: $defaultWidth;

  md-dialog {
    max-width: $defaultWidth;

    md-dialog-content {
      .table-container {
        nv-table {
          // column width
          @include nv-table-column-width(id, 8rem);
          @include nv-table-column-width(date, 10rem);
          @include nv-table-column-width(timewindow-id, 13rem);
          @include nv-table-column-width(address, 20rem);
          @include nv-table-column-width(is-priority, 10rem);

          // row height
          @include nv-table-row-height(5rem);

          .last-row:not(.last-row-no-result) {
            display: none;
          }
        }
      }
    }
  }
}