<nv-dialog-header
  title="{{'commons.waypoints' | translate}}"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<form name="modelForm">
  <md-dialog>
    <md-dialog-content>
      <div class="table-container" ng-if="ctrl.waypointsTableParams && !ctrl.waypointsTableParams.empty">
        <nv-table
          param="ctrl.waypointsTableParams"
          selectable="true"
          controller-as="ctrl">
          <nv-table-row
            use-virtual-repeat='false'
            use="waypoint">
            <nv-index></nv-index>
            <nv-td column="id">
              {{ waypoint.id }}
            </nv-td>
            <nv-td column="type">
              {{ waypoint.type }}
            </nv-td>
            <nv-td column="date">
              {{ waypoint.date }}
            </nv-td>
            <nv-td column="timewindowId">
              {{ waypoint.timewindowId }}
            </nv-td>
            <nv-td column="address">
              {{ waypoint.address }}
            </nv-td>
            <nv-td column="isPriority">
              {{ waypoint.isPriority }}
            </nv-td>
          </nv-table-row>
        </nv-table>
      </div>

      <div
        ng-if="ctrl.waypointsTableParams.ready && ctrl.waypointsTableParams.empty"
        class="nv-text-center">
        {{'directive.table.no-result' | translate}}
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        name="commons.cancel"
        on-click="ctrl.onCancel()">
      </nv-icon-text-button>

      <nv-icon-text-button
        md-theme="nvRed"
        class="raised"
        name="commons.remove"
        disabled="ctrl.isRemoveButtonDisabled()"
        on-click="ctrl.removeWaypoints()">
      </nv-icon-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>