@import "../../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../../styles/variables";
@import "../../../../views/container/reservation-preset-management/reservation-preset-management.mixins";

.nv-container-reservation-preset-management-pending {
  height: 100%;

  > div {
    height: 100%;

    > div {
      height: 100%;
    }
  }

  .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .title {
      h4 {
        @include nv-font-color(black, 2);
      }
    }

    > p {
      margin-bottom: $nv-baseline-grid/2;
    }

    .content {
      position: relative;
      flex: 1;
      overflow: auto;

      .table-container {
        $border-color: #cccccc;
        $padding: $nv-baseline-grid $nv-baseline-grid*2;

        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        border: $nv-table-border-width solid $border-color;

        .table-header {
          background-color: #d8d8d8;
          border-bottom: $nv-table-border-width solid $border-color;
          padding: $padding;
        }

        .table-content {
          position: relative;
          flex: 1;
          overflow: auto;

          .item {
            border-bottom: $nv-table-border-width solid $border-color;
            padding: $padding;

            @include reservation-timing;

            .address {
              margin-top: $nv-baseline-grid;
            }

            &.unlink {
              &.selected {
                background-color: $nv-highlight-red;
              }

              .status {
                color: $nv-dark-red;
                @include nv-font-weight(medium);
              }
            }

            &.assign {
              &.selected {
                background-color: $nv-highlight-green;
              }

              .status {
                color: $nv-dark-green;
                @include nv-font-weight(medium);
              }
            }

            nv-icon-text-button {
              display: inline-block;
              padding-left: $nv-baseline-grid / 2;

              > button {
                min-width: 8rem;
              }
            }
          }

          .no-result {
            margin-top: $nv-baseline-grid*4;
            text-align: center;
            @include nv-font-color(black, 2);
          }
        }
      }
    }
  }
}