<md-content class="nv-container-reservation-preset-management-pending">
  <div ng-if="!ctrl.parentCtrl.contentLoading">
    <div layout="row" layout-sm="column" layout-xs="column" layout-padding>
      <div flex="20" hide-sm hide-xs></div>
      <div flex>
        <div class="container">
          <div class="title">
            <h4>{{ 'container.reservation-preset-management.pending-tasks' | translate }}</h4>
          </div>
          <p>
            {{ 'container.reservation-preset-management.pending-tasks-instruction' | translate }}
          </p>

          <div class="content">
            <div class="table-container">
              <div class="table-header">
                {{ 'container.reservation-preset-management.shippers' | translate }}
              </div>
              <div class="table-content">
                <div ng-repeat="pendingTask in ctrl.pendingTasks"
                     class="item"
                     ng-class="{'unlink': !pendingTask.link, 'assign': pendingTask.link, 'selected': pendingTask.selected}">
                  <div layout="row" layout-align="start center">
                    <div flex>
                      <div class="title">
                        <span ng-if="!pendingTask.link"
                              class="status">
                          {{ 'container.reservation-preset-management.unassign' | translate }}:
                          {{ pendingTask.shipper.name }}; {{ pendingTask.hubName }}
                        </span>
                        <span ng-if="pendingTask.link"
                              class="status">
                          {{ 'container.reservation-preset-management.assign' | translate }}:
                          {{ pendingTask.shipper.name }}
                        </span>
                      </div>
                      <div ng-if="pendingTask.fullAddress"
                           class="address">
                        {{ pendingTask.fullAddress }}
                      </div>
                      <div ng-if="pendingTask.milkrunSetting !== null">
                        <span class="day-container">
                          <span class="day"
                                ng-class="{ 'marked': ctrl.parentCtrl.contains(pendingTask.milkrunSetting.days, reservationDay.id) }"
                                ng-repeat="reservationDay in ctrl.parentCtrl.RESERVATION_DAYS">
                            {{ reservationDay.name }}
                          </span>
                        </span>
                        <span class="pickup-timewindow">
                          {{ pendingTask.milkrunSetting.start_time }}-{{ pendingTask.milkrunSetting.end_time }}
                        </span>
                      </div>
                    </div>
                    <div>
                      <nv-icon-text-button
                        ng-if="!pendingTask.link"
                        md-theme="nvRed"
                        class="raised dense"
                        name="container.reservation-preset-management.unassign"
                        on-click="ctrl.showUnlinkOrAssignDialog($event, pendingTask)">
                      </nv-icon-text-button>

                      <nv-icon-text-button
                        ng-if="pendingTask.link"
                        md-theme="nvGreen"
                        class="raised dense"
                        name="container.reservation-preset-management.assign"
                        on-click="ctrl.showUnlinkOrAssignDialog($event, pendingTask)">
                      </nv-icon-text-button>
                    </div>
                  </div>
                </div>
                <div ng-if="ctrl.pendingTasks.length <= 0"
                     class="no-result">
                  {{ 'container.reservation-preset-management.no-pending-tasks-to-complete' | translate }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div flex="20" hide-sm hide-xs></div>
    </div>
  </div>
</md-content>