.ninja-pack-tid-generator {
  .container {
    margin: 3.2rem 8rem;
 
    .content-title {
      font-weight: bold;
      margin: 0 0.8rem;
      padding-bottom: 3.2rem;
    }

    .content-body {

      md-card {
        md-card-header {
          .head {
            padding: 0 2.4rem 0 2.4rem;
            font-size: 1.6rem;
            color: black;
  
            &.black { color: black; }
          }
  
          .foot {
            padding: 0 2.4rem 0 2.4rem;
            font-size: 1.6rem;
            padding-bottom: 1.2rem;
            color: rgba(0,0,0,0.54);
          }
        }

        md-card-content {
          padding: 2.4rem 4rem;

          .field-row {
            padding: 0.4rem 0;
            .title {
              font-size: 1.8rem;
              padding-top: 1.2rem;
              font-weight: bold;
            }
          }
          

        }

        md-card-actions {
          padding: 1.6rem 4rem;
        }
      }
      
    }    
  } 
}