<md-content class="ninja-pack-tid-generator">
  <div class="container">
    <div class="content-title">
      <h4>Generate Unique Tracking IDs for Ninja Packs</h4>
    </div>

    <form name="simpleForm">
      <div class="content-body">
        <md-card>
          <md-card-header>
            <div class="head">
              Select parcel size, service scope and enter quantity of IDs to generate (maximum of 5000 pax)
            </div>
          </md-card-header>
          <md-card-content>
            <div class="field-row" layout flex>
              <div class="title" flex="30">
                {{ 'container.ninja-pack-tid-generator.parcel-size' | translate }}
              </div>
              <div layout flex="70">
                <nv-input-select flex
                  name="Parcel Size"
                  label="Parcel Size"
                  model="ctrl.parcelSize.value"
                  options="ctrl.parcelSize.options"
                  model-options="{}"
                  set-default="true"
                ></nv-input-select>
              </div>
            </div>
            <div class="field-row" layout flex>
              <div class="title" flex="30">
                {{ 'container.ninja-pack-tid-generator.service-scope' | translate }}
              </div>
              <div layout flex="70">
                <nv-input-select flex
                  name="Service Scope"
                  label="Service Scope"
                  model="ctrl.parcelServiceScope.value"
                  options="ctrl.parcelServiceScope.options"
                  model-options="{}"
                  set-default="true"
                ></nv-input-select>
              </div>
            </div>
            <div class="field-row" layout flex>
              <div class="title" flex="30">
                {{ 'container.ninja-pack-tid-generator.quantity' | translate }}
              </div>
              <div layout flex="70">
                <md-input-container flex>
                  <input
                    type="number"
                    step="1"
                    ng-model="ctrl.quantity"
                    name="quantity"
                    aria-label="quantity"
                    ng-required="true"
                    min="0"
                    max="5000">
                  </input>
                  <div ng-messages="simpleForm.quantity.$error" role="alert">
                    <div ng-message="required">This field is required.</div>
                  </div>
                </md-input-container>
              </div>
            </div>
          </md-card-content>
          <md-card-actions layout="row" layout-align="start center">
            <nv-api-text-button
              name="Generate"
              on-click="ctrl.generate.onClick()"
              state="ctrl.generate.state"
              form="simpleForm"
              md-theme="nvBlue"
              class="raised"
            ></nv-api-text-button>
          </md-card-actions>
          <md-card-header>
            <div class="foot">
              * Tracking IDs generated will be downloaded as a CSV file
            </div>
          </md-card-header>
        </md-card>
      </div>
    </form>
  </div>
</md-content>