md-dialog.hub-add,
md-dialog.hub-edit {
  width: 45rem;

  .md-dialog-content {
    textarea + div {
      min-height: 0; // hide ng-messages area because we don't need it
    }

    div.notes{
      margin-bottom: .8rem;
      margin-top: -1.4rem;
    }
  }
}

md-dialog.hub-edit {
  .md-dialog-content .id {
    right: -1.6rem;
  }
}
