<nv-dialog-header title="View Hub" on-cancel="::onCancel($event)" cancel-text="commons.close"></nv-dialog-header>

<form name="modelForm" md-theme="nvBlue">

    <md-dialog-content>
        <div class="md-dialog-content">

            <div class="md-block multi-input-row" layout="row">
                <nv-input-text
                        class="md-block"
                        flex="80"
                        label="{{::fields.name.displayName}}"
                        model="fields.name.value"
                        form="modelForm"
                        readonly="::true">
                </nv-input-text>

                <nv-input-text
                        class="md-block id"
                        flex
                        label="{{::fields.id.displayName}}"
                        model="fields.id.value"
                        form="modelForm"
                        readonly="::true">
                </nv-input-text>
            </div>

            <div class="md-block multi-input-row" layout="row">
                <nv-input-text
                    class="md-block"
                    flex="50"
                    label="{{::fields.short_name.displayName}}"
                    model="fields.short_name.value"
                    readonly="::true"
                    form="modelForm">
                </nv-input-text>                        
            </div>

            <div class="md-block multi-input-row" layout="row">
                <nv-input-text
                    class="md-block"
                    flex="50"
                    label="{{::fields.city.displayName}}"
                    model="fields.city.value"
                    on-change="onChangeCity(text)"
                    form="modelForm"
                    readonly="::true">
                </nv-input-text>                        
                <nv-input-text
                    class="md-block"
                    flex="50"
                    label="{{::fields.country.displayName}}"
                    model="fields.country.value"
                    on-change="onChangeCountry(text)"
                    form="modelForm"
                    readonly="::true">
                </nv-input-text>                        
            </div>
            <div class="md-block multi-input-row" layout="row">

                <nv-input-number
                    class="md-block"
                    label="{{::fields.latitude.displayName}}"
                    model="fields.latitude.value"
                    form="modelForm"
                    step="::0.0000000001"
                    min="-90"
                    max="90"
                    readonly="::true">
                </nv-input-number>

                <nv-input-number
                    class="md-block"
                    label="{{::fields.longitude.displayName}}"
                    model="fields.longitude.value"
                    form="modelForm"
                    step="::0.0000000001"
                    min="-180"
                    max="180"
                    readonly="::true">
                </nv-input-number>

            </div>
        </div>
    </md-dialog-content>
</form>
