<div class="header-container" layout="row" layout-align="start center">
  <div class="main-title">
    <p class="medium nv-text-ellipsis">{{ mainTitle | translate }}</p>
  </div>

  <div class="utility-section" layout="row" layout-align="start center">
    <nv-autocomplete
      flex
      class="autocomplete-container"
      search-text="searchText"
      placeholder="commons.enter-search-term"
      icon="search"
      delegate-handle="{{::autocompleteHandle}}"
      multiple="true"
      item-types="{{::itemTypes}}"
      no-found-item-message="{{::noFoundItemMessage}}"
      theme="{{::theme}}"
      hide-dropdown-icon="true"
      delay="300"
      clear-on-blur="false"
      min-text-length="{{::minTextLength}}">
    </nv-autocomplete>

    <div class="primary-button-container" layout="row" layout-align="end center">
      <!-- Show Selected Filters button-->
      <nv-icon-text-button
        ng-if="selectedOptions.length > 0"
        ng-clazz="{'active': !state.showSelected}"
        class="flat dense"
        name="{{state.showSelected ? 'Hide (' + selectedOptions.length + ')' :
            'Show (' + selectedOptions.length + ')'}}"
        icon-position="right"
        icon="{{state.showSelected ? 'arrow_drop_up': 'arrow_drop_down'}}"
        on-click="state.showSelected = !state.showSelected">
      </nv-icon-text-button>

      <!-- Remove Filter button-->
      <nv-icon-button
        ng-if="!isMandatory && hideClose === false && onClose !== undefined && selectedOptions.length === 0"
        class="flat dense"
        name="commons.remove-filter"
        icon="close"
        on-click="onClose()">
      </nv-icon-button>

      <!-- Clear All button-->
      <nv-icon-button
        ng-if="hideClose === false && selectedOptions.length > 0"
        class="flat dense primary-button"
        name="commons.clear-all"
        icon="clear_all"
        on-click="onClearAll()">
      </nv-icon-button>
    </div>
  </div>
</div>

<md-divider ng-if="state.showSelected && selectedOptions.length > 0">
</md-divider>

<div class="button-container" ng-if="selectedOptions.length && state.showSelected">
  <nv-icon-text-button
    name="{{::displayByFn(item)}}"
    icon-position="right"
    icon="close"
    class="ghost dense filter-button custom"
    aria-label="{{::displayByFn(item)}}"
    ng-repeat="item in selectedOptions"
    on-click="::onRemoveItem(item)">
  </nv-icon-text-button>
</div>