@import "../../../../styles/variables";

nv-input-time {

  .input-time {

    display: inline-block;
    position: relative;
    padding: 2px;
    vertical-align: middle;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    margin-bottom: 1px;

    &.focus, &.invalid {
      border-width: 0 0 2px 0;
      margin-bottom: 0px;
    }
    &.focus {
      border-color: rgb(63,81,181);
    }

    &.invalid {
      border-color: rgb(221,44,0);
    }

    input {
      text-align: right;
      display: inline-block;
      box-sizing: border-box;
      margin-top: 0;
      padding: 2px 2px 1px 2px;
      border-width: 0;
      line-height: 26px;
      height: 30px;
      width: 2em;
      -ms-flex-preferred-size: 26px;
      background: none;
      outline: none;
    }
  }
  .nv-button.md-button {
    width: 40px;
    display: inline-block;
  }
  span {
    margin-left: -3px;
    margin-right: -3px;
  }

  .md-errors-spacer {
    display: block;
    min-height: 24px;
    min-width: 1px;
  }

  div[ng-messages] {
    position: relative;
    top: -24px;
    height: 0;
    color: rgb(221,44,0);
  }
}
