<div class="input-time" ng-class="{focus: focus, invalid: form[id].$invalid}">
  <input 
    type="text" 
    name="hour" 
    ng-disabled="disabled"
    ng-model="displayedHour" 
    ng-focus="focus=true;"
    ng-blur="focus=false;"
    ng-change="displayedHourChanged(displayedHour)"
    aria-label="{{label}}">
  <span>:</span>
  <input 
    type="text" 
    name="minute" 
    ng-disabled="disabled"
    ng-model="displayedMinute"
    ng-focus="focus=true;"
    ng-blur="focus=false;"
    ng-change="displayedMinuteChanged(displayedMinute)"
    aria-label="{{label}}">
</div>

<md-button
  class="nv-button raised"
  md-theme="{{ form[id].$invalid ? 'nvRed' : 'nvBlue' }}"
  ng-disabled="disabled"
  ng-click="toggleAMPM()">
  {{ampm}}
</md-button>

<div class="md-errors-spacer"></div>
<div ng-if="::!!form" ng-messages="form[id].$error" role="alert">
  <div ng-message="required">This field is required.</div>
  <div ng-message="later">This field should be after {{displayAfterBeforeTime(requireLater, requireLaterOffset)}}.</div>
  <div ng-message="before">This field should be before {{displayAfterBeforeTime(requireBefore, requireBeforeOffset)}}.</div>
</div>

<div class="help-text" ng-if="helpText">{{ helpText | translate }}</div>