@import "../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";

.nv-container-failed-delivery-management {
  height: 100%;

  .fill-height {
    height: 100%;
  }

  > div {
    height: 100%;

    md-content {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;

      .navigation {
        padding: 0.5rem 1rem;
        @include nv-media-query-md-min {
          padding: 1rem 2rem;
        }

        @include nv-media-query-lg-min {
          padding: 1.5rem 3rem;
        }

        @include nv-media-query-xl-min {
          padding: 2rem 4rem;
        }

        .right-container {
          > * {
            display: inline-block;
            padding: 0 0 0 1rem;
            margin: 0;

            &:first-child {
              padding: 0;
            }

            &.apply-action-loading {
              vertical-align: middle;
            }

            .btn-apply-action {
              min-width: 140px;

              > span {
                flex-grow: 1;
              }
            }
          }
        }
      }

      .table-container {
        position: relative;
        flex: 1;

        nv-table {
          // column width
          @include nv-table-column-width(tracking_id, 19rem);
          @include nv-table-column-width(type, 12rem);
          @include nv-table-column-width(_shipper-name, 18rem);
          @include nv-table-column-width(_last-attempt-time, 18rem);
          @include nv-table-column-width(_failure-reason-comments, 26rem);
          @include nv-table-column-width(attempt_count, 16rem);
          @include nv-table-column-width(_invalid-failure-count, 16rem);
          @include nv-table-column-width(_valid-failure-count, 15rem);
          @include nv-table-column-width(_failure-reason-code-descriptions, 15rem);
          @include nv-table-column-width(_days-since-last-attempt, 19rem);
          @include nv-table-column-width(_priority-level, 14rem);
          @include nv-table-column-width(_last-scanned-hub-name, 20rem);
          @include nv-table-column-width(_order-tags, 20rem);

          // action columns
          @include nv-table-action-columns(nv-table-action-width("two-dense-p"));

          th, td {

            .pill {
              padding: 1rem 2rem;
              margin: 1rem;
              width: 16rem;
              background-color: #ebedf0;
              border-radius: 2rem;
              text-align: center;
            }
          }

          tr.last-row td.end-of-result {
            .end-of-table {
              height: 5rem !important;

              p {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}