<md-content class="nv-container-failed-delivery-management"
            nv-load="ctrl.getAll" loading-message="{{'container.failed-delivery-management.load-data' | translate}}">
  <div layout="row" class="fill-height">
    <div flex class="fill-height">
      <md-content>
        <div class="navigation">
          <div layout="row" layout-sm="column" layout-xs="column">
            <div flex class="right-container nv-text-right">
              <p translate="container.failed-delivery-management.x-selected"
                 translate-values="{count: ctrl.getSelectedCount()}">
              </p>
              <div class="apply-action-loading" ng-if="ctrl.isApplyActionLoading">
                <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="24px"></md-progress-circular>
              </div>
              <md-menu-bar>
                <md-menu md-position-mode="target-right target">
                  <md-button
                    class="nv-button raised btn-apply-action"
                    type="button"
                    aria-label="Action"
                    ng-click="$mdOpenMenu($event)"
                    ng-disabled="ctrl.getSelectedCount() <= 0">
                    <span class="nv-text-ellipsis nv-text-left">{{'commons.apply-action' | translate}}</span>
                    <i class="material-icons">arrow_drop_down</i>
                  </md-button>

                  <md-menu-content class="actions-holder dark" width="3">
                    <md-menu-item>
                      <md-button class="nv-button flat alternate"
                                 type="button"
                                 aria-label="{{'container.failed-delivery-management.set-rts-to-selected' | translate}}"
                                 ng-click="ctrl.returnSelectedToSender($event)">
                        <i class="material-icons">assignment_return</i>
                        <span>{{'container.failed-delivery-management.set-rts-to-selected' | translate}}</span>
                      </md-button>
                    </md-menu-item>

                    <md-menu-item>
                      <md-button class="nv-button flat alternate"
                                 type="button"
                                 aria-label="{{'container.failed-delivery-management.reschedule-selected' | translate}}"
                                 ng-click="ctrl.rescheduleSelected($event)">
                        <i class="material-icons">restore</i>
                        <span>{{'container.failed-delivery-management.reschedule-selected' | translate}}</span>
                      </md-button>
                    </md-menu-item>

                    <md-menu-item>
                      <md-button class="nv-button flat alternate"
                                 type="button"
                                 aria-label="{{'commons.download-csv' | translate}}"
                                 ng-click="ctrl.downloadCsvSelected($event)">
                        <i class="material-icons">file_download</i>
                        <span>{{'commons.download-csv' | translate}}</span>
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-menu-bar>
            </div>
          </div>
        </div>

        <nv-table-description
          table-param="ctrl.tableParam"
          title-display="mainTitle">
        </nv-table-description>
        <div class="table-container" ng-if="!ctrl.tableParam.empty">
          <nv-table
            param="ctrl.tableParam"
            selectable="true"
            use-virtual-repeat="true"
            controller-as="ctrl">
            <nv-table-row
              use="failedDelivery">
              <nv-index></nv-index>
              <nv-td column="tracking_id">
                <a href="javascript:;"
                   ng-click="ctrl.editOrder(failedDelivery)">
                  {{ failedDelivery.tracking_id }}
                </a>
              </nv-td>
              <nv-td column="type">
                {{ failedDelivery.type }}
              </nv-td>
              <nv-td column="_shipperName">
                {{ failedDelivery._shipperName }}
              </nv-td>
              <nv-td column="_lastAttemptTime">
                {{ failedDelivery._lastAttemptTime }}
              </nv-td>
              <nv-td column="_failureReasonComments">
                {{ failedDelivery._failureReasonComments }}
              </nv-td>
              <nv-td column="attempt_count">
                {{ failedDelivery.attempt_count }}
              </nv-td>
              <nv-td column="_invalidFailureCount">
                {{ failedDelivery._invalidFailureCount }}
              </nv-td>
              <nv-td column="_validFailureCount">
                {{ failedDelivery._validFailureCount }}
              </nv-td>
              <nv-td column="_failureReasonCodeDescriptions">
                {{ failedDelivery._failureReasonCodeDescriptions }}
              </nv-td>
              <nv-td column="_daysSinceLastAttempt">
                {{ failedDelivery._daysSinceLastAttempt }}
              </nv-td>
              <nv-td column="_priorityLevel">
                {{ failedDelivery._priorityLevel }}
              </nv-td>
              <nv-td column="_lastScannedHubName">
                {{ failedDelivery._lastScannedHubName }}
              </nv-td>
              <nv-td column="_orderTags" highlight-text="false">
                <nv-fdm-pills tags="failedDelivery._orderTags.tags" tracking-id="failedDelivery.tracking_id"></nv-fdm-pills>
              </nv-td>
              <nv-action column="actions">
                <div class="nv-icon-button-group" layout="row" layout-align="center center">
                  <nv-icon-button
                    ng-if="!failedDelivery._isRescheduling"
                    md-theme="nvGreen"
                    class="ghost dense"
                    name="container.failed-delivery-management.reschedule-next-day"
                    icon="{{ failedDelivery._isRescheduling ? 'restore' : 'restore' }}"
                    on-click="ctrl.rescheduleToNextDay(failedDelivery)">
                  </nv-icon-button>
                  <md-progress-circular class="md-primary"
                                        md-mode="indeterminate"
                                        md-diameter="30px"
                                        ng-if="failedDelivery._isRescheduling">
                  </md-progress-circular>

                  <nv-icon-button
                    ng-if="!failedDelivery._isRTSing"
                    md-theme="nvGreen"
                    class="ghost dense"
                    name="commons.return-to-sender"
                    icon="assignment_return"
                    on-click="ctrl.returnToSender($event, failedDelivery)">
                  </nv-icon-button>
                  <md-progress-circular class="md-primary"
                                        md-mode="indeterminate"
                                        md-diameter="30px"
                                        ng-if="failedDelivery._isRTSing">
                  </md-progress-circular>
                </div>
              </nv-action>
            </nv-table-row>
          </nv-table>
        </div>
      </md-content>
    </div>
  </div>
</md-content>