.nv-container-vehicle-type-management {
  > md-content {
    padding: 1rem;

    @include nv-media-query-md-min {
      padding: 2rem;
    }

    @include nv-media-query-lg-min {
      padding: 3rem;
    }

    @include nv-media-query-xl-min {
      padding: 4rem;
    }
  }

  .search {
    margin-bottom: 2rem;
  }

  .table-container table {
    th:last-child,
    td.actions {
      min-width: 15rem;
      width: 15rem;
      text-align: center;
    }

    td.actions {
      text-align: center;
    }
  }
}