@import "../../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../zonal-routing/zonal-routing.mixins";
@import "../../order/order.mixins";

.nv-container-pricing-v2 {
  height: 100%;

  .loaded {
    height: 100%;
    background-color: $nv-background-color;

    > md-content {
      height: 100%;
    }

    display: flex;
    flex-direction: column;
  }

  .header {
    padding: 2rem 1rem;
  }

  tabs-wrapper {
    height: 4.8rem;
    box-shadow: 0 0.5rem 0.5rem -0.5rem #888888;
    margin-bottom: 0.2rem;

    tab-item {
      color: $nv-text-black-3;
      text-align: center;
      line-height: 2.4rem;
      padding: 1.2rem 2.4rem;
      white-space: nowrap;
      position: relative;
      text-transform: uppercase;
      float: left;
      font-weight: 500;
      text-overflow: ellipsis;
      max-width: 15rem;
      outline: none;

      &.active {
        color: $nv-dark-blue;
        border-width: 0 0 0.2rem;
        border-style: solid;
        border-color: $nv-dark-blue;
      }
    }
  }

  .table-container {
    position: relative;
    flex: 1;

    nv-table {
      // column width
      @include nv-table-column-width(id, 7rem);
      @include nv-table-column-width(name, 14rem);
      @include nv-table-column-width(last-modified, 18rem);
      @include nv-table-column-width(description, 20rem);

      // row height
      @include nv-table-row-height(8rem);

      // action columns
      @include nv-table-action-columns(nv-table-action-width("four-dense-p"));

      &.draft {
        @include nv-table-action-columns(nv-table-action-width("one-dense-p"));
      }

      .none {
         color: red;
       }
    }
  }
}

