<div class="nv-container-pricing-v2">
    <div class="loading-sheet" ng-if="ctrl.state.laodingSheet === true" layout layout-align="center center">
        <md-progress-circular md-theme="nvBlue" class="md-pri
        mary" md-mode="indeterminate" md-diameter="64px"></md-progress-circular>
    </div>
    <div class="content body-height">
        <tabs-wrapper layout="row" layout-align="left left">
            <tab-item ng-repeat="item in ctrl.view.tabs" ng-class="{active: ctrl.state.tab === item.id}" ng-click="ctrl.onTabChanged(item.id)">
                {{ item.displayName | translate }}
            </tab-item>
        </tabs-wrapper>
        <tab-content ng-show="ctrl.state.tab === 0" layout="column" layout-align="start stretch" class="body-height">
            <div class="body-height" flex-gt-sm="90" flex="100" ng-include="'views/container/pricing-scripts-v2/list/tab-content/active-scripts.html'" nv-include-replace></div>
        </tab-content>
        <tab-content ng-show="ctrl.state.tab === 1" layout="column" layout-align="start stretch" class="body-height">
            <div class="body-height" flex-gt-sm="90" flex="100" ng-include="'views/container/pricing-scripts-v2/list/tab-content/drafts.html'" nv-include-replace></div>
        </tab-content>
    </div>
</div>