@import "../../../lib/ninja-commons/styles/variables";
@import "../../../lib/ninja-commons/styles/mixins/media-query.mixins";

.nv-container-polygon-drawing {

  width: 100%;
  height: 100%;
  color: $nv-text-white;
  background-color: $nv-brand-grey;

  .map-container {
    width: 100%;
    height: 100%;

    @include nv-media-query-sm-max {
      max-height: 50rem;
    }

    .map {
      width: 100%;
      height: 100%;
    }

    .mode {
      padding: 0 1rem;
    }

    .name {
      padding: 0 1rem 0.5rem 1rem;
      line-height: 2.8rem;

      nv-icon-button {
        vertical-align: top;
        margin-right: 0.5rem;
      }
    }
  }

  .controls-container {
    width: 100%;
    overflow: auto;

    @include nv-media-query-xs-max {
      max-height: 28.5rem;
    }

    @include nv-media-query-md-min {
      max-width: 32rem;
    }

    .md-button,
    md-slider-container,
    nv-button-file-picker {
      width: 100%;
    }

    .all-buttons-container {
      padding: 0.5rem 0;

      .two-buttons-container {
        width: 100%;

        > * {
          min-width: 0;
          max-width: 45.5%;

          &:first-child {
            margin: 0.5rem 1.5% 0.5rem 3%;
          }

          &:last-child {
            margin: 0.5rem 3% 0.5rem 1.5%;
          }

          @include nv-media-query-sm-max {
            max-width: 94%;

            &:first-child {
              margin: 0.5rem 3% 0.5rem 3%;
            }

            &:last-child {
              margin: 0.5rem 3% 0.5rem 3%;
            }
          }
        }

        .md-button.download,
        .md-button.upload {
          text-transform: none;
        }
      }
    }

    .all-switches-container {
      padding: 0.5rem 0;

      md-switch {
        margin: 0 1.5rem;
        color: $nv-text-white;

        &[disabled] {
          color: $nv-text-white-3;
        }

        &[disabled] .md-bar {
          background-color: $nv-text-white-3;
        }
      }
    }

    .all-sliders-container {
      padding: 0.5rem 0;

      md-slider-container {
        padding: 0 1rem;

        md-icon {
          color: $nv-text-white;
        }

        md-slider {
          margin: 0 0.8rem;
        }
      }
    }

    .help-text-container {
      padding: 1rem;
      line-height: 2rem;

      ol {
        margin: 0 0 1rem 0;
        padding: 0 0 0 2rem;
      }
    }
  }

}
