<md-content class="nv-container-polygon-drawing" layout="column" layout-gt-sm="row">

  <div class="map-container" layout="column" flex>

    <div class="map" id="map"></div>

    <div class="mode">
      <span>{{'container.polygon-drawing.current-mode' | translate}}</span>
      <span class="md-body-2" ng-if="!ctrl.isCreating && !ctrl.isDeleting && !ctrl.isChoosing && !ctrl.isResizing">{{'container.polygon-drawing.mode-normal' | translate}}</span>
      <span class="md-body-2" ng-if="ctrl.isCreating">{{'container.polygon-drawing.mode-create' | translate}}</span>
      <span class="md-body-2" ng-if="ctrl.isDeleting">{{'container.polygon-drawing.mode-delete' | translate}}</span>
      <span class="md-body-2" ng-if="ctrl.isChoosing">{{'container.polygon-drawing.mode-choose' | translate}}</span>
      <span class="md-body-2" ng-if="ctrl.isResizing">{{'container.polygon-drawing.mode-resize' | translate}}</span>
    </div>

    <div class="name">
      <nv-icon-button
        md-theme="nvBlue"
        class="dark dense"
        name="Edit"
        icon="edit"
        disabled="!ctrl.featureProperties.id"
        on-click="::ctrl.onClickEditPolygon($event)">
      </nv-icon-button>
      <span>{{'container.polygon-drawing.selected-polygon' | translate}}</span>
      <span class="md-body-2">{{ctrl.featureProperties.name || '-'}}</span>
    </div>

  </div>

  <div class="controls-container" flex="nogrow">

    <div class="all-buttons-container" layout="column" layout-sm="row">

      <div class="two-buttons-container" layout="column" layout-gt-sm="row" layout-align="space-around center">
        <md-button
          md-theme="nvBlue"
          class="nv-button raised"
          type="button"
          aria-label="Pricing Zones"
          ng-click="ctrl.onClickPricingZones()"
          ng-disabled="ctrl.isCreating || ctrl.isDeleting || ctrl.isChoosing || ctrl.isResizing">
          {{'container.polygon-drawing.pricing-zones' | translate}}
        </md-button>

        <md-button
          md-theme="nvYellow"
          class="nv-button raised"
          type="button"
          aria-label="Demo"
          ng-click="ctrl.onClickDemo()"
          ng-disabled="ctrl.hasAnyPoly || ctrl.isCreating || ctrl.isChoosing || ctrl.isResizing">
          {{'container.polygon-drawing.demo' | translate}}
        </md-button>
      </div>

      <div class="two-buttons-container" layout="column" layout-gt-sm="row" layout-align="space-around center">
        <md-button
          md-theme="nvRed"
          class="nv-button raised"
          type="button"
          aria-label="Delete Polygon"
          ng-click="ctrl.onClickDeletePolygon()"
          ng-disabled="!ctrl.isSelectedPoly()">
          {{'container.polygon-drawing.delete-polygon' | translate}}
        </md-button>

        <md-button
          md-theme="nvRed"
          class="nv-button raised"
          type="button"
          aria-label="Clear All Polygons"
          ng-click="ctrl.onClickClearAllPolygons()"
          ng-disabled="!ctrl.hasAnyPoly || ctrl.isCreating">
          {{'container.polygon-drawing.clear-all-polygons' | translate}}
        </md-button>
      </div>

      <div class="two-buttons-container" layout="column" layout-gt-sm="row" layout-align="space-around center">
        <md-button
          md-theme="nvYellow"
          class="nv-button raised download"
          type="button"
          aria-label="Download .json"
          ng-click="ctrl.onClickDownloadJson()"
          ng-disabled="!ctrl.hasAnyPoly || ctrl.isCreating">
          {{'container.polygon-drawing.download-json' | translate}}
        </md-button>

        <nv-button-file-picker
          md-theme="nvYellow"
          class="raised upload"
          label="{{'container.polygon-drawing.upload-json' | translate}}"
          accept="{{ctrl.UPLOAD_TYPE}}"
          multiple="false"
          disabled="ctrl.isCreating || ctrl.isChoosing || ctrl.isResizing"
          on-file-select="::ctrl.onClickUploadJson($file)">
        </nv-button-file-picker>
      </div>

      <div class="two-buttons-container" layout="column" layout-gt-sm="row" layout-align="space-around center">
        <nv-button-file-picker
          md-theme="nvYellow"
          class="raised upload"
          label="{{'container.polygon-drawing.upload-image' | translate}}"
          accept="{{ctrl.nvButtonFilePickerType.IMAGE}}"
          multiple="false"
          disabled="ctrl.hasAnImage || ctrl.isSelectedPoly() || ctrl.isCreating || ctrl.isChoosing"
          on-file-select="::ctrl.onClickUploadImage($file)">
        </nv-button-file-picker>

        <md-button
          md-theme="nvRed"
          class="nv-button raised"
          type="button"
          aria-label="Delete Image"
          ng-click="ctrl.onClickDeleteImage()"
          ng-disabled="!ctrl.hasAnImage  || ctrl.isCreating || ctrl.isChoosing">
          {{'container.polygon-drawing.delete-image' | translate}}
        </md-button>
      </div>

      <div class="two-buttons-container" layout="column" layout-gt-sm="row" layout-align="end center">
        <md-button
          md-theme="nvBlue"
          class="nv-button raised"
          type="button"
          aria-label="Center Map"
          ng-click="ctrl.onClickCenterMap()">
          {{'container.polygon-drawing.center-map' | translate}}
        </md-button>
      </div>

    </div>

    <div class="all-switches-container" layout="column" layout-sm="row">

      <md-switch
        md-no-ink
        aria-label="Create Mode"
        ng-model="ctrl.isCreating"
        ng-disabled="ctrl.isDeleting || ctrl.isChoosing || ctrl.isSelectedPoly()">
        {{'container.polygon-drawing.create-mode' | translate}}
      </md-switch>

      <md-switch
        md-no-ink
        aria-label="Delete Mode"
        ng-model="ctrl.isDeleting"
        ng-disabled="ctrl.isCreating || ctrl.isChoosing || !ctrl.isSelectedPoly()">
        {{'container.polygon-drawing.delete-mode' | translate}}
      </md-switch>

      <md-switch
        md-no-ink
        aria-label="Edit Image Mode"
        ng-model="ctrl.isResizing"
        ng-disabled="!ctrl.hasAnImage">
        {{'container.polygon-drawing.resize-image-mode' | translate}}
      </md-switch>

    </div>

    <div class="all-sliders-container" layout="column" layout-sm="row">

      <md-slider-container md-theme="nvBlue" layout="row" layout-align="center">
        <md-icon flex="none">bubble_chart</md-icon>
        <md-slider
          flex
          md-discrete
          aria-label="Radius"
          min="1"
          max="5"
          step="0.5"
          ng-model="ctrl.radius"
          ng-disabled="!ctrl.isChoosing"
          ng-change="ctrl.onChangeRadius(ctrl.radius)">
        </md-slider>
      </md-slider-container>

      <md-slider-container md-theme="nvBlue" layout="row" layout-align="center">
        <md-icon flex="none">opacity</md-icon>
        <md-slider
          flex
          md-discrete
          aria-label="Opacity"
          min="0"
          max="1"
          step="0.1"
          ng-model="ctrl.opacity"
          ng-disabled="!ctrl.hasAnImage"
          ng-change="ctrl.onChangeOpacity(ctrl.opacity)">
        </md-slider>
      </md-slider-container>

    </div>

    <div class="help-text-container">

      <div>If it starts to lag when drawing, the following steps might help:</div>

      <ol>
        <li>Resize your browser window to reduce the visible map area.</li>
        <li>Reduce the number of polygons loaded on the map.</li>
        <li>View this page on a monitor with a lower resolution or pixel density.</li>

      </ol>
    </div>

  </div>

</md-content>
