<md-dialog>
  <md-dialog-content class="md-dialog-content">
    <h2 class="md-title">{{ 'container.order.list.find-orders-with-csv' | translate }}</h2>
    <div translate="container.sales-person.download-template"
      translate-values="{csvData: ctrl.getSampleCsv()}"
      translate-compile></div>
    <div class="upload-button-holder">
      <div class="file-info-container" ng-if="ctrl.fileSelected.length > 0">
        <h5>{{ ctrl.getFileName() }}</h5>
        <div>{{ ctrl.getDatas().length }} datas will be uploaded</div>
      </div>

      <nv-button-file-picker
        ng-if="ctrl.fileSelected.length <= 0"
        md-theme="nvBlue"
        class="raised"
        label="{{ 'commons.select-file' | translate }}"
        accept="{{ ctrl.filePickerType }}"
        multiple="false"
        on-file-select="ctrl.onFileSelect($file)">
      </nv-button-file-picker>

      <nv-icon-text-button
        ng-if="ctrl.fileSelected.length > 0"
        md-theme="nvBlue"
        class="ghost"
        name="commons.edit"
        disabled="ctrl.formSubmitState === 'waiting'"
        on-click="ctrl.resetSelectedFile()">
      </nv-icon-text-button>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <nv-icon-text-button
      class="flat"
      name="commons.cancel"
      on-click="ctrl.onCancel()">
    </nv-icon-text-button>
    <nv-api-text-button
      class="flat"
      state="ctrl.formSubmitState"
      name="commons.upload"
      disabled="ctrl.isFormSubmitDisabled()"
      on-click="ctrl.onSave($event)">
    </nv-api-text-button>
  </md-dialog-actions>
</md-dialog>