@import "../../../../../lib/ninja-commons/styles/variables";
@import "../../../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../../../styles/variables";

.pickup-failed-webhook-dialog {
  $defaultWidth: 80rem;

  width: $defaultWidth !important;

  .table-holder {
    margin-top: $nv-baseline-grid;
    margin-bottom: $nv-baseline-grid;

    .table {
      width: 70rem;
      > thead > tr > th {
        border-bottom: 0;
        font-weight: normal;
        font-size: 1.2rem;
        color: $nv-text-black-2;
      }

      > tbody > tr > td {
        border-top: 0;
        vertical-align: middle;

        > span {
          @include nv-font-color(black, 2);
          padding-left: 0.4rem;
          min-height: 2.8rem;
          display: inline-block;
        }

        md-input-container {
          margin: 0;

          label {
            display: none;
          }
        }
      }

      td.tracking-id, th.tracking-id {
        width: 20rem;
      }

      td.failure-reason, th.failure-reason {
        width: 50rem;
        max-width: 50rem;
      }
    }

    md-virtual-repeat-container{
      height: 15rem;
    }
  }

  md-input-container {
    .md-errors-spacer {
      display: none;
    }
  }
}