<form name="modelForm">
  <md-dialog-content>
    <div class="md-dialog-content" ng-if="ctrl.state.masterView === 0">
      <h2>Loading</h2>
    </div>
    <div class="md-dialog-content" ng-if="ctrl.state.masterView === 1">
      <h2 class="md-title">{{ 'container.non-inbounded.failed-pickup-webhook.title' | translate }}</h2>
      <div>{{ 'container.non-inbounded.failed-pickup-webhook.description' | translate }}</div>

      <div layout layout-align="end">
        <nv-icon-text-button
          md-theme="nvBlue"
          class="ghost dense"
          name="container.non-inbounded.failed-pickup-webhook.set-to-all"
          icon="{{ ctrl.state.isSetToAll ? 'check_box' : 'check_box_outline_blank' }}"
          on-click="ctrl.state.isSetToAll = !ctrl.state.isSetToAll">
        </nv-icon-text-button>
      </div>

      <div class="table-holder">
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th class="tracking-id">{{ 'commons.tracking-id' | translate }}</th>
            <th class="failure-reason">{{ 'container.non-inbounded.failed-pickup-webhook.failure-reason' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          
          </tbody>
        </table>
        <md-virtual-repeat-container class="webhook-virtual-repeat-container">
          <table class="table">
              <tr md-virtual-repeat="order in ctrl.data.orders">
                  <td class="tracking-id">{{ order.tracking_id }}</td>
                  <td class="failure-reason">
                    <nv-input-select
                      ng-if="(ctrl.state.isSetToAll && $index <= 0) || !ctrl.state.isSetToAll"
                      class="md-block"
                      label="container.non-inbounded.failed-pickup-webhook.failure-reason"
                      model="ctrl.data.orders[$index].comments"
                      model-options="{}"
                      options="ctrl.data.failureReasons"
                      on-change="ctrl.function.failureReasonChanged(ctrl.data.orders[$index])"
                      form="modelForm">
                    </nv-input-select>
      
                    <span ng-if="ctrl.state.isSetToAll && $index > 0">
                      {{ ctrl.data.orders[$index].comments }}
                    </span>
                  </td>
                </tr>
          </table>          
        </md-virtual-repeat-container>

      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <nv-icon-text-button
      class="flat"
      name="commons.go-back"
      on-click="ctrl.function.onCancel()">
    </nv-icon-text-button>
    <nv-api-text-button
      class="raised"
      md-theme="nvGreen"
      state="ctrl.state.submit"
      name="commons.submit"
      disabled="ctrl.function.isSubmitDisabled()"
      on-click="ctrl.function.onSubmit($event)">
    </nv-api-text-button>
  </md-dialog-actions>
</form>