@import "../../../../../lib/ninja-commons/styles/variables";

md-dialog.shipper-pickups-finish-reservation-dialog {
  $defaultWidth: 40rem !important;

  width: $defaultWidth;

  md-dialog {
    max-width: $defaultWidth;

    md-dialog-content {
      .md-title {
        margin-bottom: 0;
      }

      .buttons-holder {
        margin-bottom: 0;

        nv-icon-text-button > button {
          margin-bottom: 1rem;
          white-space: normal;
          height: auto;
          padding: 1rem;
          text-transform: none;
          
          &.fade {
            opacity: 0.3;
          }
        }
      }

      md-divider {
        margin-bottom: $nv-baseline-grid*2;
      }

      .failure-reason-selection {
        margin-bottom: $nv-baseline-grid*2;
      }
    }
  }
}
