<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <h2 class="md-title">{{ 'container.shipper-pickups.dialog.choose-outcome-for-waypoint' | translate }}</h2>

      <div class="buttons-holder" layout="row" layout-padding>
        <nv-icon-text-button
          md-theme="nvGreen"
          flex
          class="raised full"
          ng-clazz="{'fade': ctrl.action === ctrl.Waypoint.UPDATE_STATUS_ACTION.FAIL}"
          name="commons.success"
          on-click="ctrl.chooseAction($event, ctrl.Waypoint.UPDATE_STATUS_ACTION.SUCCESS)">
        </nv-icon-text-button>

        <nv-icon-text-button
          md-theme="nvRed"
          flex
          class="raised full"
          ng-clazz="{'fade': ctrl.action === ctrl.Waypoint.UPDATE_STATUS_ACTION.SUCCESS}"
          name="commons.failure"
          on-click="ctrl.chooseAction($event, ctrl.Waypoint.UPDATE_STATUS_ACTION.FAIL)">
        </nv-icon-text-button>
      </div>

      <div ng-if="ctrl.action === ctrl.Waypoint.UPDATE_STATUS_ACTION.FAIL"
           layout="column">
        <md-divider></md-divider>

        <nv-input-select
          ng-repeat="failureReason in ctrl.chosenFailureReasons"
          class="md-block failure-reason-selection {{ $index }}"
          label="{{ $index === 0 ? 'container.shipper-pickups.choose-failure-reason' : 'container.shipper-pickups.failure-reason-detail' }}"
          model="failureReason.selected"
          model-options="{}"
          options="failureReason.options"
          on-change="ctrl.failureReasonOnChange(failureReason)"
          form="modelForm">
        </nv-input-select>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <nv-icon-text-button
        ng-show="!ctrl.isSubmitting"
        class="flat"
        name="commons.go-back"
        on-click="ctrl.onCancel()">
      </nv-icon-text-button>
      <nv-api-text-button
        ng-show="ctrl.action === ctrl.Waypoint.UPDATE_STATUS_ACTION.FAIL || ctrl.formSubmitState == 'waiting'"
        class="flat"
        state="ctrl.formSubmitState"
        name="commons.update"
        disabled="ctrl.isFormSubmitDisabled()"
        on-click="ctrl.showConfirmationDialog($event)">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>

