<nv-dialog-header
  title="{{ctrl.title}}"
  on-cancel="ctrl.function.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>
<form name="modelForm">
  <md-dialog-content>
    <md-tabs md-selected="ctrl.state.selectedTab">
      <md-tab label="{{ 'commons.address'  | translate }}"
              md-active="!ctrl.state.focusMilkrunReservationsTab">
        <md-content class="md-padding" ng-if="!ctrl.state.isAddressFinder">
          <div layout="row" class="horizontal-padding">
            <nv-input-text flex="30"
                           name="Contact Name"
                           label="Contact Name"
                           model="ctrl.data.name"
                           required="true"
                           form="modelForm">
            </nv-input-text>
            <nv-input-text flex="30"
                           name="Contact Mobile Number"
                           label="Contact Mobile Number"
                           model="ctrl.data.contact">
            </nv-input-text>
            <nv-input-text flex="30"
                           name="Contact Email"
                           label="Contact Email"
                           model="ctrl.data.email">
            </nv-input-text>
          </div>

          <div layout="row" class="horizontal-padding">
            <nv-input-text flex="100"
                           name="Pickup Address 1"
                           label="Pickup Address 1"
                           model="ctrl.data.address1"
                           required="true"
                           form="modelForm">
            </nv-input-text>
          </div>

          <div layout="row" class="horizontal-padding">
            <nv-input-text flex="100"
                           name="Pickup Address 2 / Unit Number"
                           label="Pickup Address 2 / Unit Number"
                           model="ctrl.data.address2">
            </nv-input-text>
          </div>

          <!-- SG Local START -->
          <div layout="row" layout-wrap class="horizontal-padding" ng-if="ctrl.data.country === ctrl.state.pickupCountry.SG.value">
            <nv-input-select flex="30"
                             name="commons.country"
                             label="commons.country"
                             model="ctrl.data.country"
                             model-options="{}"
                             options="ctrl.state.pickupCountryOptions"
                             required="true"
                             disabled="ctrl.mode === 'edit'"
              ></nv-input-select>
            <nv-input-text flex="30"
                           name="Pickup Postcode"
                           label="Pickup Postcode"
                           model="ctrl.data.postcode"
                           required="true"
                           form="modelForm">
            </nv-input-text>
          </div>
          <!-- SG Local END -->

          <!-- MY Local START -->
          <div layout="row" layout-wrap class="horizontal-padding" ng-if="ctrl.data.country === ctrl.state.pickupCountry.MY.value">
            <nv-input-text flex="30"
                           name="Pickup Area"
                           label="Pickup Area"
                           model="ctrl.data.area">
            </nv-input-text>
            <nv-input-text flex="30"
                           name="Pickup City"
                           label="Pickup City"
                           model="ctrl.data.city">
            </nv-input-text>
            <nv-input-text flex="30"
                           name="Pickup State"
                           label="Pickup State"
                           model="ctrl.data.state">
            </nv-input-text>
            <nv-input-select flex="30"
                             name="commons.country"
                             label="commons.country"
                             model="ctrl.data.country"
                             model-options="{}"
                             options="ctrl.state.pickupCountryOptions"
                             required="true"
                             disabled="ctrl.mode === 'edit'"
              ></nv-input-select>
            <nv-input-text flex="30"
                           name="Pickup Postcode"
                           label="Pickup Postcode"
                           model="ctrl.data.postcode"
                           required="true"
                           form="modelForm">
            </nv-input-text>
          </div>
          <!-- MY Local END -->
          <!-- ID Local START -->
          <div layout="row" layout-wrap class="horizontal-padding" ng-if="ctrl.data.country === ctrl.state.pickupCountry.ID.value">
            <nv-input-text flex="30"
                           name="Pickup Kelurahan"
                           label="Pickup Kelurahan"
                           model="ctrl.data.kelurahan">
            </nv-input-text>
            <nv-input-text flex="30"
                           name="Pickup Kecamatan"
                           label="Pickup Kecamatan"
                           model="ctrl.data.kecamatan">
            </nv-input-text>
            <nv-input-text flex="30"
                           name="Pickup City"
                           label="Pickup City"
                           model="ctrl.data.city">
            </nv-input-text>
            <nv-input-text flex="30"
                           name="Pickup Province"
                           label="Pickup Province"
                           model="ctrl.data.province"
                           required="true"
                           form="modelForm">
            </nv-input-text>
            <nv-input-select flex="30"
                             name="commons.country"
                             label="commons.country"
                             model="ctrl.data.country"
                             model-options="{}"
                             options="ctrl.state.pickupCountryOptions"
                             required="true"
                             disabled="ctrl.mode === 'edit'"
              ></nv-input-select>
            <nv-input-text flex="30"
                           name="Pickup Postcode"
                           label="Pickup Postcode"
                           model="ctrl.data.postcode"
                           required="true"
                           form="modelForm">
            </nv-input-text>
          </div>
          <!-- ID Local END -->
          <!-- VN Local START -->
          <div layout="row" layout-wrap class="horizontal-padding" ng-if="ctrl.data.country === ctrl.state.pickupCountry.VN.value">
            <nv-input-text flex="30"
                           name="Pickup Ward"
                           label="Pickup Ward"
                           model="ctrl.data.ward">
            </nv-input-text>
            <nv-input-text flex="30"
                           name="Pickup District"
                           label="Pickup District"
                           model="ctrl.data.district">
            </nv-input-text>
            <nv-input-text flex="30"
                           name="Pickup City"
                           label="Pickup City"
                           model="ctrl.data.city">
            </nv-input-text>
            <nv-input-select flex="30"
                             name="commons.country"
                             label="commons.country"
                             model="ctrl.data.country"
                             model-options="{}"
                             options="ctrl.state.pickupCountryOptions"
                             required="true"
                             disabled="ctrl.mode === 'edit'"
              ></nv-input-select>
          </div>
          <!-- VN Local END -->
          <!-- TH Local START -->
          <div layout="row" layout-wrap class="horizontal-padding" ng-if="ctrl.data.country === ctrl.state.pickupCountry.TH.value">
            <nv-input-text flex="30"
                           name="Pickup Sub-District"
                           label="Pickup Sub-District"
                           model="ctrl.data.sub_district">
            </nv-input-text>
            <nv-input-text flex="30"
                           name="Pickup District"
                           label="Pickup District"
                           model="ctrl.data.district">
            </nv-input-text>
            <nv-input-text flex="30"
                           name="Pickup Province"
                           label="Pickup Province"
                           model="ctrl.data.province">
            </nv-input-text>
            <nv-input-select flex="30"
                             name="commons.country"
                             label="commons.country"
                             model="ctrl.data.country"
                             model-options="{}"
                             options="ctrl.state.pickupCountryOptions"
                             required="true"
                             disabled="ctrl.mode === 'edit'"
              ></nv-input-select>
            <nv-input-text flex="30"
                           name="Pickup Postcode"
                           label="Pickup Postcode"
                           model="ctrl.data.postcode"
                           required="true"
                           form="modelForm">
            </nv-input-text>
          </div>
          <!-- TH Local END -->
          <!-- PH Local START -->
          <div layout="row" layout-wrap class="horizontal-padding" ng-if="ctrl.data.country === ctrl.state.pickupCountry.PH.value">
            <nv-input-text flex="30"
                           name="Pickup Barangay"
                           label="Pickup Barangay"
                           model="ctrl.data.barangay">
            </nv-input-text>
            <nv-input-text flex="30"
                           name="Pickup City"
                           label="Pickup City"
                           model="ctrl.data.city">
            </nv-input-text>
            <nv-input-text flex="30"
                           name="Pickup Province"
                           label="Pickup Province"
                           model="ctrl.data.province">
            </nv-input-text>
            <nv-input-select flex="30"
                             name="commons.country"
                             label="commons.country"
                             model="ctrl.data.country"
                             model-options="{}"
                             options="ctrl.state.pickupCountryOptions"
                             required="true"
                             disabled="ctrl.mode === 'edit'"
              ></nv-input-select>
            <nv-input-text flex="30"
                           name="Pickup Postcode"
                           label="Pickup Postcode"
                           model="ctrl.data.postcode"
                           required="true"
                           form="modelForm">
            </nv-input-text>
          </div>
          <!-- PH Local END -->
          <!-- MM Local START -->
          <div layout="row" layout-wrap class="horizontal-padding" ng-if="ctrl.data.country === ctrl.state.pickupCountry.MM.value">
            <nv-input-text flex="30"
                           name="Pickup Township"
                           label="Pickup Township"
                           model="ctrl.data.township">
            </nv-input-text>
            <nv-input-text flex="30"
                           name="Pickup District"
                           label="Pickup District"
                           model="ctrl.data.district">
            </nv-input-text>
            <nv-input-text flex="30"
                           name="Pickup State"
                           label="Pickup State"
                           model="ctrl.data.state">
            </nv-input-text>
            <nv-input-select flex="30"
                             name="commons.country"
                             label="commons.country"
                             model="ctrl.data.country"
                             model-options="{}"
                             options="ctrl.state.pickupCountryOptions"
                             required="true"
                             disabled="ctrl.mode === 'edit'"
              ></nv-input-select>
            <nv-input-text flex="30"
                           name="Pickup Postcode"
                           label="Pickup Postcode"
                           model="ctrl.data.postcode"
                           required="true"
                           form="modelForm">
            </nv-input-text>
          </div>
          <!-- MM Local END -->

          <div layout="row" class="horizontal-padding">
            <nv-input-text flex="30"
                           name="Latitude"
                           label="commons.latitude"
                           model="ctrl.data.latitude"
                           required="true"
                           form="modelForm">
            </nv-input-text>
            <nv-input-text flex="30"
                           name="Longitude"
                           label="Longitude"
                           model="ctrl.data.longitude"
                           required="true"
                           form="modelForm">
            </nv-input-text>
          </div>
        </md-content>
        <md-content class="md-padding" ng-if="ctrl.state.isAddressFinder">
          <nv-address-finder
            on-search-mode-changed="angular.noop()"
            callback="ctrl.function.onAddressFinderCallback(address)">
          </nv-address-finder>
        </md-content>
      </md-tab>
      <md-tab label="{{ 'container.shippers.milkrun-reservations' | translate }}"
              md-active="ctrl.state.focusMilkrunReservationsTab">
        <md-content class="md-padding">
          <div ng-repeat="milkrunSetting in ctrl.data.milkrunSettings"
               class="milkrun-reservation">
            <div class="pull-right">
              <nv-icon-button
                md-theme="nvRed"
                class="ghost dense"
                name="commons.delete"
                icon="delete"
                disabled="ctrl.function.isRemoveMilkrunSettingDisabled()"
                on-click="ctrl.function.removeMilkrunSetting($index)">
              </nv-icon-button>
            </div>

            <div layout="row">
              <div flex="5">
                <span class="number">{{ $index + 1 }}.</span>
              </div>
              <div flex>
                <div layout="row" layout-wrap>
                  <div flex="100">
                    <nv-input-select
                      class="reservation-days"
                      label="container.shippers.more-reservation-days"
                      model="milkrunSetting.days"
                      model-options="{}"
                      options="ctrl.RESERVATIONS_DAY"
                      multiple="true"
                      required="true">
                    </nv-input-select>
                  </div>
                  <div>
                    <nv-input-select
                      class="timeslot"
                      label="container.shippers.timeslot-selected"
                      model="milkrunSetting.timewindowId"
                      model-options="{}"
                      options="ctrl.state.timeslotOptions"
                      required="true">
                    </nv-input-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div ng-if="!ctrl.data.milkrunSettings || ctrl.data.milkrunSettings.length <= 0"
               class="no-result">
              <span ng-bind-html="'container.shippers.no-milkrun-reservation-data' | translate"></span>

              <nv-icon-text-button
                name="container.shippers.add-new-reservation"
                icon="add"
                class="ghost"
                on-click="ctrl.function.addNewMilkrunSetting()">
              </nv-icon-text-button>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-dialog-content>
  <md-dialog-actions layout layout-align="space-between end">
    <div layout layout-align="start end">
      <nv-api-text-button
        ng-if="ctrl.mode === 'edit' && ctrl.state.selectedTab === ctrl.TAB.ADDRESS"
        md-theme="nvRed"
        name="container.shippers.more-delete-address"
        icon="clear"
        class="ghost delete-address"
        state="ctrl.state.apiDelete"
        on-click="ctrl.function.onDelete()">
      </nv-api-text-button>

      <nv-icon-text-button
        ng-if="!ctrl.state.isAddressFinder && ctrl.state.selectedTab === ctrl.TAB.ADDRESS"
        name="Address Finder"
        on-click="ctrl.state.isAddressFinder = true"
        class="ghost"
        md-theme="nvGreen">
      </nv-icon-text-button>
    </div>
    <div layout layout-align="end end">
      <nv-api-text-button
        md-theme="{{ctrl.theme}}"
        name="commons.save-changes"
        icon="check"
        class="raised"
        state="ctrl.state.apiSubmit"
        disabled="!ctrl.function.isAbleToSubmit()"
        on-click="ctrl.function.onSubmit()"
        form="modelForm">
      </nv-api-text-button>
    </div>
  </md-dialog-actions>
</form>