@import "../../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/input.mixins";
@import "../../../../views/container/zonal-routing/zonal-routing.mixins";
@import "../../../../views/container/order/order.mixins";

.nv-container-zr-routing {
  @include data-blocks;

  @include action-toolbar {
    .routing-info-holder {
      .data-blocks {
        text-align: left;
        display: inline-block;

        .data-block {
          > label, > p {
            color: $nv-tb05;
          }

          > p {
            font-weight: bold;

            &.light-red {
              @include nv-font-color(light-red);
            }
          }

          &.data-block-ellipsis {
            $ellipsis-max-width: 15rem;

            max-width: $ellipsis-max-width;

            label {
              + p, + h4, + h5 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }

          @include nv-media-query-xs-max {
            margin-top: $nv-baseline-grid*2;
          }
        }
      }
    }
  }

  > div.content {
    padding: 0 !important;
    position: relative;
    overflow: hidden;

    @include nv-media-query-sm-max {
      overflow: auto;
    }

    nv-icon-text-button {
      display: inline-block !important;
    }

    > div {
      height: 100%;

      .left-pane {
        height: 100%;

        > div {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;

          #routing-map {
            flex: 1;

            .leaflet-draw-actions-top a, .leaflet-draw-actions-bottom a {
              color: $nv-text-white;
            }

            .leaflet-draw {
              .leaflet-draw-toolbar {
                &.leaflet-draw-toolbar-top {
                  border-bottom: 0;
                  border-bottom-left-radius: 0;
                  border-bottom-right-radius: 0;
                }

                &:not(.leaflet-draw-toolbar-top) {
                  border-top: 0;
                  border-top-left-radius: 0;
                  border-top-right-radius: 0;
                  margin-top: 0;
                }
              }
            }

            .leaflet-control-cluster-group {
              > a {
                text-align: center;
                @include nv-font-color(black);

                &.active {
                  @include nv-font-color(black, 3);
                }
              }

              i {
                font-size: 1.6rem;
                margin-top: 0.5rem;
              }
            }

            .mapbox-logo {
              display: none;
            }

            .leaflet-control-attribution {
              display: none;
            }
          }

          .bottom-pane {
            #waypoint-details-table-holder {
              background: $nv-dark3;
              @include nv-font-color(white, 2);
              padding: 0.8rem;
              height: 14rem;
              display: flex;
              flex-flow: column;

              .header-info {
                display: inline-block;
                margin-right: $nv-baseline-grid*2;
                vertical-align: middle;

                i {
                  font-size: 1.6rem;
                  vertical-align: middle;
                }

                span {
                  @include nv-font-color(white);
                }

                &.large {
                  font-size: 1.6rem;

                  i {
                    font-size: 1.6rem;
                  }
                }

                &:last-child {
                  margin-right: 0;
                }
              }

              nv-icon-text-button {
                margin-bottom: 0;
              }

              .table-responsive {
                $header-border-color: $nv-dark4;
                $content-border-color: $nv-light3;

                margin-bottom: 0;
                flex: 1;
                margin-top: $nv-baseline-grid;

                table {
                  margin-bottom: 0;
                  border-color: $header-border-color;

                  thead {
                    tr {
                      background-color: $nv-dark2;

                      th {
                        @include nv-font-weight(regular);
                        border-color: $header-border-color;
                        border-bottom-width: 0.1rem;

                        &.tracking-id {
                          max-width: 15rem;
                          -ms-word-wrap: break-word;
                          word-wrap: break-word;
                        }

                        &.shipper-name {
                          max-width: 15rem;
                          -ms-word-wrap: break-word;
                          word-wrap: break-word;
                        }

                        &.timeslot {
                          min-width: 15rem;
                        }
                      }
                    }
                  }

                  tbody {
                    tr {
                      background: $nv-light0;
                      @include nv-font-color(black);

                      td {
                        border-color: $content-border-color;

                        &.type {
                          text-transform: capitalize;
                        }
                      }
                    }
                  }

                  &.no-record {
                    border-bottom: 0;
                    border-left: 0;
                    border-right: 0;

                    tbody {
                      tr.no-record {
                        background-color: transparent;
                        @include nv-font-color(white, 2);

                        td {
                          border: 0;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .right-pane {
        flex-basis: 40rem;
        width: 40rem;
        background: $nv-dark2;
        position: relative;

        @include nv-media-query-sm-max {
          width: 100%;
        }

        @include nv-media-query-lg-min {
          flex-basis: 50rem;
          width: 50rem;
        }

        md-tabs {
          min-height: 100%;

          md-tabs-wrapper {
            md-tab-item {
              color: $nv-text-white;
              background-color: $nv-dark4;

              &:not(.md-active) {
                > span {
                  color: $nv-text-white-2;
                }
              }
            }

            md-ink-bar {
              color: $nv-text-white;
              background: $nv-text-white;
            }
          }

          md-tab-content {
            md-content {
              background-color: transparent;

              > div {
                &:not(:last-child):not(.route-control-holder):not(.driver-control-holder) {
                  padding-bottom: 0;

                  > div {
                    padding-bottom: 0;
                  }
                }
              }

              // common styling (use in several places inside .right-pane)
              .content-title {
                text-transform: uppercase;
                margin-top: $nv-baseline-grid;
                margin-bottom: 0.2rem;
                font-size: 1.2rem;

                i {
                  @include nv-font-color(black, 2);
                  font-size: 1.6rem;
                  vertical-align: middle;
                  line-height: normal;
                }

                &.dark {
                  font-size: 1.4rem;

                  @include nv-font-color(white, 2);
                  @include nv-font-weight(medium);

                  i {
                    @include nv-font-color(white, 2);
                  }
                }
              }

              .content-row {
                display: inline-block;
                vertical-align: middle;

                margin-right: $nv-baseline-grid;
                &:last-child {
                  margin-right: 0;
                }

                .text-with-icon {
                  display: table;
                  max-width: 17rem;

                  > * {
                    display: table-cell;
                    vertical-align: middle;
                    line-height: normal;
                  }

                  .material-icons {
                    font-size: 1.4rem;
                    vertical-align: middle;
                    padding-right: $nv-baseline-grid / 2;
                  }

                  &.small {
                    font-size: 1.2rem;

                    .material-icons {
                      font-size: 1.2rem;
                    }
                  }
                }

                i {
                  @include nv-font-color(black, 2);
                }

                &.dark {
                  @include nv-font-color(white);

                  i {
                    @include nv-font-color(white);
                  }
                }
              }

              .ghost-holder {
                > div {
                  @include nv-font-color(white);
                  border: 1px solid $nv-dark4;
                  -webkit-border-radius: 0.5rem;
                  -moz-border-radius: 0.5rem;
                  border-radius: 0.5rem;
                  padding: 0;

                  .ghost-header {
                    height: 4.4rem;

                    .content-title {
                      margin: 0;

                      .material-icons {
                        margin-left: -0.2rem;
                      }
                    }

                    nv-icon-text-button {
                      margin-bottom: 0;
                    }
                  }
                }
              }

              // holder styling
              .wp-filter-holder {
                padding: 1rem;
                nv-icon-text-button {
                  margin-bottom: 0;
                  margin-right: 0.4rem;

                  ng-transclude {
                    .material-icons {
                      line-height: normal;
                      vertical-align: middle;
                      margin-right: -$nv-baseline-grid/2;
                      margin-top: -$nv-baseline-grid/2;
                    }
                  }

                  &:last-child {
                    margin-right: 0;
                  }
                }

                .wp-filter-header {
                  .loading {
                    margin-right: $nv-baseline-grid/2;
                  }
                }

                .wp-filter-statistic-holder {
                  background-color: $nv-dark3;
                  @include nv-font-color(white, 2);

                  small {
                    @include nv-font-color(white, 2);
                  }

                  .filter-result {
                    .content-title {
                      margin-bottom: $nv-baseline-grid;
                      font-size: 1.2rem;
                      text-transform: none;
                      line-height: normal;
                      @include nv-font-color(light-green);

                      .material-icons {
                        font-size: 1.2rem;
                        height: 1.4rem;
                        @include nv-font-color(light-green);
                      }

                      &.hide-settings {
                        @include nv-font-color(light-red);

                        .material-icons {
                          @include nv-font-color(light-red);
                        }
                      }
                    }

                    .selected-filters-holder {
                      .data-blocks {
                        overflow-x: auto;
                        overflow-y: hidden;
                        white-space:nowrap;
                        padding-bottom: $nv-baseline-grid;

                        .data-block {
                          margin-right: $nv-baseline-grid*3;

                          &:last-child {
                            margin-right: 0;
                          }

                          label {
                            @include nv-font-color(white, 2);
                            font-size: 1rem;
                          }

                          > p {
                            color: $nv-tb05;
                            line-height: normal;
                            font-size: 1.2rem;

                            > * {
                              color: $nv-tb05;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }

              .polygon-tools-holder {
                > div {
                  .leaflet-draw {
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: $nv-baseline-grid / 2;

                    .leaflet-draw-toolbar {
                      background-color: $nv-light0;
                      border: 1px solid rgba(0, 0, 0, 0.4);
                      -webkit-border-radius: 3px;
                      -moz-border-radius: 3px;
                      border-radius: 3px;
                      margin: 0;

                      .leaflet-draw-draw-polygon {
                        width: 26px;
                        height: 26px;
                        cursor: default;
                      }
                    }
                  }

                  .polygon-tools-header {
                    .content-title {
                      > span {
                        vertical-align: middle;
                      }

                      .leaflet-draw {
                        margin-left: -0.7rem;

                        .leaflet-draw-toolbar {
                          background-color: transparent;
                          border: 0;

                          .leaflet-draw-draw-polygon {
                            -ms-filter: invert(100%);
                            filter: invert(100%);
                          }
                        }
                      }
                    }
                  }

                  .active-route-indication-holder {
                    height: 2.8rem;
                    font-size: 1.2rem;
                    @include nv-font-color(white, 2);

                    &.has-active-route {
                      padding-top: 0;
                      padding-bottom: 0;
                      background-color: $nv-dark4;

                      .text-with-icon {
                        max-width: 14rem;

                        .route-color-icon {
                          width: 1.6rem;
                          height: 1.6rem;
                          border: 1px solid $nv-light0;
                          display: inline-block;
                          -webkit-border-radius: 0.2rem;
                          -moz-border-radius: 0.2rem;
                          border-radius: 0.2rem;
                          margin-right: $nv-baseline-grid / 2;
                        }
                      }

                      nv-icon-text-button  {
                        margin: 0;
                      }
                    }
                  }

                  .helptext-holder {
                    font-size: 1.2rem;
                    @include nv-font-color(white);
                  }

                  .current-selection-holder {
                    background-color: $nv-dark3;

                    .data-blocks {
                      .data-block {
                        label {
                          @include nv-font-color(white, 2);
                        }
                      }
                    }
                  }

                  .apply-action-holder {
                    margin-bottom: $nv-baseline-grid / 2;

                    .nv-small {
                      @include nv-font-color(white, 2);
                    }

                    nv-icon-text-button {
                      margin-bottom: 0;

                      button {
                        line-height: normal;

                        &.dark.flat.alternate.md-button {
                          &:not([disabled]) {
                            @include nv-font-color(white, 2);
                          }
                        }

                        > div {
                          @include nv-font(small);
                          text-transform: none;
                        }
                      }
                    }

                    .waypoint-added {
                      transition: all linear 0.5s;
                      background: $nv-dark2;
                      width: auto;

                      &.ng-hide {
                        opacity: 0;
                      }
                    }
                  }

                  .menu {
                    display: inline-block;
                    margin-right: 0.4rem;

                    &:last-child {
                      margin-right: 0;
                    }

                    nv-icon-text-button {
                      float: left;
                      margin: 0;
                      vertical-align: middle;

                      button {
                        border-right-color: transparent;
                        padding-left: 0.3rem;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                      }
                    }

                    nv-icon-button {
                      float: left;
                      margin-left: -0.2rem;
                      position: relative;
                      z-index: 1;
                      border-left: 0.2rem solid $nv-text-black-2;

                      button {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                      }
                    }
                  }

                  .data-blocks {
                    .data-block {
                      > p {
                        color: $nv-tb05;
                        line-height: normal;

                        > * {
                          color: $nv-tb05;
                        }
                      }
                    }
                  }
                }
              }

              .route-control-holder {
                background: $nv-dark3;
                margin-top: $nv-baseline-grid;

                h5 {
                  color: $nv-text-white;
                  font-size: 1.8rem;
                  margin-left: 0.8rem;
                }

                > * {
                  padding: 0;
                }

                nv-icon-button {
                  margin-right: 0.4rem;

                  &:last-child {
                    margin-right: 0;
                  }
                }
              }

              .route-tables-holder {
                max-height: 30rem;
                padding-bottom: 7rem;
                overflow-x: hidden;
                overflow-y: auto;

                .route-table {
                  $route-table-padding: 0.8rem;
                  $tag-width: 2.4rem;

                  background-color: $nv-light0;

                  &:first-child {
                    margin-top: 0;
                  }

                  margin-top: 0.5rem;

                  .route-header {
                    position: relative;
                    outline: none;
                    padding-right: $nv-baseline-grid;

                    .header-content {
                      outline: none;

                      > div {
                        line-height: normal;
                        vertical-align: middle;
                        padding: $route-table-padding $route-table-padding 0;
                        margin-left: $tag-width;

                        &:last-child {
                          padding-top: 0.2rem;
                          padding-bottom: $route-table-padding;
                        }
                      }
                    }

                    .tag-color {
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: $tag-width;
                      height: 100%;
                      background-color: #a5a5a5;
                      outline: none;

                      &.inactive {
                        background-color: #a5a5a5 !important;
                      }

                      i {
                        font-size: 1.4rem;
                        height: 1.4rem;
                        padding-left: 0.5rem;
                        line-height: normal;
                        vertical-align: middle;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        color: $nv-text-white-1;
                      }
                    }

                    nv-icon-button {
                      button {
                        -webkit-box-shadow: none !important;
                        -moz-box-shadow: none !important;
                        box-shadow: none !important;
                      }
                    }
                  }

                  .route-content {
                    @mixin horizontal-input {
                      > * {
                        display: inline-block;
                        margin-right: 0.3rem;
                        vertical-align: middle;

                        &:last-child {
                          margin-right: 0;
                        }
                      }

                      > i {
                        font-size: 1.4rem;
                        vertical-align: middle;
                        @include nv-font-color(black, 2);
                      }

                      > span {
                        width: 4.5rem;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                      }
                    }

                    border-top: 1px solid $nv-border-color;

                    .tools-holder {
                      margin: $nv-baseline-grid 0;
                      padding: 0 $route-table-padding;

                      .tools-label {
                        position: relative;

                        @include horizontal-input;

                        .waypoint-added {
                          transition: all linear 0.5s;
                          position: absolute;
                          left: 0;
                          background: $nv-light0;
                          width: auto;

                          &.ng-hide {
                            opacity: 0;
                          }
                        }
                      }

                      nv-icon-text-button {
                        margin-right: 0.4rem;
                        margin-bottom: 0;

                        &:last-child {
                          margin-right: 0;
                        }

                        .add-related {
                          &.disabled {
                            opacity: 0.5;
                          }
                        }
                      }
                    }

                    .select-waypoints-control-holder {
                      background-color: $nv-highlight-blue;
                      padding: $route-table-padding;

                      .content-title {
                        margin: 0;
                      }

                      nv-icon-text-button {
                        margin-bottom: 0;
                      }

                      p {
                        margin: $nv-baseline-grid/2 0;
                      }

                      .nv-label-small {
                        font-size: 1.2rem;
                        margin-right: $nv-baseline-grid;
                      }

                      .nv-btn-grp {
                        min-width: initial !important;

                        button {
                          padding-left: $nv-baseline-grid;
                          padding-right: $nv-baseline-grid;
                        }
                      }
                    }

                    .autocomplete-holder {
                      margin-top: $nv-baseline-grid / 2;
                      margin-bottom: $nv-baseline-grid / 2;
                      padding: 0 $route-table-padding;

                      @include horizontal-input;

                      nv-autocomplete {
                        margin-bottom: $nv-baseline-grid;
                      }
                    }

                    .waypoints-statistic-holder {
                      margin-top: $nv-baseline-grid / 2;
                      padding: 0 $route-table-padding;

                      .data-blocks {
                        margin-left: 0.4rem;

                        .data-block {
                          margin-right: $nv-baseline-grid;
                        }
                      }
                    }

                    .parcels-table-holder {
                      margin-top: $nv-baseline-grid / 2;
                      padding: 0 $route-table-padding $route-table-padding;

                      .parcels-table {
                        $highlight-width: 0.2rem;

                        margin-bottom: 0;

                        tr {
                          th, td {
                            text-align: center;
                          }

                          th {
                            &.highlight {
                              border-top: $highlight-width solid $nv-light4;

                              &.start {
                                border-left: $highlight-width solid $nv-light4;
                              }

                              &.end {
                                border-right: $highlight-width solid $nv-light4;
                              }
                            }
                          }

                          td {
                            &.highlight {
                              border-bottom: $highlight-width solid $nv-light4;

                              &.start {
                                border-left: $highlight-width solid $nv-light4;
                              }

                              &.end {
                                border-right: $highlight-width solid $nv-light4;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }

              .driver-control-holder {
                background: $nv-dark3;

                h5 {
                  color: $nv-text-white;
                  font-size: 1.8rem;
                  margin-left: 0.8rem;
                }

                > * {
                  padding: 0;
                }

                nv-icon-text-button {
                  margin-right: 0.4rem;
                  margin-bottom: 0;

                  &:last-child {
                    margin-right: 0;
                  }
                }
              }

              .add-driver-autocomplete-holder {
                nv-autocomplete {
                  padding-top: $nv-baseline-grid / 2;
                  padding-bottom: $nv-baseline-grid / 2;

                  md-icon {
                    .material-icons {
                      @include nv-font-color(white, 2);
                    }
                  }

                  input {
                    border: 0;
                    padding-bottom: 0;

                    @include placeholder-color(rgba($nv-text-white, 0.3));
                    @include nv-font-color(white, 2);
                  }
                }
              }

              @mixin driver-list-column {
                display: table-cell;
                padding: $nv-baseline-grid;
                vertical-align: middle;

                &.driver-name {
                  min-width: 16.2rem;
                  max-width: 16.2rem;
                }

                &.hub {
                  min-width: 7.6rem;
                  max-width: 7.6rem;
                }

                &.route {
                  min-width: 5rem;
                  max-width: 5rem;
                }

                &.capacity {
                  min-width: 7rem;
                  max-width: 7rem;
                  text-align: center;
                }

                &.action {
                  min-width: 4.2rem;
                  max-width: 4.2rem;
                  text-align: center;
                }
              }

              .driver-list-header {
                display: table;
                width: 100%;
                background: $nv-dark4;

                .row {
                  display: table-row;
                  @include nv-font-color(white, 2);
                  @include nv-font-weight(medium);

                  > div {
                    @include driver-list-column;
                  }
                }
              }

              .driver-list-content {
                overflow-x: hidden;
                overflow-y: auto;

                md-virtual-repeat-container {
                  height: 100%;

                  .row {
                    background-color: $nv-light0;
                    height: 4.3rem;

                    &:nth-of-type(odd) {
                      background-color: #f9f9f9;
                    }

                    > div {
                      @include driver-list-column;

                      &.action {
                        nv-icon-button {
                          opacity: 0.6;
                        }
                      }
                    }
                  }
                }

                .no-record {
                  background-color: transparent;
                  padding-top: $nv-baseline-grid * 3;
                  text-align: center;

                  @include nv-font-color(white, 2);
                }
              }
            }
          }
        }
      }
    }
  }
}