<div class="nv-container-zr-routing">
  <div class="action-toolbar" ng-if="!ctrl.contentLoading.hideActionBar">
    <div layout="row">
      <div flex class="nv-text-center">
        <nv-icon-text-button
          class="flat dark alternate pull-left"
          name="commons.discard-changes"
          icon="arrow_back"
          on-click="ctrl.discardChanges($event)">
        </nv-icon-text-button>

        <nv-icon-text-button
          md-theme="nvGreen"
          class="raised dark pull-right"
          icon="done_all"
          name="container.zonal-routing.create-routes"
          on-click="ctrl.submitRoutes($event)"
          disabled="nvZonalRouting.routesSubmitted || nvZonalRouting.assignedRoutes.length <= 0">
        </nv-icon-text-button>

        <div class="routing-info-holder">
          <div class="data-blocks">
            <div class="data-block">
              <label>{{'commons.date' | translate}}</label>
              <p>{{ nvZonalRouting.routeDate | nvTime:'operator':'date' }}</p>
            </div>
            <div class="data-block data-block-ellipsis"
                 ng-if="nvZonalRouting.isFetchByRouteGroup()">
              <label>{{'container.zonal-routing.route-group' | translate}}</label>
              <p>{{ nvZonalRouting.getRouteGroupNames() }}</p>
            </div>
            <div class="data-block data-block-ellipsis">
              <label>{{'container.zonal-routing.zone' | translate}}</label>
              <p>{{ nvZonalRouting.chosenZone.name }}</p>
            </div>
            <div class="data-block">
              <label>{{'container.zonal-routing.unrouted-waypoints-np' | translate}}</label>
              <p ng-bind-html="'container.zonal-routing.num-of-total' | translate:{num: ctrl.unroutedNonPriorityWPsCount, total: ctrl.map.nonPriorityWaypointMarkers.length}"
                 ng-class="{'light-red': ctrl.unroutedNonPriorityWPsCount > 0}">
              </p>
            </div>
            <div class="data-block">
              <label>{{'container.zonal-routing.unrouted-waypoints-p' | translate}}</label>
              <p ng-bind-html="'container.zonal-routing.num-of-total' | translate:{num: ctrl.unroutedPriorityWPsCount, total: ctrl.map.priorityWaypointMarkers.length}"
                 ng-class="{'light-red': ctrl.unroutedPriorityWPsCount > 0}">
              </p>
            </div>
            <div class="data-block">
              <label>{{'container.zonal-routing.assigned-drivers' | translate}}</label>
              <p ng-bind-html="'container.zonal-routing.num-of-total' | translate:{num: ctrl.getAssignedDriversCount(), total: nvZonalRouting.chosenZone.drivers.length}"
                 ng-class="{'light-red': ctrl.getAssignedDriversCount() <= 0}">
              </p>
            </div>
            <div class="data-block">
              <label>{{'commons.routes' | translate}}</label>
              <p ng-class="{'light-red': nvZonalRouting.assignedRoutes.length <= 0}">{{ nvZonalRouting.assignedRoutes.length }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div layout="row" layout-sm="column" layout-xs="column">
      <div class="left-pane"
           flex flex-xs="none" flex-sm="none">
        <div>
          <div id="routing-map" class="nv-map"></div>

          <div class="bottom-pane">
            <div id="waypoint-details-table-holder"
                 class="md-whiteframe-6dp">
              <div layout="row" layout-align="start center">
                <div flex="75">
                  <div class="header-info large">
                    {{ 'commons.waypoint' | translate }}
                    <span>{{ ctrl.waypointDetailsTableParams.waypointId || '-' }}</span>
                  </div>
                  <div class="header-info">
                    <i class="material-icons">picture_in_picture</i>
                    <span>{{ ctrl.waypointDetailsTableParams.sizeCounter || '-' }}</span>
                  </div>
                  <div class="header-info">
                    <i class="material-icons">place</i>
                    <span>{{ ctrl.waypointDetailsTableParams.address || '-' }}</span>
                  </div>
                </div>
                <div flex
                     class="nv-text-right">
                  <nv-icon-text-button
                    md-theme="nvYellow"
                    class="ghost dense dark"
                    name="{{ ctrl.hotkeyEvents.isWaypointDetailsTableLocked ? 'container.zonal-routing.key-l-unlock-info' : 'container.zonal-routing.key-l-lock-info' }}"
                    icon="{{ ctrl.hotkeyEvents.isWaypointDetailsTableLocked ? 'lock' : 'lock_open' }}"
                    disabled="!ctrl.hotkeyEvents.isWaypointDetailsTableLocked"
                    on-click="ctrl.toggleIsWaypointDetailsTableLocked()">
                  </nv-icon-text-button>
                </div>
              </div>


              <div class="table-responsive">
                <table
                  ng-if="ctrl.waypointDetailsTableParams.isTransactionWp"
                  class="table table-condensed table-bordered transaction-table"
                  ng-class="{'no-record': ctrl.waypointDetailsTableParams.list.length <= 0}">
                  <thead>
                  <tr>
                    <th class="tracking-id nv-text-ellipsis">{{ 'commons.tracking-id' | translate }}</th>
                    <th class="shipper-name nv-text-ellipsis">{{ 'commons.model.shipper-name' | translate }}</th>
                    <th class="type nv-text-ellipsis">{{ 'commons.type' | translate }}</th>
                    <th class="priority nv-text-ellipsis">{{ 'commons.priority' | translate }}</th>
                    <th class="priority-level nv-text-ellipsis">{{ 'container.zonal-routing.priority-level-short' | translate }}</th>
                    <th class="timeslot nv-text-ellipsis">{{ 'container.zonal-routing.transaction-time' | translate }}</th>
                    <th class="parcel-size nv-text-ellipsis">{{ 'commons.size' | translate }}</th>
                    <th class="cod nv-text-ellipsis">{{ 'container.zonal-routing.cod' | translate }}</th>
                    <th class="order-comments nv-text-ellipsis">{{ 'container.zonal-routing.order-comments' | translate }}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr
                    ng-if="ctrl.waypointDetailsTableParams.list.length > 0"
                    ng-repeat="txn in ctrl.waypointDetailsTableParams.list">
                    <td class="tracking-id">
                      <a href="javascript:;" ng-click="ctrl.navigateToEditOrderPage(txn.orderId)">{{ txn.trackingId }}</a>
                    </td>
                    <td class="shipper-name">{{ txn.shipperName }}</td>
                    <td class="type">{{ txn.type }}</td>
                    <td class="priority">{{ (txn.isPriority ? 'commons.yes' : 'commons.no') | translate }}</td>
                    <td class="priority-level">{{ txn.priorityLevel }}</td>
                    <td class="timeslot">{{ txn.startTime | nvTime:'operator':'datetime' }} - {{ txn.endTime | nvTime:'operator':'datetime' }}</td>
                    <td class="parcel-size">{{ (ctrl.getParcelSizeShortName(txn.parcelSize) || '-') | translate }}</td>
                    <td class="cod">{{ txn.cod }}</td>
                    <td class="order-comments">{{ txn.orderComments }}</td>
                  </tr>
                  <tr ng-if="ctrl.waypointDetailsTableParams.list.length <= 0"
                      class="no-record">
                    <td class="nv-text-center" colspan="10">
                      {{ 'container.zonal-routing.show-waypoint-details-hint' | translate }}
                    </td>
                  </tr>
                  </tbody>
                </table>

                <table
                  ng-if="!ctrl.waypointDetailsTableParams.isTransactionWp"
                  class="table table-condensed table-bordered table-striped reservation-table"
                  ng-class="{'no-record': ctrl.waypointDetailsTableParams.list.length <= 0}">
                  <thead>
                  <tr>
                    <th class="shipper-name nv-text-ellipsis">{{ 'commons.model.shipper-name' | translate }}</th>
                    <th class="timeslot nv-text-ellipsis">{{ 'commons.timeslot' | translate }}</th>
                    <th class="approx-vol nv-text-ellipsis">{{ 'container.zonal-routing.approx-vol' | translate }}</th>
                    <th class="comments nv-text-ellipsis">{{ 'commons.comments' | translate }}</th>
                    <th class="dp nv-text-ellipsis">{{ 'container.zonal-routing.dp' | translate }}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr
                    ng-if="ctrl.waypointDetailsTableParams.list.length > 0"
                    ng-repeat="reservation in ctrl.waypointDetailsTableParams.list">
                    <td>{{ reservation.shipperName }}</td>
                    <td>{{ txn.startTime | nvTime:'operator':'datetime' }} - {{ txn.endTime | nvTime:'operator':'datetime' }}</td>
                    <td>{{ reservation.approxVolume }}</td>
                    <td>{{ reservation.comments }}</td>
                    <td>{{ reservation.dp }}</td>
                  </tr>
                  <tr ng-if="ctrl.waypointDetailsTableParams.list.length <= 0"
                      class="no-record">
                    <td class="nv-text-center" colspan="8">
                      {{ 'container.zonal-routing.show-waypoint-details-hint' | translate }}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="right-pane md-whiteframe-6dp">
        <md-tabs md-dynamic-height
                 md-stretch-tabs="always">
          <md-tab label="{{ 'container.zonal-routing.map-and-routes' | translate }}">
            <md-content>
              <div layout-padding
                   class="wp-filter-holder ghost-holder">
                <div layout-padding>
                  <div layout="row" layout-align="start center"
                       class="wp-filter-header ghost-header">
                    <div flex class="content-title dark">
                      <i class="material-icons">place</i>
                      {{'container.zonal-routing.map-view' | translate}}
                    </div>

                    <nv-icon-text-button
                      class="ghost dense dark"
                      name="{{ ctrl.currentMapViewOption }}"
                      icon="remove_red_eye"
                      on-click="ctrl.openMapViewOptionsMenu($event)">
                      <i class="material-icons">arrow_drop_down</i>
                    </nv-icon-text-button>

                    <nv-icon-text-button
                      class="ghost dense dark"
                      name="commons.settings"
                      icon="filter_list"
                      on-click="ctrl.showSelectFiltersDialog($event)">
                    </nv-icon-text-button>
                  </div>

                  <div class="wp-filter-statistic-holder">
                    <div>
                      <small>
                        {{ 'container.zonal-routing.displaying-num-matches-out-of-total-waypoints' | translate:{num: ctrl.visibleMarkersCount, total: ctrl.map.allWaypointMarkers.length } }}
                      </small>
                    </div>
                    <div class="filter-result"
                         ng-if="ctrl.selectedFilters.length > 0">
                      <div flex class="content-title dark"
                           ng-class="{'hide-settings': !ctrl.isFilterModeShowWps()}">
                        <i class="material-icons"
                           ng-if="ctrl.isFilterModeShowWps()">remove_red_eye</i>
                  <span ng-if="ctrl.isFilterModeShowWps()">
                    {{'container.zonal-routing.showing-num-settings' | translate:{num: ctrl.selectedFilters.length} }}
                  </span>

                        <i class="material-icons"
                           ng-if="!ctrl.isFilterModeShowWps()">visibility_off</i>
                  <span ng-if="!ctrl.isFilterModeShowWps()">
                    {{'container.zonal-routing.hiding-num-settings' | translate:{num: ctrl.selectedFilters.length} }}
                  </span>
                      </div>
                      <div class="selected-filters-holder">
                        <div class="data-blocks">
                          <div class="data-block" ng-repeat="filter in ctrl.selectedFilters">
                            <label>{{ filter.title | translate }}</label>
                            <p>
                              {{ filter.content }}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div layout-padding
                   class="polygon-tools-holder ghost-holder">
                <div layout-padding>
                  <div layout="row" layout-align="start center"
                       class="polygon-tools-header ghost-header">
                    <div flex class="content-title dark">
                      <div class="leaflet-draw">
                        <div class="leaflet-draw-toolbar">
                          <a href="javascript:;"
                             class="leaflet-draw-draw-polygon"></a>
                        </div>
                      </div>
                      <span>{{'container.zonal-routing.polygon-tool' | translate}}</span>
                    </div>

                    <nv-icon-text-button
                      ng-if="ctrl.hasPolygon()"
                      class="flat dense alternate dark"
                      name="commons.clear-all"
                      icon="clear_all"
                      on-click="ctrl.deleteAllPolygons($event)">
                    </nv-icon-text-button>
                  </div>
                  <div class="active-route-indication-holder"
                       ng-class="{'has-active-route': ctrl.activeRouteId}">
                    <span ng-if="!ctrl.activeRouteId">
                      {{ 'container.zonal-routing.no-active-route' | translate }}
                    </span>

                    <div ng-if="ctrl.activeRouteId"
                         layout="row" layout-align="start center">
                      <div flex>
                        <div class="content-row dark">
                          <span>{{ 'container.zonal-routing.active-route-x' | translate }}</span>
                        </div>
                        <div class="content-row dark">
                    <span class="text-with-icon">
                      <i class="route-color-icon"
                         ng-style="ctrl.routeStyling.backgroundColor(ctrl.activeRoute)"></i>
                      <i>{{ nvZonalRouting.getRouteName(ctrl.activeRouteId) }}</i>
                    </span>
                        </div>
                        <div class="content-row dark">
                    <span class="text-with-icon">
                      <i class="material-icons">person</i>
                      <span ng-if="nvZonalRouting.getChosenZoneDriverName(ctrl.activeRoute.driverSelection.driver.value)"
                            class="nv-text-ellipsis">
                        {{ nvZonalRouting.getChosenZoneDriverName(ctrl.activeRoute.driverSelection.driver.value) }}
                      </span>
                      <strong ng-if="!nvZonalRouting.getChosenZoneDriverName(ctrl.activeRoute.driverSelection.driver.value)"
                              class="light-red">
                        {{ 'container.zonal-routing.unassigned' | translate }}
                      </strong>
                    </span>
                        </div>
                      </div>

                      <nv-icon-text-button
                        class="flat dense alternate dark"
                        name="commons.deselect"
                        on-click="ctrl.unsetActiveRoute()">
                      </nv-icon-text-button>
                    </div>
                  </div>
                  <div class="helptext-holder"
                       ng-if="!ctrl.hasPolygon()">
                    <span>{{ 'container.zonal-routing.polygon-tool-helptext' | translate }}</span>
                    <div class="leaflet-draw">
                      <div class="leaflet-draw-toolbar">
                        <a href="javascript:;"
                           class="leaflet-draw-draw-polygon"></a>
                      </div>
                    </div>
                  </div>

                  <div class="current-selection-holder"
                       ng-if="ctrl.hasPolygon()">
                    <div class="data-blocks">
                      <div class="data-block">
                        <label>{{ 'container.zonal-routing.current-selection' | translate }}</label>
                        <p>
                          <small ng-if="ctrl.selectedPolygon.onHover">
                            <strong>
                              {{ 'container.zonal-routing.num-unrouted' | translate:{num: ctrl.selectedPolygon.count.unroutedPriority + ctrl.selectedPolygon.count.unroutedNonPriority} }}
                              <span ng-if="ctrl.selectedPolygon.getUnroutedText().length > 0">-</span>
                              {{ ctrl.selectedPolygon.getUnroutedText() }}
                              |
                              {{ 'container.zonal-routing.num-routed' | translate:{num: ctrl.selectedPolygon.count.routedPriority + ctrl.selectedPolygon.count.routedNonPriority} }}
                              <span ng-if="ctrl.selectedPolygon.getRoutedText().length > 0">-</span>
                              {{ ctrl.selectedPolygon.getRoutedText() }}
                            </strong>
                          </small>
                          <small ng-if="!ctrl.selectedPolygon.onHover">
                            <strong class="lighter-white">
                              {{ 'container.zonal-routing.current-selection-hint' | translate }}
                            </strong>
                          </small>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div ng-if="ctrl.hasPolygon()">
                    <div layout="row" layout-align="start center"
                         class="apply-action-holder">
                      <div flex>
                  <span class="nv-small">
                    {{ 'container.zonal-routing.apply-action-to' | translate }}
                  </span>
                        <nv-icon-text-button
                          md-theme="nvYellow"
                          class="flat dense dark alternate"
                          name="{{ ctrl.currentApplyActionSelection }}"
                          icon="arrow_drop_down"
                          icon-position="right"
                          on-click="ctrl.openPolygonToolsApplyActionMenu($event)">
                        </nv-icon-text-button>
                      </div>
                      <div class="nv-text-right">
                        <small class="waypoint-added"
                               ng-class="{'light-green': ctrl.polygonToolsPerformActionResult.action == ctrl.POLYGON_TOOLS_ACTION.ADD.icon && ctrl.polygonToolsPerformActionResult.hasWPProcessed(),
                                    'light-red': ctrl.polygonToolsPerformActionResult.action == ctrl.POLYGON_TOOLS_ACTION.REMOVE.icon && ctrl.polygonToolsPerformActionResult.hasWPProcessed(),
                                    'light-blue': !ctrl.polygonToolsPerformActionResult.hasWPProcessed()}"
                               ng-show="ctrl.polygonToolsPerformActionResult.isSuccess"
                               ng-bind-html="ctrl.polygonToolsPerformActionResult.getSuccessText() | translate">
                        </small>
                      </div>
                    </div>
                    <div>
                      <div class="menu"
                           ng-repeat="(key, actionObject) in ctrl.POLYGON_TOOLS_ACTION">
                        <nv-icon-text-button
                          md-theme="{{ ctrl.POLYGON_TOOLS_ACTION.ADD.icon == actionObject.icon ? 'nvGreen' : 'nvRed' }}"
                          class="raised dense dark"
                          name="{{ actionObject.currentTypeSelection }}"
                          icon="{{ actionObject.icon }}"
                          disabled="!ctrl.isAbleToPerformPolygonAction()"
                          on-click="ctrl.polygonToolsPerformAction(key, actionObject.currentTypeSelection)">
                        </nv-icon-text-button>
                        <nv-icon-button
                          md-theme="{{ ctrl.POLYGON_TOOLS_ACTION.ADD.icon == actionObject.icon ? 'nvGreen' : 'nvRed' }}"
                          class="raised dense dark"
                          name="commons.actions"
                          icon="expand_more"
                          tooltip="false"
                          disabled="!ctrl.isAbleToPerformPolygonAction()"
                          on-click="ctrl.openPolygonToolsActionMenu($event, key)">
                        </nv-icon-button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="route-control-holder"
                   layout="row" layout-align="start center" layout-padding>
                <div flex>
                  <h5>
                    {{ 'container.zonal-routing.num-routes' | translate:'{num:'+nvZonalRouting.assignedRoutes.length+'}' }}
                  </h5>
                </div>

                <nv-icon-button
                  class="dense ghost dark"
                  name="container.zonal-routing.add-route"
                  icon="add"
                  on-click="ctrl.createNewRoute()">
                </nv-icon-button>

                <nv-icon-button
                  class="dense ghost dark"
                  name="commons.actions"
                  icon="expand_more"
                  tooltip-direction="left"
                  on-click="ctrl.openAllRoutesMenu($event)">
                </nv-icon-button>
              </div>

              <div layout-padding>
                <div class="route-tables-holder no-padding"
                     ng-style="ctrl.routeTableResizeWithOffset()">
                  <div ng-repeat="route in nvZonalRouting.assignedRoutes"
                       class="route-table">
                    <div class="route-header"
                         layout="row" layout-align="start center">
                      <div class="tag-color"
                           ng-style="ctrl.routeStyling.backgroundColor(route)"
                           ng-click="ctrl.setActiveRoute(route, true)">
                        <i class="material-icons"
                           ng-if="route.id == ctrl.activeRouteId">mode_edit</i>
                      </div>
                      <div class="header-content flex"
                           ng-click="ctrl.setActiveRoute(route, true)">
                        <div>
                          <div class="content-row">
                            <i>{{ nvZonalRouting.getRouteName(route.id) }}</i>
                          </div>
                          <div class="content-row">
                      <span class="text-with-icon">
                        <i class="material-icons">person</i>
                        <span ng-if="nvZonalRouting.getChosenZoneDriverName(route.driverSelection.driver.value)">
                          {{ nvZonalRouting.getChosenZoneDriverName(route.driverSelection.driver.value) }}
                        </span>
                        <strong ng-if="!nvZonalRouting.getChosenZoneDriverName(route.driverSelection.driver.value)"
                                class="dark-red">
                          {{ 'container.zonal-routing.unassigned' | translate }}
                        </strong>
                      </span>
                          </div>
                        </div>
                        <div>
                          <div class="content-row">
                      <span class="text-with-icon small">
                        <i class="material-icons">place</i>
                        <span ng-if="!route.driverSelection.driver">
                          {{ route.priority + route.nonPriority }}
                        </span>
                        <span ng-if="route.driverSelection.driver">
                          {{ 'commons.num-of-total' | translate:{num: route.priority + route.nonPriority, total: nvZonalRouting.getChosenZoneDriverMaxCapacity(route.driverSelection.driver.value)} }}
                        </span>
                      </span>
                          </div>
                          <div class="content-row">
                      <span class="text-with-icon small">
                        <i class="material-icons">picture_in_picture</i>
                        {{ route.sizeCounter }}
                      </span>
                          </div>
                          <div class="content-row">
                      <span class="text-with-icon small">
                        <i class="material-icons">home</i>
                        <span>
                          {{ nvZonalRouting.getHubName(route.hubSelection.hub.value) || ('container.zonal-routing.no-hub' | translate) }}
                        </span>
                      </span>
                          </div>
                        </div>
                      </div>

                      <nv-icon-button
                        md-theme="nvYellow"
                        class="dense"
                        name="{{ 'container.zonal-routing.select-waypoints' }}"
                        icon="touch_app"
                        on-click="ctrl.toggleActiveRouteSelectWaypointMode(route)">
                      </nv-icon-button>

                      <nv-icon-button
                        class="dense"
                        name="container.zonal-routing.view-all-wps"
                        icon="list"
                        disabled="route.addedMarkers.length <= 0"
                        on-click="ctrl.showRouteWaypointsDialog($event, route)">
                      </nv-icon-button>

                      <nv-icon-button
                        class="dense"
                        name="commons.more"
                        icon="more_vert"
                        on-click="ctrl.openRouteMenu($event, route)">
                      </nv-icon-button>

                      <nv-icon-button
                        class="dense"
                        name="{{ route.id == ctrl.expandRouteId ? 'container.zonal-routing.hide-details' : 'container.zonal-routing.view-details' }}"
                        icon="{{ route.id == ctrl.expandRouteId ? 'expand_less' : 'expand_more' }}"
                        tooltip-direction="left"
                        on-click="ctrl.toggleExpandRoute(route)">
                      </nv-icon-button>
                    </div>
                    <div class="route-content"
                         ng-if="route.id == ctrl.expandRouteId">
                      <div class="tools-holder"
                           layout="row" layout-align="start center"
                           ng-if="!ctrl.activeRouteSelectWaypointMode.isActive || route.id != ctrl.activeRouteId">
                        <div flex
                             class="tools-label">
                          <i class="material-icons">mode_edit</i>
                          <span>{{ 'commons.tools' | translate }}</span>

                          <strong class="waypoint-added dark-green"
                                  ng-show="ctrl.addRelatedSuccess">
                            {{ 'container.zonal-routing.one-waypoint-added' | translate }}
                          </strong>
                        </div>

                        <nv-icon-text-button
                          class="ghost dense"
                          name="container.zonal-routing.select-wp"
                          icon="touch_app"
                          on-click="ctrl.toggleActiveRouteSelectWaypointMode(route)">
                        </nv-icon-text-button>

                        <nv-icon-text-button
                          class="ghost dense add-related"
                          ng-clazz="{disabled: !ctrl.addRelated(route, true)}"
                          text="container.zonal-routing.add-related"
                          name="container.zonal-routing.no-related-waypoints-to-add"
                          icon="add"
                          show-tool-tip="!ctrl.addRelated(route, true)"
                          on-click="ctrl.addRelated(route)">
                        </nv-icon-text-button>
                      </div>

                      <div class="select-waypoints-control-holder"
                           ng-if="ctrl.activeRouteSelectWaypointMode.isActive && route.id == ctrl.activeRouteId">
                        <div layout="row" layout-align="start center">
                          <div flex class="content-title">
                            <i class="material-icons">touch_app</i>
                            {{ 'container.zonal-routing.select-waypoints' | translate }}
                          </div>

                          <nv-icon-text-button
                            class="flat dense alternate"
                            name="commons.close"
                            icon="close"
                            on-click="ctrl.toggleActiveRouteSelectWaypointMode(route)">
                          </nv-icon-text-button>
                        </div>
                        <p>
                          <small>{{ 'container.zonal-routing.select-waypoints-description' | translate }}</small>
                        </p>
                        <div layout="row" layout-align="start center">
                          <nv-label-small
                            label="container.zonal-routing.allow-routed-wp-to-be-added">
                          </nv-label-small>
                          <nv-btn-grp
                            model="ctrl.activeRouteSelectWaypointMode.ableToAddAnyWp"
                            label-for-model-idx-0="{{'commons.yes' | translate}}"
                            label-for-model-idx-1="{{'commons.no' | translate}}"
                            select-multiple="false"
                            select-none="false"
                            default-selection="ctrl.activeRouteSelectWaypointMode.ableToAddAnyWp">
                          </nv-btn-grp>
                        </div>
                      </div>

                      <md-divider></md-divider>

                      <div class="autocomplete-holder"
                           layout="row" layout-align="start center">
                        <i class="material-icons">home</i>
                        <span>{{ 'commons.hub' | translate }}</span>

                        <nv-autocomplete
                          flex
                          placeholder="{{ 'commons.search-or-select' | translate }}"
                          delegate-handle="zonal-routing-select-hub"
                          multiple="false"
                          search-text="route.hubSelection.searchText"
                          selected-item="route.hubSelection.hub"
                          possible-options="ctrl.hubsSelectionOptions">
                        </nv-autocomplete>
                      </div>

                      <div class="autocomplete-holder"
                           layout="row" layout-align="start center">
                        <i class="material-icons">person</i>
                        <span>{{ 'commons.driver' | translate }}</span>

                        <nv-autocomplete
                          flex
                          placeholder="{{ 'commons.search-or-select' | translate }}"
                          delegate-handle="zonal-routing-select-driver"
                          multiple="false"
                          search-text="route.driverSelection.searchText"
                          selected-item="route.driverSelection.driver"
                          possible-options="ctrl.driversSelectionOptions">
                        </nv-autocomplete>
                      </div>

                      <md-divider></md-divider>

                      <div layout="row"
                           class="waypoints-statistic-holder">
                        <div flex="50">
                          <div class="content-title">
                            <i class="material-icons">place</i>
                            {{ 'commons.waypoints' | translate }}
                          </div>
                          <div class="data-blocks">
                            <div class="data-block">
                              <label>{{ 'container.zonal-routing.priorities' | translate }}</label>
                              <p ng-class="{'lighter-black': route.priority <= 0}">
                                {{ route.priority }}
                              </p>
                            </div>
                            <div class="data-block">
                              <label>{{ 'container.zonal-routing.non-priorities' | translate }}</label>
                              <p ng-class="{'lighter-black': route.nonPriority <= 0}">
                                {{ route.nonPriority }}
                              </p>
                            </div>
                            <div class="data-block">
                              <label>{{ 'container.zonal-routing.total' | translate }}</label>
                              <p ng-class="{'lighter-black': route.priority + route.nonPriorityy <= 0}">
                                {{ route.priority + route.nonPriority }}
                              </p>
                            </div>
                          </div>
                        </div>
                        <div flex>
                          <div class="content-title">
                            <i class="material-icons">attach_money</i>
                            {{ 'container.zonal-routing.cash-to-collect' | translate }}
                          </div>
                          <div class="data-blocks">
                            <div class="data-block">
                              <label>{{ 'commons.wps' | translate }}</label>
                              <p ng-class="{'lighter-black': route.totalCODWps <= 0}">
                                {{ route.totalCODWps }}
                              </p>
                            </div>
                            <div class="data-block">
                              <label>{{ 'commons.amount' | translate }}</label>
                              <p ng-class="{'lighter-black': route.totalCOD <= 0}">
                                {{ ctrl.getCurrencyWithPrice(route.totalCOD) }}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="parcels-table-holder">
                        <div class="content-title">
                          <i class="material-icons">picture_in_picture</i>
                          {{ 'container.zonal-routing.parcels' | translate }}
                        </div>
                        <table
                          class="table table-condensed table-bordered table-striped parcels-table">
                          <thead>
                          <tr>
                            <th ng-repeat="parcelSize in ctrl.Order.PARCEL_SIZE">
                              {{ parcelSize.displayNameShort | translate }}
                            </th>
                            <th class="highlight start">
                              {{ 'container.zonal-routing.total-capacity' | translate }}
                            </th>
                            <th class="highlight end">
                              {{ 'container.zonal-routing.driver-capacity' | translate }}
                            </th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td ng-repeat="parcelSize in ctrl.Order.PARCEL_SIZE"
                                ng-class="{'lighter-black': route.sizeCount[parcelSize.enumValue] <= 0}">
                              {{ route.sizeCount[parcelSize.enumValue] }}
                            </td>
                            <td class="highlight start"
                                ng-class="{'lighter-black': route.sizeCounter <= 0}">
                              {{ route.sizeCounter }}
                            </td>
                            <td class="highlight end"
                                ng-class="{'lighter-black': !nvZonalRouting.getChosenZoneDriverMaxCapacity(route.driverSelection.driver.value)}">
                              {{ nvZonalRouting.getChosenZoneDriverMaxCapacity(route.driverSelection.driver.value) || '-' }}
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </md-tab>
          <md-tab label="{{ 'container.zonal-routing.drivers' | translate }}"
                  md-on-select="ctrl.driversTabSelected()">
            <md-content>
              <div class="driver-control-holder"
                   layout="row" layout-align="start center" layout-padding>
                <div flex>
                  <h5>
                    {{ 'container.zonal-routing.num-drivers' | translate:'{num:'+(nvZonalRouting && nvZonalRouting.chosenZone && nvZonalRouting.chosenZone.drivers ? nvZonalRouting.chosenZone.drivers.length : 0)+'}' }}
                  </h5>
                </div>

                <nv-icon-text-button
                  class="dense ghost dark"
                  name="container.zonal-routing.suggest-drivers"
                  on-click="ctrl.suggestDrivers($event)">
                </nv-icon-text-button>
              </div>

              <div class="add-driver-autocomplete-holder">
                <nv-autocomplete
                  icon="add"
                  placeholder="{{ 'container.zonal-routing.add-driver-by-name' | translate }}"
                  delegate-handle="routing-add-driver"
                  multiple="false"
                  hide-dropdown-icon="true"
                  search-text="ctrl.addDriver.searchText"
                  selected-item="ctrl.addDriver.driver"
                  possible-options="ctrl.addDriver.selectionOptions"
                  on-change="ctrl.addDriver.onChange($selectedOptions)">
                </nv-autocomplete>
              </div>

              <div class="driver-list-header">
                <div class="row">
                  <div class="driver-name">{{ 'commons.driver-name' | translate }}</div>
                  <div class="hub">{{ 'commons.hub' | translate }}</div>
                  <div class="route">{{ 'commons.route' | translate }}</div>
                  <div class="capacity">{{ 'container.zonal-routing.capacity' | translate }}</div>
                  <div class="action"></div>
                </div>
              </div>

              <div class="driver-list-content"
                   ng-style="ctrl.driverTableResizeWithOffset()">
                <md-virtual-repeat-container ng-if="nvZonalRouting.chosenZone.drivers.length > 0 && ctrl.isDriversTabSelected">
                  <div md-virtual-repeat="driver in nvZonalRouting.chosenZone.drivers"
                       class="row">
                    <div class="driver-name"
                         title="{{ driver.name }}">
                      <div class="nv-text-ellipsis">
                        {{ driver.name }}
                      </div>
                    </div>
                    <div class="hub"
                         ng-class="{'dark-red': !ctrl.getAssignedHubNameByDriver(driver)}"
                         title="{{ ctrl.getAssignedHubNameByDriver(driver) || '(' + ('commons.none' | translate) + ')' }}">
                      <div class="nv-text-ellipsis">
                        {{ ctrl.getAssignedHubNameByDriver(driver) || '(' + ('commons.none' | translate) + ')' }}
                      </div>
                    </div>
                    <div class="route">
                      {{ ctrl.getAssignedRouteNameByDriver(driver) || '-' }}
                    </div>
                    <div class="capacity">
                      {{ driver.max }}
                    </div>
                    <div class="action">
                      <nv-icon-button
                        class="flat dense"
                        name="container.zonal-routing.remove-driver"
                        icon="close"
                        tooltip-direction="left"
                        on-click="ctrl.removeChosenZoneDriver(driver)">
                      </nv-icon-button>
                    </div>
                  </div>
                </md-virtual-repeat-container>

                <div class="no-record"
                     ng-if="nvZonalRouting.chosenZone.drivers.length <= 0">
                  {{ 'container.zonal-routing.no-available-drivers' | translate }}
                </div>
              </div>
            </md-content>
          </md-tab>
        </md-tabs>
      </div>
    </div>
  </div>
</div>