<md-input-container flex class="nv-p" ng-class="{'md-has-icon': currency, 'confirmed': confirm(), 'disabled': disabled }">

  <label for="{{::id}}" class="nv-small">{{label | translate}}</label>

  <div class="currency" ng-if="::currency">{{::currency}}</div>

  <i class="material-icons input-invalid" ng-if="form[id].$invalid && !disabled">error_outline</i>
  <i class="material-icons input-confirmed" ng-if="confirm() && !disabled">check_circle</i>

  <div ng-if="readonly" class="readonly">
    {{model}}
  </div>

  <input type="number"
         step="{{::step() || 1}}"
         name="{{::id}}"
         id="{{::id}}"
         aria-label="{{::label}}"
         ng-model="model"
         ng-show="!readonly"
         ng-disabled="disabled"
         ng-required="::required"
         ng-change="onChange({text:model, id:id})"
         ng-keypress="onKeypress({event: $event, text:model})"
         min="{{min || -1999999999}}"
         max="{{max || 1999999999}}">

  <div ng-if="::!!form" ng-messages="form[id].$error" role="alert">
    <div ng-message="{{e.key}}" ng-repeat="e in errorMsgs">{{ e.msg | translate }}</div>
    <div ng-message="required">This field is required.</div>
    <div ng-message="max">This field maximum value is {{max}}.</div>
    <div ng-message="min">This field minimum value is {{min}}.</div>
  </div>

  <div class="help-text" ng-if="helpText">{{helpText}}</div>

  <div ng-if="!form[id].$invalid && confirm()" class="confirmation-text" role="alert">
    <div>{{::confirmText}}</div>
  </div>

</md-input-container>
