@import "../../../lib/ninja-commons/styles/variables";
@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../lib/ninja-commons/styles/mixins/media-query.mixins";
@import "../../../lib/ninja-commons/styles/mixins/table.mixins";

.nv-container-route-cleaning-report {
  height: 100%;

  .page-container {
    height: 100%;
    
    .page-data {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;

      .loading-sheet {
        left: 0;
        top: 0;
        position: absolute;
        background-color: rgba(#CFCFCF, 0.67);
        z-index: 11;
        height: 100%;
        width: 100%;
      }

      .content-sheet {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        .navigation {
          md-menu-bar {
            padding: 0 0;
          }
        }
        
        .table-container {
          position: relative;
          flex: 1;
          
          >nv-table.cod-table {
            // column width
            @include nv-table-column-width(cod-inbounded, 20rem);
            @include nv-table-column-width(cod-expected, 20rem);
            @include nv-table-column-width(route-id, 14rem);
            @include nv-table-column-width(driver-name, 100%);

            @include nv-table-row-height(8rem);
          }

          >nv-table.parcel-table {
            // column width
            @include nv-table-column-width(tracking-id, 20rem);
            @include nv-table-column-width(granular-status, 20rem);
            @include nv-table-column-width(last-scan-hub-id, 16rem);
            @include nv-table-column-width(exception, 28rem);
            @include nv-table-column-width(route-id, 14rem);
            @include nv-table-column-width(last-seen, 20rem);
            @include nv-table-column-width(driver-name, 20rem);
            @include nv-table-column-width(shipper-name, 28rem);
            @include nv-table-column-width(last-scan-type, 32rem);

            @include nv-table-row-height(6rem);

            // action columns
            @include nv-table-action-columns(nv-table-action-width("four-dense-p"));
          }

          >nv-table.resevation-table {
            // column width
            @include nv-table-column-width(exception, 20rem);
            @include nv-table-column-width(shipper-name, 28rem);
            @include nv-table-column-width(driver-name, 100%);

            @include nv-table-row-height(8rem);
          }

          .create-ticket-button {
            margin-left: 4rem;
          }

          .show-ticket-button {
            margin-left: 1rem;
          }
        }

        .horizontal-divider {
          width: 1rem;
        }
      }
    }
  }
}
