<md-content
  class="nv-container-route-cleaning-report">

  <div class="page-container">
    <div class="page-data">
      <!-- loading sheet -->
      <div class="loading-sheet" ng-if="ctrl.state.loading" layout="column" layout-align="center center">
        <md-progress-circular md-mode="indeterminate" md-diameter="150"></md-progress-circular>
        <h5>{{ 'container.route-cleaning-report.loading' | translate }}</h5>
      </div>
      <p ng-if="ctrl.function.isNinjavan()"
         class="dark-red nv-text-center"
         style="margin-top: 60px;">
        <b>Page temporary disabled</b>
      </p>
      <div class="content-sheet"
           ng-if="!ctrl.function.isNinjavan()">
        <div class="navigation" layout="row" layout-padding layout-align="space-between none">
          <div layout flex="50">
            <div layout layout-align="start center">
              <div>{{ 'commons.date' | translate }}</div>
              <md-datepicker
                ng-model="ctrl.data.date"
                md-placeholder="{{ 'commons.date' | translate }}">
              </md-datepicker>
            </div>
            <div class="horizontal-divider"></div>
            <nv-api-text-button
              md-theme="nvBlue"
              class="raised"
              name="container.route-cleaning-report.fetch"
              state="ctrl.state.fetch"
              on-click="::ctrl.function.fetch()">
            </nv-api-text-button>
          </div>

          <div layout layout-align="end center" flex>
            <div ng-if="ctrl.function.getSelected().length > 0">Selected ({{ ctrl.function.getCurrentCategory() }}): {{ ctrl.function.getSelected().length }}</div>
            <div class="horizontal-divider"></div>
            <nv-icon-text-button
              md-theme="nvBlue"
              class="raised"
              icon="file_download"
              name="container.route-cleaning-report.download-report"
              disabled="ctrl.function.isDownloadDisabled()"
              on-click="::ctrl.function.download()">
            </nv-icon-text-button>
          </div>
        </div>
        <div class="navigation" layout="row" layout-padding layout-align="space-between none">
          <nv-btn-grp
            class="h6"
            model="ctrl.state.report"
            label-for-model-idx-0="COD"
            label-for-model-idx-1="Parcel"
            label-for-model-idx-2="Reservation"
            select-multiple="false"
            select-none="false"
            default-selection="'100'">
          </nv-btn-grp>
        </div>

        <!-- failed to use ng-include because table selection will broken -->
        <div class="table-container" ng-if="ctrl.state.initiated === false" layout layout-padding>
          <h5>{{ 'container.route-cleaning-report.table-uninitiated' | translate }}</h5>
        </div>
        <!-- COD -->
        <div class="table-container" ng-if="ctrl.state.reportDelayed === ctrl.state.tab.COD && ctrl.state.initiated === true">
          <nv-table class="cod-table"
            param="ctrl.data.codTableParam"
            controller-as="ctrl"
            use-virtual-repeat="false"
            selectable="true">
            <nv-table-row use="data" row-height="60">
              <nv-index></nv-index>
              <nv-td column="codInbounded">
                {{data.codInbounded || '-'}}
              </nv-td>
              <nv-td column="codExpected">
                {{data.codExpected || '-'}}
              </nv-td>
              <nv-td column="routeId">
                {{data.routeId || '-'}}
              </nv-td>
              <nv-td column="driverName">
                {{data.driverName || '-'}}
              </nv-td>
            </nv-table-row>
          </nv-table>
        </div>

        <!-- PARCEL -->
        <div class="table-container" ng-if="ctrl.state.reportDelayed === ctrl.state.tab.PARCEL && ctrl.state.initiated === true">
          <nv-table class="parcel-table"
            param="ctrl.data.parcelTableParam"
            controller-as="ctrl"
            use-virtual-repeat="false"
            selectable="true">
            <nv-table-row use="data" row-height="60">
              <nv-index></nv-index>
              <nv-td column="trackingId">
                <a class="link" ui-sref="container.order.edit({orderId: data.orderId})" target="_blank">{{data.trackingId}}</a>
              </nv-td>
              <nv-td column="granularStatus">
                {{data.granularStatus || '-'}}
              </nv-td>
              <nv-td column="lastScanHubId">
                {{data.lastScanHubId || '-'}}
              </nv-td>
              <nv-td column="exception">
                {{data.exception || '-'}}
              </nv-td>
              <nv-td column="routeId">
                {{data.routeId || '-'}}
              </nv-td>
              <nv-td column="lastSeen">
                {{data.lastSeen|| '-'}}
              </nv-td>
              <nv-td column="shipperName">
                {{data.shipperName || '-'}}
              </nv-td>
              <nv-td column="driverName">
                {{data.driverName || '-'}}
              </nv-td>
              <nv-td column="lastScanType">
                {{data.lastScanType || '-'}}
              </nv-td>

              <nv-action column="actions">
                <md-menu ng-if="ctrl.data.tickets[data.trackingId].id" md-position-mode="target-right target">
                  <md-button
                    class="nv-button flat show-ticket-button"
                    aria-label="Ticket Info"
                    ng-click="$mdOpenMenu($event)"
                    md-theme="nvBlue">
                    Show Detail
                  </md-button>

                  <md-menu-content width="5" class="contact-info">
                    <md-menu-item class="contact-info-title">
                      <h4>{{'container.route-cleaning-report.ticket-detail' | translate}}</h4>
                    </md-menu-item>
                    <md-menu-item class="contact-info-details">
                      <div>
                        <div class="label">{{'commons.id' | translate}}</div>
                        <div>{{ctrl.data.tickets[data.trackingId].id}}</div>
                      </div>
                      <div>
                        <div class="label">{{'commons.model.status' | translate}}</div>
                        <div>{{ctrl.data.tickets[data.trackingId].status}}</div>
                      </div>
                    </md-menu-item>
                    <md-menu-item class="contact-info-details">
                      <div>
                        <div class="label">{{'commons.model.type' | translate}}</div>
                        <div>{{ctrl.data.tickets[data.trackingId].type}}</div>
                      </div>
                      <div>
                        <div class="label">{{'commons.model.assignee' | translate}}</div>
                        <div>{{ctrl.data.tickets[data.trackingId].assignee}}</div>
                      </div>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu> 

                <nv-api-icon-button
                  ng-if="!ctrl.data.tickets[data.trackingId].id"
                  md-theme="nvBlue"
                  class="ghost dense create-ticket-button"
                  name="container.route-cleaning-report.create-ticket"
                  icon="add"
                  state="data.state"
                  on-click="ctrl.function.createTicket(data)">
                </nv-api-icon-button>
              </nv-action>
            </nv-table-row>
          </nv-table>
        </div>

        <!-- RESERVATIONS -->
        <div class="table-container" ng-if="ctrl.state.reportDelayed === ctrl.state.tab.RESERVATION && ctrl.state.initiated === true">
          <nv-table class="resevation-table"
            param="ctrl.data.reservationTableParam"
            controller-as="ctrl"
            use-virtual-repeat="false"
            selectable="true">
            <nv-table-row use="data" row-height="60">
              <nv-index></nv-index>
              <nv-td column="exception">
                {{data.exception || '-'}}
              </nv-td>
              <nv-td column="shipperName">
                {{data.shipperName || '-'}}
              </nv-td>
              <nv-td column="driverName">
                {{data.driverName || '-'}}
              </nv-td>
            </nv-table-row>
          </nv-table>
        </div>
      </div>
    </div>
  </div>
</md-content>
