@import "../../../../lib/ninja-commons/styles/variables";
@import "../../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/layout.mixins";

$dialog-padding: 24px;
$max-table-height: 20rem;

md-dialog.route-group-add,
md-dialog.route-group-edit {
  min-width: 30rem;
  min-height: 18rem;
  border-radius: 0;

  .md-toolbar-tools {

  }
}

md-dialog.route-group-add {
  max-width: 50rem;

  .instructions-holder {
    h5 {
      margin-top: 2rem;
      margin-bottom: 2rem;
      color: $nv-text-black-2;
    }

    nv-icon-text-button {
      display: inline-block;

      .md-button.nv-button, .md-button.nv-button span {
        font-size: 1.0rem;
        text-transform: none;
        min-height: 2.5rem;
        line-height: 2.5rem;
        pointer-events: none;
      }
    }
  }

  md-dialog-actions {
    nv-button-save {
      width: 100%;

      button {
        width: 100%;
      }
    }
  }
}

md-dialog.route-group-edit {
  width: 90%;
  height: 100%;

  form {
    height: 100%;
  }

  md-dialog-content {
    height: 100%;

    .md-dialog-content {
      height: 100%;
      padding-bottom: 1.2rem;


      @include nv-media-query-md-min {
        .multi-input-row > .md-block:nth-child(n+2) {
          margin-left: 2.8rem;
        }

        .name {
          max-width: 21rem;
        }

        .hub {
          max-width: 14rem;
        }

        md-input-container.md-block {
          margin: 1.8rem 0;
        }
      }

      .created-at {
        pointer-events: none;
      }

      @include nv-media-query-sm-max {
        .job-count-container p:first-child {
          margin: 0.5rem 0 0 0;
        }
        .job-count-container p:last-child {
          margin: 0 0 0.5rem 0;
        }
      }

      nv-icon-text-button, nv-download-csv-button {
        padding-top: 1rem;
        margin-left: 0.7rem;
      }
    }

    div.table-container {
      position: relative;

      nv-table {
        // column width
        @include nv-table-column-width(_idx, 6.5rem);
        @include nv-table-column-width(id, 8.5rem);
        @include nv-table-column-width(order-id, 8.5rem);
        @include nv-table-column-width(tracking-id, 22rem);
        @include nv-table-column-width(type, 15rem);
        @include nv-table-column-width(shipper, 15rem);
        @include nv-table-column-width(address, 18rem);
        @include nv-table-column-width(route-id, 8.5rem);
        @include nv-table-column-width(status, 16rem);
        @include nv-table-column-width(sdt, 15rem);
        @include nv-table-column-width(edt, 15rem);
        @include nv-table-column-width(dp, 15rem);
        @include nv-table-column-width(pickup-size, 16rem);
        @include nv-table-column-width(comments, 16rem);
        @include nv-table-column-width(priority-level, 12rem);

        @include nv-table-row-height(8rem);

        .table-with-locks-container table.table-body tr:nth-child(odd) td:not(.end-of-result).black,
        .table-with-locks-container table.table-body tr:nth-child(even) td:not(.end-of-result).black {
          background-color: black !important;
        }

        .table-with-locks-container table.table-body tr.last-row td.end-of-result .end-of-table {
          height: 5rem;
        }

        .table-with-locks-container table.table-body tr.last-row td.end-of-result .end-of-table p,
        .table-with-locks-container table.table-body tr.last-row td.end-of-result .no-result p {
          display: none;
        }
      }
    }
  }
}
