<nv-dialog-header
    md-theme="nvBlue"
    title="{{'container.route-group.edit-route-group' | translate}}"
    on-cancel="::onCancel($event)">
</nv-dialog-header>

<form md-theme="nvBlue" name="modelForm" ng-submit="::onSave()">

  <md-dialog-content>
    <div class="md-dialog-content" layout="column">

      <div
        class="md-block multi-input-row"
        layout="column"
        layout-gt-sm="row">
        <nv-input-text
            class="md-block name"
            label="{{ fields.name.displayName }}"
            model="fields.name.value"
            form="modelForm"
            required="::true">
        </nv-input-text>
        <nv-input-text
            class="md-block"
            label="{{ fields.description.displayName }}"
            model="fields.description.value"
            form="modelForm">
        </nv-input-text>
        <nv-input-text
            class="md-block created-at"
            flex="none"
            label="{{ fields.createdAt.displayName }}"
            model="fields.createdAt.value | nvTime:'operator':'datetime'"
            form="modelForm"
            disabled="::true">
        </nv-input-text>
        <div class="md-block with-non-input hub">
          <nv-label-small label="{{::fields.hub.displayName}}"></nv-label-small>
          <nv-autocomplete
                  hide-search-icon="true"
                  search-text="searchText"
                  placeholder="{{::fields.hub.displayName | translate}}"
                  delegate-handle="driver-strength-add"
                  multiple="false"
                  form="modelForm"
                  selected-item="fields.hub.value"
                  selected-options="fields.hub.selectedOptions"
                  possible-options="fields.hub.options">
          </nv-autocomplete>
        </div>
      </div>
      
      <md-divider></md-divider>

      <div
        class="job-count-container"
        layout="column"
        layout-align="center start"
        layout-gt-sm="row"
        layout-align-gt-sm="space-between center">
        <p>
          <strong>{{routeGroup._txnsLength + routeGroup._rvnsLength}}</strong>
          <span>{{'container.route-group.dialogs.jobs' | translate}}</span>
          <span>(</span>
          <span>
            {{'container.route-group.dialogs.count-jobs' | translate:'{countT: '+routeGroup._txnsLength+', countR: '+routeGroup._rvnsLength+'}'}}
          </span>
          <span>)</span>
        </p>
        <p>
          <span>Add jobs via the</span>
          <a class="link" ui-sref="container.transactions-v2" target="_blank">"Add Jobs to Route Groups"</a>
          <span>page.</span>
        </p>
      </div>

      <div class="table-container" flex>
        <nv-table param="tableParam" selectable="true" controller-as="ctrl">
          <nv-table-row
            use="job"
            ng-if="job._toUntag != true"
            row-height="80">

            <nv-td column="_idx">
              {{job._idx}}
            </nv-td>

            <nv-td column="id">
              {{job.id}}
            </nv-td>

            <nv-td column="orderId" ng-class="{'black': job._typeId === 2}">
              {{job.orderId}}
            </nv-td>

            <nv-td column="trackingId" ng-class="{'black': job._typeId === 2}">
              {{job.trackingId}}
            </nv-td>

            <nv-td column="type">
              {{job.type}}
            </nv-td>

            <nv-td column="shipper">
              {{job.shipper}}
            </nv-td>

            <nv-td column="address">
              {{job.address}}
            </nv-td>

            <nv-td column="routeId">
              {{job.routeId}}
            </nv-td>

            <nv-td column="status">
              {{job.status}}
            </nv-td>

            <nv-td column="priorityLevel">
              {{job.priorityLevel}}
            </nv-td>

            <nv-td column="sdt">
              {{job.sdt}}
            </nv-td>

            <nv-td column="edt">
              {{job.edt}}
            </nv-td>

            <nv-td column="dp">
              {{job.dp}}
            </nv-td>

            <nv-td column="pickupSize" ng-class="{'black': job._typeId === 1}">
              {{job.pickupSize}}
            </nv-td>

            <nv-td column="comments">
              {{job.comments}}
            </nv-td>

          </nv-table-row>
        </nv-table>
      </div>

      <div class="button-container" layout="row" layout-align="end center">
        <nv-icon-text-button
          md-theme="nvRed"
          class="raised"
          name="container.route-group.dialogs.remove-selected"
          disabled="tableParam.getSelectionCount() <= 0"
          on-click="removeFromRouteGroup(tableParam, modelForm)">
        </nv-icon-text-button>
        <nv-download-csv-button
          name="container.route-group.dialogs.download-selected"
          disabled="tableParam.getSelectionCount() <= 0"
          md-theme="nvBlue"
          data="tableParam.getSelection"
          csv-header="{{::dataCsvHeader.displayName}}"
          csv-column-order="{{::dataCsvHeader.varName}}"
          filename="route-group-jobs.csv">
        </nv-download-csv-button>
      </div>

    </div>
  </md-dialog-content>


  <md-dialog-actions layout="row" layout-align="space-between center">
    <nv-icon-text-button
        class="ghost"
        icon="delete"
        name="commons.delete"
        on-click="deleteOne($event, routeGroup)">
    </nv-icon-text-button>
    <nv-button-save
        icon="check"
        name="container.route-group.dialogs.save-changes"
        form="modelForm"
        state="saveButtonState">
    </nv-button-save>
  </md-dialog-actions>

</form>
