<nv-dialog-header title="{{'container.route-group.create-route-group' | translate}}" on-cancel="::onCancel($event)" md-theme="nvGreen" cancel-text="commons.cancel"></nv-dialog-header>

<form name="modelForm" ng-submit="::onSave()" md-theme="nvGreen">

  <md-dialog-content>
    <div class="md-dialog-content">

      <div class="md-block multi-input-row" layout="column">
        <nv-input-text
            class="md-block"
            label="{{ ::fields.name.displayName }}"
            model="fields.name.value"
            form="modelForm"
            required="::true">
        </nv-input-text>
        <nv-input-text
            class="md-block"
            label="{{ ::fields.description.displayName }}"
            model="fields.description.value"
            form="modelForm">
        </nv-input-text>
      </div>

      <div class="md-block" layout="row">
        <div class="md-block with-non-input" flex="100">
          <nv-label-small label="{{::fields.hub.displayName}}"></nv-label-small>
          <nv-autocomplete
            hide-search-icon="true"
            search-text="searchText"
            placeholder="{{::fields.hub.displayName | translate}}"
            delegate-handle="driver-strength-add"
            multiple="false"
            selected-item="fields.hub.value"
            selected-options="fields.hub.selectedOptions"
            possible-options="fields.hub.options">
          </nv-autocomplete>
        </div>
      </div>

      <md-divider></md-divider>

      <div class="instructions-holder">
        <h5>{{'container.route-group.dialogs.instructions' | translate}}</h5>
        <p> <!-- @TODO - translate -->
          1. Clicking on
          <nv-icon-text-button
            md-theme="nvGreen"
            class="raised"
            icon="add"
            name="Create & Add Transactions">
          </nv-icon-text-button>
          will create this route group and take you to the 'Transactions' page.
        </p>
        <p>{{'container.route-group.dialogs.instruction-2' | translate}}</p>
        <p>
          3. When you have completed your selection, click on the
          <nv-icon-text-button
            md-theme="nvBlue"
            class="raised"
            icon="add"
            name="Add to Route Group">
          </nv-icon-text-button>
          button located at the top right corner of the 'Transaction' page.
        </p>
        <p>
          4. Select the route group you have just created and click on
          <nv-icon-text-button
            md-theme="nvGreen"
            class="raised"
            icon="check"
            name="Add Transactions">
          </nv-icon-text-button>
          to complete the transaction addition process.
        </p>
      </div>
    </div>

  </md-dialog-content>

  <md-dialog-actions>
    <nv-button-save
      name="{{'container.route-group.dialogs.create' | translate}}"
      icon="add"
      form="modelForm"
      state="saveButtonState">
    </nv-button-save>
  </md-dialog-actions>

</form>
