<md-input-container flex class="nv-p" ng-class="{'confirmed': confirm(), 'disabled': disabled }">

    <label for="{{::id}}" class="nv-small">{{label | translate}}</label>

    <i class="material-icons input-invalid" ng-if="form[id].$invalid && !disabled">error_outline</i>
    <i class="material-icons input-confirmed" ng-if="confirm() && !disabled">check_circle</i>

    <div ng-show="readonly" class="readonly">
      {{model}}
    </div>

    <input type="text"
           name="{{::id}}"
           id="{{::id}}"
           aria-label="{{label | translate}}"
           placeholder="{{ placeholder | translate }}"
           ng-model="model"
           ng-hide="readonly"
           ng-required="required"
           md-maxlength="maxlength"
           ng-minlength="minlength"
           ng-readonly="readonly"
           ng-change="onChange({text:model})"
           ng-keypress="onKeypress({event: $event, text:model})"
           ng-model-options="modelOptions"
           ng-disabled="disabled">

    <div ng-if="!!form" ng-messages="form[id].$error" role="alert">
        <div ng-message="required">{{'commons.required-field' | translate}}</div>
        <div ng-message="{{e.key}}" ng-repeat="e in errorMsgs">{{ e.msg | translate }}</div>
    </div>

    <div class="help-text" ng-if="helpText && !confirm()">{{helpText | translate }}</div>

    <div ng-if="!form[id].$invalid && confirm()" class="confirmation-text" role="alert">
      <div>{{::confirmText}}</div>
    </div>

</md-input-container>
