@function capitalize($string) {
  @return to-upper-case(str-slice($string, 1, 1)) + str-slice($string, 2);
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

@function rem-to-px($rem, $base: 10px) {
  @return strip-unit($rem) * $base;
}

@function sum($list) {
  $result: 0;
  @each $num in $list {
    $result: $result + strip-unit($num);
  }
  @return $result;
}

@function slice($list, $start: 1, $end: length($list)) {
  $result: ();
  @for $i from $start through $end {
    $result: append($result, nth($list, $i));
  }
  @return $result;
}

@function toTheme($theme) {
  @return if($theme == 'default', '', 'md-' + $theme + '-theme');
}

@function toThemeClass($theme) {
  @return if($theme == 'default', '', '.md-' + $theme + '-theme');
}

@function forAllThemeClass($themes) {
  $result: '';
  @each $key, $color in $themes{
    $result: $result + '&' + toThemeClass($key) + ',';
  }
  @return $result;
}