<md-dialog>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row" layout-xs="column" layout-wrap layout-padding>
                    <div flex="100">
                        <h5>{{ 'container.zones.polygon.save-confirm' | translate }}</h5>
                    </div>
                    <div flex="100">
                        <p>
                            {{ "container.zones.polygon.save-confirm-text" | translate }}
                        </p>
                    </div>  
                    <div flex="100">
                        <ul>
                            <li ng-repeat="zone in zones">
                                {{zone.name}}
                            </li>
                        </ul>
                    </div>                  

                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <nv-icon-text-button
                name="commons.cancel"
                on-click="onCancel($event)"
                class="flat"
                md-theme="nvBlue">                
            </nv-icon-text-button>
            <nv-icon-text-button
                name="commons.save"
                on-click="onSave($event)"
                class="flat"
                md-theme="nvBlue">
            </nv-icon-text-button>            
        </md-dialog-actions>
    </md-dialog>