@import "../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../lib/ninja-commons/styles/variables";
@import "../../../styles/variables";

@mixin prefixes-table {
  .table-holder.prefixes-table {
    padding-top: $nv-baseline-grid;
    padding-bottom: $nv-baseline-grid;
    margin-bottom: $nv-baseline-grid * 2;

    .table {
      margin: 0;
      width: 40rem;

      > thead > tr > th {
        border-bottom: 0;
        font-weight: normal;
        font-size: 1.2rem;
        color: $nv-text-black-2;
      }

      > tbody > tr > td {
        border-top: 0;
        vertical-align: top;

        > span {
          @include nv-font-color(black, 2);
          padding-left: 0.4rem;
          min-height: 2.8rem;
          display: inline-block;
        }

        md-input-container {
          margin: 0;

          label {
            display: none;
          }
        }
      }
    }
  }
}

@mixin pickup-service-table {
  .table-holder.pickup-service-table {
    padding-bottom: $nv-baseline-grid;

    .table {
      margin: 0;
      width: 40rem;

      > thead > tr > th {
        border-bottom: 0;
        font-weight: normal;
        font-size: 1.2rem;
        color: $nv-text-black-2;
      }

      > tbody > tr > td {
        border-top: 0;
        vertical-align: top;

        &.service-level {
          vertical-align: bottom;
        }

        > span {
          @include nv-font-color(black, 2);
          padding-left: 0.4rem;
          min-height: 2.8rem;
          display: inline-block;
        }

        md-input-container {
          margin: 0;

          label {
            display: none;
          }
        }
      }
    }
  }
}