<nv-dialog-header
  title="Put Comments"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>
<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <div layout>
        <nv-input-text
          flex="100"
          id="field-comments"
          label ="Comments"
          model ="ctrl.comments"
          required ="::false">
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <nv-api-text-button
        md-theme="nvGreen"
        class="raised"
        state="ctrl.submitState"
        name="Submit"
        on-click="ctrl.onSubmit($event)">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>