<md-button
    id="{{::id}}"
    type="button"
    class="nv-button"
    ng-class="ngClazz"
    aria-label="{{::name | translate}}"
    layout="row"
    layout-align="center center"
    ng-disabled="isDisabled()"
    ng-click="::onClickWrapper({$event: $event})">

    <i ng-if="::icon && iconPosition!=='right'" class="material-icons">{{icon}}</i>
    <div>{{(text || name) | translate}}</div>
    <ng-transclude></ng-transclude>
    <i ng-if="::icon && iconPosition==='right'" class="material-icons">{{icon}}</i>

    <md-tooltip ng-if="showToolTip" md-direction="{{::tooltipDirection}}" md-delay="::tooltipDelay">{{name | translate}}</md-tooltip>

</md-button>
