.nv-container-inbounding-type{
  height: 100%;
  background: #EBEBEB;
  md-content{
    background: #EBEBEB;
    md-card.hub-selection-card{
      height: 15rem;
      md-input-container{
        margin-top: 2.4rem;
        label{
          bottom: 4rem;
        }
      }
    }
    .start-inbound-btn{
      width: 100%;
    }
  }

}


.nv-container-inbound-scanning{
  background: #EBEBEB;
  height: 100%;
  md-content{
    background: #EBEBEB;

    md-card-header{
      padding: 1.4rem;
    }

    .inbound-type-card{
      .small-label{
        font-weight:300;
        font-size: 0.8em;
      }
    }

    .scan-card{
      background: #EAF4F9;
      .scan-input-container {
        margin-bottom: 3rem;
        input{
          margin-top: 2rem;
          background: #fff;
          border: 1px solid #333333;
          border-radius: 2px;
          height: 4rem;
          font-size: 2rem;
        }
      }
      
    }
    .scan-card.error{
      background: #FFE7EC;

      input{
        border: 1px solid #CB4863;
      }

      .message{
        color: #C42B49;
      }
    }
    .scan-card.success{
      background: #E1F6E0;
      input{
        border: 1px solid #428755;
      }
      .message{
        color: #36814A;
      }
    }
    md-toolbar.blank-toolbar{
      background-color: #fff !important;
      color: #000 !important;
    }
    .tiny-button{
      width:2rem;
      color: #000;
    }
    .scan-status-card{
      min-height:16rem;      
      text-align: center;
      padding: 1rem;
      md-card-content{
        padding: 1.4rem;
      }

      .scan-state-text{
        min-height:4rem;
      }
      .scanned-shipping-id{
        min-height: 3rem;
        ul{
          margin: 0;
          padding: 0;
        }
      }
    }
    .scan-status-card.ready{
      background: #EBEBEB;
      h1{
        color: #AFAFAF;
      }
    }
    .scan-status-card:not(.ready){
      color: #fff;
      h1,h2,h5{
        color: #fff;
      }
    }

    .scan-status-card.still-transit{
      background: #253746;
    }
    .scan-status-card.destination-reached{
      background: #035F1D;
    }

    .scan-status-card.cancelled{
      background: #BA0C2F;
    }

    .session-log-card{
      table{
        width: 100%;
        tr.changed{
          background: #eeee00;
        }

        th.sn,td.sn{
          min-width: 3rem;
          max-width: 3rem;
        }
        th.timestamp,td.timestamp{
          min-width: 9rem;
          max-width: 9rem;
        }
        th.shipment-id,td.shipment-id{
          min-width: 9rem;
          max-width: 9rem;
        }
        th.result,td.result{
          min-width: 5rem;
          max-width: 5rem;
        }
      }
    }

  }




}