<div class="nv-container-inbounding-type" ng-show="!ctrl.inbounding">
    <md-content layout="row" layout-padding layout-wrap>
        <div flex="50" flex-offset="25">
            <h4>{{"container.inbound-scanning.select-hub-adninboun-type" | translate }}</h4>
        </div>
        <md-card class="hub-selection-card" flex="60" flex-offset="20" layout="row" layout-align="start center" layout-padding>
            <nv-input-select 
                flex="30"
                label="{{'container.inbound-scanning.inbound-hub' | translate }}"
                model="ctrl.hub"
                set-default="false"
                searchable="::true"
                model-options="{}"
                options="ctrl.availableHubs">
            </nv-input-select>
            <div flex="33">
                    <label class="nv-small">{{'container.inbound-scanning.inbound-type' | translate }}</label>
                    <nv-btn-grp
                            model="ctrl.inboundingType.value"
                            label-for-model-idx-0="Into Van"
                            label-for-model-idx-1="Into Hub"
                            form="modelForm" select-multiple="false" select-none="false" default-selection="'01'">
                    </nv-btn-grp>
            </div>
        </md-card>
        <nv-icon-text-button 
            md-theme ="nvGreen" 
            flex="60"
            flex-offset="20"
            icon="redo"
            disabled="!ctrl.hub" 
            name="container.inbound-scanning.start-inbound"
            label="container.inbound-scanning.start-inbound"
            on-click="ctrl.startInbounding()" 
            class="raised primary start-inbound-btn">
        </nv-icon-text-button>

    </md-content>


</div>

<div class="nv-container-inbound-scanning" ng-show="ctrl.inbounding">
    <md-content layout="row" layout-padding layout-wrap>
        <md-card flex="60" flex-offset="20" class="inbound-type-card">
            <md-card-content layout="row" layout-padding>
                <div flex="30">
                    <span class="small-label">{{"container.inbound-scanning.inbound-hub" | translate }}</span>
                    <p class="nv-p">{{ctrl.hub.name}}</p>
                </div>
                <div flex="30">
                    <span class="small-label">{{"container.inbound-scanning.inbound-type" | translate }}</span>
                    <p class="nv-p">{{ctrl.inboundingType.value==='01'?'Into Hub':'Into Van'}}</p>
                </div>
            </md-card-content>

        </md-card>


        <md-card flex="60" flex-offset="20" class="scan-card" ng-class="{'error':ctrl.scanCardState=='error', 'success':ctrl.scanCardState=='success'}">
            <md-card-content layout="column">
                <div flex>
                    <h5>{{"container.inbound-scanning.scan-shipment-to-inbound" | translate }}</h5>
                </div>

                <md-input-container class="scan-input-container"  flex>
                    <input type="text" nv-autofocus aria-label="input shipment id"
                           ng-blur="ctrl.scanShipment()"
                           ng-keypress="ctrl.scanShipment($event)"
                           ng-model="ctrl.shipmentId"
                    />
                    <span class="message">{{ctrl.scanMessage}}</span>
                </md-input-container>
            </md-card-content>
        </md-card>


        <md-card flex="60" flex-offset="20" class="scan-status-card" ng-class="{'ready': (ctrl.scanState==='ready' || ctrl.scanState==='error'), 'still-transit': ctrl.scanState==='transit',
            'destination-reached':ctrl.scanState==='completed','cancelled':ctrl.scanState==='cancelled'
        }">
            <md-card-content layout="row" layout-align="center start" layout-wrap>
                <div flex="100" class="scan-state-text">
                    <h2 ng-if="ctrl.scanState!='ready'">{{ctrl.scanStateText}}</h2>
                </div>
                <div flex="100">
                    <h1>{{ctrl.scanStateCommand}}</h1>
                </div>
                <div flex="100" 
                    class="scanned-shipping-id" 
                    layout="row" layout-wrap layout-align="center start"
                    ng-if="ctrl.scanState!='ready'">
                    <div>{{ "container.inbound-scanning.n-shipment-ids" | translate: { n: ctrl.scanStateShipmentIds.length } }}</div>
                    <ul class="unstyled">
                        <li type="none" ng-repeat="id in ctrl.scanStateShipmentIds">{{id}}</li>
                    </ul>
                </div>
            </md-card-content>

        </md-card>

        <md-card flex="60" flex-offset="20">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">{{"container.inbound-scanning.instructions" | translate }}</span>
                </md-card-header-text>
                
                <md-card-icon-actions>
                    <nv-icon-button
                        icon="{{ctrl.showInstruction.display? 'expand_less': 'expand_more'}}"
                        class="flat"
                        name="expand"
                        on-click="ctrl.hideCardContent(ctrl.showInstruction)">
                    </nv-icon-button>
                </md-card-icon-actions>
            </md-card-header>
            <md-card-content ng-show="ctrl.showInstruction.display">
                <p>{{"container.inbound-scanning.instructions-point-1" | translate }}</p>
                <p ng-bind-html="'container.inbound-scanning.instructions-point-2' | translate "></p>
            </md-card-content>
        </md-card>
        
        <md-card flex="60" flex-offset="20" class="session-log-card">
            <md-card-header layout="row" layout-align="space-between center">
                <md-card-header-text flex="40">
                    <span class="md-title">{{"container.inbound-scanning.session-log" | translate }}</span>
                </md-card-header-text>
                <div flex="30">
                    <nv-icon-text-button class="md-raised ghost" ng-click="ctrl.onChangeEndDate($event)"
                                         md-theme="nvGreen" name="{{'container.inbound-scanning.change-end-date' | translate }}"
                                         icon="edit"></nv-icon-text-button>
                </div>
            </md-card-header>
            <md-card-content>
                <table class="table-condensed table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="sn">{{'container.inbound-scanning.sn' | translate}}</th>
                            <th class="timestamp">{{'container.inbound-scanning.timestamp' | translate }}</th>
                            <th class="shipment-id">{{'container.inbound-scanning.shipment-id' | translate }}</th>
                            <th class="end-hub">{{'container.inbound-scanning.end-hub' | translate}}</th>
                            <th class="result">{{'container.inbound-scanning.result' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="log in ctrl.scans" ng-class="{changed:log.changedDate}">
                            <td class="sn">{{log.sn}}</td>
                            <td class="timestamp">{{log.timestamp | nvTime: 'operator':'datetime'}}</td>
                            <td class="shipmentId">{{log.shipmentId}}</td>
                            <th class="end-hub">{{log.hubName}}</th>
                            <td class="result">{{log.result}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-card-content>
        </md-card>

    </md-content>

    <audio media-player="successSound" data-playlist="playlist1">
        <source src="../../../resources/sounds/success.mp3" type="audio/mp3">
    </audio>

    <audio media-player="errorSound" data-playlist="playlist">
        <source src="../../../resources/sounds/error.mp3" type="audio/mp3">
    </audio>
</div>