<div class="header-container" layout="row" layout-align="start center">
	<div class="main-title">
		<p class="medium nv-text-ellipsis">{{ mainTitle | translate }}</p>
	</div>

	<div class="date-container" layout="horizontal" layout-align="start center">
		<md-datepicker name="fromDateField"
                   class="from-date-picker"
                   md-max-date="toModel"
                   ng-model="fromModel"
                   md-min-date="minDate"
                   ng-change="onDateChanged()"
                   ng-required="true"
                   md-placeholder="{{'container.route-group.enter-date' | translate}}">
		</md-datepicker>
		<p ng-if="isRange">{{'commons.to' | translate}}</p>
		<md-datepicker name="toDateField"
                   ng-show="isRange"
                   ng-model="toModel"
                   md-min-date="fromModel"
                   md-max-date="toMaxDateModel"
                   ng-change="onDateChanged()"
                   ng-required="true"
                   md-placeholder="{{'container.route-group.enter-date' | translate}}">
		</md-datepicker>

    <div ng-messages="form.toDateField.$error" ng-if="isRange">
      <small class="dark-red"
             ng-message="maxdate">
        {{ 'commons.date-range-max-error' | translate:{ num: maxDateRange } }}
      </small>
    </div>
	</div>

	<div class="primary-button-container" layout="row" layout-align="end center" flex
		   ng-hide="isMandatory">
		<nv-icon-button class="flat dense" name="commons.remove-filter" icon="close" on-click="::onClose()">
		</nv-icon-button>
	</div>
</div>