.nv-container-cod-report {

  .filter-container {
    md-card-title {
      align-items: center;

      .group {
        margin-left: 15px;
        display: flex;
        align-items: center;
        * {
          display: inline-block;
        }
        label {
          margin: 0 5px;
        }
      }
    }
  }
  .no-cod, md-progress-circular {
    text-align: center;
    margin: 10px auto;
  }
}
