<md-content
  class="nv-container-cod-report">
  
  <md-card class="filter-container">
      <md-card-title layout="row" layout-align="space-between center">
        <md-card-title-text layout="row">
          <span class="md-headline">Filter</span>
          <div class="group">
            <label>Mode</label>
            <nv-btn-grp
              model="ctrl.reportMode"
              label-for-model-idx-0="Get CODs For A Day"
              label-for-model-idx-1="Get Driver CODs For A Route Day"
              select-multiple="false"
              select-none="false"
              default-selection="'10'">
            </nv-btn-grp>
          </div>

          <div class="group">
            <label>Date</label>
            <md-datepicker
              ng-model="ctrl.date"
              ng-change="::ctrl.fetchCOD()"
              md-placeholder="Date">
            </md-datepicker>
          </div>
        </md-card-title-text>

        <nv-download-csv-button
          md-theme="nvBlue"
          data="ctrl.cod"
          csv-header="{{ctrl.reportMode === '10' ? ctrl.COD_HEADER : ctrl.DRIVER_COD_HEADER}}"
          csv-column-order="{{ctrl.reportMode === '10' ? ctrl.COD_ORDER : ctrl.DRIVER_COD_ORDER}}"
          filename="{{ctrl.reportMode === '10' ? 'cod-report.csv' : 'driver-cod-report.csv'}}">
        </nv-download-csv-button>
      </md-card-title>
    </md-card-title>
  </md-card>

  <md-card>
    <md-card-content class="nv-padding-none" ng-if="ctrl.fetchState === 'waiting'">
      <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="24px"></md-progress-circular>
    </md-card-content>
    <md-card-content class="nv-padding-none" ng-if="ctrl.fetchState === 'idle'">
      <div class="table-container" ng-if="ctrl.cod.length > 0">
        <table ng-table="ctrl.codTableParams" class="table table-condensed table-bordered table-striped">
          <tr ng-repeat="cod in $data">

            <td data-title="'No'">
              {{$index+1}}
            </td>

            <td data-title="::ctrl.fields.tracking_id.displayName"
                sortable="'tracking_id'"
                class="tracking_id">
                {{ cod.tracking_id }}
            </td>

            <td data-title="::ctrl.fields.granular_status.displayName"
                sortable="'granular_status'"
                class="granular_status">
                {{ cod.granular_status }}
            </td>

            <td data-title="::ctrl.fields.shipper_name.displayName"
                sortable="'shipper_name'"
                class="shipper_name">
                {{ cod.shipper_name }}
            </td>
            
            <td data-title="::ctrl.fields.collection_at.displayName"
                sortable="'collection_at'"
                class="collection_at">
                {{ cod.collection_at }}
            </td>

            <td data-title="::ctrl.fields.goods_amount.displayName"
                sortable="'goods_amount'"
                class="goods_amount">
                {{ cod.goods_amount | number: 2 }}
            </td>

            <td data-title="::ctrl.fields.shipping_amount.displayName"
                sortable="'shipping_amount'"
                class="shipping_amount">
                {{ cod.shipping_amount | number: 2 }}
            </td>

            <td data-title="::ctrl.fields.collected_sum.displayName"
                sortable="'collected_sum'"
                class="collected_sum">
                {{ cod.collected_sum | number: 2 }}
            </td>

            <td data-title="::ctrl.fields.collected.displayName"
                sortable="'collected'"
                ui-sref="container.driver-strength"
                class="collected">
                {{ cod.collected }}
            </td>

            <td ng-if="ctrl.reportDriverMode"
                data-title="::ctrl.fields.driver_name.displayName"
                sortable="'driver_name'"
                class="driver_name">
                {{ cod.driver_name }}
            </td>

            <td ng-if="ctrl.reportDriverMode"
                data-title="::ctrl.fields.route_id.displayName"
                sortable="'route_id'"
                class="route_id">
                <a nv-href-v1="/routes?vehicle={{cod.vehicle}}&route_id={{cod.route_id}}" target="_blank">{{ cod.route_id }}</a>
            </td>
          </tr>
        </table>
      </div>

      <div class="nv-p no-cod" ng-if="ctrl.cod.length === 0">{{ 'container.cod-report.no-cod-exist' | translate}}</div>
    </md-card-content>
  </md-card>
</md-content>
