.multi-input-directive {
  width: 100%;

  .multi-input-element {
    margin: 1.2rem 0.4rem;

    md-autocomplete-wrap > button { 
      visibility: hidden;
      width: 0rem;
      height: 0rem;
      margin: 0;
    }
  }

  .add-button-container {
    margin-top: 1.4rem;
  }
}