<div class="multi-input-directive">
  <div class="multi-input-empty" ng-if="isOptionsEmpty()">
    {{ 'directive.multi-input.no-item-available' | translate: { item: itemType } }}
  </div>
  <div class="multi-input-element" ng-if="!isOptionsEmpty()" layout ng-repeat="element in elements">
    <nv-autocomplete
      flex
      placeholder="{{::itemType}}"
      delegate-handle="{{::element.name}}"
      item-types="{{::itemType}}"
      selected-item="element.selectedItem"
      search-text="element.text"
      on-select="onSelect(element, $item)"
      on-blur-callback="onBlur()"
      hide-search-icon="true"
    ></nv-autocomplete>
    <nv-icon-button
      ng-if="!element.isFirst"
      on-click="removeElement(element)"
      icon="clear"
      class="flat"
      md-theme="nvRed"
    ></nv-icon-button>
  </div>

  <div layout class="add-button-container" ng-if="!isAddHidden()">
    <nv-icon-text-button
      flex
      md-theme="nvGreen"
      class="raised"
      name="{{ addText }}"
      icon="add"
      text="{{ addText }}"
      disabled="isAddDisabled()"
      on-click="addElement()"
    ></nv-icon-text-button>
  </div>
</div>