@import "../../../lib/ninja-commons/styles/mixins/media-query.mixins";
@import "../../../lib/ninja-commons/styles/mixins/typography.mixins";

.nv-container-dp-administration {

  .filter-breadcrumbs {

    > i {
      color: lighten($nv-tb59, 10%);
      font-size: 3.6rem;
      line-height: 3.6rem;
    }
  }
}
