<md-content class="nv-label-printer-container" layout="column" layout-padding>
  <md-card>
      <div class="tracking-id-container">
          <h3>{{'container.label-printer.print-labels' | translate}}</h3>
          <p>{{'container.label-printer.enter-your-tracking-id-here' | translate}}</p>
          <div layout="row" layout-wrap>
            <div flex="100" layout="row">
                <nv-input-text
                  flex="30"
                  model="ctrl.prefix"
                  name="prefix"
                  placeholder="Prefix"
                  form="scanForm">
                </nv-input-text>
                <form flex="70" name="scanForm" layout-wrap layout="row" ng-submit="ctrl.checkTrackingId(ctrl.prefix, ctrl.trackingId)">
                    <nv-input-text
                      flex="100"
                      model="ctrl.trackingId"
                      name="tracking-id"
                      form="scanForm"
                      placeholder="Tracking Id">
                    </nv-input-text>
                </form>
            </div>
      
            
          </div>
        </div>
  </md-card>
  

  <md-card class="printed-table-container" layout="column">
    <h5>{{'container.label-printer.scanned-orders' | translate}}</h5>
    <table class="table table-stripped">
      <thead>
        <tr>
          <th class="scan">
            {{'container.label-printer.scan' | translate}}
          </th>
          <th class="order-id">
            {{'container.label-printer.order-id' | translate}}
          </th>
          <th class="shipper-id">
            {{'container.label-printer.shipper-id' | translate}}
          </th>
          <th class="address1">
            {{'container.label-printer.address1' | translate}}
          </th>
          <th class="address2">
            {{'container.label-printer.address2' | translate}}
          </th>
          <th class="contact">
            {{'container.label-printer.contact' | translate}}
          </th>
          <th class="name">
            {{'container.label-printer.name' | translate}}
          </th>
        </tr>      
      </thead>
      <tbody>
        <tr ng-repeat="scan in ctrl.scans" style="background: {{scan.color}}">
            <td class="scan">
                {{scan.scan}}
              </td>
              <td class="order-id">
                {{scan.id}}
              </td>
              <td class="shipper-id">
                {{scan.shipper_id}}
              </td>
              <td class="address1">
                {{scan.to_address1}}
              </td>
              <td class="address2">
                {{scan.to_address2}}
              </td>
              <td class="contact">
                {{scan.to_contact}}
              </td>
              <td class="name">
                {{scan.to_name}}
              </td>
        </tr>
      </tbody>
    </table>
  </md-card>
</md-content>