@import "../../../styles/variables";
$calendar-header: rgba(0,0,0,0.02);
$calendar-shadow-active: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12) !default;
$calendar-border: 1px solid rgba(0, 0, 0, .12) !default;

nv-calendar {

    display: block;
    height: 100%;
    max-height: 100%;

    md-toolbar {

        .md-toolbar-tools {
            .moveNext {
                -ms-transform: translate3d(0%,0%,0) rotate(180deg);
                -webkit-transform: translate3d(0%,0%,0) rotate(180deg);
                transform: translate3d(0%,0%,0) rotate(180deg);
            }
        }
    }

    md-content {
        > md-content {
            // Week row, agenda view.
            font-size: 1.5em;

            // All day cells, don't make them too small, even on tiny screens.
            > * > * {
                min-width: 48px;
            }

            // Week row (calendar view.)
            &.calendar {

                // Subheader row.
                > :first-child {
                    background: $calendar-header;
                    border-bottom: $calendar-border;
                    margin-right: 0;
                    min-height: 36px;
                }

                // Week rows.
                > :not(:first-child) {

                    // Day containers.
                    > * {

                        border-bottom: $calendar-border;
                        border-right: $calendar-border;
                        cursor: pointer;

                        &:hover {
                            box-shadow: $calendar-shadow-active;
                        }

                        &:focus {
                            outline: none;
                        }

                        &.disabled {
                            color: rgba(0, 0, 0, .3);
                            cursor: auto;
                        }

                        &.not-same-month {
                            color: rgba(0, 0, 0, .3);
                        }

                        // Day number label.
                        > :first-child {
                            font-size: 1.4rem;
                            padding: 0;
                        }

                        // Day html content.
                        .calendar-content:last-child {
                            padding: 0;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }

            //active theme
            $activeThemeColor: (
                'md-nvBlue-theme': $nv-light-blue,
                'md-nvRed-theme': $nv-light-red
            );

            @each $key, $color in $activeThemeColor{
                &.#{$key}.calendar > :not(:first-child) > *.active {
                    background-color: $color !important;
                }
            }

            $themeColor: (
                'nvRed': ('dark': $nv-dark-red, 'light': $nv-highlight-red),
                'nvBlue': ('dark': $nv-dark-blue, 'light': $nv-highlight-blue),
                'nvGreen': ('dark': $nv-dark-green, 'light': $nv-highlight-green),
                'nvYellow': ('dark': $nv-dark-yellow, 'light': $nv-highlight-yellow),
                'nvGrey': ('dark': $nv-light4, 'light': $nv-light1),
            );

            > * > * {
                @each $key, $color in $themeColor{
                    &.#{$key} {
                        color: map-get($color, 'dark') !important;
                        &:not(.nv-secondary) {
                            background-color: map-get($color, 'light');
                        }
                        &.nv-secondary {
                            text-decoration: bold;
                        }
                        &.not-same-month {
                            color: rgba(map-get($color, 'dark'), 0.3) !important;
                            &:not(.nv-secondary) {
                                background-color: rgba(map-get($color, 'light'), 0.3);
                            }
                        }
                    }
                }
            }
        }
    }
}