<md-content class="md-whiteframe-4dp" layout='column' layout-fill md-swipe-left='next()' md-swipe-right='prev()'>
    <md-toolbar md-theme="nvBlue">
        <div class='md-toolbar-tools' layout='row'>
            <md-button class="md-icon-button" ng-click='prev()' aria-label="Previous month">
                <i class="material-icons">keyboard_arrow_left</i>
            </md-button>
            <div flex></div>
            <md-input-container>
              <md-select ng-model="calendar.month" placeholder="Month" ng-change="calendar.gotoMonth(calendar.month)">
                <md-option ng-value="m" ng-repeat="m in monthList">{{m | nvMonthName }}</md-option>
              </md-select>
            </md-input-container>
            <md-input-container>
              <md-select ng-model="calendar.year" placeholder="Year" ng-change="calendar.gotoYear(calendar.year)">
                <md-option ng-value="y" ng-repeat="y in yearList">{{y}}</md-option>
              </md-select>
            </md-input-container>
            <div flex></div>
            <md-button class="md-icon-button" ng-click='next()' aria-label="Next month">
                <i class="material-icons">keyboard_arrow_right</i>
            </md-button>
        </div>
    </md-toolbar>
    <!-- calendar view -->
    <md-content flex layout="column" class='calendar'>
        <div layout='row' class='subheader'>
            <div layout-padding class='subheader-day' flex ng-repeat='day in calendar.weeks[0]'>
              {{ day.format(dayLabelFormat) }}
            </div>
        </div>
        <div ng-if='week.length' ng-repeat='week in calendar.weeks track by $index' flex layout='row'>
            <nv-calendar-bind-html 
              flex layout="column" layout-padding 
              tabindex='{{ sameMonth(day) ? (day.format(dayFormat)) : 0 }}' 
              ng-repeat='day in week track by $index'
              ng-click='handleDayClick(day)'
              ng-class='{ "disabled" : isDisabled(day), "active": isActive(day), "has-events": hasEvents(day), "not-same-month" : !sameMonth(day) }'
              date="day"
              is-active="isActive(day)"
              delegate-handle="{{::delegateHandle}}"
              no-cache="{{::noCache}}"
              template-url="{{::templateUrl}}">
            </nv-calendar-bind-html>
        </div>
    </md-content>
</md-content>