<div>
    <div></div>
		<div flex layout layout-align="center center">
		  <md-progress-circular class="md-primary" md-mode="indeterminate" md-theme="nvGreen"></md-progress-circular>
		</div>
		<div flex 
		  class="calendar-content"
		  id='{{ day.format(dayIdFormat) }}'>
		</div>
</div>