
<nv-dialog-header title="{{'container.shipment-management.upload-results' | translate }}" on-cancel="::ctrl.onCancel($event)" md-theme="nvBlue" cancel-text="{{'container.shipment-management.close' | translate }}"></nv-dialog-header>
<md-dialog-content layout="row" layout-wrap>
  <div flex="100" class="summary" layout="row" layout-wrap>
    <nv-input-text
      flex="33"
      readonly="::true"
      label="container.shipment-management.uploaded-orders"
      model="ctrl.uploadResult.successUpload.length + ctrl.uploadResult.failedUpload.length">
    </nv-input-text>
    <nv-input-text
      readonly="::true"
      label="container.shipment-management.successful"
      model="ctrl.uploadResult.successUpload.length"
      flex="33">
    </nv-input-text>
    <nv-input-text
      readonly="::true"
      label="container.shipment-management.failed"
      model="ctrl.uploadResult.failedUpload.length"
      flex="33">
    </nv-input-text>
  </div>

  <div flex="100" class="success-table-container">
    <h5>{{"container.shipment-management.successful" | translate}}</h5>
    <table class="table table-stripped">
      <thead>
        <tr>
          <th class="tracking-id">{{"commons.tracking-id" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in ctrl.uploadResult.successUpload">
          <td class="tracking-id">{{row.tracking_id}}</td>
        </tr>
        <tr ng-if="ctrl.uploadResult.successUpload.length == 0">
            <td>{{"directive.table.no-result" | translate}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div flex="100" class="failed-table-container">
    <h5>{{"container.shipment-management.failed" | translate}}</h5>
      <table class="table table-stripped">
          <thead>
            <tr>
              <th class="tracking-id">{{"commons.tracking-id" | translate }}</th>
              <th class="reason">
                {{"commons.reason" | translate}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in ctrl.uploadResult.failedUpload">
              <td class="tracking-id">{{row.tracking_id}}</td>
              <td class="reason">
                  {{row.message}}
              </td>
            </tr>
            <tr ng-if="ctrl.uploadResult.failedUpload.length == 0">
                <td colspan="2">{{"directive.table.no-result" | translate}}</td>                
            </tr>
          </tbody>
        </table>
  </div>

</md-dialog-content>
