<nv-dialog-header title="Route {{ctrl.routeId}}" 
    on-cancel="::ctrl.onCancel($event)"></nv-dialog-header>
    <md-dialog-content >
        <div class="md-dialog-content" layout="row" layout-wrap layout-padding>            
            <div flex="100" layout="row" layout-padding layout-wrap>
                <h5>Transaction Log</h5>
                <div flex="100">
                    <table class="txn-table table table-condensed table-bordered table-striped">
                        <thead>                           
                            <th class="tracking-id">
                                {{'commons.tracking-id' | translate }}
                            </th>
                            <th ng-if="ctrl.type != 'missing'" class="last-scan-location">
                                {{'container.route-load-monitoring.last-scan-location' | translate}}
                            </th>
                            <th ng-if="ctrl.type != 'missing'"class="time">
                                {{'container.route-load-monitoring.time' | translate}}
                            </th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in ctrl.parcels">                                
                                <td class="tracking-id">
                                    {{p.tracking_id}}
                                </td>
                                <td ng-if="ctrl.type != 'missing'" class="last-scan-location">
                                    {{p.latestInboundScan.location || '-'}}
                                </td>
                                <td  ng-if="ctrl.type != 'missing'" class="time">
                                    {{p.latestInboundScan.created_at | nvTime}}
                                </td>
                            </tr>
                            <tr ng-if="ctrl.parcels && ctrl.parcels.length === 0">
                              <td colspan="3">
                                {{'container.route-load-monitoring.no-parcels-data' | translate}}
                              </td>
                            </tr>
                        </tbody>

                    </table>

                </div>
            </div>            
        </div>
    </md-dialog-content>
  