@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../lib/ninja-commons/styles/mixins/typography.mixins";

md-content.nv-container-transactions-v2 {
  @include nv-card-no-margin;
  padding: 0 !important;

  .filter-page {
    padding: 1rem;

    @include nv-media-query-md-min {
      padding: 2rem;
    }

    @include nv-media-query-lg-min {
      padding: 3rem;
    }

    @include nv-media-query-xl-min {
      padding: 4rem;
    }

    .filter-header, .filter-subheader {
      padding: 1.4rem;
    }

    .filter-subheader {
      padding-bottom: 2.8rem;
    }

    h4.filter-title {
      vertical-align: middle;
      margin: auto;
      color: $nv-text-black-2;
    }

    .filter-box-container {
      padding-bottom: 2.8rem;
    }

    .is-shown {
      color: $nv-text-black-3;
    }

    .not-shown-note {
      color: $nv-text-black-2;
      padding: 1.4rem;
    }

    .find-txns-by-csv {
      margin: 0.8rem 0 0 0.5rem;
    }
  }

  .result-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .text-regular { @include nv-font-weight(regular); }

    div.navigation {
      .right-container {
        > * {
          display: inline-block;
          padding: 0 0 0 1rem;
          margin: 0;

          &:first-child {
            padding: 0;
          }
          
          .btn-apply-action {
            min-width: 140px;

            > span {
              flex-grow: 1;
            }
          }
        }
      }
    }
    
    div.table-container {
      position: relative;
      flex: 1;

      nv-table {
        // column width
        @include nv-table-column-width(sequence, 7rem);
        @include nv-table-column-width(id, 11rem);
        @include nv-table-column-width(order-id, 11rem);
        @include nv-table-column-width(tracking-id, 22rem);
        @include nv-table-column-width(type, 11rem);
        @include nv-table-column-width(shipper, 15rem);
        @include nv-table-column-width(address, 25rem);
        @include nv-table-column-width(route-id, 11rem);
        @include nv-table-column-width(status, 16rem);
        @include nv-table-column-width(start-date-time, 14rem);
        @include nv-table-column-width(end-date-time, 14rem);
        @include nv-table-column-width(dp, 15rem);
        @include nv-table-column-width(pickup-size, 15rem);
        @include nv-table-column-width(comments, 20rem);

        @include nv-table-row-height(8.5rem);

        .table-with-locks-container table.table-body tr:nth-child(odd) td:not(.end-of-result),
        .table-with-locks-container table.table-body tr:nth-child(even) td:not(.end-of-result) {
          &.not-available {
            background-color: $nv-dark-blue
          }
        }
      }
    }
  }
}