<md-content class="nv-container-transactions-v2"
            nv-load="ctrl.getAll"
            loading-message="{{'commons.load-data' | translate}}">

    <div class="filter-page" ng-if="ctrl.isPage(ctrl.PAGES.FILTER)" layout-padding>
        <div layout="row" class="filter-header">
            <h4 class="filter-title">{{'commons.select-filter' | translate}}</h4>
            <nv-filter-preset
                    layout-align="end"
                    filter-presets="ctrl.filterPresets"
                    selected-preset="ctrl.selectedPreset"
                    selected-filters="ctrl.selectedFilters"
                    possible-filters="ctrl.possibleFilters"
                    on-save="ctrl.savePreset(body)"
                    on-load="ctrl.loadPreset(preset)"
                    on-update="ctrl.updatePreset(id,body)"
                    on-delete="ctrl.deletePreset(id)"
                    on-check-name="ctrl.checkPresetName(name)"
                    filter-path="filter">
            </nv-filter-preset>
            <nv-icon-text-button
                md-theme="nvYellow"
                class="ghost find-txns-by-csv"
                icon="file_upload"
                name="container.transactions.find-txns-by-csv"
                on-click="ctrl.findTxnsByCSV($event)">
            </nv-icon-text-button>
        </div>

        <div layout="row" class="filter-subheader">
            <h5>{{'container.transactions-v2.general-filters' | translate}}</h5>
        </div>
        <nv-filter-box-container
                possible-filters="ctrl.possibleGeneralFilters"
                selected-filters="ctrl.selectedGeneralFilters"
                search-by="mainTitle">
        </nv-filter-box-container>

        <div layout="row" layout-align="start center" class="filter-subheader">
            <h5 ng-class="{'is-shown': !ctrl.showTxn()}">{{'container.transactions-v2.txn-filters' | translate}}</h5>

            <div flex="1"></div>
            <span ng-if="!ctrl.showTxn()" class="not-shown-note">{{'container.transactions-v2.txn-note' | translate}}</span>
            <nv-btn-grp
                model="ctrl.includeTxnModel"
                default-selection="'10'"
                label-for-model-idx-0="Include Transactions"
                label-for-model-idx-1="Hide Transactions">
            </nv-btn-grp>

        </div>
        <nv-filter-box-container
                ng-if="ctrl.showTxn()"
                possible-filters="ctrl.possibleTxnFilters"
                selected-filters="ctrl.selectedTxnFilters"
                search-by="mainTitle">
        </nv-filter-box-container>

        <div layout="row" layout-align="start center" class="filter-subheader">
            <h5 ng-class="{'is-shown': !ctrl.showRxn()}">{{'container.transactions-v2.rxn-filters' | translate}}</h5>

            <div flex="1"></div>
            <span ng-if="!ctrl.showRxn()" class="not-shown-note">{{'container.transactions-v2.rxn-note' | translate}}</span>
            <nv-btn-grp
                model="ctrl.includeRxnModel"
                default-selection="'01'"
                label-for-model-idx-0="Include Reservations"
                label-for-model-idx-1="Hide Reservations">
            </nv-btn-grp>

        </div>
        <nv-filter-box-container
                ng-if="ctrl.showRxn()"
                possible-filters="ctrl.possibleRxnFilters"
                selected-filters="ctrl.selectedRxnFilters"
                search-by="mainTitle">
        </nv-filter-box-container>

        <div layout="row" layout-align="center">
            <nv-api-text-button class="raised" state="ctrl.loadSelectionState" name="commons.load-selection"
                                on-click="ctrl.loadSelection()"></nv-api-text-button>
        </div>

        <div layout="row" layout-align="center">
            <p>{{'container.transactions-v2.select-filters' | translate}}</p>
        </div>
    </div>

    <div class="result-page" ng-if="ctrl.isPage(ctrl.PAGES.RESULT)">
        <div class="navigation">
            <div layout="row" layout-sm="column" layout-xs="column" layout-padding>
                <div flex="66" flex-sm="100" flex-xs="100">
                    <nv-icon-text-button
                            md-theme="nvBlue"
                            class="raised"
                            icon="filter_list"
                            name="container.transactions.edit-filters-and-sort"
                            on-click="ctrl.goToPage(ctrl.PAGES.FILTER)">
                    </nv-icon-text-button>
                </div>
                <div flex class="right-container nv-text-right">
                    <nv-icon-text-button
                            md-theme="nvBlue"
                            disabled="ctrl.tableParam.getSelection().length === 0"
                            class="raised"
                            icon="add"
                            name="container.transactions.add-to-route-group"
                            text="{{ctrl.tableParam.getSelection().length ?  'container.transactions.add-to-route-group-x' :
                  'container.transactions.add-to-route-group' |
                  translate:'{x:' + ctrl.tableParam.getSelection().length + ',}'}}"
                            on-click="::ctrl.addToRouteGroup($event)">
                    </nv-icon-text-button>
                </div>
            </div>
        </div>

        <nv-table-description
                table-param="ctrl.tableParam"
                filters="ctrl.selectedFilters"
                title-display="mainTitle">
        </nv-table-description>
        <div class="table-container">
            <nv-table
                    param="ctrl.tableParam"
                    selectable="true">
                <nv-table-row use="trvn" row-height="85">
                    <nv-td column="sequence">
                        {{trvn.sequence || '-'}}
                    </nv-td>
                    <nv-td column="id">
                        {{trvn.id || '-'}}
                    </nv-td>
                    <nv-td column="orderId" ng-class="{'not-available': trvn._type === 'rxn'}">
                        {{trvn.orderId || '-'}}
                    </nv-td>
                    <nv-td column="trackingId" ng-class="{'not-available': trvn._type === 'rxn'}">
                        {{trvn.trackingId || '-'}}
                    </nv-td>
                    <nv-td column="type">
                        {{trvn.type || '-'}}
                    </nv-td>
                    <nv-td column="shipper">
                        {{trvn.shipper || '-'}}
                    </nv-td>
                    <nv-td column="address">
                        {{trvn.address || '-'}}
                    </nv-td>
                    <nv-td column="routeId">
                        {{trvn.routeId || '-'}}
                    </nv-td>
                    <nv-td column="status">
                        {{trvn.status || '-'}}
                    </nv-td>
                    <nv-td column="startDateTime">
                        {{trvn.startDateTime || '-'}}
                    </nv-td>
                    <nv-td column="endDateTime">
                        {{trvn.endDateTime || '-'}}
                    </nv-td>
                    <nv-td column="dp">
                        {{trvn.dp || '-'}}
                    </nv-td>
                    <nv-td column="pickupSize" ng-class="{'not-available': trvn._type === 'txn'}">
                        {{trvn.pickupSize || '-'}}
                    </nv-td>
                    <nv-td column="comments">
                        {{trvn.comments || '-'}}
                    </nv-td>
                </nv-table-row>
            </nv-table>
        </div>
    </div>

    <div ng-if="ctrl.isPage(ctrl.PAGES.LOADING)">
      <div nv-load="ctrl.loadForever" loading-message="{{'commons.load-data' | translate}}"></div>
    </div>

</md-content>