@import "../../../../lib/ninja-commons/styles/variables";
@import "../../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../../views/container/order/order.mixins";

md-dialog.route-logs-driver-types {
  min-width: 40rem;
  min-height: 18rem;

  .route-tags-selection-holder,
  .route-hub-selection-holder,
  .route-driver-types-selection-holder {
    padding-top: 1rem;
    padding-bottom: 1rem;

    .route-tags-selection,
    .route-hub-selection,
    .route-driver-types-selection {
      width: 100%;

      md-select {
        md-select-value {
          span {
            white-space: normal;

            .md-container {
              display: none;
            }
          }
        }
      }
    }
  }

  md-dialog-actions { border-top: none; }
}

md-dialog.route-logs-edit-route {
  max-width: 32rem;

  md-dialog-content {
    @include data-blocks;

    .data-blocks {
      padding-bottom: 1rem;

      .btn-group {
        min-width: 0 !important;
      }
    }

    .navigate-buttons-holder {
      nv-icon-text-button > button {
        margin-bottom: 1rem;
        white-space: normal;
        height: auto;
        padding: 1rem;
        text-transform: none;
      }
    }
  }

  md-dialog-actions {
    nv-icon-text-button {
      width: auto !important;
    }
  }
}

md-dialog.route-logs-edit-route-filter-hub {
  width: 45rem;

  .selection-holder {
    nv-filter-box {
      border: 0;
    }
  }
}

md-dialog.route-logs-edit-details {
  width: 60rem;
  min-height: 18rem;

  md-dialog-content {
    small.fake-input-label {
      color: $nv-text-black-2;
    }
    
    nv-autocomplete {
      margin-bottom: 2rem;
    }

    div.nv-input-date label {
      right: auto;
    }

    div.route-tags-selection-holder md-input-container.route-tags-selection {
      margin-left: 1.4rem;
      width: 100%;

      md-select md-select-value span {
        white-space: normal;

        .md-container {
          display: none;
        }
      }
    }
  }

  md-dialog-actions {
    nv-icon-text-button {
      display: inline-block;
    }

    nv-button-save {
      float: right;
    }
  }
}

md-dialog.route-logs-archive, md-dialog.route-logs-unarchive {
  min-width: 40rem;
  min-height: 18rem;

  md-dialog-actions {
    border-top: none;
  }
}

md-dialog.route-logs-optimize-selected {
  min-width: 40rem;
  min-height: 18rem;

  h5 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .table-container {
    td {
      vertical-align: middle;
    }
  }
}

md-dialog.route-logs-create-route {
  nv-icon-text-button.full {
    width: 100%;
  }

  nv-container-box.route-details {
    margin-bottom: 1.5rem;

    md-input-container .md-errors-spacer {
      min-height: 0;
    }

    div.nv-input-date label {
      right: auto;
    }

    div.nv-input-date md-datepicker {
      button.md-button.md-icon-button {
        height: 4rem;
      }

      .md-datepicker-triangle-button.md-button.md-icon-button {
        padding: 1rem;
      }
    }

    md-input-container .md-placeholder {
      opacity: 1;
      top: auto;
    }

    md-input-container label:not(.md-no-float):not(.md-container-ignore) {
      transform: translate3d(0, 4px, 0) scale(1)
    }

    div.route-tags-selection-holder md-input-container.route-tags-selection {
      width: 100%;
    }
  }

  md-input-container > md-select {
    height: 3.6rem;
  }

  .route-tags-selection md-select md-select-value span {
    white-space: normal;

    .md-container {
      display: none;
    }
  }

  nv-container-box.route-details .md-block.with-non-input {
    padding: 0.2rem;
    position: relative;
    margin: 1.8rem 0;
  }

  nv-container-box.route-details .md-block.with-non-input .nv-label-small {
    position: absolute;
    top: -1.3rem;
    color: $nv-text-black-2;
    font-size: 1.2rem;
  }

  .nv-hint {
      margin-bottom: 1.4rem;
  }
}

$bulk-edit-dialog-height: 60 rem;
md-dialog.route-logs-bulk-edit-details {
  width: 60rem;
  min-height: $bulk-edit-dialog-height;

  form {
    height: $bulk-edit-dialog-height;

    md-dialog-content {
      height: 100%;
    }
  }

  div.md-dialog-content {

    .nv-hint {
      margin-bottom: 2.8rem;
    }

    .md-block.with-non-input {
      padding: 0.2rem;
      position: relative;
      margin: 1.8rem auto;

      &:first-child {
        margin-right: 1.25rem;
      }

      &:last-child {
        margin-left: 1.25rem;
      }

      &:only-child {
        margin-right: 0;
        margin-left: 0;
      }
    }

    .md-block.with-non-input .nv-label-small {
      position: absolute;
      top: -1.3rem;
      color: $nv-text-black-2;
      font-size: 1.2rem;
    }

    md-input-container .md-errors-spacer {
      min-height: 0;
    }

    div.nv-input-date {
      top: auto;

      label {
        right: auto;
      }
    }

    div.nv-input-date md-datepicker {
      margin-right: 0.7rem;

      button.md-button.md-icon-button {
        height: 4rem;
      }

      .md-datepicker-triangle-button.md-button.md-icon-button {
        padding: 1rem;
      }
    }

    md-input-container .md-placeholder {
      opacity: 1;
      top: auto;
    }

    md-input-container label:not(.md-no-float):not(.md-container-ignore) {
      top: -2.6rem;
      transform: translate3d(0, 4px, 0) scale(1)
    }

    div.route-tags-selection-holder {
      display: inline-block;
      vertical-align: top;
      position: relative;
      padding: 0.2rem;
      margin: 1.8rem 0 0.7rem;

      md-input-container.route-tags-selection {
        width: 100%;
        padding: 0;
      }
    }

    .route-tags-selection md-select md-select-value span {
      white-space: normal;

      .md-container {
        display: none;
      }
    }
  }

  div.table-container {
    height: 42.5rem;
    position: relative;
    flex: 1;

    nv-table {
      // column width
      @include nv-table-column-width(_date, 12rem);
      @include nv-table-column-width(id, 9rem);
      @include nv-table-column-width(status, 11rem);
      @include nv-table-column-width(_driver-name, 18rem);
      @include nv-table-column-width(_hub-name, 18rem);
      @include nv-table-column-width(_zone-name, 18rem);
      @include nv-table-column-width(_driver-type-name, 18rem);
      @include nv-table-column-width(_route-group-name, 12rem);
      @include nv-table-column-width(comments, 25rem);
      @include nv-table-column-width(tags, 16rem);

      @include nv-table-row-height(5rem);

      .table-with-locks-container table.table-body tr.last-row td.end-of-result .end-of-table p,
      .table-with-locks-container table.table-body tr.last-row td.end-of-result .no-result p {
        display: none;
      }
    }
  }

  md-dialog-actions nv-button-save {
    width: 100%;

    button.nv-button {
      width: 100%;
    }
  }
}