<nv-dialog-header title="{{'container.route-logs.fetch-waypoints' | translate}}" md-theme="nvBlue"
                  on-cancel="::onCancel($event)"></nv-dialog-header>

<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <p>{{'container.route-logs.fetch-waypoints-description' | translate}}</p>
      <div class="selection-holder">
        <nv-filter-box
          main-title="{{'commons.hubs' | translate}}"
          placeholder="{{::'commons.search-or-select' | translate}}"
          persist-search-text="true"
          delegate-handle="route-logs-unrouted-waypoints-by-hubs"
          search-text="searchText"
          selected-options="selectedOptions"
          possible-options="hubsSelectionOptions"
          form="modelForm">
        </nv-filter-box>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        on-click="onCancel()"
        name="{{::'commons.cancel' | translate}}">
      </nv-icon-text-button>

      <nv-icon-text-button
        class="raised"
        on-click="onSave(selectedOptions)"
        name="{{::'commons.load' | translate}}">
      </nv-icon-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>