<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <h2 class="md-title">{{'container.route-logs.optimize-selected-route' | translate}}</h2>
      <div>
        <p>{{'container.route-logs.optimize-selected-route-info' | translate:'{count:' + coreResult.waypoints.length + '}' }}</p>
        <p ng-if="droppedWpIds.length > 0">
          {{'container.route-logs.dropped-waypoint-ids' | translate:'{wpIds:"' + joinWithComma(droppedWpIds) + '"}' }}
        </p>
        <p ng-if="droppedWpIds.length <= 0">
          {{'container.route-logs.route-optimize-didnt-drop-any-wps' | translate}}
        </p>
        <p ng-if="vrpResult.length <= 0">
          {{'container.route-logs.optimize-selected-route-error' | translate}}
        </p>
        <p ng-if="vrpResult.length > 0">
          {{'container.route-logs.optimize-selected-route-description' | translate:'{count:' + vrpResult.length + '}' }}
        </p>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        name="commons.cancel"
        on-click="onCancel()">
      </nv-icon-text-button>

      <nv-icon-text-button
        class="flat"
        disabled="vrpResult.length <= 0"
        name="container.route-logs.optimize-route"
        on-click="::onSave()">
      </nv-icon-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>
