<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <h2 class="md-title">{{'container.route-logs.archive-selected-routes' | translate}}</h2>
      <div>
        {{'container.route-logs.archive-selected-routes-description' | translate:'{count:' + selectedRoutesCount + '}' }}
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        name="commons.cancel"
        on-click="onCancel()">
      </nv-icon-text-button>

      <nv-icon-text-button
        class="flat"
        name="container.route-logs.archive-routes"
        on-click="::onSave()">
      </nv-icon-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>