<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <h2 class="md-title">{{'container.route-logs.bulk-route-optimization' | translate}}</h2>
      <div>
        <h5>
          {{'container.route-logs.optimized-routes' | translate }}
          <small>
            {{'container.route-logs.num-of-total-routes-completed' | translate:'{num: '+optimizedRoutes.length+', total: '+selectedRoutesCount+'}'}}
          </small>
        </h5>
        <div>
          <div class="table-container">
            <table class="table table-condensed table-bordered table-striped">
              <thead>
              <tr>
                <th>{{ 'commons.model.route-id' | translate }}</th>
                <th>{{ 'commons.status' | translate }}</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-if="optimizedRoutes.length > 0" ng-repeat="route in optimizedRoutes">
                <td>{{ route.id }}</td>
                <td>{{ 'container.route-logs.optimized' | translate }}</td>
              </tr>
              <tr ng-if="optimizedRoutes.length <= 0">
                <td colspan="2" class="nv-text-center">{{ 'directive.table.no-result' | translate }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <h5>{{'container.route-logs.unoptimized-routes' | translate }}</h5>
        <div>
          <span ng-repeat="row in unOptimizedRoutes">{{ row.routeId }}</span>
          <div class="table-container">
            <table class="table table-condensed table-bordered table-striped">
              <thead>
              <tr>
                <th>{{ 'commons.model.route-id' | translate }}</th>
                <th>{{ 'container.route-logs.old-waypoint-count' | translate }}</th>
                <th>{{ 'container.route-logs.new-waypoint-count' | translate }}</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-if="unOptimizedRoutes.length > 0" ng-repeat="route in unOptimizedRoutes">
                <td>{{ route.id }}</td>
                <td>{{ route.originalCount }}</td>
                <td>{{ route.newWaypointCount }}</td>
              </tr>
              <tr ng-if="unOptimizedRoutes.length <= 0">
                <td colspan="3" class="nv-text-center">{{ 'directive.table.no-result' | translate }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </md-dialog-content>
  </md-dialog>
</form>