<nv-dialog-header title="{{::'container.route-logs.create-route' | translate}}" on-cancel="::onCancel($event)"
                  cancel-text="commons.cancel"></nv-dialog-header>

<form name="modelForm" ng-submit="::onSave()" md-theme="nvBlue">
  <md-dialog-content>
    <div class="md-dialog-content">

      <nv-container-box class="route-details" ng-repeat="route in fields track by $index">
        <div class="md-block multi-input-row" layout="row">
          <nv-input-date
            class="md-block" flex="35"
            label="{{::route.date.displayName}}"
            model="route.date.value"
            form="modelForm"
            required="true">
          </nv-input-date>
          <div class="route-tags-selection-holder" flex="40">
            <nv-input-select
              class="route-tags-selection"
              label="{{::route.tags.displayName}}"
              placeholder="commons.select"
              model="route.tags.value"
              model-options="{}"
              options="tagsSelectionOptions"
              set-default="false"
              multiple="true"
              form="modelForm">
            </nv-input-select>
          </div>
          <div flex="1"></div>
          <nv-icon-text-button
            ng-if="fields.length > 1"
            class="ghost"
            name="container.route-logs.delete-draft"
            on-click="::onDeleteDraft($index)">
          </nv-icon-text-button>
        </div>

        <div layout="column">
          <div flex>
            <div class="md-block with-non-input">
              <nv-label-small label="{{::route.zoneId.displayName}}"></nv-label-small>
              <nv-autocomplete
                placeholder="{{::'commons.search-or-select' | translate}}"
                delegate-handle="route-logs-create-zone"
                multiple="false"
                selected-item="route.zoneId.value"
                selected-options="route.zoneId.selectedOptions"
                possible-options="zonesSelectionOptions"
                form="modelForm">
              </nv-autocomplete>
            </div>
          </div>
        </div>

        <div layout="column">
          <div flex>
            <div class="md-block with-non-input">
              <nv-label-small label="{{::route.hubId.displayName}}"></nv-label-small>
              <nv-autocomplete
                placeholder="{{::'commons.search-or-select' | translate}}"
                delegate-handle="route-logs-create-hub"
                multiple="false"
                selected-item="route.hubId.value"
                selected-options="route.hubId.selectedOptions"
                possible-options="hubsSelectionOptions"
                form="modelForm">
              </nv-autocomplete>
            </div>
          </div>
        </div>

        <div layout="column">
          <div flex>
            <div class="md-block with-non-input">
              <nv-label-small label="{{::route.driverId.displayName}}"></nv-label-small>
              <nv-autocomplete
                placeholder="{{::'commons.search-or-select' | translate}}"
                delegate-handle="route-logs-create-driver"
                multiple="false"
                selected-item="route.driverId.value"
                selected-options="route.driverId.selectedOptions"
                possible-options="driversSelectionOptions"
                form="modelForm">
              </nv-autocomplete>
            </div>
          </div>
        </div>

        <div layout="column">
          <div flex>
            <div class="md-block with-non-input">
              <nv-label-small label="{{::route.vehicleId.displayName}}"></nv-label-small>
              <nv-autocomplete
                placeholder="{{::'commons.search-or-select' | translate}}"
                delegate-handle="route-logs-create-vehicle"
                multiple="false"
                selected-item="route.vehicleId.value"
                selected-options="route.vehicleId.selectedOptions"
                possible-options="vehiclesSelectionOptions"
                form="modelForm">
              </nv-autocomplete>
            </div>
          </div>
        </div>

        <div layout="column">
          <div flex>
            <nv-input-textarea
              class="md-block with-non-input"
              label="{{::route.comments.displayName | translate}}"
              model="route.comments.value"
              form="modelForm">
            </nv-input-textarea>
          </div>
        </div>

      </nv-container-box>
      <nv-icon-text-button
        class="ghost full"
        name="container.route-logs.duplicate-above"
        on-click="::onDuplicateRoute()">
      </nv-icon-text-button>

    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <div layout="column" layout>
      <nv-hint ng-if="isDisabled()" text="container.route-logs.hub-zone-required" type="warning"></nv-hint>
      <nv-button-save
        icon="add"
        name="{{::'container.route-logs.create-routes' | translate}}"
        form="modelForm"
        is-disabled="::isDisabled()"
        state="saveButtonState">
      </nv-button-save>
    </div>
  </md-dialog-actions>
</form>
