<nv-dialog-header title="{{'container.route-logs.edit-details' | translate}}" md-theme="nvBlue" on-cancel="::onCancel($event)"></nv-dialog-header>

<form name="modelForm" ng-submit="::onSave()" md-theme="nvBlue">
  <md-dialog-content>
    <div class="md-dialog-content">
      <div class="md-block multi-input-row" layout="row">
        <nv-input-date
          class="md-block"
          label="{{::fields.date.displayName}}"
          model="fields.date.value"
          form="modelForm"
          required="true">
        </nv-input-date>
        <div class="route-tags-selection-holder" flex="1">
          <nv-input-select
            class="route-tags-selection"
            label="{{::fields.tags.displayName}}"
            placeholder="commons.select"
            model="fields.tags.value"
            model-options="{}"
            options="tagsSelectionOptions"
            set-default="false"
            multiple="true"
            form="modelForm">
          </nv-input-select>
        </div>
      </div>

      <div layout="column">
        <div flex>
          <div class="md-block with-non-input">
            <nv-label-small label="{{::fields.hubId.displayName}}"></nv-label-small>
            <nv-autocomplete
              placeholder="{{::'commons.search-or-select' | translate}}"
              delegate-handle="route-logs-edit-hub"
              multiple="false"
              selected-item="route._hubSelection"
              possible-options="hubsSelectionOptions"
              form="modelForm">
            </nv-autocomplete>
          </div>
        </div>
      </div>

      <div layout="column">
        <div flex>
          <div class="md-block with-non-input">
            <nv-label-small label="{{::fields.driverId.displayName}}"></nv-label-small>
            <nv-autocomplete
              placeholder="{{::'commons.search-or-select' | translate}}"
              delegate-handle="route-logs-edit-driver"
              multiple="false"
              selected-item="route._driverSelection"
              possible-options="driversSelectionOptions"
              required="true"
              form="modelForm">
            </nv-autocomplete>
          </div>
        </div>
      </div>

      <div layout="column">
        <div flex>
          <div class="md-block with-non-input">
            <nv-label-small label="{{::fields.vehicleId.displayName}}"></nv-label-small>
            <nv-autocomplete
              placeholder="{{::'commons.search-or-select' | translate}}"
              delegate-handle="route-logs-edit-vehicle"
              multiple="false"
              selected-item="route._vehicleSelection"
              possible-options="vehiclesSelectionOptions"
              form="modelForm">
            </nv-autocomplete>
          </div>
        </div>
      </div>

      <div layout="column">
        <div flex>
          <nv-input-textarea
            class="md-block with-non-input"
            label="{{::fields.comments.displayName | translate}}"
            model="fields.comments.value"
            form="modelForm">
          </nv-input-textarea>
        </div>
      </div>

    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <div style="width: 100%;">
      <nv-icon-text-button
        class="ghost"
        icon="delete"
        name="commons.delete"
        on-click="deleteSelected($event, [route])">
      </nv-icon-text-button>

      <nv-button-save
        name="commons.save-changes"
        form="modelForm"
        state="saveButtonState">
      </nv-button-save>
    </div>
  </md-dialog-actions>
</form>