<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <h2 class="md-title">{{'container.route-logs.tag-selected-routes' | translate}}</h2>
      <div>
        {{'container.route-logs.tag-selected-routes-description' | translate:'{count:' + selectedRoutesCount + '}' }}
      </div>
      <div class="route-tags-selection-holder">
        <nv-input-select
          class="route-tags-selection"
          label="container.route-logs.select-tag"
          model="fields.selectedTags"
          model-options="{}"
          options="tagsSelectionOptions"
          set-default="false"
          multiple="true">
        </nv-input-select>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        name="commons.cancel"
        on-click="onCancel()">
      </nv-icon-text-button>

      <nv-icon-text-button
        class="flat"
        name="container.route-logs.tag-routes"
        on-click="::onSave()">
      </nv-icon-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>