<nv-dialog-header title="{{'commons.bulk-edit-details' | translate}}" md-theme="nvBlue"
                  on-cancel="::onCancel($event)"></nv-dialog-header>

<form name="modelForm" ng-submit="::onSave()" md-theme="nvBlue">
  <md-dialog-content>
    <md-tabs md-border-bottom md-dynamic-height>
      <md-tab class="no-uppercase" label="{{::'commons.settings' | translate}}">
        <div class="md-dialog-content">

          <nv-hint text="commons.input.bulk-edit-hint"></nv-hint>

          <div class="md-block multi-input-row" layout="row">
            <nv-input-date
              class="md-block"
              label="{{::fields.date.displayName}}"
              model="fields.date.value"
              form="modelForm"
              required="true">
            </nv-input-date>
            <div class="route-tags-selection-holder" flex="1">
              <nv-input-select
                class="route-tags-selection"
                label="{{::fields.tags.displayName}}"
                placeholder="commons.select"
                model="fields.tags.value"
                model-options="{}"
                options="tagsSelectionOptions"
                set-default="false"
                multiple="true"
                form="modelForm">
              </nv-input-select>
            </div>
          </div>

          <div layout="column">
            <div flex>
              <div class="md-block with-non-input">
                <nv-label-small label="{{::fields.hubId.displayName}}"></nv-label-small>
                <nv-autocomplete
                  placeholder="{{::'commons.search-or-select' | translate}}"
                  delegate-handle="route-logs-edit-hub"
                  multiple="false"
                  selected-item="fields.hubId.value"
                  possible-options="hubsSelectionOptions"
                  form="modelForm">
                </nv-autocomplete>
              </div>
            </div>
          </div>
          <div layout="column">
            <div flex>
              <div class="md-block with-non-input">
                <nv-label-small label="{{::fields.driverId.displayName}}"></nv-label-small>
                <nv-autocomplete
                  placeholder="{{::'commons.search-or-select' | translate}}"
                  delegate-handle="route-logs-edit-driver"
                  multiple="false"
                  selected-item="fields.driverId.value"
                  possible-options="driversSelectionOptions"
                  form="modelForm">
                </nv-autocomplete>
              </div>
            </div>
          </div>
          <div layout="column">
            <div flex>
              <div class="md-block with-non-input">
                <nv-label-small label="{{::fields.vehicleId.displayName}}"></nv-label-small>
                <nv-autocomplete
                  placeholder="{{::'commons.search-or-select' | translate}}"
                  delegate-handle="route-logs-edit-vehicle"
                  multiple="false"
                  search-text="route._vehicleName"
                  selected-item="fields.vehicleId.value"
                  possible-options="vehiclesSelectionOptions"
                  form="modelForm">
                </nv-autocomplete>
              </div>
            </div>
          </div>

          <div layout="column">
            <div flex>
              <nv-input-textarea
                class="md-block with-non-input"
                label="{{::fields.comments.displayName | translate}}"
                model="fields.comments.value"
                form="modelForm">
              </nv-input-textarea>
            </div>
          </div>
        </div>
      </md-tab>
      <md-tab
        class="no-uppercase"
        label="{{'container.route-logs.selected-routes-x' | translate: {x: selectedRoutesCount} }}">
        <div class="table-container" flex>
          <nv-table
            param="tableParam"
            controller-as="ctrl">
            <nv-table-row
              use="route"
              row-height="50">
              <nv-td column="_date" filter="false">
                {{route._date}}
              </nv-td>
              <nv-td column="id" filter="false">
                {{route.id}}
              </nv-td>
              <nv-td column="status" filter="false">
                {{route.status}}
              </nv-td>
              <nv-td column="_driverName" filter="false">
                {{route._driverName}}
              </nv-td>
              <nv-td column="_hubName" filter="false">
                {{route._hubName}}
              </nv-td>
              <nv-td column="_zoneName" filter="false">
                {{route._zoneName}}
              </nv-td>

              <nv-td column="_driverTypeName" filter="false">
                {{route._driverTypeName}}
              </nv-td>

              <nv-td column="_routeGroupName" filter="false">
                {{route._routeGroupName}}
              </nv-td>

              <nv-td column="comments" filter="false">
                {{route.comments}}
              </nv-td>

              <nv-td column="tags" filter="false">
                {{route._tagsName}}
              </nv-td>
            </nv-table-row>
        </div>
      </md-tab>
    </md-tabs>
  </md-dialog-content>

  <md-dialog-actions>
    <nv-button-save
      icon="check"
      name="commons.save-changes"
      form="modelForm"
      state="saveButtonState">
    </nv-button-save>
  </md-dialog-actions>
</form>