<md-dialog>
  <md-dialog-content class="md-dialog-content">
    <h2 class="md-title">{{'container.route-logs.edit-routes' | translate}}</h2>

    <div>
      {{'container.route-logs.edit-routes-description' | translate}}
    </div>
    <div class="navigate-buttons-holder">
      <nv-icon-text-button
        class="raised full"
        name="container.route-logs.load-wps-of-selected-routes"
        on-click="openEditRoutePage(routes, false)">
      </nv-icon-text-button>

      <nv-icon-text-button
        class="raised full"
        ng-clazz="['nv-color9']"
        name="container.route-logs.load-selected-routes-and-unrouted-wps"
        on-click="openEditRoutePage(routes, true)">
      </nv-icon-text-button>
    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <nv-icon-text-button
      class="flat"
      name="commons.cancel"
      on-click="onCancel()">
    </nv-icon-text-button>
  </md-dialog-actions>
</md-dialog>
