<nv-dialog-header title="{{'container.recovery-tickets.find-tickets-by-csv' | translate}}" 
on-cancel="::ctrl.onCancel($event)" cancel-text="{{'commons.discard-changes' | translate }}"></nv-dialog-header>

<md-dialog-content layout="row" layout-padding layout-wrap ng-if="ctrl.showState === ctrl.STATE.READY">  
  <p flex="100">
    {{'container.recovery-tickets.find-tickets-by-csv-instruction-1' | translate}} 
    <a href="javascript::" 
      field-separator=","
      ng-csv="[{'a': 'NVSGNINJA000000001'}, { 'a': 'NVSGNINJA000000002' }, { 'a': 'NVSGNINJA000000003' }]"
      filename="search-sample.csv">{{'commons.here' | translate}}</a>
    {{'container.recovery-tickets.find-tickets-by-csv-instruction-2' | translate}}
  </p>
  <div flex="100">
    <nv-input-checkbox
      model="ctrl.isOnlyPendingAndInProgress"
      label="{{'container.recovery-tickets.only-display-unresolved-tickets' | translate}}">
    </nv-input-checkbox>
  </div>
  <div flex="100" layout="row" >
    <nv-button-file-picker      
      md-theme="nvBlue"
      class="raised"
      ng-if="!ctrl.readyToSearch"
      label="{{ 'commons.select-file' | translate }}"
      accept="{{ ctrl.filePickerType }}"
      multiple="false"
      on-file-select="ctrl.onSelectFile($file)">
    </nv-button-file-picker>
    <div ng-if="ctrl.readyToSearch"   class="change-file-container" layout="row" layout-align="space-between center">
      <span>{{ctrl.filename}}</span>
      <nv-icon-text-button
        name="commons.remove"
        on-click="ctrl.changeFile()"
        class="ghost"
        md-theme="nvGreen"
      />
    </div>    
  </div>  
  
</md-dialog-content>
<md-dialog-content layout="row" class="uploading-progress-container" layout-align="center center" layout-padding ng-if="ctrl.showState === ctrl.STATE.UPLOADING">
  <div flex="100" >
      <h5>{{"container.recovery-tickets.uploading-the-csv" | translate}}</h5>
      <md-progress-linear md-mode="indeterminate"></md-progress-linear>    
  </div>
    
</md-dialog-content>

<md-dilaog-content layout="row" layout-padding layout-wrap class="upload-result-content" ng-if="ctrl.showState === ctrl.STATE.UPLOADED">    
  <div flex="100" class="failed-create-container">
      <p ng-if="ctrl.isOnlyPendingAndInProgress">
          {{"container.recovery-tickets.no-pending-no-in-progress-found" | translate}}
      </p>
      <p ng-if="!ctrl.isOnlyPendingAndInProgress">
          {{"container.recovery-tickets.no-matching-tickets-for-these" | translate}}
      </p>
      <ul>
        <li ng-repeat="t in ctrl.notFoundTrackingIds">{{t}}</li>
      </ul>
  </div>
</md-dilaog-content>
<md-dialog-actions layout="row" layout-wrap>    
    <div ng-if="ctrl.showState === ctrl.STATE.READY" layout="row" layout-padding layout-align="end none">      
      <nv-api-text-button
        class="flat" 
        md-theme="nvGreen" 
        aria-label="cancel" 
        on-click="ctrl.onCancel()" 
        name="{{'commons.cancel' | translate }}"  
        id="cancelButton"        
        form="modelForm"            
        state="ctrl.state">
      </nv-api-text-button>
      <nv-icon-text-button
        class="raised"
        md-theme="nvBlue"
        disabled="!ctrl.readyToSearch"
        icon="search"
        on-click="ctrl.callSearch(ctrl.trackingIds)"
        label="{{'commons.search' | translate}}"
        name="{{'commons.search' | translate}}"
      />
    </div>

    <div ng-if="ctrl.showState === ctrl.STATE.UPLOADED" layout="row" layout-padding layout-align="end none">
      <nv-api-text-button
        name="commons.done"
        on-click="ctrl.onClickDone($event)"
        class="raised"
        md-theme="nvBlue"
        state="ctrl.state">
      </nv-api-text-button>
    </div>
         
</md-dialog-actions>
