@import "../../../lib/ninja-commons/styles/variables";

.nv-container-sms{
  width: 80rem;
  margin: 0 auto;

  .separator{
    margin-top: .4rem;
    margin-bottom: .4rem;
    border-bottom: .1rem solid #eaeaea;
  }

  .uploading-progress-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.8rem;
  }
  .failed-tracking-id{
    background: #f51616;
    color: #ffffff;
    padding: .8rem;
    border-radius: .3rem;
    margin: .3rem;
  }
  .sms-toolbar{
    md-card-content{
      padding: 0px;
      .sms-toolbar-box{
        border: .1rem solid #ccc;
        padding: 1.4rem;
        .max-number-msg {
          font-size: 1rem;
          color: #555555;
          margin-bottom: .3rem;
        }
      }
    }
    
  }

  .editor-container{
     .text-area-sms{
        border: .1rem solid #aaa;
        border-radius: .3rem;
        .help-text{
          text-align: right;
        }
        textarea{
          height: 24rem !important;
        }
      }
  }
  .preview-container{
    .text-area-sms{
      background: #efefef;
    }
  }  
  .editor-header{
    height: 3rem;
  }

  .sub-header{
    color: #BCBCBC;
  }

 
  .legend-container{
    ul{
      list-style-type: none;
      padding: 0;
      margin: 0;
      li.legend-item{
        display: inline-block;
        background: #afefff;
        border-radius: .3rem;
        padding: .5rem;
        margin: 1rem .5rem .5rem .5rem;
        cursor: pointer;
        label{
          font-size: .8rem;
        }
      }
    }
    

  }

  .sms-history{
    .sms-history-container{
      display: flex;
      flex-direction: column;
      width: 100%;
      .history-table-container{  
        height: 40rem;
        position: relative;
        flex:1;  
          nv-table{
            @include nv-table-column-width(route, 10rem);
            @include nv-table-column-width(sent-time, 15rem);
            @include nv-table-column-width(to-number, 20rem);
            @include nv-table-column-width(message, 40rem);            
          }
        
      }
      
    }
  }


}

.nv-partial-failed-upload-csv{
  width: 70rem;
  height: 45rem;
  md-dialog-content{
    padding: 1.8rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    p.all-failed{
      color: $nv-dark-red;
      background: $nv-light-red;
      margin: .8rem auto;
      padding: 1.8rem;
    }

    div.failed-upload-table-container{
      position: relative;
      flex:1;
      nv-table{
        @include nv-table-column-width(tracking_id, 15rem);
        @include nv-table-column-width(error-msg, 45rem);
      }


    }
    
  }
  
}