<div layout="row" layout-wrap class="nv-container-sms">
    <md-card flex="100" class="sms-toolbar">
        <md-card-content layout="row" layout-wrap>
            <div flex="50" layout="row" class="sms-toolbar-box" layout-wrap>
                <div flex="100">
                    <h5>{{"container.sms.upload-order-file" | translate }}</h5>
                </div>
                <div flex="100">
                    <p>{{"container.sms.run-a-messaging-campaign" | translate }}</p>
                </div>
                <div flex="100" layout="column">
                    <div class="max-number-msg">
                        {{'container.sms.maximum-number-of-messages-that-can-be-sent' | translate: { x: 10000 } }}
                    </div>
                    <nv-button-file-picker  
                        class="raised" 
                        md-theme="nvBlue" 
                        label="{{'commons.upload-file' | translate}}" 
                        icon="file_upload"
                        multiple="true"
                        accept="{{ctrl.nvButtonFilePickerType.CSV}}" 
                        on-file-select="ctrl.onFileSelect($file)"
                        on-file-reject="ctrl.onFileReject()">
                    </nv-button-file-picker>
                </div>                
            </div>
            <div flex="50" layout="row" class="sms-toolbar-box" layout-wrap>
                <div flex="100">
                    <h5>{{"container.sms.retrieve-message-records-by-tracking-id" | translate}}</h5>
                </div>

                <div flex="100">
                    <p>{{"container.sms.view-message-history-pertaining-to-the-order" | translate}}</p>
                </div>

                <div flex="100" layout="row" layout-wrap>
                    <nv-input-text 
                        flex="75"
                        class="md-block" 
                        label="{{'container.sms.search-tracking-id' | translate }}" 
                        name="trackingId" 
                        model="ctrl.trackingId"
                        model-options="{}" 
                        error-msgs="ctrl.trackingIdMsgs">
                    </nv-input-text>
                    <nv-icon-text-button 
                        flex="25"
                        text="commons.load" 
                        on-click="ctrl.onLoadSmsHistory(ctrl.trackingId)" 
                        md-theme="nvBlue" 
                        icon="search"
                        class="raised">
                    </nv-icon-text-button>
                </div>

            </div>
        </md-card-content>
    </md-card>

    <div flex="100" 
        ng-if="ctrl.state=='uploading'" 
        class="uploading-progress-container" 
        layout="row" 
        layout-wrap
        layout-padding>
        <div  ng-hide="ctrl.partialSuccess" flex="100" layout="row" layout-wrap layout-align="center none">
            <h5 flex="50">{{"container.sms.uploading-processing-x" | translate: {x: ctrl.fileName} }}</h5>
        </div>
        <div ng-hide="ctrl.partialSuccess" flex="100" layout="row" layout-wrap layout-align="center none">
            <md-progress-linear flex="80" md-mode="indeterminate" ></md-progress-linear>
        </div>
    </div>

    <md-card ng-if="ctrl.showPage=='editor'" flex="100" class="sms-editor" md-theme="nvGreen">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <i class="material-icons">send</i>
                <span>{{"container.sms.compose-message" | translate}}</span>
            </div>
        </md-toolbar>
        <md-card-content layout="row" layout-wrap>
            <div class="uploaded-info" flex="100" layout="row" layout-wrap>
                    <div flex="20">
                        <span>{{"container.sms.uploaded-file" | translate }}</span>
                        <p><b>{{ctrl.fileName}}</b></p>
                    </div>
                    <div flex="20">
                        <span>{{"container.sms.number-of-messages" | translate }}</span>
                        <p><b>{{ctrl.records.length}}</b></p>
                    </div>
            </div>

            <div layout="row" flex="100" layout-wrap layout-padding>
                <div flex="50" class="message-container editor-container" layout="row" layout-wrap>
                    <div flex="100" layout="row" layout-wrap class="editor-header">
                        <h5 flex="33" class="sub-header">{{"container.sms.sms-message" | translate}}</h5>
                    </div>
                    
                    <nv-input-textarea
                        flex="100"
                        class="text-area-sms"
                        name="message"
                        model="ctrl.messageTemplate"
                        model-options="{}"                        
                        name="messageTemplate"
                        help-text="{{ctrl.editorHelpText}}"
                        on-change="ctrl.onChangeEditor(text)"
                    >
                    </nv-input-textarea>
                </div>

                <div flex="50" class="preview-container editor-container" layout="row" layout-wrap>
                    <div flex="100" layout="row" layout-wrap class="editor-header" layout-align="space-between none">
                        <h5 flex="33" class="sub-header">{{"container.sms.sms-preview" | translate}}</h5>
                    
                        <nv-icon-text-button
                            flex="25"
                            class="ghost h6 dense"
                            md-theme="nvBlue"
                            model="ctrl.messagePreview"
                            text="{{'commons.update' | translate}}"
                            button-id="sms-update-preview-btn"
                            on-click="ctrl.updatePreview()"
                            icon="refresh"
                        >
                        </nv-icon-text-button>
                    </div>
                    <nv-input-textarea
                        flex="100"
                        class="text-area-sms"
                        name="preview"
                        model="ctrl.messagePreview"
                        model-options="{}"
                        read-only="true">
                    </nv-input-textarea>
                </div>
            </div>

            <div flex="100" layout="row" layout-wrap class="legend-container">                
                <div flex="100">
                    <p>{{"container.sms.double-click-tap" | translate }}</p>
                </div>
                <div flex="100">
                    <ul>
                        <li 
                            ng-repeat="field in ctrl.fields" 
                            class="legend-item"
                            ng-dblclick="ctrl.onAddVariableToEditor(field.name, $event, $element)">
                            <span >
                               {{<b>{{field.name}}</b>}}
                            </span>
                            <span ng-show="field.isUrl">
                                <input  ng-model="field.shorten" type="checkbox">
                                <label>{{'container.sms.shorten-url' | translate}}</label>
                            </span>
                        </li>
                    </ul>
                    
                </div>
            </div>

        </md-card-content>

        <md-card-actions layout="row" layout-align=" end"> 
            <nv-api-text-button
                text="container.sms.send-messages"
                name="container.sms.send-messages"
                icon="send"
                disabled="!ctrl.messageTemplate && !ctrl.whatsappMessageTemplate"
                state="ctrl.sendSmsState"
                class="raised h5"
                md-theme="nvGreen"
                on-click="ctrl.sendSms()">
            </nv-api-text-button>

        </md-card-actions>
    </md-card>

    <md-card flex="100" ng-if="ctrl.showPage=='history'" class="sms-history" md-theme="nvBlue">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span>{{"container.sms.sms-history" | translate}}</span>
            </div>
        </md-toolbar>
        <md-card-content class="sms-history-container">
            <div layout="row">
                <span ng-bind-html="'container.sms.tracking-id-x' | translate: {x: ctrl.trackingId} "></span>
            </div>
            <div class="history-table-container">
                <nv-table
                    class="history-table"
                    param="ctrl.tableParam"
                    controller-as="ctrl"
                >
                <nv-table-row use="sms">
                    <nv-index></nv-index>
                    <nv-td column="route">
                        {{sms.route || '-'}}
                    </nv-td>
                    <nv-td column="sentTime">
                        {{sms.sentTime | nvTime:'operator':'datetime' || '-'}}
                    </nv-td>
                    <nv-td column="toNumber">
                        {{sms.toNumber || '-'}}
                    </nv-td>
                    <nv-td column="message">
                        {{sms.message || '-'}}
                    </nv-td>
                </nv-table-row>

            </nv-table>

            </div>
        </md-card-content>



    </md-card>

</div>