<nv-dialog-header title="{{'container.recovery-tickets.create-tickets-via-csv' | translate}}" 
on-cancel="::ctrl.onCancel($event)" cancel-text="{{'commons.discard-changes' | translate }}"></nv-dialog-header>

<md-dialog-content layout="row" class="main-screen" layout-padding layout-wrap ng-if="ctrl.showState === ctrl.STATE.READY">
    <md-tabs md-dynamic-height md-border-bottom md-selected="ctrl.selectedTab">
        <md-tab class="no-uppercase" label="Create">
            <div flex="100" layout="row" layout-wrap class="toolbar-row">
                <h5>
                    {{'container.recovery-tickets.instructions' | translate}}
                </h5>
                <nv-icon-button
                  on-click="ctrl.toggleInstructions()"
                  class="dense expand collapse-btn"
                  md-theme="nvBlue"
                  ng-if="!ctrl.showInstructions"
                  icon="keyboard_arrow_down
                  ">
                </nv-icon-button>
                <nv-icon-button
                  on-click="ctrl.toggleInstructions()"
                  class="dense collapse collapse-btn"
                  ng-if="ctrl.showInstructions"
                  md-theme="nvBlue"
                  icon="keyboard_arrow_up
                  ">
                </nv-icon-button>
                
                <div flex></div>
                <nv-download-csv-button
                  name="container.recovery-tickets.download-template"
                  md-theme="nvGreen"
                  data="ctrl.SAMPLE_CSV"
                  class="dense ghost"
                  csv-header="{{::ctrl.SAMPLE_CSV_HEADER}}"        
                  csv-column-order="{{::ctrl.SAMPLE_CSV_HEADER}}"
                  filename="ticketing-csv-template.csv">
                </nv-download-csv-button>      
            </div>
            <div flex="100" class="instructions-container" ng-show="ctrl.showInstructions" layout="row" layout-padding>
              <ol>
              <li>{{'container.recovery-tickets.csv-format-6-columns' | translate}}</li>
              <li>
                {{'container.recovery-tickets.column-headers' | translate}}
                <ol type="A">
                  <li>{{'container.recovery-tickets.tracking-id' | translate}}</li>
                  <li>{{'container.recovery-tickets.type-acronym' | translate}}</li>
                  <li>{{'container.recovery-tickets.subtype-acronym' | translate}}</li>
                  <li>{{'container.recovery-tickets.investigating-dept' | translate}}</li>
                  <li>{{'container.recovery-tickets.assignee' | translate}}</li>
                  <li>{{'container.recovery-tickets.investigating-hub-id' | translate}}</li>
                </ol>
               </li>
               <li>{{'container.recovery-tickets.for-list-hub-id-you-can-check' | translate}} <a href="javascript:;" ng-click="ctrl.openHubAdministration()">{{'commons.here' | translate}}</a></li>
             </ol>
            </div>
          
            <div flex="100" layout="row" layout-wrap layout-padding>
              <div class="table-container" flex="65">
                  <div flex="100" layout="row">
                      <h5>{{'container.recovery-tickets.type-and-subtype-mapping' | translate}}</h5>      
                      <div flex></div>            
                      <nv-search-input-filter 
                        class="search-legend"
                        search-text= "ctrl.searchText"
                        on-change= "ctrl.searchLegend()"
                        debounce= "250"
                        icon="search"
                        placeholder= "{{'commons.search' | translate }}"
                        >
                      </nv-search-input-filter>
                  </div>
                  
                  <table class="acronym-table table table-stripped">
                    <thead>
                      <tr>
                        <th class="type">
                          {{'container.recovery-tickets.type' | translate}}
                        </th>
                        <th class="subtype">
                          {{'container.recovery-tickets.subtype' | translate}}
                        </th>
                        <th class="type-acronym">
                          {{'container.recovery-tickets.type-acronym' | translate}}
                        </th>
                        <th class="subtype-acronym">
                          {{'container.recovery-tickets.subtype-acronym' | translate}}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="item in ctrl.legendItems">
                        <td class="type">{{item.type}}</td>
                        <td class="subtype">{{item.subtype}}</td>
                        <td class="type-acronym">{{item.typeAcronym}}</td>
                        <td class="subtype-acronym">{{item.subtypeAcronym}}</td>
                      </tr>
                    </tbody>
              
                  </table>
              </div>
          
              <div class="table-container" flex="35">
                <div flex="100" layout="row">
                  <h5>{{'container.recovery-tickets.extra-legends' | translate}}</h5>          
                  <div flex></div>            
                  <nv-search-input-filter 
                    class="search-legend-extra"
                    search-text= "ctrl.searchTextExtra"
                    on-change= "ctrl.searchLegendExtra()"
                    debounce= "250"
                    icon="search"
                    placeholder= "{{'commons.search' | translate }}"
                  >
                  </nv-search-input-filter>
                </div>
                <table class="extra-legend table table-stripped">
                    <thead>
                      <tr>
                        <th class="name">{{'container.recovery-tickets.name' | translate}}</th>
                        <th class="acronym">{{'container.recovery-tickets.acronym' | translate}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="item in ctrl.legendExtra">
                        <td class="name">{{item.name}}</td>
                        <td class="acronym">{{item.acronym}}</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
              
            </div>
        </md-tab>
        <md-tab label="Check Status">
          <div flex="100" layout="row" layout-wrap>
            <p>{{"container.recovery-tickets.check-job-id-instructions" | translate }}</p>
            <div flex="100" layout="row">
              <nv-input-text
                model="ctrl.checkForm.jobId"
                label="Job Id"
                flex="60">
              </nv-input-text>              
              <nv-icon-text-button
                on-click="ctrl.checkForm.searchJobId(ctrl.checkForm.jobId)"
                class="raised dense"
                state="ctrl.checkForm.state"
                name="commons.search">
              </nv-icon-text-button>
            </div>            
          </div>
          <div flex="100" ng-if="ctrl.checkForm.status">
            <h5>{{'container.recovery-tickets.job-id' | translate}}: {{ctrl.checkForm.currentJobId}}</h5>
            <h5>{{'commons.status' | translate}} : {{ctrl.checkForm.status}}</h5>
          </div>
        </md-tab>
    </md-tabs>  
</md-dialog-content>
<md-dialog-content layout="row" layout-padding layout-wrap ng-if="ctrl.showState === ctrl.STATE.TOO_MANY_ROWS">
  <p flex="100">
    {{"container.recovery-ticekts.the-uploaded-uploaded-csv-file-exceeds-the-row-limit" | translate}}
  </p>
  <div flex="100">
    <nv-icon-text-button
      name="container.recovery-tickets.upload-another-file"
      on-click="ctrl.uploadAnotherFile()"
      class="raised"      
      md-theme="nvGreen">
    </nv-icon-text-button>
  </div>
</md-dialog-content>
<md-dialog-content layout="row" layout-padding layout-wrap ng-if="ctrl.showState === ctrl.STATE.VALIDATION_FAILED">
  <p flex="100">The uploaded csv contains invalid tracking id</p>
  <div flex="100" layout="row" layout-wrap layout-padding>
    <nv-download-csv-button
        name="container.recovery-tickets.download-error-data"
        md-theme="nvRed"
        data="ctrl.invalidData"
        class="dense ghost"
        csv-header="{{::ctrl.ERROR_CSV_HEADER}}"        
        csv-column-order="{{::ctrl.ERROR_CSV_HEADER}}"
        filename="invalid-data.csv">
    </nv-download-csv-button>
    <nv-icon-text-button
      name="container.recovery-tickets.upload-another-file"
      on-click="ctrl.uploadAnotherFile()"
      class="raised"      
      md-theme="nvGreen">
    </nv-icon-text-button>
    <nv-icon-text-button
      name="container.recovery-tickets.proceed-with-valid-data"
      on-click="ctrl.proceed()"
      class="raised"
      icon="forward"
      disabled="ctrl.data.length === 0"
      md-theme="nvGreen">
    </nv-icon-text-button>    
  </div>

</md-dialog-content>

<md-dialog-content layout="row" class="uploading-progress-container" layout-align="center center" layout-padding ng-if="ctrl.showState === ctrl.STATE.UPLOADING">
  <div flex="100" >
      <h5>{{"container.recovery-tickets.uploading-the-csv" | translate}}</h5>
      <md-progress-linear md-mode="indeterminate"></md-progress-linear>    
  </div>
    
</md-dialog-content>

<md-dilaog-content layout="row" layout-padding layout-wrap class="upload-result-content" ng-if="ctrl.showState === ctrl.STATE.UPLOADED">  
  <div flex="100" class="success-create-container" ng-if="ctrl.successUploads.length > 0">
    <p>
      {{'container.recovery-tickets.successfully-create-tickets-for-following-tracking-ids' | translate}}
    </p>
    <table class="table table-stripped">
      <thead>
        <tr>
          <th class="tracking-id">{{'container.recovery-tickets.tracking-id' | translate}}</th>
          <th class="ticket-id">{{'container.recovery-tickets.ticket-id' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in ctrl.successUploads">
          <td class="tracking-id">{{data.trackingId}}</td>
          <td class="ticket-id">{{data.ticket.id}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div flex="100" class="failed-create-container" ng-show="ctrl.failedUploads.length > 0">
      <p>
        {{'container.recovery-tickets.we-are-unable-to-create-tickets-for-following-tracking-ids' | translate}}
      </p>
      <table class="table table-stripped">
        <thead>
          <tr>
            <th class="tracking-id">{{'container.recovery-tickets.tracking-id' | translate}}</th>
            <th class="failure-reason">{{'container.recovery-tickets.failure-reason' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="data in ctrl.failedUploads">
            <td class="tracking-id">{{data.trackingId}}</td>
            <td class="failure-reason">{{data.message}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</md-dilaog-content>
<md-dialog-content layout="row" layout-padding layout-wrap class="async-upload-result-content" ng-if="ctrl.showState === ctrl.STATE.ASYNC_UPLOADED">
  <p>
    {{ 'container.recovery-tickets.your-csv-has-been-uploaded-with-id' | translate }} <a href="javascript:void(0)" ngclipboard data-clipboard-text="{{ctrl.asyncId}}" ngclipboard-success=""><b>{{ctrl.asyncId}}</b></a>. 
    {{ 'container.recovery-tickets.success-upload-msg' | translate}} <a href="javascript:void(0)" ng-click='ctrl.showCheckDialog()' >{{ 'commons.here' | translate }}</a>.
    {{ 'container.recovery-tickets.success-upload-msg2' | translate}}
  </p>
</md-dialog-content>
<md-dialog-actions layout="row" layout-wrap>
    <div class="uploaded-file-name-container" ng-show="ctrl.file" layout-align="end center" layout="row" flex="100">
      <div flex="50">
        {{ "container.recovery-tickets.uploaded-file-name-x" | translate: { x: ctrl.file.name } }}
      </div>
    </div>
    <div ng-if="ctrl.showState === ctrl.STATE.READY" layout="row" layout-padding layout-align="end none">
      <nv-button-file-picker
        md-theme="nvYellow"
        class="raised upload"
        label="{{'container.recovery-tickets.choose-file' | translate}}"
        accept=".csv"
        multiple="false"      
        disabled="ctrl.state=='waiting'"
        on-file-select="::ctrl.onSelectFile($file)">
      </nv-button-file-picker>
      <nv-api-text-button
        class="raised" 
        md-theme="nvGreen" 
        aria-label="Upload" 
        on-click="ctrl.onUpload()" 
        name="{{'container.recovery-tickets.upload-file' | translate }}"  
        id="createButton"
        disabled="!ctrl.file"
        form="modelForm"            
        state="ctrl.state">
      </nv-api-text-button>   
    </div>

    <div ng-if="ctrl.showState === ctrl.STATE.UPLOADED || ctrl.showState === ctrl.STATE.ASYNC_UPLOADED" layout="row" layout-padding layout-align="end none">
      <nv-icon-text-button
        name="container.recovery-tickets.upload-another-file"
        on-click="ctrl.uploadAnotherFile()"
        md-theme="nvGreen"
        class="ghost"
      >
      </nv-icon-text-button>
      <nv-icon-text-button
        name="commons.done"
        on-click="ctrl.onClickDone($event)"
        class="raised"
        md-theme="nvBlue"
        >
      </nv-icon-text-button>
    </div>
         
</md-dialog-actions>
