md-dialog.distribution-point-add,
md-dialog.distribution-point-edit {

  md-dialog-content {
    height: 58.6rem; // workaround for the initial flash when the dialog elements aren't fully loaded yet
  }

  .vertical-padding {
    padding: 0.8rem 0;
  }

  .shipper-container {
    display: inline-block;
    position: relative;
    margin-bottom: 0.7rem;
    margin-top: 0.7rem;
    padding: 0.2rem;

    > label.nv-small {
      position: absolute;
      bottom: 100%;
      left: 0;
      right: auto;
      transform: translate3d(0, 4px, 0) scale(1);
      color: rgba(33, 33, 33, 0.67);
    }
  }
  .to{
    text-align: center;
    margin-top: 1rem; 
  }

  .md-dialog-content {

    .no-margin-bottom {
      margin-bottom: 0;
    }

    .search-address {
      margin: 0.9rem 0 3.6rem;

      .nv-p-capt {
        padding-left: 1rem;
      }
    }

    > .md-block:last-child {
      margin-bottom: 0;
    }

    .border{
      border-radius: .3rem;
      border: 1px solid #eaeaea;
      padding: 1.2rem;
      margin-top: 1.2rem;
    }
    .header-container{
      margin-bottom: 1.2rem;
    }
    .nv-hint{
      margin-bottom: 1.8rem;
    }
  }

}
