<nv-dialog-header title="Add Distribution Point" on-cancel="::onCancel($event)"
                  cancel-text="commons.cancel"></nv-dialog-header>

<form name="modelForm" ng-submit="::onSave()" md-theme="nvBlue">

    <md-dialog-content ng-show="!state.isAddressFinder">
        <div class="md-dialog-content">

            <div class="md-block multi-input-row" layout="row">
                <nv-input-text
                        label="{{::fields.name.displayName}} *"
                        model="fields.name.value"
                        form="modelForm"
                        required="::true">
                </nv-input-text>

                <nv-input-text
                        label="{{::fields.short_name.displayName}}"
                        model="fields.short_name.value"
                        form="modelForm">
                </nv-input-text>
            </div>

            <div class="md-block multi-input-row vertical-padding" layout="row">
                <nv-input-select
                        label="{{::fields.type.displayName}} *"
                        model="fields.type.value"
                        model-options="{}"
                        options="fields.type.options"
                        form="modelForm"
                        required="true">
                </nv-input-select>

                <nv-input-switch
                    md-theme="nvGreen"
                    label="{{::fields.can_shipper_lodge_in.displayName}}"
                    model="fields.can_shipper_lodge_in.value"
                    form="modelForm"
                    switch-enabled-text="Yes"
                    switch-disabled-text="No">
                </nv-input-switch>
            </div>

            <div class="md-block multi-input-row vertical-padding" layout="row">
                <nv-input-select
                  label="{{::fields.driver_collection_mode.displayName}} *"
                  model="fields.driver_collection_mode.value"
                  model-options="{}"
                  options="fields.driver_collection_mode.options"
                  form="modelForm"
                  required="true">
                </nv-input-select>

                <nv-input-switch
                  md-theme="nvGreen"
                  label="{{::fields.can_customer_collect.displayName}}"
                  model="fields.can_customer_collect.value"
                  form="modelForm"
                  switch-enabled-text="Yes"
                  switch-disabled-text="No">
                </nv-input-switch>
            </div>
            <div class="md-block multi-input-row" layout="row">
              <nv-input-number
                label="{{::fields.max_parcel_stay_duration.displayName}} *"
                model="fields.max_parcel_stay_duration.value"
                form="modelForm"
                required="::true">
              </nv-input-number>
            </div>

            <div class="md-block multi-input-row" layout="row">
              <nv-input-text
                label="{{::fields.external_store_id.displayName}}"
                model="fields.external_store_id.value"
                form="modelForm">
              </nv-input-text>
              
              <nv-input-switch
                md-theme="nvGreen"
                label="{{::fields.is_public.displayName}}"
                model="fields.is_public.value"
                form="modelForm"
                switch-enabled-text="Yes"
                switch-disabled-text="No">
              </nv-input-switch>
            </div>
      
            <div class="md-block multi-input-row" layout="row">
              <nv-input-number
                label="{{::fields.actual_max_capacity.displayName}} *"
                model="fields.actual_max_capacity.value"
                form="modelForm"
                required="::true">
              </nv-input-number>
      
              <nv-input-number
                label="{{::fields.computed_max_capacity.displayName}} *"
                model="fields.computed_max_capacity.value"
                form="modelForm"
                required="::true">
              </nv-input-number>
            </div>

            <div class="md-block multi-input-row" layout="row">
                <nv-input-tel
                        label="{{::fields.contact.displayName}} *"
                        model="fields.contact.value"
                        form="modelForm"
                        required="::true">
                </nv-input-tel>

                <nv-input-switch
                        md-theme="nvGreen"
                        label="{{::fields.is_active.displayName}}"
                        model="fields.is_active.value"
                        form="modelForm"
                        switch-enabled-text="Active"
                        switch-disabled-text="Inactive">
                </nv-input-switch>
            </div>

            <div class="md-block multi-input-row" layout="row">
                <div class="shipper-container" flex>
                    <label class="nv-small">Shipper Account</label>
                    <nv-autocomplete
                            hide-search-icon="true"
                            hide-dropdown-icon="true"
                            delay="300"
                            clear-on-blur="false"
                            min-text-length="3"
                            delegate-handle="{{::fields.shipper_id.delegateHandle}}">
                    </nv-autocomplete>
                </div>

                <nv-input-switch
                        md-theme="nvGreen"
                        label="{{::fields.is_ninja_warehouse.displayName}}"
                        model="fields.is_ninja_warehouse.value"
                        form="modelForm"
                        switch-enabled-text="Yes"
                        switch-disabled-text="No">
                </nv-input-switch>
            </div>

            <div class="md-block" layout="row">
                <div class="md-block with-non-input" flex="100">
                    <nv-label-small label="{{::fields.hub_id.displayName}}"></nv-label-small>
                    <nv-autocomplete
                            hide-search-icon="true"
                            search-text="searchText"
                            placeholder="{{::fields.hub_id.displayName | translate}}"
                            delegate-handle="{{ ::fields.hub_id.delegateHandle }}"
                            multiple="false"
                            selected-item="fields.hub_id.value"
                            form="modelForm">
                    </nv-autocomplete>
                </div>
            </div>

            <div class="md-block search-address" layout="row" layout-align="start center">
                <md-button
                        type="button"
                        md-theme="nvBlue"
                        class="nv-button raised"
                        aria-label="Search Address"
                        ng-click="onClickFind()">
                    Search Address
                </md-button>
                <div class="nv-p-capt">or enter manually:</div>
            </div>

            <nv-input-text
                    class="md-block"
                    label="{{::fields.address_1.displayName}} *"
                    model="fields.address_1.value"
                    form="modelForm"
                    required="::true">
            </nv-input-text>

            <nv-input-text
              class="md-block no-margin-bottom"
              label="{{::fields.address_2.displayName}} *"
              model="fields.address_2.value"
              form="modelForm"
              required="::true">
            </nv-input-text>

            <div class="md-block multi-input-row" layout="row">
              <nv-input-text
                class="md-block"
                label="{{::fields.unit_number.displayName}} *"
                model="fields.unit_number.value"
                form="modelForm"
                required="::true">
              </nv-input-text>
      
              <nv-input-text
                class="md-block no-margin-bottom"
                label="{{::fields.floor_number.displayName}} *"
                model="fields.floor_number.value"
                form="modelForm"
                required="::true">
              </nv-input-text>
            </div>

            <div class="md-block multi-input-row" layout="row">
                <nv-input-text
                        label="{{::fields.city.displayName}} *"
                        model="fields.city.value"
                        form="modelForm"
                        required="::true">
                </nv-input-text>

                <nv-input-text
                        class="md-block"
                        label="{{::fields.postal_code.displayName}} *"
                        model="fields.postal_code.value"
                        form="modelForm"
                        required="::true">
                </nv-input-text>
            </div>

            <div class="md-block multi-input-row" layout="row">
                <nv-input-text
                        label="{{::fields.latitude.displayName}}"
                        model="fields.latitude.value"
                        form="modelForm">
                </nv-input-text>

                <nv-input-text
                        label="{{::fields.longitude.displayName}}"
                        model="fields.longitude.value"
                        form="modelForm">
                </nv-input-text>
            </div>

            <nv-input-textarea
                    class="md-block"
                    label="{{::fields.directions.displayName}}"
                    model="fields.directions.value"
                    form="modelForm">
            </nv-input-textarea>
             <!-- OPERATING HOUR -->
            <div flex="100" layout-wrap layout="row" class="border">

                <div flex="100" class="header-container">
                    <h5>{{"container.dp-administration.dps.operating-hours" | translate}}</h5>
                </div>
                <nv-hint flex="100"
                        text="container.dp-administration.dps.enter-the-operating-hours"
                        icon="info"
                ></nv-hint>
                <div flex="100">
                    <nv-btn-grp
                            class="boolean-container"
                            model="fields.selectedModeOperating"
                            label-for-model-idx-0="Set for All Days"
                            label-for-model-idx-1="Set Specific Days"
                            default-selection="10"
                            select-multiple="false"
                            form="modelForm"
                            select-none="false">
                    </nv-btn-grp>
                </div>

                <div flex="100" ng-if="fields.selectedModeOperating==='10'"
                     layout="row" layout-wrap>
                    <div flex="20">
                        <p class="nv-p">{{"container.dp-administration.dps.monday-sunday" | translate}}</p>
                    </div>
                    <div flex="80" layout="row" layout-wrap>
                        <div flex="100" layout="row" layout-wrap ng-repeat="opHours in fields.operating_hours.allDay">
                            <nv-input-time-select
                                    flex="40"
                                    model="opHours.start_time"
                                    on-change="onAllDayChangeOperating(opHours.start_time, 'start_time')"
                                    name="start-all-0">
                            </nv-input-time-select>
                            <div flex="10" class="to">
                                to
                            </div>
                            <nv-input-time-select
                                    flex="40"
                                    model="opHours.end_time"
                                    on-change="onAllDayChangeOperating(opHours.end_time, 'end_time')"
                                    name="end-all-0">
                            </nv-input-time-select>
                            <nv-icon-button
                                    ng-if="$index===0"
                                    icon="add"
                                    class="ghost dense"
                                    name="add-all-0"
                                    flex="10"
                                    on-click="$parent.addMoreOperatingHour('allDay')">
                            </nv-icon-button>

                            <nv-icon-button
                                    ng-if="$index>0"
                                    icon="remove"
                                    class="ghost dense"
                                    name="add-all-0"
                                    flex="10"
                                    on-click="$parent.removeOperatingHour('allDay', $index)">
                            </nv-icon-button>
                        </div>
                    </div>
                </div>

                <div flex="100" ng-if="fields.selectedModeOperating==='01'"
                     layout="row" layout-wrap>

                    <div flex="100" layout="row" layout-wrap>
                        <div flex="20">
                            <nv-input-checkbox
                                    model="fields.selectedDateOperating.monday"
                                    label="{{'container.dp-administration.dps.monday' | translate}}"
                            ></nv-input-checkbox>
                        </div>
                        <div flex="80" layout="row" layout-wrap>
                            <div flex="100" layout="row" layout-wrap
                                 ng-repeat="opHours in fields.operating_hours.monday">

                                <nv-input-time-select
                                        flex="40"
                                        model="opHours.start_time"
                                        disabled="!fields.selectedDateOperating.monday"
                                        name="start-monday-0">
                                </nv-input-time-select>
                                <div flex="10" class="to">
                                    to
                                </div>
                                <nv-input-time-select
                                        flex="40"
                                        model="opHours.end_time"
                                        disabled="!fields.selectedDateOperating.monday"
                                        name="end-monday-0">
                                </nv-input-time-select>
                                <nv-icon-button
                                        ng-if="$index===0"
                                        icon="add"
                                        class="ghost dense"
                                        name="add-monday-0"
                                        disabled="!fields.selectedDateOperating.monday"
                                        flex="10"
                                        on-click="$parent.addMoreOperatingHour('monday')">
                                </nv-icon-button>
                                <nv-icon-button
                                        ng-if="$index>0"
                                        icon="remove"
                                        class="ghost dense"
                                        name="remove-monday-0"
                                        flex="10"
                                        on-click="$parent.removeOperatingHour('monday', $index)">
                                </nv-icon-button>

                            </div>
                        </div>
                    </div>

                    <div flex="100" layout="row" layout-wrap>
                        <div flex="20">
                            <nv-input-checkbox
                                    model="fields.selectedDateOperating.tuesday"
                                    label="{{'container.dp-administration.dps.tuesday' | translate}}"
                            ></nv-input-checkbox>

                        </div>
                        <div flex="80" layout="row" layout-wrap>
                            <div flex="100" layout="row" layout-wrap
                                 ng-repeat="opHours in fields.operating_hours.tuesday">
                                <nv-input-time-select
                                        flex="40"
                                        model="opHours.start_time"
                                        disabled="!fields.selectedDateOperating.tuesday"
                                        name="start-tuesday-0">
                                </nv-input-time-select>
                                <div flex="10" class="to">
                                    to
                                </div>
                                <nv-input-time-select
                                        flex="40"
                                        model="opHours.end_time"
                                        disabled="!fields.selectedDateOperating.tuesday"
                                        name="end-tuesday-0">
                                </nv-input-time-select>
                                <nv-icon-button
                                        ng-if="$index===0"
                                        icon="add"
                                        class="ghost dense"
                                        name="add-tuesday-0"
                                        disabled="!fields.selectedDateOperating.tuesday"
                                        flex="10"
                                        on-click="$parent.addMoreOperatingHour('tuesday')">
                                </nv-icon-button>
                                <nv-icon-button
                                        ng-if="$index>0"
                                        icon="remove"
                                        class="ghost dense"
                                        name="remove-tuesday-0"
                                        flex="10"
                                        on-click="$parent.removeOperatingHour('tuesday', $index)">
                                </nv-icon-button>

                            </div>
                        </div>
                    </div>

                    <div flex="100" layout="row" layout-wrap>
                        <div flex="20">
                            <nv-input-checkbox
                                    model="fields.selectedDateOperating.wednesday"
                                    label="{{'container.dp-administration.dps.wednesday' | translate}}"
                            ></nv-input-checkbox>
                        </div>
                        <div flex="80" layout="row" layout-wrap>
                            <div flex="100" layout="row" layout-wrap
                                 ng-repeat="opHours in fields.operating_hours.wednesday">
                                <nv-input-time-select
                                        flex="40"
                                        model="opHours.start_time"
                                        disabled="!fields.selectedDateOperating.wednesday"
                                        name="start-wednesday-0">
                                </nv-input-time-select>
                                <div flex="10" class="to">
                                    to
                                </div>
                                <nv-input-time-select
                                        flex="40"
                                        model="opHours.end_time"
                                        disabled="!fields.selectedDateOperating.wednesday"
                                        name="end-wednesday-0">
                                </nv-input-time-select>
                                <nv-icon-button
                                        ng-if="$index===0"
                                        icon="add"
                                        class="ghost dense"
                                        disabled="!fields.selectedDateOperating.wednesday"
                                        name="add-wednesday-0"
                                        flex="10"
                                        on-click="$parent.addMoreOperatingHour('wednesday')">
                                </nv-icon-button>
                                <nv-icon-button
                                        ng-if="$index>0"
                                        icon="remove"
                                        class="ghost dense"
                                        name="remove-wednesday-0"
                                        flex="10"
                                        on-click="$parent.removeOperatingHour('wednesday', $index)">
                                </nv-icon-button>
                            </div>
                        </div>
                    </div>

                    <div flex="100" layout="row" layout-wrap>
                        <div flex="20">
                            <nv-input-checkbox
                                    model="fields.selectedDateOperating.thursday"
                                    label="{{'container.dp-administration.dps.thursday' | translate}}"
                            ></nv-input-checkbox>
                        </div>
                        <div flex="80" layout="row" layout-wrap>
                            <div flex="100" layout="row" layout-wrap
                                 ng-repeat="opHours in fields.operating_hours.thursday">
                                <nv-input-time-select
                                        model="opHours.start_time"
                                        name="start-thursday-{{$index}}"
                                        disabled="!fields.selectedDateOperating.thursday"
                                        flex="40">
                                </nv-input-time-select>
                                <div flex="10" class="to">
                                    to
                                </div>
                                <nv-input-time-select
                                        model="opHours.end_time"
                                        name="end-thursday-{{$index}}"
                                        disabled="!fields.selectedDateOperating.thursday"
                                        flex="40">
                                </nv-input-time-select>
                                <nv-icon-button
                                        ng-if="$index===0"
                                        icon="add"
                                        class="ghost dense"
                                        disabled="!fields.selectedDateOperating.thursday"
                                        flex="10"
                                        name="add-thursday-{{$index}}"
                                        on-click="$parent.addMoreOperatingHour('thursday')">
                                </nv-icon-button>
                                <nv-icon-button
                                        ng-if="$index>0"
                                        icon="remove"
                                        class="ghost dense"
                                        name="remove-thursday-0"
                                        flex="10"
                                        on-click="$parent.removeOperatingHour('thursday', $index)">
                                </nv-icon-button>
                            </div>
                        </div>
                    </div>

                    <div flex="100" layout="row" layout-wrap>
                        <div flex="20">
                            <nv-input-checkbox
                                    model="fields.selectedDateOperating.friday"
                                    label="{{'container.dp-administration.dps.friday' | translate}}"
                            ></nv-input-checkbox>
                        </div>
                        <div flex="80" layout="row" layout-wrap>
                            <div flex="100" layout="row" layout-wrap
                                 ng-repeat="opHours in fields.operating_hours.friday">
                                <nv-input-time-select
                                        model="opHours.start_time"
                                        disabled="!fields.selectedDateOperating.friday"
                                        name="start-friday-{{$index}}"
                                        flex="40">
                                </nv-input-time-select>
                                <div flex="10" class="to">
                                    to
                                </div>
                                <nv-input-time-select
                                        model="opHours.end_time"
                                        disabled="!fields.selectedDateOperating.friday"
                                        name="end-friday-{{$index}}"
                                        flex="40">
                                </nv-input-time-select>
                                <nv-icon-button
                                        ng-if="$index===0"
                                        icon="add"
                                        class="ghost dense"
                                        disabled="!fields.selectedDateOperating.friday"
                                        flex="10"
                                        name="add-friday-{{$index}}"
                                        on-click="$parent.addMoreOperatingHour('friday')">
                                </nv-icon-button>
                                <nv-icon-button
                                        ng-if="$index>0"
                                        icon="remove"
                                        class="ghost dense"
                                        name="remove-friday-0"
                                        flex="10"
                                        on-click="$parent.removeOperatingHour('friday', $index)">
                                </nv-icon-button>
                            </div>
                        </div>
                    </div>

                    <div flex="100" layout="row" layout-wrap>
                        <div flex="20">
                            <nv-input-checkbox
                                    model="fields.selectedDateOperating.saturday"
                                    label="{{'container.dp-administration.dps.saturday' | translate}}"
                            ></nv-input-checkbox>
                        </div>
                        <div flex="80" layout="row" layout-wrap>
                            <div flex="100" layout="row" layout-wrap
                                 ng-repeat="opHours in fields.operating_hours.saturday">
                                <nv-input-time-select
                                        model="opHours.start_time"
                                        disabled="!fields.selectedDateOperating.saturday"
                                        name="start-saturday-{{$index}}"
                                        flex="40">
                                </nv-input-time-select>
                                <div flex="10" class="to">
                                    to
                                </div>
                                <nv-input-time-select
                                        model="opHours.end_time"
                                        disabled="!fields.selectedDateOperating.saturday"
                                        name="end-saturday-{{$index}}"
                                        flex="40">
                                </nv-input-time-select>
                                <nv-icon-button
                                        ng-if="$index===0"
                                        icon="add"
                                        class="ghost dense"
                                        disabled="!fields.selectedDateOperating.saturday"
                                        flex="10"
                                        name="add-saturday-{{$index}}"
                                        on-click="$parent.addMoreOperatingHour('saturday')">
                                </nv-icon-button>
                                <nv-icon-button
                                        ng-if="$index>0"
                                        icon="remove"
                                        class="ghost dense"
                                        name="remove-saturday-0"
                                        flex="10"
                                        on-click="$parent.removeOperatingHour('saturday', $index)">
                                </nv-icon-button>
                            </div>
                        </div>
                    </div>

                    <div flex="100" layout="row" layout-wrap>
                        <div flex="20">
                            <nv-input-checkbox
                                    model="fields.selectedDateOperating.sunday"
                                    label="{{'container.dp-administration.dps.sunday' | translate}}"
                            ></nv-input-checkbox>
                        </div>
                        <div flex="80" layout="row" layout-wrap>
                            <div flex="100" layout="row" layout-wrap
                                 ng-repeat="opHours in fields.operating_hours.sunday">
                                <nv-input-time-select
                                        model="opHours.start_time"
                                        disabled="!fields.selectedDateOperating.sunday"
                                        name="start-sunday-{{$index}}"
                                        flex="40">
                                </nv-input-time-select>
                                <div flex="10" class="to">
                                    to
                                </div>
                                <nv-input-time-select
                                        model="opHours.end_time"
                                        disabled="!fields.selectedDateOperating.sunday"
                                        name="end-sunday-{{$index}}"
                                        flex="40">
                                </nv-input-time-select>
                                <nv-icon-button
                                        ng-if="$index===0"
                                        icon="add"
                                        disabled="!fields.selectedDateOperating.sunday"
                                        class="ghost dense"
                                        flex="10"
                                        name="add-sunday-{{$index}}"
                                        on-click="$parent.addMoreOperatingHour('sunday')">
                                </nv-icon-button>
                                <nv-icon-button
                                        ng-if="$index>0"
                                        icon="remove"
                                        class="ghost dense"
                                        name="remove-sunday-0"
                                        flex="10"
                                        on-click="$parent.removeOperatingHour('sunday', $index)">
                                </nv-icon-button>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div flex="100" layout="row">
                    <p flex="100">
                        {{"container.dp-administration.dps.for-24-hour-operation" | translate}}
                    </p>
                </div>
            </div>

            <div flex="100" layout-wrap layout="row" class="border">

                <div flex="100" class="header-container">
                    <h5>{{"container.dp-administration.dps.official-opening-hours" | translate}}</h5>
                </div>
                <nv-hint flex="100"
                        text="container.dp-administration.dps.enter-the-opening-hours"
                        icon="info"
                ></nv-hint>
                <div flex="100">
                    <nv-btn-grp
                            class="boolean-container"
                            model="fields.selectedMode"
                            label-for-model-idx-0="Set for All Days"
                            label-for-model-idx-1="Set Specific Days"
                            default-selection="10"
                            select-multiple="false"
                            onchange="onChangeFinderMode(index)"
                            form="modelForm"
                            select-none="false">
                    </nv-btn-grp>
                </div>

                <div flex="100" ng-if="fields.selectedMode==='10'"
                     layout="row" layout-wrap>
                    <div flex="20">
                        <p class="nv-p">{{"container.dp-administration.dps.monday-sunday" | translate}}</p>
                    </div>
                    <div flex="80" layout="row" layout-wrap>
                        <div flex="100" layout="row" layout-wrap ng-repeat="opHours in fields.opening_hours.allDay">
                            <nv-input-time-select
                                    flex="40"
                                    model="opHours.start_time"
                                    on-change="onAllDayChange(opHours.start_time, 'start_time')"
                                    name="start-all-0">
                            </nv-input-time-select>
                            <div flex="10" class="to">
                                to
                            </div>
                            <nv-input-time-select
                                    flex="40"
                                    model="opHours.end_time"
                                    on-change="onAllDayChange(opHours.end_time, 'end_time')"
                                    name="end-all-0">
                            </nv-input-time-select>
                            <nv-icon-button
                                    ng-if="$index===0"
                                    icon="add"
                                    class="ghost dense"
                                    name="add-all-0"
                                    flex="10"
                                    on-click="$parent.addMoreOpeningHour('allDay')">
                            </nv-icon-button>

                            <nv-icon-button
                                    ng-if="$index>0"
                                    icon="remove"
                                    class="ghost dense"
                                    name="add-all-0"
                                    flex="10"
                                    on-click="$parent.removeOpeningHour('allDay', $index)">
                            </nv-icon-button>
                        </div>
                    </div>
                </div>

                <div flex="100" ng-if="fields.selectedMode==='01'"
                     layout="row" layout-wrap>

                    <div flex="100" layout="row" layout-wrap>
                        <div flex="20">
                            <nv-input-checkbox
                                    model="fields.selectedDate.monday"
                                    label="{{'container.dp-administration.dps.monday' | translate}}"
                            ></nv-input-checkbox>
                        </div>
                        <div flex="80" layout="row" layout-wrap>
                            <div flex="100" layout="row" layout-wrap
                                 ng-repeat="opHours in fields.opening_hours.monday">

                                <nv-input-time-select
                                        flex="40"
                                        model="opHours.start_time"
                                        disabled="!fields.selectedDate.monday"
                                        name="start-monday-0">
                                </nv-input-time-select>
                                <div flex="10" class="to">
                                    to
                                </div>
                                <nv-input-time-select
                                        flex="40"
                                        model="opHours.end_time"
                                        disabled="!fields.selectedDate.monday"
                                        name="end-monday-0">
                                </nv-input-time-select>
                                <nv-icon-button
                                        ng-if="$index===0"
                                        icon="add"
                                        class="ghost dense"
                                        name="add-monday-0"
                                        disabled="!fields.selectedDate.monday"
                                        flex="10"
                                        on-click="$parent.addMoreOpeningHour('monday')">
                                </nv-icon-button>
                                <nv-icon-button
                                        ng-if="$index>0"
                                        icon="remove"
                                        class="ghost dense"
                                        name="remove-monday-0"
                                        flex="10"
                                        on-click="$parent.removeOpeningHour('monday', $index)">
                                </nv-icon-button>

                            </div>
                        </div>
                    </div>

                    <div flex="100" layout="row" layout-wrap>
                        <div flex="20">
                            <nv-input-checkbox
                                    model="fields.selectedDate.tuesday"
                                    label="{{'container.dp-administration.dps.tuesday' | translate}}"
                            ></nv-input-checkbox>

                        </div>
                        <div flex="80" layout="row" layout-wrap>
                            <div flex="100" layout="row" layout-wrap
                                 ng-repeat="opHours in fields.opening_hours.tuesday">
                                <nv-input-time-select
                                        flex="40"
                                        model="opHours.start_time"
                                        disabled="!fields.selectedDate.tuesday"
                                        name="start-tuesday-0">
                                </nv-input-time-select>
                                <div flex="10" class="to">
                                    to
                                </div>
                                <nv-input-time-select
                                        flex="40"
                                        model="opHours.end_time"
                                        disabled="!fields.selectedDate.tuesday"
                                        name="end-tuesday-0">
                                </nv-input-time-select>
                                <nv-icon-button
                                        ng-if="$index===0"
                                        icon="add"
                                        class="ghost dense"
                                        name="add-tuesday-0"
                                        disabled="!fields.selectedDate.tuesday"
                                        flex="10"
                                        on-click="$parent.addMoreOpeningHour('tuesday')">
                                </nv-icon-button>
                                <nv-icon-button
                                        ng-if="$index>0"
                                        icon="remove"
                                        class="ghost dense"
                                        name="remove-tuesday-0"
                                        flex="10"
                                        on-click="$parent.removeOpeningHour('tuesday', $index)">
                                </nv-icon-button>

                            </div>
                        </div>
                    </div>

                    <div flex="100" layout="row" layout-wrap>
                        <div flex="20">
                            <nv-input-checkbox
                                    model="fields.selectedDate.wednesday"
                                    label="{{'container.dp-administration.dps.wednesday' | translate}}"
                            ></nv-input-checkbox>
                        </div>
                        <div flex="80" layout="row" layout-wrap>
                            <div flex="100" layout="row" layout-wrap
                                 ng-repeat="opHours in fields.opening_hours.wednesday">
                                <nv-input-time-select
                                        flex="40"
                                        model="opHours.start_time"
                                        disabled="!fields.selectedDate.wednesday"
                                        name="start-wednesday-0">
                                </nv-input-time-select>
                                <div flex="10" class="to">
                                    to
                                </div>
                                <nv-input-time-select
                                        flex="40"
                                        model="opHours.end_time"
                                        disabled="!fields.selectedDate.wednesday"
                                        name="end-wednesday-0">
                                </nv-input-time-select>
                                <nv-icon-button
                                        ng-if="$index===0"
                                        icon="add"
                                        class="ghost dense"
                                        disabled="!fields.selectedDate.wednesday"
                                        name="add-wednesday-0"
                                        flex="10"
                                        on-click="$parent.addMoreOpeningHour('wednesday')">
                                </nv-icon-button>
                                <nv-icon-button
                                        ng-if="$index>0"
                                        icon="remove"
                                        class="ghost dense"
                                        name="remove-wednesday-0"
                                        flex="10"
                                        on-click="$parent.removeOpeningHour('wednesday', $index)">
                                </nv-icon-button>
                            </div>
                        </div>
                    </div>

                    <div flex="100" layout="row" layout-wrap>
                        <div flex="20">
                            <nv-input-checkbox
                                    model="fields.selectedDate.thursday"
                                    label="{{'container.dp-administration.dps.thursday' | translate}}"
                            ></nv-input-checkbox>
                        </div>
                        <div flex="80" layout="row" layout-wrap>
                            <div flex="100" layout="row" layout-wrap
                                 ng-repeat="opHours in fields.opening_hours.thursday">
                                <nv-input-time-select
                                        model="opHours.start_time"
                                        name="start-thursday-{{$index}}"
                                        disabled="!fields.selectedDate.thursday"
                                        flex="40">
                                </nv-input-time-select>
                                <div flex="10" class="to">
                                    to
                                </div>
                                <nv-input-time-select
                                        model="opHours.end_time"
                                        name="end-thursday-{{$index}}"
                                        disabled="!fields.selectedDate.thursday"
                                        flex="40">
                                </nv-input-time-select>
                                <nv-icon-button
                                        ng-if="$index===0"
                                        icon="add"
                                        class="ghost dense"
                                        disabled="!fields.selectedDate.thursday"
                                        flex="10"
                                        name="add-thursday-{{$index}}"
                                        on-click="$parent.addMoreOpeningHour('thursday')">
                                </nv-icon-button>
                                <nv-icon-button
                                        ng-if="$index>0"
                                        icon="remove"
                                        class="ghost dense"
                                        name="remove-thursday-0"
                                        flex="10"
                                        on-click="$parent.removeOpeningHour('thursday', $index)">
                                </nv-icon-button>
                            </div>
                        </div>
                    </div>

                    <div flex="100" layout="row" layout-wrap>
                        <div flex="20">
                            <nv-input-checkbox
                                    model="fields.selectedDate.friday"
                                    label="{{'container.dp-administration.dps.friday' | translate}}"
                            ></nv-input-checkbox>
                        </div>
                        <div flex="80" layout="row" layout-wrap>
                            <div flex="100" layout="row" layout-wrap
                                 ng-repeat="opHours in fields.opening_hours.friday">
                                <nv-input-time-select
                                        model="opHours.start_time"
                                        name="start-friday-{{$index}}"
                                        disabled="!fields.selectedDate.friday"
                                        flex="40">
                                </nv-input-time-select>
                                <div flex="10" class="to">
                                    to
                                </div>
                                <nv-input-time-select
                                        model="opHours.end_time"
                                        name="end-friday-{{$index}}"
                                        disabled="!fields.selectedDate.friday"
                                        flex="40">
                                </nv-input-time-select>
                                <nv-icon-button
                                        ng-if="$index===0"
                                        icon="add"
                                        class="ghost dense"
                                        disabled="!fields.selectedDate.friday"
                                        flex="10"
                                        name="add-friday-{{$index}}"
                                        on-click="$parent.addMoreOpeningHour('friday')">
                                </nv-icon-button>
                                <nv-icon-button
                                        ng-if="$index>0"
                                        icon="remove"
                                        class="ghost dense"
                                        name="remove-friday-0"
                                        flex="10"
                                        on-click="$parent.removeOpeningHour('friday', $index)">
                                </nv-icon-button>
                            </div>
                        </div>
                    </div>

                    <div flex="100" layout="row" layout-wrap>
                        <div flex="20">
                            <nv-input-checkbox
                                    model="fields.selectedDate.saturday"
                                    label="{{'container.dp-administration.dps.saturday' | translate}}"
                            ></nv-input-checkbox>
                        </div>
                        <div flex="80" layout="row" layout-wrap>
                            <div flex="100" layout="row" layout-wrap
                                 ng-repeat="opHours in fields.opening_hours.saturday">
                                <nv-input-time-select
                                        model="opHours.start_time"
                                        name="start-saturday-{{$index}}"
                                        disabled="!fields.selectedDate.saturday"
                                        flex="40">
                                </nv-input-time-select>
                                <div flex="10" class="to">
                                    to
                                </div>
                                <nv-input-time-select
                                        model="opHours.end_time"
                                        name="end-saturday-{{$index}}"
                                        disabled="!fields.selectedDate.saturday"
                                        flex="40">
                                </nv-input-time-select>
                                <nv-icon-button
                                        ng-if="$index===0"
                                        icon="add"
                                        class="ghost dense"
                                        disabled="!fields.selectedDate.saturday"
                                        flex="10"
                                        name="add-saturday-{{$index}}"
                                        on-click="$parent.addMoreOpeningHour('saturday')">
                                </nv-icon-button>
                                <nv-icon-button
                                        ng-if="$index>0"
                                        icon="remove"
                                        class="ghost dense"
                                        name="remove-saturday-0"
                                        flex="10"
                                        on-click="$parent.removeOpeningHour('saturday', $index)">
                                </nv-icon-button>
                            </div>
                        </div>
                    </div>

                    <div flex="100" layout="row" layout-wrap>
                        <div flex="20">
                            <nv-input-checkbox
                                    model="fields.selectedDate.sunday"
                                    label="{{'container.dp-administration.dps.sunday' | translate}}"
                            ></nv-input-checkbox>
                        </div>
                        <div flex="80" layout="row" layout-wrap>
                            <div flex="100" layout="row" layout-wrap
                                 ng-repeat="opHours in fields.opening_hours.sunday">
                                <nv-input-time-select
                                        model="opHours.start_time"
                                        name="start-sunday-{{$index}}"
                                        disabled="!fields.selectedDate.sunday"
                                        flex="40">
                                </nv-input-time-select>
                                <div flex="10" class="to">
                                    to
                                </div>
                                <nv-input-time-select
                                        model="opHours.end_time"
                                        name="end-sunday-{{$index}}"
                                        disabled="!fields.selectedDate.sunday"
                                        flex="40">
                                </nv-input-time-select>
                                <nv-icon-button
                                        ng-if="$index===0"
                                        icon="add"
                                        class="ghost dense"
                                        disabled="!fields.selectedDate.sunday"
                                        flex="10"
                                        name="add-sunday-{{$index}}"
                                        on-click="$parent.addMoreOpeningHour('sunday')">
                                </nv-icon-button>
                                <nv-icon-button
                                        ng-if="$index>0"
                                        icon="remove"
                                        class="ghost dense"
                                        name="remove-sunday-0"
                                        flex="10"
                                        on-click="$parent.removeOpeningHour('sunday', $index)">
                                </nv-icon-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div flex="100" layout="row">
                     <p flex="100">
                        {{"container.dp-administration.dps.for-24-hour-operation" | translate}}
                     </p>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-content class="md-padding" ng-show="state.isAddressFinder">
        <nv-address-finder
            on-search-mode-changed="angular.noop()"
            callback="onClickback(address)">
        </nv-address-finder>
    </md-dialog-content>

    <md-dialog-actions>
        <nv-button-save name="Submit" form="modelForm" state="saveButtonState"></nv-button-save>
    </md-dialog-actions>

</form>
