@import "../../../../../lib/ninja-commons/styles/variables";

.pricing-script-v2-linked-shippers-dialog {

  $defaultWidth: 60rem;
  $greenColorLight: #E1F6E1;
  $greenColor: #ACE6AC;
  $redColorDark: #C73351;
  $redColorLight: #FFE7EC;
  $redColor: #FDBDCB;

	width: $defaultWidth !important;

  .header {
    font-size: $font-size-h5;

    .bold {
      font-weight: bold;
    }
  }

  .autocomplete-label {
    label {
      color: rgba(33,33,33,0.67);
      font-size: 1.2rem;
    }
  }

  .ng-table-container {
    max-height: 30rem;
    overflow-y: auto;

    td.green-shipper {
      border: 1px solid $greenColor;
      background-color: $greenColorLight;
    }

    td.red-shipper {
      border: 1px solid $redColor;
      background-color: $redColorLight;
    }

    .align-left {
      text-align: left;
    }

    .removed {
      color: $redColorDark;
    }

    td.name {
      width:100%;
    }
  }
}
