<nv-dialog-header
  title="Link Shippers"
  on-cancel="ctrl.func.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<form name="modelForm" ng-submit="ctrl.func.onSave()">
  <!--LOADING-->
  <md-dialog-content class="md-dialog-content" flex="100" ng-if="ctrl.state.page === 0">
    <div layout="row" flex="100" layout-align="center center">
      <md-progress-circular md-mode="indeterminate" md-diameter="60"></md-progress-circular>
    </div>
  </md-dialog-content>
  <!--CONTENT-->
  <md-dialog-content class="md-dialog-content" flex="100" ng-if="ctrl.state.page === 1">
    <div class="header" layout="row">
      <div class="bold">{{ctrl.func.getSelectedShippersLength()}}</div>
      <div ng-if="ctrl.func.getSelectedShippersLength() <= 1">&nbsp;{{ 'container.pricing-scripts.shippers-linked-to' | translate }}&nbsp;</div>
      <div ng-if="ctrl.func.getSelectedShippersLength() > 1">&nbsp;{{ 'container.pricing-scripts.shippers-linked-to' | translate }}&nbsp;</div>
      <div class="bold">{{ctrl.view.name}}</div>
    </div>
    <div class="md-block autocomplete-label vertical-padding-4" layout="column" flex="100">
      <label>{{ 'container.pricing-scripts.add-shipper' | translate }}</label>
      <nv-autocomplete 
        search-text="ctrl.view.textShipper"
        placeholder="{{ 'commons.search-or-select' | translate }}"
        delegate-handle="linked-shippers"
        item-types="shipper"
        multiple="::true"
        on-select="ctrl.func.onAdd($item)"
        hide-dropdown-icon="true"
        delay="300"
        clear-on-blur="false"
        min-text-length="3">
      </nv-autocomplete>
    </div>

    <div ng-if="ctrl.func.getSelectedShippersLength() === 0" flex="100" layout-align="center center">
      <h5>{{ 'container.pricing-scripts.no-shipper-linked' | translate }}</h5>
    </div>
    <div class="ng-table-container" ng-if="ctrl.func.getSelectedShippersLength() > 0" flex="100">
      <table ng-table="ctrl.view.shipperTableParam" class="table table-bordered table-striped">
        <tr ng-repeat="shipper in $data">
          <td data-title="'Name'" class="name" header-class="'align-left'" ng-class="{'green-shipper': shipper.state === ctrl.SHIPPER_STATE.ADD}"
            sortable="'state'" layout="row" layout-align="space-between center">
            <div>{{shipper.displayName}}</div>
            <div>
              <nv-icon-text-button
                ng-if="shipper.changed === true"
                name="commons.undo"
                class="flat dense"
                on-click="ctrl.func.onUndo(shipper)">
              </nv-icon-text-button>
            </div>
          </td>
        </tr>
    </table>
  </div>
  </md-dialog-content>
  <!--ERROR-->
  <md-dialog-content class="md-dialog-content" flex="100" ng-if="ctrl.state.page === 2">
    <div layout="row" flex="100" layout-align="center center">
      Error
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <div layout="row">
      <nv-api-text-button
        md-theme="nvGreen"
        flex="100"
        name="commons.save-changes"
        icon="done"
        class="raised"
        state="ctrl.state.save"
        disabled="!ctrl.func.isAbleToSave()"
        on-click="ctrl.func.onSave()">
      </nv-api-text-button>
    </div>
  </md-dialog-actions>
</form>