@import "../../../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../../../styles/variables";

md-dialog.route-inbound-money-collection {
  width: 80rem;

  md-dialog-content {
    md-ink-bar {
      color: map-get(map-get($themeColor, 'nvBlue'), 'dark') !important;
      background: map-get(map-get($themeColor, 'nvBlue'), 'dark') !important;
    }

    .input {
      padding: $nv-baseline-grid*4;

      .expected-total-holder, .outstanding-amount-holder {
        display: inline-block;
        width: 14rem;
      }

      .outstanding-amount-holder {
        .fully-collected {
          position: relative;
          top: -0.6rem;

          > * {
            vertical-align: middle;
          }

          p {
            display: inline-block;
            margin: 0;
          }
        }
      }
    }

    .details, .history {
      padding: $nv-baseline-grid;

      p.header {
        @include nv-font-weight(medium);
        @include nv-font-color(white);
        margin-bottom: 0;
        background-color: map-get(map-get($themeColor, 'nvBlue'), 'dark');
        padding: 1.4rem;
        font-size: 1.6rem;

        &.collected-orders, &.history {
          margin-top: 0;
        }
      }

      .table-container {
        nv-table {
          .last-row:not(.last-row-no-result) {
            $lastRowHeight: 5rem;

            height: $lastRowHeight;

            .end-of-result {
              height: $lastRowHeight;

              .end-of-table {
                height: $lastRowHeight;

                p {
                  display: none;
                }
              }
            }
          }

          &.collected-orders-table {
            // column width
            @include nv-table-column-width(processed-cod-amount, 16rem);
            @include nv-table-column-width(processed-cod-collected, 16rem);
            @include nv-table-column-width(tracking_id, 18rem);
            @include nv-table-column-width(stamp_id, 18rem);
            @include nv-table-column-width(custom-type, 11rem);
            @include nv-table-column-width(location, 25rem);
            @include nv-table-column-width(contact, 14rem);
            @include nv-table-column-width(name, 18rem);

            td.processed-cod-amount {
              text-align: right;
            }

            td.processed-cod-collected {
              text-align: right;
            }
          }

          &.uncollected-orders-table {
            // column width
            @include nv-table-column-width(processed-cod-amount, 16rem);
            @include nv-table-column-width(tracking_id, 18rem);
            @include nv-table-column-width(stamp_id, 18rem);
            @include nv-table-column-width(custom-type, 11rem);
            @include nv-table-column-width(issue, 20rem);
            @include nv-table-column-width(location, 25rem);

            td.processed-cod-amount {
              text-align: right;
            }
          }

          &.cash-inbound-history-table {
            // column width
            @include nv-table-column-width(processed-amount, 16rem);
            @include nv-table-column-width(processed-type, 12rem);
            @include nv-table-column-width(inbounded_by, 16rem);
            @include nv-table-column-width(processed-created-at, 16rem);
            @include nv-table-column-width(receipt_no, 100%);

            td.processed-amount {
              text-align: right;
            }
          }

          &.collected-reservation-fees-table {
            // column width
            @include nv-table-column-width(total-collected-amount, 16rem);
            @include nv-table-column-width(id, 14rem);
            @include nv-table-column-width(shipper_name, 25rem);

            td.total-collected-amount {
              text-align: right;
            }
          }
        }
      }
    }
  }
}