<form name="ctrl.inputForm.form">
  <nv-dialog-header
    title="{{ 'container.route-inbound.money-collection' | translate}}"
    on-cancel="ctrl.onCancel()"
    cancel-text="commons.cancel">
  </nv-dialog-header>

  <md-dialog-content>
    <md-tabs
      md-dynamic-height md-border-bottom
      ng-if="ctrl.enableInputTab">
      <md-tab label="{{ 'container.route-inbound.input' | translate }}"
              md-on-select="ctrl.inputTabSelected(true)">
        <div ng-include="'views/container/route-inbound/dialog/money-collection/section/input.html'">
        </div>
      </md-tab>
      <md-tab label="{{ 'container.route-inbound.history' | translate }}"
              md-on-select="ctrl.inputTabSelected(false)">
        <div ng-include="'views/container/route-inbound/dialog/money-collection/section/history.html'">
        </div>
      </md-tab>
      <md-tab label="{{ 'commons.details' | translate }}"
              md-on-select="ctrl.inputTabSelected(false)">
        <div ng-include="'views/container/route-inbound/dialog/money-collection/section/details.html'">
        </div>
      </md-tab>
    </md-tabs>

    <md-tabs
      md-dynamic-height md-border-bottom
      ng-if="!ctrl.enableInputTab">
      <md-tab label="{{ 'container.route-inbound.history' | translate }}"
              md-on-select="ctrl.inputTabSelected(false)">
        <div ng-include="'views/container/route-inbound/dialog/money-collection/section/history.html'">
        </div>
      </md-tab>
      <md-tab label="{{ 'commons.details' | translate }}"
              md-on-select="ctrl.inputTabSelected(false)">
        <div ng-include="'views/container/route-inbound/dialog/money-collection/section/details.html'">
        </div>
      </md-tab>
    </md-tabs>
  </md-dialog-content>

  <md-dialog-actions ng-if="ctrl.isInputTabSelected">
    <nv-icon-text-button
      class="flat"
      name="commons.cancel"
      on-click="ctrl.onCancel()">
    </nv-icon-text-button>

    <nv-api-text-button
      state="ctrl.inputForm.submitState"
      class="raised"
      name="commons.save"
      on-click="ctrl.onSubmit()"
      form="ctrl.inputForm.form">
    </nv-api-text-button>
  </md-dialog-actions>
</form>