@import "../../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/typography.mixins";

.nv-container-shippers-list {
  height: 100%;

  .fill-height {
    height: 100%;
  }

  div[class*="flex"] {
    margin: auto;
  }

  > div {
    height: 100%;

    md-content {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;

      .table-container {
        position: relative;
        flex: 1;

        nv-table {
          // column width
          @include nv-table-column-width(id, 8rem);
          @include nv-table-column-width(name, 18rem);
          @include nv-table-column-width(email, 20rem);
          @include nv-table-column-width(_industry, 14rem);
          @include nv-table-column-width(liaison_email, 20rem);
          @include nv-table-column-width(contact, 12rem);
          @include nv-table-column-width(sales_person, 12rem);
          @include nv-table-column-width(_status, 10rem);

          // action columns
          @include nv-table-action-columns(nv-table-action-width("four-dense-p"));

          tr.last-row td.end-of-result {
            .end-of-table {
              height: 5rem !important;

              p {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}