<md-content class="nv-container-shippers-list"
            nv-load="ctrl.getAll" loading-message="{{'container.shippers.load-shippers' | translate}}">
  <div layout="row" class="fill-height">
    <div flex class="fill-height">
      <md-content>
        <div class="action-toolbar" layout="row" layout-align="end center" layout-padding>
          <nv-icon-text-button
            name="container.shippers.create-shipper"
            icon="add"
            on-click="ctrl.openCreateShipper($event)"
            md-theme="nvGreen"
            class="raised p"
          >
          </nv-icon-text-button>
        </div>
        <nv-table-description
          table-param="ctrl.tableParam"
          title-display="mainTitle">
        </nv-table-description>
        <div class="table-container" ng-if="!ctrl.tableParam.empty">
          <nv-table
            param="ctrl.tableParam"
            controller-as="ctrl">
            <nv-table-row
              use="shipper">
              <nv-td column="id">
                {{shipper.id}}
              </nv-td>
              <nv-td column="name">
                {{shipper.name}}
              </nv-td>
              <nv-td column="email">
                {{shipper.email}}
              </nv-td>
              <nv-td column="_industry">
                {{shipper._industry}}
              </nv-td>
              <nv-td column="liaison_email">
                {{shipper.liaison_email}}
              </nv-td>
              <nv-td column="contact">
                {{shipper.contact}}
              </nv-td>
              <nv-td column="sales_person">
                {{shipper.sales_person}}
              </nv-td>
              <nv-td column="_status">
                {{ shipper._status | translate }}
              </nv-td>
              <nv-action column="actions">
                <div class="nv-icon-button-group" layout="row" layout-align="center center">
                  <nv-icon-button
                    md-theme="nvYellow"
                    class="ghost dense"
                    name="container.shippers.shipper-dashboard-login"
                    icon="exit_to_app"
                    on-click="ctrl.loginShipper(shipper)">
                  </nv-icon-button>
                  <nv-icon-button
                    md-theme="nvBlue"
                    ng-if="!ctrl.isSaasEnv"
                    disabled="!shipper._hasNinjaDashAccount"
                    class="ghost dense"
                    name="container.shippers.ninja-dashboard-login-new"
                    icon="open_in_new"
                    on-click="ctrl.loginNinjaDash(shipper)">
                  </nv-icon-button>
                  <nv-icon-button
                    md-theme="nvBlue"
                    class="ghost dense"
                    name="container.shippers.billing"
                    icon="attach_money"
                    on-click="ctrl.showBillingDialog($event, shipper)">
                  </nv-icon-button>
                  <nv-icon-button
                    md-theme="nvBlue"
                    class="ghost dense"
                    name="commons.edit"
                    icon="edit"
                    on-click="ctrl.editShipper($event, shipper)">
                  </nv-icon-button>
                </div>
              </nv-action>
            </nv-table-row>
          </nv-table>
        </div>

        <div class="nv-p nv-text-center" ng-if="ctrl.tableParam.empty">{{'container.shippers.no-shipper-exist' | translate}}</div>
      </md-content>
    </div>
  </div>
</md-content>