@import "../../../../../lib/ninja-commons/styles/variables";
@import "../../../../../styles/variables";

.order-edit-delete-order {
  .password-holder {
    padding-top: $nv-baseline-grid;
    padding-bottom: $nv-baseline-grid;

    md-input-container {
      .md-errors-spacer {
        display: none;
      }
    }
  }
}