<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <h2 class="md-title">{{ 'container.order.edit.delete-order' | translate }}</h2>
      <div>
        {{ 'container.order.edit.delete-order-confirmation-text' | translate }}
      </div>
      <div class="password-holder">
        <nv-input-password
          class="md-block"
          label="{{'commons.password' | translate}}"
          model="ctrl.formPassword"
          form="modelForm">
        </nv-input-password>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        name="commons.go-back"
        on-click="ctrl.onCancel()">
      </nv-icon-text-button>
      <nv-api-text-button
        md-theme="nvRed"
        class="flat"
        state="ctrl.formSubmitState"
        name="container.order.edit.delete-order"
        disabled="!ctrl.formPassword"
        on-click="ctrl.onSave()">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>