@import "../../../../../styles/variables";

md-dialog.reservation-preset-grouping-form {
  .md-dialog-content {
    padding: 1rem 1rem 0;

    .driver-selection {
      margin-top: -$nv-baseline-grid*4;
    }
  }
}