<nv-dialog-header title="{{ ctrl.title | translate }}" on-cancel="ctrl.onCancel($event)"></nv-dialog-header>

<form name="modelForm" md-theme="nvBlue">
  <md-dialog nv-load="ctrl.getAll"
             loading-message="{{'commons.load-data' | translate}}">
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="column" layout-padding>
          <div flex>
            <nv-input-text
              class="md-block"
              label="{{ ::ctrl.RESERVATION_PRESET_FIELDS.name.displayName }}"
              model="ctrl.group.name"
              required="true"
              form="modelForm">
            </nv-input-text>
          </div>

          <div flex>
            <div class="md-block with-non-input driver-selection">
              <nv-label-small label="{{ ::ctrl.RESERVATION_PRESET_FIELDS.driver_id.displayName }}"></nv-label-small>
              <nv-autocomplete
                placeholder="{{::'commons.search-or-select' | translate}}"
                delegate-handle="grouping-form-select-driver"
                multiple="false"
                selected-item="ctrl.group.driverSelectedItem"
                possible-options="ctrl.driversSelectionOptions"
                form="modelForm">
              </nv-autocomplete>
            </div>
          </div>

          <div flex>
            <div class="md-block with-non-input">
              <nv-label-small label="{{ ::ctrl.RESERVATION_PRESET_FIELDS.hub_id.displayName }}"></nv-label-small>
              <nv-autocomplete
                placeholder="{{::'commons.search-or-select' | translate}}"
                delegate-handle="grouping-form-select-hub"
                multiple="false"
                selected-item="ctrl.group.hubSelectedItem"
                possible-options="ctrl.hubsSelectionOptions"
                form="modelForm">
              </nv-autocomplete>
            </div>
          </div>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <nv-api-text-button
        md-theme="nvGreen"
        name="{{ ctrl.submitButtonTitle }}"
        class="raised"
        state="ctrl.formSubmitState"
        disabled="!ctrl.isAbleToSubmit()"
        on-click="ctrl.onSave()">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>