<div 
  class="csv-button-container"
  ng-csv="::getCSVData()"
  csv-header="::parse(csvHeader)"
  csv-column-order="::parse(csvColumnOrder)"
  filename="{{::filename}}"
  ng-disabled="isDisabled()">

  <nv-api-text-button
    class="raised"
    ng-if="::!dense"
    md-theme="nvBlue"
    name="{{name | translate}}"
    icon="{{haveIcon?'file_download':''}}"
    state="state"
    aria-label="{{name | translate}}"
    disabled="isDisabled()">
  </nv-api-text-button>
  
  <nv-api-icon-button
    class="raised"
    ng-if="::dense"
    md-theme="nvBlue"
    name="{{name | translate}}"
    icon="file_download"
    state="state"
    aria-label="{{name | translate}}"
    disabled="isDisabled()">
  </nv-api-icon-button>

</div>