<nv-dialog-header title="{{ ctrl.title | translate }}" on-cancel="ctrl.onCancel($event)"></nv-dialog-header>

<form name="modelForm" md-theme="nvBlue">
  <md-dialog nv-load="ctrl.getAll"
             loading-message="{{'commons.load-data' | translate}}">
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="row" layout-xs="column" layout-wrap layout-padding>
          <div flex="100">
            <nv-input-text
              class="md-block"
              label="{{ ctrl.ZONE_FIELDS.name.displayName }}"
              model="ctrl.zone.name"
              required="true"
              form="modelForm">
            </nv-input-text>
          </div>

          <div flex="50" flex-xs="100">
            <nv-input-text
              class="md-block"
              label="{{ ctrl.ZONE_FIELDS.short_name.displayName }}"
              model="ctrl.zone.short_name"
              required="true"
              form="modelForm">
            </nv-input-text>
          </div>
          <div flex="50" flex-xs="100">
            <nv-input-select
              class="hub-selection"
              label="commons.hub"
              model="ctrl.zone.hub_id"
              model-options="{}"
              options="ctrl.hubsSelectionOptions"
              required="true"
              form="modelForm">
            </nv-input-select>
          </div>

          <div flex="50" flex-xs="100">
            <nv-input-number
              class="md-block"
              label="{{ ctrl.ZONE_FIELDS.latitude.displayName }}"
              model="ctrl.zone.latitude"
              form="modelForm"
              step="0.001"
              min="-90"
              max="90"
              required="::true">
            </nv-input-number>
          </div>
          <div flex="50" flex-xs="100">
            <nv-input-number
              class="md-block"
              label="{{ ctrl.ZONE_FIELDS.longitude.displayName }}"
              model="ctrl.zone.longitude"
              form="modelForm"
              step="0.001"
              min="-180"
              max="180"
              required="::true">
            </nv-input-number>
          </div>

          <div flex="100">
            <nv-input-textarea
              class="md-block"
              label="{{ ctrl.ZONE_FIELDS.description.displayName }}"
              model="ctrl.zone.description"
              form="modelForm">
            </nv-input-textarea>
          </div>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <nv-api-text-button
        md-theme="nvGreen"
        name="{{ ctrl.submitButtonTitle }}"
        class="raised"
        state="ctrl.formSubmitState"
        disabled="!ctrl.isAbleToSubmit()"
        on-click="ctrl.onSave()">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>