@import "../../../lib/ninja-commons/styles/variables";
@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../lib/ninja-commons/styles/mixins/media-query.mixins";
@import "../../../lib/ninja-commons/styles/mixins/table.mixins";

.nv-container-shipper-pickups {
  height: 100%;

  .loaded {
    height: 100%;

    .page-container {
      height: 100%;

      .page-filter {
        padding: 4rem;

        .filter-title {
          padding-bottom: 4rem;
        }

        .filter-box-container {
          padding-left: 0rem;
        }

        .section-load {
          padding-top: 4rem;
        }
      } 
      
      .page-data {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        .loading-sheet {
          left: 0;
          top: 0;
          position: absolute;
          background-color: rgba(#CFCFCF, 0.67);
          z-index: 11;
          height: 100%;
          width: 100%;
        }

        .content-sheet {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;

          .navigation {
            md-menu-bar {
              padding: 0 0;
            }
          }
          
          .table-container {
            position: relative;
            flex: 1;
            
            nv-table {
              // column width
              @include nv-table-column-width(name, 20rem);
              @include nv-table-column-width(pickup-address, 28rem);
              @include nv-table-column-width(route-id, 10rem);
              @include nv-table-column-width(driver-name, 14rem);
              @include nv-table-column-width(ready-by, 18rem);
              @include nv-table-column-width(last-by, 18rem);
              @include nv-table-column-width(type, 14rem);
              @include nv-table-column-width(status, 16rem);
              @include nv-table-column-width(created-date, 20rem);
              @include nv-table-column-width(service-time, 18rem);
              @include nv-table-column-width(approx-volume, 14rem);
              @include nv-table-column-width(failure-reason, 18rem);
              @include nv-table-column-width(comments, 35rem);
              @include nv-table-column-width(priority-level, 14rem);

              @include nv-table-row-height(8rem);

              // action columns
              @include nv-table-action-columns(nv-table-action-width("three-dense-p"));
            }
          }

          .row-red {
            background-color: pink;
          }

          .row-green {
            background-color: lightgreen;
          }

          .horizontal-divider {
            width: 1rem;
          }
        }
      }
    }
  }
}