<md-content 
  class="nv-container-shipper-pickups"
  nv-load="ctrl.function.init"
  loading-message="{{'container.shipper-pickups.load-data' | translate}}">

  <!-- PAGE 1 -->
  <div class="page-container" ng-if="ctrl.state.page === 0">
    <form name="ctrl.form">
      <div class="page-filter">
        <h5 class="filter-title">
          Select Filters
        </h5>
        
        <nv-filter-box-container
          form="ctrl.form"
          possible-filters="ctrl.data.possibleFilters"
          selected-filters="ctrl.data.selectedFilters"
          search-by="mainTitle">
        </nv-filter-box-container>
        
        <div class=section-load layout="row" layout-align="center start">
          <nv-api-text-button
            md-theme="nvBlue"
            name="Load Selection"
            class="raised"
            form="ctrl.form"
            state="ctrl.state.loadState"
            on-click="ctrl.function.loadFromFilter()">
          </nv-api-text-button>
        </div>
      </div>
    </form>
  </div>

  <!-- PAGE 2 -->
  <div class="page-container" ng-if="ctrl.state.page === 1">
    <div class="page-data">
      <!-- loading sheet -->
      <div class="loading-sheet" ng-if="ctrl.state.refreshRoute === 'waiting'" layout="column" layout-align="center center">
        <md-progress-circular md-mode="indeterminate" md-diameter="150"></md-progress-circular>
        <h5>{{ 'container.shipper-pickups.routes-updating' | translate }}</h5>
      </div>
      <div class="content-sheet">
        <div class="navigation" layout="row" layout-padding layout-align="space-between none">
          <nv-icon-text-button
            icon="filter_list"
            name="commons.edit-fiters"
            on-click="::ctrl.function.showEditFilter($event)"
            md-theme="nvBlue"
            class="raised">
          </nv-icon-text-button>
          
          <div layout="row">
            <div ng-if="!ctrl.function.bulkActionDisabled()" layout layout-align="start center">
              <h5>Selected: {{ ctrl.function.getSelectedSize() }}</h5>
            </div>
            <div class="horizontal-divider"></div>
            <nv-api-icon-button
              md-theme="nvBlue"
              name="Refresh"
              class="raised"
              icon="cached"
              state="ctrl.state.refreshRoute"
              on-click="ctrl.function.refreshRoute()">
            </nv-api-icon-button>
            <div class="horizontal-divider"></div>
            <md-menu-bar>
              <md-menu md-position-mode="target-right target">
                <md-button
                  class="nv-button raised btn-apply-action"
                  type="button"
                  aria-label="Action"
                  ng-click="$mdOpenMenu($event)"
                  ng-disabled="ctrl.function.bulkActionDisabled()">
                  <span class="nv-text-ellipsis nv-text-left">{{'container.shipper-pickups.apply-action' | translate}}</span>
                  <i class="material-icons">arrow_drop_down</i>
                </md-button>

                <md-menu-content class="actions-holder dark" width="3">
                  <!-- button -->
                  <md-menu-item>
                    <md-button class="nv-button flat alternate"
                                type="button"
                                aria-label="{{ 'container.shipper-pickups.create-reservation-action' | translate }}"
                                ng-click="ctrl.function.createReservation($event)">
                      <i class="material-icons">content_copy</i>
                      <span>{{'container.shipper-pickups.create-reservation-action' | translate}}</span>
                    </md-button>
                  </md-menu-item>
                  <!-- button -->
                  <md-menu-item style="pointer-events: auto">
                    <md-button class="nv-button flat alternate"                                
                                type="button"
                                aria-label="{{ 'container.shipper-pickups.suggest-route-action' | translate }}"
                                ng-click="ctrl.function.openBulkRouteAssignmentDialog($event)"
                                ng-disabled="!ctrl.function.isRoutesAvailable()">
                      <i class="material-icons">arrow_forward</i>
                      <span>{{ 'container.shipper-pickups.suggest-route-action' | translate }}</span>                      
                    </md-button>
                    <md-tooltip ng-if="!ctrl.function.isRoutesAvailable()" md-direction="left">{{"container.shipper-pickups.dialog.unable-to-suggest-route" | translate}}</md-tooltip>
                  </md-menu-item>
                  <!-- button -->
                  <md-menu-item>
                    <md-button class="nv-button flat alternate"
                                type="button"
                                aria-label="{{'commons.download-csv' | translate}}"
                                ng-click="ctrl.function.downloadCsv($event)">
                      <i class="material-icons">file_download</i>
                      <span>{{'commons.download-csv' | translate}}</span>
                    </md-button>
                  </md-menu-item>
                  <!-- button -->
                  <md-menu-item>
                    <md-button class="nv-button flat alternate"
                                type="button"
                                aria-label="{{'container.shipper-pickups.edit-priority-level' | translate}}"
                                ng-click="ctrl.function.openBulkPriorityUpdateDialog($event)">
                      <i class="material-icons">edit</i>
                      <span>{{'container.shipper-pickups.edit-priority-level' | translate}}</span>
                    </md-button>
                  </md-menu-item>
                  <!-- button -->
                  <md-menu-item>
                    <md-button class="nv-button flat alternate"
                                type="button"
                                aria-label="{{'container.shipper-pickups.remove-route' | translate}}"
                                ng-click="ctrl.function.removeRouteFromReservations($event)">
                      <i class="material-icons">remove</i>
                      <span>{{'container.shipper-pickups.remove-route' | translate}}</span>
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </md-menu-bar>
          </div>
          
        </div>
        <nv-table-description
          table-param="ctrl.data.tableParam"
          filters="ctrl.data.selectedFilters"
          title-display="mainTitle">
        </nv-table-description>
        <div class="table-container">
          <nv-table
            param="ctrl.data.tableParam"
            controller-as="ctrl"
            selectable="true">
            <nv-table-row use="data">
              <nv-index></nv-index>
              <nv-td column="name">
                {{data.name || '-'}}
              </nv-td>
              <nv-td column="pickupAddress">
                {{data.pickupAddress || '-'}}
              </nv-td>
              <nv-td column="routeId">
                {{data.routeId || '-'}}
              </nv-td>
              <nv-td column="driverName">
                {{data.driverName || '-'}}
              </nv-td>
              <nv-td column="priorityLevel">
                {{data.priorityLevelAsString || '-'}}
              </nv-td>
              <nv-td column="readyBy">
                {{data.readyBy || '-'}}
              </nv-td>
              <nv-td column="lastBy">
                {{data.lastBy || '-'}}
              </nv-td>
              <nv-td column="type">
                {{data.type || '-'}}
              </nv-td>
              <nv-td column="status">
                {{data.status || '-'}}
              </nv-td>
              <nv-td column="createdDate">
                {{data.createdDate || '-'}}
              </nv-td>
              <nv-td column="serviceTime">
                {{data.serviceTime || '-'}}
              </nv-td>
              <nv-td column="approxVolume">
                {{data.approxVolume || '-'}}
              </nv-td>
              <nv-td column="failureReason">
                {{data.failureReason || '-'}}
              </nv-td>
              <nv-td column="comments">
                {{data.comments | nvLimitTo:255|| '-'}}
              </nv-td>

              <nv-action column="actions">
                <nv-icon-button
                  md-theme="nvBlue"
                  class="ghost dense"
                  name="Route Edit"
                  disabled="ctrl.function.editReservationDisabled(data.status)"
                  icon="edit"
                  on-click="ctrl.function.editReservation($event, data)">
                </nv-icon-button>
                <nv-icon-button
                  md-theme="nvBlue"
                  class="ghost dense"
                  name="Details"
                  icon="list"
                  on-click="ctrl.function.showReservationDetails($event, data)">
                </nv-icon-button>
                <nv-icon-button
                  md-theme="nvBlue"
                  class="ghost dense"
                  name="Finish"
                  disabled="ctrl.function.finishReservationDisabled(data)"
                  icon="forward"
                  on-click="ctrl.function.openForceFinishReservationDialog($event, data)">
                </nv-icon-button>
              </nv-action>
            </nv-table-row>
          </nv-table>
        </div>
      </div>
    </div>
  </div>
</md-content>