@import "../../../../lib/ninja-commons/styles/variables";

md-dialog.pod-delivery,
md-dialog.pod-pickup,
md-dialog.pod-reservation {

  width: 65rem;
  height: 75rem;

  .pod-title {
    font-weight: $nv-font-weight-light;
  }

  .id-container,
  .status-container {
    font-size: 2.2rem;

    .id,
    .status {
      font-weight: $nv-font-weight-medium;

      &.is-success {
        color: $nv-dark-green;
      }

      &.is-failure {
        color: $nv-dark-red;
      }
    }
  }

  .details-container {
    display: inline-block;
    vertical-align: top;
    margin-right: 2.8rem;
    margin-bottom: 1.4rem;

    > div:first-child {
      color: $nv-tb59;
    }

    > div:last-child {
      padding-left: 0.3rem;
      font-size: 1.6rem;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .quantity,
  .signature,
  .scanned-parcels {
    margin-top: 2.2rem;
  }

  .signature {
    color: $nv-tb59;

    img {
      min-width: 20.2rem;
      min-height: 12.2rem;
      border: 0.1rem solid;
      background-color: $nv-light4;
      padding: 1rem 5rem;
      margin: 1rem 0.3rem;
    }
  }

  .scanned-parcels {
    width: 30rem;
  }

  .photos-section {
    margin: 0.8rem 0rem;
    width: 100%;

    .pictures-container {
      width: 100%;
      overflow-x: auto;
      margin: 1rem 0;

      nv-selectable-image {
        width: 8rem;
        height: 8rem;
        margin-right: 0.8rem;

        .nv-image {
          width: 8rem;
          height: 8rem;
          max-width: 8rem;
          max-height: 8rem;
          outline: none;
        }
      }
    }
  }

}
