@import "../../../../lib/ninja-commons/styles/variables";
@import "../../../../lib/ninja-commons/styles/mixins/typography.mixins";

md-dialog.waypoint-details {

  width: 65rem;
  height: 75rem;

  .details {
    padding-bottom: 1rem;

    .details-container div:first-child {
      @include nv-font(pmed);
      color: $nv-tb59;
    }

    .details-container div:last-child {
      @include nv-font(p);
    }

    .details-container:first-child {
      padding-bottom: 0.5rem;
    }

    .details-container:last-child {
      padding-top: 0.5rem;
    }
  }

  .reservations,
  .deliveries,
  .pickups {
    margin: 1rem 0;

    td.is-success {
      color: $nv-dark-green;
    }

    td.is-failure {
      color: $nv-dark-red;
    }
  }

}
