<md-dialog-content>
  <div class="md-dialog-content">

    <h3 class="pod-title">Proof of Delivery</h3>

    <p class="id-container">
      <span>Tracking ID:</span>
      <span class="id">{{podData.data.trackingId}}</span>
    </p>

    <div>
      <div class="details-container">
        <div>Addressee</div>
        <div>{{podData.data.addressee}}</div>
      </div>

      <div class="details-container">
        <div>Phone</div>
        <div>{{podData.data.phone}}</div>
      </div>

      <div class="details-container">
        <div>Email</div>
        <div>{{podData.data.email}}</div>
      </div>
    </div>

    <p class="status-container">
      <span>Status:</span>
      <span
          class="status"
          ng-class="{'is-success': podData.data.status === 'Success', 'is-failure': podData.data.status === 'Fail'}">
        {{podData.data.status}}
      </span>
    </p>

    <div>
      <div class="details-container">
        <div>Received by</div>
        <div>{{podData.data.receivedBy || '-' }}</div>
      </div>

      <div class="details-container">
        <div>Relationship</div>
        <div>{{podData.data.relationship || '-' }}</div>
      </div>

      <div class="details-container">
        <div>Code</div>
        <div>{{podData.data.verificationCode || '-' }}</div>
      </div>

      <div class="details-container">
        <div>Hidden Location</div>
        <div>{{podData.data.hiddenLocation || '-' }}</div>
      </div>

      <div class="details-container">
        <div>Receipt Date / Time</div>
        <div>{{podData.data.receiptDate}}</div>
      </div>

      <div class="details-container">
        <div>Delivery Quantity</div>
        <div>{{podData.data.deliveryQuantity || '-' }}</div>
      </div>
    </div>

    <div class="signature"
         layout="column"
         layout-align="center start"
         ng-if="!!podData.data.signature">
      <div>Signature</div>
      <img ng-src="{{podData.data.signature}}">
      <nv-icon-text-button
        name="commons.download-signature"
        md-theme="nvBlue"
        class="raised"
        on-click="downloadSignature(podData.data.signature)">
      </nv-icon-text-button>
    </div>

    <div class="photos-section">
      <h5>{{ 'commons.photos' | translate }}</h5>
      <div ng-if="fields.photos.length === 0">
        {{ 'container.route-manifest.no-pod-photos' | translate }}
      </div>
      <div ng-if="fields.photos.length > 0">
        <div class="pictures-container" layout>
          <nv-selectable-image
            ng-repeat="photo in fields.photos"
            source="{{ photo.url }}"
            title="{{ photo.title }}"
            id="photo.id"
            active="photo.isActive"
          ></nv-selectable-image>
        </div>
        <nv-icon-text-button
          name="commons.download-selected-image"
          md-theme="nvBlue"
          class="raised"
          disabled="!isDownloadAvailable(fields.photos)"
          on-click="downloadSelected(fields.photos)">
        </nv-icon-text-button>
      </div>
    </div>
  </div>
</md-dialog-content>
