<md-dialog-content>
  <div class="md-dialog-content">

    <h3 class="pod-title">Proof of Delivery (Reservation)</h3>

    <p class="id-container">
      <span>Reservation ID:</span>
      <span class="id">{{podData.data.reservationId}}</span>
    </p>

    <div>
      <div class="details-container">
        <div>Shipper</div>
        <div>{{podData.data.shipper}}</div>
      </div>

      <div class="details-container">
        <div>Phone</div>
        <div>{{podData.data.phone}}</div>
      </div>
    </div>

    <p class="status-container">
      <span>Status:</span>
      <span
          class="status"
          ng-class="{'is-success': podData.data.status === 'Success', 'is-failure': podData.data.status === 'Fail'}">
        {{podData.data.status}}
      </span>
    </p>

    <div>
      <div class="details-container">
        <div>Pickup Quantity</div>
        <div>{{podData.data.collectedNo}}</div>
      </div>
    </div>

    <div class="signature"
         layout="column"
         layout-align="center start"
         ng-if="!!podData.data.signature">
      <div>Signature</div>
      <img ng-src="{{podData.data.signature}}">
      <nv-icon-text-button
        name="commons.download-signature"
        md-theme="nvBlue"
        class="raised"
        on-click="downloadSignature(podData.data.signature)">
      </nv-icon-text-button>
    </div>

    <div class="photos-section">
      <h5>{{ 'commons.photos' | translate }}</h5>
      <div ng-if="fields.photos.length === 0">
        {{ 'container.route-manifest.no-pod-photos' | translate }}
      </div>
      <div ng-if="fields.photos.length > 0">
        <div class="pictures-container" layout>
          <nv-selectable-image
            ng-repeat="photo in fields.photos"
            source="{{ photo.url }}"
            title="{{ photo.title }}"
            id="photo.id"
            active="photo.isActive"
          ></nv-selectable-image>
        </div>
        <nv-icon-text-button
          name="commons.download-selected-image"
          md-theme="nvBlue"
          class="raised"
          disabled="!isDownloadAvailable(fields.photos)"
          on-click="downloadSelected(fields.photos)">
        </nv-icon-text-button>
      </div>
    </div>

    <div class="scanned-parcels" ng-if="podData.data.scannedParcels.length > 0">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>S/N</th>
          <th>Tracking ID</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-if="!podData.isOrdersLoaded"
            ng-repeat="trackingId in podData.data.scannedParcels track by $index">
          <td>{{::$index + 1}}</td>
          <td>{{::trackingId}}</td>
        </tr>
        <tr ng-if="podData.isOrdersLoaded"
            ng-repeat="order in podData.orders track by $index">
          <td>{{::$index + 1}}</td>
          <td>
            <a ui-sref="container.order.edit({ orderId: order.id })" target="_blank">
              {{::order.trackingId}}
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</md-dialog-content>
