<nv-dialog-header
    title="Waypoint Details"
    on-cancel="::onCancel($event)"
    cancel-text="Close">
</nv-dialog-header>

<md-dialog-content>
  <div class="md-dialog-content">

    <div class="details" layout="row" layout-align="space-around center">

      <div layout="column" layout-align="center start">
        <div class="details-container">
          <div>Waypoint ID</div>
          <div>{{::fields.waypointId}}</div>
        </div>
        <div class="details-container">
          <div>Addressee</div>
          <div>{{::fields.addressee}}</div>
        </div>
      </div>

      <div layout="column" layout-align="center start">
        <div class="details-container">
          <div>Waypoint Status</div>
          <div>{{::fields.waypointStatus}}</div>
        </div>
        <div class="details-container">
          <div>Contact</div>
          <div>{{::fields.contact}}</div>
        </div>
      </div>

      <div layout="column" layout-align="center start">
        <div class="details-container">
          <div>Highest Priority</div>
          <div>{{::fields.highestPriority}}</div>
        </div>
        <div class="details-container">
          <div>Recipient</div>
          <div>{{::fields.recipient}}</div>
        </div>
      </div>

      <div layout="column" layout-align="center start">
        <div class="details-container">
          <div>Service Type(s)</div>
          <div>{{::fields.serviceType}}</div>
        </div>
        <div class="details-container">
          <div>Relationship</div>
          <div>{{::fields.relationship}}</div>
        </div>
      </div>

    </div>

    <nv-container-box
        class="reservations"
        ng-if="::fields.reservations.length > 0"
        label="{{::fields.reservations.length}} Reservations">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>S/N</th>
          <th>Reservation ID</th>
          <th>Status</th>
          <th>Expected No.</th>
          <th>Collected No.</th>
          <th>Failure Reason</th>
          <th>Signature</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="reservation in fields.reservations track by $index">
          <td>{{::$index + 1}}</td>
          <td>{{::reservation.reservationId}}</td>
          <td ng-class="{'is-success': reservation.status === 'Success', 'is-failure': reservation.status === 'Fail'}">
            {{::reservation.status}}
          </td>
          <td>{{::reservation.expectedNo}}</td>
          <td>{{::reservation.collectedNo}}</td>
          <td>{{::reservation.failureReason || '-'}}</td>
          <td>
            <nv-icon-text-button
                icon="launch"
                name="View POD"
                on-click="::onViewPODReservation(reservation)"
                disabled="::isViewPODReservationDisabled(reservation)"
                md-theme="nvBlue"
                class="raised dense">
            </nv-icon-text-button>
          </td>
        </tr>
        </tbody>
      </table>
    </nv-container-box>

    <nv-container-box
        class="deliveries"
        ng-if="::fields.deliveries.length > 0"
        label="{{::fields.deliveries.length}} Deliveries">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>S/N</th>
          <th>Tracking ID</th>
          <th>Status</th>
          <th>COD Collected</th>
          <th>Failure Reason</th>
          <th>Signature</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="delivery in fields.deliveries track by $index">
          <td>{{::$index + 1}}</td>
          <td>
            <a ui-sref="container.order.edit({ orderId: delivery.orderId })" target="_blank">
              {{::delivery.trackingId}}
            </a>
          </td>
          <td ng-class="{'is-success': delivery.status === 'Success', 'is-failure': delivery.status === 'Fail'}">
            {{::delivery.status}}
          </td>
          <td>{{::delivery.codCollected}}</td>
          <td>{{::delivery.failureReason || '-'}}</td>
          <td>
            <nv-icon-text-button
                icon="launch"
                name="View POD"
                on-click="::onViewPODDelivery(delivery)"
                disabled="::isViewPODDeliveryDisabled(delivery)"
                md-theme="nvBlue"
                class="raised dense">
            </nv-icon-text-button>
          </td>
        </tr>
        </tbody>
      </table>
    </nv-container-box>

    <nv-container-box
        class="pickups"
        ng-if="::fields.pickups.length > 0"
        label="{{::fields.pickups.length}} Pickups">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>S/N</th>
          <th>Tracking ID</th>
          <th>Status</th>
          <th>Failure Reason</th>
          <th>Signature</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="pickup in fields.pickups track by $index">
          <td>{{::$index + 1}}</td>
          <td>
            <a ui-sref="container.order.edit({ orderId: pickup.orderId })" target="_blank">
              {{::pickup.trackingId}}
            </a>
          </td>
          <td ng-class="{'is-success': pickup.status === 'Success', 'is-failure': pickup.status === 'Fail'}">
            {{::pickup.status}}
          </td>
          <td>{{::pickup.failureReason || '-'}}</td>
          <td>
            <nv-icon-text-button
                icon="launch"
                name="View POD"
                on-click="::onViewPODPickup(pickup)"
                disabled="::isViewPODPickupDisabled(pickup)"
                md-theme="nvBlue"
                class="raised dense">
            </nv-icon-text-button>
          </td>
        </tr>
        </tbody>
      </table>
    </nv-container-box>

  </div>
</md-dialog-content>
