@import "../../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../zonal-routing/zonal-routing.mixins";
@import "../../order/order.mixins";

.nv-container-pricing-v2 {
  width: 100%;
  height: 100%;

  $label-color: rgba(33, 33, 33, 0.67);
  $common-padding: 1.4rem;

  .header {
    margin-left: 2.5em;
    margin-right: 2.5em;
  }

  .action-toolbar {
    padding: 1rem;
    background-color: #015F1D;
    font-size: 1.4rem;
    color: $nv-tb05;

    &.active {
      background-color: $nv-dark3;
    }

    button {
      margin-left: 0.25em;
      margin-right: 0.25em;
    }

    .menu {
      display: inline-block;
      margin-right: 0.4rem;

      &:last-child {
        margin-right: 0;
      }

      nv-icon-text-button {
        float: left;
        margin: 0;
        vertical-align: middle;
        height: 100%;

        button {
          border-right-color: transparent;
          padding-left: 0.3rem;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          margin-right: 0em;
          height: 100%;
        }

        + nv-icon-button {
          float: left;
          margin-left: -0.2rem;
          position: relative;
          z-index: 1;
          border-left: 0.2rem solid $nv-text-black-2;
          height: 100%;

          button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin: 0em;
            height: 100%;
          }
        }
      }
    }

  }

  .loading-sheet {
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(#CFCFCF, 0.67);
    z-index: 11;
    height: 100%;
    width: 100%;
  }

  .body-height {
    height: 100%;
  }

  .content {
    .plain-separator {
      margin: 1.4rem 0rem
    }

    .horizontal-padding {
      padding-right: $common-padding;
      padding-left: $common-padding;

      >* {
        padding-right: $common-padding;
        padding-left: $common-padding;
      }
    }

    .vertical-padding {
      padding-top: $common-padding;
      padding-bottom: $common-padding;

      >* {
        padding-top: $common-padding;
        padding-bottom: $common-padding;
      }
    }

    .padding-bottom {
      padding-bottom: $common-padding;
    }

    .padding-top {
      padding-top: $common-padding;
    }

    .layout-padding {
      padding: $common-padding;
      >* {
        padding: $common-padding;
        .layout-padding {
          padding: $common-padding;
        }
      }
    }

    .no-padding-top {
      padding-top: 0;
    }

    .no-vertical-padding {
      padding-top: 0;
      padding-bottom: 0;
    }

    .md-padding {
      padding: 2.8rem;
    }

    .sub-title {
      color: $nv-text-black-3;
    }

    .nv-hint {
      width: 100%;
    }

    .field-container {
      label {
        color: $label-color;
        font-size: 1.2rem;
      }

      md-select {
        margin: 0;
      }
    }

    .reservation-time-container {
      max-width: 18rem;
    }

    .parent-script-details {
      &-item {
        margin: 1em;
      }
    }

    .time-separator-padding {
      padding: 1.8rem 0.8rem 0;
    }

    .multiple-select {
      md-select {
        md-select-value.md-select-value {
          .md-container {
            display: none;
          }
        }
      }
    }

    md-input-container label {
      padding-left: $common-padding;

      &.custom-no-padding {
        padding-left: 0;
      }
    }

    tabs-wrapper {
      height: 4.8rem;
      box-shadow: 0 0.5rem 0.5rem -0.5rem #888888;
      margin-bottom: 0.2rem;

      tab-item {
        color: $nv-text-black-3;
        text-align: center;
        line-height: 2.4rem;
        padding: 1.2rem 2.4rem;
        white-space: nowrap;
        position: relative;
        text-transform: uppercase;
        float: left;
        font-weight: 500;
        text-overflow: ellipsis;
        max-width: 30rem;
        outline: none;

        &.active {
          color: $nv-dark-blue;
          border-width: 0 0 0.2rem;
          border-style: solid;
          border-color: $nv-dark-blue;
        }
      }
    }
  }

  @mixin end-of-table {
    $lastRowHeight: 5rem;

    .last-row {
      &:not(.last-row-no-result) {
        height: $lastRowHeight;

        .end-of-result {
          height: $lastRowHeight;

          .end-of-table {
            background-color: $nv-light2;
            height: $lastRowHeight;

            h5, p {
              color: $nv-text-black-2;
            }

            p {
              display: none;
            }
          }
        }
      }
    }
  }

  // custom css
  .custom-70 {
    min-height: 7rem;
  }

  .custom-padding-4px {
    padding-right: 0.4rem;
  }
}