<div class="nv-container-pricing-v2">
    <div class="action-toolbar" ng-class="{'active': ctrl.isActiveScript()}">
        <div layout="row" layout-align="space-between center" class="nv-text-center">
            <nv-icon-text-button
                    class="flat dark alternate"
                    name="commons.cancel"
                    icon="cancel"
                    on-click="ctrl.onClickCancel($event)">
            </nv-icon-text-button>
            <div>{{ctrl.getTitle()}}</div>
            <div layout="row">
                <nv-api-text-button
                        ng-if="ctrl.isCreating()"
                        md-theme="nvGreen"
                        class="raised"
                        icon="save"
                        name="Save Draft"
                        state="ctrl.state.saveDraft"
                        disabled="!ctrl.canSubmitDraft()"
                        on-click="ctrl.onSubmitDraft($event)">
                </nv-api-text-button>
                <nv-icon-text-button
                        md-theme="nvGreen"
                        class="raised dark"
                        icon="arrow_forward"
                        name="Verify Draft"
                        ng-if="ctrl.isCreating()"
                        disabled="!ctrl.canVerifyDraft()"
                        on-click="ctrl.onVerifyDraft($event)">
                </nv-icon-text-button>

                <div class="menu" ng-if="ctrl.isEditing()">
                    <nv-icon-text-button
                            md-theme="nvGreen"
                            class="raised dense dark"
                            name="Verify Draft"
                            icon="arrow_forward"
                            disabled="!ctrl.canVerifyDraft()"
                            on-click="ctrl.onVerifyActiveScript($event)">
                    </nv-icon-text-button>
                    <nv-icon-button
                            md-theme="nvGreen"
                            class="raised dense dark"
                            name="commons.actions"
                            icon="expand_more"
                            tooltip="false"
                            disabled="!ctrl.canSubmitDraft()"
                            on-click="ctrl.onOpenToolsActionMenu($event)">
                    </nv-icon-button>
                </div>
            </div>
        </div>
    </div>
    <div class="loading-sheet" ng-if="ctrl.state.laodingSheet === true" layout layout-align="center center">
        <md-progress-circular md-theme="nvBlue" class="md-pri
        mary" md-mode="indeterminate" md-diameter="64px"></md-progress-circular>
    </div>
    <div class="content body-height" ng-if="ctrl.isCreating()">
        <tabs-wrapper layout="row" layout-align="center center">
            <tab-item ng-repeat="item in ctrl.getTabs()" ng-class="{active: ctrl.state.tab === item.id}" ng-click="ctrl.onTabChanged(item.id)">
                {{ item.displayName | translate }}
            </tab-item>
        </tabs-wrapper>
        <tab-content ng-show="ctrl.state.tab === 0" layout="row" layout-align="center start" class="body-height">
            <div class="body-height" flex-gt-sm="70" flex="100" ng-include="'views/container/pricing-scripts-v2/manage/tab-content/pricing-scripts-v2-info.html'" nv-include-replace></div>
        </tab-content>
        <tab-content ng-show="ctrl.state.tab === 1" layout="row" layout-align="center start" class="body-height">
            <div class="body-height" flex-gt-sm="90" flex="100" ng-include="'views/container/pricing-scripts-v2/manage/tab-content/pricing-scripts-v2-write-script.html'" nv-include-replace></div>
        </tab-content>
        <tab-content ng-show="ctrl.state.tab === 2" layout="row" layout-align="center start" class="body-height">
            <div flex-gt-sm="90" flex="100" ng-include="'views/container/pricing-scripts-v2/manage/tab-content/pricing-scripts-v2-check-script.html'" nv-include-replace></div>
        </tab-content>
    </div>
    <div class="content body-height" ng-if="ctrl.isEditing()">
        <tabs-wrapper layout="row" layout-align="center center">
            <tab-item ng-repeat="item in ctrl.getTabs()" ng-class="{active: ctrl.state.tab === item.id}" ng-click="ctrl.onTabChanged(item.id)">
                {{ item.displayName | translate }}
            </tab-item>
        </tabs-wrapper>
        <tab-content ng-show="ctrl.state.tab === 0" layout="row" layout-align="center start" class="body-height">
            <div class="body-height" flex-gt-sm="90" flex="100" ng-include="'views/container/pricing-scripts-v2/manage/tab-content/pricing-scripts-v2-write-script.html'" nv-include-replace></div>
        </tab-content>
        <tab-content ng-show="ctrl.state.tab === 1" layout="row" layout-align="center start" class="body-height">
            <div flex-gt-sm="90" flex="100" ng-include="'views/container/pricing-scripts-v2/manage/tab-content/pricing-scripts-v2-check-script.html'" nv-include-replace></div>
        </tab-content>
        <tab-content ng-show="ctrl.state.tab === 2" layout="row" layout-align="center start" class="body-height">
            <div class="body-height" flex-gt-sm="70" flex="100" ng-include="'views/container/pricing-scripts-v2/manage/tab-content/pricing-scripts-v2-info.html'" nv-include-replace></div>
        </tab-content>
    </div>
</div>