<md-content class="nv-container-driver-strength-2-filter" layout-padding>
  <div layout="row">
    <h4>{{'commons.select-filter' | translate}}</h4>
    <div flex="1"></div>
    <nv-create-button
      md-theme="nvGreen"
      class="raised"
      name="{{'container.driver-strength.add-driver' | translate}}"
      on-click="::ctrl.createOne($event)">
    </nv-create-button>
  </div>
  <nv-filter-box-container
    possible-filters="ctrl.possibleFilters"
    selected-filters="ctrl.selectedFilters"
    search-by="mainTitle">
  </nv-filter-box-container>
  <div layout="row" layout-align="center">
    <nv-icon-text-button 
      class="raised" 
      md-theme="{{ctrl.isEmptyFilter() ? 'nvYellow' : 'nvGreen'}}"
      name="{{ctrl.isEmptyFilter() ? 'container.driver-strength.load-everything' : 'container.driver-strength.load-selection'}}" 
      on-click="ctrl.loadSelection()"
      md-theme-watch="true">
    </nv-icon-text-button>
  </div>
  <div layout="row" layout-align="center">
    <p ng-if="ctrl.isEmptyFilter()">{{'container.driver-strength.no-filter' | translate}}</p>
  </div>
</md-content>
