<form name="modelForm">
  <md-dialog-content>
    <div class="dialog-container" layout=column layout-padding>
      <div>Enter New Priority Level</div>
      <nv-input-text
        name="Priority Level"
        label="Priority Level"
        model="ctrl.priorityLevel"
        form="modelForm">
      </nv-input-text>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout layout-align="space-between end">
    <nv-icon-text-button
      md-theme="nvRed"
      name="commons.save-changes"
      icon="clear"
      class="ghost"
      on-click="ctrl.onCancel($event)">
    </nv-icon-text-button>
    <nv-icon-text-button
      md-theme="nvGreen"
      name="commons.save-changes"
      icon="check"
      class="raised"
      form="modelForm"
      on-click="ctrl.onSave($event)">
    </nv-icon-text-button>
  </md-dialog-actions>
</form>