<md-dialog>
  <md-dialog-content class="md-dialog-content">
    <h2 class="md-title">{{ 'commons.warning' | translate }}</h2>
    <div class="warning">
      {{ 'container.order.edit.manually-complete-order-warning' | translate }}
    </div>
    <div class="table-holder">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>{{ 'commons.tracking-id' | translate }}</th>
            <th>{{ 'commons.amount' | translate }}</th>
            <th>{{ 'commons.cod-collected' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="orderCod in ctrl.orderCods">
            <td>{{ orderCod.trackingId }}</td>
            <td>{{ ctrl.currencyCode }} {{ orderCod.cod.goodsAmount }}</td>
            <td>
              <md-checkbox 
                ng-disabled="ctrl.isCodLocked(orderCod)"
                ng-model="orderCod.isCodCollected" 
                aria-label="{{ orderCod.trackingId }}">
              </md-checkbox>
              <span ng-if="ctrl.isCodLocked(orderCod)">collected</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <nv-api-text-button
      md-theme="nvGreen"
      state="ctrl.buttonState"
      class="raised"
      name="commons.ok"
      on-click="ctrl.onFinish()">
    </nv-api-text-button>
  </md-dialog-actions>
</md-dialog>