.nv-selectable-image {
  position: relative;
  width: 100%;
  height: 100%;

  .nv-image-checkbox {
    position: absolute;
    left: 0.5rem;
    top: 0.6rem;
    z-index: 1000;
  }

  .nv-delete-icon {
    position: absolute;
    right: 0rem;
    top: 0rem;
    z-index: 1000;
  }
  .clickable-icon{
    cursor: pointer;
  }

  .nv-image {
    max-width: 100%;
    max-height: 100%;
    border: 0.1rem solid;
    background-color: $nv-light4;
  }

  .nv-image-wrapper {
    display: none;
  }
}
