<div class="nv-selectable-image">
  <div class="nv-image-checkbox" ng-show="showcheckbox">
    <md-checkbox ng-model="active" aria-label="image-checkbox-{{idx}}"></md-checkbox>
  </div>
  <div class="nv-delete-icon" ng-if="showdelete">
    <i class="material-icons clickable-icon" ng-click="::ondelete({id: id})">close</i>    
  </div>
  <img class="nv-image" ng-src="{{ thumbnail }}" alt="" ng-click="onClick()"/>
  <a class="nv-image-wrapper" href="{{ source }}" data-image-id="{{id}}" rel="nv-gallery">
    <img ng-src="{{ source }}">
  </a>
</div>