@import "../../../../../lib/ninja-commons/styles/mixins/table.mixins";

.zonal-routing-submitted-routes {
  height: 100%;

  md-dialog-content {
    .button-holder {
      text-align: right;

      nv-icon-text-button {
        display: inline-block;
      }
    }

    .table-container {
      height: 100%;
      position: relative;
      flex: 1;

      nv-table {
        // column width
        @include nv-table-column-width(id, 8rem);
        @include nv-table-column-width(driver-name, 100%);

        // action columns
        @include nv-table-action-columns(16rem);

        .route-tags-selection {
          width: 100%;

          md-select {
            md-select-value {
              span {
                white-space: normal;

                .md-container {
                  display: none;
                }
              }
            }
          }
        }

        .last-row:not(.last-row-no-result) {
          $lastRowHeight: 5rem !important;

          height: $lastRowHeight;

          .end-of-result {
            height: $lastRowHeight;

            .end-of-table {
              height: $lastRowHeight;

              p {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}