<nv-dialog-header
  title="{{'container.zonal-routing.created-routes' | translate}}"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <div class="button-holder">
        <nv-icon-text-button
          md-theme="nvBlue"
          class="raised"
          icon="mode_edit"
          name="container.zonal-routing.bulk-edit-tags"
          disabled="ctrl.getSelectedCount() <= 0"
          on-click="ctrl.bulkEditTags($event)">
        </nv-icon-text-button>
      </div>

      <div class="table-container" ng-if="ctrl.routesTableParams && !ctrl.routesTableParams.empty">
        <nv-table
          selectable="true"
          param="ctrl.routesTableParams"
          controller-as="ctrl">
          <nv-table-row
            use="route"
            use-virtual-repeat='false'>
            <nv-td column="id" filter="false">
              {{route.id}}
            </nv-td>
            <nv-td column="driverName" filter="false">
              {{route.driverName}}
            </nv-td>

            <nv-action column="tags" sortable="true">
              <nv-input-select
                class="route-tags-selection"
                label="container.zonal-routing.select-tag"
                model="route.tags"
                model-options="{}"
                on-close="ctrl.updateTag(route)"
                options="ctrl.tagsSelectionOptions"
                set-default="false"
                multiple="true">
              </nv-input-select>
            </nv-action>
          </nv-table-row>
        </nv-table>
      </div>
    </md-dialog-content>
  </md-dialog>
</form>