@import "../../../../styles/variables";
@import "../../../../styles/mixins/typography.mixins";

md-input-container {

  md-switch {
    margin: 0;

    @mixin switch-theme($theme, $bar-color, $thumb-color) {
      &.md-nv#{$theme}-theme {
        .md-bar { background-color: $bar-color; }
        .md-thumb { background-color: $thumb-color; }
        .md-ink-ripple { color: $bar-color; }
        &.md-focused .md-thumb:before { background-color: transparentize($bar-color, 0.8); }
      }
    }

    &.md-checked {
      @include switch-theme('Blue', $nv-normal-blue, $nv-normal-hover-blue);
      @include switch-theme('Red', $nv-normal-red, $nv-normal-hover-red);
      @include switch-theme('Orange', $nv-normal-orange, $nv-normal-hover-orange);
      @include switch-theme('Green', $nv-normal-green, $nv-normal-hover-green);
    }

    .md-label {
      @include nv-font(pmed);
      line-height: inherit;
      padding-left: 0.5rem;

      .enabled {
        color: $nv-normal-green;
      }

      .disabled {
        color: $nv-normal-red;
      }
    }
  }

}
