<md-input-container flex>

  <label class="switch-label" for="{{id}}">{{label}}</label>

  <md-switch
    id="{{id}}"
    aria-label="{{label}}"
    ng-model="model"
    ng-change="::onChange({model: model})"
    ng-disabled="disabled">

    <span ng-class="{'enabled': model, 'disabled': !model}">{{model ? switchEnabledText : switchDisabledText}}</span>

  </md-switch>

</md-input-container>
