<md-content
  class="nv-container-relabel-stamp"
  layout-padding>
  <h3>{{'container.relabel-stamp.title' | translate}}</h3>
  <form name="ctrl.stampForm" ng-submit="ctrl.relabelStamp(ctrl.amount)">
    <md-content layout="column" layout-padding>
      <div>
        <md-input-container class="md-block nv-p">
          <label>{{'container.relabel-stamp.scan' | translate}}</label>
          <input type="text" ng-model="ctrl.scan">
        </md-input-container>
      </div>
      <div>
        <md-button class="nv-button raised" md-theme="nvGreen" type="submit">{{'container.relabel-stamp.title' | translate}}</md-button>
      </div>
    </md-content>
  </form>
</md-content>
