md-dialog.reservation-preset-move-shipper-form {
  width: 40rem !important;
  md-dialog-content{
    padding: 1.4rem;
    .list-groups{
      padding: 0;
      margin: 0;
      border: .1rem solid #D5D8DD;
      width: 25rem;
      md-list-item{
        height: 2.5rem;
        background: #F6F8F9;
        border-bottom: .1rem solid #D5D8DD;
        button{
          height: 100%;
        }
        p {
          height: 100%;
        }

        &.selected{
          background: #CACBCC;
        }
      }
    }
  }
}