<form name="modelForm">
  <nv-dialog-header title="{{'container.reservation-preset-management.move-shipper' | translate}}" 
    on-cancel="::ctrl.onCancel($event)"></nv-dialog-header>
  <md-dialog>
    <md-dialog-content class="md-dialog-content">      
      <div flex layout="row">
        <div flex="30">
          <label>{{'commons.shipper' | translate}}</label>
        </div>
        <div flex="40">          
          {{ctrl.view.shipperNames}}
        </div>
      </div>
      
      <div flex layout="row">
        <div flex="30">
          <label>{{'container.reservation-preset-management.list-of-groups' | translate}}</label>
        </div>
        <div flex="70">
          <md-list class="list-groups">
            <md-list-item ng-click="ctrl.onChangeGroup(group)" ng-repeat="group in ctrl.data.groups" 
              ng-class="{ 'selected': group.selected }" 
              layout="row" 
              layout-align="space-between">
                <p>{{group.name}}</p>              
              </md-checkbox>
            </md-list-item>
          </md-list>
        </div>
      </div>
      
    </md-dialog-content>

    <md-dialog-actions>      
      <div flex></div>
      <nv-api-text-button
        class="primaty"
        state="ctrl.formState"
        name="container.reservation-preset-management.move-shipper"
        on-click="ctrl.onSubmit()"
        disabled="!ctrl.isAbleToSave()"
        form="modelForm">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>