@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../lib/ninja-commons/styles/mixins/typography.mixins";


.nv-route-load-monitoring{  
  height: 100%;
  width: 100%; 
  display: flex;
  flex-direction: column;

  .action-toolbar {
    height: 5rem;
    border: .1rem solid #D9D9D9;
    margin: 1rem 1rem 2.5rem 1rem;
    padding: 0;
    .show-only{
      margin-top: .6rem;
      margin-left: 2rem;
    }
  }

  div.table-container{
    position: relative;
    flex:1;
    @media only screen and (max-width: 1080px) {
      nv-table.route-load-monitoring-table {
        .table-head th {
          font-size: 1rem;
        }
      }
      
    }
    
    nv-table.route-load-monitoring-table {      
      // column width
      @include nv-table-column-width(zone_name, 10rem);
      @include nv-table-column-width(id, 10rem);
      @include nv-table-column-width(driver_name, 19rem);
      @include nv-table-column-width(driver_contact, 15rem);
      @include nv-table-column-width(total_parcels_count, 15rem);
      @include nv-table-column-width(van_parcels_count, 13rem);
      @include nv-table-column-width(truck_parcels_count, 17rem);
      @include nv-table-column-width(missing_parcels_count, 13rem);      
    }    
  }

  .loading-sheet {
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(#CFCFCF, 0.67);
    z-index: 11;
    height: 100%;
    width: 100%;
  }

}
