<md-content class="nv-route-load-monitoring">
    <form name="modelForm">
    <div class="action-toolbar" layout="row" layout-padding layout-wrap>
        <div>
            <label>{{'container.route-load-monitoring.select-date' | translate}}</label>
            <md-datepicker ng-model="ctrl.date" ng-change="ctrl.init()"></md-datepicker>
        </div>
        <div flex>
            <label>{{"container.route-load-monitoring.show-only" | translate}}</label>
            <nv-input-checkbox
                class="show-only"
                model="ctrl.filter.partiallyLoaded"
                on-change="ctrl.onChangeCheckbox()"
                label="{{'container.route-load-monitoring.partially-loaded-route' | translate}}"
                form="modelForm">
            </nv-input-checkbox>
            <nv-input-checkbox
                class="show-only"
                model="ctrl.filter.passedBack"
                on-change="ctrl.onChangeCheckbox()"
                label="{{'container.route-load-monitoring.routes-with-passed-back-parcels' | translate}}"
                form="modelForm">
            </nv-input-checkbox>        
        </div>
    </div>
    </form>            
  <div class="table-container">
      <nv-table
          class="route-load-monitoring-table"
          param="ctrl.tableParam"
          controller-as="ctrl">
          <nv-table-row use="route">
              <nv-td column="zone_name">
                  {{route.zone_name}}
              </nv-td>
              <nv-td column="id">
                  {{route.id}}
              </nv-td>
              <nv-td column="driver_name">
                  {{route.driver_name}}
              </nv-td>
              <nv-td column="driver_contact">
                  {{route.driver_contact}}
              </nv-td>              
              <nv-td column="total_parcels_count">
                  <a href="javascript:void(0)" ng-click="ctrl.viewDetails(route, 'total')">{{route.total_parcels_count}}</a>
              </nv-td>
              <nv-td column="van_parcels_count">
                    <a href="javascript:void(0)" ng-click="ctrl.viewDetails(route, 'loaded')">{{route.van_parcels_count}}</a>
              </nv-td>
              <nv-td column="truck_parcels_count">
                    <a href="javascript:void(0)" ng-click="ctrl.viewDetails(route, 'passed_back')">{{route.truck_parcels_count}}</a>
              </nv-td>
              <nv-td column="missing_parcels_count">                  
                    <a href="javascript:void(0)" ng-click="ctrl.viewDetails(route, 'missing')">{{route.missing_parcels_count}}</a>
              </nv-td>
              
          </nv-table-row>
      </nv-table>
  </div>

  <div class="loading-sheet" ng-if="ctrl.loadingSheet" layout layout-align="center center">
    <md-progress-circular md-theme="nvBlue" class="md-primary" md-mode="indeterminate" md-diameter="64px"></md-progress-circular>
  </div>
</md-content>