// variables
$marker-bg-color: #218380;
$default-bg-color: #aaaeb3;
$default-border-color: #D1D3D4;
$light-bg-color: #EFF3F6;


@mixin reservation-timing {
  .day-container {
    display: inline-block;
    padding: 0 4rem 0 0;

    > .day {
      &.marked { background: $marker-bg-color; }

      color: white;
      background: $default-bg-color;
      width: 1.8rem;
      height: 1.8rem;
      margin: 0 0.25rem;
      display: inline-block;
      font-weight: 500;
      text-align: center;
      line-height: 1.6;
      font-size: 1.2rem
    }
  }

  .pickup-timewindow {
    font-weight: 500;
    color: $marker-bg-color;
    white-space: nowrap;
  }
}