@import "../../../lib/ninja-commons/styles/variables";
@import "../../../styles/variables";

.nv-container-reservation-preset-management {
  height: 100%;

  .backdrop-loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $nv-text-black-3;
    z-index: 10000;

    md-progress-circular {
      width: 5rem;
      height: 5rem;
      margin: auto !important;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .content-loading {
    text-align: center;
    margin-top: $nv-baseline-grid*4;

    md-progress-circular {
      margin: auto;
      display: inline-block;
      vertical-align: middle;
    }
  }

  > div.loaded {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    md-tabs {
      $tab-background-color: #eff3f6;
      $tab-ink-bar-color: #b01628;

      border-radius: 0;

      md-tabs-wrapper {
        background-color: $tab-background-color;

        md-tab-item {
          color: $nv-text-black;
          background-color: $tab-background-color;
          text-transform: none;

          &.md-active {
            cursor: pointer;
          }

          &:not(.md-active) {
            > span {
              color: $nv-text-black-2;
            }
          }

          span.pending-count {
            position: absolute;
            right: 0.2rem;
            top: 0.2rem;
            background-color: $tab-ink-bar-color;
            border-radius: 2rem;
            width: 2rem;
            height: 2rem;
            color: $nv-text-white;
            line-height: 2rem;
            font-size: 1.2rem;
          }
        }

        md-ink-bar {
          color: $tab-ink-bar-color;
          background: $tab-ink-bar-color;
        }
      }
    }

    .content-view {
      position: relative;
      flex: 1;
      overflow: auto;

      ui-view {
        height: 100%;
      }
    }
  }
}