<md-content
  class="nv-container-reservation-preset-management"
  nv-load="ctrl.getAll"
  loading-message="{{'commons.load-data' | translate}}"
  ng-cloak>
  <div class="backdrop-loading" ng-if="ctrl.backdropLoading">
    <md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>
  </div>

  <md-tabs md-no-select-click="true">
    <md-tab md-active="ctrl.isActive('container.reservation-preset-management.overview')"
            ng-click="ctrl.switchTab('container.reservation-preset-management.overview')">'
      <md-tab-label>
        {{ 'container.reservation-preset-management.overview' | translate }}
      </md-tab-label>
    </md-tab>
    <md-tab md-active="ctrl.isActive('container.reservation-preset-management.pending')"
            ng-click="ctrl.switchTab('container.reservation-preset-management.pending')">
      <md-tab-label>
        {{ 'container.reservation-preset-management.pending' | translate }}
        <span class="pending-count"
              ng-if="ctrl.pendingTasksResult.length > 0">
          {{ ctrl.pendingTasksResult.length }}
        </span>
      </md-tab-label>
    </md-tab>
  </md-tabs>

  <div class="content-view">
    <div class="content-loading"
         ng-if="ctrl.contentLoading">
      <md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>
      {{ 'commons.load-data' | translate }}
    </div>
    <ui-view ng-if="!ctrl.loading"></ui-view>
  </div>
</md-content>