@import "../../styles/variables";
@import "../../lib/ninja-commons/styles/variables";
@import "../../lib/ninja-commons/styles/mixins/button.mixins";
@import "../../lib/ninja-commons/styles/mixins/media-query.mixins";

app-brandnav {

  .md-button {
    height: $nv-navbar-height;
    width: $nv-sidenav-width;
    background-color: $nv-brand-red;
    margin: 0;

    @include nv-button-no-border-radius;

    &:hover {
      background-color: $nv-brand-red-hover !important;
    }

    i {
      width: 3rem;
    }

    img {
      @include nv-media-query-retina {
        content: url('#{$nv-images-path}/NVLogo@2x.png');
      }
      height: 24px;
    }
  }

}
