<md-button type="button" aria-label="Open Sidenav" ng-click="openSidenav()">
    <div layout="row" layout-align="center center">

        <img src="lib/ninja-commons/assets/images/NVLogo@1x.png" alt="logo" ng-if="showLogo()">

        <i class="material-icons" ng-if="!showLogo()">list</i>
        
    </div>
</md-button>
