@import "../../styles/variables";

nv-container-box {

  display: block;
  padding: 1rem;
  border: 0.1rem solid $nv-border-color;

  .label {
    padding-bottom: 0.5rem;
    font-size: $font-size-p;
    line-height: 1.8rem;
    color: rgba(0, 0, 0, 0.54);
  }

}
