@import "../../../../lib/ninja-commons/styles/variables";

md-dialog.driver-add,
md-dialog.driver-edit {

  $transition-duration: 400ms;

  width: 62rem;
  height: 75rem;

  .md-dialog-content {
    nv-container-box {
      margin-bottom: 1.5rem;

      .md-block.labels {
        line-height: 2rem;
      }

      .md-block.no-margins > .md-block {
        margin: 0;
      }

      .no-margins-bottom .md-block {
        margin-bottom: 0;
      }

      .md-errors-spacer {
        display: none;
      }

      .md-block.no-labels label {
        display: none;
      }

      nv-create-button {
        margin: 0.2rem 0;
        padding-top: 0.2rem;
      }
    }

    nv-container-box.vehicles .inner-row,
    nv-container-box.zone-preferences .inner-row {
      margin-bottom: 0.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    nv-container-box.vehicles .repeat-item,
    nv-container-box.contacts .repeat-item {
      padding: 0.5rem;
      border: 0.1rem solid $nv-border-color;

      &:not(:first-child) {
        border-top: none;
      }

      &:nth-child(odd) {
        background-color: #f3f6f9;
      }

      &:nth-child(even) {
        background-color: $nv-background-color;
      }
    }

    nv-container-box.zone-preferences .repeat-item {
      padding-bottom: 1rem;

      .zp-rank-container {
        text-align: center;
        border-right: 0.2rem solid;

        .zp-rank-container-inner {
          padding: 0.2rem 0 0.2rem 0.2rem;
          border-top-left-radius: 0.2rem;
          border-bottom-left-radius: 0.2rem;

          i {
            display: block;
            outline: none;
            line-height: 2rem;
            transition: color $transition-duration ease, background-color $transition-duration ease;
          }

          div {
            cursor: default;
            font-size: 1.8rem;
            line-height: 2rem;
          }
        }
      }

      .zp-settings-container {
        padding: 1rem;
      }

      // hides the up and down rank arrows accordingly
      &:nth-child(2)      .zp-rank-container .zp-rank-container-inner div  { padding-top: 0.6rem;    }
      &:nth-last-child(2) .zp-rank-container .zp-rank-container-inner div  { padding-bottom: 0.6rem; }
      &:nth-child(2)      .zp-rank-container .zp-rank-container-inner i:first-child { display: none; }
      &:nth-last-child(2) .zp-rank-container .zp-rank-container-inner i:last-child  { display: none; }

      &:nth-child(15n+2)  .zp-rank-container { border-color: #da6037; .zp-rank-container-inner { background-color: #da6037; color: white; i:hover { background-color: darken(#da6037, 10%); } } }
      &:nth-child(15n+3)  .zp-rank-container { border-color: #c67b1e; .zp-rank-container-inner { background-color: #c67b1e; color: white; i:hover { background-color: darken(#c67b1e, 10%); } } }
      &:nth-child(15n+4)  .zp-rank-container { border-color: #59791d; .zp-rank-container-inner { background-color: #59791d; color: white; i:hover { background-color: darken(#59791d, 10%); } } }
      &:nth-child(15n+5)  .zp-rank-container { border-color: #3cb00b; .zp-rank-container-inner { background-color: #3cb00b; color: white; i:hover { background-color: darken(#3cb00b, 10%); } } }
      &:nth-child(15n+6)  .zp-rank-container { border-color: #3b79be; .zp-rank-container-inner { background-color: #3b79be; color: white; i:hover { background-color: darken(#3b79be, 10%); } } }
      &:nth-child(15n+7)  .zp-rank-container { border-color: #594673; .zp-rank-container-inner { background-color: #594673; color: white; i:hover { background-color: darken(#594673, 10%); } } }
      &:nth-child(15n+8)  .zp-rank-container { border-color: #cf64a7; .zp-rank-container-inner { background-color: #cf64a7; color: white; i:hover { background-color: darken(#cf64a7, 10%); } } }
      &:nth-child(15n+9)  .zp-rank-container { border-color: #dc506a; .zp-rank-container-inner { background-color: #dc506a; color: white; i:hover { background-color: darken(#dc506a, 10%); } } }
      &:nth-child(15n+10) .zp-rank-container { border-color: #89421f; .zp-rank-container-inner { background-color: #89421f; color: white; i:hover { background-color: darken(#89421f, 10%); } } }
      &:nth-child(15n+11) .zp-rank-container { border-color: #8d8c14; .zp-rank-container-inner { background-color: #8d8c14; color: white; i:hover { background-color: darken(#8d8c14, 10%); } } }
      &:nth-child(15n+12) .zp-rank-container { border-color: #365218; .zp-rank-container-inner { background-color: #365218; color: white; i:hover { background-color: darken(#365218, 10%); } } }
      &:nth-child(15n+13) .zp-rank-container { border-color: #279541; .zp-rank-container-inner { background-color: #279541; color: white; i:hover { background-color: darken(#279541, 10%); } } }
      &:nth-child(15n+14) .zp-rank-container { border-color: #616ca7; .zp-rank-container-inner { background-color: #616ca7; color: white; i:hover { background-color: darken(#616ca7, 10%); } } }
      &:nth-child(15n+15) .zp-rank-container { border-color: #ae67e8; .zp-rank-container-inner { background-color: #ae67e8; color: white; i:hover { background-color: darken(#ae67e8, 10%); } } }
      &:nth-child(15n+16) .zp-rank-container { border-color: #8b3350; .zp-rank-container-inner { background-color: #8b3350; color: white; i:hover { background-color: darken(#8b3350, 10%); } } }
    }

    nv-container-box.driver-details .nv-label-small,
    nv-container-box.vehicles .nv-label-small {
      padding-left: 0.2rem;
    }

    nv-container-box.zone-preferences .nv-label-small {
      display: block;
      padding: 0 0 0.5rem 0.2rem;
    }

    nv-container-box.vehicles .md-block.with-single-button,
    nv-container-box.contacts .md-block.with-single-button,
    nv-container-box.zone-preferences .md-block.with-single-button,
    nv-container-box.user-account .md-block.with-single-button {
      padding: 0.2rem;
      position: relative;
      text-align: right;

      .nv-button {
        width: 100%;
        min-width: 0;
        max-width: 12rem;
        height: 3.6rem;
        min-height: 3.6rem;
        line-height: 3.2rem;
      }
    }

    nv-container-box.user-account .md-block.with-single-button .nv-button {
      max-width: 14rem;
    }

    nv-container-box.driver-details .md-block.with-non-input,
    nv-container-box.user-account .md-block.with-non-input,
    nv-container-box.vehicles .md-block.with-non-input {
      padding: 0.2rem;
      position: relative;
      margin-top: 1.8rem;
    }

    nv-container-box.driver-details .md-block.with-non-input .nv-label-small,
    nv-container-box.vehicles .md-block.with-non-input .nv-label-small {
      position: absolute;
      top: -1.8rem;
      line-height: 2rem;
    }

    nv-container-box.driver-details .md-block.with-non-input .nv-btn-grp,
    nv-container-box.vehicles .md-block.with-non-input .nv-btn-grp {
      width: 100%;
      max-width: 10rem;
      display: flex;

      button {
        flex: 1;
      }
    }

    nv-container-box.user-account .md-block.with-non-input .text-prompt-add {
      font-size: 1.2rem;
      line-height: 3rem;
      color: $nv-label-color;
    }

    nv-container-box.user-account .md-block.with-non-input .text-prompt-edit {
      font-size: 1.2rem;
      line-height: 1.6rem;
      color: $nv-label-color;
    }

    .comments {
      margin: 3rem 1rem 0;
    }
  }

  md-dialog-actions .hints {
    margin-right: 1rem;
    color: rgb(221, 44, 0);
  }

  md-select-value {
    overflow: hidden;

    *:first-child { // force ellipses
      width: 80%; // fallback
      width: calc(100% - 2.4rem);
    }
  }

}


md-dialog.driver-edit-filter {
  width: 90%;
  height: 90%;
  md-dialog-content, form {
    height: 100%;
  }
  md-dialog-content, md-dialog-actions {
    background: $nv-background-color;
  }
  .filter-warning {
    height: 3.5rem;
    width: 100%;
    background-color: $nv-highlight-yellow;
    padding: 0;
    i, p {
      color: $nv-dark-yellow;
    }
    p {
      margin: 0.5em;
    }
  }
}