<nv-dialog-header title="Edit Driver" on-cancel="::onCancel($event)"></nv-dialog-header>

<form name="modelForm" ng-submit="::onSave()" md-theme="nvBlue">

  <md-dialog-content>
    <div class="md-dialog-content">

      <nv-container-box label="Driver Details" class="driver-details">

        <div class="md-block multi-input-row" layout="row">
          <nv-input-text
            class="md-block" flex="35"
            label="{{::fields.firstName.displayName}}"
            model="fields.firstName.value"
            form="modelForm" required="::true">
          </nv-input-text>

          <nv-input-text
            class="md-block" flex="35"
            label="{{::fields.lastName.displayName}}"
            model="fields.lastName.value"
            form="modelForm">
          </nv-input-text>

          <nv-input-text
            class="md-block" flex="30"
            label="{{::fields.licenseNumber.displayName}}"
            model="fields.licenseNumber.value"
            form="modelForm" required="::true">
          </nv-input-text>
        </div>

        <div class="md-block multi-input-row" layout="row">
          <nv-input-select
            class="md-block" flex="50"
            label="{{::fields.driverType.displayName}}"
            model="fields.driverType.value" model-options="{trackBy: '$value'}"
            options="fields.driverType.options"
            form="modelForm" required="::true">
          </nv-input-select>

          <nv-input-number
            class="md-block" flex="50"
            label="{{::fields.codLimit.displayName}}"
            model="fields.codLimit.value" step="::0.01"
            min="0"
            form="modelForm" currency="{{::currency}}">
          </nv-input-number>
        </div>

        <div class="md-block multi-input-row" layout="row">
          <div class="md-block with-non-input" flex="35">
            <nv-label-small label="{{::fields.tags.RESUPPLY.displayName}}"></nv-label-small>
            <nv-btn-grp
              model="fields.tags.RESUPPLY.value"
              label-for-model-idx-0="Yes"
              label-for-model-idx-1="No"
              form="modelForm" select-multiple="false" select-none="false" default-selection="'01'">
            </nv-btn-grp>
          </div>

          <nv-input-number
            class="md-block with-non-input" flex="65"
            label="{{::fields.maxBiddableWaypoints.displayName}}"
            model="fields.maxBiddableWaypoints.value"
            form="modelForm"
            ng-show="showMaxBidLimit()">
          </nv-input-number>
        </div>

        <div class="md-block multi-input-row" layout="row">
          <div flex="35">
            <nv-input-number
              class="md-block with-non-input"
              label="{{::fields.maxOnDemandJobs.displayName}}"
              model="fields.maxOnDemandJobs.value"
              required="true"
              form="modelForm">
            </nv-input-number>
          </div>
        </div>

        <div class="md-block" layout="row">
          <div class="md-block with-non-input" flex="100">
            <nv-label-small label="{{::fields.hub.displayName}}"></nv-label-small>
            <nv-autocomplete
              hide-search-icon="true"
              search-text="searchText"
              placeholder="{{::fields.hub.displayName | translate}}"
              delegate-handle="driver-strength-edit"
              multiple="false"
              selected-item="fields.hub.value"
              selected-options="fields.hub.selectedOptions"
              possible-options="fields.hub.options"
              form="modelForm">
            </nv-autocomplete>
          </div>
        </div>

      </nv-container-box>

      <nv-container-box label="Vehicles" class="vehicles">

        <div class="md-block no-margins-bottom repeat-item" layout="column" ng-repeat="vehicle in fields.vehicles._values track by $index">

          <div class="inner-row" layout="row">
            <nv-input-select
                class="md-block" flex="35"
                label="{{::fields.vehicles.vehicleType.displayName}}"
                model="vehicle.vehicleType" model-options="{trackBy: '$value'}"
                options="fields.vehicles.vehicleType.options"
                form="modelForm" required="::true">
            </nv-input-select>

            <nv-input-text
                class="md-block" flex="35"
                label="{{::fields.vehicles.vehicleNo.displayName}}"
                model="vehicle.vehicleNo"
                form="modelForm" required="::true">
            </nv-input-text>

            <div class="md-block with-single-button" flex="30">
              <md-button
                  class="nv-button raised" type="button" aria-label="Primary"
                  ng-click="::onChangeActive('vehicles', $index)"
                  ng-class="{'raised': vehicle.active}">
                {{vehicle.active ? 'Primary' : 'Set As Primary'}}
              </md-button>
            </div>
          </div>

          <div class="inner-row" layout="row">
            <div class="md-block with-non-input" flex="35">
              <nv-label-small label="{{::fields.vehicles.ownVehicle.displayName}}"></nv-label-small>
              <nv-btn-grp
                  model="vehicle.ownVehicle"
                  label-for-model-idx-0="Yes"
                  label-for-model-idx-1="No"
                  form="modelForm" select-multiple="false" select-none="false" default-selection="'01'">
              </nv-btn-grp>
            </div>

            <nv-input-number
                class="md-block" flex="35"
                label="{{::fields.vehicles.capacity.displayName}}"
                model="vehicle.capacity"
                min="0"
                form="modelForm" required="::true">
            </nv-input-number>

            <div class="md-block with-single-button" flex="30">
              <md-button
                  class="nv-button ghost" type="button" aria-label="Remove"
                  ng-click="::onRemove(fields.vehicles._values, $index)">
                Remove
              </md-button>
            </div>
          </div>

        </div>

        <nv-create-button
          class="flat"
          name="Add More Vehicles"
          ng-click="::onAddMore('vehicles', fields.vehicles._values)">
        </nv-create-button>

      </nv-container-box>

      <nv-container-box label="Contacts" class="contacts">

        <div class="md-block no-margins-bottom repeat-item" layout="row" ng-repeat="contact in fields.contacts._values track by $index">
          <nv-input-select
              class="md-block" flex="25"
              label="{{::fields.contacts.type.displayName}}"
              model="contact.type" model-options="{trackBy: '$value'}"
              options="fields.contacts.type.options"
              form="modelForm" required="::true">
          </nv-input-select>

          <nv-input-text
              class="md-block" flex="30"
              label="{{::fields.contacts.details.displayName}}"
              model="contact.details"
              form="modelForm" required="::true">
          </nv-input-text>

          <div class="md-block with-single-button" flex="25">
            <md-button
                class="nv-button raised" type="button" aria-label="Primary"
                ng-click="::onChangeActive('contacts', $index)"
                ng-class="{'raised': contact.active}">
              {{contact.active ? 'Primary' : 'Set As Primary'}}
            </md-button>
          </div>

          <div class="md-block with-single-button" flex="20">
            <md-button
                class="nv-button ghost" type="button" aria-label="Remove"
                ng-click="::onRemove(fields.contacts._values, $index)">
              Remove
            </md-button>
          </div>
        </div>

        <nv-create-button
          class="flat"
          name="Add More Contacts"
          ng-click="::onAddMore('contacts', fields.contacts._values)">
        </nv-create-button>

      </nv-container-box>

      <nv-container-box label="Preferred Zones + Capacity" class="zone-preferences">

        <nv-label-small
          class="label-active"
          label="{{::fields.zonePreferences.rank.displayName}}"
          ng-if="fields.zonePreferences._values.length > 0">
        </nv-label-small>

        <div class="md-block no-margins-bottom repeat-item" layout="row" ng-repeat="zonePreference in fields.zonePreferences._values track by $index">

          <div class="zp-rank-container" flex="5">
            <div class="zp-rank-container-inner nv-text-no-select">
              <i class="material-icons" ng-click="::onUpRank(fields.zonePreferences._values, $index)">arrow_drop_up</i>
              <div>{{zonePreference.rank}}</div>
              <i class="material-icons" ng-click="::onDownRank(fields.zonePreferences._values, $index)">arrow_drop_down</i>
            </div>
          </div>

          <div class="md-whiteframe-2dp zp-settings-container" layout="column" flex="95">
            <div class="inner-row" layout="row">
              <nv-input-select
                  class="md-block" flex="30"
                  label="{{::fields.zonePreferences.zoneId.displayName}}"
                  model="zonePreference.zoneId" model-options="{trackBy: '$value'}"
                  options="fields.zonePreferences.zoneId.options"
                  form="modelForm" required="::true">
              </nv-input-select>

              <nv-input-number
                  class="md-block" flex="15"
                  label="{{::fields.zonePreferences.minWaypoints.displayName}}"
                  model="zonePreference.minWaypoints"
                  min="0"
                  max="{{zonePreference.maxWaypoints}}"
                  form="modelForm" required="::true">
              </nv-input-number>

              <nv-input-number
                  class="md-block" flex="15"
                  label="{{::fields.zonePreferences.maxWaypoints.displayName}}"
                  model="zonePreference.maxWaypoints"
                  min="{{zonePreference.minWaypoints}}"
                  form="modelForm" required="::true">
              </nv-input-number>

              <nv-input-number
                  class="md-block" flex="15"
                  label="{{::fields.zonePreferences.cost.displayName}}"
                  model="zonePreference.cost"
                  min="0"
                  form="modelForm" required="::true">
              </nv-input-number>

              <div class="md-block with-single-button" flex="25">
                <md-button
                    class="nv-button ghost" type="button" aria-label="Remove"
                    ng-click="::onRemove(fields.zonePreferences._values, $index, 'zonePreferences')">
                  Remove
                </md-button>
              </div>
            </div>

            <div class="inner-row" layout="row">
              <nv-input-number
                  class="md-block" flex="35"
                  label="{{::fields.zonePreferences.latitude.displayName}}"
                  model="zonePreference.latitude" step="'any'"
                  form="modelForm" required="::true">
              </nv-input-number>

              <nv-input-number
                  class="md-block" flex="35"
                  label="{{::fields.zonePreferences.longitude.displayName}}"
                  model="zonePreference.longitude" step="'any'"
                  form="modelForm" required="::true">
              </nv-input-number>
            </div>
          </div>

        </div>

        <nv-create-button
          class="flat"
          name="Add More Zones"
          ng-click="::onAddMore('zonePreferences', fields.zonePreferences._values)">
        </nv-create-button>

      </nv-container-box>

      <nv-container-box label="User Account" class="user-account">

        <div class="md-block no-margins-bottom" layout="row">
          <nv-input-text
            class="md-block" flex="40"
            label="{{::fields.username.displayName}}"
            model="fields.username.value"
            form="modelForm" required="::true" readonly="::true">
          </nv-input-text>
        </div>

        <div class="md-block no-margins-bottom" layout="row">
          <nv-input-text
            class="md-block" flex="40"
            label="{{::fields.password.displayName}}"
            model="fields.password.value"
            form="modelForm">
          </nv-input-text>

          <div class="md-block with-non-input" flex>
            <div class="text-prompt-edit">Fill in only if you want to reset your password. Minimum length: 8 characters, only A-Z and 0-9 digits.</div>
          </div>
        </div>

      </nv-container-box>

      <nv-input-textarea
        class="md-block comments"
        label="{{::fields.comments.displayName}}"
        model="fields.comments.value"
        form="modelForm">
      </nv-input-textarea>

    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <div class="hints" ng-if="isDisabled()">At least one {{isDisabledText()}} required</div>
    <nv-button-save name="Submit" form="modelForm" state="saveButtonState" is-disabled="::isDisabled()"></nv-button-save>
  </md-dialog-actions>

</form>
