<nv-dialog-header title="Edit Filters" on-cancel="::ctrl.cancel($event)"></nv-dialog-header>
<form ng-submit="ctrl.loadSelection($event)">
  <md-dialog-content layout-padding>
    <nv-filter-box-container
      possible-filters="ctrl.possibleFilters"
      selected-filters="ctrl.selectedFilters"
      search-by="mainTitle">
    </nv-filter-box-container>
    <div class="filter-warning" layout="row" layout-align="center" ng-if="ctrl.isEmptyFilter()">
      <i class="material-icons">warning</i>
      <p>{{'container.driver-strength.no-filter' | translate}}</p>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <nv-button-save
      class="raised"
      name="{{ctrl.isEmptyFilter() ? 'container.driver-strength.load-everything' : 'container.driver-strength.load-selection'}}"
      state="'clean'"
      is-disabled="ctrl.isButtonDisabled"
      md-theme="{{ctrl.isEmptyFilter()? 'nvYellow' : 'nvGreen'}}">
    </nv-button-save>
  </md-dialog-actions>
</form>