@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";

md-content.nv-container-printer-templates {
  background-color: $nv-background-color;

  @include nv-card;

  padding: 0.7rem;

  @include nv-media-query-md-min {
    padding: 1.4rem 4.2rem;
  }

  @include nv-media-query-lg-min {
    padding: 2.1rem 6.3rem;
  }

  @include nv-media-query-xl-min {
    padding: 2.8rem 8.4rem;
  }

  h3.title {
    margin-bottom: 1.5rem;
  }

  md-content {
    padding: 2rem;

    .header-label-container {
      margin-bottom: 1.5rem;
    }

    .preview-img {
      border: 0.2rem solid;
    }
  }

  md-card.label-container, md-card.variable-container {
    margin: 2rem auto;
    margin-left: 0;
    display: inline-block;
    width: 48%;
  }

  md-input-container {
    width: 100%;
  }

  md-input-container.dropdown-input {
      margin-bottom: 2.4rem;
  }

  .template-container {
    white-space: pre-line;
    overflow-x: auto;
  }
}