<md-content
	nv-load="ctrl.getAll"
	class="nv-container-printer-templates"
	loading-message="{{'container.printer-templates.load-templates' | translate}}">
	<h3 class="title">{{'container.printer-templates.title' | translate}}</h3>
	<div layout="column">
		<form name="filterTemplateForm">
			<div layout="row">
				<div flex="33">
					<nv-input-select
						label="{{'container.printer-templates.select-template' | translate}}"
						form="filterTemplateForm"
						model-options="{}"
						model="ctrl.printTemplatesSelection.value"
						options="ctrl.printTemplatesSelection.options"
						on-change="ctrl.setPrintTemplateChange()"
						required="true">
					</nv-input-select>
				</div>
			</div>

			<div layout="row" ng-if="ctrl.printTemplatesSelection.value !== null">
			<md-card class="label-container">
				<md-content>
					<div class="header-label-container" layout="row" layout-align="space-between center">
						<h5>{{'container.printer-templates.label-template' | translate}}</h5>
						<nv-api-text-button
							form="filterTemplateForm"
							ng-if="!ctrl.showPreview"
							class="flat"
							name="commons.preview"
							icon="search"
							state="ctrl.previewState"
							on-click="ctrl.togglePreview()">
						</nv-api-text-button>
						<nv-api-text-button
							ng-if="ctrl.showPreview"
							class="flat"
							name="commons.template"
							icon="label_outline"
							state="ctrl.previewState"
							on-click="ctrl.togglePreview()">
						</nv-api-text-button>
					</div>
					<div class="template-container"
						ng-if="!ctrl.showPreview">{{ctrl.template}}</div>
					<image class="preview-img" ng-if="ctrl.showPreview" data-ng-src="{{ctrl.labelPreview}}"></image>
				</md-content>
			</md-card>

			<md-card class="variable-container">
				<md-content>
					<div class="header-label-container">
						<h5>{{'container.printer-templates.fields' | translate}}</h5>
					</div>
					<div ng-repeat="(key,variable) in ctrl.variablesMap" ng-switch="key">
						<nv-input-select
							ng-switch-when="font"
							class="dropdown-input"
							label="{{key}}"
							form="filterTemplateForm"
							model-options="{}"
							model="variable.value"
							options="ctrl.fontOptions"
							required="true">
						</nv-input-select>
						<nv-input-text
							ng-switch-default
							form="filterTemplateForm"
							label="{{key}}"
							model="variable.value"
							required="true">
						</nv-input-text>
					</div>
				</md-content>
			</md-card>
			</div>

			<div flex="1" ng-if="ctrl.printTemplatesSelection.value !== null">
				<nv-api-text-button
					form="filterTemplateForm"
					md-theme="nvGreen"
					class="raised full"
					name="container.stamp-printing.print-stamp"
					on-click="ctrl.printStamp(ctrl.printTemplatesSelection.value)"
					state="ctrl.submitState"
					ng-if="ctrl.printTemplatesSelection.value !== null">
				</nv-api-text-button>
			</div>
		</form>
	</div>
</md-content>