@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../lib/ninja-commons/styles/mixins/typography.mixins";


.nv-unverified-address-assignment {
  height: 100%;
  width: 100%;

  .loaded {
    height: 100%;
  }

     .filter-page{

      padding: 1rem;
    @include nv-media-query-md-min {
      padding: 2rem;
    }

    @include nv-media-query-lg-min {
      padding: 3rem;
    }

    @include nv-media-query-xl-min {
      padding: 4rem;
    }
    md-input-container.query-box{
      margin-top: 2.5rem;
    }

    .filter-header {
      padding-left: 1.4rem;
      padding-right: 1.4rem;
      margin-bottom: 1.4rem;
    }

    h4.filter-title {
      vertical-align: middle;
      color: $nv-text-black-2;
    }

    .filter-box-container.fixed {
      md-content {
        border: 0.1rem $nv-light4 solid;
        margin-bottom: 1.4rem;
        padding-left: 1.4rem;
        padding-right: 1.4rem;
        padding-top: 2.8rem;
      }
    }
  }  
  .result-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    nv-table-description{
        overflow-x: auto;
    }
    .zone-info-container{
      padding: .5rem;
      background: #FFFFFF;
      ul.zone-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 10rem;
        padding: 0;
        overflow-x: auto;
        li.zone{
          list-style: none;
          margin-left: 1rem;
          width: 25rem;
        }  
      }
    }

    div.table-container {
      position: relative;
      flex: 1;
      nv-table {
        // column width
        @include nv-table-column-width(score, 8rem);
        @include nv-table-column-width(granular-status, 15rem);
        @include nv-table-column-width(shipper-name, 15rem);
        @include nv-table-column-width(address, 25rem);
      }

    }

  }


}

.nv-dialog-bulk-unverified-address{
    min-width: 40rem;
    max-width: 60rem;
    padding: 2.8rem;

    min-height: 15rem;
    max-height: 90%;
    .progress-header{
        text-align: center;
    }
    .progress-bar-container{
        margin-top:2.8rem;
        margin-bottom: 2.8rem;

    }
    .error-box{
        background: #FFEAEE;
        color: #C30D38;
        margin-bottom: 2.8rem;
    }
}