<md-content class="nv-unverified-address-assignment" nv-load="ctrl.onLoad">
    <div class="filter-page" ng-if="ctrl.showPage== 'filter'">
        <div layout="row" class="filter-header" layout-start="start center">
            <h4 class="filter-title">{{'commons.select-filter' | translate}}</h4>
        </div>

       <nv-filter-box-container
                possible-filters="ctrl.possibleFilters"
                selected-filters="ctrl.selectedFilters"
                on-change="ctrl.onChangeFilter()"
                search-by="mainTitle">
        </nv-filter-box-container>

        <div layout="row" layout-align="center">
            <nv-api-text-button class="raised" state="ctrl.state" name="commons.load-selection" on-click='ctrl.loadData()'>
            </nv-api-text-button>
        </div>
    </div>

    <div class="result-page" ng-if="ctrl.showPage=='result'">
        <div class="action-toolbar">
            <div flex="100" layout="row" layout-padding layout-align='space-between center'>
                <nv-icon-text-button icon="filter_list" class="raised" on-click="ctrl.openFilterPage()" name="{{'commons.edit-filters' | translate }}">
                </nv-icon-text-button>
                <div flex="40" layout="row" layout-wrap layout-align="end center">
                        <div flex="30" ng-if="ctrl.tableParam.getSelectionCount()>0">
                            {{ctrl.tableParam.getSelectionCount()}} Selected
                        </div>    
                        <nv-input-select 
                            flex="40" 
                            label="{{'container.unverified-address-assignment.assign-to-zone' | translate}}" 
                            model-options="{}"
                            model="ctrl.selectedZone" 
                            options="ctrl.zonesOptions" 
                            set-default="false"
                            searchable="::true">
                        </nv-input-select>
                        <nv-api-text-button 
                            flex="30" 
                            class="raised" 
                            icon="done_all"
                            md-theme="nvGreen" 
                            aria-label="Assign" 
                            on-click="ctrl.assign($event)" 
                            name="{{'commons.assign' | translate}}"
                            id="assignButton" 
                            disabled="!ctrl.isAbleToChange || !ctrl.selectedZone"                             
                            state="ctrl.state">
                        </nv-api-text-button>
                </div>
            </div>
        </div>

        <div layout="row" layout-wrap>
            <!--<div flex="33" class="filter-info-container">
                
            </div>-->
            <nv-table-description 
                    flex="33"
                    table-param="ctrl.tableParam"
                    filters="ctrl.selectedFilters"
                    title-display="mainTitle">
            </nv-table-description>
            <div flex="66" class="zone-info-container">
                <h5>{{"container.unverified-address-assignment.addresses-per-zone" | translate}}</h5>
                <ul class="zone-container">
                    <li class="zone" ng-repeat="zone in ctrl.zones" layout="row">
                        <span flex>{{zone.name}}</span> 
                        <span flex="15"><b>: {{ctrl.grouped[zone.id]?ctrl.grouped[zone.id].length : '0'}}</b></span>
                    </li>
                </ul>
            </div>            
        </div>

        <div class="table-container">
            <nv-table 
                param="ctrl.tableParam"
                selectable="true"
                controller-as="ctrl"
            >   
                <nv-table-row use="txn">
                    <nv-td column="score">
                        {{txn.score}}
                    </nv-td>

                    <nv-td column="granularStatus">
                        {{txn.granularStatus}}
                    </nv-td>

                    <nv-td column="shipperName">
                        {{txn.shipperName}}
                    </nv-td>

                    <nv-td column="address">
                        {{txn.address}}
                    </nv-td>
                </nv-table-row>
            </nv-table>                
        </div>
</md-content>