@import "../../../../lib/ninja-commons/styles/variables";
.nv-edit-ticket-dialog{
    width: 120rem !important;
    .loading-sheet {
        left: 0;
        top: 0;
        position: absolute;
        background-color: rgba(#CFCFCF, 0.67);
        z-index: 11;
        height: 100%;
        width: 100%;
    }
    .md-tab{
        text-transform: none !important;
    }
    .border{
        border-radius: .3rem;
        border: .1rem solid #EEEEEE;
        margin: 1.4rem;
    }
    md-input-container div.read-only{
        margin-top: .8rem;
    }
    md-input-container[disabled] {
        input , label {
            color: rgba(0, 0, 0, 0.5) !important;
        }
    }
    md-select[disabled] .md-select-value {
        color: rgba(0, 0, 0, 0.5) !important;
    }
    .ticket-images-container {
        padding: 2rem;
        .image-tool-container{
            nv-icon-text-button{
                margin: .5rem;
            }
        }
    }
    .info-container{
        padding: 2rem;
        .label{
            font-weight: normal;
            font-size: 1.2rem;
            color: #7D7D7D;
        }
    }
    .capitalize-case{
        text-transform: capitalize;
    }

    .dialog-wide{
         overflow: hidden;
            .setting-container, .ticket-info-container{                
                overflow-y: auto;
                max-height: 80rem;
            }        
    }

    .comment-table {
        thead, tbody { display: block; }
        
        tbody {
            height: 20rem;    
            overflow-y: auto;    /* Trigger vertical scroll    */
            overflow-x: hidden;  /* Hide the horizontal scroll */
        }
        th, td{
            padding: .5rem;
            margin: 0;
        }
        th.date, td.date{
            width: 10rem;
        }  
        th.user, td.user{
            width: 20rem;
        }
        th.comments, td.comments{
            width: 30rem;
        }
    }
}

.nv-create-ticket-dialog{
    md-dialog-content{
        padding: 1.4rem;
    }
    h5{
        color: #B4B4B4;
        margin-bottom: 1.4rem;
    }
    .border{
        border: .1rem solid #aaa;
        border-radius: .3rem;
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
    }
}

.nv-photo-taking-dialog{

    #my_camera{
        background: #000000;
    }
    #taken-image{
        overflow: auto;
        height: 8rem;
        width: 100%;
        padding: .5rem;
        background: #777777;
        flex-direction: row;        
        .image {  
            margin: .5rem;
            float: left;
            flex: 0 0 auto;
            height: 3.3rem;
            width: 5.7rem;
            box-shadow: 0 0 .2rem #999999;
            position: relative;
            img{                
                width: 5.6rem;
            }
            .delete-button {                
                top: 0;
                right: 0;
                z-index: 1000;
                position: absolute
            }
        }
        p{
            color: #CFCFCF;
        }
    }    
}

.nv-ticket-csv-upload-dialog{
    width: 80rem !important;
    min-height: 30rem;
    md-tab-content{
        padding: 0 1.4rem 1.4rem 1.4rem;
        min-height: 44.4rem;
    }

    .main-screen{
        .toolbar-row {
            align-items: center;
            padding-top: .5rem;
        }
        md-tabs {
            width: 100%;
            padding:0;
        }
        .collapse-btn {
            margin-left: .5rem;
        }

        .table-container{
            max-height: 30rem;
            height: 30rem;
            overflow: hidden;
        }
        table.acronym-table{
            th, td{
                font-size: 1rem;
            }
            th.type, td.type {
                width: 10rem;
            }
            th.subtype, td.subtype {
                width: 20rem;
            }
            th.type-acronym, td.type-acronym {
                width: 10rem
            }
            th.subtype-acronym, td.subtype-acronym {
                width: 10rem;
            }
        }
        table.extra-legend{
            th, td{
                font-size: 1rem;
            }
            th.name, td.name{
                width: 20rem;
            }
            th.acronym, td.acronym{
                width: 10rem;
            }
        }
        thead, tbody { display: block; }

        tbody {
            height: 20rem;
            overflow-y: auto;    /* Trigger vertical scroll    */
            overflow-x: hidden;  /* Hide the horizontal scroll */
        }
        .search-legend{
            width: 20rem;
            margin-bottom: .5rem;
        }
        .search-legend-extra{
            width: 10rem;
            margin-bottom: .5rem;
        }
    }    
    md-dialog-content.uploading-progress-container{
        min-height: 25rem;
    }

    ol{
        margin-top : 0;
        margin-bottom: 0;
        margin-left: 1.8rem;
    }

   
    .uploaded-file-name-container{
       text-align: right;
    }
    

    .upload-result-content {
        div.success-create-container {
            table{
                th.tracking-id, td.tracking-id{
                    width: 25rem;
                }
                th.ticket-id, td.ticket-id{
                    width: 25rem;
                }
            }
        }
        div.failed-create-container{
            table{
                th.tracking-id, td.tracking-id{
                    width: 25rem;
                }
                th.failure-reason, td.failure-reason{
                    width: 55rem;
                }
            }
        }
    }
}

.nv-ticket-csv-search-dialog{
    .change-file-container{
        span{
            margin-right: 1.4rem;
        }
    }

    .failed-create-container{
        background: $nv-light-red;
        color: $nv-dark-red;
        border-radius: .5rem;
        overflow-y: scroll;
    }
}