<nv-dialog-header
  title="Update Past Prices"
  on-cancel="ctrl.func.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<form name="modelForm" ng-submit="ctrl.func.onApply()">
  <!--LOADING-->
  <md-dialog-content class="md-dialog-content" flex="100" ng-if="ctrl.state.page === 0">
    <div layout="row" flex="100" layout-align="center center">
      <md-progress-circular md-mode="indeterminate" md-diameter="60"></md-progress-circular>
    </div>
  </md-dialog-content>
  <!--CONTENT-->
  <md-dialog-content ng-if="ctrl.state.page === 1">
    <div class="md-dialog-content">
      <div layout="row" class="info">
        <nv-hint text="{{ctrl.view.hint}}"></nv-hint>
      </div>
      <div layout="row" class="header">
        <nv-input-text
          id="field-script-name"
          flex="40"
          label = "container.pricing-scripts.script-name"
          model = "ctrl.view.name"
          readonly="::true"
          required = "::false">
        </nv-input-text>
        <div flex="5"></div>
        <nv-input-text
          id="field-script-last-modified"
          flex="40"
          label = "container.pricing-scripts.last-script-update"
          model = "ctrl.view.lastModified"
          readonly="::true"
          required = "::true">
        </nv-input-text>
      </div>
      <div class="plain-separator" layout="row"></div>
      <div layout="row" class="settings border" layout-wrap>
        <div flex="100" layout="row">
          <div flex="30" layout="row">
            <h5 class="title">{{ 'commons.settings' | translate }}</h5>
          </div>
          <div flex></div>
          <div flex="60" layout="row" layout-align="end center">
            <div class="sub-title horizontal-padding-8">Shipper selection</div>
            <nv-btn-grp
              model="ctrl.view.shipperMode"
              label-for-model-idx-0="Include Shippers"
              label-for-model-idx-1="Exclude Shippers"
              select-multiple="false" 
              select-none="false">
            </nv-btn-grp>
          </div>
        </div>
        <div class="md-block autocomplete-label vertical-padding-4" layout="column" flex="100">
          <label>{{ ctrl.view.shipperLabel | translate }}</label>
          <div class="selection-container" layout="row" layout-wrap ng-if="ctrl.view.selectedShippers.length > 0">
            <div ng-if="ctrl.view.shipperMode === '01'" layout="row" layout-align="start center">
              <p class="custom-text">{{ 'container.pricing-scripts.all-shippers-except' | translate: { length: ctrl.view.totalShippers } }}</p>
            </div>
            <nv-icon-text-button
              ng-repeat="shipper in ctrl.view.selectedShippers"
              name="{{::shipper.displayName}}"
              icon-position="right"
              icon="close"
              class="ghost dense filter-button custom"
              aria-label="{{::shipper.displayName}}"
              on-click="::ctrl.func.removeShipper(shipper)">
            </nv-icon-text-button>
          </div>
          <div ng-if="(ctrl.view.selectedShippers.length === 0) && (ctrl.view.shipperMode === '01')">
            <p class="custom-text">{{ 'container.pricing-scripts.all-shippers' | translate }}</p>
          </div>
          <nv-autocomplete 
            search-text="ctrl.view.textShipper"
            placeholder="{{ 'commons.search-or-select' | translate }}"
            delegate-handle="linked-shippers"
            item-types="shipper"
            multiple="::true"
            on-select="ctrl.func.onAdd()">
          </nv-autocomplete>
        </div>
        <div class="vertical-padding-4" layout="row" flex="100">
          <md-datepicker 
            name="from-date-field"
            md-max-date="ctrl.view.endDate"
            ng-model="ctrl.view.startDate"
            md-placeholder="{{'container.route-group.enter-date' | translate}}">
          </md-datepicker>
          <p class="label">{{'commons.to' | translate}}</p>
          <md-datepicker 
            name="to-date-field"
            md-min-date="ctrl.view.startDate"
            ng-model="ctrl.view.endDate"
            md-placeholder="{{'container.route-group.enter-date' | translate}}">
          </md-datepicker>
        </div>
      </div>
    </div>
  </md-dialog-content>
  <!--ERROR-->
  <md-dialog-content class="md-dialog-content" flex="100" ng-if="ctrl.state.page === 2">
    <div layout="row" flex="100" layout-align="center center">
      Error
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <nv-api-text-button
      md-theme="nvGreen"
      name="commons.apply"
      icon="done"
      class="raised"
      state="ctrl.state.apply"
      disabled="!ctrl.func.isAbleToApply()"
      on-click="ctrl.func.onApply()">
    </nv-api-text-button>
  </md-dialog-actions>

</form>