.order-level-tag-management-dialog-add-tags {

  &.nv-dataset-dialog {
    width: 40rem;
  }

  .tags-container { width: 100%; }

  md-dialog-actions {
    > .button-container > nv-icon-text-button:first-child > button.md-nvBlue-theme { color: #f7f7f7 !important; }
  }
}
