<form name="theForm">
  <md-dialog-content layout="column" layout-padding>
    <div class="title">{{ 'container.order-level-tag-management.add-replace-existing-tags' | translate }}</div>
    <div class="tags-container">
      <div class="tag-elements" ng-repeat="tag in ctrl.tags"
        layout layout-align="space-between" flex>
        <md-input-container flex="60">
          <input name="{{ tag.idx }}" ng-model="tag.tag" required md-maxlength="10" aria-label="{{ tag.idx }}">
          <div ng-messages="theForm[tag.idx].$error" ng-show="theForm[tag.idx].$dirty">
            <div ng-message="required">{{ 'container.order-level-tag-management.this-is-required' | translate }}</div>
            <div ng-message="md-maxlength">{{ 'container.order-level-tag-management.too-long' | translate }}</div>
          </div>
        </md-input-container>
        <md-button ng-if="tag.isLast && ctrl.ableToAddMore()" class="md-icon-button" aria-label="add" ng-click="ctrl.addTag()">
          <i class="material-icons">add_circle</i>
        </md-button>
        <md-button ng-if="!tag.isLast" class="md-icon-button" aria-label="remove" ng-click="ctrl.removeTag(tag)">
          <i class="material-icons">remove_circle</i>
        </md-button>
      </div>
    </div>
  </md-dialog-content>
</form>
<md-dialog-actions>
  <div class="button-container" layout layout-align="space-between">
    <nv-icon-text-button
      md-theme="nvBlue"
      name="commons.cancel"
      class="raised"
      on-click="ctrl.cancel()"
    ></nv-icon-text-button>
    <nv-icon-text-button
      md-theme="nvBlue"
      name="commons.save"
      class="raised"
      disabled="ctrl.isSaveDisabled()"
      on-click="ctrl.save()"
    ></nv-icon-text-button>
  </div>
</md-dialog-actions>