@import "../../../../../lib/ninja-commons/styles/mixins/table.mixins";

.shipper-pickups-reservation-summary {
  .table-container {
    height: 100%;
    position: relative;
    flex: 1;

    nv-table {
      // column width
      @include nv-table-column-width(id, 8rem);
      @include nv-table-column-width(rsvn-date, 16rem);
      @include nv-table-column-width(name, 100%);
    }
  }
}