<nv-dialog-header
  title="{{'' | translate}}"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <div class="table-container">
        <nv-table
          param="ctrl.tableParam"
          controller-as="ctrl">
          <nv-table-row
            use="data"
            use-virtual-repeat="false">
            <nv-td column="id" filter="false">
              {{data.id}}
            </nv-td>
            <nv-td column="rsvnDate" filter="false">
              {{data.rsvnDate}}
            </nv-td>
            <nv-td column="name" filter="false">
              {{data.name}}
            </nv-td>
          </nv-table-row>
        </nv-table>
      </div>
    </md-dialog-content>
  </md-dialog>
</form>