<md-input-container flex class="nv-p" ng-class="{'confirmed': confirm(), 'disabled': disabled }">

    <label for="{{id}}" class="nv-small">{{ label | translate }}</label>

    <i class="material-icons input-invalid" ng-if="form[id].$invalid && !disabled">error_outline</i>
    <i class="material-icons input-confirmed" ng-if="confirm() && !disabled">check_circle</i>

    <div ng-if="readonly" class="readonly">
      {{model}}
    </div>

    <input type="email"
           name="{{id}}"
           id="{{id}}"
           aria-label="{{label}}"
           ng-model="model"
           ng-show="!readonly"
           ng-disabled="disabled"
           ng-required="required"
           ng-pattern="/^.+@.+\..+$/"
           ng-minlength="3"
           ng-change="onChange({text:model})"
           ng-maxlength="100">

    <div ng-if="!!form" ng-messages="form[id].$error" role="alert">
        <div ng-message="required">This field is required.</div>
        <div ng-message="pattern">That doesn't look like an email.</div>
        <div ng-message="minlength">Your email is too short.</div>
        <div ng-message="maxlength">Your email is too long.</div>
        <div ng-message="available">Email already used</div>
    </div>

    <div class="help-text" ng-if="helpText">{{helpText}}</div>

    <div ng-if="!form[id].$invalid && confirm()" class="confirmation-text" role="alert">
        <div>{{::confirmText}}</div>
    </div>

</md-input-container>
