.nv-container-third-party-shipper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;

  div.table-container {
    position: relative;
    flex: 1;

    nv-table {
      // column width
      @include nv-table-column-width(id, 6rem);
      @include nv-table-column-width(code, 12rem);
      @include nv-table-column-width(name, 18rem);
      @include nv-table-column-width(url, 100%);

      @include nv-table-row-height(5rem);
      // action columns
      @include nv-table-action-columns(nv-table-action-width("three-dense-p"));
    }
  }
}
