<md-content class="nv-container-third-party-shipper">
  <div class="title" layout="row" layout-padding>
    <div flex="1"></div>
    <nv-download-csv-button
      md-theme="nvBlue"
      data="ctrl.tableParam.getTableData"
      csv-header="['Id', 'Name', 'Url']"
      csv-column-order="['id', 'name', 'url']"
      filename="third-party-shipper.csv">
    </nv-download-csv-button>
    <nv-create-button
      md-theme="nvGreen"
      class="raised"
      name="container.third-party-shipper.add-shipper"
      on-click="::ctrl.createOne($event)">
    </nv-create-button>
  </div>
  
  <div class="table-container">
    <nv-table
      distance="1"
      param="ctrl.tableParam"
      controller-as="ctrl">
      <nv-table-row 
        use="shipper"
        row-height="50">
        <nv-index></nv-index>
        <nv-td column="id">
          {{shipper.id || '-'}}
        </nv-td>
        <nv-td column="code">
          {{shipper.code || '-'}}
        </nv-td>
        <nv-td column="name">
          {{shipper.name || '-'}}
        </nv-td>

        <nv-td column="url">
          {{shipper.url || '-'}}
        </nv-td>

        <nv-action column="actions">
          <nv-icon-button
            md-theme="nvBlue"
            class="ghost dense"
            name="Edit"
            icon="edit"
            on-click="ctrl.updateOne($event, shipper)">
          </nv-icon-button>

          <nv-icon-button
            md-theme="nvRed"
            class="ghost dense"
            name="Delete"
            icon="delete"
            on-click="ctrl.deleteOne($event, shipper)">
          </nv-icon-button>

          <nv-icon-button
            md-theme="nvGreen"
            class="ghost dense"
            name="Go"
            icon="arrow_forward"
            ui-sref="container.third-party-order({'thirdPartyOrder-thirdPartyShipper-name':shipper.name})">
          </nv-icon-button>
        </nv-action>
      </nv-table-row>
    </nv-table>
  </div>
</md-content>
