@import "../../../lib/ninja-commons/styles/variables";
@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../lib/ninja-commons/styles/mixins/media-query.mixins";
@import "../../../lib/ninja-commons/styles/mixins/table.mixins";

.nv-container-non-inbounded-list {
  height: 100%;

  .page-container {
    height: 100%;

    .page-filter {
      padding: 4rem;

      .filter-title {
        padding-bottom: 4rem;
      }

      .filter-box-container {
        padding-left: 0rem;
      }

      .section-load {
        padding-top: 4rem;
      }
    } 

    .page-data {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;

      .horizontal-divider {
        width: 1rem;
      }

      .navigation {
        md-menu-bar {
          padding: 0 0;
        }
      }
      
      .table-container {
        position: relative;
        flex: 1;

        nv-table {
          // column width
          @include nv-table-column-width(shipper, 24rem);
          @include nv-table-column-width(tracking-id, 24rem);
          @include nv-table-column-width(granular-status, 20rem);
          @include nv-table-column-width(order-pickup-date, 18rem);

          @include nv-table-column-width(from-address, 28rem);
          @include nv-table-column-width(reservation-count, 20rem);
          @include nv-table-column-width(last-success-reservation, 18rem);
          @include nv-table-column-width(next-pending-reservation, 18rem);

          @include nv-table-column-width(order-created-at, 18rem);
          @include nv-table-column-width(reservation-address, 34rem);
          @include nv-table-column-width(last-rsvn-datetime, 20rem);
          @include nv-table-column-width(last-rsvn-status, 16rem);
          
          @include nv-table-column-width(last-rsvn-failure-desc, 22rem);
          @include nv-table-column-width(last-rsvn-failure-category, 22rem);

          @include nv-table-row-height(8rem);
        }
      }
    }
  }
}