<md-content
  class="nv-container-non-inbounded-list">
  
  <!-- PAGE 1 -->
  <div class="page-container" ng-if="ctrl.state.page === 0">
    <div class="page-filter"
         ng-if="ctrl.function.isNinjavan()">
      <p class="dark-red nv-text-center"><b>Page temporary disabled</b></p>
    </div>
    <div class="page-filter"
         ng-if="!ctrl.function.isNinjavan()">
      <h5 class="filter-title">
        Select Filters
      </h5>

      <nv-filter-box-container
        possible-filters="ctrl.data.possibleFilters"
        selected-filters="ctrl.data.selectedFilters"
        search-by="mainTitle">
      </nv-filter-box-container>
      
      <div class=section-load layout="row" layout-align="center start">
        <nv-api-text-button
          md-theme="nvBlue"
          name="Load Selection"
          class="raised"
          state="ctrl.state.loadState"
          on-click="ctrl.function.loadFromFilter()">
        </nv-api-text-button>
      </div>
    </div>
  </div>

  <!-- PAGE 2 -->
  <div class="page-container" ng-if="ctrl.state.page === 1">
    <div class="page-data">
      <div class="navigation" layout="row" layout-padding layout-align="space-between none">
        <nv-icon-text-button
          icon="filter_list"
          name="commons.edit-fiters"
          on-click="::ctrl.function.showEditFilter($event)"
          md-theme="nvBlue"
          class="raised">
        </nv-icon-text-button>

        <div layout="row">
          <div ng-if="!ctrl.function.bulkActionDisabled()" layout layout-align="start center">
            <h5>Selected: {{ ctrl.function.getSelectedSize() }}</h5>
          </div>
          <div class="horizontal-divider"></div>
          <md-menu-bar>
            <md-menu md-position-mode="target-right target">
              <md-button
                class="nv-button raised btn-apply-action"
                type="button"
                aria-label="Action"
                ng-click="$mdOpenMenu($event)"
                ng-disabled="ctrl.function.bulkActionDisabled()">
                <span class="nv-text-ellipsis nv-text-left">{{'container.non-inbounded.apply-action' | translate}}</span>
                <i class="material-icons">arrow_drop_down</i>
              </md-button>

              <md-menu-content class="actions-holder dark" width="3">
                <!-- button -->
                <md-menu-item>
                  <md-button class="nv-button flat alternate"
                              type="button"
                              aria-label="{{ 'container.non-inbounded.action-cancel-order' | translate }}"
                              ng-click="ctrl.function.cancelSelectedOrder($event)">
                    <i class="material-icons">cancel</i>
                    <span>{{'container.non-inbounded.action-cancel-order' | translate}}</span>
                  </md-button>
                </md-menu-item>
                <!-- button -->
                <md-menu-item>
                  <md-button class="nv-button flat alternate"
                              type="button"
                              aria-label="{{ 'container.non-inbounded.action-send-webhook' | translate }}"
                              ng-click="ctrl.function.sendWebhook($event)">
                    <i class="material-icons">arrow_forward</i>
                    <span>{{ 'container.non-inbounded.action-send-webhook' | translate }}</span>
                  </md-button>
                </md-menu-item>
                <!-- button -->
                <md-menu-item>
                  <md-button class="nv-button flat alternate"
                              type="button"
                              aria-label="{{ 'commons.download-csv' | translate }}"
                              ng-click="ctrl.function.downloadCsv($event)">
                    <i class="material-icons">file_download</i>
                    <span>{{ 'commons.download-csv' | translate }}</span>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </md-menu-bar>
        </div>
      </div>
      <nv-table-description
        table-param="ctrl.data.tableParam"
        filters="ctrl.data.selectedFilters"
        title-display="mainTitle">
      </nv-table-description>
      <div class="table-container">
        <nv-table
          param="ctrl.data.tableParam"
          selectable="true"
          controller-as="ctrl">
          <nv-table-row
            use="nonInbounded"
            row-height="80">
            <nv-td column="shipper">
              {{nonInbounded.shipper}}
            </nv-td>
            <nv-td column="trackingId">
              {{nonInbounded.trackingId}}
            </nv-td>
            <nv-td column="granularStatus">
              {{nonInbounded.granularStatus}}
            </nv-td>
            <nv-td column="orderPickupDate">
              {{nonInbounded.orderPickupDate}}
            </nv-td>

            <nv-td column="fromAddress">
              {{nonInbounded.fromAddress}}
            </nv-td>
            <nv-td column="reservationCount">
              {{nonInbounded.reservationCount}}
            </nv-td>
            <nv-td column="lastSuccessReservation">
              {{nonInbounded.lastSuccessReservation}}
            </nv-td>
            <nv-td column="nextPendingReservation">
              {{nonInbounded.nextPendingReservation}}
            </nv-td>

            <nv-td column="orderCreatedAt">
              {{nonInbounded.orderCreatedAt}}
            </nv-td>
            <nv-td column="reservationAddress">
              {{nonInbounded.reservationAddress}}
            </nv-td>
            <nv-td column="lastRsvnDatetime">
              {{nonInbounded.lastRsvnDatetime}}
            </nv-td>
            <nv-td column="lastRsvnStatus">
              {{nonInbounded.lastRsvnStatus}}
            </nv-td>

            <nv-td column="lastRsvnFailureDesc">
              {{nonInbounded.lastRsvnFailureDesc}}
            </nv-td>
            <nv-td column="lastRsvnFailureCategory">
              {{nonInbounded.lastRsvnFailureCategory}}
            </nv-td>
          </nv-table-row>
        </nv-table>
      </div>
    </div>
  </div>
</md-content>