<md-content class="nv-container-pricing-v2"
            nv-load="ctrl.init"
            loading-message="{{'commons.load-data' | translate}}">
    <!--HEADER-->
    <div class="header" layout="row">
        <div layout="row" flex="40">
            <h4>{{'container.pricing-scripts.drafts' | translate}}</h4>
        </div>
        <div flex></div>
        <div>
            <nv-icon-text-button
                    class="raised"
                    md-theme="nvGreen"
                    name="container.pricing-scripts.create-draft"
                    icon="add"
                    disabled="ctrl.disableCreateButton"
                    on-click="::ctrl.onClickCreateDraft($event)">
            </nv-icon-text-button>
        </div>
    </div>

    <div layout="column" flex ng-if="ctrl.state.loading === true" layout-align="center center">
        <md-progress-circular md-mode="indeterminate" md-diameter="64"></md-progress-circular>
    </div>
    <div layout="column" flex ng-if="ctrl.state.loading === false">
        <nv-table-description
            table-param="ctrl.draftScriptsTableParam">
        </nv-table-description>
        <div class="table-container">
            <nv-table
                    param="ctrl.draftScriptsTableParam"
                    class="draft"
                    controller-as="ctrl">
                <nv-table-row
                        use="script"
                        row-height="80">
                    <nv-td column="id">
                        {{script.id}}
                    </nv-td>
                    <nv-td column="name">
                        {{script.name}}
                    </nv-td>
                    <nv-td column="lastModified">
                        {{script.lastModified}}
                    </nv-td>
                    <nv-td column="description">
                        {{script.description}}
                    </nv-td>

                    <nv-action column="draftActions">
                        <nv-icon-button
                                md-theme="nvBlue"
                                class="ghost dense"
                                name="container.pricing-scripts.edit-script"
                                icon="edit"
                                on-click="ctrl.onClickEditScript(script.id)">
                        </nv-icon-button>
                    </nv-action>
                </nv-table-row>
            </nv-table>
        </div>
    </div>
</md-content>