<md-button
  layout="row"
  layout-align="center center"
  class="nv-button"
  ng-click="openDialog($event)"
  ng-disabled="disabled">

  <i class="material-icons">{{::icon}}</i>

  <label for="{{name}}">{{label}}</label>

  <input
    id="{{name}}"
    type="file"
    aria-label="Choose"
    accept="{{accept}}"
    ng-disabled="disabled"/>

</md-button>
