@import "../../styles/variables";
@import "../../styles/keyframes/pulse-wave.keyframes";

.google-map {

  $title: "(NV-Marker-";
  $color-red: "-RED)";
  $color-green: "-GREEN)";
  $color-blue: "-BLUE)";
  $color-orange: "-ORANGE)";

  div.gmnoprint[title*="#{$title}"] {
    border-radius: 50%;
    animation: pulse-wave 3s ease infinite;
  }

  // randomizes the pulse
  div.gmnoprint[title*="#{$title}"]:nth-of-type(2n) {
    animation-delay: 1s;
  }

  // randomizes the pulse
  div.gmnoprint[title*="#{$title}"]:nth-of-type(3n) {
    animation-delay: 1.5s;
  }

  // randomizes the pulse
  div.gmnoprint[title*="#{$title}"]:nth-of-type(5n) {
    animation-delay: 2s;
  }

  div.gmnoprint[title*="#{$color-red}"] {
    background-color: $nv-normal-red;
  }

  div.gmnoprint[title*="#{$color-green}"] {
    background-color: $nv-normal-green;
  }

  div.gmnoprint[title*="#{$color-blue}"] {
    background-color: $nv-normal-blue;
  }

  div.gmnoprint[title*="#{$color-orange}"] {
    background-color: $nv-normal-orange;
  }

}
