@import "../../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/media-query.mixins";
@import "../../../../views/container/zonal-routing/zonal-routing.mixins";
@import "../../../../styles/variables";

.nv-container-zr-assignment {
  md-menu-bar {
    display: inline-block;
    padding: 0;

    .btn-apply-action {
      min-width: 14rem;

      > span {
        flex-grow: 1;
      }
    }
  }

  @include action-toolbar {
    nv-icon-text-button {
      display: inline-block;
      vertical-align: middle;
    }

    .action-toolbar-section {
      display: inline-block;
      padding: 0 $nv-baseline-grid*3;
      border: 1px solid $nv-light2;
      height: $nv-baseline-grid*10;
      float: left;

      > * {
        display: inline-block;
      }

      @include nv-media-query-sm-max {
        display: block;
        text-align: center;
        float: none;
        height: auto;
      }

      .data-blocks {
        .data-block {
          display: inline-block;
          margin-right: $nv-baseline-grid*4;
          vertical-align: middle;
          height: 6.8rem;

          &.data-block-ellipsis {
            $ellipsis-max-width: 18rem;

            max-width: $ellipsis-max-width;

            label {
              + p, + h4, + h5 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }

            md-select-value {
              max-width: $ellipsis-max-width;

              span:not(.md-select-icon) {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }

          @include nv-media-query-sm-max {
            display: block;
            margin-right: 0;
            height: auto;
          }

          label {
            color: $nv-text-white-2;
            display: block;
            font-size: 12px;

            +p, +h4, +h5 {
              margin-top: 0;
              margin-bottom: 0;
              color: $nv-light0;
            }
          }

          &:last-child {
            margin-right: 0;
          }

          .margin {
            margin-top: $nv-baseline-grid*2;
          }

          nv-icon-text-button {
            margin-top: 1.8rem;

            @include nv-media-query-sm-max {
              margin-bottom: $nv-baseline-grid;
            }
          }
        }
      }

      .nv-input-date {
        margin-top: 3.5rem;
        margin-bottom: 0;

        label {
          color: $nv-text-white-2;
        }

        md-datepicker {
          background-color: transparent;

          md-icon, .md-datepicker-input {
            color: $nv-tb05;
          }

          .md-datepicker-expand-triangle {
            border-top-color: $nv-tb05;
            opacity: 0.5;
          }

          &.md-datepicker-open {
            .md-datepicker-input-container {
              background-color: #fff;
              height: 4.2rem;
            }

            .md-datepicker-input {
              color: initial;
            }
          }
        }
      }

      .btn-group {
        min-width: 0 !important;
      }

      .route-groups-selection, .zones-selection{
        margin: -0.4rem 0 0 -0.4rem;

        md-select {
          md-select-value {
            span {
              white-space: normal;
              color: $nv-text-white-2;

              .md-container {
                display: none;
              }
            }

            .md-select-placeholder {
              color: $nv-text-white-2;
            }
          }
        }

        div[ng-messages] {
          display: none;
        }
      }
    }

    .right-container {
      position: relative;

      .buttons-holder {
        position: absolute;
        bottom: 1rem;
        right: 0;
        padding-bottom: $nv-baseline-grid;

        @include nv-media-query-sm-max {
          position: static;

          md-menu-bar {
            margin-top: $nv-baseline-grid;
            margin-bottom: $nv-baseline-grid;
          }
        }
      }
    }
  }

  > div.content {
    height: 100%;

    md-toolbar {
      background-color: $nv-dark2 !important;
    }

    div[dnd-list], .dnd-list {
      margin: 0;

      .item {
        display: block;
        line-height: 3rem;

        .item-label {
          > div > span {
            font-size: 1.2rem;
            text-transform: none;
            float: left;
            height: 1.8rem;

            i {
              font-size: 1.2rem;
              line-height: normal;

              &.material-icons {
                vertical-align: middle;
                line-height: 1.8rem;
              }

              + span {
                vertical-align: middle;
              }
            }
          }

          > div.driver-by-zone-item-label > span {
            &.zone-name {
              width: 50%;
            }

            &.driver-count {
              width: 25%;

              > span {
                display: inline-block;
                min-width: 2.2rem;
                text-align: right;
              }
            }

            &.max-capacity {
              width: 25%;

              > span {
                display: inline-block;
                min-width: 3rem;
                text-align: right;
              }
            }
          }

          > div.driver-item-label > span {
            &.zone-name {
              width: 30%;
            }

            &.driver-name {
              width: 45%;
            }

            &.vehicle-capacity {
              width: 25%;

              > span {
                display: inline-block;
                min-width: 3rem;
                text-align: right;
              }
            }
          }
        }
      }

      > div.placeholder {
        height: 3.2rem;
      }
    }

    .zones-section {
      .fetch-instruction-holder {
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        margin-top: 2rem;

        @include nv-media-query-md-min {
          margin-top: 3rem;
        }

        @include nv-media-query-lg-min {
          margin-top: 4rem;
        }

        @include nv-media-query-xl-min {
          margin-top: 5rem;
        }
      }

      .table-container {
        height: 100%;
        flex: 1;

        nv-table.zone-assignment-table {
          // column width
          @include nv-table-column-width(name, 18rem);
          @include nv-table-column-width(priority, 9rem);
          @include nv-table-column-width(parcels-to-do, 13rem);
          @include nv-table-column-width(condition, 10rem);
          @include nv-table-column-width(capacity, 25rem);

          // row height
          @include nv-table-row-height(5rem);

          thead th {
            vertical-align: middle;
          }

          tbody td, tbody th {
            > *:first-child {
              display: block;
              min-height: 5rem;
            }

            > *:last-child {
              margin-bottom: 0;
            }

            &.name {
              md-checkbox .md-icon {
                width: 100%;
                height: 100%;
              }
            }

            &.parcels-to-do {
              .dl-horizontal {
                margin: 0;

                dt {
                  float: left;
                }

                dd {
                  margin-left: 2rem;
                }
              }
            }

            &.capacity {
              .item {
                nv-icon-text-button {
                  display: block;

                  button {
                    width: 100%;

                    ng-transclude {
                      width: 100%;
                    }
                  }
                }
              }

              .remove-all {
                color: $nv-tb59;
                float: right;
                position: relative;
                top: -0.5rem;
              }

              nv-drag-and-drop {
                max-height: 15rem;
                overflow-x: hidden;
                overflow-y: auto;
              }
            }
          }

          .last-row:not(.last-row-no-result) {
            $lastRowHeight: 4rem;

            height: $lastRowHeight;

            .end-of-result {
              height: $lastRowHeight;

              .end-of-table {
                height: $lastRowHeight;

                p {
                  display: none;
                }
              }
            }
          }
        }
      }
    }

    .unassigned-drivers-section {
      md-content {
        padding-left: 0;
        padding-right: 0;
        border-left: 1px solid $nv-border-color;

        .layout-padding {
          > div:not(.box) {
            padding: 0;
          }
        }

        .box {
          border: 1px solid $nv-border-color;
          -webkit-border-radius: 0.3rem;
          -moz-border-radius: 0.3rem;
          border-radius: 0.3rem;

          .pull-right {
            @include nv-font-color(black, 2);
          }

          h5 {
            margin-bottom: $nv-baseline-grid*2;
            font-weight: normal;
          }

          &.collapse {
            h5 {
              margin-bottom: 0;
            }
          }

          .nv-label-small {
            display: block;
            margin-top: $nv-baseline-grid;
            margin-bottom: -0.4rem;
          }

          .drivers-preferred-zones, .hub {
            margin-top: 0;

            md-select {
              md-select-value {
                span {
                  white-space: normal;

                  .md-container {
                    display: none;
                  }
                }
              }
            }
          }

          .checkbox-container md-checkbox {
            font-size: 1.2rem;

            span {
              line-height: 2rem;
              -ms-text-overflow: ellipsis;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }
        }

        .quickdraws-title-holder {
          background-color: $nv-light2;
          border: 1px solid $nv-border-color;

          p {
            margin: 0;
          }
        }

        .drivers-by-zones-dnd {
          max-height: 20rem;
          overflow-x: hidden;
          overflow-y: auto;
        }

        .drivers-table-header-holder {
          .drivers-table-header {
            margin-bottom: 0;

            th {
              padding-left: 0.8rem;
              padding-right: 0.8rem;
              outline: none;
              background-color: $nv-light2;
              @include nv-font-color(black, 2);
              font-weight: normal;

              i {
                margin-right: 0.5rem;
                color: nth($nv-colors, 1);
              }

              nv-search-input-filter {
                background-color: $nv-light0;
                outline: none;
              }
            }
          }
        }

        .drivers-table-content-holder {
          height: 35rem;
          overflow-x: hidden;
          overflow-y: auto;
        }
      }
    }
  }
}