<div class="nv-container-zr-assignment">
  <div class="action-toolbar" ng-if="!ctrl.contentLoading.hideActionBar">
    <div layout="row">
      <div flex>
        <form name="ctrl.zonesForm">
          <div layout="row" layout-sm="column" layout-xs="column">
            <div flex="100"
                 ng-if="nvZonalRouting.isEditFetchTransactionsSetting">
              <div class="action-toolbar-section">
                <nv-input-date
                  label="container.zonal-routing.route-date"
                  model="nvZonalRouting.routeDate"
                  required="true"
                  form="ctrl.zonesForm">
                </nv-input-date>
              </div>
              <div class="action-toolbar-section">
                <div class="data-blocks">
                  <div class="data-block">
                    <label class="margin">{{'container.zonal-routing.selector' | translate}}</label>
                    <nv-btn-grp
                      class="dark"
                      model="nvZonalRouting.fetchTransactionsMode"
                      label-for-model-idx-0="{{'container.zonal-routing.order-creation-date' | translate}}"
                      label-for-model-idx-1="{{'container.zonal-routing.route-group' | translate}}"
                      form="ctrl.zonesForm" select-multiple="false" select-none="false" default-selection="nvZonalRouting.fetchTransactionsMode">
                    </nv-btn-grp>
                  </div>
                  <div class="data-block data-block-ellipsis"
                      ng-if="!nvZonalRouting.isFetchByRouteGroup()">
                    <label class="margin">{{'commons.zone' | translate}}</label>
                    <nv-input-select
                      class="zones-selection"
                      label="{{ 'commons.zone' | translate }}"
                      show-label="false"
                      placeholder="commons.select.zones"
                      model="nvZonalRouting.zoneIds"
                      model-options="{}"
                      options="ctrl.zoneOptions"
                      form="ctrl.zonesForm"
                      multiple="true"
                      searchable="true"
                    ></nv-input-select>
                  </div>
                  <div class="data-block"
                       ng-if="!nvZonalRouting.isFetchByRouteGroup()">
                    <nv-input-date
                      label="container.zonal-routing.order-creation-date"
                      model="nvZonalRouting.orderCreationDate"
                      required="true"
                      form="ctrl.zonesForm">
                    </nv-input-date>
                  </div>
                  <div class="data-block data-block-ellipsis"
                       ng-if="nvZonalRouting.isFetchByRouteGroup()">
                    <label class="margin">{{'container.zonal-routing.route-group' | translate}}</label>
                    <nv-input-select
                      class="route-groups-selection"
                      label="{{'container.zonal-routing.route-group' | translate}}"
                      show-label="false"
                      placeholder="commons.select.route-groups"
                      model="nvZonalRouting.routeGroupIds"
                      model-options="{}"
                      options="ctrl.routeGroupOptions"
                      form="ctrl.zonesForm"
                      multiple="true"
                      searchable="true"
                      required="::true">
                    </nv-input-select>
                  </div>
                  <div class="data-block">
                    <nv-icon-text-button
                      class="raised dark"
                      name="container.zonal-routing.fetch"
                      disabled="!ctrl.isAbleToFetchTransactions()"
                      on-click="ctrl.fetchTransactions()">
                    </nv-icon-text-button>
                  </div>
                </div>
              </div>
            </div>

            <div flex="50" flex-md="100" flex-sm="100" flex-xs="100"
                 ng-if="!nvZonalRouting.isEditFetchTransactionsSetting">
              <div class="action-toolbar-section">
                <div class="data-blocks">
                  <div class="data-block">
                    <label class="margin">{{'container.zonal-routing.route-date' | translate}}</label>
                    <p>{{ nvZonalRouting.routeDate | nvTime:'operator':'date' }}</p>
                  </div>
                  <div class="data-block data-block-ellipsis"
                       ng-if="nvZonalRouting.isFetchByRouteGroup()">
                    <label class="margin">{{'container.zonal-routing.route-group' | translate}}</label>
                    <p>{{ nvZonalRouting.getRouteGroupNames() }}</p>
                  </div>
                  <div class="data-block"
                       ng-if="!nvZonalRouting.isFetchByRouteGroup()">
                    <label class="margin">{{'container.zonal-routing.order-creation-date' | translate}}</label>
                    <p>{{ nvZonalRouting.orderCreationDate | nvTime:'operator':'date' }}</p>
                  </div>
                  <div class="data-block">
                    <nv-icon-text-button
                      class="ghost dark"
                      name="commons.edit"
                      on-click="ctrl.editFetchTransactionsSetting()">
                    </nv-icon-text-button>
                  </div>
                </div>
              </div>
            </div>
            <div flex flex-md="100" flex-sm="100" flex-xs="100"
                 class="right-container nv-text-right"
                 ng-if="!nvZonalRouting.isEditFetchTransactionsSetting">
              <div class="buttons-holder" ng-if="nvZonalRouting.zoneTransactions !== null">
                <md-menu-bar>
                  <md-menu md-position-mode="target-right target">
                    <md-button
                      class="nv-button ghost dark btn-apply-action"
                      type="button"
                      aria-label="Action"
                      ng-click="$mdOpenMenu($event)">
                      <span class="nv-text-ellipsis nv-text-left">{{'container.zonal-routing.zone-actions' | translate}}</span>
                      <i class="material-icons">arrow_drop_down</i>
                    </md-button>

                    <md-menu-content class="actions-holder">
                      <md-menu-item>
                        <md-button class="nv-button flat alternate"
                                   type="button"
                                   aria-label="{{'container.zonal-routing.merge-all-waypoints' | translate}}"
                                   ng-click="ctrl.mergeTransactions(ctrl.ALL_ZONES_ID)">
                          <span>{{'container.zonal-routing.merge-all-waypoints' | translate}}</span>
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button class="nv-button flat alternate"
                                   type="button"
                                   aria-label="{{'container.zonal-routing.unmerge-all-waypoints' | translate}}"
                                   ng-click="ctrl.unmergeTransactions(ctrl.ALL_ZONES_ID)">
                          <span>{{'container.zonal-routing.unmerge-all-waypoints' | translate}}</span>
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </md-menu-bar>

                <md-menu-bar>
                  <md-menu md-position-mode="target-right target">
                    <md-button
                      class="nv-button ghost dark btn-apply-action"
                      type="button"
                      aria-label="Action"
                      ng-click="$mdOpenMenu($event)">
                      <span class="nv-text-ellipsis nv-text-left">{{'container.zonal-routing.driver-actions' | translate}}</span>
                      <i class="material-icons">arrow_drop_down</i>
                    </md-button>

                    <md-menu-content class="actions-holder">
                      <md-menu-item>
                        <md-button class="nv-button flat alternate"
                                   type="button"
                                   aria-label="{{'container.zonal-routing.auto-assign-drivers-to-zones' | translate}}"
                                   ng-click="ctrl.showAutoAssignDriversModal($event)">
                          <span>{{'container.zonal-routing.auto-assign-drivers-to-zones' | translate}}</span>
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button class="nv-button flat alternate"
                                   type="button"
                                   aria-label="{{'container.zonal-routing.remove-drivers-from-all-zones' | translate}}"
                                   ng-click="ctrl.emptyDriversAssignment()">
                          <span>{{'container.zonal-routing.remove-drivers-from-all-zones' | translate}}</span>
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button class="nv-button flat alternate"
                                   type="button"
                                   aria-label="{{'container.zonal-routing.reset-drivers' | translate}}"
                                   ng-click="ctrl.resetDriversAssignment()">
                          <span>{{'container.zonal-routing.reset-drivers' | translate}}</span>
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </md-menu-bar>

                <nv-icon-text-button
                  md-theme="nvGreen"
                  class="raised dark"
                  name="container.zonal-routing.update-assignment"
                  icon="done"
                  on-click="ctrl.updateDriverAssignment()">
                </nv-icon-text-button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="content">
    <div ng-if="ctrl.contentLoading.status == true"
         class="loading message-container" layout="column" layout-align="center center">
      <md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>
      <div class="md-body-2 message">{{ ctrl.contentLoading.message | translate }}</div>
    </div>
    <div ng-if="ctrl.contentLoading.status == false"
         layout="row" layout-xs="column">
      <div flex="70" flex-xs="100"
           class="zones-section">
        <div layout="column"
             class="fill-height"
             ng-style="ctrl.resizeWithOffset()">
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2 class="md-flex white">{{ 'container.zonal-routing.zones' | translate }}</h2>
            </div>
          </md-toolbar>
          <md-content flex>
            <div
              ng-if="nvZonalRouting.zoneTransactions === null || nvZonalRouting.isEditFetchTransactionsSetting">
              <div class="fetch-instruction-holder" layout="column" layout-align="center center">
                <div class="md-subhead light-black">
                  {{ 'container.zonal-routing.select-route-date-instruction' | translate }}
                </div>
              </div>
            </div>

            <div class="table-container"
                 ng-if="nvZonalRouting.zonesTableParams && !nvZonalRouting.zonesTableParams.empty && nvZonalRouting.zoneTransactions !== null && !nvZonalRouting.isEditFetchTransactionsSetting">
              <nv-table
                class="zone-assignment-table"
                param="nvZonalRouting.zonesTableParams"
                controller-as="ctrl">
                <nv-table-row
                  use-virtual-repeat='false'
                  use="zone"
                  row-height="50">
                  <nv-td column="name" filter="false">
                    <h5>{{ zone.name }}</h5>
                    <nv-icon-text-button
                      md-theme="nvBlue"
                      class="raised dense"
                      name="container.zonal-routing.edit-routes"
                      icon="mode_edit"
                      on-click="ctrl.routeZone(zone.id, $event)">
                    </nv-icon-text-button>

                    <md-menu-bar ng-if="!zone.isCustomZone">
                      <md-menu md-position-mode="target target">
                        <md-button
                          class="nv-button ghost dense btn-apply-action"
                          type="button"
                          aria-label="Action"
                          ng-click="$mdOpenMenu($event)">
                          <span class="nv-text-ellipsis nv-text-left">{{'container.zonal-routing.route-actions' | translate}}</span>
                          <i class="material-icons">arrow_drop_down</i>
                        </md-button>

                        <md-menu-content class="actions-holder" width="3">
                          <md-menu-item>
                            <md-button class="nv-button flat alternate"
                                       type="button"
                                       aria-label="{{'container.zonal-routing.assign-rbe-and-algo' | translate}}"
                                       ng-click="ctrl.sendDriversAssignment(zone.id, $event, ctrl.ROUTE_TYPE.NORMAL)">
                              <span>{{'container.zonal-routing.assign-rbe-and-algo' | translate}}</span>
                            </md-button>
                          </md-menu-item>
                          <md-menu-item>
                            <md-button class="nv-button flat alternate"
                                       type="button"
                                       aria-label="{{'container.zonal-routing.assign-bulky-rbe-and-algo' | translate}}"
                                       ng-click="ctrl.sendDriversAssignment(zone.id, $event, ctrl.ROUTE_TYPE.BULKY)">
                              <span>{{'container.zonal-routing.assign-bulky-rbe-and-algo' | translate}}</span>
                            </md-button>
                          </md-menu-item>
                          <md-menu-item>
                            <md-button class="nv-button flat alternate"
                                       type="button"
                                       aria-label="{{'container.zonal-routing.volumetric-assign-rbe-and-algo' | translate}}"
                                       ng-click="ctrl.sendDriversAssignment(zone.id, $event, ctrl.ROUTE_TYPE.VOLUMETRIC)">
                              <span>{{'container.zonal-routing.volumetric-assign-rbe-and-algo' | translate}}</span>
                            </md-button>
                          </md-menu-item>
                          <md-menu-item>
                            <md-button class="nv-button flat alternate"
                                       type="button"
                                       aria-label="{{'container.zonal-routing.merge-waypoints' | translate}}"
                                       ng-click="ctrl.mergeTransactions(zone.id)">
                              <span>{{'container.zonal-routing.merge-waypoints' | translate}}</span>
                            </md-button>
                          </md-menu-item>
                          <md-menu-item>
                            <md-button class="nv-button flat alternate"
                                       type="button"
                                       aria-label="{{'container.zonal-routing.unmerge-waypoints' | translate}}"
                                       ng-click="ctrl.unmergeTransactions(zone.id)">
                              <span>{{'container.zonal-routing.unmerge-waypoints' | translate}}</span>
                            </md-button>
                          </md-menu-item>
                          <md-menu-item>
                            <md-button class="nv-button flat alternate"
                                       type="button"
                                       aria-label="{{'container.zonal-routing.set-parcels-aside' | translate}}"
                                       ng-click="ctrl.setBuff(zone, $event)">
                              <span>{{'container.zonal-routing.set-parcels-aside' | translate}}</span>
                            </md-button>
                          </md-menu-item>
                        </md-menu-content>
                      </md-menu>
                    </md-menu-bar>
                  </nv-td>
                  <nv-td column="priority" filter="false">
                    <span class="nv-text-right">
                      <strong ng-if="!zone.isCustomZone">{{ zone.priority }}</strong>
                      <strong ng-if="zone.isCustomZone">{{ 'container.zonal-routing.na' | translate }}</strong>
                    </span>
                  </nv-td>
                  <nv-td column="parcelsToDo" filter="false">
                    <span class="nv-text-right"><strong>{{ zone.parcelsToDo }}</strong></span>

                    <dl ng-if="!zone.isCustomZone"
                        class="dl-horizontal">
                      <dt class="light-black">{{ 'commons.priority' | translate }}:</dt>
                      <dd class="light-black nv-text-right">{{ zone.priority }}</dd>

                      <dt class="light-black">{{ 'container.zonal-routing.non-priorities' | translate }}:</dt>
                      <dd class="light-black nv-text-right">{{ zone.nonPriority }}</dd>

                      <dt class="light-black">{{ 'container.zonal-routing.set-aside' | translate }}:</dt>
                      <dd class="light-black nv-text-right">{{ zone.buffer }}</dd>
                    </dl>
                    <dl ng-if="zone.isCustomZone"
                        class="dl-horizontal">
                      <dt class="light-black">{{ 'container.zonal-routing.reservations' | translate }}:</dt>
                      <dd class="light-black nv-text-right">{{ zone.extraData.count.reservations }}</dd>

                      <dt class="light-black">{{ 'container.zonal-routing.returns' | translate }}:</dt>
                      <dd class="light-black nv-text-right">{{ zone.extraData.count.returns }}</dd>

                      <dt class="light-black">{{ 'container.zonal-routing.rts' | translate }}:</dt>
                      <dd class="light-black nv-text-right">{{ zone.extraData.count.rts }}</dd>

                      <dt class="light-black">{{ 'container.zonal-routing.bulk-move' | translate }}:</dt>
                      <dd class="light-black nv-text-right">{{ zone.extraData.count.bulkMove }}</dd>

                      <dt class="light-black">{{ 'container.zonal-routing.extra-large' | translate }}:</dt>
                      <dd class="light-black nv-text-right">{{ zone.extraData.count.extraLarge }}</dd>
                    </dl>
                  </nv-td>
                  <nv-td column="condition" filter="false">
                    <strong ng-class="{
                      'dark-red': ctrl.getZoneCondition(zone) == ctrl.ZONE_CONDITIONS.INSUFFICIENT,
                      'dark-yellow': ctrl.getZoneCondition(zone) == ctrl.ZONE_CONDITIONS.PRIORITY_SUFFICIENT,
                      'dark-green': ctrl.getZoneCondition(zone) == ctrl.ZONE_CONDITIONS.SUFFICIENT
                    }">
                      {{ ctrl.getZoneCondition(zone) | translate }}
                    </strong>
                  </nv-td>
                  <nv-td column="capacity" filter="false">
                    <div ng-if="!zone.isCustomZone">
                      <span class="pull-left">{{ 'container.zonal-routing.current-capacity' | translate }}: <strong>{{ zone.max }}</strong></span>
                      <nv-icon-text-button
                        class="flat dense remove-all"
                        name="commons.remove-all"
                        on-click="ctrl.clearDriversByZone(zone.id)"
                        ng-if="zone.drivers.length > 0">
                      </nv-icon-text-button>
                    </div>

                    <div layout="column">
                      <div flex
                           ng-if="!zone.isCustomZone">
                        <div class="dnd-list" ng-if="zone.drivers.length > 0">
                          <div class="item">
                            <nv-icon-text-button
                              name=""
                              button-theme=""
                              class="nv-text-no-select nv-color0 item-label dense"
                              on-click="zone.driversTabExpanded = !zone.driversTabExpanded"
                              ng-clazz="{'ghost': zone.driversTabExpanded, 'raised': !zone.driversTabExpanded}">
                              <span class="pull-left">
                                {{ 'container.zonal-routing.num-drivers' | translate:'{num:' + zone.drivers.length +'}' }}
                              </span>
                              <span class="pull-right"
                                    ng-if="zone.driversTabExpanded">
                                  {{'container.zonal-routing.collapse-list' | translate}} <i class="fa fa-chevron-up"></i>
                              </span>
                              <span class="pull-right"
                                    ng-if="!zone.driversTabExpanded">
                                  {{'container.zonal-routing.expand-list' | translate}} <i class="fa fa-chevron-down"></i>
                              </span>
                            </nv-icon-text-button>
                          </div>
                        </div>
                        <nv-drag-and-drop
                          button-theme=""
                          button-class="md-raised nv-text-no-select nv-primary"
                          button-ng-class="{'nv-color6': ctrl.isNormalDriver, 'nv-color9': ctrl.isReserveFleetDriver}"
                          list="zone.drivers"
                          multi-select="true"
                          id="{{ zone.id }}"
                          allowed-types="ctrl.zonesDndAllowedTypes"
                          on-drop="ctrl.refreshDriverAssignmentOnDrop"
                          dropzone="true"
                          ng-show="zone.driversTabExpanded || zone.drivers.length <= 0">
                          <span ng-bind-html="'container.zonal-routing.drag-drop-drivers-here' | translate"></span>
                        </nv-drag-and-drop>
                      </div>
                    </div>
                  </nv-td>
                </nv-table-row>
              </nv-table>
            </div>
          </md-content>
        </div>
      </div>
      <div flex
           class="margin-top-xs-1 unassigned-drivers-section">
        <div layout="column" class="md-whiteframe-1dp" ng-style="ctrl.resizeWithOffset()">
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2 class="md-flex white">
                {{ 'container.zonal-routing.unassigned-drivers' | translate }}
              </h2>
            </div>
          </md-toolbar>
          <md-content flex>
            <div layout-padding>
              <div class="box"
                   ng-class="{collapse: !ctrl.isFilterExpanded}">
                <a href="javascript:;"
                   ng-click="ctrl.isFilterExpanded = !ctrl.isFilterExpanded"
                   class="pull-right">
                  <i class="fa fa-chevron-down"
                     ng-if="!ctrl.isFilterExpanded">
                  </i>
                  <i class="fa fa-chevron-up"
                     ng-if="ctrl.isFilterExpanded">
                  </i>
                </a>

                <h5 class="light-black">{{ 'commons.filters' | translate }}</h5>

                <div ng-if="ctrl.isFilterExpanded">
                  <nv-label-small
                    label="{{ nvZonalRouting.driverPreferredZonesSelection.displayName | translate }}">
                  </nv-label-small>
                  <nv-input-select
                    class="drivers-preferred-zones fill-width"
                    label="{{ nvZonalRouting.driverPreferredZonesSelection.displayName | translate }}"
                    show-label="false"
                    placeholder="container.zonal-routing.all-zones"
                    model="nvZonalRouting.driverPreferredZonesSelection.value"
                    model-options="{}"
                    options="nvZonalRouting.driverPreferredZonesSelection.options"
                    multiple="true"
                    on-close="ctrl.driverPreferredZonesSelectionChanged()"
                    form="ctrl.zonesForm">
                  </nv-input-select>

                  <nv-label-small
                    label="{{ nvZonalRouting.hubsSelection.displayName | translate }}">
                  </nv-label-small>
                  <nv-input-select
                    class="hub fill-width"
                    label="{{ nvZonalRouting.hubsSelection.displayName | translate }}"
                    show-label="false"
                    placeholder="container.zonal-routing.all-hubs"
                    model="nvZonalRouting.hubsSelection.value"
                    model-options="{}"
                    options="nvZonalRouting.hubsSelection.options"
                    multiple="true"
                    on-close="ctrl.hubsSelectionChanged()"
                    form="ctrl.zonesForm">
                  </nv-input-select>

                  <nv-label-small
                    label="{{ nvZonalRouting.driverTypesSelection.displayName | translate }}">
                  </nv-label-small>
                  <nv-input-select
                    class="hub fill-width"
                    label="{{ nvZonalRouting.driverTypesSelection.displayName | translate }}"
                    show-label="false"
                    placeholder="container.zonal-routing.all-types"
                    model="nvZonalRouting.driverTypesSelection.value"
                    model-options="{}"
                    options="nvZonalRouting.driverTypesSelection.options"
                    multiple="true"
                    on-close="ctrl.driverTypesSelectionChanged()"
                    form="ctrl.zonesForm">
                  </nv-input-select>

                  <div layout="row">
                    <div flex>
                      <nv-input-checkbox
                        class="nv-text-no-select ghost"
                        label="{{ nvZonalRouting.showRFDriverCheckbox.displayName | translate }}"
                        model="nvZonalRouting.showRFDriverCheckbox.value"
                        on-change="ctrl.showRFDriversCheckboxChanged()"
                        form="ctrl.zonesForm">
                      </nv-input-checkbox>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div layout-padding class="quickdraws-title-holder">
              <div>
                <p class="light-black margin-bottom-xs-1">
                  {{ 'container.zonal-routing.quickdraws-drivers' | translate }}
                </p>
              </div>
            </div>
            <div layout-padding>
              <div>
                <nv-drag-and-drop
                  class="drivers-by-zones-dnd"
                  list="nvZonalRouting.driversByZonesTable.filteredDriversByZones"
                  id="{{ ctrl.DND_DRIVERS_BY_ZONE_TYPE }}"
                  allowed-types="nvZonalRouting.driversByZonesTable.dndAllowedTypes"
                  disable-splice-on-moved="true"
                  on-drop="ctrl.refreshDriverAssignmentOnDrop"
                  disable-if="nvZonalRouting.driversByZonesTable.disableIf">
                </nv-drag-and-drop>
              </div>
            </div>

            <div class="drivers-table-header-holder">
              <div>
                <table class="table table-condensed table-bordered table-striped drivers-table-header">
                  <thead>
                  <tr>
                    <th class="zone nv-text-ellipsis"
                        ng-class="{'active': nvZonalRouting.driversTable.isDriversSortActive('byZone')}"
                        ng-click="::nvZonalRouting.driversTable.driversSort('byZone')">
                      <i class="fa" ng-class="nvZonalRouting.driversTable.showDriversSortIcon('byZone')"></i>
                        <span>
                          {{ 'container.zonal-routing.zone' | translate }}
                        </span>
                    </th>

                    <th class="name nv-text-ellipsis"
                        ng-class="{'active': nvZonalRouting.driversTable.isDriversSortActive('byName')}"
                        ng-click="::nvZonalRouting.driversTable.driversSort('byName')">
                      <i class="fa" ng-class="nvZonalRouting.driversTable.showDriversSortIcon('byName')"></i>
                        <span>
                          {{ 'commons.driver-name' | translate }}
                        </span>
                    </th>

                    <th class="vehicle-capacity nv-text-ellipsis"
                        ng-class="{'active': nvZonalRouting.driversTable.isDriversSortActive('byVehicleCapacity')}"
                        ng-click="::nvZonalRouting.driversTable.driversSort('byVehicleCapacity')">
                      <i class="fa" ng-class="nvZonalRouting.driversTable.showDriversSortIcon('byVehicleCapacity')"></i>
                        <span>
                          {{ 'container.zonal-routing.capacity' | translate }}
                        </span>
                    </th>
                  </tr>
                  <tr>
                    <th colspan="3">
                      <nv-search-input-filter
                        search-text="nvZonalRouting.driversTable.filter.searchText"
                        placeholder="{{ 'commons.search' | translate }}"
                        on-change="nvZonalRouting.driversTable.filter.onChange()"
                        ng-click="$event.stopPropagation()"
                        type="bar">
                      </nv-search-input-filter>
                    </th>
                  </tr>
                  </thead>
                </table>
              </div>
            </div>
            <div layout-padding>
              <div class="drivers-table-content-holder">
                <nv-drag-and-drop
                  ng-if="nvZonalRouting.driversTable.filteredDrivers.length > 0"
                  list="nvZonalRouting.driversTable.filteredDrivers"
                  multi-select="true"
                  button-theme=""
                  button-class="md-raised nv-text-no-select nv-primary"
                  button-ng-class="{'nv-color6': ctrl.isNormalDriver, 'nv-color9': ctrl.isReserveFleetDriver}"
                  id="{{ ctrl.DND_DRIVER_FROM_DRIVER_LIST_TYPE }}"
                  allowed-types="nvZonalRouting.driversTable.dndAllowedTypes"
                  on-drop="ctrl.refreshDriverAssignmentOnDrop">
                </nv-drag-and-drop>

                <div class="nv-text-center" ng-if="nvZonalRouting.driversTable.filteredDrivers.length <= 0">
                  <p>
                    {{ 'container.zonal-routing.no-available-drivers' | translate }}
                  </p>
                  <p class="light-black nv-small">
                    {{ 'container.zonal-routing.no-available-drivers-description' | translate }}
                  </p>
                </div>
              </div>
            </div>
          </md-content>
        </div>
      </div>
    </div>
  </div>
</div>