<nv-dialog-header title="{{'container.recovery-tickets.create-follow-up-ticket' | translate}}" on-cancel="::ctrl.onCancel($event)"></nv-dialog-header>
<form name="ctrl.modelForm">
    <md-dialog-content nv-load="ctrl.onLoad">
        <div layout="row" layout-wrap>
            <div flex="100" class="info">
                <md-icon>
                    <i class="material-icons">info</i>
                </md-icon>
                <span>{{'container.recovery-tickets.this-ticket-will-be-a-follow-up-to-ticket-x' | translate: { x: ctrl.ticket.id } }}</span>
            </div>
            <div flex="100" layout="row" layout-wrap layout-padding>
                <nv-input-select
                    flex="50"
                    label="container.recovery-tickets.entry-source"
                    model="ctrl.sourceOfEntry"
                    model-options="{}"
                    options="ctrl.sourceEntries"
                    set-default="false">
                </nv-input-select>
                <nv-input-select
                    flex="50"
                    label="container.recovery-tickets.investigating-party"
                    model="ctrl.investigatingParty"
                    model-options="{}"
                    options="ctrl.investigatingParties"
                    set-default="false">
                </nv-input-select>
            </div>
            <div flex="100" layout="row" layout-wrap layout-padding>
                <nv-input-select
                    flex="50"
                    label="container.recovery-tickets.assignee"
                    model="ctrl.assignee"
                    model-options="{}"
                    set-default="false"
                    options="ctrl.ticketUsers">
                </nv-input-select>
                <nv-input-textarea
                    flex="50"
                    model="ctrl.comment"
                    label="container.recovery-tickets.comments">
                </nv-input-textarea>
            </div>
        </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
         <nv-api-text-button 
            class="raised" 
            icon="add"
            on-click="ctrl.onCreate()" 
            form="ctrl.modelForm" 
            name="{{'container.recovery-tickets.create-ticket' | translate }}"
            state="ctrl.state" 
            button-id="create-button">
        </nv-api-text-button>

    </md-dialog-action>
</form>