<span class="filter-breadcrumb">

    <md-button
            class="nv-button raised"
            type="button"
            aria-label="{{::title}}"
            ng-click="::onClick()">
        <div class="nv-h4 title">{{::title}}</div>
        <i class="material-icons">close</i>
    </md-button>

    <div class="nv-p subtitle">{{::subtitle}}</div>

</span>
