@import "../../../lib/ninja-commons/styles/variables";

.nv-container-amazon-parcel-status {
    .pick-file-section {
  
      .notes{
        text-align: center;
      }
  
    }

    .error-container , .success-container {
      padding : 1.5rem;
      width: 80%;
      max-height: 30rem;
      overflow-y: auto;
    }

    .error-container{
      background: $nv-normal-hover-red;
    }
  
  
  
  }
  