<div class="nv-container-amazon-parcel-status">
    <div class="csv-upload-container" layout="row" layout-wrap layout-padding>
        <div flex="100" layout="row" layout-align="center-center">
            <h5>{{"container.amazon-parcel-status.upload-your-csv-here" | translate}}</h5>            
        </div>
        <div flex="100" layout="row" layout-align="center center">
            <nv-icon-text-button
                class="raised h5"
                md-theme="nvBlue"
                name="{{'commons.upload-csv' | translate}}"
                on-click="ctrl.openUploadDialog($event)">
            </nv-icon-text-button>
        </div>
        <div flex="100" layout="row" layout-align="center center">
            <p>{{"container.amazon-parcel-status.download-the-csv" | translate }}
              <nv-download-csv-button
                name="{{'commons.here' | translate}}"
                md-theme=""
                class="download-sample"
                dense="true"
                data="ctrl.SAMPLE_CSV"
                csv-header="{{::ctrl.SAMPLE_CSV_HEADER}}"
                csv-column-order="{{::ctrl.SAMPLE_CSV_HEADER}}"
                filename="sample_csv">
              </nv-download-csv-button>
            </p>
        </div> 
        
        <div flex="100" layout="row" layout-padding layout-wrap ng-if="ctrl.success.length > 0 || ctrl.errors.length > 0">
            <md-card flex="100" class="success-container">
                <h5>{{'container.amazon-parcel-status.succes-upload-following-tracking-id' | translate}}</h5>
                <ul>
                    <li ng-repeat="success in ctrl.success">
                        {{success.tracking_id}}
                    </li>
                </ul>
            </md-card>

            <md-card flex="100" class="error-container">
                    <h5>{{'container.amazon-parcel-status.error-upload-following-tracking-id' | translate}}</h5>
                    <ul>
                        <li ng-repeat="error in ctrl.errors">
                            {{error.tracking_id}}
                            <p>{{'container.amazon-parcel-status.reason' | translate}} {{error.message}}</p>
                        </li>
                    </ul>
            </md-card>


        </div>
            

    </div>


    </div>


</div>