@import "../../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../../styles/variables";

.nv-container-route-monitoring-filter {
  padding: 1rem;
  @include nv-media-query-md-min {
    padding: 2rem;
  }

  @include nv-media-query-lg-min {
    padding: 3rem;
  }

  @include nv-media-query-xl-min {
    padding: 4rem;
  }

  .filter-header {
    h4 {
      color: $nv-text-black-2;
      font-weight: normal;
      margin-bottom: 0;
    }
  }

  .filter-box-container {
    padding: 0;
  }
}