<md-content class="nv-container-route-monitoring-filter">
  <!--PART 1: filter section start-->
  <div layout="column" layout-padding>
    <div>
      <div layout="row" layout-sm="column" layout-xs="column"
           layout-align="start center"
           class="filter-header">
        <h4>{{ 'container.route-monitoring.select-filters' | translate }}</h4>
      </div>
    </div>
    <div>
      <nv-filter-box-container
        possible-filters="ctrl.parentCtrl.possibleFilters"
        selected-filters="ctrl.parentCtrl.selectedFilters"
        search-by="mainTitle">
      </nv-filter-box-container>
    </div>
  </div>
  <!--PART 1: filter section end-->
  <div layout="row" layout-align="center center">
    <div>
      <nv-api-text-button
        class="raised h5"
        state="'idle'"
        name="commons.load-selection"
        on-click="ctrl.goToResultPage()">
      </nv-api-text-button>
    </div>
  </div>
</md-content>