<md-content class="nv-container-settings md-padding">

  <div layout="row">

    <md-card flex="100" flex-gt-sm="50" flex-gt-md="33">
      <md-card-content>

        <h4>{{'container.settings.title' | translate}}</h4>

        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>{{'container.settings.language-label' | translate}}</label>
            <md-select ng-model="ctrl.language">
              <md-option ng-repeat="language in ctrl.languages" value="{{language.code}}">
                {{language.displayName}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>

      </md-card-content>
    </md-card>

  </div>

</md-content>
