@import "../../../lib/ninja-commons/styles/variables";
@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../lib/ninja-commons/styles/mixins/media-query.mixins";
@import "../../../lib/ninja-commons/styles/mixins/table.mixins";


.nv-container-implanted-manifest{


  .implanted-manifest-create-container{
    md-card{
      width:80rem;
      display: flex;
      flex-direction: column;
      height: 100%;
      margin:2rem auto;
      md-toolbar{
        .md-button{
          text-transform: none;
        }
      }
      .boxed{
        border: 1px solid #F1F1F1;
        border-radius: .3rem;
      }

      .line_separator{
        width: 100%;
        height: 0;
        border-top: 1px solid #EBEBEB;
        margin-top: .5rem;
        margin-bottom: .5rem;
      }
      .shipment-detail-card{
          h4{
            font-size: 1.8rem;
          }
          p.shipment-info{
            font-weight:bold;
            margin-top: .5rem;
          }
      }
      .rack-sector-card{
        text-align: center;
        background: none;
      }
      .rack-sector-card.error{
        background: #FCB8C7;
      }
      .rack-sector-card.success{
        background: #A5E5A2;
      }
      .rack-sector-card.error-border{
        border: 2px solid #C81F47;
      }
      .rack-sector-card.success-border{
        border: 2px solid #10772E;
      }


      .scan-barcode-container{
        background: #EAF4F9;
        border-radius: .3rem;
        border:1px solid #D2E7F2;
        h4{
          font-size: 1.8rem;
        }
        md-input-container{
          margin-top: 0;
          input{
            background: white;
            text-align: center;
            height: 4rem;
            font-size:1.8rem;
          }
          .md-errors-spacer {
            display: none;
          }
        }
        .message{
          color: #000;
        }
        .message.duplicate,.message.error{
          color: red;
        }
        .message.success{
          color:#418841;
        }

      }
      .scan-barcode-container.success{
        background: #E0F6DF;
        border: 1px solid #CEF0CC;
        md-input-container{
          input{
            border-color: #146C14;
          }
        }
      }

      .scan-barcode-container.duplicate{
        background: #FFE7EC;
        border: 1px solid #FED8DF;
        md-input-container{
          input{
            border-color: #257226;
          }
        }
      }

      .scan-barcode-container.error{
        background: #FFE7EC;
        border: 1px solid #FED8DF;
        md-input-container{

          input{
            border-color: #257226;
          }
        }

      }

      .parcel-count-wrapper{
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: .5rem;
        h5{
          margin-top: 1rem;
        }
        nv-api-icon-button{
          button{
            text-align: center;
            padding: 0;
          }
        }
      }

      .delete-order-by-scan-container{
        background: #fcafc0;
        border-radius: .3rem;
        border:1px solid #D2E7F2;
        h4{
          font-size: 1.8rem;
        }

        md-autocomplete-wrap{
          box-shadow: none;
          border:rgba(0,0,0,0.12);
        }

        .md-errors-spacer {
          display: none;
        }

      }
      .complete-manifest-container{
        text-align: center;
        button{
          width: 70rem;
          margin:.5rem 5rem .5rem 5rem;
          color: white;
          text-transform: none;
        }
      }

      .remove-all-button{
        text-transform: none !important;
      }
      div.table-container{
        height: 40rem;
        position: relative;
        flex: 1;
        nv-table {
          @include nv-table-column-width(tracking-id, 20rem);
          @include nv-table-column-width(destination, 15rem);
          @include nv-table-column-width(created-at, 18rem);
          @include nv-table-column-width(addressee, 12rem);
          @include nv-table-column-width(rack-sector, 10rem);
          @include nv-table-column-width(deliver-by, 15rem);
          @include nv-table-action-columns(7rem);

          tr.highlight{
           background: #ffff00;
           td, td.actions{
             background: #ffff00 !important;
           }
          }
        }
      }
    }
  }

  .loading-sheet {
    left: 0;
    top: 0;
    position: fixed;
    background-color: rgba(#CFCFCF, 0.67);
    z-index: 11;
    height: 100%;
    width: 100%;
  }

  .implanted-manifest-confirmed{
    width: 80%;
    margin: 0 auto;
  }

  .download-csv-btn .nv-button.raised.md-button.md-nvBlue-theme {
    &, &:hover {
      color: #584e4e;
      background-color: #f4f5f7;
    }
  }

}
