<div class="nv-container-implanted-manifest">
  <md-content layout="row" layout-wrap layout-padding ng-if="ctrl.state === ctrl.PAGE_STATE.SELECT" class="implanted-manifest-select-hub-container">
      <h5 flex="100">{{"container.implanted-manifest.select-hub" | translate}}</h5>
      <div flex="100" layout="row" layout-padding layout-wrap class="container-shipment-selector">           
            <nv-input-select
              options="ctrl.hubs"
              flex="35"
              model="ctrl.hub"
              model-options="{}"
              set-default="::false"
              label="commons.hub"
              searchable="true"
              name="hub">
            </nv-input-select>
          
            <nv-api-text-button
              md-theme="nvGreen"
              flex="15"
              class="raised primary"
              icon="create"
              state="ctrl.pageState"
              on-click="ctrl.onStartCreateManifest()"
              label="container.implanted-manifest.create-manifest"
              name="container.implanted-manifest.create-manifest"
              disabled="!ctrl.hub">
            </nv-api-text-button>
      </div>
  </md-content>

   <md-content ng-if="ctrl.state === ctrl.PAGE_STATE.CREATING" class="implanted-manifest-create-container">
       <md-card>
           <md-toolbar>
               <div class="md-toolbar-tools" >
                   <span flex>{{"container.implanted-manifest.implanted-manifest" | translate}}</span>
                   <nv-download-csv-button
                           class="download-csv-btn"
                           name="commons.download-csv"
                           data="ctrl.getCsvData"
                           csv-column-order="{{ctrl.csvOrderedHeaders}}"
                           csv-header="{{ctrl.csvHeaderNames}}"
                           filename="{{ctrl.csvFileName}}">
                   </nv-download-csv-button>
               </div>
           </md-toolbar>

           <md-card-content>
               <div layout="row" layout-wrap>
                   <div layout="row" flex="100" layout-margin>
                       <div flex="70" layout="row" layout-wrap
                            layout-padding class="shipment-detail-card boxed">
                               <div flex="100">
                                   <h4>{{"container.implanted-manifest.manifest-detail" | translate}}</h4>
                               </div>
                               <div flex="100">
                                   <div layout="row">                                       
                                       <div flex="25">
                                           {{"commons.hub" | translate}}
                                           <p class="shipment-info">
                                               {{ctrl.hub.id}}-{{ctrl.hub.name}}
                                           </p>
                                       </div>                                       
                                   </div>
                               </div>
                       </div>
                       <div flex="30" class="rack-sector-card boxed"
                            ng-class="{'error-border': ctrl.showErrorBorder(),
                            'success-border': ctrl.showSuccessBorder(),
                            'error': (ctrl.scanState ==='error' || ctrl.scanState === 'duplicate'),
                            'success': ctrl.scanState === 'success'
                            }"
                            layout="row" layout-wrap layout-padding>
                               <div flex="100"><span>{{"container.implanted-manifest.rack-sector" | translate}}</span></div>
                               <div flex="100"><h2 ng-show="ctrl.rackInfo">{{ctrl.rackInfo}}</h2></div>
                               <div flex="100"><span ng-show="ctrl.scannedTrackingId">
                                   {{ctrl.scannedTrackingId}}</span>
                               </div>
                       </div>
                   </div>

                   <form name="scan_form">

                   <div layout="row" flex="100" layout-margin>
                       <div flex="50" class="scan-barcode-container"
                            ng-class="{'error': ctrl.scanState=='error', 'success': ctrl.scanState=='success','duplicate': ctrl.scanState=='duplicate'}"
                            layout="row" layout-wrap layout-padding>
                           <div flex="100">
                               <h4>{{"container.implanted-manifest.scan-barcode" | translate}}</h4>
                           </div>
                           <div flex="100">
                               <md-input-container md-no-float class="md-block" >
                                   <input type="text" placeholder="{{'container.implanted-manifest.scan-barcode-here' | translate}}" ng-model="ctrl.trackingId"                                          
                                          ng-keypress="ctrl.searchTrackingId($event)"
                                          ng-model-options="{}"
                                          ng-readonly="ctrl.scanReadOnly"
                                          nv-autofocus id="scan_barcode_input" aria-label="scan_barcode"
                                   >
                               </md-input-container>
                               
                               <nv-icon-text-button
                                       flex="none"
                                       icon="add"
                                       ng-if="ctrl.prefix === ''"
                                       name="container.implanted-manifest.add-prefix"
                                       md-theme="nvGreen"
                                       on-click="ctrl.openPrefix($event)">
                               </nv-icon-text-button>
                               
                               <nv-icon-text-button
                                       flex="none"
                                       icon="clear"
                                       ng-if="ctrl.prefix !== ''"
                                       name="container.implanted-manifest.remove-prefix"
                                       md-theme="nvGreen"
                                       on-click="ctrl.openPrefix($event)">
                               </nv-icon-text-button>
                           </div>


                       </div>
                       <div flex="50" class="delete-order-by-scan-container"
                            layout="row" layout-wrap layout-padding>
                           <div flex="100">
                               <h4>{{"container.implanted-manifest.remove-order-by-scan" | translate}}</h4>
                           </div>
                           <div flex="100">
                              <md-input-container md-no-float class="md-block" >
                                  <input type="text" placeholder="{{'container.implanted-manifest.scan-barcode-here' | translate}}" 
                                        ng-model="ctrl.removeTrackingId"                                         
                                         ng-keypress="ctrl.deleteTrackingId($event)"
                                         ng-model-options="{}"
                                         ng-readonly="ctrl.scanReadOnly"
                                        id="remove_scan_barcode_input" aria-label="remove_scan_barcode"
                                  >
                              </md-input-container>
                               <nv-icon-text-button
                                       flex="none"
                                       icon="add"
                                       ng-if="ctrl.prefix === ''"
                                       name="container.implanted-manifest.add-prefix"
                                       md-theme="nvGreen"
                                       on-click="ctrl.openPrefix($event)">
                               </nv-icon-text-button>

                               <nv-icon-text-button
                                       flex="none"
                                       icon="clear"
                                       ng-if="ctrl.prefix !== ''"
                                       name="container.implanted-manifest.remove-prefix"
                                       md-theme="nvGreen"
                                       on-click="ctrl.openPrefix($event)">
                               </nv-icon-text-button>
                           </div>
                       </div>
                   </div>
                   </form>
               </div>
           </md-card-content>

           <div class="line_separator"></div>
           <div class="parcel-count-wrapper" layout="row">
               <div flex="25">
                   <h5>{{'container.implanted-manifest.x-orders-in-manifest' | translate: { x: ctrl.tableParam.getLength() } }}</h5>
               </div>
               <div flex="10" flex-offset="60">
                  <md-button class="remove-all-button nv-button flat" ng-click="ctrl.removeAll($event)">
                      {{"container.shipment-scanning.remove-all" | translate }}
                  </md-button>
               </div>
           </div>

           <div class="table-container">
               <nv-table 
                   param="ctrl.tableParam"
                   selectable="false"
                   controller-as="ctrl"
               >
               <nv-table-row use="scan">
                   <nv-index></nv-index>
                   <nv-td column="trackingId" filter="false">
                       {{scan.trackingId}}
                   </nv-td>
                   <nv-td column="createdAt" filter="false">
                       {{scan.createdAt * 1000 | nvTime:'operator':'datetime'}}
                   </nv-td>
                   <nv-td column="destination" filter="false">
                       {{scan.destination}}
                   </nv-td>
                   <nv-td column="addressee" filter="false">
                       {{scan.addressee}}
                   </nv-td>
                   <nv-td column="rackSector" filter="false">
                       {{scan.rackSector}}
                   </nv-td>
                   <nv-td column="deliverBy" filter="false">
                       {{scan.deliverBy}}
                   </nv-td>
                   <nv-action column="actions">
                        <nv-api-icon-button
                                       button-id="button-remove-parcel_{{scan.sn}}"
                                       class="ghost nv-margin-auto"
                                       md-theme="nvBlue"
                                       name="close"
                                       icon="close"
                                       state="'idle'"
                                       tooltip-delay="1200"
                                       on-click="ctrl.onDelete($event, scan)">
                        </nv-api-icon-button>
                   </nv-action>
               </nv-table>
           </div>

           <div class="complete-manifest-container">
               <nv-icon-text-button
                class="primary raised"
                md-theme="nvGreen"
                disabled="ctrl.tableParam.getLength()==0"
                name="container.implanted-manifest.create-manifest"
                on-click="ctrl.createManifest()"
                icon="done">
            </nv-icon-text-button>
                
           </div>
       </md-card>


   </md-content>

   <md-content ng-if="ctrl.state === ctrl.PAGE_STATE.CONFIRMED" class="implanted-manifest-confirmed" layout-padding>
       <h3>{{'container.implanted-manifest.manifest-has-been-created' | translate}}</h3>
       <p>
           {{'container.implanted-manifest.your-manifest-has-been-created-info' | translate}}
       </p>
       <div layout="row" layout-align="end none" layout-padding>
           <nv-icon-text-button
            class="flat"
            md-theme="nvBlue"
            name="commons.edit"
            on-click="">
           </nv-icon-text-button>
           <nv-icon-text-button
            class="raised"
            md-theme="nvGreen"
            name="container.implanted-manifest.create-another"
            on-click="ctrl.createAnother()">
           </nv-icon-text-button>

       </div>
   </md-content>

   <div class="loading-sheet" ng-if="ctrl.loadingSheet === true" layout layout-align="center center">
        <md-progress-circular md-theme="nvBlue" class="md-primary" md-mode="indeterminate" md-diameter="64px"></md-progress-circular>
    </div>

   <audio media-player="rackSound" data-playlist="playlistRack"></audio>
   <audio media-player="successSound" data-playlist="playlist1">
       <source src="../../../resources/sounds/success.wav" type="audio/wav">
   </audio>

   <audio media-player="errorSound" data-playlist="playlist">
       <source src="../../../resources/sounds/error.wav" type="audio/wav">
   </audio>

   <audio media-player="duplicateSound" data-playlist="playlist2">
       <source src="../../../resources/sounds/duplicate.wav" type="audio/wav">
   </audio>
</div>
