<md-input-container flex class="nv-p">

  <label ng-show="showLabel" for="{{id}}">{{label | translate}}</label>

  <md-select
    name="{{id}}"
    id="{{id}}"
    aria-label="{{label | translate}}"
    placeholder="{{placeholder | translate}}"
    ng-model="model"
    ng-model-options="modelOptions"
    md-container-class="nv-input-select-container"
    md-on-open="onSelectionOpen()"
    md-on-close="onSelectionClose()"
    ng-disabled="disabled"
    ng-required="required"
    md-container-class="{{::mdContainerClass}}"
    ng-change="::onChange()">
    <md-select-header
      class="select-header"
      ng-show="searchable">
      <input ng-model="searchTerm"
             placeholder="{{ 'commons.search-or-select' | translate }}"
             type="search"
             class="select-header-searchbox">
    </md-select-header>
    <md-option
      ng-repeat="option in options | filter:searchTerm"
      ng-value="option.value">
      {{option.displayName | translate}}
    </md-option>
  </md-select>

  <div ng-if="!!form" ng-messages="form[id].$error" role="alert">
    <div ng-message="required">This field is required.</div>
    <div class="help-text" ng-if="helpText">{{helpText}}</div>
  </div>

</md-input-container>
