<nv-dialog-header
  title="{{'container.order.edit.print-pod' | translate}}"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<form name="modelForm">
  <md-dialog>
    <md-dialog-content>
      <div class="content">
        {{ 'container.order.edit.download-pod-for-length-orders' | translate: {length: ctrl.orders.length} }}
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <nv-icon-text-button
        md-theme="nvRed"
        class="flat"
        icon="cancel"
        name="commons.cancel"
        on-click="ctrl.onCancel()">
      </nv-icon-text-button>
      <nv-api-text-button
        md-theme="nvGreen"
        name="commons.ok"
        icon="check"
        class="flat"
        form="modelForm"
        state="ctrl.downloadState"
        on-click="ctrl.onDownload()">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>
