@import "../../../lib/ninja-commons/styles/variables";
.nv-outbound-breakroute-container{
  md-card{
    padding: 1rem;
    &.table-card{
      padding: 0;

      h4{
        margin: 1.8rem;
        color: $nv-dark4;
      }

      table{
        th,td{
          font-size: 1.1rem;
        }
      }
    }
    
  }
  
}