<md-content class="nv-outbound-breakroute-container" layout="row" layout-wrap>

  <md-card flex="100">
    <h3>
      {{'container.outbound-routebreak.outbound-route-pullout' | translate}}
    </h3>
    <form name="routeIdForm" ng-submit="ctrl.getOutboundBreakByRouteId(ctrl.routeId)">
    <div flex="100" layout="row" layout-wrap>
        <nv-input-text 
          flex
          class="route-id-input" 
          name="route-id"
          placeholder="container.outbound-routebreak.type-route-id-here-and-hit-enter"
          form="routeIdForm"
          model="ctrl.routeId"
        >
        </nv-input-text>
        <nv-icon-text-button
          name="container.outbound-routebreak.fetch"
          class="raised"
          md-theme="nvBlue"
          form="routeIdForm"
          disabled="!ctrl.routeId"
          on-click="ctrl.getOutboundBreakByRouteId(ctrl.routeId)"
        >  
        </nv-icon-text-button>
    </div>
    
    
    </form>
  </md-card>
  <div flex="100" layout="row" ng-if="ctrl.orders.length > 0 || ctrl.scans.length > 0 || ctrl.missingOutbounds.length > 0">
    <md-card flex="30" layout="column" class="table-card">
      <h4>
        {{'container.outbound-routebreak.orders-in-routes' | translate}}
      </h4>
      <table class="table table-stripped">
        <thead>
          <tr>
            <th class="no">
              {{'commons.no' | translate}}
            </th>
            <th class="tracking-id">
              {{'commons.tracking-id' | translate}}
            </th>
            <th class="info-column">
              {{'commons.info' | translate}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="order in ctrl.orders">
            <td class="no">
              {{$index+1}}
            </td>
            <td class="tracking-id">
              <a href="" ng-click="ctrl.viewOrder(order.order_id)">{{order.tracking_id}}</a>              
            </td>
            <td class="info-column">
                {{order.name}} <span ng-if="order.contact !=''" >({{order.contact}})</span>
                <br>
                {{order.address1}} {{order.address2}} {{order.postcode}}
                <br>
                WP : {{order.waypoint_id}}
            </td>
          </tr>
          <tr ng-if="ctrl.orders.length === 0">
            <td colspan="3">
              {{"container.outbound-routebreak.no-data" | translate}}
            </td>
          </tr>
        </tbody>
      </table>
    </md-card>
    <md-card flex="30" layout="column" class="table-card">
      <h4>
        {{'container.outbound-routebreak.outbound-scans' | translate}}
      </h4>
      <table class="table table-stripped">
        <thead>
          <tr>
            <th class="no">
              {{'commons.no' | translate}}
            </th>
            <th class="tracking-id">
              {{'commons.tracking-id' | translate}}
            </th>
            <th class="created">
              {{'commons.created' | translate}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="order in ctrl.scans">
            <td class="no">
              {{$index+1}}
            </td>
            <td class="tracking-id">
              {{order.tracking_id}}
            </td>
            <td class="created">
              {{order.last_scanned_at}}
            </td>
          </tr>
          <tr ng-if="ctrl.scans.length === 0">
              <td colspan="3">
                {{"container.outbound-routebreak.no-data" | translate}}
              </td>
          </tr>
        </tbody>
      </table>
    </md-card>
    <md-card flex="40" layout="column" class="table-card">
      <h4>
        {{'container.outbound-routebreak.parcels-not-in-outbound-scans' | translate}}
      </h4>
      <table class="table table-stripped">
        <thead>
          <tr>
            <th class="no">
              {{'commons.no' | translate}}
            </th>
            <th class="tracking-id">
              {{'commons.tracking-id' | translate}}
            </th>
            <th class="info-column">
              {{'commons.info' | translate}}
            </th>
            <th class="action">
              {{'commons.actions' | translate}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="order in ctrl.missingOutbounds">
            <td class="no">
              {{$index+1}}
            </td>
            <td class="tracking-id">
                <a href="" ng-click="ctrl.viewOrder(order.order_id)">{{order.tracking_id}}</a>              
            </td>
            <td class="info-column">
                {{order.name}} <span ng-if="order.contact !=''" >({{order.contact}})</span>
                <br>
                {{order.address1}} {{order.address2}} {{order.postcode}}
                <br>
                WP : {{order.waypoint_id}}<br/>
                {{ "container.outbound-routebreak.last-scan-hub" | translate }} : {{order.last_scanned_hub || '-'}}<br/>
                {{ "container.outbound-routebreak.last-scan-at" | translate }} : {{order.last_scanned_at ?( order._momentLast_scanned_at | nvTime:'operator':'datetime') : '-' }} <br/>
                {{ "container.outbound-routebreak.last-scan-type" | translate }} : {{order.last_scanned_type}} <br/>
                {{ "container.outbound-routebreak.order-delivery-type" | translate }} : {{order.delivery_type}} <br/>
                {{ "container.outbound-routebreak.delivery-end-date" | translate }} : {{order.end_time? (order._momentEnd_time | nvTime:'operator':'datetime') : '-' }}

            </td>
            <td class="action">
              <nv-icon-text-button
                name="container.outbound-routebreak.pull"
                class="raised dense"
                md-theme="nvGreen"
                icon="keyboard_arrow_down"
                on-click="ctrl.pullFromRoute(order, $event)"
              >
              </nv-icon-text-button>
            </td>
          </tr>
          <tr ng-if="ctrl.missingOutbounds.length === 0">
              <td colspan="4">
                {{"container.outbound-routebreak.no-data" | translate}}
              </td>
          </tr>
  
        </tbody>
      </table>
    </md-card>
  </div>
  <div flex="100" layout="row" layout-padding ng-if="ctrl.checked && ctrl.orders.length == 0 && ctrl.scans.length ==  0 && ctrl.missingOutbounds.length == 0">
    <p>{{'container.outbound-routebreak.no-route-break-data-make-sure-you-entered-correct-route-id' | translate}}</p>
  </div>
</md-content>