@import "../../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../../views/container/order/order.mixins";
@import "../../../../styles/variables";

.nv-container-order-create-v4 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: $nv-baseline-grid;

  .backdrop-loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $nv-text-black-3;
    z-index: 10000;

    md-progress-circular {
      width: 5rem;
      height: 5rem;
      margin: auto !important;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  @include data-blocks;

  .data-header {
    margin-left: $nv-baseline-grid*2;
    margin-right: $nv-baseline-grid*2;
    margin-bottom: $nv-baseline-grid;
    
    nv-download-csv-button > button.nv-button {
      width: 200px;
    }
  }

  .data-statistic {
    margin-left: $nv-baseline-grid*2;
    margin-right: $nv-baseline-grid*2;

    h4 {
      padding-top: $nv-baseline-grid*2;
      padding-bottom: $nv-baseline-grid*2;
      color: $nv-text-black-2;
      font-weight: normal;
    }

    .data-blocks, .menu-bar-holder, .processing-indication {
      margin-top: $nv-baseline-grid;
    }

    md-menu-bar {
      padding: 0;
    }
  }

  .sub-header-theme {
    margin-top: $nv-baseline-grid*3;
    background-color: map-get(map-get($themeColor, 'nvBlue'), 'dark');

    h5 {
      color: $nv-light0;
    }
  }

  .table-container {
    position: relative;
    flex: 1;

    nv-table {
      // column width
      @include nv-table-column-width('tracking_number', 20rem);
      @include nv-table-column-width('service_level', 16rem);
      @include nv-table-column-width('from-name', 18rem);
      @include nv-table-column-width('from_address', 25rem);
      @include nv-table-column-width('to-name', 18rem);
      @include nv-table-column-width('to_address', 25rem);
      @include nv-table-column-width('parcel_job-delivery_start_date', 16rem);
      @include nv-table-column-width('delivery_timeslot_time', 16rem);

      // row height
      @include nv-table-row-height(6rem);

      tr.last-row td.end-of-result {
        .end-of-table {
          height: 5rem !important;

          p {
            display: none;
          }
        }
      }
    }
  }
}