<md-content class="nv-container-order-create-v4">
  <div class="backdrop-loading" ng-if="ctrl.backdropLoading">
    <md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>
  </div>

  <div class="data-header" layout="row">
    <span flex></span>

    <nv-icon-text-button
      md-theme="nvBlue"
      class="ghost"
      name="container.order.create.download-sample-file"
      icon="file_download"
      on-click="ctrl.downloadSampleCsv()">
    </nv-icon-text-button>

    <nv-create-button
      name="{{'commons.create-order' | translate}}"
      on-click="::ctrl.create($event)">
    </nv-create-button>
  </div>

  <md-divider ng-if="ctrl.batchStatus.is_uploaded"></md-divider>

  <div class="data-statistic"
       ng-if="ctrl.batchStatus.is_uploaded">
    <div flex="100">
      <h4>{{ 'container.order.create.upload-summary' | translate }}</h4>
    </div>
    <div layout="row" layout-sm="column" layout-xs="column">
      <div class="data-blocks"
           flex>
        <div class="data-block">
          <label>{{'container.order.create.batch-id' | translate}}</label>
          <p>{{ ctrl.batchStatus.batch_id }}</p>
        </div>

        <div class="data-block">
          <label>{{'container.order.create.total-orders' | translate}}</label>
          <p>{{ ctrl.batchStatus.total_number_of_orders }}</p>
        </div>

        <div class="data-block">
          <label>{{'container.order.create.total-processing' | translate}}</label>
          <p>{{ ctrl.batchStatus.number_of_processing_orders }}</p>
        </div>

        <div class="data-block">
          <label>{{'container.order.create.total-success' | translate}}</label>
          <p>{{ ctrl.batchStatus.number_of_successful_orders }}</p>
        </div>

        <div class="data-block">
          <label>{{'container.order.create.total-failed' | translate}}</label>
          <p>{{ ctrl.batchStatus.number_of_failed_orders }}</p>
        </div>
      </div>
      <div class="processing-indication"
           ng-if="ctrl.batchStatus.number_of_processing_orders > 0">
        <md-progress-circular class="md-primary"
                              md-mode="indeterminate"
                              md-diameter="35">
        </md-progress-circular>
      </div>
      <div class="menu-bar-holder">
        <md-menu-bar>
          <md-menu md-position-mode="target-right target">
            <md-button
              class="nv-button raised btn-apply-action"
              type="button"
              aria-label="Action"
              ng-click="$mdOpenMenu($event)">
              <span class="nv-text-ellipsis nv-text-left">{{'commons.actions' | translate}}</span>
              <i class="material-icons">arrow_drop_down</i>
            </md-button>

            <md-menu-content class="actions-holder" width="3">
              <md-menu-item>
                <md-button class="nv-button flat alternate"
                           type="button"
                           aria-label="{{'container.order.create.view-processing-orders' | translate}}"
                           ng-disabled="ctrl.batchStatus.number_of_processing_orders <= 0"
                           ng-click="ctrl.viewDetails($event, 'processing_orders_async_uuids')">
                  <i class="material-icons">cloud_upload</i>
                  <span>{{'container.order.create.view-processing-orders' | translate}}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button class="nv-button flat alternate"
                           type="button"
                           aria-label="{{'container.order.create.view-failed-orders' | translate}}"
                           ng-disabled="ctrl.batchStatus.number_of_failed_orders <= 0"
                           ng-click="ctrl.viewDetails($event, 'failed_orders_async_uuids')">
                  <i class="material-icons">cancel</i>
                  <span>{{'container.order.create.view-failed-orders' | translate}}</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-menu-bar>
      </div>
    </div>
  </div>

  <div layout="row" layout-padding
       class="sub-header-theme"
       ng-if="ctrl.batchStatus.is_uploaded && ctrl.batchStatus.number_of_processing_orders <= 0">
    <div flex>
      <h5>{{ 'container.order.create.successful-orders' | translate }}</h5>
    </div>
  </div>
  <div class="table-container"
       ng-if="ctrl.batchStatus.is_uploaded && ctrl.batchStatus.number_of_processing_orders <= 0">
    <nv-table
      param="ctrl.successOrdersTableParam"
      on-infinite-scroll="ctrl.loadMore()"
      controller-as="ctrl">
      <nv-table-row
        use="order"
        row-height="60">
        <nv-index></nv-index>
        <nv-td column="tracking_number">
          {{ order.tracking_number }}
        </nv-td>
        <nv-td column="service_level">
          {{ order.service_level }}
        </nv-td>
        <nv-td column="from.name">
          {{ order.from.name }}
        </nv-td>
        <nv-td column="from_address">
          {{ order.from_address }}
        </nv-td>
        <nv-td column="to.name">
          {{ order.to.name }}
        </nv-td>
        <nv-td column="to_address">
          {{ order.to_address }}
        </nv-td>
        <nv-td column="parcel_job.delivery_start_date">
          {{ order.parcel_job.delivery_start_date }}
        </nv-td>
        <nv-td column="delivery_timeslot_time">
          {{ order.delivery_timeslot_time }}
        </nv-td>
      </nv-table-row>
    </nv-table>
  </div>

</md-content>