<md-content class="md-padding" ng-if="ctrl.state.loading === true">
  <div class="filler"></div>
  <div layout="row" layout-padding layout-align="center center">
    <md-progress-circular md-theme="nvBlue" md-mode="indeterminate" md-diameter="64px"></md-progress-circular>
  </div>
</md-content>

<md-content class="md-padding" ng-if="ctrl.state.loading === false">
  <form name="ctrl.moreForm">
    <div class="filler"></div>
    <!-- Reservation Pickup Address -->
    <div layout="row" class="horizontal-padding padding-bottom" layout-align="space-between none">
      <h5 class="sub-title">{{ 'container.shippers.more-reservation-pickup-address' | translate }}</h5>
      <nv-icon-text-button
        md-theme="nvGreen"
        class="raised"
        icon="add"
        name="container.shippers.more-reservation-add-pickup-address"
        on-click="ctrl.function.addReservationAddress($event)">
      </nv-icon-text-button>
    </div>

    <div layout="row" class="horizontal-padding">
      <div layout="column" id="addresses">
        <!-- start -->
        <div flex>
          <div class="table-container">
            <nv-table
              param="ctrl.view.addressTableParam"
              controller-as="ctrl">
              <nv-table-row
                use-virtual-repeat="false"
                use="address">
                <nv-td column="contact">
                  {{address.contact}}
                </nv-td>
                <nv-td column="address">
                  {{address.address}}
                </nv-td>
                <nv-action column="actions">
                  <div layout="row" layout-align="start center">
                    <nv-icon-button
                      md-theme="nvBlue"
                      class="ghost dense"
                      name="container.shippers.more-reservation-edit-pickup-address"
                      icon="edit"
                      on-click="ctrl.function.editReservationAddress($event, address)">
                    </nv-icon-button>
                    <div class="custom-padding-4px"></div>
                    <nv-icon-text-button
                      class="raised dense"
                      ng-clazz="ctrl.function.addressButtonClass(address.value.is_milk_run, 'nvRed')"
                      name="{{ address.value.is_milk_run ? 'container.shippers.milkrun' : 'container.shippers.set-as-milkrun' }}"
                      on-click="ctrl.function.setAddressAsMilkrun($event, address)">
                    </nv-icon-text-button>
                    <div class="custom-padding-4px"></div>
                    <nv-icon-text-button
                      class="raised dense"
                      ng-clazz="ctrl.function.addressButtonClass(address.isDefault, 'nvGreen')"
                      name="{{ address.id }}"
                      text="{{ address.action }}"
                      on-click="ctrl.function.setAddressAsDefault(address)">
                    </nv-icon-text-button>
                  </div>
                </nv-action>
              </nv-table-row>
            </nv-table>
          </div>
        </div>
        <!-- end -->
      </div>
    </div>

    <!-- Reservation -->
    <div layout="row" class="horizontal-padding vertical-padding" layout-wrap>
      <h5 class="sub-title">{{ 'container.shippers.more-reservation' | translate }}</h5>      
      <div flex="100" class="auto-rsvn-warning" ng-if="!ctrl.function.isAutoReservationEnable(ctrl.data)">
        {{"container.shippers.note-auto-reservation" | translate}}
      </div>
    </div>    
    <div layout="row" class="horizontal-padding">
      <md-input-container class="field-container multiple-select" flex="40">
        <label>{{ 'container.shippers.more-reservation-days' | translate }}</label>
        <md-select ng-model="ctrl.data.more.reservationDays" ng-disabled="!ctrl.function.isReservationEnabled(ctrl.data)" aria-label="reservation-days" multiple>
          <md-optgroup label="available-services">
            <md-option ng-value="opt.value" ng-repeat="opt in ctrl.view.reservationDayOptions">
              {{ opt.displayName | translate }}
            </md-option>
          </md-optgroup>
        </md-select>
      </md-input-container> 
      <md-input-container class="field-container">
        <label>{{ 'container.shippers.more-auto-reservation' | translate }}</label>
        <nv-btn-grp
          ng-if="ctrl.function.isAutoReservationEnable(ctrl.data)"
          model="ctrl.data.more.isAutoReservation"
          label-for-model-idx-0="Yes"
          label-for-model-idx-1="No"
          select-multiple="false" 
          select-none="false">
        </nv-btn-grp>

        <nv-btn-grp
          ng-if="!ctrl.function.isAutoReservationEnable(ctrl.data)"
          model="ctrl.data.more.isAutoReservation"
          label-for-model-idx-0="Yes"
          label-for-model-idx-1="No"
          select-multiple="false"
          disabled="::true"
          select-none="false">
        </nv-btn-grp>     
      </md-input-container>
    </div>

    <div layout="row" class="horizontal-padding vertical-padding">
      <!-- ready time -->
      <div layout="row" flex="30" class="reservation-time-container">
        <md-input-container class="field-container">
          <label class="custom-no-padding">{{ 'container.shippers.more-auto-reservation-ready-time' | translate }}</label>
          <md-select ng-model="ctrl.data.more.readyTime.hour" aria-label="ready-time-hour" ng-disabled="!ctrl.function.isReservationEnabled(ctrl.data)">
            <md-option ng-value="opt" ng-repeat="opt in ctrl.view.hourTimeSlotOptions">
              {{ opt }}
            </md-option>
          </md-select>
        </md-input-container>
        <div class="time-separator-padding">:</div>
        <md-input-container class="field-container">
          <md-select ng-model="ctrl.data.more.readyTime.minute" aria-label="ready-time-minute" ng-disabled="!ctrl.function.isReservationEnabled(ctrl.data)">
            <md-option ng-value="opt" ng-repeat="opt in ctrl.view.minuteTimeSlotOptions">
              {{ opt }}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <!-- latest time -->
      <div layout="row" flex="30" class="reservation-time-container">
        <md-input-container class="field-container">
          <label class="custom-no-padding">{{ 'container.shippers.more-auto-reservation-latest-time' | translate }}</label>
          <md-select ng-model="ctrl.data.more.latestTime.hour" aria-label="latest-time-hour" ng-disabled="!ctrl.function.isReservationEnabled(ctrl.data)">
            <md-option ng-value="opt" ng-repeat="opt in ctrl.view.hourTimeSlotOptions">
              {{ opt }}
            </md-option>
          </md-select>
        </md-input-container>
        <div class="time-separator-padding">:</div>
        <md-input-container class="field-container">
          <md-select ng-model="ctrl.data.more.latestTime.minute" aria-label="latest-time-minute" ng-disabled="!ctrl.function.isReservationEnabled(ctrl.data)">
            <md-option ng-value="opt" ng-repeat="opt in ctrl.view.minuteTimeSlotOptions">
              {{ opt }}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <!-- cutoff time -->
      <div layout="row" flex="30" class="reservation-time-container">
        <md-input-container class="field-container">
          <label class="custom-no-padding">{{ 'container.shippers.more-auto-reservation-cutoff-time' | translate }}</label>
          <md-select ng-model="ctrl.data.more.cutoffTime.hour" aria-label="cutoff-time-hour" ng-disabled="!ctrl.function.isReservationEnabled(ctrl.data)">
            <md-option ng-value="opt" ng-repeat="opt in ctrl.view.hourTimeSlotOptions">
              {{ opt }}
            </md-option>
          </md-select>
        </md-input-container>
        <div class="time-separator-padding">:</div>
        <md-input-container class="field-container">
          <md-select ng-model="ctrl.data.more.cutoffTime.minute" aria-label="cutoff-time-minute" ng-disabled="!ctrl.function.isReservationEnabled(ctrl.data)">
            <md-option ng-value="opt" ng-repeat="opt in ctrl.view.minuteTimeSlotOptions">
              {{ opt }}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </div>

    <div layout="row" class="horizontal-padding">
      <nv-input-text flex="30"
        name="Address ID"
        label="Address ID"
        model="ctrl.data.more.defaultAddressId"
        disabled="true">
      </nv-input-text>
      <md-input-container class="field-container" flex="30">
        <label>{{ 'container.shippers.more-auto-reservation-approx-volume' | translate }}</label>
        <md-select ng-model="ctrl.data.more.approxVolume" aria-label="reservation-approx-volume" ng-disabled="!ctrl.function.isReservationEnabled(ctrl.data)">
          <md-option ng-value="opt" ng-repeat="opt in ctrl.view.approxVolumeOptions">
            {{ opt }}
          </md-option>
        </md-select>
      </md-input-container>
    </div>

    <div layout="row" class="horizontal-padding">
      <md-input-container class="field-container multiple-select" flex="40">
        <label>{{ 'container.shippers.more-auto-reservation-allowed-types' | translate }}</label>
        <md-select ng-model="ctrl.data.more.allowedTypes" aria-label="reservation-types" multiple>
          <md-optgroup label="allowed-types">
            <md-option ng-value="opt.value" ng-model-options="{trackBy: '$value.value'}" ng-repeat="opt in ctrl.view.reservationTypeOptions">
              {{ opt.displayName }}
            </md-option>
          </md-optgroup>
        </md-select>
      </md-input-container> 
      <md-input-container class="field-container" flex="30">
        <label>{{ 'container.shippers.more-auto-reservation-shipper-customer' | translate }}</label>
        <nv-btn-grp
          model="ctrl.data.more.customerReservation"
          label-for-model-idx-0="Yes"
          label-for-model-idx-1="No"
          select-multiple="false" 
          select-none="false">
        </nv-btn-grp>
      </md-input-container>
    </div>

    <!-- Pickup Service -->
    <div layout="row" class="horizontal-padding vertical-padding">
      <h5 class="sub-title">{{ 'container.shippers.more-pickup-service' | translate }}</h5>
    </div>

    <div layout="row" class="horizontal-padding padding-bottom">
      <md-input-container flex="30">
        <label>{{ 'container.shippers.allow-premium-pickup-on-sunday' | translate }}</label>
        <nv-btn-grp
          model="ctrl.data.more.allowPremiumPickupOnSunday"
          label-for-model-idx-0="Yes"
          label-for-model-idx-1="No"
          select-multiple="false"
          select-none="false">
        </nv-btn-grp>
      </md-input-container>

      <nv-input-number
        flex="30"
        form="ctrl.moreForm"
        label="{{'container.shippers.premium-pickup-daily-limit' | translate}}"
        name="premium-pickup-daily-limit"
        min="1"
        max="100"
        required="true"
        model="ctrl.data.more.premiumPickupDailyLimit">
      </nv-input-number>
    </div>
  
    <div
      layout="column"
      class="horizontal-padding padding-bottom">
      <div class="pickup-service-table table-holder" flex>
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th>{{ 'container.shippers.service-type' | translate }}</th>
            <th>{{ 'container.shippers.service-level' | translate }}</th>
            <th>{{ 'commons.actions' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="service in ctrl.data.more.pickupServiceTypeLevel track by $index">
            <td>
              <nv-input-select
                class="service-type md-block"
                name="{{ 'more-settings-service-type' + $index }}"
                label="{{'container.shippers.service-type' | translate}}"
                model="service.type"
                model-options="{}"
                required="::true"
                options="ctrl.view.pickupServiceTypeOptions"
                form="ctrl.moreForm"
                required="true">                
              </nv-input-select>
            </td>
            <td class="service-level">
              <nv-input-select
                ng-if="ctrl.function.isServiceTypeRequired(service.type)"
                class="service-level md-block"
                name="{{ 'more-settings-service-level' + $index }}"
                label="{{'container.shippers.service-level' | translate}}"
                model="service.level"
                model-options="{}"
                required="::true"
                options="ctrl.view.pickupServiceLevelOptions"
                form="ctrl.moreForm"
                required="true">
              </nv-input-select>
              <span ng-if="!ctrl.function.isServiceTypeRequired(service.type)">
                -
              </span>
            </td>
            <td>
              <nv-icon-button
                md-theme="nvRed"
                class="ghost"
                name="commons.delete"
                icon="delete"
                disabled="ctrl.data.more.pickupServiceTypeLevel && ctrl.data.more.pickupServiceTypeLevel.length === 1"
                on-click="ctrl.function.deletePickupService(ctrl.data, $index)">
              </nv-icon-button>
            </td>
          </tr>
          <tr ng-if="ctrl.data.more.pickupServiceTypeLevel.length <= 0">
            <td colspan="3" class="nv-text-center">
              <small>{{ 'directive.table.no-result' | translate }}</small>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <nv-icon-text-button
        ng-if="ctrl.function.isAbleToAddNewPickupService(ctrl.data)"
        class="ghost dense"
        name="container.shippers.add-new-service"
        on-click="ctrl.function.addNewPickupService(ctrl.data)">
      </nv-icon-text-button>
    </div>

    <div layout="row" layout-wrap class="horizontal-padding">
      <div flex="25" layout="column" class="timeslot-select">
        <label class="nv-small">
          {{'container.shippers.more-default-pickup-time' | translate}}
        </label>
        <nv-input-select
          label="commons.select"
          show-label="::false"
          set-default="false"
          form="ctrl.moreForm"
          required="::false"
          model="ctrl.data.more.defaultPickupTime"
          model-options= "{}"
          options="ctrl.view.timeslots">
        </nv-input-select>
      </div>      
      <div flex="75"></div>
      <div>
          <p class="nv-p nv-small">
              {{"container.shippers.ninja-van-will-use-this-value-when-shipper-not-sending-pickup-time" | translate}}
          </p>
      </div>
    </div>

    <!-- Returns -->
    <div layout="row" class="horizontal-padding vertical-padding">
      <h5 class="sub-title">{{ 'container.shippers.more-returns' | translate }}</h5>
    </div>

    <div layout="row" class="horizontal-padding padding-bottom" layout-align="space-between end">
      <md-input-container class="field-container" flex="30">
        <label>{{ 'container.shippers.more-returns-for-this-shipper' | translate }}</label>
        <nv-btn-grp
          model="ctrl.data.more.isReturnsEnabled"
          label-for-model-idx-0="Active"
          label-for-model-idx-1="Disabled"
          select-multiple="false" 
          select-none="false">
        </nv-btn-grp>
      </md-input-container>
      <nv-icon-text-button
        md-theme="nvBlue"
        class="ghost"
        name="Replace with Liaison Details"
        on-click="ctrl.function.replaceWithLiaisonDetails($event)"
        disabled="!ctrl.function.isReturnsEnabled(ctrl.data)">
      </nv-icon-text-button>
    </div>

    <div layout="row" class="horizontal-padding padding-top">
      <nv-input-text flex="30"
        name="Returns Name"
        label="Returns Name"
        model="ctrl.data.more.returnsName"
        disabled="!ctrl.function.isReturnsEnabled(ctrl.data)">
      </nv-input-text>
      <nv-input-text flex="30"
        name="Returns Contact"
        label="Returns Contact"
        model="ctrl.data.more.returnsContact"
        disabled="!ctrl.function.isReturnsEnabled(ctrl.data)">
      </nv-input-text>
      <nv-input-text flex="30"
        name="Returns Email"
        label="Returns Email"
        model="ctrl.data.more.returnsEmail"
        disabled="!ctrl.function.isReturnsEnabled(ctrl.data)">
      </nv-input-text>
    </div>

    <div layout="row" class="horizontal-padding">
      <nv-input-text flex="100"
        name="Returns Address 1"
        label="Returns Address 1"
        model="ctrl.data.more.returnsAddress1"
        disabled="!ctrl.function.isReturnsEnabled(ctrl.data)">
      </nv-input-text>
    </div>

    <div layout="row" class="horizontal-padding">
      <nv-input-text flex="100"
        name="Returns Address 2 / Unit Number"
        label="Returns Address 2 / Unit Number"
        model="ctrl.data.more.returnsAddress2"
        disabled="!ctrl.function.isReturnsEnabled(ctrl.data)">
      </nv-input-text>
    </div>

    <div layout="row" class="horizontal-padding">
      <nv-input-text flex="30"
        name="Returns City"
        label="Returns City"
        model="ctrl.data.more.returnsCity"
        disabled="!ctrl.function.isReturnsEnabled(ctrl.data)">
      </nv-input-text>
      <nv-input-text flex="30"
        name="Returns Postcode"
        label="Returns Postcode"
        model="ctrl.data.more.returnsPostcode"
        disabled="!ctrl.function.isReturnsEnabled(ctrl.data)">
      </nv-input-text>
      <nv-input-text flex="30"
        name="Last Returns Number"
        label="Last Returns Number"
        model="ctrl.data.more.lastReturnsNumber"
        disabled="!ctrl.function.isReturnsEnabled(ctrl.data)">
      </nv-input-text>
    </div>

    <!-- Distributional Points -->
    <div layout="row" class="horizontal-padding vertical-padding">
      <h5 class="sub-title">{{ 'container.shippers.more-distribution-points' | translate }}</h5>
    </div>  
    
    <div layout="row" class="horizontal-padding padding-bottom">
      <md-input-container class="field-container">
        <label>{{ 'container.shippers.more-dp-integrated-vault' | translate }}</label>
        <nv-btn-grp
          model="ctrl.data.more.isIntegratedVault"
          label-for-model-idx-0="Yes"
          label-for-model-idx-1="No"
          select-multiple="false" 
          select-none="false">
        </nv-btn-grp>
      </md-input-container>
      <md-input-container class="field-container" flex="30">
        <label>{{ 'container.shippers.more-dp-collec-nric' | translate }}</label>
        <nv-btn-grp
          model="ctrl.data.more.isCollectCustomerNricCode"
          label-for-model-idx-0="Yes"
          label-for-model-idx-1="No"
          select-multiple="false" 
          select-none="false">
        </nv-btn-grp>
      </md-input-container>
    </div>

    <div layout="row" class="horizontal-padding">
      <md-input-container class="field-container">
        <label>{{ 'container.shippers.more-dp-returns-dpms' | translate }}</label>
        <nv-btn-grp
          model="ctrl.data.more.isReturnsOnDpms"
          label-for-model-idx-0="Yes"
          label-for-model-idx-1="No"
          select-multiple="false" 
          select-none="false">
        </nv-btn-grp>
      </md-input-container>
      <nv-input-text flex="50"
        name="DPMS Logo URL"
        label="DPMS Logo URL"
        model="ctrl.data.more.dpmsLogoUrl"
        disabled="ctrl.data.more.isReturnsOnDpms === '01'">
      </nv-input-text>
    </div>

    <div layout="row" class="horizontal-padding">
      <md-input-container class="field-container">
        <label>{{ 'container.shippers.more-dp-returns-vault' | translate }}</label>
        <nv-btn-grp
          model="ctrl.data.more.isReturnsOnVault"
          label-for-model-idx-0="Yes"
          label-for-model-idx-1="No"
          select-multiple="false" 
          select-none="false">
        </nv-btn-grp>
      </md-input-container>
      <nv-input-text flex="50"
        name="Vault Logo URL"
        label="Vault Logo URL"
        model="ctrl.data.more.vaultLogoUrl"
        disabled="ctrl.data.more.isReturnsOnVault === '01'">
      </nv-input-text>
    </div>

    <div layout="row" class="horizontal-padding">
      <md-input-container class="field-container">
        <label>{{ 'container.shippers.more-dp-returns-shipper-lite' | translate }}</label>
        <nv-btn-grp
          model="ctrl.data.more.isReturnsOnShipperLite"
          label-for-model-idx-0="Yes"
          label-for-model-idx-1="No"
          select-multiple="false" 
          select-none="false">
        </nv-btn-grp>
      </md-input-container>
      <nv-input-text flex="50"
        name="Shipper Lite Logo URL"
        label="Shipper Lite Logo URL"
        model="ctrl.data.more.shipperLiteLogoUrl"
        disabled="ctrl.data.more.isReturnsOnShipperLite === '01'">
      </nv-input-text>
    </div>

    <!-- Notifications -->
    <div layout="row" class="horizontal-padding vertical-padding">
      <h5 class="sub-title">{{ 'container.shippers.more-notification' | translate }}</h5>
    </div>

    <div layout="row" class="horizontal-padding padding-bottom">
      <md-input-container class="field-container" flex="30">
        <label>{{ 'container.shippers.notification-transit-shipper' | translate }}</label>
        <nv-btn-grp
          model="ctrl.data.more.transitShipper"
          label-for-model-idx-0="Yes"
          label-for-model-idx-1="No"
          select-multiple="false"
          select-none="false">
        </nv-btn-grp>
      </md-input-container>
      <md-input-container class="field-container" flex="30">
        <label>{{ 'container.shippers.notification-transit-customer' | translate }}</label>
        <nv-btn-grp
          model="ctrl.data.more.transitCustomer"
          label-for-model-idx-0="Yes"
          label-for-model-idx-1="No"
          select-multiple="false"
          select-none="false">
        </nv-btn-grp>
      </md-input-container>
    </div>

    <div layout="row" class="horizontal-padding padding-bottom">
      <md-input-container class="field-container" flex="30">
        <label>{{ 'container.shippers.notification-completed-shipper' | translate }}</label>
        <nv-btn-grp
          model="ctrl.data.more.completedShipper"
          label-for-model-idx-0="Yes"
          label-for-model-idx-1="No"
          select-multiple="false"
          select-none="false">
        </nv-btn-grp>
      </md-input-container>
      <md-input-container class="field-container" flex="30">
        <label>{{ 'container.shippers.notification-completed-customer' | translate }}</label>
        <nv-btn-grp
          model="ctrl.data.more.completedCustomer"
          label-for-model-idx-0="Yes"
          label-for-model-idx-1="No"
          select-multiple="false"
          select-none="false">
        </nv-btn-grp>
      </md-input-container>
    </div>

    <div layout="row" class="horizontal-padding padding-bottom">
      <md-input-container class="field-container" flex="30">
        <label>{{ 'container.shippers.notification-pickup-fail-shipper' | translate }}</label>
        <nv-btn-grp
          model="ctrl.data.more.pickupFailShipper"
          label-for-model-idx-0="Yes"
          label-for-model-idx-1="No"
          select-multiple="false"
          select-none="false">
        </nv-btn-grp>
      </md-input-container>
      <md-input-container class="field-container" flex="30">
        <label>{{ 'container.shippers.notification-pickup-fail-customer' | translate }}</label>
        <nv-btn-grp
          model="ctrl.data.more.pickupFailCustomer"
          label-for-model-idx-0="Yes"
          label-for-model-idx-1="No"
          select-multiple="false"
          select-none="false">
        </nv-btn-grp>
      </md-input-container>
    </div>

    <div layout="row" class="horizontal-padding padding-bottom">
      <md-input-container class="field-container" flex="30">
        <label>{{ 'container.shippers.notification-delivery-fail-shipper' | translate }}</label>
        <nv-btn-grp
          model="ctrl.data.more.deliveryFailShipper"
          label-for-model-idx-0="Yes"
          label-for-model-idx-1="No"
          select-multiple="false"
          select-none="false">
        </nv-btn-grp>
      </md-input-container>
      <md-input-container class="field-container" flex="30">
        <label>{{ 'container.shippers.notification-delivery-fail-customer' | translate }}</label>
        <nv-btn-grp
          model="ctrl.data.more.deliveryFailCustomer"
          label-for-model-idx-0="Yes"
          label-for-model-idx-1="No"
          select-multiple="false"
          select-none="false">
        </nv-btn-grp>
      </md-input-container>
    </div>
  </form>
</md-content>