<nv-dialog-header title="{{'container.global-inbound.settings' | translate}}" on-cancel="::ctrl.onCancel($event)"></nv-dialog-header>

<md-dialog-content layout="row" layout-wrap layout-padding>
  <div flex="100">
      <div class="md-block field-container" layout="column" flex="60">
          <label class="nv-small">Hub</label>
          <nv-autocomplete            
            class="md-block"
            placeholder="{{'container.global-inbound.select-hub' | translate}}"
            search-text="ctrl.hubSearchText"
            selected-item="ctrl.data.hub"
            icon=""
            form="ctrl.hubForm"
            display-by="displayName"
            delegate-handle="hubs-auto"
            item-types="hub"
            required="true"
            hide-search-icon="::true"
            show-suggestion-when-empty="true">
          </nv-autocomplete>        
        </div>
  </div>
  <div flex="100">
    <nv-input-text
      model="ctrl.data.deviceId"
      name="container.global-inbound.device-id-optional"   
      label="container.global-inbound.device-id-optional">
    </nv-input-text>
  </div>

</md-dialog-content>

<md-dialog-actions>
  <div layout="row" layout-padding layout-align="end center">            
    <nv-icon-text-button 
      class="raised"
      icon="done"
      md-theme="nvGreen"
      aria-label="Save Changes" 
      on-click="ctrl.onSave()" 
      name="{{'commons.save-changes' | translate }}"  id="saveButtonSettings" >                        
    </nv-icon-text-button>
  </div>

</md-dialog-actions>
