<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <h2 class="md-title">
        {{ 'container.zonal-routing.set-hub-for-routes' | translate }}
      </h2>

      <div>
        {{ 'container.zonal-routing.set-hub-for-routes-description' | translate }}
      </div>

      <div layout="row" layout-sm="column" layout-xs="column">
        <div flex="50" flex-sm="100" flex-xs="100">
          <nv-label-small
            label="container.zonal-routing.new-hub">
          </nv-label-small>
          <nv-autocomplete
            placeholder="{{ 'commons.search-or-select' | translate }}"
            delegate-handle="zonal-routing-select-hub"
            multiple="false"
            search-text="ctrl.hubSelection.searchText"
            selected-item="ctrl.hubSelection.hub"
            possible-options="ctrl.hubSelection.options">
          </nv-autocomplete>
        </div>
      </div>

      <div>
        <nv-label-small
          label="commons.routes">
        </nv-label-small>

        <div class="table-container" ng-if="ctrl.routesTableParams && !ctrl.routesTableParams.empty">
          <nv-table
            param="ctrl.routesTableParams"
            selectable="true"
            controller-as="ctrl">
            <nv-table-row
              use-virtual-repeat='false'
              use="route">
              <nv-td column="routeName" filter="false">
                {{ route.routeName }}
              </nv-td>
              <nv-td column="driverName" filter="false">
                <span ng-if="route.driverName">
                  {{ route.driverName }}
                </span>
                <span ng-if="!route.driverName"
                      class="dark-red">
                  {{ 'container.zonal-routing.unassigned' | translate }}
                </span>
              </nv-td>
              <nv-td column="hubName" filter="false">
                <span ng-if="route.hubName">
                  {{ route.hubName }}
                </span>
                <span ng-if="!route.hubName"
                      class="dark-red">
                  {{ 'container.zonal-routing.unassigned' | translate }}
                </span>
              </nv-td>
            </nv-table-row>
          </nv-table>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        name="commons.go-back"
        on-click="ctrl.onCancel()">
      </nv-icon-text-button>

      <nv-icon-text-button
        class="flat"
        name="container.zonal-routing.set-hub-for-routes"
        disabled="ctrl.isSetHubForButtonDisabled()"
        on-click="ctrl.setHubForRoutes()">
      </nv-icon-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>