@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../lib/ninja-commons/styles/mixins/typography.mixins";


md-content.nv-container-same-day-route-engine {

  @include nv-card-no-margin;

  padding: 1rem;

  @include nv-media-query-md-min {
    padding: 2rem 6rem;
  }

  @include nv-media-query-lg-min {
    padding: 3rem 9rem;
  }

  @include nv-media-query-xl-min {
    padding: 4rem 12rem;
  }

  button.borderless-button {
    box-shadow: none !important;
  }

  label {
    font-size: 1.4rem;
  }

  .filter-page {

    .selections {
      padding-top: 3rem;

      .loading-container .message-container.loading {
        margin: 0;
        height: 5rem;
        width: 5rem;
      }
    }

    md-card {
      position: relative;
      width: 90%;
      margin: 0 5%;

      md-divider {
        margin: 0 2%;
      }

      md-card-content.warning {
        padding-top: 0;

        .no-unrouted-warning{
          width: 100%;
          padding: 0.5rem;
          background-color: $nv-alternate-hover-red;
        }

        .warning-text small {
          color: $nv-normal-red;
          font-size: 1.1rem;
          margin-left: 1rem;
        }
      }

      md-card-content {

        .section-title {
          font-weight: normal;
          color: $nv-tb59;
          margin-top: 1rem;
          margin-bottom: 3rem;
        }

        md-input-container {
          width: 100%;
        }

        .subsection-title {
          font-size: 1.6rem;
          color: $nv-tb59;
          margin-bottom: .8rem;
          margin-left: 2rem;
        }

        .selector-section{
          border: 1px solid #E4E4E4;
          border-radius: .3rem;
          padding: .4rem;
        }
        .selector-section-title{
          font-size: 1.4rem;
          color: $nv-tb59;
          margin-top: 1rem;
          margin-bottom: 1rem;
          font-weight: 400;
          .info-icon{
            font-size: 1.4rem;
          }
        }

        .route-group-txn-title {
          color: $nv-label-color;
          font-size: 1.4rem;
          position: relative;
          top: -1.8rem;
        }

        .selector-override{
          margin-top: -1.8rem;
          md-input-container{
            padding-top: 0;
            margin-top: 0;
            padding-bottom: 0;            
          }
          .override-value-container{            
            p{
              margin-top: 1rem;
              margin-left: .4rem;
            }
          }
          
        }

        .route-group-total-txn{
          position: relative;
          bottom: .6rem;
        }

        nv-container-box {
          padding: 0 0.5rem;
          border: none;
        }
        

        nv-container-box.vehicle-types .repeat-item {
          padding-bottom: 1rem;

          .zp-rank-container {
            border-right: 0.7rem solid;
          }

          .zp-settings-container {
            padding: 1rem .3rem 1rem .3rem;

            .vehicle-type-header {
              margin-bottom: 1rem;
            }

            .inner-row {
              width: 98%;
              padding:0;
              margin:0;
              .vehicle-field {
                padding: 1rem;
              }

              md-input-container.vehicle-field .md-errors-spacer {
                min-height: 0;
              }

              md-input-container.vehicle-field .md-select-value {
                padding-bottom: 0;
                padding-top: 1px;
              }
              md-input-container label{
                font-size: 1.2rem;
              }
              .to{
                margin-top: 2.3rem;
                font-size: 1.4rem;
              }
            }
          }

          &:nth-child(15n+2) .zp-rank-container {
            border-color: nth($nv-colors, 2);
            .zp-rank-container-inner {
              background-color: nth($nv-colors, 2);
              color: white;
              i:hover {
                background-color: darken(nth($nv-colors, 2), 10%);
              }
            }
          }
          &:nth-child(15n+3) .zp-rank-container {
            border-color: nth($nv-colors, 3);
            .zp-rank-container-inner {
              background-color: nth($nv-colors, 3);
              color: white;
              i:hover {
                background-color: darken(nth($nv-colors, 3), 10%);
              }
            }
          }
          &:nth-child(15n+4) .zp-rank-container {
            border-color: nth($nv-colors, 4);
            .zp-rank-container-inner {
              background-color: nth($nv-colors, 4);
              color: white;
              i:hover {
                background-color: darken(nth($nv-colors, 4), 10%);
              }
            }
          }
          &:nth-child(15n+5) .zp-rank-container {
            border-color: nth($nv-colors, 5);
            .zp-rank-container-inner {
              background-color: nth($nv-colors, 5);
              color: white;
              i:hover {
                background-color: darken(nth($nv-colors, 5), 10%);
              }
            }
          }
          &:nth-child(15n+6) .zp-rank-container {
            border-color: nth($nv-colors, 6);
            .zp-rank-container-inner {
              background-color: nth($nv-colors, 6);
              color: white;
              i:hover {
                background-color: darken(nth($nv-colors, 6), 10%);
              }
            }
          }
          &:nth-child(15n+7) .zp-rank-container {
            border-color: nth($nv-colors, 7);
            .zp-rank-container-inner {
              background-color: nth($nv-colors, 7);
              color: white;
              i:hover {
                background-color: darken(nth($nv-colors, 7), 10%);
              }
            }
          }
          &:nth-child(15n+8) .zp-rank-container {
            border-color: nth($nv-colors, 8);
            .zp-rank-container-inner {
              background-color: nth($nv-colors, 8);
              color: white;
              i:hover {
                background-color: darken(nth($nv-colors, 8), 10%);
              }
            }
          }
          &:nth-child(15n+9) .zp-rank-container {
            border-color: nth($nv-colors, 9);
            .zp-rank-container-inner {
              background-color: nth($nv-colors, 9);
              color: white;
              i:hover {
                background-color: darken(nth($nv-colors, 9), 10%);
              }
            }
          }
          &:nth-child(15n+10) .zp-rank-container {
            border-color: nth($nv-colors, 10);
            .zp-rank-container-inner {
              background-color: nth($nv-colors, 10);
              color: white;
              i:hover {
                background-color: darken(nth($nv-colors, 10), 10%);
              }
            }
          }
          &:nth-child(15n+11) .zp-rank-container {
            border-color: nth($nv-colors, 11);
            .zp-rank-container-inner {
              background-color: nth($nv-colors, 11);
              color: white;
              i:hover {
                background-color: darken(nth($nv-colors, 11), 10%);
              }
            }
          }
          &:nth-child(15n+12) .zp-rank-container {
            border-color: nth($nv-colors, 12);
            .zp-rank-container-inner {
              background-color: nth($nv-colors, 12);
              color: white;
              i:hover {
                background-color: darken(nth($nv-colors, 12), 10%);
              }
            }
          }
          &:nth-child(15n+13) .zp-rank-container {
            border-color: nth($nv-colors, 13);
            .zp-rank-container-inner {
              background-color: nth($nv-colors, 13);
              color: white;
              i:hover {
                background-color: darken(nth($nv-colors, 13), 10%);
              }
            }
          }
          &:nth-child(15n+14) .zp-rank-container {
            border-color: nth($nv-colors, 14);
            .zp-rank-container-inner {
              background-color: nth($nv-colors, 14);
              color: white;
              i:hover {
                background-color: darken(nth($nv-colors, 14), 10%);
              }
            }
          }
          &:nth-child(15n+15) .zp-rank-container {
            border-color: nth($nv-colors, 15);
            .zp-rank-container-inner {
              background-color: nth($nv-colors, 15);
              color: white;
              i:hover {
                background-color: darken(nth($nv-colors, 15), 10%);
              }
            }
          }
          &:nth-child(15n+16) .zp-rank-container {
            border-color: nth($nv-colors, 16);
            .zp-rank-container-inner {
              background-color: nth($nv-colors, 16);
              color: white;
              i:hover {
                background-color: darken(nth($nv-colors, 16), 10%);
              }
            }
          }
        }
      }
    }

    nv-api-text-button {
      width: 90%;
      display: block;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      margin-left: 5%;

      > button {
        width: 100%;
      }

      .nv-button.md-button > * {
        font-size: 1.6rem;
      }
    }

    md-card.routes-response-card {
      min-height: 0;
      margin-top: 3rem;
      margin-bottom: 3rem;

      nv-icon-text-button {
        button {
          margin: 1rem;
        }
      }

      .table-container {
        table {
          th, td {
            padding-left: 1rem;
            padding-right: 1rem;
          }

          th.sn {
            padding-left: 0;
            padding-right: 0;
            text-align: center;
          }
          td.sn {
            text-align: end;
          }

          th.route-id, td.route-id {
            width: 5rem;
          }
          th.txns, td.txns {
            width: 4rem;
          }
        }
      }
    }
  }

  .result-page {

    md-card.route-settings {
      margin: 0;

      md-card-title {
        .md-headline {
          color: $nv-tb59;
        }
      }

      md-card-content {
        .filter-holder {
          display: inline-block;
          margin-right: 3rem;

          .filter-label {
            margin-top: 0.5rem;
            margin-bottom: 0;

            small {
              color: $nv-tb32;
            }
          }

          .filter-value {
            margin: 0;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    md-card.route-results-title {
      margin-top: 3rem;

      md-card-title {
        .md-headline {
          color: $nv-tb59;
          position: relative;
          top: -6px;
        }
      }
      .unrouted-info-container{
        padding: .8rem;
        .unrouted-info-text{
          font-size: 1.2rem;
        }
        button{
          font-size: 1.2rem;
        }
      }
      
    }

    md-card.route-results-table {
      margin: 0;
      position: relative;
      min-height: 8rem;

      .table-container {
        thead, tbody { display: block; }

        thead {
          th {
            padding-left:  1rem;
            padding-right: 1rem;
          }
        }

        tbody {
          overflow-y: scroll;

          tr {
            vertical-align: top;
            height: 7rem !important;
          }

          td {
            vertical-align: -2rem;
            padding-left:  1rem;
            padding-right: 1rem;
          }

          td.sn {
            text-align: end;
          }
          td.name {
          }

          td.txns {
            text-align: end;
          }

          td.operating-hours {
          }

          td.set-driver {
          }

          td.remove {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }

      th.sn,
      td.sn {
        text-align: center;
        width: 5rem;
        min-width: 5rem;
      }

      th.name,
      td.name {
        width: 50%;
        min-width: 14rem;
      }

      th.txns,
      td.txns {
        width: 7.0rem;
        min-width: 7.0rem;
        text-align: center;
      }

      th.operating-hours,
      td.operating-hours {
        width: 30%;
        min-width: 18rem;
      }

      th.set-driver,
      td.set-driver {
        width: 30rem;
        min-width: 30rem;

        md-input-container {
          margin-bottom: 0;
          margin-top: 1.2rem;
          width: 19rem;
        }
      }
      th.wps,
      td.wps{
        width: 6rem;
        min-width: 6rem;
      }

      th.remove,
      td.remove {
        text-align: center;
        width: 9rem;
        min-width: 9rem;

        nv-table-button button {
          min-width: 0;
          width: auto;
          margin: auto;
        }
      }
    }

    .submit-button-holder {
      nv-api-text-button {
        width: 100%;
        display: block;
        margin-top: 2rem;
        margin-bottom: 4rem;

        > button {
          width: 100%;
        }
      }
    }
  }
}


md-dialog.nv-route-detail-dialog, md-dialog.nv-unrouted-detail-dialog{
  width: 90%;
  height: 90%;
  .nv-sdre-waypoint-detail{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    div.waypoint-table-container{
    position: relative;
    flex:1;
    nv-table{
      @include nv-table-column-width(seq, 6rem);
      @include nv-table-column-width(wp-id, 20rem);
      @include nv-table-column-width(type, 15rem);
      @include nv-table-column-width(shipper, 15rem);
      @include nv-table-column-width(address, 30rem);
      @include nv-table-column-width(tracking_id, 20rem);
      @include nv-table-column-width(original-start, 15rem);
      @include nv-table-column-width(suggested-start, 15rem);
      @include nv-table-column-width(original-end, 15rem);
      @include nv-table-column-width(suggested-end, 15rem);
      @include nv-table-column-width(tracking-url, 25rem);
    }
    }
    }
}

.nv-sdre-save-suggested-detail-dialog{
  width: 70rem;
  height: 45rem;
  md-dialog-content{
    padding: 1.8rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    p.all-failed{
      color: $nv-dark-red;
      background: $nv-light-red;
      margin: .8rem auto;
      padding: 1.8rem;
    }

    div.failed-upload-table-container{
      position: relative;
      flex:1;
      nv-table{
        @include nv-table-column-width(tracking_id, 15rem);
        @include nv-table-column-width(message, 45rem);
      }


    }
    
  }
  
}
