<md-content class="nv-container-same-day-route-engine" nv-load="ctrl.getAll" loading-message="{{'container.same-day-route-engine.load-data' | translate}}">

  <div class="filter-page" ng-if="ctrl.isPage(ctrl.PAGES.FILTER)">
    <form name="ctrl.modelForm" md-theme="nvBlue" ng-submit="ctrl.run()">
      <md-card md-theme="default" md-theme-watch>

        <md-card-content class="selections" layout="row" layout-wrap layout-padding>
          <div flex="100" layout="row" layout-padding>
            <nv-input-select flex="25" label="{{'commons.select.route-group' | translate}}" model="ctrl.routeGroupsSelection.value" model-options="{}"
              options="ctrl.routeGroupsSelection.options" on-change="ctrl.onRouteGroupSelectionChange()" form="ctrl.modelForm"
              required="true">
            </nv-input-select>
            <div flex="15" class="loading-container">
              <div class="route-group-txn-title" ng-if="ctrl.routeGroupsSelection.value">{{'container.same-day-route-engine.transactions' | translate}}</div>
              <div class="route-group-total-txn" nv-load="ctrl.promise" ng-if="ctrl.routeGroupsSelection.value">{{ctrl.unroutedTxnCount}}</div>
            </div>
            <nv-input-select flex="20" label="{{'commons.select.routing-algorithm' | translate}}" model="ctrl.routingAlgoritmSelection.value"
              model-options="{}" options="ctrl.routingAlgoritmSelection.options" form="ctrl.modelForm" required="true">
            </nv-input-select>
            <div flex="20" 
              layout="row"
              layout-wrap
              class="selector-override"
              ng-show="ctrl.routingAlgoritmSelection.value == 'SAME_DAY_PICKUP_DELIVERY'">              
              <nv-input-checkbox
                flex="100"
                model="ctrl.isOverride"
                class="nv-small"
                form="ctrl.modelForm"
                on-change="ctrl.onChangeCheckboxOverride()"
                label="Override Service Time">
              </nv-input-checkbox>
              <div flex="100" layout="row" class="override-value-container">
                <nv-input-number
                  flex=75
                  disabled="!ctrl.isOverride"
                  model="ctrl.overrideValue"
                  label=""
                  min="0"
                  form="ctrl.modelForm"
                  step="::5">
                </nv-input-number>
                <p flex="25">
                  {{"container.same-day-route-engine.min" | translate}}
                </p>
              </div>
              

            </div>
            <nv-input-select flex="20" ng-if="ctrl.routeGroupsSelection.value" label="{{'commons.hub' | translate}}" model="ctrl.hubsSelection.value"
              model-options="{}" options="ctrl.hubsSelection.options" form="ctrl.modelForm" required="true">
            </nv-input-select>
          </div>
        </md-card-content>

        <md-card-content class="warning no-unrouted-warning" layout="row" ng-if="ctrl.routeGroupsSelection.value && ctrl.unroutedTxnCount === 0">

          <div layout="row" class="no-unrouted-warning">
            <div flex="5" layout layout-align="center">
              <md-icon class="md-primary" md-theme="nvRed">
                <i class="material-icons">error_outline</i>
              </md-icon>
            </div>
            <div flex="95" class="warning-text">
              <small>{{'container.same-day-route-engine.no-unrouted-transaction' | translate}}</small>
            </div>
          </div>

        </md-card-content>

        <md-card-content class="warning no-unrouted-warning" layout="row" ng-if="ctrl.isBreakTimeInvalid">
            <div layout="row" class="no-unrouted-warning">
             <div flex="5" layout layout-align="center">
              <md-icon class="md-primary" md-theme="nvRed">
                <i class="material-icons">info</i>
              </md-icon>
            </div>
            <div flex="95" class="warning-text">
              <small>{{'container.same-day-route-engine.break-time-error-message' | translate}}</small>
            </div>
            </div>
        </md-card-content>

        <md-divider></md-divider>

        <md-card-content layout="column">

          <h5 flex="50" class="section-title"> {{'commons.fleet' | translate}}</h5>

          <nv-container-box class="vehicle-types">

            <nv-label-small class="label-active" label="{{::fields.zonePreferences.rank.displayName}}" ng-if="fields.zonePreferences._values.length > 0">
            </nv-label-small>

            <div class="md-block no-margins-bottom repeat-item" layout="row" ng-repeat="vehicleType in ctrl.vehicleTypes track by $index">

              <div class="zp-rank-container"></div>

              <div class="md-whiteframe-2dp zp-settings-container" layout="column" flex>
                <div class="vehicle-type-header" layout="row">
                  <div class="subsection-title" flex="80" translate="container.same-day-route-engine.fleet-type-n" translate-values="{n: $index + 1}"
                    layout="column" layout-align="center"></div>
                  <div ng-if="ctrl.vehicleTypes.length != 1" class="md-block" flex="20" layout="row" layout-align="end start">
                    <nv-icon-text-button name="commons.remove-type" class="flat" on-click="ctrl.onRemoveVehicleType(ctrl.vehicleTypes, $index)">
                    </nv-icon-text-button>
                  </div>
                </div>

                <div class="inner-row" layout="row" layout-margin>
                  <div flex="33" layout="row" layout-wrap class="selector-section">
                    <h6 class="selector-section-title" flex="100">{{"container.same-day-route-engine.fleet-settings" | translate}}</h6>
                    <div flex="100" layout="row" layout-wrap>
                      <nv-input-number class="md-block vehicle-field" flex="50" label="{{'container.same-day-route-engine.no-of-vehicles' | translate}}"
                        model="vehicleType.numVehicles" min="1" form="ctrl.modelForm" required="true">
                      </nv-input-number>

                      <nv-input-number class="md-block vehicle-field" flex="50" label="{{'container.same-day-route-engine.capacity' | translate}}"
                        model="vehicleType.parcelLimit" min="1" form="ctrl.modelForm" required="true">
                      </nv-input-number>
                    </div>
                  </div>

                  <div flex="33" layout="row" layout-wrap class="selector-section">
                    <h6 class="selector-section-title" flex="100">{{'container.same-day-route-engine.operating-hours' | translate}}</h6>
                    <div flex="100" layout="row" layout-wrap>
                      <nv-input-select class="md-block vehicle-field" flex="45" label="{{'container.same-day-route-engine.operating-start' | translate}}"
                        model="vehicleType.timeslot.start" model-options="{}" options="ctrl.vehicleTypes[$index].startTimeOptions"
                        on-close="ctrl.updateEndTimeOptions(ctrl.vehicleTypes[$index], $index)" form="ctrl.modelForm" required="true">
                      </nv-input-select>
                      <div flex><p class="to">{{'commons.to' | translate}}</p></div>
                      <nv-input-select class="md-block vehicle-field" flex="45" label="{{'container.same-day-route-engine.operating-end' | translate}}"
                        model="vehicleType.timeslot.end" model-options="{}" options="ctrl.vehicleTypes[$index].endTimeOptions"
                        on-close="ctrl.updateStartTimeOptions(ctrl.vehicleTypes[$index], $index)" form="ctrl.modelForm" required="true">
                      </nv-input-select>
                    </div>
                  </div>

                  <div flex="33" layout="row" layout-wrap class="selector-section">
                    <h6 class="selector-section-title" flex="100">{{'container.same-day-route-engine.break-duration-optional' | translate}}
                          <i class="material-icons info-icon">info</i>
                    </h6>
                    <div flex="100" layout="row" layout-wrap>
                      <nv-input-select name="break-start-{{$index}}" class="md-block vehicle-field" flex="45" label="{{'container.same-day-route-engine.break-start' | translate}}"
                        model="vehicleType.break.start" help-text="{{'commons.invalid-time' | translate}}" model-options="{}" options="ctrl.vehicleTypes[$index].startBreakTimeOptions"
                        set-default="false" on-close="ctrl.updateEndBreakTimeOptions(ctrl.vehicleTypes[$index], $index)" form="ctrl.modelForm">
                      </nv-input-select>
                      <div flex><p class="to">{{'commons.to' | translate}}</p></div>
                      <nv-input-select name="break-end-{{$index}}" class="md-block vehicle-field" flex="45" label="{{'container.same-day-route-engine.break-end' | translate}}"
                        model="vehicleType.break.end" help-text="{{'commons.invalid-time' | translate}}" model-options="{}" options="ctrl.vehicleTypes[$index].endBreakTimeOptions"
                        set-default="false" on-close="ctrl.updateStartBreakTimeOptions(ctrl.vehicleTypes[$index], $index)" form="ctrl.modelForm">
                      </nv-input-select>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <nv-icon-text-button class="flat" icon="add" name="container.same-day-route-engine.add-fleet-type" on-click="ctrl.onAddMoreVehicleType(ctrl.vehicleTypes)">
            </nv-icon-text-button>

          </nv-container-box>

        </md-card-content>

      </md-card>

      <nv-api-text-button name="{{'container.same-day-route-engine.run' | translate}}" text="{{ctrl.unroutedTxnCount == null
            ? 'container.same-day-route-engine.run'
            : 'container.same-day-route-engine.run-x-unrouted' | translate:'{unroutedTxnCount:'+ctrl.unroutedTxnCount+'}'}}"
        md-theme="nvGreen" class="raised" on-click="ctrl.run()" disabled="ctrl.isRunDisabled()" form="ctrl.modelForm" state="ctrl.runState">
      </nv-api-text-button>
    </form>

    <md-card class="routes-response-card" md-theme="nvBlue" ng-if="ctrl.routesResponse.length > 0">
      <md-card-content class="nv-padding-none">
        <md-toolbar md-theme="nvBlue">
          <div class="md-toolbar-tools">
            <h5>{{'container.same-day-route-engine.created-routes' | translate}}</h5>
            <span flex></span>
            <h6 ng-bind-html="'container.same-day-route-engine.num-routes' | translate:'{count:'+ctrl.routesResponse.length+'}'"></h6>
          </div>
        </md-toolbar>
        <md-content class="nv-padding-none">
          <div class="table-container">
            <table class="table table-condensed table-bordered table-striped">
              <thead>
                <tr>
                  <th class="sn">{{'container.same-day-route-engine.sn' | translate}}</th>
                  <th class="route-id">{{'container.same-day-route-engine.route-id' | translate}}</th>
                  <th class="txns">{{'container.same-day-route-engine.txns' | translate}}</th>
                  <th class="op-hours">{{'container.same-day-route-engine.operating-hours' | translate}}
                  </th>
                  <th class="driver">{{'container.same-day-route-engine.driver' | translate}}</th>
                  <th class="hub">{{'container.same-day-route-engine.hub' | translate}}</th>
                  <th class="created-time">{{'commons.created-time' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="route in ctrl.routesResponse">
                  <td class="sn">{{$index+1}}</td>
                  <td class="route-id">{{route.id}}</td>
                  <td class="txns">{{route._numTransactions}}</td>
                  <td class="op-hours">{{route._operatingHours}}</td>
                  <td class="driver">{{route.driver.name || '-'}}</td>
                  <td class="hub">{{route.hub.name || '-'}}</td>
                  <td class="created-time">{{route.createdAt}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div layout="row" layout-align="end">
            <nv-icon-text-button md-theme="nvBlue" class="raised" icon="exit_to_app" name="container.same-day-route-engine.view-all-routes"
              on-click="ctrl.openEditRoutePage()">
            </nv-icon-text-button>
          </div>
        </md-content>
      </md-card-content>
    </md-card>
  </div>

  <div class="result-page" ng-if="ctrl.isPage(ctrl.PAGES.RESULT)">
    <md-card class="route-settings">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{'container.same-day-route-engine.route-settings' | translate}}</span>
        </md-card-title-text>

        <nv-icon-text-button class="ghost" icon="mode_edit" name="container.same-day-route-engine.edit-route-settings" on-click="ctrl.goToPage(ctrl.PAGES.FILTER)">
        </nv-icon-text-button>
      </md-card-title>

      <md-card-content>
        <div class="filter-holder">
          <p class="filter-label">
            <small>{{'container.same-day-route-engine.route-group' | translate}}</small>
          </p>
          <p class="filter-value">
            {{ ctrl.getSelectedRouteGroup().name }}
          </p>
        </div>
        <div class="filter-holder">
          <p class="filter-label">
            <small>{{'container.same-day-route-engine.transactions' | translate}}</small>
          </p>
          <p class="filter-value">
            {{'container.same-day-route-engine.num-of-total-unrouted' | translate:'{unroutedTxnCount:'+ctrl.unroutedTxnCount+',totalTxnCount:'+ctrl.totalTxnCount+'}'}}
          </p>
        </div>
        <div class="filter-holder">
          <p class="filter-label">
            <small>{{'container.same-day-route-engine.num-fleet-types' | translate}}</small>
          </p>
          <p class="filter-value">
            {{ ctrl.vehicleTypes.length }}
          </p>
        </div>
        <div class="filter-holder">
          <p class="filter-label">
            <small>{{'container.same-day-route-engine.hub' | translate}}</small>
          </p>
          <p class="filter-value">
            {{ ctrl.getSelectedHub().name }}
          </p>
        </div>
      </md-card-content>
    </md-card>

    <form class="resultForm" name="resultForm" md-theme="nvBlue">
      <md-card class="route-results-title">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{'container.same-day-route-engine.suggested-routes' | translate}}</span>
          </md-card-title-text>

          <span ng-bind-html="'container.same-day-route-engine.num-transactions-in-num-draft-routes' | translate:'{txnCount:'+ctrl.getTotalTxnCount()+',routeCount:'+ctrl.getTotalRouteCount()+'}'">
          </span>
        </md-card-title>
        <div flex="100" layout="row" class="unrouted-info-container" layout-align="end center">
            <div flex="10" class="unrouted-info-text">
              {{"container.same-day-route-engine.x-unrouted-waypoints" | translate:'{x:'+ ctrl.routeResponse.solution.num_unassigned_jobs+'}'}}
            </div>
            <nv-icon-text-button
              class="ghost h6"
              name="container.same-day-route-engine.view-unrouted-waypoints"
              on-click="ctrl.viewUnroutedTransactions($event)">
            </nv-icon-text-button>
          </div>
      </md-card>
      <md-card class="route-results-table">
        <md-card-content class="nv-padding-none">
          <div class="table-container" ng-if="ctrl.routeResponse.solution.routes.length > 0">
            <table class="table table-condensed table-bordered table-striped">
              <thead class="table-head-container">
                <tr>
                  <th class="sn">{{'container.same-day-route-engine.sn' | translate}}</th>
                  <th class="name">{{'commons.name' | translate}}</th>
                  <th class="txns">{{'container.same-day-route-engine.txns' | translate}}</th>
                  <th class="operating-hours">{{'container.same-day-route-engine.operating-hours' | translate}}
                  </th>
                  <th class="set-driver">{{'container.same-day-route-engine.driver' | translate}}</th>
                  <th class="wps">{{'container.same-day-route-engine.wps' | translate}}</th>
                  <th class="remove">{{'commons.remove' | translate}}</th>
                </tr>
              </thead>
              <tbody class="table-body">
                <tr ng-repeat="route in ctrl.routeResponse.solution.routes">
                  <td class="sn">{{$index+1}}</td>
                  <td class="name">{{route.vehicle_id}}</td>
                  <td class="txns">{{route.activities.length}}</td>
                  <td class="operating-hours" ng-bind-html="route._operatingHours"></td>
                  <td class="set-driver">
                    <nv-autocomplete placeholder="{{'container.same-day-route-engine.search-driver' | translate}}" icon="search" delegate-handle="{{route.vehicle_id}}"
                      item-types="driver" display-by="displayName" sort-by="displayName" show-suggestion-when-empty="true"
                      on-change="ctrl.setDriverChange(route, $selectedOptions)">
                    </nv-autocomplete>
                  </td>
                  <td class="wps">

                    <nv-icon-button on-click="ctrl.openRouteDetail($event,route)" icon="list" name="wps" class="ghost nv-margin-auto">
                    </nv-icon-button>
                  </td>
                  <td class="remove">
                    <nv-icon-text-button class="flat" name="commons.remove" on-click="ctrl.removeFromRouteList($index, route)">
                    </nv-icon-text-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </md-card-content>
      </md-card>
    </form>

    <div class="submit-button-holder">
      <nv-api-text-button state="ctrl.createRouteState" md-theme="nvGreen" class="raised" name="{{'container.same-day-route-engine.create-x-routes' | translate:'{count: '+ctrl.getTotalRouteCount()+'}'}}"
        disabled="!ctrl.isAbleToCreateRoute" on-click="ctrl.createRoutes()">
      </nv-api-text-button>
    </div>

  </div>

</md-content>