<nv-dialog-header
  title="{{'container.shippers.billing' | translate}}"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <div layout="row">
        <nv-input-text
          flex
          label="commons.model.shipper-name"
          model="ctrl.selectedShipper.name"
          form="modelForm"
          readonly="::true">
        </nv-input-text>
        <nv-input-text
          flex
          label="commons.email"
          model="ctrl.selectedShipper.email"
          form="modelForm"
          readonly="::true">
        </nv-input-text>
      </div>
      <div layout="row" layout-xs="column">
        <div flex>
          <label>
            <small class="fake-input-label">{{ 'container.shippers.from-date' | translate }}</small>
          </label><br />
          <md-datepicker
            ng-model="ctrl.fromDate"
            ng-required="true"
            md-placeholder="{{ '::container.shippers.from-date' | translate }}">
          </md-datepicker>
        </div>
        <div flex>
          <label>
            <small class="fake-input-label">{{ 'container.shippers.to-date' | translate }}</small>
          </label><br />
          <md-datepicker
            ng-model="ctrl.toDate"
            ng-required="true"
            md-placeholder="{{ '::container.shippers.to-date' | translate }}">
          </md-datepicker>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        name="commons.cancel"
        on-click="ctrl.onCancel()">
      </nv-icon-text-button>

      <nv-icon-text-button
        md-theme="nvBlue"
        class="raised"
        name="container.shippers.view-billing"
        disabled="ctrl.isViewBillingButtonDisabled()"
        on-click="ctrl.viewBilling()">
      </nv-icon-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>