<md-dialog class="role-edit" ng-cloak nv-load="ctrl.onLoadPage" aria-label="role-edit-dialog">

  <!--<nv-dialog-header title="Edit Role" on-cancel="::ctrl.onCancel($event)"></nv-dialog-header>-->
    <!--TOOLBAR SETION-->
    <md-toolbar md-theme="nvBlue">
        <div class="md-toolbar-tools md-menu-toolbar" >
            <h1 class="md-title font-light h3" style="color: #fff;font-weight: 300">Edit Role</h1>
            <span flex></span>
            <md-button id="button-cancel-dialog" style="color: #fff;" class="cancel-button font-light h5" ng-click="ctrl.onCancel()">
                Discard Changes
                <md-icon style = "color: white" aria-label="Close dialog">
                    close
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>

  <form name="modelForm" ng-submit="::ctrl.onSave()" md-theme="nvBlue">
    <md-dialog-content>
      <div class="md-dialog-content">
          <!--<nv-container-box class="role-details">-->
              <div class="md-block no-margins-bottom" layout="row">
                  <nv-input-text
                          class="md-block" flex="60"
                          label="{{::ctrl.fields.name.displayName}}"
                          model="ctrl.selectedRole.name"
                          form="modelForm" required="::true" disabled="::false">
                  </nv-input-text>
              </div>
              <div class="md-block no-margins-bottom" layout="row">
                  <nv-input-text
                          class="md-block" flex="100"
                          label="{{::ctrl.fields.description.displayName}}"
                          model="ctrl.selectedRole.description"
                          form="modelForm" required="::false" disabled="::false">
                  </nv-input-text>
              </div>
          <!--</nv-container-box>-->
          <div class="md-block no-margins-bottom" layout="row" style="padding-top: 10px" layout-fill >
              <nv-container-box flex="100" >
                  <div class="table-container" >
                      <div layout = "row" layout-gt-sm layout-sm layout-md layout-align ="space-between center">
                          <label class="table-label" flex="33">{{ctrl.scopeTableData.length}} Scope(s)</label>
                          <app-search  flex="33"
                                       nv-focus-first-input
                                       id="field-search-scope"
                                       on-search="ctrl.onScopesSearch(searchText)"
                                       placeholder="Find existing scopes">
                          </app-search>
                      </div>
                      <table ng-table="ctrl.scopeTableParams" class="table table-condensed table-striped" ng-show="ctrl.scopeTableData.length > 0">
                          <tr ng-repeat="scope in ctrl.scopeTableData">
                              <td data-title="ctrl.table.serialNo" class="col-sm-2 col-md-2 col-lg-2">
                                  {{ctrl.scopeTableData.indexOf(scope)+1}}
                              </td >
                              <td data-title="ctrl.table.scope" class="col-sm-6 col-md-6 col-lg-6" >
                                  {{ ::scope.name }}
                              </td>
                              <td class="col-sm-4 col-md-4 col-lg-4" align ="right">
                                  <md-button class ="p" style="margin: 0;min-height: 2rem;line-height: 1rem;color: lightgrey;text-transform: none;letter-spacing: $letter-spacing-h4;font-weight: $font-weight-h5;min-width: 7rem; padding-top: 0px;padding-right: 0px" ng-click="ctrl.removeScope(scope)">Remove</md-button>
                              </td>
                          </tr>
                      </table>
                  </div>
              </nv-container-box>
          </div>
          <nv-container-box label="Add Scope">
              <div layout="row" layout-margin layout-fill layout-align="space-between start" style="padding-top:0.3cm">
                  <nv-autocomplete flex="100" required
                                   search-text="ctrl.searchText"
                                   placeholder="Search Scope To Add"
                                   icon="search"
                                   delegate-handle="role-edit-scopes"
                                   display-by="name"
                                   sort-by="name"
                                   multiple="true">
                  </nv-autocomplete>
              </div>
          </nv-container-box>
          <div class="md-block no-margins-bottom" layout="row" style="padding-top: 20px" layout-fill>
              <nv-container-box flex="100">
                  <div layout="row">
                      <div class="table-container" flex="100">
                          <div layout = "row" layout-align ="space-between center" >
                              <label flex="33" class="table-label">{{ctrl.userTableData.length}} User(s)</label>
                              <md-menu-bar>
                                  <md-menu md-position-mode="target-right target" >
                                      <md-button ng-class="ctrl.selectedServiceIds.length > 0 ? 'nv-button ghost dense custom filter-button-selected' : 'nv-button ghost dense custom filter-button-notselected'"
                                                 ng-click="$mdOpenMenu($event)" aria-label="service-id-menu-header">
                                          {{ctrl.selectedServiceIds.length > 0 ? ctrl.selectedServiceIds.length+' '+ctrl.tableFilter.serviceIdSelected : ctrl.tableFilter.serviceIdNotSelected}}
                                      </md-button>
                                      <md-menu-content style = "padding-left: 5px;padding-right: 5px" width="1">
                                        <div ng-repeat="serviceId in ctrl.serviceIds">
                                            <md-checkbox md-no-ink ng-change="ctrl.onServiceIdSelect(serviceId)" ng-model="ctrl.selectedServiceIds[serviceId]">
                                             <md-menu-item>
                                                 <md-button aria-label="service-id-menu-content">
                                                     {{serviceId}}
                                                 </md-button>
                                             </md-menu-item>
                                            </md-checkbox>
                                        </div>
                                      </md-menu-content>
                                  </md-menu>
                              </md-menu-bar>
                              <!--</md-input-container>-->
                              <app-search  flex="33"
                                           nv-focus-first-input
                                           id="field-search-scope"
                                           on-search="ctrl.onUsersSearch(searchText)"
                                           placeholder="Find existing users">
                              </app-search>
                          </div>
                          <table ng-table="ctrl.userTableParams" class="table table-condensed table-striped" >
                              <tr ng-repeat="user in ctrl.userTableData" >
                                  <td data-title="ctrl.table.serialNo" class="col-sm-2 col-md-2 col-lg-2">
                                      {{ctrl.users.indexOf(user)+1}}
                                  </td >
                                  <td data-title="ctrl.table.username" class="col-sm-7 col-md-7 col-lg-7">
                                      {{ ::user.displayName }}
                                  </td >
                                  <td data-title="ctrl.table.country" class="col-sm-3 col-md-3 col-lg-3 align-right">
                                      {{ ::user.country }}
                                  </td >
                              </tr>
                          </table>
                      </div>
                  </div>
              </nv-container-box>
          </div>
      </div>
    </md-dialog-content>
    <div class="nv-p" flex="100" ng-class = "strong-normal" layout="row" layout-align="center center">
          {{ctrl.errorMessage}}
    </div>
    <md-dialog-actions>
      <div layout="row" flex="100" layout-align="space-between center" layout-padding>
          <div layout="row">
              <nv-api-text-button class="nv-hollow nv-margin-auto"  state="'idle'" icon = "delete" name="Delete" disabled="ctrl.selectedRole === null" on-click="ctrl.deleteRole($event)"></nv-api-text-button>
              <nv-api-text-button class="nv-hollow nv-margin-auto" style="padding-left: 10px;" state="'idle'" icon = "input" name="Log All Users Out" disabled="ctrl.selectedRole === null" on-click="ctrl.forceLogoutUsersOfRole($event)"></nv-api-text-button>
              <!--<nv-icon-button md-theme="nvBlue"  class="nv-hollow nv-margin-auto" name="Logout All Users" icon="input" on-click="ctrl.forceLogoutUsersOfRole($event)"></nv-icon-button>-->
              <!--<nv-icon-button md-theme="nvBlue" style="padding-left: 10px;" class="nv-hollow nv-margin-auto" name="Delete Role" icon="delete" on-click="ctrl.deleteRole($event)"></nv-icon-button>-->
          </div>
          <!--<nv-button-save name="Submit" ng-click="ctrl.updateOne()" form="modelForm" state="saveButtonState" ></nv-button-save>-->
          <div>
              <nv-api-text-button md-theme="nvGreen" button-id="button-update" icon="check" class="raised" style="padding-right: 10px;" state="'idle'" icon = "done" name="Save Changes" disabled="ctrl.selectedRole === null" on-click="ctrl.updateOne()"></nv-api-text-button>
          </div>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>

