@import "../../../styles/variables";

.leaflet-container {
  .leaflet-marker-icon {
    &.div-icon {
      .div-span {
        width: 100px;
        background-color: $nv-dark3;
        color: $nv-light1;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        display: inline-block;
        padding: 2px;
        text-align: center;
        font-size: 10px;
        line-height: normal;
        margin-left: -43px;
      }
    }
  }

  .leaflet-label {
    z-index: 10000000 !important;
    margin-left: 10px;
    font-weight: normal;
  }
}