.shipper-pickups-route-edit-dialog {
  $defaultWidth: 80rem;
  $label-color: rgba(33, 33, 33, 0.67);

  width: $defaultWidth !important;

  .border {
    border: 0.1rem solid $nv-text-black-3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: -1rem;
    padding: 1rem;

    .title {
      color: $nv-text-black-3;
      margin-top: 0rem;
      margin-bottom: 1.4rem;
    }

    .content {
      div >label {
        color: $label-color;
        font-size: 1.2rem;
        margin-top: 0.3rem;
      }

      .nv-hint { width: 100%; }
      
      span.to-label { margin: 2.4rem 0.4rem 0;}

      md-input-container {
        padding: 0.2rem 0.2rem 0.2rem 0rem;
        margin: 1.8rem 0 0;
        
        label { padding-left: 0rem; }
        .readonly {
          padding-left: 0rem;
          padding-top: 0.4rem;
        }
      }
    }

    .bold { font-weight: bold; }
  }
  
  .plain-separator { padding: 1.4rem 0rem }
  .horizontal-padding { padding: 0rem 1.4rem; }
}