<nv-dialog-header
  title="{{'container.shipper-pickups.dialog.edit-route' | translate}}"
  on-cancel="ctrl.function.cancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<form name="modelForm">
  <md-dialog-content>
    <!-- LOADING -->
    <div class="md-dialog-content" ng-if="ctrl.state.masterView === 0">
      {{ 'commons.load-data' | translate }}
    </div>

    <!-- CONTENT -->
    <div class="md-dialog-content" ng-if="ctrl.state.masterView === 1">
      <!--1st box-->
      <div class="border" layout="row" layout-wrap>
        <h5 class="title" layout="row" flex="100">{{ 'commons.details' | translate }}</h5>

        <div class="content" flex="100">
          <div layout="row" flex="100" ng-if="ctrl.state.hint">
            <nv-hint text="{{ ctrl.state.hint }}"></nv-hint>
          </div>
          <div layout="row">
            <nv-input-text
              id="field-shipper-name"
              readonly = "::true"
              flex = "40"
              label = "commons.model.shipper-name"
              model = "ctrl.data.reservation.shipperName"
              required = "::false">
            </nv-input-text>
            <nv-input-text
              id="field-shipper-id"
              readonly = "::true"
              flex = "20"
              label = "commons.shipper-id"
              model = "ctrl.data.reservation.shipperId"
              required = "::false">
            </nv-input-text>
            <!-- <nv-input-select flex ng-if="!ctrl.state.isNonTimeslotTiming"
              name="container.shipper-pickups.dialog.pickup-timeslot"
              label="container.shipper-pickups.dialog.pickup-timeslot"
              model="ctrl.data.selectedTimeslot"
              model-options="{ trackBy: '$value' }"
              options="ctrl.timeslotOptions"
              form="modelForm"
              required="true"
            ></nv-input-select> -->
            <div ng-if="ctrl.state.isNonTimeslotTiming" flex>
              <div layout>
                <div layout="column" flex="40">
                  <label>ready by</label>
                  <nv-input-time
                    label="Start Time"
                    form="modelForm"
                    ng-model="ctrl.data.startTime"
                    required="true"
                    require-later="ctrl.state.startTimeMin"
                    require-before="ctrl.state.startTimeMax">
                  </nv-input-time>
                </div>
                <span class="to-label">{{ 'to' | translate }}</span>
                <div layout="column" flex="40">
                  <label>last by</label>
                  <nv-input-time
                    label="End Time"
                    form="modelForm"
                    ng-model="ctrl.data.endTime"
                    required="true"
                    require-before="ctrl.state.endTimeMax"
                    require-later="ctrl.state.endTimeMin">
                  </nv-input-time>
                </div>
              </div>
            </div>
          </div>

          <div layout="row" ng-if="!ctrl.state.isPickupAddressChanged">
            <nv-input-text
              id="field-pickup-address"
              readonly = "::true"
              flex = "90"
              label = "commons.pickup-address"
              model = "ctrl.data.reservation.pickupAddress"
              required = "::false">
            </nv-input-text>
            <div flex="10" layout layout-align="end">
              <nv-icon-text-button
                md-theme="nvBlue"
                class="raised"
                name="container.shipper-pickups.dialog.change-address"
                on-click="ctrl.function.changePickupAddress()">
              </nv-icon-text-button>
            </div>
            
          </div>

          <div layout="column" ng-if="ctrl.state.isPickupAddressChanged">
            <div layout="row">
              <nv-input-text flex="100"
                id="field-edit-pickup-address-1"
                name="commons.address1"
                label = "commons.address1"
                model="ctrl.data.address.address1"
                required="true">
              </nv-input-text>
            </div>
            <div layout="row">
              <nv-input-text flex="100"
                id="field-edit-pickup-address-2"
                name="commons.address2"
                label = "commons.address2"
                model="ctrl.data.address.address2"
                required="false">
              </nv-input-text>
            </div>
            <!-- SG Local START -->
            <div layout="row" layout-wrap ng-if="ctrl.data.address.country === ctrl.state.pickupCountry.SG.value">
              <nv-input-select flex="30"
                id="field-edit-pickup-country"
                name="commons.country"
                label="commons.country"
                model="ctrl.data.address.country"
                model-options="{}"
                options="ctrl.state.pickupCountryOptions"
                required="true"
                disabled="true"
              ></nv-input-select>
              <nv-input-text flex="30"
                name="commons.postcode"
                label="commons.postcode"
                model="ctrl.data.address.postcode"
                required="true">
              </nv-input-text>
            </div>
            <!-- SG Local END -->
        
            <!-- MY Local START -->
            <div layout="row" layout-wrap ng-if="ctrl.data.address.country === ctrl.state.pickupCountry.MY.value">
              <nv-input-text flex="30"
                name="commons.area"
                label="commons.area"
                model="ctrl.data.area">
              </nv-input-text>
              <nv-input-text flex="30"
                name="commons.city"
                label="commons.city"
                model="ctrl.data.address.city">
              </nv-input-text>
              <nv-input-text flex="30"
                name="commons.state"
                label="commons.state"
                model="ctrl.data.address.state">
              </nv-input-text>
              <nv-input-select flex="30"
                id="field-edit-pickup-country"
                name="commons.country"
                label="commons.country"
                model="ctrl.data.address.country"
                model-options="{}"
                options="ctrl.state.pickupCountryOptions"
                required="true"
                disabled="true"
              ></nv-input-select>
              <nv-input-text flex="30"
                name="commons.postcode"
                label="commons.postcode"
                model="ctrl.data.address.postcode"
                required="true">
              </nv-input-text>
            </div>
            <!-- MY Local END -->
            <!-- ID Local START -->
            <div layout="row" layout-wrap ng-if="ctrl.data.address.country === ctrl.state.pickupCountry.ID.value">
              <nv-input-text flex="30"
                name="commons.kelurahan"
                label="commons.kelurahan"
                model="ctrl.data.address.kelurahan">
              </nv-input-text>
              <nv-input-text flex="30"
                name="commons.kecamatan"
                label="commons.kecamatan"
                model="ctrl.data.address.kecamatan">
              </nv-input-text>
              <nv-input-text flex="30"
                name="commons.city"
                label="commons.city"
                model="ctrl.data.address.city">
              </nv-input-text>
              <nv-input-text flex="30"
                name="commons.province"
                label="commons.province"
                model="ctrl.data.address.province"
                required="true">
              </nv-input-text>
              <nv-input-select flex="30"
                id="field-edit-pickup-country"
                name="commons.country"
                label="commons.country"
                model="ctrl.data.address.country"
                model-options="{}"
                options="ctrl.state.pickupCountryOptions"
                required="true"
                disabled="true"
              ></nv-input-select>
              <nv-input-text flex="30"
                name="commons.postcode"
                label="commons.postcode"
                model="ctrl.data.address.postcode"
                required="true">
              </nv-input-text>
            </div>
            <!-- ID Local END -->
            <!-- VN Local START -->
            <div layout="row" layout-wrap ng-if="ctrl.data.address.country === ctrl.state.pickupCountry.VN.value">
              <nv-input-text flex="30"
                name="commons.ward"
                label="commons.ward"
                model="ctrl.data.address.ward">
              </nv-input-text>
              <nv-input-text flex="30"
                name="commons.district"
                label="commons.district"
                model="ctrl.data.address.district">
              </nv-input-text>
              <nv-input-text flex="30"
                name="commons.city"
                label="commons.city"
                model="ctrl.data.address.city">
              </nv-input-text>
              <nv-input-select flex="30"
                id="field-edit-pickup-country"
                name="commons.country"
                label="commons.country"
                model="ctrl.data.address.country"
                model-options="{}"
                options="ctrl.state.pickupCountryOptions"
                required="true"
                disabled="true"
              ></nv-input-select>
            </div>
            <!-- VN Local END -->
            <!-- TH Local START -->
            <div layout="row" layout-wrap ng-if="ctrl.data.address.country === ctrl.state.pickupCountry.TH.value">
              <nv-input-text flex="30"
                name="commons.sub-district"
                label="commons.sub-district"
                model="ctrl.data.address.sub_district">
              </nv-input-text>
              <nv-input-text flex="30"
                name="commons.district"
                label="commons.district"
                model="ctrl.data.address.district">
              </nv-input-text>
              <nv-input-text flex="30"
                name="commons.province"
                label="commons.province"
                model="ctrl.data.address.province">
              </nv-input-text>
              <nv-input-select flex="30"
                id="field-edit-pickup-country"
                name="commons.country"
                label="commons.country"
                model="ctrl.data.address.country"
                model-options="{}"
                options="ctrl.state.pickupCountryOptions"
                required="true"
                disabled="true"
              ></nv-input-select>
              <nv-input-text flex="30"
                name="commons.postcode"
                label="commons.postcode"
                model="ctrl.data.address.postcode"
                required="true">
              </nv-input-text>
            </div>
            <!-- TH Local END -->
            <!-- PH Local START -->
            <div layout="row" layout-wrap ng-if="ctrl.data.address.country === ctrl.state.pickupCountry.PH.value">
              <nv-input-text flex="30"
                name="commons.barangay"
                label="commons.barangay"
                model="ctrl.data.address.barangay">
              </nv-input-text>
              <nv-input-text flex="30"
                name="commons.city"
                label="commons.city"
                model="ctrl.data.address.city">
              </nv-input-text>
              <nv-input-text flex="30"
                name="commons.province"
                label="commons.province"
                model="ctrl.data.address.province">
              </nv-input-text>
              <nv-input-select flex="30"
                id="field-edit-pickup-country"
                name="commons.country"
                label="commons.country"
                model="ctrl.data.address.country"
                model-options="{}"
                options="ctrl.state.pickupCountryOptions"
                required="true"
                disabled="true"
              ></nv-input-select>
              <nv-input-text flex="30"
                name="commons.postcode"
                label="commons.postcode"
                model="ctrl.data.address.postcode"
                required="true">
              </nv-input-text>
            </div>
            <!-- PH Local END -->
            <!-- MM Local START -->
            <div layout="row" layout-wrap ng-if="ctrl.data.address.country === ctrl.state.pickupCountry.MM.value">
              <nv-input-text flex="30"
                name="commons.township"
                label="commons.township"
                model="ctrl.data.address.township">
              </nv-input-text>
              <nv-input-text flex="30"
                name="commons.district"
                label="commons.district"
                model="ctrl.data.address.district">
              </nv-input-text>
              <nv-input-text flex="30"
                name="commons.state"
                label="commons.state"
                model="ctrl.data.address.state">
              </nv-input-text>
              <nv-input-select flex="30"
                id="field-edit-pickup-country"
                name="commons.country"
                label="commons.country"
                model="ctrl.data.address.country"
                model-options="{}"
                options="ctrl.state.pickupCountryOptions"
                required="true"
                disabled="true"
              ></nv-input-select>
              <nv-input-text flex="30"
                name="commons.postcode"
                label="commons.postcode"
                model="ctrl.data.address.postcode"
                required="true">
              </nv-input-text>
            </div>
            <!-- MM Local END -->

            <div layout="row">
              <nv-input-text flex="30"
                id="field-edit-pickup-latitude"
                name="commons.latitude"
                label="commons.latitude"
                model="ctrl.data.address.latitude"
                required="false">
              </nv-input-text>
              <nv-input-text flex="30"
                id="field-edit-pickup-longitude"
                name="commons.longitude"
                label="commons.longitude"
                model="ctrl.data.address.longitude"
                required="false">
              </nv-input-text>
            </div>
          </div>
        </div>
      </div>

      <div class="plain-separator"></div>
      <!-- 2nd box -->
      <div class="border" layout="row" layout-wrap>
        <h5 class="title" layout="row" flex="100">{{ 'container.shipper-pickups.dialog.select-new-route' | translate }}</h5>

        <div class="content" flex="100">
          <div layout="row">
            <nv-input-text
              id="field-shipper-id"
              readonly = "::true"
              flex = "100"
              label = "commons.current-route"
              model = "ctrl.data.reservation.currentRoute"
              required = "::false">
            </nv-input-text>
          </div>
          
          <div layout>
            <div ng-show="!ctrl.function.isNoRouteAvailable()" class="md-block autocomplete-label vertical-padding-6" layout="column" flex="50">
              <label>{{ 'container.shipper-pickups.dialog.new-route' | translate }}</label>
              <nv-autocomplete 
                search-text="ctrl.data.textRoute"
                delegate-handle="shipper-pickups-select-route"
                item-types="driver"
                selected-item="ctrl.data.selectedRoute"
                hide-search-icon="::true">
              </nv-autocomplete>
            </div>
              
            <div ng-show="ctrl.function.isNoRouteAvailable()" flex="50">
              {{ 'container.shipper-pickups.dialog.no-routes-available' | translate }}
            </div>
            <div class="horizontal-padding"></div>
            <nv-input-number
              name="Priority Level"
              label="Priority Level"
              model="ctrl.data.reservation.priorityLevel"
              form="modelForm"
              required="true"
              min="{{ctrl.data.reservation.minPriorityLevel}}"
              max="10000"
              on-change="ctrl.function.priorityUpdateChanged(data)">
            </nv-input-number>
          </div>
        </div>
      </div>
    </div>

    <!-- ERROR -->
    <div class="md-dialog-content" ng-if="ctrl.state.masterView === 2">
      ERROR
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <nv-api-text-button
      md-theme="nvGreen"
      name="commons.save-changes"
      icon="check"
      class="raised"
      state="ctrl.state.saveButton"
      form="modelForm"
      on-click="ctrl.function.save($event)">
    </nv-api-text-button>
  </md-dialog-actions>
</form>