@import "../../../../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../../../../lib/ninja-commons/styles/variables";
@import "../../../../../../styles/variables";

.nv-container-shipper-edit-dialog {
  $defaultWidth: 50%;
  width: $defaultWidth !important;

  .content-loading {
    text-align: center;
    margin-top: $nv-baseline-grid*4;

    md-progress-circular {
      margin: auto;
      display: inline-block;
      vertical-align: middle;
    }
  }

  md-tabs {
    min-height: 42rem !important;

    .md-select-value {
      padding: 0.1rem 0.2rem 0rem;
    }

    .milkrun-reservation {
      padding-top: $nv-baseline-grid*2;
      padding-bottom: $nv-baseline-grid*2;
      border-bottom: 1px solid $nv-table-border-color;

      .number {
        margin-top: -0.6rem;
        display: block;
        @include nv-font(small);
        @include nv-font-color(black, 2);
      }

      .reservation-days {
        min-width: 17rem;

        md-select {
          md-select-value {
            span {
              white-space: normal;

              .md-container {
                display: none;
              }
            }
          }
        }
      }

      .timeslot {
        min-width: 17rem;
        margin-top: $nv-baseline-grid*2;
        margin-right: $nv-baseline-grid*4;
      }

      .no-of-reservations {
        min-width: 17rem;
        margin-top: $nv-baseline-grid*2;
      }
    }

    .no-result {
      margin-top: $nv-baseline-grid*4;
      text-align: center;
      @include nv-font-color(black, 2);

      nv-icon-text-button {
        > button {
          margin: auto;
          margin-top: $nv-baseline-grid;
        }
      }
    }
  }

  md-dialog-actions {
    .delete-address {
      margin-right: $nv-baseline-grid/2;
    }
  }
}