@import "../variables";

// Custom styling to md-autocomplete see: https://material.angularjs.org/1.1.0/api/directive/mdAutocomplete
// add `md-menu-class="<class_name>"` to <md-autocomplete> to apply custom class to the drop down menu

.md-autocomplete-suggestions {
  li {
    padding: 0 $nv-menu-item-padding;
    height: $nv-menu-item-height;
    line-height: $nv-menu-item-height;
  }
  &.light {
    background-color: $nv-menu-light-color;
    li {
      color: $nv-text-black;

      &.selected {
        background-color: $nv-menu-light-active;
      }

      &:hover {
        background-color: $nv-menu-light-hover;
      }

      .highlight {
        color: $nv-dark-blue;
      }
    }
  }
  &.dark {
    background-color: $nv-menu-dark-color;
    li {
      color: $nv-text-white;

      &.selected {
        background-color: $nv-menu-dark-active;
      }

      &:hover {
        background-color: $nv-menu-dark-hover;
      }

      .highlight {
        color: $nv-light-blue;
      }
    }
  }
}