@import "../variables";
@import "../mixins/shadow.mixins";
@import "../mixins/typography.mixins";
@import "../mixins/button.mixins";
@import "../functions/utils";

//== Button classes
//## The standard button styles, according to the ninja style guide:
//## https://drive.google.com/open?id=0B3zzwgMtKLmcZURqVFB2ajlyaFk

.nv-button.md-button {
	text-transform: capitalize;
	border-radius: $button-border-radius;
	min-height: $button-min-height;
	min-width: $button-min-width;
	display: flex;
	justify-content: center;
	margin: 0;

	//text color
	p, h4, h5, span, i {
		color: inherit;
	}

	//with icon
	> i {
		font-size: 1.4em;
		+ *:not(.md-ripple-container) {
			margin-left: $button-icon-text-space;
		}
	}
	> *:not(.md-ripple-container) {
		+ i {
			margin-left: $button-icon-text-space;
		}
	}

	//shadow
	&:not(.no-shadow){
		&:not(.flat):not(.section-item):not(.section-head):not(.custom), &.ghost, &.raised {
			&:not([disabled]) {
				@include nv-shadow(2dp);
				&:hover,
				&.md-focused {
					@include nv-shadow(4dp);
				}
				&.active, &:active {
					@include nv-shadow(8dp);
				}
			}
		}
	}

	//border
	&.ghost {
		border-width: $button-ghost-border;
		border-style: solid;
		p, h4, h5, span, div, i {
			// offset the border
			margin-top: -$button-ghost-border;
		}
	}

	//size classes
	& {
		padding: 0 1em 0 1em;
		height: $button-height;
	}
	&.dense {
		padding: 0 0.5em 0 0.5em;
		height: $button-dense-height;
	}

	//text size classes
	&, & > div {
		@include nv-font(p);
		@include nv-font-weight(medium);
	}
	&.h5, &.h5 > div {
		@include nv-font(h5);
	}
	&.h4, &.h4 > div {
		@include nv-font(h4);
	}
	&.full {
		width: 100%;
	}
}

a {
	text-decoration: underline;
	&:hover {
		font-weight: nv-font-weight(medium);
	}
}

// Raised Button Light Theme
.nv-button.raised.md-button {
	@each $key, $colors in $themeColor{
		&#{ toThemeClass($key) }:not([disabled]) {
			color: $nv-text-white;
			background-color: map-get($colors, 'dark');

			&:hover,
			&.md-focused {
				color: $nv-text-white;
				background-color: map-get($colors, 'raised-light');
			}

			&.active, &:active {
				color: $nv-text-white;
				background-color: mix(map-get($colors, 'dark'), white, 80%);
			}
		}
	}
	&[disabled] {
		color: $nv-text-white !important;
		background-color: $nv-text-black-3;
	}
}

// Raised Button Dark Theme
.dark {
	&.nv-button.raised.md-button,
	& .nv-button.raised.md-button {
		@each $key, $colors in $themeColor{
			&#{ toThemeClass($key) }:not([disabled]) {
				color: $nv-text-black;
				background-color: map-get($colors, 'light');

				&:hover,
				&.md-focused {
					color: $nv-text-black;
					background-color: map-get($colors, 'raised-dark');
				}

				&.active, &:active {
					color: $nv-text-black;
					background-color: mix(map-get($colors, 'light'), white, 66%);
				}
			}
		}
		&[disabled] {
			color: $nv-text-black !important;
			background-color: $nv-text-white-3;
		}
	}
}

// Ghost Button Light Theme
.nv-button.md-button.ghost, 
.nv-button.md-button:not(.flat):not(.raised):not(.section-item):not(.section-head):not(.custom) {
	@each $key, $colors in $themeColor{
		&#{ toThemeClass($key) }:not([disabled]) {
			color: $nv-text-black-2;
			border-color: $nv-text-black-2;
			background-color: rgba(white, 0);

			&:hover,
			&.md-focused {
				color: map-get($colors, 'dark');
				border-color: map-get($colors, 'dark');
			}

			&.active, &:active {
				color: map-get($colors, 'dark');
				border-color: map-get($colors, 'dark');
				background-color: rgba(map-get($colors, 'light'), 0.75);
			}
		}
	}
	&[disabled] {
		color: $nv-text-black-3 !important;
		background-color: rgba(white, 0);
	}
}

// Ghost Button Dark Theme
.dark {
	&.nv-button.ghost.md-button,
	& .nv-button.ghost.md-button,
	&.nv-button.md-button:not(.flat):not(.raised):not(.section-item):not(.section-head):not(.custom),
	& .nv-button.md-button:not(.flat):not(.raised):not(.section-item):not(.section-head):not(.custom) {
		@each $key, $colors in $themeColor{
			&#{ toThemeClass($key) }:not([disabled]) {
				color: $nv-text-white;
				border-color: $nv-text-white;
				background-color: rgba(black, 0);

				&:hover,
				&.md-focused {
					color: map-get($colors, 'light');
					border-color: map-get($colors, 'light');
				}

				&.active, &:active {
					color: map-get($colors, 'light');
					border-color: map-get($colors, 'light');
					background-color: rgba(map-get($colors, 'dark'), 0.75);
				}
			}
		}
		&[disabled] {
			color: $nv-text-white-3 !important;
			background-color: rgba(black, 0);
		}
	}
}

// Flat Button Light Theme
.nv-button.flat.md-button {
	@each $key, $colors in $themeColor{
		&#{ toThemeClass($key) }:not([disabled]) {
			color: map-get($colors, 'dark');
			background-color: rgba(white, 0);

			&.alternate:not(:hover):not(.md-focused):not(:active) {
				color: $nv-text-black-2;
				background-color: rgba(white, 0);
			}

			&:hover,
			&.md-focused {
				color: map-get($colors, 'dark');
				background-color: rgba($nv-text-black, 0.1);
			}

			&.active, &:active {
				color: map-get($colors, 'dark');
				background-color: rgba(map-get($colors, 'light'), 0.33);
			}
		}
	}
	&[disabled] {
		color: $nv-text-black-3 !important;
		background-color: rgba(white, 0);
	}
}
// Flat Button Dark Theme
.dark {
	&.nv-button.flat.md-button,
	& .nv-button.flat.md-button {

		@each $key, $colors in $themeColor{
			&#{ toThemeClass($key) }:not([disabled]) {
				color: map-get($colors, 'light');
				background-color: rgba(black, 0);

				&.alternate:not(:hover):not(.md-focused):not(:active) {
					color: $nv-text-white;
					background-color: rgba(black, 0);
				}

				&:hover,
				&.md-focused {
					color: map-get($colors, 'light');
					background-color: rgba($nv-text-white, 0.20);
				}

				&.active, &:active {
					color: map-get($colors, 'light');
					background-color: rgba(map-get($colors, 'light'), 0.33);
				}
			}
		}
		&[disabled] {
			color: $nv-text-white-3 !important;
			background-color: rgba(black, 0);
		}
	}
}

// Colorful theme
.nv-button.raised.md-button {
	#{ forAllThemeClass($themeColor) } {
		@for $i from 1 through length($nv-colors) {
			$nv-color: nth($nv-colors, $i);
			$index: $i - 1;
			&.nv-color#{ $index } {
				color: $nv-text-white;
				background-color: $nv-color;

				&:hover,
				&.md-focused,
				&.active, &:active {
					color: $nv-text-white;
					background-color: darken($nv-color, 10%);
				}
			}
		}
	}
}
