//== Color classes
//## The standard color palettes, according to the ninja style guide:
//## https://drive.google.com/a/ninjavan.sg/folderview?id=0B82KVKYCX1rmbXVUSExIeHd2SzA

@import "../variables";

//## Grey Palette ##################################################

.nv-dark0 { background-color: $nv-dark0; }
.nv-dark1 { background-color: $nv-dark1; }
.nv-dark2 { background-color: $nv-dark2; }
.nv-dark3 { background-color: $nv-dark3; }
.nv-dark4 { background-color: $nv-dark4; }

.nv-light0 { background-color: $nv-light0; }
.nv-light1 { background-color: $nv-light1; }
.nv-light2 { background-color: $nv-light2; }
.nv-light3 { background-color: $nv-light3; }
.nv-light4 { background-color: $nv-light4; }

//## Primary Palette ##################################################

.nv-blue1   { background-color: $nv-normal-blue;   };
.nv-red1    { background-color: $nv-normal-red;    };
.nv-orange1 { background-color: $nv-normal-orange; };
.nv-green1  { background-color: $nv-normal-green;  };

//## Secondary Palette ##################################################

.nv-blue2   { background-color: $nv-alternate-blue;   };
.nv-red2    { background-color: $nv-alternate-red;    };
.nv-orange2 { background-color: $nv-alternate-orange; };
.nv-green2  { background-color: $nv-alternate-green;  };

//## Highlight Palette ##################################################

.nv-blue3   { background-color: $nv-normal-hover-blue;   };
.nv-red3    { background-color: $nv-normal-hover-red;    };
.nv-orange3 { background-color: $nv-normal-hover-orange; };
.nv-green3  { background-color: $nv-normal-hover-green;  };
