@import "../variables";

// Hyperlink Theme
// Light
a:link {
  color: $nv-link-color-light;
}
a:visited {
  color: $nv-link-color-visited-light;
}
// Dark
a.dark,
.dark a {
  &:link {
    color: $nv-link-color-dark;
  }
  &:visited {
    color: $nv-link-color-visited-dark;
  }
}