.md-open-menu-container {
  // dimension
  md-menu-content {
    padding: $nv-menu-extra-padding 0;
  }
  md-menu-item {
    min-height: $nv-menu-item-height;
    height: $nv-menu-item-height;
    > .nv-button.md-button {
      height: 100%;
      border-radius: 0;
    }
  }
  
  // color
  md-menu-item:not(.custom) .nv-button.md-button {
    background-color: $nv-menu-light-color;

    &:hover,
    &.md-focused {
      background-color: $nv-menu-light-hover;
    }
    &.active, &:active {
      background-color: $nv-menu-light-active;
    }
  }
  &.dark md-menu-item:not(.custom) .nv-button.md-button {
    background-color: $nv-menu-dark-color;

    &:hover,
    &.md-focused {
      background-color: $nv-menu-dark-hover;
    }
    &.active, &:active {
      background-color: $nv-menu-dark-active;
    }
  }
}