//== Table classes

@import "../variables";
@import "../mixins/typography.mixins";

.table-container {
  overflow: auto;

  table {
    margin: 0;

    // &.table-striped > tbody > tr:nth-of-type(even),
    // &.table-striped > tbody > tr:nth-of-type(even) td.column-locked-right {
    //   background-color: $nv-tb05;
    // }

    // &.table-striped > tbody > tr:nth-of-type(odd),
    // &.table-striped > tbody > tr:nth-of-type(odd) td.column-locked-right {
    //   background-color: $nv-light0;
    // }

    thead th {
      outline: none;
      text-align: left;
      white-space: nowrap;
      color: $nv-tb59;
      background-color: $nv-tb05;
      border-bottom-color: $nv-light4;

      div {
        @include nv-font(p);
      }

      &:not(.sortable) {
        cursor: inherit;
      }

      &.sortable.sort-desc,
      &.sortable.sort-asc {
        background-color: $nv-alternate-blue;

        div {
          @include nv-font(pmed);
        }
      }
    }

    tbody td {
      @include nv-font(p);

      min-height: 4.1rem; // minimum height to accommodate buttons
      line-height: $line-height-p-capt;

      &.actions {
        line-height: 0;
      }

      &.colored .blue   { color: $nv-normal-blue;   }
      &.colored .orange { color: $nv-normal-orange; }
      &.colored .red    { color: $nv-normal-red;    }
      &.colored .green  { color: $nv-normal-green;  }
    }
  }
}

//striped element magic
table {
  tr.striped-element:first-child {
    &.even {
      ~ tr.striped-element:nth-child(odd),
      & {
        background-color: $nv-light0;
      }
      ~ tr.striped-element:nth-child(even) {
        background-color: $nv-light1; 
      }
    }
    &:not(.even) {
      ~ tr.striped-element:nth-child(odd),
      & {
        background-color: $nv-light1; 
      }
      ~ tr.striped-element:nth-child(even) {
        background-color: $nv-light0;
      }
    }
  }
}

th.two-button,
td.two-button {
  width: ($button-height / 1em) * 2 * map-get(map-get($typography, 'p'), 'size') + $nv-table-cell-padding * 3;
}

th.one-button,
td.one-button {
  width: ($button-height / 1em) * map-get(map-get($typography, 'p'), 'size') + $nv-table-cell-padding * 2;
}