@import "../variables";
@import "../mixins/shadow.mixins";

$toast-position-top: 1.4rem;
$toast-position-right: 1.4rem;
$toast-margin-bottom: 0.7rem;
$toast-padding: 1.4rem;
$toast-min-height: 5.8rem;
$toast-min-width: 20rem;
$toast-max-width: 40rem;
$toast-button-size: 2.8rem;

#toast-container {
  top: $toast-position-top;
  right: $toast-position-right;

  > * {
    flex: inherit;
  }

  > div.toast {
    margin-bottom: $toast-margin-bottom;
    padding: $toast-padding;
    border-radius: $button-border-radius;
    min-height: $toast-min-height;
    min-width: $toast-min-width;
    max-width: $toast-max-width;
    width: inherit;
    color: $nv-text-white;
    opacity: 1;
    background-image: none !important; //important is needed because toastr used important as well

    @include nv-shadow(6dp);

    //structure
    .toast-message {
      display: flex;
      flex-direction: row;

      > i {
        margin-right: $toast-padding / 2;
        display: flex;
        align-items: center;
        transform: translateY(-2px);
      }
      .toast-right {
        width: 100%;
      }
      .toast-top {
        @include nv-font(h5);
        display: flex;

        // title
        div {
          flex: 1;
          line-height: $toast-button-size;
        }

        // button
        button:first-of-type:not(:last-of-type) {
          display: inline-block;
          margin-left: $toast-padding;
          margin-right: $toast-padding / 2;
        }
        button:last-of-type {
          width: $toast-button-size;
        }
      }
      .toast-bottom {
        @include nv-font(p);

        margin-top: $toast-padding;
        word-break: break-word;
      }
    }

    // theme
    $dialogTheme: (
      'error': 'nvYellow',
      'info': 'nvBlue',
      'success': 'nvGreen',
      'warning': 'nvRed'
    );

    @each $key, $color in $dialogTheme{
      $colorTheme: map-get($themeColor, $color);
      &.toast-#{ $key }{
        background-color: rgba(map-get($colorTheme, 'dark'), 0.9);

        &:hover {
          background-color: map-get($colorTheme, 'dark');
        }

        i {
          color: map-get($colorTheme, 'light');
        }
      }
    }

    // progress bar
    .toast-progress {
      background-color: rgba(black, 0.5);
      height: 0.6rem;
    }
  }
}