@import "../variables";
@import "../functions/utils";

$toolbar_height: 56px;

md-toolbar {
  min-height: $toolbar_height;
  height: $toolbar_height;

  .md-toolbar-tools {
    color: $nv-text-white;
    * {
      color: inherit;
    }
    h2, h4 {
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

  }

  @each $key, $color in $themeColor{
    &#{ toThemeClass($key) } {
      background-color: map-get($color, 'dark') !important;

      &:not(.md-menu-toolbar) .md-button:not(.md-raised) {
        color: $nv-text-white;
      }
    }
  }  
}
