//== Typography classes
//## The standard typography rules, according to the ninja style guide:
//## https://drive.google.com/a/ninjavan.sg/folderview?id=0B82KVKYCX1rmbXVUSExIeHd2SzA

@import "../variables";
@import "../mixins/typography.mixins";

//## Headings ##################################################

h1,    .nv-h1    { @include nv-font(h1);    }
h2,    .nv-h2    { @include nv-font(h2);    }
h3,    .nv-h3    { @include nv-font(h3);    }
h4,    .nv-h4    { @include nv-font(h4);    }
h5,    .nv-h5    { @include nv-font(h5);    }
p,     .nv-p     { @include nv-font(p);     }
p.med, .nv-p-med { @include nv-font(pmed);  }
small, .nv-small { @include nv-font(small); }

h1, .nv-h1, h2, .nv-h2, h3, .nv-h3, h4, .nv-h4, h5, .nv-h5 { margin: 0; }

//## Classes ##################################################

h1, h2, h3, h4, h5, p, small {
  color: $nv-text-black;
  &.dark-blue    { @include nv-font-color(dark-blue);    }
  &.light-blue   { @include nv-font-color(light-blue);   }
  &.dark-yellow  { @include nv-font-color(dark-yellow);  }
  &.light-yellow { @include nv-font-color(light-yellow); }
  &.dark-green   { @include nv-font-color(dark-green);   }
  &.light-green  { @include nv-font-color(light-green);  }
  &.dark-red     { @include nv-font-color(dark-red);     }
  &.light-red    { @include nv-font-color(light-red);    }
  &.white        { @include nv-font-color(white);    }

  &.medium  { @include nv-font-weight(medium);   }
  &.regular { @include nv-font-weight(regular);  }
  &.light   { @include nv-font-weight(light);    }
}
.nv-text-dark-red {
  @include nv-font-color(dark-red);
}

.dark {
  h1, h2, h3, h4, h5, p, small {
    color: $nv-text-white;
  }
}

.nv-text-left        { text-align: left; }
.nv-text-center      { text-align: center; }
.nv-text-right       { text-align: right; }
.nv-text-notransform { text-transform: none; }
.nv-text-ellipsis    { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.nv-text-no-select   {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

.nv-margin-auto { margin: auto !important; }

.nv-padding-none { padding: 0 !important; }
