@import "../../../../../lib/ninja-commons/styles/variables";
@import "../../../../../lib/ninja-commons/styles/mixins/typography.mixins";

md-dialog.nv-container-shipper-errors-dialog {
  min-width: 40rem;
  max-width: 60rem;
  width: auto;

  max-height: 90%;

  md-dialog-content {
    &.md-dialog-content {
      > * {
        margin-bottom: 2.8rem;

        &:last-child {
          margin-bottom: 0;
        }
      }

      h5 {
        color: $nv-dark-blue;
      }

      .error-box {
        background-color: $nv-highlight-red;
        color: $nv-dark-red;

        div[layout] {
          position: relative;
          padding: 1.4rem 1.4rem 1.4rem 4.8rem;

          div[flex] {
            @include nv-font(p);
            .title {
              @include nv-font-weight(medium);

              margin-bottom: 1.4rem;
            }

            .content {
              > * {
                vertical-align: middle;
              }

              span {
                margin-right: 0.7rem;
              }

              small {
                color: $nv-dark-red;
              }
            }
          }
        }

        .material-icons {
          position: absolute;
          top: 1.4rem;
          left: 1.4rem;
          font-size: 2rem;
          line-height: normal;
        }
      }

      nv-icon-text-button {
        display: inline-block;
      }
    }
  }
}