<md-dialog-content class="md-dialog-content">
  <div class="nv-text-center">
    <h5>
      {{ 'container.shippers.please-fix-the-errors' | translate }}
    </h5>
  </div>

  <div class="error-box">
    <div layout="column">
      <div flex>
        <div class="title">
          {{ ctrl.payload.messages.description | translate: {errorCount: ctrl.payload.errors.length} }}
        </div>
      </div>

      <div flex>
        <div ng-repeat="error in ctrl.payload.errors track by $index"
             class="content">
          <span>{{$index+1}}.</span> <strong>{{error.title}}</strong>
          <small ng-if="error.description">- {{error.description}}</small>
        </div>
      </div>

      <i class="material-icons">error</i>
    </div>
  </div>

  <div class="nv-text-center">
    <nv-icon-text-button
      class="flat"
      name="{{'commons.close' | translate}}"
      ng-click="ctrl.onCancel()">
    </nv-icon-text-button>
  </div>
</md-dialog-content>