.nv-container-bulk-address-verification {
  .pick-file-section {
    .notes{
      text-align: center;
    }
  }

  .upload-result-section {
    width: 80rem;
    margin: 0 auto;
    h5.subtle {
      color: #D78194;
    }
    md-card {
      padding: 0;
      margin: 0;
      width: 100%;
    }
    div[ng-table-pagination] {
      margin-left: 1rem;
      color: black !important;
      a {
        color: black !important;
      }
    }

    table {
      th, td {
        padding: .5rem;
        border-left: 1px solid #E7E7E7;
        border-right: 1px solid #E7E7E7;
      }
      thead tr {
        background: #EEEEEE;
        color: #B4B4B4;
        padding: .5rem;
      }
    }
    table.error-table {
      max-height: 50rem;
      overflow: auto;
      th.no, td.no {
        min-width: 5rem;
      }
      th.wp-id, td.wp-id {
        min-width: 20rem;
      }
      th.error, td.error {
        min-width: 21.9rem;
      }
      th.error-details, td.error-details {
        min-width: 30rem;
      }
    }

    table.success-table {
      max-height: 50rem;
      overflow: auto;
      th.no, td.no {
        min-width: 5rem;
      }
      th.wp-id, td.wp-id {
        min-width: 10rem;
      }
      th.address, td.address {
        min-width: 23.9rem;
      }
      th.zone, td.zone {
        min-width: 10rem;
      }
      th.coordinate, td.coordinate {
        min-width: 20rem;
      }
      th.action, td.action {
        min-width: 8rem;
      }
      td.action{
        text-align: center;
      }

    }

    table.incorrect-table {
      max-height: 50rem;
      overflow: auto;
      th.no, td.no {
        min-width: 5rem;
      }
      th.wp-id, td.wp-id {
        min-width: 10rem;
      }
      th.address, td.address {
        min-width: 23.9rem;
      }
      th.zone, td.zone {
        min-width: 10rem;
      }
      th.coordinate, td.coordinate {
        min-width: 20rem;
      }
      th.action, td.action {
        min-width: 8rem;
      }
      td.action{
        text-align: center;
      }

    }

    .upload-button-container{
      button{
        width: 100%;
        margin: 0 auto;
      }
    }

  }

}
