<div class="nv-container-bulk-address-verification">
    <div class="pick-file-section" ng-if="ctrl.pageState=='ready'" ng-cloak>
        <div layout="row" layout-padding layout-wrap>
            <div flex="100" layout="row" layout-align="center center">
                <h5>{{"container.bulk-address-verification.upload-your-bulk" | translate}}</h5>
            </div>
            <div flex="100" layout="row" layout-align="center center">
                <nv-icon-text-button
                        class="raised h5"
                        md-theme="nvBlue"
                        name="{{'container.bulk-address-verification.upload-csv' | translate }}"
                        on-click="::ctrl.openUploadDialog($event)">
                </nv-icon-text-button>
            </div>
            <div flex="100" layout="row" layout-align="center center" layout-wrap class="notes">
                <div flex="100">
                  <p>{{"container.bulk-address-verification.download-the-csv" | translate }}
                    <nv-download-csv-button
                      name="{{'container.bulk-address-verification.here' | translate}}"
                      md-theme=""
                      class="download-sample"
                      dense="true"
                      data="ctrl.SAMPLE_CSV"
                      csv-header="{{::ctrl.SAMPLE_CSV_HEADER}}"
                      csv-column-order="{{::ctrl.SAMPLE_CSV_HEADER}}"
                      filename="sample_csv">
                    </nv-download-csv-button>
                  </p>
                </div>
                <!-- <div flex="100">
                    <p class="small">{{"container.bulk-address-verification.please-note-system-only" | translate}}</p>
                </div> -->
            </div>

        </div>
    </div>
    <div layout="row" ng-if="ctrl.pageState=='uploading'">
    </div>
    <div class="upload-result-section" ng-if="ctrl.pageState=='uploaded'" >
        <div layout="row" layout-padding layout-wrap >
            <div flex="100" layout="row" layout-align="space-between center">
                <div flex="80">
                    <h4>{{"container.bulk-address-verification.uploaded-x" | translate: {fileNames: ctrl.uploadedFileName} }}</h4>
                </div>
                <div flex="20">
                    <nv-icon-text-button
                            class="ghost dense h5"
                            md-theme="nvGreen"
                            name="{{'container.bulk-address-verification.upload-new-file' | translate }}"
                            on-click="::ctrl.onUploadNewFile($event)">
                    </nv-icon-text-button>
                </div>
            </div>
            <div flex="100" layout="row" layout-align="space-between center">
                <div flex="20">
                    <h5 class="subtle">{{"container.bulk-address-verification.errors" | translate}}</h5>
                </div>
                <div flex="20">
                   <nv-download-csv-button
                    have-icon="false"
                    data="ctrl.errors"
                    csv-header="['Id','Error', 'Error Details']"
                    csv-column-order="['id','error','details']"
                   ></nv-download-csv-button>
                </div>
            </div>
            <div flex="100">
                <md-card>
                    <table ng-table="ctrl.errorTableParams" class="table table-condensed table-bordered table-striped error-table">
                        <tr ng-repeat="error in $data">
                            <td data-title="'container.bulk-address-verification.no' | translate" sortable="'sn'">{{error.sn}}</td>
                            <td data-title="'container.bulk-address-verification.wp-id' | translate" sortable="'id'">{{error.id}}</td>
                            <td data-title="'container.bulk-address-verification.error' | translate" sortable="'error'">{{error.error}}</td>
                            <td data-title="'container.bulk-address-verification.error-details' | translate" sortable="'details'">{{error.details}}</td>                   
                        </tr>
                        <tr ng-if="$data && $data.length === 0" >
                            <td colspan="5">
                                {{"container.bulk-address-verification.no-invalid-data" | translate}}
                            </td>
                        </tr>
                    </table>
                </md-card>

            </div>
            <div flex="100" layout="row">
                <div flex>
                    <h5 class="subtle">{{"container.bulk-address-verification.successful-matches" | translate }}</h5>
                </div>
            </div>
            <div flex="100" layout="row">
                <md-card>
                    <table ng-table="ctrl.successTableParams" class="table table-condensed table-bordered table-striped success-table">
                        <tr ng-repeat="scs in $data">
                            <td data-title="'commons.sn' | translate" sortable="'sn'">
                                {{scs.sn}}
                            </td>
                            <td data-title="'commons.id' | translate" sortable="'id'" class="id">
                                {{scs.id}}
                            </td>
                            <td data-title="'commons.address' | translate" sortable="'address'">
                                {{scs.address || '-'}}
                            </td>
                            <td data-title="'commons.rack-sector' | translate" sortable="'rack_sector'">
                                {{scs.rack_sector}}
                            </td>
                            <td data-title="'commons.coordinate' | translate" class="coordinate" sortable="'coordinate'">
                                <a target="_blank" href="http://maps.google.com/?q={{scs.latitude}},{{scs.longitude}}">
                                    {{scs.coordinate}}
                                </a>
                            </td>                            
                        </tr>
                        <tr ng-if="$data && $data.length === 0" >
                            <td colspan="5">
                                {{"container.bulk-address-verification.no-valid-data" | translate}}
                            </td>
                        </tr>
                    </table>
                </md-card>

            </div>
            <div flex="100" class="upload-button-container">
              <nv-api-text-button
                class="raised dense h5"
                md-theme="nvGreen"
                name="{{'container.bulk-address-verification.update-successful-matches' | translate}}"
                state="ctrl.uploadSuccessMatchesState"
                on-click="::ctrl.uploadSuccessMatches($event)">
              </nv-api-text-button>
            </div>
        </div>
    </div>

</div>
