@import "../../../../lib/ninja-commons/styles/variables";
@import "../../../../lib/ninja-commons/styles/mixins/table.mixins";

nv-address-finder {
  h5 {
    color: $nv-text-black-2;
    font-weight: normal;
    margin-bottom: 2rem;
  }

  .search-mode-container {
    margin-bottom: 3rem;

    .btn-group {
      min-width: 0 !important;
      border-width: 2px;
    }
  }

  .search-by-name {
    .search-term-holder {
      md-input-container {
        margin-top: 0;
      }
    }

    .search-result-holder {
      nv-table {
        // column width
        @include nv-table-column-width(_score, 10rem);
        @include nv-table-column-width(_full-address, 100%);

        // action columns
        @include nv-table-action-columns(13rem);

        ._full-address {
          min-width: 25rem !important;
        }

        .actions {
          text-align: center;
        }

        .no-virtual-repeat-container {
          .last-row {
            &.last-row-no-result {
              height: 6rem !important;

              .no-result {
                p {
                  display: none;
                }
              }
            }

            &:not(.last-row-no-result) {
              display: none;
            }
          }
        }
      }
    }
  }

  .search-by-coordinates {
    .lat-lng-holder {
      md-input-container, nv-api-text-button {
        vertical-align: top;
      }

      nv-api-text-button {
        display: inline-block;
        margin-top: 1rem;
      }
    }
  }
}