<div layout="row">
  <h5>{{ 'commons.address-finder' | translate }}</h5>
  <span flex></span>
  <nv-icon-text-button
    class="ghost dense"
    name="commons.go-back"
    icon="arrow_back"
    ng-click="callback()">
  </nv-icon-text-button>
</div>
<div layout="column">
  <div flex>
    <nv-btn-grp
      class="search-mode-container"
      model="ctrl.searchMode"
      label-for-model-idx-0="{{'commons.search-by-name' | translate}}"
      label-for-model-idx-1="{{'commons.search-by-coordinates' | translate}}"
      select-multiple="false"
      select-none="false"
      onchange="ctrl.onSearchModeChanged()">
    </nv-btn-grp>
  </div>
</div>

<div layout="column"
     class="search-by-name"
     ng-if="ctrl.searchMode === '10'">
  <div class="search-term-holder">
    <form name="ctrl.byName.form">
      <div layout="row">
        <div flex>
          <nv-input-text
            class="md-block"
            name="searchTerm"
            label="commons.enter-search-term"
            model="ctrl.byName.value"
            form="ctrl.byName.form">
          </nv-input-text>
        </div>
        <div>
          <nv-api-text-button
            class="raised dense"
            state="ctrl.byName.state"
            name="commons.search"
            disabled="ctrl.byName.isDisabled()"
            on-click="ctrl.byName.searchAddress()">
          </nv-api-text-button>
        </div>
      </div>
    </form>
  </div>
  <div class="search-result-holder">
    <nv-table
      param="ctrl.byName.tableParam"
      controller-as="ctrl">
      <nv-table-row
        use-virtual-repeat='false'
        use="address">
        <nv-td column="_score" filter="false" sortable="false">
          {{address._score}}
        </nv-td>
        <nv-td column="_fullAddress" filter="false" sortable="false">
          {{address._fullAddress}}
        </nv-td>
        <nv-action column="actions">
          <nv-icon-text-button
            class="raised dense"
            name="commons.save-location"
            on-click="ctrl.byName.saveLocation(address)">
          </nv-icon-text-button>
        </nv-action>
      </nv-table-row>
    </nv-table>
  </div>
</div>

<div layout="column"
     class="search-by-coordinates"
     ng-if="ctrl.searchMode === '01'">
  <div flex
       class="lat-lng-holder">
    <form name="ctrl.byCoordinates.form">
      <nv-input-text
        label="commons.latitude"
        model="ctrl.byCoordinates.latitude"
        on-change="ctrl.byCoordinates.latLngOnChange()"
        form="ctrl.byCoordinates.form">
      </nv-input-text>
      <nv-input-text
        label="commons.longitude"
        model="ctrl.byCoordinates.longitude"
        on-change="ctrl.byCoordinates.latLngOnChange()"
        form="ctrl.byCoordinates.form">
      </nv-input-text>
      <nv-api-text-button
        class="raised dense"
        state="ctrl.byCoordinates.state"
        name="commons.save-location"
        disabled="ctrl.byCoordinates.isDisabled()"
        on-click="ctrl.byCoordinates.saveLocation()">
      </nv-api-text-button>
    </form>
  </div>
  <div flex
       class="map-holder">
    <div id="address-finder-map" class="nv-map"></div>
  </div>
</div>