.nv-container-rollover {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;

  md-datepicker {
    margin: 0;
  }
  md-checkbox {
    margin-bottom: 0;
  }
  div.title {
    align-items: center;
  }

  div.table-container {
    position: relative;
    flex: 1;

    nv-table {
      // column width
      @include nv-table-column-width(uuid, 50rem);
      @include nv-table-column-width(status, 20rem);

      @include nv-table-row-height(5rem);

      @include nv-table-action-columns(nv-table-action-width("one-dense-p"));
    }
  }

  .deprecated>p {
    color: red; 
    font-size: 1.6rem; 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 0 4rem;
  }
}
