<md-content
  class="nv-container-rollover">

  <div ng-if="ctrl.deprecated" class="deprecated">
    <p>ALERT: This page is deprecated on 3 December 2018</p>
    <p>For more information, please refer to: <a target="_blank" href="https://docs.google.com/presentation/d/15Z7eAUJM5cAKfQ5zvAu-dXMLKNvsvUBdgBhhAHTPaBQ/edit?usp=sharing">THIS</a></p>
  </div>
  <div ng-if="!ctrl.deprecated" class="title" layout="row" layout-padding>
    <p>{{'container.rollover.date' | translate}}</p>
    <md-datepicker 
      ng-model="ctrl.date"
      md-placeholder="{{'container.rollover.date' | translate}}"
      required>
    </md-datepicker>
    <nv-icon-text-button
      name="container.rollover.dry-run"
      class="raised"
      md-theme="nvBlue"
      on-click="ctrl.dryRun($event)">
    </nv-icon-text-button>
    <nv-icon-text-button
      name="container.rollover.rollover"
      class="raised"
      md-theme="nvGreen"
      on-click="ctrl.rollover($event)">
    </nv-icon-text-button>
  </div>

  <div ng-if="!ctrl.deprecated" class="table-container">
    <nv-table
      distance="1"
      param="ctrl.tableParam"
      controller-as="ctrl">
      <nv-table-row
        use="rollover"
        row-height="50">
        <nv-index></nv-index>
        <nv-td column="uuid">{{ rollover.uuid }}</nv-td>
        <nv-td column="status">{{ rollover.status }}</nv-td>
        <nv-action column="action">
          <nv-icon-button
            md-theme="nvRed"
            class="ghost dense"
            name="Refresh"
            icon="refresh"
            on-click="ctrl.refresh(rollover.uuid)">
          </nv-icon-button>
        </nv-action>
      </nv-table-row>
    </nv-table>
  </div>

</md-content>
