@import "../../../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../../../views/container/order/order.mixins";

.order-proof-of-delivery {
  $defaultWidth: 800px;

  width: $defaultWidth !important;

  md-dialog {
    max-width: $defaultWidth !important;
    overflow: hidden;
    max-height: none;

    @include data-blocks;
    .data-blocks {
      .data-block {
        margin-top: $data-block-top-spacing;
        margin-bottom: $data-block-top-spacing;
        max-width: 300px;

        img {
          background-color: $nv-brand-white;
          width: 250px;
          height: 150px;
        }
      }
    }

    h5 {
      color: $nv-text-black-2;
      font-weight: normal;
      
      span {
        color: $nv-text-black-1;
        @include nv-font-weight(medium);
      }
    }

    nv-icon-text-button {
      display: inline-block;
    }

    .table-container {
      margin-bottom: $nv-baseline-grid*2;
      overflow: auto;
      
      nv-table {
        // column width
        @include nv-table-column-width(id, 12rem);
        @include nv-table-column-width(_rsvn-or-txn, 18rem);
        @include nv-table-column-width(_type, 14rem);
        @include nv-table-column-width(_status, 12rem);
        @include nv-table-column-width(_distance, 12rem);
        @include nv-table-column-width(_pod-time, 12rem);
        @include nv-table-column-width(route-driver, 18rem);
        @include nv-table-column-width(_recipient, 18rem);
        @include nv-table-column-width(_address, 22rem);
        @include nv-table-column-width(_verification-method, 15rem);

        // action columns
        @include nv-table-action-columns(7.5rem);

        span {
          &.dark-red {
            @include nv-font-color(dark-red);
          }
        }

        td._distance {
          text-align: right;
        }

        .actions {
          text-align: center;
        }

        .last-row {
          &:not(.last-row-no-result) {
            display: none;
          }
        }
      }
    }

    .selected-pod-holder {
      overflow: auto;
    }

    .select-pod-hint-holder {
      $spacingValue: 42px;

      text-align: center;

      > h5 {
        font-weight: normal;
        color: $nv-text-black-2;
        margin-top: $spacingValue;
        margin-bottom: $spacingValue;
      }
    }

    .photos-section {
      margin: 0.8rem 0rem;
      width: 100%;

      .pictures-container {
        width: 100%;
        overflow-x: auto;
        margin: 1rem 0;

        nv-selectable-image {
          width: 8rem;
          height: 8rem;
          margin-right: 0.8rem;

          .nv-image {
            width: 8rem;
            height: 8rem;
            max-width: 8rem;
            max-height: 8rem;
            outline: none;
          }
        }
      }
    }
  }
}
