<nv-dialog-header
  title="{{'container.order.edit.proof-of-delivery' | translate}}"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<md-dialog nv-load="ctrl.getAll"
           loading-message="{{'container.order.edit.load-pods' | translate}}"
           nv-window-resize="ctrl.windowSizeChanged()">
  <md-dialog-content>
    <div class="table-container"
         ng-style="ctrl.tableContainerDivStyle()">
      <nv-table
        param="ctrl.podsTableParam"
        controller-as="ctrl">
        <nv-table-row
          use-virtual-repeat='false'
          use="pod">
          <nv-td column="id">
            {{pod.id}}
          </nv-td>
          <nv-td column="_rsvnOrTxn">
            {{pod._rsvnOrTxn}}
          </nv-td>
          <nv-td column="_type">
            {{pod._type}}
          </nv-td>
          <nv-td column="_status">
            <span ng-class="{'dark-red': pod._isFailed, 'dark-green': pod._isSuccess}">
              {{pod._status}}
            </span>
          </nv-td>
          <nv-td column="_distance">
            {{pod._distance}}
          </nv-td>
          <nv-td column="_podTime">
            <span ng-class="{'dark-red': pod._isLate, 'dark-yellow': pod._isOnTime}">
              {{pod._podTime}}
            </span>
          </nv-td>
          <nv-td column="routeDriver">
            {{pod.routeDriver}}
          </nv-td>
          <nv-td column="_recipient">
            {{pod._recipient}}
          </nv-td>
          <nv-td column="_address">
            {{pod._address}}
          </nv-td>
          <nv-td column="_verificationMethod">
            {{pod._verificationMethod}}
          </nv-td>

          <nv-action column="actions">
            <nv-icon-text-button
              md-theme="nvBlue"
              class="raised dense"
              name="commons.view"
              on-click="ctrl.viewPOD(pod)">
            </nv-icon-text-button>
          </nv-action>
        </nv-table-row>
      </nv-table>
    </div>
    <div class="selected-pod-holder"
         ng-if="ctrl.selectedPod"
         ng-style="ctrl.selectedPodDivStyle()">
      <div layout="row" layout-padding>
        <div flex>
          <h4>{{ ctrl.trackingId }}</h4>
        </div>
      </div>
      <div layout="row" layout-padding>
        <div flex>
          <h4>{{ ctrl.selectedPod._rsvnOrTxn }}</h4>
        </div>
        <div flex class="nv-text-right">
          <nv-download-csv-button
            md-theme="nvBlue"
            data="ctrl.csv.data"
            csv-header="{{ctrl.csv.header}}"
            csv-column-order="{{ctrl.csv.columnOrder}}"
            filename="{{ctrl.csv.filename}}">
          </nv-download-csv-button>
        </div>
      </div>
      <div layout="column" layout-padding
           id="information">
        <div flex>
          <h5>{{ 'commons.information' | translate }}</h5>
        </div>
        <div flex>
          <div class="data-blocks">
            <div class="data-block">
              <label>{{ 'commons.status' | translate }}</label>
              <p ng-class="{'dark-red': ctrl.selectedPod._isFailed, 'dark-green': ctrl.selectedPod._isSuccess}">
                {{ ctrl.selectedPod._status }}
              </p>
            </div>
            <div class="data-block">
              <label>{{ 'container.order.edit.pod-time' | translate }}</label>
              <p ng-class="{'dark-red': ctrl.selectedPod._isLate, 'dark-yellow': ctrl.selectedPod._isOnTime}">
                {{ ctrl.selectedPod._podTime }}
              </p>
            </div>
            <div class="data-block">
              <label>{{ 'container.order.edit.start-datetime' | translate }}</label>
              <p>{{ ctrl.selectedPod._startTime }}</p>
            </div>
            <div class="data-block">
              <label>{{ 'container.order.edit.end-datetime' | translate }}</label>
              <p>{{ ctrl.selectedPod._endTime }}</p>
            </div>
            <div class="data-block">
              <label>{{ 'commons.waypoint-id' | translate }}</label>
              <p>{{ ctrl.selectedPod.waypointId }}</p>
            </div>
            <div class="data-block">
              <label>{{ 'commons.model.route-id' | translate }}</label>
              <p>
                <a href="javascript:;" ng-click="ctrl.navigateToRouteLogsPage()">
                  {{ ctrl.selectedPod.routeId }}
                </a>
              </p>
            </div>
            <div class="data-block">
              <label>{{ 'commons.driver' | translate }}</label>
              <p>{{ ctrl.selectedPod.routeDriver }}</p>
            </div>
            <div class="data-block">
              <label>{{ 'container.order.edit.distance-from-point' | translate }}</label>
              <p>{{ ctrl.selectedPod._distance }}</p>
            </div>
            <div class="data-block">
              <label>{{ 'commons.model.priority-level' | translate }}</label>
              <p>{{ ctrl.selectedPod._priorityLevel }}</p>
            </div>
            <div class="data-block">
              <label>{{ 'commons.location' | translate }}</label>
              <p>{{ ctrl.selectedPod._address }}</p>
            </div>
            <div class="data-block">
              <label>{{ 'commons.comments' | translate }}</label>
              <p>{{ ctrl.selectedPod._comments || '-' }}</p>
            </div>
            <div class="data-block">
              <label>{{ 'container.order.edit.pod-verification-method' | translate }}</label>
              <p>{{ ctrl.selectedPod._verificationMethod }}</p>
            </div>
          </div>
        </div>
      </div>
      <div layout="column" layout-padding
           id="point-of-contact">
        <div flex>
          <h5>{{ 'container.order.edit.point-of-contact' | translate }}</h5>
        </div>
        <div flex>
          <div class="data-blocks">
            <div class="data-block">
              <label ng-if="ctrl.selectedPod._isTransaction">{{ 'commons.recipient-name' | translate }}</label>
              <label ng-if="ctrl.selectedPod._isReservation">{{ 'commons.sender-name' | translate }}</label>
              <p>{{ ctrl.selectedPod.pod.name || '-' }}</p>
            </div>
            <div class="data-block">
              <label>{{ 'commons.contact' | translate }}</label>
              <p>{{ ctrl.selectedPod.pod.contact || '-' }}</p>
            </div>
            <div class="data-block"
                 ng-if="ctrl.selectedPod._isTransaction">
              <label>{{ 'container.order.edit.substitute-relationship' | translate }}</label>
              <p>{{ ctrl.selectedPod.pod.relationship || '-' }}</p>
            </div>
            <div class="data-block"
                 ng-if="ctrl.selectedPod.pod.ic_number">
              <label>{{ 'container.order.edit.ic-number' | translate }}</label>
              <p>{{ ctrl.selectedPod.pod.ic_number }}</p>
            </div>
            <div class="data-block"
                 ng-if="ctrl.selectedPod._isTransaction">
              <label>{{ 'container.order.edit.verification-code' | translate }}</label>
              <p>{{ ctrl.selectedPod.pod.verification_code || '-' }}</p>
            </div>
            <div class="data-block"
                 ng-if="ctrl.selectedPod._isTransaction">
              <label>{{ 'container.order.edit.placed-at-location' | translate }}</label>
              <p ng-if="ctrl.selectedPod.pod.hidden_location">{{ ctrl.selectedPod.pod.hidden_location }}</p>
              <p ng-if="!ctrl.selectedPod.pod.hidden_location">{{ 'container.order.edit.option-not-chosen' | translate }}</p>
            </div>
            <div class="data-block">
              <label ng-if="ctrl.selectedPod._isTransaction">{{ 'container.order.edit.recipient-signature' | translate }}</label>
              <label ng-if="ctrl.selectedPod._isReservation">{{ 'commons.signature' | translate }}</label>
              <p>
                <span ng-if="ctrl.selectedPod.pod.output == undefined && ctrl.selectedPod.pod.url == undefined">
                  {{ 'container.order.edit.no-signature' | translate }}
                </span>
                <img ng-if="ctrl.selectedPod.pod.output != undefined"
                     ng-src="data:image/JPEG;base64,{{ctrl.selectedPod.pod.output}}" />
                <img ng-if="ctrl.selectedPod.pod.url != undefined"
                     ng-src="{{ctrl.selectedPod.pod.url}}" />
                <nv-icon-text-button
                  ng-if="ctrl.selectedPod.pod.url != undefined"
                  name="commons.download-signature"
                  md-theme="nvBlue"
                  class="raised"
                  on-click="ctrl.downloadSignature()">
                </nv-icon-text-button>     
              </p>
            </div>
          </div>
        </div>
        <div flex>
          <div class="photos-section">
            <label>{{ 'commons.photos' | translate }}</label>
            <div ng-if="ctrl.selectedPhotos.length === 0">
              {{ 'container.order.edit.no-pod-photos' | translate }}
            </div>
            <div ng-if="ctrl.selectedPhotos.length > 0">
              <div class="pictures-container" layout>
                <nv-selectable-image
                  ng-repeat="photo in ctrl.selectedPhotos"
                  source="{{ photo.url }}"
                  title="{{ photo.title }}"
                  id="photo.id"
                  active="photo.isActive"
                ></nv-selectable-image>
              </div>
              <nv-icon-text-button
                name="commons.download-selected-image"
                md-theme="nvBlue"
                class="raised"
                disabled="!ctrl.isDownloadAvailable()"
                on-click="ctrl.downloadSelected()">
              </nv-icon-text-button>
            </div>
          </div>
        </div>
      </div>
      <div layout="column" layout-padding
           id="parcels-picked-up"
           ng-if="ctrl.selectedPod._isReservation">
        <div flex>
          <h5 translate="container.order.edit.num-parcels-picked-up"
              translate-values="{num: (ctrl.selectedPod.pod.received_parcels || 0)}">
          </h5>
        </div>
        <div flex
             ng-if="ctrl.selectedPod.pod.scanned_parcels && ctrl.selectedPod.pod.scanned_parcels.length > 0">
          <div layout="row" layout-wrap>
            <div flex="33" ng-repeat="parcel in ctrl.selectedPod.pod.scanned_parcels">
              {{$index+1}}. {{parcel}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="select-pod-hint-holder"
         ng-if="!ctrl.selectedPod && !ctrl.podsTableParam.empty">
      <h5>
        {{ 'container.order.edit.select-to-view-desired-pod' | translate }}
      </h5>
    </div>
  </md-dialog-content>
</md-dialog>
