@import "../../../lib/ninja-commons/styles/mixins/media-query.mixins";

.nv-container-user-management{
  
  md-card{
    height: 3.125rem;
  }

  .md-headline{
    font-size: 1.25rem;
  }

  .md-tabs-canvas{
    background-color : royalblue;
  }

  .md-tabs{
    background-color : royalblue;
  }

  .table-container {
    padding-top: 1rem;
  }

  nv-filter-box.filter-status,
  nv-filter-box.filter-grantTypes {
    width: 31.25rem;
    margin: 0.4rem 0.5%;
  }

  @include nv-media-query-sm-min {
    nv-filter-box.filter-status,
    nv-filter-box.filter-grantTypes {
      width: 31.25rem;
    }
  }

  .md-button {
    margin-top: 1rem;
    margin-bottom: 0.625rem;
  }

  td.active nv-toggle-button .md-button.nv-button {
    width: 8rem;
  }
}