
<md-content layout-padding class="nv-container-user-management" nv-load="ctrl.load" loading-message="Loading Users...">
  <div class="data-header" layout="row">
    <div flex = "40" layout="row" layout-padding layout-align = "start center">
      <h5 class="ultra light">Select Filters</h5>
    </div>
    <span flex></span>
    <div layout = "row" layout-align = "start center">
      <nv-create-button
        md-theme="nvGreen"
        class="nv-primary md-raised"
        name="{{'container.user-management.add-user' | translate}}"
        on-click="::ctrl.createOne($event)">
      </nv-create-button>
    </div>
  </div>
  <div layout="row" layout-xl	= "row" style="padding-left: 10px;padding-top: 10px ;padding-bottom: 10px;">
    <nv-filter-box
      id="filter-grantTypes" flex="50"
      class="filter-grantTypes"
      search-text="ctrl.filters.grantTypes.searchText"
      possible-options="ctrl.filters.grantTypes.possibleOptions"
      selected-options="ctrl.filters.grantTypes.selectedOptions"
      on-change="ctrl.filters.grantTypes.onChangeFn()"
      main-title="Grant Types"
      placeholder="{{'container.user-management.select-grant-type' | translate}}"
      item-types="grantTypes"
      show-suggestion-when-empty= "true">
    </nv-filter-box>
    <nv-filter-box
      id="filter-status" flex="50" style="padding-left: 10px"
      class="filter-status"
      search-text="ctrl.filters.statuses.searchText"
      possible-options="ctrl.filters.statuses.possibleOptions"
      selected-options="ctrl.filters.statuses.selectedOptions"
      on-change="ctrl.filters.statuses.onChangeFn()"
      main-title="Status"
      placeholder="{{'container.user-management.select-status' | translate}}"
      item-types="statuses"
      show-suggestion-when-empty= "true">
    </nv-filter-box>
  </div>
  <div layout="row" layout-xs="row" layout-sm="row" layout-md="row" layout-lg="row" layout-gt-lg="row" layout-xl="row"	 flex="grow" flex-md="grow" flex-lg="grow" flex-gt-lg="grow" flex-xl="grow" layout-fill style="padding-left: 18px">
    <input class="nv-p"  style="width:100%;height: 0.8cm;" id="id" type="text" ng-model="ctrl.keyword"  placeholder="{{'container.user-management.search-by-keyword' | translate}}">
  </div>
  <div layout="row" layout-align = "center center"  layout-fill style="padding-top: 0.3cm">
    <nv-api-text-button  md-theme="nvBlue" class="raised" state="'idle'" name="{{'container.user-management.load-users' | translate}}" on-click="ctrl.getOauthClientsByfilter()"></nv-api-text-button>
  </div>
  <div class="table-container" ng-if = "ctrl.allOauthClientParams != undefined">
    <table ng-table="ctrl.allOauthClientParams" class="table table-condensed table-bordered table-striped">
      <tr ng-repeat="user in $data">
        <td data-title="'commons.email-username' | translate" class="col-sm-2 col-md-2 col-lg-2">
          {{ user.grantType=='GOOGLE_SSO'?user.emailId:user.clientId }}
        </td>

        <td data-title="'container.user-management.grantType' | translate" class="col-sm-2 col-md-2 col-lg-2">
          {{ user.grantType }}
        </td>

        <td data-title="'commons.first-name' | translate" class="col-sm-1 col-md-1 col-lg-1">
          {{ user.firstName }}
        </td>

        <td data-title="'commons.last-name' | translate"  class="col-sm-1 col-md-1 col-lg-1">
          {{ user.lastName }}
        </td>

        <td data-title="'container.user-management.roles' | translate" class="col-sm-3 col-md-3 col-lg-3">
          {{ user.groupNames }}
        </td>

        <td data-title="'container.user-management.active' | translate" class="active col-sm-2 col-md-2 col-lg-2">
          <nv-icon-text-button
            md-theme="{{user.active ? 'nvGreen' : 'nvRed'}}"
            class="raised"
            name = "{{user.active ? 'ACTIVE' : 'DISABLED'}}">
          </nv-icon-text-button>
        </td>
        <td data-title="'commons.actions' | translate" class="actions column-locked-right col-sm-1 col-md-1 col-lg-1" >
          <nv-icon-button
            class="ghost nv-margin-auto"
            name="Edit"
            icon="edit"
            on-click="ctrl.updateOne($event, user)">
          </nv-icon-button>
        </td>
        <td data-title="'container.user-management.invitation' | translate" class="resend-invitation column-locked-right col-sm-1 col-md-1 col-lg-1" >
          <nv-icon-button
            class="ghost nv-margin-auto"
            name="container.user-management.resend-invitation"
            icon="email"
            on-click="ctrl.resendInvitation(user)">
          </nv-icon-button>
        </td>
      </tr>
    </table>
  </div>
</md-content>
