.shipper-pickups-reservation-details-dialog {
  $defaultWidth: 70rem;

  width: $defaultWidth !important;
  
  // general
  .border {
    border: 0.1rem solid $nv-text-black-3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: -1rem;
    padding: 1rem;

    .title {
      color: $nv-text-black-3;
      margin-top: 0rem;
      margin-bottom: 1.4rem;
    }

    .content {
      md-input-container {
        padding: 0.2rem 0.2rem 0.2rem 0rem;
        
        label {
          padding-left: 0rem;
        }
        .readonly {
          padding-left: 0rem;
        }
        .md-errors-spacer {
          min-height: 0rem;
          height: 0rem;
        }
      }

      .tag-container {
        overflow-x: auto;
        padding-bottom: 2rem;

        nv-tag {
          span.md-nvGreen-theme {
            background-color: #EBEBEB;
            color: #18242E;
            outline: none;
          }
        }

        nv-tag.selected {
          span.md-nvGreen-theme {
            background-color: #18242E;
            color: #EBEBEB;
            outline: none;
          }
        }
      }

      .pod-table-container {
        min-height: 9rem;
        max-height: 18rem;
        overflow-y: hidden;

        .general-row {
          min-height: 3rem;
          border-style: solid;
          border-width: 0.1rem 0.1rem 0rem 0.1rem;
          border-color: #E5E5E5;
          padding: 0.5rem 0rem 0rem 1rem;
        }

        .pod-table-content {
          min-height: 6rem;
          max-height: 15rem;
          overflow-y: auto;

          .content-row {
            &:nth-child(odd) {
              background-color: #F5F5F5;
            }

            &:nth-child(even) {
              background-color: #FFFFFF;
            }

            &:last-child {
              border-width: 0.1rem 0.1rem 0.1rem 0.1rem;
            }
          }
        }
      }

      .padding-bottom-2 {
        padding: 0rem 0rem 2rem;
      }

      .horizontal-padding-4 {
        padding: 0rem 0.4rem;
      }
    }
  }
  
  .plain-separator {
    padding: 1.4rem 0rem
  }
}