<nv-dialog-header
  title="{{'container.shipper-pickups.dialog.reservation-details' | translate}}"
  on-cancel="ctrl.function.cancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<form name="modelForm">
  <md-dialog-content>

    <!-- LOADING -->
    <div class="md-dialog-content" ng-if="ctrl.state.masterView === 0">
      {{ 'commons.load-data' | translate }}
    </div>

    <!-- CONTENT -->
    <div class="md-dialog-content" ng-if="ctrl.state.masterView === 1">
      <!--1st box-->
      <div class="border" layout="row" layout-wrap>
        <h5 class="title" layout="row" flex="100">{{ 'commons.details' | translate }}</h5>

        <div class="content" flex="100">
          <div layout="row">
            <nv-input-text
              id="field-shipper-name"
              readonly = "::true"
              flex = "40"
              label = "commons.model.shipper-name"
              model = "ctrl.data.reservation.shipperName"
              required = "::false">
            </nv-input-text>

            <nv-input-text
              id="field-shipper-id"
              readonly = "::true"
              flex = "20"
              label = "commons.shipper-id"
              model = "ctrl.data.reservation.shipperId"
              required = "::false">
            </nv-input-text>

            <nv-input-text
              id="field-waypoint-id"
              readonly = "::true"
              flex = "20"
              label = "Waypoint ID"
              model = "ctrl.data.reservation.waypointId"
              required = "::false">
            </nv-input-text>

            <nv-input-text
              id="field-reservation-id"
              readonly = "::true"
              flex = "20"
              label = "Reservation ID"
              model = "ctrl.data.reservation.id"
              required = "::false">
            </nv-input-text>
          </div>

          <div layout="row">
            <nv-input-text
              id="field-pickup-address"
              readonly = "::true"
              flex = "100"
              label = "commons.pickup-address"
              model = "ctrl.data.reservation.pickupAddress"
              required = "::false">
            </nv-input-text>
          </div>
        </div>
      </div>

      <div class="plain-separator"></div>

      <!-- 2ND BOX -->
      <div class="border" layout="row" layout-wrap>
        <h5 class="title" layout="row" flex="100">{{ 'commons.contents' | translate }}</h5>

        <div class="content" flex="100" ng-if="ctrl.data.pods.length > 0">
          <div layout="row" class="padding-bottom-2">
            <nv-input-text
              id="field-timestamp"
              readonly = "::true"
              flex = "50"
              label = "commons.timestamp"
              model = "ctrl.data.selectedPod.timestamp_string"
              required = "::false">
            </nv-input-text>

            <div flex></div>

            <div flex="40" layout="row" layout-align="end start">
              <nv-icon-text-button
                md-theme="nvBlue"
                name="container.shipper-pickups.dialog.view-pod"
                class="raised"
                on-click="ctrl.function.showPodDetails($event, ctrl.data.selectedPod)">
              </nv-icon-text-button>

              <div class="horizontal-padding-4"></div>
              <nv-icon-text-button
                md-theme="nvBlue"
                name="commons.download-csv"
                class="raised"
                on-click="ctrl.function.downloadPodCsv()">
              </nv-icon-text-button>
            </div>
          </div>

           <div layout="row">
            <nv-input-text
              id="field-keyin-by-driver"
              readonly = "::true"
              flex = "100"
              label = "container.shipper-pickups.dialog.input-on-pod"
              model = "ctrl.data.selectedPod.submitted_scans_quantity"
              required = "::false">
            </nv-input-text>
          </div> 

          <div layout="row">
            <nv-input-text
              id="field-scanned-at-shipper"
              readonly = "::true"
              flex = "50"
              label = "container.shipper-pickups.dialog.scanned-at-shipper"
              model = "ctrl.data.selectedPod.actual_shipper_scans_quantity"
              required = "::false">
            </nv-input-text>
            <nv-input-text
              id="field-inbounded-at-hub"
              readonly = "::true"
              flex = "50"
              label = "container.shipper-pickups.dialog.inbounded-at-hub"
              model = "ctrl.data.selectedPod.actual_hub_scans_quantity"
              required = "::false">
            </nv-input-text>
          </div>

          <div layout="row" class="tag-container">
            <div ng-repeat="pod in ctrl.data.pods">
              <nv-tag name="POD-{{ pod.id }}"
                md-theme="nvGreen"
                on-click="ctrl.function.selectPod($event, pod.id)"
                class="{{ pod.class }}">
            </div>
          </div>

          <div class="pod-table-container">
            <div flex="100" layout="row">
              <div flex="50" class="general-row">{{ 'container.shipper-pickups.dialog.orders-scanned-at-shipper' | translate }}</div>
              <div flex="50" class="general-row">{{ 'container.shipper-pickups.dialog.orders-inbounded-at-warehouse' | translate }}</div>
            </div>
            <div flex="100" layout="row">
              <div flex="50" class="pod-table-content">
                <div class="content-row general-row" layout="row" ng-if="ctrl.data.selectedPod.shipper_scans.length === 0">No data</div>
                <div class="content-row general-row" layout="row" ng-if="ctrl.data.selectedPod.shipper_scans.length > 0" ng-repeat="scan in ctrl.data.selectedPod.shipper_scans">{{ scan || '(NULL)' }}</div>
              </div>
              <div flex="50" class="pod-table-content">
                <div class="content-row general-row" layout="row" ng-if="ctrl.data.selectedPod.hub_scans.length === 0">No data</div>
                <div class="content-row general-row" layout="row" ng-if="ctrl.data.selectedPod.hub_scans.length > 0" ng-repeat="scan in ctrl.data.selectedPod.hub_scans">{{ scan || '(NULL)' }}</div>
              </div>
            </div>
          </div>
        </div>

        <div ng-if="ctrl.data.pods.length < 1">
          {{ 'container.shipper-pickups.dialog.pod-not-found' | translate }}
        </div>
      </div>
    </div>
    
    <!-- ERROR -->
    <div class="md-dialog-content" ng-if="ctrl.state.masterView === 2">
      ERROR
    </div>
  </md-dialog-content>
</form>