@import "../../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../../lib/ninja-commons/styles/functions/utils";

nv-tag {
  $tagHeight: 2.8rem;
  margin-right: 7px;

  &:last-child {
    margin-right: 0;
  }

  > span {
    display: inline-block;
    padding: 3.5px 14px;
    height: $tagHeight;

    cursor: default;

    @include nv-font(p);
    @include nv-font-weight(medium);

    -webkit-border-radius: $tagHeight/2;
    -moz-border-radius: $tagHeight/2;
    border-radius: $tagHeight/2;

    background-color: map-get(map-get($themeColor, $defaultThemeColor), 'dark');
    color: $nv-light0;

    @each $key, $colors in $themeColor{
      &#{toThemeClass($key)} {
        background-color: map-get($colors, 'dark');
        color: $nv-light0;
      }
    }

    &.nv-tag-purple {
      background-color: #B20BBA;
      color: $nv-light0;
    }

    &.nv-tag-light-purple {
      background-color: #D6AEFD;
      color: $nv-text-black;
    }

    &.nv-tag-orange {
      background-color: #FF9900;
      color: $nv-text-black;
    }

    &.nv-tag-yellow {
      background-color: #FFFF00;
      color: $nv-text-black;
    }

    &.nv-tag-light-blue {
      background-color: #99E1E1;
      color: $nv-text-black;
    }
  }
}