@import "../../../lib/ninja-commons/styles/variables";
@import "../../../lib/ninja-commons/styles/mixins/button.mixins";
@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";

.nv-container-global-settings {
  height: 100%;

  .containers {
    height: 100%;

    .vertical-padding-4 {
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
    }

    .flexible-button {
      width: 33%;

      @include nv-media-query-xs-max {
        width: 100%;
      }

      @include nv-media-query-md-min {
        width: 100%;
      }
    }

    .autocomplete-label {
      label {
        color: rgba(33,33,33,0.67);
        font-size: 1.2rem;
      }
    }

    .parcel-router-container {
      height: 4rem;
      
      .btn-group {
        min-width: 0 !important;
      }
    }

    .shipper-button-container  {
      display: table;
      width: 100%;
      min-height: $container-height;
      white-space: nowrap;
      padding-bottom: $filter-padding;
      
      nv-icon-text-button {
        display: inline-block;
        float: left;
        margin-right: 0.7rem;
        margin-top: 0.7rem;

        &:nth-child(15n+1)  .shipper-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,2); border-color: nth($nv-colors,2); &:hover { border-color: darken(nth($nv-colors,2), 10%); } }
        &:nth-child(15n+2)  .shipper-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,3); border-color: nth($nv-colors,3); &:hover { border-color: darken(nth($nv-colors,3), 10%); } }
        &:nth-child(15n+3)  .shipper-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,4); border-color: nth($nv-colors,4); &:hover { border-color: darken(nth($nv-colors,4), 10%); } }
        &:nth-child(15n+4)  .shipper-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,5); border-color: nth($nv-colors,5); &:hover { border-color: darken(nth($nv-colors,5), 10%); } }
        &:nth-child(15n+5)  .shipper-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,6); border-color: nth($nv-colors,6); &:hover { border-color: darken(nth($nv-colors,6), 10%); } }
        &:nth-child(15n+6)  .shipper-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,7); border-color: nth($nv-colors,7); &:hover { border-color: darken(nth($nv-colors,7), 10%); } }
        &:nth-child(15n+7)  .shipper-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,8); border-color: nth($nv-colors,8); &:hover { border-color: darken(nth($nv-colors,8), 10%); } }
        &:nth-child(15n+8)  .shipper-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,9); border-color: nth($nv-colors,9); &:hover { border-color: darken(nth($nv-colors,9), 10%); } }
        &:nth-child(15n+9)  .shipper-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,10); border-color: nth($nv-colors,10); &:hover { border-color: darken(nth($nv-colors,10), 10%); } }
        &:nth-child(15n+10) .shipper-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,11); border-color: nth($nv-colors,11); &:hover { border-color: darken(nth($nv-colors,11), 10%); } }
        &:nth-child(15n+11) .shipper-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,12); border-color: nth($nv-colors,12); &:hover { border-color: darken(nth($nv-colors,12), 10%); } }
        &:nth-child(15n+12) .shipper-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,13); border-color: nth($nv-colors,13); &:hover { border-color: darken(nth($nv-colors,13), 10%); } }
        &:nth-child(15n+13) .shipper-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,14); border-color: nth($nv-colors,14); &:hover { border-color: darken(nth($nv-colors,14), 10%); } }
        &:nth-child(15n+14) .shipper-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,15); border-color: nth($nv-colors,15); &:hover { border-color: darken(nth($nv-colors,15), 10%); } }
        &:nth-child(15n+15) .shipper-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,1); border-color: nth($nv-colors,1); &:hover { border-color: darken(nth($nv-colors,1), 10%); } }
      }
    }

    .high-priority-checkbox {
      margin: 0.8rem 0 0.5rem 0;

      .md-label {
        line-height: 2rem;
        font-size: 1.3rem;
      }

      md-checkbox          { color: $nv-tb32;        }
      md-checkbox .md-icon { border-color: $nv-tb32; }

      md-checkbox.md-checked                { color: $nv-normal-orange;            }
      md-checkbox.md-checked .md-icon       { background-color: $nv-normal-orange; }
      md-checkbox.md-checked .md-icon:after { border-color: $nv-dark0;             }
    }

    .md-errors-spacer {
      min-height: 0.1rem;
      height: 0.1rem;
    }
  }
}