<md-content
  class="nv-container-global-settings"
  nv-load="ctrl.function.init"
  loading-message="{{'commons.load-data' | translate}}">

  <div layout="row" layout-wrap>
    <div flex-xs="100" flex-sm="100" flex="33" class="containers" layout="column">
      <!-- CARD #11  -->
      <md-card>
        <md-card-title>
          <h5>{{ 'container.global-settings.parcel-router' | translate }}</h5>
        </md-card-title>
        <md-card-content>
          <div class="parcel-router-container" ng-show="ctrl.state.parcelRouter === 0">
            <nv-btn-grp
              model="ctrl.data.parcelRouter"
              label-for-model-idx-0="{{ 'container.global-settings.lock' | translate }}"
              label-for-model-idx-1="{{ 'container.global-settings.unlock' | translate }}"
              select-multiple="false"
              select-none="false"
              default-selection="'10'">
            </nv-btn-grp>
          </div>
          <div class="parcel-router-container" ng-show="ctrl.state.parcelRouter === 1">
            <md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>
          </div>
        </md-card-content>
      </md-card>
      <!-- CARD #12  -->
      <md-card>
        <md-card-title>
          <h5>{{ 'container.global-settings.sms-notification-settings' | translate }}</h5>
        </md-card-title>
        <md-card-content>
        <div>
          <nv-input-checkbox
            class="nv-text-no-select high-priority-checkbox"
            label="{{ 'container.global-settings.enable-van-inbound-sms-shipper-ids' | translate }}"
            model="ctrl.data.enableVanInboundSMS">
          </nv-input-checkbox>
          <!-- auto complete shipper id -->
          <div class="md-block autocomplete-label vertical-padding-6" layout="column" flex="100">
            <label>{{ 'container.global-settings.shippers' | translate }}</label>
            <nv-autocomplete
              class="autocomplete-container"
              placeholder="commons.search-or-select"
              search-text="ctrl.view.smsSettings.searchText"
              delegate-handle="global-settings-shipper"
              multiple="true"
              item-types="shipper"
              selected-options="ctrl.data.selectedShipper"
              hide-dropdown-icon="true"
              delay="300"
              clear-on-blur="false"
              min-text-length="3">
            </nv-autocomplete>
          </div>
          <div ng-if="ctrl.data.selectedShipper.length <= 0">
            {{ 'container.global-settings.no-exempted-shippers' | translate }}
          </div>
          <div ng-if="ctrl.data.selectedShipper.length > 0">
            <div>
              <strong>{{ 'container.global-settings.exempted-shippers-from-sms' | translate }}</strong>
            </div>
            <div class="shipper-button-container">
              <nv-icon-text-button
                name="{{ shipper.displayName }}"
                ng-repeat="shipper in ctrl.data.selectedShipper"
                icon-position="right"
                icon="close"
                class="ghost dense shipper-button"
                aria-label="{{shipper.displayName}}"
                on-click="ctrl.function.onRemoveShipper(shipper)">
              </nv-icon-text-button>
            </div>
          </div>
        </div>
        </md-card-content>
        <md-card-actions>
          <nv-api-text-button
            md-theme="nvGreen"
            class="raised flexible-button"
            state="ctrl.state.smsSettings.update"
            name="commons.update"
            disabled="ctrl.view.smsSettings.updateDisabled"
            on-click="::ctrl.function.updateSmsNotificationSettings()">
          </nv-api-text-button>
        </md-card-actions>
      </md-card>
    </div>
    <div flex-xs="100" flex-sm="100" flex="33" class="containers" layout="column">
      <!-- CARD #21  -->
      <md-card>
        <md-card-title>
          <h5>{{ 'container.global-settings.set-aside-logic-settings' | translate }}</h5>
        </md-card-title>
        <md-card-content>
          <div layout>
            <nv-input-text
              id="field-script-name"
              flex="50"
              label="container.global-settings.planned-capacity"
              model="ctrl.data.plannedCapacity">
            </nv-input-text>
            <nv-api-text-button flex="50"
              md-theme="nvGreen"
              class="raised"
              state="ctrl.state.setAside.update"
              name="commons.update"
              disabled="ctrl.view.setAside.updateDisabled"
              on-click="::ctrl.function.updateInboundLimit()">
            </nv-api-text-button>
          </div>
        </md-card-content>
        <md-card-actions layout="column">
          <nv-api-text-button
            md-theme="nvBlue"
            class="raised flexible-button"
            state="ctrl.state.setAside.recalc"
            name="container.global-settings.recalculate-parcels-in-warehouse"
            disabled="ctrl.view.setAside.recalcDisabled"
            on-click="::ctrl.function.getInboundCounter()">
          </nv-api-text-button>
          <div class="vertical-padding-4"></div>
          <nv-api-text-button
            md-theme="nvBlue"
            class="raised flexible-button"
            state="ctrl.state.setAside.clear"
            name="container.global-settings.clear-set-aside-parcel-data"
            disabled="ctrl.view.setAside.clearDisabled"
            on-click="::ctrl.function.clearSetAsideData()">
          </nv-api-text-button>
        </md-card-actions>
      </md-card>

      <md-card>
        <md-card-title>
          <h5>{{ 'container.global-settings.inbound-settings' | translate }}</h5>
        </md-card-title>
        <md-card-content>
          <form name="ctrl.data.weightTolerance.form">
            <div layout="row">
              <nv-input-text
                name="inputWeightTolerance"
                flex
                label="container.global-settings.weight-tolerance"
                model="ctrl.data.weightTolerance.value"
                error-msgs="ctrl.data.weightTolerance.errors"
                on-change="::ctrl.data.weightTolerance.onChange()"
                form="ctrl.data.weightTolerance.form">
              </nv-input-text>
              <nv-api-text-button
                md-theme="nvGreen"
                class="raised"
                state="ctrl.data.weightTolerance.state"
                name="commons.update"
                form="ctrl.data.weightTolerance.form"
                on-click="::ctrl.function.updateWeightTolerance()">
              </nv-api-text-button>
            </div>
          </form>
          <form name="ctrl.data.maxWeightLimit.form">
            <div layout="row">
              <nv-input-text
                name="inputMaxWeightLimit"
                flex
                label="container.global-settings.max-weight-limit"
                model="ctrl.data.maxWeightLimit.value"
                error-msgs="ctrl.data.maxWeightLimit.errors"
                on-change="::ctrl.data.maxWeightLimit.onChange()"
                form="ctrl.data.maxWeightLimit.form">
              </nv-input-text>
              <nv-api-text-button
                md-theme="nvGreen"
                class="raised"
                state="ctrl.data.maxWeightLimit.state"
                name="commons.update"
                form="ctrl.data.maxWeightLimit.form"
                on-click="::ctrl.function.updateMaxWeightLimit()">
              </nv-api-text-button>
            </div>
          </form>
        </md-card-content>
      </md-card>

    </div>
    <div flex-xs="100" flex-sm="100" flex="33" class="containers" layout="column">
      <!-- CARD #31  -->
      <md-card>
        <md-card-title>
          <h5>{{ 'container.global-settings.outbound-percentage-settings' | translate }}</h5>
        </md-card-title>
        <md-card-content>
        <div layout>
          <nv-input-text
            id="field-outbound-percentage"
            flex="50"
            label="container.global-settings.outbound-percentage"
            model="ctrl.data.outboundPercentage">
          </nv-input-text>
        </div>
        </md-card-content>
        <md-card-actions>
          <nv-api-text-button
            md-theme="nvGreen"
            class="raised"
            state="ctrl.state.outboundPercentage.update"
            name="commons.update"
            disabled="ctrl.view.outboundPercentage.updateDisabled"
            on-click="::ctrl.function.updateOutboundLimit()">
          </nv-api-text-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</md-content>
