@import "../../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/media-query.mixins";
@import "../../../../views/container/zonal-routing/zonal-routing.mixins";
@import "../../../../styles/variables";

.nv-container-zr-assignment-improved {
  md-menu-bar {
    display: inline-block;
    padding: 0;

    .btn-apply-action {
      min-width: 14rem;

      > span {
        flex-grow: 1;
      }
    }
  }

  .filter-selection {
    border: 0;

    .main-title > p {
      display: block;
      font-size: 12px;
      margin: 0;

      @include nv-font-weight(regular);
    }
  }

  @include action-toolbar {
    nv-icon-text-button {
      display: inline-block;
      vertical-align: middle;
    }

    &.custom-section {
      border: 1px solid $nv-light2;

      form {
        margin: -1rem;

        .action-toolbar-section {
          height: 100%;
          border: 0;
          border-right: 1px solid $nv-light2;
          padding: 1rem;
          width: 100%;

          &.no-border {
            border: 0;
          }

          @include nv-media-query-sm-max {
            border-right: 0;
          }
        }
      }
    }

    .action-toolbar-section {
      display: inline-block;
      padding: $nv-baseline-grid*2;
      border: 1px solid $nv-light2;
      float: left;

      > * {
        display: inline-block;
      }

      @include nv-media-query-sm-max {
        display: block;
        text-align: center;
        float: none;
        height: auto;
      }

      .data-blocks {
        .data-block {
          display: inline-block;
          margin-right: $nv-baseline-grid*3;
          vertical-align: top;

          &.data-block-ellipsis {
            $ellipsis-max-width: 18rem;

            max-width: $ellipsis-max-width;

            label {
              + p, + h4, + h5 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }

            md-select-value {
              max-width: $ellipsis-max-width;

              span:not(.md-select-icon) {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }

          @include nv-media-query-sm-max {
            display: block;
            margin-right: 0;
            height: auto;
          }

          label {
            color: $nv-text-white-2;
            display: block;
            font-size: 12px;

            +p, +h4, +h5 {
              margin-top: 0;
              margin-bottom: 0;
              color: $nv-light0;
            }
          }

          &:last-child {
            margin-right: 0;
          }

          nv-icon-text-button {
            @include nv-media-query-sm-max {
              margin-bottom: $nv-baseline-grid;
            }
          }
        }
      }

      .nv-input-date {
        margin-top: 2.8rem;
        margin-bottom: 0;

        label {
          color: $nv-text-white-2;
        }

        &.disabled {
          opacity: 0.5;
        }

        md-datepicker {
          background-color: transparent;

          md-icon, .md-datepicker-input {
            color: $nv-tb05;
          }

          .md-datepicker-expand-triangle {
            border-top-color: $nv-tb05;
            opacity: 0.5;
          }

          &.md-datepicker-open {
            .md-datepicker-input-container {
              background-color: #fff;
              height: 4.2rem;
            }

            .md-datepicker-input {
              color: initial;
            }
          }
        }
      }

      .btn-group {
        min-width: 0 !important;
      }

      .filter-selection {
        .main-title > p {
          color: $nv-text-white-2;
        }
      }

      .horizontal-scroll {
        overflow: auto;
        white-space: nowrap;
        display: block;

        nv-icon-text-button {
          margin-top: $nv-baseline-grid;

          @each $color in $nv-colors {
            $i: index($nv-colors, $color);

            @if $i == 1 {
              $i: length($nv-colors);
            } @else {
              $i: $i - 1;
            }

            .color-#{$i} {
              &.nv-button.md-button.ghost:not([disabled]) {
                color: $color;
                border-color: $color;
                background-color: #fff;

                &:hover {
                  border-color: darken($color, 10%);
                  color: darken($color, 10%);
                  background-color: darken(#fff, 10%);
                }
              }
            }
          }
        }
      }
    }

    .fetch-transactions {
      margin: $nv-baseline-grid*2;
    }

    .right-container {
      position: relative;

      .buttons-holder {
        position: absolute;
        bottom: 1rem;
        right: 0;
        padding-bottom: $nv-baseline-grid;

        @include nv-media-query-sm-max {
          position: static;

          md-menu-bar {
            margin-top: $nv-baseline-grid;
            margin-bottom: $nv-baseline-grid;
          }
        }
      }
    }
  }

  > div.content {
    height: 100%;

    md-toolbar {
      background-color: $nv-dark2 !important;
    }

    div[dnd-list], .dnd-list {
      margin: 0;

      .item {
        display: block;
        line-height: 3rem;

        .item-label {
          > div > span {
            font-size: 1.2rem;
            text-transform: none;
            float: left;
            height: 1.8rem;

            i {
              font-size: 1.2rem;
              line-height: normal;

              &.material-icons {
                vertical-align: middle;
                line-height: 1.8rem;
              }

              + span {
                vertical-align: middle;
              }
            }
          }

          > div.driver-by-zone-item-label > span {
            &.zone-name {
              width: 50%;
            }

            &.driver-count {
              width: 25%;

              > span {
                display: inline-block;
                min-width: 2.2rem;
                text-align: right;
              }
            }

            &.max-capacity {
              width: 25%;

              > span {
                display: inline-block;
                min-width: 3rem;
                text-align: right;
              }
            }
          }

          > div.driver-item-label > span {
            &.zone-name {
              width: 30%;
            }

            &.driver-name {
              width: 45%;
            }

            &.vehicle-capacity {
              width: 25%;

              > span {
                display: inline-block;
                min-width: 3rem;
                text-align: right;
              }
            }
          }
        }
      }

      > div.placeholder {
        height: 3.2rem;
      }
    }

    .zones-section {
      .fetch-instruction-holder {
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        margin-top: 2rem;

        @include nv-media-query-md-min {
          margin-top: 3rem;
        }

        @include nv-media-query-lg-min {
          margin-top: 4rem;
        }

        @include nv-media-query-xl-min {
          margin-top: 5rem;
        }
      }

      .table-container {
        height: 100%;
        flex: 1;

        nv-table.zone-assignment-table {
          // column width
          @include nv-table-column-width(name, 18rem);
          @include nv-table-column-width(priority, 9rem);
          @include nv-table-column-width(parcels-to-do, 13rem);
          @include nv-table-column-width(condition, 10rem);
          @include nv-table-column-width(capacity, 25rem);

          // row height
          @include nv-table-row-height(20rem);

          tbody td, tbody th {
            > *:first-child {
              display: block;
              min-height: 5rem;
            }

            > *:last-child {
              margin-bottom: 0;
            }

            &.name {
              md-checkbox .md-icon {
                width: 100%;
                height: 100%;
              }
            }

            &.parcels-to-do {
              .dl-horizontal {
                margin: 0;

                dt {
                  float: left;
                }

                dd {
                  margin-left: 2rem;
                }
              }
            }

            &.capacity {
              .item {
                nv-icon-text-button {
                  display: block;

                  button {
                    width: 100%;

                    ng-transclude {
                      width: 100%;
                    }
                  }
                }
              }

              .remove-all {
                color: $nv-tb59;
                float: right;
                position: relative;
                top: -0.5rem;
              }

              nv-drag-and-drop {
                max-height: 15rem;
                overflow-x: hidden;
                overflow-y: auto;
              }
            }
          }

          .last-row:not(.last-row-no-result) {
            $lastRowHeight: 4rem;

            height: $lastRowHeight;

            .end-of-result {
              height: $lastRowHeight;

              .end-of-table {
                height: $lastRowHeight;

                p {
                  display: none;
                }
              }
            }
          }
        }
      }
    }

    .unassigned-drivers-section {
      md-content {
        padding-left: 0;
        padding-right: 0;
        border-left: 1px solid $nv-border-color;

        .layout-padding {
          > div {
            padding: 0;
          }
        }

        h5 {
          margin-bottom: $nv-baseline-grid*2;
          font-size: 1.6rem;
          @include nv-font-weight(medium);
        }

        .filter-section {
          h5 {
            margin-top: $nv-baseline-grid;
          }

          .filter-selection {
            margin-bottom: $nv-baseline-grid;

            .main-title > p {
              color: $nv-text-black-2;
            }

            .button-container {
              padding-bottom: 0;

              nv-icon-text-button {
                display: inline-block;
              }
            }
          }

          .checkbox-container md-checkbox {
            font-size: 1.2rem;

            span {
              line-height: 2rem;
              -ms-text-overflow: ellipsis;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }
        }

        .filter-result-section {
          h5 {
            margin-bottom: 0;
          }

          .filter-summary {
            margin-left: -0.8rem;
            margin-right: -0.8rem;
            padding: $nv-baseline-grid*1.5 $nv-baseline-grid;
            background-color: #f6f6f6;
            @include nv-font(small);
            @include nv-font-weight(medium);
          }
        }

        .quickdraws-title-holder {
          background-color: $nv-light2;
          border: 1px solid $nv-border-color;

          p {
            margin: 0;
          }
        }

        .drivers-by-zones-dnd {
          max-height: 20rem;
          overflow-x: hidden;
          overflow-y: auto;
        }

        .drivers-table-header-holder {
          .drivers-table-header {
            margin-bottom: 0;

            th {
              padding-left: 0.8rem;
              padding-right: 0.8rem;
              outline: none;
              background-color: $nv-light2;
              @include nv-font-color(black, 2);
              font-weight: normal;

              i {
                margin-right: 0.5rem;
                color: nth($nv-colors, 1);
              }

              nv-search-input-filter {
                background-color: $nv-light0;
                outline: none;
              }
            }
          }
        }

        .drivers-table-content-holder {
          height: 35rem;
          overflow-x: hidden;
          overflow-y: auto;
        }
      }
    }
  }
}