<div class="nv-container-zr-assignment-improved">
  <div class="action-toolbar dark custom-section"
       ng-if="nvZonalRouting.isEditFetchTransactionsSetting">
    <div layout="row">
      <div flex>
        <form name="ctrl.zonesForm">
          <div layout="row" layout-sm="column" layout-xs="column">
            <div>
              <div class="action-toolbar-section">
                <nv-input-date
                  label="container.zonal-routing.route-date"
                  model="nvZonalRouting.routeDate"
                  required="true"
                  form="ctrl.zonesForm">
                </nv-input-date>
              </div>
            </div>
            <div>
              <div class="action-toolbar-section">
                <nv-input-date
                  ng-class="{ 'disabled': nvZonalRouting.isFetchByRouteGroup() }"
                  disabled="nvZonalRouting.isFetchByRouteGroup()"
                  label="container.zonal-routing.order-creation-date"
                  model="nvZonalRouting.orderCreationDate"
                  required="true"
                  form="ctrl.zonesForm">
                </nv-input-date>
              </div>
            </div>
            <div flex>
              <div layout="row" layout-sm="column" layout-xs="column">
                <div>
                  <div class="action-toolbar-section no-border">
                    <div class="data-blocks">
                      <div class="data-block">
                        <label>{{'container.zonal-routing.selector' | translate}}</label>
                        <nv-btn-grp
                          class="dark"
                          model="nvZonalRouting.fetchTransactionsMode"
                          label-for-model-idx-0="{{'container.zonal-routing.zones' | translate}}"
                          label-for-model-idx-1="{{'commons.route-groups' | translate}}"
                          form="ctrl.zonesForm" select-multiple="false" select-none="false" default-selection="nvZonalRouting.fetchTransactionsMode">
                        </nv-btn-grp>
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-if="!nvZonalRouting.isFetchByRouteGroup()"
                     flex>
                  <div class="action-toolbar-section no-border">
                    <nv-filter-box
                      class="zones-selection filter-selection"
                      delegate-handle="{{ ctrl.zoneFilter.delegateHandle }}"
                      search-text="ctrl.zoneFilter.searchText"
                      persist-search-text="true"
                      possible-options="ctrl.zoneFilter.possibleOptions"
                      selected-options="ctrl.zoneFilter.selectedOptions"
                      main-title="{{'container.zonal-routing.search-and-select-zones' | translate}}"
                      placeholder="{{'commons.search-or-select' | translate}}"
                      item-types="zones"
                      is-mandatory="true"
                      hide-close="true"
                      show-selected="false"
                      show-suggestion-when-empty="true"
                      on-change="ctrl.windowSizeChanged()"
                      theme="dark">
                    </nv-filter-box>

                    <div class="horizontal-scroll">
                      <nv-icon-text-button
                        ng-repeat="zone in ctrl.zoneFilter.selectedOptions"
                        name="{{ zone.displayName }}"
                        icon-position="right"
                        icon="close"
                        class="ghost dense dark"
                        ng-clazz="ctrl.getSelectedOptionClass($index)"
                        aria-label="{{ zone.displayName }}"
                        on-click="ctrl.selectedOptionOnRemove(ctrl.zoneFilter.delegateHandle, zone)">
                      </nv-icon-text-button>
                    </div>
                  </div>
                </div>
                <div ng-if="nvZonalRouting.isFetchByRouteGroup()"
                     flex>
                  <div class="action-toolbar-section no-border">
                    <nv-filter-box
                      class="route-groups-selection filter-selection"
                      delegate-handle="{{ ctrl.routeGroupFilter.delegateHandle }}"
                      search-text="ctrl.routeGroupFilter.searchText"
                      persist-search-text="true"
                      possible-options="ctrl.routeGroupFilter.possibleOptions"
                      selected-options="ctrl.routeGroupFilter.selectedOptions"
                      main-title="{{'container.zonal-routing.search-and-select-route-groups' | translate}}"
                      placeholder="{{'commons.search-or-select' | translate}}"
                      item-types="routeGroup"
                      is-mandatory="true"
                      hide-close="true"
                      show-selected="false"
                      sort-by="value"
                      sort-order="desc"
                      show-suggestion-when-empty="true"
                      on-change="ctrl.windowSizeChanged()"
                      theme="dark">
                    </nv-filter-box>

                    <div class="horizontal-scroll">
                      <nv-icon-text-button
                        ng-repeat="routeGroup in ctrl.routeGroupFilter.selectedOptions"
                        name="{{ routeGroup.displayName }}"
                        icon-position="right"
                        icon="close"
                        class="ghost dense dark"
                        ng-clazz="ctrl.getSelectedOptionClass($index)"
                        aria-label="{{ routeGroup.displayName }}"
                        on-click="ctrl.selectedOptionOnRemove(ctrl.routeGroupFilter.delegateHandle, routeGroup)">
                      </nv-icon-text-button>
                    </div>
                  </div>
                </div>
                <div class="nv-text-center">
                  <nv-icon-text-button
                    class="raised dark fetch-transactions"
                    name="container.zonal-routing.fetch"
                    disabled="!ctrl.isAbleToFetchTransactions()"
                    on-click="ctrl.fetchTransactions()">
                  </nv-icon-text-button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="action-toolbar dark"
       ng-if="!nvZonalRouting.isEditFetchTransactionsSetting">
    <div layout="row" layout-sm="column" layout-xs="column">
      <div>
        <div class="action-toolbar-section">
          <div class="data-blocks">
            <div class="data-block">
              <label>{{'container.zonal-routing.route-date' | translate}}</label>
              <p>{{ nvZonalRouting.routeDate | nvTime:'operator':'date' }}</p>
            </div>
            <div class="data-block data-block-ellipsis"
                 ng-if="nvZonalRouting.isFetchByRouteGroup()">
              <label>{{'container.zonal-routing.route-group' | translate}}</label>
              <p>{{ nvZonalRouting.getRouteGroupNames() }}</p>
            </div>
            <div class="data-block"
                 ng-if="!nvZonalRouting.isFetchByRouteGroup()">
              <label>{{'container.zonal-routing.order-creation-date' | translate}}</label>
              <p>{{ nvZonalRouting.orderCreationDate | nvTime:'operator':'date' }}</p>
            </div>
            <div class="data-block">
              <nv-icon-text-button
                class="ghost dark"
                name="commons.edit"
                on-click="ctrl.editFetchTransactionsSetting()">
              </nv-icon-text-button>
            </div>
          </div>
        </div>
      </div>
      <div flex
           class="right-container nv-text-right">
        <div class="buttons-holder" ng-if="nvZonalRouting.zoneTransactions !== null">
          <md-menu-bar>
            <md-menu md-position-mode="target-right target">
              <md-button
                class="nv-button ghost dark btn-apply-action"
                type="button"
                aria-label="Action"
                ng-click="$mdOpenMenu($event)">
                <span class="nv-text-ellipsis nv-text-left">{{'container.zonal-routing.zone-actions' | translate}}</span>
                <i class="material-icons">arrow_drop_down</i>
              </md-button>

              <md-menu-content class="actions-holder">
                <md-menu-item>
                  <md-button class="nv-button flat alternate"
                             type="button"
                             aria-label="{{'container.zonal-routing.merge-all-waypoints' | translate}}"
                             ng-click="ctrl.mergeTransactions(ctrl.ALL_ZONES_ID)">
                    <span>{{'container.zonal-routing.merge-all-waypoints' | translate}}</span>
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button class="nv-button flat alternate"
                             type="button"
                             aria-label="{{'container.zonal-routing.unmerge-all-waypoints' | translate}}"
                             ng-click="ctrl.unmergeTransactions(ctrl.ALL_ZONES_ID)">
                    <span>{{'container.zonal-routing.unmerge-all-waypoints' | translate}}</span>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </md-menu-bar>

          <md-menu-bar>
            <md-menu md-position-mode="target-right target">
              <md-button
                class="nv-button ghost dark btn-apply-action"
                type="button"
                aria-label="Action"
                ng-click="$mdOpenMenu($event)">
                <span class="nv-text-ellipsis nv-text-left">{{'container.zonal-routing.driver-actions' | translate}}</span>
                <i class="material-icons">arrow_drop_down</i>
              </md-button>

              <md-menu-content class="actions-holder">
                <md-menu-item>
                  <md-button class="nv-button flat alternate"
                             type="button"
                             aria-label="{{'container.zonal-routing.auto-assign-drivers-to-zones' | translate}}"
                             ng-click="ctrl.showAutoAssignDriversModal($event)">
                    <span>{{'container.zonal-routing.auto-assign-drivers-to-zones' | translate}}</span>
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button class="nv-button flat alternate"
                             type="button"
                             aria-label="{{'container.zonal-routing.remove-drivers-from-all-zones' | translate}}"
                             ng-click="ctrl.emptyDriversAssignment()">
                    <span>{{'container.zonal-routing.remove-drivers-from-all-zones' | translate}}</span>
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button class="nv-button flat alternate"
                             type="button"
                             aria-label="{{'container.zonal-routing.reset-drivers' | translate}}"
                             ng-click="ctrl.resetDriversAssignment()">
                    <span>{{'container.zonal-routing.reset-drivers' | translate}}</span>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </md-menu-bar>

          <nv-icon-text-button
            md-theme="nvGreen"
            class="raised dark"
            name="container.zonal-routing.update-assignment"
            icon="done"
            on-click="ctrl.updateDriverAssignment()">
          </nv-icon-text-button>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div ng-if="ctrl.contentLoading.status == true"
         class="loading message-container" layout="column" layout-align="center center">
      <md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>
      <div class="md-body-2 message">{{ ctrl.contentLoading.message | translate }}</div>
    </div>
    <div ng-if="ctrl.contentLoading.status == false"
         layout="row" layout-xs="column" layout-fill>
      <div flex="70" flex-xs="100"
           class="zones-section">
        <div layout="column"
             class="fill-height"
             ng-style="ctrl.resizeWithOffset()">
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2 class="md-flex white">{{ 'container.zonal-routing.zones' | translate }}</h2>
            </div>
          </md-toolbar>
          <md-content flex>
            <div
              ng-if="nvZonalRouting.zoneTransactions === null || nvZonalRouting.isEditFetchTransactionsSetting">
              <div class="fetch-instruction-holder" layout="column" layout-align="center center">
                <div class="md-subhead light-black">
                  {{ 'container.zonal-routing.select-route-date-instruction' | translate }}
                </div>
              </div>
            </div>

            <div class="table-container"
                 ng-if="nvZonalRouting.zonesTableParams && !nvZonalRouting.zonesTableParams.empty && nvZonalRouting.zoneTransactions !== null && !nvZonalRouting.isEditFetchTransactionsSetting">
              <nv-table
                class="zone-assignment-table"
                param="nvZonalRouting.zonesTableParams"
                controller-as="ctrl">
                <nv-table-row
                  use="zone"
                  row-height="200">
                  <nv-td column="name" highlight-text="false">
                    <h5>{{ zone.name }}</h5>
                    <nv-icon-text-button
                      md-theme="nvBlue"
                      class="raised dense"
                      name="container.zonal-routing.edit-routes"
                      icon="mode_edit"
                      on-click="ctrl.routeZone(zone.id, $event)">
                    </nv-icon-text-button>

                    <md-menu-bar ng-if="!zone.isCustomZone">
                      <md-menu md-position-mode="target target">
                        <md-button
                          class="nv-button ghost dense btn-apply-action"
                          type="button"
                          aria-label="Action"
                          ng-click="$mdOpenMenu($event)">
                          <span class="nv-text-ellipsis nv-text-left">{{'container.zonal-routing.route-actions' | translate}}</span>
                          <i class="material-icons">arrow_drop_down</i>
                        </md-button>

                        <md-menu-content class="actions-holder" width="3">
                          <md-menu-item>
                            <md-button class="nv-button flat alternate"
                                       type="button"
                                       aria-label="{{'container.zonal-routing.assign-rbe-and-algo' | translate}}"
                                       ng-click="ctrl.sendDriversAssignment(zone.id, $event, ctrl.ROUTE_TYPE.NORMAL)">
                              <span>{{'container.zonal-routing.assign-rbe-and-algo' | translate}}</span>
                            </md-button>
                          </md-menu-item>
                          <md-menu-item>
                            <md-button class="nv-button flat alternate"
                                       type="button"
                                       aria-label="{{'container.zonal-routing.assign-bulky-rbe-and-algo' | translate}}"
                                       ng-click="ctrl.sendDriversAssignment(zone.id, $event, ctrl.ROUTE_TYPE.BULKY)">
                              <span>{{'container.zonal-routing.assign-bulky-rbe-and-algo' | translate}}</span>
                            </md-button>
                          </md-menu-item>
                          <md-menu-item>
                            <md-button class="nv-button flat alternate"
                                       type="button"
                                       aria-label="{{'container.zonal-routing.volumetric-assign-rbe-and-algo' | translate}}"
                                       ng-click="ctrl.sendDriversAssignment(zone.id, $event, ctrl.ROUTE_TYPE.VOLUMETRIC)">
                              <span>{{'container.zonal-routing.volumetric-assign-rbe-and-algo' | translate}}</span>
                            </md-button>
                          </md-menu-item>
                          <md-menu-item>
                            <md-button class="nv-button flat alternate"
                                       type="button"
                                       aria-label="{{'container.zonal-routing.merge-waypoints' | translate}}"
                                       ng-click="ctrl.mergeTransactions(zone.id)">
                              <span>{{'container.zonal-routing.merge-waypoints' | translate}}</span>
                            </md-button>
                          </md-menu-item>
                          <md-menu-item>
                            <md-button class="nv-button flat alternate"
                                       type="button"
                                       aria-label="{{'container.zonal-routing.unmerge-waypoints' | translate}}"
                                       ng-click="ctrl.unmergeTransactions(zone.id)">
                              <span>{{'container.zonal-routing.unmerge-waypoints' | translate}}</span>
                            </md-button>
                          </md-menu-item>
                          <md-menu-item>
                            <md-button class="nv-button flat alternate"
                                       type="button"
                                       aria-label="{{'container.zonal-routing.set-parcels-aside' | translate}}"
                                       ng-click="ctrl.setBuff(zone, $event)">
                              <span>{{'container.zonal-routing.set-parcels-aside' | translate}}</span>
                            </md-button>
                          </md-menu-item>
                        </md-menu-content>
                      </md-menu>
                    </md-menu-bar>
                  </nv-td>
                  <nv-td column="priority" filter="false">
                    <span class="nv-text-right">
                      <strong ng-if="!zone.isCustomZone">{{ zone.priority }}</strong>
                      <strong ng-if="zone.isCustomZone">{{ 'container.zonal-routing.na' | translate }}</strong>
                    </span>
                  </nv-td>
                  <nv-td column="parcelsToDo" filter="false">
                    <span class="nv-text-right"><strong>{{ zone.parcelsToDo }}</strong></span>

                    <dl ng-if="!zone.isCustomZone"
                        class="dl-horizontal">
                      <dt class="light-black">{{ 'commons.priority' | translate }}:</dt>
                      <dd class="light-black nv-text-right">{{ zone.priority }}</dd>

                      <dt class="light-black">{{ 'container.zonal-routing.non-priorities' | translate }}:</dt>
                      <dd class="light-black nv-text-right">{{ zone.nonPriority }}</dd>

                      <dt class="light-black">{{ 'container.zonal-routing.set-aside' | translate }}:</dt>
                      <dd class="light-black nv-text-right">{{ zone.buffer }}</dd>
                    </dl>
                    <dl ng-if="zone.isCustomZone"
                        class="dl-horizontal">
                      <dt class="light-black">{{ 'container.zonal-routing.reservations' | translate }}:</dt>
                      <dd class="light-black nv-text-right">{{ zone.extraData.count.reservations }}</dd>

                      <dt class="light-black">{{ 'container.zonal-routing.returns' | translate }}:</dt>
                      <dd class="light-black nv-text-right">{{ zone.extraData.count.returns }}</dd>

                      <dt class="light-black">{{ 'container.zonal-routing.rts' | translate }}:</dt>
                      <dd class="light-black nv-text-right">{{ zone.extraData.count.rts }}</dd>

                      <dt class="light-black">{{ 'container.zonal-routing.bulk-move' | translate }}:</dt>
                      <dd class="light-black nv-text-right">{{ zone.extraData.count.bulkMove }}</dd>

                      <dt class="light-black">{{ 'container.zonal-routing.extra-large' | translate }}:</dt>
                      <dd class="light-black nv-text-right">{{ zone.extraData.count.extraLarge }}</dd>
                    </dl>
                  </nv-td>
                  <nv-td column="condition" filter="false">
                    <strong ng-class="{
                      'dark-red': ctrl.getZoneCondition(zone) == ctrl.ZONE_CONDITIONS.INSUFFICIENT,
                      'dark-yellow': ctrl.getZoneCondition(zone) == ctrl.ZONE_CONDITIONS.PRIORITY_SUFFICIENT,
                      'dark-green': ctrl.getZoneCondition(zone) == ctrl.ZONE_CONDITIONS.SUFFICIENT
                    }">
                      {{ ctrl.getZoneCondition(zone) | translate }}
                    </strong>
                  </nv-td>
                  <nv-td column="capacity" filter="false">
                    <div ng-if="!zone.isCustomZone">
                      <span class="pull-left">{{ 'container.zonal-routing.current-capacity' | translate }}: <strong>{{ zone.max }}</strong></span>
                      <nv-icon-text-button
                        class="flat dense remove-all"
                        name="commons.remove-all"
                        on-click="ctrl.clearDriversByZone(zone.id)"
                        ng-if="zone.drivers.length > 0">
                      </nv-icon-text-button>
                    </div>

                    <div layout="column">
                      <div flex
                           ng-if="!zone.isCustomZone">
                        <div class="dnd-list" ng-if="zone.drivers.length > 0">
                          <div class="item">
                            <nv-icon-text-button
                              name=""
                              button-theme=""
                              class="nv-text-no-select nv-color0 item-label dense"
                              on-click="zone.driversTabExpanded = !zone.driversTabExpanded"
                              ng-clazz="{'ghost': zone.driversTabExpanded, 'raised': !zone.driversTabExpanded}">
                              <span class="pull-left">
                                {{ 'container.zonal-routing.num-drivers' | translate:'{num:' + zone.drivers.length +'}' }}
                              </span>
                              <span class="pull-right"
                                    ng-if="zone.driversTabExpanded">
                                  {{'container.zonal-routing.collapse-list' | translate}} <i class="fa fa-chevron-up"></i>
                              </span>
                              <span class="pull-right"
                                    ng-if="!zone.driversTabExpanded">
                                  {{'container.zonal-routing.expand-list' | translate}} <i class="fa fa-chevron-down"></i>
                              </span>
                            </nv-icon-text-button>
                          </div>
                        </div>
                        <nv-drag-and-drop
                          button-theme=""
                          button-class="md-raised nv-text-no-select nv-primary"
                          button-ng-class="{'nv-color6': ctrl.isNormalDriver, 'nv-color9': ctrl.isReserveFleetDriver}"
                          list="zone.drivers"
                          enable-watch-list="true"
                          multi-select="true"
                          id="{{ zone.id }}"
                          allowed-types="ctrl.zonesDndAllowedTypes"
                          on-drop="ctrl.refreshDriverAssignmentOnDrop"
                          dropzone="true"
                          ng-show="zone.driversTabExpanded || zone.drivers.length <= 0">
                          <span ng-bind-html="'container.zonal-routing.drag-drop-drivers-here' | translate"></span>
                        </nv-drag-and-drop>
                      </div>
                    </div>
                  </nv-td>
                </nv-table-row>
              </nv-table>
            </div>
          </md-content>
        </div>
      </div>
      <div flex
           class="margin-top-xs-1 unassigned-drivers-section">
        <div layout="column" layout-fill class="md-whiteframe-1dp">
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2 class="md-flex white">
                {{ 'container.zonal-routing.unassigned-drivers' | translate }}
              </h2>
            </div>
          </md-toolbar>
          <md-content flex>
            <div layout-padding
                 ng-if="!ctrl.isFiltered">
              <div class="filter-section">
                <h5 class="light-black">{{ 'container.zonal-routing.filter-and-select-drivers' | translate }}</h5>

                <nv-filter-box
                  class="driver-filter-zones-selection filter-selection"
                  delegate-handle="{{ ctrl.driversFilter.zone.delegateHandle }}"
                  search-text="ctrl.driversFilter.zone.searchText"
                  persist-search-text="true"
                  possible-options="ctrl.driversFilter.zone.possibleOptions"
                  selected-options="ctrl.driversFilter.zone.selectedOptions"
                  main-title="{{'container.zonal-routing.driver-preferred-zones' | translate}}"
                  placeholder="{{'commons.search-or-select' | translate}}"
                  item-types="{{ 'commons.zones' | translate }}"
                  is-mandatory="true"
                  hide-close="true"
                  show-suggestion-when-empty="true">
                </nv-filter-box>

                <nv-filter-box
                  class="driver-filter-hubs-selection filter-selection"
                  delegate-handle="{{ ctrl.driversFilter.hub.delegateHandle }}"
                  search-text="ctrl.driversFilter.hub.searchText"
                  persist-search-text="true"
                  possible-options="ctrl.driversFilter.hub.possibleOptions"
                  selected-options="ctrl.driversFilter.hub.selectedOptions"
                  main-title="{{'commons.hub' | translate}}"
                  placeholder="{{'commons.search-or-select' | translate}}"
                  item-types="{{ 'commons.hubs' | translate }}"
                  is-mandatory="true"
                  hide-close="true"
                  show-suggestion-when-empty="true">
                </nv-filter-box>

                <nv-filter-box
                  class="driver-filter-driver-types-selection filter-selection"
                  delegate-handle="{{ ctrl.driversFilter.driverType.delegateHandle }}"
                  search-text="ctrl.driversFilter.driverType.searchText"
                  persist-search-text="true"
                  possible-options="ctrl.driversFilter.driverType.possibleOptions"
                  selected-options="ctrl.driversFilter.driverType.selectedOptions"
                  main-title="{{'container.zonal-routing.driver-types' | translate}}"
                  placeholder="{{'commons.search-or-select' | translate}}"
                  item-types="{{ 'container.zonal-routing.driver-types' | translate }}"
                  is-mandatory="true"
                  hide-close="true"
                  show-suggestion-when-empty="true">
                </nv-filter-box>

                <div layout="row">
                  <div flex>
                    <nv-input-checkbox
                      class="nv-text-no-select ghost dense"
                      label="{{ 'container.zonal-routing.show-rf-drivers' | translate }}"
                      model="ctrl.showRFDriver">
                    </nv-input-checkbox>
                  </div>
                </div>

                <div layout="row" layout-align="end center">
                  <div>
                    <nv-icon-text-button
                      class="raised filter-driver-submit"
                      name="container.zonal-routing.filter-driver"
                      on-click="ctrl.driverFilterSubmit()">
                    </nv-icon-text-button>
                  </div>
                </div>
              </div>
            </div>

            <div layout-padding class="filter-result-section"
                 ng-if="ctrl.isFiltered">
              <div layout="row" layout-align="start center">
                <div flex>
                  <h5 class="light-black">{{ 'container.zonal-routing.driver-filters' | translate }}</h5>
                </div>
                <div>
                  <nv-icon-text-button
                    class="ghost dense back-to-filter-page"
                    name="container.zonal-routing.back-to-filter-page"
                    on-click="ctrl.backToFilterPage()">
                  </nv-icon-text-button>
                </div>
              </div>
              <div class="filter-summary"
                   ng-if="nvZonalRouting.unassignedDriversFilter.zoneIds.length > 0 ||
                   nvZonalRouting.unassignedDriversFilter.hubIds.length > 0 ||
                   nvZonalRouting.unassignedDriversFilter.driverTypeIds.length > 0">
                {{ 'container.zonal-routing.driver-filters-summary' | translate: {
                  zoneCount: nvZonalRouting.unassignedDriversFilter.zoneIds.length,
                  hubCount: nvZonalRouting.unassignedDriversFilter.hubIds.length,
                  driverTypeCount: nvZonalRouting.unassignedDriversFilter.driverTypeIds.length
                } }}
              </div>
            </div>

            <div layout-padding class="quickdraws-title-holder"
                 ng-if="ctrl.isFiltered">
              <div>
                <p class="light-black margin-bottom-xs-1">
                  {{ 'container.zonal-routing.quickdraws-drivers' | translate }}
                </p>
              </div>
            </div>
            <div layout-padding
                 ng-if="ctrl.isFiltered">
              <div>
                <nv-drag-and-drop
                  class="drivers-by-zones-dnd"
                  list="nvZonalRouting.driversByZonesTable.filteredDriversByZones"
                  id="{{ ctrl.DND_DRIVERS_BY_ZONE_TYPE }}"
                  allowed-types="nvZonalRouting.driversByZonesTable.dndAllowedTypes"
                  disable-splice-on-moved="true"
                  on-drop="ctrl.refreshDriverAssignmentOnDrop"
                  disable-if="nvZonalRouting.driversByZonesTable.disableIf">
                </nv-drag-and-drop>
              </div>
            </div>

            <div class="drivers-table-header-holder"
                 ng-if="ctrl.isFiltered">
              <div>
                <table class="table table-condensed table-bordered table-striped drivers-table-header">
                  <thead>
                  <tr>
                    <th class="zone nv-text-ellipsis"
                        ng-class="{'active': nvZonalRouting.driversTable.isDriversSortActive('byZone')}"
                        ng-click="::nvZonalRouting.driversTable.driversSort('byZone')">
                      <i class="fa" ng-class="nvZonalRouting.driversTable.showDriversSortIcon('byZone')"></i>
                        <span>
                          {{ 'container.zonal-routing.zone' | translate }}
                        </span>
                    </th>

                    <th class="name nv-text-ellipsis"
                        ng-class="{'active': nvZonalRouting.driversTable.isDriversSortActive('byName')}"
                        ng-click="::nvZonalRouting.driversTable.driversSort('byName')">
                      <i class="fa" ng-class="nvZonalRouting.driversTable.showDriversSortIcon('byName')"></i>
                        <span>
                          {{ 'commons.driver-name' | translate }}
                        </span>
                    </th>

                    <th class="vehicle-capacity nv-text-ellipsis"
                        ng-class="{'active': nvZonalRouting.driversTable.isDriversSortActive('byVehicleCapacity')}"
                        ng-click="::nvZonalRouting.driversTable.driversSort('byVehicleCapacity')">
                      <i class="fa" ng-class="nvZonalRouting.driversTable.showDriversSortIcon('byVehicleCapacity')"></i>
                        <span>
                          {{ 'container.zonal-routing.capacity' | translate }}
                        </span>
                    </th>
                  </tr>
                  <tr>
                    <th colspan="3">
                      <nv-search-input-filter
                        search-text="nvZonalRouting.driversTable.filter.searchText"
                        placeholder="{{ 'commons.search' | translate }}"
                        on-change="nvZonalRouting.driversTable.filter.onChange()"
                        ng-click="$event.stopPropagation()"
                        type="bar">
                      </nv-search-input-filter>
                    </th>
                  </tr>
                  </thead>
                </table>
              </div>
            </div>
            <div layout-padding
                 ng-if="ctrl.isFiltered">
              <div class="drivers-table-content-holder">
                <nv-drag-and-drop
                  ng-if="nvZonalRouting.driversTable.filteredDrivers.length > 0"
                  list="nvZonalRouting.driversTable.filteredDrivers"
                  enable-watch-list="true"
                  multi-select="true"
                  button-theme=""
                  button-class="md-raised nv-text-no-select nv-primary"
                  button-ng-class="{'nv-color6': ctrl.isNormalDriver, 'nv-color9': ctrl.isReserveFleetDriver}"
                  id="{{ ctrl.DND_DRIVER_FROM_DRIVER_LIST_TYPE }}"
                  allowed-types="nvZonalRouting.driversTable.dndAllowedTypes"
                  on-drop="ctrl.refreshDriverAssignmentOnDrop">
                </nv-drag-and-drop>

                <div class="nv-text-center" ng-if="nvZonalRouting.driversTable.filteredDrivers.length <= 0">
                  <p>
                    {{ 'container.zonal-routing.no-available-drivers' | translate }}
                  </p>
                  <p class="light-black nv-small">
                    {{ 'container.zonal-routing.no-available-drivers-description' | translate }}
                  </p>
                </div>
              </div>
            </div>
          </md-content>
        </div>
      </div>
    </div>
  </div>
</div>