@import "../../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../../styles/variables";

.nv-container-route-monitoring-result {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .vertical-padding {
    padding: 0.2rem 0;
  }

  .horizontal-margin {
    margin: 0 0.2rem;
  }

  div.navigation {
    padding: 0.5rem 1rem;
    @include nv-media-query-md-min {
      padding: 1rem 2rem;
    }

    @include nv-media-query-lg-min {
      padding: 1.5rem 3rem;
    }

    @include nv-media-query-xl-min {
      padding: 2rem 4rem;
    }

    .right-container {
      > * {
        display: inline-block;
        padding: 0 0 0 0.4rem;
        margin: 0;

        &:first-child {
          padding: 0;
        }

        &.apply-action-loading {
          vertical-align: middle;
        }

        .btn-apply-action {
          min-width: 140px;

          > span {
            flex-grow: 1;
          }
        }

        @include nv-media-query-sm-max {
          margin-top: 0.4rem;
        }
      }

      > nv-icon-text-button {
        vertical-align: bottom;
      }
    }
  }

  div.table-container {
    position: relative;
    flex: 1;

    nv-table {
      // column width
      @include nv-table-column-width(id, 8rem);
      @include nv-table-column-width(driver-name, 12rem);
      @include nv-table-column-width(zone-name, 10rem);
      @include nv-table-column-width(hub-name, 12rem);
      @include nv-table-column-width(route-progression, 60rem);
      @include nv-table-column-width(total-waypoint, 9rem);
      @include nv-table-column-width(completion-percentage, 10rem);
      @include nv-table-column-width(pending-count, 7rem);
      @include nv-table-column-width(success-count, 9rem);
      @include nv-table-column-width(failed-count, 11rem);
      @include nv-table-column-width(cmi-count, 12rem);
      @include nv-table-column-width(early-count, 9rem);
      @include nv-table-column-width(late-count, 9rem);
      @include nv-table-column-width(impending-count, 10rem);
      @include nv-table-column-width(late-and-pending-count, 11rem);
      @include nv-table-column-width(last-seen, 10rem);

      // action columns
      @include nv-table-action-columns(nv-table-action-width("two-dense-p"));

      .flag-row { 
        padding: 0.1rem 0;
        height: auto;

        .flag {
          height: 2.8rem;
        }
      }

      .actions {
        text-align: center;
      }
    }

    .loading {
      margin-top: $nv-baseline-grid * 2;
    }
  }

  .legend-container {
    margin: 0 0.4rem;

    >.flag-row { padding: 0.4rem 0; height: 2.8rem}

    .flag {
      &.legend { cursor: default; }
    }

    .description {
      padding-left: 0.4rem;
      padding-right: 1rem;
    }
  }
}