<md-content class="nv-container-route-monitoring-result">
  <div class="navigation">
    <div layout="row" layout-sm="column" layout-xs="column">
      <div flex="50" flex-sm="100" flex-xs="100">
        <nv-icon-text-button
          md-theme="nvBlue"
          class="raised"
          icon="filter_list"
          name="container.route-monitoring.edit-filters"
          on-click="ctrl.goToFilterPage()">
        </nv-icon-text-button>
      </div>
      <!-- REMOVED per kh request on 10 Apr 2019 -->
      <!-- <div flex="50" flex-sm="100" flex-xs="100">
        <nv-icon-text-button
          md-theme="nvBlue"
          class="raised"
          icon="file_download"
          name="container.route-monitoring.get-route-cleaning-report"
          disabled="true"
          on-click="ctrl.downloadReport()">
        </nv-icon-text-button>
      </div> -->
    </div>
  </div>

  <div layout="row">
    <nv-table-description
      flex="50"
      ng-if="!ctrl.loading"
      table-param="ctrl.routeMonitoringTableParam"
      filters="ctrl.parentCtrl.selectedFilters"
      title-display="mainTitle">
    </nv-table-description>
    <div flex="50" class="legend-container" layout="column">
      <h5>{{ 'commons.legend' | translate }}</h5>
      <!-- FIRST ROW -->
      <div class="flag-row" layout>
        <nv-waypoint-bar class="legend" main="successful" id="1"></nv-waypoint-bar> 
        <span class="description">{{ 'container.route-monitoring.legend.successful' | translate }}</span>

        <nv-waypoint-bar class="legend" main="valid-failed" id="1"></nv-waypoint-bar> 
        <span class="description">{{ 'container.route-monitoring.legend.valid-failed' | translate }}</span>

        <nv-waypoint-bar class="legend" main="pending" id="1"></nv-waypoint-bar> 
        <span class="description">{{ 'container.route-monitoring.legend.pending' | translate }}</span>

        <nv-waypoint-bar class="legend" main="invalid-failed" id="1"></nv-waypoint-bar> 
        <span class="description">{{ 'container.route-monitoring.legend.invalid-failed' | translate }}</span>

        <nv-waypoint-bar class="legend" main="reservation" id="1"></nv-waypoint-bar> 
        <span class="description">{{ 'container.route-monitoring.legend.reservation' | translate }}</span>
      </div>

      <!-- SECOND ROW -->
      <div class="flag-row" layout>
        <nv-waypoint-bar class="legend" main="none" overlay="early"></nv-waypoint-bar> 
        <span class="description">{{ 'container.route-monitoring.legend.early' | translate }}</span>

        <nv-waypoint-bar class="legend" main="none" overlay="late"></nv-waypoint-bar> 
        <span class="description">{{ 'container.route-monitoring.legend.late' | translate }}</span>

        <nv-waypoint-bar class="legend" main="none" overlay="impending-timeslots"></nv-waypoint-bar> 
        <span class="description">{{ 'container.route-monitoring.legend.impending-timeslots' | translate }}</span>

        <nv-waypoint-bar class="legend" main="none" overlay="late-pending"></nv-waypoint-bar> 
        <span class="description">{{ 'container.route-monitoring.legend.late-and-pending' | translate }}</span>
      </div>
      <!-- THIRD ROW -->
      <div class="flag-row" layout>
        <nv-waypoint-bar class="legend" main="none" overlay-bottom="return-pickup"></nv-waypoint-bar> 
        <span class="description">{{ 'container.route-monitoring.legend.return-pickup' | translate }}</span>
        
        <nv-waypoint-bar class="legend" main="none" overlay-bottom="c2c-pickup"></nv-waypoint-bar> 
        <span class="description">{{ 'container.route-monitoring.legend.c2c-pickup' | translate }}</span>
      </div>
    </div>
  </div>
  <div class="table-container">
    <nv-table
      ng-if="!ctrl.loading"
      param="ctrl.routeMonitoringTableParam"
      controller-as="ctrl">
      <nv-table-row
        use="route"
        use-virtual-repeat="true"
        row-height="80">
        <nv-index></nv-index>
        <nv-td column="id">
          {{ route.id }}
        </nv-td>
        <nv-td column="driverName">
          {{ route.driverName }}
        </nv-td>
        <nv-td column="zoneName">
          {{ route.zoneName }}
        </nv-td>
        <nv-td column="hubName">
          {{ route.hubName }}
        </nv-td>
        <nv-td column="routeProgression" highlight-text="false">
          <nv-waypoint-bar-container waypoints="route.waypoints" idx="route.id">
          </nv-waypoint-bar-container>
        </nv-td>
        <nv-td column="totalWaypoint" filter="false">
          {{ route.totalWaypoint }}
        </nv-td>
        <nv-td column="completionPercentage" filter="false">
          {{ route.completionPercentage }}
        </nv-td>
        <nv-td column="pendingCount" filter="false">
          {{ route.pendingCount }}
        </nv-td>
        <nv-td column="successCount" filter="false">
          {{ route.successCount }}
        </nv-td>
        <nv-td column="failedCount" filter="false">
          {{ route.failedCount }}
        </nv-td>
        <nv-td column="cmiCount" filter="false">
          {{ route.cmiCount }}
        </nv-td>
        <nv-td column="earlyCount" filter="false">
          {{ route.earlyCount }}
        </nv-td>
        <nv-td column="lateCount" filter="false">
          {{ route.lateCount }}
        </nv-td>
        <nv-td column="impendingCount" filter="false">
          {{ route.impendingCount }}
        </nv-td>
        <nv-td column="lateAndPendingCount" filter="false">
          {{ route.lateAndPendingCount }}
        </nv-td>
        <nv-td column="lastSeen" filter="false">
          {{ route.lastSeen }}
        </nv-td>
        <nv-action column="actions">
          <nv-icon-button
            md-theme="nvBlue"
            class="ghost dense"
            name="container.route-monitoring.view-route-manifest"
            icon="assignment"
            on-click="ctrl.goToRouteManifestPage(route.id)">
          </nv-icon-button>
        </nv-action>
      </nv-table-row>
    </nv-table>

    <div ng-if="ctrl.loading"
         class="loading" layout="column" layout-align="center center">
      <md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>
      <div class="md-body-2 message">{{ 'container.route-monitoring.loading-routes' | translate }}</div>
    </div>
  </div>
</md-content>