<nv-dialog-header title="{{ctrl.dialogTitle}}" on-cancel="::ctrl.onCancel($event)" cancel-text="commons.cancel"></nv-dialog-header>
<form name="hubGroupForm">
    <md-dialog-content layout="column" layout-padding>
        <nv-input-text
          class="md-block"
          label="container.hub-group-management.hub-group-name"
          model="ctrl.data.name"
          form="hubGroupForm"
          required="::true">
        </nv-input-text>
        <div flex>
          <p>{{ 'container.hub-group-management.hubs' | translate}}</p>
          <div layout="row" layout-wrap layout-align="space-between none" class="hub-selection-container">
            <nv-autocomplete            
              class="md-block"
              placeholder="{{'container.hub-group-management.select-hub' | translate}}"
              search-text="ctrl.hubSearchText"
              selected-item="ctrl.selectedHub"
              icon=""
              flex
              form="ctrl.hubForm"
              display-by="displayName"
              delegate-handle="hubs-auto"
              item-types="hub"
              required="true"
              show-suggestion-when-empty="true">
            </nv-autocomplete>   
            <nv-icon-button
              icon="add"
              flex="10"
              name="commons.add"
              on-click="ctrl.addHub(ctrl.selectedHub)"
              disabled="!ctrl.selectedHub"
              class="dense ghost addHubIconBtn">
            </nv-icon-button>            
          </div>
          <md-list class="selected-hub-list">
            <md-list-item ng-repeat="hub in ctrl.data.hubs" layout="row"
              layout-align="space-between center">
                <p>{{hub.value || hub.id}} - {{hub.displayName || hub.name}}</p>
                <nv-icon-button
                  class="dense ghost h6"
                  icon="remove"
                  name="commons.remove"
                  on-click="ctrl.removeHub(hub)">
                </nv-icon-button>
            </md-list-item>
          </md-list>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">      
      <nv-api-text-button
        md-theme="nvGreen"
        ng-if="ctrl.mode === 'create'"
        on-click="ctrl.saveHubGroup($event)"
        name="container.hub-group-management.create-hub-group"
        flex="25"
        state="ctrl.saveState"
        icon="add">
      </nv-api-text-button>
      <nv-api-text-button
        md-theme="nvGreen"
        ng-if="ctrl.mode === 'edit'"
        on-click="ctrl.saveHubGroup($event)"
        name="commons.save"
        flex="25"
        state="ctrl.saveState"
        icon="save">
      </nv-api-text-button>
    </md-dialog-actions>
</form>
