@import "../../../lib/ninja-commons/styles/variables";
@import "../../../lib/ninja-commons/styles/mixins/table.mixins";

.nv-container-driver-strength {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  > div {
    width: 100%;
    height: 100%;
  }

  .nv-container-driver-strength-2-filter {
    padding: 1.4rem;
    background-color: $nv-background-color;
    height: 100%;
  }

  .nv-container-driver-strength-2-data {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .title p {
      padding: 0;
    }
  }
  md-menu {
    .nv-button.dense{
      width: $button-dense-height;
      padding: 0;
      display: inline-block;
    }
  }
  div div.table-container {
    position: relative;
    flex: 1;

    nv-table {
      // column width
      @include nv-table-column-width(id, 6rem);
      @include nv-table-column-width(username, 18rem);
      @include nv-table-column-width(name, 18rem);
      @include nv-table-column-width(hub, 12rem);
      @include nv-table-column-width(driver-type, 12rem);
      @include nv-table-column-width(vehicles-vehicle-type, 13rem);
      @include nv-table-column-width(vehicles-own-vehicle, 13rem);
      @include nv-table-column-width(cod-limit, 10rem);
      @include nv-table-column-width(zone-preferences-zone-id, 21rem);
      @include nv-table-column-width(zone-preferences-min-waypoints, 9rem);
      @include nv-table-column-width(zone-preferences-max-waypoints, 9rem);
      @include nv-table-column-width(comments, 25rem);

      // action columns
      @include nv-table-action-columns(nv-table-action-width("three-dense-p"), 9rem);
    }
  }
}
