@import "../../../ninja-commons/styles/mixins/media-query.mixins";

$filter-padding: 1.4rem;
$filter-margin: 1.4rem;
$min-width: 55rem;

.filter-box-container {
  padding-left: $filter-padding;
  padding-right: $filter-padding;
  width: 100%;

  .filters-container {
    // single column: Viewport < 1440px
    @include nv-media-query-nv-md-max {
      margin: auto;
    }
  }

  .filter-container {
    width: 49.5%;
    min-width: $min-width;
    display: inline-block;
    margin-bottom: $filter-margin;

    // single column: Viewport < 1440px
    @include nv-media-query-nv-md-max {
      width: 100%;
    }

    // three columns: Viewport > 2100px
    @include nv-media-query-nv-xl-min {
      width: 33%;
    }
  }

  .search-filter-container:not(:first-child) {
    min-width: $min-width;
    margin: 2rem auto auto;
  }
}