<div class="filter-box-container">

	<div class="filters-container"
	     layout="row" layout-align="space-between start" layout-wrap="wrap">
		<div class="filter-container"
			ng-repeat="filter in selectedFilters" ng-switch on="filter.type">
			<nv-filter-boolean-box
				ng-switch-when="0"
				ng-class="{'filled': filter.booleanModel !== '00'}"
				main-title="{{::filter.mainTitle}}"
				boolean-model="filter.booleanModel"
				on-close="onClose(filter)"
				true-label="{{filter.trueLabel}}"
				false-label="{{filter.falseLabel}}"
				filter = "filter"
				is-mandatory="filter.isMandatory">
			</nv-filter-boolean-box>

			<nv-filter-date-box
				ng-switch-when="1"
				main-title="{{::filter.mainTitle}}"
				ng-class="{'filled': (filter.fromModel && filter.toModel) || (filter.fromModel && !filter.isRange)}"
				from-model="filter.fromModel"
				to-model="filter.toModel"
				is-range="filter.isRange"
				is-mandatory="filter.isMandatory"
				max-date-range="{{ filter.maxDateRange }}"
				form="form"
				min-date="filter.minDate"
				on-close="onClose(filter)"></nv-filter-date-box>

			<nv-filter-box
				ng-switch-when="2"
				ng-class="{'filled': filter.selectedOptions && filter.selectedOptions.length}"
				include-model="filter.includeModel"
				possible-options="filter.possibleOptions"
				selected-options="filter.selectedOptions"
				search-text="filter.searchText"
				search-by="{{filter.searchBy}}"
				sort-by="{{filter.sortBy || ''}}"
				main-title="{{::filter.mainTitle}}"
				item-types="{{::filter.mainTitle | translate}}"
				orientation="horizontal"
				on-close="onClose(filter)"
				show-suggestion-when-empty="true"
				is-mandatory="filter.isMandatory">
			</nv-filter-box>

			<nv-filter-number-box
				class="filled"
				ng-switch-when="3"
				main-title="{{::filter.mainTitle}}"
				model="filter.options"
				min-value="{{::filter.minValue}}"
				max-value="{{::filter.maxValue}}"
				on-close="onClose(filter)"
				scale="{{::filter.scale}}"
				number-extra="::filter.options.extra">
			</nv-filter-number-box>

			<nv-filter-text-box
				ng-switch-when="4"
				ng-class="{'filled': filter.model}"
				main-title="{{::filter.mainTitle}}"
				placeholder="{{::filter.placeholder}}"
				model="filter.model"
				on-close="onClose(filter)"
				is-mandatory="filter.isMandatory">
			</nv-filter-text-box>
			
			<nv-filter-time-box
				class="filled"
				ng-switch-when="5"
				main-title="{{::filter.mainTitle}}"
				from-model="filter.fromModel"
				to-model="filter.toModel"
				on-close="onClose(filter)">
			</nv-filter-time-box>

			<nv-filter-range-box
				ng-switch-when="6"
				ng-class="{'filled': filter.fromModel && filter.toModel}"
				main-title="{{::filter.mainTitle}}"
				from-model="filter.fromModel"
				to-model="filter.toModel"
				unit="{{::filter.unit}}"
				on-close="onClose(filter)">
			</nv-filter-range-box>

			<nv-filter-free-text-box
				ng-switch-when="7"
				ng-class="{'filled': filter.model && filter.model.length > 0}"
				main-title="{{::filter.mainTitle}}"
				model="filter.model"
				is-mandatory="filter.isMandatory"
				on-close="onClose(filter)">
			</nv-filter-free-text-box>

			<nv-filter-autocomplete
				ng-switch-when="8"
				ng-class="{'filled': filter.selectedOptions && filter.selectedOptions.length > 0}"
				main-title="{{::filter.mainTitle}}"
				selected-options="filter.selectedOptions"
				callback="filter.callback"
				item-types="{{::filter.mainTitle | translate}}"
				on-close="onClose(filter)"
				min-text-length="{{::filter.minTextLength}}"
				is-mandatory="filter.isMandatory">
			</nv-filter-autocomplete>

		</div>
	</div>

	<div class="search-filter-container" layout="row" layout-align="space-between center">
		<div layout="column">
			<label class="small">{{ 'filter.add-filter' | translate }}</label>
			<nv-autocomplete
				flex="30"
				search-text="::searchText"
				placeholder="filter.select-filter"
				icon="add"
				delegate-handle="{{::autocompleteHandle}}"
				multiple="true"
				item-types="filters"
				show-suggestion-when-empty="true">
			</nv-autocomplete>
		</div>
		<nv-icon-text-button ng-if="selectedFilters.length > 0"
		                     layout="row" flex
		                     layout-align="end"
		                     class="flat dense"
		                     name="{{'commons.clear-all-selections' | translate}}"
		                     on-click="onClearAll()"
		                     icon="clear_all">
		</nv-icon-text-button>
	</div>
</div>