<md-content class="nv-container-order-level-tag-management-filter">

  <div class="filter-header" layout layout-align="space-between">
    <h5 class="filter-title">
      {{ 'container.order-level-tag-management.select-filters' | translate }}
    </h5>
    <nv-icon-text-button
      md-theme="nvYellow"
      class="ghost csv-find-orders-btn"
      icon="file_upload"
      name="container.order-level-tag-management.find-orders-with-csv"
      on-click="ctrl.findOrdersWithCsv($event)">
    </nv-icon-text-button>
  </div>
  
  <nv-filter-box-container
    possible-filters="ctrl.parentCtrl.possibleFilters"
    selected-filters="ctrl.parentCtrl.selectedFilters"
    search-by="mainTitle">
  </nv-filter-box-container>
  
  <div class=section-load layout="row" layout-align="center start">
    <nv-icon-text-button
      md-theme="nvBlue"
      name="Load Selection"
      class="raised"
      on-click="ctrl.loadResult()">
    </nv-icon-text-button>
  </div>
</md-content>