.nv-container-blocked-dates {

	padding: 42px;
	height: 100%;

	> div {
		height: 100%;
		display: flex;
		flex-direction: column;

		nv-button-save {
			display: block;
			margin-top: 28px;

			> button {
				width: 100%;
			}
		}
	}
}
