<md-content
  class="nv-container-blocked-dates"
  nv-load="ctrl.getBlockedDates" loading-message="{{'container.blocked-dates.load-blocked-dates' | translate}}">

  <nv-calendar-list
    md-theme="nvRed"
    ng-model="ctrl.blockedDates"
    ng-model-prop="date"
    delegate-handle="blocked-dates-calendar"
    label="{{'commons.blocked-dates' | translate}}"
    disabled="ctrl.disableCalendar">
  </nv-calendar-list>

  <form 
    name="ctrl.blockedDateForm"
    ng-submit="::ctrl.save()">

    <nv-button-save 
      class="full"
      name="{{'commons.save-changes' | translate}}"
      icon="done"
      form="ctrl.blockedDateForm"
      state="ctrl.saveButtonState">
    </nv-button-save>
    
  </form>

</md-content>
