nv-button-working {

  outline: none;

  .md-button {
    text-transform: none;
    min-width: 0;
  }

  .default,
  .working,
  .success,
  .failure {
    position: relative;

    span {
      line-height: 2rem;
    }
  }

  .working span,
  .success span {
    padding: 0 0.4rem 0 0;
  }

  .failure span {
    padding: 0 0.4rem 0 0;
  }

  .working md-progress-circular {
    transform-origin: left top;
  }

  .success md-icon,
  .failure md-icon {
    margin: 0;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
  }

  .success md-icon {
    font-size: 1.6rem;
  }

  .failure md-icon {
    font-size: 1.4rem;
  }

}
