<md-button
    class="nv-button raised"
    type="button"
    aria-label="Button"
    ng-click="onClick()"
    ng-disabled="_isDisabled()">

  <div class="default" ng-if="state === 'default'" layout="row" layout-align="center center">
    <span>{{nameDefault}}</span>
  </div>

  <div class="working" ng-if="state === 'working'" layout="row" layout-align="center center">
    <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="20%"></md-progress-circular>
    <span>{{nameWorking}}</span>
  </div>

  <div class="success" ng-if="state === 'success'" layout="row" layout-align="center center">
    <md-icon>check</md-icon>
    <span>{{nameSuccess}}</span>
  </div>

  <div class="failure" ng-if="state === 'failure'" layout="row" layout-align="center center">
    <md-icon>warning</md-icon>
    <span>{{nameFailure}}</span>
  </div>

</md-button>
