.stamp-disassociation-print-dialog {
  .table-holder {
    margin-top: 2.8rem;
    margin-bottom: 2.8rem;

    .table {
      $checkbox-column-width: 14%;

      > thead > tr > th {
        border-bottom: 0;
        font-weight: normal;
        font-size: 1.2rem;
        color: $nv-text-black-2;

        &:last-child {
          text-align: center;
          width: $checkbox-column-width;
        }
      }

      > tbody > tr > td {
        border-top: 0;

        &:last-child {
          text-align: center;
          width: $checkbox-column-width;

          md-input-container {
            &.to-pull-checkbox {
              margin: auto;
              padding: 0;
              width: $nv-table-checkbox-width;
              height: $nv-table-checkbox-width;

              md-checkbox {
                min-width: $nv-table-checkbox-width;
                min-height: $nv-table-checkbox-width;

                .md-container {
                  .md-icon {
                    width: $nv-table-checkbox-width;
                    height: $nv-table-checkbox-width;

                    &:after {
                      left: $nv-table-checkbox-width / 3;
                      top: $nv-table-checkbox-width / 9;
                      width: $nv-table-checkbox-width / 3;
                      height: $nv-table-checkbox-width * 2 / 3;
                    }
                  }
                }

                .md-label {
                  display: none;
                }

                &.md-indeterminate .md-icon:after {
                  width: $nv-table-checkbox-width * 0.6;
                }
              }
            }
          }
        }
      }
    }
  }
}