<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <h2 class="md-title">Select Order to be Printed</h2>

      <div>Select the orders where you want the orders printed</div>

      <div class="table-holder">
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th>{{ 'commons.tracking-id' | translate }}</th>
            <th>To Print</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="order in ctrl.orders">
            <td>{{ order.trackingId }}</td>
            <td>
              <nv-input-checkbox
                class="to-pull-checkbox"
                model="order.isSelected"
                label=""
                form="modelForm">
              </nv-input-checkbox>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        name="commons.go-back"
        on-click="ctrl.onCancel()">
      </nv-icon-text-button>
      <nv-api-text-button
        md-theme="nvBlue"
        class="raised"
        state="ctrl.printState"
        disabled="!ctrl.isAbleToPrint()"
        name="Print"
        on-click="ctrl.onPrint($event)">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>