<md-dialog-content layout="column" layout-padding>
  <h4>{{ctrl.title}}</h4>
  <table class="table table-stripped">
   <thead>
     <tr>
       <th class="tracking-id">
         {{"commons.tracking-id" | translate}}
       </th>
       <th class="name">
         {{"container.van-inbound.name" | translate}}
       </th>
       <th class="contanct">
         {{"container.van-inbound.contact" | translate}}
       </th>
       <th class="address">
         {{"container.van-inbound.address" | translate}}
       </th>
       <th class="granular-status">
         {{"container.van-inbound.granular-status" | translate}}
       </th>
       <th class="status">
         {{"container.van-inbound.status" | translate}}
       </th>
       <th class="view">
         {{"container.van-inbound.view" | translate}}
       </th>
     </tr>
   </thead>
   <tbody>
     <tr ng-if="!ctrl.data || ctrl.data.length === 0">
       <td colspan="7">
         NO DATA
       </td>
     </tr>
     <tr ng-repeat="order in ctrl.data">
       <td class="tracking-id">{{order.tracking_id}}</td>
       <td class="name">{{order.to_name}}</td>
       <td class="contact">{{order.to_contact}}</td>
       <td class="address">{{order.address}}</td>
       <td class="granular-status">{{order.granular_status}}</td>
       <td class="status">{{order.status}}</td>
       <td class="view">
         <nv-icon-text-button
          name="commons.view"
          on-click="ctrl.onViewOrder(order)"
          class="dense raised"
          md-theme="nvBlue">
        </nv-icon-text-button>
       </td>
     </tr>
   </tbody>
  </table>

</md-dialog-content>
<md-dialog-actions layout="row">
  <div flex></div>
  <nv-icon-text-button
    name="commons.close"
    text="commons.close"
    class="raised"
    md-theme="nvBlue"
    on-click="ctrl.onClose()"
  >
  </nv-icon-text-button>
</md-dialog-actions>