<md-content
  class="nv-container-change-delivery-timings"
  layout-padding>

  <div class="data-header" layout="row">
    <h4>{{'commons.change-delivery-timings' | translate}}</h4>
    
    <span flex></span>

    <nv-download-csv-button
      name="{{'commons.download-sample-csv' | translate}}"
      md-theme="nvBlue"
      data="ctrl.SAMPLE_CSV"
      csv-header="{{::ctrl.SAMPLE_CSV_HEADER}}"
      csv-column-order="{{::ctrl.SAMPLE_CSV_ORDER}}"
      filename="sample_csv">
    </nv-download-csv-button>

    <nv-create-button
      name="{{'container.change-delivery-timings.upload-csv' | translate}}"
      on-click="::ctrl.showSelectCSVDialog($event)">
    </nv-create-button>
  </div>

  <h5 ng-if="ctrl.changeDeliverySuccessesTableParams">{{'container.change-delivery-timings.success-title' | translate}}</h5>
  <div class="table-container" ng-if="ctrl.changeDeliverySuccessesTableParams">
    <table ng-table="ctrl.changeDeliverySuccessesTableParams" class="table table-condensed table-bordered table-striped">
      <tr ng-repeat="success in $data">

        <td data-title="'commons.tracking-id' | translate"
            sortable="'tracking_id'"
            class="tracking_id">
          {{success.tracking_id}}
        </td>

        <td data-title="'commons.message' | translate"
            sortable="'message'"
            class="message">
          {{success.message}}
        </td>

      </tr>
    </table>
  </div>

  <h5 ng-if="ctrl.changeDeliverySuccessesTableParams">{{'container.change-delivery-timings.error-title' | translate}}</h5>
  <div class="table-container" ng-if="ctrl.changeDeliveryErrorsTableParams">
    <table ng-table="ctrl.changeDeliveryErrorsTableParams" class="table table-condensed table-bordered table-striped">
      <tr ng-repeat="error in $data">

        <td data-title="'commons.tracking-id' | translate"
            sortable="'tracking_id'"
            class="tracking_id">
          {{error.tracking_id}}
        </td>

        <td data-title="'container.change-delivery-timings.header-message' | translate"
            sortable="'message'"
            class="message">
          {{error.message}}
        </td>

      </tr>
    </table>
  </div>

</md-content>