@import "../../../../../lib/ninja-commons/styles/variables";
@import "../../../../../styles/variables";

.order-edit-resume-order {
  .table-holder {
    margin-top: 2.8rem;
    margin-bottom: 2.8rem;

    .table {
      > thead > tr > th {
        border-bottom: 0;
        font-weight: normal;
        font-size: 1.2rem;
        color: $nv-text-black-2;
      }

      > tbody > tr > td {
        border-top: 0;
      }
    }
  }
}