<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <h2 class="md-title" ng-if="!ctrl.settings.isMultiSelect">{{ 'container.order.edit.resume-order' | translate }}</h2>
      <h2 class="md-title" ng-if="ctrl.settings.isMultiSelect">{{ 'container.order.edit.resume-selected' | translate }}</h2>

      <div ng-if="!ctrl.settings.isMultiSelect">{{ 'container.order.edit.resume-order-confirmation-text' | translate }}</div>
      <div ng-if="ctrl.settings.isMultiSelect">{{ 'container.order.edit.resume-selected-confirmation-text' | translate }}</div>

      <div ng-if="ctrl.settings.isMultiSelect"
           class="table-holder">
        <table class="table table-condensed">
          <thead>
          <tr>
            <th>{{ 'commons.tracking-id' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="order in ctrl.orders">
            <td>{{ order.trackingId }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        name="commons.cancel"
        on-click="ctrl.onCancel()">
      </nv-icon-text-button>
      <nv-api-text-button
        md-theme="nvGreen"
        class="flat"
        state="ctrl.formSubmitState"
        name="{{ctrl.submitButtonName}}"
        on-click="ctrl.onSave($event)">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>