//== Color palettes
//## The standard color palettes, according to the ninja style guide.

// Dark palette.
$nv-dark0  : #000000;
$nv-dark1  : #121314;
$nv-dark2  : #25282a;
$nv-dark3  : #303538;
$nv-dark4  : #3e4447;

// Light palette.
$nv-light0 : #ffffff;
$nv-light1 : #f5f5f5;
$nv-light2 : #ebebeb;
$nv-light3 : #dbdbdb;
$nv-light4 : #cccccc;

// NV Brand palette.
$nv-brand-red   : #ba0c2f;
$nv-brand-grey  : #25282a;
$nv-brand-white : #ffffff;
$nv-brand-red-hover: #7C081F;

// Operator palette.
$nv-dark-blue         : #253746;
$nv-light-blue        : #b9d9eb;
$nv-highlight-blue    : #eaf4f9;
$nv-dark-yellow       : #9b5a1a;
$nv-light-yellow      : #ffad00;
$nv-highlight-yellow  : #ffe7b2;
$nv-dark-green        : #035f1d;
$nv-light-green       : #9be198;
$nv-highlight-green   : #e1f6e0;
$nv-dark-red          : #ba0c2f;
$nv-light-red         : #fcafc0;
$nv-highlight-red     : #ffe7ec;

$themeColor: (
  'nvRed': (
    'dark': $nv-dark-red,
    'light': $nv-light-red,
    'highlight': $nv-highlight-red,
    'raised-dark': hsl(347.2,36.1%,66.9%),
    'raised-light': hsl(348.1,87.9%,25.9%)
  ),
  'nvGreen': (
    'dark': $nv-dark-green,
    'light': $nv-light-green,
    'highlight': $nv-highlight-green,
    'raised-dark': hsl(116.9,28.2%,59%),
    'raised-light': hsl(136.7,93.8%,12.7%)
  ),
  'nvBlue': (
    'dark': $nv-dark-blue,
    'light': $nv-light-blue,
    'highlight': $nv-highlight-blue,
    'raised-dark': hsl(202.5,23%,65.9%),
    'raised-light': hsl(207.3,31.4%,13.7%)
  ),
  'nvYellow': (
    'dark': $nv-dark-yellow,
    'light': $nv-light-yellow,
    'highlight': $nv-highlight-yellow,
    'raised-dark': hsl(40.6,100%,40%),
    'raised-light': hsl(30,71.7%,23.5%)
  ),
);

// default theme color
$defaultThemeColor: 'nvBlue';
// add another theme named 'default' that has the same color palette as the specified '$defaultThemeColor'
$themeColor: map-merge($themeColor, ('default': map-get($themeColor, $defaultThemeColor)));

// Text color palette.
$nv-text-black      : hsl(0, 0%, 12.9%);
$nv-text-black-1    : rgba($nv-text-black, 1);
$nv-text-black-2    : rgba($nv-text-black, 0.67);
$nv-text-black-3    : rgba($nv-text-black, 0.33);
$nv-text-white      : hsl(0, 0%, 96.9%);
$nv-text-white-1    : rgba($nv-text-white, 1);
$nv-text-white-2    : rgba($nv-text-white, 0.75);
$nv-text-white-3    : rgba($nv-text-white, 0.50);

// button size 
$button-height: 2.5em;
$button-dense-height: 2em;
$button-border-radius: 0.4rem;
$button-min-height: 2.8rem;
$button-min-width: 2.8rem;
$button-icon-text-space: 0.3rem;
$button-ghost-border: 0.2rem;

// Hyperlinks color palette.
$nv-link-color-light         : #1D4F91;
$nv-link-color-visited-light : #6F197E;
$nv-link-color-dark          : #9BCBEB;
$nv-link-color-visited-dark  : #BB80C5;
/*****
         Typography
                    *******/

$nv-font-weight-medium  : 500;
$nv-font-weight-regular : 400;
$nv-font-weight-light   : 300;

$typography: (
  'h1': (
    'size': 4.3rem,
    'line': 1.2,
    'weight': 'medium'
  ),
  'h2': (
    'size': 3.4rem,
    'line': 1.2,
    'weight': 'medium'
  ),
  'h3': (
    'size': 2.7rem,
    'line': 1.2,
    'weight': 'medium'
  ),
  'h4': (
    'size': 2.2rem,
    'line': 1.2,
    'weight': 'medium'
  ),
  'h5': (
    'size': 1.8rem,
    'line': 1.2,
    'weight': 'medium'
  ),
  'pmed': (
    'size': 1.4rem,
    'line': 1.5,
    'weight': 'medium'
  ),
  'p': (
    'size': 1.4rem,
    'line': 1.5,
    'weight': 'regular'
  ),
  'small': (
    'size': 1.2rem,
    'line': 1.5,
    'letter': 0.2px,
    'weight': 'regular'
  )
);

// menu
$nv-menu-item-padding: 1.4rem;
$nv-menu-item-height: 4.2rem;
$nv-menu-extra-padding: 0.7rem;
$nv-menu-light-color: $nv-light0;
$nv-menu-light-hover: mix($nv-dark0, $nv-menu-light-color, 10%);
$nv-menu-light-active: #e8f3f9;
$nv-menu-dark-color: $nv-dark3;
$nv-menu-dark-hover: mix($nv-dark0, $nv-menu-dark-color, 20%);
$nv-menu-dark-active: #5d6b73;

// Colorful palette
$nv-colors: ( #5e5e5e, 
              #da6037, 
              #c67b1e, 
              #59791d, 
              #3cb00b, 
              #3b79be, 
              #594673, 
              #cf64a7, 
              #dc506a, 
              #89421f, 
              #8d8c14, 
              #365218, 
              #279541, 
              #616ca7, 
              #ae67e8, 
              #8b3350 );

// Table variable
$nv-table-header-title-padding-top: 0.3rem;
$nv-table-header-title-padding-bottom: 0.2rem;
$nv-table-header-height: 3.5rem;
$nv-table-header-filter-height: 3.3rem;
$nv-table-header-padding: 1rem;
$nv-table-cell-padding: 1rem;
$nv-table-border-width: 0.1rem;
$nv-table-border-color: $nv-light3;
$nv-table-border-action: 0.2rem;
$nv-table-border-action-color: $nv-light4;
$nv-table-header-color: $nv-light2;
$nv-table-shadow-action: rgba(0,0,0,0.2);
$nv-table-button-margin: 1rem;
$nv-table-checkbox-width: 1.6rem;
$nv-table-checkbox-column-width: $nv-table-checkbox-width + $nv-table-cell-padding * 2;
$nv-table-end-of-data-height: 10.4rem;
$nv-table-scrollbar-width: 1.5rem;

// Normal palette.
$nv-normal-blue        : #1d4f91;
$nv-normal-orange      : #ffad00;
$nv-normal-red         : #ba0c2f;
$nv-normal-green       : #257226;
$nv-normal-hover-blue  : #477ced;
$nv-normal-hover-orange: #f7c757;
$nv-normal-hover-red   : #e00d38;
$nv-normal-hover-green : #3f9922;

// Alternate palette.
$nv-alternate-blue        : #98b6e4;
$nv-alternate-orange      : #73531d;
$nv-alternate-red         : #f8a3bc;
$nv-alternate-green       : #79d97c;
$nv-alternate-hover-blue  : #abcdff;
$nv-alternate-hover-orange: #cc9433;
$nv-alternate-hover-red   : #f7d2dd;
$nv-alternate-hover-green : #8fff93;

// Text color palette.
$nv-tb05   : #f2f2f2;
$nv-tb32   : #adadad;
$nv-tb59   : #696969;
$nv-tb86   : #242424;

// Misc.
$nv-background-color: $nv-light2;
$nv-border-color    : #e8e8e8;
$nv-label-color     : rgba(0, 0, 0, 0.54);

//== Typography
//## The standard typography, according to the ninja style guide.

$font-weight-h1: 500; $font-size-h1: 6.4rem; $line-height-h1: 7.0rem; $letter-spacing-h1: 0.10rem;
$font-weight-h2: 500; $font-size-h2: 3.4rem; $line-height-h2: 4.4rem; $letter-spacing-h2: 0.05rem;
$font-weight-h3: 400; $font-size-h3: 3.0rem; $line-height-h3: 3.6rem; $letter-spacing-h3: 0.10rem;
$font-weight-h4: 300; $font-size-h4: 2.4rem; $line-height-h4: 3.2rem; $letter-spacing-h4: 0.02rem;
$font-weight-h5: 500; $font-size-h5: 1.6rem; $line-height-h5: 2.4rem; $letter-spacing-h5: 0.04rem;

$font-weight-p-med : 500; $font-size-p-med : 1.4rem; $line-height-p-med : 2.3rem; $letter-spacing-p-med : 0.00rem;
$font-weight-p     : 400; $font-size-p     : 1.4rem; $line-height-p     : 2.3rem; $letter-spacing-p     : 0.00rem;
$font-weight-p-capt: 300; $font-size-p-capt: 1.2rem; $line-height-p-capt: 1.8rem; $letter-spacing-p-capt: 0.01rem;


//== Media queries breakpoints
//## The breakpoints at which your layout will change, adapting to different screen sizes.
//## Reference: https://material.angularjs.org/latest/api/service/$mdMedia.

$screen-sm: 600px  !default; // Small screen or phone.
$screen-md: 960px  !default; // Medium screen or tablet.
$screen-lg: 1280px !default; // Large screen or desktop.
$screen-xl: 1920px !default; // Extra large screen or wide desktop.

$nv-screen-lg: 1440px !default; // Custom NV viewports
$nv-screen-xl: 2100px !default;

// Extra small screens are less than $screen-sm.
$screen-xs-max: ($screen-sm - 1) !default;

// Small screens are more than $screen-sm and less than $screen-md.
$screen-sm-min: $screen-sm !default;
$screen-sm-max: ($screen-md - 1) !default;

// Medium screens are more than $screen-md and less than $screen-lg.
$screen-md-min: $screen-md !default;
$screen-md-max: ($screen-lg - 1) !default;

// Large screens are more than $screen-lg and less than $screen-xl.
$screen-lg-min: $screen-lg !default;
$screen-lg-max: ($screen-xl - 1) !default;

// Extra large screens are more than $screen-xl.
$screen-xl-min: $screen-xl !default;

// NV custom medium screens
$nv-screen-md-max: ($nv-screen-lg - 1) !default;

// NV custom large screens
$nv-screen-lg-min: $nv-screen-lg !default;
$nv-screen-lg-max: ($nv-screen-xl - 1) !default;

// NV custom extra large screens
$nv-screen-xl-min: $nv-screen-xl !default;
