[nv-load] {

  .loading {
    height: 80px;
    overflow: hidden;
  }

  .error {
    .reload {
      margin: 0;

      .indicator {
        font-size: 32px;
        padding-top: 8px;
      }
    }
  }

}
