<div ng-if="nvLoad.status === 'loading'" class="loading message-container" layout="column" layout-align="center center">
    <md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>
    <div class="md-body-2 message">{{message}}</div>
</div>

<div ng-if="nvLoad.status === 'loaded'" class="loaded" ng-transclude></div>

<div ng-if="nvLoad.status === 'error'"  class="error message-container" layout="column" layout-align="center center">
    <md-button class="md-warn reload" aria-label="Error" ng-click="reload()">
        <i class="fa fa-exclamation-triangle indicator"></i>
    </md-button>
    <div class="md-body-2">{{errorMessageMain}}</div>
    <div class="md-caption nv-text-center">{{errorMessageSub}}</div>
</div>
