md-dialog.transaction-id-errors {

  width: 50%;
  height: 100%;

  .transaction-ids-container {
    height: 100%;
    padding: 2rem;
    overflow: auto;

    .section-title {
      margin-top: 1rem;
    }
  }

}
