@import "../../../../lib/ninja-commons/styles/variables";
@import "../../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/layout.mixins";

$dialog-padding: 24px;

md-dialog.transaction {
  width: 90%;

  .section-title {
    color: $nv-tb59;
    margin-bottom: 2rem;
  }

  md-dialog-content {
    padding-bottom: 0;

    .md-dialog-content {
      display: flex;
      flex-direction: column;
      padding: $dialog-padding/2;
    }

    div.table-container {
      height: 19rem;
      position: relative;
      flex: 1;

      nv-table {
        // column width
        @include nv-table-column-width(sequence, 7rem);
        @include nv-table-column-width(id, 11rem);
        @include nv-table-column-width(order-id, 11rem);
        @include nv-table-column-width(tracking-id, 22rem);
        @include nv-table-column-width(type, 11rem);
        @include nv-table-column-width(shipper, 15rem);
        @include nv-table-column-width(address, 25rem);
        @include nv-table-column-width(route-id, 11rem);
        @include nv-table-column-width(status, 16rem);
        @include nv-table-column-width(start-date-time, 14rem);
        @include nv-table-column-width(end-date-time, 14rem);
        @include nv-table-column-width(dp, 15rem);
        @include nv-table-column-width(pickup-size, 15rem);
        @include nv-table-column-width(comments, 20rem);

        @include nv-table-row-height(8.5rem);

        .table-with-locks-container table.table-body tr:nth-child(odd) td:not(.end-of-result),
        .table-with-locks-container table.table-body tr:nth-child(even) td:not(.end-of-result) {
          &.not-available {
            background-color: $nv-dark-blue
          }
        }
      }
    }
  }

  .secondary-dialog-actions {
    flex-direction: column;
    order: 1;

    > div {
      padding: 0 $dialog-padding $dialog-padding/2;

      md-divider {
        margin: 3rem auto;
      }

      .nv-btn-grp {
        min-width: 0 !important;
      }

      nv-icon-text-button {
        width: 100%;

        button {
          width: 100%;
        }
      }
    }
  }

  md-dialog-actions {
    nv-button-save {
      width: 100%;

      button {
        width: 100%;
      }
    }
  }
}