<nv-dialog-header title="{{'container.transactions.add-to-route-group' | translate}}" md-theme="nvBlue" on-cancel="::onCancel($event)"></nv-dialog-header>

<form name="modelForm" ng-submit="::onSave()" md-theme="nvBlue">

  <md-dialog-content>
    <div class="md-dialog-content">
      <h4 class="section-title" translate="container.transactions-v2.dialog.num-selected-txn-rxn" translate-values="{count: tableParam.getTableData().length}">
      </h4>

      <div class="table-container">
        <nv-table
          param="tableParam">
          <nv-table-row use="trvn" row-height="85">
            <nv-td column="sequence" filter="false">
              {{trvn.sequence || '-'}}
            </nv-td>
            <nv-td column="id" filter="false">
              {{trvn.id || '-'}}
            </nv-td>
            <nv-td column="orderId" filter="false" ng-class="{'not-available': trvn._type === 'rxn'}">
              {{trvn.orderId || '-'}}
            </nv-td>
            <nv-td column="trackingId" filter="false" ng-class="{'not-available': trvn._type === 'rxn'}">
              {{trvn.trackingId || '-'}}
            </nv-td>
            <nv-td column="type" filter="false">
              {{trvn.type || '-'}}
            </nv-td>
            <nv-td column="shipper" filter="false">
              {{trvn.shipper || '-'}}
            </nv-td>
            <nv-td column="address" filter="false">
              {{trvn.address || '-'}}
            </nv-td>
            <nv-td column="routeId" filter="false">
              {{trvn.routeId || '-'}}
            </nv-td>
            <nv-td column="status" filter="false">
              {{trvn.status || '-'}}
            </nv-td>
            <nv-td column="startDateTime" filter="false">
              {{trvn.startDateTime || '-'}}
            </nv-td>
            <nv-td column="endDateTime" filter="false">
              {{trvn.endDateTime || '-'}}
            </nv-td>
            <nv-td column="dp" filter="false">
              {{trvn.dp || '-'}}
            </nv-td>
            <nv-td column="pickupSize" filter="false" ng-class="{'not-available': trvn._type === 'txn'}">
              {{trvn.pickupSize || '-'}}
            </nv-td>
            <nv-td column="comments" filter="false">
              {{trvn.comments || '-'}}
            </nv-td>
          </nv-table-row>
        </nv-table>
      </div>
    </div>
  </md-dialog-content>

  <div class="secondary-dialog-actions">
    <div>
      <md-divider></md-divider>

      <div layout="column">
        <div flex>
          <h4 class="section-title">{{'container.transactions.route-group' | translate}}</h4>
        </div>
        <div flex>
          <nv-btn-grp
            model="fields.addIntoExistingOrNew"
            label-for-model-idx-0="{{'container.transactions.dialog.existing-route-group' | translate}}"
            label-for-model-idx-1="{{'container.transactions.dialog.create-new-route-group' | translate}}"
            form="modelForm" select-multiple="false" select-none="false" default-selection="'10'">
          </nv-btn-grp>
        </div>
        <div flex ng-if="fields.addIntoExistingOrNew === '10'"> <!-- existing route group -->
          <p>{{'container.transactions.dialog.select-existing-route-group' | translate}}</p>
          <nv-input-select
            style="display: block;"
            label="{{fields.routeGroupsSelection.displayName}}"
            model="fields.routeGroupsSelection.value"
            model-options="{}"
            options="fields.routeGroupsSelection.options"
            form="modelForm"
            searchable="true"
            required="::true">
          </nv-input-select>
        </div>
        <div flex ng-if="fields.addIntoExistingOrNew === '01'"> <!-- create new route group -->
          <p>{{'container.transactions.dialog.enter-new-route-group-name' | translate}}</p>
          <nv-input-text
            class="md-block"
            label="{{::fields.addFields.name.translateKey | translate}}"
            model="fields.addFields.name.value"
            form="modelForm"
            required="::true">
          </nv-input-text>
        </div>
      </div>
    </div>
  </div>

  <md-dialog-actions>
    <nv-button-save
      icon="check"
      name="{{'container.transactions-v2.dialog.add-txn-rxn' | translate}}"
      form="modelForm"
      state="saveButtonState">
    </nv-button-save>
  </md-dialog-actions>

</form>
