<nv-dialog-header
  md-theme="nvRed"
  on-cancel="::onCancel(event)"
  title="{{'container.transactions.txn-id-errors' | translate}}"
  cancel-text="container.transactions.txn-id-errors-done">
</nv-dialog-header>

<div class="transaction-ids-container">
  <div>{{'container.transactions.txn-id-errors-not-included' | translate}}</div>

  <h4 class="section-title" ng-if="notExistIds.length > 0">{{'container.transactions.txn-id-errors-do-not-exist' | translate}}</h4>
  <div ng-repeat="id in notExistIds track by $index">{{::id}}</div>

  <h4 class="section-title" ng-if="cancelledIds.length > 0">{{'container.transactions.txn-id-errors-cancelled' | translate}}</h4>
  <div ng-repeat="id in cancelledIds track by $index">{{::id}}</div>
</div>
