nv-button-save {
  button {
    > i {
      vertical-align: top;
      font-size: 2rem;
    }
  }

  .md-button {
    text-transform: none;
  }

  .saving md-progress-circular {
    transform-origin: left top;
    position: absolute;
    top: 8px;
    left: 8px;
  }

  .saving span {
    padding: 0 4px 0 28px;
  }

}
