<md-button
        type="submit"
        md-theme="{{mdTheme}}"
        class="nv-button raised"
        aria-label="Save Button"
        ng-disabled="_isDisabled()"
        md-theme-watch>

    <i class="material-icons" ng-if="icon && state === 'clean'">{{::icon}}</i>

    <span class="clean" ng-if="state === 'clean'">{{name | translate}}</span>

    <div class="saving" ng-if="state === 'saving'">
        <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="20%"></md-progress-circular>
        <span>{{commons.saving | translate}}</span>
    </div>

    <!-- todo: add other states? -->
    <!--<div class="saved" ng-if="state === 'saved'">Saved</div>-->
    <!--<div class="failed" ng-if="state === 'failed'">Save Failed</div>-->

</md-button>
