<div layout="row" class="input-password" ng-class="::{'disabled': disabled }">

    <md-input-container flex class="nv-p">

        <label for="{{id}}" class="nv-small">{{label}}</label>

        <i class="material-icons input-invalid" ng-if="form[id].$invalid && !disabled">error_outline</i>

        <input type="{{showPassword ? 'text' : 'password'}}"
               name="{{id}}"
               id="{{id}}"
               aria-label="{{label}}"
               ng-model="model"
               ng-disabled="disabled"
               ng-required="required"
               minlength="{{nvMinlength}}">

        <div ng-if="!!form" ng-messages="form[id].$error" role="alert">
            <div ng-message="required">This field is required.</div>
            <div ng-message="minlength">Minimum length is {{nvMinlength}}</div>
        </div>

        <div class="help-text" ng-if="helpText">{{helpText}}</div>

    </md-input-container>

    <div class="secondary-button-container fa-icon">
        <md-button
                type="button"
                aria-label="Show Password"
                class="nv-button raised secondary-button"
                ng-click="showPassword = !showPassword">
            <i class="fa fa-eye" ng-if="showPassword"></i>
            <i class="fa fa-eye-slash" ng-if="!showPassword"></i>
        </md-button>
    </div>

</div>
