nv-toggle-button {

  display: inline-block;

  $button-size: 3rem;

  .md-button.nv-button {
    padding: 0;
    width: $button-size;
    min-width: $button-size;
    height: $button-size;
    min-height: $button-size;
    line-height: $button-size;
  }

}
