<md-button
  class="nv-button raised"
  type="button"
  md-theme-watch
  aria-label="Toggle"
  ng-click="::_onClick($event)">

  <span ng-if="state">{{textActive | translate}}</span>

  <span ng-if="!state">{{textInactive | translate}}</span>

</md-button>
