.nv-container-role-management{
  height: 100%;
  width: 100%;
  .loading-sheet {
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(#CFCFCF, 0.67);
    z-index: 11;
    height: 100%;
    width: 100%;
  }
}