<md-content layout-padding class="nv-container-role-management" nv-load="ctrl.load" loading-message="Loading Roles...">
    <div class="data-header" layout="row">
        <div flex = "40" layout="row" layout-padding layout-align = "start center">
        </div>
        <span flex></span>
        <div layout = "row" layout-align = "start center">
            <nv-create-button
                    md-theme="nvGreen"
                    class="raised"
                    name="{{'container.role-management.add-role' | translate}}"
                    on-click="::ctrl.createOne($event)">
            </nv-create-button>
        </div>
    </div>
    <app-search
            nv-focus-first-input
            id="field-search-role"
            on-search="ctrl.onSearch(searchText)"
            placeholder="{{'container.role-management.search-role' | translate}}"
            flex = "100">
    </app-search>
    <div class="table-container">
        <table ng-table="ctrl.allRoleParams" class="table table-condensed table-striped table-bordered" style="margin: 0px; " width=100%>
            <tr ng-repeat="role in $data">
                <td data-title="ctrl.table.serialNo" class="col-sm-1 col-md-1 col-lg-1">
                    {{ role.id }}
                </td>

                <td data-title="ctrl.table.name" class="col-sm-2 col-md-2 col-lg-2">
                    {{ role.name }}
                </td>

                <td data-title="ctrl.table.numberOfScopes" class="col-sm-2 col-md-2 col-lg-2">
                    {{ role.scopesCount }}
                </td>

                <td data-title="ctrl.table.numberOfUsers" class="col-sm-2 col-md-2 col-lg-2">
                    {{ role.usersCount }}
                </td>

                <td data-title="ctrl.table.description" class="col-sm-3 col-md-3 col-lg-3">
                    {{ role.description }}
                </td>

                <td data-title="ctrl.table.actions" class="col-sm-2 col-md-2 col-lg-2 actions column-locked-right">
                     <nv-icon-button
                            class="ghost nv-margin-auto"
                            style = "border-color: black "
                            name="Edit"
                            icon="edit"
                            on-click="ctrl.updateOne($event, role)">
                    </nv-icon-button>
                </td>
            </tr>
        </table>
    </div>
    <div class="loading-sheet" ng-if="ctrl.loadingSheet === true" layout layout-align="center center">
            <md-progress-circular md-theme="nvBlue" class="md-primary" md-mode="indeterminate" md-diameter="64px"></md-progress-circular>
    </div>
</md-content>
