<div class="nv-container-lazada-3pl">
  <div class="csv-upload-container" ng-if="ctrl.viewState === ctrl.STATE.READY" layout="row" layout-wrap layout-padding>
      <div flex="100" layout="row" layout-align="center-center">
          <h5>{{"container.amazon-parcel-status.upload-your-csv-here" | translate}}</h5>            
      </div>
      <div flex="100" layout="row" layout-padding layout-align="center center">
        <nv-button-file-picker
            md-theme="nvYellow"
            class="raised upload"
            label="{{'container.recovery-tickets.choose-file' | translate}}"
            accept=".csv"
            multiple="false"      
            disabled="ctrl.state=='waiting'"
            on-file-select="::ctrl.onSelectFile($file)">
        </nv-button-file-picker>
        <nv-icon-text-button
            icon="cloud_upload"
            disabled="!ctrl.file"
            md-theme="nvGreen"
            class="raised"
            name="commons.upload"
            on-click="ctrl.upload()">
        </nv-icon-text-button>
      </div>
      <div flex="100" layout="row" layout-align="center center">
          <p>{{"container.lazada-3pl.download-the-csv-template" | translate }}
            <nv-download-csv-button
              name="{{'commons.here' | translate}}"
              md-theme=""
              class="download-sample"
              dense="true"
              data="ctrl.SAMPLE_CSV"
              csv-header="{{::ctrl.SAMPLE_CSV_HEADER}}"
              csv-column-order="{{::ctrl.SAMPLE_CSV_HEADER}}"
              filename="sample_csv.csv">
            </nv-download-csv-button>
          </p>
      </div> 
      
      <div flex="100" layout="row" layout-padding layout-wrap ng-if="ctrl.success.length > 0 || ctrl.errors.length > 0">
          <md-card flex="100" class="success-container">
              <h5>{{'container.amazon-parcel-status.succes-upload-following-tracking-id' | translate}}</h5>
              <ul>
                  <li ng-repeat="success in ctrl.success">
                      {{success.tracking_id}}
                  </li>
              </ul>
          </md-card>

          <md-card flex="100" class="error-container">
                  <h5>{{'container.amazon-parcel-status.error-upload-following-tracking-id' | translate}}</h5>
                  <ul>
                      <li ng-repeat="error in ctrl.errors">
                          {{error.tracking_id}}
                          <p>{{'container.amazon-parcel-status.reason' | translate}} {{error.message}}</p>
                      </li>
                  </ul>
          </md-card>


      </div>
          

  </div>

  <div class="csv-uploading-container" ng-if="ctrl.viewState === ctrl.STATE.WAITING" layout-padding layout="row" layout-wrap>
    <h3 flex="100">{{'commons.uploading' | translate}}</h3>
    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
  </div>

  <div class="csv-upload-result-container" ng-if="ctrl.viewState === ctrl.STATE.DONE" 
    layout="row" layout-wrap layout-padding>
      <div flex="100" class="result-success-container" ng-if="ctrl.data.success.length > 0">
        {{ "container.lazada-3pl.webhooks-sent-successfully-x" | translate: { x: ctrl.data.success.length } }}
      </div>
      <div flex="100" class="result-failed-container" ng-if="ctrl.data.errors.length > 0">
        {{"container.lazada-3pl.webhooks-failed-x" | translate: { x: ctrl.data.errors.length } }}
      </div>
      <div flex="100" class="buttons" layout="row" layout-padding layout-wrap>
        <nv-download-csv-button
            ng-if="ctrl.data.errors.length > 0"
            name="container.lazada-3pl.download-failed-data"
            md-theme="nvBlue"
            data="ctrl.data.errors"
            csv-header="{{ctrl.ERROR_CSV_HEADER}}"
            csv-column-order="{{ctrl.ERROR_CSV_HEADER}}"
            filename="error.csv">
        </nv-download-csv-button>
        <nv-icon-text-button
            name="Upload another"
            on-click="ctrl.uploadAnother()"
            class="raised"
            icon="arrow_back"
            md-theme="nvBlue">
        </nv-icon-text-button>
      </div>
  </div>
</div>
