.nv-container-reports {
  .group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .group + .group {
    margin-left: 20px;
  }

  // fix jumping of datepick popover
  .md-datepicker-input-container {
    padding: 0px;
  }

}
