<md-content class="nv-container-reports">
  <md-card>
    <md-card-title>
      <span class="md-headline">{{'container.reports.COD-report' | translate}}</span>
    </md-card-title>
    <md-card-content>
      <div flex layout-gt-md="row" layout="column" layout-align="end">
        <div flex-grow flex layout-gt-sm="row" layout="column" layout-gt-sm-align="start end">
          <div class="group">
            <label>{{'container.reports.mode' | translate }}</label>
            <nv-btn-grp
              model="ctrl.codReport.mode"
              label-for-model-idx-0="Get CODs For A Day"
              label-for-model-idx-1="Get Driver CODs For A Route Day"
              select-multiple="false"
              select-none="false">
            </nv-btn-grp>
          </div>

          <div class="group">
            <div>
            <label>{{'container.reports.date' | translate }}</label>
            <md-datepicker
              ng-model="ctrl.codReport.date"
              md-max-date="ctrl.today"
              md-placeholder="Date">
            </md-datepicker>
            </div>
          </div>
        </div>
        <md-card-actions>
          <nv-api-text-button 
            class="md-raised" 
            ng-click="ctrl.codReport.generate()" 
            state="ctrl.codReport.state"
            name="{{'container.reports.generate'}}"
            text="{{'container.reports.generate'}}"
            ></nv-api-text-button>
        </md-card-actions>
      </div>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-title>  
      <span class="md-headline">{{'container.reports.driver-report' | translate}}</span>
    </md-card-title>
    <md-card-content>
      <div layout-gt-md="row" layout="column">
        <div flex-grow flex layout="row">
          <div class="group">
            <label>{{'container.reports.from-date' | translate }}</label>
            <md-datepicker
              ng-model="ctrl.driverReport.fromDate"
              md-placeholder="{{'container.driver-reports.from-date' | translate}}"
              md-max-date="ctrl.driverReport.toDate"
              required>
            </md-datepicker>
          </div>
          <div class="group">
            <label>{{'container.reports.to-date' | translate }}</label>
            <md-datepicker
              ng-model="ctrl.driverReport.toDate"
              md-placeholder="{{'container.driver-reports.to-date' | translate}}"
              md-max-date="ctrl.today"
              ng-change="ctrl.driverReport.checkDateOrder()"
              required>
            </md-datepicker>
          </div>
        </div>
        <md-card-actions>
          <nv-api-text-button 
            class="md-raised" 
            ng-click="ctrl.driverReport.generate()"
            state="ctrl.driverReport.state"
            name="{{'container.reports.generate'}}"
            text="{{'container.reports.generate'}}"
            ></nv-api-text-button>
        </md-card-actions>
      </div>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>
      <span class="md-headline">{{'container.reports.route-cleaning-report' | translate}}</span>
    </md-card-title>

    <md-card-content>
      <div flex layout-gt-md="row" layout="column" layout-align="end">
        <div flex-grow flex layout-gt-sm="row" layout="column" layout-gt-sm-align="start end">
          <div class="group" style="margin-right: 20px;">
            <label>{{'container.reports.mode' | translate }}</label>
            <nv-btn-grp
              class="h6"
              model="ctrl.routeCleanningReport.mode"
              label-for-model-idx-0="COD"
              label-for-model-idx-1="Parcel"
              label-for-model-idx-2="Reservation"
              select-multiple="false"
              select-none="false">
            </nv-btn-grp>
          </div>

          <div class="group">
            <div>
              <label>{{'container.reports.date' | translate }}</label>
              <md-datepicker
                ng-model="ctrl.routeCleanningReport.date"
                md-max-date="ctrl.today"
                md-placeholder="Date">
              </md-datepicker>
            </div>
          </div>
        </div>
        <md-card-actions>
          <nv-api-text-button
            class="md-raised" 
            state="ctrl.routeCleanningReport.state"
            name="{{'container.reports.generate'}}"
            text="{{'container.reports.generate'}}"
            ng-click="ctrl.routeCleanningReport.generate()"
            >
          </nv-api-text-button>
        </md-card-actions>
      </div>
    </md-card-content>
  </md-card>


</md-content>
