@import "../../../../styles/variables";
@import "../../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../../views/container/route-inbound/route-inbound.mixins";

.nv-container-route-inbound-inbounding {
  max-width: 110rem;
  margin-left: auto;
  margin-right: auto;
  padding: $nv-baseline-grid*2;

  // section
  .header-holder {
    padding-right: $nv-baseline-grid;

    @include nv-media-query-sm-max {
      padding-right: 0;
    }

    nv-icon-text-button {
      display: inline-block;
      margin-right: $nv-baseline-grid*2;
    }

    h4.title {
      @include nv-font-color(black, 2);
      margin-top: $nv-baseline-grid;
      margin-bottom: $nv-baseline-grid*4;
      display: inline-block;
    }

    .unresolved-checkbox {
      display: inline-block;
      margin: 1rem $nv-baseline-grid 0 0;
    }

    nv-api-text-button {
      display: inline-block;
    }
  }

  .content-holder {
    padding-right: $nv-baseline-grid;

    @include nv-media-query-sm-max {
      padding-right: 0;
    }

    .comment {
      @include nv-font-weight(medium);
      font-size: 1.8rem;

      border: 1px solid #b7bbc0;
      padding: $nv-baseline-grid*2;
      margin-top: -$nv-baseline-grid*3;
      margin-bottom: $nv-baseline-grid*2;
    }

    .duplicate,
    .order-not-found,
    .order-completed,
    .order-cancelled,
    .order-returned-to-sender,
    .order-transferred-to-3pl,
    .on-hold,
    .unknown-error {
      background-color: #25383C;
      color: $nv-text-white-1;
    }

    .pending-delivery {
      background-color: #f9f9f9;
    }

    .failed-delivery-invalid {
      background-color: #f0f0f0;
    }

    .failed-delivery-valid {
      background-color: #f3f3f3;
    }

    .successful-c2c-or-return-pickup {
      background-color: #d1d1d1;
    }

    .reservation, .grab-reservation {
      background-color: #e6e6e6;
    }

    @include big-button {
      &.big-button-horizontal {
        .big-button {
          &.large {
            width: 26rem;
          }

          &.repeated-cmi {
            margin-left: auto;
            margin-right: auto;
          }

          .count-over-total {
            i.material-icons {
              @include icon-color;

              &.caution {
                @include nv-font-color(dark-red);
              }
            }
          }

          @include nv-media-query-sm-max {
            width: 26rem;
            vertical-align: top;
          }
        }
      }
    }

    .sub-summary-holder {
      margin-bottom: $nv-baseline-grid*2;
    }

    .expected-scans-holder {
      padding-right: $nv-baseline-grid*3;
      padding-bottom: $nv-baseline-grid*2;
      border-right: 1px solid #979797;

      h5 {
        font-size: 2rem;
        padding-top: $nv-baseline-grid/2;
        margin-bottom: $nv-baseline-grid*3;
      }
    }

    .scan-tracking-holder {
      padding-left: $nv-baseline-grid*3;

      @include nv-media-query-sm-max {
        padding-left: 0;
      }

      h5 {
        font-size: 2rem;
        opacity: 0.8;
        padding-top: $nv-baseline-grid/2;
        margin-bottom: -$nv-baseline-grid;
      }

      md-input-container {
        label {
          display: none;
        }

        .md-errors-spacer {
          display: none;
        }
      }

      .table-container.inbound-history-table-holder {
        margin-top: $nv-baseline-grid*3;
        max-height: 45rem;

        .num {
          width: 7%;
        }

        .tracking-id {
          width: 28%;
        }

        .status-or-type {
          width: 34%;
        }

        .reason-or-action {
          width: 31%;
        }
      }
    }
  }

  .sidebar-holder {
    padding-left: $nv-baseline-grid*3;

    @include nv-media-query-sm-max {
      padding-left: 0;
    }

    p {
      margin-top: $nv-baseline-grid;
      margin-bottom: $nv-baseline-grid;
      font-size: 1.2rem;

      &.external-pages-title {
        margin-top: $nv-baseline-grid*4;
      }

      @include nv-media-query-sm-max {
        margin-top: $nv-baseline-grid*2 !important;
      }
    }

    a {
      display: block;
      margin-bottom: $nv-baseline-grid*2;

      @include nv-font-color(black);
      @include nv-font-weight(medium);

      @include nv-media-query-sm-max {
        display: inline-block;
        margin-right: $nv-baseline-grid*2;
      }
    }
  }
}