<audio media-player="mediaPlayer" playlist="audioPlaylist"></audio>
<md-content class="nv-container-route-inbound-inbounding">
  <div layout="row" layout-sm="column" layout-xs="column">
    <div flex>
      <div class="header-holder">
        <div layout="row" layout-sm="column" layout-xs="column">
          <div flex>
            <nv-icon-text-button
              class="ghost"
              name="commons.go-back"
              icon="arrow_back"
              on-click="ctrl.goToResultPage()">
            </nv-icon-text-button>

            <h4 class="title">{{ 'container.sidenav.route-inbound' | translate }}</h4>
          </div>
          <div flex-sm="100" flex-xs="100">
            <nv-input-checkbox
              class="nv-text-no-select unresolved-checkbox"
              label="{{'container.route-inbound.remove-route-from-driver-app' | translate}}"
              on-change="ctrl.onUnresolvedCheckboxChange()"
              model="ctrl.formIsUnresolved">
            </nv-input-checkbox>

            <nv-api-text-button
              id="end-session"
              state="ctrl.endSessionState"
              class="raised"
              name="container.route-inbound.end-session"
              on-click="ctrl.endSession($event)">
            </nv-api-text-button>
          </div>
        </div>
      </div>
    </div>
    <div flex="20"
         hide-sm hide-xs></div>
  </div>

  <div layout="row" layout-sm="column" layout-xs="column">
    <div flex>
      <div class="content-holder">
        <app-route-inbound-summary
          route-id="{{ ctrl.parentCtrl.inboundSummaryResult.route_id }}"
          driver-name="{{ ctrl.parentCtrl.inboundSummaryResult.driver_name }}"
          hub-name="{{ ctrl.parentCtrl.selectedHub.name }}"
          route-date="{{ ctrl.parentCtrl.inboundSummaryResult.route_date | nvTime:'operator':'date' }}">
        </app-route-inbound-summary>

        <div md-whiteframe="2"
             class="comment"
             ng-if="ctrl.hasComments()">
          {{ ctrl.getLatestComment() }}
        </div>

        <div layout="row" layout-sm="column" layout-xs="column" layout-wrap
             class="sub-summary-holder">
          <div flex-md="50">
            <div class="big-button-holder big-button-horizontal">
              <div class="big-button large"
                   md-whiteframe="2"
                   ng-click="ctrl.viewDetails($event, 'container.route-inbound.parcels-processed', [], ctrl.VIEW_DETAILS_MODE.ALL)">
                <div class="title">
                  {{ 'container.route-inbound.parcels-processed' | translate }}
                </div>
                <div class="count-over-total">
                  {{ ctrl.getParcelsProcessedCount() }}
                  /
                  {{ ctrl.getParcelsProcessedTotal() }}
                </div>
              </div>
            </div>
          </div>
          <div flex flex-md="50">
            <div class="big-button-holder big-button-horizontal"
                 ng-if="ctrl.repeatedCMIOrders.length > 0">
              <div class="big-button large repeated-cmi"
                   md-whiteframe="2"
                   ng-click="ctrl.viewDetails($event, 'container.route-inbound.repeated-cmi', ctrl.repeatedCMIOrders)">
                <div class="title">
                  {{ 'container.route-inbound.repeated-cmi' | translate }}
                </div>
                <div class="count-over-total">
                  {{ ctrl.repeatedCMIOrders.length }}
                </div>
              </div>
            </div>
          </div>
          <div flex-md="50">
            <div class="big-button-holder big-button-horizontal">
              <div class="big-button large"
                   md-whiteframe="2"
                   ng-click="ctrl.viewMoneyCollection($event)">
                <div class="title">
                  {{ 'container.route-inbound.money-to-collect' | translate }}
                </div>
                <div class="count-over-total">
                  <span ng-if="ctrl.remainingCashToCollect > 0">$ {{ ctrl.remainingCashToCollect.toFixed(2) }}</span>
                  <i ng-if="ctrl.remainingCashToCollect <= 0"
                     class="material-icons">done</i>
                  <i ng-if="ctrl.remainingCashToCollect > 0"
                     class="material-icons pull-right caution">error_outline</i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div layout="row" layout-sm="column" layout-xs="column">
          <div flex="33" flex-sm="100" flex-xs="100">
            <div class="expected-scans-holder">
              <h5>{{ 'container.route-inbound.expected-scans' | translate }}</h5>

              <div class="big-button-holder big-button-horizontal">
                <div ng-repeat="expectedScan in ctrl.expectedScans"
                     class="big-button"
                     md-whiteframe="2"
                     ng-click="ctrl.viewDetails($event, expectedScan.id, expectedScan.all, expectedScan.type)">
                  <div class="title">
                    {{ expectedScan.id| translate }}
                  </div>
                  <div class="count-over-total">
                    {{ ctrl.getScannedOrders(expectedScan.all).length }}
                    /
                    <span ng-if="expectedScan.type !== ctrl.VIEW_DETAILS_MODE.RESERVATION">
                      {{ expectedScan.all.length }}
                    </span>
                    <span ng-if="expectedScan.type === ctrl.VIEW_DETAILS_MODE.RESERVATION">
                      {{ expectedScan.count }}
                    </span>

                    <span ng-if="expectedScan.type === ctrl.VIEW_DETAILS_MODE.RESERVATION && ctrl.parentCtrl.inboundSummaryResult.extra_order_details.length > 0">
                      &nbsp;|&nbsp; +{{ ctrl.parentCtrl.inboundSummaryResult.extra_order_details.length }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div flex>
            <div class="scan-tracking-holder">
              <h5>{{"container.route-inbound.scan-a-tracking-id" | translate}}</h5>
              <nv-input-text
                class="md-block"
                name="tracking-id"
                label="container.route-inbound.scan-a-tracking-id"
                model="ctrl.formTrackingId"
                on-keypress="ctrl.scanInbound(event)">
              </nv-input-text>

              <div class="table-container inbound-history-table-holder"
                   ng-if="ctrl.inboundingHistory.length > 0">
                <table class="table table-condensed">
                  <thead>
                  <tr>
                    <th class="num"></th>
                    <th class="tracking-id">{{ 'commons.tracking-id' | translate }}</th>
                    <th class="status-or-type">{{ 'container.route-inbound.status-or-type' | translate }}</th>
                    <th class="reason-or-action">{{ 'container.route-inbound.reason-or-action' | translate }}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="row in ctrl.inboundingHistory | orderBy:'createdAt':true"
                      ng-class="row.cssClass">
                    <td>{{ ctrl.inboundingHistory.length - $index }}.</td>
                    <td>
                      {{ row.scan }}
                    </td>
                    <td>
                      {{ row.status }}
                    </td>
                    <td>
                      {{ row.reason }}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div flex="20" flex-sm="100" flex-xs="100">
      <div class="sidebar-holder">
        <p>{{ 'commons.tools' | translate }}</p>
        <a href="javascript:;" ng-click="ctrl.routeInboundComments($event)">{{ 'container.route-inbound.route-inbound-comments' | translate }}</a>
        <a href="javascript:;" ng-click="ctrl.addressVerification()">{{ 'container.route-inbound.address-verification' | translate }}</a>

        <p class="external-pages-title">{{ 'container.route-inbound.external-pages' | translate }}</p>
        <a href="javascript:;" ng-click="ctrl.goToRouteManifestPage()">{{ 'commons.route-manifest' | translate }}</a>
        <a href="javascript:;" ng-click="ctrl.goToDriverReportPage()">{{ 'container.sidenav.fleet.driver-report' | translate }}</a>
        <a href="javascript:;" ng-click="ctrl.goToRelabelStampPage()">{{ 'container.relabel-stamp.title' | translate }}</a>
      </div>
    </div>
  </div>
</md-content>