.nv-bulky-batch{
    height: 100%;
    width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    div.bulky-batchfilter-container{
        height: 10rem;
        padding: 1.8rem;
    }
    div.table-container{
        position: relative;
        flex: 1;
        nv-table{
            @include nv-table-column-width(name,60rem);
            @include nv-table-column-width(id,15rem);
        }
    }
}