<md-content class="nv-bulky-batch">
    <form name="modelForm">
    <div class="bulky-batchfilter-container" layout="row" layout-wrap
        layout-align="start center">        
        <p>
            {{'commons.from' | translate}}
        </p>
        <div flex="33">
            <md-datepicker name="from"
		               class="from-date-picker"
		               md-max-date="ctrl.to"
                       ng-model="ctrl.from"
                       form="modelForm"
                       required="true"
		               md-placeholder="{{'container.route-group.enter-date' | translate}}">
		    </md-datepicker>
        </div>
        <p>
            {{'commons.to' | translate}}
        </p>
        <div flex="33">
            <md-datepicker name="to"
		               class="to-date-picker"
		               md-min-date="ctrl.from"
                       ng-model="ctrl.to"
                       form="modelForm"   
                       required="true"                                    
		               md-placeholder="{{'container.route-group.enter-date' | translate}}">
		    </md-datepicker>
        </div>
        <div flex="10">
            <nv-api-text-button
                name="run"
                icon="play_arrow"
                text="commons.run"
                state="ctrl.state"
                on-click="ctrl.triggerUpdate()"
                button-id="run-btn"
                class="raised" 
                md-theme="nvBlue"
                form="modelForm"
            >
            </nv-api-text-button>
        </div>
    </div>
    </form>

    <div ng-show="ctrl.data != null" class="bulky-batch-table-container table-container">
        <nv-table
            param="ctrl.tableParam"
            controller-as="ctrl"
        >
            <nv-table-row use="order">
                <nv-index></nv-index>
                <nv-td column="id">
                    {{order.id}}
                </nv-td>
                <nv-td column="name">
                    {{order.name}}
                </nv-td>
            </nv-table-row>
        </nv-table>


    </div>

</md-content>