<nv-dialog-header title="{{'container.recovery-tickets.create-ticket' | translate}}" on-cancel="::ctrl.onCancel($event)">
</nv-dialog-header>
<form name="ctrl.modelForm">
    <md-dialog-content nv-load="ctrl.onLoadPage">
        <div layout-wrap layout="row" layout-padding>
            <nv-input-text 
                flex="100" 
                name="trackingId"
                label="{{'container.recovery-tickets.tracking-id' | translate}}" 
                model="ctrl.fields.trackingId.value"
                model-options="{ debounce: 500 }" 
                error-msgs="ctrl.fields.trackingId.errorMsgs"
                form="ctrl.modelForm"
                on-change="ctrl.checkTrackingIdValid(text)"
                required="true">
            </nv-input-text>

            <div flex="100" class="border" layout="row" layout-wrap>
                <h5 flex="100">{{'commons.settings' | translate}}</h5>
                <nv-input-select 
                        flex="100" 
                        label="{{ctrl.fields.entrySource.displayName | translate }}" 
                        model="ctrl.fields.entrySource.value"
                        model-options="{}" 
                        set-default="false" 
                        required="true"
                        options="ctrl.entrySources" 
                        form="ctrl.modelForm">
                </nv-input-select>
                <div flex="100" layout="row" layout-wrap>                    
                    <nv-input-select 
                        flex="50" 
                        label="{{ctrl.fields.investigatingParty.displayName | translate}}" 
                        model="ctrl.fields.investigatingParty.value"
                        set-default="false" 
                        model-options="{}" 
                        required="true"
                        options="ctrl.investigatingParties" 
                        form="ctrl.modelForm">
                    </nv-input-select>
                    <nv-input-select 
                        flex="50" 
                        label="{{ctrl.fields.investigatingHub.displayName | translate}}" 
                        model="ctrl.fields.investigatingHub.value"
                        set-default="false" 
                        model-options="{}" 
                        required="true"
                        options="ctrl.investigatingHubs" 
                        form="ctrl.modelForm">
                    </nv-input-select>
                </div>
                <div flex="100" layout="row" layout-wrap>
                    <nv-input-select 
                        flex="50" 
                        label="{{ctrl.fields.ticketType.displayName | translate}}" 
                        model="ctrl.fields.ticketType.value"
                        set-default="false" 
                        model-options="{}" 
                        options="ctrl.ticketTypes" 
                        form="ctrl.modelForm" 
                        required="true"
                        on-close="ctrl.onChangeTicketType(ctrl.fields.ticketType.value)">
                    </nv-input-select>
                    <nv-input-select 
                        ng-if="ctrl.subTypeExist" 
                        flex="50" 
                        set-default="false" 
                        label="{{ctrl.fields.subTicketType.displayName | translate}}"
                        model="ctrl.fields.subTicketType.value" 
                        model-options="{}" 
                        required="true"
                        options="ctrl.subTypes" 
                        form="ctrl.modelForm" 
                        on-close="ctrl.onSelectSubType(ctrl.fields.subTicketType.value)">
                    </nv-input-select>

                </div>
            </div>

            <div flex="100" ng-if="!ctrl.subTypeExist && ctrl.fields.ticketType.value && ctrl.customFields" layout="row" layout-wrap class="border">
                <h5 flex="100">{{ctrl.ticketTypeName}} {{'container.recovery-tickets.details' | translate }}</h5>
                <nv-custom-field-gen field="field" model-name="ctrl.customFields[{{$index}}].value" flex="100" class="md-block" form="ctrl.modelForm"
                    ng-repeat="field in ctrl.customFields">
                </nv-custom-field-gen>
            </div>
            <div flex="100" ng-if="ctrl.subTypeExist && ctrl.fields.subTicketType.value && ctrl.customFieldsSubtype" layout="row" layout-wrap class="border">
                <h5 flex="100">{{ctrl.ticketTypeName}} {{'container.recovery-tickets.details' | translate }}</h5>
                 <nv-custom-field-gen  field="field" model-name="ctrl.customFieldsSubtype[{{$index}}].value" flex="100" class="md-block" form="ctrl.modelForm"
                              ng-repeat="field in ctrl.customFieldsSubtype">
                 </nv-custom-field-gen>
            </div>

            <div flex="100" layout="row" layout-wrap>
                <nv-input-number 
                    flex="33" 
                    model="ctrl.fields.custZendeskId.value" 
                    label="{{'container.recovery-tickets.customer-zendesk-id' | translate }}"
                    model-options="{}" 
                    form="ctrl.modelForm">
                </nv-input-number>
                <nv-input-number 
                    flex="33" 
                    model="ctrl.fields.shipperZendeskId.value" 
                    label="{{'container.recovery-tickets.shipper-zendesk-id' | translate }}"
                    model-options="{}" 
                    label="" 
                    form="ctrl.modelForm">
                </nv-input-number>
            </div>
            
            <div flex="100" layout="row" layout-wrap>
                <nv-input-textarea 
                    flex="100" 
                    model="ctrl.fields.ticketNotes.value" 
                    label="{{'container.recovery-tickets.ticket-notes' | translate }}"
                    form="ctrl.modelForm">
                </nv-input-textarea>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="end none">

        <nv-api-text-button 
            class="raised" 
            on-click="ctrl.onCreate()" 
            form="ctrl.modelForm" 
            name="{{'container.recovery-tickets.create-ticket' | translate }}"
            state="ctrl.state" 
            button-id="create-button">
        </nv-api-text-button>

    </md-dialog-actions>
</form>