<div class="nv-container-contact-type-management">
    <md-content
            nv-load="ctrl.getContactTypes" loading-message="{{'container.contact-type-management.load-contact-types' | translate}}">

        <app-data-header
                main-title="{{'commons.contact-type-management' | translate}}"
                add-title="{{'container.contact-type-management.add-contact-type' | translate}}"
                on-add="::ctrl.onAdd($event)"
                data="ctrl.contactTypes"
                csv-header="['Id', 'Name']"
                csv-column-order="['id', 'name']"
                filename="contact_types.csv">
        </app-data-header>

        <app-search
                nv-focus-first-input
                on-search="ctrl.onSearch(searchText)"
                placeholder="{{'container.contact-type-management.search-contact-types' | translate}}">
        </app-search>

        <div class="table-container" ng-if="ctrl.contactTypes.length > 0">
            <table ng-table="ctrl.contactTypesTableParams" class="table table-condensed table-bordered table-striped">
                <tr ng-repeat="contactType in $data">
                    <td data-title="'commons.id' | translate">
                        {{contactType.id}}
                    </td>
                    <td data-title="'commons.name' | translate">
                        {{contactType.name}}
                    </td>
                    <td class="actions" data-title="'commons.actions' | translate">
                        <div class="nv-icon-button-group" layout="row" layout-align="center center">
                            <nv-icon-button
                                    md-theme="nvBlue"
                                    class="raised"
                                    name="Edit"
                                    icon="edit"
                                    on-click="ctrl.onEdit($event, contactType)">
                            </nv-icon-button>
                            <nv-icon-button
                                    md-theme="nvRed"
                                    class="ghost nv-margin-auto"
                                    name="Delete"
                                    icon="delete"
                                    on-click="ctrl.onRemove($event, contactType)">
                            </nv-icon-button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="nv-p" ng-if="ctrl.contactTypes.length === 0">{{'container.contact-type-management.no-contact-type-exist' | translate}}</div>
    </md-content>
</div>