@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../lib/ninja-commons/styles/mixins/table.mixins";

.nv-container-route-group {

  @include nv-card-no-margin;
  padding: 0 !important; // overrides responsive styles in nv-card-no-margin

  .action-toolbar {
    white-space: nowrap;

    nv-icon-text-button button {
      width: 100%;
    }

    md-datepicker {
      margin-right: 0;
      background-color: transparent;

      @include nv-media-query-sm-max {
        margin-bottom: 0.5rem;
      }

      .md-datepicker-input-container {
        width: 10rem;
        margin-left: 0;
      }

      .md-datepicker-input {
        pointer-events: none; // hack to disable manual date input
      }

      &.md-datepicker-open .md-datepicker-input-container {
        width: 9.5rem;
        margin-left: -1.2rem;
        padding-bottom: 0;
        background-color: #ffffff;
      }

      &.md-datepicker-open .md-datepicker-input {
        margin-left: 1.2rem;
      }
    }

    .button-holder {
      > * {
        display: inline-block;
        padding: 0 0 0 0.4rem;
        margin: 0;
        vertical-align: middle;
      }

      &:first-child {
        padding: 0;
      }

      .btn-apply-action {
        min-width: 140px;

        > span {
          flex-grow: 1;
        }
      }
    }
  }

  .selected-filter {
    padding: 1.2rem;
    background-color: $nv-highlight-blue;

    p {
      margin: 0;

      &.nv-small {
        margin-top: 0.5rem;
        color: $nv-tb32;
      }
    }
  }

  .content {
    height: 100%;

    md-card {
      height: 100%;
      margin: 0;

      &:last-child {
        position: static;
      }

      md-card-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        div.table-container {
          position: relative;
          flex: 1;

          nv-table {
            // column width
            @include nv-table-column-width(id, 6rem);
            @include nv-table-column-width(name, 25rem);
            @include nv-table-column-width(_created-at, 17rem);
            @include nv-table-column-width(_txns-length, 8rem);
            @include nv-table-column-width(_routed-txns, 12rem);
            @include nv-table-column-width(_rvns-length, 8rem);
            @include nv-table-column-width(_routed-rvns, 12rem);
            @include nv-table-column-width(hub-display-name, 10rem);

            // row height
            @include nv-table-row-height(8rem);

            // action columns
            @include nv-table-action-columns(nv-table-action-width("three-dense-p"));

            tr {
              th {
                vertical-align: middle;
                padding-top: 0;

                &.actions {
                  padding-top: 0.5rem;
                }
              }

              td.name {
                .nv-small {
                  color: $nv-tb32;
                }
              }

              td._txns-length {
                text-align: right;
              }

              td._routed-txns {
                text-align: right;
              }

              td._rvns-length {
                text-align: right;
              }

              td._routed-rvns {
                text-align: right;
              }
            }
          }
        }
      }
    }
  }
}
