<md-content
    class="nv-container-route-group"
    nv-load="ctrl.searchAll"
    loading-message="{{'container.route-group.loading-route-groups' | translate}}">

  <div class="action-toolbar"
       layout-padding
       layout="column" layout-gt-sm="row"
       layout-align="center stretch" layout-align-gt-sm="space-between center">
    <div class="date-picker-holder"
         layout="column" layout-gt-sm="row"
         layout-align="center stretch" layout-align-gt-sm="space-between center">
      <div>{{'container.route-group.creation-date' | translate}}</div>
      <md-datepicker
          md-min-date="ctrl.filter.minDate"
          md-max-date="ctrl.filter.toDate"
          ng-model="ctrl.filter.frDate"
          ng-change="ctrl.onDateChange()"
          md-placeholder="{{'container.route-group.enter-date' | translate}}">
      </md-datepicker>
      <div>to</div>
      <md-datepicker
          md-min-date="ctrl.filter.frDate"
          md-max-date="ctrl.filter.maxDate"
          ng-model="ctrl.filter.toDate"
          ng-change="ctrl.onDateChange()"
          md-placeholder="{{'container.route-group.enter-date' | translate}}">
      </md-datepicker>
    </div>
    <div class="button-holder">
      <p translate="commons.count-selected"
         translate-values="{count: ctrl.routeGroupsTableParam.getSelection().length}">
      </p>
      <md-menu-bar>
        <md-menu md-position-mode="target-right target">
          <md-button
            class="nv-button raised btn-apply-action"
            type="button"
            aria-label="Action"
            ng-click="$mdOpenMenu($event)"
            ng-disabled="ctrl.routeGroupsTableParam.getSelection().length <= 0">
            <span class="nv-text-ellipsis nv-text-left">{{'commons.apply-action' | translate}}</span>
            <i class="material-icons">arrow_drop_down</i>
          </md-button>

          <md-menu-content class="actions-holder dark" width="3">
            <md-menu-item>
              <md-button class="nv-button flat alternate"
                         type="button"
                         aria-label="{{'commons.delete-selected' | translate}}"
                         ng-click="ctrl.deleteSelected($event, ctrl.routeGroupsTableParam.getSelection())">
                <i class="material-icons">delete</i>
                <span>{{'commons.delete-selected' | translate}}</span>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-menu-bar>

      <nv-icon-text-button
          md-theme="nvGreen"
          class="raised"
          icon="add"
          name="container.route-group.create-route-group"
          on-click="::ctrl.createOne($event)">
      </nv-icon-text-button>
    </div>
  </div>

  <div class="selected-filter" layout="column" layout-align="center start" ng-if="ctrl.showFilterSection">
    <p class="med">{{'container.route-group.num-filter-selected' | translate:'{num:1}'}}</p>
    <p class="nv-small">{{'container.route-group.creation-date' | translate}}</p>
    <p>{{ctrl.filter.frDate | nvTime:'operator':'date'}} to {{ctrl.filter.toDate | nvTime:'operator':'date'}}</p>
  </div>

  <div class="content">
    <md-card>

      <md-card-content class="nv-padding-none" ng-if="ctrl.routeGroups.length > 0">
        <app-search-with-count
            nv-focus-first-input
            on-search="::ctrl.filterAll(searchText)"
            count="ctrl.routeGroupsTableParam.getLength()"
            when="{'one': ctrl.translateCount(), 'other': ctrl.translateCount()}"
            placeholder="{{'container.route-group.show-selected-that-contains' | translate}}">
        </app-search-with-count>

        <div class="table-container">
          <nv-table
            param="ctrl.routeGroupsTableParam"
            selectable="true"
            controller-as="ctrl">
            <nv-table-row
              use="routeGroup"
              row-height="80">
              <nv-td column="id" filter="false">
                {{ routeGroup.id }}
              </nv-td>
              <nv-td column="name" filter="false">
                <div>{{ routeGroup.name }}</div>
                <div class="nv-small">{{ routeGroup.description }}</div>
              </nv-td>
              <nv-td column="_createdAt" filter="false">
                {{ routeGroup._createdAt }}
              </nv-td>
              <nv-td column="_txnsLength" filter="false">
                {{ routeGroup._txnsLength }}
              </nv-td>
              <nv-td column="_routedTxns" filter="false">
                {{ routeGroup._routedTxns }}
              </nv-td>
              <nv-td column="_rvnsLength" filter="false">
                {{ routeGroup._rvnsLength }}
              </nv-td>
              <nv-td column="_routedRvns" filter="false">
                {{ routeGroup._routedRvns }}
              </nv-td>
              <nv-td column="hub.displayName" filter="false">
                {{ routeGroup.hub.displayName || '-' }}
              </nv-td>

              <nv-action column="actions">
                <nv-icon-button
                  md-theme="nvBlue"
                  class="ghost dense"
                  name="commons.edit"
                  icon="edit"
                  on-click="ctrl.updateOne($event, routeGroup.id)">
                </nv-icon-button>

                <nv-icon-button
                  md-theme="nvYellow"
                  class="ghost dense"
                  name="container.route-group.edit-route-map"
                  icon="timeline"
                  on-click="ctrl.editRouteMap(routeGroup)">
                </nv-icon-button>

                <nv-icon-button
                  md-theme="nvRed"
                  class="ghost dense"
                  name="commons.delete"
                  icon="delete"
                  on-click="ctrl.deleteOne($event, routeGroup)">
                </nv-icon-button>
              </nv-action>
            </nv-table-row>
          </nv-table>
        </div>
      </md-card-content>

      <md-card-content ng-if="ctrl.routeGroups.length === 0">
        There are no route groups available, please create a route group first.
      </md-card-content>

    </md-card>
  </div>

</md-content>