@import "../../lib/ninja-commons/styles/variables";
@import "../../lib/ninja-commons/styles/mixins/button.mixins";
@import "../../lib/ninja-commons/styles/mixins/shadow.mixins";

app-profilenav {

  md-menu-bar {
    
    padding: 0;

    md-menu {
      > .md-button.nv-button{
        height: $nv-navbar-height - 2 * $nv-navbar-padding;
        margin-top: $nv-navbar-padding;
        margin-bottom: $nv-navbar-padding;

        &:not([disabled]) {
          color: $nv-text-white;
          &:active {
            background-color: map-get(map-get($themeColor, 'nvRed'), 'dark');
          }
        }
        .name {
          margin-left: 0.7rem;
        }
        .ninjasaas {
          text-transform: uppercase;
        }
      }
      &.md-open > .md-button.nv-button {
        background-color: transparent;
      }
    }
  }
}

// separate this style, which is appended to the body element
.md-open-menu-container md-menu-content.app-profilenav {
  $padding: 1.4rem;

  padding: 0;
  background-color: $nv-dark3;

  md-menu-item {
    height: initial;
    
    > * {
      padding: 0;
    }

    &.profile {
      background-color: $nv-brand-red;
      flex-direction: column;
      padding: $padding;
    }

    &.operating-country {
      padding: $padding;
      flex-direction: column;
      md-select {
        margin: 0;
        background-color: $nv-text-white;
        border-radius: 0.4rem;
        md-select-value { 
          border: 0;
          padding: 0.2rem;
          > span {    
            height: 100%;
            transform: none;
          }
          div {
            overflow: visible;
            display: flex;
            > img {
              flex: initial;
              margin-left: 0.7rem;
              margin-right: 0.7rem;
              @include nv-shadow(2dp);
            }
            > span.ninjasaas {
              flex: initial;
              margin-left: 0.7rem;
              text-transform: uppercase;
              transform: none;
            }
          }
        }
      }
    }    

    &.access-token {
      padding: $padding;
      padding-top: 0;
      flex-direction: column;
      div[ngclipboard] {
        padding: 0;
        border: 0.1rem $nv-text-white solid;
        border-radius: 0.4rem;
        cursor: default;
        p {
          margin: 0.5em;
          user-select: none;
        }
        &:active {
          background-color: $nv-text-white;
          p {
            color: $nv-text-black;
          }
        }
      }
      &:not(.copied) {
        .copied-label {
          display: none;
        }
      }
      &.copied {
        div[ngclipboard] {
          border-color: $nv-light-green;
        }
        .copied-label {
          color: $nv-light-green;
        }
      }
    }

    .md-button {
      height: 4rem;
      line-height: 4rem;
      padding: 0 $padding;
      @include nv-button-no-border-radius;
    }

    &:last-child {
      margin-bottom: 0.7rem;
    }
  }
}
.md-select-menu-container.country-selector {
  $padding: 1.4rem;
  z-index: 110;
  md-option {
    height: 3rem;
    padding: 0 $padding;
    div {
      display: flex;
      align-items: center;
    }
    img {
      margin-right: 0.7rem;
      @include nv-shadow(2dp);
    }
    span.ninjasaas {
      text-transform: uppercase;
    }
  }
}
// animation
// .md-open-menu-container.md-leave {
//   transition-duration: 500ms;
//   md-menu-content.app-profilenav {
//     md-menu-item.profile .name {
//       transform: translateX(20rem);
//       transition: 500ms;
//     }
//   }
// }