<md-menu-bar>
  <md-menu md-position-mode="target-right target">

    <md-button class="nv-button custom h5 nv-text-notransform" type="button" aria-label="Profile" ng-click="$mdOpenMenu($event)">
      <div ng-if="::domain.ninjasaas" class="ninjasaas">{{::domain.current}}</div>
      <img ng-if="::!domain.ninjasaas" width="21" height="21" alt="{{::domain.current}}"
           ng-src="lib/ninja-commons/assets/ico/{{::domain.current}}/favicon72.png">
      <!--  -->
      <span class="nv-text-ellipsis nv-p-med name">{{user.firstName}}</span>
    </md-button>

    <md-menu-content class="app-profilenav dark">

      <md-menu-item class="profile">
        <h5 class="name">{{user.firstName}}</h5>
        <p class="email">{{user.email}}</p>
      </md-menu-item>

      <md-menu-item class="operating-country">
        <p class="nv-small" translate="directive.profilenav.operating-country"></p>
        <md-select ng-model="domain.current" ng-change="domainChanged()" md-container-class="country-selector" aria-label="Domain">
          <md-option ng-value="d" ng-repeat="d in domain.all">
          <div>
            <span ng-if="::domain.ninjasaas" class="ninjasaas">{{ d }}</span>
            <img ng-if="::!domain.ninjasaas" width="16" height="16" alt="{{::d}}" ng-src="lib/ninja-commons/assets/ico/{{::d}}/favicon72.png"/>
            <span ng-if="::!domain.ninjasaas">{{ getCountryName(d) }}</span>
          </div>
          </md-option>
        </md-select>
      </md-menu-item>

      <md-menu-item class="access-token" ng-class="{copied: clipboard.copied}">
        <p class="nv-small" translate="directive.profilenav.access-code"></p>
        <div
          ngclipboard 
          data-clipboard-text="{{::accessToken}}"
          ngclipboard-success="clipboard.copied = true;">
          <p>{{::accessToken || ('directive.profilenav.invalid-access-code' | translate)}}</p>
        </div>
        <p class="nv-small copied-label" translate="directive.profilenav.copied-to-clipboard"></p>
      </md-menu-item>

      <md-menu-item>
        <md-button class="nv-button flat alternate" type="button" aria-label="Settings" ng-click="navigateTo('container.settings', $event)">
          <span>{{'container.profile-nav.settings' | translate}}</span>
          <i class="material-icons">settings</i>
        </md-button>
      </md-menu-item>

      <md-menu-item>
        <md-button class="nv-button flat alternate" type="button" aria-label="Logout" ng-click="logout()">
          <span>{{'container.profile-nav.logout' | translate}}</span>
          <i class="material-icons">exit_to_app</i>
        </md-button>
      </md-menu-item>

    </md-menu-content>

  </md-menu>
</md-menu-bar>
