<div class="flag-row" ng-if="!ready">
<span>loading..</span>
</div>
<div class="flag-row" layout layout-wrap ng-if="ready">
  <nv-waypoint-bar ng-repeat="wp in waypoints track by wp.id"
    main="{{ wp.baseColor }}"
    overlay="{{ wp.overlayColor }}"
    overlay-bottom="{{ wp.overlayBottomColor }}"
    tooltip="{{ wp.tooltip }}"
    tooltip-param="::wp.tooltipParam">
  </nv-waypoint-bar>
</div>
