<md-content class="nv-container-driver-strength-2-data">
  <div class="title" layout="row" layout-padding>
    <nv-icon-text-button
      icon="filter_list"
      name="container.driver-strength.edit-search-filter"
      on-click="::ctrl.showEditFilter($event)"
      md-theme="nvBlue"
      class="raised">
    </nv-icon-text-button>
    <div flex="1"></div>
    <p
      translate="container.driver-strength.num-selected"
      translate-values="{ count: ctrl.tableParam.getSelectionCount() }">
    </p>
    <md-menu md-position-mode="target-right target">
      <md-button
        ng-show="ctrl.tableParam.getSelectionCount() > 0"
        class="nv-button"
        aria-label="{{'container.driver-strength.apply-action' | translate}}"
        layout="row"
        layout-align="center center"
        ng-click="::$mdOpenMenu($event)">
        <div>{{'container.driver-strength.apply-action' | translate}}</div>
        <i class="material-icons">arrow_drop_down</i>
        <md-tooltip md-delay="::tooltipDelay">{{'container.driver-strength.apply-action' | translate}}</md-tooltip>
      </md-button>
      <md-menu-content>
        <md-menu-item>
          <md-button class="nv-button custom" ng-click="ctrl.massUpdateAvailability(true)">
            <i class="material-icons">done</i>
            <span flex="1">{{'container.driver-strength.set-to-coming' | translate}}</span>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button class="nv-button custom" ng-click="ctrl.massUpdateAvailability(false)">
            <i class="material-icons">close</i>
            <span flex="1">{{'container.driver-strength.set-to-not-coming' | translate}}</span>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <nv-api-icon-button
      class="raised"
      md-theme="nvYellow"
      name="commons.refresh"
      icon="refresh"
      state="ctrl.refreshDriverCacheState"
      on-click="ctrl.refreshDriverCache()">
    </nv-api-icon-button>
    <nv-download-csv-button
      md-theme="nvBlue"
      data="ctrl.getDataForCSV"
      csv-header="['Id', 'Name', 'Hub', 'Type', 'Vehicle', 'Own', 'Zone', 'Min Capacity', 'Max Capacity', 'License Number', 'Comments', 'Attendance']"
      csv-column-order="['id', 'name', 'hub.displayName', 'driverType', 'vehicleTypes', 'ownVehicles', 'zones', 'minWaypoints', 'maxWaypoints', 'licenseNumber', 'specialRequests', 'attendance']"
      filename="drivers.csv">
    </nv-download-csv-button>
    <nv-create-button
      md-theme="nvGreen"
      class="raised"
      name="{{'container.driver-strength.add-driver' | translate}}"
      on-click="::ctrl.createOne($event)">
    </nv-create-button>
  </div>
  
  <div ng-if="ctrl.getDriverSize() == 0" layout layout-align="center">
    <md-progress-circular md-mode="indeterminate" md-diameter="120"></md-progress-circular>
  </div>
  <div ng-if="ctrl.getDriverSize() > 0" layout="column" flex>
    <nv-table-description table-param="ctrl.tableParam" filters="ctrl.filters">
    </nv-table-description>
    <div class="table-container">
      <nv-table
        param="ctrl.tableParam"
        selectable="true"
        controller-as="ctrl">
        <nv-table-row
          use="driver">
          <nv-index></nv-index>
          <nv-td column="id">
            {{driver.id || '-'}}
          </nv-td>
          <nv-td column="username">
            {{driver.username || '-'}}
          </nv-td>
          <nv-td column="name">
            {{driver.name || '-'}}
          </nv-td>
  
          <nv-td column="hub">
            {{driver.hub.displayName || '-'}}
          </nv-td>
  
          <nv-td column="driverType">
            {{driver.driverType || '-'}}
          </nv-td>
  
          <nv-td column="vehicles.vehicleType">
            <div class="nv-text-ellipsis" ng-repeat="vehicle in driver.vehicles">
              {{vehicle.vehicleType || '-'}}
            </div>
          </nv-td>
  
          <nv-td column="vehicles.ownVehicle">
            <div ng-repeat="vehicle in driver.vehicles" ng-class="{'green': vehicle._ownVehicle, 'red': !vehicle._ownVehicle}">
              {{vehicle.__ownVehicle}}
            </div>
          </nv-td>
  
          <nv-td column="zonePreferences.zoneId">
            <div class="nv-text-ellipsis" ng-repeat="zonePreference in driver.zonePreferences | orderBy:'rank' track by zonePreference.id">
              {{zonePreference._zoneName || '-'}}
            </div>
          </nv-td>
  
          <nv-td column="zonePreferences.minWaypoints">
            <div ng-repeat="zonePreference in driver.zonePreferences | orderBy:'rank' track by zonePreference.id">
              {{ctrl.isNumber(zonePreference.minWaypoints) ? zonePreference.minWaypoints : '-'}}
            </div>
          </nv-td>
  
          <nv-td column="zonePreferences.maxWaypoints">
            <div ng-repeat="zonePreference in driver.zonePreferences | orderBy:'rank' track by zonePreference.id">
              {{ctrl.isNumber(zonePreference.maxWaypoints) ? zonePreference.maxWaypoints : '-'}}
            </div>
          </nv-td>
  
          <nv-td column="comments">
            {{driver.comments || '-'}}
          </nv-td>
  
          <nv-action column="availability" sortable="true">
            <nv-toggle-button
              class="full"
              md-theme="{{driver.availability ? 'nvGreen' : 'nvRed'}}"
              state="driver.availability"
              on-click="::ctrl.toggleAvailability($event, state, driver.uuid)"
              text-active="YES"
              text-inactive="NO">
            </nv-toggle-button>
          </nv-action>
  
          <nv-action column="actions">
            <md-menu md-position-mode="target-right target">
            <md-button
              class="nv-button ghost dense"
              md-theme="nvGreen"
              aria-label="Contact Info"
              ng-click="::$mdOpenMenu($event)">
              <i class="material-icons">phone</i>
            </md-button>
              <md-menu-content width="5" class="contact-info">
                <md-menu-item class="contact-info-title">
                  <h4>{{'commons.contact-details' | translate}}</h4>
                </md-menu-item>
  
                <md-menu-item class="contact-info-details">
                  <div>
                    <div class="label">{{'commons.name' | translate}}</div>
                    <div>{{driver._name}}</div>
                  </div>
                  <div>
                    <div class="label">{{'commons.license-no' | translate}}</div>
                    <div>{{driver.licenseNumber}}</div>
                  </div>
                </md-menu-item>
  
                <md-menu-item class="contact-info-contacts-title">
                  <div class="label">{{'commons.contacts' | translate}}</div>
                </md-menu-item>
  
                <md-menu-item
                    class="contact-info-contacts"
                    ng-repeat="contact in driver.contacts"
                    ng-if="!!contact.details">
                  <div>{{contact.details}}</div>
                  <div class="label type">{{contact.type}} <span ng-if="contact.active">{{'commons.primary' | translate}}</span></div>
                </md-menu-item>
  
                <md-menu-item class="contact-info-comments" ng-if="driver.comments">
                  <div>
                    <div class="label">{{'commons.comments' | translate}}</div>
                    <div class="value">{{driver.comments}}</div>
                  </div>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
            <nv-icon-button
              md-theme="nvBlue"
              class="ghost dense"
              name="Edit"
              icon="edit"
              on-click="ctrl.updateOne($event, driver.uuid)">
            </nv-icon-button>
  
            <nv-icon-button
              md-theme="nvRed"
              class="ghost dense"
              name="Delete"
              icon="delete"
              on-click="ctrl.deleteOne($event, driver)">
            </nv-icon-button>
          </nv-action>
        </nv-table-row>
      </nv-table>
    </div>
  </div>
</md-content>
