@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../lib/ninja-commons/styles/mixins/typography.mixins";

.nv-container-driver-seeding {
  height: 100%;
  background-color: $nv-dark3;
  font-size: 14px;

  .text-color-light {
    @include nv-font-color(white, 2);
  }

  > div[layout] {
    height: 100%;

    > div {
      position: relative;

      &.filters-holder {
        padding: 1rem;
        color: $nv-tb05;

        .md-subheader {
          background-color: $nv-dark3;
          color: $nv-tb05;

          .md-subheader-inner {
            padding-left: 0;
            padding-right: 0;
          }

          &.zone-subheader {
            .md-subheader-inner {
              padding-top: 0;
            }
          }
        }

        nv-filter-box {
          display: block;
          padding: 0;
          border: none;
          background-color: transparent;

          .main-title > p {
            color: $nv-tb05;
          }

          .clear-button {
            display: none;
          }

          .button-container {
            overflow: auto;
            max-height: 120px;

            nv-icon-text-button:first-child {
              margin-top: 0;
            }
          }

          &.processing {
            button {
              -webkit-transition: none;
              -moz-transition: none;
              -ms-transition: none;
              -o-transition: none;
              transition: none;
              pointer-events: none;
            }
          }

          .autocomplete-container {
            .material-icons {
              color: #f7f7f7;
              opacity: 0.67;
            }
          }
        }

        md-divider {
          border-top-color: rgba(255, 255, 255, 0.12);
        }

        .filter-types {
          .md-subheader {
            .md-subheader-inner {
              padding-bottom: 0;
            }
          }

          .filter-types-checkbox {
            display: block;
            margin: 1rem auto;

            md-input-container {


              md-checkbox {
                .md-container {

                }
              }
            }
          }
        }

        .filter-results {
          .list {
            p {
              @include nv-font-color(white);
            }
            overflow: auto;
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

            md-list-item {
              .md-list-item-text {
                width: 100%;
              }

              margin-bottom: 0.5rem;
              background-color: $nv-light0;
              color: $nv-tb86;
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              border-radius: 3px;

              > button {
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
              }

              .tag-color {
                position: absolute;
                top: 0;
                left: 0;
                width: 1rem;
                height: 100%;
                background-color: #AFAFAF;

                &.inactive {
                  background-color: #AFAFAF !important;
                }
              }
            }
          }

          .footer {
            p {
              @include nv-font-color(white);
              margin: 0;
              padding-top: 1.5rem;
              padding-bottom: 1.5rem;
              line-height: normal;
            }
          }
        }


      }
    }
  }

  .leaflet-label {
    &.yellow {
      background-color: rgba(248, 231, 176, 0.8);
    }
  }
}