<md-content class="nv-container-driver-seeding" nv-window-resize="ctrl.windowSizeChanged()">
  <div layout="row" layout-xs="column">
    <div flex="75" flex-xs="100">
      <div id="driver-seeding-map" class="nv-map"></div>
    </div>
    <div flex class="md-whiteframe-6dp filters-holder dark" nv-load="ctrl.searchAll" loading-message="{{'commons.load-data' | translate}}" ng-cloak>
      <md-subheader ng-if="ctrl.filters.zones.selectedOptions.length" class="zone-subheader">
        {{ ctrl.filters.zones.selectedOptions.length }}
        <span class="text-color-light">{{'container.driver-seeding.zones-shown' | translate}}</span>
      </md-subheader>

      <nv-filter-box
        class="filter-zones"
        search-text="ctrl.filters.zones.searchText"
        possible-options="ctrl.filters.zones.possibleOptions"
        selected-options="ctrl.filters.zones.selectedOptions"
        on-change="ctrl.filters.zones.onChangeFn()"
        main-title="{{'container.driver-seeding.filter-zones-title' | translate}}"
        placeholder="{{'commons.search-or-select' | translate}}"
        item-types="zones"
        button-container-position="top"
        ng-class="{processing: ctrl.filters.zones.isProcessing}"
        theme="dark">
      </nv-filter-box>

      <md-divider></md-divider>

      <div class="filter-types">
        <md-subheader>
          <small class="text-color-light">{{'container.driver-seeding.header-filter-types' | translate}}</small>
        </md-subheader>
        <nv-input-checkbox
          class="nv-text-no-select ghost inverse filter-types-checkbox"
          label="{{'container.driver-seeding.checkbox-inactive' | translate}}"
          on-change="ctrl.onFilterChangeFn()"
          model="ctrl.checkboxFilters.inactiveDrivers">
        </nv-input-checkbox>

        <nv-input-checkbox
          class="nv-text-no-select ghost inverse filter-types-checkbox"
          label="{{'container.driver-seeding.checkbox-preferred' | translate}}"
          on-change="ctrl.onFilterChangeFn()"
          model="ctrl.checkboxFilters.allPreferredZone">
        </nv-input-checkbox>

        <nv-input-checkbox
          class="nv-text-no-select ghost inverse filter-types-checkbox"
          label="{{'container.driver-seeding.checkbox-reserved' | translate}}"
          on-change="ctrl.onFilterChangeFn()"
          model="ctrl.checkboxFilters.reserveFleetDrivers">
        </nv-input-checkbox>
      </div>

      <div class="filter-results" ng-if="ctrl.filteredDrivers.length > 0">
        <md-subheader>
          {{ ctrl.filteredDrivers.length }}
          <span class="text-color-light">{{'container.driver-seeding.drivers-shown' | translate}}</span>
        </md-subheader>

        <div class="list" ng-style="ctrl.resizeWithOffset()">
          <div ng-repeat="(key, filteredDrivers) in ctrl.filteredZoneToDrivers">
            <p class="nv-text-ellipsis" style="margin: 0;"><i class="fa fa-circle" ng-style="ctrl.getTagStyle(key, true)"></i> {{ key }} : {{ filteredDrivers.length }} {{'container.driver-seeding.drivers-shown' | translate}}</p>
            <md-list>
              <md-list-item class="md-2-line" ng-repeat="driver in filteredDrivers track by $index" ng-click="ctrl.focusMarker(driver, key)">
                <div class="md-list-item-text">
                  <h3>{{ driver._name }}</h3>
                  <p class="nv-text-color-dark-secondary" ng-if="driver.comments != null">{{ driver.comments }}</p>
                </div>
                <div class="tag-color" ng-class="{inactive: !driver.availability}" ng-style="ctrl.getTagStyle(key)"></div>
              </md-list-item>
            </md-list>
          </div>
        </div>

        <div class="footer">
          <p class="md-caption">Modify driver availability at the <a href="javascript:;" ng-click="ctrl.navigateToDriverStrengthPage()">Driver Strength</a> page</p>
        </div>
      </div>

    </div>
  </div>

</md-content>