@import "../../../../../lib/ninja-commons/styles/variables";

.shipper-pickups-pod-details-dialog {
  .border {
    border: 0.1rem solid $nv-text-black-3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: -1rem;
    padding: 1rem;

    .title {
      color: $nv-text-black-3;
      margin-top: 0rem;
      margin-bottom: 1.4rem;
    }

    .content {
      md-input-container {
        padding: 0.2rem 0.2rem 0.2rem 0rem;
        
        label {
          padding-left: 0rem;
        }
        .readonly {
          padding-left: 0rem;
        }
        .md-errors-spacer {
          min-height: 0rem;
          height: 0rem;
        }
      }

      .signature {
        color: $nv-tb59;
        margin: 0.8rem 0rem;

        img {
          min-width: 20.2rem;
          min-height: 12.2rem;
          border: 0.1rem solid;
          background-color: $nv-light4;
          padding: 1rem 5rem;
          margin: 1rem 0.3rem;
        }
      }

      .pictures {
        color: $nv-tb59;
        margin: 0.8rem 0rem;
        width: 100%;

        .pictures-container {
          width: 100%;
          overflow-x: auto;
          margin: 1rem 0;

          nv-selectable-image {
            width: 8rem;
            height: 8rem;
            margin-right: 0.8rem;

            .nv-image {
              width: 8rem;
              height: 8rem;
              max-width: 8rem;
              max-height: 8rem;
              outline: none;
            }
          }
        }
      }

      .red {
        color: red;
      }

      .green {
        color: green;
      }
    }
  }
}