<nv-dialog-header
  title="POD Details"
  on-cancel="ctrl.function.cancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<form name="modelForm">
  <md-dialog-content>
    <div class="md-dialog-content">
      <div class="border" layout="row" layout-wrap>
        <h5 class="title" layout="row" flex="100">{{ 'commons.details' | translate }}</h5>

        <div class="content" flex="100">
          <div layout="row">
            <nv-input-text
              id="field-reservation-id"
              readonly = "::true"
              flex = "100"
              label = "commons.reservation-id"
              model = "ctrl.data.reservation.id"
              required = "::false">
            </nv-input-text>
          </div>

          <div layout="row">
            <nv-input-text
              id="field-shipper-id"
              readonly = "::true"
              flex = "30"
              label = "commons.shipper-id"
              model = "ctrl.data.reservation.shipperId"
              required = "::false">
            </nv-input-text>
            <nv-input-text
              id="field-shipper-name"
              readonly = "::true"
              flex = "30"
              label = "commons.model.shipper-name"
              model = "ctrl.data.reservation.shipperName"
              required = "::false">
            </nv-input-text>
            <nv-input-text
              id="field-shipper-contact"
              readonly = "::true"
              flex = "30"
              label = "commons.shipper-contact"
              model = "ctrl.data.reservation.shipperContact"
              required = "::false">
            </nv-input-text>
          </div>

          <div layout="row">
            <md-input-container>
              <label>{{ 'commons.status' | translate }}</label>
              <div ng-class="{red: ctrl.function.isFail(), green: ctrl.function.isSuccess()}">
                {{ctrl.data.reservation.status}}
              </div>
            </md-input-container>
          </div>

          <div class="signature" layout="column" layout-align="center start">
            <div>{{ 'commons.signature' | translate }}</div>
            <div ng-if="!ctrl.data.pod.signature_url">
              {{ 'container.shipper-pickups.dialog.no-signature-available' | translate }}
            </div>
            <div ng-if="ctrl.data.pod.signature_url">
              <img ng-src="{{ ctrl.data.pod.signature_url }}">
              <nv-icon-text-button
                name="commons.download-signature"
                md-theme="nvBlue"
                class="raised"
                on-click="ctrl.function.downloadSignature()">
              </nv-icon-text-button>
            </div>
          </div>

          <div class="pictures" layout="column">
            <div>{{ 'commons.photos' | translate }}</div>
            <div ng-if="ctrl.data.photos.length === 0">
              {{ 'container.shipper-pickups.dialog.no-pcitures-available' | translate }}
            </div>
            <div ng-if="ctrl.data.photos.length > 0">
              <div class="pictures-container" layout>
                <nv-selectable-image
                  ng-repeat="photo in ctrl.data.photos"
                  source="{{ photo.url }}"
                  title="{{ photo.title }}"
                  id="photo.id"
                  active="photo.isActive"
                ></nv-selectable-image>
              </div>
              <nv-icon-text-button
                name="commons.download-selected-image"
                md-theme="nvBlue"
                class="raised"
                disabled="!ctrl.function.isDownloadAvailable()"
                on-click="ctrl.function.downloadSelected()">
              </nv-icon-text-button>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </md-dialog-content>
</form>