@import "../../styles/variables";
@import "../../styles/mixins/input.mixins";
@import "../../styles/mixins/typography.mixins";

nv-autocomplete {

  $height: 2.8rem;
  $button-height: $height * 3 / 4;
  // md-autocomplete-wrap.md-menu-showing
  $md-menu-showing-z-index: 51;

  display: block;
  @include nv-font(p);

  > .autocomplete-container {
    position: relative;

    md-icon {
      @include nv-font(p);
      > i {
        font-size: 1.4em;
      }
    }

    md-icon.autocomplete-search {
      position: absolute;
      text-align: center;
      outline: 0;
    }

    md-icon.autocomplete-drop-down {
      position: absolute;
      top: 0rem;
      right: 0rem;
      outline: none;
      cursor: pointer;
      z-index: $md-menu-showing-z-index + 1;
    }

    md-autocomplete {
      background: none;
      margin-left: $height;
      height: $height;
      min-width: 0;

      md-autocomplete-wrap {
        height: $height;
      }
      .md-whiteframe-z1 {
        box-shadow: none;
      }

      input:not(.md-input) {
        border-bottom: 0.1rem solid $nv-text-black-3;
        padding-bottom: 0.1rem; //compensate for 1px border bottom
        padding-left: 0;
        @include placeholder-color($nv-text-black-3);
        color: $nv-text-black;
        height: $height;

        &:focus {
          padding-bottom: 0;
          border-bottom: 0.2rem solid $nv-dark-blue;
          @include hide-placeholder();
        }
      }
      button {
        width: $button-height;
        height: $button-height;
      }
    }

    md-autocomplete.no-search-icon {
      margin-left: 0;
    }

    //coloring
    md-icon.autocomplete-search i,
    md-icon.autocomplete-drop-down i {
      color: $nv-text-black-2;
    }
    &.input-has-focus,
    &.input-has-text {
      md-icon.autocomplete-search i{
        color: $nv-dark-blue;
      }
    }
    &.input-has-focus:not(.input-has-text) {
      md-icon.autocomplete-drop-down i {
        color: $nv-dark-blue;
      }
    }

    //disabled
    &.input-disabled {
      md-autocomplete input[disabled] {
        border-bottom-color: transparent;
        background-image: linear-gradient(to right, $nv-text-black-3 0%, $nv-text-black-3 33%, transparent 0%);
        background-image: -ms-linear-gradient(left, transparent 0%, $nv-text-black-3 100%);
        background-position: 0 bottom;
        background-size: 0.4rem 0.1rem;
        background-repeat: repeat-x;
        margin-bottom: -0.1rem;
      }
    }

    //dark theme
    &.dark {
      md-autocomplete {
        input:not(.md-input) {
          @include placeholder-color($nv-text-white-3);
          color: $nv-text-white;
          border-bottom-color: $nv-text-white-3;
          &:focus {
            border-bottom-color: $nv-light-blue;
            @include hide-placeholder();
          }
        }
      }
      md-icon.autocomplete-search i,
      md-icon.autocomplete-drop-down i {
        color: $nv-text-white-2;
      }
      &.input-has-focus,
      &.input-has-text {
        md-icon.autocomplete-search i{
          color: $nv-light-blue;
        }
      }
      &.input-has-focus:not(.input-has-text) {
        md-icon.autocomplete-drop-down i {
          color: $nv-light-blue;
        }
      }
      &.input-disabled {
        md-autocomplete input[disabled] {
          border-bottom-color: transparent;
          background-image: linear-gradient(to right, $nv-text-white-3 0%, $nv-text-white-3 33%, transparent 0%);
          background-image: -ms-linear-gradient(left, transparent 0%, $nv-text-white-3 100%);
        }
      }
    }
  }
}
