<div class="autocomplete-container" ng-class="{ 'input-has-focus': focus, 'input-disabled' : disabled, 'input-has-text': searchText.length > 0, light: theme === 'light', dark: theme === 'dark' }">
<label>
  <md-icon class="autocomplete-search" ng-if="::!hideSearchIcon">
    <i class="material-icons">{{::icon}}</i>
  </md-icon>

  <md-autocomplete
      md-selected-item="selectedItem"
      ng-class="{'no-search-icon': hideSearchIcon}"
      md-search-text="searchText"
      md-items="item in filter(searchText)"
      md-item-text="data.getDisplay(item)"
      md-selected-item-change="::onSelectedItemChange(item)"
      md-min-length="minTextLength"
      md-no-cache="::true"
      md-autoselect="::true"
      md-menu-class="{{mdMenuClass}} {{::theme}}"
      ng-disabled="disabled"
      ng-blur="::onBlur()"
      placeholder="{{ placeholder | translate }}">

    <md-item-template>
      <span md-highlight-text="searchText" md-highlight-flags="^i">{{ data.getDisplay(item) | translate }}</span>
    </md-item-template>

    <md-not-found>
      <span ng-if="::!noFoundItemMessage">
        {{ 'filter.item-not-found-message' | translate:{itemTypes: itemTypes, searchText: searchText} }}
      </span>
      <span ng-if="::noFoundItemMessage">{{noFoundItemMessage}}</span>
    </md-not-found>

  </md-autocomplete>

  <md-icon class="autocomplete-drop-down" ng-if="::!hideDropdownIcon" ng-show="!searchText && !disabled" ng-mousedown="toggleMenu($event)" ng-click="onDropdownClick($event)" >
    <i class="material-icons">arrow_drop_down</i>
  </md-icon>
</label>
</div>