<md-input-container md-no-float md-theme="nvBlue" class="md-block search">

  <md-icon>
    <i class="material-icons">search</i>
  </md-icon>

  <input class="nv-p"
         id="id"
         type="text"
         ng-model="searchText"
         ng-model-options="{debounce: 100}"
         ng-keypress="onKeypressed($event)"
         ng-disabled="disabled"
         placeholder="{{placeholder}}">

</md-input-container>
