@import "../../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../../views/container/zonal-routing/zonal-routing.mixins";
@import "../../../../views/container/order/order.mixins";
@import "../../../../views/container/shippers/shippers.mixins";

.nv-container-shipper-edit {
  width: 100%;
  height: 100%;
  overflow: hidden;

  $label-color: rgba(33, 33, 33, 0.67);
  $common-padding: 1.4rem;

  .header-section {
    position: absolute;
    left: 0rem;
    top: 0rem;
    z-index: 2;
    width: 100%;

    .action-toolbar {
      padding: 1rem;
      background-color: $nv-dark3;
      font-size: 1.4rem;
      color: $nv-tb05;
      width: 100%;

      .apply-action-holder {
        nv-icon-text-button {
          margin-bottom: 0;
          button {
            line-height: normal;

            &.dark.flat.alternate.md-button {
              &:not([disabled]) {
                @include nv-font-color(white, 2);
              }
            }
            > div {
              @include nv-font(small);
              text-transform: none;
            }
          }
        } 
      }
    }
    tabs-wrapper {
      height: 4.8rem;
      box-shadow: 0 0.5rem 0.5rem -0.5rem #888888;
      margin-bottom: 0.2rem;
      width: 100%;
      background: white;

      tab-item {
        color: $nv-text-black-3;
        text-align: center;
        line-height: 2.4rem;
        padding: 1.2rem 2.4rem;
        white-space: nowrap;
        position: relative;
        text-transform: uppercase;
        float: left;
        font-weight: 500;
        text-overflow: ellipsis;
        max-width: 32rem;
        outline: none;

        &.active {
          color: $nv-dark-blue;
          border-width: 0 0 0.2rem;
          border-style: solid;
          border-color: $nv-dark-blue;
        }
      }
    }
  }
  

  .loading-sheet {
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(#CFCFCF, 0.67);
    z-index: 11;
    height: 100%;
    width: 100%;
  }
  
  .content-section {
    position: absolute;
    left: 0rem;
    top: 0rem;
    z-index: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    .filler { height: 10.5rem; }
    .plain-separator { margin: 1.4rem 0rem }

    .horizontal-padding {
      padding-right: $common-padding;
      padding-left: $common-padding;

      >* {
        padding-right: $common-padding;
        padding-left: $common-padding;
      }
    }

    .vertical-padding {
      padding-top: $common-padding;
      padding-bottom: $common-padding;

      >* {
        padding-top: $common-padding;
        padding-bottom: $common-padding;
      }
      >.auto-rsvn-warning {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }

    .padding-bottom { padding-bottom: $common-padding; }
    .padding-top { padding-top: $common-padding; }

    .layout-padding {
      padding: $common-padding;
      >* {
        padding: $common-padding;
        .layout-padding {
          padding: $common-padding;
        }
      }
    }

    .no-padding-top { padding-top: 0; }

    .no-vertical-padding {
      padding-top: 0;
      padding-bottom: 0;
    }

    .md-padding { padding: 2.8rem; }

    .sub-title { color: $nv-text-black-3; }

    .nv-hint { width: 100%; }

    .field-container {
      &.service-type {
        white-space: nowrap;
        margin-bottom: $nv-baseline-grid*2;

        > p {
          margin-top: 6px;
        }
      }

      label { 
        color: $label-color;
        font-size: 1.2rem;
      }

      md-select {
        margin: 0;
      }
    }

    .reservation-time-container { max-width: 18rem; }

    .time-separator-padding { padding: 1.8rem 0.8rem 0; }

    .multiple-select {
      md-select {
        md-select-value.md-select-value {
          .md-container {
            display: none;
          }
        }
      }
    }

    md-input-container label {
      padding-left: $common-padding;

      &.custom-no-padding {
        padding-left: 0;
      }
    }

    md-input-container.label-no-margin label {
      padding-left: 0;
    }

    @include prefixes-table;
    @include pickup-service-table;
  }

  @mixin end-of-table {
    $lastRowHeight: 5rem;

    .last-row {
      &:not(.last-row-no-result) {
        height: $lastRowHeight;

        .end-of-result {
          height: $lastRowHeight;

          .end-of-table {
            background-color: $nv-light2;
            height: $lastRowHeight;

            h5, p {
              color: $nv-text-black-2;
            }

            p {
              display: none;
            }
          }
        }
      }
    }
  }

  #addresses {
    max-height: 50rem;
    min-height: 25rem;
    width: 100%;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    .table-container {
      flex: 1;
      position: relative;
      nv-table {
        // column width
        @include nv-table-column-width(contact, 14rem);
        @include nv-table-column-width(address, 100%);

        @include nv-table-action-columns(28rem);

        @include end-of-table;

        tr.highlight td {
          background-color: $nv-highlight-blue !important;
        }

        td {
          nv-icon-text-button {
            display: inline-block;
            min-width: 11rem;

            > button {
              width: 100%;
            }
          }
        }
      }
    }
  }

  #marketplace-sellers {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .table-container {
      position: relative;
      flex: 1;
      nv-table {
        // column width
        @include nv-table-column-width(id, 14rem);
        @include nv-table-column-width(short-name, 14rem);
        @include nv-table-column-width(name, 24rem);
        @include nv-table-column-width(external-ref, 22rem);
        @include nv-table-column-width(is-active, 100%);

        @include nv-table-row-height(6rem);
      }
    }
  }

  // custom css
  .custom-70 {
    min-height: 7rem;
  }

  .custom-padding-4px {
    padding-right: 0.4rem;
  }

  .full-height {
    height: 100%;
  }

  .timeslot-select{    
    label {
      color: rgba(33, 33, 33, 0.67);
    }
    md-input-container{
      margin-top: 0 !important;
    }
  }

  .section-title {
    @include nv-font(h3);
    margin-left: 2.4rem;
    margin-bottom: 2.4rem;
  }
  .sub-section-title { 
    @include nv-font(h5); 
    margin-left: 2.4rem;
    margin-bottom: 2.4rem;
  }
  .section-separator {
    height: 0.2rem;
    background-color: lightgray;
    margin: 1.6rem 0rem;
  }
}