@import "../../app/lib/ninja-commons/styles/variables";
@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../lib/ninja-commons/styles/mixins/typography.mixins";

.nv-container-reservations {

	// container surrounding padding
	padding-top: 42px;
	padding-left: 1rem;
	padding-right: 1rem;

	@include nv-media-query-lg-min {
		padding-left: 2%;
		padding-right: 2%;
	}

	// for each input row
	div.input-row {
		> label {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			margin-right: 10px;
		}
		margin-bottom: 10px;
	}

	.calendar-container {
		// top margin
		margin-top: 2rem;

		// set a fix ratio to the calendar
		width: 100%;
		padding-bottom: 60%;	//height-to-width ratio = 6:7 approximately 85%
		min-height: 780px;
		position: relative;
		z-index: 2;

		nv-calendar {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			> md-content > md-content > div:not(:first-of-type){
				max-height: 16rem;
			}

			.reservation-calendar-item {
				width: 100%;
				font-size: 1.4rem;

				@include nv-media-query-xl-min {
					font-size: 1.6rem;
				}

				.rsvn-element {
					padding-bottom: 0.4rem;
					font-size: 1.4rem;

					@include nv-media-query-xl-min {
						font-size: 1.6rem;
					}
				}

				button.calendar-content {
					font-size: 0.8rem;
					min-height: 2.0rem;
					min-width: 2.0rem;

					@include nv-media-query-xl-min {
						font-size: 1.0rem;
						min-height: 2.8rem;
						min-width: 2.8rem;
					}
					> div {
						font-size: 0.8rem;
						padding: 0 1rem;
						line-height: 1.0;

						@include nv-media-query-xl-min {
							font-size: 1.0rem;
						}
					}
				}

				.reservation-calendar-item-time {
					background-color: $nv-dark-blue;
					color: $nv-text-white;
					font-size: 10px;
					display: block;
					white-space: nowrap;
					padding: 4px 8px;
					border-radius: 4px;
					margin-bottom: 4px;
				}
			}
		}

		+ div.create-button-container {
			padding: 8px;
			margin-bottom: 20px;
			transition: opacity 500ms,transform 500ms ease;

			&.slide-up {
				transform: translateY(-60px);
				opacity: 0;
				pointer-events: none;
			}
		}

	}

	.create-container,
	.edit-container {
		margin-top: 2rem;
		margin-bottom: 2rem;
		margin-left: 12%;
		margin-right: 12%;
		
		.padding-top { padding: 0.4rem 0 0 }
		div.no-vertical-margin { margin-top: 0rem; margin-bottom: 0rem }

		> md-content {
			padding: 14px;
			padding-top: 28px;

			form > div {
				margin-bottom: 14px;
				margin-top: 14px;

				label {
					align-self: center;
				}

				md-select {
					margin: 0;
				}
			}
		}
	}

	.expand-details-container {
		margin-top: 2rem;
		margin-bottom: 2rem;
		margin-left: 24%;
		margin-right: 24%;

		.status-container {
			width: 32rem;
		}
	}
}

.nv-reservation-list-container{
	width: 100%;
	height: 100%;
	padding: .8rem;
	margin-top: 2.8rem;
	
	md-content{
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;

		div.table-container {
			position: relative;
			flex: 1;			
			
			nv-table {
				// column width
				@include nv-table-column-width(formatted-date, 15rem);
				@include nv-table-column-width(id, 12rem);
				@include nv-table-column-width(dp-name, 15rem);
				@include nv-table-column-width(reservation-type, 15rem);
				@include nv-table-column-width(approx-volume, 15rem);
				@include nv-table-column-width(pickup-address, 60rem);
				@include nv-table-column-width(name, 20rem);
				@include nv-table-column-width(contact, 20rem);
				// action columns
				@include nv-table-action-columns(7rem);
			}

		}
	}
}
 
.nv-reservation-edit-address-container{
	md-dialog-content{
		padding : 2.8rem;

		h5 {
			font-weight: 300;
			color: #999;
		}
		.container {
			border-radius: .3rem;
			border: 1px solid #eaeaea;
			margin-bottom: 1.4rem;
			padding: 1.4rem;
		}

		.address-list-header {
			margin-bottom: 1.4rem;
		}

		.section-header-container {
				margin-bottom: 1.4rem;
		}

		.address-finder-mode-selector {
			margin-bottom: 2.8rem; 
		}

		.btnDelete , .btnUndoDelete {
			width : 100%;
		}

		#address-map {
			.leaflet-control-mapbox-geocoder {
				visibility: hidden;
			}
		}
		nv-autocomplete {
			margin-top: .9rem;
			margin-bottom: .7rem;
		}
		.to-be-deleted {
			margin: .5rem;
			padding: .5rem;
			background: #FFE7EC;
			div {
				color : #C6294B;
			}	
		}
		.address-search-result-container {
			max-height: 20rem;
			overflow:auto; 
			
			table.address-search-result-table {
				width: 100%;
				height: 100%;
				
				th.jaro-score, td.jaro-score {
					min-width: 10rem;
				}
				th.address, td.address {
					min-width: 30rem;
				}
				td.action {
					min-width: 5rem;
				}
			}
		}
	}
}