<md-content
        class="nv-container-reservations"
        nv-load="ctrl.init"
        loading-message="{{'container.reservations.load-reservations' | translate}}">
    <div class="input-row" flex layout="row">
        <label><h3 class="nv-font-light">{{'commons.shipper' | translate}}</h3></label>
        <nv-autocomplete flex
                         search-text="ctrl.shipperSearchText"
                         placeholder="Search or Select Shipper"
                         icon="search"
                         delegate-handle="reservations-shipper"
                         item-types="shipper"
                         hide-dropdown-icon="true"
                         delay="300"
                         display-by="displayName"
                         sort-by="name">
        </nv-autocomplete>
    </div>

    <div ng-show="ctrl.selectedShipper && !ctrl.selectedShipper.hyperlocal">

    <div class="input-row" flex layout="row">
        <label><h3 class="nv-font-light">{{'commons.address' | translate}}</h3></label>
        <nv-autocomplete flex
                         search-text="ctrl.addressSearchText"
                         placeholder="Search or Select Address"
                         icon="search"
                         delegate-handle="reservations-address"
                         item-types="address"
                         display-by="_address"
                         show-suggestion-when-empty="true"
                         sort-by="_address">
        </nv-autocomplete>
    </div>

    <div
            id="reservation-calendar-container"
            ng-if="ctrl.selectedShipper && ctrl.selectedAddress && !ctrl.selectedShipper.hyperlocal"
            class="calendar-container">
        <nv-calendar
                md-theme="nvBlue"
                class="calendar"
                ng-model="ctrl.createForm.selectedDate"
                disable-selection="disabled"
                on-change-month="ctrl.onChangeMonth"
                on-day-click="ctrl.onDayClicked"
                delegate-handle="reservations"
                clear-data-cache-on-load="true"
                template-url="views/container/reservations/reservations-calendar.html">
        </nv-calendar>
    </div>

    </div>

    <div
            id="reservation-calendar-hyperlocal-container"
            ng-if="ctrl.selectedShipper && ctrl.selectedShipper.hyperlocal"
            class="calendar-container">
        <nv-calendar
                md-theme="nvBlue"
                class="calendar"
                ng-model="ctrl.createForm.selectedDate"
                disable-selection="disabled"
                on-change-month="ctrl.onChangeMonthHyperlocal"
                on-day-click="ctrl.onDayClickedHyperlocal"
                delegate-handle="reservations-hyperlocal"
                clear-data-cache-on-load="true"
                template-url="views/container/reservations/reservations-calendar-hyperlocal.html">
        </nv-calendar>
    </div>

    <div class="create-button-container md-whiteframe-4dp"
         ng-if="ctrl.selectedShipper && ctrl.selectedAddress && !ctrl.selectedShipper.hyperlocal"
         ng-class="{ 'slide-up': ctrl.createForm.selectedDate.length === 0 }">
        <md-button
                class="nv-button raised full"
                md-theme="nvGreen"
                ng-click="ctrl.showCreateReservation()">{{'container.reservations.create-reservations' | translate}}
        </md-button>
    </div>
    <div class="create-button-container md-whiteframe-4dp"
         ng-class="{ 'slide-up': ctrl.createForm.selectedDate.length === 0 }"
         layout="row" layout-wrap
         layout-align="center center"
         layout-padding
         ng-if="ctrl.selectedShipper && ctrl.selectedShipper.hyperlocal">
        <nv-icon-text-button
                class="raised h5"
                md-theme="nvBlue"
                name="{{'container.reservations.view-existing-reservations' | translate}}"
                disabled="!ctrl.checkHyperlocalReservation(ctrl.createForm.selectedDate)"
                show-tool-tip="false"
                on-click="::ctrl.openListReservation()">
        </nv-icon-text-button>
        <nv-icon-text-button
                class="raised h5"
                md-theme="nvGreen"
                name="{{'container.reservations.add-new-reservation' | translate}}"
                disabled="ctrl.checkEnableCreateHyperlocalRsvn()"
                show-tool-tip="false"
                on-click="::ctrl.openAddDialog($event)">
        </nv-icon-text-button>
    </div>

    <!-- CREATE SECTION START -->
    <div
      id="reservation-create-container"
      class="create-container md-whiteframe-4dp"
      ng-show="ctrl.formShowing == 'create' && ctrl.createForm.selectedDate.length > 0">
      <md-toolbar md-theme="nvGreen">
          <div class='md-toolbar-tools' layout='row'>
              <h4 flex>{{'container.reservations.create-reservation' | translate}}</h4>
              <md-button class="nv-button flat dark alternate h5" du-smooth-scroll='reservation-calendar-container'
                          aria-label="Back to calendar">
                  {{'container.reservations.back-calendar' | translate}}
                  <i class="material-icons">arrow_upward</i>
              </md-button>
          </div>
      </md-toolbar>
      <md-content>
        <form name="createForm" ng-submit="::ctrl.onCreateReservation()">
          <div class="md-block multi-input-row" layout="row">
            <nv-input-text
              class="md-block" flex="30"
              label="{{'commons.shipper' | translate}}"
              model="ctrl.selectedShipper.name"
              form="createForm"
              readonly="true">
            </nv-input-text>

            <nv-input-text
              class="md-block" flex="15"
              label="{{'container.reservations.shipper-id-label' | translate}}"
              model="ctrl.selectedShipper.id"
              form="createForm"
              readonly="true">
            </nv-input-text>

            <nv-input-text
              class="md-block" flex="25"
              label="{{'container.reservations.date-label' | translate}}"
              model="ctrl.joinDatesToString(ctrl.createForm.selectedDate)"
              form="createForm"
              readonly="true">
            </nv-input-text>
          </div>
          <div class="md-block" layout="row">
            <label flex="20">{{'container.reservations.time-slot-label' | translate}}</label>
            <nv-button-timeslot
              form="createForm"
              model="ctrl.createForm.timewindowId"
              start-time="ctrl.createForm.readyTime"
              end-time="ctrl.createForm.latestTime"
              show-selected="false">
            </nv-button-timeslot>
          </div>
          <div class="md-block" layout="row"
               ng-if="ctrl.selectedShipper.allowPremiumPickup">
            <label flex="20">{{'container.reservations.ready-time-label' | translate}}</label>
            <nv-input-time
              required="true"
              require-before="ctrl.createForm.latestTime"
              require-before-offset="1h30m"
              class="md-block" flex="1"
              ng-model="ctrl.createForm.readyTime"
              form="createForm">
            </nv-input-time>
          </div>
          <div class="md-block" layout="row"
               ng-if="ctrl.selectedShipper.allowPremiumPickup">
            <label flex="20">{{'container.reservations.latest-time-label' | translate}}</label>
            <nv-input-time
              required="true"
              require-later="ctrl.createForm.readyTime"
              require-later-offset="1h30m"
              class="md-block" flex="1"
              ng-model="ctrl.createForm.latestTime"
              form="createForm">
            </nv-input-time>
          </div>
          <div class="md-block" layout="row">
            <label flex="20">{{'container.reservations.approx-vol-label' | translate}}</label>
            <md-select ng-model="ctrl.createForm.approxVolume" flex="80"
              placeholder="{{'container.reservations.approx-vol-label' | translate}}" required>
              <md-option ng-repeat="volume in ctrl.volumeOptions" value="{{volume}}">
                {{volume}}
              </md-option>
            </md-select>
          </div>
          <div layout class="padding-top no-vertical-margin">
            <nv-input-text
              flex="100"
              label="{{'commons.comments' | translate}}"
              model="ctrl.createForm.comments"
              form="createForm">
            </nv-input-text>
          </div>
          <div layout class="no-vertical-margin">
            <nv-input-number
              flex="30"
              label="{{'container.reservations.priority-level' | translate}}"
              model="ctrl.createForm.priorityLevel"
              form="createForm"
              required="true">
            </nv-input-number>
          </div>
          <nv-button-save
            class="full"
            name="{{'container.reservations.create-reservation' | translate}}"
            form="createForm"
            state="ctrl.createForm.saveButtonState">
          </nv-button-save>
        </form>
      </md-content>
    </div>

    <!-- EDIT SECTION START -->
    <div
      id="reservation-edit-container"
      class="edit-container md-whiteframe-4dp"
      ng-if="ctrl.formShowing == 'edit'">
      <md-toolbar md-theme="nvBlue">
        <div class='md-toolbar-tools' layout='row'>
          <h4 flex>{{'container.reservations.edit-reservation' | translate}}</h4>
          <md-button 
            class="nv-button flat dark alternate h5" du-smooth-scroll='reservation-calendar-container'
            aria-label="Back to calendar">
            {{'container.reservations.back-calendar' | translate}}
            <i class="material-icons">arrow_upward</i>
          </md-button>
        </div>
      </md-toolbar>
        <md-content>
          <form name="editForm" ng-submit="::ctrl.onUpdateReservation()">
            <div class="md-block multi-input-row" layout="row">
              <nv-input-text
                class="md-block" flex="30"
                label="{{'commons.shipper' | translate}}"
                model="ctrl.selectedShipper.name"
                form="editForm"
                readonly="true">
              </nv-input-text>

              <nv-input-text
                class="md-block" flex="15"
                label="{{'container.reservations.shipper-id-label' | translate}}"
                model="ctrl.selectedShipper.id"
                form="editForm"
                readonly="true">
              </nv-input-text>

              <nv-input-text
                class="md-block" flex="25"
                label="{{'container.reservations.date-label' | translate}}"
                model="ctrl.selectedReservation.displayDate(ctrl.selectedReservation._momentReadyDatetime)"
                form="editForm"
                readonly="true">
              </nv-input-text>

              <nv-input-text
                class="md-block" flex="20"
                label="{{'commons.id' | translate}}"
                model="ctrl.selectedReservation.id"
                form="editForm"
                readonly="true">
              </nv-input-text>
            </div>
            <div class="md-block" layout="row">
              <label flex="20">{{'container.reservations.time-slot-label' | translate}}</label>
              <nv-button-timeslot
                      form="editForm"
                      model="ctrl.selectedReservation.activeWaypoint.timewindowId"
                      start-time="ctrl.selectedReservation._momentReadyDatetime"
                      end-time="ctrl.selectedReservation._momentLatestDatetime"
                      show-selected="false">
              </nv-button-timeslot>
            </div>
            <div class="md-block" layout="row"
                 ng-if="ctrl.selectedShipper.allowPremiumPickup">
              <label flex="20">{{'container.reservations.ready-time-label' | translate}}</label>
              <nv-input-time
                required="true"
                require-before="ctrl.selectedReservation._momentLatestDatetime"
                require-before-offset="-1h30m"
                class="md-block" flex="1"
                ng-model="ctrl.selectedReservation._momentReadyDatetime"
                form="editForm">
              </nv-input-time>
            </div>
            <div class="md-block" layout="row"
                 ng-if="ctrl.selectedShipper.allowPremiumPickup">
              <label flex="20">{{'container.reservations.latest-time-label' | translate}}</label>
              <nv-input-time
                required="true"
                require-later="ctrl.selectedReservation._momentReadyDatetime"
                require-later-offset="1h30m"
                class="md-block" flex="1"
                ng-model="ctrl.selectedReservation._momentLatestDatetime"
                form="editForm">
              </nv-input-time>
            </div>
            <div class="md-block" layout="row">
              <label flex="20">{{'container.reservations.approx-vol-label' | translate}}</label>
              <md-select ng-model="ctrl.selectedReservation.approxVolume" flex="80"
                placeholder="{{'container.reservations.approx-vol-label' | translate}}">
                <md-option ng-repeat="volume in ctrl.volumeOptions" value="{{volume}}">
                    {{volume}}
                </md-option>
              </md-select>
            </div>
            <div layout class="padding-top no-vertical-margin">
              <nv-input-text
                flex="100"
                label="{{'commons.comments' | translate}}"
                model="ctrl.selectedReservation.comments"
                form="editForm">
              </nv-input-text>
            </div>
            <div layout class="no-vertical-margin">
              <nv-input-number
                flex="30"
                label="{{'container.reservations.priority-level' | translate}}"
                model="ctrl.selectedReservation.priorityLevel"
                form="editForm"
                required="true">
              </nv-input-number>
            </div>
            <div layout="row">
              <md-button
                class="nv-button raised"
                md-theme="nvRed"
                ng-click="ctrl.onDeleteReservation($event, ctrl.selectedReservation)">
                {{'container.reservations.delete-reservation' | translate}}
              </md-button>
              <div flex="1"></div>
              <nv-button-save
                name="{{'commons.save-changes' | translate}}"
                form="editForm"
                state="ctrl.editForm.saveButtonState">
              </nv-button-save>
            </div>
          </form>
        </md-content>
    </div>

    <!-- EXPAND SECTION START -->
    <div
        id="expand-details-container"
        class="expand-details-container md-whiteframe-4dp"
        ng-show="ctrl.formShowing == 'expand' && ctrl.extendedReservationDetail.active">
        <md-toolbar md-theme="nvBlue">
            <div class='md-toolbar-tools' layout='row'>
                <h4 flex>{{ 'container.reservations.expand-reservation-details' | translate: '{ date: ctrl.extendedReservationDetail.date }' }}</h4>
                <md-button class="nv-button flat dark alternate h5" du-smooth-scroll='reservation-calendar-container'
                           aria-label="Back to calendar">
                    {{'container.reservations.back-calendar' | translate}}
                    <i class="material-icons">arrow_upward</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-content>
            <form name="expandForm">
                <div class="table-holder">
                    <table class="table">
                    <tbody>
                        <tr ng-repeat="rsvn in ctrl.extendedReservationDetail.list">
                            <td>
                                <nv-icon-text-button
                                    md-theme="nvBlue"
                                    name="{{rsvn.displayTime(rsvn._momentReadyDatetime)}} - {{rsvn.displayTime(rsvn._momentLatestDatetime)}}"
                                    class="raised">
                                </nv-icon-text-button>
                            </td>
                            <td>
                                <nv-icon-text-button
                                    md-theme="{{ rsvn.theme }}"
                                    name="{{ rsvn.status }}"
                                    class="raised">
                                </nv-icon-text-button>
                            </td>
                            <td>
                                <nv-icon-button
                                    md-theme="nvBlue"
                                    class="raised"
                                    name="Edit Reservation"
                                    icon="edit"
                                    on-click="ctrl.showEditReservation(rsvn)">
                                </nv-icon-button>
                                <nv-icon-button
                                    md-theme="nvRed"
                                    class="raised"
                                    name="Delete Reservation"
                                    disabled="rsvn.status.toLowerCase() != 'pending'"
                                    icon="delete"
                                    on-click="ctrl.onDeleteReservation($event, rsvn)">
                                </nv-icon-button>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </form>
        </md-content>
    </div>
</md-content>

<!-- LIST SECTION START -->
<md-content ng-if="ctrl.formShowing == 'list' && ctrl.createForm.selectedDate.length > 0"
            class="nv-reservation-list-container" id="reservation-list-container">
        <md-toolbar md-theme="nvBlue">
            <div class="md-toolbar-tools" layout="row">
                <h4 flex>{{'container.reservations.reservation-list' | translate}}</h4>
                <md-button class="nv-button flat dark alternate h5" ng-click="ctrl.hideReservationList()"
                           aria-label="Back to calendar">
                    {{'container.reservations.back-calendar' | translate}}
                    <i class="material-icons">arrow_upward</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-content>
            <div class="action-toolbar" layout="row" layout-padding layout-align="space-between center">
                <div flex="50">
                    <h4>{{ctrl.createForm.selectedDate[0] | nvTime: 'operator': 'DD MMMM Y (dddd)'}}
                        <span ng-if="ctrl.createForm.selectedDate.length > 1"> to
                        {{ctrl.createForm.selectedDate[ctrl.createForm.selectedDate.length - 1] | nvTime: 'operator': 'DD MMMM Y (dddd)'}}
                        </span>
                    </h4>
                    
                    <p><strong>{{ctrl.selectedShipper.short_name}}</strong> - 
                    <span ng-if="ctrl.groupedReservations['HYPERLOCAL']">
                        {{ctrl.groupedReservations['HYPERLOCAL'].length}} Hyperlocal 
                    </span>
                    <span ng-if="ctrl.groupedReservations['REGULAR']">
                        {{ctrl.groupedReservations['REGULAR'].length}} normal
                    </span>
                    <span ng-if="ctrl.groupedReservations['ONDEMAND']">
                        {{ctrl.groupedReservations['ONDEMAND'].length}} on demand
                    </span>
                    <span ng-if="ctrl.groupedReservations">
                        reservation(s)
                    </p>
                </div>
                <div flex></div>

                <nv-create-button
                        id="add-reservation"
                        md-theme="nvGreen"
                        class="raised add-reservation"
                        name="{{'container.reservations.add-reservation' | translate }}"
                        disabled="ctrl.checkEnableCreateHyperlocalRsvn()"
                        on-click="ctrl.openAddDialog($event)">
                </nv-create-button>
            </div>

            <div class="table-container">
                <nv-table
                        param="ctrl.tableParam"
                        selectable="false"
                        controller-as="ctrl"
                >
                    <nv-table-row use="reservation">
                        <nv-td column="formattedDate">
                            {{reservation.formattedDate}}
                        </nv-td>
                        <nv-td column="id">
                            {{reservation.id}}
                        </nv-td>
                        <nv-td column="dpName">
                            {{reservation.dpName}}
                        </nv-td>
                        <nv-td column="reservationType">
                            {{reservation.reservationType}}
                        </nv-td>
                        <nv-td column="approxVolume">
                            {{reservation.approxVolume }}
                        </nv-td>
                        <nv-td column="pickupAddress">
                            {{reservation.pickupAddress}}
                        </nv-td>
                        <nv-td column="name">
                            {{reservation.name}}
                        </nv-td>
                        <nv-td column="contact">
                            {{reservation.contact}}
                        </nv-td>
                        <nv-action column="actions">
                            <nv-icon-button
                                    md-theme="nvBlue"
                                    class="ghost nv-margin-auto"
                                    name="Edit"
                                    icon="edit"
                                    on-click="ctrl.openEditDialog($event, reservation)">
                            </nv-icon-button>
                        </nv-action>
                    </nv-table-row>
                </nv-table>
            </div>
  </md-content>
</md-content>

