<div class="reservation-calendar-item" ng-if="$calendar.state === 'reserved'">
    <p ng-if="$calendar.groupedReservations['HYPERLOCAL'].length > 0">{{$calendar.groupedReservations['HYPERLOCAL'].length}} {{"container.reservations.hyperlocal" | translate }}</p>
    <p ng-if="$calendar.groupedReservations['REGULAR'].length > 0">{{$calendar.groupedReservations['REGULAR'].length}} {{"container.reservations.regular" | translate }}</p>
    <p ng-if="$calendar.groupedReservations['ON_DEMAND'].length > 0">{{$calendar.groupedReservations['ONDEMAND'].length}} {{"container.reservations.on-demand" | translate }}</p>
    <p ng-if="isActive"><strong>{{"commons.selected" | translate}}</strong></p>
</div>
<div class="reservation-calendar-item" ng-if="$calendar.state === 'blocked'">
  {{"commons.not-available" | translate}}
</div>
<div class="reservation-calendar-item" ng-if="$calendar.state === 'available'">
    <p ng-if="isActive"><strong>{{"commons.selected" | translate}}</strong></p>
</div>


