<div class="reservation-calendar-item" ng-if="$calendar.state === 'reserved'">
  <div class="rsvn-element" layout layout-align="space-between center">
    <div>{{'commons.reserved' | translate}}</div>
    <nv-icon-button
      ng-if="$calendar.sampleReservation != null && !$calendar.select"
      md-theme="nvGreen"
      class="raised calendar-content"
      icon="add"
      name="create"
      on-click="$calendar.selectDate($calendar.sampleReservation)">
    </nv-icon-button>
    <nv-icon-button
      ng-if="$calendar.sampleReservation != null && $calendar.select"
      md-theme="nvRed"
      class="raised calendar-content"
      icon="remove"
      name="deselect"
      on-click="$calendar.deselectDate()">
    </nv-icon-button>
  </div>
  
  <div ng-repeat="rsvn in $calendar.reservations | limitTo:2" class="rsvn-element" layout layout-align="space-between">
    <!-- class="reservation-calendar-item-time" -->
    <nv-icon-text-button
      md-theme="{{ rsvn.theme }}"
      name="{{rsvn.displayTime(rsvn._momentReadyDatetime)}} - {{rsvn.displayTime(rsvn._momentLatestDatetime)}}"
      class="raised calendar-content"
      on-click="$calendar.showDetails($calendar.reservations)">
    </nv-icon-text-button>
    <div>
      <nv-icon-button
        md-theme="nvBlue"
        class="raised calendar-content"
        name="Edit Reservation"
        icon="edit"
        on-click="$calendar.editReservation(rsvn)">
      </nv-icon-button>
      <nv-icon-button
        md-theme="nvRed"
        class="raised calendar-content"
        name="Delete Reservation"
        icon="delete"
        disabled="rsvn.status.toLowerCase() != 'pending'"
        on-click="$calendar.deleteReservation($event, rsvn)">
      </nv-icon-button>
    </div>
  </div>
  <div ng-if="$calendar.hiddenRsvn > 0" class="rsvn-element" layout layout-align="space-between">
    <nv-icon-text-button
      md-theme="nvBlue"
      name="+ {{ $calendar.hiddenRsvn }} more"
      class="raised calendar-content"
      on-click="$calendar.showDetails($calendar.reservations)">
    </nv-icon-text-button>
  </div>
</div>
<div class="reservation-calendar-item" ng-if="$calendar.state === 'pastdate' || $calendar.state === 'blocked'">
  {{'commons.not-available' | translate}}
</div>
<div class="reservation-calendar-item" ng-if="$calendar.state === 'available'">
  {{'commons.available' | translate}}
</div>