<nv-dialog-header title="{{ 'container.reservation-preset-management.create-route' | translate }}" on-cancel="ctrl.onCancel($event)"></nv-dialog-header>

<form name="modelForm" md-theme="nvBlue">
  <md-dialog>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="column" layout-padding>
          <div flex>
            <p>
              {{ 'container.reservation-preset-management.create-route-description' | translate }}
            </p>
          </div>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <nv-icon-text-button
        name="commons.cancel"
        class="flat"
        on-click="ctrl.onCancel()">
      </nv-icon-text-button>

      <nv-api-text-button
        md-theme="nvGreen"
        name="commons.confirm"
        class="raised"
        state="ctrl.formSubmitState"
        on-click="ctrl.onSave()">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>