@import "../../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../../styles/variables";

.nv-container-reservation-preset-management-overview {
  height: 100%;

  > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .title {
      h4 {
        @include nv-font-color(black, 2);
      }

      .route-date {
        margin-bottom: 0;
        top: -0.5rem;
      }
    }

    div.table-container {
      position: relative;
      flex: 1;

      nv-table {
        // column width
        @include nv-table-column-width(name, 25rem);
        @include nv-table-column-width(c_driver-name, 20rem);
        @include nv-table-column-width(c_hub-name, 20rem);
        @include nv-table-column-width(c_address-count, 100%);

        th, td {
          &.c_address-count {
            min-width: 23rem;
          }
        }

        tr.highlight {
          &.pending {
            td {
              background-color: $nv-highlight-red !important;
            }
          }

          &.success {
            td {
              background-color: $nv-highlight-green !important;
            }
          }
        }

        // row height
        @include nv-table-row-height(5rem);

        // action columns
        @include nv-table-action-columns(nv-table-action-width("three-dense-p"));

        tr.last-row td.end-of-result {
          .end-of-table {
            height: 5rem !important;

            p {
              display: none;
            }
          }
        }
      }
    }
  }
}