<md-content class="nv-container-reservation-preset-management-overview">
  <div ng-if="!ctrl.parentCtrl.contentLoading">
    <div class="title"
         layout="row" layout-xs="column" layout-padding layout-align="start center">
      <h4>{{ 'container.reservation-preset-management.groupings' | translate }}</h4>
      <div flex="1"></div>

      <div>
        <nv-input-date
          class="route-date"
          model="ctrl.date"
          min-date="ctrl.minDate"
          max-date="ctrl.maxDate"
          label="commons.model.route-date">
        </nv-input-date>
      </div>

      <nv-icon-text-button
        md-theme="nvGreen"
        class="raised"
        icon="add"
        name="container.reservation-preset-management.add-new-group"
        on-click="ctrl.showGroupFormDialog($event)">
      </nv-icon-text-button>

      <md-menu-bar>
        <md-menu md-position-mode="target-right target">
          <md-button
            class="nv-button raised"
            type="button"
            aria-label="Action"
            ng-click="$mdOpenMenu($event)"
            ng-disabled="ctrl.getSelectedCount() <= 0">
            <span class="nv-text-ellipsis nv-text-left">{{'container.reservation-preset-management.apply-action' | translate}}</span>
            <i class="material-icons">arrow_drop_down</i>
          </md-button>
          <md-menu-content class="actions-holder dark" width="3">
            <md-menu-item>
              <md-button class="nv-button flat alternate"
                         type="button"
                         aria-label="{{'container.reservation-preset-management.create-route' | translate}}"
                         ng-click="ctrl.bulkCreateRoutes($event, ctrl.groupsTableParam.getSelection())">
                <span>{{'container.reservation-preset-management.create-route' | translate}}</span>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button class="nv-button flat alternate"
                         type="button"
                         aria-label="{{'container.reservation-preset-management.edit-groups' | translate}}"
                         ng-click="ctrl.bulkEditGroups(ctrl.groupsTableParam.getSelection())">
                <span>{{'container.reservation-preset-management.edit-groups' | translate}}</span>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button class="nv-button flat alternate"
                        type="button"
                        aria-label="{{'container.reservation-preset-management.route-pending-reservations' | translate}}"
                        ng-click="ctrl.bulkRoutePendingReservations($event, ctrl.groupsTableParam.getSelection())">
                <span>{{'container.reservation-preset-management.route-pending-reservations' | translate}}</span>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-menu-bar>
    </div>

    <div class="table-container">
      <nv-table
        param="ctrl.groupsTableParam"
        selectable="true"
        controller-as="ctrl">
        <nv-table-row
          use="group"
          row-height="50">
          <nv-td column="name">
            {{ group.name }}
          </nv-td>
          <nv-td column="c_driverName">
            {{ group.c_driverName }}
          </nv-td>
          <nv-td column="c_hubName">
            {{ group.c_hubName }}
          </nv-td>
          <nv-td column="c_addressCount">
            {{ group.c_addressCount }}
          </nv-td>

          <nv-action column="actions">
            <nv-icon-button
              md-theme="nvBlue"
              class="ghost dense"
              name="container.reservation-preset-management.edit-group"
              icon="edit"
              on-click="ctrl.showGroupFormDialog($event, group)">
            </nv-icon-button>
            <nv-icon-button
              md-theme="nvBlue"
              class="ghost dense"
              name="container.reservation-preset-management.edit-pick-up-sequence"
              icon="format_list_numbered"
              on-click="ctrl.navigate('container.reservation-preset-management.edit-pickup-sequence', {id: group.id})">
            </nv-icon-button>
            <nv-icon-button
              md-theme="nvRed"
              class="ghost dense"
              name="container.reservation-preset-management.delete-group"
              icon="delete"
              on-click="ctrl.deleteGroup($event, group)">
            </nv-icon-button>
          </nv-action>
        </nv-table-row>
      </nv-table>
    </div>
  </div>
</md-content>