@import "../variables";

@mixin nv-button-no-border-radius {
  &, .md-ripple-container {
    border-radius: 0;
  }
}

@mixin iconButtonShrinkAt($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    i {
      &:first-child, &:last-child {
        margin: 0;
      }
      + * {
        display: none;
      }
    }
  }
}
