@import "../variables";

@mixin nv-forms-inputs-input-checkbox(
  $normal-color,
  $hover-color,
  $active-color,
  $normal-bg-color,
  $hover-bg-color,
  $active-bg-color
) {
  color: $normal-color;
  background-color: $normal-bg-color;
  border-color: $normal-color;

  &:hover,
  &.md-focused {
    color: $hover-color;
    border-color: $hover-color;
    background-color: $hover-bg-color;
  }

  md-checkbox {
    &.md-checked {
      background-color: $active-bg-color;
      color: $active-color;

      .md-icon {
        background-color: $active-color;

        &:after {
          border-color: $active-bg-color;
          opacity: 0.87;
        }
      }
    }

    .md-container {
      .md-icon {
        border-color: $normal-color;
      }
    }
  }
}