@mixin hide-placeholder () {
  @include placeholder-color(rgba(0,0,0,0));
}

@mixin placeholder-color($color) {
  &:-moz-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {  
    color: $color;
  }
}

@mixin all-input-type {
  &[type="text"],
  &[type="number"],
  &[type="password"],
  &[type="email"],
  &[type="date"],
  &[type="tel"],
  &[type="time"],
  &[type="url"]
  textarea {
    @content
  }
}
