@import "../variables";
@import "media-query.mixins";

@mixin nv-card {

  $card-margin: 0.8rem;

  height: 100%;
  background-color: $nv-background-color;

  .message-container {
    margin-top: 2rem;
  }

  padding: 0;
  md-card:first-child { margin-bottom: $card-margin; }

  @include nv-media-query-md-min {
    padding: 0.5rem;
    md-card:first-child { margin-bottom: $card-margin + 0.5rem; }
  }

  @include nv-media-query-lg-min {
    padding: 1rem;
    md-card:first-child { margin-bottom: $card-margin + 1rem; }
  }

  @include nv-media-query-xl-min {
    padding: 1.5rem;
    md-card:first-child { margin-bottom: $card-margin + 1.5rem; }
  }

}

@mixin nv-card-no-margin {

  height: 100%;
  background-color: $nv-background-color;

  &[nv-load] > .loaded {
    width: 100%;
    height: 100%;
  }

  .message-container {
    margin-top: 2rem;
  }

  padding: 0.5rem;

  @include nv-media-query-md-min {
    padding: 1rem;
  }

  @include nv-media-query-lg-min {
    padding: 1.5rem;
  }

  @include nv-media-query-xl-min {
    padding: 2rem;
  }

  md-card {
    margin: 0;

    &:last-child {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0.5rem;
      min-height: 45rem;

      @include nv-media-query-md-min {
        margin: 1rem;
      }

      @include nv-media-query-lg-min {
        margin: 1.5rem;
      }

      @include nv-media-query-xl-min {
        margin: 2rem;
      }
    }
  }

}

@mixin nv-card-filter {

  md-card-title {
    padding: 2rem 1.5rem 1.5rem;

    .button-container nv-create-button {
      margin-right: 0.5rem;
    }
  }

  md-card-title + md-card-content {
    padding: 0 1rem 1rem;

    .filter {
      float: left;
      margin: 0.4rem 0.5%;
    }
  }

}

@mixin hideScrollbar {
  &::-webkit-scrollbar{
    display: none;
  }
}