@import "../variables";

// Media query wrapper for small screen sizes and above.
@mixin nv-media-query-sm-min {
  @media only screen and (min-width: $screen-sm-min) {
    @content
  }
}

// Media query wrapper for medium screen sizes and above.
@mixin nv-media-query-md-min {
  @media only screen and (min-width: $screen-md-min) {
    @content
  }
}

// Media query wrapper for large screen sizes and above.
@mixin nv-media-query-lg-min {
  @media only screen and (min-width: $screen-lg-min) {
    @content
  }
}

// Media query wrapper for custom NV large screen sizes and above.
@mixin nv-media-query-nv-lg-min {
  @media only screen and (min-width: $nv-screen-lg-min) {
    @content
  }
}

// Media query wrapper for extra large screen sizes and above.
@mixin nv-media-query-xl-min {
  @media only screen and (min-width: $screen-xl-min) {
    @content
  }
}

// Media query wrapper for custom NV extra large screen sizes and above.
@mixin nv-media-query-nv-xl-min {
  @media only screen and (min-width: $nv-screen-xl-min) {
    @content
  }
}

// Media query wrapper for extra small screen sizes and below.
@mixin nv-media-query-xs-max {
  @media only screen and (max-width: $screen-xs-max) {
    @content
  }
}

// Media query wrapper for small screen sizes and below.
@mixin nv-media-query-sm-max {
  @media only screen and (max-width: $screen-sm-max) {
    @content
  }
}

// Media query wrapper for medium screen sizes and below.
@mixin nv-media-query-md-max {
  @media only screen and (max-width: $screen-md-max) {
    @content
  }
}

// Media query wrapper for custom NV medium screen sizes and below.
@mixin nv-media-query-nv-md-max {
  @media only screen and (max-width: $nv-screen-md-max) {
    @content
  }
}

// Media query wrapper for large screen sizes and below.
@mixin nv-media-query-lg-max {
  @media only screen and (max-width: $screen-lg-max) {
    @content
  }
}

// Media query wrapper for retina displays
@mixin nv-media-query-retina {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    @content
  }
}