@import "../variables";

@mixin nv-shadow($size) {
	@if $size == 2dp {
	  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 
								0 2px 2px 0 rgba(0, 0, 0, 0.14),
								0 3px 1px -2px rgba(0, 0, 0, 0.12);
	} @else if $size == 4dp {
	  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 
							  0 4px 5px 0 rgba(0, 0, 0, 0.14), 
							  0 1px 10px 0 rgba(0, 0, 0, 0.12);
	} @else if $size == 6dp {
	  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
	   						 0 6px 10px 0   rgba(0, 0, 0, 0.14),
	   						 0 1px 18px 0		rgba(0, 0, 0, 0.12);
	} @else if $size == 8dp {
		box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
								 0 8px 10px 1px rgba(0, 0, 0, 0.14),
								 0 3px 14px 2px rgba(0, 0, 0, 0.12);
	} @else if $size == 12dp {
		box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
								0 12px 17px 2px rgba(0, 0, 0, 0.14),
								0 5px 22px 4px rgba(0, 0, 0, 0.12);
	} @else if $size == 16dp {
		box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2),
								0 16px 24px 2px rgba(0, 0, 0, 0.14),
								0 6px 30px 5px rgba(0, 0, 0, 0.12);
	} @else if $size == 24dp {
		box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 
								0 24px 38px 3px rgba(0, 0, 0, 0.14),
							  0 9px 46px 8px rgba(0, 0, 0, 0.12);
	} @else {
		box-shadow: none;
	}
}