@import "../variables";
@import "../functions/utils";

/**
 * @param $widths
 * - Widths of the columns with class="column-locked-right".
 * - 1st width is the width of the rightmost column..
 * - 2nd width is the width of the 2nd rightmost column..
 * - And so on..
 */
@mixin nv-table-with-locked-right-columns($widths...) {

  $border-sm: 0.1rem;
  $border-lg: 0.2rem;

  $th-padding: 0.5rem;
  $th-line-height: 1.8rem;
  $th-container-height: $th-padding * 2 + $th-line-height + $border-sm + $border-lg;

  $td-padding: 0.5rem;
  $td-line-height: 1.8rem;

  .table-with-locks-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .table-column-divider {
      position: absolute;
      top: 0;
      bottom: 0;
      border-left: $border-lg solid $nv-border-color;
    }

    @for $i from 1 through length($widths) {
      .table-column-divider:nth-last-child(#{$i}) {
        right: sum(slice($widths, 1, $i)) * 1rem;

        @if ($i == length($widths)) {
          border-left: $border-lg solid $nv-light4;
          box-shadow: -0.1rem 0.1rem 0.1rem 0.1rem #dadada;
        } @else {
          border-left: $border-lg solid $nv-border-color;
        }
      }
    }

    .table-head-container {
      height: $th-container-height;
      overflow: hidden;
      border-top: $border-sm solid $nv-border-color;
      border-bottom: $border-lg solid $nv-border-color;

      .table-head {
        padding-bottom: 10rem; // hides the horizontal scrollbar
      }
    }

    md-virtual-repeat-container {
      position: absolute;
      top: $th-container-height;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #ffffff;

      .md-virtual-repeat-offsetter {
        border-bottom: $border-sm solid $nv-border-color;
      }

      table tbody tr {
        position: relative;
        height: 5rem;
      }
    }

    table {
      display: block;
      overflow: auto;
      margin-right: sum($widths) * 1rem;

      th, td {
        font-weight: $font-weight-p;
        font-size: $font-size-p;
        letter-spacing: $letter-spacing-p;
        border-right: $border-sm solid $nv-border-color;

        &:last-child {
          border-right: none;
        }

        &.column-locked-right {
          position: absolute;
        }
      }

      th {
        outline: none;
        padding: $th-padding;
        line-height: $th-line-height;
        background-color: $nv-tb05;

        i {
          color: #5e5e5e;
          margin-right: 0.5rem;
        }

        &.active {
          background-color: $nv-normal-blue;
          font-weight: $font-weight-p-med;

          &, i {
            color: $nv-light0;
          }
        }
      }

      td {
        padding: $td-padding;
        line-height: $td-line-height;
      }

      @for $i from 1 through length($widths) {
        th.column-locked-right:nth-last-child(#{$i}),
        td.column-locked-right:nth-last-child(#{$i}) {
          width: nth($widths, $i);
          min-width: nth($widths, $i);

          $x: $i - 1;
          @if ($x == 0) {
            right: 0;
          } @else {
            right: sum(slice($widths, 1, $x)) * 1rem;
          }
        }
      }

      .table-row-divider {
        position: absolute;
        left: 0;
        right: 0;
        padding: 0;
        border-bottom: $border-sm solid $nv-border-color;
      }
    }
  }

}

@mixin nv-table-square-hollow-buttons($size, $classes...) {

  %button-style {
    height: $size;
    min-height: $size;
    width: $size;
    min-width: $size;
    padding: 0;

    i {
      font-size: 2rem;
      line-height: $size - 0.2rem * 2;
    }
  }

  @each $class in $classes {
    td.#{$class} .md-button.nv-button {
      @extend %button-style;
    }
  }

}


@mixin nv-table-column-width($column-class, $width) {
  td.#{$column-class},
  th.#{$column-class} {
    width: $width;
    min-width: $width;
    max-width: $width;
  }
}

@mixin nv-table-row-height($height) {
  .table-with-locks-container md-virtual-repeat-container table tbody tr {
    height: $height;
    td:not(.table-row-divider){
      height: $height;
    }
  }
}

@mixin nv-table-action-columns($widths...){
  .table-with-locks-container {
    // column divider
    @for $i from 1 through length($widths) {
      .table-column-divider:nth-last-of-type(#{$i}) {
        right: sum(slice($widths, 1, $i)) * 1rem;
      }
    }
    &.with-checkbox {
      @for $i from 1 through length($widths) {
        .table-column-divider:nth-last-of-type(#{$i+1}) {
          right: sum(slice($widths, 1, $i)) * 1rem;
        }
      }
    }
    .table-column-shadow-divider {
      right: sum($widths) * 1rem;
    }
    .table-horizontal-scroller-end {
      width: sum($widths) * 1rem + $nv-table-scrollbar-width;
    }
    &.with-checkbox {
      .table-horizontal-scroller-end {
        width: sum($widths) * 1rem + $nv-table-scrollbar-width + $nv-table-checkbox-column-width;
      }
    }

    &.no-virtual-repeat {
      .table-horizontal-scroller-end {
        width: sum($widths) * 1rem;
      }
      &.with-checkbox {
        .table-horizontal-scroller-end {
          width: sum($widths) * 1rem + $nv-table-checkbox-column-width;
        }
      }
    }

    // cell
    $widths: join((0), $widths);
    @for $i from 2 through length($widths) {
      table th.column-locked-right:nth-last-of-type(#{$i - 1}),
      table td.column-locked-right:nth-last-of-type(#{$i - 1}) {
        width: nth($widths, $i);
        min-width: nth($widths, $i);
        right: sum(slice($widths, 1, $i - 1)) * 1rem;
      }
    }
    &.with-checkbox {
      @for $i from 2 through length($widths) {
        table th.column-locked-right:nth-last-of-type(#{$i}),
        table td.column-locked-right:nth-last-of-type(#{$i}) {
          width: nth($widths, $i);
          min-width: nth($widths, $i);
          right: sum(slice($widths, 1, $i - 1)) * 1rem;
        }
      }
    }
  }
  .table-with-locks-container {
    table, .table-horizontal-scroller {
      margin-right: sum($widths) * 1rem + $nv-table-scrollbar-width;
    }
    &.with-checkbox {
      table, .table-horizontal-scroller {
        margin-right: sum($widths) * 1rem + $nv-table-checkbox-column-width + $nv-table-scrollbar-width;
      }
    }

    &.no-virtual-repeat {
      table, .table-horizontal-scroller {
        margin-right: sum($widths) * 1rem;
      }
      &.with-checkbox {
        table, .table-horizontal-scroller {
          margin-right: sum($widths) * 1rem + $nv-table-checkbox-column-width;
        }
      }
    }
  }
}

$number: ("one","two","three","four","five","six");
@function nv-table-action-width($type) {
  // one-dense-p, two-dense-p, three-dense-p, four-dense-p
  $num: index($number, str-slice($type, 1, str-index($type, "-") - 1));
  $height: if(str-index($type, "dense"), $button-dense-height, $button-height) / 1em;
  // 0.5*margin * (num-1) [in between] + 2*margin [left and right]
  @return $height * map-get(map-get($typography, 'p'), 'size') * $num + $nv-table-button-margin * (($num - 1) / 2 + 2);
}
