@import "../variables";

@mixin nv-font-weight ($weight) {
  @if $weight == medium {
    font-weight: $nv-font-weight-medium;
  } @else if $weight == regular {
    font-weight: $nv-font-weight-regular;
  } @else if $weight == light {
    font-weight: $nv-font-weight-light;
  }
}

@mixin nv-font ($type) {
  $typo: map-get($typography, $type);
  font-size: if(map-has-key($typo, 'size'), map-get($typo, 'size'), inherit);
  line-height: if(map-has-key($typo, 'line'), map-get($typo, 'line'), inherit);
  letter-spacing: if(map-has-key($typo, 'letter'), map-get($typo, 'letter'), inherit);
  @include nv-font-weight(map-get($typo, 'weight'));
}

@mixin nv-font-color($color, $opacity-level:1) {
  @if $color == black {
    @if $opacity-level == 2 {
      color: $nv-text-black-2;
    } @else if $opacity-level == 3 {
      color: $nv-text-black-3;
    } @else {
      color: $nv-text-black;
    }
  } @else if $color == white {
        @if $opacity-level == 2 {
      color: $nv-text-white-2;
    } @else if $opacity-level == 3 {
      color: $nv-text-white-3;
    } @else {
      color: $nv-text-white;
    }
  } @else if $color == dark-blue {
    color: $nv-dark-blue;
  } @else if $color == light-blue {
    color: $nv-light-blue;
  } @else if $color == dark-yellow {
    color: $nv-dark-yellow;
  } @else if $color == light-yellow {
    color: $nv-light-yellow;
  } @else if $color == dark-green {
    color: $nv-dark-green;
  } @else if $color == light-green {
    color: $nv-light-green;
  } @else if $color == dark-red {
    color: $nv-dark-red;
  } @else if $color == light-red {
    color: $nv-light-red;
  }
}