@import "../../../lib/ninja-commons/styles/variables";
@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../lib/ninja-commons/styles/mixins/media-query.mixins";
@import "../../../lib/ninja-commons/styles/mixins/table.mixins";


.nv-linehaul-container{
  min-height: 100%;
  .linehaul-tab {
    md-tabs-canvas{
      background: #303538;
    }
    md-tabs-content-wrapper{
    }
  }

  .nv-container-linehaul-entries{
    min-height:100%;
    height:100%;
    overflow-y: hidden;
    .filter-info-container{
      background: #EAF4F9;
    }
    .highlight{
      background: yellow;
    }

    .create-linehaul1{
      margin-top:.75rem;
    }


    md-card.table-card{
      margin: 0;
      top: 22.1rem;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      min-height: 45rem;

      @include nv-media-query-sm-min {
        top: 22rem;
      }

      @include nv-media-query-md-min {
        top: 16.9rem;
      }

      @include nv-media-query-lg-min {
        top: 16.4rem;
      }

      @include nv-media-query-xl-min {
        top: 24.9rem;
      }
      nv-table {
        // column width
        @include nv-table-column-width(id, 15rem);
        @include nv-table-column-width(name, 15rem);
        @include nv-table-column-width(start_hub, 15rem);
        @include nv-table-column-width(transit_hub, 20rem);
        @include nv-table-column-width(end_hub, 15rem);
        @include nv-table-column-width(frequency, 10rem);
        @include nv-table-column-width(days_of_week, 15rem);
        @include nv-table-column-width(start_date, 15rem);
        @include nv-table-column-width(end_date, 15rem);
        @include nv-table-column-width(comments, 15rem);

        // action columns
        @include nv-table-action-columns(10rem);
      }
    }
  }


  .nv-container-linehaul-dates{
    padding: 4.2rem;
    overflow-y: hidden;
    .linehaul-calendar{
      max-height: 65rem;
    }

    .selected-date-linehaul{
      margin-top:0;
      min-height:40rem;
    }

    .linehaul-date-item-cal{
      min-height: 6rem;
      overflow-y: auto;
      p{
        font-size: 1rem;
        margin-top: .2rem;
        margin-bottom: 0;
      }
    }
    .linehaul-list-item{
      padding: 0;
      md-card{
        margin-left: 0;
        margin-right: 0;
      }
    }
  }


}