    <div layout="row" class="nv-linehaul-container"
         layout-wrap
         layout-align="start start"
         layout-fill
    >
        <div flex="100">
            <md-tabs flex layout="column" class="md-primary linehaul-tab" md-dynamic-height md-selected="ctrl.currentTab">
                <md-tab flex layout="column" label="{{menu.displayName}}"
                        ng-repeat="menu in ctrl.linehaulMenu"
                        ng-click="ctrl.gotoPage(menu.page)">
                </md-tab>
            </md-tabs>
        </div>
        <div flex="100" style="height: 80rem" >
            <div ui-view="linehaul.entries" layout-fill flex ng-if="ctrl.currentPage=='container.linehaul.entries'"></div>
            <div ui-view="linehaul.date" layout-fill flex ng-if="ctrl.currentPage=='container.linehaul.date'"></div>
        </div>

    </div>
