.nv-addressing-container {
  // addressing css
  width: 100%;

  .separator {
    width: 100%;
    margin: 1.4rem 0 1.4rem 0;
    border-top: 1px solid #999;
    height: 1px;
  }

  .addressing-search-container {
    width: 100%;
    background: #253746;

    .addressing-search {
      width: 60rem;
      background: none;

      .addressing-search-header {
        padding: 4.2rem 2.8rem 0 2.8rem;
        h4 {
          color: white;
          font-weight: 300;
        }
      }
      .search-container {
        padding: 2.8rem;
        md-select.country-selector {
          margin: 0;
          background: white;
          border-radius: .3rem;
          md-select-item {
            span {
              margin-top: -.5rem;
            }
          }
          md-select-value {
            span {
              margin-top: -.5rem;
            }
          }
        }
        .address-search-input {
          margin-left: 2.8rem;
          border-radius: .3rem;
          padding-bottom: .1rem;
          width: 100%;
          height: 3rem;
          margin-top: 0;
        }
      }
    }
  }

  .addressing-result-container {
    padding-top: 2.8rem;
    .item-selected {
      width: 100rem;
      transition: width .5s;
    }
    .no-item-selected {
      width: 60rem;
      transition: width .5s;
    }
    #address-map{
			.leaflet-control-mapbox-geocoder{
				visibility: hidden;
			}
		}
    ul.address-list {
      margin: 0;
      padding: 0 .2rem 0 .2rem;
      list-style: none;
      .address-list-item {

        md-card.address-list-card {
          h5 {
            font-weight: 300;
          }
          width: 100%;
          padding: 1.4rem;
          margin: 0 0 .7rem 0;
        }
      }

      md-card.address-list-card.address-list-item-selected {
        background: #253746;
        h5 {
          color: white;
        }
        md-icon.row-icon {
          -webkit-animation: flip .2s ease-in 1 forwards;
          animation: flip .2s ease-in 1 forwards;
          color: white;
        }
        @-webkit-keyframes flip {
          100% {
            -webkit-transform: rotate(180deg);
          }
        }
        @keyframes flip {
          100% {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
          }
        }
      }
    }

    .address-detail-card {
      margin-top: 0;
      md-card-content {
        padding: 2.8rem;
        .address_copyable {
          width: 100%;
          border-radius: .3rem;
          border: 1px solid #eaeaea;
          padding: .8rem;
          margin-bottom: .1rem;
          cursor: pointer;
        }
        .copy-info {
          color: #999;
          opacity: 0;
          visibility: hidden;
        }
        .copy-info.copy-info-show {
          opacity: 1;
          visibility: visible;
        }
        .middle-section {
          margin-top: 2.8rem;
        }
        .leaflet-top.leaflet-left {
          z-index: 20 !important; // fixing the issue when map view under dialog
        }

        .lower-section {
          margin-top: 2.8rem;
        }
      }
      md-card-actions {
        border-top: 1px solid #eaeaea;
        padding: 1.4rem;
      }

    }

  }

}