<md-content class="nv-addressing-container">
    <div class="addressing-search-container" layout="row" layout-wrap layout-align="center none" flex="100">
        <md-content class="addressing-search" layout="row" layout-wrap>
            <div flex="100" layout="row" layout-wrap class="addressing-search-header" layout-align="space-between none">
                <h4>Set Country & Enter Address</h4>
                <nv-create-button md-theme="nvGreen" class="raised" name="Add Address" on-click="::ctrl.createAddress($event)"></nv-create-button>
            </div>

            <div flex="100" layout="row" class="search-container">
                <div flex="30">
                    <md-select class="country-selector" placeholder="Select country" ng-model="ctrl.country" aria-label="Country">
                        <md-option ng-value="d" ng-repeat="d in ctrl.countries">
                            <div>
                                <img width="16" height="16" alt="{{::c.key}}" ng-src="lib/ninja-commons/assets/ico/{{::d.key}}/favicon72.png" />
                                <span>{{ ::d.name}}</span>
                            </div>
                        </md-option>
                    </md-select>
                </div>
                <div flex="70">
                    <nv-input-text name="search" model="ctrl.searchQuery" disabled="ctrl.country==null" class="nv-light0 address-search-input" on-keypress="ctrl.searchAddress()"></nv-input-text>
                </div>
            </div>
        </md-content>
    </div>
    <div class="addressing-result-container" layout="row" layout-wrap layout-align="center none" flex="100">
        <md-content layout="row" layout-wrap ng-class="{'item-selected': ctrl.selectedAddress!=null, 'no-item-selected': ctrl.selectedAddress==null}">
            <div class="address-result-list-container" ng-class="{'flex-30': ctrl.selectedAddress!=null, 'flex-100': ctrl.selectedAddress==null}">
                <ul class="address-list">
                    <li class="address-list-item" ng-click="ctrl.showDetail(a)" ng-repeat="a in ctrl.addrresses">
                        <md-card layout="row" class="address-list-card" layout-wrap layout-align="space-between none" ng-if="a.source!=='DEFAULT'"
                            ng-class="{'address-list-item-selected' : ctrl.selectedAddress === a}">
                            <div flex="90">
                                <h5>{{a.formatted_address | nvLimitTo : 30 }}</h5>
                            </div>
                            <div flex></div>
                            <md-icon class="row-icon">
                                <i class="material-icons">keyboard_arrow_right</i>
                            </md-icon>
                        </md-card>

                        <md-card layout="row" class="address-list-card" layout-wrap layout-align="space-between none" ng-if="a.source==='DEFAULT'">
                            <div flex="100">
                                <h5>{{'container.addressing.no-address-found' | translate }}</h5>
                            </div>
                        </md-card>
                    </li>
                </ul>
            </div>

            <div flex="70" ng-if="ctrl.selectedAddress!=null">
                <md-card class="address-detail-card">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <span class="md-title">{{ctrl.selectedAddress.formatted_address }}</span>
                        </div>
                    </md-toolbar>

                    <md-card-content layout="row" layout-wrap>
                        <div flex="100">
                            <p>
                                <small>{{"container.addressing.click-address-below" | translate}}</small>
                            </p>
                            <p class="address_copyable" ngclipboard data-clipboard-text="{{ctrl.selectedAddress.formatted_address}}" ngclipboard-success="ctrl.onSuccessCopy(e)">
                                {{ctrl.selectedAddress.formatted_address}}
                            </p>
                            <small class="copy-info" ng-class="{'copy-info-show':ctrl.copied}">
                                {{"container.addressing.success-copy-address" | translate}}
                            </small>
                        </div>
                        <div flex="100" class="middle-section" layout-wrap layout="row">
                            <nv-input-text ng-repeat="(name,field) in ctrl.selectedAddress.customFields" flex="25" readonly="true" label="{{ name | nvSnakeCase2NaturalCase}}"
                                model="field">
                            </nv-input-text>
                        </div>
                        <div class="separator"></div>
                        <div class="lower-section" flex="50" layout="row" layout-wrap>
                            <div layout="row" flex="100">
                                <nv-input-text flex="50" readonly="true" label="Latitude" model="ctrl.selectedAddress.latitude"></nv-input-text>
                                <nv-input-text flex="50" readonly="true" label="Longitude" model="ctrl.selectedAddress.longitude">
                                </nv-input-text>
                            </div>
                            <div layout="row" flex="100">
                                <nv-input-text flex="50" readonly="true" label="Address Type" model="ctrl.selectedAddress.address_type">
                                </nv-input-text>
                                <nv-input-text flex="50" readonly="true" label="Source" model="ctrl.selectedAddress.source">
                                </nv-input-text>
                            </div>
                            <div layout="row" flex="100">
                                <nv-input-text flex="25" readonly="true" label="Score" model="ctrl.selectedAddress.score">
                                </nv-input-text>
                            </div>
                        </div>

                        <div class="lower-section" flex="50">
                            <div id="address-map" class="nv-map"></div>
                        </div>

                    </md-card-content>
                    <md-card-actions layout="row" layout-align="space-between none">
                        <nv-icon-text-button class="ghost" name="Delete" text="{{'container.addressing.delete-address' | translate}}" icon="delete"
                            on-click="ctrl.deleteAddress($event, ctrl.selectedAddress)"></nv-icon-text-button>
                        <div flex></div>
                        <nv-icon-text-button md-theme="nvGreen" class="raised" name="Update" text="{{'container.addressing.edit-address' | translate}}"
                            icon="edit" on-click="ctrl.updateAddress($event, ctrl.selectedAddress)"></nv-icon-text-button>
                    </md-card-actions>

                </md-card>

            </div>
        </md-content>

    </div>


</md-content>