.nv-global-inbound-scan-settings{
  width: 40rem !important;
  md-dialog-content{
    padding: 2.8rem;
    .action-container{
      nv-icon-button {
        padding: .4rem;
      }
    }
  }

  #saveButtonSettings button{
    color: white !important;
  }
}