<div class="flexible-container" layout="row" layout-align="start start">
	<div class="main-title" layout="row" layout-align="start center">
		<p class="medium nv-text-ellipsis">{{ mainTitle | translate }}</p>
	</div>

	<div class="time-container" layout="row" flex layout-align="start center">
		<div class="time-param-container" layout="row" layout-align="start center">
			<md-datepicker flex="50" name="fromDateField"
						class="from-date-picker"
						md-max-date="container.toDate"
						ng-model="container.fromDate"
						ng-change="onTimeChange()"
						md-placeholder="{{'container.route-group.enter-date' | translate}}">
			</md-datepicker>

			<nv-input-select
				flex="25"
				label="number-container"
				placeholder="Type"
				model="container.fromHour"
				model-options="{ trackBy: '$value.code'}"
				options="hourOptions">
			</nv-input-select>
			<p>:</p>
			<nv-input-select
				flex="25"
				label="number-container"
				placeholder="Type"
				model="container.fromMinute"
				model-options="{ trackBy: '$value.code'}"
				options="minuteOptions">
			</nv-input-select>
		</div>
		
		<p class="time-label">{{'commons.to' | translate}}</p>
		
		<div class="time-param-container" layout="row" layout-align="start center">
			<md-datepicker flex="50"
						name="toDateField"
						ng-model="container.toDate"
						md-min-date="container.fromDate"
						ng-change="onTimeChange()"
						md-placeholder="{{'container.route-group.enter-date' | translate}}">
			</md-datepicker>

			<nv-input-select
				flex="25"
				label="number-container"
				placeholder="Type"
				model="container.toHour"
				model-options="{ trackBy: '$value.code'}"
				options="hourOptions">
			</nv-input-select>
			<p>:</p>
			<nv-input-select
				flex="25"
				label="number-container"
				placeholder="Type"
				model="container.toMinute"
				model-options="{ trackBy: '$value.code'}"
				options="minuteOptions">
			</nv-input-select>
		</div>
	</div>

	<div class="primary-button-container" layout="column" layout-align="end center">
		<div layout="column" layout-fill>
			<nv-icon-button class="flat dense" name="commons.remove-filter" icon="close" on-click="::onClose()"></nv-icon-button>
		</div>
	</div>
</div>
