<md-button
  class="nv-button full section-item"
  ng-class="{'is-active': isActive, 'hide': !state.isExpanded && !state.global.isSearching }">
  <md-tooltip md-direction="right" md-delay="500">{{translatedTitle}}</md-tooltip>
  <div class="nv-text-ellipsis">{{translatedTitle}}</div>
</md-button>