@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";
md-content.nv-container-rf-prebidding-management {

  @include nv-card-no-margin;

  padding: 1rem;

  @include nv-media-query-md-min {
    padding: 2rem 6rem;
  }

  @include nv-media-query-lg-min {
    padding: 3rem 9rem;
  }

  @include nv-media-query-xl-min {
    padding: 4rem 12rem;
  }

  .download-csv-button {
    margin-top: 1.4rem;
  }

  p { font-size: 1.6rem; }
}