<md-content
        class="nv-container-rf-prebidding-management"
        nv-load="ctrl.getAll"
        loading-message="{{'container.same-day-route-engine.load-data' | translate}}">
    <div layout="column">
      <h4>{{'commons.rf-prebidding-management' | translate}}</h4>
      
      <p class="medium">{{'container.rf-prebidding-management.reset-availability-instruction' | translate}}</p>

      <nv-filter-box
        possible-options="ctrl.possibleOptions"
        selected-options="ctrl.selectedOptions"
        main-title="Driver Types"
        search-text="ctrl.searchText"
        sort-by="''"
        hide-close="true"
        item-types="Driver Types"
        orientation="horizontal">
      </nv-filter-box>

      <p class="medium">{{'container.rf-prebidding-management.update-preferences-instruction' | translate}}</p>

      <div layout="row">
        <nv-create-button
          name="{{'commons.upload-csv' | translate}}"
          on-click="::ctrl.showSelectCsvDialog($event)">
        </nv-create-button>
        <span flex></span>
        <nv-download-csv-button
          name="{{'commons.download-sample-csv' | translate}}"
          md-theme="nvBlue"
          data="ctrl.sampleCsv"
          csv-header="{{::ctrl.sampleCsvHeader}}"
          csv-column-order="{{::ctrl.sampleCsvOrder}}"
          filename="sample_csv.csv">
        </nv-download-csv-button>
      </div>

    </div>
</md-content>