@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../styles/variables";

.nv-container-aged-parcel-management {
  height: 100%;

  .filter-page {
    padding: 1rem;
    @include nv-media-query-md-min {
      padding: 2rem;
    }

    @include nv-media-query-lg-min {
      padding: 3rem;
    }

    @include nv-media-query-xl-min {
      padding: 4rem;
    }

    h4 {
      color: $nv-text-black-2;
      font-weight: normal;
      margin-bottom: 1rem;
    }

    .filter-box-container {
      .utility-section {
        margin-left: $nv-baseline-grid*2;

        > *:not(.primary-button-container) {
          flex: 1;
          max-width: none;
        }
      }

      .primary-button-container {
        flex: none;
      }
    }
  }

  .result-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    div.navigation {
      padding: 0.5rem 1rem;
      @include nv-media-query-md-min {
        padding: 1rem 2rem;
      }

      @include nv-media-query-lg-min {
        padding: 1.5rem 3rem;
      }

      @include nv-media-query-xl-min {
        padding: 2rem 4rem;
      }

      .right-container {
        > * {
          display: inline-block;
          padding: 0 0 0 0.4rem;
          margin: 0;

          &:first-child {
            padding: 0;
          }

          &.apply-action-loading {
            vertical-align: middle;
          }

          .btn-apply-action {
            min-width: 140px;

            > span {
              flex-grow: 1;
            }
          }

          @include nv-media-query-sm-max {
            margin-top: 0.4rem;
          }
        }

        > nv-icon-text-button {
          vertical-align: bottom;
        }
      }
    }

    div.table-container {
      position: relative;
      flex: 1;

      nv-table {
        // column width
        @include nv-table-column-width(tracking_id, 18rem);
        @include nv-table-column-width(shipper, 18rem);
        @include nv-table-column-width(granular_status, 18rem);
        @include nv-table-column-width(route_id, 14rem);
        @include nv-table-column-width(custom_rts, 14rem);
        @include nv-table-column-width(latest_hub_name, 18rem);
        @include nv-table-column-width(custom_inbound_time, 18rem);
        @include nv-table-column-width(custom_days_since_inbound, 18rem);
        @include nv-table-column-width(custom_last_attempt_time, 18rem);
        @include nv-table-column-width(custom_days_since_last_attempt, 19rem);
        @include nv-table-column-width(total_failures, 18rem);

        // action columns
        @include nv-table-action-columns(nv-table-action-width("two-dense-p"));

        .actions {
          nv-icon-button {
            button.disabled {
              opacity: 0.5;
            }
          }
        }

        tr.last-row td.end-of-result {
          .end-of-table {
            height: 5rem !important;

            p {
              display: none;
            }
          }
        }
      }
    }
  }
}