<md-content class="nv-container-aged-parcel-management">
  <!--PART 1: filter page start-->
  <div class="filter-page" ng-if="ctrl.isPage(ctrl.PAGES.FILTER)">
    <div layout="row" layout-padding layout-wrap>
      <p class="dark-red" style="margin: auto;"
         ng-if="ctrl.isNinjavan()">
        <b>Page temporary disabled</b>
      </p>
      <div flex="100"
           ng-if="!ctrl.isNinjavan()">
        <h4>{{'commons.select-filter' | translate}}</h4>
      </div>

      <nv-filter-box-container
        ng-if="!ctrl.isNinjavan()"
        flex="100"
        possible-filters="ctrl.possibleFilters"
        selected-filters="ctrl.selectedFilters"
        search-by="mainTitle">
      </nv-filter-box-container>
    </div>
    <div layout="row" layout-align="center center"
         ng-if="!ctrl.isNinjavan()">
        <nv-api-text-button
          class="raised h5"
          state="ctrl.getAgedParcelsState"
          name="commons.load-selection"
          on-click="ctrl.getAgedParcels()">
        </nv-api-text-button>
    </div>
  </div>
  <!--PART 1: filter page end-->
  <!--PART 2: filter result-->
  <div class="result-page" ng-if="ctrl.isPage(ctrl.PAGES.RESULT)">
    <div class="navigation">
      <div layout="row" layout-sm="column" layout-xs="column">
        <div flex="50" flex-sm="100" flex-xs="100">
          <nv-icon-text-button
            md-theme="nvBlue"
            class="raised"
            icon="filter_list"
            name="container.aged-parcel-management.edit-conditions"
            on-click="ctrl.goToPage(ctrl.PAGES.FILTER)">
          </nv-icon-text-button>
        </div>
        <div flex class="right-container nv-text-right">
          <p translate="commons.count-selected"
             translate-values="{count: ctrl.getSelectedCount()}">
          </p>
          <div class="apply-action-loading" ng-if="ctrl.isApplyActionLoading">
            <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="24px"></md-progress-circular>
          </div>
          <md-menu-bar>
            <md-menu md-position-mode="target-right target">
              <md-button
                class="nv-button raised btn-apply-action"
                type="button"
                aria-label="Action"
                ng-click="$mdOpenMenu($event)"
                ng-disabled="ctrl.getSelectedCount() <= 0">
                <span class="nv-text-ellipsis nv-text-left">{{'commons.apply-action' | translate}}</span>
                <i class="material-icons">arrow_drop_down</i>
              </md-button>

              <md-menu-content class="actions-holder dark" width="3">
                <md-menu-item>
                  <md-button class="nv-button flat alternate"
                             type="button"
                             aria-label="{{'container.aged-parcel-management.set-rts-to-selected' | translate}}"
                             ng-click="ctrl.returnSelectedToSender($event)">
                    <i class="material-icons">assignment_return</i>
                    <span>{{'container.aged-parcel-management.set-rts-to-selected' | translate}}</span>
                  </md-button>
                </md-menu-item>

                <md-menu-item>
                  <md-button class="nv-button flat alternate"
                             type="button"
                             aria-label="{{'container.aged-parcel-management.reschedule-selected' | translate}}"
                             ng-click="ctrl.rescheduleSelected($event)">
                    <i class="material-icons">restore</i>
                    <span>{{'container.aged-parcel-management.reschedule-selected' | translate}}</span>
                  </md-button>
                </md-menu-item>

                <md-menu-item>
                  <md-button class="nv-button flat alternate"
                             type="button"
                             aria-label="{{'commons.download-csv' | translate}}"
                             ng-click="ctrl.downloadCsvSelected($event)">
                    <i class="material-icons">file_download</i>
                    <span>{{'commons.download-csv' | translate}}</span>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </md-menu-bar>
        </div>
      </div>
    </div>

    <nv-table-description
      table-param="ctrl.agedParcelsTableParam"
      filters="ctrl.selectedFilters"
      title-display="mainTitle">
    </nv-table-description>
    <div class="table-container">
      <nv-table
        param="ctrl.agedParcelsTableParam"
        selectable="true"
        controller-as="ctrl">
        <nv-table-row
          use="agedParcel">
          <nv-index></nv-index>
          <nv-td column="tracking_id">
            <a href="javascript:;"
               ng-click="ctrl.editOrder(agedParcel)">
              {{ agedParcel.tracking_id }}
            </a>
          </nv-td>
          <nv-td column="shipper">
            {{ agedParcel.shipper }}
          </nv-td>
          <nv-td column="granular_status">
            {{ agedParcel.granular_status }}
          </nv-td>
          <nv-td column="route_id">
            {{ agedParcel.route_id }}
          </nv-td>
          <nv-td column="custom_rts">
            {{ agedParcel.custom_rts }}
          </nv-td>
          <nv-td column="latest_hub_name">
            {{ agedParcel.latest_hub_name }}
          </nv-td>
          <nv-td column="custom_inbound_time">
            {{ agedParcel.custom_inbound_time }}
          </nv-td>
          <nv-td column="custom_days_since_inbound">
            {{ agedParcel.custom_days_since_inbound }}
          </nv-td>
          <nv-td column="custom_last_attempt_time">
            {{ agedParcel.custom_last_attempt_time }}
          </nv-td>
          <nv-td column="custom_days_since_last_attempt">
            {{ agedParcel.custom_days_since_last_attempt }}
          </nv-td>
          <nv-td column="total_failures">
            {{ agedParcel.total_failures }}
          </nv-td>
          <nv-action column="actions">
            <div class="nv-icon-button-group" layout="row" layout-align="center center">
              <nv-icon-button
                ng-if="!agedParcel.custom_is_rescheduling"
                md-theme="nvGreen"
                class="ghost dense"
                ng-child-class="{disabled: agedParcel.granular_status != ctrl.GRANULAR_STATUS.PENDING_RESCHEDULE}"
                name="container.aged-parcel-management.reschedule-next-day"
                icon="{{ agedParcel.custom_is_rescheduling ? 'restore' : 'restore' }}"
                on-click="ctrl.rescheduleToNextDay(agedParcel)">
              </nv-icon-button>
              <md-progress-circular class="md-primary"
                                    md-mode="indeterminate"
                                    md-diameter="30px"
                                    ng-if="agedParcel.custom_is_rescheduling">
              </md-progress-circular>

              <nv-icon-button
                ng-if="!agedParcel.custom_is_rts_ing"
                md-theme="nvGreen"
                class="ghost dense"
                ng-child-class="{disabled: agedParcel.rts == true}"
                name="commons.return-to-sender"
                icon="assignment_return"
                on-click="ctrl.returnToSender($event, agedParcel)">
              </nv-icon-button>
              <md-progress-circular class="md-primary"
                                    md-mode="indeterminate"
                                    md-diameter="30px"
                                    ng-if="agedParcel.custom_is_rts_ing">
              </md-progress-circular>
            </div>
          </nv-action>
        </nv-table-row>
      </nv-table>
    </div>
  </div>
</md-content>