md-dialog.distribution-point-partner-add,
md-dialog.distribution-point-partner-edit {

  width: 40rem;

  md-dialog-content {
    height: 32.1rem; // workaround for the initial flash when the dialog elements aren't fully loaded yet
  }
  
  .md-dialog-content {
    textarea + div {
      min-height: 0; // hide ng-messages area because we don't need it
    }
  }

}

md-dialog.distribution-point-partner-add {

}

md-dialog.distribution-point-partner-edit {

  .md-dialog-content .id {
    right: -1.6rem;
  }

}
