<nv-dialog-header title="Add Partner" on-cancel="::onCancel($event)" cancel-text="commons.cancel"></nv-dialog-header>

<form name="modelForm" ng-submit="::onSave()" md-theme="nvBlue">
  <md-dialog-content>
    <div class="md-dialog-content">
      <nv-input-text
        class="md-block"
        label="{{::fields.name.displayName}}"
        model="fields.name.value"
        form="modelForm"
        required="::true">
      </nv-input-text>

      <div class="md-block multi-input-row" layout="row">
        <nv-input-text
          label="{{::fields.poc_name.displayName}}"
          model="fields.poc_name.value"
          form="modelForm"
          required="::true">
        </nv-input-text>

        <nv-input-tel
          label="{{::fields.poc_tel.displayName}}"
          model="fields.poc_tel.value"
          form="modelForm"
          required="::true">
        </nv-input-tel>
      </div>

      <nv-input-email
        class="md-block"
        label="{{::fields.poc_email.displayName}}"
        model="fields.poc_email.value"
        form="modelForm">
      </nv-input-email>

      <div class="md-block multi-input-row" layout="row">
        <nv-input-textarea
          class="md-block"
          label="{{::fields.restrictions.displayName}}"
          model="fields.restrictions.value"
          form="modelForm">
        </nv-input-textarea>
        <nv-input-switch
          md-theme="nvGreen"
          label="{{::fields.send_notifications_to_customer.displayName}}"
          model="fields.send_notifications_to_customer.value"
          form="modelForm"
          switch-enabled-text="Yes"
          switch-disabled-text="No">
        </nv-input-switch>
      </div>
    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <nv-button-save name="Submit" form="modelForm" state="saveButtonState"></nv-button-save>
  </md-dialog-actions>
</form>
