.order-pin-dialog {
  $defaultWidth: 200px !important;

  width: $defaultWidth;
  md-dialog-content {
    width: 100%;
    height: 10rem;
    padding: 2.4rem;

    md-input-container {
      .md-errors-spacer {
        min-height: 0;
        height: 0;
      }
    }

    md-dialog md-dialog-actions nv-icon-text-button:first-child > button.md-nvBlue-theme {
      color: white !important;
    }
    
  }
}