<nv-dialog-header
  title="commons.pin"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>
<form name="modelForm">
  <md-dialog-content layout layout-padding>
    <nv-input-text
      placeholder="commons.pin"
      label="commons.pin"
      name="commons.pin"
      model="ctrl.pin"
      on-keypress=ctrl.onEnter(event)
      required="true">
    </nv-input-text>
  </md-dialog-content>
</form>
<md-dialog-actions>
  <nv-icon-text-button
    class="raised"
    form="modelForm"
    md-theme="nvBlue"
    name="commons.set"
    on-click="ctrl.onSet()">
  </nv-icon-text-button>
</md-dialog-actions>