@import "../../lib/ninja-commons/styles/variables";
@import "../../styles/variables";

.nv-container {

  $navbar-right-padding: $nv-navbar-padding;

  md-toolbar.nav-bar {
    height: $nv-navbar-height;
    min-height: $nv-navbar-height;
    color: $nv-text-white;
    background-color: $nv-brand-grey;
    z-index: 61; // so that it appears above the sidenav when the sidenav is open

    .md-toolbar-tools {
      padding: 0;
      padding-right: $navbar-right-padding;
      height: $nv-navbar-height;
      max-height: $nv-navbar-height;
      background-color: $nv-brand-grey;

      .speed-dial-container {
        $trigger-button-margin: $nv-navbar-padding;

        position: relative;
        width: $nv-navbar-height - $nv-navbar-padding * 2;
        height: $nv-navbar-height - $nv-navbar-padding * 2;
        margin-right: $trigger-button-margin;

        md-fab-speed-dial {
          $border-radius: 0.3rem;

          border-radius: $border-radius;
          transition: box-shadow 100ms ease;
          position: absolute;

          .md-fab-action-item {
            background-color: $nv-brand-grey;

            &:last-child {
              // padding-bottom: $trigger-button-margin;
              border-bottom-left-radius: $border-radius;
              border-bottom-right-radius: $border-radius;
            }
          }

          .nv-button.md-button.fab-trigger-button, .nv-button.md-button.fab-action-button {
            width: $nv-navbar-height - $nv-navbar-padding * 2;
            min-width: $nv-navbar-height - $nv-navbar-padding * 2;
            height: $nv-navbar-height - $nv-navbar-padding * 2;
            padding: 0;
            box-shadow: none;

            &:active {
              background-color: map-get(map-get($themeColor, 'nvRed'), 'dark');
            }
          }
        }
      }

      .driver-messaging {
        width: $nv-navbar-height - $nv-navbar-padding * 2;
        min-width: $nv-navbar-height - $nv-navbar-padding * 2;
        height: $nv-navbar-height - $nv-navbar-padding * 2;
        line-height: $nv-navbar-height - $nv-navbar-padding * 2;
        margin: 0 $nv-navbar-padding;
        outline: none;
        text-align: center;
        transition: color 400ms ease, background-color 400ms ease;

        &.active, &:active {
          background-color: map-get(map-get($themeColor, 'nvRed'), 'dark');
        }
      }
    }
  }

  .nav-container {

    $swift-ease-in-duration: 0.3s;
    $swift-ease-in-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);

    position: relative; // so that the sidenav is contained below the navbar

    .view-container {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      transition: left $swift-ease-in-duration $swift-ease-in-timing-function; // copied from Angular Material

      &.full-width {
        left: 0;
      }

      &.with-sidebar {
        left: $nv-sidenav-width;
      }
    }

  }

}
