<md-content class="nv-container" layout="column" flex>

  <md-toolbar class="nav-bar dark">
    <div class="md-toolbar-tools">

      <app-brandnav title="Operator"></app-brandnav>

      <span flex></span>

      <div class="nv-text-ellipsis nv-h4">{{ctrl.title | translate}}</div>

      <span flex></span>

      <md-button
          class="nv-text-no-select driver-messaging"
          aria-label="SMS"
          ng-class="{'active': ctrl.isOpenDriverMessaging()}"
          ng-click="ctrl.toggleDriverMessaging()">
        <md-icon>
          <i class="material-icons">sms</i>
        </md-icon>
      </md-button>

      <app-profilenav user="user"></app-profilenav>

      <app-clock></app-clock>
    </div>
  </md-toolbar>

  <div class="nav-container" flex layout="row">

    <app-sidenav layout="column"></app-sidenav>

    <!-- we need this extra wrapping container to avoid the view change delay that happens -->
    <!-- when we have a css transition property on an element with the ui-view directive -->
    <div class="view-container" ng-class="{'full-width': ctrl.isFullWidth(), 'with-sidebar': ctrl.isLockedOpen()}">
      <!-- page contents are nested in here -->
      <md-content du-scroll-container flex ui-view></md-content>
    </div>

    <app-side-nav-driver-messaging></app-side-nav-driver-messaging>

  </div>

</md-content>
