<md-content class="nv-login md-padding">
    <md-card>
        <md-card-content layout="row" layout-align="center center">
            <md-button class="nv-button raised" ng-click="ctrl.login()">
                <i class="fa fa-google-plus"></i> {{'login.sign-in-button' | translate}}
            </md-button>
        </md-card-content>
    </md-card>
</md-content>
