@import "../../lib/ninja-commons/styles/variables";
@import "../../lib/ninja-commons/styles/mixins/button.mixins";
@import "../../lib/ninja-commons/styles/mixins/shadow.mixins";

app-clock {

  md-menu-bar {
    
    padding: 0;

    md-menu > .md-button.nv-button {
      flex-direction: column;
      height: $nv-navbar-height - 2 * $nv-navbar-padding;
      margin-top: $nv-navbar-padding;
      margin-bottom: $nv-navbar-padding;

      div.clock-face {
        transition: opacity ease 500ms;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        p {
          margin: 0;
        }
      }
      &:hover {
        .hide-hover {
          opacity: 0;
          height: 0;
        }
        .show-hover {
          opacity: 1;
        }
      }
      &:not(:hover) {
        .show-hover {
          opacity: 0;
          height: 0;
        }
        .hide-hover {
          opacity: 1;
        }
      }
      
    }
    &.md-open > .md-button.nv-button {
      background-color: transparent;
    }
  }
}

// separate this style, which is appended to the body element
.md-open-menu-container md-menu-content.app-clock {
  $padding: 1.4rem;

  padding: 0;
  background-color: $nv-dark3;

  md-menu-item {
    height: initial;
    
    > * {
      padding: 0;
    }

    &.timezone {
      background-color: $nv-brand-red;
      flex-direction: column;
      padding: $padding;
    }
    &.timezone-location,
    &.timezone-location-set,
    &.timezone-select,
    &.timezone-update {
      padding: $padding;
      flex-direction: column;
    }
    &.timezone-location-set,
    &.timezone-update {
      padding-top: 0;
    }
    &.timezone-select {
      padding-top: 0;
      md-select {
        margin: 0;
        background-color: $nv-text-white;
        border-radius: 0.4rem;
        md-select-value { 
          border: 0;
          padding: 0.2rem;
          > span {    
            height: 100%;
            transform: none;
          }
          div {
            overflow: visible;
            display: flex;
            > img {
              flex: initial;
              margin-left: 0.7rem;
              margin-right: 0.7rem;
              @include nv-shadow(2dp);
            }
          }
        }
      }
    }
  }
}
.md-select-menu-container.timezone-selector {
  $padding: 1.4rem;
  z-index: 110;
  md-option {
    height: 3rem;
    padding: 0 $padding;
    div {
      display: flex;
      align-items: center;
    }
    img {
      margin-right: 0.7rem;
      @include nv-shadow(2dp);
    }
  }
}
