<md-menu-bar>
  <md-menu md-position-mode="target-right target">
    <md-button class="nv-button custom h5 nv-text-notransform" type="button" aria-label="Time" ng-click="$mdOpenMenu($event)">
      <div class="clock-face hide-hover">
        <p class="nv-small medium">{{ctrl.time|nvTime:'operator'}}</p>
        <p class="med">{{ctrl.time|nvTime:'operator':'12-hour-time'}}</p>
      </div>
      <div class="clock-face show-hover">
        <p class="nv-small medium">{{ctrl.timezoneInfo.shortname}}</p>
        <p class="med">{{ctrl.timezoneInfo.utcOffset}}</p>
      </div>
    </md-button>

    <md-menu-content class="app-clock dark">
      <md-menu-item class="timezone">
        <h5 class="name" translate="directive.clock.current-timezone"></h5>
        <p class="email">({{ctrl.timezoneInfo.utcOffset}}) {{ctrl.timezoneInfo.name}}</p>
      </md-menu-item>

      <md-menu-item class="timezone-location">
        <p translate="directive.clock.current-location"></p>
        <p>{{ctrl.location}}</p>
      </md-menu-item>

      <md-menu-item class="timezone-location-set">
        <div>
          <md-button
            class="nv-button raised"
            md-theme="nvRed"
            aria-label="{{'directive.clock.set-timezone-to-location' | translate}}"
            md-prevent-menu-close="md-prevent-menu-close"
            ng-click="ctrl.setTimezoneToCurrentLocation()">
            {{'directive.clock.set-timezone-to-location' | translate}}
          </md-button>
        </div>
      </md-menu-item>

      <md-menu-item class="timezone-select">
        <p class="nv-small" translate="directive.clock.manually-set-timezone"></p>
        <md-select ng-model="ctrl.selectedTimezone" md-container-class="timezone-selector" aria-label="Timezone">
          <md-option ng-value="timezone" ng-repeat="timezone in ctrl.timezones">
            ({{timezone.utcOffset}}) {{timezone.iana}}
          </md-option>
        </md-select>
        </md-menu-item>
      <md-menu-item class="timezone-update">
        <div>
          <md-button
            class="nv-button raised"
            md-theme="nvRed"
            aria-label="{{'directive.clock.update-timezone' | translate}}"
            md-prevent-menu-close="md-prevent-menu-close"
            ng-click="ctrl.updateTimezone()">
            {{'directive.clock.update-timezone' | translate}}
          </md-button>
        </div>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</md-menu-bar>
