<md-button
    class="nv-button"
    aria-label="Toggle"
    ng-click="::_onClick($event)">

  <i class="material-icons">{{state ? iconActive : iconInactive}}</i>

  <md-tooltip>{{(state ? textActive : textInactive) | translate}}</md-tooltip>

</md-button>
