@import "../../../../../lib/ninja-commons/styles/variables";
@import "../../../../../styles/variables";
@import "../../../../../views/container/order/order.mixins";

md-dialog.order-edit-rts-details {
  &.expand {
    width: 80rem !important;
  }

  // commons
  .fill-width {
    width: 100%;
  }

  // custom
  md-dialog-content {
    &.non-multiselect {
      display: block;
      padding: $nv-baseline-grid*2;

      .box {
        margin-bottom: $nv-baseline-grid*2;
        border: 1px solid $nv-light3;
        -webkit-border-radius: $nv-baseline-grid/2;
        -moz-border-radius: $nv-baseline-grid/2;
        border-radius: $nv-baseline-grid/2;

        h5 {
          color: $nv-text-black-2;
          font-weight: normal;
        }

        @include data-blocks;
        .data-blocks {
          .data-block {
            margin-top: $data-block-top-spacing;
            margin-bottom: $data-block-top-spacing;
            max-width: 300px;
          }

          &:first-child {
            margin-top: 0;
          }
        }

        md-input-container {
          .md-errors-spacer {
            display: none;
          }
        }

        .nv-input-date {
          margin-bottom: 0;
        }
      }

      .change-address-btn-holder {
        nv-icon-text-button {
          margin-left: $nv-baseline-grid;
          margin-right: $nv-baseline-grid;
        }
      }

      .change-new-address-holder {
        nv-icon-text-button {
          &:not(:last-child) {
            margin-right: $nv-baseline-grid;
          }

          margin-bottom: $nv-baseline-grid/2;
        }
      }
    }

    &.multiselect {
      display: block;
      $sectionMargin: 2.8rem;

      .table-holder {
        margin-top: $sectionMargin;
        margin-bottom: $sectionMargin;

        .table {
          > thead > tr > th {
            border-bottom: 0;
            font-weight: normal;
            font-size: 1.2rem;
            color: $nv-text-black-2;
          }

          > tbody > tr > td {
            border-top: 0;
          }
        }
      }

      div[layout] {
        margin-top: $sectionMargin;
        margin-bottom: $sectionMargin;

        p {
          margin-top: 0;
        }
      }

      > * {
        &:last-child {
          margin-bottom: 0 !important;
        }
      }
    }
  }
}