<nv-dialog-header
  ng-if="!ctrl.settings.isMultiSelect"
  title="{{'container.order.edit.edit-rts-details' | translate}}"
  on-cancel="ctrl.func.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<form name="modelForm">
  <md-dialog-content ng-if="!ctrl.settings.isMultiSelect"
                     class="non-multiselect">

    <div ng-if="ctrl.func.isPpntHaveDpId()">
      <nv-hint text="container.order.edit.rts-hint"></nv-hint>
    </div>
    <!-- non multiselect version -->
    <!--1st box REASON-->
    <div class="box"
         layout="column" layout-padding>
      <h5 flex>{{ 'container.order.edit.return-to-sender-reason' | translate }}</h5>
      <div flex>
        <div layout="row" layout-sm="column" layout-xs="column"
             layout-align="space-between center" layout-align-xs="start stretch">
          <div flex="45" flex-xs="100">
            <nv-input-select
              class="md-block"
              label="commons.reason"
              model="ctrl.view.reason.value"
              model-options="{}"
              options="ctrl.view.reasonOptions"
              form="modelForm">
            </nv-input-select>
          </div>
          <div flex="50" flex-xs="100">
            <nv-input-text
              ng-if="ctrl.REASON[ctrl.view.reason.value] === ctrl.REASON.OTHER_REASON"
              id="field-reason-description"
              class="md-block"
              label="commons.description"
              model="ctrl.view.reason.description"
              required="::true"
              form="modelForm">
            </nv-input-text>
          </div>
        </div>
      </div>
    </div>
    <!--2nd box RECEIPIENT DETAILS-->
    <div layout="row" layout-xs="column" layout-wrap layout-padding
         layout-align="space-between center" layout-align-xs="start stretch"
         class="box"
         ng-if="ctrl.view.recipient.isAbleToEdit">
      <h5 flex="100">{{ 'commons.recipient-details' | translate }}</h5>
      <div flex="30" flex-xs="100">
        <nv-input-text
          id="field-recipient-name"
          class="md-block"
          label="commons.recipient-name"
          model="ctrl.view.recipient.name"
          required="::true"
          form="modelForm">
        </nv-input-text>
      </div>
      <div flex="30" flex-xs="100">
        <nv-input-text
          id="field-recipient-contact"
          class="md-block"
          label="commons.recipient-contact"
          model="ctrl.view.recipient.contact"
          required="::true"
          form="modelForm">
        </nv-input-text>
      </div>
      <div flex="30" flex-xs="100">
        <nv-input-text
          id="field-recipient-email"
          class="md-block"
          label="commons.recipient-email"
          model="ctrl.view.recipient.email"
          required="::true"
          form="modelForm">
        </nv-input-text>
      </div>
      <div flex="100">
        <nv-input-text
          id="field-recipient-instructions"
          class="md-block"
          label="container.order.edit.shipper-instructions"
          model="ctrl.view.recipient.instructions"
          readonly="::true"
          required="::true"
          form="modelForm">
        </nv-input-text>
      </div>
      <div flex="100">
        <nv-input-text
          id="field-recipient-internal-notes"
          class="md-block"
          label="container.order.edit.internal-notes"
          model="ctrl.view.recipient.internalNotes"
          required="::false"
          form="modelForm">
        </nv-input-text>
      </div>
    </div>
    <!--3rd box SCHEDULE-->
    <div layout="row" layout-wrap layout-padding
         class="box">
      <div flex="100">
        <h5>{{ 'commons.schedule' | translate }}</h5>
      </div>
      <div flex>
        <nv-input-date
          label="commons.model.delivery-date"
          model="ctrl.view.schedule.date"
          required="true"
          form="modelForm">
        </nv-input-date>
        <nv-input-select
          label="commons.timeslot"
          model="ctrl.view.schedule.timeslot"
          model-options="{}"
          options="ctrl.view.timeSlotOptions"
          form="modelForm">
        </nv-input-select>
      </div>
    </div>
    <!--4th box CURRENT ADDRESS-->
    <div class="box"
         layout="column" layout-wrap layout-padding
         ng-if="ctrl.view.currentAddress.isAbleToEdit">
      <div flex>
        <h5>{{ 'container.order.edit.current-address' | translate }}</h5>
      </div>
      <div flex>
        <div class="data-blocks">
          <div class="data-block">
            <label>{{ 'commons.country' | translate }}</label>
            <p>{{ ctrl.view.currentAddress.country || '-' }}</p>
          </div>
          <div class="data-block">
            <label>{{ 'commons.city' | translate }}</label>
            <p>{{ ctrl.view.currentAddress.city || '-' }}</p>
          </div>
        </div>

        <div class="data-blocks">
          <div class="data-block">
            <label>{{ 'commons.address1' | translate }}</label>
            <p>{{ ctrl.view.currentAddress.address1 || '-' }}</p>
          </div>
          <div class="data-block">
            <label>{{ 'commons.address2' | translate }}</label>
            <p>{{ ctrl.view.currentAddress.address2 || '-' }}</p>
          </div>
        </div>

        <div class="data-blocks">
          <div class="data-block">
            <label>{{ 'commons.postcode' | translate }}</label>
            <p>{{ ctrl.view.currentAddress.postcode || '-' }}</p>
          </div>
        </div>
      </div>
    </div>
    <!--address edit save button-->
    <div layout="column"
         class="change-address-btn-holder"
         ng-if="ctrl.state.addressMode === ctrl.ADDRESS_EDIT_MODE.READONLY && ctrl.view.currentAddress.isAbleToEdit">
      <nv-icon-text-button
        class="ghost fill-width"
        name="container.order.edit.change-address"
        on-click="ctrl.func.setAddressMode(ctrl.ADDRESS_EDIT_MODE.EDIT)">
      </nv-icon-text-button>
    </div>
    <!--5th box CHANGE NEW ADDRESS-->
    <div layout="column" layout-padding
         class="box change-new-address-holder"
         ng-if="ctrl.state.addressMode === ctrl.ADDRESS_EDIT_MODE.EDIT && ctrl.view.currentAddress.isAbleToEdit">
      <div flex>
        <div layout="row" layout-sm="column" layout-xs="column">
          <h5>{{ 'container.order.edit.new-address' | translate }}</h5>
          <span flex></span>
          <nv-icon-text-button
            class="ghost dense"
            name="container.order.edit.cancel-address-change"
            on-click="ctrl.func.setAddressMode(ctrl.ADDRESS_EDIT_MODE.READONLY)">
          </nv-icon-text-button>
          <nv-icon-text-button
            class="ghost dense"
            name="commons.address-finder"
            icon="search"
            on-click="ctrl.func.setAddressMode(ctrl.ADDRESS_EDIT_MODE.FINDER)">
          </nv-icon-text-button>
        </div>
      </div>
      <div flex>
        <nv-input-text
          label="commons.country"
          model="ctrl.view.newAddress.country"
          form="modelForm">
        </nv-input-text>
        <nv-input-text
          label="commons.city"
          model="ctrl.view.newAddress.city"
          form="modelForm">
        </nv-input-text>
      </div>
      <div flex>
        <div layout="row" layout-sm="column" layout-xs="column">
          <div flex>
            <nv-input-text
              class="md-block"
              label="commons.address1"
              model="ctrl.view.newAddress.address1"
              form="modelForm"
              required="true">
            </nv-input-text>
          </div>
          <div flex>
            <nv-input-text
              class="md-block"
              label="commons.address2"
              model="ctrl.view.newAddress.address2"
              form="modelForm">
            </nv-input-text>
          </div>
        </div>
      </div>
      <div flex>
        <nv-input-text
          label="commons.postcode"
          model="ctrl.view.newAddress.postcode"
          form="modelForm"
          required="true">
        </nv-input-text>
      </div>
    </div>
    <!--address finder -->
    <div class="box"
         layout="column" layout-wrap layout-padding
         ng-if="ctrl.state.addressMode === ctrl.ADDRESS_EDIT_MODE.FINDER && ctrl.view.currentAddress.isAbleToEdit">
      <nv-address-finder
        callback="ctrl.func.onAddressFinderCallback(address)">
      </nv-address-finder>
    </div>
  </md-dialog-content>
  <md-dialog-content ng-if="ctrl.settings.isMultiSelect"
                     class="md-dialog-content multiselect">
    <!-- multiselect version -->
    <h2 class="md-title">{{ 'container.order.edit.set-selected-to-rts' | translate }}</h2>
    <div>{{ 'container.order.edit.set-selected-to-rts-confirmation-text' | translate }}</div>

    <div class="table-holder">
      <table class="table table-condensed">
        <thead>
        <tr>
          <th>{{ 'commons.tracking-id' | translate }}</th>
          <th>{{ 'commons.status' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="order in ctrl.orders">
          <td>{{ order.trackingId }}</td>
          <td>{{ order._granularStatus }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div layout="column">
      <div flex>
        <p>{{ 'container.order.edit.select-settings-description' | translate }}</p>
      </div>
    </div>

    <div layout="column">
      <div flex>
        <nv-input-select
          class="md-block"
          label="commons.reason"
          model="ctrl.view.reason.value"
          model-options="{}"
          options="ctrl.view.reasonOptions"
          form="modelForm">
        </nv-input-select>
      </div>
    </div>
    <div layout="column">
      <div flex>
        <nv-input-date
          label="commons.model.delivery-date"
          model="ctrl.view.schedule.date"
          required="true"
          form="modelForm">
        </nv-input-date>
        <nv-input-select
          label="commons.timeslot"
          model="ctrl.view.schedule.timeslot"
          model-options="{}"
          options="ctrl.view.timeSlotOptions"
          form="modelForm">
        </nv-input-select>
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <nv-icon-text-button
      ng-if="ctrl.settings.isMultiSelect"
      class="flat"
      name="commons.go-back"
      on-click="ctrl.func.onCancel()">
    </nv-icon-text-button>

    <nv-api-text-button
      ng-if="ctrl.settings.isMultiSelect"
      name="{{ctrl.view.submitButtonName}}"
      class="flat"
      state="ctrl.state.saveButtonState"
      disabled="!ctrl.func.isAbleToSubmit()"
      on-click="ctrl.func.onSave($event)">
    </nv-api-text-button>

    <nv-api-text-button
      ng-if="!ctrl.settings.isMultiSelect"
      md-theme="nvGreen"
      name="commons.save-changes"
      icon="check"
      class="raised"
      state="ctrl.state.saveButtonState"
      disabled="!ctrl.func.isAbleToSubmit()"
      on-click="ctrl.func.onSave()">
    </nv-api-text-button>
  </md-dialog-actions>
</form>