@import "../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../views/container/order/order.mixins";
@import "../../../styles/variables";

.nv-container-batch-order {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .header {
    margin-top: $nv-baseline-grid;

    md-input-container {
      display: block;

      .md-errors-spacer {
        display: none;
      }
    }
  }

  .data-statistic {
    margin-left: $nv-baseline-grid*2;
    margin-right: $nv-baseline-grid*2;

    @include data-blocks;

    h4 {
      padding-top: $nv-baseline-grid*2;
      padding-bottom: $nv-baseline-grid;
      color: $nv-text-black-2;
      font-weight: normal;
    }

    .data-blocks {
      margin-top: $nv-baseline-grid;
    }
  }

  .table-container-header {
    margin-top: $nv-baseline-grid*2;
    background-color: map-get(map-get($themeColor, 'default'), 'dark');

    h5 {
      color: $nv-light0;
    }

    nv-icon-text-button {
      display: inline-block;
    }
  }

  .table-container {
    position: relative;
    flex: 1;

    nv-table {
      // column width
      @include nv-table-column-width(tracking_id, 18rem);
      @include nv-table-column-width(type, 10rem);
      @include nv-table-column-width(c_from, 24rem);
      @include nv-table-column-width(c_to, 24rem);
      @include nv-table-column-width(status, 18rem);
      @include nv-table-column-width(c_created-at, 100%);

      th, td {
        &.c_from, &.c_to {
          .name {
            @include nv-font-weight(medium);
          }

          .address {
            margin-top: $nv-baseline-grid * 2;
            margin-bottom: $nv-baseline-grid;
          }
        }

        &.status {
          .granular-status {
            margin-top: $nv-baseline-grid * 2;
            margin-bottom: $nv-baseline-grid;
          }
        }

        &.c_created-at {
          min-width: 18rem;
        }
      }

      tr.last-row td.end-of-result {
        .end-of-table {
          height: 5rem !important;

          p {
            display: none;
          }
        }
      }
    }
  }
}