<md-content class="nv-container-batch-order">
  <div layout="row" layout-padding
       class="header">
    <div flex="50" flex-sm="100" flex-xs="100">
      <form name="searchForm" ng-submit="ctrl.onSearch()">
        <div layout="row">
          <div flex>
            <nv-input-number
              nv-focus-first-input
              name="input-number-batch-id"
              label="container.batch-order.please-enter-batch-id"
              model="ctrl.formBatchId"
              required="true"
              form="searchForm">
            </nv-input-number>
          </div>
          <nv-api-text-button
            button-id="button-batch-id-search"
            name="commons.search"
            class="raised"
            icon="search"
            state="ctrl.searchState"
            form="searchForm"
            on-click="ctrl.onSearch()">
          </nv-api-text-button>
        </div>
      </form>
    </div>
  </div>

  <md-divider ng-if="ctrl.isAbleToShowResult()"></md-divider>

  <div class="data-statistic"
       ng-if="ctrl.isAbleToShowResult()">
    <div>
      <h4>{{ 'commons.summary' | translate }}</h4>
    </div>

    <div layout="row" layout-sm="column" layout-xs="column">
      <div class="data-blocks"
           flex>
        <div class="data-block">
          <label>{{'commons.batch-id' | translate}}</label>
          <p>{{ ctrl.currentBatchId }}</p>
        </div>

        <div class="data-block">
          <label>{{'commons.total-orders' | translate}}</label>
          <p>{{ ctrl.tableParam.getUnfilteredLength() }}</p>
        </div>
      </div>
    </div>
  </div>

  <div layout="row" layout-sm="column" layout-xs="column"
       layout-padding
       layout-align="start center"
       class="table-container-header"
       ng-if="ctrl.isAbleToShowResult()">
    <div flex>
      <h5>{{ 'commons.orders' | translate }}</h5>
    </div>
    <div class="nv-text-center">
      <nv-icon-text-button
        md-theme="nvRed"
        class="ghost dark dense"
        name="commons.rollback"
        icon="settings_backup_restore"
        on-click="ctrl.rollback($event)">
      </nv-icon-text-button>

      <nv-icon-text-button
        md-theme="nvBlue"
        class="ghost dark dense"
        name="container.batch-order.print-labels"
        icon="print"
        on-click="ctrl.print($event)">
      </nv-icon-text-button>
    </div>
  </div>
  <div class="table-container"
       ng-if="ctrl.isAbleToShowResult()">
    <nv-table
      param="ctrl.tableParam"
      controller-as="ctrl">
      <nv-table-row use="order">
        <nv-index></nv-index>
        <nv-td column="tracking_id">
          <a target="_blank"
             ui-sref="container.order.edit({orderId: order.id})">
            {{ order.tracking_id }}
          </a>
        </nv-td>
        <nv-td column="type">
          {{ order.type }}
        </nv-td>
        <nv-td column="c_from">
          <div class="name">{{ order.from_name }}</div>
          <div class="address">{{ order.c_fromAddress }}</div>
        </nv-td>
        <nv-td column="c_to">
          <div class="name">{{ order.to_name }}</div>
          <div class="address">{{ order.c_toAddress }}</div>
        </nv-td>
        <nv-td column="status">
          <div>{{ order.status }}</div>
          <div class="granular-status">{{ order.granular_status }}</div>
        </nv-td>
        <nv-td column="c_createdAt">
          {{ order.c_createdAt }}
        </nv-td>
      </nv-table-row>
    </nv-table>
  </div>
</md-content>