<md-input-container flex class="nv-p nv-input-emails" ng-class="{'confirmed': confirm(), 'disabled': disabled }">

    <label for="{{id}}" class="nv-small">{{label|translate}}</label>

    <i class="material-icons input-invalid" ng-if="form[id].$invalid && !disabled">error_outline</i>
    <i class="material-icons input-confirmed" ng-if="confirm() && !disabled">check_circle</i>

    <md-chips
      ng-model="model"
      md-separator-keys="keys"
      md-transform-chip="checkIsEmail($chip)"
      readonly="disabled">
    </md-chips>

    <div ng-if="!!form" ng-messages="form[id].$error" role="alert">
        <div ng-message="required">This field is required.</div>
        <div ng-message="pattern">That doesn't look like an email.</div>
        <div ng-message="minlength">Your email is too short.</div>
        <div ng-message="maxlength">Your email is too long.</div>
    </div>

    <div class="help-text" ng-if="helpText">{{helpText|translate}}</div>

    <div ng-if="!form[id].$invalid && confirm()" class="confirmation-text" role="alert">
        <div>{{::confirmText|translate}}</div>
    </div>

</md-input-container>
