nv-type-ahead {
    
    .no-margin {
        margin: 0;
    }

    .md-errors-spacer {
        display: none;
    }

    .active {
        background-color: #477ced;
        color: #f2f2f2;
    }

    .items-container{
        height : auto;
        max-height: 150px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.26);
        z-index: 2;
        overflow-y: scroll;
        position: absolute;
        background-color: white;
    }

    .item {
        padding-left: 2rem;
        padding-top: 1rem;
        padding-bottom : 1rem;
        padding-right : 2rem;
        min-width: 240px;
    }

}
