<md-input-container class = "no-margin md-block" md-no-float md-theme="nvBlue" flex = "100">
    <md-icon>
        <i class="material-icons">search</i>
    </md-icon>

    <input
        class="nv-p" 
        type="text" 
        ng-model="model[title]" 
        ng-keydown="selected=false"
        aria-label="{{placeholder}}"
        placeholder="{{placeholder}}">
    
</md-input-container>

<div class = "items-container" flex = "80"
    ng-if="model[title].length && !selected" 
    layout = "row" layout-wrap>
    <div
        flex = "100" 
        class="nv-p item" 
        ng-repeat="item in items | filter:model[title] track by $index" 
        ng-click="handleSelection(item)" 
        ng-class="{active:isCurrent($index)}" 
        ng-mouseenter="setCurrent($index)">
        {{item[title]}}
    </div>
</div>