@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../lib/ninja-commons/styles/mixins/typography.mixins";

.nv-payment-processing-container {
    height: 100%;
    width: 100%;

  .filter-page{

      padding: 1rem;
    @include nv-media-query-md-min {
      padding: 2rem;
    }

    @include nv-media-query-lg-min {
      padding: 3rem;
    }

    @include nv-media-query-xl-min {
      padding: 4rem;
    }
    md-input-container.query-box{
      margin-top: 2.5rem;
    }

    .filter-header {
      padding-left: 1.4rem;
      padding-right: 1.4rem;
      margin-bottom: 1.4rem;
    }

    h4.filter-title {
      vertical-align: middle;
      color: $nv-text-black-2;
    }

    .filter-box-container.fixed {
      md-content {
        border: 0.1rem $nv-light4 solid;
        margin-bottom: 1.4rem;
        padding-left: 1.4rem;
        padding-right: 1.4rem;
        padding-top: 2.8rem;
      }
    }
  }  
  .result-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .filter-info-container {
      background: #EAEFF2;

      .filter-info-wrap {
        margin-bottom: 0px;
        height: 6rem;
        max-height: 6rem;
        .filter-info {
          h6 {
            font-weight: normal;
            margin: 0;
          }
          p {
            margin: 0;
            font-size: 0.9rem;
          }
        }
      }
    }

    .filter-table {
      background: #fff;
      md-icon i.material-icons:after {
        content: 'filter_list';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: white;
      }

    }

    div.table-container {
      position: relative;
      flex: 1;
      nv-table {
        // column width
        @include nv-table-column-width(created_at, 15rem);
        @include nv-table-column-width(formatted-status, 22rem);
        @include nv-table-column-width(id, 15rem);
        @include nv-table-column-width(ref, 15rem);
        @include nv-table-column-width(contact_no, 15rem);
        @include nv-table-column-width(seller_user_id, 12rem);
        @include nv-table-column-width(account_holder_name, 20rem);
        @include nv-table-column-width(bank_account_no, 20rem);
        @include nv-table-column-width(bank_name, 15rem);
        @include nv-table-column-width(amount, 15rem);
        @include nv-table-column-width(currency, 10rem);
        @include nv-table-column-width(comments, 15rem);

        // action columns
        @include nv-table-action-columns(10rem);
      }

    }

  }
}