<md-content class="nv-payment-processing-container ">
    <div class="filter-page" ng-if="ctrl.showPage =='filter'">
        <div layout="row" class="filter-header" layout-start="start center">
            <h4 class="filter-title">{{'commons.select-filter' | translate}}</h4>
            <!--<nv-filter-preset
                    layout-align="end"
                    filter-presets="ctrl.filterPresets"
                    selected-preset="ctrl.selectedPreset"
                    possible-filters="ctrl.possibleFilters"
                    selected-filters="ctrl.selectedFilters"
                    on-save="ctrl.savePreset(body)"
                    on-delete="ctrl.deletePreset(id)"
                    on-update="ctrl.updatePreset(id,body)"
                    filter-path="payload">
            </nv-filter-preset>-->
        </div>
        <nv-filter-box-container
                possible-filters="ctrl.possibleFilters"
                selected-filters="ctrl.selectedFilters"
                on-change="ctrl.onChangeFilter()"
                search-by="mainTitle">
        </nv-filter-box-container>
        <div layout="row" layout-align="center">
            <nv-api-text-button class="raised" state="ctrl.state" name="commons.load-selection"
                                on-click="ctrl.loadEntries()"></nv-api-text-button>
        </div>

    </div>

    <div class="result-page" ng-if="ctrl.showPage=='result'">
        <div class="action-toolbar">
            <div flex="100" layout="row" layout-padding layout-align="space-between center">
                <nv-icon-text-button
                        icon="filter_list"
                        class="raised"
                        on-click="ctrl.openFilterPage()"
                        name="{{'commons.edit-fiters' | translate }}">
                </nv-icon-text-button>
                <div flex></div>
                <nv-icon-text-button
                        icon="edit"
                        class="raised"
                        on-click="ctrl.openBulkAction()"
                        disabled="!ctrl.isBulkEnable()"
                        name="{{'container.payment-processing.bulk-actions' | translate }}">
                </nv-icon-text-button>

                <nv-icon-text-button
                    icon="file_download"
                    class="raised"
                    on-click="ctrl.downloadXlsx()"
                    name="{{'commons.excel-download' | translate }}">
                </nv-icon-text-button>
            </div>
        </div>

        <nv-table-description
                table-param="ctrl.tableParam"
                filters="ctrl.selectedFilters"
                title-display="mainTitle">
        </nv-table-description>

        <div class="table-container">
            <nv-table
                    param="ctrl.tableParam"
                    selectable="true"
                    controller-as="ctrl"
                    on-infinite-scroll="ctrl.loadMore()"
            >
                <nv-table-row use="p">
                    <nv-index></nv-index>
                    <nv-td column="created_at">
                        {{p.created_at | nvTime:'operator':'datetime'}}
                    </nv-td>
                    <nv-td column="formattedStatus">
                        {{p.formattedStatus}}
                    </nv-td>
                    <nv-td column="id">
                        {{p.id}}
                    </nv-td>
                    <nv-td column="ref">
                        {{p.ref}}
                    </nv-td>
                    <nv-td column="contact_no">
                        {{p.contact_no}}
                    </nv-td>
                    <nv-td column="seller_user_id">
                        {{p.seller_user_id}}
                    </nv-td>
                    <nv-td column="account_holder_name">
                        {{p.account_holder_name}}
                    </nv-td>
                    <nv-td column="bank_account_no">
                        {{p.bank_account_no}}
                    </nv-td>
                    <nv-td column="bank_name">
                        {{p.bank_name}}
                    </nv-td>
                    <nv-td column="amount">
                        {{p.amount}}
                    </nv-td>
                    <nv-td column="currency">
                        {{p.currency}}
                    </nv-td>
                    <nv-td column="comments">
                        {{p.comments}}
                    </nv-td>
                    <nv-action column="actions">
                        <nv-icon-button
                                md-theme="nvBlue"
                                class="ghost nv-margin-auto"
                                name="Edit"
                                icon="edit"
                                disabled="table.isSelected(p)"
                                on-click="ctrl.openEditDialog($event, p)">
                        </nv-icon-button>
                    </nv-action>
                </nv-table-row>
            </nv-table>
        </div>

    </div>

</md-content>
