.user-add,
.user-edit {
  width: 60rem;

  .cancel-button{
    text-transform: none;
  }

  .table th, .table td {
    border-top: none;
  }

  .select-country {
    min-width: 120px;
    min-height: 50px;
  }
}