@import "../../../../../lib/ninja-commons/styles/variables";
@import "../../../../../styles/variables";

md-dialog.waypoint-edit {
  $defaultWidth: 60rem !important;

  width: $defaultWidth;

  md-dialog {
    max-width: $defaultWidth;

    md-dialog-content {
      padding: $nv-baseline-grid*2;

      .search-waypoint-holder {
        margin-top: $nv-baseline-grid*2 !important;

        md-input-container {
          margin-top: 0;

          .md-errors-spacer {
            display: none;
          }
        }
      }

      md-card {
        margin: $nv-baseline-grid 0 0;

        md-input-container {
          .md-errors-spacer {
            display: none;
          }
        }

        .search-waypoint-hint-holder {
          $spacingValue: 42px;

          text-align: center;

          > h5 {
            font-weight: normal;
            color: $nv-text-black-2;
            margin-top: $spacingValue;
            margin-bottom: $spacingValue;
          }
        }
      }
    }
  }
}