<nv-dialog-header
  title="{{'container.lat-lng-cleanup.edit-waypoint-details' | translate}}"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<md-dialog>
  <md-dialog-content>
    <div layout="row"
         class="search-waypoint-holder">
      <div flex>
        <form name="ctrl.searchWaypoint.form">
          <nv-input-number
            class="md-block"
            name="searchWaypointId"
            label="container.lat-lng-cleanup.enter-waypoint-id"
            model="ctrl.searchWaypoint.value"
            error-msgs="ctrl.searchWaypoint.errors"
            form="ctrl.searchWaypoint.form">
          </nv-input-number>
        </form>
      </div>
      <div>
        <nv-api-text-button
          class="raised dense"
          state="ctrl.searchWaypoint.state"
          name="commons.search"
          disabled="!ctrl.searchWaypoint.isAbleToSearchWaypoint()"
          on-click="ctrl.searchWaypoint.onSearch()">
        </nv-api-text-button>
      </div>
    </div>

    <md-card>
      <form name="ctrl.editWaypoint.form">
        <div layout="row" layout-xs="column" layout-wrap layout-padding>
          <h5 flex="100">
            {{ 'container.lat-lng-cleanup.waypoint-details' | translate }}
          </h5>
        </div>
        <div layout="row" layout-xs="column" layout-wrap layout-padding
             ng-if="ctrl.editWaypoint.data">
          <div flex="100">
            <nv-input-text
              class="md-block"
              label="commons.waypoint-id"
              model="ctrl.editWaypoint.data.id"
              readonly="true"
              form="ctrl.editWaypoint.form">
            </nv-input-text>
          </div>
          <div flex="100">
            <nv-input-text
              class="md-block"
              label="commons.address1"
              model="ctrl.editWaypoint.data.address1"
              readonly="ctrl.editWaypoint.isUpdated"
              form="ctrl.editWaypoint.form"
              required="true">
            </nv-input-text>
          </div>
          <div flex="100">
            <nv-input-text
              class="md-block"
              label="commons.address2"
              model="ctrl.editWaypoint.data.address2"
              readonly="ctrl.editWaypoint.isUpdated"
              form="ctrl.editWaypoint.form">
            </nv-input-text>
          </div>
          <div flex="33" flex-xs="100">
            <nv-input-text
              class="md-block"
              label="commons.city"
              model="ctrl.editWaypoint.data.city"
              readonly="ctrl.editWaypoint.isUpdated"
              form="ctrl.editWaypoint.form">
            </nv-input-text>
          </div>
          <div flex="33" flex-xs="100">
            <nv-input-text
              class="md-block"
              label="commons.country"
              model="ctrl.editWaypoint.data.country"
              readonly="ctrl.editWaypoint.isUpdated"
              form="ctrl.editWaypoint.form">
            </nv-input-text>
          </div>
          <div flex="33" flex-xs="100">
            <nv-input-text
              class="md-block"
              label="commons.postcode"
              model="ctrl.editWaypoint.data.postcode"
              readonly="ctrl.editWaypoint.isUpdated"
              form="ctrl.editWaypoint.form">
            </nv-input-text>
          </div>
          <div flex="50" flex-xs="100">
            <nv-input-number
              class="md-block"
              label="commons.latitude"
              model="ctrl.editWaypoint.data.latitude"
              readonly="ctrl.editWaypoint.isUpdated"
              form="ctrl.editWaypoint.form"
              step="0.001"
              min="-90"
              max="90"
              required="true">
            </nv-input-number>
          </div>
          <div flex="50" flex-xs="100">
            <nv-input-number
              class="md-block"
              label="commons.longitude"
              model="ctrl.editWaypoint.data.longitude"
              readonly="ctrl.editWaypoint.isUpdated"
              form="ctrl.editWaypoint.form"
              step="0.001"
              min="-180"
              max="180"
              required="true">
            </nv-input-number>
          </div>
        </div>
        <div layout="row" layout-xs="column" layout-wrap layout-padding
             class="search-waypoint-hint-holder"
             ng-if="!ctrl.editWaypoint.data">
          <h5 flex="100">
            {{ 'container.lat-lng-cleanup.search-to-view-desired-waypoint' | translate }}
          </h5>
        </div>
      </form>
    </md-card>

  </md-dialog-content>
  <md-dialog-actions ng-if="!ctrl.editWaypoint.isUpdated && ctrl.editWaypoint.data !== null">
    <nv-api-text-button
      md-theme="nvGreen"
      name="commons.save-changes"
      icon="check"
      class="raised"
      state="ctrl.editWaypoint.state"
      disabled="!ctrl.editWaypoint.isAbleToEditWaypoint()"
      on-click="ctrl.editWaypoint.onUpdate()">
    </nv-api-text-button>
  </md-dialog-actions>
</md-dialog>
