.nv-container-order-weight-update {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .content-not-empty {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      div.table-container {
        position: relative;
        flex: 1;
  
        nv-table {
          // column width
          @include nv-table-column-width(order-id, 14rem);
          @include nv-table-column-width(tracking-id, 24rem);
          @include nv-table-column-width(stamp-id, 20rem);
          @include nv-table-column-width(new-weight, 14rem);
          @include nv-table-column-width(status, 14rem);
          @include nv-table-column-width(_is-valid-text, 100%);

          ._is-valid-text { min-width: 16rem !important; }
          .red { color: red; }
  
          // row height
          @include nv-table-row-height(8rem);
        }
      }
    }
  }
}