<md-content
  class="nv-container-order-weight-update">

  <div class="header-container" layout layout-align="end">
    <div layout layout-padding>
      <nv-icon-text-button ng-if="ctrl.getOrderDatasLength() === 0"
        md-theme="nvYellow"
        class="raised"
        icon="file_upload"
        name="container.order-weight-update.find-orders-with-csv"
        on-click="ctrl.openUploadCsvDialog($event)">
      </nv-icon-text-button>
      <nv-icon-text-button ng-if="ctrl.getOrderDatasLength() > 0"
        md-theme="nvRed"
        class="raised"
        icon="cancel"
        name="container.order-weight-update.cancel"
        on-click="ctrl.cancel($event)">
      </nv-icon-text-button>
      <nv-icon-text-button ng-if="ctrl.getOrderDatasLength() > 0"
        md-theme="nvGreen"
        class="raised"
        icon="file_upload"
        name="container.order-weight-update.upload-selected"
        on-click="ctrl.execute($event)">
      </nv-icon-text-button>
    </div>
  </div>
  <div class="content-container">
    <div ng-if="ctrl.getOrderDatasLength() === 0" layout layout-align="center">
      <h3>{{ 'container.order-weight-update.please-upload-the-csv' | translate }}</h3>
    </div>
    <div class="content-not-empty" ng-if="ctrl.getOrderDatasLength() > 0">
      <nv-table-description
        table-param="ctrl.ordersTableParam"
        filters="ctrl.selectedFilters"
        title-display="mainTitle">
      </nv-table-description>
      <div class="table-container">
        <nv-table
          param="ctrl.ordersTableParam"
          selectable="true"
          controller-as="ctrl">
          <nv-table-row use="order">
            <nv-td column="orderId">
              {{order.orderId}}
            </nv-td>
            <nv-td column="trackingId">
              {{order.trackingId}}
            </nv-td>
            <nv-td column="stampId">
              {{order.stampId}}
            </nv-td>
            <nv-td column="status">
              {{order.status}}
            </nv-td>
            <nv-td column="newWeight">
              {{order.newWeight}}
            </nv-td>
            <nv-td column="_isValidText">
              <div ng-class="{ red: !order.isValid }">
                {{order._isValidText}}
              </div>
            </nv-td>
          </nv-table-row>
        </nv-table>
      </div>
    </div>
  </div>
</md-content>