.nv-container-dp-administration-dp-users {
  height: 100%;

  .loaded {
    height: 100%;

    .main-container {
      height: 100%;

      .table-container {
        position: relative;
        flex: 1;
        
        nv-table {
          // column width
          @include nv-table-column-width(username, 16rem);
          @include nv-table-column-width(first_name, 16rem);
          @include nv-table-column-width(last_name, 16rem);
          @include nv-table-column-width(email, 20rem);
          @include nv-table-column-width(contact_no, 100%);
  
          @include nv-table-row-height(8rem);
  
          // action columns
          @include nv-table-action-columns(nv-table-action-width("two-dense-p"));
        }
      }
    }
  }
}
