<md-content
  class="nv-container-dp-administration-dp-users"
  nv-load="ctrl.getDPUsers" loading-message="{{'container.dp-administration.dp-users.load-dp-users' | translate}}">

  <div layout="column" flex class="main-container">
    <div md-theme="nvBlue" class="filter-breadcrumbs" layout="row" layout-padding>
      <nv-filter-breadcrumb
        title="{{::ctrl.dpPartnerName}}"
        subtitle="{{'commons.partner' | translate}}"
        on-click="::ctrl.goBackToDPPartners()">
      </nv-filter-breadcrumb>
  
      <i class="material-icons">chevron_right</i>
  
      <nv-filter-breadcrumb
        title="{{::ctrl.dpName}}"
        subtitle="{{'commons.distribution-point' | translate}}"
        on-click="::ctrl.goBackToDPs()">
      </nv-filter-breadcrumb>
    </div>
    <div layout layout-align="space-between" layout-padding>
      <div>
        <h5>{{ 'container.dp-administration.dps.title' | translate }}</h5>
      </div>
      <div layout layout-padding>
        <nv-icon-text-button
          name="commons.download-csv"
          label="commons.download-csv"
          on-click="ctrl.downloadCsv()"
          class="raised"
          md-theme="nvBlue">
        </nv-icon-text-button>
        <nv-icon-text-button
          name="container.dp-administration.dp-users.add-title"
          class="raised"
          md-theme="nvGreen"
          icon="add"
          text="container.dp-administration.dp-users.add-title"
          on-click="ctrl.addDPUser()"
        ></nv-icon-text-button>
      </div>
    </div>
    <div class="table-container">
      <nv-table
        param="ctrl.tableParam"
        controller-as="ctrl">
        <nv-table-row use="data">
          <nv-td column="username">
            {{data.username || '-'}}
          </nv-td>
          <nv-td column="first_name">
            {{data.first_name || '-'}}
          </nv-td>
          <nv-td column="last_name">
            {{data.last_name || '-'}}
          </nv-td>
          <nv-td column="email">
            {{data.email || '-'}}
          </nv-td>
          <nv-td column="contact_no">
            {{data.contact_no || '-'}}
          </nv-td>
          <nv-action column="actions">
            <nv-icon-button
              md-theme="nvBlue"
              class="ghost dense"
              name="Edit"
              icon="edit"
              on-click="ctrl.editDPUser($event, data)">
            </nv-icon-button>
          </nv-action>
        </nv-table-row>
      </nv-table>
    </div>
  </div>
</md-content>
