@import "../../../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../../../styles/variables";

md-dialog.reservation-rejection-verify-pickup-address {
  $defaultWidth: 800px;

  width: $defaultWidth !important;

  md-dialog {
    max-width: $defaultWidth !important;

    .md-dialog-content {
      padding: 1rem 1rem 0;

      .md-errors-spacer {
        display: none;
      }

      .lat-lng-result-indication {
        @include nv-font-color(black, 2);
        margin-bottom: $nv-baseline-grid / 2;
      }
    }
  }
}