<nv-dialog-header title="{{ 'container.reservation-rejection.verify-address' | translate }}" on-cancel="ctrl.onCancel($event)"></nv-dialog-header>

<form name="modelForm" md-theme="nvBlue">
  <md-dialog nv-load="ctrl.getAll"
             loading-message="{{'commons.load-data' | translate}}">
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="column" layout-padding>
          <div flex>
            <nv-input-text
              class="md-block"
              label="{{ ::'commons.shipper' | translate }}"
              model="ctrl.rejectedReservation.c_pickup.name"
              readonly="true"
              form="modelForm">
            </nv-input-text>
          </div>

          <div flex>
            <nv-input-textarea
              class="md-block"
              label="{{ ::'container.reservation-rejection.current-address' | translate }}"
              model="ctrl.currentAddress"
              read-only="true"
              form="modelForm">
            </nv-input-textarea>
          </div>

          <div flex>
            <md-divider></md-divider>
          </div>

          <div flex>
            <div layout="row"
                 layout-align="start center">
              <div flex="33" flex-sm="100" flex-xs="100">
                <nv-input-text
                  class="md-block"
                  label="{{ ::'container.reservation-rejection.latitude-longitude' | translate }}"
                  model="ctrl.formData.inputLatLng"
                  form="modelForm">
                </nv-input-text>
              </div>
              <div>
                <nv-icon-text-button
                  name="container.reservation-rejection.update-coordinates"
                  class="ghost dense"
                  disabled="!ctrl.isValidCoordinates()"
                  on-click="ctrl.updateCoordinates()">
                </nv-icon-text-button>
              </div>
            </div>
          </div>

          <div flex>
            <div class="lat-lng-result-indication">
              {{ 'container.reservation-rejection.latitude-valid-longitude-value' | translate: {
                latitude: ctrl.formData.latitude !== null ? ctrl.formData.latitude : ctrl.rejectedReservation.from_latitude,
                longitude: ctrl.formData.longitude !== null ? ctrl.formData.longitude : ctrl.rejectedReservation.from_longitude
              } }}
            </div>
            <div id="verify-address-map" class="nv-map"></div>
          </div>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <span></span>
      <nv-api-text-button
        name="commons.save-changes"
        class="raised"
        state="ctrl.formSubmitState"
        disabled="!ctrl.isAbleToSubmit()"
        on-click="ctrl.onSave()">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>