@import "../../../lib/ninja-commons/styles/variables";
@import "../../../lib/ninja-commons/styles/mixins/media-query.mixins";
@import "../../../lib/ninja-commons/styles/keyframes/pulse-wave.keyframes";

.nv-container-route-map {

  height: 100%;
  padding: 1rem;

  @include nv-media-query-md-min {
    padding: 2rem;
  }

  @include nv-media-query-lg-min {
    padding: 3rem;
  }

  @include nv-media-query-xl-min {
    padding: 4rem;
  }

  .google-map {
    height: 100%;
  }

  .google-map-legend,
  .google-map-drivers {
    margin: 1rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0.1rem 0.4rem -0.1rem;
    border-radius: 0.2rem;
  }

  .google-map-legend {
    padding: 1rem;

    .legend-item {
      position: relative;
      line-height: 2.5rem;

      i.fa {
        position: absolute;
        width: 1.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        text-align: center;
        font-size: 0.7rem;
      }

      .text {
        padding: 0 0.5rem 0 2rem;
      }

      .pulse {
        animation: pulse-wave 3s ease infinite;
      }

      .pulse-red {
        color: $nv-normal-red;
        animation-delay: 1s;
      }

      .pulse-green {
        color: $nv-normal-green;
        animation-delay: 1.5s;
      }

      .pulse-blue {
        color: $nv-normal-blue;
        animation-delay: 0.5s;
      }

      .pulse-orange {
        color: $nv-normal-orange;
        animation-delay: 0s;
      }
    }
  }

  .google-map-drivers {
    width: 27rem;
    height: 20rem;

    [nv-load],
    [nv-load] .loaded {
      width: 100%;
      height: 100%;
    }

    [nv-load] .loading,
    [nv-load] .error {
      height: 100%;
      padding-bottom: 2rem;
    }

    md-virtual-repeat-container {
      width: 100%;
      height: 100%;
    }

    md-list-item {
      border-bottom: 1px solid #ddd;
      height: 4rem;
      min-height: 4rem;
      line-height: 4rem;

      .md-list-item-inner {
        height: 4rem;
        min-height: 4rem;
        line-height: 4rem;
      }

      .driver-id {
        text-align: right;
      }
    }
  }

  .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: opacity 200ms ease;

    opacity: 0;
    pointer-events: none;

    &.is-loading {
      opacity: 1;
      pointer-events: auto;
    }
  }

}
