<md-content class="nv-container-route-map">

  <div class="google-map" id="google-map"></div>

  <div class="google-map-legend" id="google-map-legend">
    <div class="legend-item">
      <i class="fa fa-circle pulse pulse-orange"></i>
      <i class="fa fa-circle pulse-orange"></i>
      <div class="text">PENDING</div>
    </div>
    <div class="legend-item">
      <i class="fa fa-circle pulse pulse-blue"></i>
      <i class="fa fa-circle pulse-blue"></i>
      <div class="text">ROUTED</div>
    </div>
    <div class="legend-item">
      <i class="fa fa-circle pulse pulse-red"></i>
      <i class="fa fa-circle pulse-red"></i>
      <div class="text">FAIL</div>
    </div>
    <div class="legend-item">
      <i class="fa fa-circle pulse pulse-green"></i>
      <i class="fa fa-circle pulse-green"></i>
      <div class="text">SUCCESS</div>
    </div>
  </div>

  <div class="google-map-drivers" id="google-map-drivers">
    <div nv-load="ctrl.getDrivers" loading-message="Loading drivers...">
      <md-virtual-repeat-container>
        <md-list-item md-virtual-repeat="driver in ctrl.drivers" layout="row" ng-click="ctrl.onSelectDriver(driver)">
          <div class="nv-text-ellipsis" flex>{{driver.name}}</div>
          <div class="driver-id" flex="15">{{driver.id}}</div>
        </md-list-item>
      </md-virtual-repeat-container>
    </div>
  </div>

  <div class="loading-overlay" ng-class="{'is-loading': ctrl.isLoading}" layout="row" layout-align="center center">
    <div nv-load="ctrl.loadForever" loading-message="Loading map, please wait..."></div>
  </div>

</md-content>
