@import "../../../../../lib/ninja-commons/styles/variables";

.pricing-script-check-tab {

	.title {
		color: $nv-text-black-3;
		margin: 0rem;
	}

	.section {
		border: 0.1rem solid $nv-text-black-3;
		-webkit-border-radius: 0.4rem;
		-moz-border-radius: 0.4rem;
		border-radius: 0.4rem;
		margin: 1rem;
		padding: 1rem;
	}

	.container-title {
		min-height: 2.5em;
	}

	.check-script-container {
		min-width: 55em;
	}


	.check-parameter-holder {
		.layout-row {
			.unit {
				margin-top: 0.75em;
			}
		}

		md-input-container {
			max-height: 2.5em;
			padding-right: 0.75em;
		}

		md-input-container label {
			padding-left: 0;
		}

		.adjust {
			padding-top: 0.15em;
			.label {
				padding-top: 1em;
			}
		}

		.reset-and-check {
			margin-top: 1em;

			.reset {
				margin-right: 0.75em;
			}

		}
	}

	.results {
		md-input-container {
			max-height: 4.5em;
		}
		md-input-container label {
			padding-left: 0;
		}

		.result-item {
			.readonly {
				font-size: smaller;
			}
		}
	}

	.comment-box {
		md-input-container label {
			padding-left: 0;
		}
	}
}