@import "../../../../../lib/ninja-commons/styles/variables";

.pricing-script-create-tab {

	.left {
		.title {
			span {
				font-size: small;
			}
		}
	}

	.title {
		display: block;

		label {
			display: block;
			color: $nv-text-black-3;
		}
		span {
			color: $nv-text-black-1;
			font-size: medium;
		}
		margin: 0rem;
	}

	.body-container {

		.section {
			border: 0.1rem solid $nv-text-black-3;
			-webkit-border-radius: 0.4rem;
			-moz-border-radius: 0.4rem;
			border-radius: 0.4rem;
			margin: -1rem;
			padding: 1rem;

			&.left {
				padding: 1em;
			}

			.parameters-list {
				min-height: 10em;
				padding-top: 0.5em;
				padding-bottom: 0.5em;
				display: block;

				.group-name {
					&.active {
						color: $nv-dark-green;
					}
				}

				.parameter-item {
					padding: 0.5em;
					&.even {
						background: $nv-light2;
					}

					.checkbox-container {
						&.active {
							.md-icon {
								background-color: $nv-normal-green;
							}
						}

						.md-icon {
							transform: scale(0.7);
						}

					}
				}

				.group-name {

					&.inactive {
						margin-top: 3em;
					}

					display: block;
					font-weight: bold;
					font-size: smaller;
				}

				.details {
					padding-top: 0.6em;
					overflow-x: hidden;

					&-field-name {
						font-weight: 500;
						overflow-wrap:  break-word;
					}

					&-name {
						color: $nv-text-black-2;
						margin-top: 0.2em;
						margin-bottom: 0.2em;
					}

					&-allowed-values {
						overflow-x: auto;
						.item {
							color: $nv-text-black-1;
							margin-right: 0.5em;
							font-size: smaller;
							float: left;
						}
					}
				}
			}

			&.scrollable {
				overflow-y: scroll;
			}

		}
		.script-editor-toolbar {
			padding: 0.3em;

			p {
				word-wrap: break-word;
			}
		}

		.syntax-message-box {

			background: white;

			&.syntax-pending {
				background: $nv-highlight-yellow;
				p, .material-icons {
					color: $nv-dark-yellow;
				}
			}

			&.syntax-error {
				background: $nv-highlight-red;
				p, .material-icons {
					color: $nv-dark-red;
				}
			}

			&.syntax-success {
				background: $nv-highlight-green;
				p, .material-icons {
					color: $nv-dark-green;;
				}
			}

			.hint {
				background: none;
				p {
					margin-top: 0.5em;
					margin-bottom: 0.5em;
				}
			}

			padding: 0.3em 0.3em 0.3em 0em;
			min-height: 3.8em;
		}

	}
}