<md-content class="md-padding" ng-if="ctrl.state.loading === false">
    <form name="basicForm">
        <div layout="row" class="horizontal-padding">
            <nv-input-text flex="50"
                           name="{{'commons.description' | translate}}"
                           label="{{'commons.name' | translate}}"
                           model="ctrl.data.script.name">
            </nv-input-text>
        </div>
        <div layout="row" class="horizontal-padding" ng-if="!ctrl.isTimeBoundedScript()">
            <nv-input-text flex="100"
                           name="{{'commons.description' | translate}}"
                           label="{{'commons.description-optional' | translate}}"
                           model="ctrl.data.script.description">
            </nv-input-text>
        </div>
        <div layout="column" class="horizontal-padding" ng-if="ctrl.isTimeBoundedScript()">
            <h3>{{'container.pricing-scripts.version-effective-date' | translate}}</h3>
            <div layout="row">
                <div layout="column" layout-align="start center">
                    <label class="small-label">{{'commons.model.start-date' | translate}}</label>
                    <div>
                        <md-datepicker
                                ng-model="ctrl.data.script.start_date"
                                md-placeholder="{{'container.route-group.enter-date' | translate}}">
                        </md-datepicker>
                        <span>00:00 to</span>
                    </div>
                </div>
                <div layout="column" layout-align="start center">
                    <label class="small-label">{{'commons.model.end-date' | translate}}</label>
                    <div>
                        <md-datepicker
                                ng-model="ctrl.data.script.end_date"
                                md-min-date="ctrl.data.script.start_date"
                                md-placeholder="{{'container.route-group.enter-date' | translate}}">
                        </md-datepicker>
                        <span>23:59</span>
                    </div>
                </div>
            </div>
            <div class="parent-script-details" layout="row">
                <div class="parent-script-details-item" layout="column">
                    <label class="small-label">{{'container.pricing-scripts.script-id' | translate}}</label>
                    <span>{{ctrl.data.parent_script.id}}</span>
                </div>
                <div class="parent-script-details-item" layout="column">
                    <label class="small-label">{{'container.pricing-scripts.script-name' | translate}}</label>
                    <span>{{ctrl.data.parent_script.name}}</span>
                </div>
            </div>
        </div>
    </form>
</md-content>