<md-content class="md-padding pricing-script-create-tab body-height" ng-if="ctrl.state.loading === false">
    <div class="body-container body-height" layout="row" flex="100" layout-align="space-between center">
        <!--script section-->
        <md-content class="left section body-height" flex="25" layout="column">
            <div class="scrollable" layout="column" layout-align="start stretch">
                <div class="title">
                    <label>{{'container.pricing-scripts.parameters' | translate}}</label>
                    <span>{{'container.pricing-scripts.activate-parameters-text' | translate}}</span>
                </div>
                <div class="parameters-list">
                    <span class="group-name active">{{'container.pricing-scripts.active-parameters' | translate}}</span>
                    <div class="parameter-item" ng-repeat="parameter in ctrl.getActiveParameters()" layout="row" layout-align="start stretch" ng-class-even="'even'">
                        <nv-input-checkbox class="active" flex="nogrow" model="parameter.selected" on-change="ctrl.onParameterChange()"></nv-input-checkbox>
                        <div class="details" layout="column">
                            <span class="details-field-name">{{parameter.variable_name}}</span>
                            <div class="details-allowed-values" ng-if="parameter.validation.allowed_values != null">
                                <span class="item" ng-repeat="allowedValue in parameter.validation.allowed_values">{{allowedValue}}</span>
                            </div>
                        </div>
                    </div>
                    <span class="group-name">{{'container.pricing-scripts.inactive-parameters' | translate}}</span>
                    <div class="parameter-item" ng-repeat="parameter in ctrl.getInactiveParameters()" layout="row" layout-align="start stretch" ng-class-even="'even'">
                        <nv-input-checkbox flex="nogrow" model="parameter.selected" on-change="ctrl.onParameterChange()"></nv-input-checkbox>
                        <div class="details" layout="column">
                            <span class="details-field-name">{{parameter.variable_name}}</span>
                            <div class="details-allowed-values" ng-if="parameter.validation.allowed_values != null">
                                <span class="item" ng-repeat="allowedValue in parameter.validation.allowed_values">{{allowedValue}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-content>
        <div class="section body-height" flex="75" layout="column">
            <div flex="noshrink" layout="row body-height" layout-align="space-between stretch" class="script-editor-toolbar">
                <div flex="33" layout="column" class="title">
                    <label>{{ctrl.isTimeBoundedScript() ? 'Time-bounded script' : 'Default script'}}</label>
                    <span>{{ ctrl.data.script.name }}</span>
                </div>
                <!--<p class="title" flex="50"></p>-->
                <div flex layout="row body-height" layout-align="end end">
                    <div flex class="md-block autocomplete-label horizontal-padding-4" flex="35" layout="column">
                        <label>{{ 'container.pricing-scripts.select-template' | translate }}</label>
                        <nv-autocomplete
                                search-text="ctrl.view.textTemplate"
                                delegate-handle="script-template"
                                item-types="template"
                                disabled="false"
                                selected-item="ctrl.view.template"
                                use-float-label="::true">
                        </nv-autocomplete>
                    </div>
                    <nv-api-text-button flex="nogrow"
                            md-theme="nvBlue"
                            name="commons.load"
                            class="raised"
                            state="ctrl.state.loadScriptTemplate"
                            disabled="!ctrl.canLoadScriptTemplate()"
                            on-click="ctrl.onLoadScriptTemplate()">
                    </nv-api-text-button>
                    <nv-button-file-picker flex="nogrow"
                            id="button-pick-csv"
                            class="ghost"
                            md-theme="nvBlue"
                            label="{{'container.pricing-scripts.import-csv' | translate}}"
                            accept="{{ ctrl.mediaType }}"
                            multiple="false"
                            on-file-select="::ctrl.onImport($file)"
                            on-file-reject="::ctrl.onImportCancel($file)">
                    </nv-button-file-picker>
                </div>
            </div>
            <div flex="noshrink" layout="row" layout-align="space-between center" class="nv-text-left syntax-message-box" ng-class="{'syntax-pending' : ctrl.state.syntax == 'pending', 'syntax-error' : ctrl.state.syntax == 'error', 'syntax-success' : ctrl.state.syntax == 'success'}">
                <nv-hint layout-align="center" class="hint" text="{{ctrl.state.sourceMessage}}"></nv-hint>
                <p></p>
                <nv-api-text-button
                        name="container.pricing-scripts.check-syntax"
                        class="raised"
                        state="ctrl.state.checkSyntax"
                        on-click="ctrl.onCheckSyntax()">
            </div>
            <div class="code-container body-height" layout="row">
                <div id="ace-editor" ui-ace="{ onLoad : ctrl.loadAce, onChange: ctrl.onSourceChange }" flex="100" ng-model="ctrl.data.script.source"></div>
            </div>
            <div class="plain-separator" layout="row"></div>
        </div>
    </div>
</md-content>