<md-content class="md-padding" ng-if="ctrl.state.loading === true">
    <div layout="row" layout-padding layout-align="center center">
        <md-progress-circular md-theme="nvBlue" md-mode="indeterminate" md-diameter="64px"></md-progress-circular>
    </div>
</md-content>

<md-content class="md-padding pricing-script-check-tab" ng-if="ctrl.state.loading === false">
    <form name="integrationForm">
        <div flex layout="row" class="check-script-container">
            <div class="border section body-height" flex="75" layout="column">
            <div class="container-title" layout="row" layout-align="start start">
                <h5 class="title" flex="40">{{ 'container.pricing-scripts.single-test' | translate }}</h5>
            </div>
            <div class="check-parameter-holder" layout="row" layout-wrap>
                <nv-input-select
                        flex="50"
                        label="container.pricing-scripts.description-delivery-type"
                        placeholder="container.pricing-scripts.description-delivery-type"
                        model="ctrl.view.deliveryType"
                        model-options="{}"
                        options="ctrl.view.deliveryTypeOptions">
                </nv-input-select>
                <nv-input-select
                        flex="50"
                        label="container.pricing-scripts.description-order-type"
                        placeholder="container.pricing-scripts.description-order-type"
                        model="ctrl.view.orderType"
                        model-options="{}"
                        options="ctrl.view.orderTypeOptions">
                </nv-input-select>
                <nv-input-select
                        flex="50"
                        label="container.pricing-scripts.description-time-slot-type"
                        placeholder="container.pricing-scripts.description-time-slot-type"
                        model="ctrl.view.timeslotType"
                        model-options="{}"
                        options="ctrl.view.timeslotTypeOptions">
                </nv-input-select>
                <nv-input-select
                        flex="25"
                        label="commons.size"
                        placeholder="commons.size"
                        model="ctrl.view.size"
                        model-options="{}"
                        options="ctrl.view.sizeOptions">
                </nv-input-select>
                <div layout="row" class="adjust" flex="25">
                    <nv-input-number
                            flex
                            label="commons.weight"
                            name="commons.weight"
                            min="0"
                            max="10000"
                            model="ctrl.view.weight">
                    </nv-input-number>
                    <nv-input-text
                            class="unit"
                            readonly = "::true"
                            label = ""
                            model = "ctrl.view.weightUnit"
                            required = "::false"
                            flex="nogrow">
                </div>
                <div layout="row" flex="25">
                    <nv-input-decimal
                            class="shift-label "
                            id="field-insured-value"
                            helpText="asdasda"
                            flex
                            name="container.pricing-scripts.description-insured-value"
                            label="container.pricing-scripts.description-insured-value"
                            model="ctrl.view.insuredValue"
                            extra="ctrl.view.decimal"
                            required="::false">
                    </nv-input-decimal>
                    <nv-input-text
                            class="unit"
                            id="field-insurance-currency"
                            readonly = "::true"
                            label = ""
                            model = "ctrl.view.currency"
                            required = "::false"
                            flex="nogrow">
                    </nv-input-text>
                </div>
                <div layout="row" flex="25">
                    <nv-input-decimal
                            class="shift-label"
                            id="field-cod-value"
                            flex
                            name="container.pricing-scripts.description-cod-value"
                            label="container.pricing-scripts.description-cod-value"
                            model="ctrl.view.codValue"
                            extra="ctrl.view.decimal"
                            required="::false">
                    </nv-input-decimal>
                    <nv-input-text
                            class="unit"
                            id="field-cod-currency"
                            readonly = "::true"
                            label = ""
                            model = "ctrl.view.currency"
                            required = "::false"
                            flex="nogrow">
                    </nv-input-text>
                </div>
                <div layout="row" flex="50"></div>
                <div class="md-block autocomplete-label vertical-padding-6" layout="column" flex="50">
                    <label>{{ 'container.pricing-scripts.from-zone' | translate }}</label>
                    <nv-autocomplete
                            search-text="ctrl.view.textFromZone"
                            delegate-handle="script-from-zone"
                            item-types="zone"
                            selected-item="ctrl.view.fromZone"
                            hide-search-icon="::true">
                    </nv-autocomplete>
                </div>
                <div class="md-block autocomplete-label vertical-padding-6" layout="column" flex="50">
                    <label>{{ 'container.pricing-scripts.to-zone' | translate }}</label>
                    <nv-autocomplete
                            search-text="ctrl.view.textToZone"
                            delegate-handle="script-to-zone"
                            item-types="zone"
                            selected-item="ctrl.view.toZone"
                            hide-search-icon="::true">
                    </nv-autocomplete>
                </div>
                <!--reset and run check button START-->
                <div class="reset-and-check" layout="row" layout-align="end center" flex="100">
                    <nv-icon-text-button
                            name="commons.reset"
                            class="ghost reset"
                            on-click="ctrl.onReset()">
                    </nv-icon-text-button>
                    <nv-api-text-button
                            name="container.pricing-scripts.run-check"
                            class="raised"
                            disabled="!ctrl.canRunCheck()"
                            state="ctrl.state.runCheck"
                            on-click="ctrl.onRunCheck()">
                    </nv-api-text-button>
                </div>
            </div>
        </div>
            <div class="border section body-height" flex="25" layout="column">
                <!--reset and run check button END-->
                <div class="separator" flex="100"></div>
                <div class="container-title" layout="row" layout-align="start start">
                    <h5 class="title" flex="40">{{ 'commons.result' | translate }}</h5>
                </div>
                <!--<div layout="row" flex="100" layout-align="space-between start">-->
                    <!--<h5 class="title-with-margin">{{ 'commons.result' | translate }}</h5>-->
                    <!--<h5 ng-if="ctrl.state.updated" class="updated-text">{{ 'commons.updated' | translate }}!</h5>-->
                <!--</div>-->
                <!--result field START-->
                <div class="results no-error" layout="row" flex="100">
                    <div layout="column" flex="50">
                        <nv-input-text
                                id="field-result-total"
                                label = "container.pricing-scripts.grand-total"
                                model = "ctrl.view.result.total_with_tax"
                                readonly = "::true"
                                class="result-item">
                        </nv-input-text>
                        <div class="vertical-padding-6"></div>
                        <nv-input-text
                                id="field-result-delivery-fee"
                                label = "container.pricing-scripts.delivery-fee"
                                model = "ctrl.view.result.deliveryFee"
                                readonly = "::true"
                                class="result-item">
                        </nv-input-text>
                        <div class="vertical-padding-6"></div>
                        <nv-input-text
                                id="field-result-cod-fee"
                                label = "container.pricing-scripts.cod-fee"
                                model = "ctrl.view.result.codFee"
                                readonly = "::true"
                                class="result-item">
                        </nv-input-text>
                    </div>
                    <div layout="column" flex="50">
                        <nv-input-text
                                id="field-result-gst"
                                label = "GST"
                                model = "ctrl.view.result.total_tax"
                                readonly = "::true"
                                class="result-item">
                        </nv-input-text>
                        <div class="vertical-padding-6"></div>
                        <nv-input-text
                                id="field-result-insurance-fee"
                                label = "container.pricing-scripts.insurance-fee"
                                model = "ctrl.view.result.insuranceFee"
                                readonly = "::true"
                                class="result-item">
                        </nv-input-text>
                        <div class="vertical-padding-6"></div>
                        <nv-input-text
                                id="field-result-handling-fee"
                                label = "container.pricing-scripts.handling-fee"
                                model = "ctrl.view.result.handlingFee"
                                readonly = "::true"
                                class="result-item">
                        </nv-input-text>
                    </div>
                </div>
                <!--result field END-->
                <div layout="row" flex="100" class="vertical-padding-6"></div>
                <div layout="row" flex="100" class="comment-box">
                    <nv-input-text
                            id="field-result-comments"
                            label = "commons.comments"
                            model = "ctrl.view.result.comments"
                            readonly = "::true">
                    </nv-input-text>
                </div>
            </div>
        </div>
    </form>
</md-content>