<nv-dialog-header title="{{ 'container.sidenav.shipper-support.success-billings' | translate }}" on-cancel="::onCancel($event)" cancel-text="commons.cancel"></nv-dialog-header>

<form name="modelForm" ng-submit="::onSave()" md-theme="nvBlue">

    <md-dialog-content>
        <div class="md-dialog-content">
            <nv-input-emails
                class="md-block"
                label="{{fields.email.displayName}}"
                ng-model="fields.email.value"
                form="modelForm"
                help-text="container.success-billings.email-hint"
                required="::true">
            </nv-input-emails>
        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <nv-button-save name="Submit" form="modelForm" state="saveButtonState"></nv-button-save>
    </md-dialog-actions>
</form>
