@import "../../../lib/ninja-commons/styles/variables";
@import "../../../styles/variables";
@import "../../../views/container/order/order.mixins";
.nv-container-success-billings {

  .padding-horizontal-2 {
    padding: 0rem 2rem;
  }

  .container-title {
    color: $nv-text-black-2;
    font-weight: 600;
    padding-top: 0.8rem;

    &.extra-padding {
      padding-top: 2.4rem;
    }
  }

  .container {
    padding: 0.8rem 4.8rem;

    &.date-picker-container {
      .date-picker-holder {
        margin-left: -1.2rem;
      }

      .date-picker-label {
        padding-left: 4rem;
        font-size: 1.2rem;
      }

      .md-button {
        margin: 0rem;
      }

      .md-datepicker-input-container {
        margin-left: 0rem;
        padding-bottom: 0rem;
      }
    }

    .success-billing-shipper-filter-container {
      padding-top: 2rem;
      margin-left: -2rem;
    }

    .success-billing-email-filter-container {
      margin-left: -2rem;

      .filter-box-container .filters-container .filter-container custom-filter-free-text-box {
        md-input-container .md-errors-spacer {
          min-height: 0.1rem;
          height: 0.1rem;
        }
      }

      .filter-container .button-container .nv-button{
        text-transform: none !important;
      }
    }
  }
}
