<md-content
  class="nv-container-success-billings">

  <!-- 1 st row -->
  <div layout="row" class="container">
    <div flex="25">
      <div class="container-title">{{"container.success-billings.generate-a-list-of-orders" | translate}}</div>
    </div>
    <div flex></div>
    <div flex="70">
      <nv-btn-grp
        model="ctrl.data.completed"
        label-for-model-idx-0="Completed"
        label-for-model-idx-1="Created"
        select-multiple="false" 
        select-none="false" 
        default-selection="'10'">
      </nv-btn-grp>
    </div>
  </div>

  <!-- 2nd row -->
  <div class="container date-picker-container" layout="row">
    <div flex="25">
      <div class="container-title extra-padding">{{"container.success-billings.between-dates" | translate}}</div>
    </div>
    <div flex></div>
    <div flex="70" layout="row" layout-wrap>
      <div flex="100" layout="row">
          <div class="md-block date-picker-holder" layout="column">
              <label class="date-picker-label">{{"container.success-billings.start-date" | translate}}</label>
              <md-datepicker 
                name="start-date-field"
                class="start-date-picker"
                md-max-date="ctrl.data.endDate"
                ng-model="ctrl.data.startDate"
                ng-change="ctrl.calculateDateRange()"
                md-placeholder="{{'container.route-group.enter-date' | translate}}">
              </md-datepicker>
            </div>
      
            <div class="padding-horizontal-2"><div class="container-title extra-padding">{{"container.success-billing.and" | translate}}</div></div>
      
            <div class="md-block" layout="column">
              <label class="date-picker-label">{{"container.success-billings.end-date" | translate}}</label>
              <md-datepicker 
                name="end-date-field"
                class="end-date-picker"
                md-min-date="ctrl.data.startDate"
                ng-model="ctrl.data.endDate"
                ng-change="ctrl.function.calculateDateRange()"
                md-placeholder="{{'container.route-group.enter-date' | translate}}">
              </md-datepicker>
            </div>
      </div>
      <p flex="100" ng-if="ctrl.data.isOutOfRange">
        {{"container.success-billings.maximum-range-is-60-days" | translate}}
      </p>
      
    </div>
  </div>

  <!-- 3 rd row -->
  <div layout="row" class="container">
    <div flex="25"><div class="container-title">{{"container.success-billings.for" | translate}}</div></div>
    <div flex></div>
    <div flex="70">
      <div>
        <nv-btn-grp
          model="ctrl.data.allShippers"
          label-for-model-idx-0="All Shippers"
          label-for-model-idx-1="Selected Shippers"
          select-multiple="false" 
          select-none="false" 
          default-selection="'10'">
        </nv-btn-grp>
      </div>
       <div ng-if="ctrl.data.allShippers === '01'" class="success-billing-shipper-filter-container">
         <div class="filter-box-container">
          <div class="filters-container"
              layout="row" layout-align="space-between start" layout-wrap="wrap">
            <div class="filter-container">
              <nv-filter-autocomplete
                class="filled"
                main-title="{{ctrl.data.fiters.shipperFilter.mainTitle}}"
                item-types="{{ctrl.data.fiters.shipperFilter.mainTitle}}"
                callback="ctrl.data.fiters.shipperFilter.callback"
                selected-options="ctrl.data.fiters.shipperFilter.selectedOptions">
              </nv-filter-autocomplete>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>

  <!-- new row -->

  <div layout="row" class="container">
    <div flex="25">
      <div class="container-title">{{"container.success-billings.generate-these-files" | translate}}</div>
    </div>
    <div flex></div>
    <div flex="70">
      <div class="generated-files-container">
        <nv-input-checkbox model="ctrl.view.generated[0]" on-change="ctrl.function.changeGenerateFileOption(0)" label="{{'container.success-billings.orders-consolidated-by-shipper' | translate}}"></nv-input-checkbox>
        <nv-input-checkbox model="ctrl.view.generated[1]" on-change="ctrl.function.changeGenerateFileOption(1)" label="{{'container.success-billings.orders-consolidated-by-parent-shipper' | translate}}"></nv-input-checkbox>
        <nv-input-checkbox model="ctrl.view.generated[2]" on-change="ctrl.function.changeGenerateFileOption(2)" label="{{'container.success-billings.all-orders' | translate}}"></nv-input-checkbox>
        <nv-input-checkbox model="ctrl.view.generated[3]" on-change="ctrl.function.changeGenerateFileOption(3)" label="{{'container.success-billings.all-orders-grouped-by-shipper-and-parcel-size' | translate}}"></nv-input-checkbox>
      </div>
    </div>


  </div>


  <!-- 4th row -->
  <div layout="row" class="container">
    <div flex="25"><div class="container-title">{{"container.success-billings.and-send-it-to" | translate}}</div></div>
    <div flex></div>
    <div flex="70">
      <div class="success-billing-email-filter-container">
        <div class="filter-box-container">
          <div class="filters-container"
              layout="row" layout-align="space-between start" layout-wrap="wrap">
            <div class="filter-container"> 
              <!-- custom filter start -->
              <custom-filter-free-text-box class="filled">
                <div class="header-container" layout="row" layout-align="start center">

                  <div class="main-title">
                    <p class="medium nv-text-ellipsis">{{"container.success-billings.email-address" | translate}}</p>
                  </div>

                  <div class="utility-section" layout="row" layout-align="start center">
                    <md-input-container md-no-float class="md-block">
                      <input 
                        ng-model="ctrl.view.emailSearch" 
                        placeholder="Email"
                        ng-keypress="ctrl.function.emailSearch.onKeypress($event)">
                    </md-input-container>
                    <nv-icon-text-button
                      class="raised"
                      name="Enter"
                      on-click="ctrl.function.emailSearch.onEnterButton()">
                    </nv-icon-text-button>
                    <div class="primary-button-container" layout="row" flex layout-align="end center">
                      <!-- Show Selected Filters button-->
                      <nv-icon-text-button
                        ng-if="ctrl.data.selectedEmails.length > 0"
                        ng-clazz="{'active': !ctrl.state.emailSearch.showAll}"
                        class="flat dense"
                        name="{{ctrl.state.emailSearch.showAll ? 'Hide (' + ctrl.data.selectedEmails.length + ')' :
                            'Show (' + ctrl.data.selectedEmails.length + ')'}}"
                        icon-position="right"
                        icon="{{ctrl.state.emailSearch.showAll ? 'arrow_drop_up': 'arrow_drop_down'}}"
                        on-click="ctrl.state.emailSearch.showAll = !ctrl.state.emailSearch.showAll">
                      </nv-icon-text-button>

                      <!-- Clear All button-->
                      <nv-icon-button
                        ng-if="ctrl.data.selectedEmails.length > 0"
                        class="flat dense primary-button"
                        name="commons.clear-all"
                        icon="clear_all"
                        on-click="ctrl.function.emailSearch.onClearAll()">
                      </nv-icon-button>
                    </div>
                  </div>

                </div>
                <md-divider ng-if="ctrl.state.emailSearch.showAll && ctrl.data.selectedEmails.length > 0">
                </md-divider>
                <div class="button-container" ng-if="ctrl.data.selectedEmails.length && ctrl.state.emailSearch.showAll">
                  <nv-icon-text-button
                          name="{{::item.displayName}}"
                          icon-position="right"
                          icon="close"
                          class="ghost dense filter-button custom"
                          aria-label="{{::item.displayName}}"
                          ng-repeat="item in ctrl.data.selectedEmails"
                          on-click="::ctrl.function.emailSearch.onRemove(item.id)">
                  </nv-icon-text-button>
                </div>
              </custom-filter-free-text-box>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- submit button -->
  <div layout="row" class="container" layout-align="center center">
    <nv-api-text-button
      md-theme="nvBlue"
      class="raised"
      state="ctrl.view.state"
      name="container.success-billings.generate"
      disabled="ctrl.function.isGenerateBillingDisabled()"
      on-click="::ctrl.function.generateSuccessBillings()">
    </nv-api-text-button>
  </div>
</md-content>
