.nv-container-shipment-change-date{
  min-width: 35rem;
  max-width: 35rem !important;
  padding: 2.8rem;
  .notif-row{
    padding: .8rem;
    div p{
      i {
        font-size: 1.2rem;
      }
      padding: .2rem;
      font-size: 1.2rem;
      background: #FFEABA;
      color: #A9712F;
    }
  }

}