<md-dialog-content
    layout="row" layout-wrap
>
 <div flex="100">
     <h5>Change End Date</h5>
 </div>
 <div flex="100">
     <p>Select an end date for all shipments in this session</p>
 </div>
 <div flex="100">
     <label class="small-label">{{'container.shipment-management.new-date' | translate }}</label>
     <md-datepicker ng-model="ctrl.date"></md-datepicker>
 </div>
 <div flex="100" class="notif-row" ng-if="ctrl.dateChanged" layout-padding>
        <div flex="100">
            <p><i class="material-icons">warning</i> Note that this will update the order transaction times
                of all order within the shipments.</p>
        </div>
 </div>

</md-dialog-content>

<md-dialog-actions>
        <div layout="row center" layout-padding layout-align="end center">
            <div flex="35">
                <nv-icon-text-button  class=""  md-theme="nvGreen" aria-label="Cancel" ng-click="ctrl.onCancel()" name="{{'commons.cancel' | translate }}"  id="cancelButton" />
            </div>
            <div flex="50">
                <nv-icon-text-button class="" disabled="!ctrl.date"  md-theme="nvGreen" aria-label="Change Date" ng-click="ctrl.onChangeDate()" name="{{'container.shipment-management.change-date' | translate }}"  id="changeDateButton" />
            </div>
        </div>

</md-dialog-actions>
