@import "../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../lib/ninja-commons/styles/variables";
@import "../../../lib/ninja-commons/styles/mixins/media-query.mixins";

.nv-container-zones {
  width: 100%;
  height: 100%;
  div.loaded {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%
  }

  .data-header {
    padding: 2rem;
    margin-bottom: 0;
  }
  .additional-toolbar > * {
    margin-right: .5rem;
  }
  .loading-sheet {
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(#CFCFCF, 0.67);
    z-index: 11;
    height: 100%;
    width: 100%;
  }

  .table-container {
    position: relative;
    flex:1;
    nv-table {
      // column width
      @include nv-table-column-width(id, 10rem);
      @include nv-table-column-width(short_name, 12rem);
      @include nv-table-column-width(name, 16rem);
      @include nv-table-column-width(hub-name, 14rem);
      @include nv-table-column-width(lat-lng, 17rem);
      @include nv-table-column-width(description, 20rem);
      @include nv-table-column-width(vertex-count, 12rem);

      // action columns
      @include nv-table-action-columns(15rem);

      $lastRowHeight: 5rem;
      .last-row {
        &:not(.last-row-no-result) {
          height: $lastRowHeight;

          .end-of-result {
            height: $lastRowHeight;

            .end-of-table {
              height: $lastRowHeight;

              p {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .backdrop-loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $nv-text-black-3;
    z-index: 10000;

    md-progress-circular {
      width: 5rem;
      height: 5rem;
      margin: auto !important;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.nv-container-zone-polygon {
  // holder styling
  width: 100%;
  height: 100%;
  color: $nv-text-white;
  background-color: $nv-brand-grey;

  .map-container {
    width: 100%;
    height: 100%;

    @include nv-media-query-sm-max {
      max-height: 50rem;
    }

    .map {
      width: 100%;
      height: 100%;
    }

    .floating-bar{
      z-index: 25;
      padding: 1rem;
      background: none;
      position: absolute;
      width: calc(100% - 30rem);

      .map-legend{
        width : 40rem;
        padding: .5rem;
        background: rgba(37, 55, 70, .95);
        font-size: 0.9rem;
        -webkit-border-radius: .3rem;
        -moz-border-radius: .3rem;
        border-radius: .3rem;
        box-shadow: 0 0  .5rem rgba(27, 27, 27, 0.8) ;
        p{
          @include nv-font-color(white, 2);
          margin: 0;
          
          i.black{
            color: #000;
          }
          
          i.white{
            color: #fff;
          }
        }
      }

    }

    .mode {
      padding: 0 1rem;
    }

    .name {
      padding: 0 1rem 0.5rem 1rem;
      line-height: 2.8rem;

      nv-icon-button {
        vertical-align: top;
        margin-right: 0.5rem;
      }
    }
  }

  .controls-container {
    width: 30rem;
    overflow-y: auto;

    h5{
      @include nv-font-color(white, 2);
    }
    .content-title {
      text-transform: uppercase;
      margin-top: $nv-baseline-grid;
      margin-bottom: 0.2rem;
      font-size: 1.2rem;

      i {
        @include nv-font-color(black, 2);
        font-size: 1.6rem;
        vertical-align: middle;
        line-height: normal;
      }

      &.dark {
        font-size: 1.4rem;

        @include nv-font-color(white, 2);
        @include nv-font-weight(medium);

        i {
          @include nv-font-color(white, 2);
        }
      }
    }

    .content-row {
      display: inline-block;
      vertical-align: middle;

      margin-right: $nv-baseline-grid;
      &:last-child {
        margin-right: 0;
      }

      .text-with-icon {
        display: table;
        max-width: 17rem;

        > * {
          display: table-cell;
          vertical-align: middle;
          line-height: normal;
        }

        .material-icons {
          font-size: 1.4rem;
          vertical-align: middle;
          padding-right: $nv-baseline-grid / 2;
        }

        &.small {
          font-size: 1.2rem;

          .material-icons {
            font-size: 1.2rem;
          }
        }
      }

      i {
        @include nv-font-color(black, 2);
      }

      &.dark {
        @include nv-font-color(white);

        i {
          @include nv-font-color(white);
        }
      }
    }

    .search-result-counter{
      text-align: right;
      font-size: 1rem;
    }

    .ghost-holder {
      > div {
        > div.bordered{
          border: 1px solid $nv-dark4;
        }

        @include nv-font-color(white);
        border: 1px solid $nv-dark4;
        padding: 1rem;

        .ghost-header {
          height: 4.4rem;
          .content-title {
            margin: 0;
            .material-icons {
              margin-left: -0.2rem;
            }
          }        
          nv-icon-text-button {
            margin-bottom: 0;
          }
        }
      }
    }

    .wp-filter-holder {
      nv-icon-text-button {
        margin-bottom: 0;
        margin-right: 0.4rem;

        ng-transclude {
          .material-icons {
            line-height: normal;
            vertical-align: middle;
            margin-right: -$nv-baseline-grid/2;
            margin-top: -$nv-baseline-grid/2;
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }

      .wp-filter-statistic-holder {
        background-color: $nv-dark3;
        @include nv-font-color(white, 2);

        small {
          @include nv-font-color(white, 2);
        }

        
          .content-title {
            margin-bottom: $nv-baseline-grid;
            font-size: 1.1rem;
            text-transform: none;
            line-height: normal;
            @include nv-font-color(light-green);

            .material-icons {
              font-size: 1.1rem;
              height: 1.2rem;
              @include nv-font-color(light-green);
            }
          }

          .selected-filters-holder {
            .data-blocks {
              overflow-x: auto;
              overflow-y: hidden;
              white-space: nowrap;
              padding-bottom: $nv-baseline-grid;

              .data-block {
                margin-right: $nv-baseline-grid*3;

                &:last-child {
                  margin-right: 0;
                }

                label {
                  @include nv-font-color(white, 2);
                  font-size: 1rem;
                }

                > p {
                  color: $nv-tb05;
                  line-height: normal;
                  font-size: 1.2rem;

                  > * {
                    color: $nv-tb05;
                  }
                }
              }
            }
          }
        
      }
    }

    .lat-lng-container{
      .material-icons{
        font-size: 1.2rem;
      }
      font-size: 1.2rem;
    }

    .vertex-limit-container{
      background: red;
      color: white;
      h5, p{
        color: white;
      }

      p{
        margin: 0;
        padding: 0;
      }
    }

    .zone-info-container{
      padding: 0 !important;
      .zone-info{
        &.selected {
          background: #cccccc;
          div{
            background: #cccccc;
          }
        } 
        
        background: white;
        width: 100%;
        margin: 0;
        padding: 0; 
        font-size: 1rem;
        div {
          background: white;
          @include nv-font-color(black, 2);
        }
        .clickable-zone{
          cursor: pointer;
          div{
            padding: .5rem;
          }
        }

        .edit-icon{
          padding: .2rem;
          font-size: 1.8rem;          
          border-radius: 0;          
          &.on-edit {
            background: green !important;  
            color: white;
          }
        }
        
      }      
    }

    .zone-search-table{
      td.zone-name, th.zone-name{
        width: 24rem;
      }

      td.ver-count, th.ver-count{
        width: 5rem;
      }

      td.selection, th.selection{
        width: 1rem;
      }


    }
  }
}