<md-content
        class="nv-container-zones"
        nv-window-resize="ctrl.windowSizeChanged()"
        ng-cloak>
  <div class="backdrop-loading" ng-if="ctrl.contentLoading.backdropLoading">
    <md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>
  </div>
  <div ng-if="ctrl.contentLoading.status == true">
    <div class="loading message-container" layout="column" layout-align="center center">
      <md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>
      <div class="md-body-2 message">{{ ctrl.contentLoading.message | translate }}</div>
    </div>
  </div>

  <ui-view ng-if="ctrl.contentLoading.status == false"></ui-view>
</md-content>
