@import "../../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../../views/container/reservation-preset-management/reservation-preset-management.mixins";

.nv-container-reservation-preset-management-edit-pickup-sequence {
  $leftMargin: 24rem;
  $rightMargin: 40rem;
  $border: 0.1rem solid #d1d3d4;
  
  position: relative;
  color: #5c6166;

  .container-main {
    $delta: 20rem;
    margin: 2.4rem ($rightMargin - $delta) 2.4rem ($leftMargin - $delta);

    @include nv-media-query-md-min {
      $delta: 20rem;
      margin: 2.4rem ($rightMargin - $delta) 2.4rem ($leftMargin - $delta);
    }

    @include nv-media-query-lg-min {
      $delta: 12rem;
      margin: 2.4rem ($rightMargin - $delta) 2.4rem ($leftMargin - $delta);
    }

    @include nv-media-query-xl-min {
      $delta: 0rem;
      margin: 2.4rem $rightMargin 2.4rem $leftMargin;
    }

    .row { border-right: $border; border-bottom: $border; border-left: $border; }
    .row:first-child { border-top: $border; }

    .title {
      >p { margin-bottom: 0; }
    }

    .container-dnd-table {
      margin-top: 1.2rem;
      
      .header { padding: 0.4rem 2.4rem; background-color: #eff3f6; border: $border; font-weight: 500; }
      
      .sub-header { 
        padding: 0.4rem 2.4rem; 

        .item { p { padding-left: 0.4rem; }}
        .item:not(:first-child) { padding-left: 2.4rem; }
      }

      .container-filter {
        padding-left: 4.8rem;

        >p { font-weight: 500; }

        nv-search-input-filter {
          padding-left: 2.4rem;

          md-input-container.md-has-icon {
            padding-left: 0;
            input { margin-left: 1.2rem; }

            &.bar { border-radius: 0.4rem 0 0 0.4rem; }
          }
        }

        .search-icon {
          border-top: 0.1rem solid rgba(33, 33, 33, 0.33);
          border-right: 0.1rem solid rgba(33, 33, 33, 0.33);
          border-bottom: 0.1rem solid rgba(33, 33, 33, 0.33);
          border-radius: 0 0.4rem 0.4rem 0;
          width: 4.8rem;
          height: 3.5rem;
          text-align: center;
          outline: none;

          .material-icons { font-size: 2.52rem; }
        }
      }

      .container-table {
        $element-height: 5.4rem;
        max-height: 25rem;
    
        @include nv-media-query-xl-min {
          max-height: 46.8rem;
        }

        overflow-y: auto;

        .dnd-element {
          border-bottom: $border; 
          height: $element-height;
          display: flex;
          flex-direction: row;

          &:last-child { border-bottom: none; }

          &.dndDraggingSource {
            border: 1px dashed nth($nv-colors, 1);
            -webkit-border-radius: $button-border-radius;
            -moz-border-radius: $button-border-radius;
            border-radius: $button-border-radius;
      
            > * {
              visibility: hidden;
            }
          }

          &.deleted { 
            background-color: $nv-highlight-red;
            color: $nv-dark-red;

            >div { color: $nv-dark-red; }
          }

          >span {
            padding-left: 1rem;
            height: $element-height;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 100%;

            &:first-child {
              flex-grow: 0;
              flex-shrink: 0;
              flex-basis: 3.6rem;
              border-right: $border;
              text-align: center;
              line-height: 3.8;
              margin-left: 0;
            }

            >div {
              $first-child-height: 3.2rem;
              
              height: $element-height - $first-child-height;
              overflow: hidden;
              font-size: 1.28rem;
              line-height: 1.3;

              &:first-child {
                height: $first-child-height;
                font-size: 1.4rem;
                line-height: 2.6;
                
                >span.highlight {
                  background-color: yellow;
                }
              }

              .title { }

              @include reservation-timing;
              .day-container {
                padding-left: 2.5rem;
              }
            }
          }
        }

        .dndPlaceholder {
          background-color: #abaaaa;
          min-height: 0.1rem;
        }
      }
    }
  }

  .confirm-holder {
    $delta: 24rem;

    position: absolute;
    top: 2.4rem;
    right: $leftMargin - $delta;
    height: 4.8rem;
    width: 16rem;

    @include nv-media-query-md-min {
      $delta: 24rem;
      right: $leftMargin - $delta;
    }

    @include nv-media-query-lg-min {
      $delta: 22rem;
      right: $leftMargin - $delta;
    }

    @include nv-media-query-xl-min {
      $delta: 12rem;
      right: $leftMargin - $delta;
    }

    nv-api-text-button {
      height: 100%;
      >button.nv-button {
        height: 100%;
      }
    }
  }
  
}