<md-content class="nv-container-reservation-preset-management-edit-pickup-sequence">
  <div ng-if="!ctrl.parentCtrl.contentLoading"
    layout="column" class="container-main">
    <div class="title">
      <h5>{{ 'container.reservation-preset-management.edit-pickup-sequence' | translate }}</h5>
      <p>{{ 'container.reservation-preset-management.select-drag-and-drop' | translate }}</p>
    </div>
    <div class="container-dnd-table">
      <div class="header row" layout layout-align="space-between center">
        <div>{{ctrl.groupData.name}}</div>
        <div>
          <span ng-show="ctrl.filterState">Showing {{ ctrl.list.length }} of </span>
          <span>{{ ctrl.source.length }}</span>
        </div>
      </div>
      <div class="sub-header row" layout layout-align="start center">
        <div class="item" layout layout-align="start center"><i class="material-icons">local_shipping</i><p>{{ctrl.groupData.driver_name}}</p></div>
        <div class="item" layout layout-align="start center"><i class="material-icons">account_balance</i><p>{{ctrl.groupData.hub_name}}</p></div>
      </div>
      <div class="container-filter row" layout layout-align="start center">
        <p>{{ 'container.reservation-preset-management.shipper-pickup-locations' | translate }}</p>
        <nv-search-input-filter flex="65"
          search-text="ctrl.searchText"
          placeholder="{{ 'commons.search' | translate }}"
          on-change="ctrl.onSearchChange()"
          ng-click="$event.stopPropagation()"
          type="bar"
          hide-icon="true">
        </nv-search-input-filter>
        <div class="search-icon"><i class="material-icons md-light">search</i></div>
      </div>
      <div class="container-table row" ng-if="ctrl.list.length === 0">
        <div class="dnd-element" layout layout-align="center center">
          <h5>{{ 'container.reservation-preset-management.no-address-found' | translate }}</h5>
        </div>
      </div>
      <div class="container-table row" dnd-list="ctrl.list" ng-if="ctrl.list.length > 0">
        <div class="dnd-element" ng-repeat="item in ctrl.list"
          dnd-draggable="item"
          dnd-moved="ctrl.onDrop($index)"
          dnd-effect-allowed="move"
          dnd-disable-if="ctrl.list.length === 1"
          dnd-selected="ctrl.selected = item"
          ng-class="{ selected: models.selected === item, deleted: item.is_deleted }">
          <span>{{ item.sequence }}.</span>
          <span layout="column">
            <div md-highlight-text="ctrl.searchText" md-highlight-flags="gi">{{ item.address._address }}</div>
            <div layout ng-if="!item.is_deleted">
              <span class="title">{{ 'container.reservation-preset-management.reservation-time' | translate }}</span>
              <span class="day-container">
                <span class="day"
                      ng-class="{ 'marked': ctrl.parentCtrl.contains(item.days, reservationDay.id) }"
                      ng-repeat="reservationDay in ctrl.parentCtrl.RESERVATION_DAYS">
                  {{ reservationDay.name }}
                </span>
              </span>
              <span class="pickup-timewindow">{{item.start_time}}-{{item.end_time}}</span>
            </div>
            <div ng-if="item.is_deleted">
              {{ 'container.reservation-preset-management.id-probably-deleted' | translate: { id: item.id } }}
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="!ctrl.parentCtrl.contentLoading"
    class="confirm-holder">
    <nv-api-text-button
      name="Confirm Sequence"
      label="Confirm Sequence"
      state="ctrl.confirmState"
      on-click="ctrl.onConfirmSequence($event)"
      class="raised"
      md-theme="nvRed"
    ></nv-api-text-button>
  </div>
</md-content>