.nv-container-dp-administration-dp-partners {
  height: 100%;

  .loaded {
    height: 100%;

    .main-container {
      height: 100%;

      .table-container {
        position: relative;
        flex: 1;
        
        nv-table {
          // column width
          @include nv-table-column-width(id, 8rem);
          @include nv-table-column-width(name, 14rem);
          @include nv-table-column-width(poc_name, 14rem);
          @include nv-table-column-width(poc_tel, 14rem);
          @include nv-table-column-width(poc_email, 22rem);
          @include nv-table-column-width(restrictions, 16rem);
  
          @include nv-table-row-height(8rem);
  
          // action columns
          @include nv-table-action-columns(nv-table-action-width("two-dense-p"));
        }
      }
    }
  }
}
