<md-content
  class="nv-container-dp-administration-dp-partners"
  nv-load="ctrl.getDPPartners"
  loading-message="Loading distribution point partners...">
  <div layout="column" flex class="main-container">
    <div layout layout-align="space-between" layout-padding>
      <div>
        <h5>{{ 'container.dp-administration.dp-partners.title' | translate }}</h5>
      </div>
      <div layout layout-padding>
        <nv-icon-text-button
          name="commons.download-csv"
          label="commons.download-csv"
          on-click="ctrl.downloadCsv()"
          class="raised"
          md-theme="nvBlue">
        </nv-icon-text-button>
        <nv-icon-text-button
          name="container.dp-administration.dp-partners.add-title"
          class="raised"
          md-theme="nvGreen"
          icon="add"
          text="container.dp-administration.dp-partners.add-title"
          on-click="ctrl.addDPPartner()"
        ></nv-icon-text-button>
      </div>
    </div>
    <nv-table-description
      table-param="ctrl.tableParam"
      title-display="mainTitle">
    </nv-table-description>
    <div class="table-container">
      <nv-table
        param="ctrl.tableParam"
        controller-as="ctrl">
        <nv-table-row use="data">
          <nv-td column="id">
            {{data.id || '-'}}
          </nv-td>
          <nv-td column="name">
            {{data.name || '-'}}
          </nv-td>
          <nv-td column="poc_name">
            {{data.poc_name || '-'}}
          </nv-td>
          <nv-td column="poc_tel">
            {{data.poc_tel || '-'}}
          </nv-td>
          <nv-td column="poc_email">
            {{data.poc_email || '-'}}
          </nv-td>
          <nv-td column="restrictions">
            {{data.restrictions || '-'}}
          </nv-td>

          <nv-action column="actions">
            <nv-icon-button
              md-theme="nvBlue"
              class="ghost dense"
              name="Edit"
              icon="edit"
              on-click="ctrl.editDPPartner($event, data)">
            </nv-icon-button>
            <nv-icon-button
              md-theme="nvGreen"
              class="ghost dense"
              name="View DPs"
              icon="arrow_forward"
              on-click="ctrl.viewDPs(data)">
            </nv-icon-button>
          </nv-action>
        </nv-table-row>
      </nv-table>
    </div>
  </div>

</md-content>
