@import "../../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../../styles/variables";

.nv-container-order-list {
  // variables
  @mixin section-title {
    color: $nv-text-black-2;
    font-weight: normal;
    margin-bottom: 3rem;
  }

  // styling
  height: 100%;

  .loaded {
    height: 100%;
    background-color: $nv-background-color;

    > md-content {
      height: 100%;
    }
  }

  .filter-page {
    padding: 1rem;
    @include nv-media-query-md-min {
      padding: 2rem;
    }

    @include nv-media-query-lg-min {
      padding: 3rem;
    }

    @include nv-media-query-xl-min {
      padding: 4rem;
    }

    h4 {
      @include section-title;
    }

    .search-input-holder {
      > * {
        margin-right: $nv-baseline-grid;
        margin-top: $nv-baseline-grid;
      }

      .search-category {
        width: 21rem;
      }

      .search-logic {
        min-width: 14rem;
      }

      .search-term {
        min-width: 20rem;

        md-input-container {
          padding: 0.2rem;
        }

        md-progress-linear {
          bottom: $nv-baseline-grid;
        }
      }
      
      md-input-container {
        margin-top: 0;

        .md-errors-spacer {
          display: none;
        }

        .md-input-messages-animation {
          margin-bottom: -1.8rem;
        }
      }

      nv-api-text-button {
        margin-bottom: $nv-baseline-grid;
      }

      @include nv-media-query-sm-max {
        > span {
          margin-bottom: 1.4rem;
          margin-left: 0.3rem;
        }
      }
    }

    .one-month-checkbox-holder {
      margin-bottom: 3rem;
    }

    .filter-header {
      h4 {
        margin-bottom: 0;
      }

      .csv-find-orders-btn {
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
        margin-left: 0.4rem;
      }
    }
  }

  .result-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    div.navigation {
      padding: 0.5rem 1rem;
      @include nv-media-query-md-min {
        padding: 1rem 2rem;
      }

      @include nv-media-query-lg-min {
        padding: 1.5rem 3rem;
      }

      @include nv-media-query-xl-min {
        padding: 2rem 4rem;
      }

      .right-container {
        > * {
          display: inline-block;
          padding: 0 0 0 0.4rem;
          margin: 0;

          &:first-child {
            padding: 0;
          }

          &.apply-action-loading {
            vertical-align: middle;
          }

          .btn-apply-action {
            min-width: 140px;

            > span {
              flex-grow: 1;
            }
          }

          @include nv-media-query-sm-max {
            margin-top: 0.4rem;
          }
        }

        > nv-icon-text-button {
          vertical-align: bottom;
        }
      }
    }

    div.table-container {
      position: relative;
      flex: 1;

      nv-table {
        // column width
        @include nv-table-column-width(tracking-id, 18rem);
        @include nv-table-column-width(from-name, 16rem);
        @include nv-table-column-width(from-contact, 14rem);
        @include nv-table-column-width(_from-address, 18rem);
        @include nv-table-column-width(from-postcode, 14rem);
        @include nv-table-column-width(to-name, 16rem);
        @include nv-table-column-width(to-contact, 14rem);
        @include nv-table-column-width(_to-address, 18rem);
        @include nv-table-column-width(to-postcode, 14rem);
        @include nv-table-column-width(_granular-status, 16rem);
        @include nv-table-column-width(_created-at, 12rem);

        // row height
        @include nv-table-row-height(8rem);

        // action columns
        @include nv-table-action-columns(nv-table-action-width("three-dense-p"));
        //make the stripped and highligth cover full height
        td.actions, td.column-checkbox {
          height: 100% !important;
        }
      }
    }
  }
}