<md-content class="nv-container-order-list"
  nv-load="ctrl.init"
  loading-message="{{'commons.load-data' | translate}}">
  <md-content>
    <div class="filter-page" ng-if="ctrl.isPage(ctrl.PAGES.FILTER)">
      <!--PART 1: form section start-->
      <div layout="row" layout-padding layout-wrap>
        <div flex="100">
          <h4>{{ 'container.order.list.specific-search' | translate }}</h4>
          <form name="ctrl.specificSearch.form">
            <div layout="row" layout-xs="column" layout-sm="column"
                 layout-align="start center" layout-align-xs="start start" layout-align-sm="start start"
                 class="search-input-holder">
              <span>
                {{ 'container.order.list.find' | translate }}
              </span>
              <div>
                <nv-input-select
                  class="search-category"
                  label="{{ 'commons.category' | translate }}"
                  model="ctrl.specificSearch.categoryValue"
                  model-options="{}"
                  options="ctrl.specificSearch.categoryOptions">
                </nv-input-select>
              </div>
              <span>
                {{ 'container.order.list.that' | translate }}
              </span>
              <div>
                <nv-input-select
                  class="search-logic"
                  label="{{ 'container.order.list.search-logic' | translate }}"
                  model="ctrl.specificSearch.searchLogicValue"
                  model-options="{}"
                  options="ctrl.specificSearch.searchLogicOptions">
                </nv-input-select>
              </div>
              <div>
                <md-autocomplete
                  md-input-name="searchTerm"
                  class="nv-p md-block search-term"
                  md-no-cache="::true"
                  md-selected-item="ctrl.specificSearch.selectedOrder"
                  md-min-length="6"
                  md-search-text="ctrl.specificSearch.text"
                  md-items="item in ctrl.specificSearch.findTrackingId()"
                  md-item-text="item.tracking_id"
                  md-selected-item-change="ctrl.specificSearch.selectedItemChange(item)"
                  md-floating-label="{{ 'container.order.list.search-term' | translate }}"
                  form="ctrl.specificSearch.form">

                  <md-item-template>
                    <span md-highlight-text="ctrl.specificSearch.text" md-highlight-flags="^i">{{item.tracking_id}}</span>
                  </md-item-template>
                  <md-not-found>
                    {{ 'commons.not-matched' | translate }}
                  </md-not-found>

                  <div ng-messages="ctrl.specificSearch.form.searchTerm.$error" role="alert">
                    <div ng-message="{{e.key}}" ng-repeat="e in ctrl.specificSearch.errors">{{ e.msg | translate }}</div>
                  </div>
                </md-autocomplete>
              </div>
              <nv-api-text-button
                class="raised dense"
                state="ctrl.specificSearch.state"
                name="commons.search"
                disabled="ctrl.specificSearch.isDisabled()"
                on-click="ctrl.getOrders(ctrl.SEARCH_MODE.SPECIFIC)">
              </nv-api-text-button>
            </div>
            <div layout="column"
                 class="one-month-checkbox-holder">
              <nv-input-checkbox
                model="ctrl.specificSearch.oneMonthSearch"
                label="{{ 'container.order.list.only-last-month-description' | translate }}"
                form="modelForm">
              </nv-input-checkbox>
            </div>
          </form>
        </div>
        <div layout="row" layout-sm="column" layout-xs="column" flex="100" layout-align="start center"
             class="filter-header">
          <h4 class="filter-title">{{'commons.select-filter' | translate}}</h4>
          <nv-filter-preset
            layout-align="end"
            filter-presets="ctrl.filterPresets"
            selected-preset="ctrl.selectedPreset"
            selected-filters="ctrl.selectedFilters"
            possible-filters="ctrl.possibleFilters"
            on-save="ctrl.createPreset(body)"
            on-load="ctrl.loadPreset(preset)"
            on-update="ctrl.updatePreset(id,body)"
            on-delete="ctrl.deletePreset(id)"
            on-check-name="ctrl.checkNameAvailability(name)">
          </nv-filter-preset>
          <nv-icon-text-button
            md-theme="nvYellow"
            class="ghost csv-find-orders-btn"
            icon="file_upload"
            name="container.order.list.find-orders-with-csv"
            on-click="ctrl.findOrdersWithCsv($event)">
          </nv-icon-text-button>
        </div>
        <nv-filter-box-container
          flex="100"
          possible-filters="ctrl.possibleFilters"
          selected-filters="ctrl.selectedFilters"
          search-by="mainTitle">
        </nv-filter-box-container>
      </div>
      <!--PART 1: form section end-->
      <div layout="row" layout-align="center center">
        <div>
          <nv-api-text-button
            class="raised h5"
            state="ctrl.getOrdersState"
            name="commons.load-selection"
            disabled="ctrl.specificSearch.state == 'waiting'"
            on-click="ctrl.getOrders(ctrl.SEARCH_MODE.FILTER)">
          </nv-api-text-button>
        </div>
      </div>
    </div>
    <!--PART 2: filter result-->
    <div class="result-page" ng-if="ctrl.isPage(ctrl.PAGES.RESULT)">
      <div class="navigation">
        <div layout="row" layout-sm="column" layout-xs="column">
          <div flex="33" flex-sm="100" flex-xs="100">
            <nv-icon-text-button
              md-theme="nvBlue"
              class="raised"
              icon="filter_list"
              name="container.order.list.edit-conditions"
              on-click="ctrl.goToPage(ctrl.PAGES.FILTER)">
            </nv-icon-text-button>
          </div>
          <div flex class="right-container nv-text-right">
            <p translate="container.order.list.num-selected"
               translate-values="{count: ctrl.getSelectedCount()}">
            </p>
            <div class="apply-action-loading" ng-if="ctrl.isApplyActionLoading">
              <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="24px"></md-progress-circular>
            </div>
            <md-menu-bar>
              <md-menu md-position-mode="target-right target">
                <md-button
                  class="nv-button raised btn-apply-action"
                  type="button"
                  aria-label="Action"
                  ng-click="$mdOpenMenu($event)"
                  ng-disabled="ctrl.getSelectedCount() <= 0 || ctrl.isApplyActionLoading">
                  <span class="nv-text-ellipsis nv-text-left">{{'container.order.list.apply-action' | translate}}</span>
                  <i class="material-icons">arrow_drop_down</i>
                </md-button>

                <md-menu-content class="actions-holder dark" width="3">
                  <md-menu-item>
                    <md-button class="nv-button flat alternate"
                               type="button"
                               aria-label="{{'container.order.list.set-rts-to-selected' | translate}}"
                               ng-click="ctrl.returnOrdersToSender($event, ctrl.ordersTableParam.getSelection())">
                      <span>{{'container.order.list.set-rts-to-selected' | translate}}</span>
                    </md-button>
                  </md-menu-item>

                  <md-menu-item>
                    <md-button class="nv-button flat alternate"
                               type="button"
                               aria-label="{{'container.order.list.cancel-selected' | translate}}"
                               ng-click="ctrl.cancelOrders($event, ctrl.ordersTableParam.getSelection())">
                      <span>{{'container.order.list.cancel-selected' | translate}}</span>
                    </md-button>
                  </md-menu-item>

                  <md-menu-item>
                    <md-button class="nv-button flat alternate"
                               type="button"
                               aria-label="{{'container.order.list.resume-selected' | translate}}"
                               ng-click="ctrl.resumeOrders($event, ctrl.ordersTableParam.getSelection())">
                      <span>{{'container.order.list.resume-selected' | translate}}</span>
                    </md-button>
                  </md-menu-item>

                  <md-menu-item>
                    <md-button class="nv-button flat alternate"
                               type="button"
                               aria-label="{{'container.order.list.complete-selected' | translate}}"
                               ng-click="ctrl.completeOrders($event, ctrl.ordersTableParam.getSelection())">
                      <span>{{'container.order.list.complete-selected' | translate}}</span>
                    </md-button>
                  </md-menu-item>

                  <md-menu-item>
                    <md-button class="nv-button flat alternate"
                               type="button"
                               aria-label="{{'container.order.list.pull-selected-from-route' | translate}}"
                               ng-click="ctrl.pullOrdersFromRoute($event, ctrl.ordersTableParam.getSelection())">
                      <span>{{'container.order.edit.pull-from-route' | translate}}</span>
                    </md-button>
                  </md-menu-item>

                  <md-menu-item>
                    <md-button class="nv-button flat alternate"
                               type="button"
                               aria-label="{{'container.order.list.add-selected-to-route' | translate}}"
                               ng-click="ctrl.addOrdersToRoute($event, ctrl.ordersTableParam.getSelection())">
                      <span>{{'container.order.edit.add-to-route' | translate}}</span>
                    </md-button>
                  </md-menu-item>

                  <md-menu-item>
                    <md-button class="nv-button flat alternate"
                               type="button"
                               aria-label="{{'container.order.list.print-waybills' | translate}}"
                               ng-click="ctrl.printAirwayBillsPreview($event, ctrl.ordersTableParam.getSelection())">
                      <span>{{'container.order.list.print-waybills' | translate}}</span>
                    </md-button>
                  </md-menu-item>

                  <md-menu-item>
                    <md-button class="nv-button flat alternate"
                               type="button"
                               aria-label="{{'container.order.list.print-labels' | translate}}"
                               ng-click="ctrl.printShippingLabels(ctrl.ordersTableParam.getSelection())">
                      <span>{{'container.order.list.print-labels' | translate}}</span>
                    </md-button>
                  </md-menu-item>

                  <md-menu-item>
                    <md-button class="nv-button flat alternate"
                               type="button"
                               aria-label="{{'container.order.list.recalculate-pricing' | translate}}"
                               ng-click="ctrl.recalculatePricing(ctrl.ordersTableParam.getSelection())">
                      <span>{{'container.order.list.recalculate-pricing' | translate}}</span>
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button class="nv-button flat alternate"
                                type="button"
                                aria-label="{{'container.order.list.print-pod' | translate}}"
                                ng-click="ctrl.printPod($event, ctrl.ordersTableParam.getSelection())">
                      <span>{{'container.order.list.print-pod' | translate}}</span>
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </md-menu-bar>
            <nv-icon-text-button
              md-theme="nvYellow"
              class="ghost"
              icon="file_upload"
              name="container.order.list.find-orders-with-csv"
              on-click="ctrl.findOrdersWithCsv($event)">
            </nv-icon-text-button>
            <nv-icon-text-button
              md-theme="nvBlue"
              class="raised"
              icon="file_download"
              disabled="!ctrl.isCsvDownloadEnabled()"
              name="container.order.list.download-selected"
              on-click="ctrl.downloadSelectedAsCsv()">
            </nv-icon-text-button>
          </div>
        </div>
      </div>

      <nv-table-description
        table-param="ctrl.ordersTableParam"
        filters="ctrl.selectedFilters"
        title-display="mainTitle">
      </nv-table-description>
      <div class="table-container">
        <nv-table
          param="ctrl.ordersTableParam"
          selectable="true"
          on-infinite-scroll="ctrl.loadMore()"
          controller-as="ctrl">
          <nv-table-row
            use="order"
            row-height="80">
            <nv-index></nv-index>
            <nv-td column="trackingId">
              {{order.trackingId}}
            </nv-td>
            <nv-td column="fromName">
              {{order.fromName}}
            </nv-td>
            <nv-td column="fromContact">
              {{order.fromContact}}
            </nv-td>
            <nv-td column="_fromAddress">
              {{order._fromAddress}}
            </nv-td>
            <nv-td column="fromPostcode">
              {{order.fromPostcode}}
            </nv-td>
            <nv-td column="toName">
              {{order.toName}}
            </nv-td>
            <nv-td column="toContact">
              {{order.toContact}}
            </nv-td>
            <nv-td column="_toAddress">
              {{order._toAddress}}
            </nv-td>
            <nv-td column="toPostcode">
              {{order.toPostcode}}
            </nv-td>
            <nv-td column="_granularStatus">
              {{order._granularStatus}}
            </nv-td>
            <nv-td column="_createdAt">
              {{order._createdAt}}
            </nv-td>

            <nv-action column="actions">

              <nv-icon-button
                md-theme="nvBlue"
                class="ghost dense"
                name="container.sidenav.order.edit"
                icon="edit"
                on-click="ctrl.editOrder(order)">
              </nv-icon-button>

              <nv-icon-button
                md-theme="nvYellow"
                class="ghost dense"
                name="container.order.list.print-waybill"
                icon="print"
                on-click="ctrl.printAirwayBill(order)">
              </nv-icon-button>

              <nv-icon-button
                md-theme="nvYellow"
                class="ghost dense"
                name="container.order.list.print-label"
                icon="receipt"
                on-click="ctrl.printShippingLabel(order)">
              </nv-icon-button>
            </nv-action>
          </nv-table-row>
        </nv-table>
      </div>
    </div>

  </md-content>
</md-content>