@import "../../../../../styles/variables";

md-dialog.reservation-preset-unlink-or-assign {
  .md-dialog-content {
    padding: 1rem 1rem 0;

    .md-errors-spacer {
      display: none;
    }

    .group-selection {
      margin-top: -$nv-baseline-grid*2;
    }
  }
}