<nv-dialog-header title="{{ ctrl.title | translate }}" on-cancel="ctrl.onCancel($event)"></nv-dialog-header>

<form name="modelForm" md-theme="nvBlue">
  <md-dialog nv-load="ctrl.getAll"
             loading-message="{{'commons.load-data' | translate}}">
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="column" layout-padding>
          <div flex>
            <nv-input-text
              class="md-block"
              label="{{ ::'commons.shipper' | translate }}"
              model="ctrl.pendingTask.shipper.name"
              readonly="true"
              form="modelForm">
            </nv-input-text>
          </div>

          <div flex
               ng-if="ctrl.pendingTask.fullAddress">
            <nv-input-text
              class="md-block"
              label="{{ ::'container.reservation-preset-management.pickup-location' | translate }}"
              model="ctrl.pendingTask.fullAddress"
              readonly="true"
              form="modelForm">
            </nv-input-text>
          </div>

          <div flex
               ng-if="!ctrl.pendingTask.link">
            <nv-input-text
              class="md-block"
              label="{{ ::'container.reservation-preset-management.group' | translate }}"
              model="ctrl.pendingTask.groupName"
              readonly="true"
              form="modelForm">
            </nv-input-text>
          </div>

          <div flex
               ng-if="ctrl.pendingTask.link">
            <div class="md-block with-non-input group-selection">
              <nv-label-small label="container.reservation-preset-management.group"></nv-label-small>
              <nv-autocomplete
                placeholder="{{::'commons.search-or-select' | translate}}"
                delegate-handle="grouping-form-select-group"
                multiple="false"
                selected-item="ctrl.pendingTask.groupSelectedItem"
                possible-options="ctrl.groupsSelectionOptions"
                required="true"
                form="modelForm">
              </nv-autocomplete>
            </div>
          </div>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <span></span>
      <nv-api-text-button
        md-theme="{{ ctrl.pendingTask.link ? 'nvGreen' : 'nvRed' }}"
        name="{{ ctrl.submitButtonTitle }}"
        class="raised"
        state="ctrl.formSubmitState"
        disabled="!ctrl.isAbleToSubmit()"
        on-click="ctrl.onSave()">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>