@import "../../../lib/ninja-commons/styles/variables";
@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../lib/ninja-commons/styles/mixins/media-query.mixins";
@import "../../../lib/ninja-commons/styles/mixins/table.mixins";

.nv-container-outbound-monitoring {
  height: 100%;

  .loaded {
    height: 100%;

    .page-container {
      height: 100%;

      .page-filter {
        padding: 4rem;

        .filter-title {
          padding-bottom: 4rem;
        }

        .filter-box-container {
          padding-left: 0rem;
        }

        .section-load {
          padding-top: 4rem;
        }
      }

      .page-data {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        .loading-sheet {
          left: 0;
          top: 0;
          position: absolute;
          background-color: rgba(#CFCFCF, 0.80);
          z-index: 11;
          height: 100%;
          width: 100%;
        }

        .content-sheet {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;

          .summary {
            height: 15rem;

            .title {
              min-height: 3rem;
              background: #253746;
              font-weight: 400;
              color: #ffffff;
            }

            .padding-left {
              padding-left: 1rem;
            }

            .general-row {
              min-height: 3rem;
              border-style: solid;
              border-width: 0.1rem 0.1rem 0rem 0.1rem;
              border-color: #E5E5E5;

              &:nth-child(odd) {
                background-color: #F5F5F5;
              }

              &:nth-child(even) {
                background-color: #FFFFFF;
              }

              &:last-child {
                border-width: 0.1rem 0.1rem 0.1rem 0.1rem;
              }
              
              .holder-with-border {
                border-style: solid;
                border-width: 0rem 0.1rem 0rem 0rem;
                border-color: #E5E5E5;
              }
            }
          }
          
          .table-container {
            position: relative;
            flex: 1;
            
            nv-table {
              // column width
              @include nv-table-column-width(route-id, 10rem);
              @include nv-table-column-width(total-parcel, 18rem);
              @include nv-table-column-width(on-vehicle, 18rem);
              @include nv-table-column-width(scanned, 10rem);
              @include nv-table-column-width(unscanned, 12rem);
              @include nv-table-column-width(unscanned-external, 18rem);
              @include nv-table-column-width(unscanned-internal, 16rem);
              @include nv-table-column-width(outbound-status, 15rem);
              @include nv-table-column-width(driver-status, 14rem);
              @include nv-table-column-width(driver, 18rem);
              @include nv-table-column-width(zones, 10rem);
              @include nv-table-column-width(comments, 24rem);

              @include nv-table-row-height(4rem);

              // action columns
              @include nv-table-action-columns(nv-table-action-width("three-dense-p"));
            }
          }

          .row-red {
            background-color: pink;
          }

          .row-green {
            background-color: lightgreen;
          }

          .row-yellow {
            background-color: orange;
          }

          nv-icon-button.marked button.nv-button {
            border-color: orange !important;
            color: orange !important;
          }

          .yellow-border {
            border-color: orange;
          }

          .horizontal-divider {
            width: 1rem;
          }
        }
      }
    }
  }
}

md-dialog.outbound-monitoring-comments-dialog {
  md-input-container {
    .md-errors-spacer {
      height: 0.1rem;
      min-height: 0.1rem;
    }
  }
}