<md-content
  class="nv-container-outbound-monitoring"
  nv-load="ctrl.function.init"
  loading-message="{{'container.shipper-pickups.load-data' | translate}}">

  <!-- PAGE 1 -->
  <div class="page-container" ng-if="ctrl.state.page === 0">
    <div class="page-filter">
      <h5 class="filter-title">
        Select Filters
      </h5>

      <nv-filter-box-container
        possible-filters="ctrl.data.possibleFilters"
        selected-filters="ctrl.data.selectedFilters"
        search-by="mainTitle">
      </nv-filter-box-container>
      
      <div class=section-load layout="row" layout-align="center start">
        <nv-api-text-button
          md-theme="nvBlue"
          name="Load Selection"
          class="raised"
          state="ctrl.state.loadState"
          on-click="ctrl.function.loadFromFilter()">
        </nv-api-text-button>
      </div>
    </div>
  </div>

  <!-- PAGE 2 -->
  <div class="page-container" ng-if="ctrl.state.page === 1">
    <div class="page-data">
      <!-- loading sheet -->
      <div class="loading-sheet" ng-if="ctrl.state.refreshTable === 'waiting'" layout="column" layout-align="center center">
        <md-progress-circular md-mode="indeterminate" md-diameter="150"></md-progress-circular>
        <h5>{{ 'container.shipper-pickups.routes-updating' | translate }}</h5>
      </div>

      <!-- content sheet -->
      <div class="content-sheet">
        <div class="summary" layout="row" layout-padding layout-align="space-between none">
          <div flex="30" layout="row">
            <nv-icon-text-button
              icon="filter_list"
              name="commons.edit-fiters"
              on-click="::ctrl.function.showEditFilter($event)"
              md-theme="nvBlue"
              class="raised">
            </nv-icon-text-button>
            <div class="horizontal-divider"></div>
            <nv-api-icon-button
              md-theme="nvBlue"
              name="Refresh"
              class="raised"
              icon="cached"
              state="ctrl.state.refreshTable"
              on-click="ctrl.function.refreshTable()">
            </nv-api-icon-button>
          </div>
          <div flex="60" layout="row" layout-align="space-between none">
            <div flex="50">
              <div layout="row">
                <div class="title" flex="70" layout layout-align="start center">
                  <div class="padding-left">Route Outbound Status</div>
                </div>
                <div class="title" flex="30" layout layout-align="center center">
                  <div>Count</div>
                </div>
              </div>
              <div class="general-row" ng-repeat="(key, value) in ctrl.data.routeSummary" layout="row">
                <div class="holder-with-border" layout layout-align="start center" flex="70">
                  <div class="padding-left">{{value.displayName}}</div>
                </div>
                <div layout layout-align="center center" flex="30">
                  <div>{{value.value}}</div>
                </div>
              </div>
            </div>
            <div flex="45">
              <div layout="row">
                <div class="title" flex="70" layout layout-align="start center">
                  <div class="padding-left">Driver Status</div>
                </div>
                <div class="title" flex="30" layout layout-align="center center">
                  <div>Count</div>
                </div>
              </div>
              <div class="general-row" ng-repeat="(key, value) in ctrl.data.driverSummary" layout="row">
                <div class="holder-with-border" layout layout-align="start center" flex="70">
                  <div class="padding-left">{{value.displayName}}</div>
                </div>
                <div layout layout-align="center center" flex="30">
                  <div>{{value.value}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <nv-table-description
          table-param="ctrl.data.tableParam"
          filters="ctrl.data.selectedFilters"
          title-display="mainTitle">
        </nv-table-description>
        <div class="table-container">
          <nv-table
            param="ctrl.data.tableParam"
            controller-as="ctrl">
            <nv-table-row use="data">

              <nv-td column="routeId">
                {{data.routeId || '-'}}
              </nv-td>
              <nv-td column="totalParcel">
                {{data.totalParcel || '-'}}
              </nv-td>
              <nv-td column="onVehicle">
                {{data.onVehicle || '-'}}
              </nv-td>
              <nv-td column="scanned">
                {{data.scanned || '-'}}
              </nv-td>
              <nv-td column="unscanned">
                {{data.unscanned || '-'}}
              </nv-td>
               <nv-td column="unscannedExternal">
                {{data.unscannedExternal || '-'}}
              </nv-td>
              <nv-td column="unscannedInternal" ng-class="data.cssClass">
                {{data.unscannedInternal || '-'}}
              </nv-td> 
              <nv-td column="outboundStatus" ng-class="data.cssClass">
                {{data.outboundStatus || '-'}}
              </nv-td>
              <nv-td column="driverStatus">
                {{data.driverStatus || '-'}}
              </nv-td>
              <nv-td column="driver">
                {{data.driver || '-'}}
              </nv-td>
              <nv-td column="zones">
                {{data.zones || '-'}}
              </nv-td>
              <nv-td column="comments">
                {{data.comments || '-'}}
              </nv-td>

              <nv-action column="actions">
                <nv-icon-button
                  class="ghost dense"
                  ng-class="{marked: data.cssClass === 'row-yellow'}"
                  name="flag"
                  icon="flag"
                  on-click="ctrl.function.flagRoute($event, data.routeId)">
                </nv-icon-button>
                <nv-icon-button
                  md-theme="nvBlue"
                  class="ghost dense"
                  name="comment"
                  icon="comment"
                  on-click="ctrl.function.commentRoute($event, data)">
                </nv-icon-button>
                <nv-icon-button
                  md-theme="nvBlue"
                  class="ghost dense"
                  name="edit"
                  icon="edit"
                  on-click="ctrl.function.editRoute($event, data.routeId)">
                </nv-icon-button>
              </nv-action>

            </nv-table-row>
          </nv-table>
        </div>
      </div>
    </div>
  </div>
</md-content>