<nv-dialog-header
  title="{{ 'container.order.edit.update-status' | translate }}"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<form name="modelForm" ng-submit="ctrl.onSave()">
  <md-dialog>
    <md-dialog-content>
      <div layout="column" layout-padding>
        <div flex>
          <nv-input-select
            class="md-block"
            class="status-selection"
            label="commons.status"
            model="ctrl.formData.selectedOrderStatus"
            model-options="{}"
            options="ctrl.statusSelectionOptions"
            form="modelForm">
          </nv-input-select>
        </div>
        <div flex>
          <nv-input-select
            class="md-block"
            class="granular-status-selection"
            label="commons.model.granular-status"
            model="ctrl.formData.selectedOrderGranularStatus"
            model-options="{}"
            options="ctrl.granularStatusSelectionOptions"
            form="modelForm">
          </nv-input-select>
        </div>

        <div
          flex
          ng-if="ctrl.originalStatusData.lastPPNT">
          <nv-input-select
            class="md-block"
            class="ppnt-status-selection"
            label="container.order.edit.last-pickup-transaction-status"
            model="ctrl.formData.selectedPPNTStatus"
            model-options="{}"
            options="ctrl.transactionSelectionOptions"
            form="modelForm">
          </nv-input-select>
        </div>

        <div
          flex
          ng-if="ctrl.originalStatusData.lastDDNT">
            <nv-input-select
              class="md-block"
              class="ddnt-status-selection"
              label="container.order.edit.last-delivery-transaction-status"
              model="ctrl.formData.selectedDDNTStatus"
              model-options="{}"
              options="ctrl.transactionSelectionOptions"
              form="modelForm">
            </nv-input-select>
          </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <nv-api-text-button
        md-theme="nvGreen"
        name="commons.save-changes"
        icon="check"
        class="raised"
        state="ctrl.formSubmitState"
        on-click="ctrl.onSave()">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>