.linehaul-add{
  md-datepicker {
    position: relative;
    left: -16px;

    .md-datepicker-input-container{
      margin-left: 0;
    }
    .md-datepicker-button.md-icon-button {
      margin-right: 0;
    }
  }
  .small-label{
    color: rgba(33, 33, 33, 0.67);
    font-size: 1.2rem;
    margin-top: -5px;
  }

  .route-card{
    margin-left:0;
    margin-right: 0;

    .hub-selector-list{
      .hub-header{
        margin-left:3rem;
        font-style: italic;
      }
      .hub-select-container{
        .left-bookmark{
          background: #DA6037;
          border-radius: .5rem 0 0 .5rem;
          color: #fff;
          height: 5rem;
          div{
            vertical-align: middle;
          }
          .arrows{
            cursor: pointer;
            color: #fff;
          }
        }
        .hub-card{
          height: 6rem;
          margin-left: 0px;
          margin-top: 0px;
          border-radius: 0 .3rem .3rem 0;
          border-left: #DA6037 .3rem solid;
        }

        &:nth-child(7n+2) {
          .left-bookmark{
            background: nth($nv-colors, 2);
          }
          .hub-card{
            border-color: nth($nv-colors,2);
          }
        }

        &:nth-child(7n+3) {
          .left-bookmark{
            background: nth($nv-colors, 3);
          }
          .hub-card{
            border-color: nth($nv-colors,3);
          }
        }

        &:nth-child(7n+4) {
          .left-bookmark{
            background: nth($nv-colors, 4);
          }
          .hub-card{
            border-color: nth($nv-colors,4);
          }
        }

        &:nth-child(7n+5) {
          .left-bookmark{
            background: nth($nv-colors, 5);
          }
          .hub-card{
            border-color: nth($nv-colors,5);
          }
        }

        &:nth-child(7n+6) {
          .left-bookmark{
            background: nth($nv-colors, 6);
          }
          .hub-card{
            border-color: nth($nv-colors,6);
          }
        }
        &:nth-child(7n+7) {
          .left-bookmark{
            background: nth($nv-colors, 7);
          }
          .hub-card{
            border-color: nth($nv-colors,7);
          }
        }
        &:nth-child(7n+8) {
          .left-bookmark{
            background: nth($nv-colors, 8);
          }
          .hub-card{
            border-color: nth($nv-colors,8);
          }
        }

      }



    }
  }
  .frequency-card{
    margin-left:0;
    margin-right: 0;
  }
  .disabled-date-card{
    margin-left: 0;
    margin-right: 0;
  }


}