<nv-dialog-header title="{{ctrl.mode=='edit'?('container.linehaul.entries.edit-linehaul' | translate) :('container.linehaul.entries.create-linehaul' | translate)}}" on-cancel="::ctrl.onCancel($event)" md-theme="nvGreen" cancel-text="{{'commons.close' | translate }}"></nv-dialog-header>
<form name="modelForm" ng-submit="::ctrl.onSave()" novalidate>
    <md-dialog-content>
        <div class="md-dialog-content">
            <nv-input-text
                class="md-block"
                label="{{'container.linehaul.entries.linehaul-name' | translate}}"
                model="ctrl.linehaul.name"
                form="modelForm"
                required="true"
            >
            </nv-input-text>
            <nv-input-textarea
                class="md-block"
                label="{{'container.linehaul.entries.comments' | translate}}"
                model="ctrl.linehaul.comments"
                form="modelForm">
            </nv-input-textarea>

            <md-card class="route-card">
                <md-card-header>
                    <md-card-header-text>
                        <md-title><h4>{{'container.linehaul.entries.route' | translate}}</h4></md-title>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <div layout="row" layout-wrap>
                        <div flex="60">
                            <md-list class="hub-selector-list">
                                <md-subheader class="hub-header">START HUB</md-subheader>
                                <md-list-item ng-repeat="sHub in ctrl.selectedHubs" class="hub-select-container">
                                    <div layout="row" flex="100">
                                        <div flex="15" class="left-bookmark" layout="column" layout-align="space-between center"
                                            ng-class="{'new' : sHub.state==='new'}"
                                        >
                                            <div flex="33">
                                                <a ng-click="ctrl.moveUp($index)" class="arrows" ng-hide="ctrl.isFirst($index)">
                                                    <i class="fa fa-caret-up"></i>
                                                </a>
                                            </div>
                                            <div flex="33">{{$index+1}}</div>
                                            <div flex="33">
                                                <a ng-click="ctrl.moveDown($index)" class="arrows" ng-hide="ctrl.isLast($index)">
                                                    <i class="fa fa-caret-down"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div flex="85">
                                            <md-card class="hub-card" layout="row" layout-align="space-between center"
                                                     ng-class="{'new' : hub.state==='new'}"
                                            >
                                                <div flex="60">
                                                    <md-select form="modelForm" ng-required="true" ng-model="sHub.hub" name="select-hub-{{$index}}" aria-label="Select Hub" id="select-hub">
                                                        <md-option ng-repeat="hub in ctrl.hubs" ng-value="hub.hubValue">{{::hub.displayName}}</md-option>
                                                    </md-select>
                                                </div>
                                                <div flex="40">
                                                    <nv-icon-text-button class="flat" name="remove" ng-click="ctrl.removeItem($index)" text="Remove" form="modelForm"></nv-icon-text-button>
                                                </div>
                                            </md-card>
                                        </div>
                                    </div>
                                </md-list-item>
                                <md-subheader class="hub-header">END HUB</md-subheader>
                            </md-list>
                            <div flex="33">
                                <nv-icon-text-button name="Add Hub" class="flat" icon="add" ng-click="ctrl.addHubLeg()"></nv-icon-text-button>
                            </div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>

            <md-card class="frequency-card">
                <md-card-header>
                    <md-card-header-text>
                        <md-title><h4>{{'container.linehaul.entries.frequency' | translate}}</h4></md-title>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <div layout="row" layout-wrap layout-padding>
                        <div flex="100" layout="row">
                            <div flex="33">
                                <label class="small-label">Start Date</label>
                                <md-datepicker ng-model="ctrl.linehaul.startDate"></md-datepicker>
                            </div>
                            <div flex="33">
                                <label class="small-label">End Date</label>
                                <md-datepicker ng-model="ctrl.linehaul.endDate"></md-datepicker>
                            </div>
                        </div>
                        <div flex="100" layout="row">
                            <nv-input-select flex="33"
                                             class="select-days-of-week"
                                             label="{{'container.linehaul.entries.select-days-of-week' | translate}}"
                                             model="ctrl.linehaul.daysOfWeek"
                                             model-options="{}"
                                             options="ctrl.daysOptions"
                                             form="modelForm"
                                             multiple="true"
                                             required="true"
                            >
                            </nv-input-select>
                            <nv-input-select flex="33"
                                             class="select-frequency"
                                             label="{{'container.linehaul.entries.select-frequency' | translate}}"
                                             model="ctrl.linehaul.frequency"
                                             model-options="{}"
                                             options="ctrl.frequencyOptions"
                                             form="modelForm"
                                             required="true"
                            >
                            </nv-input-select>
                        </div>


                    </div>


                </md-card-content>
            </md-card>

            <md-card class="disabled-date-card" ng-if="ctrl.mode==='edit'">
                <md-card-header>
                    <md-card-header-text>
                        <md-title><h4>{{'container.linehaul.entries.disabled-date' | translate}}</h4></md-title>
                    </md-card-header-text>
                </md-card-header>
            </md-card>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <div ng-if="ctrl.mode==='create'">
            <nv-api-text-button
                name="commons.create"
                class="raised primary"
                disabled="modelForm.$invalid || modelForm.$pristine" 
                md-theme="nvGreen" 
                form="modelForm" 
                state="ctrl.createState"
                icon="add" 
                on-click="ctrl.onSave()">
            </nv-api-text-button>
        </div>
        <div ng-if="ctrl.mode==='edit'">
            <div layout="row center" layout-padding layout-align="center">
            <div flex></div>            
            <nv-api-text-button  
                    md-theme="nvGreen" 
                    class="raised primary" 
                    state="ctrl.createState"
                    on-click="ctrl.onUpdate()" 
                    name="container.shipment-management.save-changes" 
                    icon="done" 
                    flex="30"
                    id="saveChangesButton">                
            </nv-api-text-button>
            
            </div>
        </div>
    </md-dialog-actions>
</form>