@import "../../lib/ninja-commons/styles/variables";

.search-with-count {

  margin: 0.5rem;

  .search {
    margin: 0;

    .md-errors-spacer {
      display: none;
    }

    input {
      border: none;
      padding: 2px;
    }
  }

  .count {
    padding: 0 1rem;
    color: $nv-tb59;
    font-size: $font-size-p-capt;
    line-height: 3.4rem;
  }

}
