<div class="search-with-count" layout="row" layout-align="space-between center">

  <md-input-container flex md-no-float md-theme="nvBlue" class="md-block search">

    <md-icon>
      <i class="material-icons">search</i>
    </md-icon>

    <input
      class="nv-p"
      type="text"
      ng-model="searchText"
      ng-model-options="{debounce: 100}"
      placeholder="{{placeholder}}">

  </md-input-container>

  <ng-pluralize
    class="nv-p-med count"
    count="count()"
    when="::when()">
  </ng-pluralize>

</div>
