<md-button
  class="nv-button raised"
  type="button"
  layout="row"
  layout-align="center center"
  aria-label="{{::name}}"
  ng-click="::onClick({$event: $event})"
  ng-disabled="disabled"
>

  <i class="material-icons">{{::icon}}</i>

  <span ng-bind-html="::name"></span>

</md-button>
