.nv-bulk-edit-ticket{
    // @media screen and ( max-height: 80rem ){
    //     max-height:60rem;
    // }
    // height: 80rem;
    min-height: 60rem;
    width: 60rem;
    overflow: auto;
    md-tab-content{
        padding: 1.4rem;
        min-height: 44.4rem;
    }

    .tickets-table{
        .tracking-id{
            width: 20rem;
        }
        .shipper{
            width: 10rem;
        }
        .assignee{
            width: 10rem;
        }
    }
    .header{
        margin-bottom: .4rem;
    }
    .border{
        margin-bottom: 1.2rem;
        border-radius: .3rem;
        border: solid 1px #999;
    }

}

.nv-dialog-progress{
    min-width: 40rem;
    max-width: 60rem;
    padding: 2.8rem;

    min-height: 15rem;
    max-height: 90%;
    .progress-header{
        text-align: center;
    }
    .progress-bar-container{
        margin-top:2.8rem;
        margin-bottom: 2.8rem;

    }
    .error-box{
        background: #FFEAEE;
        color: #C30D38;
        margin-bottom: 2.8rem;
    }
}