<md-dialog-content class="nv-dialog-progress" layout-wrap layout="row">
    <div flex="100" class="progress-header" ng-if="ctrl.state=='updating'">
        <h5>
            {{"container.recovery-tickets.updating-x-tickets" | translate: { x: ctrl.total} }}
        </h5>
        <div flex="100" class="progress-bar-container">
                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
    </div>

    <div flex="100" ng-if="ctrl.errorTrackingId.length > 0" class="error-box"> 
        <div flex>
            <md-icon>alert</md-icon>
            <h6>{{"container.recovery-tickets.failed-to-update-x-items" | translate: {x: ctrl.errorTrackingId.length} }}</h6>
        </div>

        <div flex>
            <ol>
                <li ng-repeat="ticket in ctrl.errorTrackingId track by $index">
                    {{ticket.id}} - {{ticket.errorMessage}}
                </li>
            </ol>
        </div>
    </div>

    <div flex="100" ng-if="ctrl.state=='updated' && ctrl.errorTrackingId.length > 0" layout="row" layout-align="center center">
        <nv-icon-text-button class="raised" name="{{'commons.close' | translate}}" ng-click="ctrl.closeDialog($event)"></nv-icon-text-button>
    </div>

</md-dialog-content>