<nv-dialog-header title="{{'container.recovery-tickets.bulk-edit' | translate}}" on-cancel="::ctrl.onClose($event)"
                  cancel-text="{{'commons.discard-changes' | translate }}"></nv-dialog-header>
<form name="ctrl.modelForm" novalidate>

    <md-dialog-content nv-load="ctrl.onLoad">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab class="no-uppercase" label="{{'commons.settings' | translate }}">
                <div layout="row" layout-wrap>
                    <nv-hint flex="100" text="commons.input.bulk-edit-hint"></nv-hint>
                    <div flex="100" class="border" layout-wrap layout="row" layout-padding>
                        <div flex="100">
                            <h5 class="header">{{"container.recovery-tickets.ticket-settings" | translate}}</h5>
                        </div>
                        <div flex="100" layout="row" layout-flex layout-wrap>
                            <nv-input-select flex="33"
                                             label="{{'container.recovery-tickets.ticket-status' | translate}}"
                                             model="ctrl.ticketStatus" model-options="{}"
                                             form="ctrl.modelForm"
                                             name="ticket-status"   
                                             on-change="ctrl.onChangeTicketStatus()"                                          
                                             options="ctrl.statuses" set-default="false"
                                             class="md-no-float"
                            >
                            </nv-input-select>

                            <nv-input-select flex="33"
                                             label="{{'container.recovery-tickets.order-outcome' | translate }}"
                                             model="ctrl.orderOutcome"
                                             name="order-outcome"
                                             form="ctrl.modelForm"
                                             required="ctrl.ticketStatus === 'RESOLVED'"
                                             model-options="{}" options="ctrl.outcomes" set-default="false"
                                             class="md-no-float"
                            >
                            </nv-input-select>

                            <nv-input-text readonly="true"
                                           label="{{'container.recovery-tickets.recovery-issue' | translate}}"
                                           model="ctrl.ticketType"
                                           class="md-no-float">
                            </nv-input-text>

                        </div>                        
                        <div flex="100" layout="row" layout-flex layout-wrap>
                            <nv-input-select 
                                flex="50" 
                                label="container.recovery-tickets.investigating-dept" 
                                model="ctrl.investigatingParty"
                                model-options="{}"                                 
                                set-default="false"
                                options="ctrl.investigatingParties" 
                                form="ctrl.modelForm">
                            </nv-input-select>
    
                            <nv-input-select
                                flex="50"
                                label="container.recovery-tickets.investigating-hub"
                                model="ctrl.investigatingHub"
                                model-options="{}"
                                set-default="false"
                                options="ctrl.hubs"
                                form="ctrl.modelForm">
                            </nv-input-select>
                        </div>

                        <div flex="100" layout="row" layout-flex layout-wrap>
                            <nv-autocomplete
                                    flex="33"
                                    class="md-block md-no-float"
                                    placeholder="{{'container.recovery-tickets.assign-to' | translate}}"
                                    search-text="searchText"
                                    selected-item="ctrl.assignee"
                                    icon="search"
                                    display-by="displayName"
                                    delegate-handle="users"
                                    item-types="user"
                                    show-suggestion-when-empty="true"
                            >
                        </div>

                        <div flex="100" layout="row" layout-flex layout-wrap>
                            <nv-input-textarea label="{{'container.recovery-tickets.new-instruction' | translate}}"
                                               model="ctrl.newInstruction"
                                               help-text="{{'container.recovery-tickets.this-will-replace-the-last-instruction' | translate}}">
                            </nv-input-textarea>

                        </div>

                    </div>


                    <div flex="100" class="border" layout-wrap layout="row" layout-padding>
                        <div flex="100">
                            <h5 class="header">{{"container.recovery-tickets.missing-details" | translate}}</h5>
                        </div>
                        <div flex="100" layout="row" layout-wrap>
                            <nv-input-textarea label="{{'container.recovery-tickets.ticket-notes' | translate}}"
                                               model="ctrl.ticketNotes"
                                               flex="100">
                            </nv-input-textarea>
                        </div>
                    </div>

                    <div flex="100" class="border" layout-wrap layout="row" layout-padding>
                        <div flex="100">
                            <h5 class="header">{{"container.recovery-tickets.supports-details" | translate}}</h5>
                        </div>
                        <div flex="100" layout="row" layout-wrap>
                            <nv-input-text flex="33" model="ctrl.customerZendeskId" model-options="{}"
                                           label="{{'container.recovery-tickets.customer-zendesk-id'}}">
                            </nv-input-text>
                            <nv-input-text flex="33" model="ctrl.shipperZendeskId" model-options="{}"
                                           label="{{'container.recovery-tickets.shipper-zendesk-id'}}">
                            </nv-input-text>
                        </div>

                    </div>
                </div>

            </md-tab>
            <md-tab label="{{'container.recovery-tickets.selected-tickets-title' | translate : {count : ctrl.tickets.length} }}">
                <div layout="row" layout-wrap>
                    <div flex="100">
                        <h5 class="header">{{"container.recovery-tickets.selected-tickets" | translate}}</h5>
                    </div>

                    <div flex="100">
                        <table class="tickets-table table table-stripped table-condensed table-bordered">
                            <thead>
                            <tr>
                                <th class="tracking-id">{{"container.recovery-tickets.tracking-id" | translate}}</th>
                                <th class="shipper">{{"container.recovery-tickets.shipper" | translate}}</th>
                                <th class="assignee">{{"container.recovery-tickets.assignee" | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="ticket in ctrl.tickets">
                                <td class="tracking-id">{{ticket.trackingId}}</td>
                                <td class="shipper">{{ticket.shipper}}</td>
                                <td class="assignee">{{ticket.assignee}}</td>
                            </tr>
                            </tbody>

                        </table>

                    </div>

                </div>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between center">
        <nv-api-text-button
                class="ghost"
                md-theme="nvGreen"
                aria-label="cancel ticket"
                on-click="ctrl.onCancelTickets($event,ctrl.tickets)"
                name="{{'container.recovery-tickets.cancel-tickets' | translate}}"
                id="cancelButton"
                form="ctrl.modelForm"
                state="ctrl.cancelState"
                icon="close"
        >
        </nv-api-text-button>

        <nv-api-text-button icon="done"
                            class="raised"
                            md-theme="nvGreen" aria-label="Update Tickets" on-click="ctrl.onSave($event)"
                            name="{{'container.recovery-tickets.update-tickets' | translate }}" id="updateButton"
                            form="ctrl.modelForm" state="ctrl.state">
        </nv-api-text-button>
    </md-dialog-actions>
</form>