@import "../../../../../styles/variables";

md-dialog.reservation-rejection-form {
  .md-dialog-content {
    padding: 1rem 1rem 0;

    .md-errors-spacer {
      display: none;
    }

    .fail-pickup-select-failure-reason {
      margin-bottom: $nv-baseline-grid*2;
    }
  }
}