<nv-dialog-header title="{{ ctrl.title | translate }}" on-cancel="ctrl.onCancel($event)"></nv-dialog-header>

<form name="modelForm" md-theme="nvBlue">
  <md-dialog nv-load="ctrl.getAll"
             loading-message="{{'commons.load-data' | translate}}">
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="column" layout-padding>
          <div flex>
            <nv-input-text
              class="md-block"
              label="{{ ::'commons.shipper' | translate }}"
              model="ctrl.rejectedReservation.c_pickup.name"
              readonly="true"
              form="modelForm">
            </nv-input-text>
          </div>

          <div flex>
            <nv-input-text
              class="md-block"
              label="{{ ::'commons.pickup-address' | translate }}"
              model="ctrl.rejectedReservation.c_pickup.address"
              readonly="true"
              form="modelForm">
            </nv-input-text>
          </div>

          <div flex
               ng-if="ctrl.rejectedReservation.route_id">
            <nv-input-text
              class="md-block"
              label="{{ ::'container.reservation-rejection.current-route' | translate }}"
              model="ctrl.rejectedReservation.route_id"
              readonly="true"
              form="modelForm">
            </nv-input-text>
          </div>

          <div flex
               ng-if="ctrl.rejectedReservation.c_driver.name">
            <nv-input-text
              class="md-block"
              label="{{ ::'container.reservation-rejection.current-driver' | translate }}"
              model="ctrl.rejectedReservation.c_driver.name"
              readonly="true"
              form="modelForm">
            </nv-input-text>
          </div>

          <div flex>
            <md-divider></md-divider>
          </div>

          <div flex
               ng-if="ctrl.currentAction === ctrl.REJECTION_FORM_ACTION.REASSIGN">
            <div class="md-block with-non-input route-selection">
              <nv-label-small label="container.reservation-rejection.new-route-or-driver"></nv-label-small>
              <nv-autocomplete
                placeholder="{{::'commons.search-or-select' | translate}}"
                delegate-handle="reassign-select-route"
                multiple="false"
                selected-item="ctrl.chosenRoute"
                possible-options="ctrl.routeSelectionOptions"
                required="true"
                form="modelForm">
              </nv-autocomplete>
            </div>
          </div>

          <div flex
               ng-if="ctrl.currentAction === ctrl.REJECTION_FORM_ACTION.FAIL_PICKUP">
            <nv-input-select
              ng-repeat="failureReason in ctrl.chosenFailureReasons"
              class="md-block fail-pickup-select-failure-reason {{ $index }}"
              label="{{ $index === 0 ? 'container.reservation-rejection.reason-for-failure' : 'container.reservation-rejection.failure-detail' }}"
              model="failureReason.selectedId"
              model-options="{}"
              options="failureReason.options"
              on-change="ctrl.failureReasonOnChange(failureReason)"
              required="true"
              form="modelForm">
            </nv-input-select>
          </div>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <span></span>
      <nv-api-text-button
        md-theme="{{ ctrl.theme }}"
        name="{{ ctrl.submitButtonTitle }}"
        class="raised"
        state="ctrl.formSubmitState"
        disabled="!ctrl.isAbleToSubmit()"
        on-click="ctrl.onSave()">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>