.nv-pagination {

  .collection-container {
    height: 4rem;
  }

  .collection-container:nth-of-type(even) {
    background-color: $nv-tb05;
  }

  .collection-container:nth-of-type(odd) {
    background-color: $nv-light0;
  }
}