<md-content
  class="nv-container-driver-reports"
  layout-padding>

  <div layout="row" layout-sm="column" layout-xs="column">
    <div class="nv-p" flex="30">
      <p>From Date</p>
      <md-datepicker
        ng-model="ctrl.fromDate"
        md-placeholder="{{'container.driver-reports.from-date' | translate}}"
        required>
      </md-datepicker>
    </div>


    <div class="nv-p" flex="30">
      <p>To Date</p>
      <md-datepicker
        ng-model="ctrl.toDate"
        md-min-date="ctrl.fromDate"
        md-placeholder="{{'container.driver-reports.to-date' | translate}}"
        required>
      </md-datepicker>
    </div>
  </div>

    <div class="nv-p" flex="30">
      <nv-api-text-button
        class="raised"
        md-theme="nvGreen"
        on-click="ctrl.generateExcelReport($event, ctrl.fromDate, ctrl.toDate)"
        name="container.driver-reports.generate-excel"
        state="ctrl.generateExcelReportState">
      </nv-api-text-button>
    </div>
  </div>

</md-content>
