<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <h2 class="md-title" ng-if="!ctrl.settings.isMultiSelect">{{ 'container.order.edit.pull-from-route' | translate }}</h2>
      <h2 class="md-title" ng-if="ctrl.settings.isMultiSelect">{{ 'container.order.edit.pull-selected-from-route' | translate }}</h2>

      <div ng-if="!ctrl.settings.isMultiSelect">{{ 'container.order.edit.pull-from-route-confirmation-text' | translate }}</div>
      <div ng-if="ctrl.settings.isMultiSelect">{{ 'container.order.edit.pull-selected-from-route-confirmation-text' | translate }}</div>

      <div class="table-holder">
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th ng-if="ctrl.settings.showTrackingId">{{ 'commons.tracking-id' | translate }}</th>
            <th>{{ 'commons.type' | translate }}</th>
            <th ng-if="!ctrl.settings.isMultiSelect">{{ 'commons.model.route-id' | translate }}</th>
            <th>{{ 'container.order.edit.to-pull' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="processedTransactionData in ctrl.processedTransactionsData">
            <td ng-if="ctrl.settings.showTrackingId">{{ processedTransactionData.trackingId }}</td>
            <td layout="column">
              {{ ctrl.printTransactionType(processedTransactionData.transactions) }}
              <span class="info-txn" ng-if="processedTransactionData.disabled && processedTransactionData.type === Transaction.TYPE_NAME.DELIVERY">
                  * {{"container.order.edit.cannot-be-pulled-due-to-delivery-success" | translate}}
              </span>              
              <span class="info-txn" ng-if="processedTransactionData.disabled && processedTransactionData.type === Transaction.TYPE_NAME.PICKUP">
                  * {{"container.order.edit.cannot-be-pulled-due-to-pickup-success" | translate}}
              </span>
            </td>
            <td ng-if="!ctrl.settings.isMultiSelect">{{ processedTransactionData.routeId }}
            </td>
            <td>
              <nv-input-checkbox
                class="to-pull-checkbox"
                model="processedTransactionData.isSelected"
                label=""
                disabled="processedTransactionData.disabled"
                form="modelForm">
              </nv-input-checkbox>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <nv-icon-text-button
        class="flat"
        name="commons.go-back"
        on-click="ctrl.onCancel()">
      </nv-icon-text-button>
      <nv-api-text-button
        md-theme="nvRed"
        class="flat"
        state="ctrl.formSubmitState"
        disabled="!ctrl.isAbleToSubmit()"
        name="{{ctrl.submitButtonName}}"
        on-click="ctrl.onSave($event)">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>