md-dialog.tag-management-add,
md-dialog.tag-management-edit {
  min-width: 40rem;
  min-height: 18rem;
}

md-dialog.tag-management-edit {
  md-dialog-actions {
    nv-icon-text-button {
      display: inline-block;
    }

    nv-button-save {
      float: right;
    }
  }
}