<nv-dialog-header title="Edit Tag" on-cancel="::onCancel($event)"></nv-dialog-header>

<form name="modelForm" ng-submit="::onSave()" md-theme="nvBlue">

  <md-dialog-content>
    <div class="md-dialog-content">

      <div class="md-block multi-input-row" layout="column">

        <nv-input-text
          class="md-block"
          label="{{::fields.name.displayName | translate}}"
          model="fields.name.value"
          form="modelForm"
          maxlength="fields.name.minLength"
          minlength="fields.name.maxLength"
          required="::true">
        </nv-input-text>

        <nv-input-textarea
          class="md-block"
          label="{{::fields.description.displayName | translate}}"
          model="fields.description.value"
          form="modelForm">
        </nv-input-textarea>

      </div>

    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <div style="width: 100%;">
      <nv-button-save name="Submit Changes" form="modelForm" state="saveButtonState"></nv-button-save>
    </div>
  </md-dialog-actions>

</form>
