@import "../../../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../../../styles/variables";

md-dialog.zonal-routing-purge-routes {
  $defaultWidth: 60rem !important;

  width: $defaultWidth;

  md-dialog {
    max-width: $defaultWidth;

    md-dialog-content {
      > label {
        font-size: 1.2rem;
        margin-bottom: $nv-baseline-grid/2;
        display: inline-block;
      }

      .dark-red {
        @include nv-font-color(dark-red);
      }

      .table-container {
        nv-table {
          // column width
          @include nv-table-column-width(route-name, 8rem);
          @include nv-table-column-width(driver-name, 24rem);
          @include nv-table-column-width(capacity, 12rem);

          // row height
          @include nv-table-row-height(5rem);

          .last-row:not(.last-row-no-result) {
            display: none;
          }

          th {
            vertical-align: middle;
            padding-top: 0;
          }
        }
      }
    }
  }
}