@import "../../styles/variables";
@import "../../styles/mixins/shadow.mixins";

$filter-padding: 0.7rem;
$container-height: 4.2rem;
$filled-border-width: 0.4rem;
$left-padding: 1.4rem;
$in-filter-border: 1px $nv-light2 solid;

nv-filter-box.filled, nv-filter-boolean-box.filled, nv-filter-date-box.filled, 
nv-filter-text-box.filled, nv-filter-number-box.filled, nv-filter-time-box.filled, 
nv-filter-range-box.filled, nv-filter-free-text-box.filled, custom-filter-free-text-box.filled,
nv-filter-autocomplete.filled {
  border: $filled-border-width none $nv-dark-blue;
  border-left-style: solid;

  @include nv-shadow(2dp);

  .header-container.layout-row {
    margin-left: $left-padding - $filled-border-width;
  }
}

nv-filter-box, nv-filter-boolean-box, nv-filter-date-box,
nv-filter-text-box, nv-filter-number-box, nv-filter-time-box,
nv-filter-range-box, nv-filter-free-text-box, custom-filter-free-text-box,
nv-filter-autocomplete {
  background-color: $nv-light0;
  display: inline-block;
  width: 100%;
  border: 1px $nv-light4 solid;
  border-radius: 2px;

  .header-container.layout-column {
    div.main-title, div.utility-section {
      width: 100%;
    }
  }

  .header-container.layout-row {
    margin-left: $left-padding;
    height: $container-height;

    .main-title {
      display: block;
      min-width: 12.2rem;
      width: 12.2rem;

      > p {
        margin-bottom: 0;
        margin-top: 0;
      }
    }

    .text-container {
      max-height: $container-height;
      margin-right: 2*$filter-padding;

      md-input-container {
        margin-left: 2.8rem;
        width: 100%;
        height: $container-height;

        label {
          display: none;
        }

        input {
          margin-top: .6rem;
        }
      }
    }

    .date-container {
      max-height: $container-height;
      .md-datepicker-input-container {
        padding-bottom: 0.25rem;
      }
    }

    .date-container, .boolean-container {
      margin-left: 2.8rem;

      .md-datepicker-input-container {
        margin-left: 0;

        > input.md-datepicker-input {
          min-width: 0;
        }
      }

      md-datepicker > button.md-datepicker-button {
        margin-left: 0;
        margin-right: 0; padding-left: 0; width: auto;
      }

      > p {
        text-transform: lowercase;
        margin-left: 1rem;
        margin-right: 1rem;
      }

      .btn-group {
        min-width: 0 !important;

        .boolean-container {
          margin-left: 0 !important;
        }
      }
    }

    div.utility-section {
      height: 100%;
      width: 100%;
      margin-left: 2.8rem;

      > nv-autocomplete.autocomplete-container {
        margin-right: 2*$filter-padding;
      }
    }

    div.primary-button-container {
      > nv-icon-button, nv-icon-text-button {
        border-left: $in-filter-border;
        padding: $filter-padding;
      }
    }
  }

  .flexible-container {
    margin-left: $left-padding - $filled-border-width;
    min-height: $container-height;

    .main-title {
      min-width: 12.2rem;
      width: 12.2rem;

      > p {
        margin-bottom: 0;
        margin-top: 1.2rem;
      }
    }

    div.number-container {
      margin-left: 2.8rem;
      flex-wrap: wrap;
      border-right: $in-filter-border;

      md-input-container {
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
        md-select {
          width: 100%;
          margin-right: 2*$filter-padding;
        }

        label {
          display: none;
        }
      }

      .number-param-container {
        min-width: 32rem;
        height: 4.2rem;
        max-height: 4.2rem;

        .number-label {
          text-transform: lowercase;
          margin-left: 1rem;
          margin-right: 1rem;
        }

        md-input-container {
          margin-top: 0.4rem;
          margin-bottom: 0.4rem;
          label {
            display: none;
          }

          input {
            text-align: right;
          }

          md-select-value {
            > span {
              text-align: right;
            }
          }
        }

        div.md-errors-spacer {
          min-height: 0px;
        }
      }
    }

    div.primary-button-container {
      padding: $filter-padding;
    }

    div.time-container {
      margin-left: 2.8rem;
      flex-wrap: wrap;
      border-right: $in-filter-border;

      .time-param-container {
        min-width: 29rem;
        width: 29rem;
        height: 4.2rem;
        max-height: 4.2rem;

        //date picker
        md-datepicker {
          margin-right: 0px;
          padding-right: 0px;
        }

        .md-datepicker-input-container {
          margin-left: 0;
          padding-bottom: 0.25rem;

          > input.md-datepicker-input {
            min-width: 0;
          }
        }

        md-datepicker > button.md-datepicker-button {
          margin-left: 0;
          margin-right: 0; padding-left: 0; width: auto;
        }

        //md select
        md-input-container {
          margin-top: 0.4rem;
          margin-bottom: 0.6rem;
          md-select {
            width: 100%;
            margin-right: 2*$filter-padding;

            md-select-value {
              padding: 1px 2px 0px;
              min-width: 48px;

              > span {
                text-align: center;
              }
            }
          }

          label {
            display: none;  
          }
        }
      }

      .time-label {
        text-transform: lowercase;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
  }

  md-divider {
    width: 100%;
    border-top-color: $nv-light2;
  }

  .button-container {
    display: table;
    width: 100%;
    min-height: $container-height;
    white-space: nowrap;
    padding-bottom: $filter-padding;
  }

  .button-container nv-icon-text-button {
    display: inline-block;
    float: left;
    margin-left: $filter-padding;
    margin-top: $filter-padding;

    &:nth-child(15n+1)  .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,2); border-color: nth($nv-colors,2); &:hover { border-color: darken(nth($nv-colors,2), 10%); } }
    &:nth-child(15n+2)  .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,3); border-color: nth($nv-colors,3); &:hover { border-color: darken(nth($nv-colors,3), 10%); } }
    &:nth-child(15n+3)  .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,4); border-color: nth($nv-colors,4); &:hover { border-color: darken(nth($nv-colors,4), 10%); } }
    &:nth-child(15n+4)  .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,5); border-color: nth($nv-colors,5); &:hover { border-color: darken(nth($nv-colors,5), 10%); } }
    &:nth-child(15n+5)  .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,6); border-color: nth($nv-colors,6); &:hover { border-color: darken(nth($nv-colors,6), 10%); } }
    &:nth-child(15n+6)  .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,7); border-color: nth($nv-colors,7); &:hover { border-color: darken(nth($nv-colors,7), 10%); } }
    &:nth-child(15n+7)  .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,8); border-color: nth($nv-colors,8); &:hover { border-color: darken(nth($nv-colors,8), 10%); } }
    &:nth-child(15n+8)  .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,9); border-color: nth($nv-colors,9); &:hover { border-color: darken(nth($nv-colors,9), 10%); } }
    &:nth-child(15n+9)  .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,10); border-color: nth($nv-colors,10); &:hover { border-color: darken(nth($nv-colors,10), 10%); } }
    &:nth-child(15n+10) .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,11); border-color: nth($nv-colors,11); &:hover { border-color: darken(nth($nv-colors,11), 10%); } }
    &:nth-child(15n+11) .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,12); border-color: nth($nv-colors,12); &:hover { border-color: darken(nth($nv-colors,12), 10%); } }
    &:nth-child(15n+12) .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,13); border-color: nth($nv-colors,13); &:hover { border-color: darken(nth($nv-colors,13), 10%); } }
    &:nth-child(15n+13) .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,14); border-color: nth($nv-colors,14); &:hover { border-color: darken(nth($nv-colors,14), 10%); } }
    &:nth-child(15n+14) .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,15); border-color: nth($nv-colors,15); &:hover { border-color: darken(nth($nv-colors,15), 10%); } }
    &:nth-child(15n+15) .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,1); border-color: nth($nv-colors,1); &:hover { border-color: darken(nth($nv-colors,1), 10%); } }
  }

  &[theme="dark"] {
    background-color: transparent;

    .main-title > p {
      color: $nv-tb05;
    }
  }
}

nv-filter-date-box {
  .date-container {
    md-datepicker {
      .md-datepicker-input-container {
        input {
          min-width: 100px !important;
        }
      }
    }

    small.dark-red {
      margin-left: 1rem;
      line-height: normal;
      display: block;
    }
  }
}
