<div ng-if="buttonContainerPosition == 'top'" ng-include="'lib/ninja-commons/directives/filter-box/includes/button-container.html'" nv-include-replace></div>
<md-divider ng-if="buttonContainerPosition == 'top' && state.showSelected && selectedOptions.length > 0"></md-divider>
<div class="header-container" layout="{{::orientation === 'horizontal' ? 'row': 'column'}}"
     layout-align="{{::orientation === 'horizontal' ? 'start center': 'start start'}}">

  <div class="main-title">
    <p class="medium nv-text-ellipsis">{{ mainTitle | translate }}</p>
  </div>

  <div class="utility-section" layout="row" layout-align="start center">
    <nv-autocomplete
      flex
      class="autocomplete-container"
      search-text="searchText"
      persist-search-text="persistSearchText"
      placeholder="commons.search-or-select"
      icon="search"
      delegate-handle="{{::autocompleteHandle}}"
      multiple="true"
      item-types="{{::itemTypes}}"
      no-found-item-message="{{::noFoundItemMessage}}"
      theme="{{::theme}}"
      show-suggestion-when-empty="showSuggestionWhenEmpty">
    </nv-autocomplete>

    <nv-drop-button-select model="includeModel" ng-if="::includeModel">
    </nv-drop-button-select>

    <div class="primary-button-container" layout="row" layout-align="end center">
      <!-- Show Selected Filters button-->
      <nv-icon-text-button
        ng-if="selectedOptions.length > 0 && orientation === 'horizontal'"
        ng-clazz="{'active': !state.showSelected}"
        class="flat dense"
        name="{{state.showSelected ? 'Hide (' + selectedOptions.length + ')' :
            'Show (' + selectedOptions.length + ')'}}"
        icon-position="right"
        icon="{{state.showSelected ? 'arrow_drop_up': 'arrow_drop_down'}}"
        on-click="state.showSelected = !state.showSelected">
      </nv-icon-text-button>

      <!-- Remove Filter button-->
      <nv-icon-button
        ng-if="(!isMandatory && hideClose === false && onClose !== undefined && selectedOptions.length === 0) || !isMandatory"
        class="flat dense"
        name="commons.remove-filter"
        icon="close"
        on-click="onClose()">
      </nv-icon-button>

      <!-- Clear All button-->
      <nv-icon-button
        ng-if="hideClose === false && selectedOptions.length > 0"
        class="flat dense primary-button"
        name="commons.clear-all"
        icon="clear_all"
        on-click="onClearAll()">
      </nv-icon-button>
    </div>
  </div>

</div>
<md-divider ng-if="buttonContainerPosition == 'bottom' && state.showSelected && selectedOptions.length > 0">
</md-divider>
<div ng-if="buttonContainerPosition == 'bottom'" ng-include="'lib/ninja-commons/directives/filter-box/includes/button-container.html'" nv-include-replace>
</div>
