@import "../../../../../lib/ninja-commons/styles/variables";
@import "../../../../../lib/ninja-commons/styles/mixins/table.mixins";

md-dialog.route-inbound-reservation-pickups {
  width: 80rem;

  md-dialog-content {
    md-ink-bar {
      color: map-get(map-get($themeColor, 'nvBlue'), 'dark') !important;
      background: map-get(map-get($themeColor, 'nvBlue'), 'dark') !important;
    }

    .table-container {
      @mixin actions {
        .actions {
          text-align: center;

          md-progress-circular {
            display: inline-block;
          }
        }
      }

      nv-table {
        .last-row:not(.last-row-no-result) {
          $lastRowHeight: 5rem;

          height: $lastRowHeight;

          .end-of-result {
            height: $lastRowHeight;

            .end-of-table {
              height: $lastRowHeight;

              p {
                display: none;
              }
            }
          }
        }

        &.inbounded-orders-table {
          // column width
          @include nv-table-column-width(tracking_id, 18rem);
          @include nv-table-column-width(shipper_name, 18rem);
          @include nv-table-column-width(reservation-id, 13rem);
          @include nv-table-column-width(location, 25rem);

          // action columns
          @include nv-table-action-columns(nv-table-action-width("two-dense-p"));
          @include actions;
        }

        &.non-inbounded-orders-table {
          // column width
          @include nv-table-column-width(tracking_id, 18rem);
          @include nv-table-column-width(shipper_name, 18rem);
          @include nv-table-column-width(reservation-id, 13rem);
          @include nv-table-column-width(location, 25rem);

          // action columns
          @include nv-table-action-columns(nv-table-action-width("two-dense-p"));
          @include actions;
        }

        &.extra-orders-table {
          // column width
          @include nv-table-column-width(tracking_id, 18rem);
          @include nv-table-column-width(shipper_name, 18rem);

          // action columns
          @include nv-table-action-columns(nv-table-action-width("two-dense-p"));
          @include actions;
        }
      }
    }
  }
}