<nv-dialog-header
  title="{{ ctrl.title | translate}}"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<md-dialog-content>
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="{{ 'container.route-inbound.inbounded-orders' | translate }}">
      <div class="table-container">
        <nv-table
          class="inbounded-orders-table"
          param="ctrl.inboundedOrdersTableParams"
          controller-as="ctrl">
          <nv-table-row
            use="order"
            use-virtual-repeat='false'>
            <nv-td column="tracking_id">
              <a href="javascript:;"
                 ng-click="ctrl.editOrder(order)">
                {{ order.tracking_id }}
              </a>
            </nv-td>
            <nv-td column="shipper_name">
              {{ order.shipper_name }}
            </nv-td>
            <nv-td column="reservationId">
              {{ order.reservationId }}
            </nv-td>
            <nv-td column="location">
              {{ order.location }}
            </nv-td>
            <nv-action column="actions">
              <md-progress-circular class="md-primary"
                                    md-mode="indeterminate"
                                    md-diameter="30px"
                                    ng-if="order.isPrinting">
              </md-progress-circular>

              <nv-icon-button
                ng-if="!order.isPrinting"
                md-theme="nvYellow"
                class="ghost dense"
                name="container.route-inbound.print-label"
                icon="receipt"
                on-click="ctrl.printShippingLabel(order)">
              </nv-icon-button>
            </nv-action>
          </nv-table-row>
        </nv-table>
      </div>
    </md-tab>
    <md-tab label="{{ 'container.route-inbound.non-inbounded-orders' | translate }}">
      <div class="table-container">
        <nv-table
          class="non-inbounded-orders-table"
          param="ctrl.nonInboundedOrdersTableParams"
          controller-as="ctrl">
          <nv-table-row
            use="order"
            use-virtual-repeat='false'>
            <nv-td column="tracking_id">
              <a href="javascript:;"
                 ng-click="ctrl.editOrder(order)">
                {{ order.tracking_id }}
              </a>
            </nv-td>
            <nv-td column="shipper_name">
              {{ order.shipper_name }}
            </nv-td>
            <nv-td column="reservationId">
              {{ order.reservationId }}
            </nv-td>
            <nv-td column="location">
              {{ order.location }}
            </nv-td>
            <nv-action column="actions">
              <md-progress-circular class="md-primary"
                                    md-mode="indeterminate"
                                    md-diameter="30px"
                                    ng-if="order.isPrinting">
              </md-progress-circular>

              <nv-icon-button
                ng-if="!order.isPrinting"
                md-theme="nvYellow"
                class="ghost dense"
                name="container.route-inbound.print-label"
                icon="receipt"
                on-click="ctrl.printShippingLabel(order)">
              </nv-icon-button>
            </nv-action>
          </nv-table-row>
        </nv-table>
      </div>
    </md-tab>
    <md-tab label="{{ 'container.route-inbound.extra-orders' | translate }}">
      <div class="table-container">
        <nv-table
          class="extra-orders-table"
          param="ctrl.extraOrdersTableParams"
          controller-as="ctrl">
          <nv-table-row
            use="order"
            use-virtual-repeat='false'>
            <nv-td column="tracking_id">
              <a href="javascript:;"
                 ng-click="ctrl.editOrder(order)">
                {{ order.tracking_id }}
              </a>
            </nv-td>
            <nv-td column="shipper_name">
              {{ order.shipper_name }}
            </nv-td>
            <nv-action column="actions">
              <md-progress-circular class="md-primary"
                                    md-mode="indeterminate"
                                    md-diameter="30px"
                                    ng-if="order.isPrinting">
              </md-progress-circular>

              <nv-icon-button
                ng-if="!order.isPrinting"
                md-theme="nvYellow"
                class="ghost dense"
                name="container.route-inbound.print-label"
                icon="receipt"
                on-click="ctrl.printShippingLabel(order)">
              </nv-icon-button>
            </nv-action>
          </nv-table-row>
        </nv-table>
      </div>
    </md-tab>
  </md-tabs>
</md-dialog-content>