@import "../../../../styles/variables";

nv-button-group-radio {

  $transition-duration: 400ms;

  display: block;
  padding: 1.5rem;
  border: 0.1rem solid $nv-border-color;

  .label {
    font-size: $font-size-p-capt;
    line-height: 1.8rem;
    color: rgba(0, 0, 0, 0.54);
    padding-bottom: 1rem;
  }

  .button-group-radio-container .button-group-radio-button {
    color: $nv-normal-blue;
    text-transform: capitalize;
    min-width: 0;
    outline: none !important;
    margin: 0;
    border: 0.2rem solid $nv-normal-blue;
    transition: color $transition-duration ease, background-color $transition-duration ease;
  }

  .button-group-radio-container .button-group-radio-button.active {
    color: $nv-light0;
    background-color: $nv-normal-blue;

    &:hover {
      background-color: darken($nv-normal-blue, 10%);
    }
  }

}
