@import "../../../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../../../lib/ninja-commons/styles/mixins/typography.mixins";

md-dialog.route-inbound-comments {
  p.header {
    @include nv-font-weight(medium);
    @include nv-font-color(white);
    margin-bottom: 0;
    background-color: map-get(map-get($themeColor, 'nvBlue'), 'dark');
    padding: 1.4rem;
    font-size: 1.6rem;
  }

  .table-container {
    nv-table {
      .last-row:not(.last-row-no-result) {
        $lastRowHeight: 5rem;

        height: $lastRowHeight;

        .end-of-result {
          height: $lastRowHeight;

          .end-of-table {
            height: $lastRowHeight;

            p {
              display: none;
            }
          }
        }
      }

      // column width
      @include nv-table-column-width(comment, 100%);
    }
  }
}