<form name="ctrl.form">
  <nv-dialog-header
    title="{{ 'container.route-inbound.route-inbound-comments' | translate}}"
    on-cancel="ctrl.onCancel()"
    cancel-text="commons.cancel">
  </nv-dialog-header>

  <md-dialog-content class="md-dialog-content">
    <div layout="row">
      <div flex>
        <nv-input-text
          class="md-block"
          label="container.route-inbound.enter-route-comment-here"
          model="ctrl.formComment"
          required="true"
          form="ctrl.form">
        </nv-input-text>
      </div>
      <div>
        <nv-create-button
          on-click="ctrl.onAdd()"
          disabled="ctrl.isSubmitDisabled()"
          name="{{ 'commons.add' | translate }}">
        </nv-create-button>
      </div>
    </div>
    <div>
      <p class="header">
        {{ 'container.route-inbound.history' | translate }}
      </p>
      <div class="table-container">
        <nv-table
          param="ctrl.commentsTableParams"
          controller-as="ctrl">
          <nv-table-row
            use="row"
            use-virtual-repeat='false'>
            <nv-index></nv-index>
            <nv-td column="comment">
              {{ row.comment }}
            </nv-td>
          </nv-table-row>
        </nv-table>
      </div>
    </div>
  </md-dialog-content>
</form>