@import "../../styles/variables";
@import "../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../views/container/order/order.mixins";
@import "../../views/container/route-inbound/route-inbound.mixins";

app-route-inbound-summary {
  $data-block-margin-bottom: $nv-baseline-grid*2;

  display: block;
  margin-top: $nv-baseline-grid;
  margin-bottom: $content-section-margin - $data-block-margin-bottom;

  @include data-blocks;
  .data-blocks {
    .data-block {
      margin-right: $nv-baseline-grid*6;
      margin-bottom: $data-block-margin-bottom;

      label {
        font-size: 1.4rem;
        margin-left: 3rem + ($nv-baseline-grid / 2);
      }

      h3 {
        > * {
          vertical-align: middle;
        }

        > i {
          @include icon-color;
          margin-right: $nv-baseline-grid / 2;
        }

        > span {
          @include nv-font-color(black, 2);
        }
      }
    }
  }
}