<div class="data-blocks">
  <div class="data-block">
    <label>{{ 'commons.model.route-id' | translate }}</label>
    <h3>
      <i class="material-icons">timeline</i>
      <span>{{ routeId }}</span>
    </h3>
  </div>

  <div class="data-block">
    <label>{{ 'commons.driver' | translate }}</label>
    <h3>
      <i class="material-icons">person</i>
      <span>{{ driverName }}</span>
    </h3>
  </div>

  <div class="data-block">
    <label>{{ 'commons.hub' | translate }}</label>
    <h3>
      <i class="material-icons">store</i>
      <span>{{ hubName }}</span>
    </h3>
  </div>

  <div class="data-block">
    <label>{{ 'commons.date' | translate }}</label>
    <h3>
      <i class="material-icons">event_note</i>
      <span>{{ routeDate }}</span>
    </h3>
  </div>
</div>
