@import "../../../../../lib/ninja-commons/styles/variables";

.order-edit-details {
  .plain-separator {
    margin: 1.4rem 0rem
  }

  .md-padding {
    padding: 2.8rem;
  }

  md-ink-bar {
    color: #253746 !important;
    background: #253746 !important;
  }

  .multi-parcel {
    md-input-container {
      padding-bottom: 0.2rem;
    }

    md-progress-linear {
      bottom: 3rem;
    }

    .container-tracking-id {
      min-height: 10rem;
      max-height: 16rem;
      overflow-y: auto;

      .label-no-tracking-id {
        color: $nv-text-black-3;
      }

      .table-element {
        margin-left: 0.8rem;
      }

      .multiparcel-table-header {
        background-color: #EBEBEB;
        color: #6F6F6F;
        height: 4rem;
        border-style: solid;
        border-width: 1px 1px 0px 1px;
        border-color: #E5E5E5;
      }

      .multiparcel-table-row {
        height: 4rem;
        border-style: solid;
        border-width: 1px 1px 0px 1px;
        border-color: #E5E5E5;

        &:nth-child(odd) {
          background-color: #F5F5F5;
        }

        &:nth-child(even) {
          background-color: #FFFFFF;
        }

        &:last-child {
          border-style: solid;
          border-width: 1px 1px 1px 1px;
          border-color: #E5E5E5;
        }
      }
    }

    .multiparcel-table-element:nth-child(even) {
      background-color: #F5F5F5;
    }
    .multiparcel-table-element:nth-child(odd) {
      background-color: #FFFFFF;
    }
  }

  // general
  .border {
    border: 0.1rem solid $nv-text-black-3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: -1rem;
    padding: 1rem;

    .title {
      color: $nv-text-black-3;
      margin-top: 0rem;
      margin-bottom: 1.4rem;
    }
    .sub-title {
      color: $nv-text-black-2;
      margin-top: 0rem;
      margin-bottom: 1.4rem;
    }
    .content {

      .label {
        color: $nv-text-black-3;
        margin-right: 1.4rem;
        padding-top: 1.4rem;
      }

      .md-errors-spacer {
        min-height: 0rem;
        height: 0rem;
      }

      .readonly {
        padding-top: 0.4rem;
      }

      .md-input {
        border-bottom-color: rgba(0,0,0,0.12);
      }

      .md-select-value {
        padding: 1px 2px 0px 2px; 
      }
    }
  }
}