<nv-dialog-header
  title="{{'container.order.edit.edit-order-details' | translate}}"
  on-cancel="ctrl.func.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<form name="modelForm" ng-submit="ctrl.func.onSave()">
  
  <md-dialog-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <!--tab 1 start-->
      <md-tab label="Parcel" ng-click="ctrl.func.onTabChanged(0)">
        <md-content class="md-padding parcel">
          <!--1st row-->
          <div layout="row" layout-xs="column">
            <nv-input-text
              id="field-tracking-id"
              readonly = "::true"
              flex = "30"
              flex-xs="100"
              label = "Tracking ID"
              model = "ctrl.view.trackingId"
              required = "::false">
            </nv-input-text>
            <nv-input-text
              id="field-order-source"
              readonly = "::true"
              flex = "30"
              flex-xs="100"
              label = "Order Source"
              model = "ctrl.view.orderSource"
              required = "::false">
            </nv-input-text>
            <nv-input-text
              id="field-created-at"
              readonly = "::true"
              flex = "30"
              flex-xs="100"
              label = "Created On"
              model = "ctrl.view.createdAt"
              required = "::false">
            </nv-input-text>
          </div>
          <!--2nd row-->
          <div layout="row">
            <nv-input-select
              flex="50"
              ng-if="ctrl.state.deliveryTypesState === 1"
              label="Delivery Types"
              placeholder="Delivery Types"
              model="ctrl.view.deliveryType"
              model-options="{ trackBy: '$value.id'}"
              options="ctrl.view.deliveryTypeOptions">
            </nv-input-select>
            <div flex="30" ng-if="ctrl.state.deliveryTypesState === 0">
              <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <div flex="30" ng-if="ctrl.state.deliveryTypesState === -1">
              error!
            </div>
            <div flex></div>
          </div>
          <!--separaotr-->
          <div class="plain-separator" layout="row"></div>
          <!--1st box-->
          <div class="border" layout="row" layout-wrap>
            <h5 class="title" layout="row" flex="100">Sizing Details</h5>

            <div class="sub-title" layout="row" flex="100">Provided Sizing</div>
            <div class="content" layout="row" flex="100">
              <nv-input-text
                id="field-provided-parcel-size"
                readonly = "::true"
                flex = "15"
                label = "Parcel Size"
                model = "ctrl.view.provided.parcelSize"
                required = "::false">
              </nv-input-text>
              <nv-input-text
                id="field-provided-parcel-weight"
                readonly = "::true"
                flex = "10"
                label = "Weight"
                model = "ctrl.view.provided.parcelWeight"
                required = "::false">
              </nv-input-text>
              <div class="label">kg</div>
              <nv-input-text
                id="field-provided-parcel-length"
                readonly = "::true"
                flex = "10"
                label = "Dimensions"
                model = "ctrl.view.provided.length"
                required = "::false">
              </nv-input-text>
              <div class="label">cm</div>
              <nv-input-text
                id="field-provided-parcel-width"
                readonly = "::true"
                flex = "10"
                label = "Dimensions"
                model = "ctrl.view.provided.width"
                required = "::false">
              </nv-input-text>
              <div class="label">cm</div>
              <nv-input-text
                id="field-provided-parcel-breadth"
                readonly = "::true"
                flex = "10"
                label = "Dimensions"
                model = "ctrl.view.provided.breadth"
                required = "::false">
              </nv-input-text>
              <div class="label">cm</div>
            </div>

            <div class="sub-title" layout="row" flex="100">Current Sizing</div>
            <div class="content" layout="row" flex="100">
              <nv-input-select
                flex="15"
                label="Parcel Size"
                placeholder="Parcel Size"
                model="ctrl.view.newSize"
                model-options="{ trackBy: '$value.id'}"
                options="ctrl.view.sizeOptions">
              </nv-input-select>
              <nv-input-number
                id="field-new-parcel-weight"
                flex = "10"
                label = "Weight"
                name="weight"
                min="0"
                form="modelForm"
                model = "ctrl.view.newWeight">
              </nv-input-number>
              <div class="label">kg</div>
              <nv-input-number
                id="field-new-parcel-length"
                flex = "10"
                label = "Length"
                name="length"
                min="0"
                form="modelForm"
                model = "ctrl.view.newLength">
              </nv-input-number>
              <div class="label">cm</div>
              <nv-input-number
                id="field-new-parcel-width"
                flex = "10"
                label = "Width"
                name="width"
                min="0"
                form="modelForm"
                model = "ctrl.view.newWidth">
              </nv-input-number>
              <div class="label">cm</div>
              <nv-input-number
                id="field-new-parcel-breadth"
                flex = "10"
                label = "Breadth"
                name="breadth"
                form="modelForm"
                min="0"
                model = "ctrl.view.newBreadth">
              </nv-input-number>
              <div class="label">cm</div>
            </div>
            <div class="content" layout="row" flex="100">
              <nv-input-number
                model="ctrl.view.insurance"
                label= "commons.insured-value"
                flex="30"
                step="0.01"
                min="0"
                max="10000000000000"
                form="modelForm"
                name="insured-value"
                id="insured-value-edit"/>
            </div>
          </div>
        </md-content>
      </md-tab>
      <!--tab 1 end-->

      <!--tab 2 start-->
      <md-tab label="Multi Parcels" ng-click="ctrl.func.onTabChanged(1)">
        <md-content class="md-padding multi-parcel">
          <!--1st row-->
          <div layout="row">
            <md-autocomplete
              flex="80"
              id="field-autocomplete-tracking-id"
              class="nv-p md-block"
              md-no-cache="::true"
              md-selected-item="ctrl.view.multiparcel.selectedOrder"
              md-min-length="6"
              md-search-text="ctrl.view.multiparcel.searchTrackingId"
              md-items="item in ctrl.func.multiparcel.findTrackingId(ctrl.view.multiparcel.searchTrackingId)"
              md-item-text="item.trackingId"
              md-floating-label="Enter the tracking ID of a parcel to be linked">
              
              <md-item-template>
                <span md-highlight-text="ctrl.view.multiparcel.searchTrackingId" md-highlight-flags="^i">{{item.trackingId}}</span>
              </md-item-template>
              <md-not-found>
                No matches found.
              </md-not-found>
            </md-autocomplete>
            
            <nv-create-button
              on-click="ctrl.func.multiparcel.onAdd(ctrl.view.multiparcel.selectedOrder)"
              disabled="ctrl.view.multiparcel.selectedOrder === null"
              name="Add Parcel">
            </nv-create-button>
          </div>
          <!--box-->
          <div class="border" layout="row" layout-wrap>
            <h5 class="title" layout="row" flex="100">Linked Multi-Parcels</h5>
            <div ng-if="ctrl.view.multiparcel.datas.length === 0" class="container-tracking-id" layout="row" flex="100">
              <div layout="row" layout-align="center center" flex="100">
                <h5 class="label-no-tracking-id">No Parcels Linked</h5>
              </div>
            </div>
            <div ng-if="ctrl.view.multiparcel.datas.length !== 0" class="container-tracking-id" 
              layout="row" layout-align="start start" layout-wrap flex="100">
              <div layout="row" flex="100" class="multiparcel-table-header">
                <div layout="row" layout-align="start center" flex="33" class="table-element">Trackig ID</div>
                <div layout="row" layout-align="start center" flex="33" class="table-element">Status</div>
                <div layout="row" flex="33"></div>
              </div>
              <div layout="row" flex="100" class="multiparcel-table-row"
                ng-repeat="data in ctrl.view.multiparcel.datas">
                <div layout="row" layout-align="start center" flex="33" class="table-element">{{data.trackingId}}</div>
                <div layout="row" layout-align="start center" flex="33" class="table-element">{{data.granularStatus}}</div>
                <div layout="row" layout-align="center center" flex="33" class="table-element">
                  <md-button
                    aria-label="remove"
                    ng-click="ctrl.func.multiparcel.remove(data.trackingId)">
                    Remove
                  </md-button>
                </div>
              </div>
            </div>
          </div>
        </md-content>
      </md-tab>
      <!--tab 2 end-->
    </md-tabs>
  </md-dialog-content>

  <md-dialog-actions>
    <nv-api-text-button
        md-theme="nvGreen"
        name="commons.save-changes"
        icon="check"
        class="raised"
        form="modelForm"
        state="ctrl.state.saveButtonState"
        disabled="!ctrl.func.isAbleToSubmit()"
        on-click="ctrl.func.onSave()">
      </nv-api-text-button>
  </md-dialog-actions>
</form>