<md-button
    id="{{::id}}"
    type="button"
    class="nv-button"
    aria-label="{{::name | translate}}"
    layout="row"
    layout-align="center center"
    ng-disabled="isDisabled()"
    ng-click="::onClickWrapper({$event: $event})">

    <i class="material-icons" ng-class="{ show: state === 'idle' }">{{::icon}}</i>
    <div class="idle" ng-class="{ show: state === 'idle' }">{{ (text || name) | translate}}</div>

    <div class="waiting" ng-class="{ show: state === 'waiting' }">
        <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="24px"></md-progress-circular>
    </div>

    <md-tooltip md-direction="{{::tooltipDirection}}" md-delay="::tooltipDelay">{{name | translate}}</md-tooltip>
</md-button>
