<nv-dialog-header title="{{'container.implanted-manifest.create-manifest' | translate}}"
  on-cancel="ctrl.onCancel()">    
</nv-dialog-header>

<md-dialog-content
    layout="row" layout-wrap
    layout-padding>
 <div flex="100">
     <p>{{"container.implanted-manifest.enter-the-reservation-id" | translate}}</p>
 </div>
 <div flex="100">
  <nv-input-text
    model="ctrl.reservationId"
    name="container.implanted-manifest.reservation-id"
    id="reservation-id-entry">
  </nv-input-text>
 </div> 
</md-dialog-content>

<md-dialog-actions>
        <div layout="row center" layout-padding layout-align="end center">
          <nv-icon-text-button
            flex="35"
            class="flat"
            md-theme="nvGreen"
            aria-label="Cancel"
            ng-click="ctrl.onCancel()"
            name="{{'commons.cancel' | translate }}"
            id="cancelButton">
          </nv-icon-text-button>
          <nv-icon-text-button 
            flex="50"
            class="primary raised" 
            disabled="!ctrl.reservationId"  
            md-theme="nvGreen" 
            aria-label="Create Manifest" 
            ng-click="ctrl.onCreate()" 
            name="{{'container.implanted-manifest.create-manifest' | translate }}"  
            id="createManifestButton">
          </nv-icon-text-button>
        </div>

</md-dialog-actions>
