@import "../../../styles/mixins/typography.mixins";
@import "../../../styles/mixins/input.mixins";
@import "../../../styles/variables";
@import "../../../styles/functions/utils";

md-input-container {
  margin: 7px 0;
}

md-input-container.md-has-icon md-icon {
  left: 0.6rem;
}

md-input-container.md-has-icon .currency {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4rem;
  height: 3.4rem;
  padding: 0.2rem;
  line-height: 2.8rem;
  text-align: center;
  font-weight: 500;
}

md-input-container .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently not supported by any browser */
  cursor: default;
}

.secondary-button-container {
  margin-top: 7px;
  text-align: center;

  &.fa-icon {
    line-height: 26px;
  }

  &.material-icon {
    line-height: 14px;
  }

  .secondary-button {
    margin: 0;
    padding: 0;
    height: 26px;
    min-height: 26px;
    line-height: 26px;
    width: 32px;
    min-width: 32px;
    font-size: 16px;
  }
}
md-input-container {
  input.md-input {
    @include all-input-type {
      height: 2em;
      color: $nv-text-black;
      @include nv-font(p);
    }
  }
  textarea {
    line-height: 1.3;
  }
  div.readonly {
    padding-left: 2px;
    color: $nv-text-black;
    @include nv-font(p);
  }
  i.input-invalid, i.input-confirmed {
    font-size: 1.4em;
    position: absolute;
    right: 0;

    + input {
      padding-right: 1.4em;
    }
  }
  label,
  [ng-messages] [ng-message],
  .confirmation-text,
  .help-text {
    @include nv-font(small);
  }
  //always float the label
  label:not(.md-no-float):not(.md-container-ignore) {
    transform: translate3d(0, 4px, 0) scale(1);
  }
  //remove padding top for messages
  [ng-messages] [ng-message],
  .confirmation-text,
  .help-text {
    padding-top: 0;
  }
  //not invalid state
  &:not(.md-input-invalid) {
    i.input-invalid,
    [ng-messages] {
      display: none;
    }
  }
  //invalid state
  &.md-input-invalid {
    .help-text,
    .confirmation-text {
      display: none;
    }
  }
  //not confirm state
  &:not(.confirmed) {
    .confirmation-text {
      display: none;
    }
  }
  //confirm state
  &.confirmed {
    .help-text {
      display: none;
    }
  }
  //in disable or readonly, do not show any additional text
  &.disabled, &.readonly {
    .help-text, .confirmation-text, [ng-messages] {
      display: none;
    }
  }
  //show only 1 ng-message at a time
  [ng-messages] [ng-message]:nth-child(n+2) {
    display: none;
  }
}

//colors
@each $key, $color in $themeColor{
  md-input-container#{ toThemeClass($key) } {
    // irrelavant to which theme is applied

    &:not(.disabled) {
      &:not(.md-input-invalid) label, //float label color
      &:not(.md-input-invalid).md-input-has-value label,
      [ng-messages] [ng-message],
      .help-text,
      .confirmation-text {
        color: $nv-text-black-2;
      }
      input.md-input {
        color: $nv-text-black-3;
        border-color: $nv-text-black-3;
      }
      //when invalid
      &.md-input-invalid,
      &.md-input-invalid.md-input-focused {
        &.md-input-has-value label,
        label,
        [ng-messages] [ng-message] {
          color: $nv-dark-red;
        }
        input.md-input {
          border-color: $nv-dark-red;
        }
      }
      //when focused
      &.md-input-focused:not(.md-input-invalid):not(.confirmed) {
        label, 
        .help-text {
          color: $nv-dark-blue;
        }
        input.md-input {
          border-color: $nv-dark-blue;
        }
      }

      &.md-input-focused,
      &.md-input-has-value {
        input.md-input {
          color: $nv-text-black;
        }
      }
      //when confirmed
      &.confirmed:not(.md-input-invalid) {
        &.md-input-has-value label,
        .confirmation-text {
          color: $nv-dark-green;
        }
        &.md-input-focused input.md-input,
        input.md-input {
          border-color: $nv-dark-green;
        }
      }
    }
    //when disabled
    &.disabled {
      &:not(.md-input-invalid) label, //float label color
      &:not(.md-input-invalid).md-input-has-value label,
      [ng-messages] [ng-message],
      .confirmation-text,
      input.md-input {
        color: $nv-text-black-3;
      }
    }
    i.input-invalid {
      color: $nv-dark-red;
    }
    i.input-confirmed {
      color: $nv-dark-green;
    }
  }
}

@each $key, $color in $themeColor{
  .dark md-input-container#{ toThemeClass($key) }, 
  md-input-container.dark#{ toThemeClass($key) } {
    // irrelavant to which theme is applied
    &:not(.disabled){
      &:not(.md-input-invalid) label, //float label color
      &:not(.md-input-invalid).md-input-has-value label,
      [ng-messages] [ng-message],
      .help-text,
      .confirmation-text {
        color: $nv-text-white-2;
      }
      input.md-input {
        color: $nv-text-white-3;
        border-color: $nv-text-white-3;
      }
      //when invalid
      &.md-input-invalid, 
      &.md-input-invalid.md-input-focused {
        &.md-input-has-value label,
        label,
        [ng-messages] [ng-message] {
          color: $nv-light-red;
        }
        input.md-input {
          border-color: $nv-light-red;
        }
      }
      //when focused
      &.md-input-focused:not(.md-input-invalid):not(.confirmed) {
        label,
        .help-text {
          color: $nv-light-blue;
        }
        input.md-input {
          border-color: $nv-light-blue;
        }
      }

      &.md-input-focused,
      &.md-input-has-value {
        input.md-input {
          color: $nv-text-white;
        }
      }
      //when confirmed
      &.confirmed {
        &.md-input-has-value label,
        .confirmation-text {
          color: $nv-light-green;
        }
        &.md-input-focused input.md-input,
        input.md-input {
          border-color: $nv-light-green;
        }
      }
    }
    //when disabled
    &.disabled {
      &:not(.md-input-invalid) label, //float label color
      &:not(.md-input-invalid).md-input-has-value label,
      [ng-messages] [ng-message],
      .confirmation-text,
      input.md-input {
        color: $nv-text-white-3;
      }
    }
    i.input-invalid {
      color: $nv-light-red;
    }
    i.input-confirmed {
      color: $nv-light-green;
    }
  }
}