@import "../../../../styles/variables";
@import "../../../../styles/mixins/typography.mixins";
@import "../../../../styles/mixins/input.mixins";
@import "../../../../styles/variables";
@import "../../../../styles/functions/utils";

div.nv-input-date {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 0.2rem;
  margin: 1.8rem 0 0.7rem;
  top: -1.2rem;

  label {
    position: absolute;
    right: 0.4rem;
    left: auto;
    width: calc(100% - 4.1rem);
    top: -1.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $nv-text-black-2;
    font-size: 1.2rem;
  }  
  [ng-messages] [ng-message]{
    @include nv-font(small);
  }  
  //remove padding top for messages
  [ng-messages] [ng-message]{
    padding-top: 0;
  }
  //show only 1 ng-message at a time
  [ng-messages] [ng-message]:nth-child(n+2) {
    display: none;
  }

  md-datepicker {
    display: inline-block;

    button.md-button.md-icon-button {
      padding: 0;
      margin: 0;
      height: 0;
      min-height: 2.4rem;
      min-width: 2.4rem;
      width: auto;
    }

    .md-datepicker-input {
      position: relative;
      top: 0.4rem;
      height: 2.4rem;
    }

    .md-datepicker-triangle-button.md-button.md-icon-button {
      top: 1rem;
      right: 0.9rem;
    }
  }

  &.dark {
    label {
      color: $nv-text-white-2;
    }

    md-datepicker {
      background-color: transparent;

      md-icon, .md-datepicker-input {
        color: $nv-text-white-2;
      }

      .md-datepicker-expand-triangle {
        border-top-color: $nv-text-white-2;
      }
    }
  }
}