<div class="nv-input-date">
    <label>{{label | translate}}</label>

    <md-datepicker
      name="{{label}}"
      id="{{id}}"
      ng-model="model"
      md-min-date="minDate"
      md-max-date="maxDate"
      ng-disabled="disabled"
      ng-required="required">
    </md-datepicker>
    <div ng-if="!!form && showAlert" ng-messages="form[id].$error" role="alert">
        <div ng-message="required">{{'commons.required-field' | translate}}</div>
        <div ng-message="mindate">{{'directive.input.date.min-date' | translate}} {{minDate | nvTime}}</div>
        <div ng-message="maxdate">{{'directive.input.date.max-date' | translate}} {{maxDate | nvTime}}</div>
    </div>
</div>
