<md-dialog-content layout="row" layout-wrap>
    <h4>{{"container.global-inbound.set-prefix" | translate}}</h4>
      <p flex="100">{{"container.global-inbound.enter-prefix-info" | translate}}</p>
    <div flex="100">
      <nv-input-text
        model="ctrl.data.prefix"
        name="container.global-inbound.prefix"   
        label="container.global-inbound.prefix">
      </nv-input-text>
    </div>
  
  </md-dialog-content>
  
  <md-dialog-actions>
    <div layout="row" layout-padding layout-align="end center">            
      <nv-icon-text-button 
        class="flat"
        icon=""        
        aria-label="Cancel" 
        on-click="ctrl.onCancel($event)" 
        name="{{'commons.cancel' | translate }}"  id="cancelButtonPrefix" >
      </nv-icon-text-button>

      <nv-icon-text-button 
        class="flat"
        icon=""
        md-theme="nvGreen" 
        aria-label="Save" 
        on-click="ctrl.onSave($event)" 
        name="{{'commons.save' | translate }}"  id="saveButtonPrefix">
      </nv-icon-text-button>
    </div>
  
  </md-dialog-actions>
  