@import "../../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/layout.mixins";


.nv-container-pricing-v2-verify {
  width: 100%;
  height: 100%;

  $label-color: rgba(33, 33, 33, 0.67);
  $common-padding: 1.4rem;

  .action-toolbar {
    padding: 1rem;
    background-color: #015F1D;
    font-size: 1.4rem;
    color: $nv-tb05;

    &.active {
      background-color: $nv-dark3;
    }

    button {
      margin-left: 0.25em;
      margin-right: 0.25em;
    }

  }

  .nv-hint {
    min-width: 30em;
  }

  .container {

    .vertical-padding-4 {
      padding: 0.4rem 0rem;
    }

    .horizontal-padding-2 {
      padding: 0rem 0.2rem;
    }

    .info {
      margin: -1rem;
      padding: 1rem;
    }

    .first-row {
      padding-top: 3.2rem;

      .md-errors-spacer {
        min-height: 0rem;
      }
    }

    .label {
      p {
        color: $nv-text-black-2;
      }
    }

    .label-to {
      margin: 0rem 0.7rem;
    }

    .autocomplete-label {
      color: $nv-text-black-2;
      font-size: 1.2rem;
    }

    md-input-container {
      width: 100%;
      md-select {
        md-select-value.md-select-value {
          .md-container {
            display: none;
          }
        }
      }
    }

    .other-row {
      padding-top: 1.6rem;

      .md-errors-spacer {
        min-height: 0rem;
      }

      .width-full {
        width: 100%;
      }

      .width-half {
        width: 47.5%;
      }

      .width-half-filler {
        width: 5%;
      }

      .selection-container {
        width: 100%;
        min-height: 4.2rem;
        padding-bottom: 0.7rem;

        .custom-text {
          margin: 0.7rem 0rem 0rem 0.7rem;
        }

        nv-icon-text-button {
          margin: 0.7rem 0.7rem 0rem 0rem;

          &:nth-child(15n+1)  .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,2); border-color: nth($nv-colors,2); &:hover { border-color: darken(nth($nv-colors,2), 10%); } }
          &:nth-child(15n+2)  .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,3); border-color: nth($nv-colors,3); &:hover { border-color: darken(nth($nv-colors,3), 10%); } }
          &:nth-child(15n+3)  .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,4); border-color: nth($nv-colors,4); &:hover { border-color: darken(nth($nv-colors,4), 10%); } }
          &:nth-child(15n+4)  .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,5); border-color: nth($nv-colors,5); &:hover { border-color: darken(nth($nv-colors,5), 10%); } }
          &:nth-child(15n+5)  .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,6); border-color: nth($nv-colors,6); &:hover { border-color: darken(nth($nv-colors,6), 10%); } }
          &:nth-child(15n+6)  .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,7); border-color: nth($nv-colors,7); &:hover { border-color: darken(nth($nv-colors,7), 10%); } }
          &:nth-child(15n+7)  .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,8); border-color: nth($nv-colors,8); &:hover { border-color: darken(nth($nv-colors,8), 10%); } }
          &:nth-child(15n+8)  .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,9); border-color: nth($nv-colors,9); &:hover { border-color: darken(nth($nv-colors,9), 10%); } }
          &:nth-child(15n+9)  .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,10); border-color: nth($nv-colors,10); &:hover { border-color: darken(nth($nv-colors,10), 10%); } }
          &:nth-child(15n+10) .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,11); border-color: nth($nv-colors,11); &:hover { border-color: darken(nth($nv-colors,11), 10%); } }
          &:nth-child(15n+11) .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,12); border-color: nth($nv-colors,12); &:hover { border-color: darken(nth($nv-colors,12), 10%); } }
          &:nth-child(15n+12) .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,13); border-color: nth($nv-colors,13); &:hover { border-color: darken(nth($nv-colors,13), 10%); } }
          &:nth-child(15n+13) .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,14); border-color: nth($nv-colors,14); &:hover { border-color: darken(nth($nv-colors,14), 10%); } }
          &:nth-child(15n+14) .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,15); border-color: nth($nv-colors,15); &:hover { border-color: darken(nth($nv-colors,15), 10%); } }
          &:nth-child(15n+15) .filter-button.nv-button.md-button.ghost:not([disabled]) { color: nth($nv-colors,1); border-color: nth($nv-colors,1); &:hover { border-color: darken(nth($nv-colors,1), 10%); } }
        }
      }
    }

    width: 40em;
    min-width: 40em;

    .parameter-row {
      .field {
        margin-right: 2em;

        .label {
          padding-bottom: 1em;
          padding-left: 0.5em;
        }

      }

      .interval {
        min-height: 6em;
      }
    }
  }


}