<md-content class="nv-container-pricing-v2-verify">
    <div class="action-toolbar active">
        <div layout="row" layout-align="space-between center" class="nv-text-center">
            <nv-icon-text-button
                    class="flat dark alternate"
                    name="commons.cancel"
                    icon="cancel"
                    on-click="ctrl.onClickCancel($event)">
            </nv-icon-text-button>
            <div>{{ 'container.pricing-scripts.validate-draft' | translate }}</div>
            <div></div>
        </div>
    </div>
    <md-content class="md-padding">
        <div layout="column" layout-align="start center" ng-if="!ctrl.canRelease()">
            <div layout="column" class="container" layout-align="start stretch">
                <h5>{{::'container.pricing-scripts.validate-draft' | translate}}</h5>
                <p>{{::'container.pricing-scripts.message.validate-before' | translate}}</p>
                <div class="parameter-row" layout="column" layout-align="start stretch"
                     ng-repeat="parameter in ctrl.getFloatParameters()">
                    <div ng-if="parameter.type === 'Float'">
                        <span>{{parameter.name}} {{::'container.pricing-scripts.range' | translate}} ({{::'container.pricing-scripts.per' | translate}} {{parameter.increment}}{{parameter.unit}})</span>
                        <div class="interval" layout="row" layout-align="start end" flex="grow">
                            <div layout="column" flex="50" class="field">
                                <div layout="row" layout-align="start center">
                                    <nv-input-number
                                            flex
                                            label="Start {{parameter.name}}"
                                            min="0"
                                            step="parameter.increment"
                                            model="parameter.start"></nv-input-number>
                                    <div class="label">{{parameter.unit}}</div>
                                </div>
                            </div>
                            <div layout="column" flex="50" class="field">
                                <div layout="row" layout-align="start center">
                                    <nv-input-number
                                            flex
                                            label="End {{parameter.name}}"
                                            min={{parameter.start}}
                                            step="parameter.increment"
                                            model="parameter.end"></nv-input-number>
                                    <div class="label">{{parameter.unit}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nv-icon-text-button
                    name="container.pricing-scripts.validate"
                    on-click="ctrl.onVerify()"
                    class="raised"
                    class="hint">
            </nv-icon-text-button>
        </div>
        <div layout="column" layout-align="start center" ng-if="ctrl.canRelease()">
            <nv-hint flex="grow" icon="info" text="{{::'container.pricing-scripts.message.validate.hint.success' | translate}}" type="info" ng-if="!ctrl.state.hasError"></nv-hint>
            <nv-hint flex="grow" icon="info" text="{{::'container.pricing-scripts.message.validate.hint.error' | translate}}" type="error" ng-if="ctrl.state.hasError"></nv-hint>
            <p>{{::'container.pricing-scripts.message.validate-after' | translate}}</p>
            <nv-icon-text-button
                    md-theme="nvGreen"
                    icon="arrow_forward"
                    name="Release Script"
                    on-click="ctrl.onRelease($event)">
            </nv-icon-text-button>
        </div>

    </md-content>
</md-content>