@import "../../../lib/ninja-commons/styles/variables";
@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../lib/ninja-commons/styles/mixins/media-query.mixins";
@import "../../../lib/ninja-commons/styles/mixins/table.mixins";

.nv-container-priority-level {
  height: 100%;

  .horizontal-divider {
    width: 1.4rem;
  }

  .separator-line {
    height:0.1rem;
    background: $nv-text-black-3
  }

  .page-container {
    height: 100%;

    .page-data {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;

      .loading-sheet {
        left: 0;
        top: 0;
        position: absolute;
        background-color: rgba(#CFCFCF, 0.67);
        z-index: 11;
        height: 100%;
        width: 100%;
      }
      
      .content-sheet {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        .table-container {
          position: relative;
          flex: 1;
          
          nv-table {
            // column width
            @include nv-table-column-width(transaction-id, 20rem);
            @include nv-table-column-width(old-priority-level, 20rem);
            @include nv-table-column-width(priority-level, 100%);

            @include nv-table-row-height(8rem);

            // action columns
            @include nv-table-action-columns(nv-table-action-width("one-dense-p"));
          }
        }
      }
    }
  }
}