<md-content 
  class="nv-container-priority-level">
  <div class="page-container">
    <div class="page-data">
      <div class="loading-sheet" ng-if="ctrl.stateBackdrop === true" layout="column" layout-align="center center">
        <md-progress-circular md-mode="indeterminate" md-diameter="150"></md-progress-circular>
        <!-- <h5>{{ 'container.shipper-pickups.routes-updating' | translate }}</h5> -->
      </div>
      <div class="content-sheet">
        <!-- 1st section  -->
        <div layout layout-padding>
          <div class="nv-h4">{{ 'container.update-priority-level.update-all-orders' | translate }}</div>
        </div>
        <div layout="row" layout-align="start none" layout-padding>
          <div layout layout-align="start center">
            <div>{{ 'container.update-priority-level.route-date' | translate }}</div>
            <md-datepicker
              ng-model="ctrl.date"
              md-placeholder="{{'container.route-group.enter-date' | translate}}">
            </md-datepicker>
          </div>
          <div layout layout-align="start center">
            <nv-api-text-button
              md-theme="nvBlue"
              class="raised"
              state="ctrl.processAllState"
              name="Update via Route Date"
              on-click="ctrl.processAll()">
            </nv-api-text-button>
          </div>
        </div>
        <!-- LINE -->
        <div class="separator-line"></div>
        <!-- 2nd section -->
        <div layout layout-padding>
          <div class="nv-h4">{{ 'container.update-priority-level.update-via-csv-orders' | translate }}</div>
        </div>
        <div layout="row" layout-align="start none" layout-padding>
          <div layout layout-align="start center">
            <nv-icon-text-button
              md-theme="nvBlue"
              class="raised"
              name="Download Sample CSV (Orders)"
              icon="file_download"
              on-click="ctrl.downloadSampleCsv(ctrl.csvType.ORDER)">
            </nv-icon-text-button>
          </div>
          <div layout layout-align="start center">
            <nv-create-button
              name="{{'commons.upload-csv' | translate}}"
              on-click="::ctrl.selectCsv($event, ctrl.csvType.ORDER)">
            </nv-create-button>
          </div>
        </div>
        <!-- LINE -->
        <div class="separator-line"></div>
        <!-- 3rd section -->
        <div layout layout-padding>
          <div class="nv-h4">{{ 'container.update-priority-level.update-via-csv-reservations' | translate }}</div>
        </div>
        <div layout="row" layout-align="start none" layout-padding>
          <div layout layout-align="start center">
            <nv-icon-text-button
              md-theme="nvBlue"
              class="raised"
              name="Download Sample CSV (Reservations)"
              icon="file_download"
              on-click="ctrl.downloadSampleCsv(ctrl.csvType.RSVN)">
            </nv-icon-text-button>
          </div>
          <div layout layout-align="start center">
            <nv-create-button
              name="{{'commons.upload-csv' | translate}}"
              on-click="::ctrl.selectCsv($event, ctrl.csvType.RSVN)">
            </nv-create-button>
          </div>
        </div>
        <!-- START TABLE -->
        <div class="table-container" ng-if="ctrl.isTableReady === true">
          <nv-table
            param="ctrl.tableParam"
            controller-as="ctrl">
            <nv-table-row use="data">
              <nv-index></nv-index>
              <nv-td column="transactionId">{{data.transactionId || '-'}}</nv-td>
              <nv-td column="oldPriorityLevel">{{data.oldPriorityLevel || '-'}}</nv-td>
              <nv-td column="priorityLevel">{{data.priorityLevel || '-'}}</nv-td>
              <nv-action column="action">
                <nv-icon-button
                  md-theme="nvBlue"
                  class="ghost dense"
                  name="Priority Edit"
                  icon="edit"
                  on-click="ctrl.editPriorityLevel($event, data)">
                </nv-icon-button>
              </nv-action>
            </nv-table-row>
          </nv-table>
        </div>
        <!-- END OF TABLE -->
        <div layout layout-padding layout-align="end none" ng-if="ctrl.isTableReady === true">
          <nv-icon-text-button
            md-theme="nvRed"
            class="ghost"
            name="Cancel"
            on-click="ctrl.cancelCsv()">
          </nv-icon-text-button>
          <nv-api-text-button
            md-theme="nvBlue"
            class="raised"
            state="ctrl.tableUpdateState"
            name="Bulk Update"
            disabled="ctrl.isTableUpdateDisabled()"
            on-click="ctrl.bulkUpdate()">
          </nv-api-text-button>
        </div>
      </div>
    </div>
  </div>
</md-content>