<nv-dialog-header
  title="{{'container.order.edit.edit-priority-level' | translate}}"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>

<form name="modelForm" ng-submit="ctrl.onSave()">
  <md-dialog>
    <md-dialog-content>
      <div layout="row" layout-padding>
        <nv-input-number
          class="md-block"
          label="container.order.edit.delivery-priority-level"
          model="ctrl.deliveryPriorityLevel"
          form="modelForm"
          required="true">
        </nv-input-number>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <nv-api-text-button
        md-theme="nvGreen"
        name="commons.save-changes"
        icon="check"
        class="raised"
        form="modelForm"
        state="ctrl.formSubmitState"
        disabled="!ctrl.isAbleToSubmit()"
        on-click="ctrl.onSave()">
      </nv-api-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>