<nv-dialog-header title="{{'container.sms.csv-validation-errors' | translate}}" on-cancel="ctrl.onCancel()" cancel-text="commons.cancel">
</nv-dialog-header>

<md-dialog-content class="nv-sms-failed-upload-container">
    <div layout="row" layout-wrap>
        <div flex="100">
            <p>{{"container.sms.the-following-orders-have-validation-errors" | translate }}</p>
        </div>
        <div flex="100" ng-if="ctrl.allFailed">
             <p flex="100" class="all-failed">
                {{"container.sms.all-of-the-csv-records-are-invalid" | translate}}
            </p>
        </div>
           
    </div>

    <div class="failed-upload-table-container">
            <nv-table class="failed-table" param="ctrl.tableParam" controller-as="ctrl">
                <nv-table-row use="sms">
                    <nv-index></nv-index>
                    <nv-td column="tracking_id">
                        {{sms.tracking_id}}
                    </nv-td>
                    <nv-td column="errorMsg">
                        {{sms.errorMsg || '-'}}
                    </nv-td>
                </nv-table-row>
            </nv-table>
    </div>
</md-dialog-content>

<md-dialog-actions>
    <div layout="row" layout="row" layout-align=" end">
        <nv-icon-text-button 
            text="commons.continue" 
            button-id="sms-continue-on-failed-btn"
            on-click="ctrl.onContinue()" 
            class="md-raised" 
            md-theme="nvGreen">
        </nv-icon-text-button>
    </div>
</md-dialog-actions>