.nv-container-cod-list {

  > md-content {
    padding: 1rem;

    @include nv-media-query-md-min {
      padding: 2rem;
    }

    @include nv-media-query-lg-min {
      padding: 3rem;
    }

    @include nv-media-query-xl-min {
      padding: 4rem;
    }
  }

  .nv-p {
    display: flex;
    align-items: center;

    md-datepicker {
      margin-right: 1rem;
    }
  }
}