<div class="nv-container-cod-list">
  <md-content>
    <form name="ctrl.form">
    <div>
      <div class="data-header" layout="row">
        <h4>{{'container.sidenav.fleet.cod-list' | translate}}</h4>
        <span flex></span>

        <nv-create-button
          name="{{'container.cod-list.cod-add' | translate}}"
          on-click="::ctrl.addCod($event)">
        </nv-create-button>

        <nv-download-csv-button
          md-theme="nvBlue"
          data="ctrl.cods"
          csv-header="['Id', 'Route Id', 'Amount Collected', 'Inbounded By', 'Receipt No']"
          csv-column-order="['id', 'routeId', 'amountCollected', 'inboundedBy', 'receiptNo']"
          filename="cods.csv">
        </nv-download-csv-button>

        <div class="total-count" layout="row" ng-if="ctrl.cods.length > 0">
          <span class="nv-h4">Total:</span>
          <span class="nv-h3">{{ctrl.cods.length}}</span>
        </div>
      </div>
      <div class="nv-p">
        <p>From Date</p>
        <md-datepicker
          name="fromDateField"
          ng-model="ctrl.fromDate"
          md-placeholder="{{'container.cod-list.from-date' | translate}}"
          ng-change="ctrl.onDateChanged()"
          required>
        </md-datepicker>

        <p>To Date</p>
        <md-datepicker
          name="toDateField" 
          ng-model="ctrl.toDate"
          md-min-date="ctrl.fromDate"
          md-max-date="ctrl.toMaxDateModel"
          ng-change="ctrl.onDateChanged()"
          md-placeholder="{{'container.cod-list.to-date' | translate}}"
          required>
        </md-datepicker>
        
        <nv-api-text-button
          name="container.cod-list.cod-get"
          state="ctrl.codGetState"
          class="raised"
          form="ctrl.form"
          md-theme="nvBlue"
          on-click="ctrl.getCods()">
        </nv-api-text-button>
      </div>
      <div>
        <div ng-messages="ctrl.form.toDateField.$error">
            <small class="dark-red"
                   ng-message="maxdate">
              {{ 'commons.date-range-max-error' | translate:{ num: ctrl.maxDateRange } }}
            </small>
        </div>
      </div>
    </div>
    </form>
    <md-content ng-if="ctrl.cods.length > 0">
      <app-search
        nv-focus-first-input
        on-search="ctrl.onSearch(searchText)"
        placeholder="{{'container.cod-list.cod-search' | translate}}">
      </app-search>

      <div class="table-container">
        <table ng-table="ctrl.codsTableParams" class="table table-condensed table-bordered table-striped">
          <tr ng-repeat="cod in $data">

            <td data-title="'commons.id' | translate"
                sortable="'id'"
                class="id">
              {{cod.id}}
            </td>

            <td data-title="'commons.model.route-id' | translate"
                sortable="'routeId'"
                class="route-id">
              {{cod.routeId}}
            </td>

            <td data-title="'commons.model.amount-collected' | translate"
                sortable="'amountCollected'"
                class="amountCollected">
              {{cod.amountCollected | currency}}
            </td>

            <td data-title="'commons.model.inbounded-by' | translate"
                sortable="'inboundedBy'"
                class="inboundedBy">
              {{cod.inboundedBy}}
            </td>

            <td data-title="'commons.model.receipt-number' | translate"
                sortable="'receiptNo'"
                class="receiptNo">
              {{cod.receiptNo}}
            </td>

            <td data-title="'commons.actions' | translate" class="actions">
              <div class="nv-icon-button-group" layout="row" layout-align="center center">
                <nv-icon-button
                  md-theme="nvBlue"
                  class="raised"
                  name="Edit"
                  icon="edit"
                  on-click="ctrl.editCod($event, cod.id)">
                </nv-icon-button>
                <nv-icon-button
                  md-theme="nvRed"
                  class="raised"
                  name="Delete"
                  icon="delete"
                  on-click="ctrl.deleteCod($event, cod.id)">
                </nv-icon-button>
              </div>
            </td>

          </tr>
        </table>
      </div>

    </md-content>
    <md-content ng-if="ctrl.dirty && ctrl.cods.length === 0">
      <div class="nv-p">{{'container.cod-list.cod-no-exist' | translate}}</div>
    </md-content>
  </md-content>
</div>