.nv-container-hub-list {
  width: 100%;
  height: 100%;
  > md-content {
    width: 100%;
    height: 100%;
    
    .loaded {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .data-header { margin: 1.6rem; }

      .table-container {
        position: relative;
        flex: 1;
    
        nv-table {
          // column width
          @include nv-table-column-width(id, 6rem);
          @include nv-table-column-width(name, 18rem);
          @include nv-table-column-width(short-name, 14rem);
          @include nv-table-column-width(city, 12rem);
          @include nv-table-column-width(country, 12rem);
          @include nv-table-column-width(_latlng, 22rem);
          @include nv-table-column-width(_facility-type, 18rem);
          @include nv-table-column-width(_active, 100%);

          // action columns
          @include nv-table-action-columns(nv-table-action-width("three-dense-p"));
    
          tr.last-row td.end-of-result {
            .end-of-table {
              height: 5rem !important;
    
              p {
                display: none;
              }
            }
          }

          .active { color: green; }
          .deactive { color: red; }
        }
      }
    }
  }
}
