<div class="nv-container-hub-list">
  <md-content
    nv-load="ctrl.getHubs" loading-message="{{'container.hub-list.load-hubs' | translate}}">

    <app-data-header
      main-title="{{'commons.hubs' | translate}}"
      add-title="{{'container.hub-list.add-title' | translate}}"
      on-add="::ctrl.addHub($event)"
      data="ctrl.getDatas()"
      csv-header="['Id', 'Name']"
      csv-column-order="['id', 'name']"
      filename="hubs.csv">
      <nv-icon-button
        class="raised"
        md-theme="nvYellow"
        name="commons.refresh"
        icon="refresh"
        on-click="ctrl.refreshHub()">
      </nv-icon-button>
    </app-data-header>

    <nv-table-description
      table-param="ctrl.tableParam"
      title-display="mainTitle">
    </nv-table-description>
    <div class="table-container">
      <nv-table
        param="ctrl.tableParam"
        controller-as="ctrl">
        <nv-table-row
          use="hub">
          <nv-td column="id">
            {{hub.id}}
          </nv-td>
          <nv-td column="name">
            {{hub.name}}
          </nv-td>
          <nv-td column="shortName">
            {{hub.shortName}}
          </nv-td>
          <nv-td column="city">
            {{hub.city}}
          </nv-td>
          <nv-td column="country">
            {{hub.country}}
          </nv-td>
          <nv-td column="_latlng">
            {{hub._latlng}}
          </nv-td>
          <nv-td column="_facilityType">
            {{ hub._facilityType | translate }}
          </nv-td>
          <nv-td column="_active" ng-class="{ active: hub.active, deactive: !hub.active }">
            {{ hub._active }}
          </nv-td>
          <nv-action column="actions">
            <div class="nv-icon-button-group" layout="row" layout-align="center center">
              <nv-icon-button
                md-theme="nvBlue"
                class="ghost dense"
                name="commons.edit"
                icon="edit"
                on-click="ctrl.editHub($event, hub)">
              </nv-icon-button>
              <nv-icon-text-button
                ng-if="hub.active"
                md-theme="nvRed"
                class="ghost dense"
                name="commons.disable"
                on-click="ctrl.deactivateHub($event, hub)">
              </nv-icon-text-button>
              <nv-icon-text-button
                ng-if="!hub.active"
                md-theme="nvGreen"
                class="ghost dense"
                name="commons.activate"
                on-click="ctrl.activateHub($event, hub)">
              </nv-icon-text-button>
            </div>
          </nv-action>
        </nv-table-row>
      </nv-table>
    </div>
  </md-content>
</div>
