.nv-directive-file-drop {
	& {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
	}
	&.nv-file-drop-drag-hover {
		background-color: $nv-light1;
		z-index: 100;

		&.disabled {
			background-color: $nv-alternate-red;
			color: $nv-normal-red;
			div {
				border-color: $nv-normal-red;
			}			
		}
	}
	&:not(.nv-file-drop-drag-hover) {
		opacity: 0;
	}

	div {
		
		width: 96%;
    height: 96%;
    margin: 2%;
    border: 0.5rem dashed $nv-light4;

		h1 {
			pointer-events: none;
			text-align: center;
		}
	}
}