<div class="nv-directive-file-drop" ng-class="{disabled: disabled}">
	<div layout="row" layout-align="center center">
		<h1 ng-hide="disabled">{{::label}}</h1>
		<h1 ng-show="disabled">{{::disabledLabel}}</h1>
	</div>
</div>