<nv-dialog-header title="{{ 'container.warehousing.zone' | translate }}" on-cancel="::onCancel($event)" cancel-text="commons.cancel"></nv-dialog-header>

<form name="modelForm" ng-submit="::onSave()" md-theme="nvBlue">

    <md-dialog-content>
        <div class="md-dialog-content">
          <div flex="50">
            <nv-input-select
              form="modelForm"
              label="zone"
              placeholder="{{::fields.zone.displayName | translate }}"
              model="fields.zone.value"
              model-options="{ trackBy: '$value'}"
              options="fields.zone.options">
            </nv-input-select>
          </div>
          <div flex="50">
            <nv-input-number
              form="modelForm"
              label="{{::fields.chunkSize.displayName | translate }}"
              name="chunkSize"
              min="0"
              model="fields.chunkSize.value">
            </nv-input-number>
          </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <nv-button-save name="Submit" form="modelForm" state="saveButtonState"></nv-button-save>
    </md-dialog-actions>
</form>
