<md-content class="nv-shipment-inbound-container">
  <div class="hub-selection-container" layout="row" layout-align="center none" ng-if="ctrl.pageState === ctrl.PAGE.HUB_SELECTION">
    <form class="hub-selection-form" name="ctrl.hubForm" layout="row" layout-wrap layout-padding>
        <h5 class="hub-selection-title">{{"container.parcel-sweeper.select-the-following-to-begin" | translate}}</h5>
        <div flex="100" layout="column" class="hub-selector md-block field-container" >
          <nv-input-select
              label="commons.hub"
              flex="15"
              searchable="::true"
              model="ctrl.data.hub"
              model-options="{}"
              options="ctrl.data.hubs"
              form="ctrl.hubForm"
              required="true"
              set-default="::false"
              on-close="ctrl.onSelectInboundHub(ctrl.data.hub)">
          </nv-input-select>            
        </div>
        <div ng-if="ctrl.shipmentFetched" class="multi-input-container">
          <nv-multi-input
            multiselect-param="ctrl.multiselect"
            on-change="ctrl.onMultiselectChange($viewItems, $items)"
          ></nv-multi-input>
        </div>
        <div flex="100" layout="row" layout-align="end none">
          <nv-icon-text-button
            name="{{'container.parcel-sweeper.continue' | translate }}"
            state="ctrl.loadState"
            on-click="ctrl.onSelectHub()"
            class="raised h6"
            disabled="!ctrl.isShipmentFilterComplete()"
            form="ctrl.hubForm"
            theme="nvBlue">
          </nv-icon-text-button>
        </div>
    </form>    
  </div>

  <div class="scan-container" ng-if="ctrl.pageState === ctrl.PAGE.SCAN" layout="row">
    <div flex="25" class="scan-sidebar">

      <md-card>
        <md-toolbar class="connection-toolbar disconnected" 
        layout-align="none center"
        layout-padding
        layout="row" ng-class="{ 'connected': ctrl.state.isConnected }">
          <i class="material-icons" ng-if="!ctrl.state.isConnected">
            cloud_off
          </i>
          <h5 ng-if="!ctrl.state.isConnected">{{"container.parcel-sweeper.not-connected" | translate}}</h5>

          <i class="material-icons" ng-if="ctrl.state.isConnected">
            cloud_done
          </i>
          <h5 ng-if="ctrl.state.isConnected">{{"container.parcel-sweeper.connected" | translate}}</h5>
        </md-toolbar>

        <md-card-content layout="row" layout-wrap>
          <div flex="100">
            {{ 'container.parcel-sweeper.last-synced' | translate}} : {{ctrl.data.lastSynced.fromNow()}}
          </div>
          <div flex="100">
            {{'container.parcel-sweeper.items-in-queue' | translate}}: {{ctrl.requestQueue.length || 0}}
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div flex="50" class="scan-main-container" layout-wrap layout="row">
      <div flex="100" layout="row" class="main-action-buttons" layout-align="center none" layout-padding>
        <div flex="30">
          <nv-icon-text-button
            name="container.parcel-sweeper.sync-orders"
            class="raised"
            on-click="ctrl.onSyncOrders()">
          </nv-icon-text-button>
        </div>
      </div>

      <div flex="100" layout="row" layout-align="none center">
        <div flex="50" layout="row" class="panel priority-container {{ctrl.scanData.priorityLevelColorCode}}" layout-align="none center">
            <div flex="40">
                {{"container.parcel-sweeper.priority-level" | translate}}
              </div>
              <div class="inbound-data-info" flex="60">
                <span>{{ctrl.scanData.priorityLevel || '-'}}</span>
              </div>
        </div>
        <div flex="50" layout="row" class="panel order-tags-container layout-align="none center">
            <div flex="30">
                {{"container.shipment-inbound.order-tags" | translate}}
              </div>
              <div class="inbound-data-info" flex="70">
                <span>{{ctrl.scanData.orderTags || '-'}}</span>
              </div>
        </div>
        
      </div>

      <div flex="100" layout="row" class="panel rts-info-container" ng-class="{ 'display': ctrl.data.isRtsed }" layout-align="center center">
        <div ng-if="ctrl.data.isRtsed">
          {{"container.parcel-sweeper.rts-order" | translate}}
        </div>
      </div>
      <div flex="100" class="panel route-info-container" ng-class="{ 'scan-error': ctrl.scanData.scanError || ctrl.state.hasDifferentDate,
        'empty': !ctrl.data.lastScannedTrackingId,
        'unsynced': !ctrl.state.inboundSync }"
        layout="row" layout-align="none center">
        <div flex="25">
          {{"container.parcel-sweeper.route-id" | translate}}
        </div>
        <div flex="75" class="inbound-data-info">
          <h4>{{ctrl.scanData.routeId || '-'}}</h4>
          <h5>{{ctrl.scanData.driverName || '-'}}</h5>
        </div>
      </div>

      <div flex="100" class="panel zone-info-container" ng-class="{ 'scan-error': ctrl.scanData.scanError || ctrl.state.hasDifferentDate,
        'empty': !ctrl.data.lastScannedTrackingId,
        'unsynced': !ctrl.state.inboundSync }" 
        layout="row" layout-align="none center">
        <div flex="25">
          {{"container.parcel-sweeper.zone" | translate}}
        </div>
        <div flex="75" class="inbound-data-info">
          <h4 ng-if="ctrl.scanData.zone">{{ctrl.scanData.zone || '-'}}</h4>
        </div>
      </div>

      <div flex="100" class="panel different-date-container" ng-class="{ 'display': ctrl.state.hasDifferentDate }" layout-align="none center">
        {{"container.parcel-sweeper.parcel-route-has-different-date" | translate}}
      </div>

      <div flex="100" layout="row" layout-wrap layout-align="space-between center">
        <div class="selected-hub-container" layout="column" layout-align="space-between center">
          <div layout="row" class="header" layout-align="space-between center">
            <h5>{{"container.parcel-sweeper.selected-hub" | translate}}</h5>
            <a class="change-hub-link" href="javascript:void(0)" ng-click="ctrl.onEditSelectedHub($event)">
              {{'commons.edit'| translate}}
            </a>
          </div>
          <div class="selected-hub">
            <h4>{{ctrl.data.hub.name || '-'}}</h4>
          </div>
        </div>

        <div class="destination-hub-container" 
          ng-class="{ 'scan-error': ctrl.scanData.scanError && !ctrl.scanData.isSetAside, 
          'diff-hub': (ctrl.data.hub.name !== ctrl.scanData.destinationHub && ctrl.scanData.destinationHub) 
          && ctrl.state.inboundSync }" 
          layout="column" layout-align="space-between center">
          <div class="header">
            <h5>{{"container.parcel-sweeper.destination-hub" | translate}}</h5>
          </div>
          <div class="destination-hub">
            <h4>{{ctrl.scanData.destinationHub || '-'}}</h4>
          </div>
        </div>        
      </div>
      <div flex="100" class="scan-card-container" layout="row" layout-align="center none">
          <md-card>
              <md-toolbar class="scan-toolbar" 
              layout-align="space-between center"
              layout="row">
                <p>
                  {{'container.parcel-sweeper.last-scanned' | translate}}
                </p>
                <h5 class="last-scanned-tracking-id">
                  {{ctrl.data.lastScannedTrackingId || '-'}}
                </h5>
              </md-toolbar>

              <md-card-content layout="row" layout-wrap>
                <nv-input-text
                  flex="100"
                  name="scan"
                  label="container.parcel-sweeper.tracking-id"
                  model="ctrl.data.trackingId"
                  on-keypress="ctrl.onKeyPressTrackingId(event, text)"
                  class="ghost h4">
                </nv-input-text>
                <nv-icon-text-button
                  icon="add"
                  label="container.parcel-sweeper.add-prefix"
                  name="container.parcel-sweeper.add-prefix"
                  class="ghost dense add-prefix"
                  theme="nvBlue"
                  ng-if="!ctrl.state.isPrefixSet"
                  on-click="ctrl.onAddPrefix($event)">
                </nv-icon-text-button>
                <nv-icon-text-button
                  icon="add"
                  label="container.parcel-sweeper.remove-prefix"
                  name="container.parcel-sweeper.remove-prefix"
                  class="ghost dense add-prefix"
                  ng-if="ctrl.state.isPrefixSet"
                  theme="nvBlue"
                  on-click="ctrl.onAddPrefix($event)">
                </nv-icon-text-button>
              </md-card-content>
          </md-card>
        </div>


    </div>
    <div flex="25">
      <div class="shipment-id-container" layout="row">
        <div flex="50">
            {{'commons.shipment-id' | translate}}
        </div>
        <div flex="50" class="shipment-id">
            {{ctrl.data.selectedShipmentIdsAsString}}
        </div>
        
      </div>
    </div>
  </div>

  <div class="loading-sheet" ng-if="ctrl.loadingSheet === true" layout layout-align="center center">
    <md-progress-circular md-theme="nvBlue" class="md-primary" md-mode="indeterminate" md-diameter="64px"></md-progress-circular>
  </div>
  <audio media-player="mediaPlayer" playlist="audioPlaylist"></audio>

</md-content>