@import "../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../styles/variables";

.nv-container-printers {
  height: 100%;
  width: 100%;

  > md-content {
    height: 100%;
    width: 100%;

    .loaded {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;

      .data-header { padding: 1.6rem; }
      .info { padding: 0 1.6rem 0.8rem; }

      nv-download-csv-button {
        display: none;
      }

      .table-container {
        position: relative;
        flex: 1;
        
        nv-table {
          @include nv-table-column-width(name, 22rem);
          @include nv-table-column-width(ip_address, 14rem);
          @include nv-table-column-width(version, 12rem);
          @include nv-table-column-width(is_default, 32rem);
    
          @include nv-table-row-height(8rem);
          // action columns
          @include nv-table-action-columns(nv-table-action-width("three-dense-p"));

          tr.highlight.printer-default {
            td { background-color: $nv-highlight-green !important; }
          }

          td.actions > nv-icon-button > button {
            max-width: 2.8rem;
            max-height: 2.8rem;
            > div {
              max-width: 2.8rem;
              max-height: 2.8rem;
            }
          }
        }
      }
    }
  }
}