<md-content class="nv-container-printers">
  <md-content
    nv-load="ctrl.init" loading-message="{{'container.printers.load-printers' | translate}}">

    <app-data-header
      main-title="Printers"
      add-title="{{'container.printers.add-printer' | translate}}"
      on-add="::ctrl.addPrinter($event)"
      data="ctrl.getPrintersData()">
    </app-data-header>

    <div class="info">
      {{ 'container.printers.current-active' | translate: { name: ctrl.defaultPrinter.name, ipAddress: ctrl.defaultPrinter.ip_address } }}
    </div>

    <div class="table-container">
      <nv-table
        param="ctrl.tableParam"
        controller-as="ctrl"
        selectable="false">
        <nv-table-row use="data">
          <nv-index></nv-index>
          <nv-td column="name">
            {{ data.name }}
          </nv-td>
          <nv-td column="ip_address">
            {{ data.ip_address }}
          </nv-td>
          <nv-td column="version">
            {{ data.version }}
          </nv-td>
          <nv-td column="is_default">
            {{ data.is_default }}
          </nv-td>

          <nv-action column="actions">
            <nv-icon-button
              ng-child-class="ctrl.defaultPrinter.id === data.id ? 'raised' : 'flat'"
              md-theme="nvGreen"
              name="container.printers.column-default"
              icon="print"
              on-click="ctrl.setAsSessionDefaultPrinter(data)">
            </nv-icon-button>
            <nv-icon-button
              md-theme="nvBlue"
              class="ghost dense"
              name="Edit"
              icon="edit"
              on-click="ctrl.editPrinter($event, data)">
            </nv-icon-button>
            <nv-icon-button
              md-theme="nvRed"
              class="ghost dense"
              name="Delete"
              icon="delete"
              on-click="ctrl.deletePrinter($event, data)">
            </nv-icon-button>
          </nv-action>
        </nv-table-row>
      </nv-table>
    </div>
  </md-content>
</md-content>