<md-content class="nv-container-ninja-hub-provisioning md-padding">

  <div class="nv-h4">
    {{'container.ninja-hub-provisioning.mobile-applications' | translate}}
  </div>

  <nv-qrcode value="ctrl.value" size="16" show-value show-border></nv-qrcode>

</md-content>
