<md-content layout-wrap
            class="nv-container-linehaul-entries" ng-cloak nv-load="ctrl.onLoad"
>
    <div>
    </div>
    <div class="linehaul-entries-filter-container" ng-if="ctrl.showFilter">
        <div layout="row" class="filter-header" layout-padding>
            <h4 class="filter-title">{{'commons.select-filter' | translate}}</h4>
            <nv-filter-preset
                    layout-align="end"
                    filter-presets="ctrl.filterPresets"
                    selected-preset="ctrl.selectedPreset"
                    possible-filters="ctrl.possibleFilters"
                    selected-filters="ctrl.selectedFilters"
                    on-save="ctrl.savePreset(body)"
                    on-delete="ctrl.deletePreset(id)"
                    on-update="ctrl.updatePreset(id,body)"
                    filter-path="payload">
            </nv-filter-preset>
            <nv-create-button
                    id="create-linehaul1"
                    md-theme="nvGreen"
                    class="raised create-linehaul1"
                    name="{{'container.linehaul.entries.create-linehaul' | translate }}"
                    on-click="ctrl.onCreate($event)">
            </nv-create-button>
        </div>
        <nv-filter-box-container
                possible-filters="ctrl.possibleFilters"
                selected-filters="ctrl.selectedFilters"
                on-change="ctrl.onChangeFilter()"
                search-by="mainTitle">
        </nv-filter-box-container>
        <div layout="row" layout-align="center">
            <nv-api-text-button class="raised" state="ctrl.searchState" name="commons.load-selection"
                                on-click="ctrl.search()"></nv-api-text-button>
        </div>
    </div>

    <div class="linehaul-entries-table-container" ng-if="!ctrl.showFilter" layout="row" layout-wrap
         layout-align="start start">
        <div flex="100" layout="row" layout-padding layout-align="space-between center">
            <nv-icon-text-button
                    icon="filter_list"
                    class="raised"
                    on-click="ctrl.showFilterPage()"
                    name="{{'container.linehaul.entries.edit-filter' | translate }}">
            </nv-icon-text-button>
            <div flex></div>
            <nv-create-button
                    id="create-linehaul"
                    md-theme="nvGreen"
                    class="raised create-linehaul"
                    name="{{'container.linehaul.entries.create-linehaul' | translate }}"
                    on-click="ctrl.onCreate($event)">
            </nv-create-button>
        </div>
        <div flex="100" layout="row" layout-padding layout-wrap layout-align="start start"
             class="filter-info-container">
            <nv-table-description
                    table-param="ctrl.tableParam"
                    filters="ctrl.selectedFilters"
                    title-display="mainTitle">
            </nv-table-description>
        </div>
        <div flex="100" class="condensed-row-space">
            <app-search
                    class="filter-table"
                    nv-focus-first-input
                    placeholder="{{'container.linehaul.entries.find-in-local-result' | translate}}"
                    on-search="ctrl.filter(searchText)"
            >
            </app-search>
        </div>
        <md-card class="table-card">
            <md-card-content class="'nv-padding-none">
                <nv-table
                        param="ctrl.tableParam"
                        selectable="false"
                        on-infinite-scroll="ctrl.loadMore()"
                        controller-as="ctrl">
                    <nv-table-row use="linehaul">
                        <nv-index></nv-index>
                        <nv-td column="id">
                            {{linehaul.id}}
                        </nv-td>
                        <nv-td column="name">
                            {{linehaul.name}}
                        </nv-td>
                        <nv-td column="start_hub">
                            {{linehaul.startHub}}
                        </nv-td>
                        <nv-td column="transit_hub">
                            {{linehaul.transitHub}}
                        </nv-td>
                        <nv-td column="end_hub">
                            {{linehaul.endHub}}
                        </nv-td>
                        <nv-td column="frequency">
                            {{linehaul.frequency}}
                        </nv-td>
                        <nv-td column="days_of_week">
                            {{linehaul.daysOfWeek}}
                        </nv-td>
                        <nv-td column="start_date">
                            {{linehaul.startDate_f}}
                        </nv-td>
                        <nv-td column="end_date">
                            {{linehaul.endDate_f}}
                        </nv-td>
                        <nv-td column="comments">
                            {{linehaul.comments_f}}
                        </nv-td>
                        <nv-action column="actions">
                            <nv-icon-button
                                    md-theme="nvBlue"
                                    class="ghost nv-margin-auto"
                                    name="Edit"
                                    icon="edit"
                                    on-click="ctrl.onUpdate($event, linehaul)">
                            </nv-icon-button>
                            <nv-icon-button
                                    md-theme="nvRed"
                                    class="ghost nv-margin-auto"
                                    name="Delete"
                                    icon="delete"
                                    on-click="ctrl.deleteOne($event, linehaul)">
                            </nv-icon-button>
                        </nv-action>
                    </nv-table-row>
                </nv-table>
            </md-card-content>
        </md-card>
    </div>
</md-content>
