@import "../../../styles/variables";
@import "../../../styles/mixins/typography.mixins";
@import "../../../styles/mixins/shadow.mixins";
@import "../../../styles/mixins/input.mixins";

nv-search-input-progressive {

  $padding: 14px;
  $border-color: $nv-light4;
  $border-color-focus: $nv-dark-blue;
  $border-radius: 4px;

  $border-color-dark: $nv-dark4;
  $border-color-dark-focus: $nv-light-blue;

  display: flex;
  flex-direction: row;

  nv-autocomplete > .autocomplete-container {
    md-autocomplete {
      @include nv-font(p);
      height: $button-height;
      flex: 1;

      border: 1px solid $border-color;
      border-radius: $border-radius 0 0 $border-radius;
      margin: 0;

      md-autocomplete-wrap.md-whiteframe-z1, input:not(.md-input) {
        @include nv-shadow(0);
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        padding: 0;

        //clear 'x' button
        button {
          display: none;
        }
      }

      input:not(.md-input) {
        padding-left: $padding;
        padding-right: $padding;
        &, &:focus {
          border-bottom: 0px;
        }
        &[disabled] {
          background-image: none;
        }
      }
    }

    &.input-has-focus {
      md-autocomplete {
        border-color: $border-color-focus;
      }
    }
  }

  .md-button.nv-button.raised {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    @each $key, $colors in $themeColor{
      &#{ toThemeClass($key) }:not([disabled]) {
        &:hover,
        &.md-focused {
          background-color: mix(map-get($colors, 'dark'), black, 67%);
        }

        &:active {
          background-color: mix(map-get($colors, 'dark'), white, 80%);
        }
      }
    }
  }

  &.dark {
    nv-autocomplete > .autocomplete-container {
      md-autocomplete {
        border-color: $border-color-dark;
      }
      &.input-has-focus {
        md-autocomplete {
          border-color: $border-color-dark-focus;
        }
      }
    }

    .md-button.nv-button.raised {
      @each $key, $colors in $themeColor{
        &#{ toThemeClass($key) }:not([disabled]) {
          &:hover,
          &.md-focused {
            background-color: mix(map-get($colors, 'light'), black, 80%);
          }

          &:active {
            background-color: mix(map-get($colors, 'light'), white, 34%);
          }
        }
      }
    }
  }
}