<md-dialog-content layout="row" layout-wrap>
  <h4>{{"commons.settings" | translate}}</h4>
  <div flex="100">
    <nv-input-checkbox
      label="{{'container.shipment-scanning.enable-different-hub-alert' | translate}}"
      model="ctrl.settings.hubAlert">
    </nv-input-checkbox>
  </div>

</md-dialog-content>

<md-dialog-actions>
  <div layout="row" layout-padding layout-align="end center">            
    <nv-icon-text-button 
      class="flat"
      icon=""        
      aria-label="Cancel" 
      on-click="ctrl.onCancel($event)" 
      name="{{'commons.cancel' | translate }}"  id="cancel-setting" >
    </nv-icon-text-button>

    <nv-icon-text-button 
      class="flat"
      icon=""
      md-theme="nvGreen" 
      aria-label="Save" 
      on-click="ctrl.onSave($event)" 
      name="{{'commons.save' | translate }}"  id="save-setting">
    </nv-icon-text-button>
  </div>

</md-dialog-actions>
