.ninja-pack-tid-generator-confirmation-dialog {
  width: 54rem !important;

  .field-row {
    padding: 0.4rem 0;
    font-size: 1.8rem;
    .title { font-weight: bold; }
  }

  md-dialog-actions {
    padding: 2.4rem;
    nv-icon-text-button > button.md-nvBlue-theme:not([disabled]) { color: #f7f7f7 !important; }
  }
  
}