<nv-dialog-header
  title="Review Ninja Pack ID generator selection"
  on-cancel="onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>
<md-dialog-content class="md-dialog-content">
  <div class="field-row" layout flex>
    <div class="title" flex="50">{{ 'container.ninja-pack-tid-generator.parcel-size' | translate }}</div>
    <div layout flex="50">{{ payload.parcel_size }}</div>
  </div>
  <div class="field-row" layout flex>
    <div class="title" flex="50">{{ 'container.ninja-pack-tid-generator.service-scope' | translate }}</div>
    <div layout flex="50">{{ payload.service_scope }}</div>
  </div>
  <div class="field-row" layout flex>
    <div class="title" flex="50">{{ 'container.ninja-pack-tid-generator.quantity' | translate }}</div>
    <div layout flex="50">{{ payload.count }}</div>
  </div>
</md-dialog-content>
<md-dialog-actions layout="row">
  <div flex="50" layout layout-align="end">
    <nv-icon-text-button
      name="commons.confirm"
      text="commons.confirm"
      on-click="onConfirm()"
      class="raised"
    ></nv-icon-text-button>
  </div>
</md-dialog-actions>