@import "../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../lib/ninja-commons/styles/mixins/typography.mixins";




.nv-container-recovery-tickets{
  background: #ebebeb;
  height:100%;
  padding: 0;

  .loaded{
    width:100%;
    height: 100%;
  }
  .recovery-tickets-filter-container{
    padding: 1rem;
    @include nv-media-query-md-min {
      padding: 2rem;
    }

    @include nv-media-query-lg-min {
      padding: 3rem;
    }

    @include nv-media-query-xl-min {
      padding: 4rem;
    }
    md-input-container.query-box{
      margin-top: 2.5rem;
    }

    .filter-header {
      padding-left: 1.4rem;
      padding-right: 1.4rem;
      margin-bottom: 1.4rem;
      h4.filter-title {        
        color: $nv-text-black-2;
      }
      .csv-find-orders-btn {
        margin-left: .5rem;
      }
    }
  }

  .recovery-tickets-table-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .condensed-row-space{
      padding-top: .4rem;
      padding-bottom: .4rem;
      margin:0;
    }
    .filter-info-container{
      background: #EAEFF2;

      .filter-info-wrap{
        margin-bottom: 0px;
        height: 6rem;
        max-height: 6rem;
        .filter-info{
          h6{
            font-weight: normal;
            margin: 0;
          }
          p{
            margin: 0;
            font-size: 0.9rem;
          }
        }
      }
    }

    .filter-table{
      background: #fff;
      md-icon i.material-icons:after{
        content: 'filter_list';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: white;
      }

    }

    div.table-container{
      position: relative;
      flex:1;
      nv-table.ticket-table {
        // column width
        @include nv-table-column-width(days-due, 12rem);
        @include nv-table-column-width(_created-at, 20rem);
        @include nv-table-column-width(id, 10rem);
        @include nv-table-column-width(ticket-type-sub-type, 30rem);
        @include nv-table-column-width(status, 15rem);
        @include nv-table-column-width(assignee-name, 20rem);
        @include nv-table-column-width(investigating-party, 20rem);
        @include nv-table-column-width(investigating-hub, 15rem);
        @include nv-table-column-width(hub-name, 15rem);
        @include nv-table-column-width(tracking-id, 20rem);
        @include nv-table-column-width(shipper, 15rem);
        @include nv-table-column-width(order-status, 15rem);
        @include nv-table-column-width(order-granular-status, 18rem);
        @include nv-table-column-width(ticket-creator, 15rem);
        // action columns
        @include nv-table-action-columns(10rem);
      }
    }
  }
}
