<md-content layout-wrap
  class="nv-container-recovery-tickets"
            nv-load="ctrl.onLoaded"
            loading-message="{{'container.route-logs.load-data' | translate}}"
>

    <div class="recovery-tickets-filter-container" ng-if="ctrl.showFilter">
        <div layout-align="space-between top" layout="row" layout-padding>            
            <div flex></div>
            <nv-create-button
                    md-theme="nvGreen"
                    class="raised"
                    name="Create New Ticket"
                    on-click="::ctrl.createOne($event)">
            </nv-create-button>
            <nv-icon-text-button
                class="raised"
                name="container.recovery-tickets.create-by-csv"
                on-click="ctrl.openUploadCsvDialog($event)"
                md-theme="nvGreen">
            </nv-icon-text-button>

        </div>
        <div layout="row" class="filter-header" layout-align="none center">
            <h4 class="filter-title">{{'commons.select-filter' | translate}}</h4>
            <nv-filter-preset
                    layout-align="end"
                    filter-presets="ctrl.filterPresets"
                    selected-preset="ctrl.selectedPreset"
                    possible-filters="ctrl.possibleFilters"
                    selected-filters="ctrl.selectedFilters"
                    on-save="ctrl.savePreset(body)"
                    on-delete="ctrl.deletePreset(id)"
                    on-update="ctrl.updatePreset(id,body)"
                    filter-path="payload">
            </nv-filter-preset>
            <nv-icon-text-button
                md-theme="nvYellow"
                class="ghost csv-find-orders-btn"
                icon="file_upload"
                name="container.recovery-tickets.find-tickets-by-csv"
                on-click="ctrl.searchByCsvDialog($event)">
            </nv-icon-text-button>
        </div>
        <form name="ctrl.filterForm">
            <nv-filter-box-container
                possible-filters="ctrl.possibleFilters"
                selected-filters="ctrl.selectedFilters"
                on-change="ctrl.onChangeFilter()"
                search-by="mainTitle"
                form="ctrl.filterForm">
            </nv-filter-box-container>
        </form>
        
        <div layout="row" layout-align="center">
            <nv-api-text-button class="raised" state="ctrl.getPageState()" name="commons.load-selection"
                                on-click="ctrl.searchAllTickets()"></nv-api-text-button>
        </div>
    </div>
    <div class="recovery-tickets-table-container" ng-if="!ctrl.showFilter">
        <div class="action-toolbar">
            <div flex="100" layout="row" layout-padding layout-align="space-between center">
                <nv-icon-text-button
                    icon="filter_list"
                    class="raised"
                    on-click="::ctrl.openFilter()"
                    name="Edit Filter">

                </nv-icon-text-button>
                <div flex></div>

                <div flex="10" ng-if="ctrl.userSelectItem">
                    {{"container.recovery-tickets.x-selected" | translate: { x: ctrl.tableParam.getSelectionCount()} }}
                </div>
                <nv-icon-text-button
                    icon="done_all"
                    class="raised"
                    on-click="::ctrl.bulkUpdate()"
                    name="Bulk Update"
                    ng-if="ctrl.userSelectItem"
                >
                </nv-icon-text-button>

                <nv-download-csv-button
                        id="button-download-as-csv"
                        class="raised"
                        md-theme="nvGreen"
                        name="Download CSV"
                        filename="{{ctrl.csvFileName}}"
                        data="ctrl.csvData"
                        csv-header="{{ctrl.csvHeader}}"
                        ng-if="ctrl.userSelectItem"
                        csv-column-order="{{ctrl.csvField}}">
                </nv-download-csv-button>

                <nv-create-button
                        id="create-ticket-a"
                        md-theme="nvGreen"
                        class="raised create-ticket"
                        name="Create New Ticket"
                        on-click="ctrl.createOne($event)"
                ></nv-create-button>
                <nv-icon-text-button
                    class="raised"
                    name="container.recovery-tickets.create-by-csv"
                    on-click="ctrl.openUploadCsvDialog($event)"
                    md-theme="nvGreen">
                </nv-icon-text-button>
            </div>
        </div>
        <nv-table-description
            table-param ="ctrl.tableParam"
            filters="ctrl.selectedFilters"
            title-display="mainTitle"
            >
        </nv-table-description>
        <div class="table-container">
                <nv-table
                    class="ticket-table"
                    param="ctrl.tableParam"
                    selectable="true"
                    additional-menu="ctrl.additionalMenu"
                    on-infinite-scroll="ctrl.loadMore()"
                    controller-as="ctrl">
                    <nv-table-row use="ticket">
                        <nv-index></nv-index>
                        <nv-td column="daysDue">
                            {{ticket.daysDue}}
                        </nv-td>
                        <nv-td column="_createdAt">
                            {{ticket._createdAt}}
                        </nv-td>
                        <nv-td column="id">
                            {{ticket.id}}
                        </nv-td>
                        <nv-td column="ticketTypeSubType">
                            {{ticket.ticketTypeSubType}}
                        </nv-td>
                        <nv-td column="status">
                            {{ticket.status}}
                        </nv-td>
                        <nv-td column="assigneeName">
                            {{ticket.assigneeName}}
                        </nv-td>
                        <nv-td column="investigatingParty">
                            {{ticket.investigatingParty}}
                        </nv-td>
                        <nv-td column="investigatingHub">
                            {{ticket.investigatingHub}}
                        </nv-td>
                        <nv-td column="hubName">
                            {{ticket.hubName}}
                        </nv-td>
                        <nv-td column="trackingId">
                            <a href="javascript:;" ng-click="ctrl.openEditOrder(ticket.trackingId)">{{ticket.trackingId}}</a>
                        </nv-td>
                        <nv-td column="shipper">
                            {{ticket.orderDetails.shipper || '-'}}
                        </nv-td>
                        <nv-td column="orderStatus">
                            {{ticket.orderStatus || '-'}}
                        </nv-td>
                        <nv-td column="orderGranularStatus">
                            {{ticket.orderGranularStatus || '-'}}
                        </nv-td>
                        <nv-td column="ticketCreator">
                            {{ticket.ticketCreator}}
                        </nv-td>
                        <nv-action column="actions">
                            <nv-icon-button
                            md-theme="nvBlue"
                            class="ghost nv-margin-auto"
                            name="Edit"
                            icon="edit"
                            on-click="ctrl.updateOne($event, ticket)">
                            </nv-icon-button>
                        </nv-action>
                    </nv-table-row>
                </nv-table>
        </div>
    </div>


</md-content>

