<nv-dialog-header 
  title="{{ 'container.third-party-order.upload-result' | translate }}" 
  on-cancel="::onCancel($event)" 
  cancel-text="commons.cancel">
</nv-dialog-header>

<md-dialog-content>
  <div class="md-dialog-content">
    <table class="table table-condensed table-bordered">
      <thead>
        <tr>
          <th class="text-center">NV Tracking ID</th>
          <th class="text-center">3PL Shipper Id</th>
          <th class="text-center">3PL Tracking ID</th>
          <th class="text-center">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in result" ng-show="result.length > 0" ng-class="{success: row.resultStatus.code == 200, danger: row.resultStatus.code != 200}">
          <td class="text-center">{{ row.trackingId }}</td>
          <td class="text-center">{{ row.thirdPartyOrder.thirdPartyShipper.id }}</td>
          <td class="text-center">{{ row.thirdPartyOrder.thirdPartyTrackingId }}</td>
          <td class="text-center">{{ row.resultStatus.message }}</td>
        </tr>
        <tr ng-show="result.length <= 0">
          <td colspan="5" class="text-center">No Result</td>
        </tr>
      </tbody>
    </table>
  </div>
</md-dialog-content>