<nv-dialog-header 
  title="{{ 'container.third-party-order.add-order' | translate }}" 
  on-cancel="::onCancel($event)" 
  cancel-text="commons.cancel">
</nv-dialog-header>

<form name="modelForm" ng-submit="::onSave()" md-theme="nvBlue">
  <md-dialog-content>
    <div class="md-dialog-content">
      <nv-input-text
        class="md-block"
        label="{{::fields.trackingId.displayName}}"
        model="fields.trackingId.value"
        form="modelForm"
        required="::true">
      </nv-input-text>

      <nv-input-text
        class="md-block"
        label="{{::fields.thirdPartyOrder.thirdPartyTrackingId.displayName}}"
        model="fields.thirdPartyOrder.thirdPartyTrackingId.value"
        form="modelForm"
        required="::true">
      </nv-input-text>

      <nv-input-select
        class="md-block" flex="50"
        label="{{::fields.thirdPartyOrder.thirdPartyShipper.id.displayName}}"
        model="fields.thirdPartyOrder.thirdPartyShipper.id.value" model-options="{trackBy: '$value'}"
        options="fields.thirdPartyOrder.thirdPartyShipper.id.options"
        form="modelForm" required="::true">
      </nv-input-select>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <nv-button-save name="Submit" form="modelForm" state="saveButtonState"></nv-button-save>
  </md-dialog-actions>
</form>
