@import "../../../../lib/ninja-commons/styles/mixins/layout.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../../lib/ninja-commons/styles/mixins/typography.mixins";

.pricing-script-time-bounded {
  height: 100%;
  padding: 0em;

  .action-toolbar {
    padding: 1rem;
    background-color: #015F1D;
    font-size: 1.4rem;
    color: $nv-tb05;

    &.active {
      background-color: $nv-dark3;
    }

    button {
      margin-left: 0.25em;
      margin-right: 0.25em;
    }

  }

  .fill-height {
    height: 100%;
  }

  div[class*="flex"] {
    margin: auto;
  }

  > div {
    height: 100%;

    md-content {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;

      &.content {

        margin-top: 2em;

        .header {
          margin-bottom: 1rem;

          h4 {
            margin-top: 5px;
            span {
              @include nv-font-color(black, 2);
            }
          }

          .detail {
            margin: 1em;
            &:first-child {
              margin-left: 0em;
            }

            label {
              color: $nv-text-black-2;
            }
          }
        }

        .table-container {
          position: relative;
          flex: 1;

          nv-table {
            // column width
            @include nv-table-column-width(name, 30%);
            @include nv-table-column-width(status, 20%);
            @include nv-table-column-width(last_edit, 20%);
            @include nv-table-column-width(duration, 30%);

            // action columns
            @include nv-table-action-columns(nv-table-action-width("one-dense-p"));

            tr.last-row td.end-of-result {
              .end-of-table {
                height: 5rem !important;

                p {
                  display: none;
                }
              }
            }

            .draft {
              color: red;
            }

            .active {
              color: green;
            }

            .expired {
              color: $nv-text-black-2;
            }
          }
        }
      }
    }
  }
}