<md-content class="pricing-script-time-bounded" nv-load="ctrl.getChildScripts">
    <div class="action-toolbar active">
        <div layout="row" layout-align="space-between center" class="nv-text-center">
            <nv-icon-text-button
                    class="flat dark alternate"
                    name="commons.cancel"
                    icon="cancel"
                    on-click="ctrl.onClickCancel($event)">
            </nv-icon-text-button>
            <div>{{ 'container.pricing-scripts.manage-time-bounded-scripts' | translate }}</div>
            <div></div>
        </div>
    </div>
    <div layout="row" class="fill-height">
        <div flex flex-gt-sm="66" class="fill-height">
            <md-content class="content">
                <div class="header">
                    <div layout="column">
                        <h4>{{'container.pricing-scripts.script-information' | translate}}</h4>
                        <div layout="row">
                            <div layout="column" class="detail">
                                <label>{{'commons.name' | translate}}</label>
                                <span>{{ctrl.data.script.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header">
                    <div layout="row">
                        <h4>{{'container.pricing-scripts.child-scripts-list' | translate}}</h4>
                        <span flex></span>
                        <nv-create-button
                                name="Add Child"
                                on-click="::ctrl.addChild($event)">
                        </nv-create-button>
                    </div>
                </div>
                <div class="table-container">
                    <nv-table param="ctrl.tableParam" controller-as="ctrl">
                        <nv-table-row use="script">
                            <nv-td column="name" filter="false">
                                {{script.name}}
                            </nv-td>
                            <nv-td column="status" filter="false" ng-class="{draft: script.time_bounded_status === 'Draft', expired: script.time_bounded_status === 'Expired', active: script.time_bounded_status === 'Active'}">
                                {{script.time_bounded_status}}
                            </nv-td>
                            <nv-td column="last_edit" filter="false">
                                {{script.lastModified}}
                            </nv-td>
                            <nv-td column="duration" filter="false">
                                {{script.duration}}
                            </nv-td>
                            <nv-action column="act">
                                <div class="nv-icon-button-group" layout="row" layout-align="center center">
                                    <nv-icon-button
                                            md-theme="nvBlue"
                                            class="ghost dense"
                                            name="commons.edit"
                                            icon="edit"
                                            on-click="ctrl.editScript(script.id)">
                                    </nv-icon-button>
                                </div>
                            </nv-action>
                        </nv-table-row>
                    </nv-table>
                </div>
            </md-content>
        </div>
    </div>
</md-content>