<nv-dialog-header title="Add Partner" on-cancel="::onCancel($event)"></nv-dialog-header>
<form name="modelForm" ng-submit="::onSave()" md-theme="nvBlue">
  <md-dialog-content>
    <div class="md-dialog-content">
      <nv-input-text
        class="md-block"
        label="Name"
        model="fields.name.value"
        form="modelForm"
        required="::true"
        help-text="Fill in your name here"
        confirm="fields.name.value.length > 10"
        confirm-text="You have a beautiful name.">
      </nv-input-text>
      <div class="md-block multi-input-row" layout="row">
        <nv-input-text
          label="POC Name"
          model="fields.pocName.value"
          form="modelForm"
          required="::true"
          help-text="Alpha Numeric 0-9A-Za-z"
          confirm="fields.pocName.value.length > 5"
          confirm-text="Good Name">
        </nv-input-text>

        <nv-input-tel
          label="Phone Number"
          model="fields.pocTel.value"
          form="modelForm"
          required="::true"
          confirm="fields.pocTel.value.length === 8"
          confirm-text="Valid Phone Number"
          help-text="Phone number that we can contact you.">
        </nv-input-tel>
      </div>
      <nv-input-email
        id="email"
        class="md-block"
        label="Email"
        model="fields.pocEmail.value"
        form="modelForm"
        required="::true"
        help-text="Show me your best email address"
        confirm-text="Cool. This looks good :)"
        confirm="modelForm.email.$valid">
      </nv-input-email>
      <nv-input-textarea
        class="md-block"
        label="Restrictions"
        model="fields.restrictions.value"
        form="modelForm">
      </nv-input-textarea>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
      <nv-button-save name="Submit" form="modelForm" state="saveButtonState"></nv-button-save>
  </md-dialog-actions>
</form>