nv-waypoint-bar {
  min-width: 0.8rem;
  outline: none;

  >div.flag {
    color: #34383c;
    min-width: 0.8rem;
    height: 100%;
    margin-left: -0.1rem;
    border: 0.1rem solid #000;
    outline: none;

    &.successful { background-color: #03af4b; }
    &.valid-failed { background-color: #f4c1a1; }
    &.pending { background-color: #818181; }
    &.invalid-failed { background-color: #ff5454; }
    &.reservation { background-color: #01a8ef; }
    &.none { background-color: transparent; }
    
    &.highlighted {
      -webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -o-transform: scale(1.3);
      transform: scale(1.3);
    }
    
    :hover, :focus {
      text-decoration: none;
      color: #34383c;
    }

    >div.overlay {
      height: 28%;
      color: #404041;
      min-width: 0.8rem;
      border-top: none;
      border-bottom: 0.1rem solid #000;

      &.early { background-color: #ffffff; }
      &.late { background-color: #000000; }
      &.impending-timeslots { background-color: #ffff04; }
      &.late-pending { background-color: #fe0203; }
      &.none { background-color: transparent; border-bottom: none; }

      &.bottom {
        border-top: 0.1rem solid #000;
        border-bottom: none;

        &.return-pickup { background-color: #492faf; }
        &.c2c-pickup { background-color: #FF0000; }
        &.none { background-color: transparent; border-top: none;}
      }
    }
  }
}

md-tooltip.tooltip-multiline.waypoint-bar .md-content {
  height: auto;
  font-size: 1.6rem;
}