<div class="flag {{main}}" ng-class="{ 'highlighted': tooltipParam.focus }" layout="column" layout-align="space-between">
  <div class="overlay" ng-class="overlay"></div>
  <div class="overlay bottom" ng-class="overlayBottom"></div>
  <md-tooltip class="tooltip-multiline waypoint-bar" ng-if="tooltip">
    {{ 'commons.type' | translate }}: {{tooltipParam.type}}<br/>
    {{ 'commons.tracking-ids' | translate }}: {{tooltipParam.trackingIds}}<br/>
    {{ 'commons.timewindow' | translate }}: {{tooltipParam.timeWindows}}<br/>
    {{ 'container.route-monitoring.waypoint-status' | translate }}: {{tooltipParam.status}}<br/>
    {{ 'container.route-monitoring.service-end-time' | translate }}: {{ tooltipParam.serviceEndTime }}<br/>
    {{ 'commons.name' | translate }}: {{tooltipParam.name}}<br/>
    {{ 'commons.contact' | translate }}: {{tooltipParam.contact}}<br/>
    {{ 'commons.email' | translate }}: {{tooltipParam.email}}<br/>
    {{ 'commons.address' | translate }}: {{tooltipParam.address}}<br/>
  </md-tooltip>
</div>