@import "../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../styles/variables";

.nv-dp-tagging {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .toolbar {
    flex-shrink: 0;
    min-height: 12rem;

    .toolbar-btn {
      button{
        margin-right: .5rem;
      }
    }

    nv-button-file-picker {
      display: inline-block;
      margin-right: $nv-baseline-grid;
    }
  }

  .loading-sheet {
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(#CFCFCF, 0.67);
    z-index: 11;
    height: 100%;
    width: 100%;
  }

  .result {
    overflow: auto;
    min-height: 30rem;
    height: 100%;

    .table-container {
      height: 100%;
      position: relative;

      nv-table {
        // column width
        @include nv-table-column-width(tracking-id, 18rem);
        @include nv-table-column-width(order-type, 12rem);
        @include nv-table-column-width(order-granular-status, 16rem);
        @include nv-table-column-width(address, 22rem);
        @include nv-table-column-width(shipper-name, 16rem);
        @include nv-table-column-width(current-distribution-point-id, 12rem);

        // action columns
        @include nv-table-action-columns(nv-table-action-width("three-dense-p"), 20rem, 16rem);

        tr {
          .current-distribution-point-id {
            width: 100%;
          }

          .distribution-point-id, .drop-off-date {
            md-input-container {
              margin: 0;
            }
          }

          .actions {
            text-align: center;

            md-progress-circular {
              margin: auto;
            }
          }
        }

        tr.last-row td.end-of-result {
          .end-of-table {
            height: 5rem !important;

            p {
              display: none;
            }
          }
        }
      }
    }
  }
}
