<md-content class="nv-dp-tagging">
  <div ng-if="ctrl.capacityState === 'waiting'"
    class="loading-sheet" layout="column" layout-align="center center">
    <md-progress-circular md-mode="indeterminate" md-diameter="150"></md-progress-circular>
    <h5>{{ 'container.dp-tagging.dp-capacity-updating' | translate }}</h5>
  </div>
  <md-card class="toolbar">
    <div class="upload-and-filter-container" ng-if="ctrl.uploadState!='waiting'" layout="row" layout-wrap layout-padding>
      <p flex="100">
        {{'container.dp-tagging.select-and-upload-csv-mapping-for-dp-tagging' | translate}}
      </p>
      <div flex layout="row">
        <nv-button-file-picker
          md-theme="nvBlue"
          class="raised"
          label="{{ 'commons.select-file' | translate }}"
          accept="{{ ctrl.filePickerType }}"
          multiple="false"
          on-file-select="ctrl.onFileSelect($file)">
        </nv-button-file-picker>
        <nv-icon-text-button
          name="container.dp-tagging.download-sample-csv"
          on-click="ctrl.downloadSampleCsv()"
          class="ghost"
          md-theme="nvBlue">
        </nv-icon-text-button>
        <div flex></div>
        <div layout="row"
             class="toolbar-btn"
             ng-if="(ctrl.deliveryResultsTableParams && !ctrl.deliveryResultsTableParams.empty) || (ctrl.pickupResultsTableParams && !ctrl.pickupResultsTableParams.empty)">
          <nv-icon-text-button
            name="container.dp-tagging.export-to-csv"
            on-click="ctrl.downloadCurrentViewToCsv()"
            class="raised"
            md-theme="nvBlue">
          </nv-icon-text-button>
          <nv-api-text-button
            name="container.dp-tagging.untag-all"
            on-click="ctrl.untagBulkToDp()"
            class="raised"
            state="ctrl.untaggingState"
            md-theme="nvRed"
          >
          </nv-api-text-button>
          <nv-api-text-button
            name="container.dp-tagging.assign-all"
            on-click="ctrl.assignMultiple()"
            class="raised"
            state="ctrl.updateState"
            md-theme="nvGreen">
          </nv-api-text-button>
        </div>
      </div>
    </div>
    <div class="upload-progress-container" layout-padding layout="column" ng-if="ctrl.uploadState=='waiting'">
      <h5>{{"container.dp-tagging.uploading-csv-is-in-progress" | translate}}</h5>
      <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>
  </md-card>

  <div class="result">
    <div class="table-container"
         layout="column" layout-padding
         ng-if="ctrl.deliveryResultsTableParams && !ctrl.deliveryResultsTableParams.empty">
      <h5>{{'container.dp-tagging.delivery-dp-orders' | translate}}</h5>

      <nv-table
        param="ctrl.deliveryResultsTableParams"
        selectable="true"
        controller-as="ctrl">
        <nv-table-row
          use="order">
          <nv-index></nv-index>
          <nv-td column="trackingId">
            <a href="javascript:;"
               ng-click="ctrl.editOrder(order)">
              {{ order.trackingId }}
            </a>
          </nv-td>
          <nv-td column="orderType">{{ order.orderType }}</nv-td>
          <nv-td column="orderGranularStatus">{{ order.orderGranularStatus }}</nv-td>
          <nv-td column="address">{{ order.address }}</nv-td>
          <nv-td column="shipperName">{{ order.shipperName }}</nv-td>
          <nv-td column="currentDistributionPointId">{{ order.currentDistributionPointId }}</nv-td>

          <nv-action column="distributionPointId">
            <nv-input-select
              ng-if="ctrl.dpOptions.length > 0 && order.orderId"
              label="{{'container.dp-tagging.select-dp' | translate}}"
              show-label="::false"
              model="order.distributionPointId"
              model-options="{}"
              options="ctrl.dpOptions"
              on-change="ctrl.refreshOrderDate(order)">
            </nv-input-select>
            <span ng-if="ctrl.dpOptions.length === 0">{{ 'container.dp-tagging.no-dp-available' | translate }}</span>
          </nv-action>

          <nv-action column="dropOffDate">
            <nv-input-select
              ng-if="order.dateOptions.length > 0 && order.orderId"
              label="{{'commons.select.route-groups' | translate}}"
              show-label="::false"
              model="order.dropOffDate"
              model-options="{}"
              options="order.dateOptions">
            </nv-input-select>
            <span ng-if="order.dateOptions.length === 0">{{ 'container.dp-tagging.no-possible-options' | translate }}</span>
          </nv-action>

          <nv-action column="actions">
            <nv-icon-button
              ng-if="!order.isLoading"
              class="ghost dense"
              icon="assignment_turned_in"
              name="{{'container.dp-tagging.assign-dp' | translate}}"
              on-click="ctrl.assignSingle(order)"
              disabled="order.distributionPointId === null">
            </nv-icon-button>
            <md-progress-circular
              class="md-primary"
              md-mode="indeterminate"
              md-diameter="30px"
              ng-if="order.isLoading">
            </md-progress-circular>

            <nv-icon-button
              ng-if="order.isError"
              md-theme="nvRed"
              class="raised dense"
              icon="cancel"
              name="{{order.message}}">
            </nv-icon-button>
          </nv-action>
        </nv-table-row>
      </nv-table>
    </div>
  </div>

  <!-- todo: cautions: we detach this pickup feature (lazada eco changes) -->
  <!-- <div class="table-container" layout="column" layout-padding ng-if="ctrl.pickupResultsTableParams && !ctrl.pickupResultsTableParams.empty"> -->
  <div class="table-container" layout="column" layout-padding ng-if="false">
      <h5>{{'container.dp-tagging.pickup-dp-orders' | translate}}</h5>      
      <table class="dp-assignment-table table table-stripped">
        <thead>
          <tr>
            <th class="no">{{'container.dp-tagging.no' | translate}}</th>
            <th class="tracking-id">{{'container.dp-tagging.tracking-id' | translate}}</th>
            <th class="order-type">{{'container.dp-tagging.order-type' | translate}}</th>
            <th class="granular-status">{{'container.dp-tagging.granular-status' | translate}}</th>
            <th class="delivery-address">{{'container.dp-tagging.delivery-address' | translate}}</th>
            <th class="shipper">{{'container.dp-tagging.shipper' | translate}}</th>
            <th class="current-dp-id">{{'container.dp-tagging.current-dp-id' | translate}}</th>
            <th class="dp-id">{{'container.dp-tagging.dp-id' | translate}}</th>
            <th class="assign">{{'container.dp-tagging.assign' | translate}}</th>
            <th class="action">{{'container.dp-tagging.action' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="order in ctrl.uploadPickupResults">
            <td class="no">{{$index + 1}}</td>
            <td class="tracking-id">{{order.trackingId}}</td>
            <td class="order-type">{{order.orderType}}</td>
            <td class="granular-status">{{order.orderGranularStatus}}</td>
            <td class="delivery-address">{{order.address1}} {{order.address2}}</td>
            <td class="shipper">{{order.shipperName || '-'}}</td>
            <td class="current-dp-id">{{order.distributionPointId || '-'}}</td>
            <td class="dp-id">
              <nv-input-number 
                model="order.newDpId"
                name="dpid"
                class="dpid"
              >
              </nv-input-number>
            </td>
            <td class="assign">
              <nv-input-checkbox
                model="order.selected"
                name="selected">
              </nv-input-checkbox>
            </td>
            <td class="action">
              <nv-icon-button
                icon="search"
                name="{{'container.dp-tagging.view-order' | translate}}"
                on-click="ctrl.editOrder(order)"
              >
              </nv-icon-button>
  
              <nv-icon-button
                icon="assignment_turned_in"
                name="{{'container.dp-tagging.assign-order' | translate}}"
                on-click="ctrl.assignSingle(order)"
              >
              </nv-icon-button>
  
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</md-content>