@import "../../../../../lib/ninja-commons/styles/mixins/table.mixins";

.zonal-routing-error-routes {
  md-dialog-content.md-dialog-content {
    .container {
      $border: 0.1rem solid #d1d3d4;

      margin-top: 4rem;
      border: $border;

      .element {
        border-bottom: $border;
        color: white;
        padding: 0.7rem 1.4rem;

        &.error  { background-color: $nv-highlight-red; color: $nv-dark-red; }
        &.success  { background-color: $nv-light-green; }
        &:last-child { border-bottom: none; }
      }
    }
  }
}