<nv-dialog-header
  title="{{'container.zonal-routing.error-routes' | translate}}"
  on-cancel="ctrl.onCancel()"
  cancel-text="commons.cancel">
</nv-dialog-header>
<form name="modelForm">
  <md-dialog>
    <md-dialog-content class="md-dialog-content">
      <div>
        <h5>{{ 'container.zonal-routing.waypoint-below-belong-to-route' | translate }}</h5>
      </div>
      <div class="container">
        <div class="element"
             layout flex layout-align="start center"
             ng-repeat="route in ctrl.errorRoutes"
             ng-class="{error: route.error, success: !route.error}">
          <span ng-if="route.error" flex>{{ 'container.zonal-routing.waypoint-ids-in-status-routed' | translate: { ids: route.wpIds.join(', ') } }}</span>
          <span ng-if="!route.error" flex>{{ 'container.zonal-routing.waypoint-ids-resolved' | translate: { ids: route.wpIds.join(', ') } }}</span>
          <span>
            <nv-api-icon-button
              class="raised"
              ng-if="route.error"
              name="commons.try-again"
              icon="autorenew"
              state="route.state"
              on-click="ctrl.setWaypointToPending(route)"
              disabled="route.disabled"
            ></nv-api-icon-button>
            <div ng-if="!route.error">{{ 'commons.ok' | translate }}</div>
          </span>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <nv-icon-text-button
        md-theme="nvGreen"
        name="commons.ok"
        icon="check"
        class="raised"
        disabled="ctrl.containsError()"
        on-click="ctrl.onClose($event)">
      </nv-icon-text-button>
    </md-dialog-actions>
  </md-dialog>
</form>
