@import "../../../../lib/ninja-commons/styles/mixins/table.mixins";

.table-demo {

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0 1rem;

  div.table-container {
    position: relative;
    flex: 1;

    nv-table {
      // column width
      @include nv-table-column-width(id, 6rem);
      @include nv-table-column-width(name, 14rem);
      @include nv-table-column-width(driver-type, 18rem);
      @include nv-table-column-width(vehicles-vehicle-type, 13rem);
      @include nv-table-column-width(first-name, 16rem);
      @include nv-table-column-width(last-name, 11rem);
      @include nv-table-column-width(license-number, 18rem);
      @include nv-table-column-width(availability, 12rem);
      @include nv-table-column-width(cod-limit, 10rem);
      @include nv-table-column-width(max-biddable-waypoints, 16rem);
      @include nv-table-column-width(username, 14rem);
      @include nv-table-column-width(password, 13rem);
      @include nv-table-column-width(comments, 15rem);

      // row height
      // @include nv-table-row-height(23rem);

      // action columns
      @include nv-table-action-columns(nv-table-action-width("two-dense-p"), 9rem);
    }
  }
}
