<div class="table-demo">
  <nv-table-description table-param="ctrl.tableParam">
  </nv-table-description>
  <div class="table-container">
    <nv-table
      ng-if="!ctrl.tableParam.empty"
      param="ctrl.tableParam"
      selectable="true"
      controller-as="ctrl">
      <nv-table-row
        use="driver">
        <nv-index></nv-index>
        <nv-td column="id">
          {{driver.id}}
        </nv-td>
        <nv-td column="name">
          {{driver.name || '-'}}
        </nv-td>

        <nv-td column="driverType">
          {{driver.driverType || '-'}}
        </nv-td>

        <nv-td column="vehicles.vehicleType">
          <div class="nv-text-ellipsis" ng-repeat="vehicle in driver.vehicles">
            {{vehicle.vehicleType || '-'}}
          </div>
        </nv-td>

        <nv-td column="firstName">
          {{driver.firstName || '-'}}
        </nv-td>

        <nv-td column="lastName">
          {{driver.lastName || '-'}}
        </nv-td>

        <nv-td column="licenseNumber">
          {{driver.licenseNumber || '-'}}
        </nv-td>

        <nv-td column="codLimit">
          {{driver.codLimit}}
        </nv-td>
        <nv-td column="maxBiddableWaypoints">
          {{driver.maxBiddableWaypoints || '-'}}
        </nv-td>

        <nv-td column="username">
          {{driver.username || '-'}}
        </nv-td>
        <!-- set filter to false to disable filter -->
        <nv-td column="password" filter="false">
          {{driver.password || '-'}}
        </nv-td>

        <nv-td column="comments">
          {{driver.comments || '-'}}
        </nv-td>

        <nv-action column="availability" sortable="true">
          <nv-toggle-button
            class="full"
            md-theme="{{driver.availability ? 'nvGreen' : 'nvRed'}}"
            state="driver.availability"
            on-click="::ctrl.toggleAvailability($event, state, driver.uuid)"
            text-active="YES"
            text-inactive="NO">
          </nv-toggle-button>
        </nv-action>

        <nv-action column="actions">
          <nv-icon-button
              md-theme="nvBlue"
              class="ghost dense"
              name="Edit"
              icon="edit"
              on-click="ctrl.updateOne($event, driver.uuid)">
          </nv-icon-button>

          <nv-icon-button
              md-theme="nvRed"
              class="ghost dense"
              name="Delete"
              icon="delete"
              on-click="ctrl.deleteOne($event, driver)">
          </nv-icon-button>
        </nv-action>
      </nv-table-row>
    </nv-table>
    <div ng-if="ctrl.tableParam.ready && ctrl.tableParam.empty">
      {{'container.driver-strength.no-driver-exist' | translate}}
    </div>
  </div>
</div>