<nv-dialog-header
        title="{{addressingMode=='add'?('container.reservations.addressing.add-address' | translate) :('container.reservations.addressing.manage-address' | translate)}}"
        cancel-text="{{'commons.discard-changes' | translate }}"
        ng-class="{'md-nvBlue-theme': addressingMode =='manage'}"
        on-cancel="::onCancel($event)"
        ng-cloak
>
</nv-dialog-header>
<form name="modelForm" novalidate>
    <md-dialog-content layout="row" layout-wrap>
        <md-content ng-show="addressingMode=='manage'" class="address-list-container" layout="row" flex="100"
                    layout-wrap>
            <div flex="100" class="address-list-header">
                <h5>{{"container.reservations.addressing.address-list" | translate}}</h5>
            </div>
            <div flex="100" layout="row" layout-wrap>
                <nv-input-select
                        flex="100"
                        label="{{'container.reservations.addressing.select-address' | translate}}"
                        model="addressObj"
                        model-options="{}"
                        options="shiperAddresses"
                        set-default="false"
                        on-change="saveCurrentAddress(addressObj)"
                >
                </nv-input-select>
            </div>
            <div flex="100" layout="row" class="to-be-deleted" layout-wrap ng-show="addressObj.toDelete">
                <div flex="70">
                    <i class="material-icons input-invalid">delete</i>
                    Address {{addressObj.address1}} to be deleted
                </div>
                <div flex></div>
                <div flex="10">
                    <a href="javascript::" ng-click="undoDeleteAddress(addressObj)">Undo</a>
                </div>
            </div>

        </md-content>
        <md-content ng-show="addressingMode=='add' || (addressingMode=='manage' && addressObj)">
            <md-content ng-show="!showAddressFinder " class="address-container container" layout="row" flex="100"
                        layout-wrap>
                <div class="section-header-container" flex="100" layout="row" layout-wrap>
                    <h5 flex>{{"container.reservations.addressing.address" | translate }}</h5>
                    <div flex></div>
                    <nv-icon-text-button
                            icon="search"
                            class="ghost h6 dense"
                            name="Address Finder"
                            on-click="openAddressFinder()"
                    ></nv-icon-text-button>
                </div>

                <div layout="row" class="horizontal-padding">
                    <nv-input-text flex="30"
                        name="container.reservations.addressing.name"
                        label="container.reservations.addressing.name"
                        model="addressObj.name"
                        required="true"
                        form="modelForm">
                    </nv-input-text>
                    <nv-input-text flex="30"
                        name="container.reservations.addressing.contact"
                        label="container.reservations.addressing.contact"
                        model="addressObj.contact">
                    </nv-input-text>
                    <nv-input-text flex="30"
                        name="container.reservations.addressing.email"
                        label="container.reservations.addressing.email"
                        model="addressObj.email">
                    </nv-input-text>
                </div>
                <div flex="100" layout="row" layout-wrap>
                    <nv-input-text flex="100"
                        name="container.reservations.addressing.address-one"
                        label="container.reservations.addressing.address-one"
                        model="addressObj.address1"
                        required="true"
                        form="modelForm">
                    </nv-input-text>
                    
                    <nv-input-text flex="100"
                        name="container.reservations.addressing.address-two"
                        label="container.reservations.addressing.address-two"
                        model="addressObj.address2"
                        required="true"
                        form="modelForm">
                    </nv-input-text>
                </div>

                <div flex="100" layout="row" layout-wrap>
                    <!-- SG Local START -->
                    <div layout="row" layout-wrap class="horizontal-padding" ng-if="addressObj.country === 'SG'">
                        <nv-input-text flex="30"
                            name="commons.country"
                            label="commons.country"
                            model="addressObj.country"
                            required="true"
                            form="modelForm"
                            disabled="true">
                        </nv-input-text>
                        <nv-input-text flex="30"
                            name="container.reservations.addressing.postcode"
                            label="container.reservations.addressing.postcode"
                            model="addressObj.postcode"
                            required="true"
                            form="modelForm">
                        </nv-input-text>
                    </div>
                    <!-- SG Local END -->
                    <!-- MY Local START -->
                    <div layout="row" layout-wrap class="horizontal-padding" ng-if="addressObj.country === 'MY'">
                        <nv-input-text flex="30"
                            name="commons.area"
                            label="commons.area"
                            model="addressObj.area">
                        </nv-input-text>
                        <nv-input-text flex="30"
                            name="commons.city"
                            label="commons.city"
                            model="addressObj.city">
                        </nv-input-text>
                        <nv-input-text flex="30"
                            name="commons.state"
                            label="commons.state"
                            model="addressObj.state">
                        </nv-input-text>
                        <nv-input-text flex="30"
                            name="commons.country"
                            label="commons.country"
                            model="addressObj.country"
                            required="true"
                            form="modelForm"
                            disabled="true">
                        </nv-input-text>
                        <nv-input-text flex="30"
                            name="commons.postcode"
                            label="commons.postcode"
                            model="addressObj.postcode"
                            required="true"
                            form="modelForm">
                        </nv-input-text>
                    </div>
                    <!-- MY Local END -->
                    <!-- ID Local START -->
                    <div layout="row" layout-wrap class="horizontal-padding" ng-if="addressObj.country === 'ID'">
                        <nv-input-text flex="30"
                            name="commons.kelurahan"
                            label="commons.kelurahan"
                            model="addressObj.kelurahan">
                        </nv-input-text>
                        <nv-input-text flex="30"
                            name="commons.kecamatan"
                            label="commons.kecamatan"
                            model="addressObj.kecamatan">
                        </nv-input-text>
                        <nv-input-text flex="30"
                            name="City"
                            label="City"
                            model="addressObj.city">
                        </nv-input-text>
                        <nv-input-text flex="30"
                            name="Province"
                            label="Province"
                            model="addressObj.province"
                            required="true"
                            form="modelForm">
                        </nv-input-text>
                        <nv-input-text flex="30"
                            name="commons.country"
                            label="commons.country"
                            model="addressObj.country"
                            required="true"
                            form="modelForm"
                            disabled="true">
                        </nv-input-text>
                        <nv-input-text flex="30"
                            name="commons.postcode"
                            label="commons.postcode"
                            model="addressObj.postcode"
                            required="true"
                            form="modelForm">
                        </nv-input-text>
                    </div>
                    <!-- ID Local END -->
                    <!-- VN Local START -->
                    <div layout="row" layout-wrap class="horizontal-padding" ng-if="addressObj.country === 'VN'">
                        <nv-input-text flex="30"
                            name="commons.ward"
                            label="commons.ward"
                            model="addressObj.ward">
                        </nv-input-text>
                        <nv-input-text flex="30"
                            name="commons.district"
                            label="commons.district"
                            model="addressObj.district">
                        </nv-input-text>
                        <nv-input-text flex="30"
                            name="commons.city"
                            label="commons.city"
                            model="addressObj.city">
                        </nv-input-text>
                        <nv-input-text flex="30"
                            name="commons.country"
                            label="commons.country"
                            model="addressObj.country"
                            required="true"
                            form="modelForm"
                            disabled="true">
                        </nv-input-text>
                    </div>
                    <!-- VN Local END -->
                    <!-- TH Local START -->
                    <div layout="row" layout-wrap class="horizontal-padding" ng-if="addressObj.country === 'TH'">
                        <nv-input-text flex="30"
                            name="commons.sub-district"
                            label="commons.sub-district"
                            model="addressObj.sub_district">
                        </nv-input-text>
                        <nv-input-text flex="30"
                            name="commons.district"
                            label="commons.district"
                            model="addressObj.district">
                        </nv-input-text>
                        <nv-input-text flex="30"
                            name="commons.province"
                            label="commons.province"
                            model="addressObj.province">
                        </nv-input-text>
                        <nv-input-text flex="30"
                            name="commons.country"
                            label="commons.country"
                            model="addressObj.country"
                            required="true"
                            form="modelForm"
                            disabled="true">
                        </nv-input-text>
                        <nv-input-text flex="30"
                            name="commons.postcode"
                            label="commons.postcode"
                            model="addressObj.postcode"
                            required="true"
                            form="modelForm">
                        </nv-input-text>
                    </div>
                    <!-- TH Local END -->
                    <!-- PH Local START -->
                    <div layout="row" layout-wrap class="horizontal-padding" ng-if="addressObj.country === 'PH'">
                        <nv-input-text flex="30"
                            name="Barangay"
                            label="Barangay"
                            model="addressObj.barangay">
                        </nv-input-text>
                        <nv-input-text flex="30"
                            name="commons.city"
                            label="commons.city"
                            model="addressObj.city">
                        </nv-input-text>
                        <nv-input-text flex="30"
                            name="commons.province"
                            label="commons.province"
                            model="addressObj.province">
                        </nv-input-text>
                        <nv-input-text flex="30"
                            name="commons.country"
                            label="commons.country"
                            model="addressObj.country"
                            required="true"
                            form="modelForm"
                            disabled="true">
                        </nv-input-text>
                        <nv-input-text flex="30"
                            name="commons.postcode"
                            label="commons.postcode"
                            model="addressObj.postcode"
                            required="true"
                            form="modelForm">
                        </nv-input-text>
                    </div>
                    <!-- PH Local END -->
                    <!-- MM Local START -->
                    <div layout="row" layout-wrap class="horizontal-padding" ng-if="addressObj.country === 'MM'">
                        <nv-input-text flex="30"
                            name="Pickup Township"
                            label="Pickup Township"
                            model="addressObj.township">
                        </nv-input-text>
                        <nv-input-text flex="30"
                            name="commons.district"
                            label="commons.district"
                            model="addressObj.district">
                        </nv-input-text>
                        <nv-input-text flex="30"
                            name="commons.state"
                            label="commons.state"
                            model="addressObj.state">
                        </nv-input-text>
                        <nv-input-text flex="30"
                            name="commons.country"
                            label="commons.country"
                            model="addressObj.country"
                            required="true"
                            form="modelForm"
                            disabled="true">
                        </nv-input-text>
                        <nv-input-text flex="30"
                            name="commons.postcode"
                            label="commons.postcode"
                            model="addressObj.postcode"
                            required="true"
                            form="modelForm">
                        </nv-input-text>
                    </div>
                    <!-- MM Local END -->
                </div>
            </md-content>

            <md-content ng-show="showAddressFinder" layout="row" flex="100" layout-wrap>
                <div class="section-header-container" flex="100" layout="row" layout-wrap>
                    <h5 flex>{{"container.reservations.addressing.address" | translate }}</h5>
                    <div flex></div>
                    <nv-icon-text-button
                            icon="arrow_back"
                            class="ghost h6 dense"
                            name="{{'container.reservations.addressing.go-back' | translate}}"
                            on-click="openAddressFinder(false)"
                    ></nv-icon-text-button>
                </div>
                <div flex="100" class="address-finder-mode-selector" layout="row" layout-wrap>
                    <nv-btn-grp
                            class="boolean-container"
                            model="isSearchByName"
                            label-for-model-idx-0="Search by Name"
                            label-for-model-idx-1="Search by Coordinates"
                            default-selection="10"
                            select-multiple="false"
                            onchange="onChangeFinderMode(index)"
                            select-none="false">
                    </nv-btn-grp>
                </div>

                <div class="search-location-container" flex="100" ng-show="isSearchByName=='10'" layout-wrap
                     layout="row">
                    <div flex="100" layout="row" layout-wrap>
                        <nv-input-text
                                name="searchTerm"
                                label="{{'container.reservations.addressing.enter-search-term' | translate}}"
                                model="addressSearchTerm"
                                flex="90"
                        ></nv-input-text>
                        <nv-icon-text-button
                                flex="10"
                                name="{{'commons.search' | translate}}"
                                class="raised dense h6"
                                md-theme="nvBlue"
                                on-click="findAddress(addressSearchTerm)">
                        </nv-icon-text-button>
                    </div>
                    <div flex="100" class="address-search-result-container">
                        <table class="address-search-result-table table table-condensed table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="jaro-score">{{'container.reservations.addressing.jaro-score' | translate}}
                                </th>
                                <th colspan="2" class="address">{{'container.reservations.addressing.address' |
                                    translate}}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="addr in addressResult">
                                <td class="jaro-score">{{addr.jaro_winkler_score}}</td>
                                <td class="address">{{addr.building_no}} {{addr.street}}</td>
                                <td class="action">
                                    <nv-icon-text-button
                                            name="{{'container.reservations.addressing.save-location' | translate}}"
                                            on-click="saveSelectedAddress(addr)"
                                            class="dense raised h6"
                                            md-theme="nvBlue"
                                    ></nv-icon-text-button>
                                </td>

                            </tr>
                            </tbody>

                        </table>

                    </div>


                </div>


                <div flex="100" ng-show="isSearchByName=='01'" layout="row" layout-wrap>
                    <div flex="100" layout="row" layout-wrap>
                        <md-input-container flex="40" class="nv-p">

                            <label class="nv-small">{{'container.reservations.addressing.latitude' | translate}}</label>

                            <input type="text"
                                   name="map-lat"
                                   id="map-lat"
                                   aria-label="{{'container.reservations.addressing.latitude' | translate}}"
                                   ng-model="mapLatitude"
                                   ng-change="onChangeLatLong()"
                                   ng-model-options="{debounce:500}"/>

                        </md-input-container>

                        <md-input-container flex="40" class="nv-p">
                            <label class="nv-small">{{'container.reservations.addressing.longitude' |
                                translate}}</label>
                            <input type="text"
                                   name="map-long"
                                   id="map-long"
                                   aria-label="{{'container.reservations.addressing.longitude' | translate}}"
                                   ng-model="mapLongitude"
                                   ng-change="onChangeLatLong()"
                                   ng-model-options="{debounce:500}"/>
                        </md-input-container>

                        <nv-icon-text-button
                                name="{{'container.reservations.addressing.save-location' | translate}}"
                                on-click="reverseGeo(mapLongitude,mapLatitude)"
                                flex="20"
                                md-theme="nvBlue"
                                class="raised h6 dense">
                        </nv-icon-text-button>
                    </div>
                    <div flex="100">
                        <div id="address-map" class="nv-map"></div>
                    </div>
                </div>


            </md-content>

            <md-content class="details-container container" layout="row" flex="100" layout-wrap
                        ng-hide="isSearchByName=='01'"
            >
                <div class="section-header-container" flex="100" layout="row" layout-wrap>
                    <h5 flex>{{"container.reservations.addressing.details" | translate}}</h5>
                </div>
                <div flex="100" layout="row">
                    <nv-input-text
                            flex="33"
                            label="Latitude"
                            name="latitude"
                            form="modelForm"
                            required="true"
                            disabled="toDisable"
                            model="addressObj.latitude">
                    </nv-input-text>
                    <nv-input-text
                            flex="33"
                            label="Longitude"
                            name="longitude"
                            form="modelForm"
                            required="true"
                            disabled="toDisable"
                            model="addressObj.longitude">
                    </nv-input-text>
                </div>
            </md-content>
        </md-content>


        <md-content flex="100"
                    layout-wrap layout="row"
                    ng-show="addressingMode=='manage' && addressObj && addressObj.toDelete">
            <nv-icon-text-button
                    flex="100"
                    class="ghost btnUndoDelete dense"
                    name="{{'container.reservations.addressing.undo-delete' | translate}}"
                    icon="undo"
                    on-click="undoDeleteAddress(addressObj)"
            >
            </nv-icon-text-button>
        </md-content>
        <md-content
                flex="100"
                layout-wrap layout="row"
                ng-show="addressingMode=='manage' && addressObj && !addressObj.toDelete">
            <nv-icon-text-button
                    flex="100"
                    class="ghost btnDelete dense"
                    name="{{'container.reservations.addressing.delete-address' | translate}}"
                    icon="delete"
                    on-click="deleteAddress(addressObj)"
            >
            </nv-icon-text-button>
        </md-content>
    </md-dialog-content>

    <md-dialog-actions ng-show="addressingMode=='add'" layout-wrap layout="row">
        <nv-icon-text-button
                flex="100"
                md-theme="nvGreen"
                class="raised "
                form="modelForm"
                name="{{'container.reservations.addressing.add-address' | translate}}"
                on-click="addAddress(addressObj, shipper.global_id)">
        </nv-icon-text-button>
    </md-dialog-actions>
    <md-dialog-actions ng-show="addressingMode=='manage'" layout-wrap layout="row">
        <nv-icon-text-button
                flex="100"
                md-theme="nvGreen"
                class="raised"
                disabled='deletedAddresses.length == 0 && updatedAddresses.length == 0'
                name="{{'container.reservations.addressing.save-changes' | translate}}"
                on-click="updateAddress()">
        </nv-icon-text-button>

    </md-dialog-actions>

</form>
