@import "../../../styles/mixins/media-query.mixins";

md-dialog.edit-model {

  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  max-width: 100%;
  max-height: 100%;

  @include nv-media-query-sm-min {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 450px;
    max-width: 80%;
    max-height: 80%;
  }

  @include nv-media-query-md-min {
    width: 500px;
  }

  @include nv-media-query-lg-min {
    width: 550px;
  }

}
