<md-dialog class="edit-model" aria-label="Edit Model Dialog">

    <nv-dialog-header title="{{::title}}" on-cancel="::onCancel(event)"></nv-dialog-header>

    <form name="modelForm" ng-submit="::onSave()">

        <md-dialog-content>
            <div class="md-dialog-content">
                <!-- the fields will be inserted here -->
            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <nv-button-cancel form="modelForm" on-click="::onCancel(event)" is-disabled="cancelButtonDisabled"></nv-button-cancel>
            <nv-button-save form="modelForm" state="saveButtonState"></nv-button-save>
        </md-dialog-actions>
        
    </form>

</md-dialog>
