<md-content class="md-padding" ng-if="ctrl.state.loading === true">
  <div class="filler"></div>
  <div layout="row" layout-padding layout-align="center center">
    <md-progress-circular md-theme="nvBlue" md-mode="indeterminate" md-diameter="64px"></md-progress-circular>
  </div>
</md-content>
<md-content class="full-height" ng-if="ctrl.state.loading === false">
    <div layout="row" layout-padding layout-align="center" horizontal-padding padding-bottom ng-if="!ctrl.function.isMarketplace(ctrl.data)">
      <div layout="column" flex-gt-sm="70" flex="100">
        <div class="filler"></div>
        <nv-hint text="container.shippers.marketplace-sellers.hint"></nv-hint>
      </div>
    </div>
    <div layout="row" layout-padding layout-align="center" horizontal-padding padding-bottom ng-if="ctrl.function.isMarketplace(ctrl.data) && ctrl.state.marketplaceSellerLoading === true">
      <div layout="column" flex-gt-sm="70" flex="100">
        <div class="filler"></div>
        <md-progress-circular md-theme="nvBlue" md-mode="indeterminate" md-diameter="64px"></md-progress-circular>
      </div>
    </div>
    <div id="marketplace-sellers" ng-if="ctrl.function.isMarketplace(ctrl.data) && ctrl.state.marketplaceSellerLoading === false">
      <div class="filler"></div>
      <div class="table-container">
        <nv-table
          param="ctrl.data.marketplaceSellerTableParam"
          use-virtual-repeat="false">
          <nv-table-row use="data" row-height="60">
            <nv-td column="id">
              {{data.id || '-'}}
            </nv-td>
            <nv-td column="shortName">
              {{data.shortName || '-'}}
            </nv-td>
            <nv-td column="name">
              {{data.name || '-'}}
            </nv-td>
            <nv-td column="externalRef">
              {{data.externalRef || '-'}}
            </nv-td>
            <nv-td column="isActive">
              {{data.isActive || '-'}}
            </nv-td>
          </nv-table-row>
        </nv-table>
      </div> 
    </div>
</md-content>