<md-content class="md-padding" ng-if="ctrl.state.loading === true">
  <div class="filler"></div>
  <div layout="row" layout-padding layout-align="center center">
    <md-progress-circular md-theme="nvBlue" md-mode="indeterminate" md-diameter="64px"></md-progress-circular>
  </div>
</md-content>

<md-content class="md-padding" ng-if="ctrl.state.loading === false">
  <form name="ctrl.integrationForm">
    <div class="filler"></div>
    <!-- Qoo10 (Optional) -->
    <div layout="row" class="horizontal-padding vertical-padding">
      <h5 class="sub-title">{{ 'container.shippers.integrations-qoo' | translate }}</h5>
    </div>

    <div layout="row" class="horizontal-padding">
      <nv-input-text flex="30"
        name="qoo-username"
        label="commons.username"
        model="ctrl.data.integrations.qooUsername">
      </nv-input-text>
      <nv-input-text flex="30"
        name="qoo-password"
        label="commons.password"
        model="ctrl.data.integrations.qooPassword">
      </nv-input-text>
    </div>

    <!-- Shopify (Optional) -->
    <div layout="row" class="horizontal-padding vertical-padding">
      <h5 class="sub-title">{{ 'container.shippers.integrations-shopify' | translate }}</h5>
    </div>

    <div layout="row" class="horizontal-padding">
      <nv-input-text flex="30"
        name="Max Delivery Days"
        label="Max Delivery Days"
        model="ctrl.data.integrations.shopifyMaxDelivery">
      </nv-input-text>
      <nv-input-text flex="30"
        name="DD Offset"
        label="DD Offset"
        model="ctrl.data.integrations.shopifyDdOffset">
      </nv-input-text>
      <nv-input-text flex="30"
        name="DD Time-window ID"
        label="DD Time-window ID"
        model="ctrl.data.integrations.shopifyTimewindowId">
      </nv-input-text>
    </div>

    <div layout="row" class="horizontal-padding">
      <nv-input-text flex="30"
        name="Base URL"
        label="Base URL"
        model="ctrl.data.integrations.shopifyBaseUrl">
      </nv-input-text>
      <nv-input-text flex="30"
        name="API Key"
        label="API Key"
        model="ctrl.data.integrations.shopifyApiKey">
      </nv-input-text>
      <nv-input-text flex="30"
        name="shopify-password"
        label="commons.password"
        model="ctrl.data.integrations.shopifyPassword">
      </nv-input-text>
    </div>

    <div layout="row" class="horizontal-padding" layout-align="start start">
      <nv-input-text flex="30"
        name="Shipping Codes"
        label="Shipping Codes"
        model="ctrl.data.integrations.shopifyCode">
      </nv-input-text>
      <md-input-container class="field-container" layout="column">
        <label>{{ 'container.shippers.integrations-shopping-code-filter' | translate }}</label>
        <nv-btn-grp
          model="ctrl.data.integrations.shopifyCodeFilter"
          label-for-model-idx-0="Yes"
          label-for-model-idx-1="No"
          select-multiple="false" 
          select-none="false">
        </nv-btn-grp>
      </md-input-container>
    </div>

    <!-- Magento (Optional) -->
    <div layout="row" class="horizontal-padding vertical-padding">
      <h5 class="sub-title">{{ 'container.shippers.integrations-magento' | translate }}</h5>
    </div>

    <div layout="row" class="horizontal-padding">
      <nv-input-text flex="30"
        name="magento-username"
        label="commons.username"
        model="ctrl.data.integrations.magentoUsername">
      </nv-input-text>
      <nv-input-text flex="30"
        name="magento-password"
        label="commons.password"
        model="ctrl.data.integrations.magentoPassword">
      </nv-input-text>
      <nv-input-text flex="30"
        name="Soap API URL"
        label="Soap API URL"
        model="ctrl.data.integrations.magentoApiUrl">
      </nv-input-text>
    </div>
  </form>
</md-content>