<md-content class="md-padding" ng-if="ctrl.state.loading === true">
  <div class="filler"></div>
  <div layout="row" layout-padding layout-align="center center">
    <md-progress-circular md-theme="nvBlue" md-mode="indeterminate" md-diameter="64px"></md-progress-circular>
  </div>
</md-content>
<md-content class="md-padding" ng-if="ctrl.state.loading === false">
  <form name="ctrl.basicForm">
    <div class="filler"></div>
    
    <div class="section-title">{{ 'container.shippers.shipper-information' | translate}}</div>
    <div layout="row" class="horizontal-padding padding-bottom" ng-if="ctrl.view.shipperTypeCategory === 2">
      <nv-hint text="Marketplace seller detected, shipper type and marketplace can not be changed"></nv-hint>
    </div>

    <div layout="row" class="horizontal-padding padding-bottom" ng-if="ctrl.view.shipperTypeCategory === 1">
      <nv-hint text="Marketplace detected, shipper type and some settings can not be changed"></nv-hint>
    </div>

    <div layout="row" class="horizontal-padding padding-bottom">
      <md-input-container class="field-container">
        <label>{{ 'container.shippers.shipper-status' | translate }}</label>
        <nv-btn-grp
          model="ctrl.data.basic.status"
          label-for-model-idx-0="Active"
          label-for-model-idx-1="Disabled"
          select-multiple="false" 
          select-none="false">
        </nv-btn-grp>
      </md-input-container>

      <md-input-container class="field-container" flex="30" ng-if="ctrl.view.shipperTypeCategory === 0">
        <label>{{ 'container.shippers.shipper-type' | translate }}</label>
        <md-select
          ng-model="ctrl.data.basic.shipperType"
          ng-model-options="{trackBy: '$value.id'}"
          aria-label="shipper-type">
          <md-option ng-value="opt.value" ng-repeat="opt in ctrl.view.shipperTypeOptions">
            {{ opt.displayName }}
          </md-option>
        </md-select>
      </md-input-container>
      <nv-input-text flex="30" ng-if="ctrl.view.shipperTypeCategory !== 0"
        name="Shipper Type"
        label="Shipper Type"
        model="SHIPPER_TYPE[ctrl.data.basic.shipperType.id].displayName"
        disabled="true">
      </nv-input-text>
      <nv-input-text flex="30" ng-if="ctrl.view.shipperTypeCategory === 2"
        name="Marketplace Owner"
        label="Marketplace Owner"
        model="ctrl.data.marketplace.selectedMarketplace.displayName"
        disabled="true">
      </nv-input-text>
    </div>

    <div layout="row" class="horizontal-padding">
      <nv-input-text flex="30"
        name="shipper-name"
        label="Shipper Name"
        model="ctrl.data.basic.name"
        required="true"
        form="ctrl.basicForm">
      </nv-input-text>
      <nv-input-text flex="30"
        name="Short Name"
        label="Short Name"
        maxlength="16"
        model="ctrl.data.basic.shortName"
        form="ctrl.basicForm">
      </nv-input-text>
      <nv-input-text
        flex="30"
        name="shipper-phone-number"
        label="container.shippers.shipper-phone-number"
        model="ctrl.data.basic.contact"
        required="true"
        help-text="container.shippers.shipper-phone-number-help-text"
        on-change="ctrl.function.checkShipperContactValidity(text, ctrl.basicForm['shipper-phone-number'])"
        error-msgs="ctrl.FORM_VALIDATION.shipperContact"
        form="ctrl.basicForm">
      </nv-input-text>
    </div>

    <div layout="row" class="horizontal-padding padding-bottom">
      <nv-input-text flex="30"
        name="shipper-email"
        label="container.shippers.shipper-email"
        model="ctrl.data.basic.email"
        required="true"
        help-text="container.shippers.email-help-text"
        form="ctrl.basicForm">
      </nv-input-text>
    </div>

    <!-- Industry and Sales -->
    <div layout="row" class="horizontal-padding">
      <md-input-container class="field-container" flex="30">
        <label>{{ 'container.shippers.shipper-channel' | translate }}</label>
        <md-select name="shipper-classification" form="ctrl.basicForm" ng-required="true" ng-model="ctrl.data.basic.shipperClassification" aria-label="shipper-classification">
          <md-option ng-value="opt.id" ng-repeat="opt in ctrl.view.shipperClassification">
            {{ opt.displayName }}
          </md-option>
        </md-select>
        <div ng-messages="ctrl.basicForm['shipper-classification'].$error" role="alert">
          <div ng-message="required">This field is required.</div>          
        </div>
      </md-input-container>
      <md-input-container class="field-container" flex="40">
        <label>{{ 'container.shippers.oc-industry' | translate }}</label>
        <md-select name="industry" form="ctrl.basicForm" ng-required="true" ng-model="ctrl.data.basic.industry" aria-label="industry">
          <md-option ng-value="opt.id" ng-repeat="opt in ctrl.view.industry">
            {{ opt.displayName }}
          </md-option>
        </md-select>
        <div ng-messages="ctrl.basicForm['industry'].$error" role="alert">
          <div ng-message="required">This field is required.</div>          
        </div>
      </md-input-container>
      <md-input-container class="field-container" flex="30">
        <label>{{ 'container.shippers.shipper-account-type' | translate }}</label>
        <md-select name="account-type" form="ctrl.basicForm" ng-required="true" ng-model="ctrl.data.basic.accountType" aria-label="account-type">
          <md-option ng-value="opt.id" ng-repeat="opt in ctrl.view.shipperAccountType">
            {{ opt.displayName }}
          </md-option>
        </md-select>
        <div ng-messages="ctrl.basicForm['account-type'].$error" role="alert">
          <div ng-message="required">This field is required.</div>          
        </div>
      </md-input-container>
    </div>
    <div layout="row" class="horizontal-padding">
      <div class="md-block field-container" layout="column" flex="30">
        <nv-input-select
          class="label-no-margin"
          name="container.shippers.oc-sales-person"
          label="container.shippers.oc-sales-person"
          model="ctrl.view.salesPerson.selectedSales"
          model-options="{}"
          options="ctrl.view.salesPerson.options"
          searchable="true">
        </nv-input-select>
      </div> 
    </div>

    <div class="section-separator"></div>

    <!-- liaison -->
    <div class="section-title">{{ 'container.shippers.contact-details' | translate}}</div>
    <div layout="row" class="horizontal-padding">
      <nv-input-text flex="30"
        name="Liaison Name"
        label="Liaison Name"
        model="ctrl.data.basic.liaisonName">
      </nv-input-text>
      <nv-input-text flex="30"
        name="Liaison Contact"
        label="Liaison Contact"
        model="ctrl.data.basic.liaisonContact">
      </nv-input-text>
      <nv-input-text flex="30"
        name="Liaison Email"
        label="Liaison Email"
        model="ctrl.data.basic.liaisonEmail">
      </nv-input-text>
    </div>
    <div layout="row" class="horizontal-padding">
      <nv-input-text flex="100"
        name="liaison-address"
        label="Liaison Address"
        model="ctrl.data.basic.liaisonAddress">
      </nv-input-text>
    </div>
    <div layout="row" class="horizontal-padding">
      <nv-input-text flex="30"
        name="Liaison Postcode"
        label="Liaison Postcode"
        model="ctrl.data.basic.liaisonPostcode">
      </nv-input-text>
    </div>
    <div class="section-separator"></div>

    <!-- Services -->
    <div class="section-title">{{ 'container.shippers.service-offerings' | translate}}</div>

    <div layout="row" class="horizontal-padding">
      <md-input-container class="field-container" flex="20">
        <label>{{ 'container.shippers.oc-version' | translate }}</label>
        <md-select ng-model="ctrl.data.basic.ocVersion" aria-label="oc-version" ng-disabled="ctrl.function.isOrderCreateLocked(ctrl.data)">
          <md-option ng-value="opt.value" ng-repeat="opt in ctrl.view.ocVersionOptions" ng-disabled="ctrl.function.isOcVersionDisabled(ctrl.data, opt.value)">
            {{ opt.displayName }}
          </md-option>
        </md-select>
      </md-input-container>
    </div>

    <div class="sub-section-title">{{ 'container.shippers.service-type' | translate}}</div>

    <div layout="row" layout-wrap class="horizontal-padding padding-bottom">
      <md-input-container
        class="field-container service-type"
        flex="20"
        ng-repeat="(key, serviceType) in ctrl.Shippers.SERVICE_TYPE">
        <label>{{ serviceType.displayName | translate }}</label>
        <nv-btn-grp
          ng-if="ctrl.Shippers.SERVICE_TYPE.NINJA_PACK.id !== ctrl.Shippers.SERVICE_TYPE[key].id"
          model="ctrl.data.basic.serviceType[key]"
          label-for-model-idx-0="Yes"
          label-for-model-idx-1="No"
          select-multiple="false" 
          select-none="false">
        </nv-btn-grp>
        <p ng-if="ctrl.Shippers.SERVICE_TYPE.NINJA_PACK.id === ctrl.Shippers.SERVICE_TYPE[key].id">
          {{ ctrl.function.nvModelUtils.fromYesNoBitStringToBool(ctrl.data.basic.serviceType[key]) ? 'commons.yes' : 'commons.no' | translate }}
        </p>
      </md-input-container>
    </div>

    <div layout="row" class="horizontal-padding">
      <nv-input-select
        class="service-level multiple-select"
        flex="33"
        name="container.shippers.service-level"
        label="container.shippers.service-level"
        model="ctrl.data.basic.serviceLevels"
        model-options="{}"
        multiple="true"
        options="ctrl.view.serviceLevelOptions">
      </nv-input-select>
    </div>

    <div class="section-separator"></div>

    <!-- OPERATIONAL SETTINGS -->
    <div class="section-title">{{ 'container.shippers.operational-settings' | translate}}</div>
    <div layout="row" class="horizontal-padding padding-bottom">
      <md-input-container class="field-container" flex="20">
        <label>{{ 'container.shippers.oc-cod' | translate }}</label>
        <nv-btn-grp
          model="ctrl.data.basic.allowCod"
          label-for-model-idx-0="Yes"
          label-for-model-idx-1="No"
          select-multiple="false" 
          select-none="false">
        </nv-btn-grp>
      </md-input-container>
      <md-input-container class="field-container" flex="20">
        <label>{{ 'container.shippers.oc-cp' | translate }}</label>
        <nv-btn-grp
          model="ctrl.data.basic.allowCp"
          label-for-model-idx-0="Yes"
          label-for-model-idx-1="No"
          select-multiple="false" 
          select-none="false">
        </nv-btn-grp>
      </md-input-container>
      <md-input-container class="field-container" flex="20">
        <label>{{ 'container.shippers.oc-prepaid-account' | translate }}</label>
        <nv-btn-grp
          model="ctrl.data.basic.isPrePaid"
          label-for-model-idx-0="Yes"
          label-for-model-idx-1="No"
          select-multiple="false" 
          select-none="false">
        </nv-btn-grp>
        <span class="nv-small">{{"container.shippers.set-to-not-to-enable-api-integration" | translate}}</span>
      </md-input-container>
      <md-input-container class="field-container" flex="20">
        <label>{{ 'container.shippers.oc-staged-orders' | translate }}</label>
        <nv-btn-grp
          model="ctrl.data.basic.allowStaging"
          label-for-model-idx-0="Yes"
          label-for-model-idx-1="No"
          select-multiple="false" 
          select-none="false">
        </nv-btn-grp>
      </md-input-container>
      <md-input-container class="field-container" flex="20">
        <label>{{ 'container.shippers.oc-multi-parcels' | translate }}</label>
        <nv-btn-grp
          model="ctrl.data.basic.isMultiParcel"
          label-for-model-idx-0="Yes"
          label-for-model-idx-1="No"
          select-multiple="false" 
          select-none="false">
        </nv-btn-grp>
      </md-input-container>
    </div>

    <div layout="row" class="horizontal-padding padding-bottom">
      <md-input-container class="field-container" flex="20">
        <label>{{ 'container.shippers.oc-allow-driver-reschedule' | translate }}</label>
        <nv-btn-grp
          model="ctrl.data.basic.disableReschedule"
          label-for-model-idx-0="Yes"
          label-for-model-idx-1="No"
          select-multiple="false" 
          select-none="false">
        </nv-btn-grp>
      </md-input-container>
      <md-input-container class="field-container" flex="20">
        <label>{{ 'container.shippers.enforce-pickup-scanning' | translate }}</label>
        <nv-btn-grp
          model="ctrl.data.basic.enforceParcelPickupTracking"
          label-for-model-idx-0="Yes"
          label-for-model-idx-1="No"
          select-multiple="false"
          select-none="false">
        </nv-btn-grp>
      </md-input-container>
    </div>

    <!-- DELIVERY ONT TIME PIN -->
    <div class="sub-section-title">{{ 'container.shippers.driver-delivery-one-pin' | translate}}</div>
    <div layout="row" class="horizontal-padding">
      <md-input-container class="field-container" flex="30">
        <label>{{ 'container.shippers.no-digits-delivery-otp' | translate }}</label>
        <md-select name="deliveryOtpLength" ng-model="ctrl.data.basic.deliveryOtpLength" aria-label="otp-no-digits">
          <md-option ng-value="opt"
                      ng-repeat="opt in DELIVERY_OTP_LIMIT_OPTIONS">
            {{ opt }}
          </md-option>
        </md-select>
        <div class="errors" ng-messages="ctrl.basicForm.deliveryOtpLength.$error">
          <div ng-message="required">Required</div>
        </div>
      </md-input-container>

      <md-input-container class="field-container" flex="30">
        <label>{{ 'container.shippers.no-validation-attempts' | translate }}</label>
        <md-select name="deliveryOtpValidationLimit" ng-model="ctrl.data.basic.deliveryOtpValidationLimit" aria-label="otp-no-attempts">
          <md-option ng-value="opt"
                      ng-repeat="opt in DELIVERY_OTP_LIMIT_OPTIONS">
            {{ opt }}
          </md-option>
        </md-select>
        <div class="errors" ng-messages="ctrl.basicForm.deliveryOtpValidationLimit.$error">
          <div ng-message="required">Required</div>
        </div>
      </md-input-container>
    </div>

    <!-- TRACKING -->
    <div class="sub-section-title">{{ 'container.shippers.tracking-id' | translate}}</div>

    <div layout="row" class="horizontal-padding">
      <md-input-container class="field-container" flex="30">
        <label>{{ 'container.shippers.oc-tracking-type' | translate }}</label>
        <md-select name="trackingType" ng-model="ctrl.data.basic.trackingType" aria-label="oc-tracking-type">
          <md-option ng-value="opt.value"
                     ng-repeat="opt in ctrl.view.trackingTypeOptions"
                     ng-disabled="ctrl.function.isTrackingTypeDisabled(ctrl.data, ctrl.initialTrackingType, opt.value, true)">
            {{ opt.displayName | translate }}
          </md-option>
        </md-select>
        <div class="errors" ng-messages="ctrl.basicForm.trackingType.$error">
          <div ng-message="required">Required</div>
        </div>
      </md-input-container>
      <nv-input-text
        ng-if="(!ctrl.function.isPrefixesEnabled(ctrl.data.basic.trackingType)
          && (ctrl.data.basic.trackingType !== ctrl.Shippers.TRACKING_TYPE.PREFIXLESS.id) && (ctrl.data.basic.trackingType !== ctrl.Shippers.TRACKING_TYPE.NINJA_FIXED.id))"
        flex="30"
        name="shipper-prefix"
        label="container.shippers.oc-prefix"
        model="ctrl.data.basic.prefix"
        form="ctrl.basicForm"
        error-msgs="ctrl.FORM_VALIDATION.shipperPrefix"
        on-change="ctrl.function.checkPrefixAvailability(text, ctrl.basicForm['shipper-prefix'], ctrl.data, ctrl.legacyShipperId)">
      </nv-input-text>
      <nv-input-text
        ng-if="!ctrl.function.isPrefixesEnabled(ctrl.data.basic.trackingType)
          && (ctrl.data.basic.trackingType === ctrl.Shippers.TRACKING_TYPE.NINJA_FIXED.id)"
        flex="30"
        name="shipper-prefix"
        label="container.shippers.oc-prefix"
        model="ctrl.ninjaPrefix"
        disabled="true">
      </nv-input-text>
    </div>

    <!-- PREFIXESS -->
    <div
      layout="column"
      class="horizontal-padding padding-bottom"
      ng-if="ctrl.function.isPrefixesEnabled(ctrl.data.basic.trackingType)">
      <div class="prefixes-table table-holder" flex>
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th>{{ 'container.shippers.oc-prefix' | translate }}</th>
            <th>{{ 'commons.actions' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="prefix in ctrl.data.basic.prefixes track by $index">
            <td>
              <nv-input-text
                class="md-block"
                name="{{ 'shipper-prefix-'+$index }}"
                label="container.shippers.oc-prefix"
                required="true"
                form="ctrl.basicForm"
                model="ctrl.data.basic.prefixes[$index]"
                model-options="{ debounce: 500 }"
                error-msgs="ctrl.FORM_VALIDATION.shipperPrefix"
                on-change="ctrl.function.checkPrefixAvailability(text, ctrl.function.generatePrefixesInputField(ctrl.basicForm, $index), ctrl.data, ctrl.legacyShipperId, ctrl.basicForm)">
              </nv-input-text>
            </td>
            <td>
              <nv-icon-button
                md-theme="nvGreen"
                ng-child-class="$index === 0 ? 'raised' : 'flat'"
                name="{{ $index === 0 ? 'container.shippers.default-prefix' : 'container.shippers.set-as-default' }}"
                icon="lock"
                on-click="ctrl.function.setPrefixAsDefault(ctrl.data, $index, ctrl.legacyShipperId, ctrl.basicForm)">
              </nv-icon-button>

              <nv-icon-button
                md-theme="nvRed"
                class="ghost"
                name="commons.delete"
                icon="delete"
                disabled="ctrl.function.isDeletePrefixDisabled(ctrl.data)"
                on-click="ctrl.function.deletePrefix(ctrl.data, $index)">
              </nv-icon-button>
            </td>
          </tr>
          </tbody>
        </table>

        <nv-icon-text-button
          class="ghost dense"
          name="container.shippers.add-new-prefix"
          on-click="ctrl.function.addNewPrefix(ctrl.data)">
        </nv-icon-text-button>
      </div>
    </div>

    <!-- LABEL PRINTING -->
    <div class="sub-section-title">{{ 'container.shippers.label-printing' | translate}}</div>
    <div layout="row" class="horizontal-padding">
      <md-input-container class="field-container">
        <label>{{ 'container.shippers.show-shipper-details' | translate }}</label>
        <nv-btn-grp
          model="ctrl.data.basic.isPrinterAvailable"
          label-for-model-idx-0="Yes"
          label-for-model-idx-1="No"
          select-multiple="false" 
          select-none="false">
        </nv-btn-grp>
      </md-input-container>
      <nv-input-text flex="30"
        name="Printer IP"
        label="Printer IP"
        model="ctrl.data.basic.printerIp">
      </nv-input-text>
    </div>

    <div class="section-separator"></div>

    <!-- PRICING AND BILLING -->
    <div class="section-title">{{ 'container.shippers.pricing-billing' | translate}}</div>

    <div layout="row" class="horizontal-padding padding-bottom">
      <div class="md-block field-container" layout="column" flex="60">
        <nv-input-select
          class="label-no-margin"
          name="commons.pricing-script"
          label="commons.pricing-script"
          model="ctrl.view.pricingScripts.selectedScript"
          model-options="{}"
          options="ctrl.view.pricingScripts.options"
          searchable="true">
        </nv-input-select>
      </div> 
    </div>

    <!-- Billing -->
    <div layout="row" class="horizontal-padding">
      <nv-input-text flex="30"
        name="Billing Name"
        label="Billing Name"
        model="ctrl.data.basic.billingName">
      </nv-input-text>
      <nv-input-text flex="30"
        name="Billing Contact"
        label="Billing Contact"
        model="ctrl.data.basic.billingContact">
      </nv-input-text>
    </div>
    <div layout="row" class="horizontal-padding">
      <nv-input-text flex="100"
        name="Billing Address"
        label="Billing Address"
        model="ctrl.data.basic.billingAddress">
      </nv-input-text>
    </div>
    <div layout="row" class="horizontal-padding">
      <nv-input-text flex="30"
        name="Billing Postcode"
        label="Billing Postcode"
        model="ctrl.data.basic.billingPostcode">
      </nv-input-text>
    </div>
  </form>
</md-content>
