<md-content class="md-padding" ng-if="ctrl.state.loading === true">
  <div class="filler"></div>
  <div layout="row" layout-padding layout-align="center center">
    <md-progress-circular md-theme="nvBlue" md-mode="indeterminate" md-diameter="64px"></md-progress-circular>
  </div>
</md-content>

<md-content class="md-padding" ng-if="ctrl.state.loading === false">
  <form name="ctrl.marketplaceForm">
    <div class="filler"></div>
    <!-- MARKETPLACE DISABLED -->
    <div layout="row" class="horizontal-padding padding-bottom" ng-if="!ctrl.function.isMarketplace(ctrl.data)">
      <nv-hint text="No Settings required for normal and marketplace seller shipper types."></nv-hint>
    </div>

    <!-- MARKETPLACE ENABLED -->
    <div ng-if="ctrl.function.isMarketplace(ctrl.data)">
      <!-- marketplace avaialble -->
      <div layout="row" class="horizontal-padding padding-bottom">
        <nv-hint text="All settings below will only applied to newly-created marketplace seller associated with this marketplace"></nv-hint>
      </div>

      <!-- Services -->
      <div layout="row" class="horizontal-padding vertical-padding">
        <h5 class="sub-title">{{ 'commons.services' | translate }}</h5>
      </div>
      
      <div layout="row" class="horizontal-padding padding-bottom">
        <md-input-container class="field-container" flex="20">
          <label>{{ 'container.shippers.oc-version' | translate }}</label>
          <md-select ng-model="ctrl.data.marketplace.ocVersion" aria-label="oc-version">
            <md-option ng-value="opt.value" ng-repeat="opt in ctrl.view.ocVersionOptions">
              {{ opt.displayName }}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="field-container multiple-select" flex="20">
          <label>{{ 'commons.services' | translate }}</label>
          <md-select ng-model="ctrl.data.marketplace.selectedOcServices" aria-label="oc-services" multiple>
            <md-optgroup label="available-services">
              <md-option ng-value="opt.value" ng-repeat="opt in ctrl.view.availableOcServiceOptions">
                {{ opt.displayName }}
              </md-option>
            </md-optgroup>
          </md-select>
        </md-input-container> 
        <md-input-container class="field-container" flex="30">
          <label>{{ 'container.shippers.oc-tracking-type' | translate }}</label>
          <md-select ng-model="ctrl.data.marketplace.trackingType" aria-label="oc-tracking-type">
            <md-option ng-value="opt.value" ng-repeat="opt in ctrl.view.trackingTypeOptions"
                       ng-disabled="ctrl.function.isMarketplaceTrackingTypeDisabled(ctrl.data, opt.value)">
              {{ opt.displayName | translate }}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <div layout="row" class="horizontal-padding padding-bottom">
        <md-input-container class="field-container" flex="30">
          <label>{{ 'container.shippers.oc-cod' | translate }}</label>
          <nv-btn-grp
            model="ctrl.data.marketplace.allowCod"
            label-for-model-idx-0="Yes"
            label-for-model-idx-1="No"
            select-multiple="false" 
            select-none="false">
          </nv-btn-grp>
        </md-input-container>
        <md-input-container class="field-container" flex="30">
          <label>{{ 'container.shippers.oc-cp' | translate }}</label>
          <nv-btn-grp
            model="ctrl.data.marketplace.allowCp"
            label-for-model-idx-0="Yes"
            label-for-model-idx-1="No"
            select-multiple="false" 
            select-none="false">
          </nv-btn-grp>
        </md-input-container>
        <md-input-container class="field-container" flex="30">
          <label>{{ 'container.shippers.oc-prepaid-account' | translate }}</label>
          <nv-btn-grp
            model="ctrl.data.marketplace.isPrePaid"
            label-for-model-idx-0="Yes"
            label-for-model-idx-1="No"
            select-multiple="false" 
            select-none="false">
          </nv-btn-grp>
          <span class="nv-small">{{"container.shippers.set-to-not-to-enable-api-integration" | translate}}</span>
        </md-input-container>
      </div>

      <div layout="row" class="horizontal-padding padding-bottom">
        <md-input-container class="field-container" flex="30">
          <label>{{ 'container.shippers.oc-staged-orders' | translate }}</label>
          <nv-btn-grp
            model="ctrl.data.marketplace.allowStaging"
            label-for-model-idx-0="Yes"
            label-for-model-idx-1="No"
            select-multiple="false" 
            select-none="false">
          </nv-btn-grp>
        </md-input-container>
        <md-input-container class="field-container" flex="30">
          <label>{{ 'container.shippers.oc-multi-parcels' | translate }}</label>
          <nv-btn-grp
            model="ctrl.data.marketplace.isMultiParcel"
            label-for-model-idx-0="Yes"
            label-for-model-idx-1="No"
            select-multiple="false" 
            select-none="false">
          </nv-btn-grp>
        </md-input-container>
      </div>

      <div layout="row" class="horizontal-padding">
        <md-input-container class="field-container" flex="30">
          <label>{{ 'container.shippers.enforce-pickup-scanning' | translate }}</label>
          <nv-btn-grp
            model="ctrl.data.marketplace.reservationEnforceParcelPickupTracking"
            label-for-model-idx-0="Yes"
            label-for-model-idx-1="No"
            select-multiple="false"
            select-none="false">
          </nv-btn-grp>
        </md-input-container>
      </div>

      <!-- Billing -->
      <div layout="row" class="horizontal-padding vertical-padding">
        <h5 class="sub-title">Billing</h5>
      </div>
      <div layout="row" class="horizontal-padding">
        <nv-input-text flex="30"
          name="Billing Name"
          label="Billing Name"
          model="ctrl.data.marketplace.billingName">
        </nv-input-text>
        <nv-input-text flex="30"
          name="Billing Contact"
          label="Billing Contact"
          model="ctrl.data.marketplace.billingContact">
        </nv-input-text>
      </div>
      <div layout="row" class="horizontal-padding">
        <nv-input-text flex="100"
          name="Billing Address"
          label="Billing Address"
          model="ctrl.data.marketplace.billingAddress">
        </nv-input-text>
      </div>
      <div layout="row" class="horizontal-padding">
        <nv-input-text flex="30"
          name="Billing Postcode"
          label="Billing Postcode"
          model="ctrl.data.marketplace.billingPostcode">
        </nv-input-text>
      </div>

      <!-- Reservation -->
      <div layout="row" class="horizontal-padding padding-bottom">
        <h5 class="sub-title">{{ 'container.shippers.more-reservation' | translate }}</h5>
      </div>
      
      <div layout="row" class="horizontal-padding">
        <md-input-container class="field-container multiple-select" flex="40">
          <label>{{ 'container.shippers.more-reservation-days' | translate }}</label>
          <md-select ng-model="ctrl.data.marketplace.reservationDays" aria-label="reservation-days" multiple ng-disabled="!ctrl.function.isMarketplaceReservationEnabled(ctrl.data)">
            <md-optgroup label="available-services">
              <md-option ng-value="opt.value" ng-repeat="opt in ctrl.view.reservationDayOptions">
                {{ opt.displayName }}
              </md-option>
            </md-optgroup>
          </md-select>
        </md-input-container> 
        <md-input-container class="field-container">
          <label>{{ 'container.shippers.more-auto-reservation' | translate }}</label>
          <nv-btn-grp
            model="ctrl.data.marketplace.isAutoReservation"
            label-for-model-idx-0="Yes"
            label-for-model-idx-1="No"
            select-multiple="false" 
            select-none="false">
          </nv-btn-grp>
        </md-input-container>
      </div>

      <div layout="row" class="horizontal-padding vertical-padding">
        <!-- ready time -->
        <div layout="row" flex="30" class="reservation-time-container">
          <md-input-container class="field-container">
            <label class="custom-no-padding">{{ 'container.shippers.more-auto-reservation-ready-time' | translate }}</label>
            <md-select ng-model="ctrl.data.marketplace.readyTime.hour" aria-label="ready-time-hour" ng-disabled="!ctrl.function.isMarketplaceReservationEnabled(ctrl.data)">
              <md-option ng-value="opt" ng-repeat="opt in ctrl.view.hourTimeSlotOptions">
                {{ opt }}
              </md-option>
            </md-select>
          </md-input-container>
          <div class="time-separator-padding">:</div>
          <md-input-container class="field-container">
            <md-select ng-model="ctrl.data.marketplace.readyTime.minute" aria-label="ready-time-minute" ng-disabled="!ctrl.function.isMarketplaceReservationEnabled(ctrl.data)">
              <md-option ng-value="opt" ng-repeat="opt in ctrl.view.minuteTimeSlotOptions">
                {{ opt }}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <!-- latest time -->
        <div layout="row" flex="30" class="reservation-time-container">
          <md-input-container class="field-container">
            <label class="custom-no-padding">{{ 'container.shippers.more-auto-reservation-latest-time' | translate }}</label>
            <md-select ng-model="ctrl.data.marketplace.latestTime.hour" aria-label="latest-time-hour" ng-disabled="!ctrl.function.isMarketplaceReservationEnabled(ctrl.data)">
              <md-option ng-value="opt" ng-repeat="opt in ctrl.view.hourTimeSlotOptions">
                {{ opt }}
              </md-option>
            </md-select>
          </md-input-container>
          <div class="time-separator-padding">:</div>
          <md-input-container class="field-container time-padding">
            <md-select ng-model="ctrl.data.marketplace.latestTime.minute" aria-label="latest-time-minute" ng-disabled="!ctrl.function.isMarketplaceReservationEnabled(ctrl.data)">
              <md-option ng-value="opt" ng-repeat="opt in ctrl.view.minuteTimeSlotOptions">
                {{ opt }}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <!-- cutoff time -->
        <div layout="row" flex="30" class="reservation-time-container">
          <md-input-container class="field-container">
            <label class="custom-no-padding">{{ 'container.shippers.more-auto-reservation-cutoff-time' | translate }}</label>
            <md-select ng-model="ctrl.data.marketplace.cutoffTime.hour" aria-label="cutoff-time-hour" ng-disabled="!ctrl.function.isMarketplaceReservationEnabled(ctrl.data)">
              <md-option ng-value="opt" ng-repeat="opt in ctrl.view.hourTimeSlotOptions">
                {{ opt }}
              </md-option>
            </md-select>
          </md-input-container>
          <div class="time-separator-padding">:</div>
          <md-input-container class="field-container">
            <md-select ng-model="ctrl.data.marketplace.cutoffTime.minute" aria-label="cutoff-time-minute" ng-disabled="!ctrl.function.isMarketplaceReservationEnabled(ctrl.data)">
              <md-option ng-value="opt" ng-repeat="opt in ctrl.view.minuteTimeSlotOptions">
                {{ opt }}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>

      <div layout="row" class="horizontal-padding">
        <md-input-container class="field-container" flex="30">
          <label>{{ 'container.shippers.more-auto-reservation-approx-volume' | translate }}</label>
          <md-select ng-model="ctrl.data.marketplace.approxVolume" aria-label="reservation-approx-volume" ng-disabled="!ctrl.function.isMarketplaceReservationEnabled(ctrl.data)">
            <md-option ng-value="opt" ng-repeat="opt in ctrl.view.approxVolumeOptions">
              {{ opt }}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <div layout="row" class="horizontal-padding">
        <md-input-container class="field-container multiple-select" flex="40">
          <label>{{ 'container.shippers.more-auto-reservation-allowed-types' | translate }}</label>
          <md-select ng-model="ctrl.data.marketplace.allowedTypes" aria-label="reservation-types" multiple ng-disabled="!ctrl.function.isMarketplaceReservationEnabled(ctrl.data)">
            <md-optgroup label="allowed-types">
              <md-option ng-value="opt.value" ng-model-options="{trackBy: '$value.id'}" ng-repeat="opt in ctrl.view.reservationTypeOptions">
                {{ opt.displayName }}
              </md-option>
            </md-optgroup>
          </md-select>
        </md-input-container> 
        <md-input-container class="field-container">
          <label>{{ 'container.shippers.more-auto-reservation-shipper-customer' | translate }}</label>
          <nv-btn-grp
            model="ctrl.data.marketplace.customerReservation"
            label-for-model-idx-0="Yes"
            label-for-model-idx-1="No"
            select-multiple="false" 
            select-none="false">
          </nv-btn-grp>
        </md-input-container>
      </div>

      <!-- PICKUP -->
      <div layout="row" class="horizontal-padding vertical-padding">
        <h5 class="sub-title">{{ 'container.shippers.more-pickup-service' | translate }}</h5>
      </div>

      <div layout="row" class="horizontal-padding padding-bottom">
        <md-input-container flex="30">
          <label>{{ 'container.shippers.allow-premium-pickup-on-sunday' | translate }}</label>
          <nv-btn-grp
            model="ctrl.data.marketplace.allowPremiumPickupOnSunday"
            label-for-model-idx-0="Yes"
            label-for-model-idx-1="No"
            select-multiple="false"
            select-none="false">
          </nv-btn-grp>
        </md-input-container>

        <nv-input-number
          flex="30"
          form="ctrl.marketplaceForm"
          label="{{'container.shippers.premium-pickup-daily-limit' | translate}}"
          name="premium-pickup-daily-limit"
          min="1"
          max="100"
          required="true"
          model="ctrl.data.marketplace.premiumPickupDailyLimit">
        </nv-input-number>
      </div>

      <div
      layout="column"
      class="horizontal-padding padding-bottom">
      <div class="pickup-service-table table-holder" flex>
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th>{{ 'container.shippers.service-type' | translate }}</th>
            <th>{{ 'container.shippers.service-level' | translate }}</th>
            <th>{{ 'commons.actions' | translate }}</th>
          </tr>
          </thead>
          <tbody>
            <tr ng-repeat="service in ctrl.data.marketplace.pickupServiceTypeLevel track by $index">
              <td>
                <nv-input-select
                  class="service-type md-block"
                  name="{{ 'marketplace-service-type' + $index }}"
                  label="{{'container.shippers.service-type' | translate}}"
                  model="service.type"
                  model-options="{}"
                  options="ctrl.view.pickupServiceTypeOptions"
                  form="ctrl.marketplaceForm"
                  required="::true">                
                </nv-input-select>
              </td>
              <td class="service-level">
                <nv-input-select
                  ng-if="ctrl.function.isServiceTypeRequired(service.type)"
                  class="service-level md-block"
                  name="{{ 'marketplace-service-level' + $index }}"
                  label="{{'container.shippers.service-level' | translate}}"
                  model="service.level"
                  model-options="{}"
                  options="ctrl.view.pickupServiceLevelOptions"
                  form="ctrl.marketplaceForm"
                  required="::true">
                </nv-input-select>
                <span ng-if="!ctrl.function.isServiceTypeRequired(service.type)">
                  -
                </span>
              </td>
              <td>
                <nv-icon-button
                  md-theme="nvRed"
                  class="ghost"
                  name="commons.delete"
                  icon="delete"
                  disabled="ctrl.data.marketplace.pickupServiceTypeLevel && ctrl.data.marketplace.pickupServiceTypeLevel.length === 1"
                  on-click="ctrl.function.deleteMarketplacePickupService(ctrl.data, $index)">
                </nv-icon-button>
              </td>
            </tr>
            <tr ng-if="ctrl.data.marketplace.pickupServiceTypeLevel.length <= 0">
              <td colspan="3" class="nv-text-center">
                <small>{{ 'directive.table.no-result' | translate }}</small>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <nv-icon-text-button
          ng-if="ctrl.function.isAbleToAddNewMarketplacePickupService(ctrl.data)"
          class="ghost dense"
          name="container.shippers.add-new-service"
          on-click="ctrl.function.addNewMarketplacePickupService(ctrl.data)">
        </nv-icon-text-button>
      </div>
      <div layout="row" layout-wrap class="horizontal-padding">      
        <div flex="25" layout="column" class="timeslot-select">
          <label class="nv-small">
            {{'container.shippers.more-default-pickup-time' | translate}}
          </label>
          <nv-input-select
            label="commons.select"
            show-label="::false"
            set-default="false"
            form="ctrl.marketplaceForm"
            required="::false"
            model="ctrl.data.marketplace.defaultPickupTime"
            model-options= "{}"
            options="ctrl.view.timeslots">
          </nv-input-select>
        </div>              
        <div flex="75"></div>
        <div>
          <p class="nv-p nv-small">
              {{"container.shippers.ninja-van-will-use-this-value-when-shipper-not-sending-pickup-time" | translate}}
          </p>
        </div>
      </div>
    </div>
  </form>
</md-content>