<md-input-container flex class="nv-p"  ng-class="{'disabled': disabled }">

    <label for="{{id}}" class="nv-small">{{label | translate}}</label>

    <textarea
           name="{{id}}"
           id="{{id}}"
           aria-label="{{label | translate}}"
           ng-model="model"
           ng-disabled="disabled"
           ng-readonly="readOnly"
           ng-change="onChange({text:model})"
           ng-required="required">
    </textarea>

    <div ng-if="!!form" ng-messages="form[id].$error" role="alert">
        <div ng-message="required">{{ 'commons.required-field' | translate }}</div>
    </div>

    <div class="help-text" ng-if="helpText">{{ helpText | translate }}</div>

</md-input-container>
