@import "../../styles/variables";

.nv-panel {
  background-color: $nv-brand-white;
  border-radius: 0.2rem;
  min-width: 5rem;
  outline: none;

  .item {
    padding: $nv-menu-item-padding;
    outline: none;
    -webkit-transition: background 0.15s linear;
    -moz-transition: background 0.15s linear;
    -ms-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;

    &[disabled] {
      pointer-events: none;
      opacity: 0.5;
    }

    &:not([disabled]) {
      &:hover {
        background-color: $nv-highlight-blue;
      }
    }
  }

  &.dark {
    background-color: $nv-dark3;
    color: $nv-text-white;

    .item {
      &:not([disabled]) {
        &:hover {
          background-color: $nv-dark4;
        }
      }
    }
  }
}