<nv-dialog-header
  title="{{ 'container.hub-list.edit-hub' | translate }}"
  on-cancel="::ctrl.onCancel($event)">
</nv-dialog-header>
<form name="modelForm" ng-submit="::ctrl.onSave()" md-theme="nvBlue">
  <md-dialog-content>
    <div class="md-dialog-content">
      <div class="md-block multi-input-row" layout="row">
        <nv-input-text class="md-block" flex="80"
          label="container.hub-list.hub-name"
          model="ctrl.hub.name"
          form="modelForm"
          required="::true">
        </nv-input-text>
        <nv-input-text class="md-block id" flex
          label="commons.id"
          model="ctrl.hub.id"
          form="modelForm"
          required="::true"
          readonly="::true">
        </nv-input-text>
      </div>

      <div class="md-block multi-input-row" layout="row">
        <nv-input-text class="md-block" flex="50"
          label="container.hub-list.display-name"
          model="ctrl.hub.shortName"
          form="modelForm">
        </nv-input-text>    
        <nv-input-select
          class="md-block" flex="50"
          name="container.hub-list.facility-type"
          label="container.hub-list.facility-type"
          model="ctrl.hub.facilityType"
          model-options="{}"
          required="::true"
          options="ctrl.hubFacilityOptions"
          searchable="true">
        </nv-input-select>                    
      </div>

      <div class="md-block multi-input-row" layout="row">
        <nv-input-text class="md-block" flex="50"
          label="container.hub-list.city"
          model="ctrl.hub.city"
          on-change="onChangeCity(text)"
          form="modelForm"
          required="::true">
        </nv-input-text>                        
        <nv-input-text class="md-block" flex="50"
          label="container.hub-list.country"
          model="ctrl.hub.country"
          on-change="onChangeCountry(text)"
          form="modelForm"
          maxlength="2"                  
          required="::true">
        </nv-input-text>                        
      </div>

      <div class="notes" layout="row">
        <div flex="50"></div>
        <span class="small nv-small">{{'container.hub-list.use-2-character-country-code' | translate}}</span>
      </div>

      <div class="md-block multi-input-row" layout="row">
        <nv-input-number class="md-block"
          label="container.hub-list.latitude"
          model="ctrl.hub.latitude"
          form="modelForm"
          step="::0.0000000001"
          min="-90"
          max="90"
          required="::true">
        </nv-input-number>
        <nv-input-number class="md-block"
          label="container.hub-list.longitude"
          model="ctrl.hub.longitude"
          form="modelForm"
          step="::0.0000000001"
          min="-180"
          max="180"
          required="::true">
        </nv-input-number>
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <nv-button-save
      name="Submit Changes"
      form="modelForm"
      state="ctrl.saveButtonState">
    </nv-button-save>
  </md-dialog-actions>
</form>
