@import "../../../lib/ninja-commons/styles/variables";
@import "../../../styles/variables";

@mixin action-toolbar {
  > div.action-toolbar {
    padding: 1rem;
    background-color: $nv-dark3;
    font-size: 1.4rem;
    color: $nv-tb05;

    @content
  }
}