@import "../../../lib/ninja-commons/styles/mixins/media-query.mixins";
@import "../../../lib/ninja-commons/styles/mixins/typography.mixins";
@import "../../../lib/ninja-commons/styles/mixins/table.mixins";
@import "../../../styles/variables";

.nv-container-zonal-routing {
  // variables
  $content-min-height: 30rem;

  // commons
  height: 100%;
  z-index: 1;
  @include nv-media-query-xs-max {
    overflow: auto !important;

    .margin-bottom-xs-1 {
      margin-bottom: 1rem !important;
    }

    .margin-top-xs-1 {
      margin-top: 1rem !important;
    }
  }

  @include nv-media-query-lg-max {
    .margin-bottom-lg-1 {
      margin-bottom: 1rem !important;
    }

    .margin-top-lg-1 {
      margin-top: 1rem !important;
    }
  }

  .no-padding {
    padding: 0;
  }

  .fill-width {
    width: 100%;
  }

  .fill-height {
    height: 100%;
  }

  .backdrop-loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $nv-text-black-3;
    z-index: 10000;

    md-progress-circular {
      width: 5rem;
      height: 5rem;
      margin: auto !important;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .dark-red {
    @include nv-font-color(dark-red);
  }

  .light-red {
    @include nv-font-color(light-red);
  }

  .dark-yellow {
    @include nv-font-color(dark-yellow);
  }

  .dark-green {
    @include nv-font-color(dark-green);
  }

  .light-green {
    @include nv-font-color(light-green);
  }

  .light-blue {
    @include nv-font-color(light-blue, 2);
  }

  .white {
    @include nv-font-color(white);
  }

  .lighter-white {
    @include nv-font-color(white, 3);
  }

  .light-black {
    @include nv-font-color(black, 2);
  }

  .lighter-black {
    @include nv-font-color(black, 3);
  }

  ui-view {
    div > .content {
      height: 100%;
      min-height: $content-min-height;

      nv-icon-text-button {
        display: block;
        width: auto;
        margin-bottom: 0.5rem;
      }

      md-divider {
        padding: 0;
      }
    }
  }
}