@import "../../../../styles/variables";

nv-button-group {

  $transition-duration: 400ms;

  display: block;
  padding: 1.5rem;
  border: 0.1rem solid $nv-border-color;

  .label,
  .selected {
    font-size: $font-size-p-capt;
    line-height: 1.8rem;
    color: rgba(0, 0, 0, 0.54);
  }

  .label {
    padding-bottom: 1rem;
  }

  .selected {
    padding-top: 1rem;
    font-weight: $font-weight-h5;
  }

  .button-group-container .button-group-button {
    color: $nv-tb59;
    text-transform: capitalize;
    min-width: 0;
    margin: 0.4rem;
    transition: color $transition-duration ease, background-color $transition-duration ease;
  }

  .button-group-container .button-group-button.active {
    color: $nv-light0;
    background-color: $nv-normal-blue;

    &:hover {
      background-color: darken($nv-normal-blue, 10%);
    }
  }

}
