<div layout="row" class="header-container" layout-align="start center">

	<div class="main-title">
		<p class="medium nv-text-ellipsis">{{ mainTitle | translate }}</p>
	</div>

	<nv-btn-grp
		class="boolean-container"
		model="booleanModel"
		label-for-model-idx-0="Show"
		label-for-model-idx-1="Hide"
		show-selected="false"
		select-multiple="false"
		select-none="false">
	</nv-btn-grp>

	<div class="primary-button-container" flex layout="row" layout-align="end center">
		<nv-icon-button name="commons.remove-filter" class="flat dense" icon="close" on-click="::onClose()">
		</nv-icon-button>
	</div>

</div>