@import "../../../styles/variables";
@import "../../../styles/mixins/typography.mixins";
@import "../../../styles/mixins/input.mixins";

nv-search-input-filter {

  $border-radius: 4px;
  $border-width: 1px;
  $icon-size: 2rem;
  display: block;

  md-input-container.md-has-icon {
    margin: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: $button-height;
    max-height: $button-height;

    > div {
      flex: 1;
      display: inline-block;
      position: relative;

      input.md-input[type="text"] {
        @include nv-font(p);
        line-height: $button-height;
        height: $button-height;
        flex: 1;
        padding: 0;

        &:focus {
          @include hide-placeholder();
        }
      }

      .md-errors-spacer {
        display: none;
      }

      button.clear-button {
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        border: 0;
        outline: 0;
        height: $button-height;
        padding-top: 0;
      }
    }

    &.bar {
      border: $border-width solid $nv-text-black-3;
      border-radius: $border-radius;

      input.md-input[type="text"] {
        border: 0;
        background-image: none;
      }
    }

    md-icon {
      height: $icon-size;
      width: $icon-size;
      top: 0.75rem;
      left: 0.75rem;
      font-size: $icon-size;
      > i.material-icons {
        font-size: $icon-size;
      }
    }
  }

  md-input-container {
    input.md-input[type="text"] {
      @include placeholder-color($nv-text-black-3);
    }

    button.clear-button,
    md-icon i {
      color: $nv-text-black-3;
    }

    &.md-input-focused,
    &.input-has-text {
      button.clear-button,
      md-icon i {
        color: $nv-dark-blue;
      }
    }

    &.bar {
      border-color: $nv-text-black-3;

      &.md-input-focused {
         border-color: $nv-dark-blue;
      }
      &.disabled {
        background-color: $nv-light3;
      }
    }
  }

  &.dark,
  .dark & {
    md-input-container {
      input.md-input[type="text"] {
        @include placeholder-color($nv-text-white-3);
      }

      button.clear-button,
      md-icon i {
        color: $nv-text-white-3;
      }

      &.md-input-focused,
      &.input-has-text {
        button.clear-button,
        md-icon i {
          color: $nv-light-blue;
        }
      }

      &.bar {
        border-color: $nv-text-white-3;

        &.md-input-focused {
           border-color: $nv-light-blue;
        }
        &.disabled {
          background-color: $nv-dark3;
        }
      }
    }
  }
}
