<md-input-container md-no-float ng-class="{disabled: disabled, bar: type==='bar', text: type==='text', 'input-has-text': searchText.length > 0}">

  <md-icon ng-if="!hideIcon">
    <i class="material-icons">{{::icon}}</i>
  </md-icon>

  <div>
    <input class="nv-p"
       type="text"
       ng-model="searchText"
       ng-model-options="{debounce: debounce}"
       ng-disabled="disabled"
       placeholder="{{placeholder}}"
       ng-change="::notifyChange()"
       tabindex="{{tabIndex}}">

    <button
      type="button"
      class="clear-button"
      tabindex="-1"
      ng-show="searchText && !disabled"
      ng-click="clear()">
      <md-icon>
        <i class="material-icons">clear</i>
      </md-icon>
    </button>
  </div>

</md-input-container>
