@import "../../../styles/variables";

nv-table-description {
  padding: 1.4rem 4.2rem;
  background-color: $nv-highlight-blue;

  [layout="row"] {
    margin-bottom: 0.7rem;
    span:nth-child(n+1) {
      margin-left: 0.2rem;
    }
  }

  .filters-container {
    overflow-x: auto;
  }

  .filter-item {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    margin-right: 2.8rem;

    display: inline-block;
    white-space: nowrap;
  }
}