<div layout="column">
  <div layout="row">
    <span 
      class="nv-p"
      translate="directive.table-description.showing">
    </span>
    <span 
      ng-if="param.totalItems == -1"
      class="nv-p-med"
      translate="directive.table-description.count" 
      translate-values="{ count: param.getLength(), total: param.getUnfilteredLength()}">
    </span>

    <span
      ng-if="param.totalItems > -1 && !param.isMoreThanTotalItems"
      class="nv-p-med"
      translate="directive.table-description.count-with-total" 
      translate-values="{ count: param.getLength(), total: param.getUnfilteredLength(), serverTotal: param.totalItems }">
    </span>

    <span
      ng-if="param.totalItems > -1 && param.isMoreThanTotalItems"
      class="nv-p-med"
      translate="directive.table-description.count-with-more-than-total"
      translate-values="{ count: param.getLength(), total: param.getUnfilteredLength(), serverTotal: param.totalItems }">
    </span>

  </div>
  <div layout="row">
    <span class="nv-p-med">{{filters.length || 0}}</span>
    <span class="nv-p" translate="container.driver-strength.active-filter"></span>
  </div>
  <div layout="row" class="filters-container" ng-if="filters.length > 0">
    <div layout="column" class="filter-item" ng-repeat="filter in filters track by getTitle(filter)" ng-if="getDescription(filter)">
      <span class="nv-p">{{ getTitle(filter) | translate }}</span>
      <span class="nv-p-med">{{getDescription(filter)}}</span>
    </div>
  </div>
</div>